<div class="col-md-3 right-pad">
    <div class="verify-traveler">
        <div class="sidebar-block bg-white">
            <div class="panel panel-default verify-traveler">
                <div class="panel-body">
                    <div class="pro-block clearfix" style="border-bottom: 1px solid #d9d9d9;">
                        <div class="hovereffect">
                            <?php                                  if(isset($comSessObj->user['image']) && !empty($comSessObj->user['image'])){                                    if(strpos($comSessObj->user['image'], "http") !== false){                                        $img = $comSessObj->user['image'];                                    }else{                                        $img = $this->basePath().'/public/uploads/profile_picture/small/'.$comSessObj->user['image'];                                    }                                }else{                                    $img = $this->basePath().'/public/default_user.png';                                }                            ?> <img class="img-responsive" src="<?php echo $img; ?>" alt="<?php echo $comSessObj->user['first_name']; ?>">
                            <!--                            <div class="overlayeffect">                                <h2><?php echo $comSessObj->user['first_name']; ?></h2>                                <p><a href="#">EDIT</a></p>                            </div>--></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-block bg-white">
            <div class="panel panel-default verify-traveler">
                <div class="panel-heading">
                    <h3 class="panel-title">Verification</h3>
                </div>
                <div class="panel-body">
                    <ul class="verify-traveler-details list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-xs-9"> <strong>Email Address:</strong><br> xxxxx@xxxx.com </div>
                                <?php if ($this->user['email_verify']) { ?>
                                <div class="col-xs-3"> <i class="fa fa-check box-icon-success round center-block"></i>
                                    <p class="verify-traveler-detail-verify"><small>verified</small></p>
                                </div>
                                <?php }?> </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-9"> <strong>Phone Number:</strong>
                                    <p class="verify-traveler-detail-item-value">
                                        <?php if ($this->user['phone'] != '') { ?> xxxxxxx
                                        <?php echo substr($this->user['phone'], -3); ?>
                                        <?php } ?>
                                    </p>
                                </div>
                                <?php if ($this->user['phone_verify']) { ?>
                                <div class="col-xs-3"> <i class="fa fa-check box-icon-success round center-block"></i>
                                    <p class="verify-traveler-detail-verify"><small>verified</small></p>
                                </div>
                                <?php } ?> </div>
                        </li>
                     </ul>
                </div>
            </div>
        </div>
        <div class="sidebar-block bg-white">
            <div class="panel panel-default verify-traveler">
                <div class="panel-heading">
                    <h3 class="panel-title">Online Account</h3>
                </div>
                <div class="panel-body">
                    <ul class="list list-horizontal" style="padding: 0 0;">
                        <li><i class="fa fa-facebook box-icon-border round animate-icon-bottom-to-top"></i></li>
                        <li><i class="fa fa-google-plus box-icon-border round animate-icon-bottom-to-top"></i></li>
                        <li><i class="fa fa-twitter box-icon-border round animate-icon-bottom-to-top"></i></li>
                        <li><i class="fa fa-linkedin box-icon-border round animate-icon-bottom-to-top"></i></li>
                        <li><i class="fa fa-yahoo box-icon-border round animate-icon-bottom-to-top"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar-block bg-white">
            <div class="panel panel-default verify-traveler">
                <div class="panel-heading">
                    <h3 class="panel-title">Reference</h3>
                </div>
                <div class="panel-body">
                    <ul class="verify-traveler-details list-unstyled">
                        <li>
                            <p class="verify-traveler-detail-total">Reference Goes Here<span></span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Left Coloumn -->