<?php if (isset($this->trip_seeker_packages['packages']) && $this->trip_seeker_packages['packages'] != '') { ?>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info" class="">Package Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="package-info" style="height:auto">
    	<div class="panel-body">
                    <h5 class="sub-heading text-left">Provide details about packages</h5>
                    <hr class="title-border">
                    <div class="row">
                        <div class="form-group form-group-select-plus col-sm-12">
                            <label class="control-label">No of individual items need to be carried</label>
                            <p> <?php echo $this->trip_seeker_packages['packages']; ?>
                                <input type="hidden" name="packages_count" id="packages_count" value="<?php echo $this->trip_seeker_packages['packages']; ?>" >
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row" id="packages_box">
                              <?php
                                    if (isset($this->trip_seeker['trip_packages_packages']) && !empty($this->trip_seeker['trip_packages_packages'])) {
                                        $pNo = 0;
                                        foreach ($this->trip_seeker['trip_packages_packages'] as $passaRow) {
											$pNo++;
                                    ?>
                                <div class="col-md-12" id="packages_box_1">
                                    <h5 class="sub-heading text-left">details of Item <?php echo $pNo;?></h5>
                                    <hr class="title-border">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                           <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Item category</label>
                                                    <p><?php echo $passaRow['catname'];?></p>
                                                </div>                                                                                                                                    
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Item Type</label>

                                                    <p><?php echo $passaRow['subcatname'];?></p>

                                                </div>
                                            </div>
                                             
                                            <div class="form-group">
                                                <label class="control-label">Item Description</label>
                                                <p><?php echo $passaRow['item_description'];?></p>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Approximate weight</label>
                                                    <p><?php echo $passaRow['weight'];?>Kgs</p>

                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label class="control-label" for="approxweight">Negligible Weight</label>
                                                    <p>
                                                        <?php echo (isset($passaRow['negligible_weight']) && $passaRow['negligible_weight'] != 0)?'0-0.5 Kg':'';;?>
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Approx. size of item</label>
                                                    <p>L: <?php echo (isset($passaRow['length']) && !empty($passaRow['length']))?$passaRow['length']:'--';?>
                                                     W: <?php echo (isset($passaRow['width']) && !empty($passaRow['width']))?$passaRow['width']:'--';?>
                                                      H: <?php echo (isset($passaRow['height']) && !empty($passaRow['height']))?$passaRow['height']:'--';?>
                                                    
                                                    </p>
                                                </div>                                                                                                                                    
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Negligible size</label>

                                                    <p>  <?php echo (isset($passaRow['negligible_size']) && $passaRow['negligible_size'] != 0)?$passaRow['negligible_size']:'';;?></p>

                                                </div>
                                            </div>
                                         <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Approx. worth of Item</label>
                                                    <p><?php echo $passaRow['item_worth'];?> <?php echo $passaRow['item_worth_currency'];?></p>
                                                </div>                                                                                                                                    
                                                 
                                            </div>
                                         
                                         <div class="row">
                                                                                                                                                                              
                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="itemsize">Picture of item</label>

                                                    <p><?php
                                                    if(isset($passaRow['photo']) && !empty($passaRow['photo'])){
                                                        ?>
                                                       <img width="100"  class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/<?php echo $passaRow['photo'] ?>" />
                                                     <?php
                                                    }else{
                                                        echo '--';
                                                    }
                                                    ?></p>

                                                </div>
                                            </div>
                                         
                                         <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Condition</label>
                                                    <p><?php echo (isset($passaRow['condition']) && !empty($passaRow['condition']))?$passaRow['condition']:'--';?></p>
                                                </div>                                                                                                                                    
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Quantity</label>

                                                    <p><?php echo (isset($passaRow['item_quantity']) && !empty($passaRow['item_quantity']))?$passaRow['item_quantity']:'--';?></p>

                                                </div>
                                            </div>
                                         
                                         
                                        </div>
                                    </div>
                                </div>
                             <?php 
                             
                                            }
                                        }
                             ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="control-label" for="itemsize">Total Weight</label>
                                                    <p><?php echo $this->trip_seeker_packages['total_weight']; ?>Kgs</p>
                                                </div>                                                                                                                                    
                                                <div class="form-group col-md-4">
                                                    <label class="control-label" for="itemsize">Total Worth</label>

                                                    <p><?php echo $this->trip_seeker_packages['total_worth']; ?></p>

                                                </div>
                        <div class="form-group col-md-4">
                                                    <label class="control-label" for="itemsize">Contact Name</label>
                                                    <p><?php echo (isset($this->trip_seeker_packages['contact_name']) && !empty($this->trip_seeker_packages['contact_name']))?$this->trip_seeker_packages['contact_name']:'--'; ?></p>
                                                </div>
                                            </div>
                    
                     
                     <div class="row">
                          <div class="form-group col-md-4">
                                                    <label class="control-label" for="itemsize">Contact Number</label>

                                                    <p><?php echo (isset($this->trip_seeker_packages['contact_number']) && !empty($this->trip_seeker_packages['contact_number']))?$this->trip_seeker_packages['contact_number']:'--'; ?></p>

                                                </div>
                         <div class="form-group col-md-4">
                        <label class="control-label">Contact email ID</label>
                        <p><?php   echo (isset($this->trip_seeker_packages['email_address']) && !empty($this->trip_seeker_packages['email_address']))?$this->trip_seeker_packages['email_address']:'--';?></p>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Comments to Travelers</label>
                        <p><?php  echo (isset($this->trip_seeker_packages['comment']) && !empty($this->trip_seeker_packages['comment']))?$this->trip_seeker_packages['comment']:'--'; ?></p>
                    </div>
                   </div>
                <div class="gap gap-mini"></div>
            </div>
    </div>
</div>
<?php } ?>