<?php if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') {
    $GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
	$sTripPeopleInfo = $this->trip['trip_people'];
    ?>
<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info" class="">People Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="people-info" style="height:auto">
        <div class="panel-body">
                <div class="row">
                   <div class="form-group col-sm-4">
                       <label class="control-label">Contact Name </label>
                       <p>
                           <?php echo (isset($sTripPeopleInfo['contact_name']) && $sTripPeopleInfo['contact_name'] != '') ? $sTripPeopleInfo['contact_name'] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Contact Number </label>
                       <p>
                           <?php echo (isset($sTripPeopleInfo['contact_number']) && $sTripPeopleInfo['contact_number'] != '') ? $sTripPeopleInfo['contact_number'] : '--'; ?>
                       </p>
                   </div>
                    <div class="form-group col-sm-4">
                       <label class="control-label">Email Address </label>
                       <p>
                           <?php echo (isset($sTripPeopleInfo['email_address']) && $sTripPeopleInfo['email_address'] != '') ? $sTripPeopleInfo['email_address'] : '--'; ?>
                       </p>
                   </div>
                    </div>
                     <div class="row">
                   <div class="form-group col-sm-12">
                       <label class="control-label">Member's Comments </label>
                       <p>
                           <?php echo (isset($sTripPeopleInfo['comment']) && $sTripPeopleInfo['comment'] != '') ? $sTripPeopleInfo['comment'] : '--'; ?>
                       </p>
                   </div>
                </div>
                <div class="row">
                   <div class="form-group col-sm-4">
                       <label class="control-label">Number of passenger(s)</label>
                       <p>
                           <?php echo (isset($sTripPeopleInfo['persons_travelling']) && $sTripPeopleInfo['persons_travelling'] != '') ? $sTripPeopleInfo['persons_travelling'] : '--'; ?>
                       </p>
                   </div>
                     </div>
                   <?php
                       if (isset($this->trip['trip_people_passangers']) && !empty($this->trip['trip_people_passangers'])) {
                           $pNo = 1;
                           foreach ($this->trip['trip_people_passangers'] as $passaRow) {
                   ?>
                <div class="row">
                   <div class="form-group col-sm-12">
                       <label class="control-label"><u>Details of passenger <?php echo $pNo; ?></u></label>
                   </div>
                     </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                       <label class="control-label">First Name </label>
                       <p>
                           <?php echo (isset($passaRow['first_name']) && $passaRow['first_name'] != '') ? $passaRow['first_name'] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Last Name </label>
                       <p>
                           <?php echo (isset($passaRow['last_name']) && $passaRow['last_name'] != '') ? $passaRow['last_name'] : '--'; ?>
                       </p>
                   </div>                    
                   <div class="form-group col-sm-4">
                       <label class="control-label">Gender </label>
                       <p>
                           <?php echo (isset($passaRow['gender']) && $passaRow['gender'] != '') ? $GENDER_TYPE[$passaRow['gender']] : '--'; ?>
                       </p>
                   </div>
                </div>
                <div class="row">
                   <div class="form-group col-sm-4">
                       <label class="control-label">Age </label>
                       <p>
                           <?php echo (isset($passaRow['age']) && $passaRow['age'] != '') ? $passaRow['age'] : '--'; ?>
                       </p>
                   </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-12"> 
                      <label class="control-label">Picture of the passenger <?php echo $pNo; ?>  </label>
                        <ul style="width:100%;clear:both;"class="imgblock-new"></ul>
                        <?php

                        if (isset($passaRow['attachments']) && !empty($passaRow['attachments'])) { ?>
                            <div class="content horizontal-images">
                                <ul class="qq-upload-list">
                                    <?php
                                    foreach ($passaRow['attachments'] as $keyNum=>$attRow) {

                                        ?>
                                        <li class=" qq-upload-success" id="file-img-0">
                                            <span class="qq-upload-file spFileName_<?php echo $keyNum ?>-0-1" style="">
                                                <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['seeker_attachment_name'] ?>" alt="<?php echo $attRow['seeker_attachment_name'] ?>">
                                              </span>

                                        </li>
                                        <?php
                                    }
                                    ?>
                                </ul>
                            </div>
                        <?php } ?>
                        <input type="hidden" id="uploadCount_<?php echo $keyNum ?>" name="uploadCount_<?php echo $keyNum ?>" value="<?php echo (isset($pass['attachments'])) ? count($pass['attachments']) : 0; ?>">
                    </div>
                </div>
                   <?php
                               $pNo++;
                           }
                       }
                   ?>
             </div>
	</div>
</div>
<?php } ?>