<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#personal-info" class="">Personal Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="personal-info" style="height:auto">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">First Name</label>
                    <p><?php echo (isset($this->trip_user['first_name']) && !empty($this->trip_user['first_name'])) ? $this->trip_user['first_name'] : '--'; ?></p>
                </div>
                <div class="form-group col-sm-6">
                	<label class="control-label">Last Name</label>
                    <p><?php echo (isset($this->trip_user['last_name']) && !empty($this->trip_user['last_name'])) ? $this->trip_user['last_name'] : '--'; ?></p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Age</label>
                    <p><?php echo (isset($this->age) && !empty($this->age)) ? $this->age : '--';
    $this->age; ?></p>
                </div>
                <?php if(isset($this->trip_user['aboutus']) && !empty($this->trip_user['aboutus'])){ ?>
                <div class="form-group col-sm-6">
                    <label class="control-label">About</label>
                    <p><?php echo  $this->trip_user['aboutus']; ?></p>
                </div>
                <?php } ?>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Home Address</label>
                    <p> <?php echo $this->user_location['street_address_1']; ?>,<br />
                        <?php if ($this->user_location['street_address_2']) { ?>
                            <?php echo $this->user_location['street_address_2']; ?>,<br />
                        <?php } ?>
                        <?php echo $this->user_location['city']; ?> - <?php echo $this->user_location['zip_code']; ?>,<br />
                        <?php echo $this->user_location['state']; ?>,<br />
                        <?php echo $this->user_location['country_name']; ?>.</p>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- personal-info -->