<?php if(isset($this->trip_seeker_projects['tasks']) &&$this->trip_seeker_projects['tasks']!=''){ ?>
<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#personal-info" class="">Product Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="personal-info" style="height:auto">
	<div class="panel-body">
    <div class="row">
        <div class="form-group form-group-select-plus col-sm-12">
            <label class="control-label">Product Type </label>
                <p>
                    <?php if(isset($this->trip_seeker_projects) && !empty($this->trip_seeker_projects['work_category'])){ 
                        echo ($this->trip_seeker_projects['work_category']=='1')?'Choose products and ship worldwide':'Personal concierge for your tasks';
                    }else{
                        echo '--';
                    } ?>
                </p>
        </div>
    </div>
    <div class="row" id="packages_box">
    <?php
    if($this->trip_seeker_projects['work_category'] == 1){
        if (isset($this->trip['trip_projects_tasks']) && !empty($this->trip['trip_projects_tasks'])) {
            $pNo = 1;
            foreach ($this->trip['trip_projects_tasks'] as $key=>$passaRow) { ?>
            <div class="col-md-12 form-group" id="packages_box_1">
                <h5 class="sub-heading text-left">details of Item <?php echo $key+1 ?></h5>
                <hr class="title-border">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Product category </label>
                                <p><?php echo $passaRow['catname'];?></p>
                            </div>                                                                                                                                    
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Product Type</label>
                                <p><?php echo $passaRow['subcatname'];?></p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Product SKU</label>
                                <p><?php echo ($passaRow['product_sku'] != '')?$passaRow['product_sku']:'--';?></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Product Description</label>
                                <p><?php echo $passaRow['description'];?></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Website link</label>
                                <p><?php echo isset($passaRow['web_site_link'])?$passaRow['web_site_link']:'--';?></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label class="control-label" for="approxweight">Price </label>
                                <p><?php echo (isset($passaRow['price']) && $passaRow['price'] != 0)?$passaRow['price'].' '.$passaRow['price_currency']:'';?></p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Approximate weight</label>
                                <p><?php echo (isset($passaRow['negligible_weight']) && $passaRow['negligible_weight'] == 1)?'0-0.5 Kg (Negligible Weight)':$passaRow['item_weight'];?></p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Approx. size of item</label>
                                <?php if(isset($passaRow['negligible_size']) && $passaRow['negligible_size'] == 1){
                                    echo 'A4 Paper size (Negligible size)';
                                } else { ?>
                                    <p>L: <?php echo (isset($passaRow['item_length']) && !empty($passaRow['item_length']))?$passaRow['item_length']:'--';?>
                                    W: <?php echo (isset($passaRow['item_width']) && !empty($passaRow['item_width']))?$passaRow['item_width']:'--';?>
                                    H: <?php echo (isset($passaRow['item_height']) && !empty($passaRow['item_height']))?$passaRow['item_height']:'--';?>
                                    Unit: <?php echo (isset($passaRow['item_unit']) && !empty($passaRow['item_unit']))?$passaRow['item_unit']:'--';?>
                                    </p>
                                <?php } ?>
                           </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12"> 
                               <label class="control-label">picture of item  <?php echo $pNo; ?>  </label>
                               <ul style="width:100%;clear:both;"class="imgblock-new"></ul>
                               <?php if (isset($passaRow['attachments']) && !empty($passaRow['attachments'])) { ?>
                                   <div class="content horizontal-images">
                                       <ul class="qq-upload-list">
                                           <?php foreach ($passaRow['attachments'] as $attRow) { ?>
                                               <li class=" qq-upload-success" id="file-img-0">
                                                   <span class="qq-upload-file spFileName_<?php echo $keyNum ?>-0-1" style="">
                                                       <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['task_photo_name'] ?>" alt="<?php echo $attRow['task_photo_name'] ?>">
                                                   </span>
                                               </li>
                                           <?php } ?>
                                       </ul>
                                   </div>
                               <?php } ?>
                               <input type="hidden" id="uploadCount_<?php echo $keyNum ?>" name="uploadCount_<?php echo $keyNum ?>" value="<?php echo (isset($pass['attachments'])) ? count($pass['attachments']) : 0; ?>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Color </label>
                                <p>
                                    <?php if(isset($passaRow['color']) && !empty($passaRow['color'])){
                                        echo '<div style="width: 40px;height: 40px;margin: 10px;border: 1px solid rgba(0, 0, 0, .2);background:'.$passaRow['color'].'"></div>';
                                    } else {
                                        echo '--';
                                    } ?>
                                </p>
                            </div>   
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Condition </label>
                                <p><?php echo (isset($passaRow['task_condition']) && !empty($passaRow['task_condition']))?$passaRow['task_condition']:'--';?></p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label" for="itemsize">Quantity </label>
                                <p><?php echo (isset($passaRow['quantity']) && !empty($passaRow['quantity']))?$passaRow['quantity']:'--';?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php
           }
       }
   }else{
       if (isset($this->trip['trip_projects_tasks']) && !empty($this->trip['trip_projects_tasks'])) {
               $pNo = 1;
           foreach ($this->trip['trip_projects_tasks'] as $key=>$passaRow) {
               ?>
           <div class="col-md-12 form-group" id="packages_box_<?php echo $key+1 ?>">
               <h5 class="sub-heading text-left">details of Item <?php echo $key+1 ?></h5>
               <hr class="title-border">
               <div class="panel panel-default">
                   <div class="panel-body">
                       <div class="row">
                            <div class="form-group col-md-4">
                               <label class="control-label" for="itemsize"> category </label>
                               <p><?php echo $passaRow['catname'];?></p>
                            </div>                                                                                                                                    
                            <div class="form-group col-md-4">
                               <label class="control-label" for="itemsize"> Task Lists </label>
                               <p><?php echo $passaRow['subcatname'];?></p>
                            </div>
                       </div>

                       <div class="form-group">
                           <label class="control-label">Task Description </label>
                           <p><?php echo $passaRow['description'];?></p>
                       </div>
                       <div class="row">
                           <div class="form-group col-md-4">
                               <label class="control-label">Date of service </label>
                               <p><?php echo  (isset($passaRow['service_date']) && !empty($passaRow['service_date']))?date('d-m-Y',$passaRow['service_date']):'--';?></p>
                           </div>
                           <div class="form-group  col-md-4">
                               <label class="control-label" for="approxweight">Date Flexibility  </label>
                               <p><?php echo (isset($passaRow['date_flexibility']) && $passaRow['date_flexibility'] != 0)?$passaRow['date_flexibility']:'';;?></p>
                           </div>
                           <div class="form-group col-md-4">
                                <label class="control-label">Dates range</label>
                                <p><?php echo isset($passaRow['start_date'])?$passaRow['start_date']:'--';?> - 
                                <?php echo isset($passaRow['end_date'])?$passaRow['end_date']:'--';?></p>
                           </div>
                       </div>
                       <div class="row">

                           <div class="form-group  col-md-4">
                                <label class="control-label" for="approxweight">Task duration (days)  </label>
                                <p><?php echo (isset($passaRow['project_duration']) && $passaRow['project_duration'] != 0)? $passaRow['project_duration']:'';;?></p>
                            </div>
                       </div>
                       <div class="row">
                           <div class="form-group col-md-4">
                               <label class="control-label" for="itemsize">Requires local travel </label>
                               <p>  <?php echo (isset($passaRow['requires_local_travel']) && $passaRow['requires_local_travel'] != 0)?$passaRow['requires_local_travel']:'';;?></p>
                           </div>
                           <div class="form-group col-md-4">
                               <label class="control-label" for="itemsize">Type you wish to pay for the task </label>
                               <p>  <?php echo (isset($passaRow['payout_type']) && $passaRow['payout_type'])?$passaRow['payout_type']:'';;?></p>
                           </div>
                       </div>
                        <div class="row">
                           <div class="form-group col-md-4">
                               <label class="control-label" for="itemsize">Cost willing to pay  </label>
                               <p><?php echo (isset($passaRow['price']) && !empty($passaRow['price']))?$passaRow['price    ']:'--';?></p>
                           </div>                                                                                                                                    
                           <div class="form-group col-md-4">
                               <label class="control-label" for="itemsize">Currency of payment  </label>
                               <p><?php echo (isset($passaRow['price_currency']) && !empty($passaRow['price_currency']))?$passaRow['price_currency']:'--';?></p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        <?php 
           }
       }
   }
   ?>
   </div>
</div>
	</div>
</div>
<?php } ?>