<? 



$this->headTitle()->prepend('Page not Found');



$this->headMeta()->appendName('keywords', "");



$this->headMeta()->appendName('description', "");



?>



<section>



<div class="banner inner">







<div id="carousel-banner" class="carousel slide" data-ride="carousel">







<!-- wrapper for slides -->







<div class="carousel-inner">



<div class="item active">



<img class="desktop" src="<?php echo $this->basePath(); ?>/images/banners/who-we-are.jpg" alt="<?=$this->generalvar['clientname'];?> - Page Not Found">



<img class="mobi" src="<?php echo $this->basePath(); ?>/images/banners/who-we-are.jpg" alt="<?=$this->generalvar['clientname'];?> - Page Not Found">



<div class="carousel-caption vertical-align-text">



<h3>Page Not Found</h3>



<p></p>



</div>



</div>







</div>







<div class="down-arrow go"><a href="#content"></a><br />explore below</div>



</div>











</div>



</section>







<section>



<div id="content" class="container-fluid">



<ul class="breadcrumb">



<li><a href="<?php echo $this->basePath();?>/">home</a></li>



<li><span class="breadcrumb-arrow"></span></li>



<li class="active">page not found</li>



</ul>



</div>



</section>







<section>







<div class="container-fluid">



<div class="row page-header">



<h3>page not found</h3>



<div class="innerpagecontentRight" style="width: 100%;">



<div style="text-align: center; font-size: 18px; font-weight: normal; margin-top:10px; padding: 0px 0px 20px 0px;">



Sorry, but the page you requested does not exist on <a href="<?php echo $this->basePath();?>/">Visit Champaign County</a>.    



</div>



<div style="text-align: center;"><input type="button" name="" class="btn btn-default main" value="CONTINUE TO HOMEPAGE"  onclick="window.location='<?php echo $this->basePath();?>/'"></div>







</div> 



</div>



</div>







</section>