<style>.ui-autocomplete {
        z-index: 2147483647;
    }</style>
<div class="content-load-normal" id="loading_flights" style="display: none;">
    <div class="dis-tab">
        <div class="dis-tab-cel"><img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">

            <p id="uploading_status_text"></p></div>
    </div>
</div>
<link rel="stylesheet"
      href="<?php echo $this->basePath(); ?>/public/css/jquery.dataTables.min.css"><!--form class="form-horizontal" id="form_travel_details" name="form_travel_details"-->
<div id="chooseplan">
    <div class="form-group"><select class="form-control" name="travel_plan_reservation_type"
                                    id="travel_plan_reservation_type">        <?php $planTypeSelected = isset($this->trip['travel_plan_reservation_type']) ? $this->trip['travel_plan_reservation_type'] : 0; ?>
            <option <?php echo ($planTypeSelected == 0) ? 'selected="selected"' : ''; ?> value="0">Choose ticket
                reservation type
            </option>
            <option <?php echo ($planTypeSelected == 1) ? 'selected="selected"' : ''; ?> value="1">Booked</option>
            <option <?php echo ($planTypeSelected == 2) ? 'selected="selected"' : ''; ?> value="2">Unplanned</option>
        </select>

        <p style="margin-bottom: 0px;" id="err_travel_plan_reservation_type" class="text-danger err_msg"></p></div>
</div>
<div id="choose_type_one" class="chooseTypes">
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Origin Location <span class="text-danger">*</span><a
                    class="icon-info" href="javascript:;" data-toggle="tooltip"
                    title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
            <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location"
                   id="origin_location"
                   value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>"/>

            <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p></div>
        <div class="form-group col-sm-6"><label class="control-label">Destination Location <span
                    class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
            <input class="typeahead form-control" placeholder="City or Airport Code" type="text"
                   name="destination_location" id="destination_location"
                   value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>"/>

            <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p></div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Departure Date <span
                    class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide date of journey from origin airport or per ticket reserved."></a></label>

            <div class="input-group"><input class="date-pick form-control" name="departure_date" id="departure_date"
                                            type="text"
                                            value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date'])) ? date('m/d/Y', strtotime($this->trip['departure_date'])) : date('m/d/Y'); ?>"/><span
                    class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></div>
            <p style="margin-bottom: 0px;" id="err_departure_date" class="text-danger err_msg"></p></div>
        <div class="form-group col-sm-6"><label class="control-label">Departure Time <span
                    class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide time of journey from origin airport or per ticket reserved."></a></label>

            <div class="input-group"><input class="time-pick form-control" name="departure_time" id="departure_time"
                                            value="<?php echo isset($this->trip['departure_date']) ? date('h:i A', strtotime($this->trip['departure_date'])) : ''; ?>"
                                            type="text"/><span class="input-group-addon"><i
                        class="fa fa-clock-o fa-fw"></i></span></div>
            <p style="margin-bottom: 0px;" id="err_departure_time" class="text-danger err_msg"></p></div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 mg-bot30">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#getFlightStops"
                    onclick="getFlightStops(event)">Get Available Flights
            </button>
            <p class="text-small" id="loading_flights_msg" style="color:red; display: none">Loading. Please wait...</p>
        </div>
    </div>
    <div class="form-group"><input type="hidden" name="flight_key" id="flight_key" value=""/> <input type="hidden"
                                                                                                     name="proposal_key"
                                                                                                     id="proposal_key"
                                                                                                     value=""/> <input
            type="hidden" name="service_fee" id="service_fee"
            value="<?php echo (isset($this->trip['service_fee']) && !empty($this->trip['service_fee'])) ? $this->trip['service_fee'] : '' ?>">
        <input type="hidden" name="distance" id="distance"
               value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
        <input type="hidden" name="arrival_dateTime" id="arrival_dateTime" value=""/> <input type="hidden"
                                                                                             name="selectedFlightData"
                                                                                             id="selectedFlightData"
                                                                                             value="<?php echo (isset($this->selectedFlightData) && !empty($this->selectedFlightData)) ? $this->selectedFlightData : '' ?>"/>
        <input type="hidden" name="typeOfFlightSelect" id="typeOfFlightSelect"
               value="auto"/> <?php if ($action == 'edit' && $this->trip['travel_plan_reservation_type'] == 2) { ?>
            <input type="hidden" name="unplanned_origin_location_id" id="unplanned_origin_location_id"
                   value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>">
            <input type="hidden" name="unplanned_destination_location_id" id="unplanned_destination_location_id"
                   value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>">
            <input type="hidden" name="unplanned_origin_location_code" id="unplanned_origin_location_code"
                   value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>">
            <input type="hidden" name="unplanned_destination_location_code" id="unplanned_destination_location_code"
                   value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>">        <?php } else { ?>
            <input type="hidden" name="origin_location_id" id="origin_location_id"
                   value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>">
            <input type="hidden" name="destination_location_id" id="destination_location_id"
                   value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>">
            <input type="hidden" name="origin_location_code" id="origin_location_code"
                   value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>">
            <input type="hidden" name="destination_location_code" id="destination_location_code"
                   value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>">        <?php } ?>
        <div
            id="divSelectedFlight"><?php if (isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])) { ?>
                <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Flight</th>
                    <th>Airline</th>
                    <th>Dept</th>
                    <th>Arr</th>
                    <th>Dept Dt</th>
                    <th>Arr Dt</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>                        <?php if (isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])) {
                    $fNo = 1;
                    foreach ($adminRow['airport_details'] as $flightRow) {
                        $fligtData = $flightRow['carrier'] . '@@' . $flightRow['number'] . '@@' . $flightRow['departure'] . '@@' . $flightRow['arrival'] . '@@' . $flightRow['departure_date'] . '@@' . $flightRow['arrival_date'] . '@@' . $flightRow['airline_name'] . '@@' . $flightRow['airline_number']; ?>
                        <tr>
                            <td><?php echo $fNo; ?></td>
                            <td><?php echo isset($flightRow['airline_name']) ? $flightRow['airline_name'] : '' ?>
                                - <?php echo isset($flightRow['airline_number']) ? $flightRow['airline_number'] : '' ?></td>
                            <td><?php echo isset($flightRow['departure']) ? $flightRow['departure'] : '' ?></td>
                            <td><?php echo isset($flightRow['arrival']) ? $flightRow['arrival'] : '' ?></td>
                            <td><?php echo isset($flightRow['departure_date']) ? $flightRow['departure_date'] : '' ?></td>
                            <td><?php echo isset($flightRow['arrival_date']) ? $flightRow['arrival_date'] : '' ?></td>
                            <td><a id="mapPopUp" href="#check-flight-status" class="popup-map btn-sm btn-primary"
                                   data-effect="mfp-zoom-out" onclick="checkFightStatus('<?php echo $fligtData ?>');">Check
                                    Status</a></td>
                        </tr>                                <?php $fNo++;
                    }
                } ?>                    </tbody>                </table><?php } ?>        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel"
         data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="getFlightStopsLabel">Please enter or select details of airlines per
                        flight booking you have made for this journey</h5></div>
                <div class="modal-body">
                    <div id="flights" style="display: none;">
                        <div class="row">
                            <div class="form-group col-md-6"><label class="control-label">No.Stop</label> <select
                                    class="form-control" name="nstop" id="nstop" onchange="getFlights()">
                                    <option value="">flight stops</option>
                                </select></div>
                        </div>
                        <div class="clearfix"></div>
                        <div id="divFlights"></div>
                    </div>
                    <div id="add_flight_manually">
                        <div class="alert alert-info fade in disblock">There is no flight details available with your
                            searched items. Please add flight details manually.
                        </div>
                        <div class="form-group"><label class="control-label">No.Stop<a class="icon-info" href="#"
                                                                                       data-toggle="tooltip"
                                                                                       title=""></a></label> <input
                                type="hidden" name="selected_flights" id="selected_flights" value="0"> <select
                                class="form-control" name="nstop_manual" id="nstop_manual"
                                onchange="addRemoveFlightDetails(this.value);">
                                <option value="">Select stops</option>
                                <option value="0"> Direct</option>
                                <option value="1"> 1</option>
                                <option value="2"> 2</option>
                            </select>

                            <p style="margin-bottom: 0px;" id="err_nstop_manual" class="text-danger err_msg"></p></div>
                        <div id="flightSectionBox">
                            <div id="repeatable_1" class="manual_flight_section">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="sub-page-header text-left"><h4>Details of flight 1</h4></div>
                                        <div class="row">
                                            <div class="form-group col-sm-6"><label class="control-label">Origin
                                                    Location <span class="text-danger">*</span><a class="icon-info"
                                                                                                  href="#"
                                                                                                  data-toggle="tooltip"
                                                                                                  title=""></a></label>
                                                <input class="typeahead form-control manual_origin_location"
                                                       placeholder="City or Airport Code" type="text"
                                                       name="manual_origin_location[]" id="manual_origin_location_1"
                                                       value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>"/>

                                                <p style="margin-bottom: 0px;" id="err_manual_origin_location_1"
                                                   class="text-danger err_msg"></p></div>
                                            <div class="form-group col-sm-6"><label class="control-label">Destination
                                                    Location <span class="text-danger">*</span><a class="icon-info"
                                                                                                  href="#"
                                                                                                  data-toggle="tooltip"
                                                                                                  title=""></a></label>
                                                <input class="typeahead form-control manual_destination_location"
                                                       placeholder="City or Airport Code" type="text"
                                                       name="manual_destination_location"
                                                       id="manual_destination_location_1"
                                                       value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>"/>

                                                <p style="margin-bottom: 0px;" id="err_manual_destination_location_1"
                                                   class="text-danger err_msg"></p></div>
                                        </div> <?php if (isset($this->airport_details) && !empty($this->airport_details)) {
                                        } ?>
                                        <div class="row">
                                            <div class="form-group col-sm-6"><label class="control-label">Airline name
                                                    <span class="text-danger">*</span><a class="icon-info" href="#"
                                                                                         data-toggle="tooltip"
                                                                                         title=""></a></label> <input
                                                    type="text" name="manual_airline_name[]" id="manual_airline_name_1"
                                                    class="form-control manual_airline_name"
                                                    value="<?php echo (isset($this->airline_name) && !empty($this->airline_name)) ? $this->airline_name : '' ?>"/>

                                                <p style="margin-bottom: 0px;" id="err_manual_airline_name_1"
                                                   class="text-danger err_msg"></p></div>
                                            <div class="col-sm-6"><label class="control-label">Airline number <span
                                                        class="text-danger">*</span><a class="icon-info" href="#"
                                                                                       data-toggle="tooltip"
                                                                                       title=""></a></label>

                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <div class="input-group"><span
                                                                class="input-group-addon">Carrier</span> <input
                                                                type="text" name="manual_airline_carrier[]"
                                                                id="manual_airline_carrier_1"
                                                                class="form-control manual_airline_carrier"
                                                                value="<?php echo (isset($this->airline_name) && !empty($this->airline_name)) ? $this->airline_name : ''; ?>"/>
                                                        </div>
                                                        <p style="margin-bottom: 0px;" id="err_manual_airline_carrier_1"
                                                           class="text-danger err_msg"></p></div>
                                                    <div class="form-group col-sm-6">
                                                        <div class="input-group"><span
                                                                class="input-group-addon">Number</span> <input
                                                                type="text" name="manual_airline_number[]"
                                                                id="manual_airline_number_1"
                                                                class="form-control manual_airline_number"/></div>
                                                        <p style="margin-bottom: 0px;" id="err_manual_airline_number_1"
                                                           class="text-danger err_msg"></p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><label class="control-label">Departure Date <span
                                                        class="text-danger">*</span></label>

                                                <div class="row">
                                                    <div class="form-group  col-sm-6">
                                                        <div class="input-group"><input
                                                                class="date-pick form-control manual_departure_date"
                                                                name="manual_departure_date[]"
                                                                id="manual_departure_date_1" type="text"/><span
                                                                class="input-group-addon"><i
                                                                    class="fa fa-calendar fa-fw"></i></span></div>
                                                        <p style="margin-bottom: 0px;" id="err_manual_departure_date_1"
                                                           class="text-danger err_msg"></p></div>
                                                    <div class="form-group  col-sm-6">
                                                        <div class="input-group"><input
                                                                class="time-pick form-control manual_departure_time"
                                                                name="manual_departure_time[]"
                                                                id="manual_departure_time_1" type="text"/><span
                                                                class="input-group-addon"><i
                                                                    class="fa fa-clock-o fa-fw"></i></span></div>
                                                        <p style="margin-bottom: 0px;" id="err_manual_departure_time_1"
                                                           class="text-danger err_msg"></p></div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6"><label class="control-label">Arrival date
                                                    <span class="text-danger">*</span></label>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="input-group"><input
                                                                class="date-pick form-control manual_arrival_date"
                                                                name="manual_arrival_date[]" id="manual_arrival_date_1"
                                                                type="text"/><span class="input-group-addon"><i
                                                                    class="fa fa-calendar fa-fw"></i></span></div>
                                                        <p style="margin-bottom: 0px;" id="err_manual_arrival_date_1"
                                                           class="text-danger err_msg"></p></div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group"><input
                                                                class="time-pick form-control manual_arrival_time"
                                                                name="manual_arrival_time[]" id="manual_arrival_time_1"
                                                                type="text"/><span class="input-group-addon"><i
                                                                    class="fa fa-clock-o fa-fw"></i></span></div>
                                                        <p style="margin-bottom: 0px;" id="err_manual_arrival_time_1"
                                                           class="text-danger err_msg"></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div id="divFlights"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="showManuallyAddedFlights();">Add Flights
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Class <a class="icon-info" href="#"
                                                                               data-toggle="tooltip"
                                                                               title="Please select class of flight journey per ticket reserved."></a></label>
            <select class="form-control" id="cabin"
                    name="cabin"><?php $cabinSelected = isset($this->trip['cabin']) ? $this->trip['cabin'] : 'Economy Class'; ?>
                <option
                    <?php echo ($cabinSelected == 'Economy Class') ? 'selected="selected"' : ''; ?>value="Economy Class">
                    Economy Class
                </option>
                <option
                    <?php echo ($cabinSelected == 'Premium Economy') ? 'selected="selected"' : ''; ?>value="Premium Economy">
                    Premium Economy
                </option>
                <option
                    <?php echo ($cabinSelected == 'Business Class') ? 'selected="selected"' : ''; ?>value="Business Class">
                    Business Class
                </option>
                <option
                    <?php echo ($cabinSelected == 'First Class') ? 'selected="selected"' : ''; ?>value="First Class">
                    First Class
                </option>
            </select></div>
        <div class="form-group col-sm-6"><label class="control-label">Seat<a class="icon-info" href="#"
                                                                             data-toggle="tooltip"
                                                                             title="Please provide allocated seat number for the flight journey per ticket reserved."></a></label>
            <input type="text" name="seat" id="seat" class="form-control"
                   value="<?php echo (isset($this->trip['seat']) && !empty($this->trip['seat'])) ? $this->trip['seat'] : '' ?>"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Ticket <span class="text-danger">*</span><a
                    class="icon-info" href="javascript:;" data-toggle="tooltip"
                    title="Please upload the ticket you have booked per origin and destination location details provided above either by uploading or email forwarding directly to tickets@trepr.com."></a></label>

            <div
                class="row"><?php $ticketOptionSelected = isset($this->trip['ticket_option']) ? $this->trip['ticket_option'] : 'uploadTicket'; ?>
                <div class="col-sm-6"><input type="radio" name="ticketOption" id="uploadTicket" class="ticketSendOption"
                                             value="uploadTicket" <?php echo ($ticketOptionSelected == 'uploadTicket') ? 'checked="checked"' : '' ?>>
                    Upload Ticket
                </div>
                <div class="col-sm-6"><input type="radio" name="ticketOption" id="emailTicket" class="ticketSendOption"
                                             value="emailTicket" <?php echo ($ticketOptionSelected == 'emailTicket') ? 'checked="checked"' : '' ?>>
                    Email Ticket
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 form-group uploadTicketDiv"><input class="form-control" type="file"
                                                                          name="ticket_image"
                                                                          id="ticket"> <?php if ((isset($this->trip['ticket_image']) && $this->trip['ticket_image'] != '')) { ?>
                <a
                href="<?php echo $this->basePath() . '/download/ticket/' . $this->trip['ticket_image'] ?>" ><?php echo 'Click here to downloand'; ?></a><?php } else { ?>
                <p class="help-block">Upload your Ticket</p>            <?php } ?>        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 form-group emailTicketDiv" style="display: none;"><p class="emailTicketUniqueId">Please
                copy your trip identification number and use it in your ticket
                mail</p> <?php $tripIdNumber = isset($this->trip['trip_id_number']) ? $this->trip['trip_id_number'] : ''; ?>
            <input type="hidden" id="tripIdNumber" name="tripIdNumber" value="<?php echo $tripIdNumber; ?>"/>

            <p class="emailTicketUniqueId"><?php echo $tripIdNumber; ?></p></div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Booking Status<a class="icon-info"
                                                                                       href="javascript:;"
                                                                                       data-toggle="tooltip"
                                                                                       title=""></a></label> <select
                class="form-control" id="booking_status"
                name="booking_status"><?php $bookingSelected = isset($this->trip['booking_status']) ? $this->trip['booking_status'] : 'Confirmed'; ?>
                <option <?php echo ($bookingSelected == 'Confirmed') ? 'selected="selected"' : ''; ?> value="Confirmed">
                    Confirmed
                </option>
                <option <?php echo ($bookingSelected == 'Awaiting confirmation') ? 'selected="selected"' : ''; ?>
                    value="Awaiting confirmation">Awaiting confirmation
                </option>
            </select></div>
    </div>
    <div class="block-section">
        <div class="sub-page-header text-left"><h4>Reservation Details</h4></div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                                                      href="#reservationDetail-01">Who is your travel
                            agent?</a></h4></div>
                <div class="panel-collapse collapse in" id="reservationDetail-01">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Travel agency&nbsp;/&nbsp;supplier
                                    name<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                           title="Please provide name of travel agency who is a private retailer or public service that provides travel and tourism related services on behalf of airlines."></a></label>
                                <input type="text" name="travel_agency_name" id="travel_agency_name"
                                       class="form-control"
                                       value="<?php echo (isset($this->trip['travel_agency_name']) && !empty($this->trip['travel_agency_name'])) ? $this->trip['travel_agency_name'] : '' ?>"/>
                            </div>
                            <div class="form-group col-sm-6"><label class="control-label">Travel agency&nbsp;/&nbsp;supplier
                                    URL<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                          title="Please provide URL of the travel agency URL."></a></label> <input
                                    type="text" name="travel_agency_url" id="travel_agency_url" class="form-control"
                                    value="<?php echo (isset($this->trip['travel_agency_url']) && !empty($this->trip['travel_agency_url'])) ? $this->trip['travel_agency_url'] : '' ?>"/>

                                <p style="margin-bottom: 0px;" id="err_travel_agency_url"
                                   class="text-danger err_msg"></p></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Travel agency&nbsp;/&nbsp;supplier
                                    confirmation<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide agency ticket confirmation number."></a></label>
                                <input type="text" name="travel_agency_confirmation" id="travel_agency_confirmation"
                                       class="form-control"
                                       value="<?php echo (isset($this->trip['travel_agency_confirmation']) && !empty($this->trip['travel_agency_confirmation'])) ? $this->trip['travel_agency_confirmation'] : '' ?>"/>
                            </div>
                            <div class="form-group col-sm-6"><label class="control-label">Travel agency&nbsp;/&nbsp;supplier
                                    contact name<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide contact name of the travel agency"></a></label>
                                <input type="text" name="travel_agency_contact_name" id="travel_agency_contact_name"
                                       class="form-control"
                                       value="<?php echo (isset($this->trip['travel_agency_contact_name']) && !empty($this->trip['travel_agency_contact_name'])) ? $this->trip['travel_agency_contact_name'] : '' ?>"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6"><label class=" control-label">Travel agency&nbsp;/&nbsp;supplier
                                    phone number<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide contact phone name of the travel agency."></a></label>
                                <input type="text" name="travel_agency_phone" id="travel_agency_phone"
                                       class="form-control numonly"
                                       value="<?php echo (isset($this->trip['travel_agency_phone']) && !empty($this->trip['travel_agency_phone'])) ? $this->trip['travel_agency_phone'] : '' ?>"/>

                                <p style="margin-bottom: 0px;" id="err_travel_agency_phone"
                                   class="text-danger err_msg"></p></div>
                            <div class="form-group col-sm-6"><label class="control-label">Travel agency&nbsp;/&nbsp;supplier
                                    email<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                            title="Please provide contact email ID of the travel agency."></a></label>
                                <input type="text" name="agency_email" id="agency_email" class="form-control"
                                       value="<?php echo (isset($this->trip['agency_email']) && !empty($this->trip['agency_email'])) ? $this->trip['agency_email'] : '' ?>"/>

                                <p style="margin-bottom: 0px;" id="err_agency_email" class="text-danger err_msg"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed"
                                                                      data-parent="#accordion"
                                                                      href="#reservationDetail-03">Where did you reserve
                            it?</a></h4></div>
                <div class="panel-collapse collapse" id="reservationDetail-03">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Booking Site Name<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide site name in which you booked the ticket."></a></label>
                                <input type="text" name="booking_site_name" id="booking_site_name" class="form-control"
                                       value="<?php echo (isset($this->trip['booking_site_name']) && !empty($this->trip['booking_site_name'])) ? $this->trip['booking_site_name'] : '' ?>"/>
                            </div>
                            <div class="form-group col-sm-6"><label class="control-label">Booking Site URL<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide site URL in which you booked the ticket."></a></label>
                                <input type="text" name="booking_site_url" id="booking_site_url" class="form-control"
                                       value="<?php echo (isset($this->trip['booking_site_url']) && !empty($this->trip['booking_site_url'])) ? $this->trip['booking_site_url'] : '' ?>"/>

                                <p style="margin-bottom: 0px;" id="err_booking_site_url"
                                   class="text-danger err_msg"></p></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Booking Site Phone<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide contact number of the website booked."></a></label> <input
                                    type="text" name="booking_site_phone" id="booking_site_phone"
                                    class="form-control numonly"
                                    value="<?php echo (isset($this->trip['booking_site_phone']) && !empty($this->trip['booking_site_phone'])) ? $this->trip['booking_site_phone'] : '' ?>"/>
                            </div>
                            <div class="form-group col-sm-6"><label class="control-label">Booking Site Email<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide email ID of the website booked."></a></label> <input
                                    type="text" name="booking_site_email" id="booking_site_email" class="form-control"
                                    value="<?php echo (isset($this->trip['booking_site_email']) && !empty($this->trip['booking_site_email'])) ? $this->trip['booking_site_email'] : '' ?>"/>

                                <p style="margin-bottom: 0px;" id="err_booking_site_email"
                                   class="text-danger err_msg"></p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed"
                                                                      data-parent="#accordion"
                                                                      href="#reservationDetail-04">What are the booking
                            details?</a></h4></div>
                <div class="panel-collapse collapse" id="reservationDetail-04">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6"> <!-- Date picker --> <label class="control-label">Booking
                                    Date<a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                           title="Please provide the date when travel ticket was booked."></a></label>

                                <div class="input-group"><input class="booking_date form-control" name="booking_date"
                                                                id="booking_date" type="text"
                                                                value="<?php echo (isset($this->trip['booking_date']) && !empty($this->trip['booking_date'])) ? date('m/d/Y', $this->trip['booking_date']) : '' ?>"/><span
                                        class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></div>
                                <p style="margin-bottom: 0px;" id="err_booking_date" class="text-danger err_msg"></p>
                            </div>
                            <div class="form-group col-sm-6"><label class="control-label">Booking Reference #<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide online ticket confirmation reference number."></a></label>
                                <input type="text" name="booking_reference" id="booking_reference" class="form-control"
                                       value="<?php echo (isset($this->trip['booking_reference']) && !empty($this->trip['booking_reference'])) ? $this->trip['booking_reference'] : '' ?>"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Reservation is Purchased <a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please check if ticket is purchased and not rewarded/gifted"></a></label>

                                <div class="yesNo"><label class="sliderCheck"> <input type="checkbox">

                                        <div class="slider round"></div>
                                    </label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" class="collapsed"
                                                                      data-parent="#accordion"
                                                                      href="#reservationDetail-05">What did you pay?</a>
                    </h4></div>
                <div class="panel-collapse collapse" id="reservationDetail-05">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Total Cost<a class="icon-info"
                                                                                                       href="javascript:;"
                                                                                                       data-toggle="tooltip"
                                                                                                       title="Please provide total cost of the ticket purchased."></a></label>

                                <div class="row">
                                    <div class="form-group col-sm-6"><input type="text" name="total_cost"
                                                                            id="total_cost" class="form-control numonly"
                                                                            value="<?php echo (isset($this->trip['total_cost']) && !empty($this->trip['total_cost'])) ? $this->trip['total_cost'] : '' ?>"/>
                                    </div>
                                    <div class="form-group col-sm-6"><select class="form-control"
                                                                             id="total_cost_currency"
                                                                             name="total_cost_currency">                                        <?php $reservationSelected = (isset($this->trip['total_cost_currency']) && !empty($this->trip['total_cost_currency'])) ? $this->trip['total_cost_currency'] : ''; ?>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?>
                                                value="">-- select --
                                            </option>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'USD $'; ?>
                                                value="USD $">USD $
                                            </option>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'EUR €'; ?>
                                                value="EUR €">EUR €
                                            </option>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'GBP £'; ?>
                                                value="GBP £">GBP £
                                            </option>
                                        </select></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6"><label class="control-label">Discount code<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide discount code used to purchase ticket."></a></label>
                                <input type="text" name="total_cost" id="total_cost" class="form-control"
                                       value="<?php echo (isset($this->trip['discount_code']) && !empty($this->trip['discount_code'])) ? $this->trip['discount_code'] : '' ?>"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6"><label class="control-label">Discount cost<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Please provide total cost of the ticket purchased."></a></label>

                                <div class="row">
                                    <div class="form-group col-sm-6"><input type="text" name="total_cost"
                                                                            id="total_cost" class="form-control numonly"
                                                                            value="<?php echo (isset($this->trip['total_discount_cost']) && !empty($this->trip['total_discount_cost'])) ? $this->trip['total_discount_cost'] : '' ?>"/>
                                    </div>
                                    <div class="form-group col-sm-6"><select class="form-control"
                                                                             id="total_cost_currency"
                                                                             name="total_cost_currency">                                        <?php $reservationSelected = (isset($this->trip['total_discount_currency']) && !empty($this->trip['total_discount_currency'])) ? $this->trip['total_discount_currency'] : ''; ?>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?>
                                                value="">-- select --
                                            </option>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'USD $'; ?>
                                                value="USD $">USD $
                                            </option>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'EUR €'; ?>
                                                value="EUR €">EUR €
                                            </option>
                                            <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'GBP £'; ?>
                                                value="GBP £">GBP £
                                            </option>
                                        </select></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12"><label class="control-label">Comments/Restrictions<a
                                        class="icon-info" href="javascript:;" data-toggle="tooltip"
                                        title="Any added facilities/restrictions in ticket purchased"></a></label>
                                <textarea name="comments_restrictions" id="comments_restrictions"
                                          class="form-control"><?php echo (isset($this->trip['comments_restrictions']) && !empty($this->trip['comments_restrictions'])) ? $this->trip['comments_restrictions'] : '' ?></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="choose_type_two" class="chooseTypes"
     <?php if (count($this->user_locations) > 0) { ?>style="display: none;"<?php } ?>>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Origin Location <span class="text-danger">*</span><a
                    class="icon-info" href="javascript:;" data-toggle="tooltip"
                    title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
            <input class="typeahead form-control" placeholder="City or Airport Code" type="text"
                   name="unplanned_origin_location" id="unplanned_origin_location"
                   value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>"/>

            <p style="margin-bottom: 0px;" id="err_unplanned_origin_location" class="text-danger err_msg"></p></div>
        <div class="form-group col-sm-6"><label class="control-label">Destination Location <span
                    class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip"
                                                   title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
            <input class="typeahead form-control" placeholder="City or Airport Code" type="text"
                   name="unplanned_destination_location" id="unplanned_destination_location"
                   value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>"/>

            <p style="margin-bottom: 0px;" id="err_unplanned_destination_location" class="text-danger err_msg"></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <div class="row">
                <div class="col-sm-6"><label class="control-label">Departure Date<a class="icon-info"
                                                                                    href="javascript:;"
                                                                                    data-toggle="tooltip"
                                                                                    title="Please provide date of journey from origin airport or per ticket reserved."></a></label>

                    <div class="input-group"><input class="date-pick form-control" name="unplanned_departure_date"
                                                    id="unplanned_departure_date" type="text"
                                                    value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date'])) ? date('m/d/Y', strtotime($this->trip['departure_date'])) : date('m/d/Y'); ?>"/><span
                            class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></div>
                    <p style="margin-bottom: 0px;" id="err_unplanned_departure_date" class="text-danger err_msg"></p>
                </div>
                <div class="col-sm-6"><label class="control-label">Date Flexibility <span class="text-danger">*</span><a
                            class="icon-info" href="javascript:;" data-toggle="tooltip"
                            title="Please select a flexible + or - date range from departure date provided."></a></label>

                    <div class="input-group"><select class="selectpicker form-control languages-select picker-select"
                                                     id="date_flexibility" name="date_flexibility"
                                                     onchange="updateDateRange('unplanned_departure_date');">
                            <option <?php echo ($this->trip['date_flexibility'] == '1-d') ? 'selected="selected"' : ''; ?>
                                value="1-d">1 Day
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '2-d') ? 'selected="selected"' : ''; ?>
                                value="2-d">2 Days
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '3-d') ? 'selected="selected"' : ''; ?>
                                value="3-d">3 Days
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '1-w') ? 'selected="selected"' : ''; ?>
                                value="1-w">1 Week
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '2-w') ? 'selected="selected"' : ''; ?>
                                value="2-w">2 Weeks
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '3-w') ? 'selected="selected"' : ''; ?>
                                value="3-w">3 Weeks
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '1-m') ? 'selected="selected"' : ''; ?>
                                value="1-m">1 Month
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '2-m') ? 'selected="selected"' : ''; ?>
                                value="2-m">2 Months
                            </option>
                            <option <?php echo ($this->trip['date_flexibility'] == '3-m') ? 'selected="selected"' : ''; ?>
                                value="3-m">3 Months
                            </option>
                        </select></div>
                    <p style="margin-bottom: 0px;" id="err_date_flexibility" class="text-danger err_msg"></p></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Dates range<a class="icon-info"
                                                                                    href="javascript:;"
                                                                                    data-toggle="tooltip" title=""></a></label>

            <div>
                <div class="input-group"><input type="text" name="project_start_date" id="project_start_date"
                                                class="input-small form-control" readonly="readonly"/> <span
                        class="input-group-addon">to</span> <input type="text" name="project_end_date"
                                                                   id="project_end_date"
                                                                   class="input-small form-control"
                                                                   readonly="readonly"/></div>
                <p style="margin-bottom: 0px;" id="err_project_start_date" class="text-danger err_msg"></p>

                <p style="margin-bottom: 0px;" id="err_project_end_date" class="text-danger err_msg"></p></div>
        </div>
    </div>
</div><!-- /form -->
<div id="flightDisplayContents" style="display: none;">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
</div>
<script type="text/javascript">        $(document).ready(function () {
        if ($('#travel_plan_reservation_type').val() == '1') {
            $('#choose_type_two').hide();
            $('#choose_type_one').show();
        } else if ($('#travel_plan_reservation_type').val() == '2') {
            $('#choose_type_one').hide();
            $('#choose_type_two').show();
        }
    });    </script>