<?php //echo '<pre>';print_r($comSessObj->user);echo '</pre>';
$tabAction = ($comSessObj->personalInforTabSelected) ? $comSessObj->personalInforTabSelected : 'profile_detail';
if (isset($_GET['profAction']) && $_GET['profAction'] == 'edit') $tabAction = 'profile_detail';
?>
<div class="row">
    <div class="col-md-3">
        <?php if ($this->prof['timezone'] != "") {
            $tmz = $this->prof['timezone'];
        } else {
            $tmz = 'US/East-Indiana';
        }
        $target_time_zone = new DateTimeZone($tmz);
        $date_time = new DateTime('now', $target_time_zone);
        //echo 'GMT '.$date_time->format('P');
        echo $this->render(
            'layout/includes/myprofile_sidebar', array(
                'active_tab' => 'personalDetails',
                'prof' => $prof,
                'reviews' => $reviews,
                'comSessObj' => $comSessObj,
                'userInvites' => $userInvites,
				'reviews'=>$reviews,
				'profPhotosMarked' => $profPhotosMarked,

            )
        );
        //return validateRequestForm();
        ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content p-space clearfix">
            <div class="tab-pane fade in active" id="personal_info">
                <h4 class="tab-heading">Profile Settings</h4>

                <div class="tabbable-new">
                    <ul class="nav nav-tabs-new">
                        <li <?php echo ($tabAction == 'profile_detail') ? 'class="active"' : ''; ?>><a
                                href="#personalDetails" data-toggle="tab">Personal Details</a></li>
                        <li <?php echo ($tabAction == 'photoVideo') ? 'class="active"' : ''; ?>><a href="#photos-videos"
                                                                                                   data-toggle="tab">Photos
                                & Videos</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="personalDetails"
                         class="tabbable-new tab-pane fade <?php echo ($tabAction == 'profile_detail') ? 'active in' : ''; ?>">
                        <div class="tab-block">
                            <form action="" method="post" id="updateUserProfile" name="proffsave">
                                <?php if ($profFormAction == 'edit') { ?>
                                    <div class="form-block">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <h6 class="sub-heading">User Details</h6>
                                                    <a class="btn btn-sm btn-primary pull-right"
                                                           href="<?php echo $this->basePath() ?>/myprofile?profAction=view">View</a>
                                                    <hr class="title-border">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>First Name</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"><i
                                                                class="fa fa-user"></i></span> <input
                                                            class="form-control" id="firstname" name="firstname"
                                                            value="<?php echo $this->prof['first_name']; ?>"
                                                            type="text"/></div>
                                                    <p class="text-danger err_msg" id="err_firstname"></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Last Name</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"><i
                                                                class="fa fa-user"></i></span> <input
                                                            class="form-control" id="lastname" name="lastname"
                                                            value="<?php echo $this->prof['last_name']; ?>"
                                                            type="text"/></div>
                                                    <p class="text-danger err_msg" id="err_lastname"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6"><label>Gender</label>

                                                <div class="radio-inline radio-stroke radio-small">
                                                    <label>
                                                        <input class="i-radio" type="radio" id="gender_male"
                                                               name="gender" <?php
                                                        if (strtolower($this->prof['gender']) == 'male') {
                                                            echo 'checked="checked"';
                                                        }
                                                        ?> value="Male"/>Male
                                                    </label>
                                                </div>
                                                <div class="radio-inline radio-stroke radio-small">
                                                    <label>
                                                        <input class="i-radio" type="radio" id="gender_female"
                                                               name="gender" value="Female" <?php
                                                        if (strtolower($this->prof['gender']) == 'female') {
                                                            echo 'checked="checked"';
                                                        }
                                                        ?> />Female
                                                    </label>
                                                </div>
                                                <p class="text-danger err_msg" id="err_gender"></p>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Birthday</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"><i
                                                                class="fa fa-calendar"></i></span>
                                                        <input class="date-pick-years form-control" id="brithday"
                                                               name="brithday" type="text" data-date-format="dd-mm-yyyy"
                                                               value="<?php
                                                               $dob = explode('-', $this->prof['dob']);

                                                               $dob_format = $dob[2] . "-" . $dob[1] . "-" . $dob[0];


                                                               echo $dob_format;//echo date(" d-m-Y ", $this->prof['dob']); ?>"/>
                                                    </div>
                                                    <p class="text-danger err_msg" id="err_brithday"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Email ID</label>
                                                    <?php echo $this->prof['email_address']; ?>
                                                </div>
                                                <div class="form-group"><label>Languages Known</label>
                                                    <select
                                                        class="selectpicker show-tick form-control bfh-languages languages-select"
                                                        name="language[]" data-width="100%" multiple>
                                                        <?php echo $this->lang; ?>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-xs-6">
										<span class="text-small" id="phone_verification_error">
										</span>

                                                <div class="form-group"><label>Phone Number</label>
                                                    <input id="phone_code_for_otp" type="hidden"
                                                           value="<?php echo $this->country_detail['phone_code']; ?>"/>

                                                    <div class="unverified_phone" style="display:flex;">
                                                        <div class="btn-group" role="group"
                                                             style="width:135px; margin:0px; padding:0px;float:left;width:100%;">
                                                            <button type="button"
                                                                    class="btn btn-default dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"
                                                                    style="padding:5px 3px 7.1px 3px;margin-top:10px; border-radius:0px;width:100%;line-height:23.5px;"
                                                                    id="country_button">
                                                                <span id="selected_code"><a href="javascript:;"><img
                                                                            src="/public/img/flags/32/<?php echo $this->country_detail['code']; ?>.png"
                                                                            width="24"> <?php echo $this->country_detail['name']; ?>
                                                                    </a></span>
                                                                <!--span class="caret" style="float:right;margin-top: 11px;"></span-->
                                                            </button>
                                                            <input type="hidden" name="co_code"
                                                                   value="<?php echo $this->country_detail['code']; ?>"
                                                                   id="my_co_code"/>
                                                            <input type="text" class="form-control"
                                                                   style="display:none;padding:5px 3px 7.1px 3px;margin-top:10px; border-radius:0px;width:100%;line-height:23.5px;"
                                                                   id="search_country"
                                                                   onkeyup="filter(this,'theList')"/>
                                                            <ul class="dropdown-menu" style="top:96%;width:100%;"
                                                                id="theList">

                                                                <li data-id="" id="IDID" class="select_code"><a
                                                                        href="javascript:;">Select Country</a></li>
                                                                <?php foreach ($countries as $cnte) { ?>
                                                                    <li data-id="<?php echo $cnte['phone_code']; ?>"
                                                                        id="ID_<?php echo $cnte['code']; ?>"
                                                                        data-code="<?php echo $cnte['code']; ?>"
                                                                        class="select_code">
                                                                        <a href="javascript:;"><img
                                                                                src="/public/img/flags/32/<?php echo $cnte['code']; ?>.png"
                                                                                width="24"> <?php echo $cnte['name']; ?>
                                                                        </a></li>
                                                                <?php } ?>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <div class="input-group" style="display:flex;margin-top:9px;">
                                                            <span class="otpcodeclass"
                                                                  id="ep_con_code"><?php echo $this->country_detail['phone_code']; ?></span>

                                                            <?php if (isset($_GET['err']) && $_GET['err'] != "") { ?>
                                                                <input class="form-control phoneonly"
                                                                       value="<?php echo base64_decode($_GET['err']); ?>"
                                                                       type="text" id="phone" name="phone"
                                                                       style="width: 53%;"/>
                                                            <?php } else { ?>
                                                                <input class="form-control phoneonly"
                                                                       value="<?php echo $this->prof['phone']; ?>"
                                                                       type="text" id="phone" name="phone"
                                                                       style="width: 50%;margin-right: 3%;"/>
                                                            <?php } ?>
                                                            <a id="get_otp_for_notification" href="javascript:void(0);"
                                                               class="btn btn-primary">Get OTP</a>
                                                        </div>

                                                    </div>
                                                    <!--div class="unverified_phone" style="display:<?php //if($this->prof['phone_verify']=='1'){echo 'none';}else{echo 'block';}?>;">
										   <select class="form-controls" id="phone_code_for_otp">
										   <option value="">Select Code</option>
										   <?php //foreach($countries as $cnt){ ?>
                                                    <option value="<?php // echo $cnt['phone_code'];?>"><?php // echo $cnt['name'];?> (<?php // echo //$cnt['phone_code'];?>)</option>
										   <?php // } ?>
                                           </select>
                                                <div class="input-group">
												<span class="input-group-addon group-addon-white"> <i class="fa fa-phone"></i></span>
												<input class="form-control phoneonly" id="mobile_no_for_otp" value="<?php // echo $this->prof['phone']; ?>" type="text" id="phone" name="phone" />
												</div>
												<a id="verify_otp_for_notification" href="javascript:void(0);" class="btn btn-primary">Verify</a>
												<a id="verify_otp_for_notification_cancel" href="javascript:void(0);" class="btn btn-black" style="display:<?php // if($this->prof['phone_verify']=='0'){echo 'none';}else{echo 'inline-block';}?>;">Cancel</a>
												<a id="open-verify-otp-popup" class="popup-text" href="#verify-otp-popup" data-effect="mfp-zoom-out"></a>

										   </div>
												<div class="form-group verified_phone" style="display:<?php // if($this->prof['phone_verify']=='0'){echo 'none';}else{echo 'block';}?>;">
                                                    <p><?php // echo $this->prof['phone']; ?><span class="label-verifi"><i class="fa fa-check box-icon-success round"></i><small> verified</small></span></p>
												<a id="verify_otp_for_notification_change" href="javascript:void(0);" class="btn btn-primary">Change Number</a>
												</div>
													<p class="text-danger err_msg" id="err_phone"></p-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <!--div class="form-group"> <label>Languages Known</label>
                                                <select class="selectpicker show-tick form-control bfh-languages languages-select" name="language[]" data-width="100%" multiple>
                                                    <?php //echo $this->lang; ?>
                                                </select>
											</div--->
                                                <div class="form-group">
                                                    <label>Where you Live</label>
                                                    <input class="form-control" id="location" name="location"
                                                           value="<?php echo $this->prof['location']; ?>" type="text"
                                                           placeholder="Location"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <div class="form-group"><label>Time Zone</label>
                                                        <?php foreach ($time_zone as $key => $tm) {
                                                            if ($this->prof['timezone'] == $key) { ?>
                                                                <p><?php echo $tm; ?></p>
                                                            <?php }
                                                        } ?>
                                                    </div>
                                                    <!--select class="selectpicker show-tick form-control bfh-countries languages-select" id="country" name="country" data-width="100%">
                                                    <option value="">-- Select -- </option>
                                                    <?php
                                                    /*foreach ($this->countries as $country) {
                                                        $selected = ($country['ID'] == $this->prof['country']) ? 'selected=selected' : '';
                                                        echo '<option ' . $selected . ' value="' . $country['ID'] . '">' . $country['name'] . '</option>';
                                                    }*/
                                                    ?>
                                                </select--->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!---div class="col-xs-6">
                                            <div class="form-group"><label>City</label>
                                                <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-map-marker"></i></span> <input class="form-control" id="city" name="city" value="<?php //echo $this->prof['city']; ?>" type="text" /> </div>

                                            </div>
                                        </div--->
                                            <!---div class="col-xs-6">
                                            <div class="form-group"> <label>Time Zone</label>
                                                <select class="selectpicker show-tick form-control languages-select" id="timezone" name="timezone" data-width="100%">
                                                    <option value="">-- Select -- </option>
                                                    <?php
                                            /*foreach ($this->timeZones as $key => $zone) {
                                                $selected = ($key == $this->prof['timezone']) ? 'selected=selected' : '';
                                                echo '<option ' . $selected . ' value="' . $key . '">' . $zone . '</option>';
                                            }*/
                                            ?>
                                                </select> </div>
                                        </div--->
                                        </div>
                                    </div>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="sub-heading">About You</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="form-group"><label>About</label>
                                                    <textarea class="form-control vresize" name="aboutus"
                                                              rows="5"><?php echo $this->prof['aboutus']; ?></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="sub-heading">Your Interest</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Interest</label>

                                                    <div id="edit_interests" class="vresize">
                                                        <?php echo $this->prof['interests']; ?>
                                                    </div>
                                                    <input type="hidden" name="interest" id="interest" value=""/>
                                                    <!--textarea class="form-control vresize" name="interest"><?php //echo $this->prof['interests']; ?></textarea-->
                                                </div>
                                                <div class="input-group"
                                                     style="display:flex; margin:10px; margin-left:-2px;">
                                                    <input type="text" id="add_interest" value="" class="form-control"
                                                           style="margin-right: 3%;"/>
                                                    <button type="button" id="add_interest_btn" class="btn btn-primary">
                                                        Add Interest
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="sub-heading">Emergency Contact</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Full Name</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"> <i
                                                                class="fa fa-user"></i></span> <input
                                                            class="form-control" id="emergency_full_name"
                                                            name="emergency_full_name"
                                                            value="<?php echo $this->prof['emergency_full_name']; ?>"
                                                            type="text"/></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Phone Number</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"><i
                                                                class="fa fa-phone"></i></span> <input
                                                            class="form-control phoneonly"
                                                            value="<?php echo $this->prof['emergency_phone']; ?>"
                                                            type="text" id="emergency_phone" name="emergency_phone"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Email ID</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"> <i
                                                                class="fa fa-envelope"></i></span> <input
                                                            class="form-control" id="emergency_email"
                                                            name="emergency_email"
                                                            value="<?php echo $this->prof['emergency_email']; ?>"
                                                            type="text"/></div>
                                                </div>
                                                <p class="text-danger err_msg" id="err_emergency_email"></p>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Relationship</label>

                                                    <div class="input-group"><span
                                                            class="input-group-addon group-addon-white"> <i
                                                                class="fa fa-user"></i></span> <input
                                                            class="form-control"
                                                            value="<?php echo $this->prof['emergency_relationship']; ?>"
                                                            type="text" id="emergency_relationship"
                                                            name="emergency_relationship"/></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-12 mg-top15">
                                            <input type="submit" id="update_profile_button"
                                                   class="btn btn-primary mg-right5 norm"
                                                   data-title="Dieser Link führt zu Google" value="Update1">
                                            <a href="<?php echo $this->basePath(); ?>/myprofile"> <input type="button"
                                                                                                         class="btn btn-black"
                                                                                                         value="Cancel"></a>
                                        </div>
                                        <!--<p id="updateError" style="display:<?php if ($this->prof['phone_verify'] == '1') {
                                            echo 'none';
                                        } else {
                                            echo 'inline-block';
                                        } ?>;color:red;">Please verify phone number to update.</p>
                                    -->
                                    </div>
                                <?php } else if ($profFormAction == 'view') { ?>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <h6 class="sub-heading">User Details</h6>
                                                        <a class="btn btn-sm btn-primary pull-right"
                                                           href="<?php echo $this->basePath() ?>/myprofile?profAction=edit">Edit</a>
                                                    <hr class="title-border">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>First Name</label>

                                                    <p><?php echo $this->prof['first_name']; ?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Last Name</label>

                                                    <p><?php echo $this->prof['last_name']; ?></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Gender</label>

                                                <p><?php echo $this->prof['gender']; ?></p>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Birthday</label>

                                                    <p><?php
                                                        //echo $this->prof['dob'];

                                                        $originalDate = $this->prof['dob'];
                                                        echo $newDate = date("d-m-Y", strtotime($originalDate));

                                                        //echo date(" d-m-Y ", $this->prof['dob']);

                                                        ?></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Email ID</label>

                                                    <p><?php echo $this->prof['email_address']; ?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Phone Number</label>
                                                    <?php
                                                    if ($this->country_detail['name'] != "")
                                                    {
                                                    ?>
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                aria-haspopup="true" aria-expanded="false ">
                                                            <span id="selected_code">

                                                                <a href="javascript:;">
                                                                    <img
                                                                        src="/public/img/flags/32/<?php echo $this->country_detail['code']; ?>.png"
                                                                        width="24">
                                                                    <?php echo $this->country_detail['name']; ?>
                                                                </a>

                                                            </span>
                                                        </button>
                                                    <p><?php echo $this->country_detail['phone_code'] . '-' . $this->prof['phone']; ?></p>
                                                <?php } else { ?>

                                                    <?php echo "--";
                                                } ?>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Languages Known</label>

                                                    <p><?php
                                                        if ($this->prof['language'] != '') {
                                                            $selectedLangs = explode(',', $this->prof['language']);
                                                            foreach ($this->languages as $lang) {
                                                                if (in_array($lang['ID'], $selectedLangs)) {
                                                                    $langNames[] = $lang['lang'];
                                                                    echo '<a style="margin-right: 5px;" href="javascript:;" class="interest_tag">'.$lang['lang'].'&nbsp;</a>';
                                                                }
                                                            }
                                                            /*if (!empty($langNames)) {
                                                                echo implode(', ', $langNames);
                                                            }*/
                                                        }
                                                        else {
                                                            echo '--';
                                                        }
                                                        ?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Time Zone</label>
                                                    <?php foreach ($time_zone as $key => $tm) {
                                                        if ($this->prof['timezone'] == $key) { ?>
                                                            <p><?php echo $tm; ?></p>
                                                        <?php }
                                                    } ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label>Where you Live</label>
                                                    <!--p><?php
                                                    /*if ($this->prof['country'] != '' && $this->countries) {
                                                        foreach ($this->countries as $eachCountry) {
                                                            if ($eachCountry['ID'] == $this->prof['country']) {
                                                                $countryName = $eachCountry['name'];
                                                            }
                                                        }
                                                        echo $countryName;
                                                    } else {
                                                        echo '--';
                                                    }*/
                                                    ?></p-->
                                                    <p><?php
                                                        echo ($this->prof['location'] != '') ? $this->prof['location'] : '--';
                                                        ?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <!--label>City</label>
                                                    <p><?php //echo ($this->prof['city'] != '')?$this->prof['city']:'--'; ?></p--->
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <!--div class="form-group"><label>Time Zone</label>
												<?php //foreach($time_zone as $key=>$tm){
                                                //if($this->prof['timezone']==$key){ ?>
													<p><?php //echo $tm; ?></p>
													<?php //} } ?>
                                                </div-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="sub-heading">About You</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>About</label>

                                                    <p><?php echo ($this->prof['aboutus'] != '') ? $this->prof['aboutus'] : '--'; ?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="sub-heading">Your Interest</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Interest</label>

                                                    <p id="view_interests"><?php echo ($this->prof['interests'] != '') ? $this->prof['interests'] : '--'; ?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-block-row">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="sub-heading">Emergency Contact</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Full Name</label>

                                                    <p><?php echo ($this->prof['emergency_full_name'] != '') ? $this->prof['emergency_full_name'] : '--'; ?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Phone Number</label>

                                                    <p><?php echo ($this->prof['emergency_phone'] != '') ? $this->prof['emergency_phone'] : '--'; ?></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Email ID</label>

                                                    <p><?php echo ($this->prof['emergency_email'] != '') ? $this->prof['emergency_email'] : '--'; ?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group"><label>Relationship</label>

                                                    <p><?php echo ($this->prof['emergency_relationship'] != '') ? $this->prof['emergency_relationship'] : '--'; ?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <?php } ?>
                            </form>
                        </div>
                    </div>
                    <div id="photos-videos"
                         class="tab-pane fade <?php echo ($tabAction == 'photoVideo') ? 'active in' : ''; ?>">
                        <div class="tab-block">
                            <div class="tab-block-row">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h6 class="sub-heading">Photos</h6>
                                        <hr class="title-border">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <!--<h5>Photos</h5>-->
                                            <p>Clear frontal face photos are an important way for seekers and travelers
                                                to learn about each other. It's not much fun to believe someone online
                                                that involves money! Please upload a photo that clearly shows your
                                                face.</p>
                                        </div>
                                    </div>
                                </div>
                                <form id="photoUploadForm" action="" method="post" enctype="multipart/form-data">
                                    <div class="profile-gallery popUpImageParent">
                                        <?php
                                        if ($this->profPhotos) {

											//echo count($this->profPhotos);die;
                                            foreach ($this->profPhotos as $photo) {
                                                ?>
                                                <div class="img-thumbnail">
                                                    <div class="img-thuminner"><a
                                                            data-photo_id="<?php echo $photo['user_photo_id']; ?>"
                                                            href="javascript:;"
                                                            class="remove label-danger removePhotoBtn"
                                                            title="Remove Photo"><i class="fa fa-times"
                                                                                    aria-hidden="true"></i></a>

                                                        <div class="img-thumbnail-cap"><a href="#" class="markAsDP"
                                                                                          data-photo_id="<?php echo $photo['user_photo_id']; ?>"
                                                                                          data-photo_name="<?php echo $photo['user_photo_name']; ?>">Set
                                                                as profile picture</a></div>
                                                        <a href="<?php echo $this->basePath() . '/public/uploads/profile_picture/' . $photo['user_photo_name']; ?>">
                                                            <!--img class="img-responsive" src="<?php echo $this->basePath() . '/public/uploads/profile_picture/medium/' . $photo['user_photo_name']; ?>" alt="" title="" /-->
                                                            <img class="img-responsive"
                                                                 src="<?php echo $this->basePath() . '/public/uploads/profile_picture/' . $photo['user_photo_name']; ?>"
                                                                 alt="" title="" style="width: 150px;"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <?php
                                            }
                                        } else {
                                            echo ' <div>No photo uploaded yet.</div>';
                                        }
                                        ?>
                                        <!--div  class="img-thumbnail"><div class="img-thuminner"><a class="btn btn-ghost btn-default btn-camera" onclick="loadcm();"><span class="mif-camera"></span><span class="center-block">Take a photo</span></a></div></div>
                                        <div  class="img-thumbnail"><div class="img-thuminner"><span class="btn btn-default btn-file"><span class="mif-upload2"></span><span class="center-block">Upload a photo</span> <input type="file" accept="image/*" id="upfile" name="upfile[]" multiple /></span></div></div-->
                                        <div class="img-thumbnail">
                                            <div class="img-thuminner">
                                                <a class="popup-text center-block" href="#uplad-popup"
                                                   data-effect="mfp-zoom-out" style="text-decoration:none;">
                                                    <img style="max-width: 55%;"
                                                         src="<?php echo $this->basePath(); ?>/public/images/upload_icon.png"">
                                                    <span class="mif-camera"></span><br>
                                                    Upload Profile Image
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--a class="popup-text btn btn-border center-block" href="#uplad-popup" data-effect="mfp-zoom-out">
                                    <span class="mif-camera"></span><br>
                                    Upload Profile Image
                                </a-->

                                <div class="mfp-with-anim mfp-hide mfp-dialog modal-lg  mfp-dialog-tab" id="uplad-popup"
                                     style="max-width:383px;">
                                    <form id="photoUploadFormPopUp" action="" method="post"
                                          enctype="multipart/form-data">
                                        <div class="head-wrap test">
                                            <h4 class="tab-heading">Profile Photos</h4>
                                            <!--<button class="mfp-close" type="button" title="%title%">×</button>-->
                                        </div>

                                        <div class="popup-tab">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#uploadDocument">Upload
                                                        Photo</a></li>
                                                <li onclick="loadWebCam()"><a data-toggle="tab" href="#takePhoto">Take
                                                        Photo</a></li>

                                            </ul>
                                            <div class="tab-content">
                                                <div id="uploadDocument" class="tab-pane fade in active">
                                                    <div class="mfp-tab-content">
                                                        <div class="preview" id="imagePreview"
                                                             style="width:100%;height:240px;">

                                                        </div>
                                                    </div>
                                                    <div class="mfp-tab-footer text-center">
                                                        <input style="display:none" id="imageupload" type="file"
                                                               multiple name="upfile[]" class="img">
                                                        <button id="OpenImgUpload1" class="btn btn-primary mg-right5">
                                                            Browse
                                                        </button>
                                                        <input type="submit" class="btn btn-black" id="photoFormSubmit"
                                                               name="photoUpload" value="Update">
                                                    </div>
                                                </div>
                                                <div id="takePhoto" class="tab-pane fade">
                                                    <div class="mfp-tab-content">
                                                        <div class="preview" id="photoPreview">
                                                            <video id="video"></video>
                                                            <canvas id="canvas" style="display:none;"></canvas>
                                                            <img id="previewPhoto" src="" title="Profile Photo"
                                                                 style="display:none;"/>
                                                            <!--img src="<!?php echo $this->basePath(); ?>/public/img/take-photo.jpg"-->
                                                        </div>
                                                    </div>
                                                    <div class="mfp-tab-footer text-center">
                                                        <!-- <button type="button" class="btn btn-black mg-right5" id="startRender" onclick="loadWebCam();">Open Camera</button>-->
                                                        <button type="button" class="btn btn-primary" id="startbutton">
                                                            Take Photo
                                                        </button>
                                                        <button type="button" class="btn btn-black" id="savecnt"
                                                                style="display:none;">Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--div class="row row-no-gutter">
                                    <div class="col-xs-12 mt30">
                                        <div class="clearfix"></div>
                                        <div style="display:none;" id="camshw">
                                            <video id="video"></video>
                                            <span class="btn btn-ghost btn-default" id="startbutton">Take&nbsp;photo</span>
                                            <canvas id="canvas"></canvas>
                                            <span onclick="savecnt();" class="btn btn-ghost btn-default" id="savecnt" style="display:none;">Save Photo</span>
                                        </div>
                                    </div>
                                </div-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <output id="list"></output>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-block-row">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h6 class="sub-heading">Videos</h6>
                                        <hr class="title-border">
                                    </div>
                                </div>
                                <form name="videoLinksAction" id="videoLinksAction" method="post" action=""
                                      enctype="multipart/form-data">
                                    <div class="video-gallery">
                                        <div class="row">
                                            <?php if ($this->profVideos) {

                                                foreach ($this->profVideos as $myVideo) {
                                                    $thumbImg = '';
                                                    $watchUrl = '';
                                                    $playBtn = '/public/img/vimeo-play.png';
                                                    if ($myVideo['video_parser_type'] == 'youtube') {
                                                        $thumbImg = "http://img.youtube.com/vi/" . $myVideo['video_url_id'] . "/0.jpg";
                                                        $watchUrl = "https://www.youtube.com/watch?v=" . $myVideo['video_url_id'];
                                                        $playBtn = "/public/img/youtube-play.png";

                                                    } else if ($myVideo['video_parser_type'] == 'vimeo') {
                                                        $thumbImg = "http://i.vimeocdn.com/video/" . $myVideo['video_url_id'] . "_480x360.jpg";
                                                        $watchUrl = "https://vimeo.com/" . $myVideo['video_url_id'];
                                                        $playBtn = "/public/img/vimeo-play.png";
                                                    }
                                                    ?>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <a data-video_id="<?php echo $myVideo['user_video_id']; ?>"
                                                               href="javascript:;"
                                                               class="remove label-danger removeVideoBtn"
                                                               style="z-index:6 !important;" title="Remove Video"><i
                                                                    class="fa fa-times" aria-hidden="true"></i></a>
                                                            <img src="<?php echo $thumbImg; ?>">

                                                            <div class="video-link"><a class="popup-vimeo"
                                                                                       href="<?php echo $watchUrl ?>">
                                                                    <img
                                                                        src="<?php echo $this->basePath() . $playBtn; ?>"
                                                                        alt="" title=""/>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                <?php }
                                            } ?>
                                        </div>
                                    </div>
                                </form>
                                <form name="videoLinksUpload" id="videoLinksUpload" method="post" action=""
                                      enctype="multipart/form-data" onsubmit="return validateVideoForm();">
                                    <input type="hidden" name="parserType" id="parserType" value=""/>
                                    <input type="hidden" name="videoUrlId" id="videoUrlId" value=""/>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"><label>Add Video</label>

                                                <div class="input-group">
                                                    <span class="input-group-addon group-addon-white">
                                                        <i class="fa fa-play"></i>
                                                    </span>
                                                    <input class="form-control" value="" placeholder="Video Url"
                                                           type="text" id="videoUrl" name="videoUrl"/>
                                                </div>
                                                <p>
                                                    <small>Note: Please add youtube or vimeo video urls</small>
                                                </p>
                                                <p class="text-danger err_msg" id="err_videoUrl"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mg-top15">
                                        <input type="submit" class="btn btn-primary mg-right5" name="subabs"
                                               value="Update">
                                        <input type="reset" class="btn btn-black" value="Reset">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- personal_info -->
        </div>
        <!-- tab-content pt30 -->
    </div>
</div>
<div class="gap"></div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlWJke1V2SAp-RnQd4EK7O2J_G9IzgYw&libraries=places&callback=initAutocomplete"
    async defer></script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#user_'+id).attr('src',e.target.result);
                $('#imagePreview').html('<img src="' + e.target.result + '"></img>');
                $.ajax({
                    type: "POST",
                    url: "https://api.ocr.space/parse/image",
                    dataType: 'json',
                    data: {
                        apikey: "49a24830fd88957",
                        base64Image: e.target.result,
                        language: "eng",
                        isOverlayRequired: true
                    },
                    success: function (res) {
                        console.log(res);
                    }
                });
                // alert(e.target.result);

            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function () {
        $('#photoUploadFormPopUp .mfp-close').click(function () {
            $('#photoUploadFormPopUp #imagePreview img').remove();
        });
        $('#imageupload').change(function () {
            readURL(this);
        });

    });
    $(document).on('click', '#rotp', function () {
        var code = $("#phone_code_for_otp").val();
        var phone = $("#phone").val();
        var phone_number = code + '' + phone;
        $.ajax({
            type: "POST",
            url: "/myprofile/addotpcode",
            data: {phone: phone_number},
            success: function (result) {
                if (result == '1') {
                    //$("#verify-otp-popup").modal('show');
                    //$("#get_otp_for_notification").hide();
                } else {
                    //alert('Try again.');
                }
                //$("#open-verify-otp-popup").click();
            }
        });
    });
    $("#get_otp_for_notification").click(function () {
        var code = $("#phone_code_for_otp").val();
        var phone = $("#phone").val();
        var phone_number = code + '' + phone;
        if (code !== "" && phone === "") {
            $("#phone_verification_error").html('');
            $("#phone_verification_error").html('<div class="alert alert-danger">Enter phone number.</div>');
        } else if (code === "" && phone !== "") {
            $("#phone_verification_error").html('');
            $("#phone_verification_error").html('<div class="alert alert-danger">Select Country Code.</div>');
        } else if (code === "" && phone === "") {
            $("#phone_verification_error").html('');
            $("#phone_verification_error").html('<div class="alert alert-danger">Enter phone number and Select country code.</div>');
        } else {
            $("#phone_verification_error").html('');
            //$("#verify_otp_for_notification").html('Wait Processing...');
            //$("#update_profile_button").attr('disabled','disabled');
            $.ajax({
                type: "POST",
                url: "/myprofile/addotpcode",
                data: {phone: phone_number},
                success: function (result) {
                    if (result == '1') {
                        $("#verify-otp-popup").modal('show');
                        //$("#get_otp_for_notification").hide();
                    } else {
                        alert('Try again.');
                    }
                    //$("#open-verify-otp-popup").click();
                }
            });
        }
    });
    $(document).on('click', "#votp", function (e) {
        e.preventDefault();
        var code = $("#phone_code_for_otp").val();
        var otp = $("#otp").val();
        var phone = $("#phone").val();
        if (otp == "") {
            $('#votp_error').html('Please enter OTP.');
        } else {
            $.ajax({
                type: "POST",
                url: "/myprofile/verifyotpcode",
                data: {otp: otp, phone: code + '' + phone, number: phone},
                success: function (result) {
                    //alert(result);
                    if (result == 1) {
                        $("#verify-otp-popup").modal('hide');
                        $("#phone_verification_error").html('');
                        $("#phone_verification_error").html('<div class="alert alert-success">Phone number verified successfully.</div>');
                    } else {
                        //$("#otpErrorMessage").html('');
                        //$("#otpErrorMessage").html('<div class="alert alert-danger">Invalid OTP. Try again.</div>');
                        $('#votp_error').html('Please enter valid OTP.');
                    }
                }
            });
        }
    });
    $(document).on("click", "#rotp", function () {
        //$("#verify-otp-popup").modal('hide');

    });
    $(document).on("submit", "#updateUserProfile", function (e) {


        e.preventDefault();
        Err = false;
        if ($('#firstname').val() == '') {
            $('#first_nameLabel').show();
            $('#firstname').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#firstname').css({"background-color": "white", "border-color": "#3fb34f"});

        }
        if ($('#lastname').val() == '') {
            $('#last_nameLabel').show();
            $('#lastname').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#lastname').css({"background-color": "white", "border-color": "#3fb34f"});
        }
        /*if ($('#email_address').val() == '') {
         $('#email_addressLabel').show();
         $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
         Err = true;
         } else if ($('#email_address').val() != '' && !validateEmail($('#email_address').val())) {
         $('#email_address1Label').show();
         $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
         Err = true;
         }else{
         $('#email_address').css({"background-color":"white","border-color":"#3fb34f"});
         }
         if ($('#password').val() == '' || !validatePassword($('#password').val())) {
         $('#passwordLabelInvalid').show();
         $('#password').css({"background-color":"wheat","border-color":"#ffb400"});
         Err = true;
         }

         else{
         $('#password').css({"background-color":"white","border-color":"#3fb34f"});
         $('#passwordLabelInvalid').css({"background-color":"white","border-color":"#3fb34f"});
         $('#passwordLabelInvalid').hide();
         }*/
        if ($('#brithday').val() == '') {
            $('#dobLabel').show();
            $('#brithday').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        }
        else {

            $('#brithday').css({"background-color": "white", "border-color": "#3fb34f"});
        }


        if ($('#gender').val() == '') {
            $('#genderLabel').show();
            $('#gender').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#gender').css({"background-color": "white", "border-color": "#3fb34f"});
        }
        if ($('#location').val() == '') {
            $('#locationLabel').show();
            $('#location').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#location').css({"background-color": "white", "border-color": "#3fb34f"});
        }

        if (Err == false) {
            $.ajax({
                type: "POST",
                url: "/myprofile/updateuserprofile",
                data: $("#updateUserProfile").serialize(),
                success: function (res) {
                    if (res == '1') {
                        window.location.href = <?php echo $this->basePath() ?>'/myprofile';
                    } else {
                        $("body").scrollTop(300);
                        $("#phone_verification_error").html('');
                        $("#phone_verification_error").html('<div class="alert alert-danger">Get OTP Code and verify to change number.</div>');
                    }
                }
            });
        }
    });


    $(document).on('blur', '#brithday', function () {

        var dob = $('#brithday').val();
        if (dob !== "" || dob !== undefined) {
            var dates = dob.split("-");
            var d = new Date();
            var userday = dates[0];
            var usermonth = dates[1];
            var useryear = dates[2];
            var curday = d.getDate();
            var curmonth = d.getMonth() + 1;
            var curyear = d.getFullYear();
            var age = curyear - useryear;
            if ((curmonth < usermonth) || ( (curmonth == usermonth) && curday < userday   )) {
                age--;
            }
            if (age < 18) {
                $("#err_brithday").html('Your age should have above 18 to complete signup process!');
                $("#err_brithday").show();
                $("#brithday").val("");
                brithday
            } else {
                $("#err_brithday").html('');
                $("#err_brithday").hide();
            }
        }


    });


    $(".select_code").click(function () {
        $('#country_button').show();
        $('#search_country').hide();
        var dataid = $(this).attr('data-id');
        var code = $(this).attr('data-code');
        var id = $(this).attr('id');
        if (id == 'IDID') {
            $("#phone_code_for_otp,#my_co_code").val('');
            $("#ep_con_code").text('+');
            $("#selected_code").html($("#IDID").html());
        } else {
            $("#phone_code_for_otp").val(dataid);
            $("#ep_con_code").text(dataid);
            $("#my_co_code").val(code);
            $("#selected_code").html($("#ID_" + code).html());
        }
    });


    $(document).on('click', '#add_interest_btn', function () {
        var inter = $('#add_interest').val();
        $("#edit_interests").append(' <a href="javascript:;" class="interest_tag">' + inter + ' &nbsp;<i class="fa fa-times delete_tag" aria-hidden="true"></i></a>');
        $("#interest").val($("#edit_interests").html());
        $('#add_interest').val('');
        $('#add_interest').focus();
    });
    $(document).on('click', '.delete_tag', function () {
        if (confirm('Are you sure to remove Interest?'))
            $(this).parent().remove();
        $("#interest").val($("#edit_interests").html());
    });
    $(document).on('click', '#country_button', function () {
        $(this).hide();
        $('#search_country').show();
        $('#search_country').focus();
    });
    $(document).on('focusout', '#search_country', function () {
        $('#country_button').show();
        $('#search_country').val('');
        $('#search_country').hide();
    });
    $(document).on('focusin', '#search_country', function () {
        $('#theList > li > a').show();
    });
    function initAutocomplete() {
        var options = {
            types: ['(regions)'],
            componentRestrictions: {country: "us"}
        };
        var input = document.getElementById('location');
        var searchBox = new google.maps.places.SearchBox(input, options);
        var markers = [];
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            places.forEach(function (place) {

            });
        });

    }
    function filter(element, what) {
        var value = $(element).val();
        value = value.toLowerCase().replace(/\b[a-z]/g, function (letter) {
            return letter.toUpperCase();
        });
//alert(value);
        if (value == '') {
            $('#' + what + ' > li > a').show();
        }
        else {
            $('#' + what + ' > li > a:not(:contains(' + value + '))').hide();
            $('#' + what + ' > li > a:contains(' + value + ')').show();
        }
    }

</script>
<style>


    .dropdown-menu {
        top: 82%;
    }

    #view_interests .interest_tag i.fa.fa-times.delete_tag {
        display: none;
    }

    a.interest_tag {
        background-color: #4493cb;
        color: #fff;
        padding: 6px;
        border-radius: 5px;
        line-height: 35px;
    }

    .preview #video {
        width: 100% !important;
        height: 240px !important;
    }

    label {
        font-weight: bold !important;
    }
</style>
