
<div class="row">
    <div class="col-md-3">
        <?php echo $this->render(
            'layout/includes/myprofile_sidebar',
            array(
                'active_tab'=>'myAddresses',
                'prof'=>$prof,
                'comSessObj'=>$comSessObj,
                'userInvites' => $userInvites,
				'reviews'=>$reviews,
				'profPhotosMarked' => $profPhotosMarked,
	
            )
        ); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- End Address Book -->
            <div class="tab-pane fade active in" id="address_book">
                <div class="alert alert-success" role="alert" id="success_msg_alert_address" style="display:none;"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <span id="success_msg_address" class="pl30"></span> </div>
                <div class="head-wrap">
                    <div class="row">
                        <div class="col-sm-6"><h4 class="tab-heading">My Addresses</h4></div>
                        <div class="col-sm-6 text-right"><a id="mapPopUp" href="#new-card-dialog" class="address_pop_up_add popup-map btn btn-primary" data-effect="mfp-zoom-out" onclick="valempty();"><i class="fa fa-plus-circle"></i>New address</a>
                        </div>
                    </div>
                </div>
                <div class="row row-no-gutter">
                    <div class="col-md-12">
                        <div class="row row-wrap">
                            <?php
                            /*echo '<pre>';var_dump($this->addrbook);exit;*/
                            if($this->addrbook){
                                foreach ($this->addrbook as $val) {
                                    ?>
                                    <div class="col-md-6" id="address_<?php echo $val['ID']; ?>">
									        <div id="signup-loader" class="content-load" style="display: none;"></div>

                                        <div class="card-thumb">
										
                                            <ul class="card-thumb-actions">
                                                <li>
                                                <?php
												$ID = $val['ID'];
                                                    if ($val['set_default'] == 1){
                                                        echo '<span style="float:left;cursor:pointer;color:green;">Primary Address</span>';
                                                    }else{
														echo '<span style="float:left;cursor:pointer;" onclick="setasPrimary('.$ID.');">Set as Primary</span>';
													}
                                                ?>
                                                </li>
												
												
                                                <li>
                                                    <a class="fa fa-pencil popup-text address_pop_up" href="#new-card-dialog" rel="tooltip" data-placement="top" title="edit" data-effect="mfp-zoom-out" onclick="javascript:editaddressbook('<?php echo $val['ID']; ?>', 'view');"></a>
                                                </li>
                                                <li>
                                                    <a class="fa fa-times" href="javascript:void(0);" rel="tooltip" data-placement="top" title="remove" onclick="javascript:editaddressbook('<?= $val['ID'] ?>', 'delete');"></a>
                                                </li>
                                            </ul>
                                            <address>
                                               <?= $val['street_address_1']; ?><br/><?= $val['street_address_2']; ?><br/><?= $val['city'] . " - " . $val['zip_code']; ?><br /><?= $val['state']; ?><br /><?= $val['country'] . "."; ?>
                                            </address>
                                        </div>
                                    </div>
                                <?php }
                            }
                            else{
                                echo '<div class="text-center">No addresses added yet.</div>';
                            } ?>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Address Book -->
        </div>
        <!-- tab-content pt30 -->
    </div>
</div>
<div class="gap"></div>
<div id="edit-card-dialog" class="mfp-with-anim mfp-hide mfp-dialog modal-lg">

    <h4 class="mb0">Edit Address</h4>
    <div class="form-group">
        <div class="checkbox"><label><input class="i-check" type="checkbox" value="1" name="setdeflt" checked />yyySet as primary</label> </div>
    </div>
    <input class="btn btn-primary" type="button" onclick="javascript:editaddressbook('id', 'edit');" name="submit" value="update" />
</div>

<div id="new-card-dialog" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg">
        <div id="signup-loader" class="content-load" style="display: none;"></div>

                <div class="head-wrap">
                    <h4 class="tab-heading">Add / Edit Address</h4>
                    <button title="%title%" type="button" class="mfp-close">&#215;</button>
                </div>
                <form class="form_addtrippeople_origindetail" id="my_address_form" name="my_address_form" action="" method="post" role="form">
                    <input type="hidden" name="editid" id="editid" value=""/>
                    <input type="hidden" name="lat" id="latitude" value="" >   
                    <input type="hidden" name="lng" id="longitude" value="" >   
                    <div class="panel-body">
                        <?php if(count($this->user_locations)>0){ ?>
                        <div class="form-group form-group-select-plus">
                            <div class="col-sm-8">
                                <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="existing_address" checked="checked"> Select Contact Address`
                                <select class="form-control" name="existing_user_location" id="existing_user_location">
                                    <option value="" selected="selected"> - select contact address - </option>
                                    <?php if(count($this->user_locations)>0){
                                        foreach($this->user_locations as $location){ ?>
                                            <option value="<?php echo $location['ID'];?>"><?php echo $location['name'];?> - <?php echo $location['street_address_1'];?><?php if($location['street_address_2']!=''){ echo ', '.$location['street_address_2']; } ;?>, <?php echo $location['city'];?> - <?php echo $location['zip_code'];?>, <?php echo $location['state'];?>, <?php echo $location['country_name'];?> </option>
                                        <?php }
                                    } ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-select-plus">
                            <div class="col-sm-8">
                                <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address"> Add New Address
                            </div>
                        </div>
                        <?php } ?>
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="divNewAddress" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Country</label>
                                           <select class="form-control" name="country_short" id="country_short" onchange="countryChange(this.value);">
                                                <option value="" selected="selected"> - Select country - </option>
                                                <?php if(count($this->common()->countries)>0){
                                                    foreach($this->common()->countries as $countryArr){ 
                                                        ?>
                                                        <option value="<?php echo $countryArr['code']; ?>"><?php echo $countryArr['name']; ?></option>
                                                    <?php }
                                                } ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">Address Line 1</label>
                                            <input class="form-control" name="route" id="street_address_11" autocomplete="off" placeholder="Address Line 1" type="text" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">Address Line 2</label>
                                            <input class="form-control" name="sublocality" id="street_address_2" placeholder="Address Line 2" type="text" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">City</label>  
                                            <input class="city form-control" name="locality" id="city" placeholder="City" type="text" required/>
                                        
										</div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">State</label>
                                            <input class="form-control" name="administrative_area_level_1" id="state" placeholder="State" type="text" required/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label class="control-label">Zip Code</label>    
                                            <input class="form-control" name="postal_code" id="postal_code" data-geo="postal_code" placeholder="Zip Code" type="text" required/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-sm-6 form-group text-right">
                                            <input class="btn btn-primary" type="submit"  name="submit" value="Save" />
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                             <div class="map_canvas" id="map-canvas" style="height: 445px;"></div>
                            </div>
                        </div>		
                    </div>
                </form>
            </div>

<script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
<script type="text/javascript">
     $(document).ready(function(){
    <?php if(isset($this->trip['user_location']) && $this->trip['user_location'] !=0 ){ ?>
        $('#existing_user_location').trigger('change');
    <?php } ?>
    });
    if (typeof latLng != 'object') {
            var latVal = '54.59728500000001';
            lngVal = '-5.930119999999988';
            latLng = new google.maps.LatLng(latVal, lngVal);
        }
      var map, places, infowindow;
      var marker;
      var autocomplete;
      var countryRestrict = {'country': 'us'};
   function initMap(latLng) {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
         center: latLng,
         zoom: 12,
       });
    marker = new google.maps.Marker({
          position: latLng,
          map: map,
         draggable: true
    });
  var input = (document.getElementById('street_address_11'));
  
  autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);
  places = new google.maps.places.PlacesService(map);
  autocomplete.addListener('place_changed', onPlaceChanged);
 

  infowindow = new google.maps.InfoWindow();
  marker = new google.maps.Marker({
    map: map,
    anchorPoint: new google.maps.Point(0, -29),
    draggable: true
  });
  document.getElementById('country_short').addEventListener(
            'change', countryChange);
 
 var geocoder = new google.maps.Geocoder();
 google.maps.event.addListener(marker, 'dragend', function() {

    geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        $('#street_address_11,#street_address_2,#city,#state,#postal_code,#country_short').val(''); 
        if (results[0]) {
            /* console.log('address_components'+results[0].address_components); */
             if (results[0].address_components) {
                $(results[0].address_components).each(function(index){
                   /*  console.log('long_name:::'+this.types+'----'+this.long_name);*/
                   if($.inArray("route", this.types) !== -1){
                       $('#street_address_11').val(this.long_name);
                   }
                   else if($.inArray("sublocality", this.types) !== -1){
                       $('#street_address_2').val(this.long_name);
                   }
                   else if($.inArray("locality", this.types) !== -1){
                       $('#city').val(this.long_name);
                   }
                   else if($.inArray("administrative_area_level_1", this.types) !== -1){
                       $('#state').val(this.long_name);
                   }
                   else if($.inArray("postal_code", this.types) !== -1){
                       $('#postal_code').val(this.long_name);
                   }
                   else if($.inArray("country", this.types) !== -1){
                       $('#country_short').val(this.short_name);
                   }
               });
            }
            /* console.log(results[0].formatted_address);
            console.log(marker.getPosition().lat());
            console.log(marker.getPosition().lng());*/
                 $('#latitude').val(marker.getPosition().lat());
            $('#longitude').val(marker.getPosition().lng());
            /* infowindow.setContent(results[0].formatted_address);
            infowindow.open(map, marker);*/
        }
    }
    });
});
}

function onPlaceChanged(){
	//alert(123);
     $('#street_address_11,#street_address_2,#city,#state,#postal_code,#country_short').val(''); 
    infowindow.close();
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      
      return;
    }
   if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);  
    }
   
    marker.setPosition(place.geometry.location);
    marker.setVisible(true);

    var address = '';
     if (place.address_components) {
        $(place.address_components).each(function(index){
            console.log('long_name'+this.long_name);
           if($.inArray("route", this.types) !== -1){
               $('#street_address_11').val(this.long_name);
           }
           else if($.inArray("sublocality", this.types) !== -1){
               $('#street_address_2').val(this.long_name);
           }
           else if($.inArray("locality", this.types) !== -1){
               $('#city').val(this.long_name);
           }
           else if($.inArray("administrative_area_level_1", this.types) !== -1){
               $('#state').val(this.long_name);
           }
           else if($.inArray("postal_code", this.types) !== -1){
               $('#postal_code').val(this.long_name);
           }
           else if($.inArray("country", this.types) !== -1){
               $('#country_short').val(this.short_name);
           }
       });
    }
    if (place.address_components) {
       
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }
 
    var latitude = place.geometry.location.lat();
    var longitude = place.geometry.location.lng();
   $('#latitude').val(latitude);
   $('#longitude').val(longitude);
     /*$("input[name=coordinate]").val(address);
    $("input[name=latitude]").val(latitude);
    $("input[name=longitude]").val(longitude);*/

    /* infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);*/
  }
function countryChange(el) {
 if(el != 'more'){
       
        autocomplete.setComponentRestrictions({'country': el});
    }
}

$('#existing_user_location').change(function () {
        if($(this).val() == ''){
            $('#existingAddressView').hide();
        }
        jQuery.ajax({
            type: "POST",
            url: baseurl + '/ajax/getLatLngByAddressId',
            data: 'addressId=' + $(this).val(),
            async:false,
            success: function (msg) {
                /*var map = $("#street_address_1").geocomplete("map");
                google.maps.event.trigger(map, 'resize'); */
                var resObj = $.parseJSON(msg);
                var countrySelected = $('#country_short').val();
                if (resObj.result == 'success') {
                    var latVal = parseFloat(resObj.addressData.latitude),
                        lngVal = parseFloat(resObj.addressData.longitude);
                    latLng = new google.maps.LatLng(latVal, lngVal);
                    /*initializeExistingMap(latVal, lngVal);*/
                    /* view address*/
                    if($('#existing_user_location').val() != ''){
                        $('#view_country').text(resObj.addressData.country_name);
                        $('#view_address_type').text(resObj.addressData.address_type);
                        $('#view_address_line_1').text(resObj.addressData.street_address_1);
                        $('#view_address_line_2').text(resObj.addressData.street_address_2);
                        $('#view_city').text(resObj.addressData.city);
                        $('#view_state').text(resObj.addressData.state);
                        $('#view_zipcode').text(resObj.addressData.zip_code);
                        $('#existingAddressView').show();
                    }
					// latLng = new google.maps.LatLng(latVal, lngVal);
                    initMap(latLng);
                }
            }
        });
    });
        //function InsertAddressBook(){
			$('#my_address_form').submit(function(e) {
				 $("#signup-loader").show();
        var chk = $('#editid').val();
		//alert(chk);
        if (chk != '' && typeof(chk) != 'undefined'){ 
            $.ajax({
                url: baseurl + '/myprofile/editaddressbook',
                type: 'POST',
                data: 'addrtype=editaddress&' + $('#my_address_form').serialize(),
                cache: false,
                success: function(response) {
                     window.location.reload();
                }
            });
        }else{ 
            $.ajax({
                url: baseurl + '/myprofile/AddAddressBook',
                type: 'POST',
                data: 'addrtype=newaddress&' + $('#my_address_form').serialize(),
                cache: false,
                success: function(response){
                    window.location.reload();
                }
            });
        }
        return false;
     }); //}
	
    function valempty() {
		var latLng=new google.maps.LatLng('54.59728500000001','-5.93');
        initMap(latLng);
        setTimeout(function() {
            $('#editid').val('');
            $('#contact_name').val('');
            $('#street_address_11').val('');
            $('#street_address_2').val('');
            $('#city').val('');
            $('#postal_code').val('');
            $('#state').val('');
            $('#latitude').val('');
            $('#longitude').val('');
            $('#phone').val('');
            $('#fax').val('');
            $('#countryasn').val('');
        }, 100);
       
    }

    function editaddressbook(a, b) {
        if (b == 'view') {
            valempty();
            $.ajax({
                url: baseurl + '/myprofile/EditAddressBook',
                type: 'POST',
                data: 'vtype=view&viewid=' + a,
                cache: false,
                success: function(response) {
                    var json = $.parseJSON(response);
                    $('#editid').val(json.ID);
                    $('#contact_name').val(json.name);
                    $('#street_address_11').val(json.street_address_1);
                    $('#street_address_2').val(json.street_address_2);
                    $('#city').val(json.city);
                    $('#postal_code').val(json.zip_code);
                    $('#state').val(json.state);
                    $('#latitude').val(json.latitude);
                    $('#longitude').val(json.longitude);
                    $('#phone').val(json.phone);
                    $('#fax').val(json.fax);
                    $('#country_short').val(json.country);
                    if(json.set_default=='1'){ $('#setdeflt').attr('checked',true); }
                    
                    /* edit pop up*/
                    var latLng = new google.maps.LatLng(json.latitude,json.longitude);
                    initMap(latLng);
                }
            });
        } else if (b == 'delete') {
            var del = confirm('Do you Want Delete this Address?');
            if (del) {
                $.ajax({
                    url: baseurl + '/myprofile/EditAddressBook',
                    type: 'POST',
                    data: 'vtype=delete&viewid='+a,
                    cache: false,
                    success: function(response) {
                       window.location.reload();
                    }
                });
            }
        } else {
            $.ajax({
                url: baseurl + '/myprofile/EditAddressBook',
                type: 'POST',
                data: 'addrtype=editaddress&' + $('#form_origin_location_address').serialize(),
                cache: false,
                success: function(response){
                }
            });
        }
    }
    google.maps.event.addDomListener(window, "load", initMap);
	
	
	function setasPrimary(id){ 
						 
		$("#signup-loader").show();

		/*if(confirm("Are you sure to make it Primary?")){*/
			$.ajax({
				type:"POST",
				url:baseurl + '/myprofile/makeaddressasprimary',
				data:{id:id},
				success:function(res){
					window.location.reload();
				}
			});
		/*}*/
	}
	
</script>