<div class="row">
    <div class="col-md-3">
        <?php echo $this->render(
            'layout/includes/myprofile_sidebar',
            array(
                'active_tab'=>'myCircle',
                'prof'=>$prof,
                'comSessObj'=>$comSessObj,
                'userInvites' => $userInvites,
				'reviews'=>$reviews,
				'profPhotosMarked' => $profPhotosMarked,

            )
        );
        ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- my_circles -->
            <div class="tab-pane fade active in" id="my_circles">
                <div class="head-wrap">
                    <h4 class="tab-heading">My Circles</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel bg-gray mb0">
                                <div class="panel-heading">
                                    <h5 class="mb0 mt0">Social Account Verifications</h5> </div>
                            </div>
                            <div class="panel-body">
                                <div class="row row-no-gutter">
                                    <div class="col-xs-8">
                                        <p class="mb0">Facebook</p>
                                        <p class="small">Sign in with Facebook and discover your trusted connections all over the world.</p>
                                    </div>
                                    <div class="col-xs-4">
                                        
                                       
                                        <?php if($comSessObj->offsetGet('social_provider_facebook') == 'Facebook' && $comSessObj->offsetGet('user_registerd_email') == $comSessObj->offsetGet('user_social_email')){ ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnectDisconnect?provider=Facebook' ?>" class="btn btn-block btn-social1 btn-facebook1 mt20"><span class="fa fa-facebook"></span> Disconnect Facebook</a>
                                        <?php }else { ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnect?provider=Facebook' ?>" class="btn btn-block btn-social1 btn-facebook1 mt20"><span class="fa fa-facebook"></span> Connect With Facebook</a>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="row row-no-gutter">
                                    <div class="col-xs-8">
                                        <p class="mb0">Google</p>
                                        <p class="small">Connect your Trepr account to your Google account for easy access everywhere.</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <?php if($comSessObj->offsetGet('social_provider_google') == 'Google' && $comSessObj->offsetGet('user_registerd_email') == $comSessObj->offsetGet('user_social_email')){ ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnectDisconnect?provider=Google' ?>" class="btn btn-block btn-social1 btn-google1 mt20"><span class="fa fa-google-plus"></span> Disconnect  Google+</a>
                                        <?php }else { ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnect?provider=Google' ?>" class="btn btn-block btn-social1 btn-google1 mt20"><span class="fa fa-google-plus"></span>  Connect With Google+</a>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="row row-no-gutter">
                                    <div class="col-xs-8">
                                        <p class="mb0">LinkedIn</p>
                                        <p class="small">Create a link to your professional contacts by connecting your LinkedIn account.</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <?php if($comSessObj->offsetGet('social_provider_linkedin') == 'LinkedIn' && $comSessObj->offsetGet('user_registerd_email') == $comSessObj->offsetGet('user_social_email')){ ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnectDisconnect?provider=LinkedIn' ?>" class="btn btn-block btn-social1 btn-linkedin1 mt20"><span class="fa fa-linkedin"></span> Disconnect LinkedIn</a>
                                        <?php }else { ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnect?provider=LinkedIn' ?>" class="btn btn-block btn-social1 btn-linkedin1 mt20"><span class="fa fa-linkedin"></span> Connect With LinkedIn</a>
                                        <?php } ?>    
                                    </div>
                                </div>
                                <div class="row row-no-gutter">
                                    <div class="col-xs-8">
                                        <p class="mb0">Twitter</p>
                                        <p class="small">Join your Trepr account with Twitter and follow activities of your network.</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <?php if($comSessObj->offsetGet('social_provider_twitter') == 'Twitter' && $comSessObj->offsetGet('user_registerd_email') == $comSessObj->offsetGet('user_social_email')){ ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnectDisconnect?provider=Twitter' ?>" class="btn btn-block btn-social1 btn-twitter1 mt20"><span class="fa fa-twitter"></span> Disconnect Twitter</a>
                                        <?php }else { ?>
                                            <a href="<?php echo $this->basePath().'/myprofile/socialConnect?provider=Twitter' ?>" class="btn btn-block btn-social1 btn-twitter1 mt20"><span class="fa fa-twitter"></span> Connect with Twitter</a>
                                        <?php } ?>    
                                    </div>
                                </div>
                                <br />

                                <div class="row row-no-gutter">
                                    <div> <input type="submit" class="btn btn-primary" value="Save"> <input type="submit" class="btn btn-black" value="Cancel"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel bg-gray mb0">
                                <div class="panel-heading">
                                    <h5 class="mb0 mt0">Trepr Friends Zone</h5> </div>
                            </div>
                            <div class="panel-body">
                                <?php if($this->treprZone){
                                    foreach($this->treprZone as $friend){
                                        /*if(isset($friend['image']) && !empty($friend['image'])){
                                            if(strpos($friend['image'], "http") !== false){
                                                $img = $friend['image'];
                                            }else{
                                                $img = $this->basePath().'/uploads/profile_picture/small/'.$friend['image'];
                                            }
                                        }else{
                                            $img = $this->basePath().'/default_user.png';
                                        }*/
                                        
                                         $img = $friend['friend_photo_url'];
                                       /* if ($friend['image'] != '') {
                                            $img = $this->basePath() . '/uploads/profile_picture/small/' . $friend['image'];
                                        } else {
                                            $img = $this->basePath() . '/default_user.png';
                                        }*/
                                        ?>
                                        <div class="media circle-media pull-left requestZone"> <a href="#" class=""><img alt="<?php echo $friend['friend_display_name'] ?>" class="media-object round" style="width: 70px; height: 70px;" title="<?php echo $friend['friend_display_name'] ?>" src="<?php echo $img ?>"></a> 
                                           <div class="media-body">
                                               <!-- <p class="media-heading"><?php echo $friend['friend_display_name'] ?></p>
                                                <a href="#" class="btn btn-default">Request</a>
                                                -->

                                            
                                            
<div class="media-body">
                                                <p class="media-heading"><a data-uId = <?php echo $friend['friend_id'] ?> href="#"><?php echo $friend['friend_display_name'] ?></a></p>
                                                <?php if($this->profile_model-> checkReferenceRequested($comSessObj->offsetGet('userid'),$friend['friend_id']) == false){ ?>
                                                    <a href="<?php echo $this->basePath().'/myprofile/sendReferenceRequest?requestedTo='.$friend['friend_id'].'&requestedBy='.$comSessObj->offsetGet('userid'); ?>" class="btn btn-default">Request</a>
                                                <?php } else{ ?>
                                                    <a disabled="disabled" href="#" class="btn btn-default">Requested</a>
                                                <?php } ?>
                                           </div>
                                        </div>
                                           


                                        </div>
                                <?php   } 
                                    }else{ ?>
                                        <div class="well">No Friends Found!</div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- my_circles -->
        </div>
        <!-- tab-content pt30 -->
    </div>
</div>
<div class="gap"></div>
<style>
.btn-facebook1 {
 color: #fff;
 background-color: #3b5998;
 border-color: rgba(0,0,0,0.2);
}
.btn-social1 > :first-child {
 position: absolute;
 left: 0;
 top: 20px;
 bottom: 0;
 width: 32px;
 line-height: 50px;
 font-size: 1.2em;
 text-align: center;
 border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-google1 {
 color: #fff;
 background-color: #dd4b39;
 border-color: rgba(0,0,0,0.2);
}
.btn-google1 .fa-google-plus {
 padding-left:3px;
}
.btn-google1:hover {
 color: #fff;
 background-color: #c23321;
 border-color: rgba(0,0,0,0.2);
}
.btn-facebook1:hover {
 color: #fff;
 background-color: #2d4373;
 border-color: rgba(0,0,0,0.2);
}
.btn-social1 {
 #position: relative;
 padding-left: 44px;
 text-align: left;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 width: 100%;
}
.btn-linkedin1 {
 color: #fff;
 background-color: #007bb6;
 border-color: rgba(0,0,0,0.2);
}
.btn-linkedin1:hover {
 color: #fff;
 background-color: #005983;
 border-color: rgba(0,0,0,0.2);
}
.btn-twitter1:hover {
 color: #fff;
 background-color: #2795e9;
 border-color: rgba(0,0,0,0.2);
}
.btn-twitter1 {
 color: #fff;
 background-color: #55acee;
 border-color: rgba(0,0,0,0.2);
}
</style>