<div class="row">
    <div class="col-md-3">
        <?php echo $this->render(
            'layout/includes/myprofile_sidebar',
            array(
                'active_tab'=>'references',
                'prof'=>$prof,
                'comSessObj'=>$comSessObj,
				'reviews'=>$reviews,
				'profPhotosMarked' => $profPhotosMarked,

            )
        ); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- references -->
            <div class="tab-pane fade active in" id="references">
                <h4 class="tab-heading">References</h4>
                <div class="inner-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#request-references">Request References</a></li>
                        <li><a data-toggle="tab" href="#references-about-you">References About You</a></li>
                        <li><a data-toggle="tab" href="#references-by-you">References By You</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="request-references" class="tab-pane fade in active">
                            <div class="gap gap-mini"></div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify"><strong>Trepr is built on trust and reputation.</strong> You can request references from your personal network, and the references will appear publicly on your Trepr profile to help other members get to know you. You should only request references from people who know you well.</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel bg-gray mb0">
                                    <div class="panel-heading">
                                        <h5 class="mb0 mt0">Email your friends</h5>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form name="refReqByMail" id="refReqByMail" action="" method="POST">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p class="text-justify">Friends you email can sign up on Trepr to write you a personal reference. You can review new references and either accept or ignore them before they are displayed on your public profile.</p>
                                            </div>
                                            <div class="col-xs-12"> 
                                                <div class="form-group">
                                                    <textarea name="refReqEmails" id="refReqEmails" class="form-control" placeholder="Enter Email Addresses..."></textarea>
                                                    <p class="text-danger err_msg" id="err_refReqEmails"></p>
                                                </div>
                                                <div class="mg-top15">
                                                    <input type="button" name="refReqEmailSubmit" class="btn btn-primary mg-right5" onclick="sendReferencesMails();" value="Send Request Emails">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="references-about-you" class="tab-pane fade">
                            <div class="gap gap-mini"></div>
                            <div class="panel panel-default">
                                <div class="panel bg-gray mb0">
                                    <div class="panel-heading">
                                        <h5 class="mb0 mt0">Pending Approval</h5>
                                    </div>
                                </div>
                                <div class="panel-body">
                                <?php 
                                    if($this->pending_refs){ ?>
                                    <form name="referencePendingSubmitForm" id="referencePendingSubmitForm" action="" method="POST">
                                        <input type="hidden" name="approve_reference_id" id="approve_reference_id" value="" />
                                        <?php 
                                        foreach ($this->pending_refs as $req){
                                            if(isset($req['image']) && !empty($req['image'])){
                                                if(strpos($req['image'], "http") !== false){
                                                    $img = $req['image'];
                                                }else{
                                                    $img = $this->basePath().'/public/uploads/profile_picture/small/'.$req['image'];
                                                }
                                            }else{
                                                $img = $this->basePath().'/public/default_user.png';
                                            }
                                        ?>
                                        <div class="media circle-media requestZone">
                                            <ul class="booking-item-reviews list">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <a href="#" class=""><img alt="<?php echo $req['first_name'].' '.$req['last_name'] ?>" class="media-object round" style="width: 70px; height: 70px;" title="<?php echo $req['first_name'].' '.$req['last_name'] ?>" src="<?php echo $img ?>"></a>
                                                            <div class="media-body">
                                                                <p class="media-heading"><a data-uId = <?php echo $req['ID'] ?> href="#"><?php echo $req['first_name'].' '.$req['last_name'] ?></a></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="row">
                                                                <div class="booking-item-review-content">
                                                                    <p><?php echo $req['reference_message']; ?></p>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <input type="button" data-responseId="<?php echo $req['reference_id']; ?>" class="btn btn-primary mg-right5 responseAcceptBtn" name="acceptReference" value="Accept">
                                                                        <input type="button" data-responseId="<?php echo $req['reference_id']; ?>" class="btn btn-black responseIgnoreBtn" name="ignoreReference" value="Ignore">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>      
                                    <?php } ?>
                                    </form>
                                    <?php }else{
                                        echo '<p>No pending references</p>';
                                    }
                                    ?>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel bg-gray mb0">
                                    <div class="panel-heading">
                                        <h5 class="mb0 mt0">Past References Written About You</h5>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>References require profile photos. A reference will only display in your public profile if the member who wrote it has a profile picture.</p>
                                    <div class="row row-wrap">
                                        <div class="col-md-12">
                                            <?php 
                                            if($this->user_refs){
                                                foreach($this->user_refs as $refs){
                                                    if(isset($refs['image']) && !empty($refs['image'])){
                                                        if(strpos($refs['image'], "http") !== false){
                                                            $img = $refs['image'];
                                                        }
                                                        else{
                                                            $img = $this->basePath().'/public/uploads/profile_picture/small/'.$refs['image'];
                                                        }
                                                    }
                                                    else{
                                                        $img = $this->basePath().'/public/default_user.png';
                                                    } ?>
                                                    <ul class="booking-item-reviews list">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <a href="#" class=""><img alt="<?php echo $refs['first_name'].' '.$refs['last_name'] ?>" class="media-object round" style="width: 70px; height: 70px;" title="<?php echo $refs['first_name'].' '.$refs['last_name'] ?>" src="<?php echo $img ?>"></a>
                                                                    <div class="media-body">
                                                                        <p class="media-heading"><a data-uId = <?php echo $refs['ID'] ?> href="#"><?php echo ($refs['first_name'] != '')?$refs['first_name'].' '.$refs['last_name']:$refs['requested_to_email'] ?></a></p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="booking-item-review-content">
                                                                        <p><?php echo $refs['reference_message']; ?></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                            <?php }
                                            }
                                            else{
                                                echo '<p></p>';
                                            }
                                            ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="references-by-you" class="tab-pane fade">
                            <div class="gap gap-mini"></div>
                            <div class="panel panel-default">
                                <div class="panel bg-gray mb0">
                                    <div class="panel-heading">
                                        <h5 class="mb0 mt0">Reference Requests</h5> 
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>Write references only for people you know well enough to recommend to the Trepr Community. If you ignore a request the other person will not be notified.</p>
                                    <?php 
                                    if($this->pending_ref_req){ ?>
                                        <form name="referenceSubmitForm" id="referenceSubmitForm" action="" method="POST">
                                    <?php foreach ($this->pending_ref_req as $req){ 
                                        //if($req[''])
                                        //print_r($this->CommonMethodsModel->getUser($comSessObj->userid)); exit;
                                    if(isset($comSessObj->user['image']) && !empty($comSessObj->user['image'])){
                                        if(strpos($comSessObj->user['image'], "http") !== false){
                                            $img = $comSessObj->user['image'];
                                        }else{
                                            $img = $this->basePath().'/public/uploads/profile_picture/small/'.$comSessObj->user['image'];
                                        }
                                    }else{
                                        $img = $this->basePath().'/public/default_user.png';
                                    }
                                    ?>
                                    <div class="media circle-media requestZone">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#" class=""><img alt="<?php echo $req['first_name'].' '.$req['last_name'] ?>" class="media-object round" style="width: 70px; height: 70px;" title="<?php echo $req['first_name'].' '.$req['last_name'] ?>" src="<?php echo $img ?>"></a>
                                                <p class="media-heading"><a data-uId = <?php echo $req['ID'] ?> href="#"><?php echo $req['first_name'].' '.$req['last_name'] ?></a></p>
                                            </div>
                                            <div class="col-xs-8">
                                                <input type="hidden" name="reference_request_id" value="<?php echo $req['0']; ?>" />
                                                <div class="form-group mg-top15 writeRefShowSec">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <span class="control-label"><?php echo $req['first_name'].' '.$req['last_name'] ?> Requested you to write a reference</span>
                                                                &nbsp;&nbsp;<!--input type="button" class="btn btn-primary mg-right5" name="writeReference" value="Write Reference" onclick="showRef(this);"-->
																
                                                            </div>
															<input type="button" class="btn btn-primary mg-right5" name="writeReferenceYes" id="writeReferenceYes" value="Yes" onclick="writeReferenceYesAction('<?php echo $req['0'] ?>');">
																<input type="button" class="btn btn-primary mg-right5" name="writeReferenceNo" id="writeReferenceNo" value="No" onclick="writeReferenceNoAction('<?php echo $req['0'] ?>');">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mg-top15 writeSection">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Write a reference</label> 
                                                                <textarea class="form-control vresize" name="referenceMessage"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="submit" class="btn btn-primary mg-right5" name="writeReference" value="Send">
                                                    <input type="button" class="btn btn-black" name="ignoreReference" value="Cancel" onclick="hideRef(this);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>      
                                    </form>
                                    <?php }
                                    }else{
                                        echo '<p>No reference requests</p>';
                                    }
                                    ?>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel bg-gray mb0">
                                    <div class="panel-heading">
                                        <h5 class="mb0 mt0">Past References You've Written</h5> </div>
                                </div>
                                <div class="panel-body">
                                <?php 
                                    if($this->completed_ref_req){ ?>
                                        <form name="referenceSubmitForm" id="referenceSubmitForm" action="" method="POST">
                                        <?php foreach ($this->completed_ref_req as $req){
                                        if(isset($comSessObj->user['image']) && !empty($comSessObj->user['image'])){
                                            if(strpos($comSessObj->user['image'], "http") !== false){
                                                $img = $comSessObj->user['image'];
                                            }else{
                                                $img = $this->basePath().'/public/uploads/profile_picture/small/'.$comSessObj->user['image'];
                                            }
                                        }else{
                                            $img = $this->basePath().'/public/default_user.png';
                                        }
                                        ?>
                                        <div class="media circle-media completedRequestZone">
                                            <div class="row">
                                                <div class="col-sm-4 text-left">
                                                    <div class="reference-user-img-inner"> 
                                                        <a href="#" class=""><img alt="<?php echo $req['friend_display_name'] ?>" class="media-object round" style="width: 70px; height: 70px;" title="<?php echo $req['friend_display_name'] ?>" src="<?php echo $img ?>"></a>
                                                    </div>
                                                    <p class="media-heading">
                                                        <a data-uId = <?php echo $req['ID'] ?> href="#"><?php echo $req['first_name'].' '.$req['last_name'] ?></a>
                                                    </p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="hidden" name="reference_response_id" value="<?php echo $req['reference_id']; ?>" />
                                                    <div class="form-group mg-top15 completedWriteRefShowSec">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <span class="control-label">Reference About <?php echo $req['first_name'].' '.$req['last_name'] ?></span>
                                                                    <p><?php echo $req['reference_message']; ?></p>
                                                                    <?php 
                                                                    $editableDays = 15;
                                                                    $dateAddedTime = strtotime(date('d-m-Y',$req['reference_added']));
                                                                    $currentDateTime = strtotime(date('d-m-Y'));
                                                                    $diffDays = ($currentDateTime - $dateAddedTime);
                                                                    $daysLeft = ($editableDays-1) - $diffDays;
                                                                    $addDaysSeconds = (($editableDays) * 86400)+$dateAddedTime;
                                                                    $allowEdit = false;
                                                                    if($addDaysSeconds > strtotime(date('d-m-Y'))){
                                                                        $allowEdit = true;
                                                                    }
                                                                    if($allowEdit){ ?><span style="display: block">You have <?php echo $daysLeft ?> day(s) left to edit.</span><br><input type="button" class="btn btn-primary mg-right5" name="writeReference" value="Edit" onclick="showRefEdit(this);">
                                                                    <?php } ?>                                                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mg-top15 completedWriteSection">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Write a reference</label> 
                                                                    <textarea class="form-control vresize" name="referenceMessage"><?php echo $req['reference_message']; ?></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="submit" class="btn btn-primary mg-right5" name="writeReference" value="Send">
                                                        <input type="button" class="btn btn-black" name="ignoreReference" value="Cancel" onclick="hideRefEdit(this);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>      
                                    </form>
                                    <?php }
                                    }else{
                                        echo '<p>You have not written a reference for anyone yet</p>';
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- references -->
        </div>
        <!-- tab-content pt30 -->
    </div>
</div>
<div class="gap"></div>
<div id="writeSectionYes" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-body">
        <div class="form-group" style="display: block;">
		<form method="post" action="/myprofile/references" >
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
					<input type="hidden" name="reference_request_id" id="reference_request_id_yes" value="" />
                        <label class="control-label">Write a reference</label> 
                        <textarea class="form-control vresize" name="referenceMessage"></textarea>
                    </div>
                </div>
            </div>
                <input type="submit" class="btn btn-primary mg-right5" name="writeReference" value="Send">
                <input type="button" class="btn btn-black" data-dismiss="modal" value="Cancel">
				</form>
		</div>
      </div>
    </div>
</div>
</div>
<div id="writeSectionNo" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-body">
        <div class="form-group" style="display: block;">
		<form method="post" action="/myprofile/references" >
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
					<input type="hidden" name="reference_request_id" id="reference_request_id_no" value="" />
                        <label class="control-label">Are you sure to decline?</label> 
                    </div>
                </div>
            </div>
                <input type="submit" class="btn btn-primary mg-right5" name="ignoreReference" value="Yes">
                <input type="button" class="btn btn-black" data-dismiss="modal" value="Cancel">
				</form>
		</div>
      </div>
    </div>
</div>
</div>
<script>
function writeReferenceYesAction(id){
	$('#writeSectionYes').modal('show');
	$('#reference_request_id_yes').val(id);
}
function writeReferenceNoAction(id){
	$('#writeSectionNo').modal('show');
	$('#reference_request_id_no').val(id); 
}
</script>