<?php 
$ratingTypes = array('rating'=>'Overall Rating','behavior'=>'Behavior','promptness'=>'Promptness','communication'=>'Communication','friendliness'=>'Friendliness','flexibility'=>'Flexibility','cooperation'=>'Cooperation','support'=>'Support');
?>
<div class="row">
    <div class="col-md-3">
        <?php echo $this->render(
            'layout/includes/myprofile_sidebar',
            array(
                'active_tab'=>'reviews',
                'prof'=>$prof,
                'comSessObj'=>$comSessObj,
				'reviews'=>$reviews,
				'profPhotosMarked' => $profPhotosMarked,

            )
        ); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <div class="tab-pane fade active in" id="reviews">
                <div class="head-wrap">
                    <h4 class="tab-heading">Reviews</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
						<?php
                                if ($this->reviews) {
                                    foreach ($this->reviews as $trip) {?>
						<ul class="booking-item-reviews list">
							<li>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="booking-item-review-person"> <a class="booking-item-review-person-avatar round" href="#"><img src="<?php echo $this->basePath(); ?>/public/uploads/profile_picture/medium/<?php echo $trip['sender_info']['image'];?>" alt="Image Alternative text" title="Good job" /></a>
                                            <p class="booking-item-review-person-name"><a href="#"><?= $trip['sender_info']['first_name'].' '.$trip['sender_info']['last_name']; ?></a></p>
                                            <p class="booking-item-review-person-loc"><?php echo $trip['sender_info']['location'];?></p><!--<small><a href="#">146 Reviews</a></small>--> </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="booking-item-review-content">
                                            <!--<h5>"Faucibus in litora"</h5>-->
                                            <ul class="icon-group booking-item-rating-stars">
												<?php for($ri=1;$ri<=$trip['rating'];$ri++){ ?>
                                                	<li><i class="fa fa-star"></i></li>
												<?php } ?>
                                            </ul>
                                            <p><?= $trip['message']; ?></p>
											<div class="booking-item-review-more-content">
														<?php foreach($ratingTypes as $ratKey=>$ratType){ 
																if($trip[$ratKey] != '' && $trip[$ratKey] > 0){
														?>  <p><?php echo $ratType;?>:
															<?php for($ri=1;$ri<=$trip[$ratKey];$ri++){ ?>
																<i class="fa fa-star"></i>
															<?php } ?>
															</p>
														<?php }
														} ?>
													</div>
													<div class="booking-item-review-expand"><span class="booking-item-review-expand-more">More <i class="fa fa-angle-down"></i></span><span class="booking-item-review-expand-less">Less <i class="fa fa-angle-up"></i></span> </div>
                                            <div class="row">
                                                <div class="col-md-6">
													<p class="text-small text-left">From <?= $trip['airport_details']['orgin_city'].' to '.$trip['airport_details']['destination_city']; ?></p>
                                                    <!--<p class="booking-item-review-rate">Was this review helpful?
                                                        <a class="fa fa-thumbs-o-up box-icon-inline round" href="#"></a><b class="text-color"> 11</b></p>-->
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="text-small text-right">Sent on <?= $this->common()->timeZoneAdjust('d M, Y (D)', $trip['create_date']); ?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
						<?php 
							}
						} else {
							echo '<p>No reviews found</p>';
						}
						?>
                        <!--<div class="table-responsive">
                            <table class="table table-bordered table-striped table-booking-history table-hover" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Trip Details</th>
                                    <th>Sender</th>
                                    <th>Message</th>
                                    <th>Overall Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if ($this->reviews) {
                                    foreach ($this->reviews as $trip) { ?>
                                        <tr>
                                            <td>
                                                <?= $this->common()->timeZoneAdjust('d M, Y (D)', $trip['create_date']); ?>
											</td>
                                            <td>
                                                <?= $trip['airport_details']['orgin_city'].' to '.$trip['airport_details']['destination_city']; ?>
                                            </td>
                                            <td>
                                                <?= $trip['sender_info']['first_name'].' '.$trip['sender_info']['last_name']; ?>
                                            </td>
                                            <td>
                                        		<?= $trip['message']; ?>
                                            </td>
                                            <td>
                                        		<?= $trip['rating'].' / 5'; ?>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                } else {
                                ?>
                                <tr>
                                    <td colspan="6" align="center">There is no upcoming trips</td>
                                </tr>
                            <?php } ?> </tbody>
                        </table>
                    </div>-->
                    </div>
                </div>
                <div class="row row-wrap">
                    <div class="col-md-12">
                        <div class="traity-widget-reviews" data-traity-widget='reviews'
                            data-traity-app-user-id='<?php echo $this->prof_user_id ?>'
                            data-traity-signature='<?php echo $this->widget_signature ?>'>
                       </div>
                        <div class="gap gap-small"></div>
                    </div>
                </div>
            </div>
            <!-- reviews -->
        </div>
        <!-- tab-content pt30 -->
    </div>
</div>
<div class="gap"></div>