<div class="row">
    <div class="col-xs-12">
        <div class="top-section-wrap">
            <div class="div-block">
                <h4 class="tab-heading">Write a reference for Manigandang</h4>
                <div class="div-block-inner"> 

                    <div class="table-wrapper-row full-width">
                        <div class="col-md-6 table-cell travel-form bg-white">
                            <div class="reference-block">
                            <p>trepr is built on trust and reputation. By writing this reference, you are recommending Jayaramki to other members of the Airbnb community. You should only provide references for people who know you well. Learn more about References on trepr </p>

                            <div class="mg-top30">
                            <div class="invite-heading">
                                <h5>Tips for a helpful reference</h5>
                                <hr class="title-border">
                            </div>
                                
                            <ul class="list-unstyled reference-tips">
                                <li>How do you know each other? </li>
                                <li>What style of traveler or trepr host is this person? </li>
                                <li>Tell a story about an experience you've had together. </li>
                                <li>Why do you recommend this person to other trepr members? </li>
                            </ul>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 table-cell flightStatus reference-wrap bg-white">
                            <div class="reference-user-img text-center">
                                
                                <div class="reference-user-img-inner">
                                <img alt="20783dd5-4c31-45f6-a8f8-65c6a67ebc5a" height="68" src="https://a2.muscache.com/im/pictures/20783dd5-4c31-45f6-a8f8-65c6a67ebc5a.jpg?aki_policy=profile_medium" width="68">
                                </div></div>
                            <div class="reference-user text-center">


                                <div class="reference-inner text-left">
                                    <div class="row">
                                        <div class="col-xs-12 form-group">
                                            <label class="control-label">
                                                Your relationship to this person
                                            </label>
                                            <select  name="" class="form-control"><option value="0">Friend</option>
                                                <option value="1">Travel Buddy</option>
                                                <option value="2">Colleague</option>
                                                <option value="3">Family Member</option></select>
                                        </div>

                                        <div class="col-xs-12 form-group">
                                            <textarea class="form-control" cols="40" name="" placeholder="Write your reference..." rows="5"></textarea>
                                        </div>
                                    </div> 
                                    <div class="form-group mg-top15 text-center">
                                        <a href="#" class="btn btn-primary mg-right5">Cancel</a><a href="#" class="btn btn-black">Create Reference</a>
                                    </div>
                                </div>               
                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row">
    <div class="col-md-3">


        <?php
        echo $this->render(
                'layout/includes/showuser_sidebar', array(
            'active_tab' => 'personalDetails',
            'prof' => $prof,
            'comSessObj' => $comSessObj
                )
        );
        ?>

    </div>
    <div class="col-md-6">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <div class="center-block">
                <h4 class="tab-heading">Profile Settings</h4>
                <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#personal-info" data-parent="#accordion" data-toggle="collapse">Personal Info</a></h4>
                        </div>
                        <div id="personal-info" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">About You</label> 
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#photos" data-parent="#accordion" data-toggle="collapse">photos</a></h4>
                        </div>
                        <div id="photos" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group"> 
                                           <p>Clear frontal face photos are an important way for seekers and travellers to learn about each other. It's not much fun to believe someone online that involves money! Please upload a photo that clearly shows your face.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-gallery  profile-gallery-center popUpImageParent">
                                    <div class="img-thumbnail"> <div class="img-thuminner">
                                            <div class="img-thumbnail-cap"> <a data-photo_name="USER_DP_1471948531.jpg" data-photo_id="15" class="markAsDP" href="#">Set as profile picture</a> </div> <a href="/trepr/site_beta/public/uploads/profile_picture/USER_DP_1471948531.jpg"> <img title="" alt="" src="/trepr/site_beta/public/uploads/profile_picture/medium/USER_DP_1471948531.jpg" class="img-responsive"></a>
                                        </div></div>
                                    <div class="img-thumbnail"> <div class="img-thuminner">
                                            <div class="img-thumbnail-cap"> <a data-photo_name="USER_DP_1471948554.jpg" data-photo_id="18" class="markAsDP" href="#">Set as profile picture</a> </div> <a href="/trepr/site_beta/public/uploads/profile_picture/USER_DP_1471948554.jpg"> <img title="" alt="" src="/trepr/site_beta/public/uploads/profile_picture/medium/USER_DP_1471948554.jpg" class="img-responsive"></a>
                                        </div></div>
                                    <div class="img-thumbnail"> <div class="img-thuminner">
                                            <div class="img-thumbnail-cap"> <a data-photo_name="USER_DP_1471948692.jpg" data-photo_id="20" class="markAsDP" href="#">Set as profile picture</a> </div> <a href="/trepr/site_beta/public/uploads/profile_picture/USER_DP_1471948692.jpg"> <img title="" alt="" src="/trepr/site_beta/public/uploads/profile_picture/medium/USER_DP_1471948692.jpg" class="img-responsive"></a>
                                        </div></div>
                                    <div class="img-thumbnail"> <div class="img-thuminner">
                                            <div class="img-thumbnail-cap"> <a data-photo_name="USER_DP_1471948694.jpg" data-photo_id="21" class="markAsDP" href="#">Set as profile picture</a> </div> <a href="/trepr/site_beta/public/uploads/profile_picture/USER_DP_1471948694.jpg"> <img title="" alt="" src="/trepr/site_beta/public/uploads/profile_picture/medium/USER_DP_1471948694.jpg" class="img-responsive"></a>
                                        </div></div>
                                    <div class="img-thumbnail"> <div class="img-thuminner">
                                            <div class="img-thumbnail-cap"> <a data-photo_name="USER_DP_1471948696.jpg" data-photo_id="22" class="markAsDP" href="#">Set as profile picture</a> </div> <a href="/trepr/site_beta/public/uploads/profile_picture/USER_DP_1471948696.jpg"> <img title="" alt="" src="/trepr/site_beta/public/uploads/profile_picture/medium/USER_DP_1471948696.jpg" class="img-responsive"></a>
                                        </div></div>
                                    <div class="img-thumbnail"> <div class="img-thuminner">
                                            <div class="img-thumbnail-cap"> <a data-photo_name="USER_DP_1471949129.jpg" data-photo_id="25" class="markAsDP" href="#">Set as profile picture</a> </div> <a href="/trepr/site_beta/public/uploads/profile_picture/USER_DP_1471949129.jpg"> <img title="" alt="" src="/trepr/site_beta/public/uploads/profile_picture/medium/USER_DP_1471949129.jpg" class="img-responsive"></a>
                                        </div></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#videos" data-parent="#accordion" data-toggle="collapse">Videos</a></h4>

                        </div>
                        <div id="videos" class="panel-collapse collapse">
                            <div class="panel-body">
                                
                                
                                
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=GLSPub4ydiM">
                                    <img src="http://img.youtube.com/vi/GLSPub4ydiM/0.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                    
                                    <a class="popup-youtube" href="https://vimeo.com/8733915"><img src="http://i.vimeocdn.com/video/41502704_640.jpg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#personalDetails" data-parent="#accordion" data-toggle="collapse">Personal Details</a></h4>
                        </div>
                        <div id="personalDetails" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="tab-block-row">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group"> 
                                                <h6 class="sub-heading">User Details</h6>
                                                <hr class="title-border">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <p>Manigandang</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Last Name</label>
                                                <p>G</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Gender</label>
                                                <p>Male</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Birthday</label>
                                                <p>05/08/1987</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">E-mail</label>
                                                <p>manigandan.g@officialgates.com </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Phone Number</label>
                                                <p>1234567890</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Languages Known</label>
                                                <p>English</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Where you Live</label>
                                                <p>India</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">City</label>
                                                <p>Test City</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">School</label>
                                                <p>Test School</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Work</label>
                                                <p>Developer</p>    
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Time Zone</label> 
                                                <p>(GMT+05:30) Kolkata </p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-block-row">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h6 class="sub-heading">Emergency Contact</h6> 
                                            <hr class="title-border">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Full Name</label>
                                                <p>test name</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Phone Number</label>
                                                <p>1234567890</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Email</label>
                                                <p>jayaramki.c@officialgates.com</p>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"> <label class="control-label">Relationship</label>
                                                <p>friend</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>



                </div>
            </div>
      </div>
        <!-- tab-content pt30 -->
    </div>
    <div class="col-md-3">
        <div class="sidebar-right-wrap">
            <div class="div-block">
                <div class="invite-heading">
                    <h5>Invite Friends</h5>
                    <hr class="title-border">
                </div>
                <div class="div-block-inner"> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>

            </div>

            <div class="div-block">
                <div class="invite-heading">
                    <h5>Invite Friends</h5>
                    <hr class="title-border">
                </div>
                <div class="div-block-inner"> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>

            </div>

            <div class="div-block">

                <div class="div-block-inner"> 

                    <div class="invite-heading">
                        <h5><i class="fa fa-flag-o" aria-hidden="true"></i> Report</h5>
                        <hr class="title-border">
                    </div>

                    <div class="div-block-inner"> 
                        <ul class="list report-link">
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>


                        </ul>

                    </div>
                </div>

            </div>

        </div> 
    </div>
</div>
<div class="gap"></div>

