<script src='//api.traity.com/1.0/api.js'></script>
<div class="row">
    <div class="col-md-3">
        <div class="sidebar-wrap">
            <aside class="user-profile-sidebar">
                <div class="user-profile-avatar text-center">
                    <?php
                    if (isset($prof['image']) && !empty($prof['image'])) {
                        $img = $this->basePath() . '/uploads/profile_picture/medium/' . $prof['image'];
                        /* if (strpos($img, "http") !== false) {

                          $img = $img;
                          } else {

                          $img = $this->basePath() . '/temp/' . $img;
                          } */
                    } else {
                        $img = $this->basePath() . '/temp/default_profile.png';
                    }
                    ?> <div class="user-pro-img"><img src="<?= $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>" title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>" /></div>
                    <h5><?= $comSessObj->user['first_name']; ?></h5>
                    <p class="mb0">Member Since
                        <?php echo date('M Y', strtotime($comSessObj->user['created'])) ?>
                    </p>
                    <!-- <p class="mb0">Member Since May 2012</p> -->
                    <p>Average Ratings</p>
                </div>
                <ul class="tabs list user-profile-nav">
                    <li><a href="#personal_info" data-toggle="tab"><i class="fa fa-user"></i>Personal Info</a></li>
                    <li><a id="addressBook_tab" href="#address_book" data-toggle="tab"><i class="fa fa-map-marker"></i>My Addresses</a></li>
                    <li class="active"><a href="#trust_verification" data-toggle="tab"><i class="fa fa-check-square"></i>Trust &amp; Verification</a></li>
                    <li><a href="#my_circles" data-toggle="tab"><i class="fa fa-refresh"></i>My Circles</a></li>
                    <li><a href="#reviews" data-toggle="tab"><i class="fa fa-star-half-o"></i>Reviews</a></li>
                    <li><a href="#references" data-toggle="tab"><i class="fa fa-comments"></i>References</a></li>
                </ul>
            </aside>
            <div class="invite-block">

                <div class="invite-heading">
                    <h5>Invite Friends</h5>
                    <hr class="title-border">
                </div>

                <form name="frndReferral" id="frndReferral" method="post" action="" onsubmit="return validateReferralForm();">
                    <p class="info">Separate multiple emails with semi colons. <a role="button" data-toggle="modal" href="#referraldetails" aria-expanded="false" aria-controls="collapseExample">Referral Details</a></p>
                    <div class="form-group">
                        <input class="form-control" id="referralEmails" name="referralEmails" type="text" placeholder="Add Friend's Email Address" />
                        <p class="text-danger err_msg" id="err_referralEmails"></p>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Send" />


                    <!-- Modal -->
                    <div class="modal fade" id="referraldetails" tabindex="-1" role="dialog" aria-labelledby="referraldetails">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="text-center modal-title" id="referraldetails">Referral Details</h4> </div>
                                <div class="modal-body">
                                    <table class="table table-hover table-striped" id="tblGrid">
                                        <thead id="tblHead">
                                            <tr>
                                                <th>Email Address</th>
                                                <th>User Name</th>
                                                <th>Status</th>
                                                <th>Service Consumed</th>
                                                <th class="text-right">Rewards you Earned</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>email@email.com</td>
                                                <td>John smith</td>
                                                <td>Active</td>
                                                <td>Activities</td>
                                                <td class="text-right">420</td>
                                            </tr>
                                            <tr>
                                                <td>email@email.com</td>
                                                <td>John smith</td>
                                                <td>Inactive</td>
                                                <td>Activities</td>
                                                <td class="text-right">470</td>
                                            </tr>
                                            <tr>
                                                <td>email@email.com</td>
                                                <td>John smith</td>
                                                <td>In-Progress</td>
                                                <td>Activities</td>
                                                <td class="text-right">675</td>
                                            </tr>
                                            <tr>
                                                <td>email@email.com</td>
                                                <td>John smith</td>
                                                <td>Deleted</td>
                                                <td>Activities</td>
                                                <td class="text-right">370</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- trust_verification -->
            <div class="tab-pane fade" id="trust_verification">
                <div class="head-wrap">
                    <h4 class="tab-heading">Trust &amp; Verification</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="tab-block-row">
                                        <div class="col-xs-12">
                                            <ol class="list-unstyled" style="list-style:decimal">
                                                <li>Getting your Verified ID is the easiest way to help build trust in the Trepr community.</li>
                                                <li>We'll verify you by matching information from an online account to an official ID.</li>
                                                <li>We believe anonymity erodes trust, so we verify the IDs of our Users and Trepers to help ensure the safety of our growing community.</li>
                                                <li>We'll ask for atlest 2 forms of IDs: official ID and online profile. This gives members more information to make a decision about your 'p' service request.</li>
                                            </ol>
                                        </div>
                                    </div>

                                    <?php
                                    if ($this->idTypes) {
                                        foreach ($this->idTypes as $idType) {
                                            ?>
                                            <?php
                                            echo '<div class="tab-block-row"><div class="form-group"><h6 class="sub-heading">' . $idType['identity_name'];
                                            if ($idType['identity_mandatory_country'] == 'all' || $idType['identity_mandatory_country'] != '') {
                                                echo '<span class="text-danger"> *</span>';
                                            }
                                            echo '</h6> <hr class="title-border"></div>';
                                            ?>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <div class="form-group"><label class="control-label">Verify ID</label>
                                                        <input class="form-control" name="verfiyid" value="<?= $this->abtus['verfiyid']; ?>" type="text" /> </div>
                                                </div>
                                            </div>
                                            <?php if ($idType['identity_images_count']) { ?>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Image of ID</label>
                                                            <?php
                                                            $loopCount = 1;
                                                            while ($loopCount <= $idType['identity_images_count']) {
                                                                ?>
                                                                <div class="form-group">
                                                                    <input type="file" name="idverfy" />
                                                                </div>
                                                                <?php
                                                                $loopCount++;
                                                            }
                                                            ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <?php if ($this->abtus['image'] != '') { ?> <img src="<?php echo $this->basePath(); ?><?= $this->generalvar['trips']['trips']['identy']; ?>/<?= $this->abtus['image']; ?>" width="300">
                                            <?php } ?>
                                            <?php if ($idType['identity_note']) { ?>
                                                <div class="row">

                                                    <div class="col-xs-12">
                                                        <div class="alert alert-info">
                                                            <p class="text-small"> <strong>Note:</strong> <?php echo $idType['identity_note'] ?></p>
                                                        </div></div>
                                                </div>
                                            <?php } ?>
                                            <?php
                                            echo '</div>';
                                        }
                                    }
                                    ?>

                                    <!--div class="row">
                                        <div class="form-group"> <img src="<?php echo $this->basePath(); ?>/img/196x110.png" alt="" title="" /> </div>
                                    </div-->

                                    <div class="row"><div class="form-group col-xs-12 mg-top15"> <input type="submit" class="btn btn-primary mg-right5" name="verfyid" value="Update"> <input type="submit" class="btn btn-black" value="Cancel"> </div></div>

                                </div>
                            </div>
                            <div class="tab-block-row">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="accordion" class="panel-group">
                                        <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a href="#verifyID" data-parent="#accordion" data-toggle="collapse">Verify Your ID</a></h4> </div>
                                            <div id="verifyID" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p class="text-justify">Getting your Verified ID is the easiest way to help build trust in the Treper Community. We'll verify you by matching information from an online account to an official ID. <a href="#" class="text-primary">Learn more</a></p>
                                                            <p class="text-justify">Or, you can choose to only add the verifications you want below.</p>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="traity-widget" data-traity-widget='big_reputation'
                                                                        data-traity-app-user-id='<?php echo $this->prof_user_id ?>'
                                                                        data-traity-signature='<?php echo $this->widget_signature ?>'>
                                                                   </div>
                                                                </div>
                                                            </div>
                                                        </div> <button type="button" class="btn btn-primary" id="verifyme">Verify Me</button> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a href="#currentVerifications" data-parent="#accordion" data-toggle="collapse">Current Verifications</a></h4> </div>
                                            <div id="currentVerifications" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                        <div class="tab-block-row">
                                                            <h6 class="sub-heading">Email Address</h6>
                                                            <hr class="title-border">
                                                            <p class="text-justify">You have confirmed your email: testuser@gmail.com. A confirmed email is important to allow us to securely communicate with you.</p>
                                                        </div>
                                                        <div class="tab-block-row">
                                                             <h6 class="sub-heading">Phone Number</h6>
                                                             <hr class="title-border">
                                                            <p class="text-justify">Rest assured, your number is only shared with another Trepr member once you have a confirmed 'P' service.</p>
                                                            <div class="alert alert-info">
                                                                <p class="text-small"><strong>Note:</strong> For more information, text HELP to &lt;&lt;101010&gt;&gt;. To cancel mobile notifications, reply STOP to &lt;&lt;101010&gt;&gt;.</p>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <!-- trust_verification -->
        </div>
        <!-- tab-content pt30 -->
    </div>
</div>