<div class="row">
    <div class="col-md-3">
        <?php
        echo $this->render(
                'layout/includes/myprofile_sidebar', array(
				'active_tab' => 'trustVerification',
				'prof' => $prof,
				'comSessObj' => $comSessObj,
				'reviews'=>$reviews,
				'profPhotosMarked' => $profPhotosMarked,

                )
        );
        ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- trust_verification -->
            <div class="tab-pane fade active in" id="trust_verification">
                <div class="tab-content-inner-wrap clearfix">
                    <div class="head-wrap">
                        <h4 class="tab-heading">Trust &amp; Verification</h4>
                    </div>
                        <div class="tab-block-row">
                            <div class="col-xs-12">
                                <ol class="list-unstyled" style="list-style:decimal">
                                    <li>Getting your Verified ID is the easiest way to help build trust in the Trepr community.</li>
                                    <li>We'll verify you by matching information from an online account to an official ID.</li>
                                    <li>We believe anonymity erodes trust, so we verify the IDs of our Seekers and Trepers to help ensure the safety of our growing community.</li>
                                    <li>We'll ask for atlest 2 forms of IDs: official ID and online profile. This gives members more information to make a decision on Travel service requests that are sent or received.</li>
                                </ol>
                            </div>
                        </div>



                     <!--    -->



                    <div class="tab-block-row">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="accordion" class="panel-group">
                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#verifyPhotoID" data-parent="#accordion" data-toggle="collapse">Verify Photo ID</a></h4> </div>
                                        <div id="verifyPhotoID" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="tab-block-row">
								<div class="verfyid-list-block" >
                                <h4 class="tab-heading text-center">Select ID TYPE</h4>
                                <div class="verfyid-block-inner">
                                    <div class="row">

                                      <?php
                            $inId = 0;

                            if ($this->idTypes) {
                                foreach ($this->idTypes as $idType) {
                                    $mandatoryInputClassName = '';
                                    $mandatoryfileClassName = '';
                                      $inId = (isset($idType['ID']) && !empty($idType['ID'])) ? $idType['ID'] : 0;


                                     echo '<input type="hidden" class="identity_type_id" id="identity_type_id_' . $idType['identity_type_id'] . '" name="ID[' . $idType['identity_type_id'] . ']" value="' . $inId . '" >';
                                    ?>
                                    <input type="hidden" id="identity_type_<?php echo $idType['identity_type_id'] ?>" value="<?php echo $idType['identity_type_id'] ?>" >


                                        <div class="col-sm-4">
										
										<?php if($idType['approved']=="" && $idType['rejected']==""){ ?>
											<div class="id-verified-danger">
												<i class="fa fa-times box-icon-danger round icon-verified-danger"></i>
											<small>NOT  UPLOADED</small>
											</div>
										<?php } else if($idType['approved']==1 && $idType['rejected']==0){ ?>
											<div class="id-verified">
												<i class="fa fa-check box-icon-success round icon-verified"></i>
											<small>APPROVED</small>
											</div>
										<?php }else if($idType['approved']==0 && $idType['rejected']==0){ ?>
										<div class="id-verified-danger">
												<i class="fa fa-times box-icon-danger round icon-verified-danger"></i>
											<small>AWAITING APPROVAL</small>
											</div>
										<?php }else if($idType['approved']==0 && $idType['rejected']==1){ ?>
										<div class="id-verified-danger">
												<i class="fa fa-times box-icon-danger round icon-verified-danger"></i>
											<small>REJECTED</small>
											</div>
										<?php } ?>

                                            <div class="verfyid-list">
                                                <?php if(($idType['verfiyid'] && $idType['rejected']) || empty($idType['verfiyid'])) { ?>
                                             <a class="popup-text" href="#uplad-popup" data-effect="mfp-zoom-out" onclick="placeIdentifyValues('<?php echo ucfirst( $idType['identity_name']);?>','<?php echo ucfirst( $idType['identity_type_id']);?>','<?php echo  $inId?>')">
                                                    <div class="verfyid-list-img">
                                                      <?php
                                                      if (isset($idType['image']) && !empty($idType['image']) && $idType['rejected'] == 0) {
                                                    ?>
                                                <img src="<?php echo $this->basePath(); ?>/public/uploads/user_verification/small/<?php echo $idType['image'] ?>" alt="" title="" />

                                                <?php }else{ ?>
                                                     <img src="<?php echo $this->basePath(); ?>/public/img/upload-info.jpg">
                                                <?php }?>
                                                    </div>
                                                   <?php echo ucfirst( $idType['identity_name']);?>
                                                </a>
                                                <?php } else  {  echo '<strong>'.$idType['identity_name'].'</strong>: '.$idType['verfiyid']; } ?>
                                            </div>
                                        </div>
                                       <?php
                                }
                            }
                            ?>
                            </div>
                             <div class="mfp-with-anim mfp-hide mfp-dialog modal-lg mfp-dialog-tab-document" id="uplad-popup" >
                            <div class="content-load-normal" id="uploading_status" style="display: none;">
                                <div class="dis-tab">
                                    <div class="dis-tab-cel">
                                        <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">
                                        <p id="uploading_status_text"></p></div>
                                </div>
                            </div>
                                     <form action="<?php echo $this->basePath(); ?>/myprofile/uploadverfication" method="post" enctype="multipart/form-data" name="verificationForm" id="verificationForm">
                                       <input type="hidden" class="identity_type_id identity_type_id1" id="identity_type_id" name="ID[]" value="" >
                                        <input type="hidden" class="identity_type" id="identity_type" name="identity_type[]" value="" >
                                        <div class="head-wrap">
                                            <h4 class="tab-heading identity_name">Passport</h4>
                                            <button class="mfp-close" type="button" title="%title%">×</button>
                                        </div>

                                        <div class="popup-tab">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#uploadDocument">Upload Document</a></li>
                                            <li onclick="loadVerifyWebCam()"><a data-toggle="tab" href="#takePhoto">Take Photo</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="uploadDocument" class="tab-pane fade in active">
                                                <div class="mfp-tab-content-document">
                                                    <div class="preview" id="imagePreview">

                                                    </div>
                                                </div>

                                                <div class="mfp-tab-footer text-center">
                                                    <!--<div class="row"><div id="div_verifyid" class="form-group col-xs-12">
                                                    <label style="display: inline-block" for="verifyid" class="control-label">Verify Id <span style="color:red;">&nbsp;*</span></label>
                                                    <input style="display: inline-block; width: auto" type="text" class="form-control required"  id="verifyid"   name="verifyid">
                                                    <p style="margin-bottom: 0" id="err_verifyid" class="text-danger err_msg"></p>
                                                </div></div>-->
                                                    <div class="row">
                                                    <div class="col-xs-12 mfp-tab-btn">
                                                     <p class="text-danger err_msg" id="err_uploadFile"></p>
                                                    <input style="display:none;"  class="img" type="file" id="uploadFile" name="verify_file[]" class="required-file" />
                                                    <span id="OpenImgUpload" class="btn btn-primary mg-right5">Browse</span>

                                                    <button class="btn btn-black" onclick="return validateVerifyForm(0)">Send Document</button>

                                                </div>    </div> </div>



                                            </div>

                                            <div id="takePhoto" class="tab-pane fade">

                                                <div class="mfp-tab-content">
                                                    <div class="preview" id="photoPreview">
                                                       <video id="video"></video>
                                                        <canvas id="canvas" style="display:none;"></canvas>
                                                      <img id="previewPhoto" src="" title="Profile Photo" style="display:none;"/>
                                                    </div>

                                                </div>

                                                <div class="mfp-tab-footer text-center">
                                                 <!--<div class="row"><div id="div_verifyid" class="form-group col-xs-12">
                                                    <label style="display: inline-block" for="verifyid" class="control-label">Verify Id <span style="color:red;">&nbsp;*</span></label>
                                                    <input style="display: inline-block; width: auto" type="text" class="form-control required"  id="verifyid1"   name="verifyid">
                                                    <p style="margin-bottom: 0" id="err_verifyid1" class="text-danger err_msg"></p>
                                                </div></div>-->
                                                     <div class="row">
                                                         <div class="col-xs-12 mfp-tab-btn">

 <!--<button type="button" class="btn btn-black mg-right5" id="startRender" onclick="loadVerifyWebCam();">Open Camera</button>-->
                                                    <button type="button" class="btn btn-primary" id="startbutton">Take Photo</button>
                                                    <button type="button" class="btn btn-black" id="saveverifyid" style="display:none;">Send Document</button>
                                                </div>
</div></div>


                                            </div>
                                        </div>
                                          <div id="div_verify_ids">


                                    </div>
</div>

                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

								<!--<div id="accordion" class="panel-group">
                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#verifyID" data-parent="#accordion" data-toggle="collapse">Verify Online Network</a></h4> </div>
                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#currentVerifications" data-parent="#accordion" data-toggle="collapse">Current Verifications</a></h4> </div>
                                    <div id="currentVerifications" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="tab-block-row">
                                                <h6 class="sub-heading">Email Address</h6>
                                                <hr class="title-border">
                                                <p class="text-justify">You have confirmed your email: <?php echo $prof['email_address'];  ?>. A confirmed email is important to allow us to securely communicate with you.</p>
                                            </div>
                                            <div class="tab-block-row">
                                                <h6 class="sub-heading">Phone Number</h6>
                                                <hr class="title-border">
                                                <p class="text-justify">You have confirmed your Phone No: <?php echo $prof['phone'];  ?>. Rest assured, your number is only shared with another Trepr member once you have a confirmed travel service.</p>
                                                <div class="alert alert-info">
                                                    <p class="text-small"><strong>Note:</strong> For more information, text HELP to &lt;&lt;101010&gt;&gt;. To cancel mobile notifications, reply STOP to &lt;&lt;101010&gt;&gt;.</p>
                                                </div>
                                            </div>

                                            <?php

                                            if ($this->idTypes) {
                                                foreach ($this->idTypes as $idType) {
                                                    ?>
                                                    <div class="tab-block-row">
                                                        <h6 class="sub-heading"><?php echo ucfirst($idType['identity_name']); ?></h6>
                                                        <hr class="title-border">
                                                        <p class="text-justify"><?php echo (isset($idType['approved']) && !empty($idType['approved'])) ? 'Verified' : 'Not yet verified' ?></p>
                                                    </div>
                                                <?php
                                                }
                                            }
                                            ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script>
    function placeIdentifyValues(iName,iId,updateId){
        $('.identity_name').html(iName);
        $('#identity_type').val(iId);
        $('#identity_type_id').val(updateId);
    }
</script>
