<?php    $this->dfcountry = $this->common()->common_model->getCountries();    $this->ldcurrency = $this->common()->common_model->getCurrencies();    $comSessObj = $this->comSessObj;    echo $this->doctype();?>
<html>

<head>
    <meta charset="utf-8">
    <title>ACP - Trepr </title>
    <?= $this->render('layout/admin-top') ?>
        <script>
            var baseurl = '<?php echo $this->basePath() ?>';
        </script>
</head>
<?php    $bodyBg = '';    if($this->pageType == 'login'){        $bodyBg = 'style="background-color:#32323A;"';    } ?>

<body <?php echo $bodyBg ?>>
    <?php     if ($this->flashMessages) {      var_dump($this->flashMessages);exit;    foreach ($this->flashMessages as $context => $messages) {      echo '<div class="message-container ' . $context . '"><ul>';      foreach ($messages as $message) {        echo '<li>' . $message . '</li>';      }      echo '</ul></div>';    }  }?>
    <?php echo $this->layout()->content; ?>
    <div id="check-flight-status" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg white-popup ">
        <div class="content-load-normal" id="flight_status_loading" style="display: none;">
            <div class="dis-tab">
                <div class="dis-tab-cel"> <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif"> </div>
            </div>
        </div>
        <div class="head-wrap">
            <div class="sub-page-header text-left">
                <h4>Flight Status</h4>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div id="flight_status_content"></div>
                </div>
            </div>
        </div>
    </div>
<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlWJke1V2SAp-RnQd4EK7O2J_G9IzgYw"></script-->
</body>

</html>