<!--<link href="<?php echo $this->basePath(); ?>/public/ad_assests/css/global.css" rel="stylesheet" type="text/css">-->
<link href="<?php echo $this->basePath(); ?>/public/ad_assests/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="<?php echo $this->basePath(); ?>/public/ad_assests/css/new-style.css" rel="stylesheet" type="text/css">
<link href="<?php echo $this->basePath(); ?>/public/ad_assests/css/sb-admin.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/dist/bootstrap-tagsinput.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/bootstrap-datepicker3.css" type="text/css"/>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/dist/AdminLTE.min.css" type="text/css"/>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/bootstrap-datetimepicker.css" type="text/css"/>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/jquery.fancybox.css" type="text/css"/>

<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/token-input.css" type="text/css" />
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/token-input-facebook.css" type="text/css" /> 
<script type="text/javascript">
    var config = {
        base: "<?php echo $this->basePath(); ?>",
        someOtherPref: 4
    };
</script>
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/jquery-1.10.2.js"></script>

<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap.js"></script>
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/jquery.tokeninput.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo $this->basePath();?>/public/js/card-payment.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath();?>/public/js/blockUI-2.7.js"></script>
<!--<script type="text/javascript"  src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap.min.js"></script>-->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!--<link href="<?php echo $this->basePath(); ?>/public/ad_assests/css/bootstrap-select.css" rel="stylesheet">
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-select.js"></script>
<script>
 $('.selectpicker').selectpicker();
  </script>-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/ie8.css" type="text/css"/>
<![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-multiselect.js"></script>
<!-- <script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-datepicker.min.js"></script>-->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-datepicker.js"></script>
<!--  <script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-datetimepicker.min.js"></script>-->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/js/jquery.fancybox.js"></script>
<!-- Summernote-Editor include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js)-->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/blackboard.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
<!-- include summernote -->

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/css/magnific.css">
<!-- Magnific Popup core JS file -->
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/magnific.js"></script>

<!--  start date - end date validation -->
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/date_validator.js"></script>
<!--  start date - end date validation -->

<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/ad_assests/editor/summernote.css">
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/ad_assests/editor/summernote.js"></script>
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/typeahead.js"></script>
<script type="text/javascript">
    var ck_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    var ck_username = /^[A-Za-z0-9_]{1,20}$/;
    var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;

    $(document).ready(function () {
        $('.fancybox').fancybox();
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });

        $(".datetimepicker").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true,
            todayBtn: true,
            //pickerPosition: "bottom-left"
            pickerPosition: "bottom-right"
        });
        $(".tagsinput").tagsinput('items');
        $('.multiselect').multiselect({
            includeSelectAllOption: true,
            selectAllName: 'select-all-name',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            maxHeight: 200
        });

        $('.multiselect-count').multiselect({
            selectedList: 2,
            includeSelectAllOption: true,
            selectAllName: 'select-all-name',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            maxHeight: 200,
            buttonWidth: '100%',
            onChange: function (option, checked, select) {
                if (typeof (getSelected) == "function") {
                    getSelected($('.multiselect-count').val());
                }
            }
        });

        $('.text_editor').summernote({
            height: 300,
            tabsize: 2,
            codemirror: {
                theme: 'monokai'
            }
            , onImageUpload: function (files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });
        $('input:checkbox').click(function () {
            //  $(this).screwDefaultButtons("enable"); 	
        });
        $('#checkedAll').change(function () {
            if ($(this).is(':checked')) {
                $('.checkedAll').prop('checked', true);
                //$('.checkedAll').screwDefaultButtons("enable");
            } else {
                $('.checkedAll').prop('checked', false);
                //$('.checkedAll').screwDefaultButtons("disable"); 	
            }
        });

        amountOnly();
        numonly();
        phoneonly();
        charNumOnly();
        daysonly();
        nameOnly();
    });
    function MM_openBrWindow(theURL, winName, features)
    {
        window.open(theURL, winName, features);
    }
    function sendFile(file, editor, welEditable) {
        data = new FormData();
        data.append("file", file);
        url = "<?php echo $this->basePath(); ?>";
        $.ajax({
            data: data,
            type: "POST",
            url: url,
            cache: false,
            contentType: false,
            processData: false,
            success: function (url) {
                editor.insertImage(welEditable, url);
            }
        });
    }
    function setMsg(fieldId, errMsg) {
        $('#div_' + fieldId + ', .token-input-list-facebook').removeClass('has-success').addClass('has-error');
        $('#err_' + fieldId).fadeIn();
        $('#err_' + fieldId).html(errMsg);
        $('#' + fieldId).focus();
    }
    function doSort(id, url) {
        url = url + '&sortBy=' + id;
        if ($("#sort_" + id).hasClass("fa-sort-desc"))
            url = url + '&sortOrder=desc';
        else
            url = url + '&sortOrder=asc';
        /*console.log(url);
        console.log(id);*/
        window.location = url;
    }
    function charNumOnly() {
        $('.charNumOnly').keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                    // Allow: Ctrl+A
                            (e.keyCode == 65 && e.ctrlKey === true) ||
                            // Allow: home, end, left, right
                                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                        e.preventDefault();
                    }
                });
    }
    function daysonly() {
        $(".daysonly").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter

            if (event.keyCode == 189 || event.keyCode == 109 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            // Allow: home, end, left, right
                                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    } else {
                        // Ensure that it is a number and stop the keypress
                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                            event.preventDefault();
                        }
                    }
                });
    }
    function amountOnly() {

        $(".amountOnly").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter

            if (event.keyCode == 16 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                            (event.keyCode == 65 && event.ctrlKey === true) ||
                            // Allow: home, end, left, right
                                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    } else {
                        // Ensure that it is a number and stop the keypress
                        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                            event.preventDefault();
                        }
                    }
                });
    }
    function nameOnly() {
        /* $('.nameOnly').keydown(function() {
         var $th = $(this);
         $th.val( $th.val().replace(/[^a-zA-Z]/g, function(str) { return ''; } ) );
         });*/
        $(".nameOnly").keydown(function (e) {
            // console.log(e.keyCode);
            return onlyAlphabets(e);
        });

    }


    function onlyAlphabets(e) {
        // Allow: backspace, delete, tab, escape and enter
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) ||
                        // Allow: home, end, left, right
                                (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.keyCode < 65 || e.keyCode > 90)) {
                    e.preventDefault();
                }
            }
            function priceOnly() {
                $(".priceOnly").keydown(function (event) {
                    // Allow: backspace, delete, tab, escape, and enter

                    if (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 189 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                            // Allow: Ctrl+A
                                    (event.keyCode == 65 && event.ctrlKey === true) ||
                                    // Allow: home, end, left, right
                                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                // let it happen, don't do anything
                                return;
                            } else {
                                // Ensure that it is a number and stop the keypress
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                                    event.preventDefault();
                                }
                            }
                        });
            }
            function phoneonly() {
                var user_agent = navigator.userAgent.toLowerCase();
                $(".phoneonly").keydown(function (event) {
                    // Allow: backspace, delete, tab, escape, and enter

                    // console.log(event.keyCode);event.preventDefault();
                    if (event.keyCode == 173 || event.keyCode == 107 || event.keyCode == 16 || event.keyCode == 61 || event.keyCode == 109 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || event.keyCode == 48 || event.keyCode == 57 || event.keyCode == 32 ||
                            // Allow: Ctrl+A
                                    (event.keyCode == 65 && event.ctrlKey === true) ||
                                    // Allow: home, end, left, right
                                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                // let it happen, don't do anything

                                return;


                            } else {
                                // Ensure that it is a number and stop the keypress
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                                    event.preventDefault();
                                }
                            }
                        });
            }
            function numonly() {
                $(".numonly").keydown(function (event) {
                    // Allow: backspace, delete, tab, escape, and enter

                    if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                            // Allow: Ctrl+A
                                    (event.keyCode == 65 && event.ctrlKey === true) ||
                                    // Allow: home, end, left, right
                                            (event.keyCode >= 35 && event.keyCode <= 39)) {
                                // let it happen, don't do anything
                                return;
                            } else {
                                // Ensure that it is a number and stop the keypress
                                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                                    event.preventDefault();
                                }
                            }
                        });
            }
            function file_validate(element_id, exts) {
                var file = $('#' + element_id).val();
                //var exts = ['doc','docx','pdf'];
                // first check if file field has any value
                if (file) {
                    // split file name at dot
                    var get_ext = file.split('.');
                    // reverse name to check extension
                    get_ext = get_ext.reverse();
                    // check file type is valid as given in 'exts' array
                    if ($.inArray(get_ext[0].toLowerCase(), exts) > -1)
                        return true;
                    else
                        return false;
                }

            }
// For ajax purpose
            function MakePostRequest(url, parameters, datatype, FnManageList) {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    async: false,
                    contentType: 'application/x-www-form-urlencoded',
                    url: url,
                    data: parameters,
                    dataType: datatype,
                    success: FnManageList,
                    error: FnErrcallback
                });
            }
            function FnErrcallback() {

            }

            $(document).on('keypress change', ".required", function () {
                var ck_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
                var fieldId = $(this).attr('id');
                var fieldVal = $(this).val();
                if (fieldId.indexOf('email') === -1) {
                    var checkEmail = false;
                } else {
                    var checkEmail = true;
                }
                if (fieldId.indexOf('userPassword') === -1) {
                    var checkPassword = false;
                } else {
                    var checkPassword = true;
                }
                if (checkEmail === true) {
                    if (!ck_email.test(fieldVal)) {
                        setMsg(fieldId, 'Please enter a valid email id.');
                    } else {
                        $('#div_' + fieldId).removeClass('has-error').addClass('has-success');
                        $('#err_' + fieldId).html('');
                    }
                } else if (checkPassword === true) {
                    if (!passwordRegex.test(fieldVal)) {
                        setMsg(fieldId, 'Minimum 8  characters, upper and lowercase letters and numeric digit.');
                    } else {
                        $('#div_' + fieldId).removeClass('has-error').addClass('has-success');
                        $('#err_' + fieldId).html('');
                    }
                } else {
                    if (fieldVal == 0) {
                        setMsg(fieldId, '');
                    } else {
                        $('#div_' + fieldId).removeClass('has-error').addClass('has-success');
                        $('#err_' + fieldId).html('');
                    }
                }
            });
            function clrErr() {
                $(".form-group, .checkbox,.col-xs-8").removeClass("has-error");
                $(".err_msg").hide();
            }
            function validateFormFields(fieldName, errMsg, fieldType) {
                
                if (fieldType == 'tinyMce') {
                    var fieldText = tinyMCE.get(fieldName).getContent();
                    //console.log(fieldText);
                    if (fieldText == '') {
                        setMsg(fieldName, errMsg);
                        return true;
                    }
                } else if (fieldType == 'ckeditor') {
                    var fieldText = $('#' + fieldName).code();
                    if (fieldText == '') {
                        setMsg(fieldName, errMsg);
                        return true;
                    }
                } else if (fieldType == 'radioClass') {
                    console.log($('.' + fieldName).is(':checked').length);
                    if ($('.' + fieldName).is(':checked').length == 0) {
                        /*console.log('checked' + fieldType);*/
                        setMsg(fieldName, errMsg);
                        return true;
                    } else {
                        return false
                    }
                } else if (fieldType == 'radio') {
                    if ($("input[name=" + fieldName + "]:checked").length == 0) {
                        setMsg(fieldName, errMsg);
                        return true;
                    } else {
                        return false
                    }
                } else if (fieldType == 'checkbox') {
                    if ($("input[name='" + fieldName + "[]']:checked").length == 0) {
                        setMsg(fieldName, errMsg);
                        return true;
                    } else {
                        return false
                    }
                } else if (fieldType == 'number') {
                    console.log($('#' + fieldName).val());
                    if ($.trim($('#' + fieldName).val()) == '') {
                        setMsg(fieldName, errMsg);
                        return true;
                    } else {
                        return false
                    }
                } else {
                    if (($.trim($('#' + fieldName).val()) == '')) {
                        setMsg(fieldName, errMsg);
                        return true;
                    } else if (fieldType == 'validEmail' && !ck_email.test($('#' + fieldName).val())) {
                        setMsg(fieldName, 'Please enter a valid email id.');
                        return true;
                    } else if (fieldType == 'validUsername' && !ck_username.test($('#' + fieldName).val())) {
                        setMsg(fieldName, 'Please enter a valid username .');
                        return true;
                    } else if (fieldType == 'validPass' && !passwordRegex.test($('#' + fieldName).val()) && ($('#' + fieldName).val())) {
                        setMsg(fieldName, 'Minimum 8  characters, upper and lowercase letters and numeric digit!');
                        return true;
                    } else {
                        return false;
                    }
                }
            }

</script>
<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/fm.checkator.jquery.js"></script>
<script>
            $(function () {
                hideErrorMessages();
                $('input[type=checkbox], input[type=radio]').checkator();
            });

            function isUrlValid(url) {
                return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
            }


            $(document).ready(function () {
                $('#selectall').click(function (event) {  //on click
                    /*console.log('checkeds');*/
                    if (this.checked) {
                        /*console.log('onclick'); // check select status*/
                        $('.sellerCats').each(function () { //loop through each checkbox
                            this.checked = true;  //select all checkboxes with class "checkbox1"              
                        });
                    } else {
                        /*console.log('onclick else');*/
                        $('.sellerCats').each(function () { //loop through each checkbox
                            this.checked = false; //deselect all checkboxes with class "checkbox1"                      
                        });
                    }
                });
            });

            function hideErrorMessages() {
                $('.alert-hide').delay(6000).fadeOut("slow");
            }
            function isOneChecked(name) {
                var checkboxes = document.getElementsByName(name),
                        i = checkboxes.length - 1;
                for (; i > -1; i--) {
                    if (checkboxes[i].checked) {
                        return true;
                    }
                }
                return false;
            }
</script>

<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/navAccordion.min.js"></script>
<script>
            jQuery(document).ready(function () {
                jQuery('.mainNav').navAccordion({
                    expandButtonText: '<i class="fa fa-plus"></i>', //Text inside of buttons can be HTML
                    collapseButtonText: '<i class="fa fa-minus"></i>',
                            selectedExpand: "true"
                },
                        function () {
                            /*console.log('Callback')*/
                        });
  
 


            });
</script>

<script src="<?php echo $this->basePath(); ?>/public/ad_assests/js/jquery.placeholder.js"></script>
<script>
            $(function () {
                $('input, textarea').placeholder({customClass: 'my-placeholder'});
            });

</script>
<style type="text/css">
    .pagination {
        margin:0px !important;
    }
</style>

<script>
            $(function () {
                jQuery('img.svg').each(function () {
                    var $img = jQuery(this);
                    var imgID = $img.attr('id');
                    var imgClass = $img.attr('class');
                    var imgURL = $img.attr('src');
                    jQuery.get(imgURL, function (data) {
                        var $svg = jQuery(data).find('svg');
                        if (typeof imgID !== 'undefined') {
                            $svg = $svg.attr('id', imgID);
                        }
                        if (typeof imgClass !== 'undefined') {
                            $svg = $svg.attr('class', imgClass + ' replaced-svg');
                        }
                        $svg = $svg.removeAttr('xmlns:a');
                        if (!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                            $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                        }
                        $img.replaceWith($svg);
                    }, 'xml');
                });
            });

            $(document).ready(function () {
                var trigger = $('.hamburger'),
                        overlay = $('.overlay'),
                        isClosed = false;

                trigger.click(function () {
                    hamburger_cross();
                });

                function hamburger_cross() {

                    if (isClosed == true) {
                        overlay.hide();
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;
                    } else {
                        overlay.show();
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;
                    }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                    $('body').toggleClass('toggled');
                    $('#sidebar').toggleClass('hide-left-bar');
                    $('#page-wrapper').toggleClass('merge-left');
                });
            });
</script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/nicescroll.js"></script>
<script>    
    $(document).ready(function () {
        $(".leftside-navigation").niceScroll({
             cursorcolor: "#4493CB",
             cursorborder: "1px solid #4493CB",
             cursorborderradius: "0"
        });
        $('[data-numeric]').payment('restrictNumeric');
        $('.form-group-cc-number input').payment('formatCardNumber');
        $('.form-group-cc-date input').payment('formatCardExpiry');
        $('.form-group-cc-cvc input').payment('formatCardCVC');
    });
    $(window).load(function () {resize()});

    function resize() {
        var d = $(".brand").innerHeight();
        var d2 = $(window).height() - d;
        $("#sidebar").innerHeight(d2)
        $("#sidebar").css('top', d);}
    window.onresize = resize;
    
    function validatePaymentCardDetails(){
        clrErr();$noError=true;
        var cardType = $.payment.cardType($('#card_no').val());
        if(!$.payment.validateCardNumber($('#card_no').val())){
            $('#err_card_no').text('Incorrect card number').show();
            $noError = false;
        }
        if(!$.payment.validateCardExpiry($('#card_valid').payment('cardExpiryVal'))){
            $('#err_card_valid').text('Incorrect valid thru').show();
            $noError = false;
        }
        if(!$.payment.validateCardCVC($('#card_cvv').val(), cardType)){
            $('#err_card_cvv').text('Incorrect CVC').show();
            $noError = false;
        }
        if(cardType == 'maestro'){
            if(!$.payment.validateCardExpiry($('#issue_date').payment('cardExpiryVal'))){
                $('#err_issue_date').text('Incorrect issue date').show();
                $noError = false;
            }
            if (validateFormFields('issue_number', 'Please enter issue number.', 'number')) $noError = false;
        }
        if (validateFormFields('holder_name', 'Please enter card holder name.', '')) $noError = false;
        if (validateFormFields('payment_card_type', 'Please select payment card type.', '')) $noError = false;
        if($noError == true){
            $('#card_type').val(cardType)
        }
        return $noError;
    }
    function loadblockUI(msg){
    /*$.blockUI({message: '<div class="alert alert-success"><button onclick="$.unblockUI();" class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span></button><p class="text-small">' + msg + '</p></div>'});*/
    $.blockUI({
        message: '<div class="alert alert-success"><p class="text-small">' + msg + '</p></div>'
    });
}
</script>	