<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        console.log('hash'+hash);
        if(hash != ''){
            if(hash == 'locations'){
                $(' a[href="#locations"]').trigger('click');
            }
        }
        
    });
  
    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        
        if (validateFormFields('name', 'Please enter the country name.', ''))
            $errStaus = true;
        if (validateFormFields('code', 'Please enter the country short code.', ''))
            $errStaus = true;
        if (validateFormFields('currency_code', 'Please enter the currency code.', ''))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Country <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Master Data</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/masterdata/country_list"> Country List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Country</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3>Country Details</h3>
                            </div>
                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" value="<?php echo isset($action) ? $action : ''; ?>">
                            <div class="row">
                                <div id="div_name" class="form-group col-md-6">
                                    <label for="name" class="control-label">Name<span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" placeholder="Name" id="name" value="<?php echo isset($name) ? $name : '' ?>" name="name"> 
                                    <p id="err_name" class="text-danger err_msg"></p>
                                </div>
                                <div id="div_code" class="form-group col-md-6">
                                    <label for="code" class="control-label">Short Code</label>
                                    <input type="text" class="form-control" placeholder="Short Code" id="code" value="<?php echo isset($code) ? $code : '' ?>" name="code">
                                    <p id="err_code" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div id="div_currency_code" class="form-group col-md-6">
                                    <label for="currency_code" class="control-label">Currency Code<span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" placeholder="Currency Code" id="currency_code" value="<?php echo isset($currency_code) ? $currency_code : '' ?>" name="currency_code"> 
                                    <p id="err_currency_code" class="text-danger err_msg"></p>
                                </div>
                                <div id="div_payment_allow" class="form-group col-md-6">
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="payment_allow">
                                            <input <?php echo (isset($payment_allow) && $payment_allow == '1') ? 'checked' : '' ?> type="checkbox" id="payment_allow"  value="1" name="payment_allow" 
                                                   class="checkator_source">
                                            Payment Allowed?</label>
                                        <p class="text-danger err_msg" id="err_payment_allow"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Country Info</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Name</label>
                                    <p><?php echo (isset($adminRow['name']) && $adminRow['name'] != '') ? $adminRow['name'] : '--'; ?></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Short Code</label>
                                    <p><?php echo (isset($adminRow['code']) && $adminRow['code'] != '') ? $adminRow['code'] : '--'; ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Currency Code</label>
                                    <p><?php echo (isset($adminRow['currency_code']) && $adminRow['currency_code'] != '') ? $adminRow['currency_code'] : '--'; ?></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Payment Allowed</label>
                                    <p><?php echo (isset($adminRow['payment_allowed']) && $adminRow['payment_allowed'] == '1') ? 'Yes':'No'; ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>