<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        console.log('hash'+hash);
        if(hash != ''){
            if(hash == 'locations'){
                $(' a[href="#locations"]').trigger('click');
            }
        }
        
    });
  
    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        
        if (validateFormFields('qa_question', 'Please enter the question.', ''))
            $errStaus = true;
        /*if (validateFormFields('qa_answer', 'Please enter the answer.', ''))
            $errStaus = true;*/
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Help <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Master Data</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/masterdata/help"> Help List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Help</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3>Help Details</h3>
                            </div>
                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" value="<?php echo isset($action) ? $action : ''; ?>">
                            <div class="row">
                                <div id="div_qa_question" class="form-group col-md-12">
                                    <label for="qa_question" class="control-label">Question<span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" placeholder="Help Question" id="qa_question" value="<?php echo isset($qa_question) ? $qa_question : '' ?>" name="qa_question">
                                    <p id="err_qa_question" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div id="div_qa_answer" class="form-group col-md-12">
                                    <label for="qa_answer" class="control-label">Answer<span style="color:red;">&nbsp;*</span></label>
                                    <textarea name="qa_answer" cols="40" rows="10" id="qa_answer" class="text_editor">
                                        <?php echo isset($qa_answer) ? $qa_answer : '' ?>
                                    </textarea>
                                    <p id="err_qa_answer" class="text-danger err_msg"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Help Info</h3>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Question</label>
                                <p><?php echo (isset($adminRow['qa_question']) && $adminRow['qa_question'] != '') ? $adminRow['qa_question'] : '--'; ?></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Answer</label>
                                <p><?php echo (isset($adminRow['qa_answer']) && $adminRow['qa_answer'] != '') ? $adminRow['qa_answer'] : '--'; ?></p>
                            </div>
                        </div>

                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>