<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
$pageName = "Item Category";
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($categoryRow) && !empty($categoryRow)) {
    extract($categoryRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        console.log('hash'+hash);
        if(hash != ''){
            if(hash == 'locations'){
                $(' a[href="#locations"]').trigger('click');
            }
        }
        
    });
  
    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        if (validateFormFields('catid', 'Please select category.', '')) $errStaus = true;
        if (validateFormFields('subcatname', 'Please enter the sub category name.', '')) $errStaus = true;
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2><?php echo $pageName ?> <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Master Data</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/masterdata/item-category-list"> <?php echo $pageName ?> List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> <?php echo $pageName ?></li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3><?php echo $pageName ?> Details</h3>
                            </div>
                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" value="<?php echo isset($action) ? $action : ''; ?>">
                            <div class="row">
                                <div id="div_catname" class="form-group col-md-6">
                                    <label for="catid" class="control-label">Category Name<span style="color:red;">&nbsp;*</span></label>
                                    <select id="catid" name="catid" class="form-control">
                                        <option value="">-- Select --</option>
                                        <?php
                                        if($itemCategories){ 
                                            foreach ($itemCategories as $category){ 
                                                $selectedCat = ($catid == $category['ID'])?'selected="selected"':'';
                                                echo '<option '. $selectedCat . 'value="'.$category['ID'].'">'.$category['catname'].'</option>';
                                            }
                                        } ?>
                                    </select>
                                    <p id="err_catid" class="text-danger err_msg"></p>
                                </div>
                                <div id="div_catname" class="form-group col-md-6">
                                    <label for="subcatname" class="control-label">Sub Category Name<span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" placeholder="Sub Category Name" id="subcatname" value="<?php echo isset($subcatname) ? $subcatname : '' ?>" name="subcatname"> 
                                    <p id="err_subcatname" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3><?php echo $pageName; ?> Info</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Category Name</label>
                                    <p><?php echo (isset($categoryRow['catname']) && $categoryRow['catname'] != '') ? $categoryRow['catname'] : '--'; ?></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Sub Category Name</label>
                                    <p><?php echo (isset($categoryRow['subcatname']) && $categoryRow['subcatname'] != '') ? $categoryRow['subcatname'] : '--'; ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Last Modified</label>
                                    <p><?php echo (isset($categoryRow['modified_date']) && $categoryRow['modified_date'] != '') ? $categoryRow['modified_date'] : '--'; ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>