<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($templateRow) && !empty($templateRow)) {
//  
    extract($templateRow);
}  
$ARR_MAIL_TEMPLATES = array(
	1 => 'Referral Mail ',
	2 => 'Request reference',
	3 => 'User - Reset Password',
	4 => 'Seeker - Welcome Email',
	5 => 'Traveller - Welcome Email',
	6 => 'User - Verify Email',
	7 => 'Admin - Verify ID',
	8 => 'Seeker - Verify ID',
        9 => 'Traveller - Verify ID',
        10 =>'Trust Verification Rejected Mail',
        11 =>'Traveller trip request approval mail to admin',
        12 =>'Traveller trip request approved mail',
        13 =>'Traveller trip request rejected mail',
        14 =>'Ticket email to admin',
        15 =>'Request more info to user',
        16 =>'Flight status alert to user',
        17 =>'Contact Us',
	18 =>'Listing Reports',
        19 =>'Connect with Member',
    ); ?>
<script type="text/javascript">
function validateFrm(){
	clrErr();
	$errStaus = false; 
   	if(validateFormFields('template_subject','Please enter subject.',''))$errStaus=true;
	if(validateFormFields('template_content','Please enter mail content.','ckeditor'))$errStaus=true;
 	if($errStaus == false){
		return true;
	}else{
		return false;	
	}
}
 function editStaticPage(val){  
	url = '<?php echo $this->basePath(); ?>/admin/masterdata/mailtemplate?id='+val;
	window.location = url;
}  
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
 <!-- Sidebar -->
 <div id="page-wrapper">
      <div class="wrapper-inner">
          <div class="top-section">
  <div class="row">
   <div class="col-xs-12">
    <h2>Mail Templates  </h2>
     
    
    <ol class="breadcrumb">
          <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
          <li> Master Data </li>
          <li class="active"> Mail Templates</li>
        </ol>
   </div>
  </div></div>
  <!-- /.row -->
  <div id="messageRow">
      <?php  if (!empty($flashMessages)) { ?>
       <div class="row">
           <?php foreach ($flashMessages as $msg) {
               foreach ($msg as $type => $message) {
                   ?>
                <div class="col-xs-12 msg_div">
                 <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                   <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                </div>
            <?php }
        }
        ?>
       </div>
<?php } ?>
  </div>
  <div class="box-white">
   <div class="row">
    <div class="col-xs-12">
     <form action="<?php echo $_SERVER['REQUEST_URI']?>" method="post"  name="accAdminFrm" id="accAdminFrm" onsubmit="return validateFrm()" enctype="multipart/form-data">          <div class="page-header text-left">
       <h3>Mail Template Details </h3>
      </div>
      <div class="row">
       <div class="form-group col-md-6">
        <label class="control-label" for="userFirstName">Template<span style="color:red;">&nbsp;*</span> </label>
        <select name="template_id" class="form-control" id="template_id" onchange="editStaticPage(this.value);return false;">
         <?php 
         foreach($ARR_MAIL_TEMPLATES as $key=>$val){
             $selected = ($key == $templateId)?'selected="selected"':'';
             ?>
          <option value="<?php echo $key?>" <?php echo $selected?> ><?php echo $val?> </option>
         <?php
         }
         ?>
        


        </select><input name="template_name" value="" id="row-template_name" type="hidden" value="<?php echo isset($template_name)?$template_name:''?>">    
        <p class="text-danger err_msg" id="err_template_id"></p>
       </div>
       <div class="form-group col-md-6" id="div_template_subject">
        <label class="control-label" for="template_subject">Subject<span style="color:red;">&nbsp;*</span></label>
        <input name="template_subject" value="<?php echo isset($template_subject)?$template_subject:''?>" id="template_subject" placeholder="Title" class="form-control required" type="text">              <p class="text-danger err_msg" id="err_template_subject"></p>
       </div>
      </div>
      <div class="row">
       <div class="form-group col-xs-12" id="div_template_content">
        <label class="control-label" for="template_content">Mail Content<span style="color:red;">&nbsp;*</span></label>
       <textarea name="template_content" cols="40" rows="10" id="template_content" class="text_editor" style="display: none;">
            <?php echo isset($template_content)?$template_content:'' ?>
        </textarea>
         <p class="text-danger err_msg" id="err_template_content"></p>
       </div>
      </div>
      <div class="row">
       <div class="col-xs-12">
        <button name="subAdminBtn" type="submit" value="true" id="subAdminBtn" class="btn btn-success">Submit</button>&nbsp;<button name="resetSubAdminBtn" type="reset" value="true" id="resetSubAdminBtn" class="btn btn-warning">Reset</button>            </div>
      </div>
     </form> </div>
   </div>
  </div>
 </div></div>
</div>


