<?php 
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/masterdata/message_list';

    $searchArray = array('message_username'=>'UserName');

$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
?>
<script type="text/javascript">
    function doActionFn(action, id, formId) {
        if (action == 'edit' || action == 'view') {
            /*window.location = '<!?php echo $this->basePath() . '/admin/seekermanager'; ?>?action=' + action + '&id=' + id;*/
        } else {
            $('#doAction').val(action);
            if (id != 'all' && $('#checked_' + id).length) {
                $('.checkedAll').prop('checked', false);
                $('#checked_' + id).prop('checked', true);
            }
            /*else if(id == 'all'){
                $('.checkedAll').prop('checked', true);
            }*/
            var checkBox = false;
            $.each($("input[name='ids[]']:checked"), function () {
                checkBox = true;
            });
            if (checkBox == false) {
                $('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');
                return false;
            }
            if (action == 'delete') {
                if (confirm("Are you sure you want to delete?")) {
                    $('#'+formId).submit();
                }
            } else {
                $('#'+formId).submit();
            }
        }
    }

</script>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Report<small>List</small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li class="active">Master Data</li>
                            <li class="active">Report List</li>
<!--                            <li class="active"><?php /*echo ucfirst($pageType);*/ ?></li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                        <div class="col-xs-12 msg_div">
                            <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    <span aria-hidden="true">×</span>
                                </button><?php echo $message; ?>
                            </div>
                        </div>
                    <?php } 
                    } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="searchbox-wrap">
                            <div class="page-header text-left">
                                <h3>Search</h3>
                            </div>
                            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl ?>"> 
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="searchKey" class="control-label">Search Key</label>
                                        <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey']) ? $filterData['searchKey'] : '' ?>" name="searchKey">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="searchBy" class="control-label">Search By</label>
                                        <select id="searchBy" class="form-control" name="searchBy">
                                            <option selected="selected" value="">Select</option>
                                            <?php
                                            if (is_array($searchArray)) {
                                                foreach ($searchArray as $key => $val) {
                                                    $searchBy = isset($filterData['searchBy']) ? $filterData['searchBy'] : '';
                                                    $selected = ($key == $searchBy) ? 'selected="selected"' : '';
                                                    ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>              
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;
                                        <button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3>Custom settings </h3>
                                        </div>
                                        <div class="disp_dropdown">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <?php 
                                $sortBy = 'custom_Id';
                                $sortOrder = 'asc';
                                $arrGet = $_GET;
                                if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                    $sortBy = $_GET['sortBy'];
                                    $sortOrder = $_GET['sortOrder'];
                                }
                                if (isset($arrGet)) {
                                    unset($arrGet['sortBy']);
                                    unset($arrGet['sortOrder']);
                                    $listUrl = $this->basePath() . '/admin/masterdata/message_list?' . http_build_query($arrGet);
                                    $listUrl1 = $this->basePath() . '/admin/masterdata/message_list?' . http_build_query($arrGet);
                                }
                                ?>
                                <form id="customForm" name="customForm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                                    <input type="hidden" name="doAction" id="doAction" value="" />
                                    <input type="hidden" name="pageType" value="custom" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
<!--                                                <a href="<?php /*echo $this->basePath().'/admin/ajax/downloadCustomSettings';*/?>" class="btn btn-warning"/>Export </a>-->
<!--                                                    <a href="#uploadCustom" class="add_custom btn btn-success"/>Import </a>-->
<!--                                                    <a href="#addEditCustom" class="add_message_settings btn btn-primary"/>Add </a>-->
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-hover tablesorter">
                                                <thead>
                                                <input type="hidden" value="<?php echo isset($listUrl)?$listUrl:''; ?>" name="listUrl">
                                                <tr>
                                                    <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" > </th>
                                                    <th style="width:20px;">#</th>
                                                    <th onclick="doSort('message_from', '<?php echo $listUrl; ?>');" class="doSort-cursor">User Name From<i id="sort_message_from" class="fa <?php if ($sortBy != 'message_from') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('message_to', '<?php echo $listUrl; ?>');" class="doSort-cursor">User Name To<i id="sort_message_to" class="fa <?php if ($sortBy != 'message_to') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('message_tripid', '<?php echo $listUrl; ?>');" class="doSort-cursor">Trip Id<i id="sort_message_tripid" class="fa <?php if ($sortBy != 'message_tripid') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                      <th onclick="doSort('message_subject', '<?php echo $listUrl; ?>');" class="doSort-cursor">Subject<i id="sort_message_subject" class="fa <?php if ($sortBy != 'message_subject') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('message_content', '<?php echo $listUrl; ?>');" class="doSort-cursor">Messasge<i id="sort_message_content" class="fa <?php if ($sortBy != 'message_content') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('message_created', '<?php echo $listUrl; ?>');" class="doSort-cursor">Created<i id="sort_message_created" class="fa <?php if ($sortBy != 'message_created') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th>Action </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    if (!empty($paginator->getTotalItemCount())) { // currentPageNumber
                                                        $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
                                                        foreach ($paginator as $message) {
                                                    ?>
                                                        <tr class="countryRow">
                                                            <td><input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $message['message_id'] ?>" value="<?php echo $message['message_id'] ?>" name="ids[]"></td>
                                                            <td><?php echo $sno ?></td>
                                                            <td class="message_from" data-code="<?php echo $message['message_from']?>" ><?php echo ($message['message_from'] != '')?$message['message_from']:'--'; ?></td>
                                                             <td class="message_to" data-code="<?php echo $message['message_to']?>" ><?php echo ($message['message_to'] != '')?$message['message_to']:'--'; ?></td>
                                                            <td class="message_tripid" data-code="<?php echo $message['message_tripid'] ?>"><?php echo ($message['message_tripid'] != '')?$message['message_tripid']:'--'; ?></td>
                                                             <td class="message_subject" data-code="<?php echo $message['message_subject'] ?>" ><?php echo $message['message_subject']?> </td>
                                                            <td class="message_content" data-code="<?php echo $message['message_content'] ?>" ><?php echo $message['message_content']?> </td>
                                                            <td class="message_created"><?php echo date("d/m/Y",$message['message_created']); ?></td>
                                                            <td>
                                                                <?php 
                                                                    echo '&nbsp;<a href="#addEditCustom" type="button" class="btn btn-primary btn-xs btn-view add_message_settings" data-toggle="tooltip" data-edit_id="'.$message['message_id'].'" title="Edit"></a>';
                                                                    echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\',' . $message['message_id'] . ',\'customForm\');"></button>';
                                                                ?>
                                                            </td>
                                                        </tr>
                                                    <?php
                                                            $sno++;
                                                        }
                                                    } else {
                                                    ?>
                                                        <tr>
                                                            <td colspan="9" class="text-center">No records found.</td>
                                                        </tr>
                                                    <?php
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="new-act-buttons disp_inline_fl">
                                                <p><span class="w-select">With Selected</span>
                                                    <button onclick="doActionFn('delete', 'all','customForm');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                                                </p>
                                            </div>
                                            <div class="disp_dropdown">

                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 text-right">
                                            <div class="new-pagnav">
                                                <?php
                                                echo $this->paginationControl(
                                                    $this->paginator, 'sliding', 'layout/paginator.phtml',
                                                    array('route' => 'admin_message_list','additioanlParams'=>'messagelist')
                                                );
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="addEditCustom" class="white-popup mfp-hide">
                                    <div class="head-wrap panel-header">
                                        <h4 class="tab-heading">Message Details </h4>
                                    </div>
                                    <hr>
                                    <form id="addEditCountryForm" name="addEditCountryForm" action="" method="post" role="form">
                                        <div class="panel-body">
                                            <p id="err_alreadyExistCountrySelected" class="text-danger err_msg"></p>
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label for="message_from" class="control-label">From</label>
                                                   <input class="form-control" type="text" id="message_from" name="message_from" disabled="disable"/>
                                                    <p id="err_message_from" class="text-danger err_msg"></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="message_to" class="control-label">To</label>
                                                   <input class="form-control" type="text" id="message_to" name="message_to" disabled="disable"/>
                                                    <p id="err_message_to" class="text-danger err_msg"></p>
                                                </div>
                                               
                                            </div>
                                              <div class="row form-group">
                                                   <div class="col-md-6">
                                                    <label for="message_tripid" class="control-label">Trip Id Number</label>
                                                    <input class="form-control" type="text" id="message_tripid" name="message_tripid" disabled="disable"/>
                                                    <p id="err_message_tripid" class="text-danger err_msg"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="country_price" class="control-label">Created</label>
                                                    <input class="form-control" type="text" id="message_created" name="message_created" disabled="disable"/>
                                                    <p id="err_message_created" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                
                                                <div class="col-md-12">
                                                    <label for="message_subject" class="control-label">Subject</label>
                                                   <input class="form-control" type="text" id="message_subject" name="message_subject" disabled="disable"/>
                                                    <p id="err_message_subject" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                
                                                <div class="col-md-12">
                                                    <label for="message_content" class="control-label">Message</label>
                                                    <textarea class="form-control" type="text" id="message_content" name="message_content" disabled="disable"></textarea>
                                                    <p id="err_message_content" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
<!--                                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>-->
                                                    <button class="btn btn-warning" id="addEditDistanceCancel" value="true" type="button" name="cancelBtn">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
                <div id="showActionErr"></div>
            </div>
        </div>
    </div>
</div>
<!--link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script-->
<script type="text/javascript">
    $('.add_custom').magnificPopup({
        type:'inline',
        preloader: false,
        modal: true,
        callbacks: {
            beforeOpen: function() {
                clrErr();
                if($(window).width() < 700) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
                var currEl = this.st.el[0];
                $('#editDistanceId').val($(currEl).attr('data-edit_id'));
                var currRow = $(currEl).closest('.distanceRow');
                $('#distance_from').val(currRow.find('.distance_from').text());
                $('#distance_to').val(currRow.find('.distance_to').text());
                $('#distance_price').val(currRow.find('.distance_price').text());
                $('#distance_currency').val(currRow.find('.distance_currency').text());
            }
        }
    });
    $(document).on('click', '#addEditDistanceCancel', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
        $('#editDistanceId').val('');
    });
    
    $('.add_message_settings').magnificPopup({
        type:'inline',
        preloader: false,
        modal: true,
        callbacks: {
            beforeOpen: function() {
                clrErr();
                var currEl = this.st.el[0];
                $('#editCustomId').val($(currEl).attr('data-edit_id'));
                var currRow = $(currEl).closest('.countryRow');
                $('#message_from').val(currRow.find('.message_from').text());
                $('#message_to').val(currRow.find('.message_to').text());
                $('#message_tripid').val(currRow.find('.message_tripid').text());
                 $('#message_subject').val(currRow.find('.message_subject').text());
                $('#message_content').val(currRow.find('.message_content').text());
                $('#message_created').val(currRow.find('.message_created').text());
            }
        }
    });
    $(document).on('click', '#addEditCountryCancel, #addEditCountryUploadCancel', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
        $('#editCustomId').val('');
    });
    
    function validateSettingsUpForm(){
        clrErr();
        $errStaus = false;
         
        if (validateFormFields('uploadCustomSettings', 'Please upload a file.', ''))
            $errStaus = true;
        if (!file_validate('uploadCustomSettings',['csv'])){
            $('#err_uploadCustomSettings').html('please upload a valid csv file').show();
            $errStaus = true;
        }

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
    
    function validateSettingsCountryForm(){
        clrErr();
        $errStaus = false;
        if (validateFormFields('custom_Countryname', 'Please select country name.', ''))
            $errStaus = true;
        if (validateFormFields('custom_Localcurrencys', 'Please enter the LocalCurrency price.', ''))
            $errStaus = true;
        if (validateFormFields('custom_Localpounds', 'Please enter Local Pounds price.', ''))
            $errStaus = true;
        if (validateFormFields('custom_Link', 'Please enter the Link.', ''))
            $errStaus = true;
         if (validateFormFields('country_currency', 'Please select country currency.', ''))
            $errStaus = true;
            if (validateFormFields('country_currency2', 'Please select country currency.', ''))
            $errStaus = true;
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
    
    function checkCountrySettingsAlreadyAdded(){
        clrErr();
        $('#subAdminBtn').attr('disabled',false);
        if($('#country_from').val() != '' && $('#country_to').val() != ''){
            $.ajax({
                method: "POST",
                url: "<?php echo $this->basePath().'/admin/ajax/checkCountryPriceAdded'; ?>",
                data: { 
                    country_from: $('#country_from').val(), 
                    country_to: $('#country_to').val(), 
                    user_type:'seeker', 
                    service_type:'people',
                    edit_id: $('#editCustomId').val()
                },
                success:function(data){
                    var resObj = JSON.parse(data);
                    if(resObj.result == 'exist'){
                        $('#err_alreadyExistCountrySelected').text('Already added price for selected countries. Please go for edit.').show();
                        $('#subAdminBtn').attr('disabled',true);
                    }
                    else{
                        $('#subAdminBtn').attr('disabled',false);
                    }
                }
            });
        }
    }
    
   
</script>

