<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
$pageName = "Task Category";
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($categoryRow) && !empty($categoryRow)) {
    extract($categoryRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript"> 
     
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        if (validateFormFields('catname', 'Please enter the category name.', '')) $errStaus = true;
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2><?php echo $pageName ?> <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Master Data</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/masterdata/task-category-list"> <?php echo $pageName ?> List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> <?php echo $pageName ?></li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form enctype="multipart/form-data" onsubmit="return validateSubCategoryForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3><?php echo $pageName ?> Details</h3>
                            </div>
                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" value="<?php echo isset($action) ? $action : ''; ?>">
                            <div class="row">
                                <div id="div_catname" class="form-group col-md-6">
                                    <label for="name" class="control-label">Category Name <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" placeholder="Category Name" id="catname" value="<?php echo isset($catname) ? $catname : '' ?>" name="catname"> 
                                    <p id="err_catname" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="page-header text-left col-xs-8">
                                    <div class="">
                                        <h3>Sub <?php echo $pageName ?> Details</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Sub Category Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="subCategoryItems">
                                            <?php if($subCategoryRow){
                                                foreach ($subCategoryRow as $key=>$subCat){ $sNo = $key+1; ?>
                                            <tr>
                                                <td class="s_no"><?php echo $sNo ?></td>
                                                <td class="subCatName">
                                                    <input class="form-control subCategories" type="text" name="subCategories[update][<?php echo $subCat['subcatid'] ?>]" id="subCategory_<?php echo $sNo ?>" value="<?php echo $subCat['subcatname'] ?>" />
                                                    <p id="err_subCategory_<?php echo $sNo ?>" class="text-danger err_msg"></p>
                                                </td>
                                                <td class="actionCol">
                                                    <button type="button" class="btn btn-danger btn-xs btn-delete deleteSubCat" data-toggle="tooltip" title="" data-original-title="Delete"></button>
                                                    <button type="button" class="btn btn-success btn-xs btn-add addNewSubCategory" data-toggle="tooltip" title="" data-original-title="Add"></button>
                                                </td>
                                            </tr>
                                            <?php }
                                            } else { ?>
                                                <tr id="noSubCatFound" class="text-center">
                                                    <td colspan="3">No Sub Categories Found. <button type="button" class="btn btn-success btn-xs  btn-add addNewSubCategoryFresh" data-toggle="tooltip" title="" data-original-title="Add"></button></td>
                                                </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3><?php echo $pageName; ?> Info</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Category Name</label>
                                    <p><?php echo (isset($categoryRow['catname']) && $categoryRow['catname'] != '') ? $categoryRow['catname'] : '--'; ?></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Last Modified</label>
                                    <p><?php echo (isset($categoryRow['modified_date']) && $categoryRow['modified_date'] != '') ? $categoryRow['modified_date'] : '--'; ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Sub <?php echo $pageName; ?> Info</h3>
                        </div>
                        <div class="col-xs-12">
                            <?php if($subCategoryRow){
                                foreach ($subCategoryRow as $subCat){ ?>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <p><?php echo $subCat['subcatname']; ?></p>
                                        </div>
                                    </div>
                            <?php }
                            } else { ?>
                                <div class="row">
                                        <div class="form-group col-md-4">
                                            <p>No sub categories available </p>
                                        </div>
                                    </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>
<div id="addEditItemCategory" class="white-popup mfp-hide">
    <div class="head-wrap panel-header">
        <h4 class="tab-heading">Add Task Sub Category </h4>
    </div>
    <hr>
    <form class="itemCategoryForm" id="itemCategoryForm" name="itemCategoryForm" action="" method="post" role="form" onsubmit="return validateSubCategoryAddForm();">
        <input type="hidden" name="pageType" value="item_product_category" />
        <input type="hidden" name="catid" id="catid" value="<?php echo ($action == 'edit')?$id:0; ?>" />
        <div class="panel-body">
            <p id="err_alreadyExistSubCategory" class="text-danger err_msg"></p>
            <div class="row form-group">
                <div class="col-sm-6">
                    <label for="subcatname" class="control-label">Task Sub Category <span style="color:red;">&nbsp;*</span></label>
                    <input type="text" name="subcatname" id="subcatname" class="form-control" value="" />
                    <p id="err_subcatname" class="text-danger err_msg"></p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row form-group">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>
                    <button class="btn btn-warning" id="addEditItemCategoryCancel" value="true" type="button" name="cancelBtn">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#subCategoryItems').on('click','.addNewSubCategory',function(){
        var newSubCat = $(this).closest('tr').clone();
        var newSNo = parseInt($(this).closest('tr').index())+2;
        newSubCat.find('td.s_no').text(newSNo);
        newSubCat.find('td .subCategories').val('').attr('name','subCategories[add][]').attr('id', 'subCategory_'+newSNo);
        newSubCat.find('td .err_msg').attr('id','err_subCategory_'+newSNo).text('').hide();
        $(this).closest('tr').after(newSubCat);
    });
    
    $('#subCategoryItems').on('click','.addNewSubCategoryFresh',function(){
        var newSubCatRow = '<tr>'
                                +'<td class="s_no">1</td>'
                                +'<td class="subCatName">'
                                    +'<input class="form-control subCategories" type="text" name="subCategories[add][]" id="subCategory_1" value="" />'
                                    +'<p id="err_subCategory_1" class="text-danger err_msg"></p>'
                                +'</td>'
                                +'<td class="actionCol">'
                                    +'<button type="button" class="btn btn-danger btn-xs btn-delete deleteSubCat" data-toggle="tooltip" title="" data-original-title="Delete"></button>'
                                    +'&nbsp;<button type="button" class="btn btn-success btn-xs btn-add addNewSubCategory" data-toggle="tooltip" title="" data-original-title="Add"></button>'
                                +'</td>'
                            +'</tr>';
       $('#noSubCatFound').remove();
       $('#subCategoryItems').append(newSubCatRow);
    });
    
    $('#subCategoryItems').on('click','.deleteSubCat',function(){
       $(this).closest('tr').remove();
       if($('.subCategories').length == 0){
           var noRecordsFound = '<tr id="noSubCatFound" class="text-center"><td colspan="3">No Sub Categories Found. <button type="button" class="btn btn-success btn-xs  btn-add addNewSubCategoryFresh" data-toggle="tooltip" title="" data-original-title="Add"></button></td></tr>';
           $('#subCategoryItems').append(noRecordsFound);
       }
    });
    
    $('.add_sub_category').magnificPopup({
        type:'inline',
        preloader: false,
        modal: true,
        callbacks: {
            beforeOpen: function() {
                clrErr();
                if($(window).width() < 700) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
                var currEl = this.st.el[0];
                $('#catid').val(<?php echo (isset($id) && $id != '')?$id:0 ?>);
                $('#subcatname').val('');
            }
        }
    });
    
    $(document).on('click', '#addEditItemCategoryCancel', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
    });
    
    function validateSubCategoryForm(){
        clrErr();
        $errStaus = false;
        if (validateFormFields('catname', 'Please enter category name.', ''))
            $errStaus = true;
        if($('.subCategories').length > 0){
            $('.subCategories').each(function(){
                if (validateFormFields(this.id, 'Please enter sub category name.', ''))
                    $errStaus = true;
            });
        }
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
    
    function validateSubCategoryAddForm(){
        clrErr();
        $errStaus = false;
        if (validateFormFields('subcatname', 'Please enter category name.', ''))
            $errStaus = true;
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>