<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        console.log('hash'+hash);
        if(hash != ''){
            if(hash == 'locations'){
                $(' a[href="#locations"]').trigger('click');
            }
        }
        
    });
  
    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        
        if (validateFormFields('testimonial_Name', 'Please enter the testimonial name.', ''))
            $errStaus = true;
        if (validateFormFields('testimonial_Description', 'Please enter the testimonial description.', ''))
            $errStaus = true;
        if(action != 'edit'){
            if (validateFormFields('testimonial_Image', 'Please upload an image.', ''))
                $errStaus = true;
        }
        if($('#testimonial_Image').val() != '') {
            var ext = $('#testimonial_Image').val().split('.').pop().toLowerCase();
            var allow = new Array('gif','png','jpg','jpeg');
            if($.inArray(ext, allow) == -1 ){
                setErr('testimonial_Image','Please upload valid image!');
                $errStaus = true;
            }
        }

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Testimonial <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Master Data</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/masterdata/testimonial"> Testimonial List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Testimonial</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3>Testimonial Details</h3>
                            </div>
                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" value="<?php echo isset($action) ? $action : ''; ?>">
                            <div class="row">
                                <div id="div_testimonial_Name" class="form-group col-md-6">
                                    <label for="testimonial_Name" class="control-label">Name<span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" placeholder="Testimonial Name" id="testimonial_Name" value="<?php echo isset($testimonial_Name) ? $testimonial_Name : '' ?>" name="testimonial_Name">
                                    <p id="err_testimonial_Name" class="text-danger err_msg"></p>
                                </div>
                                <div id="div_testimonial_Position" class="form-group col-md-6">
                                    <label for="testimonial_Position" class="control-label">Position</label>
                                    <input type="text" class="form-control" placeholder="Position" id="testimonial_Position" value="<?php echo isset($testimonial_Position) ? $testimonial_Position : '' ?>" name="testimonial_Position">
                                    <p id="err_testimonial_Position" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div id="div_testimonial_Description" class="form-group col-md-6">
                                    <label for="testimonial_Description" class="control-label">Description<span style="color:red;">&nbsp;*</span></label>
                                    <textarea name="testimonial_Description" cols="40" rows="10" id="testimonial_Description" class="text_editor">
                                        <?php echo isset($testimonial_Description) ? $testimonial_Description : '' ?>
                                    </textarea>
                                    <p id="err_testimonial_Description" class="text-danger err_msg"></p>
                                </div>
                                <div id="div_testimonial_Image" class="form-group col-md-6">
                                    <label for="testimonial_Image" class="control-label">Image <span style="color:red;">&nbsp;*</span></label>
                                    <input type="file" class="form-control required"  id="testimonial_Image" name="testimonial_Image">
                                    <p id="err_testimonial_Image" class="text-danger err_msg"></p>

                                    <?php
                                    if(isset($adminRow['testimonial_Image']) && !empty($adminRow['testimonial_Image'])){
                                        echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/testimonials/medium/'.$adminRow['testimonial_Image'].'" alt="" title="">';
                                        echo '<input type="hidden" name="testimonial_Image_txt" value="'.$adminRow['testimonial_Image'].'">';
                                    }
                                    ?>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Testimonial Info</h3>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Name</label>
                                <p><?php echo (isset($adminRow['testimonial_Name']) && $adminRow['testimonial_Name'] != '') ? $adminRow['testimonial_Name'] : '--'; ?></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Position</label>
                                <p><?php echo (isset($adminRow['testimonial_Position']) && $adminRow['testimonial_Position'] != '') ? $adminRow['testimonial_Position'] : '--'; ?></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Description</label>
                                <p><?php echo (isset($adminRow['testimonial_Description']) && $adminRow['testimonial_Description'] != '') ? $adminRow['testimonial_Description'] : '--'; ?></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Image</label>
                                <p>
                                    <?php
                                    if(($adminRow['testimonial_Image']) && $adminRow['testimonial_Image'] != ''){ ?>
                                        <img class="img-responsive" src="<?php echo $this->basePath() . '/public/uploads/testimonials/medium/'.$adminRow['testimonial_Image']; ?>" />
                                    <?php  } ?>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>