<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/masterdata/testimonial';

$filterByStatus = array(
    'Disabled' => 'Disabled',
    'Enabled' => 'Enabled'
);
$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
$searchArray = array(
    'testimonial_Name'  =>  'Name',
    'testimonial_Description'  =>  'Description'
    );
?>
<script type="text/javascript">
    function doActionFn(action, id) {
        if (action == 'edit' || action == 'view') {
            window.location = '<?php echo $this->basePath() . '/admin/masterdata/testimonial_manager'; ?>?action=' + action + '&id=' + id;
        } else {
            $('#doAction').val(action);
            if (id != 'all' && $('#checked_' + id).length) {
                $('.checkedAll').prop('checked', false);
                $('#checked_' + id).prop('checked', true);
            }
            var checkBox = false;
            $.each($("input[name='ids[]']:checked"), function () {
                checkBox = true;
            });
            if (checkBox == false) {
                $('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');
                return false;
            }
            if (action == 'delete') {
                if (confirm("Are you sure you want to delete?")) {
                    $('#listFrm').submit();
                }
            } else {
                $('#listFrm').submit();
            }
        }
    }

</script>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Testimonial  <small>List</small> </h2>
                    <ol class="breadcrumb">
                        <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                        <li class="active">Master Data</li>
                        <li class="active">Testimonial List</li>
                        <li class="pull-right"><a href="<?php echo $this->basePath();?>/admin/masterdata/testimonial_manager"> +  Add Testimonial </a></li>
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
<?php
if (!empty($flashMessages)) {
    ?>
                    <div class="row">
                    <?php
                    foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) {
                            ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                                </div>
        <?php } ?>
                        <?php } ?>
                    </div>
                    <?php } ?>
            </div>
            <div class="box-white">
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="searchbox-wrap">
                            <div class="page-header text-left">
                                <h3>Search</h3>
                            </div>
                            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl ?>"> 
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="searchKey" class="control-label">Search Key</label>
                                        <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey']) ? $filterData['searchKey'] : '' ?>" name="searchKey">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="searchBy" class="control-label">Search By</label>
                                        <select id="searchBy" class="form-control" name="searchBy">
                                            <option selected="selected" value="">Select</option>
                                            <?php
                                            if (is_array($searchArray)) {
                                                foreach ($searchArray as $key => $val) {
                                                    $searchBy = isset($filterData['searchBy']) ? $filterData['searchBy'] : '';
                                                    $selected = ($key == $searchBy) ? 'selected="selected"' : '';
                                                    ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="activeStatus" class="control-label">Status</label>
                                        <select id="activeStatus" class="form-control" name="activeStatus">
                                            <?php $activeStatusSelected = isset($activeStatus)?$activeStatus:''; ?>
                                            <option <?php echo ($activeStatusSelected == '')?'selected="selected" ':'' ?> value="">Select</option>
                                            <option <?php echo ($activeStatusSelected == '1')?'selected="selected" ':'' ?> value="1">Active</option>
                                            <option <?php echo ($activeStatusSelected == '0')?'selected="selected" ':'' ?> value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;<button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3>Testimonial List </h3>
                                        </div>
                                        <div class="disp_dropdown">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <?php
                            $sortBy = 'name';
                            $sortOrder = 'asc';
                            $arrGet = $_GET;
                            if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                $sortBy = $_GET['sortBy'];
                                $sortOrder = $_GET['sortOrder'];
                            }
                            if (isset($arrGet)) {
                                unset($arrGet['sortBy']);
                                unset($arrGet['sortOrder']);
                                $listUrl = $this->basePath() . '/admin/masterdata/testimonial?' . http_build_query($arrGet);
                                $listUrl1 = $this->basePath() . '/admin/masterdata/testimonial?' . http_build_query($arrGet);
                            }
                            ?>
                            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                                <input type="hidden" id="doAction" value="" name="doAction">
                                <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <input type="hidden" value="<?php echo $listUrl ?>" name="listUrl">
                                        <tr>
                                            <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" > </th>
                                            <th style="width:20px;">#</th>
                                            <th onclick="doSort('testimonial_Name', '<?php echo $listUrl; ?>');" class="doSort-cursor">Name <i id="sort_name" class="fa <?php if ($sortBy != 'testimonial_Name') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('testimonial_Description', '<?php echo $listUrl; ?>');" class="doSort-cursor">Description <i id="sort_code" class="fa <?php if ($sortBy != 'testimonial_Description') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th style="width:100px">Image</th>
                                            <th style="width:100px">Status</th>
                                            <th style="width:170px;">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <?php
                                            if (!empty($paginator->getTotalItemCount())) { // currentPageNumber
                                                $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
                                                foreach ($paginator as $adminRow) {
                                            ?>
                                                <tr>
                                                    <td><input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $adminRow['ID'] ?>" value="<?php echo $adminRow['ID'] ?>" name="ids[]"></td>
                                                    <td><?php echo $sno ?></td>
                                                    <td><?php echo $adminRow['testimonial_Name'] ?></td>
                                                    <td><?php echo $adminRow['testimonial_Description'] ?></td>
                                                    <td><img class="img-responsive" src="<?php echo $this->basePath() . '/public/uploads/testimonials/small/'.$adminRow['testimonial_Image']; ?>" /></td>
                                                    <td><?php if ($adminRow['active'] == 1) echo '<span class="label label-success">Active</span>';
                                                        else echo '<span class="label label-warning">Inactive</span>'; ?></td>
                                                    <td><?php
                                                        if ($adminRow['active'] == 0) {
                                                            $enabled = 'disabled';
                                                        } else
                                                            $enabled = '';
                                                        if ($adminRow['active'] == 1) {
                                                            $disabled = 'disabled';
                                                        } else
                                                            $disabled = '';
                                                        echo '<button type="button" ' . $disabled . ' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\',' . $adminRow['ID'] . ');"></button>';
                                                        echo '<button type="button" ' . $enabled . ' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\',' . $adminRow['ID'] . ');"></button>';
                                                        echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'edit\',' . $adminRow['ID'] . ');"></button>';
                                                        echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'view\','.$adminRow['ID'].');"></button>';
                                                        echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\',' . $adminRow['ID'] . ');"></button>';
                                                    ?></td>
                                                </tr>
                                                <?php
                                                    $sno++;
                                                }
                                            }else {
                                                ?>
                                                <tr>
                                                    <td colspan="8" class="text-center">No records found.</td>
                                                </tr>
                                                <?php
                                            }
                                            ?>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="new-act-buttons disp_inline_fl">
                            <p><span class="w-select">With Selected</span>
                                <button onclick="doActionFn('enable', 'all');" title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Enable</button>
                                <button onclick="doActionFn('disable', 'all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Disable</button>
                                <button onclick="doActionFn('delete', 'all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                            </p>
                        </div>
                        <div class="disp_dropdown">

                            <p></p>
                        </div>
                    </div>

                    <div class="form-group col-md-12 text-right">
                        <div class="new-pagnav">
                            <?php
                            echo $this->paginationControl(
                                    $this->paginator, 'sliding', 'layout/paginator.phtml'
                            );
                            ?>
                        </div>
                    </div>
                </div>
                <div id="showActionErr"></div>
            </div>
        </div>
    </div>
</div>

