<input type="hidden" name="service_type" id="service_type" value="people">
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo $this->comSessObj->userrole; ?>">
<div class="table-wrapper-row full-width">
    <div class="col-md-8 table-cell travel-form bg-white">
        <form id="form_addtrippeople_people" name="form_addtrippeople_people">
            <input type="hidden" name="people_service_fee" id="people_service_fee" value="">
            <input type="hidden" name="gotourl" id="gotourl" value="<?php echo $this->gotourl ?>">
            <input type="hidden" name="user_id"  value="<?php echo $comSessObj->userid; ?>"> 
            
            <input type="hidden" name="total_cost_ajax_became" id="total_cost_ajax" value="" >
            <input type="hidden" name="total_cost_currency_ajax_became" id="total_cost_currency_ajax" value="" >
            <input type="hidden" name="currency_conversion_rate_ajax_became" id="currency_conversion_rate_ajax" value="" >

            <h5 class="sub-heading text-left">Provide details about passengers who travel with you</h5>
            <hr class="title-border">
            <div class="row">
                <div class="form-group col-xs-12 form-group-select-plus">
                    <label class="control-label">Number of person travelling with the member in this travel <span
                            style="color: red">*</span> <a class="icon-info" href="#" data-toggle="tooltip"
                                                           title="Please select total number of person who is travelling with you per ticket reserved"></a></label>
                    <?php
                    $showBtn = true;
                    $action = 'add';
                    if ($this->trip_traveller) {
                        $showBtn = true;
                        $action = 'edit';
                    }
                    $showTripId = true;
                    if (isset($TYPE) && !empty($TYPE)) {
                        $showTripId = false;
                        $action = 'edit';
                    }
                    $peopleCount1 = (isset($this->trip_traveller['persons_travelling']) && $this->trip_traveller['persons_travelling']) ? $this->trip_traveller['persons_travelling'] : 0;
                    if ($peopleCount1 > 10) $showBtn = false;
                    if ($showBtn) {
                        ?>
                        <label style="width:60px;background:#99CB51;border-color:#8dbf45;border-radius: 50% !important;height:28px;line-height:26px;position:relative;float:left;color:#fff;text-align:center;" id="trip_m_people_0">Alone</label> <span style="line-height:27px;margin:0 6px;float:left;color:red;font-weight:bold;font-size:20px;">+</span>
                        
                        <div class="btn-group btn-group-select-num btn-trip-people-count trip_m_people"
                             data-toggle="buttons">
                            <?php

                            for ($pCount1 = 1; $pCount1 <= 5; $pCount1++) {

                                $checked1 = (isset($peopleCount1) && $peopleCount1 == $pCount1) ? 'checked="checked"' : '';
                                $active1 = (isset($peopleCount1) && $peopleCount1 == $pCount1) ? 'active' : ''; ?>
                                <label class="btn btn-primary  <?php echo $active1; ?>"
                                       id="trip_m_people_<?php echo $pCount1 ?>"><input <?php echo $checked1; ?>
                                        type="radio" name="trip_people_count" id="trip_people_count"
                                        value="<?php echo $pCount1 ?>"/><?php echo ($pCount1 == 5) ? '5+' : $pCount1; ?>
                                </label>


                            <?php } ?>

                        </div>
                    <?php } ?>
                    <?php if ($showTripId) { ?>
                        <input type="hidden" name="trip_edit_id"
                               value="<?php echo isset($this->trip['ID']) ? $this->trip['ID'] : 0; ?>"/>
                    <?php } ?>
                    <input type="hidden" id="action" value="<?php echo $action ?>"/>
                    <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?> trip_people_count "
                            name="trip_people_count_more" id="trip_people_count_more">
                        <?php for ($pCount = 1; $pCount <= 25; $pCount++) {
                            $peopleCount = (isset($this->trip_traveller['persons_travelling']) && $this->trip_traveller['persons_travelling']) ? $this->trip_traveller['persons_travelling'] : 6;
                            $selected = (isset($peopleCount) && $peopleCount == $pCount) ? 'selected="selected"' : ''; ?>
                            <option <?php echo $selected; ?>
                                value="<?php echo $pCount ?>"><?php echo $pCount; ?></option>
                        <?php } ?>
                    </select>
                </div>
                <p style="margin-bottom: 0px;" id="err_trip_people_count_more" class="text-danger err_msg"></p>

                <p style="margin-bottom: 0px;" id="err_trip_people_count" class="text-danger err_msg"></p>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 form-group-select-plus">
                    <label class="control-label">Number of Male <span style="color: red">*</span> <a class="icon-info"
                                                                                                     href="#"
                                                                                                     data-toggle="tooltip"
                                                                                                     title="Please specify number of male travellers travelling with you"></a></label>
                    <?php
                    $peopleMCount1 = (isset($this->trip_traveller['male_count']) && $this->trip_traveller['male_count']) ? $this->trip_traveller['male_count'] : 0;
                    if ($peopleMCount1 > 5) $showBtn = false;

                    if ($showBtn) {
                        ?>
                        <div class="btn-group btn-group-select-num t_male_list" data-toggle="buttons">

                            <?php for ($pMCount1 = 1; $pMCount1 <= 5; $pMCount1++) {
                                $checked2 = (isset($peopleMCount1) && $peopleMCount1 == $pMCount1) ? 'checked="checked"' : '';
                                $active2 = (isset($peopleMCount1) && $peopleMCount1 == $pMCount1) ? 'active' : ''; ?>
                                <label class="btn btn-primary  <?php echo $active2; ?> male_count_select"
                                       id="t_male_list_<?php echo $pMCount1 ?>"  disabled="disabled"><input <?php echo $checked2; ?>
                                        type="radio" name="trip_people_male_count" id="trip_people_male_count"
                                        value="<?php echo $pMCount1 ?>"/><?php echo ($pMCount1 == 5) ? '5+' : $pMCount1; ?>
                                </label>
                            <?php } ?>
                        </div>
                    <?php } ?>
                    <select class="form-control  <?php echo ($showBtn) ? 'hidden' : ''; ?>"
                            name="trip_people_male_count_more" id="trip_people_male_count_more">
                        <?php

                        for ($pMCount = 1; $pMCount <= 25; $pMCount++) {
                            $peopleMCount = (isset($this->trip_traveller['male_count']) && $this->trip_traveller['male_count']) ? $this->trip_traveller['male_count'] : 6;
                            $selected = (isset($peopleMCount) && $peopleMCount == $pMCount) ? 'selected="selected"' : '';
                            ?>
                            <option <?php echo $selected; ?>
                                value="<?php echo $pMCount ?>"><?php echo $pMCount; ?></option>
                        <?php } ?>
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-12 form-group-select-plus">
                    <label class="control-label">Number of Female <span style="color: red">*</span> <a class="icon-info"
                                                                                                       href="#"
                                                                                                       data-toggle="tooltip"
                                                                                                       title="Please specify number of female travellers travelling with you"></a></label>
                    <?php
                    $peopleFMCount1 = (isset($this->trip_traveller['female_count']) && $this->trip_traveller['female_count']) ? $this->trip_traveller['female_count'] : 0;
                    if ($peopleFMCount1 > 5) $showBtn = false;

                    if ($showBtn) { ?>
                        <div class="btn-group btn-group-select-num female-count t_female_list" data-toggle="buttons">

                            <?php for ($pFMCount1 = 1; $pFMCount1 <= 5; $pFMCount1++) {
                                $checked3 = (isset($peopleFMCount1) && $peopleFMCount1 == $pFMCount1) ? 'checked="checked"' : '';
                                $active3 = (isset($peopleFMCount1) && $peopleFMCount1 == $pFMCount1) ? 'active' : ''; ?>
                                <label class="btn btn-primary  <?php echo $active3; ?> female_count_select"
                                       id="t_female_list_<?php echo $pFMCount1 ?>" disabled="disabled"><input <?php echo $checked3; ?>
                                        type="radio" name="trip_people_female_count" id="trip_people_female_count"
                                        value="<?php echo $pFMCount1 ?>"/><?php echo ($pFMCount1 == 5) ? '5+' : $pFMCount1; ?>
                                </label>


                            <?php } ?>


                        </div>
                    <?php } ?>
                    <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>"
                            name="trip_people_female_count_more" id="trip_people_female_count_more">
                        <?php for ($pFMCount = 1; $pFMCount <= 25; $pFMCount++) {
                            $peopleFMCount = (isset($this->trip_traveller['female_count']) && $this->trip_traveller['female_count']) ? $this->trip_traveller['female_count'] : 6;
                            $selected = (isset($peopleFMCount) && $peopleFMCount == $pFMCount) ? 'selected="selected"' : ''; ?>
                            <option <?php echo $selected; ?>
                                value="<?php echo $pFMCount ?>"><?php echo $pFMCount; ?></option>
                        <?php } ?>
                    </select>

                    <p style="margin-bottom: 0px;" id="err_trip_people_female_count_more"
                       class="text-danger err_msg"></p>

                    <p style="margin-bottom: 0px;" id="err_trip_people_female_count" class="text-danger err_msg"></p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Any Person of age above 60 <span style="color: red">*</span>
                        <a class="icon-info" href="#" data-toggle="tooltip"
                           title="Please specify any elders above 60 years travelling with you"></a></label>

                    <div class="yesNo">
                        <label
                            class="sliderCheck <?php echo (isset($this->trip_traveller['age_above_60_years']) && $this->trip_traveller['age_above_60_years'] == "1") ? 'checked' : '' ?>">
                            <input type="checkbox" value="1" name="trip_people_age_bove_60"
                                   id="trip_people_age_bove_60" <?php echo (isset($this->trip_traveller['age_above_60_years']) && $this->trip_traveller['age_above_60_years'] == "1") ? 'checked="checked"' : '' ?>>

                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Any Child below 5 Years Old <span style="color: red">*</span> <a
                            class="icon-info" href="#" data-toggle="tooltip"
                            title="Please specify any children below 6 years travelling with you"></a></label>

                    <div class="yesNo">
                        <label
                            class="sliderCheck <?php echo (isset($this->trip_traveller['age_below_3_years']) && $this->trip_traveller['age_below_3_years'] == "1") ? 'checked' : '' ?>">
                            <input type="checkbox" value="1" name="trip_people_age_below_5"
                                   id="trip_people_age_below_5" <?php echo (isset($this->trip_traveller['age_below_3_years']) && $this->trip_traveller['age_below_3_years'] == "1") ? 'checked="checked"' : '' ?>>

                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="control-label">Comments to the seeker <span style="color: red">*</span> <a
                            class="icon-info" href="#" data-toggle="tooltip"
                            title="Please add any special requirements or restrictions in your journey in detail which will help seekers to contact you to get any additional information."></a></label>
                    <textarea class="form-control" name="trip_comments" id="trip_comments"
                              placeholder="Provide your commnts to seeker regarding this service."
                              rows="3"><?php echo (isset($this->trip_traveller['comment'])) ? $this->trip_traveller['comment'] : '' ?> </textarea>

                    <p style="margin-bottom: 0px;" id="err_trip_comments" class="text-danger err_msg"></p>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5 rightSection bg-white" style="width:100%;">
        <aside class="sidebar-right">
            <div class="sidebar-block">
                <div class="sidebar-header">
                    <h5 class="mb0">Estimated earnings</h5>
                </div>
                <div class="sidebar-block-inner text-center">
                    <div class="block-inner-title">
                        People Service
                    </div>
                    <div class="text-center est-price">
                                        <span class="price_tag_span">
                                                <p class="price_tag_symbol">
                                                    <strong><?php echo $comSessObj->currencycode; ?></strong></p>
                                                <i class="price_tag_price" id="span_people_service_fee">0.00</i> 

                                                <p class="price_tag_price_code"><?php echo $comSessObj->currency; ?></p>
                                        </span>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>

<script>
    $(document).ready(function () {
        <?php 
        $peopleCount = (isset($this->trip_traveller['persons_travelling']) && $this->trip_traveller['persons_travelling'])?$this->trip_traveller['persons_travelling']:0;
        if($peopleCount>0){
        ?>
        disabledProb(<?php echo $peopleCount?>);
        <?php }?>
        var hash = window.location.hash.substr(1);
        if (hash != '') {
            if (hash == 'trip') {
                $('#rootwizard a[href="#tab3"]').trigger('click');
            }
            if (hash == 'service') {
                $('#rootwizard a[href="#tab1"]').trigger('click');
            }
        }

        $(document).on('change', '#trip_type', function () {
            $('#finish').html('Finish & Key return trip');
            if ($(this).val() == 1) {
                $('#finish').html('Finish & Search');
            }
        });
        $('[name="trip_people_count"]').click(function () {

            alert('');
        });
    });

    $('.btn-group').on('click', 'label.btn', function (e) {
        if ($(this).hasClass('active')) {
            setTimeout(function () {
                $(this).removeClass('active').find('input').prop('checked', false);
            }.bind(this), 10);
        }
    });

    $('.btn-trip-people-count').on('click', 'label.btn', function (e) {
        setTimeout(function () {
            var trip_people_count = parseInt($('[name="trip_people_count"]:checked').val());
            disabledProb(trip_people_count);
        }.bind(this), 10);
    });
    function disabledProb(trip_people_count) {
        $("input[name='trip_people_male_count']").parent('label').removeAttr("disabled", "disabled");
        $("input[name='trip_people_female_count']").parent('label').removeAttr("disabled", "disabled");
		if(trip_people_count > 0){
			for (a = trip_people_count + 1; a <= 5; a++) {
				$("input[name='trip_people_male_count'][value=" + a + "]").parent('label').attr("disabled", "disabled");
				$("input[name='trip_people_female_count'][value=" + a + "]").parent('label').attr("disabled", "disabled");
			}
		} else {
			for (a = 1; a <= 5; a++) {
				$("input[name='trip_people_male_count'][value=" + a + "]").parent('label').attr("disabled", "disabled");
				$("input[name='trip_people_female_count'][value=" + a + "]").parent('label').attr("disabled", "disabled");
			}
		}
    }
    $('.male_count_select').mousedown(function (e) {
        var maleCount = $('[name="trip_people_male_count"]:checked').val(),
            femaleCount = $('[name="trip_people_female_count"]:checked').val(),
            totalCount = $('[name="trip_people_count"]:checked').val(),

            femaleCount = femaleCount || 0;
        maleCount = maleCount || 0;
        totalCount = totalCount || 0;

        var totalCountSelected = parseInt(maleCount) + parseInt(femaleCount);

        console.log('maleCount: ' + maleCount);
        console.log('femaleCount: ' + femaleCount);
        console.log('totalCount: ' + totalCount);
        console.log('totalCountSelected: ' + totalCountSelected);
        e.preventDefault();
        if (totalCount < totalCountSelected) return false;
        else return true;
    });
    $(document).on('change', '#trip_people_count_more', function (e) {
        if ($('#trip_people_count_more > option:selected').val() < 11) {
            $(this).addClass('hidden');
            $('.trip_m_people').removeClass('hidden');
            $('.trip_m_people > label.btn').removeClass('active');
            $('#trip_m_people_' + $('#trip_people_count_more > option:selected').val()).addClass('active');

        }
    });
    // $('#trip_m_people_11').on('click',function(){
    // $('select>option:eq(9)').prop('selected', true);
    // });
    $(document).on('change', '#trip_people_male_count_more', function (e) {
        var vlu = $(this).val();
        if (vlu < 11) {
            $(this).addClass('hidden');
            $('.t_male_list').removeClass('hidden');
            $('.t_male_list > label.btn').removeClass('active');
            $('#t_male_list_' + vlu).addClass('active');

        }
    });
    $(document).on('change', '#trip_people_female_count_more', function (e) {
        var vlu = $(this).val();
        if (vlu < 11) {
            $(this).addClass('hidden');
            $('.t_female_list').removeClass('hidden');
            $('.t_female_list > label.btn').removeClass('active');
            $('#t_female_list_' + vlu).addClass('active');

        }
    });
</script>