<input type="hidden" name="service_type" id="service_type" value="package" >
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo $this->comSessObj->userrole;?>" >
<?php
$showBtn = true;
$action = 'add';
if ($this->trip_traveller) {
    $showBtn = true;
    $action = 'edit';
}
$showTripId = true;
if (isset($TYPE) && !empty($TYPE)) {
    $showTripId = false;
     $action = 'edit';
}
?> 

            <input type="hidden" id="action" value="<?php echo $action ?>" >
       <div class="table-wrapper-row full-width">
                    <div class="col-md-8 table-cell travel-form bg-white">

                        <form id="form_addtrippeople_package" name="form_addtrippeople_package">
                         <input type="hidden" name="package_service_fee" id="package_service_fee" value="0" >
                          <input type="hidden" name="gotourl" id="gotourl" value="<?php echo $this->gotourl?>" >
                            <input type="hidden" name="user_id"  value="<?php echo $comSessObj->userid; ?>"> 

                          <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="" >
                         <input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="" >
                    <input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="" >
                          
                          
                          
                            <?php if ($showTripId) { ?>
                                <input type="hidden" name="trip_edit_id" value="<?php echo isset($this->trip['ID']) ? $this->trip['ID'] : 0; ?>" >
                            <?php } ?>
                            
                            
                            <h5 id="trip_title" class="sub-heading text-left">Provide details about packages</h5>
<hr class="title-border">
<div class="row">
                            <div class="form-group form-group-select-plus col-sm-12">

                                <label class="control-label">No of baggages carried <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

                                <?php
                                  $peopleCount = (isset($this->trip_traveller['packages_count']) && $this->trip_traveller['packages_count']) ? $this->trip_traveller['packages_count'] : 1;
                                    if($peopleCount>10)$showBtn = false;
                                  if ($showBtn) {
                                        ?>
                                        <div class="btn-group btn-group-select-num trip_mm_package" data-toggle="buttons">
  <?php
                                        for ($pCount = 1; $pCount <= 10; $pCount++) {
                                              $checked1 = (isset($peopleCount) &&  $peopleCount == $pCount)?'checked="checked"':'';
                                              $active1 = (isset($peopleCount) &&  $peopleCount == $pCount)?'active':'';
                                            ?>
                                             <label class="btn btn-primary  <?php echo $active1;?>" id="trip_mm_package_<?php echo $pCount?>"><input <?php echo $checked1;?> type="radio" name="packages_count" id="packages_count"  value="<?php echo $pCount?>" /><?php echo ($pCount == 10)?'10+':$pCount;?></label>
                                            <?php
                                        }
                                        ?> 
                                            
                                             
                                             												

                                        </div>
                                    <?php } ?>

                                    <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>" id="packages_count" name="packages_count_more">


                                        <?php
                                        for ($pCount = 1; $pCount <= 25; $pCount++) {
                                            $peopleCount = (isset($this->trip_traveller['packages_count']) && $this->trip_traveller['packages_count']) ? $this->trip_traveller['packages_count'] : 11;

                                            $selected = (isset($peopleCount) && $peopleCount == $pCount) ? 'selected="selected"' : '';
                                            ?>
                                            <option <?php echo $selected; ?> value="<?php echo $pCount ?>"><?php echo $pCount ?></option>
                                            <?php
                                        }
                                        ?>


                                    </select>

                                

                            </div>
    </div>
    <div class="row">
                            <div class="form-group col-sm-12">

                                <label class="control-label">Weight allowed in airline per baggage <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

                                <input type="text" id="airline_allowed_weight" name="airline_allowed_weight" style="display:none;" >
                <p style="margin-bottom: 0px;" id="err_airline_allowed_weight" class="text-danger err_msg"></p> 

                                   

                            </div>
</div>

<div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <div class="available-volume">
                                                                            <div class="volume-box volume-box-1 active" id="icon-doc_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Document</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="volume-box volume-box-1 " id="icon-backbag_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Backbag</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-1 " id="icon-suitcase_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-1 " id="icon-package_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-bicycle.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Bicycle case</p>
                                                                                </div>
																			</div>
																			<div class="volume-box volume-box-1 " id="icon-biggest-package_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-biggest.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Oversize bag</p>
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

<div class="row">
    <div class="form-group col-sm-5">
        <label class="control-label">Approx.weight carried by you over all<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <div class="form-group col-sm-9" style="padding:0">
             <input type="text" id="weight_carried" class="form-control" name="weight_carried" />
        </div>
        <div class="form-group col-sm-3" style="padding:0">
		<input type="text" id="weight_carrieds" name="weight_carrieds" style="display:none;" value="">
        <select name="weight_carried_unit" class="form-control" id="weight_carried_unit">
        	<option <?php echo (isset($this->trip_traveller['weight_carried_unit']) && $this->trip_traveller['weight_carried_unit'] == 'kg')?'selected="selected"':''; ?> value="kg">KG</option>
            <option <?php echo (isset($this->trip_traveller['weight_carried_unit']) && $this->trip_traveller['weight_carried_unit'] == 'lbs')?'selected="selected"':''; ?> value="lbf">LBS</option>
        </select>
        </div>
        <p style="margin-bottom: 0px;" id="err_weight_carried" class="text-danger err_msg"></p>
    </div>
    <div class="form-group col-sm-7">
    	<label class="control-label">Approx.weight of baggage you can accommodate <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <div class="form-group col-sm-9" style="padding:0">
             <input type="text" class="form-control" id="weight_accommodate" name="weight_accommodate" />
        </div>
        <div class="form-group col-sm-3" style="padding:0">
            <select name="weight_accommodate_unit" class="form-control" id="weight_accommodate_unit">
                <option <?php echo (isset($this->trip_traveller['weight_accommodate_unit']) && $this->trip_traveller['weight_accommodate_unit'] == 'kg')?'selected="selected"':''; ?> value="kg">KG</option>
                <option <?php echo (isset($this->trip_traveller['weight_accommodate_unit']) && $this->trip_traveller['weight_accommodate_unit'] == 'lbf')?'selected="selected"':''; ?> value="lbf">LBF</option>
            </select>
        </div>
        <p style="margin-bottom: 0px;" id="err_weight_accommodate" class="text-danger err_msg"></p>
    </div>
</div>
<div class="row">
 	<div class="form-group col-sm-5">
        <label class="control-label">Items that you don't wish to carry <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <textarea class="form-control" placeholder="" rows="3" id="not_wish_to_carry" name="not_wish_to_carry" ><?php echo (isset($this->trip_traveller['not_wish_to_carry'])) ? $this->trip_traveller['not_wish_to_carry'] : '' ?> </textarea>
        <p style="margin-bottom: 0px;" id="err_not_wish_to_carry" class="text-danger err_msg"></p>
	</div>
    <div class="form-group col-sm-7">
    	<label class="control-label">Approx worth of package you can carry<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <input type="number" name="item_worth" id="item_worth"  class="form-control" value="<?php echo (isset($this->trip_traveller['item_worth'])) ?$this->trip_traveller['item_worth']: '' ?>" aria-label="Amount (to the nearest dollar)"><div style="position: absolute;top: 34px;right: 25px;z-index: 9999999;padding-left: 10px;border-left: 1px solid #737373;font-size: 25px;" class="current_currency_code_small"><?php echo $comSessObj->currencycode;?></div>
        <p style="margin-bottom: 0px;" id="err_item_worth" class="text-danger err_msg"></p>
        <input type="text"  class="form-control current_currency_code" name="item_worth_currency" id="item_worth_currency" value="<?php echo $comSessObj->currency;?>" readonly="true" style="display:none"/>
		<p style="margin-bottom: 0px;" id="err_item_worth_currency" class="text-danger err_msg"></p>
    </div>
</div>
<!--<div class="form-group">

    <label class="control-label">Approx.weight of baggage you can accommodate <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <select class="form-control" id="weight_accommodate" name="weight_accommodate" >

        <option   <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == '0-100') ? 'selected="selected"' : '' ?> value="0-100" >0-100</option>

        <option <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == '101-200') ? 'selected="selected"' : '' ?> value="101-200" >101-200</option>

        <option <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == '201-300') ? 'selected="selected"' : '' ?> value="201-300" >201-300</option>

        <option <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == '301-400') ? 'selected="selected"' : '' ?> value="301-400" >301-400</option>

        <option <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == '401-500') ? 'selected="selected"' : '' ?> value="401-500" >401-500</option>

        <option <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == '500+') ? 'selected="selected"' : '' ?> value="500+" >500+</option>

    </select>
    <p style="margin-bottom: 0px;" id="err_weight_accommodate" class="text-danger err_msg"></p>
</div>

<div class="form-group">
    <label class="control-label">Items that you don't wish to carry <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <input class="form-control" placeholder="Ex. Glass, Bottles" type="text" value="<?php echo (isset($this->trip_traveller['not_wish_to_carry'])) ? $this->trip_traveller['not_wish_to_carry'] : '' ?>"  id="not_wish_to_carry" name="not_wish_to_carry"  />
    <p style="margin-bottom: 0px;" id="err_not_wish_to_carry" class="text-danger err_msg"></p>


</div>-->
<div class="row">
<div class="form-group col-sm-12">

    <label class="control-label">Comments to the seeker <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <textarea class="form-control" placeholder="Provide your commnts to seeker regarding this service." rows="3" id="comment" name="comment" ><?php echo (isset($this->trip_traveller['comment'])) ? $this->trip_traveller['comment'] : '' ?> </textarea>
    <p style="margin-bottom: 0px;" id="err_comment" class="text-danger "></p>


</div>
    </div>

                        </form>

                    </div>

                    <div class="col-md-4  rightSection bg-white" style="width:100%;">

                        <aside class="sidebar-right">

                            <div class="sidebar-block">
                                <div class="sidebar-header">
                                    <h5 class="mb0">Estimated earnings</h5>
                                </div>
                                <div class="sidebar-block-inner text-center">
                                    <div class="block-inner-title">Package Service</div>
                                    <div class="text-center est-price">
                                    <span class="price_tag_span">
                                        <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p> 
                                        <i class="price_tag_price" id="span_package_service_fee">0.00</i> 
                                        <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </aside>

                    </div>
                </div>      
<script>
    $(document).ready(function () {
        var hash = window.location.hash.substr(1);
        console.log('hash' + hash);
        if (hash != '') {
            if (hash == 'trip') {
                $('#rootwizard a[href="#tab1"]').trigger('click');
            }
            if (hash == 'service') {
                $('#rootwizard a[href="#tab3"]').trigger('click');
            }
        }
        $(document).on('change', '#trip_type', function () {
            $('#finish').html('Finish & Key return trip');
            if ($(this).val() == 1) {
                $('#finish').html('Finish & Search');
            }
        });

    });
    
    $('input:radio').click(function() {
    $('input:radio[name='+$(this).attr('name')+']').parent().removeClass('active');
        $(this).parent().addClass('active');
});
$(document).on('change', '#packages_count', function(e) {
	var ths = $(this).val();
	if($(this).val() < 11){
			$(this).addClass('hidden');
			$('.trip_mm_package').removeClass('hidden');
			for(i=1;i<=11;i++){
				if($('#trip_mm_package_'+i).hasClass('active')){
				$('#trip_mm_package_'+i).removeClass('active');
				}
			}
			$('.trip_mm_package > label#trip_mm_package_'+ths).addClass('active');
		}
});/**/
$('.trip_mm_package > label.btn').on('click',function(){
	var ths = $(this).attr('id');
	$('.trip_mm_package > label.btn').removeClass('active');
	$('#'+ths).addClass('active');
	if(ths =='trip_mm_package_11'){
	$('#packages_count > select>option:eq(11)').prop('selected', true);
	}
	return false;
});
</script>