<ul class="<?php echo (isset($comSessObj->userid))?'afL-breadcrumb':''; ?>">
  <li class="font-medium">
    <a href="<?php echo $this->basePath(); ?>/">
      <i class="fa fa-home"></i>
    </a>
  </li>
   <?php     $breadCrumbHtml = '';    if(isset($breadCrumbArr)){        foreach($breadCrumbArr as $each){            $breadCrumbHtml .= '<li';            if($each['active']){ $breadCrumbHtml .= ' class="font-medium active"'; }            if($each['title']){ $breadCrumbHtml .= ' title="'.$each['title'].'"'; }            $breadCrumbHtml .= '>';            if(isset($each['redirect']) && $each['redirect']){                $breadCrumbHtml .= '<a href="'.$this->basePath().$each['redirect'].'">'.$each['label'].'</a>';            }            else{                $breadCrumbHtml .= $each['label'];            }            $breadCrumbHtml .= '</li>';        }        echo $breadCrumbHtml;    } ?>
</ul>
