

<div class="sidebar-wrap">
    <aside class="user-profile-sidebar">
        <div class="user-profile-avatar text-center">
            <?php
			if(!empty($reviews)){
				$rev = array();
				foreach($reviews as $review){
					$rev[] = $review['rating'];
				}
				$total_ratings = array_sum($rev)/count($rev);
			} else {
				$total_ratings = 0;
			}
						//for($profPhotos as $key => $profile_images)
							
			//print_r($profPhotosMarked);die;			  
			$img = $this->basePath().'/public/default_user.png';
			if($profPhotosMarked[0]['marked_as_profile_photo'] == '1')
			{ 
				$img = $this->basePath().'/public/uploads/profile_picture/medium/'.$profPhotosMarked[0]['user_photo_name'];
					
			}
					
            if(isset($prof['image']) && !empty($prof['image'])){
                if(strpos($prof['image'], "http") !== false){
                    $img = $prof['image'];
                }else{
                    $img = $this->basePath().'/public/uploads/profile_picture/medium/'.$prof['image'];
                }
            }else{
                $img = $this->basePath().'/public/default_user.png';
            }
            ?> <div class="user-pro-img"><img src="<?php echo $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>" title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>" height="100" width="110"/>
			<div class="profile-details">
            <p class="mb0">Member Since
                <?php echo date(' M Y', strtotime($comSessObj->user['created'])) ?>
            </p>
            <p><img src="<?php echo $this->basePath();?>/public/img/star_<?= round($total_ratings);?>.png"></p>
			</div>
			</div>
            
        </div>
        <ul class="tabs list user-profile-nav">
            <li <?php echo ($active_tab == 'personalDetails')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myprofile"><i class="fa fa-user"></i>Personal Info</a></li>
            <li <?php echo ($active_tab == 'myAddresses')?'class="active"':""; ?>><a id="addressBook_tab" href="<?php echo $this->basePath(); ?>/myprofile/myAddresses"><i class="fa fa-map-marker"></i>My Addresses</a></li>
            <li <?php echo ($active_tab == 'trustVerification')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myprofile/trustVerification"><i class="fa fa-check-square"></i>Trust &amp; Verification</a></li>
            <li <?php echo ($active_tab == 'myCircle')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myprofile/myCircle"><i class="fa fa-refresh"></i>My Circles</a></li>
            <li <?php echo ($active_tab == 'reviews')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myprofile/reviews"><i class="fa fa-star-half-o"></i>Reviews</a></li>
            <li <?php echo ($active_tab == 'references')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myprofile/references"><i class="fa fa-comments"></i>References</a></li>
        </ul>
    </aside>
    <div class="invite-block">
        <div class="invite-heading">
            <h5>Invite Friends</h5>
            <hr class="title-border">
        </div>

        <form name="frndReferral" id="frndReferral" method="post" action="" onsubmit="return validateReferralForm();">
            <p class="info">Separate multiple emails with semi colons. <a role="button" data-toggle="modal" href="#referraldetails" aria-expanded="false" aria-controls="collapseExample">Referral Details</a></p>
            <div class="form-group">
                <input class="form-control" id="referralEmails" name="referralEmails" type="text" placeholder="Add Friend's Email Address" />
                <p class="text-danger err_msg" id="err_referralEmails"></p>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Send" />

            <!-- Modal -->
            <div class="modal fade" id="referraldetails" tabindex="-1" role="dialog" aria-labelledby="referraldetails">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="text-center modal-title" id="referraldetails">Referral Details</h4> </div>
                        <div class="modal-body" style="height:400px;overflow-y:auto;">
                            <table class="table table-hover table-striped" id="tblGrid">
                                <thead id="tblHead">
                                    <tr>
                                        <th>Email Address</th>
                                        <th>User Name</th>
                                        <th>Status</th>
                                        <!--th>Service Consumed</th-->
                                        <th class="text-right">Rewards you Earned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if(isset($userInvites) && $userInvites!=""){
										//print_r($userInvites);
										
										/* referral sign up user */
										foreach($userInvites as $invite){
											$status = 'Not signed up';
                                            if($invite['ID']) $status = 'Signed up';
                                            if($invite['ID'] && $invite['trans_amount'] > 0) $status = 'Service Consumed';
                                    ?>
                                            <tr>
                                                <td><?php echo $invite['email_address']; ?></td>
                                                <td><?php echo ($invite['first_name'] != '')?$invite['first_name'].' '.$invite['last_name']:'--'; ?></td>
                                                <td><?php echo $status; ?></td>
                                                <td class="text-right"><?php echo ($invite['trans_amount'] != '')?$invite['trans_amount']:'0'; ?></td>
                                            </tr> 
                                    <?php }
                                    }
                                    else{
                                        echo '<tr><td colspan="4">No Records Found</td><tr>';
                                    }?>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>