<form name="form_origin_location_address" id="form_origin_location_address" class="form_origin_location_address">
   <div class="row">
      <div class="col-sm-5">
         <?php if(isset($travel_trip_type_value) && $travel_trip_type_value =='roundtrip') {?>
         <input type="hidden" name="travel_trip_type_value" id="travel_trip_type_value" value="roundtrip" />
         <?php } ?>
         <input type="hidden" name="editid" id="editid" value="" />
         <input type="hidden" name="lat" id="latitude" value="">
         <input type="hidden" name="lng" id="longitude" value="">
         <?php   if (count($this->user_locations) > 0) { ?>
         <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <div class="input-group radio-group">
                <input type="radio" name="contact_address_type" id="contact_address_type_1" class="contact_address_type" value="existing_address" checked="checked">
                <label class="radio-inline" for="contact_address_type_1">Select Contact Address</label>
                <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address">
                <label class="radio-inline" for="contact_address_type">Add New Address</label>
              </div>
            </div>
          </div>



         </div>
         <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-0">
                <select class="form-control" name="existing_user_location" id="existing_user_location">
                   <option value="" selected="selected">Select contact address</option>
                   <?php
                      if(count($this->user_locations) > 0){
                      foreach ($this->user_locations as $location){
                      $selected = (isset($this->trip['user_location']) && $this->trip['user_location'] == $location['ID']) ? 'selected="selected"' : '';?>
                   <option <?php echo $selected ?> value="<?php echo $location['ID']; ?>"><?php echo $location['address_type']; ?> - <?php echo $location['street_address_1']; ?>
                      <?php if ($location['street_address_2'] != ''){
                         echo ', ' . $location['street_address_2'];
                         }?>,
                      <?php echo $location['city']; ?> - <?php echo $location['zip_code']; ?>,
                      <?php echo $location['state']; ?>, <?php echo $location['country_name']; ?>
                   </option>
                   <?php
                      }
                      }
                      ?>
                </select>
              </div>

               <p class="mb-0" id="err_existing_user_location" class="text-danger"></p>
            </div>
         </div>
         <?php } ?>
         <div id="divNewAddress" <?php if (count($this->user_locations) > 0) { ?>style="display: none;"
            <?php } ?>>
            <div class="row">
               <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Country</label>
                    <select class="form-control country_short more_country_sel" name="country_short" id="country_short" onchange="countryChange(this.value);">
                       <option value="" selected="selected">Select country</option>
                       <?php                            if(isset($this->editAddOptions) && !empty($this->editAddOptions)){                                echo $this->editAddOptions;                            }else{                            if (count($this->common()->countries) > 0) {                                foreach ($this->common()->countries as $countryArr) {                                    ?>
                       <option value="<?php echo $countryArr['code']; ?>"><?php echo $countryArr['name']; ?></option>
                       <?php }                            }                            ?>
                       <option value="more" class="more_sel_text">More</option>
                       <?php }?>
                    </select>
                    <select class="form-control hidden" id="hidden_country">
                       <?php                            if (count($this->common()->countries) > 0) {                                foreach ($this->common()->countries as $countryArr) {                                    ?>
                       <option value="<?php echo $countryArr['code']; ?>"><?php echo $countryArr['name']; ?></option>
                       <?php }                            }                            ?>
                    </select>
                    <p class="mb-0" id="err_country_short" class="text-danger err_msg"></p>
                  </div>
               </div>
            </div>
            <div class="row waitForCountry">
               <div class="form-group col-sm-12">
                  <label class="control-label">Address line 1 <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Street/Locality Address, P.O. Box, C/O, etc."></a></label> <input class="form-control street_address_1" name="route" id="street_address_1" placeholder="Address line 1" type="text" />
                  <p style="margin-bottom: 0px;" id="err_street_address_1" class="text-danger err_msg"></p>
               </div>
               <div class="form-group col-sm-12">
                  <label class="control-label">Address line 2 <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Apartment, Suit, Building, Unit, Floor, etc."></a></label> <input class="form-control" name="sublocality" id="street_address_2" placeholder="Address line 2" type="text" />
                  <p style="margin-bottom: 0px;" id="err_street_address_2" class="text-danger err_msg"></p>
               </div>
            </div>
            <div class="row waitForCountry">
               <div class="form-group col-sm-12">
                  <label class="control-label">City <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="City name per google maps."></a></label> <input class="city form-control" name="locality" id="city" placeholder="City" type="text" />
                  <p style="margin-bottom: 0px;" id="err_city" class="text-danger err_msg"></p>
               </div>
            </div>
            <div class="row waitForCountry">
               <div class="form-group col-sm-12">
                  <label class="control-label">State/Province/Region<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="State name per google maps"></a></label> <input class="form-control" name="administrative_area_level_1" id="state" placeholder="State" type="text" />
                  <p style="margin-bottom: 0px;" id="err_state" class="text-danger err_msg"></p>
               </div>
            </div>
            <div class="row waitForCountry">
               <div class="form-group col-sm-12">
                  <label class="control-label">Zip/Pin Code<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Enter Zip/Pin code if it doesn't auto populate."></a></label> <input class="form-control" name="postal_code" id="postal_code" data-geo="postal_code" placeholder="Zip Code" type="text" />
                  <p style="margin-bottom: 0px;" id="err_postal_code" class="text-danger err_msg"></p>
               </div>
            </div>
         </div>
         <div id="existingAddressView" class="mt-10" style="display:none;">
            <div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label">Country</label>
                  <p id="view_country"></p>
               </div>
               <div class="form-group col-sm-6">
                  <label class="control-label">Address line 1</label>
                  <p id="view_address_line_1"></p>
               </div>
            </div>
            <div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label">Address line 2</label>
                  <p id="view_address_line_2"></p>
               </div>
               <div class="form-group col-sm-6">
                  <label class="control-label">City</label>
                  <p id="view_city"></p>
               </div>
            </div>
            <div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label">State/Province/Region</label>
                  <p id="view_state"></p>
               </div>
               <div class="form-group col-sm-6">
                  <label class="control-label">Zip/Pin Code</label>
                  <p id="view_zipcode"></p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-7">
         <aside class="sidebar-right">
            <div class="sidebar-block">
               <div class="sidebar-header">
                  <h5 class="mb0">Your location is private</h5>
               </div>
               <div class="sidebar-block-inner text-center">
                  <div class="panel panel-default">
                     <div class="map_canvas" id="map-canvas" style="min-height: 400px;"></div>
                  </div>
               </div>
            </div>
         </aside>
      </div>
   </div>
</form>
<style>
   .waitForCountry{display:none;}
</style>
<script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
<script type="text/javascript">
   $(document).ready(function() {
       loadMoreoptions();
       <?php if(isset($this->trip['user_location']) && $this->trip['user_location'] !=0 ){ ?>
       $('#existing_user_location').trigger('change');
       <?php } ?>
   });

   var autocomplete;
   var countryRestrict = {
       'country': ''
   };


   if (typeof latLng != 'object') {
       var latVal = '54.59728500000001';
       lngVal = '-5.930119999999988';
       latLng = new google.maps.LatLng(latVal, lngVal);
   }
   var places, map, marker, geocoder, infowindow;


   function initMap() {

     map = new google.maps.Map(document.getElementById('map-canvas'), {
         center: latLng,
         zoom: 12,
     });

     marker = new google.maps.Marker({
         position: latLng,
         map: map,
         anchorPoint: new google.maps.Point(0, -29),
         draggable: true
     });

     geocoder = new google.maps.Geocoder();

       var input = (document.getElementById('street_address_1'));
       autocomplete = new google.maps.places.Autocomplete(input);
       autocomplete.bindTo('bounds', map);
       places = new google.maps.places.PlacesService(map);
       autocomplete.addListener('place_changed', onPlaceChanged);
       infowindow = new google.maps.InfoWindow();

       var ccode = document.getElementById('country_short').value;
       document.getElementById('country_short').addEventListener('change', countryChange(ccode));

       google.maps.event.addListener(marker, 'dragend', function() {
           geocoder.geocode({
               latLng: marker.getPosition()
           }, function(results, status) {

               if (status == google.maps.GeocoderStatus.OK) {
                   $('#street_address_1,#street_address_2,#city,#state,#postal_code,#country_short').val('');
                   if (results[0]) {
                     if(!$("#existing_user_location").is(':visible')) {
                       //console.log('yes');
                       $('#country_short').val('more').trigger('change');
                       $('#divNewAddress, .waitForCountry').show();
                     }
                     console.log(results[0]);
                       if (results[0].address_components) {
                           $(results[0].address_components).each(function(index) {
                               if ($.inArray("route", this.types) !== -1) {
                                   $('#street_address_1').val(this.long_name);
                               } else if ($.inArray("sublocality", this.types) !== -1 ) {
                                   $('#street_address_2').val(this.long_name);
                               } else if ($.inArray("locality", this.types) !== -1 || $.inArray("administrative_area_level_2", this.types) !== -1) {
                                   $('#city').val(this.long_name);
                               } else if ($.inArray("administrative_area_level_1", this.types) !== -1) {
                                   $('#state').val(this.long_name);
                               } else if ($.inArray("postal_code", this.types) !== -1) {
                                   $('#postal_code').val(this.long_name);
                               } else if ($.inArray("country", this.types) !== -1) {
                                   $('#country_short').val(this.short_name);
                               }
                           });
                       }
                       $('#latitude').val(marker.getPosition().lat());
                       $('#longitude').val(marker.getPosition().lng());
                   }
               }
           });
       });

   }


   google.maps.event.addDomListener(window, "load", initMap);

   function onPlaceChanged() {
       $('#street_address_1,#street_address_2,#city,#state,#postal_code,#country_short').val('');
       infowindow.close();
       marker.setVisible(false);
       var place = autocomplete.getPlace();
       if (!place.geometry) {
           return;
       }
       if (place.geometry.viewport) {
           map.fitBounds(place.geometry.viewport);
       } else {
           map.setCenter(place.geometry.location);
           map.setZoom(17);
       }
       marker.setPosition(place.geometry.location);
       marker.setVisible(true);
       var address = '';
   /* variable to add street number */
   var street_no='';
       if (place.address_components) {
           $(place.address_components).each(function(index) {
               //console.log(this.types+' -- long_name -- ' + this.long_name);
               if ($.inArray("street_number", this.types) !== -1) {
   	street_no=this.long_name;
   } else if ($.inArray("route", this.types) !== -1) {
                  $('#street_address_1').val(street_no + ' ' + this.long_name);
               } else if ($.inArray("sublocality", this.types) !== -1) {
                   $('#street_address_2').val(this.long_name);
               } else if ($.inArray("locality", this.types) !== -1 || $.inArray("administrative_area_level_2", this.types) !== -1) {
                   $('#city').val(this.long_name);
               } else if ($.inArray("administrative_area_level_1", this.types) !== -1) {
                   $('#state').val(this.long_name);
               } else if ($.inArray("postal_code", this.types) !== -1) {
                   $('#postal_code').val(this.long_name);
               } else if ($.inArray("country", this.types) !== -1) {
                   $('#country_short').val(this.short_name);
               }
           });
       }
       if (place.address_components) {
           address = [(place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')].join(' ');
       }
       var latitude = place.geometry.location.lat();
       var longitude = place.geometry.location.lng();
       $('#latitude').val(latitude);
       $('#longitude').val(longitude); /*$("input[name=coordinate]").val(address);    $("input[name=latitude]").val(latitude);    $("input[name=longitude]").val(longitude);*/ /* infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);    infowindow.open(map, marker);*/
   }

   function countryChange(el) {
       if (el != 'more') {
           autocomplete.setComponentRestrictions({
               'country': el
           });
   if($('#country_short').val() != ''){
     $('.waitForCountry').show();
   } else {
     $('.waitForCountry').hide();
   }
       }
   }

   $('#existing_user_location').change(function() {
       if ($(this).val() == '') {
           $('#existingAddressView').hide();
       }
       jQuery.ajax({
           type: "POST",
           url: baseurl + '/ajax/getLatLngByAddressId',
           data: 'addressId=' + $(this).val(),
           async: false,
           success: function(msg) { /*var map = $("#street_address_1").geocomplete("map");                google.maps.event.trigger(map, 'resize'); */
               var resObj = $.parseJSON(msg);
               var countrySelected = $('#country_short').val();
               if (resObj.result == 'success') {
                   var latVal = parseFloat(resObj.addressData.latitude),
                       lngVal = parseFloat(resObj.addressData.longitude);
                   latLng = new google.maps.LatLng(latVal, lngVal); /*initializeExistingMap(latVal, lngVal);*/ /* view address*/
                   if ($('#existing_user_location').val() != '') {
                       $('#view_country').text(resObj.addressData.country_name);
                       $('#view_address_type').text(resObj.addressData.address_type);
                       $('#view_address_line_1').text(resObj.addressData.street_address_1);
                       $('#view_address_line_2').text(resObj.addressData.street_address_2);
                       $('#view_city').text(resObj.addressData.city);
                       $('#view_state').text(resObj.addressData.state);
                       $('#view_zipcode').text(resObj.addressData.zip_code);
                       $('#existingAddressView').show();
                   }
                   initMap();
               }
           }
       });
   });
</script>
