<style>
   .ui-autocomplete {
   z-index: 2147483647;
   }
</style>
<div class="content-load-normal" id="loading_flights" style="display: none;">
   <div class="dis-tab">
      <div class="dis-tab-cel">
         <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">
         <p id="uploading_status_text"></p>
      </div>
   </div>
</div>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/jquery.dataTables.min.css">
<!--form class="form-horizontal" id="form_travel_details" name="form_travel_details"-->
<?php $disabled = '';if ($action == 'add') { ?>
<div class="row">

	 <div class="col-sm-12">
		 <div class="form-group">
  		 <div class="input-group radio-group">
  				 <input type="radio" name="travel_plan_type" id="existing_plan_type" class="contact_plan_type" value="existing_plan" checked="checked">
  				 <label class="radio-inline" for="existing_plan_type">Select Travel Plan</label>
  				 <input type="radio" name="travel_plan_type" id="new_plan_type" class="contact_plan_type" value="new_plan">
  				 <label class="radio-inline" for="new_plan_type">Add Travel Plan</label>
  		 </div>
  	 </div>
	 </div>

</div>
<div class="row" id="travel_plan_exist">
   <div class="form-group col-xs-12">
      <select class="form-control" name="travel_plan" id="travel_plan" onchange="getPlanDetails(this.value)">
         <option selected="selected" value="">Select plan</option>
         <?php if (count($this->travel_plans) > 0) {                foreach ($this->travel_plans as $travel_plan) {                    ?>
         <option value="<?php echo $travel_plan['ID']; ?>">
            <?php echo $travel_plan['origin_location_city'] . ',' . $travel_plan['origin_location_country'] . ' (' . $travel_plan['origin_location_code'] . ')'; ?> -
            <?php echo $travel_plan['destination_location_city'] . ',' . $travel_plan['destination_location_country'] . ' (' . $travel_plan['destination_location_code'] . ')';        ; ?> (
            <?php echo date('m/d/Y', strtotime($travel_plan['departure_date'])); ?>) -
            <?php echo ($travel_plan['service']); ?>
         </option>
         <?php }        }        ?>
      </select>
      <p style="margin-bottom: 0px;" id="err_travel_plan" class="text-danger err_msg"></p>
   </div>
</div>
<div id="plandetails"></div>
<?php } else {$disabled = 'disabled="disabled"'; echo '<input type="hidden" name="travel_plan_reservation_type" value="'.$this->trip['travel_plan_reservation_type'].'" />'; } ?>
<div id="chooseplan">
   <div class="form-group">
      <select class="form-control" <?php echo $disabled;?> name="travel_plan_reservation_type" id="travel_plan_reservation_type">
         <?php $planTypeSelected = isset($this->trip['travel_plan_reservation_type']) ? $this->trip['travel_plan_reservation_type'] : 0; ?>
         <option <?php echo ($planTypeSelected==0 ) ? 'selected="selected"' : ''; ?> value="0">Choose ticket reservation type</option>
         <option <?php echo ($planTypeSelected==1 ) ? 'selected="selected"' : ''; ?> value="1">Booked</option>
         <option <?php echo ($planTypeSelected==2 ) ? 'selected="selected"' : ''; ?> value="2">Unplanned</option>
      </select>
      <p style="margin-bottom: 0px;" id="err_travel_plan_reservation_type" class="text-danger err_msg"></p>
   </div>
</div>
<div id="choose_type_one" class="chooseTypes" <?php if (count($this->user_locations) > 0) { ?>style="display: none;"
   <?php } ?>>
   <?php /* ?>
   <div class="form-group">
      <label class="col-sm-4 control-label">Travel Name</label>
      <div class="col-sm-8">
         <input class="form-control" placeholder="Travel Name" type="text" name="traval_name" id="traval_name" />
      </div>
   </div>
   <?php */ ?>
   <div class="row">
      <div class="form-group col-sm-6">
         <label class="control-label">Origin Location <span class="text-danger">*</span>
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a>
         </label>
         <input class="typeahead form-control" <?php echo $disabled;?> placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>" />
         <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
      </div>
      <div class="form-group col-sm-6">
         <label class="control-label">Destination Location <span class="text-danger">*</span>
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a>
         </label>
         <input class="typeahead form-control" <?php echo $disabled;?> placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>" />
         <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
      </div>
   </div>
   <div class="row">
      <div class="form-group col-sm-6">
         <label class="control-label">Departure Date <span class="text-danger">*</span>
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide date of journey from origin airport or per ticket reserved."></a>
         </label>
         <div class="input-group">
            <input class="date-pick form-control" <?php echo $disabled;?> name="departure_date" id="departure_date" type="text" value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date'])) ? date('m/d/Y', strtotime($this->trip['departure_date'])) : date('m/d/Y'); ?>" /><span class="input-group-addon" onclick="clickDoc('departure_date');"><i class="fa fa-calendar fa-fw"></i></span>
         </div>
         <p style="margin-bottom: 0px;" id="err_departure_date" class="text-danger err_msg"></p>
      </div>
      <div class="form-group col-sm-6">
         <label class="control-label">Departure Time <span class="text-danger">*</span>
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide time of journey from origin airport or per ticket reserved."></a>
         </label>
         <div class="input-group">
            <input class="time-pick form-control" <?php echo $disabled;?> name="departure_time" id="departure_time" value="<?php echo isset($this->trip['departure_date']) ? date('h:i A', strtotime($this->trip['departure_date'])) : ''; ?>" type="text" /><span class="input-group-addon" onclick="clickDoc('departure_time');"><i class="fa fa-clock-o fa-fw"></i></span>
         </div>
         <p style="margin-bottom: 0px;" id="err_departure_time" class="text-danger err_msg"></p>
      </div>
   </div>
   <div class="row" id="displayFlightBtn" style="display:<?php echo (isset($this->action) && $this->action == 'edit')?'display':'none'?>;;">
      <div class="form-group col-xs-12 mg-bot30">
         <button type="button" class="btn btn-green" <?php echo $disabled;?> data-toggle="modal" data-target="#getFlightStops" onclick="getFlightStops(event)">Get Available Flights</button>
         <p class="text-small" id="loading_flights_msg" style="color:red; display: none">Loading. Please wait...</p>
      </div>
   </div>
   <!--div class="form-group">        <label class="col-sm-4 control-label">Arrival Date</label>        <div class="col-sm-8">            <div class="row row-no-gutter">                <div class="col-sm-6">                    <div class="input-group">                        <input class="date-pick form-control" type="text"  name="arrival_date" id="arrival_date"  /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>                    </div>                    <p style="margin-bottom: 0px;" id="err_arrival_date" class="text-danger err_msg"></p>                </div>                <div class="col-sm-6">                    <div class="row row-no-gutter">                        <div class="col-sm-9 pull-right">                            <div class="input-group">                                <input class="time-pick form-control" type="text"  name="arrival_dat" id="arrival_time" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>                            </div>                            <p style="margin-bottom: 0px;" id="err_arrival_dat" class="text-danger err_msg"></p>                        </div>                    </div>                </div>            </div>        </div>    </div -->
   <div class="form-group">
      <!--<a href="javascript:void(0);" onclick="getFlightStops()" >Get Available Flights </a>-->
      <input type="hidden" name="flight_key" id="flight_key" value="" />
      <input type="hidden" name="proposal_key" id="proposal_key" value="" />
      <input type="hidden" name="service_fee" id="service_fee" value="<?php echo (isset($this->trip['service_fee']) && !empty($this->trip['service_fee'])) ? $this->trip['service_fee'] : '' ?>">
      <input type="hidden" name="distance" id="distance" value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
      <input type="hidden" name="arrival_dateTime" id="arrival_dateTime" value="" />
      <input type="hidden" name="selectedFlightData" id="selectedFlightData" value="<?php echo (isset($this->selectedFlightData) && !empty($this->selectedFlightData)) ? $this->selectedFlightData : '' ?>" />
      <input type="hidden" name="typeOfFlightSelect" id="typeOfFlightSelect" value="auto" />
      <input type="hidden" name="trip_route" id="trip_route" value="<?php echo (isset($this->trip['trip_route']) && !empty($this->trip['trip_route'])) ? $this->trip['trip_route'] : '' ?>" />
      <?php if($action == 'edit' && $this->trip['travel_plan_reservation_type'] == 2){ ?>
      <input type="hidden" name="unplanned_origin_location_id" id="unplanned_origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>">
      <input type="hidden" name="unplanned_destination_location_id" id="unplanned_destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>">
      <input type="hidden" name="unplanned_origin_location_code" id="unplanned_origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>">
      <input type="hidden" name="unplanned_destination_location_code" id="unplanned_destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>">
      <?php }else{ ?>
      <input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>">
      <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>">
      <input type="hidden" name="origin_location_code" id="origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>">
      <input type="hidden" name="destination_location_code" id="destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>">
      <?php } ?>
      <input type="hidden" name="origin_location_country_code" id="origin_location_country_code" value="<?php echo (isset($this->origin_location_country_code) && !empty($this->origin_location_country_code)) ? $this->origin_location_country_code : '' ?>">
      <input type="hidden" name="destination_location_country_code" id="destination_location_country_code" value="<?php echo (isset($this->destination_location_country_code) && !empty($this->destination_location_country_code)) ? $this->destination_location_country_code : '' ?>">
      <input type="hidden" name="noofstops" id="noofstops" value="<?php echo (isset($this->trip['noofstops']) && !empty($this->trip['noofstops'])) ? $this->trip['noofstops'] : '' ?>">
      <input type="hidden" name="destination_location_country" id="destination_location_country" value="" />
      <input type="hidden" name="origin_location_country" id="origin_location_country" value="" />
      <div id="divSelectedFlight">
         <?php if (isset($this->airport_details) && !empty($this->airport_details)) { ?>
         <table class="table table-striped table-bordered">
            <thead>
               <tr>
                  <th>Flight</th>
                  <th>Airline</th>
                  <th>Dept</th>
                  <th>Arr</th>
                  <th>Dept Dt</th>
                  <th>Arr Dt</th>
                  <th>&nbsp;</th>
               </tr>
            </thead>
            <tbody>
               <?php    if (isset($this->airport_details) && !empty($this->airport_details)) {
                  $fNo = 1;
                  foreach ($this->airport_details as $flightRow) {
                  $fligtData = $flightRow['carrier'] . '@@' . $flightRow['number'] . '@@' . $flightRow['departure'] . '@@' . $flightRow['arrival'] . '@@' . $flightRow['departure_date'] . '@@' . $flightRow['arrival_date'] . '@@' . $flightRow['airline_name'] . '@@' . $flightRow['airline_number'];
                  ?>
               <tr>
                  <td>
                     <?php echo $fNo; ?>
                  </td>
                  <td>
                     <?php echo isset($flightRow['airline_name']) ? $flightRow['airline_name'] : '' ?> -
                     <?php echo isset($flightRow['airline_number']) ? $flightRow['airline_number'] : '' ?>
                  </td>
                  <td>
                     <?php echo isset($flightRow['departure']) ? $flightRow['departure'] : '' ?>
                  </td>
                  <td>
                     <?php echo isset($flightRow['arrival']) ? $flightRow['arrival'] : '' ?>
                  </td>
                  <td>
                     <?php echo isset($flightRow['departure_date']) ? $flightRow['departure_date'] : '' ?>
                  </td>
                  <td>
                     <?php echo isset($flightRow['arrival_date']) ? $flightRow['arrival_date'] : '' ?>
                  </td>
                  <td><a id="mapPopUp" href="#check-flight-status" class="popup-map btn-sm btn-primary" data-effect="mfp-zoom-out" onclick="checkFightStatus('<?php echo $fligtData ?>');">Check Status</a></td>
               </tr>
               <?php                                $fNo++;                            }                        }                        ?>
            </tbody>
         </table>
         <?php } ?>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel" data-backdrop="static">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h5 class="modal-title" id="getFlightStopsLabel">Please enter or select details of airlines per flight booking you have made for this journey</h5>
            </div>
            <div class="modal-body">
               <div id="flights" style="display: none;">
                  <div class="row">
                     <div class="form-group col-md-12">
                        <label class="control-label">No.Stop</label>
                        <select class="form-control" name="nstop" id="nstop" onchange="getFlights()">
                           <option value="">flight stops</option>
                        </select>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div id="divFlights"></div>
               </div>
               <div id="add_flight_manually">
                  <span class="alert alert-info fade in disblock" id="info-fight-msg">There is no flight details available with your searched items. Please add flight details manually.</span>
                  <div class="form-group">
                     <label class="control-label">No.Stop
                     <a class="icon-info" href="#" data-toggle="tooltip" title=""></a>
                     </label>
                     <input type="hidden" name="selected_flights" id="selected_flights" value="0">
                     <select class="form-control" name="nstop_manual" id="nstop_manual" onchange="addRemoveFlightDetails(this.value);">
                        <option value="">Select stops</option>
                        <option value="0"> Direct </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                     </select>
                     <p style="margin-bottom: 0px;" id="err_nstop_manual" class="text-danger err_msg"></p>
                  </div>
                  <div id="flightSectionBox">
                     <div id="repeatable_1" class="manual_flight_section">
                        <h5 class="sub-heading text-left">Details of flight 1</h5>
                        <hr class="title-border">
                        <div class="panel panel-default">
                           <div class="panel-body">
                              <div class="row">
                                 <div class="form-group col-sm-6">
                                    <label class="control-label">Origin Location <span class="text-danger">*</span>
                                    <a class="icon-info" href="#" data-toggle="tooltip" title=""></a>
                                    </label>
                                    <input class="typeahead form-control manual_origin_location" placeholder="City or Airport Code" type="text" name="manual_origin_location[]" id="manual_origin_location_1" value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>" />
                                    <p style="margin-bottom: 0px;" id="err_manual_origin_location_1" class="text-danger err_msg"></p>
                                 </div>
                                 <div class="form-group col-sm-6">
                                    <label class="control-label">Destination Location <span class="text-danger">*</span>
                                    <a class="icon-info" href="#" data-toggle="tooltip" title=""></a>
                                    </label>
                                    <input class="typeahead form-control manual_destination_location" placeholder="City or Airport Code" type="text" name="manual_destination_location" id="manual_destination_location_1" value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>" />
                                    <p style="margin-bottom: 0px;" id="err_manual_destination_location_1" class="text-danger err_msg"></p>
                                 </div>
                              </div>
                              <?php if (isset($this->airport_details) && !empty($this->airport_details)) {                                        }                                        ?>
                              <div class="row">
                                 <div class="form-group col-sm-6">
                                    <label class="control-label">Airline name <span class="text-danger">*</span>
                                    <a class="icon-info" href="#" data-toggle="tooltip" title=""></a>
                                    </label>
                                    <input type="text" name="manual_airline_name[]" id="manual_airline_name_1" class="form-control manual_airline_name" value="<?php echo (isset($this->airline_name) && !empty($this->airline_name)) ? $this->airline_name : '' ?>" />
                                    <p style="margin-bottom: 0px;" id="err_manual_airline_name_1" class="text-danger err_msg"></p>
                                 </div>
                                 <div class="form-group col-sm-6">
                                    <label class="control-label">Airline number <span class="text-danger">*</span>
                                    <a class="icon-info" href="#" data-toggle="tooltip" title=""></a>
                                    </label>
                                    <div class="row">
                                       <div class="form-group col-sm-6">
                                          <div class="input-group"> <span class="input-group-addon">Carrier</span>
                                             <input type="text" name="manual_airline_carrier[]" id="manual_airline_carrier_1" class="form-control manual_airline_carrier" value="<?php echo (isset($this->airline_name) && !empty($this->airline_name)) ? $this->airline_name : ''; ?>" />
                                          </div>
                                          <p style="margin-bottom: 0px;" id="err_manual_airline_carrier_1" class="text-danger err_msg"></p>
                                       </div>
                                       <div class="form-group col-sm-6">
                                          <div class="input-group"> <span class="input-group-addon">Number</span>
                                             <input type="text" name="manual_airline_number[]" id="manual_airline_number_1" class="form-control manual_airline_number" />
                                          </div>
                                          <p style="margin-bottom: 0px;" id="err_manual_airline_number_1" class="text-danger err_msg"></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="form-group col-sm-6">
                                    <label class="control-label">Departure Date <span class="text-danger">*</span></label>
                                    <div class="row row-no-gutter">
                                       <div class="col-sm-6">
                                          <div class="input-group">
                                             <input class="date-pick form-control manual_departure_date" name="manual_departure_date[]" id="manual_departure_date_1" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                          </div>
                                          <p style="margin-bottom: 0px;" id="err_manual_departure_date_1" class="text-danger err_msg"></p>
                                       </div>
                                       <div class="col-sm-6">
                                          <div class="row row-no-gutter">
                                             <div class="col-sm-9 pull-right">
                                                <div class="input-group">
                                                   <input class="time-pick form-control manual_departure_time" name="manual_departure_time[]" id="manual_departure_time_1" type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                                </div>
                                                <p style="margin-bottom: 0px;" id="err_manual_departure_time_1" class="text-danger err_msg"></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group col-sm-6">
                                    <label class="control-label">Arrival date <span class="text-danger">*</span></label>
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <div class="input-group">
                                             <input class="date-pick form-control manual_arrival_date" name="manual_arrival_date[]" id="manual_arrival_date_1" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                          </div>
                                          <p style="margin-bottom: 0px;" id="err_manual_arrival_date_1" class="text-danger err_msg"></p>
                                       </div>
                                       <div class="col-sm-6">
                                          <div class="row row-no-gutter">
                                             <div class="col-sm-9 pull-right">
                                                <div class="input-group">
                                                   <input class="time-pick form-control manual_arrival_time" name="manual_arrival_time[]" id="manual_arrival_time_1" type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                                </div>
                                                <p style="margin-bottom: 0px;" id="err_manual_arrival_time_1" class="text-danger err_msg"></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div id="divFlights"></div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
               <button type="button" id="showManuallyAddedFlights1" class="btn btn-primary" onclick="showManuallyAddedFlights();">Add Flights</button>
               <button type="button" id="getFlightFlights1" class="btn btn-primary" onclick="getFlightStops(event)">Get Available Flights</button>
               <button type="button" id="showManuallyFlights1" class="btn btn-primary" onclick="showManuallyFlights(0);">Add Manually</button>
               <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
         </div>
      </div>
   </div>
   <!--    <div class="form-group">        <label class="col-sm-4 control-label">Time</label>        <div class="col-sm-8">            <select class="form-control"  name="time" id="time" >                <option selected="selected">Select time</option>            </select>        </div>    </div>    <div class="form-group">        <label class="col-sm-4 control-label">Airline Name</label>        <div class="col-sm-8">            <select class="form-control"  name="airline_name" id="airline_name" >                <option selected="selected">Select Flight Name</option>                <option>Airline One</option>                <option>Airline Two</option>                <option>Airline Three</option>                <option>Airline Four</option>                <option>Airline Five</option>            </select>        </div>    </div>    <div class="form-group">        <label class="col-sm-4 control-label">Flight No</label>        <div class="col-sm-8">            <select class="form-control"  name="flight_number" id="flight_number" >                <option selected="selected">Select Flight No</option>                <option>NZ1</option>                <option>NZ2</option>                <option>NZ5</option>                <option>NZ6</option>                <option>NZ7</option>            </select>        </div>    </div-->
   <div id="tripOtherDetails" style="display:<?php echo (isset($this->action) && $this->action == 'edit')?'display':'none'?>;;">
      <div class="row">
         <div class="form-group col-sm-6">
            <label class="control-label">Class
            <a class="icon-info" href="#" data-toggle="tooltip" title="Please select class of flight journey per ticket reserved."></a>
            </label>
            <select class="form-control" id="cabin" name="cabin">
               <?php $cabinSelected = isset($this->trip['cabin']) ? $this->trip['cabin'] : 'Economy Class'; ?>
               <option <?php echo ($cabinSelected=='Economy Class' ) ? 'selected="selected"' : ''; ?>value="Economy Class" >Economy Class</option>
               <option <?php echo ($cabinSelected=='Premium Economy' ) ? 'selected="selected"' : ''; ?>value="Premium Economy">Premium Economy</option>
               <option <?php echo ($cabinSelected=='Business Class' ) ? 'selected="selected"' : ''; ?>value="Business Class">Business Class</option>
               <option <?php echo ($cabinSelected=='First Class' ) ? 'selected="selected"' : ''; ?>value="First Class">First Class</option>
            </select>
         </div>
         <div class="form-group col-sm-6">
            <label class="control-label">Booking Status
            <a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a>
            </label>
            <select class="form-control" id="booking_status" name="booking_status">
               <?php $bookingSelected = isset($this->trip['booking_status']) ? $this->trip['booking_status'] : 'Confirmed'; ?>
               <option <?php echo ($bookingSelected=='Confirmed' ) ? 'selected="selected"' : ''; ?> value="Confirmed" >Confirmed</option>
               <option <?php echo ($bookingSelected=='Awaiting confirmation' ) ? 'selected="selected"' : ''; ?> value="Awaiting confirmation">Awaiting confirmation</option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="form-group col-sm-6">
            <label class="control-label">Ticket <span class="text-danger">*</span>
            <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please upload the ticket you have booked per origin and destination location details provided above either by uploading or email forwarding directly to tickets@trepr.com."></a>
            </label>
            <div class="row">
               <?php $ticketOptionSelected = isset($this->trip['ticket_option']) ? $this->trip['ticket_option'] : 'uploadTicket'; ?>
               <div class="col-sm-6">
                  <input type="radio" name="ticketOption" id="uploadTicket" class="ticketSendOption" value="uploadTicket" <?php echo ($ticketOptionSelected=='uploadTicket' ) ? 'checked="checked"' : '' ?>> Upload Ticket
               </div>
               <div class="col-sm-6">
                  <input type="radio" name="ticketOption" id="emailTicket" class="ticketSendOption" value="emailTicket" <?php echo ($ticketOptionSelected=='emailTicket' ) ? 'checked="checked"' : '' ?>> Email Ticket
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-6 form-group uploadTicketDiv">
            <canvas id="the-canvas" style="width:120px;height:120px;display:none;border:1px solid black;"></canvas>
            <img src="" style="width:120px;height:120px;display:none;border:1px solid black;" id="ticket_image_view"/>
            <div class="delete-btn" style="width: 38%; text-align: center; margin-bottom: 23px;display:none;" id="delete_upload"><a class="qq-upload-delete" href="javascript:;" style="background: url(&quot;images/close-x.png&quot;) left top no-repeat; width: 12px; display: inline-block;">Delete</a></div>
            <input class="form-control" type="file" name="ticket_image" id="ticket" onchange="readURLs(this,this.value,'ticket_image_view');">
            <p style="margin-bottom: 0px;" id="err_ticket" class="text-danger err_msg">Please upload ticket image.</p>
            <?php if ((isset($this->trip['ticket_image']) && $this->trip['ticket_image'] != '')) { ?>
            <img width="100" height="100" class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/tickets/<?php echo $this->trip['ticket_image'] ?>" id="current_ticket" alt="" title="">
            <a href="<?php echo $this->basePath() . '/download/ticket/' . $this->trip['ticket_image'] ?>">
            <?php echo 'Click here to downloand'; ?>
            </a>
            <?php } else { ?>
            <p class="help-block">Upload your Ticket</p>
            <?php } ?>
         </div>
         <div class="col-xs-12 form-group emailTicketDiv" style="display: none;">
            <p class="emailTicketUniqueId">Please copy your trip identification number and use it in your ticket mail <a role="button" data-toggle="modal" href="#new-compose-dialog" aria-expanded="false" aria-controls="collapseExample">Compose</a></p>
            <?php            $tripIdNumber = ($comSessObj->userrole == 'seeker') ? 'S' : 'T';            $tripIdNumber .= $comSessObj->userid . 'TRIP' . date('Ymdhi');            $tripIdNumber = isset($this->trip['trip_id_number']) ? $this->trip['trip_id_number'] : $tripIdNumber;            ?>
            <input type="hidden" id="tripIdNumber" name="tripIdNumber" value="<?php echo $tripIdNumber; ?>" />
            <p class="emailTicketUniqueId">
               <?php echo $tripIdNumber; ?>
            </p>
         </div>
      </div>
      <div class="row"> </div>
      <div class="form-block">
         <h5 class="sub-heading text-left">Reservation Details<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide details of ticket purchased so that we will send additional discounts and more convenient travel options for booking in your next trip. NOTE: We have huge network of agencies through which we will provide rewards for frequent travellers."></a></h5>
         <hr class="title-border">
         <div class="panel-group" id="accordion">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#reservationDetail-01">Who is your travel agent?</a></h4>
               </div>
               <div class="panel-collapse collapse in" id="reservationDetail-01">
                  <div class="panel-body">
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Travel agency&nbsp;/&nbsp;supplier name
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide name of travel agency who is a private retailer or public service that provides travel and tourism related services on behalf of airlines."></a>
                           </label>
                           <input type="text" name="travel_agency_name" id="travel_agency_name" class="form-control" value="<?php echo (isset($this->trip['travel_agency_name']) && !empty($this->trip['travel_agency_name'])) ? $this->trip['travel_agency_name'] : '' ?>" />
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Travel agency&nbsp;/&nbsp;supplier URL
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide URL of the travel agency URL."></a>
                           </label>
                           <input type="url" name="travel_agency_url" id="travel_agency_url" class="form-control" value="<?php echo (isset($this->trip['travel_agency_url']) && !empty($this->trip['travel_agency_url'])) ? $this->trip['travel_agency_url'] : '' ?>" onblur="checkValidURL(this.value,'err_travel_agency_url');"/>
                           <p style="margin-bottom: 0px;" id="err_travel_agency_url" class="text-danger err_msg"></p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Travel agency&nbsp;/&nbsp;supplier confirmation
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide agency ticket confirmation number."></a>
                           </label>
                           <input type="text" name="travel_agency_confirmation" id="travel_agency_confirmation" class="form-control" value="<?php echo (isset($this->trip['travel_agency_confirmation']) && !empty($this->trip['travel_agency_confirmation'])) ? $this->trip['travel_agency_confirmation'] : '' ?>" />
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Travel agency&nbsp;/&nbsp;supplier contact name
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact name of the travel agency"></a>
                           </label>
                           <input type="text" name="travel_agency_contact_name" id="travel_agency_contact_name" class="form-control" value="<?php echo (isset($this->trip['travel_agency_contact_name']) && !empty($this->trip['travel_agency_contact_name'])) ? $this->trip['travel_agency_contact_name'] : '' ?>" />
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class=" control-label">Travel agency&nbsp;/&nbsp;supplier phone number
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact phone name of the travel agency."></a>
                           </label>
                           <input type="number" name="travel_agency_phone" id="travel_agency_phone" class="form-control numonly" value="<?php echo (isset($this->trip['travel_agency_phone']) && !empty($this->trip['travel_agency_phone'])) ? $this->trip['travel_agency_phone'] : '' ?>" />
                           <p style="margin-bottom: 0px;" id="err_travel_agency_phone" class="text-danger err_msg"></p>
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Travel agency&nbsp;/&nbsp;supplier email
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact email ID of the travel agency."></a>
                           </label>
                           <input type="email" name="agency_email" id="agency_email" class="form-control" value="<?php echo (isset($this->trip['agency_email']) && !empty($this->trip['agency_email'])) ? $this->trip['agency_email'] : '' ?>"  onblur="checkValidEmail(this.value,'err_agency_email')"/>
                           <p style="margin-bottom: 0px;" id="err_agency_email" class="text-danger err_msg"></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-03">Where did you reserve it?</a></h4>
               </div>
               <div class="panel-collapse collapse" id="reservationDetail-03">
                  <div class="panel-body">
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Booking Site Name
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide site name in which you booked the ticket."></a>
                           </label>
                           <input type="text" name="booking_site_name" id="booking_site_name" class="form-control" value="<?php echo (isset($this->trip['booking_site_name']) && !empty($this->trip['booking_site_name'])) ? $this->trip['booking_site_name'] : '' ?>" />
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Booking Site URL
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide site URL in which you booked the ticket."></a>
                           </label>
                           <input type="text" name="booking_site_url" id="booking_site_url" class="form-control" value="<?php echo (isset($this->trip['booking_site_url']) && !empty($this->trip['booking_site_url'])) ? $this->trip['booking_site_url'] : '' ?>" onblur="checkValidURL(this.value,'err_booking_site_url');" />
                           <p style="margin-bottom: 0px;" id="err_booking_site_url" class="text-danger err_msg"></p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Booking Site Phone
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact number of the website booked."></a>
                           </label>
                           <input type="text" name="booking_site_phone" id="booking_site_phone" class="form-control numonly" value="<?php echo (isset($this->trip['booking_site_phone']) && !empty($this->trip['booking_site_phone'])) ? $this->trip['booking_site_phone'] : '' ?>" />
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Booking Site Email
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide email ID of the website booked."></a>
                           </label>
                           <input type="text" name="booking_site_email" id="booking_site_email" class="form-control" value="<?php echo (isset($this->trip['booking_site_email']) && !empty($this->trip['booking_site_email'])) ? $this->trip['booking_site_email'] : '' ?>" onblur="checkValidEmail(this.value,'err_booking_site_email')" />
                           <p style="margin-bottom: 0px;" id="err_booking_site_email" class="text-danger err_msg"></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-04">What are the booking details?</a></h4>
               </div>
               <div class="panel-collapse collapse" id="reservationDetail-04">
                  <div class="panel-body">
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <!-- Date picker -->
                           <label class="control-label">Booking Date
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide the date when travel ticket was booked."></a>
                           </label>
                           <div class="input-group">
                              <input class="booking_date form-control" name="booking_date" id="booking_date" type="text" value="<?php echo (isset($this->trip['booking_date']) && !empty($this->trip['booking_date'])) ? date('m/d/Y', $this->trip['booking_date']) : '' ?>" /><span class="input-group-addon"  onclick="clickDoc('booking_date');"><i class="fa fa-calendar fa-fw"></i></span>
                           </div>
                           <p style="margin-bottom: 0px;" id="err_booking_date" class="text-danger err_msg"></p>
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Booking Reference #
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide online ticket confirmation reference number."></a>
                           </label>
                           <input type="text" name="booking_reference" id="booking_reference" class="form-control" value="<?php echo (isset($this->trip['booking_reference']) && !empty($this->trip['booking_reference'])) ? $this->trip['booking_reference'] : '' ?>" />
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Reservation is Purchased
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please check if ticket is purchased and not rewarded/gifted"></a>
                           </label>
                           <div class="yesNo">
                              <label class="sliderCheck <?php echo (isset($this->trip['reservation_is_purchased']) && $this->trip['reservation_is_purchased'] == 1) ? 'checked' : '' ?>">
                                 <input type="checkbox" name="reservation_is_purchased" id="reservation_is_purchased" <?php echo (isset($this->trip['reservation_is_purchased']) && $this->trip['reservation_is_purchased'] == 1) ? 'checked="checked"' : '' ?> value="1" />
                                 <div class="slider round"></div>
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-05">What did you pay?</a></h4>
               </div>
               <div class="panel-collapse collapse" id="reservationDetail-05">
                  <div class="panel-body">
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Total Cost
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a>
                           </label>
                           <div class="row">
                              <div class="form-group col-sm-6">
                                 <input type="text" name="total_cost" id="total_cost" class="form-control numonly" value="<?php echo (isset($this->trip['booking_cost']) && !empty($this->trip['booking_cost'])) ? $this->trip['booking_cost'] : '' ?>" />
                              </div>
                              <div class="form-group col-sm-6">
                                 <select class="form-control" id="total_cost_currency" name="total_cost_currency">
                                    <?php $reservationSelected = (isset($this->trip['booking_cost_currency']) && !empty($this->trip['booking_cost_currency'])) ? $this->trip['booking_cost_currency'] : ''; ?>
                                    <?php foreach($currency as $currencyRow){ ?>
                                    <option <?php echo ($reservationSelected=='' ) ? 'selected="selected"' : ''; ?> value="<?php echo $currencyRow['currency_code'] ?>">
                                       <?php echo $currencyRow['currency_code'] ?>
                                    </option>
                                    <?php  }?>
                                    <!--                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?> value="">-- select --</option>                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : 'USD $'; ?> value="USD $">USD $</option>                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : 'EUR €'; ?> value="EUR €">EUR €</option>                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : 'GBP £'; ?> value="GBP £">GBP £</option>-->
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="form-group col-sm-6">
                           <label class="control-label">Discount code
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide discount code used to purchase ticket."></a>
                           </label>
                           <input type="text" name="discount_code" id="discount_code" class="form-control" value="<?php echo (isset($this->trip['discount_code']) && !empty($this->trip['discount_code'])) ? $this->trip['discount_code'] : '' ?>" />
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-6">
                           <label class="control-label">Discount cost
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a>
                           </label>
                           <div class="row">
                              <div class="form-group col-sm-6">
                                 <input type="text" name="total_discount_cost" id="total_discount_cost" class="form-control numonly" value="<?php echo (isset($this->trip['total_discount_cost']) && !empty($this->trip['total_discount_cost'])) ? $this->trip['total_discount_cost'] : '' ?>" />
                              </div>
                              <div class="form-group col-sm-6">
                                 <select class="form-control" id="total_discount_currency" name="total_discount_currency">
                                    <?php $reservationSelected = (isset($this->trip['total_discount_currency']) && !empty($this->trip['total_discount_currency'])) ? $this->trip['total_discount_currency'] : ''; ?>
                                    <?php foreach($currency as $currencyRow){ ?>
                                    <option <?php echo ($reservationSelected=='' ) ? 'selected="selected"' : ''; ?> value="<?php echo $currencyRow['currency_code'] ?>">
                                       <?php echo $currencyRow['currency_code'] ?>
                                    </option>
                                    <?php  }?>
                                    <!--                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?> value="">-- select --</option>                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : 'USD $'; ?> value="USD $">USD $</option>                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : 'EUR €'; ?> value="EUR €">EUR €</option>                                        <option <?php //echo ($reservationSelected == '') ? 'selected="selected"' : 'GBP £'; ?> value="GBP £">GBP £</option>-->
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-12">
                           <label class="control-label">Comments/Restrictions
                           <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Any added facilities/restrictions in ticket purchased"></a>
                           </label>
                           <textarea name="comments_restrictions" id="comments_restrictions" class="form-control"><?php echo (isset($this->trip['comments_restrictions']) && !empty($this->trip['comments_restrictions'])) ? $this->trip['comments_restrictions'] : '' ?></textarea>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="choose_type_two" class="chooseTypes" <?php if (count($this->user_locations) > 0) { ?>style="display: none;"
   <?php } ?>>
   <div class="row">
      <div class="form-group col-sm-6">
         <label class="control-label">Origin Location <span class="text-danger">*</span>
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a>
         </label>
         <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="unplanned_origin_location" id="unplanned_origin_location" value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>" />
         <p style="margin-bottom: 0px;" id="err_unplanned_origin_location" class="text-danger err_msg"></p>
      </div>
      <div class="form-group col-sm-6">
         <label class="control-label">Destination Location <span class="text-danger">*</span>
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a>
         </label>
         <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="unplanned_destination_location" id="unplanned_destination_location" value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>" />
         <p style="margin-bottom: 0px;" id="err_unplanned_destination_location" class="text-danger err_msg"></p>
      </div>
   </div>
   <div class="row">
      <div class="form-group col-xs-12">
         <div class="row">
            <div class="col-sm-6">
               <label class="control-label">Departure Date
               <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide date of journey from origin airport or per ticket reserved."></a>
               </label>
               <div class="input-group">
                  <input class="date-pick form-control" name="unplanned_departure_date" id="unplanned_departure_date" type="text" value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date'])) ? date('m/d/Y', strtotime($this->trip['departure_date'])) : date('m/d/Y'); ?>" /><span class="input-group-addon" onclick="clickDoc('unplanned_departure_date');"><i class="fa fa-calendar fa-fw"></i></span>
               </div>
               <p style="margin-bottom: 0px;" id="err_unplanned_departure_date" class="text-danger err_msg"></p>
            </div>
            <div class="col-sm-6">
               <label class="control-label">Date Flexibility <span class="text-danger">*</span>
               <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a flexible + or - date range from departure date provided."></a>
               </label>
               <div class="input-group">
                  <select class="selectpicker form-control languages-select picker-select" id="date_flexibility" name="date_flexibility" onchange="updateDateRange('unplanned_departure_date');" style="display:none !important;">
                     <option <?php echo ($this->trip['date_flexibility'] == '1-d')?'selected="selected"':''; ?> value="1-d">1 Day</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '2-d')?'selected="selected"':''; ?> value="2-d">2 Days</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '3-d')?'selected="selected"':''; ?> value="3-d">3 Days</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '1-w')?'selected="selected"':''; ?> value="1-w">1 Week</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '2-w')?'selected="selected"':''; ?> value="2-w">2 Weeks</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '3-w')?'selected="selected"':''; ?> value="3-w">3 Weeks</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '1-m')?'selected="selected"':''; ?> value="1-m">1 Month</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '2-m')?'selected="selected"':''; ?> value="2-m">2 Months</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '3-m')?'selected="selected"':''; ?> value="3-m">3 Months</option>
                     <option <?php echo ($this->trip['date_flexibility'] == '6-m')?'selected="selected"':''; ?> value="6-m">6 Months</option>
                  </select>
                  <span class="input-group-addon" onclick="clickDoc('date_flexibility');"><i class="fa fa-calendar fa-fw"></i></span>
               </div>
               <p style="margin-bottom: 0px;" id="err_date_flexibility" class="text-danger err_msg"></p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="form-group col-sm-6">
         <label class="control-label">Dates range
         <a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a>
         </label>
         <div class="input-daterange" id="datepicker">
            <div class="input-group">
               <input type="text" name="project_start_date" id="project_start_date" class="input-small form-control" readonly="readonly" /> <span class="input-group-addon">to</span>
               <input type="text" name="project_end_date" id="project_end_date" class="input-small form-control" readonly="readonly" />
            </div>
            <p style="margin-bottom: 0px;" id="err_project_start_date" class="text-danger err_msg"></p>
            <p style="margin-bottom: 0px;" id="err_project_end_date" class="text-danger err_msg"></p>
         </div>
      </div>
   </div>
</div>
<!-- /form -->
<div id="flightDisplayContents" style="display: none;">
   <div class="col-sm-3"></div>
   <div class="col-sm-3"></div>
   <div class="col-sm-3"></div>
</div>
<div class="modal fade" id="new-compose-dialog" tabindex="-1" role="dialog" aria-labelledby="referraldetails">
   <div class="modal-dialog" role="document">
      <div class="modal-content" >
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="text-center modal-title" id="referraldetails">Compose Mail</h4>
         </div>
         <div class="modal-body" style="height:400px;overflow-y:auto;">
            <form class="form_addtrippeople_origindetail" id="form_compose_mail" name="form_compose_mail" action="" method="post" role="form">
               <div class="panel-body">
                  <div>
                     <div class="form-group">
                        <label class="control-label">Subject <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                        <input class="form-control" name="subject" id="subject" value="<?php echo 'Email Ticket #' . $tripIdNumber ?>"  type="text">
                        <p style="margin-bottom: 0px;" id="err_subject" class="text-danger err_msg"></p>
                     </div>
                     <div class="form-group">
                        <label class="control-label">Message <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                        <textarea class="form-control" name="message" id="message" placeholder="Message" rows="3"></textarea>
                        <p style="margin-bottom: 0px;" id="err_message" class="text-danger err_msg"></p>
                     </div>
                     <div class="form-group">
                        <input class="btn btn-primary" onclick="javascript:composeEmail();" name="submit" value="Send" type="button">
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing-api.min.js"></script>
<script type="text/javascript" src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
<script type="text/javascript">
   <?php if ($action == 'edit') { ?>
   $(document).ready(function() {
   if ($('#travel_plan_reservation_type').val() == '1') {
   $('#choose_type_one').show('slide', {
   direction: 'up'
   }, 1000);
   } else if ($('#travel_plan_reservation_type').val() == '2') {
   $('#choose_type_two').show('slide', {
   direction: 'up'
   }, 1000);
   }
   });
   <?php } ?>
   function clickDoc(id){
   $('#'+id).trigger('click');
   $('#'+id).focus();
   }
   function readURLs(input,velu,id) {
   var val = velu.toLowerCase();
   var regex = new RegExp("(.*?)\.(pdf)$");
   if(!(regex.test(val))) {
   if (input.files && input.files[0]) {
   	$('#current_ticket').remove();
   var reader = new FileReader();
   reader.onload = function (e) {
   $('#'+id).css({'display':'block'});
   $('#the-canvas').css({'display':'none'});
   $('#delete_upload').css({'display':'block'});
   $('#'+id).attr('src',e.target.result);
   }
   $('#err_ticket').hide();
   reader.readAsDataURL(input.files[0]);
   }
   }else{
   $('#'+id).css({'display':'none'});
   $('#the-canvas').css({'display':'block'});
   $('#delete_upload').css({'display':'block'});
   PDFJS.disableWorker = true;
   var pdf = document.getElementById('ticket_image');
   fileReader = new FileReader();
   fileReader.onload = function(ev) {
   console.log(ev);
   PDFJS.getDocument(fileReader.result).then(function getPdfHelloWorld(pdf) {
   console.log(pdf)
   pdf.getPage(1).then(function getPageHelloWorld(page) {
   var scale = 1.5;
   var viewport = page.getViewport(scale);
   var canvas = document.getElementById('the-canvas');
   var context = canvas.getContext('2d');
   canvas.height = viewport.height;
   canvas.width = viewport.width;
   var task = page.render({canvasContext: context, viewport: viewport})
   task.promise.then(function(){
   console.log(canvas.toDataURL('image/jpeg'));
   });
   });
   $('#err_ticket').hide();
   }, function(error){
   console.log(error);
   });
   };
   fileReader.readAsArrayBuffer(input.files[0]);
   }
   }
   $(document).on('click','#delete_upload',function(){
   $(this).hide();
   $('#the-canvas,#ticket_image_view').attr('src','');
   $('#ticket').val('');
   $('#the-canvas,#ticket_image_view').hide();

   });
</script>
