<style>
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>
<div class="content-load-normal" id="loading_flights" style="display: none;">
    <div class="dis-tab">
        <div class="dis-tab-cel"> <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">
            <p id="uploading_status_text"></p>
        </div>
    </div>
</div>
<?php    $tripIdNumber = ($comSessObj->userrole == 'seeker') ? 'S' : 'T';    $tripIdNumber .= $comSessObj->userid . 'TRIP' . date('Ymdhi');    $tripIdNumber = isset($this->trip['trip_id_number']) ? $this->trip['trip_id_number'] : $tripIdNumber;?><input type="hidden" id="tripIdNumber" name="tripIdNumber" value="<?php echo $tripIdNumber; ?>" />
<?php if($action == 'edit'){ ?> <input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>"> <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>"> <input type="hidden" name="origin_location_code" id="origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>"> <input type="hidden" name="destination_location_code" id="destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>">
<?php } ?><input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>"> <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>"> <input type="hidden" name="destination_location_country" id="destination_location_country" value="" /> <input type="hidden" name="origin_location_country" id="origin_location_country" value="" /> <input type="hidden" name="origin_location_country_code" id="origin_location_country_code" value="<?php echo (isset($this->origin_location_country_code) && !empty($this->origin_location_country_code)) ? $this->origin_location_country_code : '' ?>"> <input type="hidden" name="destination_location_country_code" id="destination_location_country_code" value="<?php echo (isset($this->destination_location_country_code) && !empty($this->destination_location_country_code)) ? $this->destination_location_country_code : '' ?>"> <input type="hidden" name="trip_route" id="trip_route" value="<?php echo (isset($this->trip['trip_route']) && !empty($this->trip['trip_route'])) ? $this->trip['trip_route'] : '' ?>" /> <input type="hidden" name="distance" id="distance" value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
<div id="seeker_project_travel_plan" class="seeker_project_travel_plan">
    <div class="row">
        <div class="form-group col-sm-6"> <label class="control-label">Product Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or state or country or all airport details from where you need the product purchased and transported"></a></label> <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>" />
            <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
        </div>
        <div class="form-group col-sm-6"> <label class="control-label">Delivery Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or nearest airport details from where products need to be delivered"></a></label> <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>" />
            <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <div class="row">
                <div class="col-sm-6"> <label class="control-label">Delivery Date <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide date of delivery from origin city or state or country or airport"></a></label>
                    <div class="input-group"> <input class="date-pick form-control" name="departure_date" id="delivery_date" type="text" value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date']))?date('m/d/Y', strtotime($this->trip['departure_date'])):date('m/d/Y'); ?>" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> </div>
                    <p style="margin-bottom: 0px;" id="err_delivery_date" class="text-danger err_msg"></p>
                </div>
                <div class="col-sm-6"> <label class="control-label">Date Flexibility <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a flexible + or - date range from departure date provided."></a></label>
                    <div class="input-group"> <select class="selectpicker form-control languages-select picker-select" id="date_flexibility" name="date_flexibility" onchange="updateDateRange('delivery_date');" style="display:none !important;">                            <option <?php echo ($this->trip['date_flexibility'] == '1-d')?'selected="selected"':''; ?> value="1-d">1 Day</option>                            <option <?php echo ($this->trip['date_flexibility'] == '2-d')?'selected="selected"':''; ?> value="2-d">2 Days</option>                            <option <?php echo ($this->trip['date_flexibility'] == '3-d')?'selected="selected"':''; ?> value="3-d">3 Days</option>                            <option <?php echo ($this->trip['date_flexibility'] == '1-w')?'selected="selected"':''; ?> value="1-w">1 Week</option>                            <option <?php echo ($this->trip['date_flexibility'] == '2-w')?'selected="selected"':''; ?> value="2-w">2 Weeks</option>                            <option <?php echo ($this->trip['date_flexibility'] == '3-w')?'selected="selected"':''; ?> value="3-w">3 Weeks</option>                            <option <?php echo ($this->trip['date_flexibility'] == '1-m')?'selected="selected"':''; ?> value="1-m">1 Month</option>                            <option <?php echo ($this->trip['date_flexibility'] == '2-m')?'selected="selected"':''; ?> value="2-m">2 Months</option>                            <option <?php echo ($this->trip['date_flexibility'] == '3-m')?'selected="selected"':''; ?> value="3-m">3 Months</option>                        </select> <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> </div>
                    <p style="margin-bottom: 0px;" id="err_date_flexibility" class="text-danger err_msg"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"> <label class="control-label">Dates range </label>
            <div class="input-daterange" id="datepicker">
                <div class="input-group"> <input type="text" name="project_start_date" id="project_start_date" class="input-small form-control" readonly="readonly" /> <span class="input-group-addon">to</span> <input type="text" name="project_end_date" id="project_end_date" class="input-small form-control" readonly="readonly" /> </div>
                <p style="margin-bottom: 0px;" id="err_project_start_date" class="text-danger err_msg"></p>
                <p style="margin-bottom: 0px;" id="err_project_end_date" class="text-danger err_msg"></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        if ($('#delivery_date').val() !== '') {
            updateDateRange('delivery_date');
        }
    });
</script>