<div class="sidebar-wrap">
    <aside class="user-profile-sidebar">
        <div class="user-profile-avatar text-center">
            <?php
            if(isset($prof['image']) && !empty($prof['image'])){
                if(strpos($prof['image'], "http") !== false){
                    $img = $prof['image'];
                }else{
                    $img = $this->basePath().'/public/uploads/profile_picture/medium/'.$prof['image'];
                }
            }else{
                $img = $this->basePath().'/public/default_user.png';
            }
            ?> <div class="user-pro-img"><img src="<?= $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>" title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>" /></div>
            <h5><?= $comSessObj->user['first_name']; ?></h5>
            <p class="mb0">Member Since
                <?php echo date('M Y', strtotime($comSessObj->user['created'])) ?>
            </p>
            <!-- <p class="mb0">Member Since May 2012</p> -->
            <p>Average Ratings</p>
            <div class="mg-top15"><img src="/trepr/site_beta/public/img/icon-verified.png"></div>
            <a class="btn btn-primary mg-top15" href="#">Edit Profile</a>
        </div>
        
       
        
       
    </aside>
    
    
     <div class="div-block">
        <div class="invite-heading">
            <h5>Verified ID</h5>
            <hr class="title-border">
        </div>
         <div class="div-block-inner">
        <ul class="list user-verified">
            <li><i class="fa fa-check"></i><span>Email address<br><small>Verified</small></span></li>
            <li><i class="fa fa-check"></i><span>Phone number<br><small>########35</small></span></li>
            <li><i class="fa fa-check"></i><span>Facebook<br><small>1490 Friends</small></span></li>
            <li><i class="fa fa-check"></i><span>Google<br><small>Validated</small></span></li>
            <li><i class="fa fa-check"></i><span>Offline ID<br><small>Passport</small></span></li>
            
        </ul>
             
             
             <a class="btn btn-primary mg-top15" style="white-space:normal" href="#">Add More Verifications</a>
             </div>
    </div>
    
    
    
    <div class="div-block">
        <div class="invite-heading">
            <h5>About Me</h5>
            <hr class="title-border">
        </div>
        <div class="div-block-inner"> 
            Get ready to search for the perfect place, contact hosts, and prepare for a memorable trip.
        </div>
            
        
    </div>
    
    
    
     <div class="div-block">
        <div class="invite-heading">
            <h5>Quick Links</h5>
            <hr class="title-border">
        </div>
        <div class="div-block-inner"> 
           <ul class="list links">
                <li><a href="#">Upcoming Trips</a></li>
                <li><a href="#">Hosting on trepr</a></li>
                <li><a href="#">Traveling on trepr</a></li>
                <li><a href="#">Help Center</a></li>
            
            
        </ul>
        </ul>
        </div>
            
        
    </div>
</div>