<?php $currentRole = (isset($comSessObj) && $comSessObj->userrole != '')?$comSessObj->userrole:'seeker'; ?>
<?php  if($comSessObj->user['approved_id'] ==1){ ?>
  <div class="select-option-box">
      <div class="btn-box blue-box"> <button onClick="parent.location='<?php echo $this->basePath().'/switchuser/seeker'; ?>'" class="btn-sliver <?php echo ($currentRole == 'seeker')?'active':'' ?>"> Seeker</button></div>
      <div class="sep"><span>Or</span></div>
      <div class="btn-box green-box"> <button onClick="parent.location='<?php echo $this->basePath().'/switchuser/traveller'; ?>'" class="btn-sliver <?php echo ($currentRole == 'traveller')?'active':'' ?>">Traveller</button>	 		</div>
  </div>
<?php } else if($_SERVER['REQUEST_URI'] == '/service-rate-calculations'){ ?>
  <div class="select-option-box">
      <div class="btn-box blue-box"> <button onClick="parent.location='<?php echo $this->basePath().'/switchuser/seeker?goto=service-rate-calculations'; ?>'" class="btn-sliver <?php echo ($currentRole == 'seeker')?'active':'' ?>"> Seeker</button></div>
      <div class="sep"><span>Or</span></div>
      <div class="btn-box green-box"> <button onClick="parent.location='<?php echo $this->basePath().'/switchuser/traveller?goto=service-rate-calculations'; ?>'" class="btn-sliver <?php echo ($currentRole == 'traveller')?'active':'' ?>">Traveller</button> 			</div>
  </div>
<?php } ?>
