<?php $tripIdNumber = ($comSessObj->userrole == 'seeker') ? 'S' : 'T';
$tripIdNumber .= $comSessObj->userid . 'TRIP' . date('Ymdhi');
$tripIdNumber = isset($this->trip['trip_id_number']) ? $this->trip['trip_id_number'] : $tripIdNumber; ?> <input
    type="hidden" id="tripIdNumber" name="tripIdNumber" value="<?php echo $tripIdNumber; ?>"/> <input type="hidden"
                                                                                                      name="unplanned_origin_location_id"
                                                                                                      id="unplanned_origin_location_id"
                                                                                                      value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>">
<input type="hidden" name="unplanned_destination_location_id" id="unplanned_destination_location_id"
       value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>">
<input type="hidden" name="origin_location_code" id="origin_location_code"
       value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>">
<input type="hidden" name="destination_location_code" id="destination_location_code"
       value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>">
<input type="hidden" name="origin_location_id" id="origin_location_id"
       value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>">
<input type="hidden" name="destination_location_id" id="destination_location_id"
       value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>">
<input type="hidden" name="destination_location_country" id="destination_location_country" value=""/> <input
    type="hidden" name="origin_location_country" id="origin_location_country" value=""/> <input type="hidden"
                                                                                                name="origin_location_country_code"
                                                                                                id="origin_location_country_code"
                                                                                                value="<?php echo (isset($this->origin_location_country_code) && !empty($this->origin_location_country_code)) ? $this->origin_location_country_code : '' ?>">
<input type="hidden" name="destination_location_country_code" id="destination_location_country_code"
       value="<?php echo (isset($this->destination_location_country_code) && !empty($this->destination_location_country_code)) ? $this->destination_location_country_code : '' ?>">
<input type="hidden" name="trip_route" id="trip_route"
       value="<?php echo (isset($this->trip['trip_route']) && !empty($this->trip['trip_route'])) ? $this->trip['trip_route'] : '' ?>"/>
<input type="hidden" name="distance" id="distance"
       value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
<div id="divNewplan">
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Pickup Location<a class="icon-info"
                                                                                        href="javascript:;"
                                                                                        data-toggle="tooltip"
                                                                                        title="Please provide origin city or nearest airport details from where items need to be picked."></a></label>
            <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location"
                   id="origin_location"
                   value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>"/>
        </div>
        <div class="form-group  col-sm-6"><label class="control-label">Delivery Location<a class="icon-info"
                                                                                           href="javascript:;"
                                                                                           data-toggle="tooltip"
                                                                                           title="Please provide destination city or nearest airport details from where items need to be delivered."></a></label>
            <input class="typeahead form-control" placeholder="City or Airport Code" type="text"
                   name="destination_location" id="destination_location"
                   value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label class="control-label">Shipping Date<a class="icon-info"
                                                                                      href="javascript:;"
                                                                                      data-toggle="tooltip"
                                                                                      title="Please provide date of shipping from origin city or airport."></a></label>

            <div class="input-group"><input class="date-pick form-control" name="departure_date" id="departure_date"
                                            type="text"
                                            value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date'])) ? date('m/d/Y', strtotime($this->trip['departure_date'])) : date('m/d/Y'); ?>"/><span
                    class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></div>
        </div>
        <div class="form-group col-sm-6"><label class="control-label">Date Flexibility<a class="icon-info"
                                                                                         href="javascript:;"
                                                                                         data-toggle="tooltip"
                                                                                         title="Please select a flexible + or - date range from shipping date provided"></a></label>

            <div class="input-group"><select class="selectpicker form-control languages-select picker-select"
                                             id="date_flexibility" name="date_flexibility"
                                             onchange="updateDateRange('departure_date');" style="display:none !important">
                    <option <?php echo ($this->trip['date_flexibility'] == '1-d') ? 'selected="selected"' : ''; ?>
                        value="1-d">1 Day
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '2-d') ? 'selected="selected"' : ''; ?>
                        value="2-d">2 Days
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '3-d') ? 'selected="selected"' : ''; ?>
                        value="3-d">3 Days
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '1-w') ? 'selected="selected"' : ''; ?>
                        value="1-w">1 Week
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '2-w') ? 'selected="selected"' : ''; ?>
                        value="2-w">2 Weeks
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '3-w') ? 'selected="selected"' : ''; ?>
                        value="3-w">3 Weeks
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '1-m') ? 'selected="selected"' : ''; ?>
                        value="1-m">1 Month
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '2-m') ? 'selected="selected"' : ''; ?>
                        value="2-m">2 Months
                    </option>
                    <option <?php echo ($this->trip['date_flexibility'] == '3-m') ? 'selected="selected"' : ''; ?>
                        value="3-m">3 Months
                    </option>
                </select> <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group  col-sm-6"><label class="control-label">Dates range<a class="icon-info"
                                                                                     href="javascript:;"
                                                                                     data-toggle="tooltip" title=""></a></label>

            <div class="input-daterange" id="datepicker">
                <div class="input-group"><input type="text" name="project_start_date" id="project_start_date"
                                                class="input-small form-control" name="start" readonly="readonly"/>
                    <span class="input-group-addon">to</span> <input type="text" name="project_end_date"
                                                                     id="project_end_date"
                                                                     class="input-small form-control" name="end"
                                                                     readonly="readonly"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#departure_date').val() !== '') {
            updateDateRange('departure_date');
        }
    });
</script>