<style>
.ui-autocomplete {
	z-index:2147483647;
}
</style><?php //echo "<pre>";print_r($currency);echo "</pre>"; ?>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/jquery.dataTables.min.css">
<form id="form_travel_details" name="form_travel_details">
  <?php 
  if(isset($this->origin_location) && !empty($this->origin_location) && $this->TYPE != 'return' && $this->trip_type != 'round_trip'){
		$isEdit = true;
	} else {
		$isEdit = false;
	}
		
  if (!$isEdit) { ?>
  <?php if (count($this->user_locations) > 0 && $this->TYPE != 'return') { ?>
  <div class="row">
  <?php  if (!empty($this->travel_plans)) { ?>
    <div class="col-sm-6 form-group">
      <label>
        <input type="radio" name="travel_plan_type" id="travel_plan_type" class="contact_plan_type" value="existing_plan" />
        Select Travel Plan</label>
    </div><?php } ?>
    <div class="col-sm-6 form-group">
      <label>
        <input type="radio" name="travel_plan_type" id="travel_plan_type" class="contact_plan_type" value="new_plan">
        Add Travel Plan</label>
    </div>
  </div>
  <?php if (!empty($this->travel_plans)) { ?>
    <div class="row">
        <div class="col-sm-12 form-group">
  <select class="form-control" name="travel_plan" id="travel_plan" onchange="getPlanDetails(this.value)">
    <option selected="selected" value="">Select plan</option>
    <?php
                if (isset($this->travel_plans) && $this->travel_plans) {
                    foreach ($this->travel_plans as $travel_plan) {
                        ?>
    <option value="<?php echo $travel_plan['ID']; ?>"><?php echo $travel_plan['origin_location_city'].','.$travel_plan['origin_location_country'].' ('.$travel_plan['origin_location_code'].')'; ?> - <?php echo $travel_plan['destination_location_city'].','.$travel_plan['destination_location_country'].' ('.$travel_plan['destination_location_code'].')';; ?> ( <?php echo date('m/d/Y', strtotime($travel_plan['departure_date'])); ?>) - <?php echo ($travel_plan['service']); ?></option>
    <?php
                    }
                }
                ?>
  </select>
  <p style="margin-bottom: 0px;" id="err_travel_plan" class="text-danger err_msg"></p>
  </div></div><?php } ?>
 <div id="plandetails">
    
</div>
  <?php }?>
  <div id="chooseplan" class="row" style="display: none;">
    <div class="form-group col-xs-12">
      <select class="form-control"  name="trip_type" id="trip_type">
        <option value="">Choose your Travel plan</option>
        <option value="1">Oneway Trip</option>
        <option value="2">Round trip</option>
      </select>
      <p style="margin-bottom: 0px;" id="err_trip_type" class="text-danger err_msg"></p>
    </div>
  </div>
  <?php } ?>
  <div class="chooseTypes" id="choose_type_one">
    <h5 class="sub-heading text-left" id="trip_title">
      <?php 
         if(isset($this->TYPE) && !empty($this->TYPE)){
             $action= 'edit';
             ?>
      Enter Return trip details
      <?php
         }else if ($this->trip_type != 'round_trip') { ?>
      Enter one way trip details
      <?php } else if (count($this->user_locations) > 0) {
            $action= 'edit';  ?>
      Enter onward trip Details
      <?php } else {
                ?>
      Enter Return trip details
      <?php } ?>
      
    </h5>
    <hr class="title-border">
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Origin Location <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide origin city or airport details from where you begin journey per ticket reserved"></a></label>
        <input class="typeahead form-control"  placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>" style="display:<?php echo $isEdit?'none':''?>;" />
        <?php if($isEdit){
			echo $this->origin_location;
		}?>
        <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label">Destination Location <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide destination city or airport details to where you end journey per ticket reserved"></a></label>
        <input class="typeahead form-control" <?php //echo $this->disabledProp?> placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>" style="display:<?php echo $isEdit?'none':''?>;"  />
        <?php if($isEdit){
			echo $this->destination_location;
		}?>
        <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
      </div>
    </div>
        <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="control-label">Departure Date <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please provide date of journey from origin airport per ticket reserved"></a></label>               
                            <div class="input-group" style="display:<?php echo $isEdit?'none':''?>;">
                                <input class="date-pick form-control" name="departure_date" id="departure_date" type="text" value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date']))?date('m/d/Y', strtotime($this->trip['departure_date'])):date('m/d/Y'); ?>" /><span class="input-group-addon" onclick="clickDoc('departure_date');"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>
                            <?php if($isEdit){
								echo date('m/d/Y', strtotime($this->trip['departure_date']));
							}?>
                            <p style="margin-bottom: 0px;" id="err_departure_date" class="text-danger err_msg"></p>
                        </div>
                        <div class="form-group col-sm-6">   
                          <label class="control-label">Departure Time <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please provide time of journey from origin airport per ticket reserved"></a></label>               
                            <div class="input-group" style="display:<?php echo $isEdit?'none':''?>;">
                                <input class="time-pick form-control" name="departure_time" id="departure_time"  value="<?php echo isset($this->trip['departure_date'])?date('h:i A', strtotime($this->trip['departure_date'])):''; ?>" type="text" /><span class="input-group-addon" onclick="clickDoc('departure_time');"><i class="fa fa-clock-o fa-fw"></i></span>
                            </div>
                            <?php if($isEdit){
								echo date('h:i A', strtotime($this->trip['departure_date']));
							}?>
                            <p style="margin-bottom: 0px;" id="err_departure_time" class="text-danger err_msg"></p>                                                           
                        </div>
                    </div>
               <?php //if(isset($action) && $action == 'edit'){?>
               <?php //} else { ?>
    <div class="row" id="displayFlightBtn" style="display:<?php echo ($isEdit)?'display:none':''?>;">  
                 <div class="form-group col-xs-12 mg-bot30">
                     <button type="button" class="btn btn-green" data-toggle="modal" data-target="#getFlightStops" onclick="getFlightStops(event)">Get Available Flights</button>
                  <p class="text-small" id="loading_flights_msg" style="color:red; display: none">Loading. Please wait...</p>
                 </div>
             </div>
			 <?php //}?>
    <div class="row">
       
      <div class="form col-xs-12 mg-bot30">
        <label class="control-label"></label>
         <input type="hidden" name="flight_key" id="flight_key" value="">
        <input type="hidden" name="proposal_key" id="proposal_key" value="">
         <input type="hidden" name="return_trip" id="return_trip" value="<?php echo $this->trip_type;?>"/>

        <input type="hidden" name="service_fee" id="service_fee" value="<?php echo (isset($this->trip['service_fee']) && !empty($this->trip['service_fee'])) ? $this->trip['service_fee'] : '' ?>">
        <input type="hidden" name="distance" id="distance" value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
        <input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>" >
        <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>" >
        <input type="hidden" name="origin_location_code" id="origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>" >
        <input type="hidden" name="destination_location_code" id="destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>" >
        <input type="hidden" name="operating_carrier_name" id="operating_carrier_name" value="">
        <input type="hidden" name="flight_number" id="flight_number" value="">
        <input type="hidden" name="selectedFlightData" id="selectedFlightData" value="<?php echo (isset($this->selectedFlightData) && !empty($this->selectedFlightData)) ? $this->selectedFlightData : '' ?>" />
        <input type="hidden" name="flight_name" id="flight_name" value="">
        <input type="hidden" name="trip_route" id="trip_route" value="<?php echo (isset($this->trip['trip_route']) && !empty($this->trip['trip_route'])) ? $this->trip['trip_route'] : '' ?>" />
        <input type="hidden" name="typeOfFlightSelect" id="typeOfFlightSelect" value="auto" />
         <input type="hidden" name="noofstops" id="noofstops" value="<?php echo (isset($this->trip['noofstops'])) ? $this->trip['noofstops'] : '' ?>" >
        <input type="hidden" name="origin_location_country_code" id="origin_location_country_code" value="<?php echo (isset($this->origin_location_country_code) && !empty($this->origin_location_country_code)) ? $this->origin_location_country_code : '' ?>" >
        <input type="hidden" name="destination_location_country_code" id="destination_location_country_code" value="<?php echo (isset($this->destination_location_country_code) && !empty($this->destination_location_country_code)) ? $this->destination_location_country_code : '' ?>" >
         <input type="hidden" name="destination_location_country" id="destination_location_country" value="" />
          <input type="hidden" name="origin_location_country" id="origin_location_country" value="" />
           <input type="hidden" name="destination_location_country" id="destination_location_country" value="" />
          <input type="hidden" name="origin_location_country" id="origin_location_country" value="" />
        <div class="table-responsive">
        <div id="divSelectedFlight">
          <?php
                    if (isset($this->airport_details) && !empty($this->airport_details)) {
                        ?>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Flight</th>
                <th>Airline</th>
                <th>Dept</th>
                <th>Arr</th>
                <th>Dept Dt</th>
                <th>Arr Dt</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <?php
    if (isset($this->airport_details) && !empty($this->airport_details)) {
        $fNo = 1;
        foreach ($this->airport_details as $flightRow) {
            $fligtData = $flightRow['carrier'] . '@@' . $flightRow['number'] . '@@' . $flightRow['departure'] . '@@' . $flightRow['arrival'] . '@@' . $flightRow['departure_date'] . '@@' . $flightRow['arrival_date'] . '@@' . $flightRow['airline_name'] . '@@' . $flightRow['airline_number'];
            ?>
              <tr>
                <td><?php echo $fNo; ?></td>
                <td><?php echo isset($flightRow['airline_name']) ? $flightRow['airline_name'] : '' ?> - <?php echo isset($flightRow['airline_number']) ? $flightRow['airline_number'] : '' ?></td>
                <td><?php echo isset($flightRow['departure']) ? $flightRow['departure'] : '' ?></td>
                <td><?php echo isset($flightRow['arrival']) ? $flightRow['arrival'] : '' ?></td>
                <td><?php echo isset($flightRow['departure_date']) ? $flightRow['departure_date'] : '' ?></td>
                <td><?php echo isset($flightRow['arrival_date']) ? $flightRow['arrival_date'] : '' ?></td>
                <td><a href="javascript:void(0);" class="popup-map btn-sm btn-primary" onclick="checkFightStatus('<?php echo $fligtData ?>');">Check Status</a></td>
              </tr>
              <?php
            $fNo++;
        }
    }
    ?>
            </tbody>
          </table>
          <?php
}
?>
        </div>
        </div> 
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel" data-backdrop="static">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title text-center" id="getFlightStopsLabel">Please enter or select details of airlines per flight booking you have made for this journey</h5>
          </div>
          <div class="modal-body">
            <div id="flights" style="display: none;">
              <div class="form-group">
                <label class="control-label">No.Stop</label>
                <select class="form-control"  name="nstop" id="nstop" onchange="getFlights()" >
                  <option value=""> - flight stops - </option>
                </select>
              </div>
              <div class="clearfix"></div>
              <div id="divFlights"></div>
            </div>
            <div id="add_flight_manually"> <span class="text-primary text-center">There is no flight details available with your searched items. Please add flight details manually.</span>
              <div class="form-group">
                <label class="control-label">No.Stop<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                <input type="hidden" name="selected_flights" id="selected_flights" value="0">
                <select class="form-control"  name="nstop_manual" id="nstop_manual" onchange="addRemoveFlightDetails(this.value);">
                  <option value="">Select stops</option>
                  <option value="0"> Direct </option>
                  <option value="1"> 1 </option>
                  <option value="2"> 2 </option>
                  <option value="3"> 3 </option>
                  <option value="4"> 4 </option>
                  <option value="5"> 5 </option>
                </select>
              </div>
              <div id="flightSectionBox">
                <div id="repeatable_1" class="manual_flight_section">
                  <h5 class="sub-heading text-left">Details of flight 1</h5>
                  <hr class="title-border">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <label class="control-label">Departure Date <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <div class="row">
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="date-pick form-control" name="manual_departure_date[]" id="manual_departure_date_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_departure_date_1" class="text-danger err_msg"></p>
                            </div>
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="time-pick form-control" name="manual_departure_time[]" id="manual_departure_time_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_departure_time_1" class="text-danger err_msg"></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="control-label">Arrival date <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <div class="row">
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="date-pick form-control" name="manual_arrival_date[]" id="manual_arrival_date_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_arrival_date_1" class="text-danger err_msg"></p>
                            </div>
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="time-pick form-control" name="manual_arrival_time[]" id="manual_arrival_time_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_arrival_time_1" class="text-danger err_msg"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="control-label">Airline name <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input type="text" name="manual_airline_name[]" id="airline_name_1" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="control-label">Airline number <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input type="text" name="manual_airline_number[]" id="airline_number_1" class="form-control" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="manual_origin_location[]" id="manual_origin_location_1" />
                          <p style="margin-bottom: 0px;" id="err_manual_origin_location_1" class="text-danger err_msg"></p>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="manual_destination_location" id="manual_destination_location_1" />
                          <p style="margin-bottom: 0px;" id="err_manual_destination_location_1" class="text-danger err_msg"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div id="divFlights"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
            <button type="button" id="showManuallyAddedFlights1"  class="btn btn-primary" onclick="showManuallyAddedFlights('form_travel_details');">Add Flights</button>
            <button type="button" id="getFlightFlights1"  class="btn btn-primary" onclick="getFlightStops(event)">Get Available Flights</button>
            <button type="button" id="showManuallyFlights1"  class="btn btn-primary" onclick="showManuallyFlights(0);">Add Manually</button>
         </div>
        </div>
      </div>
    </div>
        <!--<div id="tripOtherDetails" style="display:<?php echo (isset($action) && $action == 'edit')?'display':'none'?>;;">-->
                    <div id="tripOtherDetails" style="display:<?php echo (isset($action) && $action == 'edit')?'display':'none'?>">


    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Classes <a class="icon-info" href="#" data-toggle="tooltip" title="Please select class of flight journey per ticket reserved"></a></label>
         <select class="form-control" id="cabin" name="cabin">
                    <?php $cabinSelected = isset($this->trip['cabin'])?$this->trip['cabin']:'Economy Class'; ?>
                           <option <?php echo ($cabinSelected=='Economy Class')?'selected="selected"':''; ?>value="Economy Class" >Economy Class</option>
                    <option <?php echo ($cabinSelected=='Premium Economy')?'selected="selected"':''; ?>value="Premium Economy">Premium Economy</option>
                    <option <?php echo ($cabinSelected=='Business Class')?'selected="selected"':''; ?>value="Business Class">Business Class</option>
                      <option <?php echo ($cabinSelected=='First Class')?'selected="selected"':''; ?>value="First Class">First Class</option>
                </select>  
      </div>
       <div class="form-group col-sm-6">
        <label class="control-label">Booking Status <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <select class="form-control" id="booking_status" name="booking_status">
          <?php $bookingSelected = isset($this->trip['booking_status'])?$this->trip['booking_status']:'Confirmed'; ?>
          <option <?php echo ($bookingSelected=='Confirmed')?'selected="selected"':''; ?> value="Confirmed" >Confirmed</option>
                    <option <?php echo ($bookingSelected=='Awaiting confirmation')?'selected="selected"':''; ?> value="Awaiting confirmation">Awaiting confirmation</option>
               
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label">Ticket <a class="icon-info" href="#" data-toggle="tooltip" title="Please upload the ticket you have booked per origin and destination location details provided above either by uploading or email forwarding directly to tickets@trepr.com. Listing will be complete only when a valid ticket is uploaded and approved. Usually our approval process takes 30 mins to 1 hour time meanwhile you may continue searching for potentials members."></a></label>
        <div class="row">
         <?php
        $showTicket = true;
        /* if(isset($this->TYPE) && !empty($this->TYPE)){
              $showTicket = false;
         }
         if($showTicket){*/
             ?>
          <div class="col-sm-6">
            <input type="radio" name="ticketOption" id="uploadTicket" class="ticketSendOption" value="uploadTicket" checked="checked">
            Upload Ticket </div>
         <?php //}?>
          <div class="col-sm-6">
            <input type="radio" name="ticketOption" id="emailTicket"  <?php echo ($showTicket)?'':'checked="checked" ';?> class="ticketSendOption" value="emailTicket">
            Email Ticket </div>
        </div>
      </div>
      <div class="col-sm-6 form-group uploadTicketDiv" style="display:<?php echo ($showTicket)?'display':'none';?>;">
	  <canvas id="the-canvas" style="width:120px;height:120px;display:none;border:1px solid black;"></canvas>
								<img src="" style="width:120px;height:120px;display:none;border:1px solid black;" id="ticket_image_view"/>
	<div class="delete-btn" style="width: 25%; text-align: center; margin-bottom: 23px;display:none;" id="delete_upload"><a class="qq-upload-delete" href="javascript:;" style="background: url(&quot;images/close-x.png&quot;) left top no-repeat; width: 12px; display: inline-block;">Delete</a></div>
                                    <input class="form-control" type="file" name="ticket_image" id="ticket" onchange="readURLs(this,this.value,'ticket_image_view');">
									
        <input class="form-control" type="file" name="ticket_image" id="ticket">
        <?php if ((isset($this->trip['ticket_image']) && $this->trip['ticket_image'] != '' && $showTicket)) { ?>
        <img width="100" height="100" class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/tickets/<?php echo $this->trip['ticket_image'] ?>" id="current_ticket" alt="" title="">
        <?php } ?>
        

        <p style="margin-bottom: 0px;" id="err_ticket" class="text-danger err_msg"></p>
        <p class="help-block">Upload your Ticket</p>
      </div>
      <div class="col-sm-12 form-group emailTicketDiv" style="display:<?php echo ($showTicket)?'none':'display';?>;">
          <p style="margin-bottom: 0" class="emailTicketUniqueId">Please copy your trip identification number and use it in your ticket mail <a role="button" data-toggle="modal" href="#new-compose-dialog" aria-expanded="false" aria-controls="collapseExample">Compose</a></p>
        <?php
        //echo $betrip."asd";
        if(isset($betrip) && $betrip =='yes') {
            $tripIdNumber =  'B';
            $tripIdNumber .= $comSessObj->userid . 'TRIP' . date('Ymdhi');
            
        }else {
$tripIdNumber = ($comSessObj->userrole == 'seeker') ? 'S' : 'T';
$tripIdNumber .= $comSessObj->userid . 'TRIP' . date('Ymdhi');
        }
?>
        <input type="hidden" id="tripIdNumber" name="tripIdNumber" value="<?php echo $tripIdNumber; //echo (isset($this->trip['trip_id_number']) && !empty($this->trip['trip_id_number'])) ? ($this->trip['trip_id_number']) : $tripIdNumber; ?>" />
       
        <input type="hidden" id="return_trip_image"  name="return_trip_image"  value="<?php echo $this->trip['ticket_image']; ?>"/>
                        
        
        
        <p style="margin-bottom: 0" class="emailTicketUniqueId"><?php echo $tripIdNumber;//echo (isset($this->trip['trip_id_number']) && !empty($this->trip['trip_id_number'])) ? ($this->trip['trip_id_number']) : $tripIdNumber; ?></p>
      </div>
    </div>
    <h5 class="sub-heading text-left">Reservation Details</h5>
    <hr class="title-border">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#reservationDetail-01">Who is your travel agent?</a> </h4>
        </div>
        <div id="reservationDetail-01" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Name <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide name of travel agency who is a private retailer or public service that provides travel and tourism related services on behalf of airlines."></a></label>
                <input type="text" name="travel_agency_name" id="travel_agency_name" class="form-control" value="<?php echo (isset($this->trip['travel_agency_name']) && !empty($this->trip['travel_agency_name'])) ? $this->trip['travel_agency_name'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency URL <a class="icon-info" href="#" data-toggle="tooltip" title="http://www.travelstore.com"></a></label>
                <input type="text" name="travel_agency_url" id="travel_agency_url" class="form-control" value="<?php echo (isset($this->trip['travel_agency_url']) && !empty($this->trip['travel_agency_url'])) ? $this->trip['travel_agency_url'] : '' ?>" onblur="checkValidURL(this.value,'err_travel_agency_url');"/>
                <p style="margin-bottom: 0px;" id="err_travel_agency_url" class="text-danger err_msg"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Confirmation # <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide agency ticket confirmation number"></a></label>
                <input type="text" name="travel_agency_confirmation" id="travel_agency_confirmation" class="form-control" value="<?php echo (isset($this->trip['travel_agency_confirmation']) && !empty($this->trip['travel_agency_confirmation'])) ? $this->trip['travel_agency_confirmation'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Contact Name <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact name of the travel agency"></a></label>
                <input type="text" name="travel_agency_contact_name" id="travel_agency_contact_name" class="form-control" value="<?php echo (isset($this->trip['travel_agency_contact_name']) && !empty($this->trip['travel_agency_contact_name'])) ? $this->trip['travel_agency_contact_name'] : '' ?>"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Phone <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact phone name of the travel agency"></a></label>
                <input type="text" name="travel_agency_phone" id="travel_agency_phone" class="form-control numonly" value="<?php echo (isset($this->trip['travel_agency_phone']) && !empty($this->trip['travel_agency_phone'])) ? $this->trip['travel_agency_phone'] : '' ?>"/>
                <p style="margin-bottom: 0px;" id="err_travel_agency_phone" class="text-danger err_msg"></p>
              </div>
              <div class="form-group  col-sm-6">
                <label class="control-label">Agency Email <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact email ID of the travel agency"></a></label>
                <input type="text" name="agency_email" id="agency_email" class="form-control" value="<?php echo (isset($this->trip['agency_email']) && !empty($this->trip['agency_email'])) ? $this->trip['agency_email'] : '' ?>" onblur="checkValidEmail(this.value,'err_agency_email')"/>
                <p style="margin-bottom: 0px;" id="err_agency_email" class="text-danger err_msg"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-03">Where did you reserve it?</a> </h4>
        </div>
        <div id="reservationDetail-03" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site Name <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide site name in which you booked the ticket"></a></label>
                <input type="text" name="booking_site_name" id="booking_site_name" class="form-control" value="<?php echo (isset($this->trip['booking_site_name']) && !empty($this->trip['booking_site_name'])) ? $this->trip['booking_site_name'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site URL <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide site URL in which you booked the ticket"></a></label>
                <input type="text" name="booking_site_url" id="booking_site_url" class="form-control" value="<?php echo (isset($this->trip['booking_site_url']) && !empty($this->trip['booking_site_url'])) ? $this->trip['booking_site_url'] : '' ?>" onblur="checkValidURL(this.value,'err_booking_site_url');"/>
                <p style="margin-bottom: 0px;" id="err_booking_site_url" class="text-danger err_msg"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site Phone <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact number of the website booked"></a></label>
                <input type="text" name="booking_site_phone" id="booking_site_phone" class="form-control numonly" value="<?php echo (isset($this->trip['booking_site_phone']) && !empty($this->trip['booking_site_phone'])) ? $this->trip['booking_site_phone'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site Email <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide email ID of the website booked"></a></label>
                <input type="text" name="booking_site_email" id="booking_site_email" class="form-control" value="<?php echo (isset($this->trip['booking_site_email']) && !empty($this->trip['booking_site_email'])) ? $this->trip['booking_site_email'] : '' ?>" onblur="checkValidEmail(this.value,'err_booking_site_email')"/>
                <p style="margin-bottom: 0px;" id="err_booking_site_email" class="text-danger err_msg"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-04">What are the booking details?</a> </h4>
        </div>
        <div id="reservationDetail-04" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6"> <!-- Date picker -->
                <label class="control-label">Booking Date <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide the date when travel ticket was booked"></a></label>
                <input type="text" name="booking_date" id="booking_date" class="form-control booking_date" value="<?php echo (isset($this->trip['booking_date']) && !empty($this->trip['booking_date'])) ? date('m/d/Y', $this->trip['booking_date']) : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Reference #<a class="icon-info" href="#" data-toggle="tooltip" title="Please provide online ticket confirmation reference number"></a></label>
                <input type="text" name="booking_reference" id="booking_reference" class="form-control" value="<?php echo (isset($this->trip['booking_reference']) && !empty($this->trip['booking_reference'])) ? $this->trip['booking_reference'] : '' ?>"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Reservation is Purchased <a class="icon-info" href="#" data-toggle="tooltip" title="Please check if ticket is purchased and not rewarded/gifted"></a></label>
                <div class="yesNo">
                    <label class="sliderCheck <?php echo (isset($this->trip['reservation_is_purchased']) && $this->trip['reservation_is_purchased'] == 1) ? 'checked' : '' ?>">
                        <input type="checkbox" name="reservation_is_purchased" id="reservation_is_purchased" <?php echo (isset($this->trip['reservation_is_purchased']) && $this->trip['reservation_is_purchased'] == 1) ? 'checked="checked"' : '' ?> value="1" />
                        <div class="slider round"></div>
                    </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-05">What did you pay?</a> </h4>
        </div>
        <div id="reservationDetail-05" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label">Total Cost<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a></label>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" name="total_cost" id="total_cost" class="form-control numonly" value="<?php echo (isset($this->trip['booking_cost']) && !empty($this->trip['booking_cost'])) ? $this->trip['booking_cost'] : '' ?>"/>                        
                            </div>
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="total_cost_currency" name="total_cost_currency">
                                    <?php $reservationSelected = (isset($this->trip['tripDetails']['booking_cost_currency']) && !empty($this->trip['tripDetails']['booking_cost_currency'])) ? $this->trip['tripDetails']['booking_cost_currency'] : ''; ?>
                                    <option value="">-- select --</option>
                                    <?php foreach($currency as $currencyRow){ ?> <option <?php echo ('USD' == $currencyRow['currency_code']) ? 'selected="selected"' : ''; ?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                                </select> 
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">Discount code<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide discount code used to purchase ticket."></a></label>                        
                        <input type="text" name="discount_code" id="discount_code" class="form-control" value="<?php echo (isset($this->trip['discount_code']) && !empty($this->trip['discount_code'])) ? $this->trip['discount_code'] : '' ?>"/>                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label">Discount cost<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a></label>                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" name="total_discount_cost" id="total_discount_cost" class="form-control numonly" value="<?php echo (isset($this->trip['total_discount_cost']) && !empty($this->trip['total_discount_cost'])) ? $this->trip['total_discount_cost'] : '' ?>"/>                        
                            </div>
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="total_discount_currency" name="total_discount_currency">
                                    <?php $reservationSelected = (isset($this->trip['tripDetails']['total_discount_currency']) && !empty($this->trip['tripDetails']['total_discount_currency'])) ? $this->trip['tripDetails']['total_discount_currency'] : ''; ?>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?> value="">-- select --</option>
                                   <?php foreach($currency as $currencyRow){ ?> <option <?php echo ('USD' == $currencyRow['currency_code']) ? 'selected="selected"' : ""; ?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label">Comments/Restrictions <a class="icon-info" href="#" data-toggle="tooltip" title="Any added facilities/restrictions in ticket purchased"></a></label>
                        <textarea name="comments_restrictions" id="comments_restrictions" class="form-control"><?php echo (isset($this->trip['comments_restrictions']) && !empty($this->trip['comments_restrictions'])) ? $this->trip['comments_restrictions'] : '' ?></textarea>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
     </div>
  </div>
</form>

<div id="flightDisplayContents" style="display: none;">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>
<div class="modal fade" id="new-compose-dialog" tabindex="-1" role="dialog" aria-labelledby="referraldetails">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center modal-title" id="referraldetails">Compose Mail</h4>
      </div>
      <div class="modal-body" style="height:400px;overflow-y:auto;">
        <form class="form_addtrippeople_origindetail" id="form_compose_mail" name="form_compose_mail" action="" method="post" role="form">
          <div class="panel-body">
            <div>
              <div class="form-group">
                <label class="control-label">Subject <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                <input class="form-control" name="subject" id="subject" value="<?php echo 'Email Ticket #' . $tripIdNumber ?>"  type="text">
                <p style="margin-bottom: 0px;" id="err_subject" class="text-danger err_msg"></p>
              </div>
              <div class="form-group">
                <label class="control-label">Message <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                <textarea class="form-control" name="message" id="message" placeholder="Message" rows="3"></textarea>
                <p style="margin-bottom: 0px;" id="err_message" class="text-danger err_msg"></p>
              </div>
              <div class="form-group">
                <input class="btn btn-primary" onclick="javascript:composeEmail();" name="submit" value="Send" type="button">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing-api.min.js"></script>
<script type="text/javascript" src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
<script>
function clickDoc(id){
					$('#'+id).trigger('click');
					$('#'+id).focus();
}
function readURLs(input,velu,id) {
var val = velu.toLowerCase();
var regex = new RegExp("(.*?)\.(pdf)$");
 if(!(regex.test(val))) {	
if (input.files && input.files[0]) {
		$('#current_ticket').remove();
        var reader = new FileReader();
		reader.onload = function (e) {
			$('#'+id).css({'display':'block'});
			$('#the-canvas').css({'display':'none'});
			$('#delete_upload').css({'display':'block'});
			$('#'+id).attr('src',e.target.result);
		}
		$('#err_ticket').hide();
	reader.readAsDataURL(input.files[0]);
    }
 }else{
	 $('#'+id).css({'display':'none'});
	 $('#the-canvas').css({'display':'block'});
	 $('#delete_upload').css({'display':'block'});
	 PDFJS.disableWorker = true;
    var pdf = document.getElementById('ticket_image');
	 fileReader = new FileReader();
        fileReader.onload = function(ev) {
          console.log(ev);
          PDFJS.getDocument(fileReader.result).then(function getPdfHelloWorld(pdf) {
            console.log(pdf)
            pdf.getPage(1).then(function getPageHelloWorld(page) {
              var scale = 1.5;
              var viewport = page.getViewport(scale);
              var canvas = document.getElementById('the-canvas');
              var context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;
              var task = page.render({canvasContext: context, viewport: viewport})
              task.promise.then(function(){
                console.log(canvas.toDataURL('image/jpeg'));
              });
            });
			$('#err_ticket').hide();
          }, function(error){
            console.log(error);
          });
        };
        fileReader.readAsArrayBuffer(input.files[0]);
      }
  }
$(document).on('click','#delete_upload',function(){
	$(this).hide();
	$('#the-canvas,#ticket_image_view').attr('src','');
	$('#ticket').val(null);
	$('#the-canvas,#ticket_image_view').hide();
	
});
</script>
<style>
.qq-upload-delete {
    background: none repeat scroll 0 0 #d60000 !important;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 0 0 0 !important;
    padding: 2px 10px;
    min-width: 50px !important;
}
</style>