<div class="col-md-3 right-pad">
    <div class="verify-traveler">
        <div class="sidebar-block bg-white"> 
            <div class="panel panel-default verify-traveler">
                <div class="panel-body">
                    <div class="pro-block clearfix" style="border-bottom: 1px solid #d9d9d9;">
                        <div class="hovereffect">
                            <?php                                  if(isset($this->trip_user['image']) && !empty($this->trip_user['image'])){                                    if(strpos($this->trip_user['image'], "http") !== false){                                        $img = $this->trip_user['image'];                                    }else{                                        $img = $this->basePath().'/public/uploads/profile_picture/small/'.$this->trip_user['image'];                                    }                                }else{                                    $img = $this->basePath().'/public/default_user.png';                                }                            ?> <img class="img-responsive" src="<?php echo $img; ?>" alt="<?php echo $this->trip_user['first_name']; ?>">
                            <div class="overlayeffect">
                                <!--                                <h2><?php echo $this->trip_user['first_name']; ?></h2>                                <p><a href="#">EDIT</a></p>-->
                                <p>
                                    <?php if(isset($trip_user['created']) && !empty($trip_user['created'])){?>
                                    <p>Member Since
                                        <?php echo date('M, Y',strtotime($trip_user['created']))?>
                                    </p>
                                    <?php }?>
                                </p>
                                <p><img src="<?php echo $this->basePath()?>/public/img/star_<?php echo $avg_rating;?>.png" alt=""></p>
                                <p>
                                    <?= $this->user_location['city']; ?> ,
                                        <?= $this->user_location['country_name']; ?> .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-block bg-white">
            <div class="panel panel-default verify-traveler verify-new">
                <div class="panel-heading">
                    <h3 class="panel-title">Verification</h3>
                </div><?php //echo "<pre>";print_r($this->trip_user);echo "</pre>";?>
                <div class="panel-body">
                    <ul class="verify-traveler-details verify-traveler-details-sm list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-xs-12"> <strong>Email Address</strong>
                                    <div class="indicator"> xxxxx@xxxx.com
                                        <?php if ($this->trip_user['email_verify']) { ?>
                                            <div class="label-verifi"> <i class="fa fa-check box-icon-success round"></i> <small>verified</small></div>
                                            <?php } else { ?>
                                                <div class="label-notverifi"><i class="fa fa-times box-icon-danger round"></i> <small>Not verified</small></div>
                                                <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-12"> <strong>Phone Number</strong>
                                    <div class="indicator">
                                        <?php if ($this->trip_user['phone'] != '') { ?> xxxxxxx
                                            <?php echo substr($this->trip_user['phone'], -3); ?>
                                                <?php } ?>
                                                    <?php if ($this->trip_user['phone_verify']) { ?>
                                                        <p class="label-verifi"><i class="fa fa-check box-icon-success round"></i><small>verified</small></p>
                                                        <?php } else { ?>
                                                            <p class="label-notverifi"><i class="fa fa-times box-icon-danger round"></i> <small>Not verified</small></p>
                                                            <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <?php if ($this->userTrustVerification) { ?>
                        <li>
                            <div> <strong>ID Verification</strong> </div>
                            <?php foreach ($this->userTrustVerification as $trustType) { ?>
                            <div class="indicator" style="margin-top:0.5em;">
                                 <?php 
										if($trustType['approved']== '1') {
											echo $trustType['identity_name'];
										} else if($trustType['approved']== '0' && $trustType['identity_name'] =='Passport'){
											
											echo $trustType['identity_name'];

										}

										?>
                                <?php if ($trustType['approved'] != '' && $trustType['approved'] != '0') { ?>
                                <div class="label-verifi"><i class="fa fa-check box-icon-success round"></i> <small>Verified</small> </div>
                                <?php } else if($trustType['identity_name']  == 'Passport'){ ?>
                                <div class="label-notverifi"> <i class="fa fa-times box-icon-danger round"></i> <small>Not verified</small> </div>
                                <?php } ?> </div>
                            <?php } ?> </li>
                        <?php } ?> </ul>
                    
                </div>
            </div>
        </div>
        <div class="sidebar-block bg-white">
            <div class="panel panel-default verify-traveler">
                <div class="panel-heading">
                    <h3 class="panel-title">Online Account</h3>
                </div>
                <div class="panel-body">
                    <ul class="verify-traveler-details list-unstyled">
                        <li class="socialConnection">
                            <div class="row">
                                <div class="col-xs-12"> <strong>Social Connections</strong> </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="margin-top:0.5em;">
                                    <?php if ($this->trip_user['facebook_id'] != '') { ?>
                                    <!--                                      <span class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Connected</span>--><span class="btn btn-social-new social-disconnect" style="background: #4568b2 !important;color: #fff;position: relative;"><i class="fa fa-check box-icon-success round" style="position: absolute;right: -7px;top: -7px;"></i><span class="fa fa-facebook"></span></span>
                                    <?php } else { ?> <span class="btn btn-social-new social-disconnect" style="background: #4568b2 !important;color: #fff;"><span class="fa fa-facebook"></span></span>
                                    <?php } ?>
                                    <?php if ($this->trip_user['google_id'] != '') { ?> <span class="btn btn-social-new social-disconnect" style="background: #dd4b39 !important;color: #fff;position: relative;"><i class="fa fa-check box-icon-success round" style="position: absolute;right: -7px;top: -7px;"></i><span class="fa fa-google-plus"></span></span>
                                    <?php } else { ?> <span class="btn btn-social-new social-disconnect" style="background: #dd4b39 !important;color: #fff;"><span class="fa fa-google-plus"></span></span>
                                    <?php } ?>
                                    <?php if ($this->trip_user['twitter_id'] != '') { ?> <span class="btn btn-social-new btn-twitter social-connect"><i class="fa fa-check box-icon-success round"></i><span class="fa fa-twitter"></span></span>
                                    <?php } else { ?> <span class="btn btn-social-new btn-twitter social-disconnect"><span class="fa fa-twitter"></span></span>
                                    <?php } ?>
                                    <?php if ($this->trip_user['linkedin_id'] != '') { ?> <span class="btn btn-social-new btn-linkedin social-connect"><i class="fa fa-check box-icon-success round"></i><span class="fa fa-linkedin"></span></span>
                                    <?php } else { ?><span class="btn btn-social-new btn-linkedin social-disconnect"><span class="fa fa-linkedin"></span></span>
                                    <?php } ?> </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <?php if(isset($comSessObj->userid) && $comSessObj->userid != ''){?>
        <div class="sidebar-block bg-white text-center" style="border-bottom: 0;">
            <div class="sharBlog">
                <ul class="list-unstyled">
                    <li><a class="btn btn-primary" onclick="saveWishlist('<?php echo $trip_id;?>','traveller')" href="javascript:void(0);"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Save to wish list</a></li>
                    <li><a class="btn btn-primary popup-map" id="mapPopUp" href="#new-card-dialog" data-effect="mfp-zoom-out"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Report This Listing</a> </li>
                    <li style="margin-bottom:0;"><a class="btn btn-primary" onclick="return checkTripSelected()" href="#"><span class="glyphicon glyphicon-envelope"></span> Connect with member</a></li>
                    <li style="margin-bottom:0;display:none;"><a class="btn btn-primary popup-map" href="#connect-dialog" data-effect="mfp-zoom-out"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Connect with member</a> </li>
                </ul>
            </div>
        </div>
        <?php } ?> </div>
</div>
<!-- Left Coloumn -->
<div id="new-card-dialog" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg">
    <div class="panel-body">
        <form method="post">
            <div class="head-wrap">
                <h4 class="tab-heading">Do you want to anonymously report this listing?</h4> <button title="%title%" type="button" class="mfp-close">&#215;</button> </div>
            <p>If so, please choose one of the following reasons and our dedicated Trust ans Safety team will look into it.</p>
            <div class="panel-group content-none panel-group-report">
                <div class="panel panel-default" id="trust-01">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a><label for="trust-01"><input type="radio" value="trust-01" id="This listing should’t be on Trepr" name="reportlisting"> This listing should’t be on Trepr</label></a></h4>
                    </div>
                </div>
                <div class="panel panel-default" id="trust-02">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a><label for="trust-02"><input type="radio" value="This is not a valid listing" id="trust-02" name="reportlisting">This is not a valid listing</label></a></h4>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default" id="trust-03">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a><label for="trust-03"><input type="radio" value="Inappropriate content or spam" id="trust-03" name="reportlisting">Inappropriate content or spam</label></a> </h4>
                    </div>
                </div>
                <div class="panel panel-default" id="trust-04">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a><label for="trust-04"><input type="radio" value="trust-04" id="trust-04" name="reportlisting">Other</label></a> </h4>
                    </div>
                </div>
            </div>
            <div>
                <form>
                    <div class="form-group" id="OtherReportList"> <label class="control-label">Report</label> <textarea class="form-control" placeholder="Report" id="reportOther" name="reportOther"></textarea> </div>
                    <div class="form-group"> <input class="btn btn-black mr15" type="button" id="cancel" value="Cancel" /><input class="btn btn-primary" type="button" id="reportMailSend" name="reportMailSend" value="Submit" onclick="SendReportMailSeeker(<?php echo isset($tripid)?$tripid:" " ?>);"/> <span style="color:red" id="err_reportlisting"></span> </div>
                </form>
            </div>
    </div>
</div>
<div id="connect-dialog" class="mfp-with-anim mfp-hide mfp-dialog modal-lg">
    <div class="panel-body">
        <div class="head-wrap">
            <h4 class="tab-heading">Connect with member</h4> <button title="%title%" type="button" class="mfp-close">&#215;</button> </div>
        <div>
            <form method="post">
                <div class="form-group"> <label class="control-label">Subject</label> <input class="form-control" name="membersubject" id="membersubject" autocomplete="off" placeholder="Your name" type="text" /> <span style="color:red" id="err_membersubject"></span> </div>
                <div class="form-group"> <label class="control-label">Message</label> <textarea class="form-control" placeholder="Message" name="membermessage" id="membermessage"></textarea> <span style="color:red" id="err_membermessage"></span> </div>
                <div class="form-group"> <input class="btn btn-primary" type="button" name="mebersubbtn" id="mebersubbtn" value="Send" onclick="SendMessageMailSeeker(<?php echo isset($tripid)?$tripid:" " ?>);"/> <span style="color:green" id="MailStatusmessage"></span> </div>
        </div>
        </form>
    </div>
</div>
<style>
.sharBlog{ padding:0px;}
.sharBlog ul li{ width:100%;margin-left:0px;}
</style>
<script>
	function checkTripSelected(){
		var service = $("#type_of_service").val();
		if(service == 'Package'){
			var tripId = $('#existing_package_trip').val();
		} else if(service == 'People'){
			var tripId = $('#existing_trip1').val();
		} else if(service == 'Project'){
			var tripId = $('#existing_project_trip1').val();
		}
		if (tripId == '' || typeof tripId == 'undefined' || tripId == 'undefined') {
			loadblockUI('Please add or select your request information to send request');
			setTimeout('$.unblockUI();', 3000);
			return false;
		} else {
			$('a[href="#connect-dialog"]').trigger('click');
		}
	}
    $('#OtherReportList').hide();
    $('#OtherReportList').hide();
    $('#trust-04').click(function() {
        $('#trust-04').attr("checked", "checked");
        $('#OtherReportList').show();
    });
    $('#trust-01').click(function() {
        $('#trust-01').attr("checked", "checked");
        $('#OtherReportList').hide();
    });
    $('#trust-02').click(function() {
        $('#trust-02').attr("checked", "checked");
        $('#OtherReportList').hide();
    });
    $('#trust-03').click(function() {
        $('#trust-03').attr("checked", "checked");
        $('#OtherReportList').hide();
    });
    $('#cancel').click(function() {
        $('.mfp-close').click();
    });
    $('.mfp-close').click(function() {
        $('#err_membermessage ').html('');
        $('#err_membersubject').html('');
        $('#err_reportlisting').html('');
    });
    $(".panel-group-report .panel-title a").click(function() {
        $(this).children().children().prop("checked", true);
    });
    $(".panel-group-report.panel-group > .panel").click(function() {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script>