<?php if (isset($this->trip['trip_package']) && $this->trip['trip_package'] != '') { ?>
    <!-- package-info -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info">Package Info</a></h4>
        </div>
        <div class="panel-collapse collapse" id="package-info">
            <div class="panel-body">
                <form id="fromSeekerPackageRequest" name="fromSeekerPackageRequest">

                    <h5 class="sub-heading text-left">Provide details about packages</h5>
                    <hr class="title-border">

                    <!--                    <div class="headline">
                                            <p><strong>Provide details about packages</strong></p>
                                        </div>-->
                    <div class="row">
                        <div class="form-group form-group-select-plus col-sm-12">
                            <label class="control-label">No of individual items need to be carried</label>
                            <p> <?php echo $this->trip_seeker_packages['packages']; ?>
                                <input type="hidden" name="packages_count" id="packages_count" value="<?php echo $this->trip_seeker_packages['packages']; ?>" >
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row" id="packages_box">
                              <?php
                                    if (isset($this->trip['trip_packages_packages']) && !empty($this->trip['trip_packages_packages'])) {
                                        $pNo = 1;
                                        $itemNo = 1;
                                        foreach ($this->trip['trip_packages_packages'] as $passaRow) {
                                          

                                    ?>
                                <div class="col-md-12" id="packages_box_1">
                                    <h5 class="sub-heading text-left">details of Item <?php echo $itemNo; ?> </p>
                                    </h5>
                                    <hr class="title-border">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                           <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Item category</label>
                                                    <p><?php echo $passaRow['catname'];?></p>
                                                </div>                                                                                                                                    
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Item Type</label>
                                                    <p><?php echo $passaRow['subcatname'];?></p>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Item Description</label>
                                                    <p><?php echo $passaRow['item_description'];?></p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Approximate weight</label>
                                                    <?php if(isset($passaRow['negligible_weight']) && $passaRow['negligible_weight'] != 0){ ?>
                                                        <p>0-0.5 Kg</p>
                                                    <?php } else { ?>
                                                        <p><?php echo $passaRow['weight'];?>Kgs</p>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                           
                                            <div class="row">     
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Approx. size of item</label>
                                                    <?php if(isset($passaRow['negligible_size']) && $passaRow['negligible_size'] != 0){ ?>
                                                        <p>A4 Paper Size</p>
                                                    <?php } else { ?>
                                                        <p>
                                                            L: <?php echo (isset($passaRow['length']) && !empty($passaRow['length']))?$passaRow['length']:'--';?>
                                                            W: <?php echo (isset($passaRow['width']) && !empty($passaRow['width']))?$passaRow['width']:'--';?>
                                                            H: <?php echo (isset($passaRow['height']) && !empty($passaRow['height']))?$passaRow['height']:'--';?>
                                                        </p>
                                                    <?php } ?>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Approx. worth of Item</label>
                                                    <p><?php echo $passaRow['item_worth'];?> <?php echo $passaRow['item_worth_currency'];?></p>
                                                </div>
                                            </div>
                                         
                                            <div class="row">                                                                                                                 
                                                <div class="form-group col-md-12">
                                                    <label class="control-label" for="itemsize">Picture of item</label>
                                                    <p><?php
                                                    if(isset($passaRow['photo']) && !empty($passaRow['photo'])){
                                                        ?>
                                                       <img width="100"  class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/<?php echo $passaRow['photo'] ?>" />
                                                     <?php
                                                    }else{
                                                        echo '--';
                                                    }
                                                    ?></p>
                                                </div>
                                            </div>
                                         
                                         <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Condition</label>
                                                    <p><?php echo (isset($passaRow['condition']) && !empty($passaRow['condition']))?$passaRow['condition']:'--';?></p>
                                                </div>                                                                                                                                    
                                                <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Quantity</label>

                                                    <p><?php echo (isset($passaRow['item_quantity']) && !empty($passaRow['item_quantity']))?$passaRow['item_quantity']:'--';?></p>

                                                </div>
                                            </div>
                                         <div class="row">
                                               <div class="form-group col-md-6">
                                                    <label class="control-label" for="itemsize">Color</label>

                                                    <p style="background-color:<?php echo (isset($passaRow['color']) && !empty($passaRow['color']))?$passaRow['color']:'--';?>">&nbsp;</p>

                                                </div>
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div>
                             <?php 

                                    $itemNo++;
                             
                                            }
                                        }
                             ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="itemsize">Total Weight</label>
                            <p><?php echo $this->trip_seeker_packages['total_weight']; ?>Kgs</p>
                        </div>                                                                                                                                    
                        <div class="form-group col-md-6">
                            <label class="control-label" for="itemsize">Total Worth</label>

                            <p><?php echo $this->trip_seeker_packages['total_worth']; ?></p>

                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="itemsize">Contact Name</label>
                            <p><?php echo (isset($this->trip_seeker_packages['contact_name']) && !empty($this->trip_seeker_packages['contact_name']))?$this->trip_seeker_packages['contact_name']:'--'; ?></p>
                        </div>                                                                                                                                    
                        <div class="form-group col-md-6">
                            <label class="control-label" for="itemsize">Contact Number</label>

                            <p><?php echo (isset($this->trip_seeker_packages['contact_number']) && !empty($this->trip_seeker_packages['contact_number']))?$this->trip_seeker_packages['contact_number']:'--'; ?></p>

                        </div>
                    </div>
                     <div class="row">
                         <div class="form-group col-md-6">
                        <label class="control-label">Contact email ID</label>
                        <p><?php   echo (isset($this->trip_seeker_packages['email_address']) && !empty($this->trip_seeker_packages['email_address']))?$this->trip_seeker_packages['email_address']:'--';?></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Comments to Travelers</label>
                        <p><?php  echo (isset($this->trip_seeker_packages['comment']) && !empty($this->trip_seeker_packages['comment']))?$this->trip_seeker_packages['comment']:'--'; ?></p>
                    </div>
                         </div>
                </form>
                <?php 
                
                if ($this->user['ID'] != $this->trip['user']) { ?>
                <div class="form-group"><button class="btn btn-primary" type="button" onclick="SelectService('package-info-request');">Select this Service</button></div>
                <?php } ?>
                <div class="gap gap-mini"></div>

                <?php if ($this->user['ID'] != $this->trip['user']) { ?>
                    <div id="package-info-request" style="display: none;">
                   
                        <form id="fromTravellerPackageRequest" name="fromTravellerPackageRequest">
                            <?php if ($this->traveller_exiting_package_trip == 'yes') { ?>
                                <div class="form-group form-group-select-plus">
                                    <div class="col-sm-9">
                                        <input type="radio" name="travellerPackageRequest" id="travellerPackageRequest" class="travellerPackageRequest" value="existing_trip" checked="checked">
                                        Select Trip Need
                                        <select class="form-control existing_package_trip" name="existing_package_trip" id="existing_package_trip" onchange="getTravellerPackageServiceNeed(this.value)">
                                            <option value="" selected="selected"> - select trip request - </option>
                                            <?php
                                            if (count($this->traveller_upcoming_trips) > 0) {
                                                foreach ($this->traveller_upcoming_trips as $traveller_trip) {
                                                    if ($traveller_trip['trip_package']['ID']) {
                                                     if (($traveller_trip['origin_location_country'] == $this->trip['origin_location_country']) && ($traveller_trip['destination_location_country'] == $this->trip['destination_location_country'])) {
                                                            ?>
                                                            <option value="<?php echo $traveller_trip['ID']; ?>"><?php echo $traveller_trip['origin_location_code']; ?> - <?php echo $traveller_trip['destination_location_code']; ?> ( <?php echo date('m/d/Y', strtotime($traveller_trip['departure_date'])); ?> )</option>
                                                            <?php
                                                        }
                                                    }
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="gap gap-mini"></div>
                                    <div id="divPackagesDetail" class="existing_package_trip"></div>
                                    <div class="gap gap-mini"></div>
                                </div>
                                <div class="form-group form-group-select-plus">
                                    <div class="col-sm-9">
                                        <input type="radio" name="travellerPackageRequest" id="travellerPackageRequest" class="travellerPackageRequest" value="new_trip">
                                        Add New Trip Request </div>
                                    <div class="gap gap-mini"></div>
                                </div>
                            <?php } ?>
                         <div id="divTravellerPackageRequestNew" <?php  echo ($this->traveller_exiting_package_trip == 'yes')?'style="display:none;"':'';?>>
                        <div class="form-group text-left"><a href="<?php echo $this->basePath(); ?>/traveller/add-package-service?g=<?php echo urlencode('seeker/detail/'.$trip_id.'?service=Package')?>" class="btn btn-primary" >Add Package Service</a> </div>

                         </div>
                        </form>
                    </div>
                
                <script>
    /*getPacakgesFee();*/
    
    $('input:radio').click(function() {
    $('input:radio[name='+$(this).attr('name')+']').parent().removeClass('active');
        $(this).parent().addClass('active');
});
</script>
                <?php } ?>
            </div>
        </div>
    </div>
    <!-- package-info -->
<?php } ?>