<?php if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') {
    $GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
    ?>

    <!-- people-info -->
    <div class="panel panel-default">
        <link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info">People Info</a></h4>
        </div>
        <div class="panel-collapse collapse" id="people-info">
            <div class="panel-body">
                
                <div class="row">
                   <div class="form-group col-sm-6">
                       <label class="control-label">Number of passenger(s)</label>
                       <p>
                           <?php echo (isset($this->trip['trip_people']['passengers']) && $this->trip['trip_people']['passengers'] != '') ? $this->trip['trip_people']['passengers'] : '--'; ?>
                       </p>
                   </div>
                     </div>
                   <?php
                       if (isset($this->trip['trip_people_passangers']) && !empty($this->trip['trip_people_passangers'])) {
                           $pNo = 1;$keyNum = 1;
                           foreach ($this->trip['trip_people_passangers'] as $passaRow) {
                   ?>
                <div class="row">
                   <div class="form-group col-sm-12">
                       <label class="control-label"><u>Details of passenger <?php echo $pNo; ?></u></label>
                   </div>
                     </div>
                   
               
                <div class="row">
                    <div class="form-group col-sm-6">
                       <label class="control-label">First Name </label>
                       <p>
                           <?php echo (isset($passaRow['first_name']) && $passaRow['first_name'] != '') ? $passaRow['first_name'] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-6">
                       <label class="control-label">Last Name </label>
                       <p>
                           <?php echo (isset($passaRow['last_name']) && $passaRow['last_name'] != '') ? $passaRow['last_name'] : '--'; ?>
                       </p>
                   </div>                    
                   
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                       <label class="control-label">Gender </label>
                       <p>
                           <?php echo (isset($passaRow['gender']) && $passaRow['gender'] != '') ? $GENDER_TYPE[$passaRow['gender']] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-6">
                       <label class="control-label">Age </label>
                       <p>
                           <?php echo (isset($passaRow['age']) && $passaRow['age'] != '') ? $passaRow['age'] : '--'; ?>
                       </p>
                   </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-12"> 
                      <label class="control-label">Picture of the passenger <?php echo $pNo; ?>  </label>
                        <ul style="width:100%;clear:both;"class="imgblock-new"></ul>
                        <?php

                        if (isset($passaRow['attachments']) && !empty($passaRow['attachments'])) { ?>
                            <div class="content horizontal-images">
                                <ul class="qq-upload-list">
                                    <?php
                                    foreach ($passaRow['attachments'] as $attRow) {

                                        ?>
                                        <li class=" qq-upload-success" id="file-img-0">
                                            <span class="qq-upload-file spFileName_<?php echo $keyNum ?>-0-1" style="">
                                                <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['seeker_attachment_name'] ?>" alt="<?php echo $attRow['seeker_attachment_name'] ?>">
                                              </span>

                                        </li>
                                        <?php
                                    }
                                    ?>
                                </ul>
                            </div>
                        <?php } ?>
                        <input type="hidden" id="uploadCount_<?php echo $keyNum ?>" name="uploadCount_<?php echo $keyNum ?>" value="<?php echo (isset($pass['attachments'])) ? count($pass['attachments']) : 0; ?>">
                    </div>
                </div>
                <div class="row">
                   <div class="form-group col-sm-6">
                       <label class="control-label">Contact Name </label>
                       <p>
                           <?php echo (isset($this->trip['trip_people']['contact_name']) && $this->trip['trip_people']['contact_name'] != '') ? $this->trip['trip_people']['contact_name'] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-6">
                       <label class="control-label">Contact Number </label>
                       <p>
                           <?php echo (isset($this->trip['trip_people']['contact_number']) && $this->trip['trip_people']['contact_number'] != '') ? $this->trip['trip_people']['contact_number'] : '--'; ?>
                       </p>
                   </div>
                    </div>
                    <div class="row">
                   <div class="form-group col-sm-6">
                       <label class="control-label">Email Address </label>
                       <p>
                           <?php echo (isset($this->trip['trip_people']['email_address']) && $this->trip['trip_people']['email_address'] != '') ? $this->trip['trip_people']['email_address'] : '--'; ?>
                       </p>
                   </div>
                    </div> <div class="row">
                   <div class="form-group col-sm-12">
                       <label class="control-label">Member's Comments </label>
                       <p>
                           <?php echo (isset($this->trip['trip_people']['comment']) && $this->trip['trip_people']['comment'] != '') ? $this->trip['trip_people']['comment'] : '--'; ?>
                       </p>
                   </div>
                </div>
                   <?php
                               $pNo++;
                           }
                       }
                   ?>
               
                <?php if($this->user['ID']!=$this->trip['user']){ ?>
                <div class="form-group text-left"><button class="btn btn-primary" type="button" onclick="$('#people-info-request').slideToggle();">Select this Service</button> </div>
                <?php }?>
                <div class="gap gap-mini"></div>
            <?php if ($this->user['ID'] != $this->trip['user']) { ?>
                <div id="people-info-request" class="clearfix" style="display: none;" >
               
                    <form id="fromTravellerPeopleRequest" name="fromTravellerPeopleRequest">
                        <?php if ($this->traveller_exiting_people_trip == 'yes') { ?>
                            <div class="form-group form-group-select-plus">
                                
                                    <input type="radio" name="travellerPeopleRequest" id="travellerPeopleRequest" class="travellerPeopleRequest" value="existing_trip" checked="checked"> Select Trip Request
                                    <div id="existing_trip">
                                    <select class="form-control" name="existing_trip" id="existing_trip1" onchange="getTravellerPeopleServiceNeed(this.value)">
                                        <option value="" selected="selected"> - select trip request - </option>
                                        <?php
                                        if (count($this->traveller_upcoming_trips) > 0) {
                                            foreach ($this->traveller_upcoming_trips as $traveller_trip) {
                                                if ($traveller_trip['trip_people']['ID']) {
                                                     if (($traveller_trip['origin_location_country'] == $this->trip['origin_location_country']) && ($traveller_trip['destination_location_country'] == $this->trip['destination_location_country'])) {
                                                        $selected = (isset($traveller_people_request_id) && ($traveller_people_request_id) == $traveller_trip['ID'])?'selected="selected"':'';
                                                        ?>
                                                        <option <?php echo $selected?> value="<?php echo $traveller_trip['ID']; ?>"><?php echo $traveller_trip['origin_location_code']; ?> - <?php echo $traveller_trip['destination_location_code']; ?> ( <?php echo date('m/d/Y', strtotime($traveller_trip['departure_date'])); ?> )</option>
                                                    <?php
                                                    }
                                                }
                                            }
                                        }
                                        ?>
                                    </select>
                              
                                <div id="divPassengersDetail"></div></div>
                            </div>

                            <div class=" form-group form-group-select-plus">
                                <input type="radio" name="travellerPeopleRequest" id="travellerPeopleRequest" class="travellerPeopleRequest" value="new_trip"> Add New Trip Request </div>
                        <?php } ?>                
                        <div id="divTravellerPeopleRequestNew" <?php if ($this->traveller_exiting_people_trip == 'yes') { ?> style="display: none;" <?php } ?>>
                         <div class="form-group text-left"><a href="<?php echo $this->basePath(); ?>/traveller/add-people-service?g=<?php echo urlencode('seeker/detail/'.$trip_id.'?service=People')?>" class="btn btn-primary" >Add People Service</a> </div>
                          </div>                                              
                    </form>
                </div>
    <?php } ?>
             </div>
        </div>
    </div>
    <!-- people-info -->
<?php } ?>