<!-- personal-info -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#personal-info">Personal Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="personal-info">
        <div class="panel-body">
            <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">About</label>
                <p><?php echo (isset($this->trip_user['aboutus']) && !empty($this->trip_user['aboutus'])) ? $this->trip_user['aboutus'] : '--'; ?></p>
                
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">First Name</label>
                <p><?php echo (isset($this->trip_user['first_name']) && !empty($this->trip_user['first_name'])) ? $this->trip_user['first_name'] : '--'; ?></p>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-6">
            <label class="control-label">Last Name</label>
                <p>xxxxxxx</p>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Age</label>
                <p>xx</p>
             
            </div>
            </div>
            <div class="row">
                <?php if(!empty($this->trip_user['language'])){ ?>
            <div class="form-group col-sm-6">
                <label class="control-label">Languages Known</label>
                <p><?php echo (isset($this->language[0]['lang']) && !empty($this->language[0]['lang'])) ? $this->language[0]['lang'] : 'English'; ?></p>
                
            </div>
            <?php } ?>
            </div>
              <div class="row">
            <div class="form-group col-sm-6">
                
                <label class="control-label">Home Address</label>
                     <p> xxxxxxxxx,<br />
                         xxxxxxxxx,<br />
                   
                    <?php echo $this->user_location['city']; ?> - xxxxxxx,<br />
						 xxxxxxxxx,<br />
                    <?php echo $this->user_location['country_name']; ?>.</p>
                
                   
                </dd>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- personal-info -->