<?php if (isset($this->trip['trip_project']) && $this->trip['trip_project'] != '') { ?>
<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<!-- project-info -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#project-info">Product Info</a></h4>
    </div>
    <div class="panel-collapse collapse" id="project-info">
        <div class="panel-body">
            <div class="row">
                <div class="form-group form-group-select-plus col-sm-12">
                    <label class="control-label">Product Type </label>
                        <p>
                            <?php if(isset($this->trip_seeker_projects) && !empty($this->trip_seeker_projects['work_category'])){ 
                                echo ($this->trip_seeker_projects['work_category']=='1')?'Choose products and ship worldwide':'Personal concierge for your tasks';
                            }else{
                                echo '--';
                            } ?>
                        </p>
                </div>
            </div>
            <div class="row" id="packages_box">
            <?php
            if($this->trip_seeker_projects['work_category'] == 1){
                if (isset($this->trip['trip_projects_tasks']) && !empty($this->trip['trip_projects_tasks'])) {
                    $pNo = 1;$keyNum = 1;
                    foreach ($this->trip['trip_projects_tasks'] as $key=>$passaRow) { ?>
                    <div class="col-md-12 form-group" id="packages_box_1">
                        <h5 class="sub-heading text-left">details of Item <?php echo $key+1 ?></h5>
                        <hr class="title-border">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            	<?php if($passaRow['purchase_type'] == 2){ ?>
                            	<div class="row">
                                	<div class="form-group col-md-4">
                                    	<label class="control-label" for="itemsize">Purchase Type</label>
                                        <p>In Store Purchase</p>
                                    </div>
                                	<div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Store Name</label>
                                        <p><?php echo $passaRow['store_name'];?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Store Address</label>
                                        <p><?php echo $passaRow['store_address'];?></p>
                                    </div>
                                </div>
                                <?php } ?>
                                
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Product category </label>
                                        <p><?php echo $passaRow['catname'];?></p>
                                    </div>                                                                                                                                    
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Product Type</label>
                                        <p><?php echo $passaRow['subcatname'];?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Product SKU</label>
                                        <p><?php echo ($passaRow['product_sku'] != '')?$passaRow['product_sku']:'--';?></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Product Description</label>
                                        <p><?php echo $passaRow['description'];?></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                	<?php if($passaRow['purchase_type'] != 2){ ?>
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="itemsize">Purchase Type</label>
                                            <p>Online Purchase</p>
                                        </div>
                                    <?php } ?>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Website link</label>
                                        <p><?php echo isset($passaRow['web_site_link'])?$passaRow['web_site_link']:'--';?></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group  col-md-4">
                                        <label class="control-label" for="approxweight">Price </label>
                                        <p><?php echo (isset($passaRow['price']) && $passaRow['price'] != 0)?$passaRow['price'].' '.$passaRow['price_currency']:'';?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Approximate weight</label>
                                        <p><?php echo (isset($passaRow['negligible_weight']) && $passaRow['negligible_weight'] == 1)?'0-0.5 Kg (Negligible Weight)':$passaRow['item_weight'];?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Approx. size of item</label>
                                        <?php if(isset($passaRow['negligible_size']) && $passaRow['negligible_size'] == 1){
                                            echo 'A4 Paper size (Negligible size)';
                                        } else { ?>
                                            <p>L: <?php echo (isset($passaRow['item_length']) && !empty($passaRow['item_length']))?$passaRow['item_length']:'--';?>
                                            W: <?php echo (isset($passaRow['item_width']) && !empty($passaRow['item_width']))?$passaRow['item_width']:'--';?>
                                            H: <?php echo (isset($passaRow['item_height']) && !empty($passaRow['item_height']))?$passaRow['item_height']:'--';?>
                                            Unit: <?php echo (isset($passaRow['item_unit']) && !empty($passaRow['item_unit']))?$passaRow['item_unit']:'--';?>
                                            </p>
                                        <?php } ?>
                                   </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12"> 
                                       <label class="control-label">Picture</label>
                                       <ul style="width:100%;clear:both;"class="imgblock-new"></ul>
                                       <?php if (isset($passaRow['attachments']) && !empty($passaRow['attachments'])) { ?>
                                           <div class="content horizontal-images">
                                               <ul class="qq-upload-list">
                                                   <?php foreach ($passaRow['attachments'] as $attRow) { ?>
                                                       <li class=" qq-upload-success" id="file-img-0">
                                                           <span class="qq-upload-file spFileName_<?php echo $keyNum ?>-0-1" style="">
                                                               <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['task_photo_name'] ?>" alt="<?php echo $attRow['task_photo_name'] ?>">
                                                           </span>
                                                       </li>
                                                   <?php } ?>
                                               </ul>
                                           </div>
                                       <?php } ?>
                                       <input type="hidden" id="uploadCount_<?php echo $keyNum ?>" name="uploadCount_<?php echo $keyNum ?>" value="<?php echo (isset($pass['attachments'])) ? count($pass['attachments']) : 0; ?>">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Color </label>
                                        <p>
                                            <?php if(isset($passaRow['color']) && !empty($passaRow['color'])){
                                                echo '<div style="width: 40px;height: 40px;margin: 10px;border: 1px solid rgba(0, 0, 0, .2);background:'.$passaRow['color'].'"></div>';
                                            } else {
                                                echo '--';
                                            } ?>
                                        </p>
                                    </div>   
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Condition </label>
                                        <p><?php echo (isset($passaRow['task_condition']) && !empty($passaRow['task_condition']))?$passaRow['task_condition']:'--';?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="itemsize">Quantity </label>
                                        <p><?php echo (isset($passaRow['quantity']) && !empty($passaRow['quantity']))?$passaRow['quantity']:'--';?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php
                   }
               }
           }else{
               if (isset($this->trip['trip_projects_tasks']) && !empty($this->trip['trip_projects_tasks'])) {
                       $pNo = 1;
                   foreach ($this->trip['trip_projects_tasks'] as $key=>$passaRow) {
                       ?>
                   <div class="col-md-12 form-group" id="packages_box_<?php echo $key+1 ?>">
                       <h5 class="sub-heading text-left">details of Item <?php echo $key+1 ?></h5>
                       <hr class="title-border">
                       <div class="panel panel-default">
                           <div class="panel-body">
                               <div class="row">
                                    <div class="form-group col-md-4">
                                       <label class="control-label" for="itemsize"> category </label>
                                       <p><?php echo $passaRow['catname'];?></p>
                                    </div>                                                                                                                                    
                                    <div class="form-group col-md-4">
                                       <label class="control-label" for="itemsize"> Task Lists </label>
                                       <p><?php echo $passaRow['subcatname'];?></p>
                                    </div>
                               </div>

                               <div class="form-group">
                                   <label class="control-label">Task Description </label>
                                   <p><?php echo $passaRow['description'];?></p>
                               </div>
                               <div class="row">
                                   <div class="form-group col-md-4">
                                       <label class="control-label">Date of service </label>
                                       <p><?php echo  (isset($passaRow['service_date']) && !empty($passaRow['service_date']))?date('d-m-Y',$passaRow['service_date']):'--';?></p>
                                   </div>
                                   <div class="form-group  col-md-4">
                                       <label class="control-label" for="approxweight">Date Flexibility  </label>
                                       <p><?php echo (isset($passaRow['date_flexibility']) && $passaRow['date_flexibility'] != 0)?$passaRow['date_flexibility']:'';;?></p>
                                   </div>
                                   <div class="form-group col-md-4">
                                        <label class="control-label">Dates range</label>
                                        <p><?php echo isset($passaRow['start_date'])?$passaRow['start_date']:'--';?> - 
                                        <?php echo isset($passaRow['end_date'])?$passaRow['end_date']:'--';?></p>
                                   </div>
                               </div>
                               <div class="row">

                                   <div class="form-group  col-md-4">
                                        <label class="control-label" for="approxweight">Task duration (days)  </label>
                                        <p><?php echo (isset($passaRow['project_duration']) && $passaRow['project_duration'] != 0)? $passaRow['project_duration']:'';;?></p>
                                    </div>
                               </div>
                               <div class="row">
                                   <div class="form-group col-md-4">
                                       <label class="control-label" for="itemsize">Requires local travel </label>
                                       <p>  <?php echo (isset($passaRow['requires_local_travel']) && $passaRow['requires_local_travel'] != 0)?$passaRow['requires_local_travel']:'';;?></p>
                                   </div>
                                   <div class="form-group col-md-4">
                                       <label class="control-label" for="itemsize">Type you wish to pay for the task </label>
                                       <p>  <?php echo (isset($passaRow['payout_type']) && $passaRow['payout_type'])?$passaRow['payout_type']:'';;?></p>
                                   </div>
                               </div>
                                <div class="row">
                                   <div class="form-group col-md-4">
                                       <label class="control-label" for="itemsize">Cost willing to pay  </label>
                                       <p><?php echo (isset($passaRow['price']) && !empty($passaRow['price']))?$passaRow['price    ']:'--';?></p>
                                   </div>                                                                                                                                    
                                   <div class="form-group col-md-4">
                                       <label class="control-label" for="itemsize">Currency of payment  </label>
                                       <p><?php echo (isset($passaRow['price_currency']) && !empty($passaRow['price_currency']))?$passaRow['price_currency']:'--';?></p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                <?php 
                   }
               }
           }
           ?>
           <div class="col-md-12 form-group">
                <div class="form-group col-md-6">
                   <label class="control-label">Total Weight</label><?php echo $this->trip['trip_project']['total_weight'];?> KG
                </div> 
                <div class="form-group col-md-5">
                   <label class="control-label" for="itemsize">Total Worth</label><?php echo $this->trip['trip_project']['total_worth'].$this->trip['trip_project']['total_worth_currency'];?>
                </div>
           </div>
           </div>
           
            <input type="hidden" name="projects_count" id="projects_count" value="<?php echo $this->trip_seeker_projects['tasks'];?>" >
             <?php if($this->user['ID']!=$this->trip['user'] ){ ?>
            <div class="form-group"> <button class="btn btn-primary" type="button" onclick="SelectService('project-info-request');">Select this Service</button></div>
            <?php } ?>
          
            <?php if($this->user['ID']!=$this->trip['user']){ ?>
            <div class="collapse" id="project-info-request">
                <form   id="formTravellerProjectRequest" name="formTravellerProjectRequest">
                <?php if($this->traveller_exiting_project_trip=='yes'){ ?>
                    <div class="form-group form-group-select-plus">
                        <div class="col-sm-12" style="padding:0;">
                            <input type="radio" name="travellerProjectRequest" id="travellerProjectRequest" class="travellerProjectRequest" value="existing_trip" checked="checked"> Select Trip Need
                          <div id="existing_project_trip">
                            <select class="form-control" name="existing_project_trip" id="existing_project_trip1" onchange="getTravellerProjectServiceNeed(this.value)">
                                <option value="" selected="selected"> - select trip request - </option>
                                <?php if(count($this->traveller_upcoming_trips)>0){
                                    foreach($this->traveller_upcoming_trips as $traveller_trip){
                                        if($traveller_trip['trip_project']['ID']){
                                            if (($traveller_trip['origin_location_country'] == $this->trip['origin_location_country']) && ($traveller_trip['destination_location_country'] == $this->trip['destination_location_country'])) {
                                        ?>
                                        <option value="<?php echo $traveller_trip['ID'];?>"><?php echo $traveller_trip['origin_location_code'];?> - <?php echo $traveller_trip['destination_location_code'];?> ( <?php echo date('m/d/Y',  strtotime($traveller_trip['departure_date']));?> )</option>
                                    <?php   }
                                        }
                                    }
                                } ?>
                            </select>
                            
                             <div class="gap gap-mini"></div>
                        <div id="divProjectsDetail"></div></div>
                        </div>
                       
                        <div class="gap gap-mini"></div>
                    </div>

                    <div class="form-group form-group-select-plus">
                        <div class="col-sm-12" style="padding:0;">
                            <input type="radio" name="travellerProjectRequest" id="travellerProjectRequest" class="travellerProjectRequest" value="new_trip"> Add New Trip Request
                        </div>
                        <div class="gap gap-mini"></div>
                    </div>
                    <?php } ?>  
                    <div id="divTravellerProjectRequestNew"  <?php if($this->traveller_exiting_project_trip=='yes'){ ?> style="display: none;" <?php } ?>>
                    <div class="form-group text-left"><a href="<?php echo $this->basePath(); ?>/traveller/add-project-service?g=<?php echo urlencode('seeker/detail/'.$trip_id.'?service=Product')?>" class="btn btn-primary" >Add Product Service</a> </div>
                    </div>
                </form>
            </div>
            <script>
                function Loadprojectsubcat(a,b){ 
                    $.ajax({
                        url: baseurl + '/traveller/getprojectsubcat',
                        type: 'POST',
                        data: 'catid='+a+'&subcatid='+b,
                        cache: false,
                        success: function(response) {
                            $('#projsubcat').html(response);
                        }
                    });
                }
                function Loadprojectsubcat(a,b){ 
                    $.ajax({
                        url: baseurl + '/traveller/getprojectsubcat',
                        type: 'POST',
                        data: 'catid='+a+'&subcatid='+b,
                        cache: false,
                        success: function(response) {
                            $('#projsubcat').html(response);
                            //window.location.reload();
                        }
                    });
                }
                
                function Loadproductsubcat(a,b,c){ 
                    $.ajax({
                        url: baseurl + '/traveller/getproductsubcat',
                        type: 'POST',
                        data: 'product_catid='+a+'&product_subcatid='+b+'&work_category='+c,
                        cache: false,
                        success: function(response) {
                            $('#product_type').html(response);
                        }
                    });
                }
                $(function(){
                    $('#otherWorkCategory').hide();
                    $('#obtainTravelDeliveryCategory').hide();
                    showHideWorkCategory( );
                    $('#work_category').change(function(){
                        showHideWorkCategory( );
                    });
                    enableDisableAvailableWorkDates();
                    $(".i-check input").on('ifChanged', function (e) {
                        $(this).trigger("change", e);
                    });
                    $('#anydate').change(function(){
                        console.log('change event');
                        enableDisableAvailableWorkDates();
                    });
                });

                function enableDisableAvailableWorkDates(){
                    if($('#anydate').is(':checked')){
                        $('#project_start_date, #project_end_date').attr('readonly','readonly');
                    }
                    else{
                        $('#project_start_date, #project_end_date').removeAttr('readonly');
                    }
                }
                function showHideWorkCategory( ){
                    workCategoryValue = $('#work_category').val();
                    if(jQuery.isEmptyObject(workCategoryValue)){
                        $('#otherWorkCategory').hide();
                        $('#obtainTravelDeliveryCategory').hide();
                    } else {
                        if ($.inArray('1', workCategoryValue) != -1)
                            $('#obtainTravelDeliveryCategory').show();
                        else
                            $('#obtainTravelDeliveryCategory').hide();

                        if((workCategoryValue.length == '1' && $.inArray('1', workCategoryValue) != -1))
                            $('#otherWorkCategory').hide();
                        else
                            $('#otherWorkCategory').show();
                    }
                }
            </script>
            <?php } ?>
        </div>
    </div>
</div>
<!-- project-info -->
<?php } ?>