<div class="col-md-3 left-pad" style="top:15px;">
    <div class="sidebar-block bg-white">
        <div class="panel panel-default verify-traveler">
        <div class="panel-heading">
            <h3 class="panel-title">Estimated earnings</h3>
        </div>
            <div class="panel-body text-center">
                <input type="hidden" name="people_service_fee" class="people_service_fee" value="<?php echo isset($this->estimatedEarnings)?$this->estimatedEarnings:''?>">
                <input type="hidden" id="package_service_fee" name="package_service_fee" class="package_service_fee" value="<?php echo isset($this->estimatedEarnings)?$this->estimatedEarnings:''?>">
                <input type="hidden" name="project_service_fee" class="project_service_fee" value="<?php echo isset($this->estimatedEarnings)?$this->estimatedEarnings:''?>">
                <input type="hidden" id="userroleType" value="<?php echo $comSessObj->userrole;?>">
                
                <?php if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') { ?>
                	<div class="block-inner-title">People Service</div>
                <?php } ?>
                <?php  if (isset($this->trip['trip_package']) && $this->trip['trip_package'] != '') { ?>
	            	<div class="block-inner-title">Package Service</div>
				<?php } ?>
                <?php if (isset($this->trip['trip_project']) && $this->trip['trip_project'] != '') { ?>
            		<div class="block-inner-title">Product Service</div>
                <?php } ?>
                
                <div class="text-center est-price">
                    <span class="price_tag_span" style="width:220px;height:220px;">
                        <p class="price_tag_symbol"  style="padding-bottom:0px;"><strong><?php  echo $comSessObj->currencycode; ?></strong></p> 
                        <i class="price_tag_price" id="span_package_service_fee" style="font-size:30px;">
                        <?php echo round(($this->common()->convertCurrency($this->estimatedEarnings,$this->common()->getSiteCurrency(),$this->common()->getUserCurrency($comSessObj->currency))));?>
                        </i> 
                        <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                    </span>
				</div>
                <?php 
            if ($this->user['ID'] != $this->trip['user']) { 
                $cardAdd = 0;
                ?>
            <?php if ($this->trip_seeker_packages['packages'] != '') { $cardAdd = 1; ?>
              <div id="pay_card_info" style="display:none;" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg" >
                 <div class="content-load-normal" id="payment_loading" style="display: none;">
                    <div class="dis-tab">  
                        <div class="dis-tab-cel"> 
                            <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">
                            <p id="uploading_status_text"></p></div>
                    </div>
                </div><form id="form_process_payment">
                    <div class="head-wrap" style="border-bottom: 0;">
                    <button class="mfp-close" type="button" title="Close" onclick="document.getElementById('pay_card_info').style='display:none;'">X</button>
                </div>
                    <div class="row">
                    <div class="col-md-8 col-sm-7"> 
                    
<!--            <div class="row" id="cardinfo" style="display:<?php echo (isset($this->user_cards_details) && !empty($this->user_cards_details))?'none':'display';?>">-->
                        <div id="cardinfo">
                           
                        <div class="form-group">
                             <h4 class="tab-heading">Payment </h4>
                             <div class="row">
                            <div class="col-md-12">
                                <label  class="control-label">Payment Type</label>
                                <div class="row">
                                <div class="form-group col-md-6">
                                 <select class="form-control" name="payment_card_type" id="payment_card_type" onchange="getCardDetails(this.value);">
                                    <option value="" selected="">-- Select --</option>
                                    <option value="Credit Card">Credit Card or Debit Card</option>
                                    <option value="PayPal">PayPal</option>
                                </select>
                                <p class="text-danger err_msg" id="err_payment_card_type"></p>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <div class="paymentImg">
                                    <img src="<?php echo $this->basePath(); ?>/public/img/payment/visa.png">
                                    <img src="<?php echo $this->basePath(); ?>/public/img/payment/mastercard.png">
                                    <img src="<?php echo $this->basePath(); ?>/public/img/payment/american-express-curved-32px.png">
                                    <img src="<?php echo $this->basePath(); ?>/public/img/payment/discover.png">
                                    <img src="<?php echo $this->basePath(); ?>/public/img/payment/paypal-curved-32px.png">
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                           <div id="cardinfo2">
                            <div class="row">
                             <div class="form-group oldCard col-md-12">
                                <div class="row">
                                 <div id="cardDetails"></div>
                                 <input type="hidden" name="cardtype" id="cardtype"  value="new_card"/>
                                <input type="hidden" name="existing_card" id="existing_card"  value="0"/>
                              </div>   
                             </div>
                              </div>
                            <div class="row" id="stripe_card_holder">
                            	<div class="form-group col-md-12">
                                    <div id="card-element"></div>
                                    <div id="card-errors" role="alert"></div>
                                    <div id="save_card_wrapper">
                                    	<label>
                                    		<input type="checkbox" checked="checked" value="1" name="save_card" id="save_card" /> &nbsp;Save this card
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="stripe_card_btn_wrapper" style="display:none;">
                            	<input class="btn btn-primary" value="Use new card" onclick="javascript:useNewCard()" style="display:block">
                            </div>
                            </div>
                            </div>
                            <div id="cardinfo3">
                              <div class="form-group">
                            
                             <h4 class="tab-heading">Billing Information</h4>
                            
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control" id="holder_name" placeholder="First Name"  name="holder_name">
                                <p style="margin-bottom: 0px;" id="err_holder_name" class="text-danger err_msg"></p>  
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="holder_last_name" placeholder="Last Name"  name="holder_last_name">
                                <p style="margin-bottom: 0px;" id="err_holder_last_name" class="text-danger err_msg"></p>  
                            </div>
                          </div>
<div class="row">
							<div class="form-group col-md-6">
                                <label  class="control-label">Billing Country</label>

                                <select class="form-control" name="card_billing_country" id="card_billing_country">
                                    <option value="" selected="">-- Select --</option>
                                   <?php
                                        if (count($this->common()->countries) > 0) {
                                            foreach ($this->common()->countries as $countryArr) {
                                                ?>
                                                <option value="<?php echo $countryArr['code']; ?>"><?php echo $countryArr['name']; ?></option>
                                            <?php }
                                        }
                                        ?>
                                </select>
                                <p class="text-danger err_msg" id="err_card_billing_country"></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label"> Postal Code</label>
                                <input type="text" class="form-control" id="card_billing_zipcode" name="card_billing_zipcode" placeholder="">
                                <p style="margin-bottom: 0px;" id="err_card_billing_zipcode" class="text-danger err_msg"></p>  
                            </div>
</div>
                        </div>
                        </div>
                    </div>  
                       <div id="paypalcard" style="display:none"><script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div id="paypal-button-container"></div>
</div>  
<div id="paymentcomplete" style="display: none">
    <p><b>Payment Completed!</b></p>
</div>
                    
         <input id="preApproveBtn"class="btn btn-primary" type="button" value="Pre Approve" onclick="generateStripeSourceToken('traveller');" />
         <p style="margin-top:10px;">This payment is just an authorization. We will process this payment only when the package consigned to you is not delivered; otherwise, we will refund the full amount. By authorizing this payment, you agree that if package is not delivered in full or tampered, Trepr's adjudication on seeker's claim is final and irrevocable.</p>
         </div> 
                        <div class="col-md-4 col-sm-5">
                            <div class="paymentInof">
                    <div class="paymentProfile">
                        <div class="hovereffect">
                          <?php
                            if (isset($this->trip_user['image']) && !empty($this->trip_user['image'])) {
                                if (strpos($this->trip_user['image'], "http") !== false) {
                                    $img = $this->trip_user['image'];
                                } else {
                                    $img = $this->basePath() . '/public/uploads/profile_picture/small/' . $this->trip_user['image'];
                                }
                            } else {
                                $img = $this->basePath() . '/public/default_user.png';
                            }
                            ?>
                                <img class="img-responsive" src="<?php echo $img; ?>" alt="<?php echo $this->trip_user['first_name']; ?>">
                            </div>
                        </div>
                        <div class="paymentDec">
                        <div class="form-group formSec">
                                <label class="control-label">From <i class="fa fa-plane"></i></label>             
                                  <?php //print_r($this->trip);die; ?>                 
                                <p><?php echo $this->trip['origin_location_airname']['name'] . ' - ' . $this->trip['origin_location_city'] . ' - ' . $this->trip['origin_location_country'].' ('.$this->trip['origin_location_code'].')'; ?></p>                                                          
                                <label class="control-label">To <i class="fa fa-plane fa-flip-vertical"></i></label>                                
                                <p><?php echo $this->trip['destination_location_airname']['name'] . ' - ' . $this->trip['destination_location_city'] . ' - ' . $this->trip['destination_location_country'].' ('.$this->trip['destination_location_code'].')'; ?></p>                               
                            </div>
                        <div class="form-group formSec">
                             <?php if($this->trip['travel_plan_reservation_type']!=1 ){ ?>
                            <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label">Date Range From</label>                                
                                <p><?php echo date('d M y', strtotime($this->trip['project_start_date'])); ?></p>   
                                </div>
                            <div class="col-xs-6">
                                <?php if(!empty($this->trip['arrival_date'])){ ?>
                                <label class="control-label">Date Range To</label>                                
                               <p><?php echo date('d M y', strtotime($this->trip['project_end_date'])); ?></p>   
                               <?php } ?>
                                </div>
                            </div>
                            <?php }else{ ?>
                             <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label">Departure Date</label>                                
                                <p><?php echo date('d M y', strtotime($this->trip['departure_date'])); ?></p>   
                                </div>
                            <div class="col-xs-6">
                                <?php if(!empty($this->trip['arrival_date'])){ ?>
                                <label class="control-label">Arrival Date</label>                                
                               <p><?php echo date('d M y', strtotime($this->trip['arrival_date'])); ?></p>   
                               <?php } ?>
                                </div>
                            </div>
                              <?php } ?>
                            </div>
                        <!--<div class="form-group formSec totalamt">
                                <label class="control-label">Reward Points <span><?php  echo $comSessObj->currencycode; ?> 0.00</span></label>
                            </div>
							-->
							
							
							
							<div class="form-group formSec">
                          <div class="checkbox"><label>Reward Points <input type="checkbox" id="isApplyCoupon" name="isApplyCoupon" value="1"></label></div>                               
 
                               
                             <div class="input-group" style="display:none;" id="couponDiv">
                    <span><?php  echo $comSessObj->currencycode; ?> 0.00</span>
                    <span class="input-group-btn">
                        <input id="searchReward" class="btn btn-green" style="height: 34px;" value="apply" type="button">
                    </span>
                   
                    </div>
                                
                                 <span id="applied_msg"> </span>
                                <a href="#"  id="remove_coupon" class="glyphicon glyphicon-remove"></a>
                            </div>
                        
						<div class="form-group formSec">
                          <div class="checkbox"><label>Coupon <input type="checkbox" id="isApplyCoupon" name="isApplyCoupon" value="1"></label></div>                               
 
                               
                             <div class="input-group" style="display:none;" id="couponDiv">
                    <input class="form-control coupon-text" name="q" id="q" placeholder="Coupon" size="20" type="text" value="">
                    <span class="input-group-btn">
                        <input id="searchSubmit" class="btn btn-green" style="height: 34px;" value="apply" type="button">
                    </span>
                   
                    </div>
                                
                                 <span id="applied_msg"> </span>
                                <a href="#"  id="remove_coupon" class="glyphicon glyphicon-remove"></a>
                            </div>
                            
                            
                            <div  class="form-group formSec totalamt">
                                <label style="display:none;" id="discount">Discount <b><span class="span_package_service_fee_text">-<?php  echo $comSessObj->currencycode; ?> <span id="discount_amount"> </span> </span>
                                     </b></label>                         
                            </div>
                             <div class="form-group formSec totalamt">
                              
                               <?php 
              
              if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') { ?>
                              <label class="control-label">Total Amount <span class="span_people_service_fee_text" style="font-weight:bold;font-size:30px;"><?php  echo $comSessObj->currencycode; ?></span> <span id="servicefee" style="font-weight:bold;font-size:30px;"><?php echo round($this->common()->convertCurrency($this->trip['trip_people']['people_service_fee'],$this->common()->getSiteCurrency(),$this->common()->getUserCurrency($comSessObj->currency)));?></b></span></label>    
              
                <?php } ?>
                <?php if (isset($this->trip['trip_package']) && $this->trip['trip_package'] != '') { ?>
                                  <label class="control-label">Total Amount <span class="span_package_service_fee_text" style="font-weight:bold;font-size:30px;"><?php  echo $comSessObj->currencycode; ?></span> <span id="servicefee" style="font-weight:bold;font-size:30px;"><?php echo round($this->common()->convertCurrency($this->trip['trip_package']['package_service_fee'],$this->common()->getSiteCurrency(),$this->common()->getUserCurrency($comSessObj->currency)));?></span></label>   
               
                    
                <?php } ?>
               <?php if (isset($this->trip['trip_project']) && $this->trip['trip_project'] != '') { ?>
                   <label class="control-label">Total Amount<span class="span_project_service_fee_text" style="font-weight:bold;font-size:30px;"><?php  echo $comSessObj->currencycode; ?></span> <span id="servicefee" style="font-weight:bold;font-size:30px;"><?php echo round($this->common()->convertCurrency($this->trip['trip_project']['project_service_fee'],$this->common()->getSiteCurrency(),$this->common()->getUserCurrency($comSessObj->currency)));?></span></label>   
               
                    
                <?php } ?>
                                                           
                                                           
                            </div>                         
                            </div>
                                <div class="paymentLink">
                                <a href="#"><i class="fa fa-angle-right"></i> Guidlines</a>
                        <a href="#"><i class="fa fa-angle-right"></i> Terms</a>
                        <a href="#"><i class="fa fa-angle-right"></i> Cancellation</a>
                        </div>
                         </div>          
                        </div>
                    </div>
</div>
            <?php } ?>
            	<?php /*if(isset($_REQUEST['seeker_req_id'])){ ?>
                <div class="btn-group col-md-12" style="padding:0;">
                    <button class="button1 popup-text" onclick="return false;">Accept</button>
                    <button class="button2" onclick="return false;">Decline</button>
                </div>
            <?php }*/?>
                <div class="btn-group col-md-12 status_btn" id="status_0">
                	<button class="button5" onclick="return false;">Pending</button>
              	</div>
            	<div class="btn-group col-md-12 status_btn" id="status_1">
                	<button class="button4" onclick="return false;">Accepted</button>
              	</div>
            	<div class="btn-group col-md-12 status_btn" id="status_2">
                    <button class="button3" onclick="return false;">Declined</button>
                </div>
            	<div class="btn-group col-md-12 status_btn" id="status_3">
					<button class="button3" onclick="return false;">Expired</button>
				</div>
            	<div class="btn-group col-md-12 status_btn" id="status_4">
                    <button class="button3 req_wishlistd" onclick="return false;">Wishlisted</button>
                </div>
            	<div class="trip_action_wrapper">
                    <div class="accept_service_action_btn" onclick="$('#accept_service_actions_1').slideToggle();">
                        <img src="/public/img/three_dots.png" />
                    </div>
                    <div class="accept_service_actions" id="accept_service_actions_1">
                        <a href="javascript:;" onclick="$('.accept_service_actions').slideUp();checkTripSelected();" data-effect="mfp-zoom-out" class="popup-map">Message to <?=$this->trip_user['first_name'].' '.substr($this->trip_user['last_name'], 0,1).'.'?></a><!--<br /><hr style="margin:5px;" />-->
                    </div>
                </div>
            	<div class="btn-group col-md-12 status_btn payment_popup_btn" style="display:block;" id="status_nothing">
                    <button id="pre_approve_btn" onclick="addTravellerTripRequest();" type="button" class="btn btn-primary  button3 send_req">Pre Approve</button>
                </div>
                <input type="hidden" name="addUserCard" id="addUserCard" value="<?php echo $cardAdd ?>">
                    <?php } ?>
                <p class="small mg-top15 text-center">By Clicking you agree to pay total fee and will be charged only when member accepts.</p>
                <style type="text/css">
				.status_btn{display:none;}
				</style>
              </form> 
            </div>
    </div>
    </div>
     <div class="sidebar-block bg-white">
         <div class="panel panel-default verify-traveler">
             <div class="panel-heading">
                <h3 class="panel-title">Potential Users</h3>
            </div>
            <div class="panel-body">
             <ul class="thumb-list thumb-list-right verify-traveler-details" id="search_results" >
                </ul>
                <div class="gap gap-small"></div>
                <hr /> 
            </div>
      
    </div>
         </div>
</div><!-- Right Coloumn -->
<script type="text/javascript">
	var userEmailId = '<?php echo $comSessObj->user['email_address'] ?>';
    $(document).ready(function(){
        $(document).on('change','#isApplyCoupon',function(){
             $('#couponDiv').hide();
            if($(this).is(':checked') == true){
                $('#couponDiv').show();
            }
        });
          $('.cc-number').payment('formatCardNumber');
        
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');
	  
	  <?php if(isset($_REQUEST['tripId']) && $_REQUEST['tripId'] != ''){ ?>
	  		$('#existing_package_trip').val('<?=$_REQUEST['tripId']?>').trigger('change');
			$('#existing_trip1').val('<?=$_REQUEST['tripId']?>').trigger('change');
			$('#existing_project_trip').val('<?=$_REQUEST['tripId']?>').trigger('change');
			$('#package-info-request,#divProjectsDetail,#divPassengersDetail').slideToggle();
	  <?php } ?>

    });
    function getCardDetails(cardtype){
        if(cardtype =='PayPal'){
     // alert("paypal");
     document.getElementById('paypal-button-container').innerHTML ='';
      var a=document.getElementById('cardinfo2');
              a.setAttribute("style","display:none");
      var c=document.getElementById('cardinfo3');
      c.setAttribute("style","display:none");
              var b=document.getElementById('paypalcard');
              b.setAttribute('style','display:block');
              var d=document.getElementById('preApproveBtn');
              d.setAttribute("style","display:none");
              var feestring=document.getElementById('servicefee');
              var fee=feestring.innerHTML;
              var fees=parseInt(fee);
             /* alert(fees);
              alert(typeof(fees));*/
    paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
            label: 'pay',
            size:  'small', // small | medium | large | responsive
            shape: 'rect',   // pill | rect
            color: 'gold'   // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

           client: {
            sandbox:    'AVtAxgyRreSDfzFonjf8Arw5J0VfaElfRsatvXMzAvvYQg5oI73Rxp_OChfLIKEo4byum9wgqtSLSwX_',
            production: '<insert production client id>'
        },

        // Wait for the PayPal button to be clicked

     payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: fees, currency: 'USD' }
                        }
                    ]
                }
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function() {
                  var paymentDone=document.getElementById('paymentcomplete');
                paymentDone.setAttribute("style","display:block");
                console.log(data);
                seekerPaypalPaymentSuccessful(data);
            });
        }

    }, '#paypal-button-container');

     }
    /* else if((cardtype =='Credit Card') || (cardtype=='Debit Card')){
      
     }*/
     else if((cardtype =='Credit Card') || (cardtype=='Debit Card')){
        var a=document.getElementById('cardinfo2');
      a.setAttribute('style','display:block');
      var b=document.getElementById('paypalcard');
      b.setAttribute('style','display:none');
      var c=document.getElementById('cardinfo3');
     c.setAttribute('style','display:block');
     var d=document.getElementById('preApproveBtn');
              d.setAttribute("style","display:block");
 	}
    $.post('<?php echo $this->basePath()?>/trips/getCardDetails',{cardtype,cardtype},function(results){
			$('#cardDetails').html(results);
		});
  }
	function useNewCard(){
		$('#stripe_card_holder').show();
		$('#stripe_card_btn_wrapper').hide();
		$('#cardtype').val('new_card');
		$('#existing_card').val(0);
		$('.selected_card_details').removeClass('active');
	}
  $(document).on('click','.selected_card_details',function(){
		$('.selected_card_details').removeClass('active');
		$(this).addClass('active');
		var card = $(this).attr('data-card');
		var fname = $(this).attr('data-fname');
		var lname = $(this).attr('data-lname');
		var valid = $(this).attr('data-valid');
		var zip = $(this).attr('data-zip');
		var card_billing_country = $(this).attr('data-country');
		var existing_card = $(this).attr('data-id');
		$('#cardtype').val('existing_card');
		$('#card_no').val(card);
		$('#card_billing_zipcode').val(zip);
		$('#card_valid').val(valid);
		$('#holder_name').val(fname);
		$('#holder_last_name').val(lname);
		$('#existing_card').val(existing_card);
		$('#card_billing_country').val(card_billing_country);
		$('#card_cvv').val('');
		$('#stripe_card_holder').hide();
		$('#stripe_card_btn_wrapper').show();
  });
    $('#card_no').change(function(){
        var cardType = $.payment.cardType($('#'+this.id).val());
        if(cardType == 'maestro'){ $('#issue_details').show(); }
        else{ $('#issue_details').hide(); }
    });
$(".oldCard .row .card-thumbWrap").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
    $(this).children().children().prop("checked", true);
});

var applied_coupon = []; // more efficient than new Array()
$("#remove_coupon").hide();
  $( "#remove_coupon" ).click(function() {

        applied_coupon = [];
        $("#applied_msg").hide();
        $("#discount").hide();
        $("#remove_coupon").hide();
         $("#discount_amount").hide();
        
        //$("#q").attr("enabled", "enabled");
          $( "#q" ).prop( "disabled", false);
        $("#servicefee").html("<?php echo (float)($this->common()->convertCurrency($this->trip['trip_package']['package_service_fee'],$this->common()->getSiteCurrency(),$this->common()->getUserCurrency($comSessObj->currency)));?>")
  
       // alert(package_service_fee)

    });
  $( "#searchSubmit" ).click(function() {

  
   var coupon=$("#q").val();
   var fee =$("#servicefee").html();
   var dataobj = {coupon_code: coupon,};
   $('.opa').show();
        $.ajax({
            url: "<?php echo $this->basePath(); ?>/checkcoupon",
            type: "POST",
            data: dataobj,
            success: function (data) { 
               
                var coupon_discount= (fee * data)/100;
                var final_amount = fee - coupon_discount;
               
                var final_fee=final_amount.toFixed(2);
                var trip ="<?php echo $_REQUEST['service']; ?>";
                
                
           if(data!='0') {
                    
                    if($.inArray(coupon,applied_coupon)== -1 && applied_coupon.length === 0  )
                    {
                       applied_coupon.push(coupon); 
                       $("#servicefee").html(final_fee);
                       $("#applied_msg").show();
                       $("#applied_msg").html(data + "% Coupon applied");
                      // $("#q").attr("disabled", "disabled"); 
                       $( "#q" ).prop( "disabled", true );
                       $("#discount").show();
                       $("#discount_amount").show()
                       
                       $("#remove_coupon").show();
                       $("#discount_amount").html(coupon_discount.toFixed(2));
                       

                    }else { 
                       $("#applied_msg").show();
                       $("#applied_msg").html("You have already applied this coupon");
                     } 

                      //console.log(applied_coupon);
                   }
            else{    $("#applied_msg").show();
                     $("#applied_msg").html("Invalid coupon code");
                    
                }
              
            }, error: function (jqXHR, textStatus, errorThrown) {

            }
        });
  
});

$( "#searchRewards" ).click(function() {

  
   var coupon=$("#q").val();
   var fee =$("#servicefee").html();
   var dataobj = {coupon_code: coupon,};
   $('.opa').show();
        $.ajax({
            url: "<?php echo $this->basePath(); ?>/checkrewards",
            type: "POST",
            data: dataobj,
            success: function (data) { 
               
                var final_amount = fee - data;
               
                var final_fee=final_amount.toFixed(2);
                var trip ="<?php echo $_REQUEST['service']; ?>";
                
                
           if(data!='0') {
                    
                    if($.inArray(coupon,applied_coupon)== -1 && applied_coupon.length === 0  )
                    {
                       applied_coupon.push(coupon); 
                       $("#servicefee").html(final_fee);
                       $("#applied_msg").show();
                       $("#applied_msg").html(data + "% Coupon applied");
                      // $("#q").attr("disabled", "disabled"); 
                       $( "#q" ).prop( "disabled", true );
                       $("#discount").show();
                       $("#discount_amount").show()
                       
                       $("#remove_coupon").show();
                       $("#discount_amount").html(coupon_discount.toFixed(2));
                       

                    }else { 
                       $("#applied_msg").show();
                       $("#applied_msg").html("You have already applied this coupon");
                     } 

                      //console.log(applied_coupon);
                   }
            else{    $("#applied_msg").show();
                     $("#applied_msg").html("Invalid coupon code");
                    
                }
              
            }, error: function (jqXHR, textStatus, errorThrown) {

            }
        });
  
});



    </script>
    <style type="text/css">
.btn-group button{
	margin-bottom: 15px;
}
.btn-group .button1 {
    background-color: #ffffff;
    border: 2px solid #99CB51;
    color: #99CB51;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  .btn-group .button1:not(:last-child) {
    #border-right: none;
  }
  .btn-group .button1:hover {
    background-color: #99CB51;
    color:#ffffff;
  }
  .btn-group .button2 {
    background-color: #ffffff;
    border: 2px solid #E01212;
    color: #E01212;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    width: 48%;
    margin-left: 2%; 
  }
  .btn-group .button2:not(:last-child) {
    #border-right: none;
  }
  .btn-group .button2:hover {
    background-color: #E01212;
    color:#ffffff;
  }
  .btn-group .button3 {
    background-color: #E01212;
    border: 2px solid #E01212;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    width: 100%;
  }
  .btn-group .button3.req_wishlistd {
		background-color: #737373;
		border: 2px solid #737373;
  }
  .btn-group .button3.send_req {
		background: #2181c5;
    border-color: #2181c5;
  }
  .btn-group .button3.view_trip_listing {
		background-color: #4493cb;
		border: 2px solid #4493cb;
		margin-top:2%;
  }
  .btn-group .button4 {
    background-color: #99CB51;
    border: 2px solid #99CB51;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    width: 100%;
  }
  .btn-group .button5 {
    background-color: #ed9c28;
    border: 2px solid #ed9c28;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    width: 100%;
  }
   .accept_service_action_btn{
	width: 30px;
	position: absolute;
	right: -15px;
	top: 13px;
	cursor: pointer;
}
.accept_service_actions{
	background: #fff;
	position: absolute;
	padding: 5px 25px;
	border: 1px solid #ccc;
	text-align: center;
	top: 55px;
	z-index: 1;
	right: -25px;
	border-radius: 15px;
	display:none;
}
.accept_service_actions:before{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid #000;
	border-color: transparent transparent #ccc;
	margin-top: -25px;
	margin-left: 210px;
	right: 15px;
}
.trip_action_wrapper{
	position:relative;	
}
#save_card_wrapper{
	margin-top: 10px;
    margin-left: 3px;	
}
#save_card_wrapper label{
	cursor:pointer;
}
</style>
<link rel="stylesheet" type="text/css" href="/public/css/stripe-payment.css" />
<script src="//js.stripe.com/v3/"></script>
<script type="text/javascript">
var stripe_public_key = '<?php echo $this->stripeConfig['public_key'];?>';
</script>
<script type="text/javascript" src="/public/js/stripe-payment.js"></script>