@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
/* social media buttons colors */
/* font weight */
/* others */
/* images */
html {
  font-size: 10px;
}
body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #737373;
  font-size: 14px;
  line-height: 24px;
}
a {
  text-decoration: none;
  outline: none !important;
}
a:hover {
  color: #2382c5;
  text-decoration: none;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}
label {
  font-weight: 400;
}
/* buttons */
.btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  min-width: 100px;
  min-height: 40px;
}
.btn.btn-facebook {
  background: #4568b2;
  color: #fff;
}
.btn.btn-facebook:hover {
  background: rgba(69, 104, 178, 0.85);
}
.btn.btn-google {
  background: #dd4b39;
  color: #fff;
}
.btn.btn-google:hover {
  background: rgba(221, 75, 57, 0.85);
}
.btn.btn-email,
.btn.signup-btn {
  background: #ff5a5f;
}
.btn.btn-email:hover,
.btn.signup-btn:hover {
  background: rgba(255, 90, 95, 0.85);
}
.btn.login-btn {
  border: 2px solid #2382c5;
  background: #fff;
  color: #2382c5 !important;
}
.btn.login-btn:hover {
  background: #2382c5 !important;
  color: #fff !important;
}
.btn-green,
.btn-primary {
  background: #99CB51;
  color: #fff;
}
.btn-green:hover,
.btn-primary:hover,
.btn-green:focus,
.btn-primary:focus {
  background: rgba(153, 203, 81, 0.85) !important;
  color: #fff;
}
.btn-secondary {
  background: #ff5a5f;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background: rgba(255, 90, 95, 0.85) !important;
  color: #fff;
}
.btn-black {
  color: #737373;
  background: #d6d6d6;
}
.btn-black:hover,
.btn-black:focus {
  color: #fff;
  background: #152137;
}
.btn-primary-invert,
.btn-paypal {
  background: #2382c5;
  color: #fff;
}
.btn-primary-invert:hover,
.btn-paypal:hover,
.btn-primary-invert:focus,
.btn-paypal:focus {
  background: rgba(35, 130, 197, 0.85) !important;
  color: #fff;
}
.btn-ghost {
  background: none;
  border: 2px solid #fff;
  padding: 7px 18px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #fff;
}
.btn-ghost:hover {
  color: #454545;
}
.btn-ghost.btn-primary,
.btn-ghost.btn-warning {
  background: #f0ad4e;
  color: #fff;
}
.btn-ghost.btn-primary:hover,
.btn-ghost.btn-warning:hover,
.btn-ghost.btn-primary:focus,
.btn-ghost.btn-warning:focus {
  background: rgba(240, 173, 78, 0.85) !important;
  color: #fff;
}
.btn-ghost.btn-success {
  background: #68e87f;
  color: #fff;
}
.btn-ghost.btn-success:hover,
.btn-ghost.btn-success:focus {
  background: rgba(104, 232, 127, 0.85) !important;
  color: #fff;
}
.btn-ghost.btn-info {
  background: #0f4896;
  color: #fff;
}
.btn-ghost.btn-info:hover,
.btn-ghost.btn-info:focus {
  background: rgba(15, 72, 150, 0.85) !important;
  color: #fff;
}
.btn-ghost.btn-danger {
  background: #ff5a5f;
  color: #fff;
}
.btn-ghost.btn-danger:hover,
.btn-ghost.btn-danger:focus {
  background: rgba(255, 90, 95, 0.85) !important;
  color: #fff;
}
.btn-ghost.btn-primary-invert {
  background: #2382c5;
  color: #fff;
}
.btn-ghost.btn-primary-invert:hover,
.btn-ghost.btn-primary-invert:focus {
  background: rgba(35, 130, 197, 0.85) !important;
  color: #fff;
}
.btn-ghost.btn-black {
  border-color: #152137;
  color: #152137;
}
.btn-ghost.btn-black:hover {
  background: #152137;
  color: #fff;
}
.btn-ghost.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-ghost.btn-white:hover {
  background: #fff;
  color: #737373;
}
.btn-box {
  float: left;
  padding: 5px;
}
.blue-box {
  background: #0f4896;
  padding-right: 25px;
}
.blue-box.active {
  padding: 8px 25px 8px 20px;
}
.green-box {
  background: #99CB51;
  padding-left: 25px;
}
.btn-sliver {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: none;
  border: 0;
  padding: 8px;
  outline: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  letter-spacing: 1px;
}
.btn-sliver.active {
  color: #454545;
  background: #f6f7f7;
  background-image: -webkit-linear-gradient(-30deg, #e9e9e9 0%, #f7f7f7 100%);
  background-image: -moz-linear-gradient(-30deg, #e9e9e9 0%, #f7f7f7 100%);
  background-image: -ms-linear-gradient(-30deg, #e9e9e9 0%, #f7f7f7 100%);
  background-image: -o-linear-gradient(-30deg, #e9e9e9 0%, #f7f7f7 100%);
  background-image: linear-gradient(120deg, #e9e9e9 0%, #f7f7f7 100%);
  background-repeat: no-repeat;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.mfp-close-btn {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 35px;
  height: 35px;
  background: #272642;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  border: 2px solid #fff;
  cursor: pointer;
}
.mfp-close-btn i {
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 8px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100% !important;
  height: 100% !important;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.home-top .header .currency-box .select-wrapper,
.service-rate-calculations-wrapper .header .currency-box .select-wrapper,
.dashboard-wrapper .header .currency-box .select-wrapper {
  display: block !important;
}
.home-top .header .currency-box .selected-currency,
.service-rate-calculations-wrapper .header .currency-box .selected-currency,
.dashboard-wrapper .header .currency-box .selected-currency {
  display: none !important;
}
.breadcrumb-block {
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #f6f7f7;
  width: 100% !important;
  z-index: 998;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  height: 45px;
}
.breadcrumb-block .breadcrumb-content {
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}
.breadcrumb-block .breadcrumb-content ul li {
  list-style: none;
  float: left;
  color: #2382c5;
}
.breadcrumb-block .breadcrumb-content ul li.active {
  color: #737373;
}
.breadcrumb-block .breadcrumb-content ul li + li:before {
  content: '\f105';
  font-family: FontAwesome;
  padding: 0 7px;
}
@media (max-width: 767px) {
  .breadcrumb-block .breadcrumb-content ul {
    float: right;
  }
  .breadcrumb-block .breadcrumb-content ul li {
    font-size: 12px;
  }
}
.tab-content {
  background: #fff;
}
.tab-content.p-space {
  padding: 20px;
}
.tab-content .tab-pane .tab-heading {
  font-size: 16px;
  font-weight: 500;
  color: #737373;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.tab-content .tab-pane .tabbable-new .nav-tabs-new {
  border-bottom: 1px solid #e6e6e6;
}
.tab-content .tab-pane .tabbable-new .nav-tabs-new li {
  float: left;
  padding-right: 4px;
}
.tab-content .tab-pane .tabbable-new .nav-tabs-new li a {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  color: #0f4896;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 40px;
  background: #fff;
  font-size: 14px;
}
.tab-content .tab-pane .tabbable-new .nav-tabs-new li a:after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid #f0ad4e;
  -webkit-transform: scale(0) translateX(-50%);
  -moz-transform: scale(0) translateX(-50%);
  transform: scale(0) translateX(-50%);
}
@media (max-width: 767px) {
  .tab-content .tab-pane .tabbable-new .nav-tabs-new li a {
    padding: 0 8px;
  }
}
.tab-content .tab-pane .tabbable-new .nav-tabs-new li.active > a,
.tab-content .tab-pane .tabbable-new .nav-tabs-new li:hover > a {
  background: #f0ad4e;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  color: #fff;
}
.tab-content .tab-pane .tabbable-new .nav-tabs-new li.active > a:after,
.tab-content .tab-pane .tabbable-new .nav-tabs-new li:hover > a:after {
  bottom: -4px;
  -webkit-transform: scale(1) translateX(-50%);
  -moz-transform: scale(1) translateX(-50%);
  transform: scale(1) translateX(-50%);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.tab-content .tab-pane .tabbable-new .tab-content {
  padding: 30px 0;
  background: #fff;
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group {
  position: relative;
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group h6 {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group .control-label {
  font-weight: 500;
  color: #737373;
  line-height: 28px;
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group input::-webkit-input-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group input:-moz-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group input::-moz-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tab-content .tab-pane .tabbable-new .tab-content .form-block .form-group input:-ms-input-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tab-content .tab-pane .tabbable-new .tab-content .tab-block {
  overflow: hidden;
  padding: 40px 0 0 0;
}
.tab-content .booking-item {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-top: none;
  color: #737373;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.tab-content .booking-item:hover,
.tab-content .booking-item.active {
  color: #737373;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}
.tab-content .booking-item .sidebar-right {
  border: 1px solid #e6e6e6;
}
.tab-content .booking-item .status {
  text-align: center;
}
.tab-content .booking-item .status .head-box {
  padding: 10px;
  background: #99CB51;
}
.tab-content .booking-item .status .head-box .i-head {
  font-weight: 700 !important;
}
.tab-content .booking-item .status .head-box-bot {
  padding: 20px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
}
.tab-content .booking-item .status .head-box-bot .label {
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  border-radius: 100% !important;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 18px;
  margin-bottom: 8px;
  width: 24px;
}
.tab-content .booking-item .aero .fa {
  color: #2382c5;
  float: left;
  display: inline-block;
  margin: 5px 0 0 5px;
}
.tab-content .booking-item .from-to-locate h5 {
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0 0 0;
}
.tab-content .booking-item .head-box {
  background: #127cdc none repeat scroll 0 0;
  padding: 7px 0 7px 15px;
  color: #fff;
}
.tab-content .booking-item .head-box-bot {
  background: #f7fafa none repeat scroll 0 0;
  padding: 7px 0 7px 15px;
}
.tab-content .booking-item .head-box-bot p {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}
.tab-content .booking-item .trips {
  margin-bottom: 20px;
  position: relative;
}
.tab-content .booking-item .trips .column-border-right {
  position: static;
  padding-left: 0;
}
.tab-content .booking-item .trips .column-border-right:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 20px;
  border-left: 1px solid #e6e6e6;
}
.tab-content .booking-item .trips:after {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  background: #e6e6e6;
  width: 100% !important;
}
.tab-content .booking-item .list-group.col-pad-left {
  padding-left: 20px !important;
}
.tab-content .booking-item .list-group .list-group-item {
  padding: 10px 0 !important;
}
/* tabs sample */
.tabs-container .nav.nav-tabs {
  border-bottom: 1px solid #e6e6e6;
}
.tabs-container .nav.nav-tabs li {
  float: left;
  padding-right: 4px;
}
.tabs-container .nav.nav-tabs li a {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  color: #0f4896;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 40px;
  background: #fff;
  font-size: 14px;
}
.tabs-container .nav.nav-tabs li a:after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid #f0ad4e;
  -webkit-transform: scale(0) translateX(-50%);
  -moz-transform: scale(0) translateX(-50%);
  transform: scale(0) translateX(-50%);
}
@media (max-width: 767px) {
  .tabs-container .nav.nav-tabs li a {
    padding: 0 8px;
  }
}
.tabs-container .nav.nav-tabs li.active > a,
.tabs-container .nav.nav-tabs li:hover > a {
  background: #f0ad4e;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  color: #fff;
}
.tabs-container .nav.nav-tabs li.active > a:after,
.tabs-container .nav.nav-tabs li:hover > a:after {
  bottom: -4px;
  -webkit-transform: scale(1) translateX(-50%);
  -moz-transform: scale(1) translateX(-50%);
  transform: scale(1) translateX(-50%);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.tabs-container .tab-content {
  padding: 30px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-top: none;
}
.tabs-container .tab-content .form-block .form-group {
  position: relative;
}
.tabs-container .tab-content .form-block .form-group h6 {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}
.tabs-container .tab-content .form-block .form-group .control-label {
  font-weight: 500;
  color: #737373;
  line-height: 28px;
}
.tabs-container .tab-content .form-block .form-group input::-webkit-input-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tabs-container .tab-content .form-block .form-group input:-moz-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tabs-container .tab-content .form-block .form-group input::-moz-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tabs-container .tab-content .form-block .form-group input:-ms-input-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.tabs-container .tab-content .tab-block {
  overflow: hidden;
  padding: 40px 0 0 0;
}
.tabs-container .tab-content .trips {
  position: relative;
}
@media (max-width: 767px) {
  .tabs-container .tab-content .trips {
    margin-bottom: 20px;
  }
}
.tabs-container .tab-content .trips .column-border-right {
  position: static;
  padding-left: 0;
}
.tabs-container .tab-content .trips .column-border-right:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 20px;
  border-left: 1px solid #e6e6e6;
}
.tabs-container .tab-content .trips:before {
  content: '';
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #d6d6d6;
  width: calc(100% + 30px);
  left: -15px;
}
.tabs-container .tab-content .list-group.col-pad-left {
  padding-left: 20px !important;
}
.tabs-container .tab-content .list-group .list-group-item {
  padding: 10px 0 !important;
}
.panel {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.panel.panel-default {
  border: 1px solid #e6e6e6;
}
.panel .panel-heading .panel-title {
  font-size: 16px;
  font-weight: 500;
  color: #737373;
}
.panel .panel-body {
  padding: 15px;
}
ul.ui-autocomplete {
  font-family: inherit;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
ul.ui-autocomplete li.ui-menu-item {
  color: #737373;
  cursor: pointer;
  padding: 4px;
  font-size: 14px;
}
ul.ui-autocomplete li.ui-menu-item.ui-state-focus {
  background: #e6e6e6;
}
ul.ui-autocomplete .ui-helper-hidden-accessible {
  display: none;
}
/* form control */
.form-control {
  border: 1px solid #e6e6e6;
  color: #737373;
}
.form-control::-webkit-input-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.form-control:-moz-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.form-control::-moz-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.form-control:-ms-input-placeholder {
  color: rgba(115, 115, 115, 0.5);
}
.input-group {
  width: 100% !important;
  height: 40px;
}
.input-group.radio-group {
  height: auto;
}
.input-group .input-group-addon {
  padding: 0 !important;
  width: 50px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.input-group .input-group-addon i {
  font-size: 17px;
}
.input-group input {
  width: 100% !important;
  height: 100% !important;
  background: #fff !important;
  border-color: #e6e6e6 !important;
}
.input-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
}
.input-group input[type="radio"] + label {
  padding: 0 20px 0 0;
}
.input-group input[type="radio"] + label:before {
  content: '';
  background: #f6f7f7;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  border-radius: 100% !important;
  border: 1px solid #abb4be;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all .15 ease;
}
.input-group input[type="radio"]:checked + label:before {
  background-color: #99CB51;
  box-shadow: inset 0 0 0 4px #f6f7f7;
  -moz-box-shadow: inset 0 0 0 4px #f6f7f7;
  -webkit-box-shadow: inset 0 0 0 4px #f6f7f7;
}
.input-group input[type="radio"]:focus + label:before {
  outline: none;
  border-color: #99CB51;
}
.input-group input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f6f7f7;
  -moz-box-shadow: inset 0 0 0 4px #f6f7f7;
  -webkit-box-shadow: inset 0 0 0 4px #f6f7f7;
  border-color: #abb4be;
  background: #abb4be;
}
.input-group input[type="radio"] + label:empty:before {
  margin-right: 0;
}
.input-group input.error,
.input-group textarea.error {
  border: 1px solid #cc0000 !important;
}
/* datatables */
.dataTables_wrapper table.dataTable {
  position: relative;
  top: 10px;
}
.dataTables_wrapper .dataTables_paginate {
  padding: 20px 0 0 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 8px 15px !important;
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #0f4896;
  position: relative;
  margin-left: -1px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  background: #0f4896 !important;
  color: #fff !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #0f4896 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background: #e6e6e6 !important;
  color: #d6d6d6 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
.dataTables_wrapper .dataTables_info {
  padding: 20px 0 0 0;
}
/* radio and checkboxes */
.radio label,
.checkbox label {
  padding-left: 0 !important;
}
.i-check,
.i-radio {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  top: 1px;
  float: left;
  text-align: center;
  line-height: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}
.i-check:before,
.i-radio:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate3d(0, -25px, 0);
  -moz-transform: translate3d(0, -25px, 0);
  transform: translate3d(0, -25px, 0);
  display: block;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
  color: #fff;
  font-size: 14px;
}
.i-check.hover,
.i-radio.hover,
.i-check.checked,
.i-radio.checked {
  border: 1px solid #99CB51;
}
.i-check.checked,
.i-radio.checked {
  background: #99CB51;
}
.i-check.checked:before,
.i-radio.checked:before {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
}
.i-check .disabled,
.i-radio .disabled {
  border-color: #e6e6e6 !important;
}
.i-check .disabled.checked,
.i-radio .disabled.checked {
  border-color: #d6d6d6 !important;
}
.i-check.i-check-stroke.checked {
  background: #fff;
}
.i-check.i-check-stroke.checked:before {
  color: #ed8323;
}
.i-radio {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.i-radio:before {
  content: '\f111';
  font-size: 12px;
}
.checkbox-switch .i-check,
.radio-switch .i-check,
.checkbox-switch .i-radio,
.radio-switch .i-radio {
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 44px;
  broder-color: #999;
  border-width: 2px;
}
.checkbox-switch .i-check:before,
.radio-switch .i-check:before,
.checkbox-switch .i-radio:before,
.radio-switch .i-radio:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #b3b3b3;
  content: '';
  width: 16px;
  height: 14px;
  top: 2px;
  left: 2px;
  position: absolute;
}
.checkbox-switch .i-check.checked,
.radio-switch .i-check.checked,
.checkbox-switch .i-radio.checked,
.radio-switch .i-radio.checked {
  background: #fff;
}
.checkbox-switch .i-check.checked:before,
.radio-switch .i-check.checked:before,
.checkbox-switch .i-radio.checked:before,
.radio-switch .i-radio.checked:before {
  background: #ed8323;
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  -o-transform: translate3d(20px, 0, 0);
  -ms-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
}
.checkbox-switch .i-check.disabled:before,
.radio-switch .i-check.disabled:before,
.checkbox-switch .i-radio.disabled:before,
.radio-switch .i-radio.disabled:before {
  background: #ccc !important;
}
.checkbox-small,
.radio-small {
  margin-bottom: 10px;
}
.checkbox-small.checkbox-inline,
.radio-small.checkbox-inline,
.checkbox-small.radio-inline,
.radio-small.radio-inline {
  margin: 0;
}
.checkbox-small label,
.radio-small label {
  font-size: 12px;
}
.checkbox-small label .i-check,
.radio-small label .i-check,
.checkbox-small label .i-radio,
.radio-small label .i-radio {
  width: 18px;
  height: 18px;
  line-height: 15px;
  top: 3px;
}
.checkbox-small label .i-check:before,
.radio-small label .i-check:before,
.checkbox-small label .i-radio:before,
.radio-small label .i-radio:before {
  font-size: 12px;
}
.checkbox-small label .i-radio:before,
.radio-small label .i-radio:before {
  font-size: 9px;
}
.checkbox-lg,
.radio-lg {
  margin-bottom: 20px;
}
.checkbox-lg.checkbox-inline,
.radio-lg.checkbox-inline,
.checkbox-lg.radio-inline,
.radio-lg.radio-inline {
  margin: 0;
}
.checkbox-lg label,
.radio-lg label {
  font-size: 16px;
}
.checkbox-lg label .i-check,
.radio-lg label .i-check,
.checkbox-lg label .i-radio,
.radio-lg label .i-radio {
  width: 26px;
  height: 26px;
  line-height: 24px;
  top: -1px;
}
.checkbox-lg label .i-check:before,
.radio-lg label .i-check:before,
.checkbox-lg label .i-radio:before,
.radio-lg label .i-radio:before {
  font-size: 16px;
}
.checkbox-lg label .i-radio:before,
.radio-lg label .i-radio:before {
  font-size: 14px;
}
.checkbox-stroke .i-check.checked,
.radio-stroke .i-check.checked,
.checkbox-stroke .i-radio.checked,
.radio-stroke .i-radio.checked {
  background: #fff;
}
.checkbox-stroke .i-check.checked:before,
.radio-stroke .i-check.checked:before,
.checkbox-stroke .i-radio.checked:before,
.radio-stroke .i-radio.checked:before {
  color: #99CB51;
}
.checkbox-stroke .i-check.checked.disabled,
.radio-stroke .i-check.checked.disabled,
.checkbox-stroke .i-radio.checked.disabled,
.radio-stroke .i-radio.checked.disabled {
  background: #fff;
}
.checkbox-stroke .i-check.checked.disabled:before,
.radio-stroke .i-check.checked.disabled:before,
.checkbox-stroke .i-radio.checked.disabled:before,
.radio-stroke .i-radio.checked.disabled:before {
  color: #ccc;
}
.checkbox-small.checkbox-inline + .checkbox-small.checkbox-inline,
.radio-small.radio-inline + .radio-small.radio-inline {
  margin-left: 10px;
}
.checkbox-lg.checkbox-inline + .checkbox-lg.checkbox-inline,
.radio-lg.radio-inline + .radio-lg.radio-inline {
  margin-left: 20px;
}
/* pagination */
.pager {
  margin: 20px 0 0 0 !important;
}
.pager li:not(:last-child) {
  margin-right: 10px;
}
.pager li .btn {
  border: 1px solid #e6e6e6;
  color: #2382c5;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 20px;
}
.pager li .btn.disabled {
  color: #d6d6d6;
}
.pager li .btn:focus {
  background: #fff;
}
.pager li .btn:hover {
  color: #fff;
  background: #0f4896;
}
/*
.pager.pager-new li > a,
.pager.pager-new li > span {
    margin: 5px 5px;
    color: #98CA51;
    border-color: #98CA51;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
}

.pager.pager-new li.disabled > a,
.pager.pager-new li.disabled > span {
    color: #999999;
    border-color: #999999;
}

.pager.pager-new li.disabled > a:hover,
.pager.pager-new li.disabled > a:focus {
    color: #999999;
    border-color: #999999;
}

.pager.pager-new li > a:hover,
.pager.pager-new li > a:focus {
    background-color: inherit;
    color: #000;
    border-color: #000;
}
*/
/* others */
.form-block {
  float: left;
  width: 100% !important;
}
.sub-block {
  padding-bottom: 15px;
}
.sub-head {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.full-width {
  width: 100% !important;
}
.less-wide {
  max-width: 120rem;
  margin: 0 auto;
}
.block {
  display: block;
}
.no-border {
  border: none;
}
.panel-borderless {
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.no-space {
  padding: 0 !important;
  background: transparent !important;
}
.p-20 {
  padding: 20px 0;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
/* status dots */
.status-dot {
  display: inline-block;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  width: 25px;
  height: 25px;
}
/* bg colors */
.bg-green {
  background: #99CB51 !important;
}
.bg-blue-custom {
  background: #4b5cbc !important;
}
/* text colors */
.text-white {
  color: #fff !important;
}
.text-grey {
  color: #737373 !important;
}
.text-black {
  color: #000 !important;
}
.text-green {
  color: #99CB51 !important;
}
.text-blue {
  color: #2382c5 !important;
}
/* font weights */
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
/* alerts */
.alert-class {
  padding: 10px;
  float: left;
  width: 100% !important;
}
.alert-class-right {
  float: right;
  line-height: 24px;
}
.alert-class-left {
  float: left;
  width: 10%;
}
.alert-class-center {
  float: left;
  line-height: 24px;
  text-align: left;
}
.stop-pagescroll {
  height: 100% !important;
  overflow-y: hidden;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.global-wrap {
  background: #f5f5f5;
  overflow: auto;
}
.border {
  border: 1px solid #e6e6e6;
}
.border-right {
  border-right: 1px solid #e6e6e6;
}
/* preloader less */
.trepr-help #preloader,
.header .currency-box #preloader,
.color-picker-group #preloader {
  position: relative;
  width: 60px;
  height: 60px;
  top: 45%;
  margin: 0 auto;
}
.trepr-help #preloader span,
.header .currency-box #preloader span,
.color-picker-group #preloader span {
  position: absolute;
  border: 4px solid #557b88;
  border-top: 4px solid transparent;
  -webkit-border-radius: 999px !important;
  -moz-border-radius: 999px !important;
  -o-border-radius: 999px !important;
  border-radius: 999px !important;
}
.trepr-help #preloader span:nth-child(1),
.header .currency-box #preloader span:nth-child(1),
.color-picker-group #preloader span:nth-child(1) {
  width: 60px;
  height: 60px;
  left: 0;
  animation: spin-1 2s infinite linear;
}
.trepr-help #preloader span:nth-child(2),
.header .currency-box #preloader span:nth-child(2),
.color-picker-group #preloader span:nth-child(2) {
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  animation: spin-2 1s infinite linear;
}
@keyframes spin-1 {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes spin-2 {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
[touch-action="none"] {
  -ms-touch-action: none;
  touch-action: none;
}
[touch-action="pan-x"] {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
[touch-action="pan-y"] {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
[touch-action="scroll"],
[touch-action="pan-x pan-y"],
[touch-action="pan-y pan-x"] {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}
@media (max-width: 991px) {
  .column-sm-mb {
    margin-bottom: 20px;
  }
  .column-border-right:before {
    content: none !important;
  }
}
@media (max-width: 768px) {
  .column-sm-mb {
    margin-bottom: 20px;
  }
}
