/* social media buttons colors */
/* font weight */
/* others */
/* images */
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name {
  position: relative;
  width: 100% !important;
  height: 120px;
  padding: 25px 0 25px 20px;
  background-image: -webkit-linear-gradient(0deg, #0049bb, #009a9a 100%);
  background-image: -moz-linear-gradient(0deg, #0049bb, #009a9a 100%);
  background-image: -ms-linear-gradient(0deg, #0049bb, #009a9a 100%);
  background-image: -o-linear-gradient(0deg, #0049bb, #009a9a 100%);
  background-image: linear-gradient(90deg, #0049bb, #009a9a 100%);
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border-radius: 8px !important;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name {
    height: 130px;
    padding: 20px 0;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a {
  display: block;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-pic {
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-pic img {
  width: inherit;
  height: 100% !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-pic {
    text-align: center;
    width: 50px;
    margin: 0 auto 5px auto;
    float: none !important;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details {
  margin: 0 0 0 8px;
  background: transparent;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details {
    text-align: center;
    width: 100% !important;
    padding: 5px 0;
    margin: 0;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h5,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h6 {
  color: #fff;
  text-transform: capitalize;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h5 {
  font-size: 14px;
  margin: 0 0 5px 0 !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h5 {
    font-size: 16px;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h6 {
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h6 {
    font-size: 14px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .user-name a .profile-details h6 {
    margin: 0 !important;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .profile,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .account {
  margin: 20px 0 0 0;
  background-image: -webkit-linear-gradient(-30deg, #0049bb, #009a9a 100%);
  background-image: -moz-linear-gradient(-30deg, #0049bb, #009a9a 100%);
  background-image: -ms-linear-gradient(-30deg, #0049bb, #009a9a 100%);
  background-image: -o-linear-gradient(-30deg, #0049bb, #009a9a 100%);
  background-image: linear-gradient(120deg, #0049bb, #009a9a 100%);
  padding: 20px 0 0 0;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border-radius: 8px !important;
  overflow: hidden;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .account a {
  display: block;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a .icon,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .account a .icon {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a p,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .account a p {
  padding: 10px 20px 15px 20px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a p,
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .account a p {
    font-size: 14px;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a h5,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .account a h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 0 0;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a h5,
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .account a h5 {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a h5,
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .account a h5 {
    margin: 10px 10px 0 10px;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .profile a .arrow,
.dashboard-wrapper .dashboard-content .user-settings-wrapper .account a .arrow {
  position: static;
  margin: 0 auto;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist {
  margin: 20px 0 0 0;
  background: #13456a;
  padding: 0 10px;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border-radius: 8px !important;
  overflow: hidden;
  height: 120px;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .status {
  padding: 25px 0;
  border-right: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5px;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .status i {
  color: #fff;
  font-size: 34px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .status i {
    font-size: 54px;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp {
  width: 60%;
  margin: 10px 10px 0 15px;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp h6 {
  text-transform: uppercase;
  padding: 0 0 5px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp h6 {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp h6 {
    font-size: 14px;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp p {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .desp {
    width: 70%;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .score {
  height: 120px;
  margin: 0 0 0 5px;
  position: relative;
  top: 45px;
  right: 20px;
  float: right !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .score {
    top: 20px;
    margin: 0;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .score .box {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  color: #fff;
  font-weight: 700;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .score .box {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .seeker-wishlist .score .box span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: FontAwesome;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  right: 20px;
}
.dashboard-wrapper .dashboard-content .user-settings-wrapper .arrow i {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 2px;
  display: flex;
  justify-content: center;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card {
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border-radius: 8px !important;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0 25px 0;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-header {
  background: #272642;
  height: 40px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-header .icon {
  padding: 0 10px 0 0;
  border-right: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  padding: 8px 10px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-header h5 {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  padding: 12px 0 0 10px;
  margin: 0;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body {
  background: #fff;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .row,
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .bottom-section .row {
  display: flex;
  flex-direction: row;
  width: -moz-available;
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .row,
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .bottom-section .row {
    display: block;
  }
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .row .column,
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .bottom-section .row .column {
  border-right: 1px solid #d6d6d6;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .row .column a:hover .count-desp .count,
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .bottom-section .row .column a:hover .count-desp .count,
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .row .column a:hover .count-desp .label,
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .bottom-section .row .column a:hover .count-desp .label {
  color: #2382c5;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section {
  border-bottom: 1px solid #d6d6d6;
  padding: 0 12px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .left {
  margin: 10px 0;
  border-right: 1px solid #d6d6d6;
  width: 170px;
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .left {
    border-right: none;
    margin-bottom: 0;
  }
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .left h5 {
  font-size: 16px;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  margin: 0;
  width: 90%;
  text-transform: uppercase;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .left h5:after {
  content: '\f105';
  font-family: FontAwesome;
  margin: 0 0 0 6px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .right {
  margin: 10px 0;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .right .count {
  color: #40bb56;
  font-size: 32px;
  line-height: normal;
  padding: 10px 10px 10px 15px;
  display: inline-block;
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .right {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .top-section .more {
    margin: 10px 0;
  }
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .bottom-section {
  background: #f6f7f7;
  padding: 0 12px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp {
  padding: 10px 15px;
  margin: 10px 0;
  float: left;
  width: 100% !important;
  height: inherit;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .count {
  color: #454545;
  line-height: normal;
  padding: 0 0 2px 0;
  float: left;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .count.medium {
  font-size: 16px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .count.small {
  font-size: 12px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .count.big {
  font-size: 24px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .count.bigger {
  font-size: 46px;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .label {
  color: #848b9b;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  line-height: normal;
  float: left;
  clear: both;
  white-space: normal;
  text-align: left;
}
.dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .label:after {
  content: '\f105';
  font-family: FontAwesome;
  margin: 0 0 0 6px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp .label {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper .dashboard-card .card-body .count-desp {
    padding: 5px 15px;
    margin: 8px 0;
  }
}
@media (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .middle-section-wrapper {
    margin: 20px 0 0 0;
  }
}
.dashboard-wrapper .dashboard-content .color-box {
  margin: 0 0 20px 0;
  height: 125px !important;
  padding: 0 20px;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border-radius: 8px !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-wrapper .dashboard-content .color-box {
    height: 130px;
  }
}
.dashboard-wrapper .dashboard-content .color-box.grey {
  background-image: -webkit-linear-gradient(0deg, #44485b, #292844 100%);
  background-image: -moz-linear-gradient(0deg, #44485b, #292844 100%);
  background-image: -ms-linear-gradient(0deg, #44485b, #292844 100%);
  background-image: -o-linear-gradient(0deg, #44485b, #292844 100%);
  background-image: linear-gradient(90deg, #44485b, #292844 100%);
}
.dashboard-wrapper .dashboard-content .color-box.grey .icon,
.dashboard-wrapper .dashboard-content .color-box.grey .desp {
  padding: 10px 0;
}
.dashboard-wrapper .dashboard-content .color-box.grey .chart-box {
  width: 80%;
  margin: 0 auto;
  height: 100% !important;
}
.dashboard-wrapper .dashboard-content .color-box.grey .desp h6 {
  text-transform: uppercase;
  padding: 0 0 8px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin: 10px 0 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .color-box.grey .desp h6 {
    font-size: 17px;
  }
}
.dashboard-wrapper .dashboard-content .color-box.grey .desp p {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 5px 0;
}
.dashboard-wrapper .dashboard-content .color-box.grey .desp a {
  color: #ed8323;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .color-box.grey .desp a {
    font-size: 12px;
    display: inline-block;
    margin: 10px 0 0 0;
  }
}
.dashboard-wrapper .dashboard-content .color-box.grey .desp a i {
  color: #ed8323;
  position: relative;
  top: 1px;
  left: 7px;
  font-size: 14px;
}
.dashboard-wrapper .dashboard-content .color-box.green {
  background-image: -webkit-linear-gradient(0deg, #99cb51, #90c346 100%);
  background-image: -moz-linear-gradient(0deg, #99cb51, #90c346 100%);
  background-image: -ms-linear-gradient(0deg, #99cb51, #90c346 100%);
  background-image: -o-linear-gradient(0deg, #99cb51, #90c346 100%);
  background-image: linear-gradient(90deg, #99cb51, #90c346 100%);
}
.dashboard-wrapper .dashboard-content .color-box.teal {
  background-image: -webkit-linear-gradient(0deg, #63b8ca, #3997ab 100%);
  background-image: -moz-linear-gradient(0deg, #63b8ca, #3997ab 100%);
  background-image: -ms-linear-gradient(0deg, #63b8ca, #3997ab 100%);
  background-image: -o-linear-gradient(0deg, #63b8ca, #3997ab 100%);
  background-image: linear-gradient(90deg, #63b8ca, #3997ab 100%);
}
.dashboard-wrapper .dashboard-content .color-box.s-blue {
  background-image: -webkit-linear-gradient(0deg, #3293d9, #3997ab 100%);
  background-image: -moz-linear-gradient(0deg, #3293d9, #3997ab 100%);
  background-image: -ms-linear-gradient(0deg, #3293d9, #3997ab 100%);
  background-image: -o-linear-gradient(0deg, #3293d9, #3997ab 100%);
  background-image: linear-gradient(90deg, #3293d9, #3997ab 100%);
}
.dashboard-wrapper .dashboard-content .color-box.m-blue {
  background-image: -webkit-linear-gradient(0deg, #4b5cbc, #33408a 100%);
  background-image: -moz-linear-gradient(0deg, #4b5cbc, #33408a 100%);
  background-image: -ms-linear-gradient(0deg, #4b5cbc, #33408a 100%);
  background-image: -o-linear-gradient(0deg, #4b5cbc, #33408a 100%);
  background-image: linear-gradient(90deg, #4b5cbc, #33408a 100%);
}
.dashboard-wrapper .dashboard-content .color-box .icon,
.dashboard-wrapper .dashboard-content .color-box .desp {
  padding: 20px 0;
  height: 125px !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-wrapper .dashboard-content .color-box .icon,
  .dashboard-wrapper .dashboard-content .color-box .desp {
    height: 130px;
  }
}
.dashboard-wrapper .dashboard-content .color-box .icon {
  text-align: center;
  border-right: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.dashboard-wrapper .dashboard-content .color-box .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dashboard-wrapper .dashboard-content .color-box .desp {
  position: relative;
  margin: 0 8px 0 15px;
}
.dashboard-wrapper .dashboard-content .color-box .desp h5 {
  text-transform: uppercase;
  padding: 0 0 8px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  width: 95%;
  float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .color-box .desp h5 {
    font-size: 17px;
    margin: 0;
  }
}
.dashboard-wrapper .dashboard-content .color-box .desp p {
  clear: both;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}
.dashboard-wrapper .dashboard-content .color-box .desp p.rw {
  width: 90%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .color-box .desp p {
    font-size: 14px !important;
  }
}
.dashboard-wrapper .dashboard-content .color-box .desp .plus {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: FontAwesome;
  width: 28px;
  height: 28px;
  border: 1.5px solid #fff;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  right: 0;
}
.dashboard-wrapper .dashboard-content .color-box .desp .plus i {
  position: absolute;
  top: 51%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}
.dashboard-wrapper .dashboard-content .logout {
  margin: 20px 0 0 0;
  background: #13456a;
  padding: 0 20px;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border-radius: 8px !important;
  overflow: hidden;
}
.dashboard-wrapper .dashboard-content .logout .box {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.dashboard-wrapper .dashboard-content .logout .box .desp {
  margin: 0 0 0 10px;
}
.dashboard-wrapper .dashboard-content .logout .box .desp h5 {
  font-size: 14px;
  color: #fff;
  margin: 7px 0 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-wrapper .dashboard-content .logout .box .desp h5 {
    font-size: 16px;
  }
}
