/* social media buttons colors */
/* font weight */
/* others */
/* images */
.footer-container {
  background: #022962;
  color: #fff;
  font-size: 14px;
  line-height: 1.4em;
  float: left;
  width: 100% !important;
  min-height: 400px;
}
.footer-container .top-block h5,
.footer-container .bottom-block h5 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer-container .top-block {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-container .top-block ul.footer-links {
  margin: 5px 0 0 0 !important;
  float: left;
}
@media (max-width: 767px) {
  .footer-container .top-block ul.footer-links {
    margin: 5px 0 15px 0 !important;
  }
}
.footer-container .top-block ul.footer-links li {
  margin: 0 0 20px 0;
}
.footer-container .top-block ul.footer-links li a {
  font-weight: 400;
  font-size: 14px;
  color: #849ec1;
}
.footer-container .top-block ul.footer-links li a:hover {
  text-decoration: none;
  color: #fff;
}
.footer-container .top-block .c-cards ul li a {
  box-shadow: 0 0 5px #0a1f3c;
  -moz-box-shadow: 0 0 5px #0a1f3c;
  -webkit-box-shadow: 0 0 5px #0a1f3c;
  display: inline-block;
}
.footer-container .top-block .c-cards ul li:first-child {
  padding-left: 0;
}
@media (max-width: 991px) {
  .footer-container .top-block .c-cards ul li {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 991px) {
  .footer-container .top-block .c-cards ul {
    margin-bottom: 0 !important;
  }
}
.footer-container .top-block .social-list {
  padding-bottom: 15px;
}
.footer-container .top-block .social-list .social-links li {
  padding-right: 3px;
}
.footer-container .top-block .social-list .social-links li:first-child {
  padding-left: 0;
}
.footer-container .top-block .social-list .social-links li a {
  width: 38px;
  height: 38px;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
  background: #093777;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.footer-container .top-block .social-list .social-links li a:hover {
  background: #0f4896;
}
@media (max-width: 767px) {
  .footer-container .top-block .social-list .social-links li {
    margin: 0 0 5px 0 !important;
  }
}
.footer-container .top-block .subscribe {
  padding-bottom: 35px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-container .top-block .subscribe {
    padding: 15px 0 35px 0;
  }
}
.footer-container .top-block .subscribe .input-box {
  margin: 5px 0 0 0;
  float: left;
}
.footer-container .top-block .subscribe .input-box input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-border-top-right-radius: 0 !important;
  -moz-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  color: #fff;
  font-size: 14px;
  height: 40px;
  background: transparent;
  width: 240px;
}
.footer-container .top-block .subscribe .input-box input::-webkit-input-placeholder {
  color: #849ec1;
}
.footer-container .top-block .subscribe .input-box input:-moz-placeholder {
  color: #849ec1;
}
.footer-container .top-block .subscribe .input-box input::-moz-placeholder {
  color: #849ec1;
}
.footer-container .top-block .subscribe .input-box input:-ms-input-placeholder {
  color: #849ec1;
}
.footer-container .top-block .subscribe .btn {
  height: 40px;
  display: flex;
  align-items: center;
  background: #0f4896;
  min-width: auto;
}
.footer-container .top-block .subscribe .btn i {
  color: #fff;
  font-size: 16px;
}
.footer-container .bottom-block {
  padding: 25px 0;
  background: #03224e;
}
.footer-container .bottom-block .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .bottom-block .content-box h6 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.footer-container .applogo img {
  width: 100px;
}
