/* social media buttons colors */
/* font weight */
/* others */
/* images */
body.inner-page-topSpace .header {
  background: #2382c5;
}
body.inner-page-topSpace .header .notification-drop a.notification {
  background-color: #0f4896 !important;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body.inner-page-topSpace .header .notification-drop a.notification:hover,
body.inner-page-topSpace .header .notification-drop a.notification:focus {
  background-color: #0f4896 !important;
}
.header {
  background: transparent;
  width: 100% !important;
  padding: 12px 15px;
  position: fixed;
  z-index: 1000;
  height: 67px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
}
.header.blue-bg {
  background: #2382c5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.blue-bg .currency-box {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.header.blue-bg .notification-drop a.notification {
  background-color: #0f4896 !important;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header.blue-bg .notification-drop a.notification:hover,
.header.blue-bg .notification-drop a.notification:focus {
  background-color: #0f4896 !important;
}
.header.navbar .navbar-toggle {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
@media (max-width: 991px) {
  .header.navbar .navbar-toggle {
    display: block;
  }
}
.header.navbar .navbar-toggle .navbar-toggler-icon {
  width: 28px;
  height: 28px;
  position: relative;
  top: 6px;
  cursor: pointer;
}
.header.navbar .navbar-toggle span {
  position: absolute;
  right: 0;
  background: #fff;
  width: 20px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  height: 1.5px;
}
.header.navbar .navbar-toggle span:nth-child(1) {
  top: 7px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.navbar .navbar-toggle span:nth-child(2) {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
  top: 13px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.navbar .navbar-toggle span:nth-child(3) {
  top: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.navbar .navbar-toggle:hover {
  background-color: transparent;
}
.header.navbar .navbar-toggle.expanded span:nth-child(1) {
  top: 12px;
  left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.navbar .navbar-toggle.expanded span:nth-child(2) {
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.navbar .navbar-toggle.expanded span:nth-child(3) {
  top: 12px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header.navbar-default {
  border: none;
}
.header .header-right {
  padding-right: 0;
  float: right;
}
.header .header-right .top-user-area-list > li {
  position: relative;
  margin: 0 0 0 5px;
  float: left;
  height: 42px;
}
.header .header-right .top-user-area-list > li:not(.currency-box):not(.trepr-nav-traveller):not(:last-child):after {
  content: '';
  position: absolute;
  top: 30%;
  right: -2px;
  height: 40%;
  background: rgba(255, 255, 255, 0.3);
  width: 1px;
}
.header .header-right .top-user-area-list > li:not(.trepr-nav-traveller):not(:last-child) {
  padding-right: 12px;
}
.header .header-right .top-user-area-list > li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  letter-spacing: 0.8px;
  line-height: 42px;
}
.header .header-right .top-user-area-list > li a:last-child {
  padding-right: 0 !important;
}
.header .header-right .top-user-area-list .trepr-nav-traveller {
  margin: 0 20px 0 0;
  border: none;
}
.header .header-right .top-user-area-list .trepr-nav-traveller a {
  background-color: #68e87f !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  padding: 6px 12px;
  line-height: inherit;
}
.header .header-right .top-user-area-list .trepr-nav-traveller a:hover {
  color: #fff;
}
.header .header-right .top-user-area-list .trepr-nav-traveller img {
  float: left;
  width: 30px;
  height: auto;
}
.header .header-right .top-user-area-list .trepr-nav-traveller span {
  position: relative;
  top: 3px;
  padding: 0 10px;
  color: #285830;
}
.header .header-right .top-user-area-list .currency-box {
  margin: 0;
  border-right: none;
  position: relative;
  background: transparent;
  color: #fff;
  font-size: 12px;
  padding: 0 !important;
  height: 41px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  line-height: 41px;
  width: 110px !important;
}
.header .header-right .top-user-area-list .currency-box:after {
  content: none;
}
.header .header-right .top-user-area-list .currency-box .select-wrapper {
  display: none;
}
.header .header-right .top-user-area-list .currency-box .select-wrapper .select {
  cursor: pointer;
  display: block;
}
.header .header-right .top-user-area-list .currency-box .select-wrapper .select span {
  display: inline-block;
  width: 100% !important;
  text-align: left;
  float: left;
  padding: 0 15px;
  font-weight: 500;
  font-size: 12px;
}
.header .header-right .top-user-area-list .currency-box .select-wrapper .select span:after {
  cursor: pointer;
  content: '\f107';
  font-family: FontAwesome;
  float: right;
  font-size: 17px;
  margin-top: 1px;
}
.header .header-right .top-user-area-list .currency-box .selected-currency {
  width: 100% !important;
  float: left;
  text-align: center;
  display: block;
  font-size: 12px;
  font-weight: 500;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list {
  position: absolute;
  width: 250px;
  background: #fff;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  border: 1px solid #f6f7f7;
  z-index: 1;
  box-sizing: initial;
  left: -1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  top: 41px;
  float: left;
  height: 300px;
  display: none;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list.show {
  display: block;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li {
  padding: 0 0 0 15px;
  margin: 0 !important;
  border-right: none;
  line-height: 35px;
  color: #848b9b;
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li:hover {
  background: rgba(0, 0, 0, 0.07);
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li span.default {
  display: none;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li a {
  text-align: left;
  display: block;
  font-size: 14px;
  padding-left: 15px;
  color: #737373;
  text-decoration: none !important;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li a:hover {
  background: #f6f7f7;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li a:active {
  color: #737373;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li a.disabled {
  color: #d6d6d6;
}
.header .header-right .top-user-area-list .currency-box .dropdown-list li a.disabled:hover {
  background: #fff;
  color: #737373;
}
.header .header-right .top-user-area-list .currency-box option,
.header .header-right .top-user-area-list .currency-box .default-cr {
  display: none;
}
.header .header-right .top-user-area-list .currency-box .preload {
  position: absolute;
  width: 100% !important;
  padding: 0 !important;
}
.header .header-right .top-user-area-list .currency-box #preloader-wrapper {
  margin-top: 70px;
}
.header .header-right .top-user-area-list .currency-box #preloader-wrapper #preloader {
  width: 50px !important;
  height: 50px !important;
}
.header .header-right .top-user-area-list .currency-box #preloader-wrapper #preloader span {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid transparent;
}
.header .header-right .top-user-area-list .currency-box #preloader-wrapper #preloader span:nth-child(1) {
  left: 0;
  width: 50px !important;
  height: 50px !important;
}
.header .header-right .top-user-area-list .currency-box #preloader-wrapper #preloader span:nth-child(2) {
  top: 10px !important;
  left: 10px !important;
}
.header .header-right .top-user-area-list .currency-box .mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}
.header .header-right .top-user-area-list .currency-box .mCSB_scrollTools {
  right: 0 !important;
  margin: 5px 0;
}
.header .header-right .top-user-area-list .currency-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.5);
  width: 3px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.header .header-right .top-user-area-list .currency-box .mCSB_scrollTools .mCSB_draggerRail {
  width: 3px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.2);
}
.header .header-right .top-user-area-list .currency-box .form-control .dropdown-toggle,
.header .header-right .top-user-area-list .currency-box .btn-group.open .dropdown-toggle {
  background: transparent;
  color: #fff !important;
  font-size: 14px;
  padding: 0px 20px;
  height: 43px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
}
.header .header-right .top-user-area-list .currency-box .form-control:focus {
  border: none;
}
.header .header-right .top-user-area-list .currency-box .form-group {
  margin-bottom: 50px;
}
.header .header-right .top-user-area-list .currency-box .form-horizontal {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: left;
}
.header .header-right .top-user-area-list .currency-box .dropdown-menu {
  background: #fff;
  width: 250px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 250px !important;
  border: none;
  margin: -5px 0 0 0px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  top: 49px;
}
.header .header-right .top-user-area-list .currency-box .dropdown-menu > li > a {
  color: #737373;
  padding: 6px 5px 6px 20px;
  font-size: 14px;
  font-weight: 400;
}
.header .header-right .top-user-area-list .currency-box .dropdown-menu > li.disabled > a,
.header .header-right .top-user-area-list .currency-box .dropdown-menu > li.disabled > a:hover {
  color: #f6f7f7;
}
.header .header-right .top-user-area-list .currency-box.expand .select span:after {
  content: '\f106';
}
.header .header-right .top-user-area-list .notification-drop {
  padding-left: 10px;
  margin-left: 10px;
}
.header .header-right .top-user-area-list .notification-drop #notification_count {
  background-color: #cc0000;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  color: #fff;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 14px;
  text-align: center;
  top: -1px;
  width: 20px;
  cursor: pointer;
  z-index: 1;
}
.header .header-right .top-user-area-list .notification-drop a.notification {
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  height: 42px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 42px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
}
.header .header-right .top-user-area-list .notification-drop a.notification:hover,
.header .header-right .top-user-area-list .notification-drop a.notification:focus {
  color: #fff;
}
.header .header-right .top-user-area-list .notification-drop a.notification .fa {
  font-size: 17px;
  position: relative;
  left: 1px;
}
.header .header-right .top-user-area-list .notification-drop.active-drop > #notificationContainer {
  height: auto;
  overflow: visible;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
}
.header .header-right .top-user-area-list .notification-drop.active-drop > .nav-drop-menu {
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  right: -17px;
  top: 45px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #fff;
  border-color: transparent transparent #fff;
  margin-top: -20px;
  right: 37px;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationTitle {
  font-weight: 700;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #d6d6d6;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationTitle a {
  color: #0049bb;
  text-transform: capitalize;
  line-height: normal;
  font-size: 14px;
  letter-spacing: inherit;
  font-weight: 400;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationsBody {
  max-height: 300px;
  overflow-y: scroll;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationsBody .alert-class {
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationsBody .alert-class:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationsBody .alert-class a {
  color: inherit;
  text-transform: capitalize;
  line-height: normal;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: inherit;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationsBody .alert-class:hover {
  background: #f6f7f7;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationFooter {
  background-color: #f6f7f7;
  text-align: center;
  font-weight: 700;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header .header-right .top-user-area-list .notification-drop #notificationContainer #notificationFooter a {
  color: #4b5cbc;
}
.header .header-right .top-user-area-list .top-user-area-avatar .dropdown-toggle .icon,
.header .header-right .top-user-area-list .top-user-area-avatar .dropdown-toggle .name {
  color: #fff;
  float: left;
  height: 42px;
}
.header .header-right .top-user-area-list .top-user-area-avatar .dropdown-toggle .icon {
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  border-radius: 100% !important;
  margin-right: 8px;
  width: 42px;
  line-height: normal;
  overflow: hidden;
}
.header .header-right .top-user-area-list .top-user-area-avatar .dropdown-toggle .icon img {
  width: 42px;
  height: 100% !important;
}
.header .header-right.navbar-collapse {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}
@media (max-width: 991px) {
  .header .header-right.navbar-collapse {
    display: none !important;
  }
}
.header .header-right.expanded {
  width: 100vw;
  margin: 0 -15px;
  padding: 0;
  position: fixed;
  background: #2382c5;
  top: 0;
  z-index: -1;
  height: 100vh !important;
  display: block !important;
}
.header .header-right.expanded .top-user-area-list {
  margin: 97px 0 0 20px !important;
  width: 100% !important;
}
.header .header-right.expanded .top-user-area-list > li {
  display: block;
  float: none;
  padding: 16px 0;
  margin: 0;
  height: auto;
  width: 91%;
  display: inline-block;
  height: 56px;
}
.header .header-right.expanded .top-user-area-list > li.home-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}
.header .header-right.expanded .top-user-area-list > li.trepr-nav-traveller {
  position: fixed;
  bottom: 90px;
  height: 84px;
  width: 100vw;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  margin: 0 -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-right.expanded .top-user-area-list > li.trepr-nav-traveller a {
  padding: 6px 12px;
  font-size: 14px;
}
.header .header-right.expanded .top-user-area-list > li.currency-box {
  position: absolute;
  top: 10px;
  right: 65px;
  border-color: rgba(255, 255, 255, 0.3) !important;
  margin: 0;
  height: auto;
}
.header .header-right.expanded .top-user-area-list > li.currency-box .dropdown-list {
  width: 100vw;
  position: fixed;
  top: 67px;
  height: 100vh;
  z-index: 1000;
  left: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.header .header-right.expanded .top-user-area-list > li.currency-box .dropdown-list li {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}
.header .header-right.expanded .top-user-area-list > li.top-user-area-avatar .dropdown-toggle .icon {
  position: absolute;
  right: 12px;
  margin-right: 0;
  width: 38px;
  height: 38px;
  top: -8px;
}
.header .header-right.expanded .top-user-area-list > li.top-user-area-avatar .dropdown-toggle .icon .origin {
  height: 38px;
}
.header .header-right.expanded .top-user-area-list > li.top-user-area-avatar .dropdown-toggle .sm-title {
  line-height: 0;
}
.header .header-right.expanded .top-user-area-list > li.notification-drop #notification_count {
  display: block;
  right: 12px;
  top: 3px;
}
.header .header-right.expanded .top-user-area-list > li.notification-drop a.notification {
  position: relative;
  top: -9px;
  width: 38px;
  height: 38px;
  float: right;
  right: 0;
  background-color: #0f4896;
}
.header .header-right.expanded .top-user-area-list > li.notification-drop a.notification:hover,
.header .header-right.expanded .top-user-area-list > li.notification-drop a.notification:focus {
  background-color: #0f4896;
}
.header .header-right.expanded .top-user-area-list > li.notification-drop a.notification i {
  top: -3px;
}
.header .header-right.expanded .top-user-area-list > li.notification-drop #notificationContainer {
  width: 100vw;
  left: -20px;
}
.header .header-right.expanded .top-user-area-list > li a {
  padding: 4px 0;
  display: inline-block;
  font-size: 16px;
  line-height: inherit;
}
.header .header-right.expanded .top-user-area-list > li:after {
  content: none;
  height: 0 !important;
}
@media (min-width: 992px) {
  .header .header-right.expanded {
    display: none !important;
  }
}
.header .trepr-help {
  position: fixed;
  right: -460px;
  top: 0;
  background: #284C58;
  width: 360px;
  z-index: 1000;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 3px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 3px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 3px 0px;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
.header .trepr-help.show {
  right: 0;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
.header .trepr-help .nicescroll-rails div {
  width: 4px !important;
}
.header .trepr-help .content-box {
  display: inline-block;
  float: left;
  text-align: center;
  width: 100%;
  position: relative;
  height: 100%;
}
.header .trepr-help .content-box .head {
  height: 67px;
  padding: 10px 0;
  float: left;
  width: 100% !important;
  border-bottom: 1px solid #386877;
}
.header .trepr-help .content-box .head h3 {
  text-align: center;
  margin: 10px 0 0 0;
}
.header .trepr-help .content-box .head h3 a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.header .trepr-help .content-box .head .back-btn,
.header .trepr-help .content-box .head .close {
  position: absolute;
  color: #82a2ad;
}
.header .trepr-help .content-box .head .back-btn {
  font-size: 14px;
  top: 20px;
  left: 5%;
  cursor: pointer;
  display: none;
}
.header .trepr-help .content-box .head .back-btn:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 27px;
  color: #fdfdfd;
  margin-right: 10px;
  font-weight: 500;
}
.header .trepr-help .content-box .head .back-btn span {
  position: relative;
  top: -4px;
  letter-spacing: 0.4px;
  color: #fdfdfd;
}
.header .trepr-help .content-box .head .close {
  font-size: 25px;
  top: 20px;
  right: 5%;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
  text-shadow: none;
}
.header .trepr-help .content-box .body {
  float: left;
  width: 100% !important;
  height: calc(100vh - 240px);
}
.header .trepr-help .content-box .body .content-wrapper {
  height: 100% !important;
}
.header .trepr-help .content-box .body .mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}
.header .trepr-help .content-box .body .mCSB_scrollTools {
  right: -5px !important;
}
.header .trepr-help .content-box .body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #568594 !important;
  width: 5px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.header .trepr-help .content-box .body .mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.header .trepr-help .content-box .body.scroll {
  height: calc(100vh - 240px);
}
.header .trepr-help .content-box .body .search-form {
  position: relative;
  width: 90%;
  border: 1px solid #557b88;
  margin: 40px auto 20px auto;
  color: #fff;
}
.header .trepr-help .content-box .body .search-form span {
  width: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 8px;
  top: 12px;
}
.header .trepr-help .content-box .body .search-form input {
  border-color: transparent !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent !important;
  color: #fff !important;
  padding: 0 0 0 40px;
}
.header .trepr-help .content-box .body .search-form input::-webkit-input-placeholder {
  color: #557b88;
}
.header .trepr-help .content-box .body .search-form input:-moz-placeholder {
  color: #557b88;
}
.header .trepr-help .content-box .body .search-form input::-moz-placeholder {
  color: #557b88;
}
.header .trepr-help .content-box .body .search-form input:-ms-input-placeholder {
  color: #557b88;
}
.header .trepr-help .content-box .body .results {
  width: 90%;
  padding: 20px 0;
  text-align: left;
  margin: 0 auto;
}
.header .trepr-help .content-box .body .results h5 {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  width: 100% !important;
  display: none;
}
.header .trepr-help .content-box .body .results ul#searchDetails {
  float: left;
  padding-left: 0px;
  list-style: none;
  width: 100% !important;
  margin: 10px 0 0 0 !important;
}
.header .trepr-help .content-box .body .results ul li {
  float: left;
  width: 95%;
  margin: 0 0 20px 0;
  transition: 0.3s all;
  background: transparent !important;
  line-height: 24px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #fdfdfd !important;
}
.header .trepr-help .content-box .body .results ul li p {
  line-height: 24px !important;
}
.header .trepr-help .content-box .body .results ul li a {
  color: #bdd6de;
  font-weight: 300;
  text-decoration: none !important;
  padding-right: 20px;
  width: 98%;
}
.header .trepr-help .content-box .body .results ul li.help-Question a {
  font-size: 16px;
  line-height: 24px !important;
  position: relative;
  display: inline-block;
}
.header .trepr-help .content-box .body .results ul li.help-Question a:hover {
  text-decoration: underline !important;
}
.header .trepr-help .content-box .body .results ul li.help-Question a span {
  float: right;
  color: transparent;
  font-size: 0;
  position: absolute;
  right: 20px;
  top: 0px;
}
.header .trepr-help .content-box .body .results ul li ul li {
  margin-bottom: 20px !important;
}
.header .trepr-help .content-box .body .results ul li ul li:before {
  content: "\f111";
  font-family: FontAwesome;
  font-weight: 300;
  font-size: 8px;
  color: #fff;
  margin-right: 10px;
  text-align: right;
}
.header .trepr-help .content-box .body .results ul li .help-back {
  float: left;
  background-color: #40bb56;
  color: #fff;
  padding: 5px 20px !important;
  margin: 0 0 20px 0;
  text-align: center;
  width: 100px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.header .trepr-help .content-box .bottom {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  height: 173px;
  background: #14272d;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
}
.header .trepr-help .content-box .bottom .vhc-btn {
  width: 100% !important;
  background-color: #40bb56 !important;
  color: #333333 !important;
  padding: 10px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  font-size: 16px;
  font-weight: 500;
}
.header .trepr-help .content-box .bottom .feedback-btn {
  color: #fdfdfd !important;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  width: 100% !important;
  font-size: 16px;
  font-weight: 400;
}
.header .trepr-help #preloader-wrapper {
  position: absolute;
  display: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 250px;
}
@media (max-width: 767px) {
  .header .trepr-help {
    width: 100% !important;
    right: -100vw;
  }
}
@media (max-width: 991px) {
  .header {
    background: #2382c5;
  }
}
