/* social media buttons colors */
/* font weight */
/* others */
/* images */
.user-wrapper .user-block .content-box.people-service .add-passengers {
  margin: 20px 0;
}
.user-wrapper .user-block .content-box.people-service .add-passengers .passenger-btn {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  min-width: auto;
  box-shadow: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-wrapper .user-block .content-box.people-service .add-passengers .passenger-btn:hover {
  border: 1px solid #d6d6d6;
}
.user-wrapper .user-block .content-box.people-service .add-passengers .passenger-btn.active {
  background: #99CB51;
  color: #fff;
}
.user-wrapper .user-block .content-box.people-service .add-passengers .passenger-btn:not(:last-child) {
  margin-right: 10px;
}
.user-wrapper .user-block .content-box.people-service .add-passengers .add-icon {
  position: relative;
  left: 0;
  top: 8px;
}
@media (min-width: 991px) {
  .user-wrapper .user-block .content-box.people-service .add-passengers#sel_ratio_btn {
    margin-left: 50px;
  }
}
