/* social media buttons colors */
/* font weight */
/* others */
/* images */
.user-wrapper .user-block .content-box ol {
  margin: 0 !important;
  padding: 0 0 0 10px;
}
.user-wrapper .user-block .content-box.service-rate .tab-content .form-control.currency-rate + span {
  color: #737373;
  position: absolute;
  top: 42px;
  right: 22px;
  font-size: 17px;
}
.user-wrapper .user-block .content-box.news-room .ressources {
  padding: 30px 0;
}
.user-wrapper .user-block .content-box.news-room .ressources .row {
  display: flex;
}
.user-wrapper .user-block .content-box.news-room .ressources .row .resList .imgBlock,
.user-wrapper .user-block .content-box.news-room .ressources .row .resList .imgLogo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
.user-wrapper .user-block .content-box.news-room .ressources .row .resList .imgBlock {
  border: 2px solid #d6d6d6;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
}
.user-wrapper .user-block .content-box.news-room .ressources .row .resList .imgBlock img {
  max-width: 100% !important;
}
.user-wrapper .user-block .content-box.news-room .ressources .row .resList .imgLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-wrapper .user-block .content-box.news-room .ressources .row .resList:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-wrapper .user-block .content-box.news-room .ressources .row .resList:last-child .btn-primary {
  margin: -40px 0 0 0;
}
@media (max-width: 991px) {
  .user-wrapper .user-block .content-box.news-room .ressources .row {
    display: block;
  }
}
.user-wrapper .user-block .content-box.news-room .newsBlock .row {
  display: flex;
}
.user-wrapper .user-block .content-box.news-room .newsBlock .row .news-list {
  border: 1px solid #e6e6e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 30px 20px;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  background: #fdfdfd;
}
.user-wrapper .user-block .content-box.news-room .newsBlock .row .news-list:not(:last-child) {
  margin: 0 30px 0 0;
}
.user-wrapper .user-block .content-box.news-room .newsBlock .row .news-list .newsHead h3 {
  color: #0f4896;
}
.user-wrapper .user-block .content-box.news-room .newsBlock .row .news-list .newsBody p {
  color: #0f4896;
}
@media (max-width: 991px) {
  .user-wrapper .user-block .content-box.news-room .newsBlock .row {
    display: block;
  }
  .user-wrapper .user-block .content-box.news-room .newsBlock .row .news-list:not(:last-child) {
    margin: 0 0 30px 0 !important;
  }
}
.user-wrapper .user-block .content-box.prohibited .desp .select-list {
  width: 250px;
  margin: 20px 0 30px 0;
}
.user-wrapper .user-block .content-box.prohibited .desp .inner-content .pro-block {
  margin: 0 0 30px 0;
}
.user-wrapper .user-block .content-box.prohibited .desp .inner-content .pro-block .pro-block-image {
  width: 100% !important;
  margin: 0 0 15px 0;
}
@media (max-width: 991px) {
  .user-wrapper .user-block .content-box.prohibited .desp .inner-content .pro-block {
    max-width: 100% !important;
  }
  .user-wrapper .user-block .content-box.prohibited .desp .inner-content .pro-block .pro-block-image img {
    width: 100% !important;
  }
}
.user-wrapper .user-block .content-box.merchants .merchants-details .heading h3 {
  margin-top: 0 !important;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .shopCountry a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .brandCat {
  margin-bottom: 30px;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .brandCat a {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  padding: 4px 10px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #e6e6e6;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .brandCat a:hover,
.user-wrapper .user-block .content-box.merchants .merchants-details .brandCat a:focus {
  background: #e6e6e6;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox {
  background: #f6f7f7 none repeat scroll 0 0;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
  width: 100%;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox .brandsBoxHead {
  margin-bottom: 10px;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox .brandsBoxHead span {
  background: #fff;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  border-radius: 100% !important;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  color: #fff;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox .brandsBody a {
  display: block;
  font-size: 14px;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-1 .baOr {
  background-color: #ff5a5f;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-2 .baOr {
  background-color: #cc0000;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-3 .baOr {
  background-color: #009a9a;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-4 .baOr {
  background-color: #0f4896;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-5 .baOr {
  background-color: #99CB51;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-6 .baOr {
  background-color: #f0ad4e;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .waterfallDiv .brandsBox.color-7 .baOr {
  background-color: #ed8323;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .moreinfoLink a {
  display: block;
  padding: 5px 0;
}
.user-wrapper .user-block .content-box.merchants .merchants-details .moreinfoLink a i {
  margin: 0 10px 0 0;
}
