/* social media buttons colors */
/* font weight */
/* others */
/* images */
.sidebar-wrap {
  background: #fff;
  border: 1px solid #e6e6e6;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav {
  background: #fff;
  padding: 15px 0 0 0  !important;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li {
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li a {
  display: block;
  padding: 0 0 0 20px;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li a:hover {
  background: #ececec;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li a i {
  margin-right: 10px;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu > a {
  color: #152137;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 20px;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu > a i {
  text-align: center;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-size: 20px;
  margin: 0px 10px 0 0;
  position: relative;
  top: 2px;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu .sub-menu {
  display: none;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu .sub-menu li {
  line-height: 40px;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu .sub-menu li a {
  display: block;
  padding: 0 0 0 20px;
  color: #737373;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu .sub-menu li a:hover {
  color: #f0ad4e;
  background: none;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu .sub-menu li a i {
  margin: 0px 10px 0 0;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu.active > a,
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu:hover > a {
  background: #f0ad4e;
  color: #fff;
  cursor: default;
  text-decoration: none;
  padding: 0 20px;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu.active > a i,
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu:hover > a i {
  color: #fff;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu:focus {
  text-decoration: none;
}
.sidebar-wrap .user-profile-sidebar .user-profile-nav > li.main-menu.current .sub-menu {
  display: block;
}
.sidebar-wrap .invite-block {
  margin: 30px 0 0 0;
  padding: 10px 20px 20px 20px;
}
.sidebar-wrap .invite-block .invite-heading {
  margin-bottom: 15px;
}
.sidebar-wrap .invite-block .invite-heading h5 {
  color: #737373;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.sidebar-wrap .invite-block .invite-heading .title-border {
  margin: 10px 0 0;
  border-color: #d6d6d6;
}
.sidebar-wrap .invite-block .info {
  font-size: 12px;
  color: #737373;
  line-height: 18px;
}
.sidebar-wrap .invite-block .info a:hover {
  color: #2382c5;
  text-decoration: underline;
}
.sidebar-wrap .invite-block .form-control {
  background-color: #fff;
  border-color: #e6e6e6;
  color: #737373;
  font-size: 12px;
  max-width: 320px;
}
@media (max-width: 991px) {
  .sidebar-wrap {
    margin: 0 0 30px 0;
  }
}
