/* social media buttons colors */
/* font weight */
/* others */
/* images */
.sidebar-container .sidebar-wrapper {
  z-index: 1004;
  left: -250px !important;
  top: 112px !important;
  width: 250px !important;
  overflow-y: auto;
  overflow-x: hidden;
  background: #152137;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-container .sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 43px;
  width: 100% !important;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li {
  position: relative;
  line-height: 40px;
  display: inline-block;
  width: 100% !important;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 15px 0 30px;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100% !important;
  width: 3px;
  background-color: #152137;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:first-child a {
  color: #fff;
  background-color: #152137;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(2):before {
  background-color: #ff5a5f;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(3):before {
  background-color: #0049bb;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(4):before {
  background-color: #33408a;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(5):before {
  background-color: #40bb56;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(6):before {
  background-color: #4b5cbc;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(7):before {
  background-color: #ed8323;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(8):before {
  background-color: #3997ab;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(9):before {
  background-color: #99cb51;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:nth-child(10):before {
  background-color: #3293d9;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li:hover:before,
.sidebar-container .sidebar-wrapper .sidebar-nav li.open:hover:before {
  width: 100% !important;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li.dropdown li:before {
  content: none !important;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li.dropdown li a {
  line-height: 40px;
}
.sidebar-container .sidebar-wrapper .sidebar-nav li.dropdown li a:hover {
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 767px) {
  .sidebar-container .sidebar-wrapper {
    width: 100% !important;
    left: -100% !important;
  }
}
.sidebar-container.toggled .sidebar-wrapper {
  width: 250px !important;
  left: 0 !important;
}
.sidebar-container.toggled .sidebar-wrapper:after {
  content: '';
  width: 100vw;
  height: 100% !important;
  position: fixed;
  top: 112px !important;
  left: 250px !important;
  pointer-events: fill;
  cursor: auto;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s 0.1s ease;
  -moz-transition: all 0.3s 0.1s ease;
  -o-transition: all 0.3s 0.1s ease;
  transition: all 0.3s 0.1s ease;
}
@media (max-width: 767px) {
  .sidebar-container.toggled .sidebar-wrapper {
    width: 100% !important;
  }
  .sidebar-container.toggled .sidebar-wrapper:after {
    left: 100% !important;
  }
}
.sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
  font: 0/0 a;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
.sidebar-nav .user-profile-avatar {
  padding: 15px 15px;
}
.sidebar-nav .user-profile-avatar .sidebarUser img {
  max-width: 100%;
  max-height: 100%;
}
.sidebar-nav .user-profile-avatar h5 {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
}
.hamburger {
  position: relative;
  top: 6px !important;
  left: 0;
  display: block;
  background: transparent !important;
  border: none;
  width: 75px;
  height: 30px;
  background: #fff;
  padding: 0;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom {
  position: absolute;
  right: 0;
  height: 1.5px;
  width: 20px;
  background: #152137;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger .hamb-top {
  top: 0px;
}
.hamburger .hamb-middle {
  top: 6px;
}
.hamburger .hamb-bottom {
  top: 12px;
}
.hamburger .hamb-title {
  position: absolute;
  left: 0;
  top: -5px;
  text-transform: uppercase;
  color: #152137;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 6px;
  background: #152137;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 30px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@media (min-width: 1440px) {
  .hamburger {
    position: fixed;
    top: 82px !important;
    left: 20px;
  }
}
@media (max-width: 767px) {
  .hamburger {
    width: 20px;
    margin-right: 0;
    top: 6px !important;
  }
  .hamburger .hamb-top,
  .hamburger .hamb-middle,
  .hamburger .hamb-bottom {
    left: 0;
  }
  .hamburger .hamb-title {
    display: none;
  }
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
