/* social media buttons colors */
/* font weight */
/* others */
/* images */
.user-wrapper {
  margin-top: 67px;
  float: left;
  width: 100%;
}
@media (max-width: 991px) {
  .user-wrapper.id-1 .user-block {
    margin-top: 80px;
  }
}
@media (max-width: 991px) {
  .user-wrapper.id-1 .breadcrumb-block {
    top: 115px;
  }
  .user-wrapper.id-1 .breadcrumb-block .sidebar-wrapper {
    top: 160px !important;
  }
  .user-wrapper.id-1 .breadcrumb-block .sidebar-wrapper:after {
    top: 160px !important;
  }
}
.user-wrapper.id-1 .traveller-switch-block {
  border: none;
}
.user-wrapper .traveller-switch-block {
  position: fixed;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 40px;
  z-index: 1001;
}
.user-wrapper .traveller-switch-block .select-option-box {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  z-index: 9999;
  border: 5px solid #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.user-wrapper .traveller-switch-block .select-option-box .btn-box {
  width: 140px;
  text-align: center;
  padding: 5px !important;
}
.user-wrapper .traveller-switch-block .select-option-box .btn-box .btn-sliver.active {
  width: 80%;
}
.user-wrapper .traveller-switch-block .select-option-box .sep {
  color: #000;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  width: 0;
  height: 0;
  position: relative;
  float: left;
  left: -10px;
  top: 7px;
}
.user-wrapper .traveller-switch-block .select-option-box .sep span {
  background: #fff;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  border-radius: 100% !important;
  display: inline-block;
  font-size: 9px;
  font-weight: 700;
  height: 22px;
  line-height: 12px;
  padding: 4px;
  width: 22px;
}
@media (max-width: 991px) {
  .user-wrapper .traveller-switch-block {
    transform: none;
    width: 100% !important;
    left: 0;
    top: 67px;
  }
  .user-wrapper .traveller-switch-block .select-option-box {
    width: 100% !important;
  }
  .user-wrapper .traveller-switch-block .select-option-box .btn-box {
    width: 45%;
  }
  .user-wrapper .traveller-switch-block .select-option-box .btn-box .btn-sliver {
    width: 100% !important;
  }
  .user-wrapper .traveller-switch-block .select-option-box .sep {
    position: static;
    width: 10% !important;
    display: block;
    padding: 7px 0px;
    text-align: center;
    font-size: 12px;
    background: #2382c5;
    height: auto;
  }
}
.user-wrapper .user-block {
  padding: 40px 0;
  margin-top: 40px;
}
.user-wrapper .user-block .search-page-block h2 {
  font-size: 24px !important;
  margin: 0 0 20px 0;
}
.user-wrapper .user-block .content-wrapper .title {
  font-size: 24px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  color: #737373;
}
.user-wrapper .user-block .content-wrapper .content-box {
  background: #fff;
  padding: 30px;
  margin: 0 0 30px 0;
  overflow: hidden;
}
.user-wrapper .user-block .content-wrapper .content-box .heading {
  margin: 0 0 20px 0;
}
.user-wrapper .user-block .content-wrapper .content-box .heading h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #99CB51;
}
.user-wrapper .user-block .content-wrapper .content-box .heading span {
  display: block;
  margin: 5px 0 0 0;
  font-size: 12px;
  font-weight: 500;
}
.user-wrapper .user-block .content-wrapper .content-box h5 {
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}
.user-wrapper .user-block .content-wrapper .content-box h5:after {
  content: '';
  background: #454545;
  width: 75px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.user-wrapper .user-block .content-wrapper .content-box .desp h5 {
  margin: 20px 0 30px 0;
}
.user-wrapper .user-block .content-wrapper .content-box .desp span.indent {
  margin: 0 0 20px 60px;
  display: block;
}
.user-wrapper .user-block .content-wrapper .content-box .desp span.indent.nested {
  margin: 0 0 20px 120px;
}
.user-wrapper .user-block .content-wrapper .content-box .desp .img-wrapper img {
  display: inline-block;
}
.user-wrapper .user-block .content-wrapper .content-box .desp .title-border {
  display: none;
}
.user-wrapper .user-block .content-wrapper .content-box .desp address {
  font-weight: 500;
}
.user-wrapper .user-block .content-wrapper .content-box .desp .more-info-box {
  padding: 15px 0;
}
.user-wrapper .user-block .content-wrapper .content-box .desp .more-info-box a {
  color: #0f4896;
  font-weight: 500;
  padding: 8px 10px 8px 15px;
  border: 1px solid #0f4896;
  display: block;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  margin-bottom: 10px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.user-wrapper .user-block .content-wrapper .content-box .desp .more-info-box a:hover,
.user-wrapper .user-block .content-wrapper .content-box .desp .more-info-box a:focus {
  background: #0f4896;
  color: #fff;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.user-wrapper .user-block .content-wrapper .content-box .desp .more-info-box a i {
  margin: 0 5px 0 0;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right {
  border: 1px solid #e6e6e6;
}
@media (max-width: 991px) {
  .user-wrapper .user-block .content-wrapper .content-box .sidebar-right {
    margin: 20px 0 0 0;
  }
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block {
  overflow: hidden;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-header {
  background: #fff;
  padding: 20px 15px 30px 15px;
  border-bottom: 1px solid #e6e6e6;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-header h5 {
  font-size: 16px;
  color: #454545;
  margin: 0;
  padding: 5px 0;
  line-height: 24px;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-block-inner {
  padding: 20px 25px;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-block-inner .panel-default {
  border: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-block-inner .panel-default .block-inner-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-block-inner .panel-default .est-price {
  padding: 15px 0;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-block-inner .panel-default .est-price span {
  background: #f0ad4e !important;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  border-radius: 100% !important;
  color: #fff;
  display: inline-block;
  font-size: 38px;
  width: 220px;
  height: 220px;
  line-height: 50px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .sidebar-block-inner .panel-default .est-price span .price_tag_symbol {
  font-size: 70px;
  padding: 30px 0 0 0;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .mCSB_scrollTools {
  right: -6px !important;
  margin: 0;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.5);
  width: 3px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.user-wrapper .user-block .content-wrapper .content-box .sidebar-right .sidebar-block .mCSB_scrollTools .mCSB_draggerRail {
  width: 3px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .user-wrapper.expanded .traveller-switch-block {
    width: 100% !important;
    bottom: 90px;
    top: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    border-right: none;
    padding: 16px 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .user-wrapper.expanded .traveller-switch-block .select-option-box {
    width: 90% !important;
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    transform: translateX(5%);
  }
  .user-wrapper.expanded .breadcrumb-block {
    z-index: -1;
  }
}
