

.checkbox.checkator_element, .checkator_element.radio{ background:none !important}
.checkator_holder.checkbox{ width:auto !important; height:inherit !important;}
.checkator_holder.radio{ width:auto !important; height:inherit !important;}
.checkator_holder INPUT[type=checkbox], .checkator_holder INPUT[type=radio]{filter:alpha(opacity=100) !important; width:auto !important; height:auto !important; outline:none;}

.panel-height{ height: auto !important;}

input[type="file"]{
     padding:6px 12px !important;
	 outline:none !important;
	 border:1px solid #ddd;
	 width:100%;
	 background-color:#fff;
  }