/*@function my-calculation-function($some-number, $another-number){
  @return $some-number + $another-number
}*/
.navbar-inverse {
  background: #ffffff;
}

.nav-tabs-new.nav {
  border-bottom: 0px;
}
.nav-tabs-new.nav li {
  margin-bottom: 0px;
}
.nav-tabs-new.nav li a {
  border-radius: 0px;
  border: 1px solid #d1d1d1;
  background: #ffffff;
  color: #808080;
  margin-bottom: 2px;
}
.nav-tabs-new.nav li.active a {
  background: #4493CB;
  border-color: #4493CB;
  color: #ffffff;
}

.inner-tab .nav-tabs-new.nav li a {
  padding: 6px 12px;
}
.inner-tab .nav-tabs-new.nav li.active a {
  background: #000000;
  border-color: #000000;
}

.tab-new .tab-content {
  padding: 20px 0px;
}

.sub-page-header {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 20px;
  padding-bottom: 9px;
}
.sub-page-header h4 {
  color: #000000;
  margin: 0px;
}

.browseImg .browseimgInner, .user-img {
  box-shadow: inset 0 0 0 4px #fff;
  border: 1px solid #d1d1d1;
  background: #f9f9f9;
  display: inline-block;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

.browseImg {
  margin-bottom: 8px;
  width: 100%;
}
.browseImg .browseimgInner {
  height: 100px;
  line-height: 40px;
  width: 100px;
}
.browseImg .browseimgInner img {
  max-width: 94px;
  max-height: 94px;
}

.user-img {
  height: 60px;
  line-height: 40px;
  width: 60px;
}
.user-img img {
  max-width: 54px;
  max-height: 54px;
}

.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

.form-control {
  height: 38px;
}

.input-group-btn .btn-primary {
  height: 38px;
  line-height: 18px;
  padding: 10px 20px;
}

.block-section {
  margin-bottom: 15px;
}

.btn-head a {
  display: inline-block;
  border-radius: 0 !important;
  line-height: 16px;
}

body {
  background-color: #F1F2F7;
  padding-top: 0;
}

#wrapper {
  padding-left: 0 !important;
}

#page-wrapper {
  padding-left: 240px;
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}

.wrapper-inner {
  display: inline-block;
  margin-top: 80px;
  padding: 15px;
  width: 100%;
}

.merge-left {
  padding-left: 0 !important;
}

/*header*/
.header {
  background: #fff;
  z-index: 1002;
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
  left: 0;
  right: 0;
  top: 0;
}

.fixed-top {
  position: fixed;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.15);
}

.brand {
  background: #4493CB;
  float: left;
  height: 80px;
  position: relative;
  width: 240px;
}

a.logo {
  color: #2e2e2e;
  float: left;
  font-size: 21px;
  margin: 20px 0 0 25px;
  text-transform: uppercase;
}
a.logo:hover {
  outline: medium none;
  text-decoration: none;
}
a.logo:focus {
  outline: medium none;
  text-decoration: none;
}
a.logo span {
  color: #ff6c60;
}

#top_menu .nav > li, ul.top-menu > li {
  float: left;
}

.notify-row {
  float: left;
  margin-left: 30px;
  margin-top: 23px;
}

ul.top-menu {
  margin-right: 15px;
  margin-top: 0;
}
ul.top-menu > li > a {
  background: #f6f6f6 none repeat scroll 0 0;
  border-radius: 50%;
  color: #32323A;
  font-size: 16px;
  margin: 0 8px;
  padding: 10px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
ul.top-menu > li > a svg path {
  fill: 666666;
}
ul.top-menu > li > a:hover, ul.top-menu > li > a:focus, ul.top-menu > li > a.navactive {
  background: #80B23A;
  color: rgba(0, 0, 0, 0.3) !important;
  text-decoration: none;
}
ul.top-menu > li > a:hover svg path, ul.top-menu > li > a:focus svg path, ul.top-menu > li > a.navactive svg path {
  fill: #fff;
}

.fa-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover !important;
}

.top-nav {
  margin-top: 20px;
}
.top-nav ul.top-menu > li > a {
  background: #80b23a;
  border-radius: 100px;
  margin-right: 0;
  padding: 0;
  color: #fff;
  padding-right: 15px;
}
.top-nav ul.top-menu > li > a:hover {
  color: #fff;
}
.top-nav ul.top-menu > li > a:hover .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.top-nav ul.top-menu > li > a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
  margin-left: 4px;
}
.top-nav .dropdown-toggle .fa-user {
  border-radius: 50%;
  width: 50px;
  height: 40px;
  text-align: center;
  background: #8ec047;
  padding: 10px;
  margin-right: 5px;
  color: #fff;
}
.top-nav .dropdown-toggle .fa-user:hover {
  color: #fff;
}
.top-nav .username {
  color: #fff;
  font-size: 13px;
}

.user-dropdown .dropdown-menu {
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
  padding: 10px;
  top: 50px;
  border-color: #f5f5f5;
}
.user-dropdown .dropdown-menu::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 10px solid #f5f5f5;
  border-right: 7px solid transparent;
  border-top: 0 dotted;
  border-left: 7px solid transparent;
  position: absolute;
  right: 7px;
  top: -10px;
}
.user-dropdown .dropdown-menu li a {
  padding: 10px;
}
.user-dropdown .dropdown-menu li a i {
  margin-right: 5px;
}

.sidebar-toggle-box {
  background: #236da1;
  border-radius: 50%;
  float: left;
  height: 34px;
  margin-left: -15px;
  margin-top: 23px;
  position: absolute;
  right: -15px;
  width: 34px;
}
.sidebar-toggle-box .fa {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  padding: 8px 8px 8px 10px;
  width: 34px;
  height: 34px;
}
.sidebar-toggle-box:hover {
  background: #80B23A;
}

.hide-left-bar {
  margin-left: -240px !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}

#sidebar {
  background: #32323A none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
  width: 240px;
}

#sidebar ul li {
  position: relative;
}

.leftside-navigation, .right-stat-bar {
  height: 100%;
}

.right-stat-bar ul {
  list-style-type: none;
  padding-left: 0;
}

.login-main {
  padding-top: 30px;
}

.top-section h2 {
  margin-top: 0;
}

.login_user_div {
  max-width: 360px;
}
.login_user_div .login-logo {
  border-bottom: 0;
}
.login_user_div .panel-primary {
  border: 0;
}
.login_user_div .panel-primary .panel-heading {
  background-color: #2675ad;
  border: 0;
}
.login_user_div .panel-primary .panel-heading .panel_title_login {
  font-size: 16px;
}
.login_user_div .user-login-info {
  background: #eaeaec;
  margin: 0 -15px 20px;
  padding: 20px 20px 5px;
}
.login_user_div .btn-login {
  font-size: 18px;
  padding: 10px 16px;
  width: 100%;
}

.video-block .form-group {
  margin: 0;
  max-width: 180px;
  position: relative;
}
.video-block .form-group img {
  max-width: 100%;
}
.video-block .form-group .video-link {
  height: 100%;
  left: 0;
  padding: 33%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.video-block .form-group .remove {
  border-radius: 100%;
  color: #ffffff;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-decoration: none;
  top: 5px;
  width: 16px;
}

.video-gallery .form-group {
  margin: 0 auto 15px;
  max-width: 480px;
  position: relative;
}
.video-gallery .form-group img {
  max-width: 100%;
}
.video-gallery .form-group .video-link {
  height: 100%;
  left: 0;
  padding: 33%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.video-gallery .form-group .remove {
  border-radius: 100%;
  color: #ffffff;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-decoration: none;
  top: 5px;
  width: 16px;
}

@media (min-width: 768px) {
  .fa-bars::before {
    content: "" !important;
  }

  .fa-bars {
    background: url(../../ad_assests/images/left-arrow.png) no-repeat center center;
  }

  .toggled .fa-bars {
    background: none !important;
  }

  .toggled .fa-bars::before {
    content: "\f0c9" !important;
    background: none !important;
  }

  .login-main {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .brand {
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1005;
  }

  .sidebar-toggle-box {
    right: 15px;
  }

  .fixed-top {
    margin-top: 80px;
    position: relative !important;
  }

  .wrapper-inner {
    margin-top: 0;
  }

  .top-nav {
    margin-bottom: 20px;
  }

  #sidebar {
    position: fixed !important;
    z-index: 1002;
  }

  #page-wrapper {
    padding-left: 0 !important;
  }

  #sidebar {
    margin-left: -240px;
  }

  .hide-left-bar {
    margin-left: 0 !important;
  }

  .toggled .fa-bars::before {
    content: "\f00d";
  }

  .user-dropdown .dropdown-menu {
    padding: 10px !important;
  }
}
@media (max-width: 509px) {
  .fixed-top {
    padding-bottom: 15px;
  }

  .notify-row, .top-nav {
    width: 100%;
    float: left;
    margin: 0 0;
    padding: 15px 15px 0;
    text-align: center;
  }
  .notify-row ul.top-menu, .top-nav ul.top-menu {
    display: inline-block;
    float: none !important;
    margin: 0 0 0 0;
  }
}

/*# sourceMappingURL=new-style.css.map */