/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/


/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */


/* Global Styles */

@font-face {
    font-family: 'helvetica_neueregular';
    src: url(../../fonts/helveticaneue-condensed-webfont.eot);
    src: url(../../fonts/helveticaneue-condensed-webfont.eot?#iefix) format('embedded-opentype'), url(../../fonts/helveticaneue-condensed-webfont.woff) format('woff'), url(../../fonts/helveticaneue-condensed-webfont.ttf) format('truetype'), url(../../fonts/helveticaneue-condensed-webfont.svg#helvetica_neueregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'helvetica_neueregular';
}

#wrapper {
    padding-left: 0;
}

#page-wrapper,
#transaction-wrapper,
#gateway-wrapper {
    width: 100%;
/*    padding: 5px 15px;*/
}


/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}


/* Table Headers */


/*table.tablesorter thead {
	cursor: pointer;
}*/

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.cap-img {
    margin-right: 2%;
    float: left;
    width: 20%;
}

.cap-img img {
    max-width: 100%;
}

.navbar-inverse .navbar-user > li > a,
.navbar-inverse .navbar-user > li > a:hover,
.navbar-inverse .navbar-user > li > a:focus,
.navbar-inverse .navbar-user > .open > a:focus {
    background-color: #8ec047;
    color: #fff;
}

.navbar-inverse .navbar-user > li > a:hover,
.navbar-inverse .navbar-user > li > a:focus,
.navbar-inverse .navbar-user > .open > a:focus {
    background-color: #8ec047 !important;
    color: #fff !important;
}

.navbar-inverse .navbar-user > .dropdown > a:hover .caret,
.navbar-inverse .navbar-user > .dropdown > a .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}

.navbar-inverse .navbar-user .dropdown-toggle {
    margin-top: 30px;
    padding: 10px 15px;
}

.navbar-inverse .navbar-user > .open > a,
.navbar-inverse .navbar-user > .open > a:hover,
.navbar-inverse .navbar-user > .open > a:focus {
    color: #fff;
    background-color: #8ec047;
}

.navbar-inverse .navbar-user > .open > a .caret,
.navbar-inverse .navbar-user > .open > a:hover .caret,
.navbar-inverse .navbar-user > .open > a:focus .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}

.navbar-user .dropdown-menu {
    padding: 0;
    background: #98CA51;
    border: 1px solid #98CA51;
}

.navbar-user .dropdown-menu > li > a {
    padding: 3px 10px;
    background-color: #98CA51;
    color: #fff;
}

.navbar-user .dropdown-menu > li > a:hover {
    background-color: #8ec047;
}

.dropdown-menu .divider {
    background-color: #fff;
}

.login_user_div {
    margin: 0 auto !important;
    float: none !important;
}

.bg-white {
    background: #fff;
}

.login-logo {
    margin-bottom: 0px;
    background: #4493cb;
    border-bottom: 1px solid #4493cb;
    /*	border-top:5px solid #4ca557;*/
    padding: 15px;
}

.login-logo a {
    padding: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.btn-padding {
    padding: 6px 20px;
}


/* Edit Below to Customize Widths > 768px */

@media (max-width:479px) {
    .popup-wrap {
        background: #fff;
        width: 250px !important;
        padding: 20px !important;
    }
}

@media (min-width:768px) {
    /* Wrappers */
    #wrapper {
        /* padding-left: 225px;*/
        padding-left: 230px;
    }
    .wrap_login_page {
        padding-left: 0;
    }
    #page-wrapper {
/*        padding: 15px 25px;*/
    }
    /* Side Nav */
    .side-nav {
        margin-left: -225px;
        left: 225px;
        /* width: 225px;*/
        width: 238px;
        position: fixed;
        padding-top: 94px;
        height: 100%;
        border-radius: 0;
        /*border: none;
	background-color: #222222;*/
        border-right: 1px solid #d9d9d9;
        background: #fff;
        z-index: -1;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .navbar-header {
        background: #4493cb;
        height: 94px;
        margin-bottom: -1px;
        border-bottom: 1px solid #ccc;
    }
    /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */
    .side-nav>li {
        border-top: 1px solid #e9e9e9
    }
    /* .side-nav > li.active, .side-nav > li.open {
border-top:1px solid #a61423
}*/
    .side-nav > li.active {
        border-top: 1px solid #8ec047
    }
    .side-nav > li.open {
        border-top: 1px solid #e9e9e9
    }
    /* .side-nav > li.active a .caret, .side-nav > li.open a .caret {
 border-bottom-color:#fff !important;
border-top-color:#fff !important;
}*/
    .side-nav > li.active a .caret {
        border-bottom-color: #fff !important;
        border-top-color: #fff !important;
    }
    .side-nav > li.open a .caret {
        border-bottom-color: #000 !important;
        border-top-color: #000 !important;
    }
    .side-nav > li.active.open a.dropdown-toggle .caret {
        border-bottom-color: #fff !important;
        border-top-color: #fff !important;
    }
    .side-nav > li.dropdown > ul.dropdown-menu li.active a {
        background-color: #ebebeb;
        color: #4340a2;
    }
    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        /* min-width: 225px;*/
        min-width: 238px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 8px 8px 8px 25px;
        font-size: 13px;
        background-color: #fff;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
        background-color: #ebebeb;
        color: #8ec047;
    }
    .side-nav>li>a {
        width: 238px;
        outline: none;
    }
    .side-nav > li > a {
        padding: 8px 10px;
        line-height: 18px;
    }
    /*.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
 background-color: #ebebeb;
 color: #cb3948;
}*/
    .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #ebebeb;
        color: #8ec047;
    }
    .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #fff;
        color: #000;
    }
    /* Nav Messages */
    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }
    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }
}

.btn-manage {
    background: url(../../images/admin/icon_manage.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-edit {
    background: url(../../images/admin/icon_edit.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-view {
    background: url(../../images/admin/icon_view.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-delete {
    background: url(../../images/admin/icon_delete.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-approve {
    background: url(../../images/admin/icon_approve.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-reject {
    background: url(../../images/admin/icon_reject.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-recover {
    background: url(../../images/admin/icon_recover.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-reply {
    background: url(../../images/admin/reply_icon.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-add {
    background: url(../../images/admin/icon_add.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-enable {
    background: url(../../images/admin/icon_enable.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-disable {
    background: url(../../images/admin/icon_disable.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-exit {
    background: url(../../images/admin/icon_exit.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}

.btn-tags {
    background: url(../../images/admin/icon_tags.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}
.btn-notify {
    background: url(../../images/admin/icon_notify.png) no-repeat !important;
    width: 28px;
    height: 28px;
    border: 0 !important;
}
.menu-head {
    float: left;
    width: 100%;
    border-top: none !important;
}

.menu-head span i {
    margin-right: 10px;
}

.menu-head span {
    background: #434343;
    color: #fff;
    float: left;
    font-size: 18px;
    padding: 6px 15px;
    width: 100%;
}

.side-nav > li > a .caret {
    margin: 8px;
}

.box-white {
    float: left;
    width: 100%;
    padding: 30px;
    background: #fff;
    margin-bottom: 15px;
}

.page-header {
    /*margin-bottom:30px;*/
    margin-bottom: 15px;
}

.page-header h3 {
    margin: 0;
    color: #808080;
}

.searchbox-wrap .page-header h3 {
    margin: 0;
    color: #393939;
}

.searchbox-wrap {
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 30px;
}

.searchbox-wrap .page-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #cbcbcb;
}


/*.login-main .login_user_div{ max-width: 474px;}*/

.control-label {
    font-weight: normal;
    font-size: 16px;
}

.checkbox-categorie {
    /*float:left;
	width:100%;*/
    margin-bottom: 10px;
    /*max-height:360px;
	overflow: auto;*/
}

.checkbox-categorie-new {
    max-height: 650px !important;
    margin-bottom: 20px;
}

.checkbox-categorie .checkbox {
    margin: 3px 0;
}

.list-inline-new li {
    padding-left: 5px !important;
    padding-right: 5px !important
}

.print-logo {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.ord-tble .table-striped th {
    background: #ebebeb !important;
}

.invoice-info {
    display: block;
    font-size: 16px;
    padding: 0 0 15px;
}

.table-wrap {
    width: 960px;
    margin: 0 auto;
}

.table-wrap-inner {
    width: 90%;
    margin: 0 auto;
}

.table-wrap .print-logo {
    background: #fff;
    padding: 15px;
    text-align: center;
}

.table-wrap .bg-white {
    background: #fff;
}

.table-wrap .fwt {
    width: 100%
}

.table-wrap .page-head {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 30px;
    border-bottom: 1px solid #eeeeee
}

.table-wrap .table-border {
    width: 100%;
    background: #fff;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd
}

.table-wrap .table-border td {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.table-wrap .table-border th {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #ebebeb;
}

.table-wrap .address {}

.table-wrap .billing {}

.table-wrap .marign-auto {
    margin: 0 auto;
    width: 100%;
}

.modal-content-new img {
    width: 100%;
}

.modal-content-new .close {
    position: absolute;
    right: 0;
    opacity: 1;
    padding: 5px 8px !important;
    z-index: 1;
    background: #000;
    border-radius-top-right: 6px !important;
}

.modal-content-new .close span {
    color: #fff;
    text-shadow: inherit;
}

.sec-br {
    border: 1px solid #e0e0e0;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.sec-br-none {
    border: 0px solid #e0e0e0;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px 0;
}

.sec-br .form-group p {
    color: #777;
}

.styledRadio,
.styledCheckbox {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: -2px 0 0 0;
}

.radio-inline:first-child,
.checkbox-inline:first-child {
    padding-left: 0;
}

.new-act-buttons .btn-enable {
    background: url(../../images/admin/icon_enable.png) no-repeat #63B25B !important;
    padding-left: 26px;
    width: inherit;
    height: 28px;
    border: 0 !important;
    font-size: 14px;
}

.new-act-buttons .btn-approve {
    background: url(../../images/admin/icon_approve.png) no-repeat #63B25B !important;
    padding-left: 26px;
    width: inherit;
    height: 28px;
    border: 0 !important;
    font-size: 14px;
}

.new-act-buttons .btn-disable {
    background: url(../../images/admin/icon_disable.png) no-repeat #F0AD4E !important;
    padding-left: 26px;
    width: inherit;
    height: 28px;
    border: 0 !important;
    font-size: 14px;
}

.new-act-buttons .btn-delete {
    /*background:url(../../images/admin/icon_delete.png) no-repeat #D9534F !important;*/
    background: url(../../images/admin/icon_delete.png) no-repeat #D9534F left center !important;
    padding-left: 26px;
    width: inherit;
    /*height:28px;*/
    border: 0 !important;
    font-size: 14px;
}

.new-act-buttons .btn-reject {
    background: url(../../images/admin/icon_reject.png) no-repeat #D9534F left center !important;
    padding-left: 26px;
    width: inherit;
    border: 0 !important;
    font-size: 14px;
}

.new-act-buttons .btn-recover {
    /*background:url(../../images/admin/icon_delete.png) no-repeat #D9534F !important;*/
    background: url(../../images/admin/icon_recover.png) no-repeat #F0AD4E left center !important;
    padding-left: 26px;
    width: inherit;
    /*height:28px;*/
    border: 0 !important;
    font-size: 14px;
}


/*list-categori*/


/*.list-categori{ margin:0; padding:0; list-style:none; line-height:18px;}
.list-categori ul{margin:0; padding:0 0 0 15px; list-style:none;}
.list-categori li, .list-categori ul li{ padding:8px 0 0 0; line-height:18px;}
.list-categori li:first-child{padding:0 0 0 0;}
.list-categori ul li:first-child{padding:8px 0 0 0;}
.list-categori label{ font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;}
	*/


/*edit*/

.other-list {
    border: 1px solid #ddd
}

.list-categori {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
    float: left;
    width: 100%;
}

.list-categori ul {
    /*margin: 10px 1%;*/
    /*padding:0 0 0 15px;*/
    padding: 0px;
    list-style: none;
}

.list-categori ul li {
    padding: 0;
    line-height: 27px;
    /*overflow:hidden;	
	margin-bottom:10px;*/
    margin: 0px 0 10px 0;
}

.list-categori ul li ul li {
    margin-bottom: 0px;
}

.list-categori ul li ul {
    padding: 0;
    line-height: 18px;
}

.list-categori ul li ul {
    padding: 0;
    line-height: 18px;
    float: left;
    width: 48%;
    margin: 5px 1%;
}

.list-categori ul li ul ul {
    padding: 0;
    line-height: 18px;
    float: left;
    width: 98%;
    margin: 0 1%;
}

.list-categori li label {
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
}

.list-categori li label {
    font-weight: bold;
}

.list-categori li ul li label {
    font-weight: normal;
    display: inline;
}

.listingLable {
    /* border-bottom:1px solid #ddd;*/
    padding-bottom: 8px;
}

.inter-cat-list {
    border: 1px solid #ddd;
}


/*.inter-cat-inner{padding:10px;}*/

.listingLable-new {
    border: 1px solid #ddd;
    background: #f7f7f7;
    padding-bottom: 0px;
}

.int_head_title {
    position: absolute;
    z-index: 9;
    left: 26px;
    top: 10px;
}

.listingLable-new label,
.listingLable-new label strong {
    font-weight: normal !important;
    color: #000;
    font-size: 16px;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin: 0;
}

.multiselect-style .btn-primary {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
    border-radius: 0
}

.multiselect-style .btn-primary:hover,
.multiselect-style .btn-primary:focus,
.multiselect-style .btn-primary:active,
.multiselect-style .btn-primary.active,
.multiselect-style .open .dropdown-toggle.btn-primary {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
    box-shadow: none;
}

.multiselect-style .multiselect .multiselect-selected-text {
    float: left;
    width: 95%;
    overflow: hidden;
    text-align: left;
}

.multiselect-style .multiselect .caret {
    float: right;
    margin: 8px 8px;
    border-top: 4px solid #cccccc;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
}

.multiselect-container {
    width: 100%;
}

.form-group ul.token-input-list-facebook {
    width: 100% !important;
    height: 34px !important;
}

.single-box {
    padding: 3px 0;
}

.single-box-1 {
    padding: 4px 0;
}

.single-box label {
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
}

@media (max-width:1199px) {
    .label-empty {
        display: none;
    }
}

.class_category {
    background: #f7f7f7 none repeat scroll 0 0;
    margin-right: 0px;
    padding: 5px 10px;
    /*margin-left: -8px;*/
    border: 1px solid #f1f1f1;
}


/*Edit 17-07-15*/


/*checkbox-radio*/


/* RESET */

input[type=radio],
input[type=checkbox] {
    margin-bottom: 0;
}


/* SOURCE ELEMENT (when checkator is enabled on an element) */

.checkator_source {
    position: relative;
    z-index: 2;
    display: block;
}


/* SHARED SETTING */

label.radio-inline {
    line-height: 17px !important;
}

label.radio-inline {
    line-height: 17px !important;
}

.checkator_holder {
    display: inline-block !important;
    position: relative;
    margin: -3px 5px 0 0 !important;
    vertical-align: middle;
}

.checkator_holder.radio {
    width: 17px !important;
    height: 17px !important;
    margin-right: 2px !important;
}

.checkator_element {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.checkator_source:checked+.checkator_element:after {
    /* Checked element dot */
    display: block;
    content: ' ';
    position: absolute;
}


/* RADIO SETTINGS */

.checkator_holder.radio {
    min-height: inherit;
    padding: 0;
}

.checkator_element.radio {
    background: url(../../images/admin/radioSmall.png) no-repeat;
    width: 17px;
    height: 17px;
    margin: 0;
    margin: 0;
    min-height: inherit !important;
    padding-left: 0 !important;
}

.checkator_element.radio:after {
    background: url(../../images/admin/radioSmall.png) 0 -17px no-repeat !important;
    width: 17px;
    height: 17px;
    left: 0;
}


/* CHECKBOX SETTINGS */

.checkator_holder.checkbox {
    min-height: inherit;
    padding: 0 !important
}

.checkator_element.checkbox {
    background: url(../../images/checkboxSmall1.png) 0 -16px no-repeat;
    width: 16px;
    height: 16px;
}

.checkator_element.checkbox {
    margin: 0;
    min-height: inherit !important;
    padding-left: 0;
}

.checkator_element.checkbox:after {
    background: url(../../images/checkboxSmall1.png) no-repeat !important;
    width: 16px;
    height: 16px;
    top: 0px;
    left: 0;
}

.bootstrap-tagsinput {
    margin-bottom: 0 !important;
}

.select-inline label {
    margin-bottom: 0;
}

.select-inline select {
    display: inline;
    min-width: 160px;
    width: auto;
}

.checkbox-split {
    line-height: 23px;
}

.form-group p {
    margin-bottom: 0;
}

.checkbox-scroll {
    border: 1px solid #cccccc;
    float: left;
    margin-bottom: 15px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 10px 0;
}

.checkbox-scroll .checkbox-inline {
    margin-left: 0 !important;
    padding: 0 15px !important;
    line-height: 23px;
}

.mg-bot {
    margin-bottom: 15px;
}

.image-div {
    margin-bottom: 5px;
}

.image-div img {
    border: 1px solid #ddd;
    padding: 5px;
}

.toggle-arrow-btn {
    /*background: rgba(0, 0, 0, 0) url("../../images/icons/arrow-bot.png") no-repeat scroll center center;*/
    background: url(../../images/admin/arrow-bot.png) no-repeat scroll center center;
    float: right;
    height: 14px;
    margin: 4px;
    width: 14px;
}

.min {
    float: left;
    width: 100%;
    padding: 10px !important;
}

.min li strong {
    margin-top: 15px;
    display: block;
}

.min li:first-child strong {
    margin-top: 0px;
    display: block;
}

.checkbox-categorie .list-group {
    overflow: hidden !important;
}

.inter-cat-list {
    float: left;
    width: 100%;
}

.show_hide {
    display: none;
    transition: all 2s ease-in-out 0s;
}

.payment-address {
    padding: 15px;
    background: #F7F7F7;
    border: 1px solid #ddd;
}

.payment-address .address-title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px
}

.txt-blu {
    color: #0191d3;
}

.txt-box-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}

.txt-box-inline input {
    width: auto !important;
}

.groupCharge p {
    margin-bottom: 0;
}

.sel-name {
    margin: 0;
    margin-bottom: 15px;
}

.btn-approve {
    padding: 4px 12px;
}

.control-empty {
    display: block;
}

.con-list {
    padding: 15px 0;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}

.news-list {
    padding: 15px 0;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}

.sent-new .control-label {
    margin-right: 5px;
}

.sent-news {
    border: 1px solid #ddd;
    padding: 15px 0;
}

.rad-pad,
.che-pad {
    padding: 6px 0;
}

.check-res .checkbox-inline,
.check-res .radio-inline {
    margin-left: 0;
    margin-right: 10px !important;
    margin-top: 8px
}

.check-res .checkbox-inline:last-child,
.check-res .radio-inline:last-child {
    margin-right: 0 !important;
}

.form-control.iponly {
    display: inline-block;
    *display: inline;
    zomm: 1;
}

.inline-div {
    margin: 2px 0;
}

.inline-div,
.inline-div .form-inline {
    display: inline-block;
    *display: inline;
    zomm: 1;
}

.form-group-inline {
    margin-bottom: 15px;
}

.form-group-inline .form-group {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0 5px;
}

.form-group-inline .control-label {
    line-height: 34px;
}

.form-group-inline .form-group input,
.form-group-inline .form-group select {
    width: auto;
}

.msg-wrap {
    padding: 10px 0
}

.msg_header {
    background-color: #F1F1F1;
    padding: 10px;
}

.msgdes {
    padding: 10px
}

.table-responsive4 {
    overflow-x: auto;
    overflow-y: hidden;
}

.multiselect-container.dropdown-menu .checkbox,
.multiselect-container.dropdown-menu .radio {
    padding: 3px 5px 3px 10px
}

.checkator_holder.radio,
.checkator_element.radio {
    padding: 0 !important;
    min-height: 0 !important;
}

table select,
.bootstrap-tagsinput {
    min-width: 150px;
}

.my-placeholder {
    color: #aaa;
}

@-moz-document url-prefix() {
    input[type="file"] {
        padding: 0 !important;
        outline: none;
    }
}

.multiselect-container label {
    font-size: 14px !important;
    font-weight: normal !important;
}

.checkator_holder {
    width: 13px !important;
    height: 13px !important;
}

.list-categori label {
    color: #606060 !important;
    font-weight: normal;
    font-size: 14px;
}

.list-categori label strong {
    font-weight: normal;
    color: #000 !important;
    font-size: 16px;
}

.panel-heading-new {
    padding: 10px;
    margin-bottom: 15px;
}

.block-btn {
    display: block;
}

.addmore-inter-option {
    border-top: 1px dashed #dddddd;
    margin-top: 15px;
    padding: 15px 0;
}

.option-multiselect .btn-group {
    width: 180px;
}

.select-inline .bootstrap-select {
    display: inline-block;
    *display: inline-block;
    *zoom: 1;
    width: auto !important;
    min-width: 180px;
}

.check-empty {
    display: inline-block;
    *display: inline-block;
    *zoom: 1;
    height: 13px;
    margin-right: 4px;
    width: 13px;
}

.scroll-infibeam {
    max-height: 650px !important;
}

.multiselect {
    overflow: hidden;
    padding-right: 30px;
}

.multiselect-selected-text {
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.multiselect .caret {
    position: absolute;
    right: 10px;
}

.multiselect-style .btn-group {
    width: 100%;
}

.multiselect-container.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

td .btn-group {
    width: 100%;
}

.count-number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.count-number span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000000;
    color: #fff;
    padding: 3px;
    line-height: 10px;
    padding: 8px;
    border-radius: 5px;
    margin: 2px;
}

.visitor-count .control-label {
    font-size: 20px;
}

.visitor-count {
    margin-bottom: 10px;
    margin-top: 20px;
}

.dis-in {
    display: inline;
}

.mg-top-less4 {
    margin-top: -4px;
}

.disp_dropdown {
    display: inline-block;
    float: right;
    margin-top: -5px;
}

.disp_inline_fl {
    display: inline-block;
}

select.form-control {
    line-height: 28px !important;
}

.doSort-cursor {
    cursor: pointer;
}

.popup-wrap {
    background: #fff;
    width: 350px;
    height: 350px;
    padding: 30px;
}

.label-new {
    margin: 5px 0
}

.multiselect-new .btn-group {
    width: 100%;
}

.single-linebox .form-control {
    max-width: 100px;
    display: inline-block;
    margin-left: 10px;
}

.single-linebox .form-group {
    margin-bottom: 0px !important;
}

.single-linebox label,
.label-normal label {
    font-weight: normal;
}

.cashback-boxs-wrap {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.cashback-boxs {
    display: inline-block;
    float: left;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #e9e9e9;
}

.cashback-boxs h1 {
    background: #f0f0f0 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 0;
}

.title-statics {
    font-size: 18px;
    font-weight: bold;
    padding: 10px !important;
    margin: 0;
}

.cashback-boxs ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
}

.cashback-boxs ul li {
    background: #f9f9f9 none repeat scroll 0 0;
    margin: 0 0 1px;
    padding: 8px 10px;
}

.cashback-boxs ul li strong {
    margin-right: 10px;
}

.navbar-brand {
    width: 250px;
    padding: 25px;
}

/*
.nav-tabs-new.nav{ border-bottom: 0}
.nav-tabs-new.nav > li{ margin-bottom: 0}
.nav-tabs-new.nav > li > a{ border: 1px solid #ddd; border-radius: 0; background: #fff; margin-bottom: 2px}
.nav-tabs-new.nav > li > a .fa{ margin-right: 5px;}
.nav-tabs-new.nav > li.active > a{ background: #4493CB ; color: #fff; border-color:#4493}
.tab-new .tab-content{ padding: 20px 0;}
.inner-tab .nav-tabs-new.nav > li > a{ padding: 6px 12px;}
.inner-tab .nav-tabs-new.nav > li.active > a{background: #000}
*/






.mainNav {
  background:#32323A;
  width: 100%;
   
}

/* First Level */

.mainNav ul, .mainNav li ul.sub {
  margin: -2px 0 0;
  padding: 0;
  list-style: none;
}

.mainNav li ul.sub li a {
    color: #aeb2b7;
    font-size: 12px;
    padding-bottom: 13px;
    padding-top: 13px;
    transition: all 0.3s ease 0s;
    padding-left: 46px;
}
.mainNav li ul.sub li a:hover, .mainNav li ul.sub li.active a {
    background: #202025;
    color: #4493CB;
    display: block;
    transition: all 0.3s ease 0s;
}
.mainNav li.active a.cur {
    background:#28282e;
    color: #4493CB;
    display: block;
    transition: all 0.3s ease 0s;
}
.mainNav li.has-subnav.active .accordion-btn{background: #28282e;}
.mainNav li.has-subnav .accordion-btn{background:#32323A;}

.mainNav li ul.sub li {
    background: #28282e;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.mainNav ul.sub li{border-bottom:none}

.mainNav ul.sub li.current a{ background: #202025; color:#4493cb}

.mainNav ul li { border-bottom: 1px solid #3c3c44; }

.mainNav ul li a {
  color:#aeb2b7;
    display: block;
    font-size: 14px;
    outline: medium none;
    padding: 18px 0 18px 25px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.mainNav ul li a:hover, .mainNav ul li a:focus, .mainNav ul li a.active {
   background:#28282e;
    color:#4493CB;
    display: block;
    transition: all 0.3s ease 0s;
}
.mainNav li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul li.has-subnav .accordion-btn {
  color: #fff;
  font-size: 10px;
    padding: 20px;
}


.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.label-status .label{
    display: inline-block;
     font-size: 14px;
    height: 28px;
    line-height: 18px;
    padding: 4px 12px;
}

/* payment */

.cc-form .form-group.form-group-cc-number .cc-card-icon {
    display: block;
    width: 41px;
    height: 26px;
    position: absolute;
    right: 25px;
    top: 34px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

.cc-form .form-group.form-group-cc-number input.identified + .cc-card-icon {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.cc-form .form-group.form-group-cc-number input.visa + .cc-card-icon {
    background-image: url("../img/payment/visa-curved-32px.png");
}

.cc-form .form-group.form-group-cc-number input.mastercard + .cc-card-icon {
    background-image: url("../img/payment/mastercard-curved-32px.png");
}

.cc-form .form-group.form-group-cc-number input.amex + .cc-card-icon {
    background-image: url("../img/payment/american-express-curved-32px.png");
}

.cc-form .form-group.form-group-cc-number input.discover + .cc-card-icon {
    background-image: url("../img/payment/discover-curved-32px.png");
}

.cc-form .form-group.form-group-cc-number input.maestro + .cc-card-icon {
    background-image: url("../img/payment/maestro-curved-32px.png");
}
/* payment */

.tableFormWrap{ padding: 20px;}





#accordion .panel-group .panel {
    border-radius: 4px;
    margin-bottom: 0;
}
#accordion .panel-default {
    border-color: #dddddd;
}
#accordion .panel {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}

#accordion .panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #dddddd;
    color: #333333;
}
#accordion .panel-group .panel-heading {
    border-bottom: 0 none;
}
#accordion .panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 10px;
}
#accordion .panel-heading .panel-title{padding-right:0;}
#accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dddddd;
}
#accordion .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #dddddd;
}
#accordion .panel-body {
    padding: 15px;
}

.modal-title{
    font-size: 20px;
    line-height: 24px;
}
.manual_flight_section .panel .panel-body{
    border: 1px solid #dddddd;
    padding: 15px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.btn-green {
    background-color: #2181c5;
    border-color: #2181c5;
    color: #ffffff;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #2181c5;
    border-color: #2181c5;
    color: #ffffff;
}

.irs {
    position: relative;
    display: block;
    height: 40px;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    height: 12px;
    top: 25px;
    background: #ccc;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
    position: absolute;
    display: block;
    top: 0;
    height: 12px;
}

.irs-line-left {
    left: 0;
    width: 10%;
}

.irs-line-mid {
    left: 10%;
    width: 10%;
}

.irs-line-right {
    right: 0;
    width: 10%;
}

.irs-diapason {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 12px;
    top: 25px;
    background: #ed8323;
}

.irs-slider {
    position: absolute;
    display: block;
    left: 0;
    width: 5px;
    height: 18px;
    top: 22px;
    background: #c96810;
    cursor: pointer;
}

.irs-slider.single {
    left: 10px;
}

.irs-slider.single:before {
    content: '';
    position: absolute;
    display: block;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
}

.irs-slider.from {
    left: 100px;
}

.irs-slider.from:before {
    content: '';
    position: absolute;
    display: block;
    top: -30%;
    left: 0;
    width: 200%;
    height: 170%;
}

.irs-slider.to {
    left: 300px;
}

.irs-slider.to:before {
    content: '';
    position: absolute;
    display: block;
    top: -30%;
    right: 0;
    width: 200%;
    height: 170%;
}

.irs-slider.last {
    z-index: 2;
}

.irs-min,
.irs-max {
    position: absolute;
    display: block;
    cursor: default;
    color: #b3b3b3;
    font-size: 10px;
    line-height: 1.333;
    top: 4px;
}

.irs-min {
    left: 0;
}

.irs-max {
    right: 0;
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    display: block;
    top: 2px;
    left: 0;
    cursor: default;
    white-space: nowrap;
    color: #666;
    font-size: 13px;
    line-height: 1.333;
}

.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.irs-with-grid {
    height: 60px;
}

.irs-with-grid .irs-grid {
    display: block;
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #b3b3b3;
}

.irs-grid-pol.small {
    height: 4px;
}

.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    color: #808080;
}

.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    background: none;
    z-index: 2;
}

.irs-disabled {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}
.available-volume{ 
    padding-top: 8px; 
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
}
.volume-box{
    float: left;
    padding:5px;
    width: 23%;
    background: #efefef;
    padding:10px 5px;
    border-radius:5px;
    margin:1%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.volume-box-inner{
    text-align: center;
    width: 100%;
}
.volume-box-inner img{
  max-width: 100%;
}
.volume-box-inner p{
    color: #000;
}
.volume-box-inner > span{display: inline-block;
                         height: 32px;
                         margin-bottom: 5px;
                         width: 32px;
}
.volume-box-inner > span svg{
    width: 32px;
    height: 32px;
}
.volume-box.active{
    background: #99CB51;
}
.volume-box.active path, .volume-box.active polygon{
    fill:#fff;
}
.volume-box.active p{
    color:#fff;
}


.passengerBock .panel-body{
    padding: 15px;
    border: 1px solid #ddd;
}

.box-tab{
      font-size: 28px;
    line-height: 35px;
    color: #fff;
    border-radius: 10px;
    padding: 60px 40px;
    background: #4493CB;
    cursor: pointer;
    text-align: center;
}
.box-tab.active {
    background-color: #99CB51;
}
.imgUp{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.imgUp img{
    max-width: 100%;
    max-height: 100%;
    line-height: 100px;
}