/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */
@font-face {
 font-family: 'helvetica_neueregular';
 src: url(../../fonts/helveticaneue-condensed-webfont.eot);
 src: url(../../fonts/helveticaneue-condensed-webfont.eot?#iefix) format('embedded-opentype'), url(../../fonts/helveticaneue-condensed-webfont.woff) format('woff'), url(../../fonts/helveticaneue-condensed-webfont.ttf) format('truetype'), url(../../fonts/helveticaneue-condensed-webfont.svg#helvetica_neueregular) format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	/*margin-top: 102px;*/
	font-family: 'helvetica_neueregular';
}
#wrapper {
	padding-left: 0;
	margin-top: 102px;
}
#page-wrapper {
	width: 100%;
	padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar, .messages-dropdown .dropdown-menu .message-preview .name, .messages-dropdown .dropdown-menu .message-preview .message, .messages-dropdown .dropdown-menu .message-preview .time {
	display: block;
}
.messages-dropdown .dropdown-menu .message-preview .avatar {
	float: left;
	margin-right: 15px;
}
.messages-dropdown .dropdown-menu .message-preview .name {
	font-weight: bold;
}
.messages-dropdown .dropdown-menu .message-preview .message {
	font-size: 12px;
}
.messages-dropdown .dropdown-menu .message-preview .time {
	font-size: 12px;
}
/* Nav Announcements */

.announcement-heading {
	font-size: 50px;
	margin: 0;
}
.announcement-text {
	margin: 0;
}
/* Table Headers */

table.tablesorter thead {
	cursor: pointer;
}
table.tablesorter thead tr th:hover {
	background-color: #f5f5f5;
}
/* Flot Chart Containers */

.flot-chart {
	display: block;
	height: 400px;
}
.flot-chart-content {
	width: 100%;
	height: 100%;
}
.cap-img {
	margin-right:2%;
	float:left;
	width:20%;
}
.cap-img img {
	max-width:100%;
}
.navbar-inverse .navbar-user > li > a, .navbar-inverse .navbar-user > li > a:hover, .navbar-inverse .navbar-user > li > a:focus, .navbar-inverse .navbar-user > .open > a:focus {
	background-color:#cb3948 ; color:#fff ;
}

.navbar-inverse .navbar-user > li > a:hover, .navbar-inverse .navbar-user > li > a:focus, .navbar-inverse .navbar-user > .open > a:focus {
	background-color:#cb3948 !important ; color:#fff !important;
}



.navbar-inverse .navbar-user > .dropdown > a:hover .caret, .navbar-inverse .navbar-user > .dropdown > a .caret {
	border-bottom-color:#fff !important;
	border-top-color:#fff !important;
}
.navbar-inverse .navbar-user .dropdown-toggle {
	margin-top:30px;
	padding:10px 15px;
}
.navbar-inverse .navbar-user > .open > a, .navbar-inverse .navbar-user > .open > a:hover, .navbar-inverse .navbar-user > .open > a:focus {
	color:#fff ;
	background-color:#cb3948;
}
.navbar-inverse .navbar-user > .open > a .caret, .navbar-inverse .navbar-user > .open > a:hover .caret, .navbar-inverse .navbar-user > .open > a:focus .caret {
	border-bottom-color:#fff !important;
	border-top-color:#fff !important;
}

.navbar-user .dropdown-menu{ padding:0; background:#cb3948; border: 1px solid #ea5867;}
.navbar-user .dropdown-menu > li > a{ padding:3px 10px; background-color:#cb3948; color:#fff;}
.navbar-user .dropdown-menu > li > a:hover{ background-color:#b11f2e}
.dropdown-menu .divider{ background-color:#b11f2e}


.login_user_div {
	margin:0 auto;
	float:none;
}
.bg-white {
	background:#fff;
}
.login-logo {
	/*border-bottom:1px solid #d9d9d9;*/
	margin-bottom:15px;
}
.login-logo a {
	padding:10px;
	display:inline-block;
*display:inline;
*zoom:1;
}
.btn-padding {
	padding:6px 20px;
}



/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
 padding-left: 225px;
}
 .wrap_login_page {
 padding-left:0;
}
 #page-wrapper {
 padding: 15px 25px;
}

  /* Side Nav */

  .side-nav {
 margin-left: -225px;
 left: 225px;
 width: 225px;
 position: fixed;
 top: 102px;
 height: 100%;
 border-radius: 0;
	/*border: none;
	background-color: #222222;*/
	border-right:1px solid #d9d9d9;
 background:#fff;
 overflow-y: auto;
}

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */
  
   .side-nav>li {
border-top:1px solid #e9e9e9
}
 .side-nav > li.active, .side-nav > li.open {
border-top:1px solid #a61423
}
 .side-nav > li.active a .caret, .side-nav > li.open a .caret {
 border-bottom-color:#fff !important; border-top-color:#fff !important;
}
 .side-nav > li.dropdown > ul.dropdown-menu li.active a {
background-color: #ebebeb;
 color: #cb3948;
}
 .side-nav>li.dropdown>ul.dropdown-menu {
 position: relative;
 min-width: 225px;
 margin: 0;
 padding: 0;
 border: none;
 border-radius: 0;
 background-color: #fff;
 box-shadow: none;
 -webkit-box-shadow: none;
}
 .side-nav>li.dropdown>ul.dropdown-menu>li>a {
 color: #999999;
 padding: 8px 8px 8px 25px;
 font-size:13px;
 background-color:#fff;
}
 .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
 background-color: #ebebeb;
 color: #cb3948;
}
 .side-nav>li>a {
 width: 225px;
 outline:none;
}
 .side-nav > li > a {
padding:8px 10px;
line-height:18px;
}
 .navbar-inverse .navbar-nav>li>a:hover,  .navbar-inverse .navbar-nav>li>a:focus {
 background-color: #ebebeb;
 color: #cb3948;
}

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
 min-width: 300px;
}
 .messages-dropdown .dropdown-menu li a {
 white-space: normal;
}
}
.btn-manage {
	background:url(../../images/icon_manage.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-edit {
	background:url(../../images/icon_edit.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-view {
	background:url(../../images/icon_view.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-delete {
	background:url(../../images/icon_delete.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-add {
	background:url(../../images/icon_add.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-enable {
	background:url(../../images/icon_enable.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-disable {
	background:url(../../images/icon_disable.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.btn-exit {
	background:url(../../images/icon_exit.png) no-repeat !important;
	width:28px;
	height:28px;
	border:0 !important;
}
.menu-head {
	float:left;
	width:100%;
	border-top:none !important;
}
.menu-head span i {
	margin-right:10px;
}
.menu-head span {
	background: #434343;
	color: #fff;
	float: left;
	font-size: 18px;
	padding: 6px 15px;
	width: 100%;
}
.side-nav > li > a .caret {
	margin:8px;
}

.box-white{ float:left; width:100%; padding:15px; background:#fff; margin-bottom:15px;}
.page-header{ margin-bottom:30px;}
.page-header h3{ margin:0; color:#808080;}
.searchbox-wrap .page-header h3{ margin:0; color:#393939;}


.searchbox-wrap{ background:#ebebeb; padding:10px; margin-bottom:30px;}
.searchbox-wrap .page-header{ margin-bottom:15px; border-bottom:1px solid #cbcbcb;}

/*.login-main .login_user_div{ max-width: 474px;}*/

.control-label{ font-weight:normal; font-size:16px;}
.checkbox-categorie{ float:left; width:100%; margin-bottom:10px; max-height:360px; overflow: auto;}

.checkbox-categorie .checkbox { margin:3px 0;}

.list-inline-new li{ padding-left: 5px !important;
    padding-right: 5px !important} 

