<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}

if (isset($adminRows) && !empty($adminRows)) {
	
    extract($adminRows);
}

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
 .map_canvas { 
     width: 380px; 
     height: 700px; 
     margin: 10px 20px 10px 0;
 }

 #multiple li { 
     cursor: pointer; 
     text-decoration: underline; 
 }
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        var passValidation = true;
        if (action == 'edit') {
            passValidation = false;
            if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
                passValidation = true;
            }
        }
        if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
        if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
        if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

        if (passValidation) {
            if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
            if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
        }
        if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
          $errStaus = true;
        }
        if (validateFormFields('type', 'Please select the account type.', ''))
          $errStaus = true;
        if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
            $errStaus = true;
        if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;

        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

    function doActionFn(action,id,listUri){
        console.log(id);
        if(action == 'list' || action == 'view'){
            window.location= '<?php echo $this->basePath().'/admin/seekerwishlistmanager'; ?>?action='+action+'&id='+id+'&listUri='+listUri;
        }  else{
            if(action == 'approve' || action == 'verify'){
                $('#doAction').val(action);
                $('#ids').val(id);
                if (confirm("Are you sure you want to approve?")) {
                        $('#listFrm').submit();
                }	
           }  
 	}
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Service Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/traveller/people"> Traveller Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Trip Details</li>
                        </ol>
                   </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
                <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                            <div class="col-xs-12 msg_div">
                                <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <?php echo $message; ?>
                                </div>
                            </div>
                      <?php }  
                      } ?>
                 </div>
             <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add') { ?>
                <div class="row"></div>
            <?php } else { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tab-new">
                            <div class="page-header text-left">
                                <h3>Service Info</h3>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Name</label>
                                 <p><?php echo $seeker_name ; ?></p>
                            </div>
							<div class="form-group col-md-4">
                                <label class="control-label">Email</label>
                                 <p><?php echo $seeker_email ; ?></p>
                            </div>
							<div class="form-group col-md-4">
                                <label class="control-label">Traveller Name</label>
                                 <p><?php echo $traveller_name ; ?></p>
                            </div>
							<div class="form-group col-md-4">
                                <label class="control-label">Traveller Email</label>
                                 <p><?php echo $traveller_email ; ?></p>
                            </div>
                            
                        </div> 
                    </div>

                </div>
                <?php } ?>
				<div class="col-xs-12">
                <a href="/admin/seeker/seekerwishlist" class="btn btn-warning" id="resetBtn" name="resetBtn">Back</a>
                </div>
            </div>
        </div>
		
    </div>
</div>



<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/magnific.css">
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/magnific.js"></script>
<script>
function setPopValues(id) {
    $('#trip_id').val(id);
    $.magnificPopup.open({ items: {src: '#reject-popup'},type: 'inline'}, 0);
}
function setRPopValues(id,trip_id_number,email,firstname) {
    $('#trip_id1').val(id);
     $('#trip_id_number').val(trip_id_number);
     $('#email').val(email);
      $('#firstname').val(firstname);
    $.magnificPopup.open({ items: {src: '#moreinfo-popup'},type: 'inline'}, 0);
}
function openTicketPopup() {
    $.magnificPopup.open({ items: {src: '#ticket-popup'},type: 'inline'}, 0);
}
function validateRequestMoreinfoForm(){
     clrErr();
        $errStaus = false;
        if (validateFormFields('moreInfo', 'Please enter the message.', ''))
            $errStaus = true;
         if ($errStaus) {
            return false;
        } else {
            return true;
        }
}
</script>