<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
    // print_r($adminRow['total_cost']);
    // exit;
}

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>

<?php 

  if($action != 'view'){ ?>
    <script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
<?php }
else{ ?>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<?php } ?>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>
<script src="<?php echo $this->basePath() ?>/public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/bootstrap-timepicker.js"></script>
<script src="<?php echo $this->basePath() ?>/public/ad_assests/js/admin_common.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/dataTables.min.js"></script>
<link rel="stylesheet" href="<?php echo $this->basePath() ?>/public/css/jquery.dataTables.min.css">
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/typeahead.js"></script>
<link rel="stylesheet" href="<?php echo $this->basePath() ?>/public/css/jquery-ui.min.css">   
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/ionrangeslider.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/colorpicker/js/colorpicker.js"></script>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/colorpicker/css/colorpicker.css">
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    $(document).ready(function () {
        var hash = window.location.hash.substr(1);
       
        if (hash != '') {
            if (hash == 'price') {
                $(' a[href="#price"]').trigger('click');
            } else {
				$(' a[href="#'+hash+'"]').trigger('click');
			}
        }

    });

    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
      
        var passValidation = true;
        if (action == 'edit') {
            passValidation = false;
            if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
                passValidation = true;
            }
        }
        if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
        if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
        if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

        if (passValidation) {
            if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
            if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
        }
        if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
            $errStaus = true;
        }
        if (validateFormFields('type', 'Please select the account type.', ''))
             $errStaus = true;
        if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
             $errStaus = true;
        if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo isset($this->comSessObj->userrole) ? $this->comSessObj->userrole : '';?>" >
<?php
      $userDetails = isset($this->comSessObj->user) ? $this->comSessObj->user : '';
?>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Service Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/seeker/people"> Seekers Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Trip Details</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'edit') { ?>
                    <div class="row">
    <div class="col-xs-12">
        <div class="tab-new">
                        <div class="page-header text-left">
                            <h3>Service Info</h3>
                        </div>
                        <div class="inner-tab">
                            <ul class="nav nav-tabs nav-tabs-new">
                               <li id="tripDetails_tab" class="active"><a data-toggle="tab" href="#tripDetails">Trip Details</a></li>
                               <li id="locations_tab"><a data-toggle="tab" href="#locations">Origin Location Address</a></li>
                               <?php  if(isset($people_service_id) && !empty($people_service_id)){?>
                               <li id="people_tab"><a data-toggle="tab" href="#people">People Service</a></li>
                               <?php } if(isset($package_service_id) && !empty($package_service_id)){?>
                               <li id="package_tab"><a data-toggle="tab" href="#package">Package Service</a></li>
                                <?php } if(isset($project_service_id) && !empty($project_service_id)){?>
                               <li id="project_tab"><a data-toggle="tab" href="#project">Product Service</a></li>
                                <?php }?>
                            </ul>
                        </div>
         <form action="<?php echo $_SERVER['REQUEST_URI']?>" method="post" enctype="multipart/form-data" name="tripForm" id="tripForm">
      <div class="tab-content">
       <div id="tripDetails" class="tab-pane fade active in ">
        
        <input type="hidden" id="service_type" value="people" >
        <input type="hidden" id="trip_edit_id" name="trip_edit_id" value="<?php echo $this->trip['ID']?>" >
         <input type="hidden" id="userid" name="userid" value="<?php echo $this->trip['user']?>" >
         <?php
          if(isset($people_service_id) && !empty($people_service_id)){
             echo $this->render('includes/people-reservation-details.phtml');
          }
          if(isset($package_service_id) && !empty($package_service_id)){
             echo $this->render('includes/transportation-details.phtml');
          }
          if(isset($project_service_id) && !empty($project_service_id)){
             echo $this->render('includes/seeker-project-travel-plan.phtml');
          }
        ?>   
       </div>
       <div id="locations" class="tab-pane fade">
         <?php echo $this->render('includes/origin-location-address.phtml');
           ?>   
       </div>
        <?php  if(isset($people_service_id) && !empty($people_service_id)){?>
       <div id="people" class="tab-pane fade">
         <?php echo $this->render('includes/seeker/add-people-service.phtml');
           ?>   
       </div>
        <?php } if(isset($package_service_id) && !empty($package_service_id)){?>
       <div id="package" class="tab-pane fade">
         <?php echo $this->render('includes/seeker/add-package-service.phtml');
           ?>   
       </div>
        <?php } if(isset($project_service_id) && !empty($project_service_id)){?>
       <div id="project" class="tab-pane fade">
         <?php  echo $this->render('includes/seeker/add-project-service.phtml');
           ?>   
       </div>
        <?php }?>
       
       </div>
          <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div> 
         </form>
        </div>
     </div>
                </div>
            <?php } else { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tab-new">
                            <div class="page-header text-left">
                                <h3>Service Info</h3>
                            </div>
                            <div class="inner-tab">
                                <ul class="nav nav-tabs nav-tabs-new">
                                    <li id="tripDetails_tab"><a
                                            href="<?php echo $this->basePath(); ?>/admin/seekermanager?action=view&id=<?php echo $adminRow['ID'] ?>">Trip
                                            Details</a></li>
                                    <li id="locations_tab"><a
                                            href="<?php echo $this->basePath(); ?>/admin/seekermanager?action=view&id=<?php echo $adminRow['ID'] ?>#locations">Origin
                                            Location Address</a></li>
                                    <li id="service_tab " class="active"><a data-toggle="tab" href="#service">Services</a>
                                    </li>
                                    <li id="price_tab " class=""><a data-toggle="tab" href="#price">Prices</a></li>
                                    <li id="received_request_tab " class=""><a data-toggle="tab" href="#received_request">Received Request</a></li>
                                    <li id="sent_request_tab " class=""><a data-toggle="tab" href="#sent_request">Sent Request</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="tripDetails" class="tab-pane fade ">
                                    <div class="col-xs-12">
                                        <div class="page-header text-left">
                                            <h3>Trip Info</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">User</label>
                                                <p><?php echo $email_address = (isset($adminRow['email_address']) && $adminRow['email_address'] != '') ? $adminRow['email_address'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Trip ID Number</label>
                                                <p><?php echo (isset($adminRow['trip_id_number']) && $adminRow['trip_id_number'] != '') ? $adminRow['trip_id_number'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Origin Location</label>
                                                <p><?php echo $adminRow['origin_location_city'] . ' ' . $adminRow['origin_location_country']; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Destination Location</label>
                                                <p><?php echo $adminRow['destination_location_city'] . ' ' . $adminRow['destination_location_country']; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Departure Date</label>
                                                <p><?php echo (isset($adminRow['departure_date']) && $adminRow['departure_date'] != '') ? $adminRow['departure_date'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">No Of Stops</label>
                                                <p><?php echo (isset($adminRow['noofstops']) && $adminRow['noofstops'] != '') ? $adminRow['noofstops'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Ticket Number</label>
                                                <p><?php echo (isset($adminRow['ticket_number']) && $adminRow['ticket_number'] != '') ? $adminRow['ticket_number'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Airline Details</label>
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Flight</th>
                                                            <th>Airline</th>
                                                            <th>Dept</th>
                                                            <th>Arr</th>
                                                            <th>Dept Dt</th>
                                                            <th>Arr Dt</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <?php if(isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])){
                                                        $fNo = 1;
                                                        foreach($adminRow['airport_details'] as $flightRow){
                                                    ?>
                                                    <tr>
                                                        <td><?php echo  $fNo;?></td>
                                                        <td><?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:''?> - <?php echo isset($flightRow['airline_number'])?$flightRow['airline_number']:''?></td>
                                                        <td><?php echo isset($flightRow['departure'])?$flightRow['departure']:''?></td>
                                                        <td><?php echo isset($flightRow['arrival'])?$flightRow['arrival']:''?></td>
                                                        <td><?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:''?></td>
                                                        <td><?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?></td>
                                                   </tr>
                                                    <?php
                                                            $fNo++;
                                                        }
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Cabin</label>
                                            <p><?php echo (isset($adminRow['cabin']) && $adminRow['cabin'] != '') ? $adminRow['cabin'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Status</label>
                                            <p><?php echo (isset($adminRow['booking_status']) && $adminRow['booking_status'] != '') ? $adminRow['booking_status'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    <?php if(isset($adminRow['travel_plan_reservation_type']) && $adminRow['travel_plan_reservation_type'] == '1'){ ?>
                                        <div class="page-header text-left">
                                            <h3>Reservation Details</h3>
                                        </div>
                                        <div class="page-header text-left">
                                            <h4>Who is your travel agent?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Name</label>
                                                <p><?php echo (isset($adminRow['travel_agency_name']) && $adminRow['travel_agency_name'] != '') ? $adminRow['travel_agency_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency URL</label>
                                                <p><?php echo (isset($adminRow['travel_agency_url']) && $adminRow['travel_agency_url'] != '') ? $adminRow['travel_agency_url'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Confirmation #</label>
                                                <p><?php echo (isset($adminRow['travel_agency_confirmation']) && $adminRow['travel_agency_confirmation'] != '') ? $adminRow['travel_agency_confirmation'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Contact Name</label>
                                                <p><?php echo (isset($adminRow['travel_agency_contact_name']) && $adminRow['travel_agency_contact_name'] != '') ? $adminRow['travel_agency_contact_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Phone</label>
                                                <p><?php echo (isset($adminRow['travel_agency_phone']) && $adminRow['travel_agency_phone'] != '') ? $adminRow['travel_agency_phone'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Agency Email</label>
                                                <p><?php echo (isset($adminRow['agency_email']) && $adminRow['agency_email'] != '') ? $adminRow['agency_email'] : '--'; ?></p>
                                            </div>
                                        </div>

                                        <div class="page-header text-left">
                                            <h4>How can you contact the supplier?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Supplier Name</label>
                                                <p><?php echo (isset($adminRow['supplier_name']) && $adminRow['supplier_name'] != '') ? $adminRow['supplier_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Supplier URL</label>
                                                <p><?php echo (isset($adminRow['supplier_url']) && $adminRow['supplier_url'] != '') ? $adminRow['supplier_url'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Supplier Contact</label>
                                                <p><?php echo (isset($adminRow['supplier_contact']) && $adminRow['supplier_contact'] != '') ? $adminRow['supplier_contact'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Supplier Phone</label>
                                                <p><?php echo (isset($adminRow['supplier_phone']) && $adminRow['supplier_phone'] != '') ? $adminRow['supplier_phone'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Supplier Email</label>
                                                <p><?php echo (isset($adminRow['supplier_email']) && $adminRow['supplier_email'] != '') ? $adminRow['supplier_email'] : '--'; ?></p>
                                            </div>
                                        </div>

                                        <div class="page-header text-left">
                                            <h4>Where did you reserve it?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Booking Site Name</label>
                                                <p><?php echo (isset($adminRow['booking_site_name']) && $adminRow['booking_site_name'] != '') ? $adminRow['booking_site_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Booking Site URL</label>
                                                <p><?php echo (isset($adminRow['booking_site_url']) && $adminRow['booking_site_url'] != '') ? $adminRow['booking_site_url'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Booking Site Phone</label>
                                                <p><?php echo (isset($adminRow['booking_site_phone']) && $adminRow['booking_site_phone'] != '') ? $adminRow['booking_site_phone'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Booking Site Email</label>
                                                <p><?php echo (isset($adminRow['booking_site_email']) && $adminRow['booking_site_email'] != '') ? $adminRow['booking_site_email'] : '--'; ?></p>
                                            </div>
                                        </div>

                                        <div class="page-header text-left">
                                            <h4>What are the booking details?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Booking Date</label>
                                                <p><?php echo (isset($adminRow['booking_date']) && $adminRow['booking_date'] != '') ? $adminRow['booking_date'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Booking Reference #</label>
                                                <p><?php echo (isset($adminRow['booking_site_url']) && $adminRow['booking_site_url'] != '') ? $adminRow['booking_site_url'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Reservation is Purchased</label>
                                                <p>
                                                    <?php if(isset($adminRow['reservation_is_purchased']) && $adminRow['reservation_is_purchased'] != ''){
                                                        echo ($adminRow['reservation_is_purchased'] != '1')?'Yes':'No';
                                                    }
                                                    else{
                                                        echo '--';
                                                    } ?>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="page-header text-left">
                                            <h4>What did you pay?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Total Cost</label>
                                                <p><?php echo (isset($adminRow['total_cost']) && $adminRow['total_cost'] != '') ? $adminRow['total_cost'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Total Cost Currency</label>
                                                <p><?php echo (isset($adminRow['total_cost_currency']) && $adminRow['total_cost_currency'] != '') ? $adminRow['total_cost_currency'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Comments/Restrictions</label>
                                                <p><?php echo (isset($adminRow['comments_restrictions']) && $adminRow['comments_restrictions'] != '') ? $adminRow['comments_restrictions'] : '--'; ?></p>
                                            </div>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                                <div id="locations" class="tab-pane fade row ">
                                    <div class="col-xs-12">
                                        <div class="page-header text-left">
                                            <h3>Location Address Info</h3>
                                        </div>
                                        <?php
                                            $latitude = isset($adminRow['trip_location']['latitude']) && $adminRow['trip_location']['latitude'] ? $adminRow['trip_location']['latitude'] : '';
                                            $longitude = isset($adminRow['trip_location']['longitude']) && $adminRow['trip_location']['longitude'] ? $adminRow['trip_location']['longitude'] : '';
                                        ?>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Address Type</label>
                                                        <p><?php echo $name = (isset($adminRow['trip_location']['name']) && $adminRow['trip_location']['name'] != '') ? $adminRow['trip_location']['name'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Street Address 1</label>
                                                        <p><?php echo $street_address_1 = (isset($adminRow['trip_location']['street_address_1']) && $adminRow['trip_location']['street_address_1'] != '') ? $adminRow['trip_location']['street_address_1'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Street Address 2</label>
                                                        <p><?php echo $street_address_2 = (isset($adminRow['trip_location']['street_address_2']) && $adminRow['trip_location']['street_address_2'] != '') ? $adminRow['trip_location']['street_address_2'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">City</label>
                                                        <p><?php echo $city = (isset($adminRow['trip_location']['city']) && $adminRow['trip_location']['city'] != '') ? $adminRow['trip_location']['city'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">State</label>
                                                        <p><?php echo $state = (isset($adminRow['trip_location']['state']) && $adminRow['trip_location']['state'] != '') ? $adminRow['trip_location']['state'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Zip Code</label>
                                                        <p><?php echo $zip_code = (isset($adminRow['trip_location']['zip_code']) && $adminRow['trip_location']['zip_code'] != '') ? $adminRow['trip_location']['zip_code'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Country</label>
                                                        <p><?php echo $country = (isset($adminRow['trip_location']['country']) && $adminRow['trip_location']['country'] != '') ? $adminRow['trip_location']['country'] : '--'; ?></p>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">&nbsp;</label>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">&nbsp;</label>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div id="map1" style="width:300px; height:200px">
                                                    <div id="map_canvas" style="width:100%; height:150%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="service" class="tab-pane fade active in ">
                                    <div class="row">
                                    <div class="col-xs-12">
                                    <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                        <div class="page-header text-left">
                                            <h3>People Services</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Contact Name </label>
                                                <p>
                                                    <?php echo (isset($adminRow['trip_people']['contact_name']) && $adminRow['trip_people']['contact_name'] != '') ? $adminRow['trip_people']['contact_name'] : '--'; ?>
                                                </p>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Contact Number </label>
                                                <p>
                                                    <?php echo (isset($adminRow['trip_people']['contact_number']) && $adminRow['trip_people']['contact_number'] != '') ? $adminRow['trip_people']['contact_number'] : '--'; ?>
                                                </p>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Email Address </label>
                                                <p>
                                                    <?php echo (isset($adminRow['trip_people']['email_address']) && $adminRow['trip_people']['email_address'] != '') ? $adminRow['trip_people']['email_address'] : '--'; ?>
                                                </p>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label class="control-label">Member's Comments </label>
                                                <p>
                                                    <?php echo (isset($adminRow['trip_people']['comment']) && $adminRow['trip_people']['comment'] != '') ? $adminRow['trip_people']['comment'] : '--'; ?>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Number of passenger(s)</label>
                                                <p>
                                                    <?php echo (isset($adminRow['trip_people']['passengers']) && $adminRow['trip_people']['passengers'] != '') ? $adminRow['trip_people']['passengers'] : '--'; ?>
                                                </p>
                                            </div>
                                            <?php
                                                if (isset($adminRow['trip_people_passangers']) && !empty($adminRow['trip_people_passangers'])) {
                                                    $pNo = 1;
                                                    foreach ($adminRow['trip_people_passangers'] as $passaRow) {
                                            ?>
                                            <div class="form-group col-md-12">
                                                <label class="control-label"><u>Details of passenger <?php echo $pNo; ?></u></label>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="control-label">First Name </label>
                                                <p>
                                                    <?php echo (isset($passaRow['first_name']) && $passaRow['first_name'] != '') ? $passaRow['first_name'] : '--'; ?>
                                                </p>
                                            </div>

                                            <div class="form-group col-md-3">
                                                <label class="control-label">Last Name </label>
                                                <p>
                                                    <?php echo (isset($passaRow['last_name']) && $passaRow['last_name'] != '') ? $passaRow['last_name'] : '--'; ?>
                                                </p>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="control-label">Gender </label>
                                                <p>
                                                    <?php echo (isset($passaRow['gender']) && $passaRow['gender'] != '') ? $GENDER_TYPE[$passaRow['gender']] : '--'; ?>
                                                </p>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="control-label">Age </label>
                                                <p>
                                                    <?php echo (isset($passaRow['age']) && $passaRow['age'] != '') ? $passaRow['age'] : '--'; ?>
                                                </p>
                                            </div>

                                            <div class="form-group col-md-3">
                                                <label class="control-label">Photo </label>
                                                <p>
                                                    <?php echo (isset($passaRow['image']) && $passaRow['image'] != '') ? $passaRow['image'] : '--'; ?>
                                                </p>
                                            </div>


                                            <div class="form-group col-md-12">
                                                <label class="control-label">Attachments </label>
                                                <p>

                                                <?php if(isset($passaRow['attachmentDetails']) && $passaRow['attachmentDetails']){ ?>

                                                        <?php foreach($passaRow['attachmentDetails'] as $key => $attachment){ ?>

                                                <img src="<?php echo $this->basePath()?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attachment['seeker_attachment_name']?>">

                                                        <?php } ?>

                                                <?php } else {
                                                   echo '<p>No attachments found</p>';
                                                } ?>
                                                  </p>
                                            </div>
                                            <?php
                                                        $pNo++;
                                                    }
                                                }
                                            ?>
                                        </div>
                                        <?php } ?>
                                    <?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) { ?>
                                        <div class="page-header text-left">
                                            <h3>Package Services</h3>
                                        </div>
                                        <div class="row">
                                <div class="form-group form-group-select-plus col-sm-12">
                                    <label class="control-label">No of individual items need to be carried</label>
                                    <p> <?php echo $adminRow['trip_package']['packages']; ?>
                                        <input type="hidden" name="packages_count" id="packages_count" value="<?php echo $adminRow['trip_package']['packages']; ?>" >
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="row" id="packages_box">
                                        <?php
                                            if (isset($adminRow['trip_package_packages']) && !empty($adminRow['trip_package_packages'])) {
                                                $pNo = 1;
                                                foreach ($adminRow['trip_package_packages'] as $key => $packRow) {
                                        ?>
                                        <div class="col-md-12" id="packages_box_1">
                                            <h5 class="sub-heading text-left">Details of Item <?php echo $key+1; ?></h5>
                                            <hr class="title-border">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                   <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label" for="itemsize">Item category</label>
                                                            <p><?php echo $packRow['catname'];?></p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label" for="itemsize">Item Type</label>
                                                            <p><?php echo $packRow['subcatname'];?></p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label">Item Description</label>
                                                            <p><?php echo $packRow['item_description'];?></p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label">Approximate weight</label>
                                                            <?php if(isset($packRow['negligible_weight']) && $packRow['negligible_weight'] != 0){ ?>
                                                                <p>0-0.5 Kg (Negligible Weight) </p>
                                                            <?php } else { ?>
                                                                <p><?php echo $packRow['weight'];?>Kgs</p>
                                                            <?php } ?>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label" for="itemsize">Approx. size of item</label>
                                                            <?php if(isset($packRow['negligible_size']) && $packRow['negligible_size'] != 0){ ?>
                                                                <p>A4 Paper Size (Negligible Size) </p>
                                                            <?php } else { ?>
                                                                <p>
                                                                    L: <?php echo (isset($packRow['length']) && !empty($packRow['length']))?$packRow['length']:'--';?>
                                                                    W: <?php echo (isset($packRow['width']) && !empty($packRow['width']))?$packRow['width']:'--';?>
                                                                    H: <?php echo (isset($packRow['height']) && !empty($packRow['height']))?$packRow['height']:'--';?>
                                                                </p>
                                                            <?php } ?>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label" for="itemsize">Approx. worth of Item</label>
                                                            <p><?php echo $packRow['item_worth'];?> <?php echo $packRow['item_worth_currency'];?></p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label" for="itemsize">Picture of item</label>
                                                            <p><?php if(isset($packRow['photo']) && !empty($packRow['photo'])){ ?>
                                                               <img width="100"  class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/<?php echo $packRow['photo'] ?>" />
                                                             <?php
                                                            } else {
                                                                echo '--';
                                                            }
                                                            ?></p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label" for="itemsize">Condition</label>
                                                            <p><?php echo (isset($packRow['condition']) && !empty($packRow['condition']))?$packRow['condition']:'--';?></p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label" for="itemsize">Quantity</label>
                                                            <p><?php echo (isset($packRow['item_quantity']) && !empty($packRow['item_quantity']))?$packRow['item_quantity']:'--';?></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <?php
                                            }
                                        }
                                    ?>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="itemsize">Total Weight</label>
                                    <p><?php echo $adminRow['trip_package']['total_weight']; ?>Kgs</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="itemsize">Total Worth</label>

                                    <p><?php echo $adminRow['trip_package']['total_worth']; ?></p>

                                </div>
                            </div>

                             <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="itemsize">Contact Name</label>
                                    <p><?php echo (isset($adminRow['trip_package']['contact_name']) && !empty($adminRow['trip_package']['contact_name']))?$adminRow['trip_package']['contact_name']:'--'; ?></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="itemsize">Contact Number</label>

                                    <p><?php echo (isset($adminRow['trip_package']['contact_number']) && !empty($adminRow['trip_package']['contact_number']))?$adminRow['trip_package']['contact_number']:'--'; ?></p>

                                </div>
                            </div>
                             <div class="row">
                                 <div class="form-group col-md-6">
                                <label class="control-label">Contact email ID</label>
                                <p><?php   echo (isset($adminRow['trip_package']['email_address']) && !empty($adminRow['trip_package']['email_address']))?$adminRow['trip_package']['email_address']:'--';?></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Comments to Travelers</label>
                                <p><?php  echo (isset($adminRow['trip_package']['comment']) && !empty($adminRow['trip_package']['comment']))?$adminRow['trip_package']['comment']:'--'; ?></p>
                            </div>
                                 </div>
                                        <?php } ?>
                                    <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) { ?>
                                        <div class="page-header text-left">
                                            <h3>Product Services</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group form-group-select-plus col-sm-12">
                                                <label class="control-label">No of individual items need to be carried</label>
                                                <p> <?php echo $adminRow['trip_package']['packages']; ?>
                                                    <input type="hidden" name="packages_count" id="packages_count" value="<?php echo $adminRow['trip_package']['packages']; ?>" >
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="row" id="packages_box">
                                                    <?php
                                                        if (isset($adminRow['trip_package_packages']) && !empty($adminRow['trip_package_packages'])) {
                                                            $pNo = 1;
                                                            foreach ($adminRow['trip_package_packages'] as $key => $packRow) {
                                                    ?>
                                                    <div class="col-md-12" id="packages_box_1">
                                                        <h5 class="sub-heading text-left">Details of Item <?php echo $key+1; ?></h5>
                                                        <hr class="title-border">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                               <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label" for="itemsize">Item category</label>
                                                                        <p><?php echo $packRow['catname'];?></p>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label" for="itemsize">Item Type</label>
                                                                        <p><?php echo $packRow['subcatname'];?></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label">Item Description</label>
                                                                        <p><?php echo $packRow['item_description'];?></p>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label">Approximate weight</label>
                                                                        <?php if(isset($packRow['negligible_weight']) && $packRow['negligible_weight'] != 0){ ?>
                                                                            <p>0-0.5 Kg (Negligible Weight) </p>
                                                                        <?php } else { ?>
                                                                            <p><?php echo $packRow['weight'];?>Kgs</p>
                                                                        <?php } ?>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label" for="itemsize">Approx. size of item</label>
                                                                        <?php if(isset($packRow['negligible_size']) && $packRow['negligible_size'] != 0){ ?>
                                                                            <p>A4 Paper Size (Negligible Size) </p>
                                                                        <?php } else { ?>
                                                                            <p>
                                                                                L: <?php echo (isset($packRow['length']) && !empty($packRow['length']))?$packRow['length']:'--';?>
                                                                                W: <?php echo (isset($packRow['width']) && !empty($packRow['width']))?$packRow['width']:'--';?>
                                                                                H: <?php echo (isset($packRow['height']) && !empty($packRow['height']))?$packRow['height']:'--';?>
                                                                            </p>
                                                                        <?php } ?>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label" for="itemsize">Approx. worth of Item</label>
                                                                        <p><?php echo $packRow['item_worth'];?> <?php echo $packRow['item_worth_currency'];?></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        <label class="control-label" for="itemsize">Picture of item</label>
                                                                        <p><?php if(isset($packRow['photo']) && !empty($packRow['photo'])){ ?>
                                                                           <img width="100"  class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/<?php echo $packRow['photo'] ?>" />
                                                                         <?php
                                                                        } else {
                                                                            echo '--';
                                                                        }
                                                                        ?></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label" for="itemsize">Condition</label>
                                                                        <p><?php echo (isset($packRow['condition']) && !empty($packRow['condition']))?$packRow['condition']:'--';?></p>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label class="control-label" for="itemsize">Quantity</label>
                                                                        <p><?php echo (isset($packRow['item_quantity']) && !empty($packRow['item_quantity']))?$packRow['item_quantity']:'--';?></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <?php
                                                        }
                                                    }
                                                ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label" for="itemsize">Total Weight</label>
                                                <p><?php echo $adminRow['trip_package']['total_weight']; ?>Kgs</p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label" for="itemsize">Total Worth</label>

                                                <p><?php echo $adminRow['trip_package']['total_worth']; ?></p>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label" for="itemsize">Contact Name</label>
                                                <p><?php echo (isset($adminRow['trip_package']['contact_name']) && !empty($adminRow['trip_package']['contact_name']))?$adminRow['trip_package']['contact_name']:'--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label" for="itemsize">Contact Number</label>

                                                <p><?php echo (isset($adminRow['trip_package']['contact_number']) && !empty($adminRow['trip_package']['contact_number']))?$adminRow['trip_package']['contact_number']:'--'; ?></p>

                                            </div>
                                        </div>
                                        <div class="row">
                                             <div class="form-group col-md-6">
                                                <label class="control-label">Contact email ID</label>
                                                <p><?php   echo (isset($adminRow['trip_package']['email_address']) && !empty($adminRow['trip_package']['email_address']))?$adminRow['trip_package']['email_address']:'--';?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Comments to Travelers</label>
                                                <p><?php  echo (isset($adminRow['trip_package']['comment']) && !empty($adminRow['trip_package']['comment']))?$adminRow['trip_package']['comment']:'--'; ?></p>
                                            </div>
                                        </div>
                                        <?php } ?>
                                    </div>
                                </div>
                                    </div>

                                <div id="price" class="tab-pane fade active">
                                    <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                        <div class="page-header text-left">
                                            <h3>People Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-8">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> <br>
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                No of Stops: <?php echo $adminRow['noofstops']; ?> = <?php echo $adminRow['stopsPrice']; ?> GBP <br>
                                                Distance (with no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                Sub Total (Country from - to + No of Stops + Distance): (<?php echo $adminRow['countryPrice'].' + '.$adminRow['stopsPrice'].' + '.$adminRow['distancePrice']; ?>) = <?php echo $adminRow['sub_total']; ?> GBP <br>
                                                No of Passengers: <?php echo $adminRow['passengerCount']; ?> <br>
                                                Total (Sub Total * No of Passengers): <?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['passengerCount']; ?> = <?php echo $adminRow['service_fees']; ?> GBP <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['service_fees']; ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo $adminRow['total_cost']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                        <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo $adminRow['total_cost']; ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        </span>

                                            </div>

                                        </div>
                                    <?php } ?>

                                    <?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) {  ?>
                                        <div class="page-header text-left">
                                            <h3>Package Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-11">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> <br>

                                                <?php //echo '<pre>'; print_r($adminRow); ?>

                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                No of Items: <?php echo $adminRow['trip_package']['packages']; ?> <br><br>

                                                <?php
                                                $i = 1;
                                                foreach($adminRow['trip_package_packages'] as $items){ ?>
                                                    <b>Item : <?php echo $i; ?></b><br>
                                                    Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['item_category_price']['tot_item_price']; ?> GBP<br>
                                                    Weight: <?php echo $items['weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                    Worth of Item: <?php echo $items['item_worth']; ?> <?php echo $items['item_worth_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']; ?> GBP<br>
                                                    Sub Total of Item <?php echo $i; ?> :
                                                    (Country from - to + Distance + Item Category * Item Weight + Item Price):
                                                    (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                    <?php
                                                    $i++;
                                                }
                                                ?>

                                                Total (
                                                <?php
                                                $j = 1;
                                                foreach($adminRow['trip_package_packages'] as $items){
                                                    if($j > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    Sub Total of Item <?php echo $j; ?>
                                                    <?php
                                                    $j++;
                                                }
                                                ?>
                                                ): (
                                                <?php
                                                $k = 1;
                                                foreach($adminRow['trip_package_packages'] as $items){
                                                    if($k > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    <?php echo $items['item_sub_total']; ?>
                                                    <?php
                                                    $k++;
                                                }
                                                ?>
                                                ) = <?php echo $adminRow['sub_total']; ?> GBP

                                                <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo $adminRow['total_cost']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                        <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo $adminRow['total_cost']; ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        </span>

                                            </div>

                                            <!--<div class="form-group col-md-6">
                                            <label class="control-label">Estimated Service Fee For Seeker</label>
                                            <p style="font-size:36px;font-weight:bold;">&#xa3; <?php /*echo (isset($adminRow['trip_package']['package_service_fee'])) ? $adminRow['trip_package']['package_service_fee'] : '--'; */?></p>
                                        </div>-->

                                        </div>
                                    <?php } ?>

                                    <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) {  ?>
                                    	<div class="page-header text-left">
                                            <h3>Project Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-11">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> <br>
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                No of Items: <?php echo $adminRow['trip_package']['packages']; ?> <br><br>

                                                <?php
                                                $i = 1;
                                                foreach($adminRow['trip_project_tasks'] as $items){ ?>
                                                    <b>Item : <?php echo $i; ?></b><br>
                                                    Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['price'].' '.$items['price_currency']; ?><br>
                                                    Weight: <?php echo $items['item_weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                    Worth of Item: <?php echo $items['price']; ?> <?php echo $items['price_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']; ?> GBP<br>
                                                    Sub Total of Item <?php echo $i; ?> :
                                                    (Country from - to + Distance + Item Category * Item Weight + Item Price + Item original price + 5% of original product price):
                                                    (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?> + <?php echo $items['price'];?> + <?php echo (($items['price']/10)*5);?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                    <?php
                                                    $i++;
                                                }
                                                ?>

                                                Total (
                                                <?php
                                                $j = 1;
                                                foreach($adminRow['trip_project_tasks'] as $items){
                                                    if($j > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    Sub Total of Item <?php echo $j; ?>
                                                    <?php
                                                    $j++;
                                                }
                                                ?>
                                                ): (
                                                <?php
                                                $k = 1;
                                                foreach($adminRow['trip_project_tasks'] as $items){
                                                    if($k > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    <?php echo $items['item_sub_total']; ?>
                                                    <?php
                                                    $k++;
                                                }
                                                ?>
                                                ) = <?php echo $adminRow['sub_total']; ?> GBP

                                                <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo $adminRow['total_cost']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>
                                        		<span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo $adminRow['total_cost']; ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        		</span>
                                            </div>
                                        </div>
                                        <!--<div class="page-header text-left">
                                            <h3>Product Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> $comSessObj->currencycode
                                                <p style="font-size:36px;font-weight:bold;">&#xa3; <?php echo (isset($adminRow['trip_project']['project_service_fee'])) ? $adminRow['trip_project']['project_service_fee'] : '--'; ?></p>
                                            </div>

                                        </div>-->
                                    <?php } ?>
                                </div>
                                
                                <div id="received_request" class="tab-pane">
                                    <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <!--<input type="hidden" value="<?php /*echo $listUrl */?>" name="listUrl">-->
                                        <tr>
                                            <th style="width:20px;">#</th>
                                            <th> Sender Name </th>
                                            <th> Sender email ID </th>
                                            <th> Traveler Trip ID </th>
                                            <th> Seeker Trip ID</th>
                                            <th> Origin location </th>
                                            <th> Destination location</th>
                                            <th> Service Type</th>
                                            <th> Actual Fee</th>
                                            <th> Timer</th>
                                            <th> Service Status</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php
                                        if (count($travellerRequests) > 0) {
											$sno = 1;
                                            foreach ($travellerRequests as $travellerRequest) {
												//print_r($travellerRequest);die;
                                                ?>
                                                <tr>
                                                    <td><?php echo $sno ?></td>
                                                    <td><?php echo $travellerRequest['trip']['first_name'].' '.$travellerRequest['trip']['last_name'] ?></td>
                                                    <td><?php echo $travellerRequest['trip']['email_address']; ?></td>
                                                    <td><?php echo $travellerRequest['trip']['trip_id_number']; ?></td>
                                                    <td><?php echo $adminRow['trip_id_number'] ?></td>
                                                    <td><?php echo @current(explode('-',$travellerRequest['trip']['trip_route'])); ?></td>
                                                    <td><?php echo @end(explode('-',$travellerRequest['trip']['trip_route'])); ?></td>
                                                    <td><?php echo ucfirst($travellerRequest['service_type']); ?></td>
                                                    <td><?php echo $travellerRequest['trip']['total_cost'].' GBP'; ?></td>
                                                    <td class="re_timer" id="<?php echo $travellerRequest['trip']['trip_id_number']; ?>_trimer" data-enddate="<?= date('m-d-Y H:i:s', strtotime( "+1 day",strtotime($travellerRequest['modified'])));?>"></td>
                                                    <td><?php echo $travellerRequest['status']; ?></td>
                                                    <td>
                                                    	<button type="button" disabled="disabled" class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="" data-original-title="Enable"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="" data-original-title="Disable"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="" data-original-title="Edit"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-info btn-xs btn-view" data-toggle="tooltip" title="" data-original-title="View"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="" data-original-title="Delete"></button></td>
                                                </tr>
                                                <?php
                                                $sno++;
                                            }
                                        }else {
                                            ?>

                                            <tr>
                                                <td colspan="7">No records found.</td>
                                            </tr>
                                            <?php
                                        }
                                        ?>
                                        </tbody>
                                    </table>
									</div>
                                </div>
                                <div id="sent_request" class="tab-pane">
                                    <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <!--<input type="hidden" value="<?php /*echo $listUrl */?>" name="listUrl">-->
                                        <tr>
                                            <th style="width:20px;">#</th>
                                            <th> Seeker Trip ID </th>
                                            <th> Traveler Name </th>
                                            <th> Traveler Email ID</th>
                                            <th> Traveler Trip ID</th>
                                            <th> Origin location </th>
                                            <th> Destination location</th>
                                            <th> Service Type</th>
                                            <th> Actual Fee</th>
                                            <th> Timer</th>
                                            <th> Service Status</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php
                                        if (count($requests) > 0) {
											$sno = 1;
                                            foreach ($requests as $travellerRequest) {
												//print_r($travellerRequest);die;
                                                ?>
                                                <tr>
                                                    <td><?php echo $sno ?></td>
                                                    <td><?php echo $adminRow['trip_id_number'] ?></td>
                                                    <td><?php echo $travellerRequest['trip']['first_name'].' '.$travellerRequest['trip']['last_name'] ?></td>
                                                    <td><?php echo $travellerRequest['trip']['email_address']; ?></td>
                                                    <td><?php echo $travellerRequest['trip']['trip_id_number']; ?></td>
                                                    <td><?php echo @current(explode('-',$travellerRequest['trip']['trip_route'])); ?></td>
                                                    <td><?php echo @end(explode('-',$travellerRequest['trip']['trip_route'])); ?></td>
                                                    <td><?php echo ucfirst($travellerRequest['service_type']); ?></td>
                                                    <td><?php echo $travellerRequest['trip']['total_cost'].' GBP'; ?></td>
                                                    <td class="re_timer" id="<?php echo $travellerRequest['trip']['trip_id_number']; ?>_trimer" data-enddate="<?= date('m-d-Y H:i:s', strtotime( "+1 day",strtotime($travellerRequest['modified'])));?>"></td>
                                                    <td><?php echo $travellerRequest['status']; ?></td>
                                                    <td>
                                                    	<button type="button" disabled="disabled" class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="" data-original-title="Enable"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="" data-original-title="Disable"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="" data-original-title="Edit"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-info btn-xs btn-view" data-toggle="tooltip" title="" data-original-title="View"></button>
                                                        <button type="button" disabled="disabled" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="" data-original-title="Delete"></button></td>
                                                </tr>
                                                <?php
                                                $sno++;
                                            }
                                        }else {
                                            ?>

                                            <tr>
                                                <td colspan="7">No records found.</td>
                                            </tr>
                                            <?php
                                        }
                                        ?>
                                        </tbody>
                                    </table>
									</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>
<script>
	$(document).ready(function(e) {
        $('.re_timer').each(function(index, element) {
            changeRemainingTime($(this).attr('id'),$(this).attr('data-enddate'));
        });
    });
	function changeRemainingTime(id, endtime) {
        
		var clock 	= document.getElementById(id);
		var nows 	= '<?php echo date('m/d/Y H:i:s');?>';
		var entime	= endtime.replace(/-/g, "/");

        if((Date.parse(entime) - Date.parse(nows) <= 86400000) && (Date.parse(entime) - Date.parse(nows) > 0)) {
			var currTime = 0;
            var timeinterval = setInterval(function () {
                currTime 	= currTime-1000;
		  		var starttime 	= Date.parse(nows)-currTime;
                var t = getTimeRemaining(entime,starttime);

                if (t.days > 0) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.days + ' day(s) ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.days == 0 && t.hours > 0 && t.hours == 1) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.hours + ' hour ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.days == 0 && t.hours > 0 && t.hours !== 1) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i>  ' + t.hours + ' hours ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.hours == 0 && t.minutes > 0) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.minutes == 0 && t.seconds > 0) {
                    clock.innerHTML = '<a href="javascript:;"><b> <i class="fa fa-clock-o" style="font-size:20px;"></i> ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                /*clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.days + ' days ' +
                 ' '+ t.hours + ' hours ' +
                 ' ' + t.minutes + ' minutes ' +
                 ' ' + t.seconds+' seconds remaining. </b></a>';*/
                if (t.days == 0 && t.hours == 0 && t.minutes == 0 && t.seconds == 1) {
                    clearInterval(timeinterval);
                }
            }, 1000);
        } else {
			clock.innerHTML = '-';
		}
    }
    function getTimeRemaining(endtime,starttime) {
        var t = Date.parse(endtime) - starttime;
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }
       <?php if ($action == 'view') { ?>
    function viewMapInit() {
        var map1;
        var geocoder;
        var centerChangedLast;
        var reverseGeocodedLast;
        var currentReverseGeocodeResponse;
        var latlng_in;
         
        <?php if ($latitude && $longitude) { ?>
            latlng_in = new google.maps.LatLng(<?php echo $latitude . ',' . $longitude; ?>);
        <?php } ?>
        
        var myOptions1 = {
           zoom: 16,
           center: latlng_in,
           mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map1 = new google.maps.Map(document.getElementById("map_canvas"), myOptions1);
        var marker1 = new google.maps.Marker({
           position: latlng_in,
           map: map1,
           title: "<?php echo $name . ',' . $street_address_1 . ',' . $street_address_2 . ',' . $city . ',' . $state . ',' . $zip_code . ',' . $country; ?>"
        });
        geocoder = new google.maps.Geocoder();
    }
    google.maps.event.addDomListener(window, "load", viewMapInit);
       <?php }?>
</script>

<script>

    var userId;
    var country_code;
    <?php if($comSessObj->country ==""){ ?>
    /*$.getJSON("http://freegeoip.net/json/", function (data) {
        country_code = data.country_code;
        var country = data.country_name;
        var ip = data.ip;
        var time_zone = data.time_zone;
        var latitude = data.latitude;
        var longitude = data.longitude;
    });
    $(document).ready(function () {
        function triggerGoogleMap() {
            var map = $("#street_address_1").geocomplete("map");
            google.maps.event.trigger(map, 'resize');
        }

        currencycountry(country_code, 'countryCode');
    });*/

    <?php } ?>

</script>