<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });


    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        var passValidation = true;
        if (action == 'edit') {
            passValidation = false;
            if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
                passValidation = true;
            }
        }
        if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
        if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
        if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

        if (passValidation) {
            if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
            if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
        }
        if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
            $errStaus = true;
        }
        if (validateFormFields('type', 'Please select the account type.', ''))
             $errStaus = true;
        if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
             $errStaus = true;
        if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Service Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/seeker/people"> Seekers Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Trip Details</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add') { ?>
                <div class="row">

                </div>
            <?php } else { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Service Info</h3>
                        </div>
                        <div class="inner-tab">
                            <ul class="nav nav-tabs nav-tabs-new">
                            <li id="tripDetails_tab"><a  href="<?php echo $this->basePath(); ?>/admin/seekermanager?action=view&id=<?php echo $adminRow['ID']?>">Trip Details</a></li>
                                    <li id="locations_tab" ><a href="<?php echo $this->basePath(); ?>/admin/seekermanager?action=view&id=<?php echo $adminRow['ID']?>#locations">Origin Location Address</a></li>
                                    <li id="service_tab " class="active"><a data-toggle="tab" href="#service">Services</a></li>
                                 </ul>
                        </div>
                        <div class="tab-content">
                            <div id="tripDetails" class="tab-pane fade ">
                                <div class="col-xs-12">
                                    <div class="page-header text-left">
                                        <h3>Trip Info</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">User</label>
                                            <p><?php echo $email_address = (isset($adminRow['email_address']) && $adminRow['email_address'] != '') ? $adminRow['email_address'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Trip ID Number</label>
                                            <p><?php echo (isset($adminRow['trip_id_number']) && $adminRow['trip_id_number'] != '') ? $adminRow['trip_id_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Origin Location</label>
                                            <p><?php echo $adminRow['origin_location_city'] . ' ' . $adminRow['origin_location_country']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Destination Location</label>
                                            <p><?php echo $adminRow['destination_location_city'] . ' ' . $adminRow['destination_location_country']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Departure Date</label>
                                            <p><?php echo (isset($adminRow['departure_date']) && $adminRow['departure_date'] != '') ? $adminRow['departure_date'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">No Of Stops</label>
                                            <p><?php echo (isset($adminRow['noofstops']) && $adminRow['noofstops'] != '') ? $adminRow['noofstops'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket Number</label>
                                            <p><?php echo (isset($adminRow['ticket_number']) && $adminRow['ticket_number'] != '') ? $adminRow['ticket_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Airline Details</label>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Flight</th>
                                                        <th>Airline</th>
                                                        <th>Dept</th>
                                                        <th>Arr</th>
                                                        <th>Dept Dt</th>
                                                        <th>Arr Dt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <?php if(isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])){
                                                    $fNo = 1;
                                                    foreach($adminRow['airport_details'] as $flightRow){
                                                ?>
                                                <tr>
                                                    <td><?php echo  $fNo;?></td>
                                                    <td><?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:''?> - <?php echo isset($flightRow['airline_number'])?$flightRow['airline_number']:''?></td>
                                                    <td><?php echo isset($flightRow['departure'])?$flightRow['departure']:''?></td>
                                                    <td><?php echo isset($flightRow['arrival'])?$flightRow['arrival']:''?></td>
                                                    <td><?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:''?></td>
                                                    <td><?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?></td>
                                               </tr>
                                                <?php
                                                        $fNo++;
                                                    }
                                                }
                                                ?>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Cabin</label>
                                        <p><?php echo (isset($adminRow['cabin']) && $adminRow['cabin'] != '') ? $adminRow['cabin'] : '--'; ?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Booking Status</label>
                                        <p><?php echo (isset($adminRow['booking_status']) && $adminRow['booking_status'] != '') ? $adminRow['booking_status'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php if(isset($adminRow['travel_plan_reservation_type']) && $adminRow['travel_plan_reservation_type'] == '1'){ ?>
                                    <div class="page-header text-left">
                                        <h3>Reservation Details</h3>
                                    </div>
                                    <div class="page-header text-left">
                                        <h4>Who is your travel agent?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Name</label>
                                            <p><?php echo (isset($adminRow['travel_agency_name']) && $adminRow['travel_agency_name'] != '') ? $adminRow['travel_agency_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency URL</label>
                                            <p><?php echo (isset($adminRow['travel_agency_url']) && $adminRow['travel_agency_url'] != '') ? $adminRow['travel_agency_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Confirmation #</label>
                                            <p><?php echo (isset($adminRow['travel_agency_confirmation']) && $adminRow['travel_agency_confirmation'] != '') ? $adminRow['travel_agency_confirmation'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Contact Name</label>
                                            <p><?php echo (isset($adminRow['travel_agency_contact_name']) && $adminRow['travel_agency_contact_name'] != '') ? $adminRow['travel_agency_contact_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Phone</label>
                                            <p><?php echo (isset($adminRow['travel_agency_phone']) && $adminRow['travel_agency_phone'] != '') ? $adminRow['travel_agency_phone'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Agency Email</label>
                                            <p><?php echo (isset($adminRow['agency_email']) && $adminRow['agency_email'] != '') ? $adminRow['agency_email'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>How can you contact the supplier?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Name</label>
                                            <p><?php echo (isset($adminRow['supplier_name']) && $adminRow['supplier_name'] != '') ? $adminRow['supplier_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier URL</label>
                                            <p><?php echo (isset($adminRow['supplier_url']) && $adminRow['supplier_url'] != '') ? $adminRow['supplier_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Contact</label>
                                            <p><?php echo (isset($adminRow['supplier_contact']) && $adminRow['supplier_contact'] != '') ? $adminRow['supplier_contact'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Phone</label>
                                            <p><?php echo (isset($adminRow['supplier_phone']) && $adminRow['supplier_phone'] != '') ? $adminRow['supplier_phone'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Email</label>
                                            <p><?php echo (isset($adminRow['supplier_email']) && $adminRow['supplier_email'] != '') ? $adminRow['supplier_email'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>Where did you reserve it?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site Name</label>
                                            <p><?php echo (isset($adminRow['booking_site_name']) && $adminRow['booking_site_name'] != '') ? $adminRow['booking_site_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site URL</label>
                                            <p><?php echo (isset($adminRow['booking_site_url']) && $adminRow['booking_site_url'] != '') ? $adminRow['booking_site_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site Phone</label>
                                            <p><?php echo (isset($adminRow['booking_site_phone']) && $adminRow['booking_site_phone'] != '') ? $adminRow['booking_site_phone'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site Email</label>
                                            <p><?php echo (isset($adminRow['booking_site_email']) && $adminRow['booking_site_email'] != '') ? $adminRow['booking_site_email'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>What are the booking details?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Date</label>
                                            <p><?php echo (isset($adminRow['booking_date']) && $adminRow['booking_date'] != '') ? $adminRow['booking_date'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Reference #</label>
                                            <p><?php echo (isset($adminRow['booking_site_url']) && $adminRow['booking_site_url'] != '') ? $adminRow['booking_site_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Reservation is Purchased</label>
                                            <p>
                                                <?php if(isset($adminRow['reservation_is_purchased']) && $adminRow['reservation_is_purchased'] != ''){
                                                    echo ($adminRow['reservation_is_purchased'] != '1')?'Yes':'No';
                                                }
                                                else{
                                                    echo '--';
                                                } ?>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>What did you pay?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Total Cost</label>
                                            <p><?php echo (isset($adminRow['total_cost']) && $adminRow['total_cost'] != '') ? $adminRow['total_cost'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Total Cost Currency</label>
                                            <p><?php echo (isset($adminRow['total_cost_currency']) && $adminRow['total_cost_currency'] != '') ? $adminRow['total_cost_currency'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Comments/Restrictions</label>
                                            <p><?php echo (isset($adminRow['comments_restrictions']) && $adminRow['comments_restrictions'] != '') ? $adminRow['comments_restrictions'] : '--'; ?></p>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                        <div id="locations" class="tab-pane fade row ">
                            <div class="col-xs-12">
                                <div class="page-header text-left">
                                    <h3>Location Address Info</h3>
                                </div>
                                <?php
                                    $latitude = isset($adminRow['trip_location']['latitude']) && $adminRow['trip_location']['latitude'] ? $adminRow['trip_location']['latitude'] : '';
                                    $longitude = isset($adminRow['trip_location']['longitude']) && $adminRow['trip_location']['longitude'] ? $adminRow['trip_location']['longitude'] : '';
                                ?>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Address Type</label>
                                                <p><?php echo $name = (isset($adminRow['trip_location']['name']) && $adminRow['trip_location']['name'] != '') ? $adminRow['trip_location']['name'] : '--'; ?></p>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 1</label>
                                                <p><?php echo $street_address_1 = (isset($adminRow['trip_location']['street_address_1']) && $adminRow['trip_location']['street_address_1'] != '') ? $adminRow['trip_location']['street_address_1'] : '--'; ?></p>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 2</label>
                                                <p><?php echo $street_address_2 = (isset($adminRow['trip_location']['street_address_2']) && $adminRow['trip_location']['street_address_2'] != '') ? $adminRow['trip_location']['street_address_2'] : '--'; ?></p>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">City</label>
                                                <p><?php echo $city = (isset($adminRow['trip_location']['city']) && $adminRow['trip_location']['city'] != '') ? $adminRow['trip_location']['city'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">State</label>
                                                <p><?php echo $state = (isset($adminRow['trip_location']['state']) && $adminRow['trip_location']['state'] != '') ? $adminRow['trip_location']['state'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Zip Code</label>
                                                <p><?php echo $zip_code = (isset($adminRow['trip_location']['zip_code']) && $adminRow['trip_location']['zip_code'] != '') ? $adminRow['trip_location']['zip_code'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Country</label>
                                                <p><?php echo $country = (isset($adminRow['trip_location']['country']) && $adminRow['trip_location']['country'] != '') ? $adminRow['trip_location']['country'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="map1" style="width:300px; height:200px">
                                            <div id="map_canvas" style="width:100%; height:150%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div id="service" class="tab-pane fade active in ">
                            <div class="col-xs-12">
                            <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                <div class="page-header text-left">
                                    <h3>People Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Contact Name </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['contact_name']) && $adminRow['trip_people']['contact_name'] != '') ? $adminRow['trip_people']['contact_name'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Contact Number </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['contact_number']) && $adminRow['trip_people']['contact_number'] != '') ? $adminRow['trip_people']['contact_number'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Email Address </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['email_address']) && $adminRow['trip_people']['email_address'] != '') ? $adminRow['trip_people']['email_address'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="control-label">Member's Comments </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['comment']) && $adminRow['trip_people']['comment'] != '') ? $adminRow['trip_people']['comment'] : '--'; ?>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Number of passenger(s)</label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['passengers']) && $adminRow['trip_people']['passengers'] != '') ? $adminRow['trip_people']['passengers'] : '--'; ?>
                                        </p>
                                    </div>
                                    <?php
                                        if (isset($adminRow['trip_people_passangers']) && !empty($adminRow['trip_people_passangers'])) {
                                            $pNo = 1;
                                            foreach ($adminRow['trip_people_passangers'] as $passaRow) {
                                    ?>
                                    <div class="form-group col-md-12">
                                        <label class="control-label"><u>Details of passenger <?php echo $pNo; ?></u></label>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">First Name </label>
                                        <p>
                                            <?php echo (isset($passaRow['first_name']) && $passaRow['first_name'] != '') ? $passaRow['first_name'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label class="control-label">Last Name </label>
                                        <p>
                                            <?php echo (isset($passaRow['last_name']) && $passaRow['last_name'] != '') ? $passaRow['last_name'] : '--'; ?>
                                        </p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Gender </label>
                                        <p>
                                            <?php echo (isset($passaRow['gender']) && $passaRow['gender'] != '') ? $GENDER_TYPE[$passaRow['gender']] : '--'; ?>
                                        </p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Age </label>
                                        <p>
                                            <?php echo (isset($passaRow['age']) && $passaRow['age'] != '') ? $passaRow['age'] : '--'; ?>
                                        </p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Attachments </label>
                                        <p>
                                            <?php echo (isset($passaRow['attachmentDetails']) && $passaRow['attachmentDetails'] != false && count($passaRow['attachmentDetails']) > 0)?count($passaRow['attachmentDetails']):0; ?>
                                        </p>
                                        <?php if(isset($passaRow['attachmentDetails']) && $passaRow['attachmentDetails']){ ?>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No.</th>
                                                    <th>File name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($passaRow['attachmentDetails'] as $key => $attachment){ ?>
                                                <tr>
                                                    <td><?php echo ($key+1); ?></td>
                                                    <td><?php echo $attachment['seeker_attachment_name']; ?></td>
                                                    <td><a href="<?php echo $this->basePath().'/admin/download/seeker_people_attachment/'.$attachment['seeker_attachment_name'] ?>" ><?php echo 'Click here to downloand'; ?></a></td>
                                                </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                        <?php } else {
                                           echo '<p>No attachments found</p>';
                                        } ?>
                                    </div>
                                    <?php
                                                $pNo++;
                                            }
                                        }
                                    ?>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>
<script>
    function viewMapInit() {
        var map1;
        var geocoder;
        var centerChangedLast;
        var reverseGeocodedLast;
        var currentReverseGeocodeResponse;
        var latlng_in;
         
        <?php if ($latitude && $longitude) { ?>
            latlng_in = new google.maps.LatLng(<?php echo $latitude . ',' . $longitude; ?>);
        <?php } ?>
        
        var myOptions1 = {
           zoom: 16,
           center: latlng_in,
           mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map1 = new google.maps.Map(document.getElementById("map_canvas"), myOptions1);
        var marker1 = new google.maps.Marker({
           position: latlng_in,
           map: map1,
           title: "<?php echo $name . ',' . $street_address_1 . ',' . $street_address_2 . ',' . $city . ',' . $state . ',' . $zip_code . ',' . $country; ?>"
        });
        geocoder = new google.maps.Geocoder();
    }
    google.maps.event.addDomListener(window, "load", viewMapInit);
</script>