<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
 .map_canvas { 
     width: 380px; 
     height: 700px; 
     margin: 10px 20px 10px 0;
 }

 #multiple li { 
     cursor: pointer; 
     text-decoration: underline; 
 }
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        var passValidation = true;
        if (action == 'edit') {
            passValidation = false;
            if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
                passValidation = true;
            }
        }
        if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
        if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
        if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

        if (passValidation) {
            if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
            if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
        }
        if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
          $errStaus = true;
        }
        if (validateFormFields('type', 'Please select the account type.', ''))
          $errStaus = true;
        if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
            $errStaus = true;
        if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;

        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

    function doActionFn(action,id,listUri){
        console.log(id);
        if(action == 'list' || action == 'view'){
            window.location= '<?php echo $this->basePath().'/admin/travellermanager'; ?>?action='+action+'&id='+id+'&listUri='+listUri;
        }  else{
            if(action == 'approve' || action == 'verify'){
                $('#doAction').val(action);
                $('#ids').val(id);
                if (confirm("Are you sure you want to approve?")) {
                        $('#listFrm').submit();
                }	
           }  
 	}
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Service Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/traveller/people"> Traveller Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Trip Details</li>
                        </ol>
                   </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
                <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                            <div class="col-xs-12 msg_div">
                                <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <?php echo $message; ?>
                                </div>
                            </div>
                      <?php }  
                      } ?>
                 </div>
             <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add') { ?>
                <div class="row"></div>
            <?php } else { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tab-new">
                            <div class="page-header text-left">
                                <h3>Service Info</h3>
                            </div>
                            <div class="inner-tab">
                                <ul class="nav nav-tabs nav-tabs-new">
                                 <li id="tripDetails_tab"><a  href="<?php echo $this->basePath(); ?>/admin/travellermanager?action=view&id=<?php echo $adminRow['ID']?>">Trip Details</a></li>
                                    <li id="locations_tab" ><a href="<?php echo $this->basePath(); ?>/admin/travellermanager?action=view&id=<?php echo $adminRow['ID']?>#locations">Origin Location Address</a></li>
                                    <li id="service_tab " class="active"><a data-toggle="tab" href="#service">Services</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="tripDetails" class="tab-pane fade">
                                    <div class="page-header text-left">
                                        <h3>Trip Info</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">User</label>
                                            <p><?php echo $email_address = (isset($adminRow['email_address']) && $adminRow['email_address'] != '') ? $adminRow['email_address'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Trip ID Number</label> 
                                            <p><?php echo (isset($adminRow['trip_id_number']) && $adminRow['trip_id_number'] != '') ? $adminRow['trip_id_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Origin Location</label>
                                            <p><?php echo $adminRow['origin_location_city'] . ' ' . $adminRow['origin_location_country']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Destination Location</label>
                                            <p><?php echo $adminRow['destination_location_city'] . ' ' . $adminRow['destination_location_country']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Departure Date</label>
                                            <p><?php echo (isset($adminRow['departure_date']) && $adminRow['departure_date'] != '') ? $adminRow['departure_date'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">No Of Stops</label>
                                            <p><?php echo (isset($adminRow['noofstops']) && $adminRow['noofstops'] != '') ? $adminRow['noofstops'] : '--'; ?></p>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="form-group col-xs-12">
                                            <label class="control-label">Airline Details</label>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Flight</th>
                                                        <th>Airline</th>
                                                        <th>Dept</th>
                                                        <th>Arr</th>
                                                        <th>Dept Dt</th>
                                                        <th>Arr Dt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <?php if(isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])){
                                                    $fNo = 1;
                                                    foreach($adminRow['airport_details'] as $flightRow){
                                                ?>
                                                    <tr>
                                                        <td><?php echo  $fNo;?></td>
                                                        <td><?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:''?> - <?php echo isset($flightRow['airline_number'])?$flightRow['airline_number']:''?></td>
                                                        <td><?php echo isset($flightRow['departure'])?$flightRow['departure']:''?></td>
                                                        <td><?php echo isset($flightRow['arrival'])?$flightRow['arrival']:''?></td>
                                                        <td><?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:''?></td>
                                                        <td><?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?></td>
                                                   </tr>
                                               <?php
                                                        $fNo++;
                                                    }
                                                }
                                                ?>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label">Cabin</label>
                                            <p><?php echo (isset($adminRow['cabin']) && $adminRow['cabin'] != '') ? $adminRow['cabin'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Status</label>
                                            <p><?php echo (isset($adminRow['booking_status']) && $adminRow['booking_status'] != '') ? $adminRow['booking_status'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket</label>
                                            <p><?php if((isset($adminRow['ticket_image']) && $adminRow['ticket_image'] != '')){?>
                                                <a href="#ticket-popup" onclick="openTicketPopup();"  class="content-popup-link">
                                                    <img width="100" height="100" class="img-responsive" src="<?php echo $this->basePath();?>/public/uploads/tickets/<?php echo $adminRow['ticket_image']?>" alt="" title="">
                                                </a>
                                                <?php }else{
                                                    echo '--';
                                                }
                                                ?>
                                            </p>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket Number</label>
                                            <p><?php echo (isset($adminRow['ticket_number']) && $adminRow['ticket_number'] != '') ? $adminRow['ticket_number'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="page-header text-left">
                                            <h3>Reservation Details</h3>
                                        </div>
                                        <div class="page-header text-left">
                                            <h4>Who is your travel agent?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Name</label>
                                                <p><?php echo (isset($adminRow['travel_agency_name']) && $adminRow['travel_agency_name'] != '') ? $adminRow['travel_agency_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency URL</label>
                                                <p><?php echo (isset($adminRow['travel_agency_url']) && $adminRow['travel_agency_url'] != '') ? $adminRow['travel_agency_url'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Confirmation #</label>
                                                <p><?php echo (isset($adminRow['travel_agency_confirmation']) && $adminRow['travel_agency_confirmation'] != '') ? $adminRow['travel_agency_confirmation'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Contact Name</label>
                                                <p><?php echo (isset($adminRow['travel_agency_contact_name']) && $adminRow['travel_agency_contact_name'] != '') ? $adminRow['travel_agency_contact_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Phone</label>
                                                <p><?php echo (isset($adminRow['travel_agency_phone']) && $adminRow['travel_agency_phone'] != '') ? $adminRow['travel_agency_phone'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Agency Email</label>
                                                <p><?php echo (isset($adminRow['agency_email']) && $adminRow['agency_email'] != '') ? $adminRow['agency_email'] : '--'; ?></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4 label-status">
                                            <label class="control-label">Status</label>
                                            <p>
                                                <?php $pending = false;
                                                $listUri = 'admin/travellermanager?action=view&id='.$adminRow['ID'];
                                                if($adminRow['trip_status'] == 2) { 
                                                echo  '<span class="label label-danger" >Rejected</span>';
                                                } else if($adminRow['trip_status'] == 1) {
                                                    echo  '<span class="label label-success" >Approved</span>';
                                                } else { $pending = true;
                                                    echo '<span class="label label-primary">Awaiting Approval</span>';
                                                } ?>
                                            </p>
                                        </div>
                                        <?php if($adminRow['trip_status'] == 2) { ?>
                                             <div class="form-group col-md-4">
                                                <label class="control-label">Rejected Reason</label>
                                                <p>
                                                    <?php  echo (isset($adminRow['rejected_reason']) && !empty($adminRow['rejected_reason']))?$adminRow['rejected_reason']:'--'; ?>
                                                </p>
                                             </div>
                                        <?php } 
                                        if($pending){ ?>
                                        <form id="listFrm" action="<?php echo $_SERVER['REQUEST_URI'];?>" name="listFrm" method="post">
                                            <input type="hidden" id="doAction" name="doAction" value="">
                                            <input type="hidden" id="ids" name="ids" value="">
                                        </form>

                                        <div class="form-group col-md-6">
                                            <label class="control-label">Actions</label>
                                            <p>
                                                <div class="new-act-buttons disp_inline_fl"> 
                                                  <?php
                                                    echo '&nbsp;<button type="button" class="btn btn-warning btn-xs btn-approve" title="Approve" onClick="doActionFn(\'approve\','.$adminRow['ID'].',\''.$listUri.'\');">Approve</button>';
                                                    echo '&nbsp;<a href="#moreinfo-popup" onclick="setRPopValues('.$adminRow['ID'].',\''.$adminRow['trip_id_number'].'\',\''.$adminRow['email_address'].'\',\''.$adminRow['first_name'].'\')" class="content-popup-link"><button type="button" class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Request More Info" >Request More Info</button></a>';
                                                    echo '&nbsp;<a href="#reject-popup" onclick="setPopValues('.$adminRow['ID'].')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-delete  btn-reject" data-toggle="tooltip" title="Reject" >Reject</button></a>';
                                                ?>
                                                </div>
                                            </p>
                                        </div>
                                        <?php }?>
                                    </div>
                                </div>
                                <div id="locations" class="tab-pane fade">
                                    <div class="page-header text-left">
                                        <h3>Location Address Info</h3>
                                    </div>
                                    <?php
                                        $latitude = isset($adminRow['trip_location']['latitude']) && $adminRow['trip_location']['latitude'] ? $adminRow['trip_location']['latitude'] : '';
                                        $longitude = isset($adminRow['trip_location']['longitude']) && $adminRow['trip_location']['longitude'] ? $adminRow['trip_location']['longitude'] : '';
                                    ?>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Address Type</label>
                                                <p><?php echo $name = (isset($adminRow['trip_location']['name']) && $adminRow['trip_location']['name'] != '') ? $adminRow['trip_location']['name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 1</label>
                                                <p><?php echo $street_address_1 = (isset($adminRow['trip_location']['street_address_1']) && $adminRow['trip_location']['street_address_1'] != '') ? $adminRow['trip_location']['street_address_1'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 2</label>
                                                <p><?php echo $street_address_2 = (isset($adminRow['trip_location']['street_address_2']) && $adminRow['trip_location']['street_address_2'] != '') ? $adminRow['trip_location']['street_address_2'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">City</label>
                                                <p><?php echo $city = (isset($adminRow['trip_location']['city']) && $adminRow['trip_location']['city'] != '') ? $adminRow['trip_location']['city'] : '--'; ?></p> 
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">State</label>
                                                <p><?php echo $state = (isset($adminRow['trip_location']['state']) && $adminRow['trip_location']['state'] != '') ? $adminRow['trip_location']['state'] : '--'; ?></p> 
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Zip Code</label>
                                                <p><?php echo $zip_code = (isset($adminRow['trip_location']['zip_code']) && $adminRow['trip_location']['zip_code'] != '') ? $adminRow['trip_location']['zip_code'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Country</label>
                                                <p><?php echo $country = (isset($adminRow['trip_location']['country']) && $adminRow['trip_location']['country'] != '') ? $adminRow['trip_location']['country'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="map1" style="width:300px; height:200px">
                                            <div id="map_canvas" style="width:100%; height:150%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="service" class="tab-pane fade active in">
                                <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                <div class="page-header text-left">
                                    <h3>People Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number of person  in this travel</label>
                                        <p><?php echo (isset($adminRow['trip_people']['persons_travelling']) && $adminRow['trip_people']['persons_travelling'] != '') ? $adminRow['trip_people']['persons_travelling'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number of Male   </label>
                                        <p><?php echo (isset($adminRow['trip_people']['male_count']) && $adminRow['trip_people']['male_count'] != '') ? $adminRow['trip_people']['male_count'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number of Female     </label>
                                        <p><?php echo (isset($adminRow['trip_people']['female_count']) && $adminRow['trip_people']['female_count'] != '') ? $adminRow['trip_people']['female_count'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Any Person of age above 60   </label>
                                        <p><?php echo (isset($adminRow['trip_people']['age_above_60_years']) && $adminRow['trip_people']['age_above_60_years'] == '1') ?'Yes' : 'No'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Any Child below 5 Years Old   </label>
                                        <p><?php echo (isset($adminRow['trip_people']['age_below_3_years']) && $adminRow['trip_people']['age_below_3_years'] == '1') ?'Yes' : 'No';?></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Comments to this Seeker</label>
                                        <p><?php echo (isset($adminRow['trip_people']['comment']) && $adminRow['trip_people']['comment'] != '') ? $adminRow['trip_people']['comment'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php } ?>

                                <?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) { ?>
                                <div class="page-header text-left">
                                    <h3>Package Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">No of baggages carried</label>
                                        <p><?php echo (isset($adminRow['trip_package']['packages_count']) && $adminRow['trip_package']['packages_count'] != '') ? $adminRow['trip_package']['packages_count'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Weight allowed in airline per baggage </label>
                                        <p><?php echo (isset($adminRow['trip_package']['airline_allowed_weight']) && $adminRow['trip_package']['airline_allowed_weight'] != '') ? $adminRow['trip_package']['airline_allowed_weight'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Approx.weight carried by you over all    </label>
                                        <p><?php echo (isset($adminRow['trip_package']['weight_carried']) && $adminRow['trip_package']['weight_carried'] != '') ? $adminRow['trip_package']['weight_carried'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Approx.weight of baggage you can accommodate  </label>
                                        <p><?php echo (isset($adminRow['trip_package']['weight_accommodate']) && $adminRow['trip_package']['weight_accommodate'] != '') ?$adminRow['trip_package']['weight_accommodate'] : '--';?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Items that you don't wish to carry  </label>
                                        <p><?php echo (isset($adminRow['trip_package']['not_wish_to_carry']) && $adminRow['trip_package']['not_wish_to_carry'] != '') ?$adminRow['trip_package']['not_wish_to_carry'] : '--';?></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Comment's to this Seeker</label>
                                        <p><?php echo (isset($adminRow['trip_package']['comment']) && $adminRow['trip_package']['comment'] != '') ? $adminRow['trip_package']['comment'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php } ?>

                                <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) { ?>
                                <div class="page-header text-left">
                                    <h3>Product Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Category of tasks you wish to perform</label>
                                        <p><?php echo (isset($adminRow['trip_project']['trip']) && $adminRow['trip_project']['trip'] != '') ? $adminRow['trip_project']['trip'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Type </label>
                                        <p><?php echo (isset($adminRow['trip_project']['task']) && $adminRow['trip_project']['task'] != '') ? $adminRow['trip_project']['task'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Dates available   </label>
                                        <p><?php echo (isset($adminRow['trip_project']['dates_available']) && $adminRow['trip_package']['dates_available'] != '') ? $adminRow['trip_project']['dates_available'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">From & To Date  </label>
                                        <p><?php echo (isset($adminRow['trip_project']['weight_accommodate']) && $adminRow['trip_project']['weight_accommodate'] != '') ?$adminRow['trip_package']['weight_accommodate'] : '--';?></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Comment's to this Seeker</label>
                                        <p><?php echo (isset($adminRow['trip_project']['comment']) && $adminRow['trip_project']['comment'] != '') ? $adminRow['trip_project']['comment'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                        </div> 
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
<script>
    function viewMapInit() {
        var map1;
        var geocoder;
        var centerChangedLast;
        var reverseGeocodedLast;
        var currentReverseGeocodeResponse;
        var latlng_in;
       //var latlng_in = new google.maps.LatLng('<!?php echo $latitude.','.$longitude; ?>');
        <?php if ($latitude && $longitude) { ?>
        latlng_in = new google.maps.LatLng(<?php echo $latitude . ',' . $longitude; ?>);
        <?php } ?>


        //console.log('<!?php echo $latitude.','.$longitude; ?>');
        var myOptions1 = {
            zoom: 16,
            center: latlng_in,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map1 = new google.maps.Map(document.getElementById("map_canvas"), myOptions1);
        var marker1 = new google.maps.Marker({
            position: latlng_in,
            map: map1,
            title: "<?php echo $name . ',' . $street_address_1 . ',' . $street_address_2 . ',' . $city . ',' . $state . ',' . $zip_code . ',' . $country; ?>"
        });
        geocoder = new google.maps.Geocoder();
    }
    google.maps.event.addDomListener(window, "load", viewMapInit);
</script>

<div id="reject-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
                <h3 id="popupHead">Reject Reason</h3>
            </div>
            <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                <input type="hidden" name="trip_id" id="trip_id" > 
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="control-label" for="orderTrackInfo">Reason</label>
                        <br>
                        <textarea name="rejectReason" id="rejectReason" class = "form-control"></textarea> 
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12">
                      <p><button class="btn btn-primary" id="rejectBtn" value="true" type="submit" name="rejectBtn">Submit</button>
                      </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 
<div id="ticket-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
                <h3 id="popupHead">Ticket</h3>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <?php if((isset($adminRow['ticket_image']) && $adminRow['ticket_image'] != '')){?>
                    <img  class="img-responsive" src="<?php echo $this->basePath();?>/public/uploads/tickets/<?php echo $adminRow['ticket_image']?>" alt="" title="">
                   <?php }?>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="moreinfo-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
                <h3 id="popupHead">Request More Info</h3>
            </div>
         <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>" onsubmit="return validateRequestMoreinfoForm()">    
                <input type="hidden" name="trip_id" id="trip_id1" > 
                <input type="hidden" name="trip_id_number" id="trip_id_number" > 
                  <input type="hidden" name="email" id="email" > 
                   <input type="hidden" name="firstname" id="firstname" > 
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="control-label" for="orderTrackInfo">Message</label>
                        <br>
                        <textarea name="moreInfo" id="moreInfo" class = "form-control"></textarea> 
                        <p id="err_moreInfo" class="text-danger err_msg"></p>
                    </div>  
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12">
                      <p><button class="btn btn-primary" id="moreInfoBtn" value="true" type="submit" name="moreInfoBtn">Submit</button>
                      </p>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/magnific.css">
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/magnific.js"></script>
<script>
function setPopValues(id) {
    $('#trip_id').val(id);
    $.magnificPopup.open({ items: {src: '#reject-popup'},type: 'inline'}, 0);
}
function setRPopValues(id,trip_id_number,email,firstname) {
    $('#trip_id1').val(id);
     $('#trip_id_number').val(trip_id_number);
     $('#email').val(email);
      $('#firstname').val(firstname);
    $.magnificPopup.open({ items: {src: '#moreinfo-popup'},type: 'inline'}, 0);
}
function openTicketPopup() {
    $.magnificPopup.open({ items: {src: '#ticket-popup'},type: 'inline'}, 0);
}
function validateRequestMoreinfoForm(){
     clrErr();
        $errStaus = false;
        if (validateFormFields('moreInfo', 'Please enter the message.', ''))
            $errStaus = true;
         if ($errStaus) {
            return false;
        } else {
            return true;
        }
}
</script>