<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
 .map_canvas { 
     width: 380px; 
     height: 700px; 
     margin: 10px 20px 10px 0;
 }

 #multiple li { 
     cursor: pointer; 
     text-decoration: underline; 
 }
</style>
<?php if($action != 'view'){ ?>
    <script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
<?php }
else{ ?>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<?php } ?>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>
<script src="<?php echo $this->basePath() ?>/public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/bootstrap-timepicker.js"></script>
<script src="<?php echo $this->basePath() ?>/public/ad_assests/js/admin_common.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/dataTables.min.js"></script>
<link rel="stylesheet" href="<?php echo $this->basePath() ?>/public/css/jquery.dataTables.min.css">
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/typeahead.js"></script>
<link rel="stylesheet" href="<?php echo $this->basePath() ?>/public/css/jquery-ui.min.css">   
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/js/ionrangeslider.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath() ?>/public/colorpicker/js/colorpicker.js"></script>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/colorpicker/css/colorpicker.css">
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });
	
	$(document).ready(function () {
        var hash = window.location.hash.substr(1);
        console.log('hash' + hash);
        if (hash != '') {
            if (hash == 'price') {
                $(' a[href="#price"]').trigger('click');
            } else {
				$(' a[href="#'+hash+'"]').trigger('click');
			}
        }
    });

    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        var passValidation = true;
        if (action == 'edit') {
            passValidation = false;
            if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
                passValidation = true;
            }
        }
        if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
        if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
        if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

        if (passValidation) {
            if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
            if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
        }
        if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
          $errStaus = true;
        }
        if (validateFormFields('type', 'Please select the account type.', ''))
          $errStaus = true;
        if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
            $errStaus = true;
        if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;

        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

    function doActionFn(action,id,listUri){
        console.log(id);
        if(action == 'list' || action == 'view'){
            window.location= '<?php echo $this->basePath().'/admin/travellermanager'; ?>?action='+action+'&id='+id+'&listUri='+listUri;
        }  else{
            if(action == 'approve' || action == 'verify'){
                $('#doAction').val(action);
                $('#ids').val(id);
                if (confirm("Are you sure you want to approve?")) {
                        $('#listFrm').submit();
                }	
           }  
 	}
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Service Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/traveller/people"> Traveller Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Trip Details</li>
                        </ol>
                   </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
                <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                            <div class="col-xs-12 msg_div">
                                <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <?php echo $message; ?>
                                </div>
                            </div>
                      <?php }  
                      } ?>
                 </div>
             <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'edit') { ?>
                  <div class="row">
    <div class="col-xs-12">
        <div class="tab-new">
                        <div class="page-header text-left">
                            <h3>Service Info</h3>
                        </div>
                        <div class="inner-tab">
                            <ul class="nav nav-tabs nav-tabs-new">
                               <li id="tripDetails_tab" class="active"><a data-toggle="tab" href="#tripDetails">Trip Details</a></li>
                               <li id="locations_tab"><a data-toggle="tab" href="#locations">Origin Location Address</a></li>
                               <?php  if(isset($people_service_id) && !empty($people_service_id)){?>
                               <li id="people_tab"><a data-toggle="tab" href="#people">People Service</a></li>
                               <?php } if(isset($package_service_id) && !empty($package_service_id)){?>
                               <li id="package_tab"><a data-toggle="tab" href="#package">Package Service</a></li>
                                <?php } if(isset($project_service_id) && !empty($project_service_id)){?>
                               <li id="project_tab"><a data-toggle="tab" href="#project">Product Service</a></li>
                                <?php }?>
                            </ul>
                        </div>
         <form action="<?php echo $_SERVER['REQUEST_URI']?>" method="post" enctype="multipart/form-data" name="tripForm" id="tripForm">
      <div class="tab-content">
       <div id="tripDetails" class="tab-pane fade active in ">
        
        <input type="hidden" id="trip_edit_id" name="trip_edit_id" value="<?php echo $this->trip['ID']?>" >
         <input type="hidden" id="userid" name="userid" value="<?php echo $this->trip['user']?>" >
         <?php
        
             echo $this->render('includes/traveller-people-travel-plan.phtml');
         
        ?>   
       </div>
       <div id="locations" class="tab-pane fade  ">
         <?php echo $this->render('includes/origin-location-address.phtml');
           ?>   
       </div>
        <?php  if(isset($people_service_id) && !empty($people_service_id)){?>
       <div id="people" class="tab-pane fade  ">
         <?php echo $this->render('includes/add-people-service.phtml');
           ?>   
       </div>
        <?php } if(isset($package_service_id) && !empty($package_service_id)){?>
       <div id="package" class="tab-pane fade  ">
         <?php echo $this->render('includes/add-package-service.phtml');
           ?>   
       </div>
        <?php } if(isset($project_service_id) && !empty($project_service_id)){?>
       <div id="project" class="tab-pane fade  ">
         <?php  echo $this->render('includes/add-project-service.phtml');
           ?>   
       </div>
        <?php }?>
       
       </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
            </div>
        </div> 
         </form>
        </div>
     </div>
                </div>
            <?php } else { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tab-new">
                            <div class="page-header text-left">
                                <h3>Service Info</h3>
                            </div>
                            <div class="inner-tab">
                                <ul class="nav nav-tabs nav-tabs-new">
                                 <li id="tripDetails_tab"><a  href="<?php echo $this->basePath(); ?>/admin/travellermanager?action=view&id=<?php if(isset($adminRow['ID'])){echo $adminRow['ID'];}?>">Trip Details</a></li>
                                    <li id="locations_tab" ><a href="<?php echo $this->basePath(); ?>/admin/travellermanager?action=view&id=<?php  if(isset($adminRow['ID'])){ echo $adminRow['ID'];}?>#locations">Origin Location Address</a></li>
                                    <li id="service_tab " class="active"><a data-toggle="tab" href="#service">Services</a></li>
									<li id="price_tab " class=""><a data-toggle="tab" href="#price">Prices</a></li>
                                    <li id="received_request_tab " class=""><a data-toggle="tab" href="#received_request">Received Request</a></li>
                                    <li id="sent_request_tab " class=""><a data-toggle="tab" href="#sent_request">Sent Request</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="tripDetails" class="tab-pane fade">
                                    <div class="page-header text-left">
                                        <h3>Trip Info</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">User</label>
                                            <p><?php echo $email_address = (isset($adminRow['email_address']) && $adminRow['email_address'] != '') ? $adminRow['email_address'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Trip ID Number</label> 
                                            <p><?php echo (isset($adminRow['trip_id_number']) && $adminRow['trip_id_number'] != '') ? $adminRow['trip_id_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Origin Location</label>
                                            <p><?php echo $adminRow['origin_location_city'] . ' ' . $adminRow['origin_location_country']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Destination Location</label>
                                            <p><?php echo $adminRow['destination_location_city'] . ' ' . $adminRow['destination_location_country']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Departure Date</label>
                                            <p><?php echo (isset($adminRow['departure_date']) && $adminRow['departure_date'] != '') ? $adminRow['departure_date'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">No Of Stops</label>
                                            <p><?php echo (isset($adminRow['noofstops']) && $adminRow['noofstops'] != '') ? $adminRow['noofstops'] : '--'; ?></p>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="form-group col-xs-12">
                                            <label class="control-label">Airline Details</label>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Flight</th>
                                                        <th>Airline</th>
                                                        <th>Dept</th>
                                                        <th>Arr</th>
                                                        <th>Dept Dt</th>
                                                        <th>Arr Dt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <?php if(isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])){
                                                    $fNo = 1;
                                                    foreach($adminRow['airport_details'] as $flightRow){
                                                ?>
                                                    <tr>
                                                        <td><?php echo  $fNo;?></td>
                                                        <td><?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:''?> - <?php echo isset($flightRow['airline_number'])?$flightRow['airline_number']:''?></td>
                                                        <td><?php echo isset($flightRow['departure'])?$flightRow['departure']:''?></td>
                                                        <td><?php echo isset($flightRow['arrival'])?$flightRow['arrival']:''?></td>
                                                        <td><?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:''?></td>
                                                        <td><?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?></td>
                                                   </tr>
                                               <?php
                                                        $fNo++;
                                                    }
                                                }
                                                ?>
												test
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label">Cabin</label>
                                            <p><?php echo (isset($adminRow['cabin']) && $adminRow['cabin'] != '') ? $adminRow['cabin'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Status</label>
                                            <p><?php echo (isset($adminRow['booking_status']) && $adminRow['booking_status'] != '') ? $adminRow['booking_status'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket</label>
                                            <p><?php if((isset($adminRow['ticket_image']) && $adminRow['ticket_image'] != '')){?>
                                                <a href="#ticket-popup" onclick="openTicketPopup();"  class="content-popup-link">
                                                    <img width="100" height="100" class="img-responsive" src="<?php echo $this->basePath();?>/public/uploads/tickets/<?php echo $adminRow['ticket_image']?>" alt="" title="">
                                                </a>
                                                <?php }else{
                                                    echo '--';
                                                }
                                                ?>
                                            </p>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket Number</label>
                                            <p><?php echo (isset($adminRow['ticket_number']) && $adminRow['ticket_number'] != '') ? $adminRow['ticket_number'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="page-header text-left">
                                            <h3>Reservation Details</h3>
                                        </div>
                                        <div class="page-header text-left">
                                            <h4>Who is your travel agent?</h4>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Name</label>
                                                <p><?php echo (isset($adminRow['travel_agency_name']) && $adminRow['travel_agency_name'] != '') ? $adminRow['travel_agency_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency URL</label>
                                                <p><?php echo (isset($adminRow['travel_agency_url']) && $adminRow['travel_agency_url'] != '') ? $adminRow['travel_agency_url'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Confirmation #</label>
                                                <p><?php echo (isset($adminRow['travel_agency_confirmation']) && $adminRow['travel_agency_confirmation'] != '') ? $adminRow['travel_agency_confirmation'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Contact Name</label>
                                                <p><?php echo (isset($adminRow['travel_agency_contact_name']) && $adminRow['travel_agency_contact_name'] != '') ? $adminRow['travel_agency_contact_name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Travel Agency Phone</label>
                                                <p><?php echo (isset($adminRow['travel_agency_phone']) && $adminRow['travel_agency_phone'] != '') ? $adminRow['travel_agency_phone'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Agency Email</label>
                                                <p><?php echo (isset($adminRow['agency_email']) && $adminRow['agency_email'] != '') ? $adminRow['agency_email'] : '--'; ?></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4 label-status">
                                            <label class="control-label">Status</label>
                                            <p>
                                                <?php $pending = false;
                                                $listUri = 'admin/travellermanager?action=view&id='.$adminRow['ID'];
                                                if($adminRow['trip_status'] == 2) { 
                                                echo  '<span class="label label-danger" >Rejected</span>';
                                                } else if($adminRow['trip_status'] == 1) {
                                                    echo  '<span class="label label-success" >Approved</span>';
                                                } else { $pending = true;
                                                    echo '<span class="label label-primary">Awaiting Approval</span>';
                                                } ?>
                                            </p>
                                        </div>
                                        <?php if($adminRow['trip_status'] == 2) { ?>
                                             <div class="form-group col-md-4">
                                                <label class="control-label">Rejected Reason</label>
                                                <p>
                                                    <?php  echo (isset($adminRow['rejected_reason']) && !empty($adminRow['rejected_reason']))?$adminRow['rejected_reason']:'--'; ?>
                                                </p>
                                             </div>
                                        <?php } 
                                        if($pending){ ?>
                                        <form id="listFrm" action="<?php echo $_SERVER['REQUEST_URI'];?>" name="listFrm" method="post">
                                            <input type="hidden" id="doAction" name="doAction" value="">
                                            <input type="hidden" id="ids" name="ids" value="">
                                        </form>

                                        <div class="form-group col-md-6">
                                            <label class="control-label">Actions</label>
                                            <p>
                                                <div class="new-act-buttons disp_inline_fl"> 
                                                  <?php
                                                    echo '&nbsp;<button type="button" class="btn btn-warning btn-xs btn-approve" title="Approve" onClick="doActionFn(\'approve\','.$adminRow['ID'].',\''.$listUri.'\');">Approve</button>';
                                                    echo '&nbsp;<a href="#moreinfo-popup" onclick="setRPopValues('.$adminRow['ID'].',\''.$adminRow['trip_id_number'].'\',\''.$adminRow['email_address'].'\',\''.$adminRow['first_name'].'\')" class="content-popup-link"><button type="button" class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Request More Info" >Request More Info</button></a>';
                                                    echo '&nbsp;<a href="#reject-popup" onclick="setPopValues('.$adminRow['ID'].')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-delete  btn-reject" data-toggle="tooltip" title="Reject" >Reject</button></a>';
                                                ?>
                                                </div>
                                            </p>
                                        </div>
                                        <?php }?>
                                    </div>
                                </div>
                                <div id="locations" class="tab-pane fade">
                                    <div class="page-header text-left">
                                        <h3>Location Address Info</h3>
                                    </div>
                                    <?php
                                        $latitude = isset($adminRow['trip_location']['latitude']) && $adminRow['trip_location']['latitude'] ? $adminRow['trip_location']['latitude'] : '';
                                        $longitude = isset($adminRow['trip_location']['longitude']) && $adminRow['trip_location']['longitude'] ? $adminRow['trip_location']['longitude'] : '';
                                    ?>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Address Type</label>
                                                <p><?php echo $name = (isset($adminRow['trip_location']['name']) && $adminRow['trip_location']['name'] != '') ? $adminRow['trip_location']['name'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 1</label>
                                                <p><?php echo $street_address_1 = (isset($adminRow['trip_location']['street_address_1']) && $adminRow['trip_location']['street_address_1'] != '') ? $adminRow['trip_location']['street_address_1'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 2</label>
                                                <p><?php echo $street_address_2 = (isset($adminRow['trip_location']['street_address_2']) && $adminRow['trip_location']['street_address_2'] != '') ? $adminRow['trip_location']['street_address_2'] : '--'; ?></p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">City</label>
                                                <p><?php echo $city = (isset($adminRow['trip_location']['city']) && $adminRow['trip_location']['city'] != '') ? $adminRow['trip_location']['city'] : '--'; ?></p> 
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">State</label>
                                                <p><?php echo $state = (isset($adminRow['trip_location']['state']) && $adminRow['trip_location']['state'] != '') ? $adminRow['trip_location']['state'] : '--'; ?></p> 
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Zip Code</label>
                                                <p><?php echo $zip_code = (isset($adminRow['trip_location']['zip_code']) && $adminRow['trip_location']['zip_code'] != '') ? $adminRow['trip_location']['zip_code'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Country</label>
                                                <p><?php echo $country = (isset($adminRow['trip_location']['country']) && $adminRow['trip_location']['country'] != '') ? $adminRow['trip_location']['country'] : '--'; ?></p> 
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="map1" style="width:300px; height:200px">
                                            <div id="map_canvas" style="width:100%; height:150%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="service" class="tab-pane fade active in">
                                <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                <div class="page-header text-left">
                                    <h3>People Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number of person  in this travel</label>
                                        <p><?php echo (isset($adminRow['trip_people']['persons_travelling']) && $adminRow['trip_people']['persons_travelling'] != '') ? $adminRow['trip_people']['persons_travelling'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number of Male   </label>
                                        <p><?php echo (isset($adminRow['trip_people']['male_count']) && $adminRow['trip_people']['male_count'] != '') ? $adminRow['trip_people']['male_count'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number of Female     </label>
                                        <p><?php echo (isset($adminRow['trip_people']['female_count']) && $adminRow['trip_people']['female_count'] != '') ? $adminRow['trip_people']['female_count'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Any Person of age above 60   </label>
                                        <p><?php echo (isset($adminRow['trip_people']['age_above_60_years']) && $adminRow['trip_people']['age_above_60_years'] == '1') ?'Yes' : 'No'; ?></p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Any Child below 5 Years Old   </label>
                                        <p><?php echo (isset($adminRow['trip_people']['age_below_3_years']) && $adminRow['trip_people']['age_below_3_years'] == '1') ?'Yes' : 'No';?></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Comments to this Seeker</label>
                                        <p><?php echo (isset($adminRow['trip_people']['comment']) && $adminRow['trip_people']['comment'] != '') ? $adminRow['trip_people']['comment'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php } ?>

                                <?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) { ?>
                                <div class="page-header text-left">
                                    <h3>Package Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">No of baggages carried</label>
                                        <p><?php echo (isset($adminRow['trip_package']['packages_count']) && $adminRow['trip_package']['packages_count'] != '') ? $adminRow['trip_package']['packages_count'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Weight allowed in airline per baggage </label>
                                        <p><?php echo (isset($adminRow['trip_package']['airline_allowed_weight']) && $adminRow['trip_package']['airline_allowed_weight'] != '') ? $adminRow['trip_package']['airline_allowed_weight'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Approx.weight carried by you over all    </label>
                                        <p><?php echo (isset($adminRow['trip_package']['weight_carried']) && $adminRow['trip_package']['weight_carried'] != '') ? $adminRow['trip_package']['weight_carried'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Approx.weight of baggage you can accommodate  </label>
                                        <p><?php echo (isset($adminRow['trip_package']['weight_accommodate']) && $adminRow['trip_package']['weight_accommodate'] != '') ?$adminRow['trip_package']['weight_accommodate'] : '--';?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Items that you don't wish to carry  </label>
                                        <p><?php echo (isset($adminRow['trip_package']['not_wish_to_carry']) && $adminRow['trip_package']['not_wish_to_carry'] != '') ?$adminRow['trip_package']['not_wish_to_carry'] : '--';?></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Comment's to this Seeker</label>
                                        <p><?php echo (isset($adminRow['trip_package']['comment']) && $adminRow['trip_package']['comment'] != '') ? $adminRow['trip_package']['comment'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php } ?>

                                <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) { ?>
                                <div class="page-header text-left">
                                    <h3>Product Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Category of tasks you wish to perform</label>
                                        <p><?php echo (isset($adminRow['trip_project']['trip']) && $adminRow['trip_project']['trip'] != '') ? $adminRow['trip_project']['trip'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Type </label>
                                        <p><?php echo (isset($adminRow['trip_project']['task']) && $adminRow['trip_project']['task'] != '') ? $adminRow['trip_project']['task'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">Dates available   </label>
                                        <p><?php echo (isset($adminRow['trip_project']['dates_available']) && $adminRow['trip_package']['dates_available'] != '') ? $adminRow['trip_project']['dates_available'] : '--'; ?></p>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label">From & To Date  </label>
                                        <p><?php echo (isset($adminRow['trip_project']['weight_accommodate']) && $adminRow['trip_project']['weight_accommodate'] != '') ?$adminRow['trip_package']['weight_accommodate'] : '--';?></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Comment's to this Seeker</label>
                                        <p><?php echo (isset($adminRow['trip_project']['comment']) && $adminRow['trip_project']['comment'] != '') ? $adminRow['trip_project']['comment'] : '--'; ?></p>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>
							<div id="price" class="tab-pane fade active">
                            	<?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                        <div class="page-header text-left">
                                            <h3>People Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-8">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> <br>
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                No of Stops: <?php echo $adminRow['noofstops']; ?> = <?php echo $adminRow['stopsPrice']; ?> GBP <br>
                                                Distance (with no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                Sub Total (Country from - to + No of Stops + Distance): (<?php echo $adminRow['countryPrice'].' + '.$adminRow['stopsPrice'].' + '.$adminRow['distancePrice']; ?>) = <?php echo $adminRow['sub_total']; ?> GBP <br>
                                                No of Passengers: <?php echo $adminRow['passengerCount']; ?> <br>
                                                Total (Sub Total * No of Passengers - 20%): <?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['passengerCount'];?> - <?php echo (($adminRow['sub_total']/10)*2);?> = <?php echo $adminRow['service_fees']-(($adminRow['sub_total']/10)*2); ?> GBP <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['service_fees']-(($adminRow['sub_total']/10)*2); ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo ($adminRow['service_fees']-(($adminRow['sub_total']/10)*2))*$adminRow['conversion_rate']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br />

                                        <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo number_format(ceil(str_replace(',','',$adminRow['total_cost']))); ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        </span>

                                            </div>

                                        </div>
                                    <?php } ?>

								<?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) {  ?>
                                    <div class="page-header text-left">
                                        <h3>Package Service Fee</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-11">
                                            <label class="control-label">Estimated Service Earnings</label> <br>
                                            <?php //echo '<pre>'; print_r($adminRow); ?>
                                            Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                            Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                            No of Items: <?php echo $adminRow['trip_package']['packages_count']; ?> <br><br>
                                            <?php
                                            $i = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){ 
											?>
                                                <b>Item : <?php echo $i; ?></b><br>
                                                Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['item_category_price']['tot_item_price']; ?> GBP<br>
                                                Weight: <?php echo $items['weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                Worth of Item: <?php echo $items['item_worth']; ?> <?php echo $items['item_worth_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']?$items['item_price_price']['price_item_price']:0; ?> GBP<br>
                                                Sub Total of Item <?php echo $i; ?> :
                                                (Country from - to + Distance + Item Category * Item Weight + Item Price):
                                                (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                <?php
                                                $i++;
                                            }
                                            ?>

                                            Total (
                                            <?php
                                            $j = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($j > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                Sub Total of Item <?php echo $j; ?>
                                                <?php
                                                $j++;
                                            }
                                            ?>
                                            - 20%): (
                                            <?php
                                            $k = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($k > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                <?php echo $items['item_sub_total']; ?>
                                                <?php
                                                $k++;
                                            }
                                            ?>
                                             - 20%) = <?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> GBP

                                            <br>
                                            Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo ($adminRow['sub_total']-(($adminRow['sub_total']/10)*2))*$adminRow['conversion_rate']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                    <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                        <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                        <i class="price_tag_price" id="span_people_service_fee"><?php echo number_format(ceil(str_replace(',','',$adminRow['total_cost']))); ?></i>
                                        <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                    </span>

                                        </div>

                                        <!--<div class="form-group col-md-6">
                                        <label class="control-label">Estimated Service Fee For Seeker</label>
                                        <p style="font-size:36px;font-weight:bold;">&#xa3; <?php /*echo (isset($adminRow['trip_package']['package_service_fee'])) ? $adminRow['trip_package']['package_service_fee'] : '--'; */?></p>
                                    </div>-->

                                    </div>
                                <?php } ?>

                                <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) {  ?>
                                    <div class="page-header text-left">
                                        <h3>Project Service Fee</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-11">
                                            <label class="control-label">Estimated Service Earnings</label> <br>
                                            <?php //echo '<pre>'; print_r($adminRow); ?>
                                            Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                            Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                            No of Items: <?php echo $adminRow['trip_project']['packages_count']; ?> <br><br>
                                            <?php
                                            $i = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){ 
											?>
                                                <b>Item : <?php echo $i; ?></b><br>
                                                Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['item_category_price']['tot_item_price']; ?> GBP<br>
                                                Weight: <?php echo $items['weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                Worth of Item: <?php echo $items['item_worth']; ?> <?php echo $items['item_worth_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']?$items['item_price_price']['price_item_price']:0; ?> GBP<br>
                                                Sub Total of Item <?php echo $i; ?> :
                                                (Country from - to + Distance + Item Category * Item Weight + Item Price):
                                                (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                <?php
                                                $i++;
                                            }
                                            ?>

                                            Total (
                                            <?php
                                            $j = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($j > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                Sub Total of Item <?php echo $j; ?>
                                                <?php
                                                $j++;
                                            }
                                            ?>
                                            - 20%): (
                                            <?php
                                            $k = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($k > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                <?php echo $items['item_sub_total']; ?>
                                                <?php
                                                $k++;
                                            }
                                            ?>
                                             - 20%) = <?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> GBP

                                            <br>
                                            Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo ($adminRow['sub_total']-(($adminRow['sub_total']/10)*2))*$adminRow['conversion_rate']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                    <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                        <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                        <i class="price_tag_price" id="span_people_service_fee"><?php echo number_format(ceil(str_replace(',','',$adminRow['total_cost']))); ?></i>
                                        <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                    </span>

                                        </div>

                                        <!--<div class="form-group col-md-6">
                                        <label class="control-label">Estimated Service Fee For Seeker</label>
                                        <p style="font-size:36px;font-weight:bold;">&#xa3; <?php /*echo (isset($adminRow['trip_package']['package_service_fee'])) ? $adminRow['trip_package']['package_service_fee'] : '--'; */?></p>
                                    </div>-->

                                    </div>
                                <?php } ?>
                            </div>
                            <div id="received_request" class="tab-pane">
                                <div class="table-responsive table-responsive2">
                                <table class="table table-bordered table-hover tablesorter">
                                    <thead>
                                    <!--<input type="hidden" value="<?php /*echo $listUrl */?>" name="listUrl">-->
                                    <tr>
                                        <th style="width:20px;">#</th>
                                        <th> Sender Name </th>
                                        <th> Sender email ID </th>
                                        <th> Seeker Trip ID </th>
                                        <th> Traveler Trip ID</th>
                                        <th> Origin location </th>
                                        <th> Destination location</th>
                                        <th> Service Type</th>
                                        <th> Actual Fee</th>
                                        <th> Timer</th>
                                        <th> Service Status</th>
                                        <th> Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php
                                    if (count($seekerRequests) > 0) {
                                        $sno = 1;
                                        foreach ($seekerRequests as $request) {
                                            //print_r($request);die;
                                            ?>
                                            <tr>
                                                <td><?php echo $sno ?></td>
                                                <td><?php echo $request['trip']['first_name'].' '.$request['trip']['last_name'] ?></td>
                                                <td><?php echo $request['trip']['email_address']; ?></td>
                                                <td><?php echo $request['trip']['trip_id_number']; ?></td>
                                                <td><?php echo $adminRow['trip_id_number'] ?></td>
                                                <td><?php echo @current(explode('-',$request['trip']['trip_route'])); ?></td>
                                                <td><?php echo @end(explode('-',$request['trip']['trip_route'])); ?></td>
                                                <td><?php echo ucfirst($request['service_type']); ?></td>
                                                <td><?php echo $request['trip']['total_cost'].' GBP'; ?></td>
                                                <td class="re_timer" id="<?php echo $request['trip']['trip_id_number']; ?>_trimer" data-enddate="<?= date('m-d-Y H:i:s', strtotime( "+1 day",strtotime($request['modified'])));?>"></td>
                                                <td><?php echo $request['status']; ?></td>
                                                <td>
                                                    <button type="button" disabled="disabled" class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="" data-original-title="Enable"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="" data-original-title="Disable"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="" data-original-title="Edit"></button>
                                                    <button type="button" onclick="window.location.href='/admin/seekersrequestsmanager?id=<?php echo $request['ID']; ?>&tripId=<?php echo $request['trip']['ID'] ?>&service=<?php echo $request['service_type']; ?>&service_id=<?php echo $request[$request['service_type'].'_request']; ?>'" class="btn btn-info btn-xs btn-view" data-toggle="tooltip" title="" data-original-title="View"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="" data-original-title="Delete"></button></td>
                                            </tr>
                                            <?php
                                            $sno++;
                                        }
                                    }else {
                                        ?>

                                        <tr>
                                            <td colspan="7">No records found.</td>
                                        </tr>
                                        <?php
                                    }
                                    ?>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <div id="sent_request" class="tab-pane">
                                <div class="table-responsive table-responsive2">
                                <table class="table table-bordered table-hover tablesorter">
                                    <thead>
                                    <!--<input type="hidden" value="<?php /*echo $listUrl */?>" name="listUrl">-->
                                    <tr>
                                        <th style="width:20px;">#</th>
                                        <th> Traveler Trip ID</th>
                                        <th> Seeker Name </th>
                                        <th> Seeker Email ID</th>
                                        <th> Seeker Trip ID </th>
                                        <th> Origin location </th>
                                        <th> Destination location</th>
                                        <th> Service Type</th>
                                        <th> Actual Fee</th>
                                        <th> Timer</th>
                                        <th> Service Status</th>
                                        <th> Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php
                                    if (count($travellerRequests) > 0) {
                                        $sno = 1;
                                        foreach ($travellerRequests as $travellerRequest) {
                                            //print_r($travellerRequest);die;
                                            ?>
                                            <tr>
                                                <td><?php echo $sno ?></td>
                                                <td><?php echo $adminRow['trip_id_number'] ?></td>
                                                <td><?php echo $travellerRequest['trip']['first_name'].' '.$travellerRequest['trip']['last_name'] ?></td>
                                                <td><?php echo $travellerRequest['trip']['email_address']; ?></td>
                                                <td><?php echo $travellerRequest['trip']['trip_id_number']; ?></td>
                                                <td><?php echo @current(explode('-',$travellerRequest['trip']['trip_route'])); ?></td>
                                                <td><?php echo @end(explode('-',$travellerRequest['trip']['trip_route'])); ?></td>
                                                <td><?php echo ucfirst($travellerRequest['service_type']); ?></td>
                                                <td><?php echo $travellerRequest['trip']['total_cost'].' GBP'; ?></td>
                                                <td class="re_timer" id="<?php echo $travellerRequest['trip']['trip_id_number']; ?>_trimer" data-enddate="<?= date('m-d-Y H:i:s', strtotime( "+1 day",strtotime($travellerRequest['modified'])));?>"></td>
                                                <td><?php echo $travellerRequest['status']; ?></td>
                                                <td>
                                                    <button type="button" disabled="disabled" class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="" data-original-title="Enable"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="" data-original-title="Disable"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="" data-original-title="Edit"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-info btn-xs btn-view" data-toggle="tooltip" title="" data-original-title="View"></button>
                                                    <button type="button" disabled="disabled" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="" data-original-title="Delete"></button></td>
                                            </tr>
                                            <?php
                                            $sno++;
                                        }
                                    }else {
                                        ?>

                                        <tr>
                                            <td colspan="7">No records found.</td>
                                        </tr>
                                        <?php
                                    }
                                    ?>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        </div> 
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(e) {
        $('.re_timer').each(function(index, element) {
            changeRemainingTime($(this).attr('id'),$(this).attr('data-enddate'));
        });
    });
	function changeRemainingTime(id, endtime) {
        
		var clock 	= document.getElementById(id);
		var nows 	= '<?php echo date('m/d/Y H:i:s');?>';
		var entime	= endtime.replace(/-/g, "/");

        if((Date.parse(entime) - Date.parse(nows) <= 86400000) && (Date.parse(entime) - Date.parse(nows) > 0)) {
			var currTime = 0;
            var timeinterval = setInterval(function () {
                currTime 	= currTime-1000;
		  		var starttime 	= Date.parse(nows)-currTime;
                var t = getTimeRemaining(entime,starttime);

                if (t.days > 0) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.days + ' day(s) ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.days == 0 && t.hours > 0 && t.hours == 1) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.hours + ' hour ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.days == 0 && t.hours > 0 && t.hours !== 1) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i>  ' + t.hours + ' hours ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.hours == 0 && t.minutes > 0) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.minutes == 0 && t.seconds > 0) {
                    clock.innerHTML = '<a href="javascript:;"><b> <i class="fa fa-clock-o" style="font-size:20px;"></i> ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                /*clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.days + ' days ' +
                 ' '+ t.hours + ' hours ' +
                 ' ' + t.minutes + ' minutes ' +
                 ' ' + t.seconds+' seconds remaining. </b></a>';*/
                if (t.days == 0 && t.hours == 0 && t.minutes == 0 && t.seconds == 1) {
                    clearInterval(timeinterval);
                }
            }, 1000);
        } else {
			clock.innerHTML = '-';
		}
    }
    function getTimeRemaining(endtime,starttime) {
        var t = Date.parse(endtime) - starttime;
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }
       <?php if ($action != 'edit') { ?>
    function viewMapInit() {
        var map1;
        var geocoder;
        var centerChangedLast;
        var reverseGeocodedLast;
        var currentReverseGeocodeResponse;
        var latlng_in;
       //var latlng_in = new google.maps.LatLng('<!?php echo $latitude.','.$longitude; ?>');
        <?php if ($latitude && $longitude) { ?>
        latlng_in = new google.maps.LatLng(<?php echo $latitude . ',' . $longitude; ?>);
        <?php } ?>


        //console.log('<!?php echo $latitude.','.$longitude; ?>');
        var myOptions1 = {
            zoom: 16,
            center: latlng_in,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map1 = new google.maps.Map(document.getElementById("map_canvas"), myOptions1);
        var marker1 = new google.maps.Marker({
            position: latlng_in,
            map: map1,
            title: "<?php echo $name . ',' . $street_address_1 . ',' . $street_address_2 . ',' . $city . ',' . $state . ',' . $zip_code . ',' . $country; ?>"
        });
        geocoder = new google.maps.Geocoder();
    }
    google.maps.event.addDomListener(window, "load", viewMapInit);
       <?php }?>
</script>

<div id="reject-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
                <h3 id="popupHead">Reject Reason</h3>
            </div>
            <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                <input type="hidden" name="trip_id" id="trip_id" > 
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="control-label" for="orderTrackInfo">Reason</label>
                        <br>
                        <textarea name="rejectReason" id="rejectReason" class = "form-control"></textarea> 
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12">
                      <p><button class="btn btn-primary" id="rejectBtn" value="true" type="submit" name="rejectBtn">Submit</button>
                      </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 
<div id="ticket-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
                <h3 id="popupHead">Ticket</h3>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <?php if((isset($adminRow['ticket_image']) && $adminRow['ticket_image'] != '')){?>
                    <img  class="img-responsive" src="<?php echo $this->basePath();?>/public/uploads/tickets/<?php echo $adminRow['ticket_image']?>" alt="" title="">
                   <?php }?>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="moreinfo-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
                <h3 id="popupHead">Request More Info</h3>
            </div>
         <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>" onsubmit="return validateRequestMoreinfoForm()">    
                <input type="hidden" name="trip_id" id="trip_id1" > 
                <input type="hidden" name="trip_id_number" id="trip_id_number" > 
                  <input type="hidden" name="email" id="email" > 
                   <input type="hidden" name="firstname" id="firstname" > 
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="control-label" for="orderTrackInfo">Message</label>
                        <br>
                        <textarea name="moreInfo" id="moreInfo" class = "form-control"></textarea> 
                        <p id="err_moreInfo" class="text-danger err_msg"></p>
                    </div>  
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12">
                      <p><button class="btn btn-primary" id="moreInfoBtn" value="true" type="submit" name="moreInfoBtn">Submit</button>
                      </p>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/magnific.css">
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/magnific.js"></script>
<script>
function setPopValues(id) {
    $('#trip_id').val(id);
    $.magnificPopup.open({ items: {src: '#reject-popup'},type: 'inline'}, 0);
}
function setRPopValues(id,trip_id_number,email,firstname) {
    $('#trip_id1').val(id);
     $('#trip_id_number').val(trip_id_number);
     $('#email').val(email);
      $('#firstname').val(firstname);
    $.magnificPopup.open({ items: {src: '#moreinfo-popup'},type: 'inline'}, 0);
}
function openTicketPopup() {
    $.magnificPopup.open({ items: {src: '#ticket-popup'},type: 'inline'}, 0);
}
function validateRequestMoreinfoForm(){
     clrErr();
        $errStaus = false;
        if (validateFormFields('moreInfo', 'Please enter the message.', ''))
            $errStaus = true;
         if ($errStaus) {
            return false;
        } else {
            return true;
        }
}
</script>