<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if(isset($_POST) && !empty($_POST)){
    extract($_POST);
}
if(isset($adminRow) && !empty($adminRow)){
   // echo '<pre>';print_r($adminRow);'</pre>';
    extract($adminRow);
}
if(isset($adminRowSender) && !empty($adminRowSender)){
   // echo '<pre>';print_r($adminRow);'</pre>';
    extract($adminRowSender);
}
$ARRADMIN_TYPE = array('0'=>'Select UserType','2'=>'Admin','3'=>'Manager/Editor','4'=>'Tester or Impersonator','5'=>'Customer Support');
?>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });


    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
	
    function validateAccountForm() {
       clrErr();
       $errStaus = false;
       
        if (validateFormFields('sender_email', 'Please select the sender email.', ''))
            $errStaus = true;
        if (validateFormFields('receiver_email', 'Please select the receiver_email.', ''))
            $errStaus = true;
		if (validateFormFields('message', 'Please enter message text.', ''))
            $errStaus = true;
        //$errStaus = true;
        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }
function filter (element,what) {
    var value = $(element).val();
    value = value.toLowerCase().replace(/\b[a-z]/g, function(letter) {
        return letter.toUpperCase();
    });
//alert(value);
    if (value == '') {
        $('#'+what+' > li > a').show();
    }
    else {
        $('#'+what + ' > li > a:not(:contains(' + value + '))').hide();
        $('#'+what + ' > li > a:contains(' + value + ')').show();
    }
}
function selectUser(id,email){
	$('#userID').val(id);
	$('#username').val(email);
	$('#theList').attr('aria-expanded',false);
	$('#usernamediv').removeClass('open');
}
$(document).on('click','#username',function(){
	$('#theList').attr('aria-expanded',true);
	$('#usernamediv').addClass('open');
	$('#theList > li > a').show();
});
/*$(document).on('click','#subAdminBtn',function(e){
	if(!validateAccountForm()){
		e.preventDefault();
	}else{
		$('#accAdminFrm').submit();
	}
});*/
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
     <!-- Sidebar -->
     <div id="page-wrapper">
	 <div class="wrapper-inner">
            <div class="top-section">
        <div class="row">
            <div class="col-xs-12">
                <h2>User Review Details <small><?php echo isset($action)?ucfirst($action):'Add'?></small> </h2>
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                    <li>Administrators</li>
                    <li class="active"><?php echo isset($action)?ucfirst($action):'Add'?> Reviews List</li>
                </ol>
            </div>
        </div>
		</div>
        
        <!-- /.row -->
        <div id="messageRow">
        <?php if (!empty($flashMessages)){ ?>
         <div class="row">
          <?php foreach ($flashMessages as $msg) {
                  foreach ($msg as $type => $message) { ?>
            <div class="col-xs-12 msg_div">
             <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
               <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
            </div>
              <?php } 
              } ?>
          </div>
        <?php }?>
        </div>
        <div class="box-white">
            <?php if($action == 'edit' || $action == 'add'){ ?>
            <div class="row">
                 <div class="col-xs-12">
                     <form enctype="multipart/form-data" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                         <div class="page-header text-left">
                          <h3>User Reviews List</h3>
                         </div>
						 
                         <input type="hidden" name="id" value="<?php echo isset($RID)?$RID:'';?>">
                          <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                         <div class="row">
							 
                             <div class="form-group col-md-6">
                                 <label for="notification_type" class="control-label">Sender<span style="color:red;">&nbsp;*</span></label>
								 <select class="form-control required" id="sender_email" name="sender_email">
								 <?php 
								 foreach($userlist as $ul){ 								 
								 ?>
									<option value="<?php //$ul['ID'] ?>" <?php //if($ul['ID']==$ID){echo ' selected="selected"';} ?>><?= $ul['first_name'].' '.$ul['last_name'].' ('.$ul['email_address'].')';?></option>
								 <?php } ?>
								</select>
                                 <p id="err_notification_type" class="text-danger err_msg"></p>
                             </div>
							 <div class="form-group col-md-6">
                                 <label for="notification_type" class="control-label">Receiver<span style="color:red;">&nbsp;*</span></label>
								 <select class="form-control required" id="receiver_email" name="receiver_email">
									<?php foreach($userlist as $ul1){ ?>
									<option value="<?php //$ul1['ID'] ?>" <?php //if($ul1['ID']==$RID){ echo ' selected="selected"';} ?>><?= $ul1['first_name'].' '.$ul1['last_name'].' ('.$ul1['email_address'].')';?></option>
								 <?php } ?>
								 </select>
                                 <p id="err_notification_type" class="text-danger err_msg"></p>
                             </div>
							 <div class="form-group col-md-6">
                                 <label for="notification_type" class="control-label">Trips<span style="color:red;">&nbsp;*</span></label>
								 <select class="form-control required" id="trip_id" name="trip_id">
									<?php foreach($triplist as $ut){ ?>
									<option value="<?php //$ut['ID'] ?>" <?php //if($ut['ID']==$RID){ echo ' selected="selected"';} ?>><?= $ut['trip_id_number'];?></option>
								 <?php } ?>
								 </select>
                                 <p id="err_notification_type" class="text-danger err_msg"></p>
                             </div>
							 <div class="form-group col-md-6">
							 <label for="notification_type" class="control-label">User Rating<span style="color:red;">&nbsp;*</span></label>
							 <input type = "text" class="form-control" placeholder="User rating" value="<?php echo isset($rating)?$rating:''?>" id="rating" name="rating">
							 </div>
							
                         </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Notification" class="control-label">Message<span style="color:red;">&nbsp;*</span></label>
                                <textarea class="form-control" placeholder="User Review" value="<?php echo isset($message)?$message:''?>" id="message" name="message" rows="4"><?php echo isset($message)?$message:''?></textarea>
                                <p id="err_notification" class="text-danger err_msg"></p>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="<?php echo isset($RID)?'subEditBtn':'subAddBtn';?>">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            <?php }else if($action='view'){ ?>
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header text-left">
                        <h3>User Review Details View</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Username</label>
                            <p><?php echo ($full_name != '')?$full_name:'--' ?></p>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Email Address</label>
                            <p><?php echo ($email_address != '')?$email_address:'--' ?></p>
                        </div>
						<div class="form-group col-md-4">
                            <label class="control-label">Rating</label>
                            <p><img src="<?php echo $this->basePath(); ?>/public/img/star_<?php echo round($adminRow['rating'])?>.png"/></p>
                        </div>
						<!--div class="form-group col-md-4">
                            <label class="control-label">Read</label>
                            <p><?php //echo ($notification_read != '')?$notification_read:'--' ?></p>
                        </div-->
					</div>
                    <div class="row">
					   <div class="form-group col-md-4">
                            <label class="control-label">Trip</label>
                            <p><?php echo ($trip_id != '')?$trip_id:'--' ?></p>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Review</label>
                            <p><?php echo ($message != '')?$message:'--' ?></p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label class="control-label">Trepr Reviews</label>
							<?php foreach($reviewdetailsArr as $review){ ?>
                            <div class="row">
                                <div class="col-md-6"><?php echo $review['question']; ?></div>
                                <div class="col-md-2"><img src="<?php echo $this->basePath(); ?>/public/img/star_<?php echo str_replace('.', '_', $review['rating_val']); ?>.png"/></div>
                            </div>
							<?php } ?>                            
                        </div>
                        <div class="form-group col-md-7">
                            <label class="control-label">Traity Reviews</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <a href="<?php echo $this->basePath() ?>/admin/userreviewslist" class="btn btn-warning" id="resetBtn" name="resetBtn">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.multi-select').multiselect();
</script>
<style>
.open > .dropdown-menu {
    height: 200px;
    overflow-y: scroll;
}
</style>
