<?php
 $comSessObj = $this->common()->comSessObj;
 $actionUrl = $this->basePath().'/admin/users/travellerenqlist';
 $searchArray = array(
			'first_name' 		=> 'Firstname',
			'email_address' 		=> 'Email'
			
);

$filterByStatus = array(
			'Disabled'	=> 'Disabled',
			'Enabled'	=> 'Enabled'
			 
);
$buttonAction ='';$buttonName = 'Reset';
if(!empty($_GET)){
	$buttonName = 'Back To List';
	$backUrl =$actionUrl;
    $buttonAction = "window.location.href='".$backUrl."'";
}
 $ARRADMIN_TYPE = array('0'=>'Select UserType','2'=>'Admin','3'=>'Manager/Editor','4'=>'Tester or Impersonator','5'=>'Customer Support');

?>
 <script type="text/javascript">
 function doActionFn(action,id){
	 if(action == 'edit' || action == 'view'){
			window.location= '<?php echo $this->basePath().'/admin/users/travellerenqlistmanager'; ?>?action='+action+'&id='+id;
	}else{
		 $('#doAction').val(action);	
 		 if(id != 'all' && $('#checked_'+id).length){
			 $('.checkedAll').prop('checked',false); 	
			 $('#checked_'+id).prop('checked',true); 
		  }
		 var checkBox = false;
		$.each($("input[name='ids[]']:checked"), function() {
			checkBox =  true;
		});
 		 if(checkBox == false){
			$('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');	 
 			return false;
		 }
		 if(action == 'delete'){
			if (confirm("Are you sure you want to delete?")) {
				$('#listFrm').submit();
			}	
		} else{
			$('#listFrm').submit();
		}
 	}
  }

</script>
<div id="wrapper">
   <?= $this->render('layout/admin-header.phtml') ?>
  <!-- Sidebar -->
  <div id="page-wrapper">
    <div class="wrapper-inner">
      <div class="row">
        <div class="col-xs-12">
          <h2>Traveller Enquiries  <small>List</small> </h2>
          <ol class="breadcrumb">
            <li><a href="<?php echo $this->basePath();?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
            <li class="active">Notifications</li>
            <li class="active">Traveller Enquiries List</li>
            <li class="pull-right"><a href="<?php echo $this->basePath();?>/admin/users/travellerenqlistmanager"> +  Traveller Enquiries List </a></li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div id="messageRow">
         <?php
if (!empty($flashMessages)){
    ?>
   <div class="row">
    <?php 
        foreach ($flashMessages as $msg) {
            foreach ($msg as $type => $message) {
    ?>
      <div class="col-xs-12 msg_div">
       <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
         <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
      </div>
        <?php } ?>
<?php } ?>
</div>
<?php }?>
              </div>
      <div class="box-white">
      <div class="row ">
        <div class="col-xs-12">
          <div class="searchbox-wrap">
            <div class="page-header text-left">
              <h3>Search</h3>
            </div>
            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl?>"> 
             <div class="row">
              <div class="form-group col-md-4">
                <label for="searchKey" class="control-label">Search Key</label>
                <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey'])?$filterData['searchKey']:''?>" name="searchKey">              </div>
              <div class="form-group col-md-4">
                <label for="searchBy" class="control-label">Search By</label>
                <select id="searchBy" class="form-control" name="searchBy">
<option selected="selected" value="">Select</option>
  <?php if(is_array($searchArray)){
					foreach($searchArray as $key => $val){
                                           $searchBy =  isset($filterData['searchBy'])?$filterData['searchBy']:'';
						$selected = ($key == $searchBy)?'selected="selected"':'';
						?>
                <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                <?php
					}
				}?>
</select>              </div>
              <div class="form-group col-md-4">
                <label for="searchStatus" class="control-label">Status</label>
                <select id="searchStatus" class="form-control" name="searchStatus">
<option value="all">All</option>
  <?php if(is_array($filterByStatus)){
					foreach($filterByStatus as $key => $val){
                                             $searchStatus =  isset($filterData['searchStatus'])?$filterData['searchStatus']:'';
						$selected2 = ($key == $searchStatus)?'selected="selected"':'';
						?>
                <option value="<?php echo $key ?>" <?php echo $selected2 ?>><?php echo $val ?></option>
                <?php
					}
				}?>
</select>              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;<button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>              </div>
            </div>
            </form></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="admin-list">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="page-header text-left">
                <div class="disp_inline_fl">
                  <h3>Traveller Enquiries List</h3>
                  </div>
                  <div class="disp_dropdown">
                   
                  
                </div>
                </div>
              </div>
              
            </div>
           <?php
            $sortBy = 'first_name';$sortOrder = 'desc';
            $arrGet =$_GET;
                if(isset($_GET['sortBy']) && isset($_GET['sortOrder']) &&  $_GET['sortBy'] && $_GET['sortOrder']){
                        $sortBy = $_GET['sortBy'];$sortOrder = $_GET['sortOrder'];
                }
               if(isset($arrGet)){
                       unset($arrGet['sortBy']); unset($arrGet['sortOrder']);
                        $listUrl  = $this->basePath().'/admin/users/travellerenqlist?'. http_build_query($arrGet);
                        $listUrl1  = $this->basePath().'/admin/users/travellerenqlist?'. http_build_query($arrGet);
               }
           ?>
            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl?>"><input type="hidden" id="doAction" value="" name="doAction">            <div class="table-responsive table-responsive2">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                                  <input type="hidden" value="<?php echo $listUrl?>" name="listUrl">
                <tr>
                  <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" >                 </th>
                  <th style="width:20px;">#</th>
                  <th onclick="doSort('create_date','<?php echo  $listUrl;?>');" class="doSort-cursor">Date <i id="sort_date" class="fa <?php if($sortBy != 'create_date')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                  <th onclick="doSort('first_name','<?php echo  $listUrl;?>');" class="doSort-cursor">Sender Name<i id="sort_sender" class="fa  <?php if($sortBy != 'first_name')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
				  <th onclick="doSort('email_address','<?php echo  $listUrl;?>');" class="doSort-cursor">Sender Email<i id="sort_message" class="fa  <?php if($sortBy != 'email_address')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
				  <th onclick="doSort('message','<?php echo  $listUrl;?>');" class="doSort-cursor">Message <i id="sort_message" class="fa  <?php if($sortBy != 'message')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
				  
				  
                 
                  
                  <th style="width:100px">Status</th>
                  <th style="width:170px;">Action</th>
                </tr>
                  </thead>
                
                <tbody>
                 <?php
                
                 if(!empty($paginator)){ // currentPageNumber
                   
                      $sno = (($paginator->getCurrentPageNumber()-1) * $paginator->getItemCountPerPage())+1;
                     foreach($paginator as $adminRow){
                         
                         ?>
                 <tr>
                    <td>
                     <input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $adminRow['ID']?>" value="<?php echo $adminRow['ID']?>" name="ids[]">              </td>
                       <td><?php echo  $sno ?></td>
                    <td><?php echo date('F d, Y',strtotime($adminRow['create_date']))?></td>
                    <td><?php echo $adminRow['sender_id']?></td>
					<td><?php echo $adminRow['senderemail']?></td>
					<td><?php echo $adminRow['message']?></td>
					
                     
                    
                    <td><?php if($adminRow['active']  == 1)echo '<span class="label label-success">Enabled</span>';else echo '<span class="label label-warning">Disabled</span>';?></td>
                    <td><?php 				 
                            if($adminRow['active'] == 0){
                                    $enabled = 'disabled';
                            } else $enabled = ''; if($adminRow['active'] == 1){
                                    $disabled = 'disabled';
                            } else $disabled = '';

                            echo '<button type="button" '.$disabled.' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$adminRow['ID'].');"></button>';
                            echo '<button type="button" '.$enabled.' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$adminRow['ID'].');"></button>';
                            echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'edit\','.$adminRow['ID'].');"></button>';
                            echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'view\','.$adminRow['ID'].');"></button>';
                            echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\','.$adminRow['ID'].');"></button>';
                    ?></td>
                  </tr>
                 <?php
                        $sno++; 
                     }
                 }else{
                     ?>
                  
                  <tr>
                   <td colspan="7">No records found.</td>
                  </tr>
                  <?php
                 }
                 ?>
                 
                                    
                      
                                  </tbody>
              </table>
            </div>
            </form> </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <div class="new-act-buttons disp_inline_fl">
            <p><span class="w-select">With Selected</span>
              <button onclick="doActionFn('enable','all');" title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Enable</button>
              <button onclick="doActionFn('disable','all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Disable</button>
              <button onclick="doActionFn('delete','all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
            </p>
          </div>
          <div class="disp_dropdown">
           
            <p></p>
          </div>
        </div>
       
        <div class="form-group col-md-12 text-right">
          <div class="new-pagnav">
           <?php  echo $this->paginationControl(
                $this->paginator,
                'sliding',
                'layout/paginator.phtml'
            );
          
          ?>
                      </div>
        </div>
      </div>
      <div id="showActionErr"></div>
    </div>
    </div>
  </div>
</div>

