<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
$arrPhotos = $arrVideos = $arrTrustVerify = $circlesArr = $arrReviews = $arrReference = array();
if(isset($_POST) && !empty($_POST)){
    extract($_POST);
}
if(isset($adminRow) && !empty($adminRow)){
//    echo '<pre>';print_r($adminRow);exit;
    extract($adminRow);
}
if($ID) {
    $dataArr['userId'] = $ID;
    $arrPhotos = $this->AdminUserModel->userPhotos($dataArr);
    $arrVideos = $this->AdminUserModel->userVideos($dataArr);
    $arrTrustVerify = $this->AdminUserModel->getUserVerification($dataArr);    
    $arrApprovedVerify = $this->AdminUserModel->getUserVerification(array('userId'=>$ID,'approved' => 1 ));     
    $arrRejectedVerify = $this->AdminUserModel->getUserVerification(array('userId'=>$ID,'rejected' => 1 ));
    $circlesArr = $this->AdminUserModel->treperZoneFriends($ID);
    $arrReference = $this->AdminUserModel->getUserReferences($dataArr);
    $reviews  = $this->AdminUserModel->getreviews( $ID);
   // echo '<pre>';var_dump($reviews);exit;
}
?>

<style type="text/css">
    .map_canvas { 
        width: 380px; 
        height: 700px; 
        margin: 10px 20px 10px 0;
    }

    #multiple li { 
        cursor: pointer; 
        text-decoration: underline; 
    }
</style>


<script type="text/javascript">
  
     function validateVideoForm(){
        /*/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;*/
        var re = /^(http[s]?:\/\/)(?:www\.)?(vimeo|youtube)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/;
        var isError = false;
        $(".form-group").removeClass("has-success has-warning has-error");
        $(".err_msg").html("");
        
        if (isError == false) {
            return true;
        }else {
            return false;
        }
    }
    function validateAccountForm() {
       clrErr();
       $errStaus = false;
       var re = /^(http[s]?:\/\/)(?:www\.)?(vimeo|youtube)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/;
       var action = '<?php echo $action  ?>';
       if (validateFormFields('user_id', 'Please select user.', '')) $errStaus = true; 
        if ($('#videoUrl').val() == '' || $('#videoUrl').val() == undefined) {
            setMsg('videoUrl', 'Please enter video url!');$errStaus = true;
        }
        else if (!re.test($('#videoUrl').val())) { 
            setMsg('videoUrl', 'Please enter valid Youtube or Vimeo video url!');$errStaus = true;
        } else{
            var vUrl = $('#videoUrl').val(),
                youtube_regex = /^(http[s]?:\/\/)(?:www\.)?(youtube)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/,
                vimeo_regex = /^(http[s]?:\/\/)(?:www\.)?(vimeo)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/;
            if (youtube_regex.test($('#videoUrl').val())){
                $('#parserType').val('youtube');
                var uTubeRegex = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/,
                    res = vUrl.match(uTubeRegex);
                $('#videoUrlId').val(res[1]);
            }else if(vimeo_regex.test($('#videoUrl').val())){
                $('#parserType').val('vimeo');
                var vimeoRegex = /https?:\/\/(?:www\.|player\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|video\/|)(\d+)(?:$|\/|\?)/,
                    res = vUrl.match(vimeoRegex);
                $('#videoUrlId').val(res[3]);
            }
        }
        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
     <!-- Sidebar -->
     <div id="page-wrapper">
         <div class="wrapper-inner">
             <div class="top-section">
        <div class="row">
            <div class="col-xs-12">
                <h2>User Video <small><?php echo isset($action)?ucfirst($action):'Add'?></small> </h2>
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                    <li>User Accounts</li>
                    <li><a href="<?php echo $this->basePath(); ?>/admin/users/uservideos"> User Video List </a></li>
                    <li class="active"><?php echo isset($action)?ucfirst($action):'Add'?> User Videos</li>
                </ol>
            </div>
        </div></div>
        <!-- /.row -->
        <div id="messageRow">
        <?php if (!empty($flashMessages)){ ?>
         <div class="row">
            <?php foreach ($flashMessages as $msg) {
                  foreach ($msg as $type => $message) { ?>
            <div class="col-xs-12 msg_div">
             <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
               <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
            </div>
              <?php } 
              } ?>
          </div>
        <?php }?>
        </div>
        <div class="box-white">
            <?php 
            if($action != 'add') {  ?>
                <div class="tab-new">
                        <ul class="nav nav-tabs nav-tabs-new">
                            <li class="active"><a data-toggle="tab" href="#personal_info">Personal Info</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/useraddressmanager?action=list&id='.$user_id.'#address_book'?>" id="addressBook_tab">My Addresses</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usertrustverificationmanager?action=list&id='.$user_id.'&listUri=pending'?>">Trust &amp; Verification</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#my_circles'?>">My Circles</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#reviews'?>">Reviews</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#references'?>">References</a></li>
                        </ul>
                    

                      
            <?php } ?>
                     <div class="tab-content">
                        <div id="personal_info" class="tab-pane fade active in">
                                
                            <?php 
            if($action != 'add') {  ?>
                                <div class="inner-tab">
                                    <ul class="nav nav-tabs nav-tabs-new">
                                        <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#personalDetails'?>">Personal Details</a></li>
                                        <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#photos'?>">Photos</a></li>
                                        <li  class="active"><a data-toggle="tab" href="#videos">Videos</a></li>
                                        

                                    </ul>

                                </div>
            <?php }
            if($action == 'edit' || $action == 'add'){ ?>
            <div id="videos" class="tab-pane fade active in row">
                <br>
                <div class="col-xs-12">
                    <div class="page-header text-left">
                        <h3>Video Details</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                    <form id="geoAddrForm" enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                       
                        <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                        <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                        <input type="hidden" name="parserType" id="parserType" value="" />
                        <input type="hidden" name="videoUrlId" id="videoUrlId" value="" />
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    
                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">User <span style="color:red;">&nbsp;*</span></label>
                                        <input type="text" class="form-control required" autocomplete="off" data-provide="typeahead" id="user_id" name="user_id"> 
                                        <p id="err_user_id" class="text-danger err_msg"></p>
                                    </div>
                                
                                     <div id="div_videoUrl" class="form-group col-md-12">
                                        <label for="videoUrl" class="control-label">Video Url<span style="color:red;">&nbsp;*</span></label>
                                        <input type="text" class="form-control required" value="<?php echo isset($user_video_url)?$user_video_url:''; ?>"  id="videoUrl" name="videoUrl"> 
                                        <p>Note: Please add youtube or vimeo video urls</p>
                                        <p id="err_videoUrl" class="text-danger err_msg"></p>
                                    </div>
                                    
                                     
                                   
                                    
                                </div>
                            </div>
                            <div class="col-xs-6">
                             <div class="map_canvas" style="width:100%; height:100px">
                              
                              <?php
                              if(isset($adminRow['videoUrl']) && !empty($adminRow['videoUrl'])){
                              echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/profile_picture/medium/'.$adminRow['videoUrl'].'" alt="" title="">';
                              echo '<input type="hidden" name="videoUrl_txt" value="'.$adminRow['videoUrl'].'">';
                              }
                              
                              
                              ?>   
                              
                             </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 
                        </div>
                    </div>
                </div>
            </div>
          <?php } else if($action == 'view') { ?>
			
			 <div id="videos" class="tab-pane  fade active in row">
                                             <div class="page-header text-left">
											 
                                                <h3>Videos Info</h3>
                                            </div>
                                            <div class="video-gallery">
                                                <div class="row">
                                                <?php if(is_array($arrVideos) && !empty($arrVideos)) { $i=1; 
                                                    foreach($arrVideos as $myVideo) { 
                                                        $thumbImg = ''; $watchUrl = ''; $playBtn = '/img/vimeo-play.png';
                                                if($myVideo['video_parser_type'] == 'youtube'){
                                                    $thumbImg = "http://img.youtube.com/vi/".$myVideo['video_url_id']."/0.jpg";
                                                    $watchUrl = "https://www.youtube.com/watch?v=".$myVideo['video_url_id'];
                                                    $playBtn = "/img/youtube-play.png";

                                                }else if($myVideo['video_parser_type'] == 'vimeo'){
                                                    $thumbImg = "http://i.vimeocdn.com/video/".$myVideo['video_url_id']."_480x360.jpg";
                                                    $watchUrl = "https://vimeo.com/".$myVideo['video_url_id'];
                                                    $playBtn = "/img/vimeo-play.png";
                                                }
                                            ?>
                                            <div class="col-md-3 col-sm-4">
                                                <div class="form-group">
                                                    <img src="<?php echo $thumbImg; ?>">
                                                    <div class="video-link"> <a class="popup-video" href="<?php echo $watchUrl ?>">
                                                            <img src="<?php echo $this->basePath().$playBtn; ?>" alt="" title="" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                                        <?php
                                                    }
                                                } else echo 'No videos'; ?>
                                                </div>
                                            </div>
                                       
                                          
                                        
                                    </div>
								<?php } ?>
			
			
                        </div>
        </div>
    </div></div>
</div>

<script type="text/javascript">
    $('.multi-select').multiselect();
    $(document).ready(function(){
        $("#user_id").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
            theme: "facebook",
            tokenLimit: 1,
            <?php if(isset($userPrePop)){ ?>
            prePopulate: <?php echo $userPrePop; ?>
            <?php } ?>
        });
    });
    
    
</script>