<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath().'/admin/users/usertrustverification';
$searchArray = array(
    'first_name'    => 'Firstname',
    'identity_name'    => 'Identity Type',
     
); 

$filterByStatus = array(
    'Disabled' => 'Disabled',
    'Enabled' => 'Enabled'
);
$buttonAction ='';$buttonName = 'Reset';
if(!empty($_GET)){
	$buttonName = 'Back To List';
	$backUrl =$actionUrl;
    $buttonAction = "window.location.href='".$backUrl."'";
}

 
?>
 <script type="text/javascript">
 function doActionFn(action,id,listUri){ 
        console.log(id);
        //if(action == 'list' || action == 'view'){
		if(action == 'edit' || action == 'view'|| action == 'list' || action == 'show'){
            window.location= '<?php echo $this->basePath().'/admin/users/usertrustverificationmanager'; ?>?action='+action+'&id='+id+'&listUri='+listUri;
        }  else{
            if(action == 'approve' || action == 'verify'){
                $('#doAction').val(action);
                $('#ids').val(id);
                
                if (confirm("Are you sure you want to approve?")) {
                        $('#listFrm').submit();
                }	
           }  
 	}
	//alert('test');
  }

</script>
<div id="wrapper">
   <?= $this->render('layout/admin-header.phtml') ?>
  <!-- Sidebar -->
  <div id="page-wrapper">
    <div class="wrapper-inner">
        <div class="top-section">
      <div class="row">
        <div class="col-xs-12">
          <h2>User Trust Verification  <small>List</small> </h2>
          <ol class="breadcrumb">
            <li><a href="<?php echo $this->basePath();?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
            <li class="active">User Accounts</li>
            <li class="active">User Trust Verification List</li>
             
          </ol>
        </div>
      </div></div>
      <!-- /.row -->
      <div id="messageRow">
         <?php
if (!empty($flashMessages)){
    ?>
   <div class="row">
    <?php 
        foreach ($flashMessages as $msg) {
            foreach ($msg as $type => $message) {
    ?>
      <div class="col-xs-12 msg_div">
       <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
         <span aria-hidden="true">Ã—</span></button><?php echo $message; ?></div>
      </div>
        <?php } ?>
        <?php } ?>
        </div>
        <?php }?>
              </div>
      <div class="box-white">
      <div class="row ">
        <div class="col-xs-12">
          <div class="searchbox-wrap">
            <div class="page-header text-left">
              <h3>Search</h3>
            </div>
            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl?>"> 
             <div class="row">
              <div class="form-group col-md-6">
                <label for="searchKey" class="control-label">Search Key</label>
                <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey'])?$filterData['searchKey']:''?>" name="searchKey">              </div>
              <div class="form-group col-md-6">
                <label for="searchBy" class="control-label">Search By</label>
                <select id="searchBy" class="form-control" name="searchBy">
                    <option selected="selected" value="">Select</option>
                      <?php if(is_array($searchArray)){
                        foreach($searchArray as $key => $val){
                           $searchBy =  isset($filterData['searchBy'])?$filterData['searchBy']:'';
                                $selected = ($key == $searchBy)?'selected="selected"':''; ?>
                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                    <?php
                        }
                    } ?>
                </select>              
              </div>
               
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;<button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>              </div>
            </div>
            </form></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="admin-list">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="page-header text-left">
                <div class="disp_inline_fl">
                  <h3>User Trust Verification List </h3>
                  </div>
                  <div class="disp_dropdown">
                  </div>
                </div>
              </div>
            </div>
           <?php
            $sortBy = 'first_name';$sortOrder = 'desc';
            $arrGet =$_GET;
                if(isset($_GET['sortBy']) && isset($_GET['sortOrder']) &&  $_GET['sortBy'] && $_GET['sortOrder']){
                        $sortBy = $_GET['sortBy'];$sortOrder = $_GET['sortOrder'];
                }
               if(isset($arrGet)){
                       unset($arrGet['sortBy']); unset($arrGet['sortOrder']);
                        $listUrl  = $this->basePath().'/admin/users/usertrustverification?'. http_build_query($arrGet);
                        $listUrl1  = $this->basePath().'/admin/users/usertrustverification?'. http_build_query($arrGet);
               }
           ?>
            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl?>">
                <input type="hidden" id="doAction" value="" name="doAction">
                <input type="hidden" id="ids" value="" name="ids"><div class="table-responsive table-responsive2">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <input type="hidden" value="<?php echo $listUrl?>" name="listUrl">
                    <tr>
                         
                         <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" ></th>
                        <th style="width:20px;">#</th>
                        <th onclick="doSort('first_name','<?php echo  $listUrl;?>');" class="doSort-cursor">Full Name <i id="sort_first_name" class="fa <?php if($sortBy != 'first_name')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('email_address','<?php echo  $listUrl;?>');" class="doSort-cursor">Email ID<i id="sort_email" class="fa  <?php if($sortBy != 'email_address')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('identity_name','<?php echo  $listUrl;?>');" class="doSort-cursor">Identity Type <i id="sort_first_name" class="fa <?php if($sortBy != 'identity_name')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th>Image </th>
                        <th onclick="doSort('Loc.created','<?php echo  $listUrl;?>');" class="doSort-cursor">Date & Time Created <i id="created" class="fa  <?php if($sortBy != 'Loc.created')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('Loc.modified','<?php echo  $listUrl;?>');" class="doSort-cursor">Update History & User <i id="modified" class="fa  <?php if($sortBy != 'Loc.modified')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>

                        <th style="width:170px;">Status</th>
                        <th style="width:170px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                if(!empty($paginator)){ // currentPageNumber
                    $sno = (($paginator->getCurrentPageNumber()-1) * $paginator->getItemCountPerPage())+1;
                    foreach($paginator as $adminRow){  $pending = false;?>
                 <tr>
					   <td>
                    <input type="checkbox" class="checkedAll checkator_source" id="checked_<?php if(isset($adminRow['user_video_id'])) {echo $adminRow['user_video_id']; }?>" value="<?php if(isset($adminRow['user_video_id'])) {echo $adminRow['user_video_id']; }?>" name="ids[]">              </td>
                      <td><?php echo $sno ?></td>
                     <td><?php echo $adminRow['first_name']; ?></td>
                     <td><?php echo $adminRow['email_address']?></td>
                     <td><?php echo $adminRow['identity_name']; ?></td>
                     <td><?php echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/user_verification/small/'.$adminRow['image'].'" alt="" title="">'; ?></td>
                     <td><?php echo $adminRow['created']; ?></td>
                     <td><?php echo $adminRow['modified'] != 0 ? $adminRow['modified']:'0000-00-00 00:00:00'; ?></td>
                     <td><?php if($adminRow['rejected']) { $listUri = 'rejected';
                                echo  '<span class="label label-danger" >Rejected</span>';
                              } else if($adminRow['approved']) { $listUri = 'approved';
                                 echo  '<span class="label label-success" >Approved</span>';
                              } else { $pending = true; $listUri = 'pending';
                                  echo '<span ><span class="label label-primary">Pending</span>';
                              }
							    
								if($adminRow['active'] == 0){
                                    $enabled = 'disabled';
                                   
                                } else $enabled = ''; if($adminRow['active'] == 1){
                                    $disabled = 'disabled';
                                } else $disabled = '';
                
                                

                                  ?></td>
                               
                    <td><?php                            
                        /*echo '<button type="button"  class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$adminRow['ID'].');"></button>';
                        echo '<button type="button"  class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$adminRow['ID'].');"></button>';*/
                        echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'view\','.$adminRow['ID'].',\'approved\');"></button>';
                        //echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'list\','.$adminRow['user'].');"></button>';
						echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'show\','.$adminRow['ID'].',\''.$listUri.'\');"></button>';
                        echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\','.$adminRow['ID'].');"></button>';
                        
                    ?></td>
                  </tr>
                 <?php
                        $sno++; 
                    }
                }else{
                ?>
                  <tr>
                   <td colspan="7">No records found.</td>
                  </tr>
                  <?php
                 }
                 ?>
                </tbody>
              </table>
            </div>
            </form> </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
             <div class="new-act-buttons disp_inline_fl">
            <p><span class="w-select">With Selected</span>
                     <button onclick="doActionFn('enable','all');" title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Enable</button>
              <button onclick="doActionFn('disable','all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Disable</button>
              <button onclick="doActionFn('delete','all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
            </p>
          </div> 
          <div class="disp_dropdown">
           
            <p></p>
          </div>
        </div>
       
        <div class="form-group col-md-12 text-right">
          <div class="new-pagnav">
           <?php  echo $this->paginationControl(
                $this->paginator,
                'sliding',
                'layout/paginator.phtml',
                //array('route' => 'admin/users/useraddresses')
               array( 'route' => 'usertrustverification')
            );
          ?>
          </div>
        </div>
      </div>
      <div id="showActionErr"></div>
    </div>
    </div>
  </div>
</div>
<div id="reject-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
            <h3 id="popupHead">Reject Reason</h3>
          </div>
          <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
              <input type="hidden" name="identity_id" id="identity_id" > 
          <div class="row">
            <div class="form-group col-lg-6">
              <label class="control-label" for="orderTrackInfo">Reason</label>
              <br>
              <textarea name="rejectReason" id="rejectReason" class = "form-control"></textarea> 
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-lg-12">
              <p>
                 <button class="btn btn-primary" id="rejectBtn" value="true" type="submit" name="rejectBtn">Submit</button>

              </p>
            </div>
          </div>
          </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/magnific.css">
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/magnific.js"></script>
<script>
$(document).ready(function() {
    $('.popup-video').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false
    });
});
function setPopValues(id) {
    $('#identity_id').val(id);
    $.magnificPopup.open({ items: {src: '#reject-popup'},type: 'inline'}, 0);
}
</script>