<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if(isset($_POST) && !empty($_POST)){
    extract($_POST);
}
if(isset($adminRow) && !empty($adminRow)){
    //echo '<pre>';print_r($adminRow);exit;
    extract($adminRow);
}  
if($action == 'edit') $user_id = $adminRow['referer_id'];
else $user_id = $id; 
$ARRADMIN_TYPE = array('0'=>'Select UserType','2'=>'Admin','3'=>'Manager/Editor','4'=>'Tester or Impersonator','5'=>'Customer Support');
?>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });


    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
       clrErr();
       $errStaus = false; 
      
        if (validateFormFields('reference_message', 'Please enter the message.', ''))
        
        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
     <!-- Sidebar -->
     <div id="page-wrapper">
         <div class="wrapper-inner">
             <div class="top-section">
        <div class="row">
            <div class="col-xs-12">
                <h2>User Address <small><?php echo isset($action)?ucfirst($action):'Add'?></small> </h2>
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                    <li>User Accounts</li>
                    <li><a href="<?php echo $this->basePath(); ?>/admin/users/userreferences"> User References List </a></li>
                    <li class="active"><?php echo isset($action)?ucfirst($action):'Add'?> User References</li>
                </ol>
            </div>
        </div></div>
        <!-- /.row -->
        <div id="messageRow">
        <?php if (!empty($flashMessages)){ ?>
         <div class="row">
          <?php foreach ($flashMessages as $msg) {
                  foreach ($msg as $type => $message) { ?>
            <div class="col-xs-12 msg_div">
             <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
               <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
            </div>
              <?php } 
              } ?>
          </div>
        <?php }?>
        </div>
        <div class="box-white">
            
                <div class="tab-new">
                        <ul class="nav nav-tabs nav-tabs-new">
                            <li><a   href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#personal_info'?>">Personal Info</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/useraddressmanager?action=list&id='.$user_id.'#address_book'?>" id="addressBook_tab">My Addresses</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usertrustverificationmanager?action=list&id='.$user_id.'&listUri=pending'?>">Trust &amp; Verification</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#my_circles'?>">My Circles</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#reviews'?>">Reviews</a></li>
                            <li  class="active"><a  data-toggle="tab" href="#references">References</a></li>
                            <li><a  href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#referrals' ?>">Referrals</a></li>
                            <li><a  href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#notifications' ?>">Notifications</a></li>
                        </ul>
                    
 
            <div class="tab-content">
                <div id="references" class="tab-pane fade active in">       
            <?php if($action == 'edit' || $action == 'add'){ ?>
            <div class="row">
                 <div class="col-xs-12">
                     <form enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                         <div class="page-header text-left">
                          <h3>Reference Details</h3>
                         </div>
                         <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                          <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                         
                         <div class="row">
                            <div   class="form-group col-md-4">
                                <label for="reference_message" class="control-label">Referrer Name</label>
                                 <p><?php echo $first_name; ?></p>
                            </div>
                             <div  class="form-group col-md-4">
                                <label for="reference_message" class="control-label">Referee</label>
                                <p><?php echo $requested_to_email; ?></p>
                            </div>
                             <div   class="form-group col-md-4">
                                <label for="reference_message" class="control-label">Response Status</label>
                                <p><?php echo $reference_approved?'<span class="label label-success">Accepted</span>':'<span class="label label-warning">Pending</span>'; ?></p>
                            </div>
                         </div>
                          <div class="row">
                             <div id="div_reference_message" class="form-group col-md-12">
                                 <label for="reference_message" class="control-label">Response Message<span style="color:red;">&nbsp;*</span></label>
                                 <textarea class="form-control required"   id="reference_message"  name="reference_message"> <?php echo isset($reference_message)?$reference_message:''?></textarea>
                                 <p id="err_reference_message" class="text-danger err_msg"></p>
                             </div>
                             
                         </div>
                          
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            <?php }else if($action='view'){ ?>
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header text-left">
                        <h3>Reference Details</h3>
                    </div>
                    <?php if(is_array($adminRow) && !empty($adminRow)) { $n=1; ?>
                                            <div class="sub-page-body">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                         <div class="page-header text-left">
                                                            <h4>Referrer Name: <?php echo $adminRow[0]['first_name']; ?></h4>
                                                           </div>
                                                        <div class="table-responsive table-responsive2">
                                                            <table class="table table-bordered table-hover tablesorter">
                                                                <thead>
                                                                    <th>SNo</th>
                                                                    <th>User Email</th>
                                                                    <th>Response</th>                                                                                     
                                                                    <th>Response Status</th>
                                                                </thead>
                                                                <tbody>

                                                            <?php foreach($adminRow as $uRow) { $refernceStatus = '';
                                                                    /*if($uRow['reference_ignored']) $refernceStatus = '<span class="label label-danger">Declined</span>';
                                                                    else*/ 
                                                                    if($uRow['reference_approved']) $refernceStatus = '<span class="label label-success">Accepted</span>';
                                                                    else  $refernceStatus = '<span class="label label-warning">Pending</span>';
                                                                   echo    '<tr>
                                                                           <td>'.$n.'</td>
                                                                           <td>'.$uRow['requested_to_email'].'</td>
                                                                           <td>'.$uRow['reference_message'].'</td>
                                                                           <td>'.$refernceStatus.'</td>
                                                                           </tr>';$n++;
                                                                       } ?> 
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <?php } else echo 'No references found'; ?>  
                </div>
            </div>
            <?php } ?>
                </div>
            </div>
        </div>
        </div>
    </div> </div>
</div>
<script type="text/javascript">
    $('.multi-select').multiselect();
</script>

