<?php

$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}

$arrTrustVerify = $arrApprovedVerify = $arrRejectedVerify = array();
$listState = $listUri;
$actionUrl = '';
$user_id = $id;
if ($action == 'list') { 
    $backUrl = '';

    $actionUrl = $this->basePath() . '/admin/users/usertrustverificationmanager?action=list&id='.$id.'&listUri=' . $listUri;
    $dataArr['userId'] = $id;
    $arrTrustVerify = $this->AdminUserModel->getUserVerification($dataArr);
    $arrApprovedVerify = $this->AdminUserModel->getUserVerification(array('userId' => $id, 'approved' => 1));
    $arrRejectedVerify = $this->AdminUserModel->getUserVerification(array('userId' => $id, 'rejected' => 1));

} elseif ($action == 'view') {
    $actionUrl = $this->basePath() . '/admin/users/usertrustverificationmanager?action=view&id=' . $id . '&listUri=' . $listUri;
}

if ($action == 'edit') $userId = $adminRow['user'];
else $userId = $id;
$ARRADMIN_TYPE = array('0' => 'Select UserType', '2' => 'Admin', '3' => 'Manager/Editor', '4' => 'Tester or Impersonator', '5' => 'Customer Support');


?>

<style type="text/css">
    .map_canvas {
        width: 380px;
        height: 700px;
        margin: 10px 20px 10px 0;
    }

    #multiple li {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<?php if ($listState == 'traity') { ?>
    <script src='//api.traity.com/1.0/api.js'></script>
<?php } ?>
<script type="text/javascript">

    function doActionFn(action, id, listUri) { 

        if (action == 'list' || action == 'view') {
            window.location = '<?php echo $this->basePath().'/admin/users/usertrustverificationmanager'; ?>?action=' + action + '&id='+id+'&listUri=' + listUri;
        } else {
            if (action == 'approve' || action == 'verify') { alert("test");
                $('#doAction').val(action);
                $('#ids').val(id);
                $('#field').val(listUri);

                if (confirm("Are you sure you want to " + action + "?")) {
                    $('#listFrm').submit();
                }
            }
            
        }
    }


</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>User Trust Verification
                            <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small>
                        </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i
                                        class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>User Accounts</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/users/usertrustverification"> User Trust
                                    Verification List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> User Trust
                                Verification
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
                <?php if (!empty($flashMessages)) { ?>
                    <div class="row">
                        <?php foreach ($flashMessages as $msg) {
                            foreach ($msg as $type => $message) {
                                ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">Ã—</span></button><?php echo $message; ?></div>
                                </div>
                            <?php }
                        }
                        ?>
                    </div>
                <?php } ?>
            </div>
            <div class="box-white">

                <div class="tab-new">
                    <ul class="nav nav-tabs nav-tabs-new">
                        <li><a
                               href="<?php echo $this->basePath() . '/admin/users/usermanager?action=edit&id=' . $user_id; ?>">Personal
                                Info</a></li>
                        <li>
                            <a href="<?php echo $this->basePath() . '/admin/users/useraddressmanager?action=list&id=' . $user_id . '#address_book' ?>"
                               id="addressBook_tab">My Addresses</a></li>
                        <li class="active"><a href="#trust_verification">Trust &amp; Verification</a></li>
                        <li>
                            <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#my_circles' ?>">My
                                Circles</a></li>
                        <li>
                            <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#reviews' ?>">Reviews</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#references' ?>">References</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#referrals' ?>">Referrals</a>
                        </li>
                        <li>
                            <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $user_id . '#notifications' ?>">Notifications</a>
                        </li>
                    </ul>


                    <div class="tab-content">
                        <div id="trust_verification" class="tab-pane fade active in">
                            <div class="page-header text-left">
                              <!-- <h3>Trust Verification...</h3>-->
                                <?php 
								/*if ($action == 'view') {
									echo '<a href="' . $this->basePath() . '/admin/users/usertrustverificationmanager?action=list&id=' . $tRow['user_id'] . '&listUri=' . $listUri . '"><span class="label label-warning" style="float: right; margin-top: -25px;">Back</span></a>';
								}*/?>
                            </div>
                            <?php if ($action == 'list') { ?>
                                <div class="inner-tab">
                                    <ul class="nav nav-tabs nav-tabs-new">
                                        <li <?php echo $listState == 'pending' ? 'class="active"' : '' ?>><a
                                                data-toggle="tab" href="#verification_pending">Pending</a></li>
                                        <li <?php echo $listState == 'approved' ? 'class="active"' : '' ?>><a
                                                data-toggle="tab" href="#verification_approved">Approved</a></li>
                                        <li <?php echo $listState == 'rejected' ? 'class="active"' : '' ?>><a
                                                data-toggle="tab" href="#verification_rejected">Rejected</a></li>
                                       <!-- <li <?php echo $listState == 'traity' ? 'class="active"' : '' ?>><a
                                                href="<?php echo $this->basePath() . '/admin/users/usertrustverificationmanager?action=list&id=' . $user_id . '&listUri=traity' ?>">Traity
                                                list</a></a></li>-->


                                    </ul>

                                </div>

                                <div class="tab-content">
                                    <div
                                        class="tab-pane fade <?php echo $listState == 'pending' ? 'active in' : '' ?> row"
                                        id="verification_pending">

                                        <div class="col-xs-12">
                                            <div class="page-header text-left">
                                                <h3>Pending Verification</h3>
                                            </div>

                                            <?php
                                            if ($action == 'list') { ?>
                                                <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post"
                                                      action="<?php echo $actionUrl ?>">
                                                    <input type="hidden" id="doAction" value="" name="doAction">
                                                    <input type="hidden" id="ids" value="" name="ids">

                                                    <div class="table-responsive table-responsive2">
                                                        <table class="table table-bordered table-hover tablesorter">
                                                            <thead>
                                                            <input type="hidden" value="<?php if(isset( $listUrl)){ echo $listUrl;}?>"
                                                                   name="listUrl">
                                                            <tr>

                                                                <th style="width:20px;">#</th>
                                                                <th onclick="doSort('first_name','<?php if(isset( $listUrl)){ echo $listUrl;} ?>');"
                                                                    class="doSort-cursor">First Name <i
                                                                        id="sort_first_name"
                                                                        class="fa <?php if(isset($sortBy)) { if ($sortBy != 'first_name') echo 'fa-sort'; else if ($sortOrder == 'desc') echo 'fa-sort-asc'; else echo 'fa-sort-desc';} ?> "></i>
                                                                </th>
                                                                <th onclick="doSort('identity_name','<?php if(isset( $listUrl)){ echo $listUrl;} ?>');"
                                                                    class="doSort-cursor">Identity Type <i
                                                                        id="sort_first_name"
                                                                        class="fa <?php if(isset($sortBy)) { if ($sortBy != 'identity_name') echo 'fa-sort'; else if ($sortOrder == 'desc') echo 'fa-sort-asc'; else echo 'fa-sort-desc'; }?> "></i>
                                                                </th>
                                                                <th style="width:170px;">Status</th>
                                                                <th style="width:170px;">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php
                                                            if (!empty($arrTrustVerify)) { // currentPageNumber
                                                                $sno = 1;
                                                                foreach ($arrTrustVerify as $adminRow) {

                                                                    $pending = false; ?>
                                                                    <tr>
                                                                        <td><?php echo $sno ?></td>
                                                                        <td><?php echo $adminRow['first_name']; ?></td>
                                                                        <td><?php echo $adminRow['identity_name']; ?></td>
                                                                        <td><?php if ($adminRow['rejected']) {
                                                                                $listUri = 'rejected';
                                                                                echo '<span class="label label-danger" >Rejected</span>';
                                                                            } else if ($adminRow['approved']) {
                                                                                $listUri = 'approved';
                                                                                echo '<span class="label label-success" >Approved</span>';
                                                                            } else {
                                                                                $pending = true;
                                                                                $listUri = 'pending';
                                                                                echo '<span ><span class="label label-primary">Pending</span>';
                                                                            }

                                                                            if ($adminRow['active'] == 0) {
                                                                                $enabled = 'disabled';
                                                                            } else $enabled = '';
                                                                            if ($adminRow['active'] == 1) {
                                                                                $disabled = 'disabled';
                                                                            } else $disabled = '';
                                                                            ?></td>

                                                                        <td><?php

                                                                            if ($pending) {
                                                                                echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-approve" data-toggle="tooltip" title="Approve" onClick="doActionFn(\'approve\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';
                                                                                echo '&nbsp;<a href="#reject-popup" onclick="setPopValues(' . $adminRow['ID'] . ')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-reject" data-toggle="tooltip" title="Reject" ></button></a>';
                                                                            }
                                                                            echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'view\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';

                                                                            ?></td>
                                                                    </tr>
                                                                    <?php
                                                                    $sno++;
                                                                }
                                                            } else {
                                                                ?>
                                                                <tr>
                                                                    <td colspan="4" align="center">No documents found.
                                                                    </td>
                                                                </tr>
                                                                <?php
                                                            }
                                                            ?>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            <?php }
                                            ?>
                                        </div>
                                    </div>
                                    <div
                                        class="tab-pane fade <?php echo $listState == 'approved' ? 'active in' : '' ?> row"
                                        id="verification_approved">

                                        <div class="col-xs-12">
                                            <div class="page-header text-left">
                                                <h3>Approved Verification</h3>
                                            </div>
                                            <?php
                                            if ($action == 'list') { ?>
                                                <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post"
                                                      action="<?php echo $actionUrl ?>">
                                                    <input type="hidden" id="doAction" value="" name="doAction">
                                                    <input type="hidden" id="ids" value="" name="ids">

                                                    <div class="table-responsive table-responsive2">
                                                        <table class="table table-bordered table-hover tablesorter">
                                                            <thead>
                                                            <input type="hidden" value="<?php echo $listUrl ?>"
                                                                   name="listUrl">
                                                            <tr>

                                                                <th style="width:20px;">#</th>
                                                                <th onclick="doSort('first_name','<?php echo $listUrl; ?>');"
                                                                    class="doSort-cursor">First Name <i
                                                                        id="sort_first_name"
                                                                        class="fa <?php if ($sortBy != 'first_name') echo 'fa-sort'; else if ($sortOrder == 'desc') echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i>
                                                                </th>
                                                                <th onclick="doSort('identity_name','<?php echo $listUrl; ?>');"
                                                                    class="doSort-cursor">Identity Type <i
                                                                        id="sort_first_name"
                                                                        class="fa <?php if ($sortBy != 'identity_name') echo 'fa-sort'; else if ($sortOrder == 'desc') echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i>
                                                                </th>
                                                                <th style="width:170px;">Status</th>
                                                                <th style="width:170px;">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php
                                                            if (!empty($arrApprovedVerify)) { // currentPageNumber
                                                                $sno = 1;
                                                                foreach ($arrApprovedVerify as $adminRow) {

                                                                    $pending = false; ?>
                                                                    <tr>
                                                                        <td><?php echo $sno ?></td>
                                                                        <td><?php echo $adminRow['first_name']; ?></td>
                                                                        <td><?php echo $adminRow['identity_name']; ?></td>
                                                                        <td><?php if ($adminRow['rejected']) {
                                                                                $listUri = 'rejected';
                                                                                echo '<span class="label label-danger" >Rejected</span>';
                                                                            } else if ($adminRow['approved']) {
                                                                                $listUri = 'approved';
                                                                                echo '<span class="label label-success" >Approved</span>';
                                                                            } else {
                                                                                $pending = true;
                                                                                $listUri = 'pending';
                                                                                echo '<span ><span class="label label-primary">Pending</span>';
                                                                            }
                                                                            ?></td>

                                                                        <td><?php

                                                                            //if($pending) {
                                                                            echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-approve" data-toggle="tooltip" title="Approve" onClick="doActionFn(\'approve\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';
                                                                            echo '&nbsp;<a href="#reject-popup" onclick="setPopValues(' . $adminRow['ID'] . ')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-reject" data-toggle="tooltip" title="Reject" ></button></a>';
                                                                            //}
                                                                            echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-edit"  title="Edit"  onClick="doActionFn(\'view\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';
                                                                            echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'view\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';
                                                                            echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\',' . $adminRow['ID'] . ');"></button>';
                                                                            ?></td>
                                                                    </tr>
                                                                    <?php
                                                                    $sno++;
                                                                }
                                                            } else {
                                                                ?>
                                                                <tr>
                                                                    <td colspan="4" align="center">No documents found.
                                                                    </td>
                                                                </tr>
                                                                <?php
                                                            }
                                                            ?>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            <?php }
                                            ?>
                                        </div>
                                    </div>

                                    <div
                                        class="tab-pane fade <?php echo $listState == 'rejected' ? 'active in' : '' ?> row"
                                        id="verification_rejected">

                                        <div class="col-xs-12">
                                            <div class="page-header text-left">
                                                <h3>Rejected Verification</h3>
                                            </div>
                                            <?php
                                            if ($action == 'list') { ?>
                                                <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post"
                                                      action="<?php echo $actionUrl ?>">
                                                    <input type="hidden" id="doAction" value="" name="doAction">
                                                    <input type="hidden" id="ids" value="" name="ids">

                                                    <div class="table-responsive table-responsive2">
                                                        <table class="table table-bordered table-hover tablesorter">
                                                            <thead>
                                                            <input type="hidden" value="<?php echo $listUrl ?>"
                                                                   name="listUrl">
                                                            <tr>

                                                                <th style="width:20px;">#</th>
                                                                <th onclick="doSort('first_name','<?php echo $listUrl; ?>');"
                                                                    class="doSort-cursor">First Name <i
                                                                        id="sort_first_name"
                                                                        class="fa <?php if ($sortBy != 'first_name') echo 'fa-sort'; else if ($sortOrder == 'desc') echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i>
                                                                </th>
                                                                <th onclick="doSort('identity_name','<?php echo $listUrl; ?>');"
                                                                    class="doSort-cursor">Identity Type <i
                                                                        id="sort_first_name"
                                                                        class="fa <?php if ($sortBy != 'identity_name') echo 'fa-sort'; else if ($sortOrder == 'desc') echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i>
                                                                </th>
                                                                <th style="width:170px;">Status</th>
                                                                <th style="width:170px;">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php
                                                            if (!empty($arrRejectedVerify)) { // currentPageNumber

                                                                foreach ($arrRejectedVerify as $adminRow) {
                                                                    $sno = 1;
                                                                    $pending = false; ?>
                                                                    <tr>
                                                                        <td><?php echo $sno ?></td>
                                                                        <td><?php echo $adminRow['first_name']; ?></td>
                                                                        <td><?php echo $adminRow['identity_name']; ?></td>
                                                                        <td><?php if ($adminRow['rejected']) {
                                                                                $listUri = 'rejected';
                                                                                echo '<span class="label label-danger" >Rejected</span>';
                                                                            } else if ($adminRow['approved']) {
                                                                                $listUri = 'approved';
                                                                                echo '<span class="label label-success" >Approved</span>';
                                                                            } else {
                                                                                $pending = true;
                                                                                $listUri = 'pending';
                                                                                echo '<span ><span class="label label-primary">Pending</span>';
                                                                            }
                                                                            ?></td>

                                                                        <td><?php

                                                                            if ($pending) {
                                                                                echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-approve" data-toggle="tooltip" title="Approve" onClick="doActionFn(\'approve\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';
                                                                                echo '&nbsp;<a href="#reject-popup" onclick="setPopValues(' . $adminRow['ID'] . ')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-reject" data-toggle="tooltip" title="Reject" ></button></a>';
                                                                            }
                                                                            echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'view\',' . $adminRow['ID'] . ',\'' . $listUri . '\');"></button>';

                                                                            ?></td>
                                                                    </tr>
                                                                    <?php
                                                                    $sno++;
                                                                }
                                                            } else {
                                                                ?>
                                                                <tr>
                                                                    <td colspan="4" align="center">No documents found.
                                                                    </td>
                                                                </tr>
                                                                <?php
                                                            }
                                                            ?>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            <?php }
                                            ?>
                                        </div>
                                    </div>
                                    
                                </div>
                            <?php } else if($action =='view') { ?>
                               

                                    <div class="tab-content">
                                        <?php
                                        $verifyArr = unserialize($tRow['verify_details']);
                                        if (empty($tRow['approved'])) {
                                            if (is_array($verifyArr) && !in_array('0', $verifyArr)) {
                                                $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary">Pending</span>';
                                                if ($action != 'view')
                                                    $approvedMsg .= '<br><a href="#" onclick="doActionFn(\'approve\',' . $tRow['ID'] . ',0)" >Set as Approved</a>|<a href="#reject-popup" onclick="setPopValues(' . $tRow['ID'] . ')" class="content-popup-link">Set as Rejected</a></span>';
                                            } else {
                                                $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary" >Pending</span>';
                                                if ($action != 'view') $approvedMsg .= '<br><a href="#reject-popup" class="content-popup-link" onclick="setPopValues(' . $tRow['ID'] . ')" >Set as Rejected</a></span>';
                                            }
                                        } else $approvedMsg = '<span class="label label-success" style="float: right; margin-top: -25px;">Approved</span>';
                                        //echo '<pre>';print_r($verifyArr);exit;?>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="page-header text-left">
                                                    <h3><?php echo $tRow['identity_name']; ?></h3>
                                                    <?php echo $approvedMsg ?>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Verify ID</label>

                                                    <p><?php echo ($tRow['verfiyid']) ? $tRow['verfiyid'] : '--' ?></p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                   
                                                </div>
<!--form for doumnet  starts-->


                    <form id="geoAddrForm" enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                        <div class="page-header text-left">
                         <h3>Document</h3>
                        </div>
                        
                        <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                        <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    

                                
                                     <div id="div_user_photo_name" class="form-group col-md-12">
                                        <label for="user_photo_name" class="control-label">Document Image <span style="color:red;">&nbsp;*</span></label>
                                        <input type="file" class="form-control required"  id="image" name="image"> 
                                        <p id="err_user_photo_name" class="text-danger err_msg"></p>
                                    </div>
                                   
                                   
                                    
                                </div>
                            </div>
                            <div class="col-xs-6">
                             <div class="map_canvas" style="width:100%; height:100px">  
                            
                              <?php
                              if(isset($tRow['image']) && !empty($tRow['image'])){
                              echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/user_verification/medium/'. $tRow['image'].'" alt=""  width="200px"  height ="200px" title="">';
                              echo '<input type="hidden" name="image" value="'. $tRow['image'].'">';
                              }
                              
                              
                              ?>   
                              
                             </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">


<?php 		if ($tRow['rejected']) {
                    $listUri = 'rejected';
                    $pending = true;                            	 
                        } else if ($tRow['approved']) {
                            $listUri = 'approved';
                            
                        } else {
                            $pending = true;
                            $listUri = 'pending';
                            
                        }

                    
                 
               
                                echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-approve" data-toggle="tooltip" title="Approve" onClick="doActionFn(\'approve\',' .$tRow['ID'] . ',\'' . $listUri . '\');"></button>&nbsp;';
                                echo '&nbsp;<a href="#reject-popup" onclick="setPopValues(' .$tRow['ID'] . ')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-reject" data-toggle="tooltip" title="Reject" ></button></a>&nbsp;';
                                                                            
          
                           
?>
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 

    <!-- form for edit document ends -->




                                                
                                            </div>
                                            <form id="listFrm" method="post" name="listFrm" accept-charset="utf-8"
                                      action="<?php echo $actionUrl ?>">
                                    <input type="hidden" id="doAction" value="" name="doAction">
                                    <input type="hidden" id="ids" value="" name="ids">
                                    <input type="hidden" id="field" value="" name="field">
                                            <div class="col-xs-12">
                                                <section class="block-section">
                                                    <div class="sub-page-header text-left">
                                                        <h4></h4>
                                                    </div>
                                                    <div class="sub-page-header text-left">
                                                        <h4>Document Verification</h4>
                                                    </div>
                                                    <?php if (is_array($verifyArr) && !empty($verifyArr)) { ?>
                                                        <div class="sub-page-body">
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <div class="table-responsive table-responsive2">
                                                                        <table
                                                                            class="table table-bordered table-hover tablesorter">
                                                                            <thead>

                                                                            <th>Fields</th>
                                                                            <th>Profile Info</th>
                                                                            <th>Status</th>
                                                                            </thead>
                                                                            <tbody>

                                                                            <?php foreach ($verifyArr as $key => $val) {

                                                                                echo '<tr>
                                                                                                    <td>' . ucfirst($key) . '</td>';

                                                                                if ($key == 'verfiyid') {
                                                                                    echo '<td>' . $tRow['verfiyid'] . '</td>';
                                                                                } else if ($key == 'dob') {
                                                                                   // echo '<td>' . date('d-m-Y', $tRow[$key]) . '</td>';
                                                                                   echo '<td>' . '</td>';
                                                                                } else if ($key == 'image') {
                                                                                    echo '<td><img style="max-width:200px" src="' . $this->basePath() . '/public/uploads/profile_picture/medium/' . $tRow['userImage'] . '"></td>';
                                                                                } else  echo '<td>' . $tRow[$key] . '</td>';
                                                                                if ($val == 1) {
                                                                                    echo '<td><span class="label label-success">Verified</span></td>';
                                                                                } else {
                                                                                    echo '<td><span class="label label-danger">Not Verified</span><br><a href="#" onclick="doActionFn(\'verify\',' . $tRow['ID'] . ',\'' . $key . '\')" >Set Verified</a></td>';
                                                                                }
                                                                                echo '
                                                                                                </tr>';
                                                                            } ?>


                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    <?php } else echo 'No Documents Found'; ?>
                                                </section>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            <?php //} ?>



                        <!-- showsection -->
                        <?php } elseif($action =='show') { ?>
                               
                              
                               <div class="tab-content">
                                   <?php
                                   $verifyArr = unserialize($tRow['verify_details']);
                                   if (empty($tRow['approved'])) {
                                       if (is_array($verifyArr) && !in_array('0', $verifyArr)) {
                                           $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary">Pending</span>';
                                           if ($action != 'view')
                                              /* $approvedMsg .= '<br><a href="#" onclick="doActionFn(\'approve\',' . $tRow['ID'] . ',0)" >Set as Approved</a>|<a href="#reject-popup" onclick="setPopValues(' . $tRow['ID'] . ')" class="content-popup-link">Set as Rejected</a></span>';*/
                                              $approvedMsg .= '';
                                       } else {
                                           $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary" >Pending</span>';
                                           if ($action != 'view') $approvedMsg .= '<br><a href="#reject-popup" class="content-popup-link" onclick="setPopValues(' . $tRow['ID'] . ')" >Set as Rejected</a></span>';
                                       }
                                   } else $approvedMsg = '<span class="label label-success" style="float: right; margin-top: -25px;">Approved</span>';
                                   //echo '<pre>';print_r($verifyArr);exit;?>
                                   <div class="row">
                                       <div class="col-xs-12">
                                           <div class="page-header text-left">
                                               <h3><?php echo $tRow['identity_name']; ?></h3>
                                               <?php echo $approvedMsg ?>
                                           </div>

                                           <div class="form-group col-md-6">
                                               <label class="control-label">Verify ID</label>

                                               <p><?php echo ($tRow['verfiyid']) ? $tRow['verfiyid'] : '--' ?></p>
                                           </div>
                                           <div class="form-group col-md-6">
                                              
                                           </div>
<!--form for doumnet  starts-->


               <form id="geoAddrForm" enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                   <div class="page-header text-left">
                    <h3>Document</h3>
                   </div>
                   
                   <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                   <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                   <div class="row">
                       <div class="col-xs-6">
                           <div class="row">
                               

                           
                               <!-- <div id="div_user_photo_name" class="form-group col-md-12">
                                   <label for="user_photo_name" class="control-label">Document Image1<span style="color:red;">&nbsp;*</span></label>
                                   <input type="file" class="form-control required"  id="image" name="image"> 
                                   <p id="err_user_photo_name" class="text-danger err_msg"></p>
                               </div>
                               -->
                              
                              
                               
                           </div>
                       </div>
                       <div class="col-xs-6">
                        <div class="map_canvas" style="width:100%; height:100px">  
                       
                         <?php
                         if(isset($tRow['image']) && !empty($tRow['image'])){
                         echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/user_verification/medium/'. $tRow['image'].'" alt="" title="">';
                         echo '<input type="hidden" name="image" value="'. $tRow['image'].'">';
                         }
                         
                         
                         ?>   
                         
                        </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-12">


<?php 	/*	if ($tRow['rejected']) {
               $listUri = 'rejected';
               $pending = true;                            	 
                   } else if ($tRow['approved']) {
                       $listUri = 'approved';
                       
                   } else {
                       $pending = true;
                       $listUri = 'pending';
                       
                   }

               
            
          
                           echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-approve" data-toggle="tooltip" title="Approve" onClick="doActionFn(\'approve\',' .$tRow['ID'] . ',\'' . $listUri . '\');"></button>';
                           echo '&nbsp;<a href="#reject-popup" onclick="setPopValues(' .$tRow['ID'] . ')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-reject" data-toggle="tooltip" title="Reject" ></button></a>';
                                                                       
     */
                      
?>
                          <!-- <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>-->
                       </div>
                   </div>
               </form> 

<!-- form for edit document ends -->




                                           
                                       </div>
                                       <form id="listFrm" method="post" name="listFrm" accept-charset="utf-8"
                                 action="<?php echo $actionUrl ?>">
                               <input type="hidden" id="doAction" value="" name="doAction">
                               <input type="hidden" id="ids" value="" name="ids">
                               <input type="hidden" id="field" value="" name="field">
                                       <div class="col-xs-12">
                                           <section class="block-section">
                                               <div class="sub-page-header text-left">
                                                   <h4>Document Verification</h4>
                                               </div>
                                               <?php if (is_array($verifyArr) && !empty($verifyArr)) { ?>
                                                   <div class="sub-page-body">
                                                       <div class="row">
                                                           <div class="form-group col-md-12">
                                                               <div class="table-responsive table-responsive2">
                                                                   <table
                                                                       class="table table-bordered table-hover tablesorter">
                                                                       <thead>

                                                                       <th>Fields</th>
                                                                       <th>Profile Info</th>
                                                                       <th>Status</th>
                                                                       </thead>
                                                                       <tbody>

                                                                       <?php foreach ($verifyArr as $key => $val) {

                                                                           echo '<tr>
                                                                                               <td>' . ucfirst($key) . '</td>';

                                                                           if ($key == 'verfiyid') {
                                                                               echo '<td>' . $tRow['verfiyid'] . '</td>';
                                                                           } else if ($key == 'dob') {
                                                                              // echo '<td>' . date('d-m-Y', $tRow[$key]) . '</td>';
                                                                              echo '<td>'  . '</td>';
                                                                           } else if ($key == 'image') {
                                                                               echo '<td><img style="max-width:200px" src="' . $this->basePath() . '/public/uploads/profile_picture/medium/' . $tRow['userImage'] . '"></td>';
                                                                           } else  echo '<td>' . $tRow[$key] . '</td>';
                                                                           if ($val == 1) {
                                                                               echo '<td><span class="label label-success">Verified</span></td>';
                                                                           } else {
                                                                              /* echo '<td><span class="label label-danger">Not Verified</span><br><a href="#" onclick="doActionFn(\'verify\',' . $tRow['ID'] . ',\'' . $key . '\')" >Set Verified</a></td>';*/
                                                                           }
                                                                           echo '
                                                                                           </tr>';
                                                                       } ?>


                                                                       </tbody>
                                                                   </table>
                                                               </div>
                                                           </div>

                                                       </div>

                                                   </div>
                                               <?php } else echo 'No Documents Found'; ?>
                                           </section>
                                       </div>

                                   </div>
                               </div>
                           </form>
                       <?php } ?>
                      

                    <!-- show section ends -->
                           
                <input type="hidden" id="doAction" value="" name="doAction">
                <input type="hidden" id="ids" value="" name="ids"><div class="table-responsive table-responsive2">
             
            <?php if($action =='view') { ?>
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <input type="hidden" value="<?php echo $listUrl?>" name="listUrl">
                    <tr>
                         
                        <th style="width:20px;">#</th>
                        <th onclick="doSort('identity_name','<?php echo  $listUrl;?>');" class="doSort-cursor">Identity Type <i id="sort_first_name" class="fa <?php if($sortBy != 'identity_name')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th>Image </th>
                        <th onclick="doSort('Loc.created','<?php echo  $listUrl;?>');" class="doSort-cursor">Date & Time Created <i id="created" class="fa  <?php if($sortBy != 'Loc.created')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('Loc.modified','<?php echo  $listUrl;?>');" class="doSort-cursor">Update History & User <i id="modified" class="fa  <?php if($sortBy != 'Loc.modified')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>

                        <th style="width:170px;">Status</th>
                        <th style="width:170px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                if(!empty($alltrustdocs)){ // currentPageNumber
                    $sno = (($paginator->getCurrentPageNumber()-1) * $paginator->getItemCountPerPage())+1;
                    foreach($alltrustdocs as $adminRow){  $pending = false;?>
                 <tr>
					   
                      <td><?php echo $sno ?></td>
                     <td><?php echo $adminRow['identity_name']; ?></td>
                     <td><?php echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/user_verification/small/'.$adminRow['image'].'" alt="" title="">'; ?></td>
                     <td><?php echo $adminRow['created']; ?></td>
                     <td><?php echo $adminRow['modified'] != 0 ? $adminRow['modified']:'0000-00-00 00:00:00'; ?></td>
                     <td><?php if($adminRow['rejected']) { $listUri = 'rejected';
                                echo  '<span class="label label-danger" >Rejected</span>';
                              } else if($adminRow['approved']) { $listUri = 'approved';
                                 echo  '<span class="label label-success" >Approved</span>';
                              } else { $pending = true; $listUri = 'pending';
                                  echo '<span ><span class="label label-primary">Pending</span>';
                              }
							    

                                  ?></td>
                               
                    <td><?php                            
                       /* echo '<button type="button"  class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$adminRow['ID'].');"></button>';
                        echo '<button type="button"  class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$adminRow['ID'].');"></button>';*/
                        echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'view\','.$adminRow['ID'].',\'approved\');"></button>';
                        //echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'list\','.$adminRow['user'].');"></button>';
						echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'list\','.$adminRow['user_id'].',\''.$listUri.'\');"></button>';
                        echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\','.$adminRow['ID'].');"></button>';
                        
                    ?></td>
                  </tr>
                 <?php
                        $sno++; 
                    }
                }else{
                ?>
                  <tr>
                   <td colspan="7">No records found.</td>
                  </tr>
                  <?php
                 }
                 ?>
                </tbody>
              </table>
              <?php } ?>
            </div>
            </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="form-group col-md-12">
             <div class="new-act-buttons disp_inline_fl">
            <p><span class="w-select">With Selected</span>
                     <button onclick="doActionFn('enable','all');" title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Enable</button>
              <button onclick="doActionFn('disable','all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Disable</button>
              <button onclick="doActionFn('delete','all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
            </p>
          </div> 
          <div class="disp_dropdown">
           
            <p></p>
          </div>
        </div>
        -->
       
        <div class="form-group col-md-12 text-right">
          <div class="new-pagnav">
           <?php  //echo $this->paginationControl(
               // $this->paginator,
              //  'sliding',
               // 'layout/paginator.phtml',
                                //array('route' => 'admin/users/useraddresses')
               //array( 'route' => 'usertrustverification')
            //);
          ?>
          </div>
        </div>
      </div>
      <div id="showActionErr"></div>
    </div>
    </div>
  </div>
</div>
<div id="reject-popup" class="white-popup mfp-hide">
   <div class="row">
        <div class="col-lg-12">
            <div class="page-header text-left">
            <h3 id="popupHead">Reject Reason</h3>
          </div>
          <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
              <input type="hidden" name="identity_id" id="identity_id" > 
          <div class="row">
            <div class="form-group col-lg-6">
              <label class="control-label" for="orderTrackInfo">Reason</label>
              <br>
              <textarea name="rejectReason" id="rejectReason" class = "form-control"></textarea> 
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-lg-12">
              <p>
                 <button class="btn btn-primary" id="rejectBtn" value="true" type="submit" name="rejectBtn">Submit</button>

              </p>
            </div>
          </div>
          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reject-popup" class="white-popup mfp-hide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header text-left">
                        <h3 id="popupHead">Reject Reason</h3>
                    </div>
                    <form enctype="multipart/form-data" id="rejectForm" name="rejectForm" accept-charset="utf-8"
                          method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">
                        <input type="hidden" name="identity_id" id="identity_id">

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="control-label" for="orderTrackInfo">Reason</label>
                                <br>
                                <textarea name="rejectReason" id="rejectReason" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <button class="btn btn-primary" id="rejectBtn" value="true" type="submit"
                                            name="rejectBtn">Submit
                                    </button>

                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/magnific.css">
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/magnific.js"></script>
        <script type="text/javascript">
            $('.multi-select').multiselect();
            $(document).ready(function () {
                $("#user_id").tokenInput("<?php echo $this->basePath() . '/admin/ajax/getUsers'; ?>", {
                    theme: "facebook",
                    tokenLimit: 1,
                    <?php if (isset($userPrePop)) { ?>
                    prePopulate: <?php echo $userPrePop; ?>
                    <?php } ?>
                });
            });
            function setPopValues(id) {
                $('#identity_id').val(id);
                $.magnificPopup.open({items: {src: '#reject-popup'}, type: 'inline'}, 0);
            }

        </script>