<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if(isset($_POST) && !empty($_POST)){
    extract($_POST);
}
if(isset($adminRow) && !empty($adminRow)){
//    echo '<pre>';print_r($adminRow);exit;
    extract($adminRow);
}
?>

<style type="text/css">
    .map_canvas { 
        width: 380px; 
        height: 700px; 
        margin: 10px 20px 10px 0;
    }

    #multiple li { 
        cursor: pointer; 
        text-decoration: underline; 
    }
</style>


<script type="text/javascript">
  

    function validateAccountForm() {
       clrErr();
       $errStaus = false;
       var action = '<?php echo $action  ?>';
       if (validateFormFields('user_id', 'Please select user.', ''))
       $errStaus = true;
       if(action != 'edit'){ 
         if (validateFormFields('user_photo_name', 'Please select an image.', '')) $errStaus = true;
       }
        if($('#user_photo_name').val() != '') {  
              var ext = $('#user_photo_name').val().split('.').pop().toLowerCase();
              var allow = new Array('gif','png','jpg','jpeg'); 
              if($.inArray(ext, allow) == -1 ){
                   setErr('user_photo_name','Please select valid image!');$errStaus = true;
              }
        }
        
        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
     <!-- Sidebar -->
     <div id="page-wrapper">
         <div class="wrapper-inner">
             <div class="top-section">
        <div class="row">
            <div class="col-xs-12">
                <h2>User Photo <small><?php echo isset($action)?ucfirst($action):'Add'?></small> </h2>
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                    <li>User Accounts</li>
                    <li><a href="<?php echo $this->basePath(); ?>/admin/users/userphotos"> User Photo List </a></li>
                    <li class="active"><?php echo isset($action)?ucfirst($action):'Add'?> User Photos</li>
                </ol>
            </div>
        </div></div>
        <!-- /.row -->
        <div id="messageRow">
        <?php if (!empty($flashMessages)){ ?>
         <div class="row">
            <?php foreach ($flashMessages as $msg) {
                  foreach ($msg as $type => $message) { ?>
            <div class="col-xs-12 msg_div">
             <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
               <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
            </div>
              <?php } 
              } ?>
          </div>
        <?php }?>
        </div>
        <div class="box-white">
             <?php 
            if($action != 'add') {  ?>
                <div class="tab-new">
                        <ul class="nav nav-tabs nav-tabs-new"> 
                            <li class="active"><a data-toggle="tab" href="#personal_info">Personal Info</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/useraddressmanager?action=list&id='.$user_id.'#address_book'?>" id="addressBook_tab">My Addresses</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usertrustverificationmanager?action=list&id='.$user_id.'&listUri=pending'?>">Trust &amp; Verification</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#my_circles'?>">My Circles</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#reviews'?>">Reviews</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#references'?>">References</a></li>
                        </ul>
                    

                      
            <?php } ?>
                    <div class="tab-content">
                        <div id="personal_info" class="tab-pane fade active in">
                                
                                <?php 
            if($action != 'add') {  ?>
                                <div class="inner-tab">
                                    <ul class="nav nav-tabs nav-tabs-new">
                                        <li ><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#personalDetails'?>">Personal Details</a></li>
                                        <li class="active"><a data-toggle="tab"  href="#photos">Photos</a></li>
                                        <li  ><a href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#videos'?>">Videos</a></li>
                                        

                                    </ul>

                                </div>
            <?php } if($action == 'edit' || $action == 'add'){ ?>
                    <div id="photos" class="tab-pane fade active in row">
                <br>
                <div class="col-xs-12">
                     
                    <form id="geoAddrForm" enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                        <div class="page-header text-left">
                         <h3>Photo Details</h3>
                        </div>
                        <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                        <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    
                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">User <span style="color:red;">&nbsp;*</span></label>
                                        <input type="text" class="form-control required" autocomplete="off" data-provide="typeahead" id="user_id" name="user_id"> 
                                        <p id="err_user_id" class="text-danger err_msg"></p>
                                    </div>
                                
                                     <div id="div_user_photo_name" class="form-group col-md-12">
                                        <label for="user_photo_name" class="control-label">Photo <span style="color:red;">&nbsp;*</span></label>
                                        <input type="file" class="form-control required"  id="user_photo_name" name="user_photo_name"> 
                                        <p id="err_user_photo_name" class="text-danger err_msg"></p>
                                    </div>
                                    
                                    <div id="div_set_default" class="form-group col-md-12">
                                        <label for="set_default" class="control-label">Set as profile picture <span style="color:red;">&nbsp;*</span></label>
                                        <select id="set_default" name="marked_as_profile_photo" class="show-tick form-control">
                                                <option <?php echo (isset($marked_as_profile_photo) && $marked_as_profile_photo == '1')?'selected="selected"':'' ?> value="1">Yes</option>
                                                <option <?php echo (isset($marked_as_profile_photo) && $marked_as_profile_photo == '0')?'selected="selected"':'' ?> value="0">No</option>
                                         </select>
                                        <p id="err_marked_as_profile_photo" class="text-danger err_msg"></p>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                            <div class="col-xs-6">
                             <div class="map_canvas" style="width:100%; height:100px">
                              
                              <?php
                              if(isset($adminRow['user_photo_name']) && !empty($adminRow['user_photo_name'])){
                              echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/profile_picture/medium/'.$adminRow['user_photo_name'].'" alt="" title="" width="350" height="350">';
                              echo '<input type="hidden" name="user_photo_name_txt" value="'.$adminRow['user_photo_name'].'">';
                              }
                              
                              
                              ?>   
                              
                             </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 
                 
                </div>
              </div>
            <?php }  ?>
        </div>
    </div></div>
</div>

<script type="text/javascript">
    $('.multi-select').multiselect();
    $(document).ready(function(){
        $("#user_id").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
            theme: "facebook",
            tokenLimit: 1,
            <?php if(isset($userPrePop)){ ?>
            prePopulate: <?php echo $userPrePop; ?>
            <?php } ?>
        });
    });
    
    
</script>