<div id="trust_verification" class="tab-pane fade">
    <div class="page-header text-left">
        <h3>Trust Verification</h3>
    </div>
    <div class="inner-tab">
        <ul class="nav nav-tabs nav-tabs-new">
            <li class="active"><a data-toggle="tab" href="#verification_pending">Pending</a></li>
            <li><a data-toggle="tab" href="#verification_approved">Approved</a></li>
            <li><a data-toggle="tab" href="#verification_rejected">Rejected</a></li>


        </ul>

    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in row" id="verification_pending">

            <div class="col-xs-12">
                <div class="page-header text-left">
                    <h3>Pending Verification</h3>
                </div>
<a href="#test-popup" class="open-popup-link">Show inline popup</a>
                <?php
                if (is_array($arrTrustVerify) && !empty($arrTrustVerify)) {
                    foreach ($arrTrustVerify as $tRow) {
                        $approvedMsg = '';
                        $verifyArr = unserialize($tRow['verify_details']);
                        if (empty($tRow['approved'])) {
                            if (is_array($verifyArr) && !in_array('0', $verifyArr))
                                $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary">Not approved</span><br><a href="#" onclick="doActionFn(\'approve\',' . $tRow['ID'] . ',0)" >Set as Approved</a>|<a href="#reject-popup" class="content-popup-link">Set as Rejected</a></span>';
                            else
                                $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary" >Not approved</span><br><a href="#reject-popup" class="content-popup-link" onclick="doActionFn(\'reject\',' . $tRow['ID'] . ',0)" >Set as Rejected</a></span>';
                        } else
                            $approvedMsg = '<span class="label label-success" style="float: right; margin-top: -25px;">Approved</span>';
                        //echo '<pre>';print_r($verifyArr);exit;
                        ?>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-header text-left">
                                    <h3><?php echo $tRow['identity_name']; ?></h3>
        <?php echo $approvedMsg ?>
                                </div>                                                          

                                <div class="form-group col-md-6">
                                    <label class="control-label">Verify ID</label>
                                    <p><?php echo ($tRow['verfiyid']) ? $tRow['verfiyid'] : '--' ?></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Document Image</label>
                                    <p><?php echo ($tRow['image']) ? '<img src="' . $this->basePath() . '/uploads/user_verification/medium/' . $tRow['image'] . '"> ' : '--' ?></p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <section class="block-section">
                                    <div class="sub-page-header text-left">
                                        <h4>Document Verification</h4>
                                    </div>
        <?php if (is_array($verifyArr) && !empty($verifyArr)) { ?>
                                        <div class="sub-page-body">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="table-responsive table-responsive2">
                                                        <table class="table table-bordered table-hover tablesorter">
                                                            <thead>

                                                            <th>Fields</th>  
                                                            <th>Profile Info</th> 
                                                            <th>Status</th>
                                                            </thead>
                                                            <tbody>

                                                                <?php
                                                                foreach ($verifyArr as $key => $val) {

                                                                    echo '<tr>
                                                                                                    <td>' . $key . '</td>';

                                                                    if ($key == 'verfiyid') {
                                                                        echo '<td>' . $tRow['verfiyid'] . '</td>';
                                                                    } else if ($key == 'dob') {
                                                                        echo '<td>' . date('d-m-Y', $adminRow[$key]) . '</td>';
                                                                    } else if ($key == 'image') {
                                                                        echo '<td><img src="' . $this->basePath() . '/uploads/profile_picture/medium/' . $adminRow[$key] . '"></td>';
                                                                    } else
                                                                        echo '<td>' . $adminRow[$key] . '</td>';
                                                                    if ($val == 1) {
                                                                        echo '<td><span class="label label-success">Verified</span></td>';
                                                                    } else {
                                                                        echo '<td><span class="label label-danger">Not Verified</span><br><a href="#" onclick="doActionFn(\'verify\',' . $tRow['ID'] . ',\'' . $key . '\')" >Set Verified</a></td>';
                                                                    }
                                                                    echo '
                                                                                                </tr>';
                                                                }
                                                                ?>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
        <?php } else echo 'No Documents Found'; ?>
                                </section>
                            </div>

                        </div>
    <?php }
} else
    echo 'No documents found';
?>
            </div>
        </div>
        <div class="tab-pane fade row" id="verification_approved">

            <div class="col-xs-12">
                <div class="page-header text-left">
                    <h3>Approved Verification</h3>
                </div>
<?php
if (is_array($arrApprovedVerify) && !empty($arrApprovedVerify)) {
    foreach ($arrApprovedVerify as $tRow) {
        $approvedMsg = '';
        $verifyArr = unserialize($tRow['verify_details']);
        if (empty($tRow['approved'])) {
            if (is_array($verifyArr) && !in_array('0', $verifyArr))
                $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary">Not approved</span><br><a href="#" onclick="doActionFn(\'approve\',' . $tRow['ID'] . ',0)" >Set as Approved</a></span>';
            else
                $approvedMsg = '<span class="label label-primary" style="float: right; margin-top: -25px;">Not approved</span>';
        } else
            $approvedMsg = '<span class="label label-success" style="float: right; margin-top: -25px;">Approved</span>';
        //echo '<pre>';print_r($verifyArr);exit;
        ?>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-header text-left">
                                    <h3><?php echo $tRow['identity_name']; ?></h3>
        <?php echo $approvedMsg ?>
                                </div>   


                                <div class="form-group col-md-6">
                                    <label class="control-label">Verify ID</label>
                                    <p><?php echo ($tRow['verfiyid']) ? $tRow['verfiyid'] : '--' ?></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Document Image</label>
                                    <p><?php echo ($tRow['image']) ? '<img src="' . $this->basePath() . '/uploads/user_verification/medium/' . $tRow['image'] . '"> ' : '--' ?></p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <section class="block-section">
                                    <div class="sub-page-header text-left">
                                        <h4>Document Verification</h4>
                                    </div>
                                                            <?php if (is_array($verifyArr) && !empty($verifyArr)) { ?>
                                        <div class="sub-page-body">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="table-responsive table-responsive2">
                                                        <table class="table table-bordered table-hover tablesorter">
                                                            <thead>

                                                            <th>Fields</th>  
                                                            <th>Profile Info</th> 
                                                            <th>Status</th>
                                                            </thead>
                                                            <tbody>

                                                                <?php
                                                                foreach ($verifyArr as $key => $val) {

                                                                    echo '<tr>
                                                                                                    <td>' . $key . '</td>';

                                                                    if ($key == 'verfiyid') {
                                                                        echo '<td>' . $tRow['verfiyid'] . '</td>';
                                                                    } else if ($key == 'dob') {
                                                                        echo '<td>' . date('d-m-Y', $adminRow[$key]) . '</td>';
                                                                    } else if ($key == 'image') {
                                                                        echo '<td><img src="' . $this->basePath() . '/uploads/profile_picture/medium/' . $adminRow[$key] . '"></td>';
                                                                    } else
                                                                        echo '<td>' . $adminRow[$key] . '</td>';
                                                                    if ($val == 1) {
                                                                        echo '<td><span class="label label-success">Verified</span></td>';
                                                                    } else {
                                                                        echo '<td><span class="label label-danger">Not Verified</span><br><a href="#" onclick="doActionFn(\'verify\',' . $tRow['ID'] . ',\'' . $key . '\')" >Set Verified</a></td>';
                                                                    }
                                                                    echo '
                                                                                                </tr>';
                                                                }
                                                                ?>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                        <?php } else echo 'No Documents Found'; ?>
                                </section>
                            </div>

                        </div>
    <?php }
} else
    echo 'No documents found';
?>
            </div>
        </div>
        <div class="tab-pane fade row" id="verification_rejected">

            <div class="col-xs-12">
                <div class="page-header text-left">
                    <h3>Rejected Verification</h3>
                </div>
<?php
if (is_array($arrRejectedVerify) && !empty($arrRejectedVerify)) {
    foreach ($arrRejectedVerify as $tRow) {
        $approvedMsg = '';
        $verifyArr = unserialize($tRow['verify_details']);
        if (empty($tRow['approved'])) {
            if (is_array($verifyArr) && !in_array('0', $verifyArr))
                $approvedMsg = '<span style="float: right; margin-top: -35px;"><span class="label label-primary">Not approved</span><br><a href="#" onclick="doActionFn(\'approve\',' . $tRow['ID'] . ',0)" >Set as Approved</a></span>';
            else
                $approvedMsg = '<span class="label label-primary" style="float: right; margin-top: -25px;">Not approved</span>';
        } else
            $approvedMsg = '<span class="label label-success" style="float: right; margin-top: -25px;">Approved</span>';
        //echo '<pre>';print_r($verifyArr);exit;
        ?>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-header text-left">
                                    <h3><?php echo $tRow['identity_name']; ?></h3>
        <?php echo $approvedMsg ?>
                                </div>   


                                <div class="form-group col-md-6">
                                    <label class="control-label">Verify ID</label>
                                    <p><?php echo ($tRow['verfiyid']) ? $tRow['verfiyid'] : '--' ?></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Document Image</label>
                                    <p><?php echo ($tRow['image']) ? '<img src="' . $this->basePath() . '/uploads/user_verification/medium/' . $tRow['image'] . '"> ' : '--' ?></p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <section class="block-section">
                                    <div class="sub-page-header text-left">
                                        <h4>Document Verification</h4>
                                    </div>
                                                            <?php if (is_array($verifyArr) && !empty($verifyArr)) { ?>
                                        <div class="sub-page-body">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="table-responsive table-responsive2">
                                                        <table class="table table-bordered table-hover tablesorter">
                                                            <thead>

                                                            <th>Fields</th>  
                                                            <th>Profile Info</th> 
                                                            <th>Status</th>
                                                            </thead>
                                                            <tbody>

            <?php
            foreach ($verifyArr as $key => $val) {

                echo '<tr>
                                                                                                    <td>' . $key . '</td>';

                if ($key == 'verfiyid') {
                    echo '<td>' . $tRow['verfiyid'] . '</td>';
                } else if ($key == 'dob') {
                    echo '<td>' . date('d-m-Y', $adminRow[$key]) . '</td>';
                } else if ($key == 'image') {
                    echo '<td><img src="' . $this->basePath() . '/uploads/profile_picture/medium/' . $adminRow[$key] . '"></td>';
                } else
                    echo '<td>' . $adminRow[$key] . '</td>';
                if ($val == 1) {
                    echo '<td><span class="label label-success">Verified</span></td>';
                } else {
                    echo '<td><span class="label label-danger">Not Verified</span><br><a href="#" onclick="doActionFn(\'verify\',' . $tRow['ID'] . ',\'' . $key . '\')" >Set Verified</a></td>';
                }
                echo '
                                                                                                </tr>';
            }
            ?>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
        <?php } else echo 'No Documents Found'; ?>
                                </section>
                            </div>

                        </div>
    <?php }
} else
    echo 'No documents found';
?>
            </div>
        </div>
    </div>

</div>