<?php

$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
$arrPhotos = $arrVideos = $arrTrustVerify = $circlesArr = $arrReviews = $arrReference = array();
if(isset($_POST) && !empty($_POST)){
    extract($_POST);
}
if(isset($adminRow) && !empty($adminRow)){
   // echo '<pre>';print_r($adminRow);exit;
    extract($adminRow);
}


/*if($ID) {
=======
if($ID) {
>>>>>>> 137407f916ab8da726e94243580bf64c2c1be46d
    $dataArr['userId'] = $ID;
    $arrPhotos = $this->AdminUserModel->userPhotos($dataArr);
    $arrVideos = $this->AdminUserModel->userVideos($dataArr);
    $arrTrustVerify = $this->AdminUserModel->getUserVerification($dataArr);    
    $arrApprovedVerify = $this->AdminUserModel->getUserVerification(array('userId'=>$ID,'approved' => 1 ));     
    $arrRejectedVerify = $this->AdminUserModel->getUserVerification(array('userId'=>$ID,'rejected' => 1 ));
    $circlesArr = $this->AdminUserModel->treperZoneFriends($ID);
    $arrReference = $this->AdminUserModel->getUserReferences($dataArr);
    $reviews  = $this->AdminUserModel->getreviews( $ID);
   // echo '<pre>';var_dump($reviews);exit;
}*/


?>

<style type="text/css">
    .map_canvas { 
        width: 380px; 
        height: 700px; 
        margin: 10px 20px 10px 0;
    }

    #multiple li { 
        cursor: pointer; 
        text-decoration: underline; 
    }
</style>


<script type="text/javascript">
  

    function validateAccountForm() {
       clrErr();
       $errStaus = false;
       var action = '<?php echo $action  ?>';
       /*if (validateFormFields('user_id', 'Please select user.', ''))
       $errStaus = true;*/
       if(action != 'edit'){ 
         if (validateFormFields('user_photo_name', 'Please select an image.', '')) $errStaus = true;
       }
        if($('#user_photo_name').val() != '') {  
              var ext = $('#user_photo_name').val().split('.').pop().toLowerCase();
              var allow = new Array('gif','png','jpg','jpeg'); 
              if($.inArray(ext, allow) == -1 ){
                   setErr('user_photo_name','Please select valid image!');$errStaus = true;
              }
        }
        
        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

</script>

<script type="text/javascript">
 function doActionFn(action,id){ 
        console.log(id);
        if(action == 'edit' || action == 'view'){
			window.location= '<?php echo $this->basePath().'/admin/users/userphotomanager'; ?>?action='+action+'&id='+id;
    }
    

       else if(action == 'enable' || action == 'disable'){
			window.location= '<?php echo $this->basePath().'/admin/users/userphotomanager'; ?>?action='+action+'&id='+id;
	}
 


    
    else{
		 $('#doAction').val(action);	
 		 if(id != 'all' && $('#checked_'+id).length){
			 $('.checkedAll').prop('checked',false); 	
			 $('#checked_'+id).prop('checked',true); 
		  }
		 var checkBox = false;
		$.each($("input[name='ids[]']:checked"), function() {
			checkBox =  true;
		});
 		 if(checkBox == false){
			$('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');	 
 			return false;
		 }
		 if(action == 'delete'){
			if (confirm("Are you sure you want to delete?")) {
				$('#listFrm').submit();
			}	
		} else{
			$('#listFrm').submit();
		}
 	}
  }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
     <!-- Sidebar -->
     <div id="page-wrapper">
         <div class="wrapper-inner">
             <div class="top-section">
        <div class="row">
            <div class="col-xs-12">
                <h2>User Photo <small><?php echo isset($action)?ucfirst($action):'Add'?></small> </h2>
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                    <li>User Accounts</li>
                    <li><a href="<?php echo $this->basePath(); ?>/admin/users/userphotos"> User Photo List </a></li>
                    <li class="active"><?php echo isset($action)?ucfirst($action):'Add'?> User Photos</li>
                </ol>
            </div>
        </div></div>
        <!-- /.row -->
        <div id="messageRow">
        <?php if (!empty($flashMessages)){ ?>
         <div class="row">
            <?php foreach ($flashMessages as $msg) {
                  foreach ($msg as $type => $message) { ?>
            <div class="col-xs-12 msg_div">
             <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
               <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
            </div>
              <?php } 
              } ?>
          </div>
        <?php }?>
        </div>
        <div class="box-white">
             <?php 
            if($action != 'add') {  ?> 
                <div class="tab-new">
                        <ul class="nav nav-tabs nav-tabs-new"> 
                            <li class="active"><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=edit&id='.$user_id?>">Personal info</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/useraddressmanager?action=list&id='.$user_id.'#address_book'?>" id="addressBook_tab">My Addresses</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usertrustverificationmanager?action=list&id='.$user_id.'&listUri=pending'?>">Trust &amp; Verification</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#my_circles'?>">My Circles</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#reviews'?>">Reviews</a></li>
                            <li><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#references'?>">References</a></li>
                        </ul>
                    

                      
            <?php } ?>
                    <div class="tab-content">
                        <div id="personal_info" class="tab-pane fade active in">
                                
                                <?php 
            if($action != 'add') {  ?>
                                <div class="inner-tab">
                                    <ul class="nav nav-tabs nav-tabs-new">
                                        <li ><a  href="<?php echo $this->basePath().'/admin/users/usermanager?action=edit&id='.$user_id.'#personalDetails'?>">Personal Details</a></li>
                                        <li class="active"><a data-toggle="tab"  href="#photos">Photos</a></li>
                                        <li  ><a href="<?php echo $this->basePath().'/admin/users/usermanager?action=view&id='.$user_id.'#videos'?>">Videos</a></li>
                                        

                                    </ul>

                                </div>
            <?php } if($action == 'edit' || $action == 'add'){ ?>
                    <div id="photos" class="tab-pane fade active in row">
                <br>
                <div class="col-xs-12">
                     
                    <form id="geoAddrForm" enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                        <div class="page-header text-left">
                         <h3>Photo Details</h3>
                        </div>
                        <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                        <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    
                                <!-- <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">User <span style="color:red;">&nbsp;*</span></label>
                                        <input type="text" class="form-control required" autocomplete="off" data-provide="typeahead" id="user_id" name="user_id"> 
                                        <p id="err_user_id" class="text-danger err_msg"></p>
                                    </div>-->
                                
                                     <div id="div_user_photo_name" class="form-group col-md-12">
                                        <label for="user_photo_name" class="control-label">Photo <span style="color:red;">&nbsp;*</span></label>
                                        <input type="file" class="form-control required"  id="user_photo_name" name="user_photo_name"> 
                                        <p id="err_user_photo_name" class="text-danger err_msg"></p>
                                    </div>
                                    
                                    <div id="div_set_default" class="form-group col-md-12">
                                        <label for="set_default" class="control-label">Set as profile picture <span style="color:red;">&nbsp;*</span></label>
                                        <select id="set_default" name="marked_as_profile_photo" class="show-tick form-control">
                                                <option <?php echo (isset($marked_as_profile_photo) && $marked_as_profile_photo == '1')?'selected="selected"':'' ?> value="1">Yes</option>
                                                <option <?php echo (isset($marked_as_profile_photo) && $marked_as_profile_photo == '0')?'selected="selected"':'' ?> value="0">No</option>
                                         </select>
                                        <p id="err_marked_as_profile_photo" class="text-danger err_msg"></p>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                            <div class="col-xs-6">
                             <div class="map_canvas" style="width:100%; height:100px">
                              
                              <?php
                              if(isset($adminRow['user_photo_name']) && !empty($adminRow['user_photo_name'])){
                              echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/profile_picture/medium/'.$adminRow['user_photo_name'].'" alt="" title="">';
                              echo '<input type="hidden" name="user_photo_name_txt" value="'.$adminRow['user_photo_name'].'">';
                              }
                              
                              
                              ?>   
                              
                             </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">


<?php 				 
                            if($adminRow['active'] == 0){
                                    $enabled = 'disabled';
                            } else $enabled = ''; if($adminRow['active'] == 1){
                                    $disabled = 'disabled';
                            } else $disabled = '';
                 
          
                            echo '<button type="button" '.$disabled.' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$adminRow['user_photo_id'].');"></button>';
                            echo '<button type="button" '.$enabled.' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$adminRow['user_photo_id'].');"></button>';
?>
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 
                 
                </div>
              </div>
           <?php } if($action == 'edit'){ ?>
			                    <div id="photos" class="tab-pane fade active in row">
                                        <div class="col-xs-12">
                                             <div class="page-header text-left">
                                                <h3>Photos Info</h3>
                                            </div>
                                            <div class="row">
                                               
                                               <?php //if(is_array($arrPhotos) && !empty($arrPhotos)) {$i=1;
                                                    //foreach($arrPhotos as $pRow) { 
                                                       // if($i%4 == 0) echo '<div class="row">';
                                                      //  echo '<div class="col-xs-3"><img src='.$this->basePath().'/public/uploads/profile_picture/medium/'.$pRow['user_photo_name'].' "></div>';                                                                
                                                      //  if($i%4 == 0) echo '</div><br>';
                                                      //  $i++;
                                                   // }
                                               // } else echo 'No photos'; ?>
                                               
                                            </div>
												
			<!--  New code senthilk  ------------>
			
			<?php
            $sortBy = 'first_name';$sortOrder = 'desc';
            $arrGet =$_GET;
                if(isset($_GET['sortBy']) && isset($_GET['sortOrder']) &&  $_GET['sortBy'] && $_GET['sortOrder']){
                        $sortBy = $_GET['sortBy'];$sortOrder = $_GET['sortOrder'];
                }
               if(isset($arrGet)){
                       unset($arrGet['sortBy']); unset($arrGet['sortOrder']);
                        $listUrl  = $this->basePath().'/admin/users/useraddresses?'. http_build_query($arrGet);
                        $listUrl1  = $this->basePath().'/admin/users/useraddresses?'. http_build_query($arrGet);
               }
           ?>
			
				
				<table class="table table-bordered table-hover tablesorter">
                <thead>
                    <input type="hidden" value="<?php echo $listUrl?>" name="listUrl">
                    <tr>
                        <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" ></th>
                        <th style="width:20px;">#</th>
                        
                        <th>Image</th>                       
						<th style="width:170px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                //if(!empty($paginator)){ // currentPageNumber
                 //   $sno = (($paginator->getCurrentPageNumber()-1) * $paginator->getItemCountPerPage())+1;
                    //foreach($paginator as $adminRow){
                        //echo '<pre>';print_r($adminRow);
						
					 if(is_array($allphotos) && !empty($allphotos)) {$sno=1;
                                 foreach($allphotos as $pRow) { 
                                     
                                   
						
                ?>
                 <tr>
                    <td>
                    <!--<input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $adminRow['ID']?>" value="<?php echo $adminRow['ID']?>" name="ids[]">              </td>-->
                       <td><?php echo $sno ?></td>
                                        
					   <td><a href="<?php echo $this->basePath().'/admin/users/userphotoinfo?action=edit&id='.$pRow['user_photo_id'] ?>"><img src="<?php echo $this->basePath()?>/public/uploads/profile_picture/medium/<?php echo $pRow['user_photo_name'];?>" height="50" width="50"></a></td>				   
					   <td><?php if($pRow['active']  == 1) echo '<span class="label label-success">Enabled</span>'; else echo '<span class="label label-warning">Disabled</span>';?></td>
                       <td><?php 				 
                            if($pRow['active'] == 0){
                                    $enabled = 'disabled';
                            } else $enabled = ''; if($pRow['active'] == 1){
                                    $disabled = 'disabled';
                            } else $disabled = '';
                 
          
                           /* echo '<button type="button" '.$disabled.' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$pRow['user_photo_id'].');"></button>';
                            echo '<button type="button" '.$enabled.' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$pRow['user_photo_id'].');"></button>';*/
                            echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'edit\','.$pRow['user_photo_id'].');"></button>';
                           echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\','.$pRow['user_photo_id'].');"></button>'; ?></td>
                  </tr>
                 <?php
                        $sno++; 
                    }
                }else{
                ?>
                  <tr>
                   <td colspan="7">No records found.</td>
                  </tr>
                  <?php
                 }
                 ?>
                </tbody>
              </table>
																				
											
      <!---   New Code End ------------------------>		
                                        </div>
                                    </div>
			
           <?php }?>



<!-- view -->

<?php if($action == 'view'){  ?>
			                    <div id="photos" class="tab-pane fade active in row">
                                        <div class="col-xs-12">
                                             <div class="page-header text-left">
                                                <h3>Photos Info</h3>
                                            </div>
                                        
												
			<!--  New code senthilk  ------------>
			
			<?php
            $sortBy = 'first_name';$sortOrder = 'desc';
            $arrGet =$_GET;
                if(isset($_GET['sortBy']) && isset($_GET['sortOrder']) &&  $_GET['sortBy'] && $_GET['sortOrder']){
                        $sortBy = $_GET['sortBy'];$sortOrder = $_GET['sortOrder'];
                }
               if(isset($arrGet)){
                       unset($arrGet['sortBy']); unset($arrGet['sortOrder']);
                        $listUrl  = $this->basePath().'/admin/users/useraddresses?'. http_build_query($arrGet);
                        $listUrl1  = $this->basePath().'/admin/users/useraddresses?'. http_build_query($arrGet);
               }
           ?>
			
				
				<table class="table table-bordered table-hover tablesorter">
                <thead>
                    <input type="hidden" value="<?php echo $listUrl?>" name="listUrl">
                    <tr>
                        
                        
                        <th>Image</th>   
                        <th>status</th>                              
					
                    </tr>
                </thead>
                <tbody>
                <?php
                //if(!empty($paginator)){ // currentPageNumber
                 //   $sno = (($paginator->getCurrentPageNumber()-1) * $paginator->getItemCountPerPage())+1;
                    //foreach($paginator as $adminRow){
                        //echo '<pre>';print_r($adminRow);
						//echo '<pre>';print_r($adminRow);
					 
                                     
                                   
						
                ?>
                 <tr>
                    
                                        
					   <td><img src="<?php echo $this->basePath()?>/public/uploads/profile_picture/medium/<?php echo $adminRow['user_photo_name'];?>" height="50" width="50"></td>				   
					   <td><?php if($adminRow['active']  == 1) echo '<span class="label label-success">Enabled</span>'; else echo '<span class="label label-warning">Disabled</span>';?></td>
 
                  </tr>
                
                </tbody>
              </table>
																				
											
      <!---   New Code End ------------------------>		
                                        </div>
                                    </div>
			
           <?php }?>




</div>
</div></div>

<script type="text/javascript">
    $('.multi-select').multiselect();
    $(document).ready(function(){
        $("#user_id").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
            theme: "facebook",
            tokenLimit: 1,
            <?php if(isset($userPrePop)){ ?>
            prePopulate: <?php echo $userPrePop; ?>
            <?php } ?>
        });
    });
    
    
</script>