<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {

    extract($adminRow);
}

if ($action == 'edit') $userId = $adminRow['user'];
else $userId = $id;
$ARRADMIN_TYPE = array('0' => 'Select UserType', '2' => 'Admin', '3' => 'Manager/Editor', '4' => 'Tester or Impersonator', '5' => 'Customer Support');
?>

<style type="text/css">
    .map_canvas {
        width: 380px;
        height: 700px;
        margin: 10px 20px 10px 0;
    }

    #multiple li {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<?php if ($action != 'view') { ?>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<?php } else { ?>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<?php } ?>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>

<script type="text/javascript">
    $(document).ready(function () {

    });
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action  ?>';
        if (validateFormFields('userSelect', 'Please select user.', ''))
            $errStaus = true;

        if (validateFormFields('name', 'Please enter address type.', ''))
            $errStaus = true;

        if ($('#street_address_1').val() == '' || $('#street_address_1').val() == undefined) {
            setMsg('street_address_1', 'Please enter street address 1!');
            $errStaus = true;
        }
        if ($('#city').val() == '' || $('#city').val() == undefined) {
            setMsg('city', 'Please enter city!');
            $errStaus = true;
        }
        if ($('#state').val() == '' || $('#state').val() == undefined) {
            setMsg('state', 'Please enter state!');
            $errStaus = true;
        }
        console.log($('#country').val());
        if ($('#country').val() == '' || $('#country').val() == undefined) {
            setMsg('country', 'Please select country!');
            $errStaus = true;
        }

        if ($('#zip_code').val() == '' || $('#zip_code').val() == undefined) {
            setMsg('zip_code', 'Please enter zip code!');
            $errStaus = true;
        }

        //  if ($('#set_default').val() == '' || $('#set_default').val() == undefined) {
        //   setMsg('set_default', 'Please select address is default status!');
        //  $errStaus = true;
        //}

        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>User Address
                            <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small>
                        </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i
                                        class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>User Accounts</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/users/useraddresses"> User Address
                                    List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> User Address</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
                <?php if (!empty($flashMessages)) { ?>
                    <div class="row">
                        <?php foreach ($flashMessages as $msg) {
                            foreach ($msg as $type => $message) { ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">Ã—</span></button><?php echo $message; ?></div>
                                </div>
                            <?php }
                        } ?>
                    </div>
                <?php } ?>
            </div>
            <div class="box-white">
                <div class="tab-new">
                    <?php
                    if ($action != 'add') { ?>
                        <ul class="nav nav-tabs nav-tabs-new">
                            <li><a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=edit&id='.$userId.'#personalDetails' ?>">Personal

                                    Info</a></li>
                            <li class="active"><a data-toggle="tab" href="#address_book" id="addressBook_tab">My
                                    Addresses</a></li>
                            <li>
                                <a href="<?php echo $this->basePath() . '/admin/users/usertrustverificationmanager?action=list&id=' . $userId . '&listUri=pending' ?>">Trust
                                    &amp; Verification</a></li>
                            <li>
                                <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $userId . '#my_circles' ?>">My
                                    Circles</a></li>
                            <li>
                                <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $userId . '#reviews' ?>">Reviews</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $userId . '#references' ?>">References</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $userId . '#referrals' ?>">Referrals</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->basePath() . '/admin/users/usermanager?action=view&id=' . $userId . '#notifications' ?>">Notifications</a>
                            </li>
                        </ul>
                    <?php } ?>


                    <div class="box-white">
                        <div class="tab-content">
                            <?php if ($action == 'edit' || $action == 'add') { ?>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form id="geoAddrForm" enctype="multipart/form-data"
                                              onsubmit="return validateAccountForm()" id="accAdminFrm"
                                              name="accAdminFrm" accept-charset="utf-8" method="post"
                                              action="<?php echo $_SERVER['REQUEST_URI'] ?>">
                                            <div class="page-header text-left">
                                                <h3>Address Details</h3>
                                            </div>
                                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                                            <input type="hidden" name="action"
                                                   value="<?php echo isset($action) ? $action : ''; ?>">

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="row">

                                                        <div id="div_user" class="form-group col-md-12">
                                                            <label for="user" class="control-label">User <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <input type="text" class="form-control required"
                                                                   autocomplete="off" data-provide="typeahead"
                                                                   id="userSelect" name="user">

                                                            <p id="err_user" class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_address_type" class="form-group col-md-12">
                                                            <label for="name" class="control-label">Name <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <input type="text" class="form-control required"
                                                                   placeholder="Name" id="name"
                                                                   value="<?php echo isset($name) ? $name : '' ?>"
                                                                   name="name">

                                                            <p id="err_address_type" class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_street_address_1" class="form-group col-md-12">
                                                            <label for="street_address_1" class="control-label">Street
                                                                Address 1 <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <input type="text" data-geo="route" class="form-control"
                                                                   placeholder="Street Address 1" id="street_address_1"
                                                                   value="<?php echo isset($street_address_1) ? $street_address_1 : '' ?>"
                                                                   name="street_address_1">

                                                            <p id="err_street_address_1"
                                                               class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_street_address_2" class="form-group col-md-12">
                                                            <label for="street_address_2" class="control-label">Street
                                                                Address 2</label>
                                                            <input type="text" data-geo="sublocality"
                                                                   class="form-control" placeholder="Street Address 2"
                                                                   id="street_address_2"
                                                                   value="<?php echo isset($street_address_2) ? $street_address_2 : '' ?>"
                                                                   name="street_address_2">

                                                            <p id="err_street_address_2"
                                                               class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_city" class="form-group col-md-12">
                                                            <label for="city" class="control-label">City <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <input type="text" data-geo="locality" class="form-control"
                                                                   placeholder="City" id="city"
                                                                   value="<?php echo isset($city) ? $city : '' ?>"
                                                                   name="city">

                                                            <p id="err_city" class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_state" class="form-group col-md-12">
                                                            <label for="state" class="control-label">State <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <input type="text" data-geo="administrative_area_level_1"
                                                                   class="form-control" placeholder="State" id="state"
                                                                   value="<?php echo isset($state) ? $state : '' ?>"
                                                                   name="state">

                                                            <p id="err_state" class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_zip_code" class="form-group col-md-12">
                                                            <label for="zip_code" class="control-label">Zip code <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <input type="text" data-geo="postal_code"
                                                                   class="form-control" placeholder="Zip code"
                                                                   id="zip_code"
                                                                   value="<?php echo isset($zip_code) ? $zip_code : '' ?>"
                                                                   name="zip_code">

                                                            <p id="err_zip_code" class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_country" class="form-group col-md-12">
                                                            <label for="country" class="control-label">Country <span
                                                                    style="color:red;">&nbsp;*</span></label>
                                                            <!--div class="form-group">
                                                                <select class="show-tick form-control bfh-languages country-select" id="countryDrop" name="countryDrop" data-width="100%">
                                                                <!?php if($this->countries){
                                                                    echo '<option value="">-- select --</option>';
                                                                    foreach($this->countries as $eachCountry){
                                                                        $selected = '';
                                                                        if($action == 'edit')
                                                                            $selected = ($eachCountry['ID'] == $country)?'selected="selected"':'';
                                                                        echo '<option '.$selected.' value="'.$eachCountry['ID'].'">'.$eachCountry['name'].'</option>';
                                                                    }
                                                                }else{
                                                                    echo '<option value="">-- select --</option>';
                                                                }
                                                                ?>
                                                                </select>
                                                            </div-->
                                                            <input type="text" data-geo="country" class="form-control"
                                                                   placeholder="Country" id="country"
                                                                   value="<?php echo isset($country) ? $country : '' ?>"
                                                                   name="country">

                                                            <p id="err_country" class="text-danger err_msg"></p>
                                                        </div>

                                                        <div id="div_set_default" class="form-group col-md-12">
                                                            <label for="set_default" class="control-label">Set as
                                                                primary <span style="color:red;">&nbsp;*</span></label>

                                                            <div class="yesNo">
                                                                <label class="sliderCheck">
                                                                    <input type="checkbox" id="set_default" value="1"
                                                                           name="set_default">

                                                                    <div class="slider round"></div>
                                                                </label>
                                                            </div>
                                                            <!--                                       <select id="set_default" name="set_default" class="show-tick form-control">
                                            <?php //if($action == 'edit'){ ?>
                                                <option <?php //echo ($set_default == '1')?'selected="selected"':'' ?> value="1">Yes</option>
                                                <option <?php //echo ($set_default == '0')?'selected="selected"':'' ?> value="0">No</option>
                                            <?php //}else{ ?>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            <?php //} ?>
                                        </select>
										-->
                                                            <p id="err_set_default" class="text-danger err_msg"></p>
                                                        </div>
                                                        <input type="hidden" id="latitude" name="latitude"
                                                               data-geo="lat">
                                                        <input type="hidden" id="longitude" name="longitude"
                                                               data-geo="lng">

                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="map_canvas" style="width:100%; height:700px"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-primary" id="subAdminBtn" value="true"
                                                            type="submit" name="subAdminBtn">Submit
                                                    </button>
                                                    &nbsp;
                                                    <button onclick="window.location.href = document.referrer"
                                                            class="btn btn-warning" id="resetBtn" value="true"
                                                            type="reset" name="resetBtn">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            <?php } else if ($action == 'list') { ?>
                                <div id="address_book" class="tab-pane fade active in row">
                                    <div class="col-xs-12">
                                        <div class="page-header text-left">
                                            <h3>Address Details</h3>
                                            <span style="float:right; margin-top:-35px"><a
                                                    href="<?php echo $this->basePath() ?>/admin/users/useraddresses"
                                                    class="btn btn-warning" id="resetBtn" name="resetBtn">Go To List</a></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12"><h4>User: <?php $i = 1;
                                                    foreach ($paginator as $adminRow) {
                                                        if ($i == 1) {
                                                            echo $adminRow['first_name'];
                                                            break;
                                                        }
                                                    }
                                                    ?></h4></div>
                                            <br>
                                        </div>
                                             <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl?>"><input type="hidden" id="doAction" value="" name="doAction"><div class="table-responsive table-responsive2">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <input type="hidden" value="<?php echo $listUrl?>" name="listUrl">
                    <tr>
                        <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" ></th>
                        <th style="width:20px;">#</th>
                        <th onclick="doSort('first_name','<?php echo  $listUrl;?>');" class="doSort-cursor">First Name <i id="sort_first_name" class="fa <?php if($sortBy != 'first_name')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('email_address','<?php echo  $listUrl;?>');" class="doSort-cursor">Email ID<i id="sort_email" class="fa  <?php if($sortBy != 'email_address')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('country','<?php echo  $listUrl;?>');" class="doSort-cursor">Full Address <i id="country" class="fa  <?php if($sortBy != 'country')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th onclick="doSort('set_default','<?php echo  $listUrl;?>');" class="doSort-cursor">Default <i id="sort_set_default" class="fa  <?php if($sortBy != 'set_default')echo 'fa-sort';else if($sortOrder == 'desc')echo 'fa-sort-asc'; else echo 'fa-sort-desc'; ?> "></i></th>
                        <th style="width:170px;">Status</th>
						<th style="width:170px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                if(!empty($paginator)){ // currentPageNumber
                    $sno = (($paginator->getCurrentPageNumber()-1) * $paginator->getItemCountPerPage())+1;
                    foreach($paginator as $adminRow){
                        //echo '<pre>';print_r($adminRow);
                ?>
                 <tr>
                    <td>
                    <input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $adminRow['ID']?>" value="<?php echo $adminRow['ID']?>" name="ids[]">              </td>
                       <td><?php echo  $sno ?></td>
                       <td><?php echo $adminRow['first_name']?></td>
                       <td><?php echo $adminRow['email_address']?></td>
                       <td><?php echo $adminRow['street_address_1'].",<br> ".$adminRow['street_address_2'].",<br> ".$adminRow['city'].",<br> ".$adminRow['state']." - ".$adminRow['zip_code'].",<br> ".$adminRow['country']?></td>
                       <td><?php if($adminRow['set_default']  == 1)echo '<span class="label label-success">Default</span>';else echo '<span class="label label-warning">No</span>';?></td>   
					   <td><?php if($adminRow['active']  == 1) echo '<span class="label label-success">Enabled</span>'; else echo '<span class="label label-warning">Disabled</span>';?></td>      
					   <td><?php 				 
                            if($adminRow['active'] == 0){
                                    $enabled = 'disabled';
                            } else $enabled = ''; if($adminRow['active'] == 1){
                                    $disabled = 'disabled';
                            } else $disabled = '';
                 
          
                        echo '<button type="button" '.$disabled.' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$adminRow['ID'].');"></button>';
                        echo '<button type="button" '.$enabled.' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$adminRow['ID'].');"></button>';
                        echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'edit\','.$adminRow['ID'].');"></button>';
                        echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'list\','.$adminRow['user'].');"></button>';
                        echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\','.$adminRow['ID'].');"></button>';
                        ?></td>
                  </tr>
                 <?php
                        $sno++; 
                    }
                }else{
                ?>
                  <tr>
                   <td colspan="7">No records found.</td>
                  </tr>
                  <?php
                 }
                 ?>
                </tbody>
              </table>
            </div>
            </form>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <div class="new-pagnav">
                                                <?php echo $this->paginationControl(
                                                    $this->paginator,
                                                    'sliding',
                                                    'layout/paginator.phtml',
                                                    //array('route' => 'admin/users/useraddresses')
                                                    array('route' => 'useraddressmanager')
                                                );
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php } else if ($action = 'view') { ?>
                                <div id="address_book" class="tab-pane fade active in row">
                                    <div class="col-xs-12">
                                        <div class="page-header text-left">
                                            <h3>Address Details</h3>
                                            <?php
                                            if (!empty($paginator)) {
                                                foreach ($paginator as $adminRow) {
                                                    $userId = $adminRow['user'];
                                                }
                                            } ?>
                                            <span style="float:right; margin-top:-35px"><a
                                                    href="<?php echo $this->basePath() . '/admin/users/useraddressmanager?action=list&id=' . $userId; ?>"
                                                    class="btn btn-warning" id="resetBtn"
                                                    name="resetBtn">Back</a></span>
                                        </div>
                                        <?php
                                        if (!empty($paginator)) {  // currentPageNumber
                                            $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
                                            foreach ($paginator as $adminRow) {
                                                $latitude = isset($adminRow['latitude']) && $adminRow['latitude'] ? $adminRow['latitude'] : '';
                                                $longitude = isset($adminRow['longitude']) && $adminRow['longitude'] ? $adminRow['longitude'] : ''; ?>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="row">

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">User</label>

                                                                <p><?php echo $email_address = (isset($adminRow['email_address']) && $adminRow['email_address'] != '') ? $adminRow['email_address'] : '--'; ?></p>
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Address Type</label>

                                                                <p><?php echo $name = (isset($adminRow['name']) && $adminRow['name'] != '') ? $adminRow['name'] : '--'; ?></p>
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Street Address 1</label>

                                                                <p><?php echo $street_address_1 = (isset($adminRow['street_address_1']) && $adminRow['street_address_1'] != '') ? $adminRow['street_address_1'] : '--'; ?></p>
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Street Address 2</label>

                                                                <p><?php echo $street_address_2 = (isset($adminRow['street_address_2']) && $adminRow['street_address_2'] != '') ? $adminRow['street_address_2'] : '--'; ?></p>
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">City</label>

                                                                <p><?php echo $city = (isset($adminRow['city']) && $adminRow['city'] != '') ? $adminRow['city'] : '--'; ?></p>

                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">State</label>

                                                                <p><?php echo $state = (isset($adminRow['state']) && $adminRow['state'] != '') ? $adminRow['state'] : '--'; ?></p>
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Zip Code</label>

                                                                <p><?php echo $zip_code = (isset($adminRow['zip_code']) && $adminRow['zip_code'] != '') ? $adminRow['zip_code'] : '--'; ?></p>

                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Country</label>

                                                                <p><?php echo $country = (isset($adminRow['country']) && $adminRow['country'] != '') ? $adminRow['country'] : '--'; ?></p>

                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label class="control-label">Is Primary Address</label>

                                                                <p><?php echo (isset($adminRow['set_default']) && $adminRow['set_default'] == '1') ? 'Yes' : 'No'; ?></p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div id="map1" style="width:300px; height:200px">
                                                            <div id="map_canvas" style="width:100%; height:150%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php }
                                        } else echo 'No address found'; ?>
                                        <div class="row">
                                            <div class="col-md-6">

                                            </div>
                                            <div class="form-group col-md-6 text-right">
                                                <div class="new-pagnav">
                                                    <?php /*echo $this->paginationControl(
                              $this->paginator,
                              'sliding',
                              'layout/paginator.phtml',
                              //array('route' => 'admin/users/useraddresses')
                             array( 'route' => 'useraddressmanager')
                          );*/
                                                    ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
    <script type="text/javascript">
        $('.multi-select').multiselect();
        $(document).ready(function () {
            $("#userSelect").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
                theme: "facebook",
                tokenLimit: 1,
                <?php if(isset($userPrePop)){ ?>
                prePopulate: <?php echo $userPrePop; ?>
                <?php } ?>
            });
        });
        $(function () {
            <?php if($action != 'view'){ ?>
            $("#street_address_1").geocomplete({
                map: ".map_canvas",
                details: "#geoAddrForm",
                detailsAttribute: "data-geo",
                types: ["geocode", "establishment"],
                markerOptions: {
                    draggable: true
                },
                <?php if($action == 'edit'){
                    echo 'location: ['.$latitude.','.$longitude.']';
                } ?>
            });
            $("#street_address_1").bind("geocode:dragged", function (event, latLng) {
                $('#latitude').val(latLng.lat());
                $('#longitude').val(latLng.lng());
                var map = $("#street_address_1").geocomplete("map");
                map.panTo(latLng);
                var geocoder = new google.maps.Geocoder();

                geocoder.geocode({'latLng': latLng}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            $('#street_address_1').val(results[0].address_components[1].long_name);
                            $('#street_address_2').val(results[0].address_components[2].long_name);
                            $('#city').val(results[0].address_components[4].long_name);
                            $('#state').val(results[0].address_components[6].long_name);
                            $('#zip_code').val(results[0].address_components[8].long_name);
                            $('#country').val(results[0].address_components[7].long_name);
                            $('#country').val(results[0].address_components[7].sho_name);
                        }
                    }
                });
            });
            <?php } ?>
        });
        <?php if($action == 'view'){ ?>
        function viewMapInit() {
            var map1;
            var geocoder;
            var centerChangedLast;
            var reverseGeocodedLast;
            var currentReverseGeocodeResponse;
            var latlng_in;
            var latlng_in = new google.maps.LatLng('<!?php echo $latitude.', '.$longitude; ?>');
            <?php if($latitude && $longitude) { ?>
            latlng_in = new google.maps.LatLng(<?php echo $latitude.','.$longitude; ?>);
            <?php } ?>


            console.log('<!?php echo $latitude.', '.$longitude; ?>');
            var myOptions1 = {
                zoom: 16,
                center: latlng_in,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map1 = new google.maps.Map(document.getElementById("map_canvas"), myOptions1);
            var marker1 = new google.maps.Marker({
                position: latlng_in,
                map: map1,
                title: "<?php echo $name.','.$street_address_1.','.$street_address_2.','.$city.','.$state.','.$zip_code.','.$country; ?>"
            });
            geocoder = new google.maps.Geocoder();
        }
        google.maps.event.addDomListener(window, "load", viewMapInit);
        <?php } ?>

 function doActionFn(action,id){ alert("sad");
        console.log(id);
        if(action == 'edit' || action == 'view'|| action == 'list'){ 
			window.location= '<?php echo $this->basePath().'/admin/users/useraddressmanager'; ?>?action='+action+'&id='+id;
	}else{
		 $('#doAction').val(action);	
 		 if(id != 'all' && $('#checked_'+id).length){
			 $('.checkedAll').prop('checked',false); 	
			 $('#checked_'+id).prop('checked',true); 
		  }
		var checkBox = false;
		$.each($("input[name='ids[]']:checked"), function() {
			checkBox =  true;
		});
 		 if(checkBox == false){
			$('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');	 
 			return false;
		 }
		 if(action == 'delete'){
			if (confirm("Are you sure you want to delete?")) {
				$('#listFrm').submit();
			}	
		} else{
			$('#listFrm').submit();
		}
 	}
  }



    </script>