<?php
$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.geocomplete.min.js','text/javascript');
$this->headScript()->appendScript("addressbookmap();");
?>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<form class="form_addtrippeople_origindetail form-horizontal" id="form_origin_location_address" name="form_origin_location_address" action="" method="post" role="form">
    <input type="hidden" name="editid" id="editidj" value=""/>
	<input type="hidden" name="lat" id="latitude" value="" >   
	<input type="hidden" name="lng" id="longitude" value="" >   
	<div class="panel-body">
		<?php if(count($this->user_locations)>0){ ?>
		<div class="form-group form-group-select-plus">
			<div class="col-sm-8">
				<input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="existing_address" checked="checked"> Select Contact Address`
				<select class="form-control" name="existing_user_location" id="existing_user_location">
					<option value="" selected="selected"> - select contact address - </option>
					<?php if(count($this->user_locations)>0){
						foreach($this->user_locations as $location){ ?>
							<option value="<?=$location['ID'];?>"><?=$location['name'];?> - <?=$location['street_address_1'];?><?php if($location['street_address_2']!=''){ echo ', '.$location['street_address_2']; } ;?>, <?=$location['city'];?> - <?=$location['zip_code'];?>, <?=$location['state'];?>, <?=$location['country_name'];?> </option>
						<?php }
					} ?>
				</select>
			</div>
		</div>
		<div class="form-group form-group-select-plus">
			<div class="col-sm-8">
				<input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address"> Add New Address
			</div>
		</div>
		<?php } ?>
		<div class="row">
			<div class="col-sm-7">
				<div id="divNewAddress" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
					<div class="form-group">
						<label class="col-sm-4 control-label">Address Type</label>
						<div class="col-sm-8">
							<input class="form-control" name="contact_name" id="contact_name" placeholder="Ex. Home or New york Office" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Street Address 1</label>
						<div class="col-sm-8">
							<input class="form-control" name="route" id="street_address_1" placeholder="Street Address 1" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Street Address 2</label>
						<div class="col-sm-8">
							<input class="form-control" name="sublocality" id="street_address_2" placeholder="Street Address 2" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">City</label>
						<div class="col-sm-8">
							<input class="city form-control" name="locality" id="city" placeholder="City" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">State</label>
						<div class="col-sm-8">
							<input class="form-control" name="administrative_area_level_1" id="state" placeholder="State" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Zip Code</label>
						<div class="col-sm-8">
							<input class="form-control" name="postal_code" id="postal_code" data-geo="postal_code" placeholder="Zip Code" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Country</label>
						<div class="col-sm-8">
							<select class="form-control" name="country_name" id="country">
								<option value="" selected="selected"> - select country - </option>
								<?php if(count($this->countries)>0){
									foreach($this->countries as $country){ ?>
										<option value="<?=$country['ID'];?>"><?=$country['name'];?></option>
									<?php } 
								} ?>
							</select> 
							<input class="form-control" name="country" id="countryasn" placeholder="Country" type="text" />
						</div>
					</div>
					<?php /* ?>
					<div class="form-group">
						<label class="col-sm-4 control-label">Phone</label>
						<div class="col-sm-8">
							<input class="form-control" name="phone" id="phone" placeholder="Phone" type="text" />
						</div>
					</div>
					<?php */ ?>
					<div class="checkbox checkbox-small col-sm-8 col-sm-offset-4">
						<label><input class="i-check" type="checkbox" id="setdeflt" name="setdeflt" value="1" />Set as primary</label>
						<input class="btn btn-primary pull-right" type="button" onclick="javascript:InsertAddressBook();" name="submit" value="Save" />
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="map_canvas" style="height: 445px;"></div>
			</div>
		</div>		
	</div>
</form>
  