<?php
	$this->headScript()->appendFile($this->themeUrl(THEMENAME).'/js/dataTables.min.js','text/javascript');
	$this->headScript()->appendScript("getflightpopup();");
?>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/css/jquery.dataTables.min.css">
<form class="form-horizontal" id="form_travel_details" name="form_travel_details">
	<div class="panel-body">
		<?php if(count($this->user_locations)>0){ ?>
			<div class="row row-wrap">
                            <div class="col-sm-6 mb10">
                                <input type="radio" name="travel_plan_type" id="travel_plan_type" class="contact_plan_type" value="existing_plan" checked="checked"> Select Travel Plan
                            </div>
                            <div class="col-sm-6 mb10">
                                <input type="radio" name="travel_plan_type" id="travel_plan_type" class="contact_plan_type" value="new_plan"> Add Travel Plan
                            </div>
			</div>
			<div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control" name="travel_plan" id="travel_plan">
                                    <option selected="selected" value="">select plan</option>
                                    <?php if(count($this->travel_plans)>0){ foreach($this->travel_plans as $travel_plan){ ?>
                                            <option value="<?=$travel_plan['ID'];?>"><?=$travel_plan['origin_location_code'];?> - <?=$travel_plan['destination_location_code'];?> ( <?=date('m/d/Y',  strtotime($travel_plan['departure_date']));?> to  <?=date('m/d/Y',  strtotime($travel_plan['arrival_date']));?>)</option>
                                    <?php }  } ?>
                                </select>
                            </div>
			</div>			
		<?php } ?>
		<div id="chooseplan" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
			<div class="form-group">
				<div class="col-sm-12">
					<select class="form-control"  name="travel_plan_reservation_type" id="travel_plan_reservation_type">
						<option value="0">Choose ticket reservation type</option>
						<option value="1">Booked</option>
						<option value="2">Unplanned</option>
					</select>
				</div>
			</div>
		</div>
		<div id="choose_type_one" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
			<? /* ?>
			<div class="form-group">
				<label class="col-sm-4 control-label">Travel Name</label>
				<div class="col-sm-8">
					<input class="form-control" placeholder="Travel Name" type="text" name="traval_name" id="traval_name" />
				</div>
			</div>
			<? */ ?>
			<div class="form-group">
				<label class="col-sm-4 control-label">Origin Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Destination Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Departure Date</label>
				<div class="col-sm-8">
					<div class="row row-no-gutter">
						<div class="col-sm-6">
							<div class="input-group">
								<input class="date-pick form-control" name="departure_date" id="departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row row-no-gutter">
								<div class="col-sm-9 pull-right">
									<div class="input-group">
										<input class="time-pick form-control"  name="departure_time" id="departure_time"  type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Arrival Date</label>
				<div class="col-sm-8">
					<div class="row row-no-gutter">
						<div class="col-sm-6">
							<div class="input-group">
								<input class="date-pick form-control" type="text"  name="arrival_date" id="arrival_date"  /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row row-no-gutter">
								<div class="col-sm-9 pull-right">
									<div class="input-group">
										<input class="time-pick form-control" type="text"  name="arrival_dat" id="arrival_time" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#getFlightStops" onclick="getFlightStops()">Get Available Flights</button>
					<!--<a href="javascript:void(0);" onclick="getFlightStops()" >Get Available Flights </a>-->
				</div>
				<input type="hidden" name="flight_key" id="flight_key" value="">
				<input type="hidden" name="proposal_key" id="proposal_key" value="">
				<input type="hidden" name="service_fee" id="service_fee" value="">
				<input type="hidden" name="distance" id="distance" value="">
				<div id="divSelectedFlight"></div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel" data-backdrop="static">
			  <div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5 class="modal-title text-center" id="getFlightStopsLabel">Please enter or select details of airlines per flight booking you have made for this journey</h5>
				  </div>
				  
				  <div class="modal-body">
						<div id="flights" style="display: none;">
							<div class="form-group">
								<label class="col-sm-4 control-label">No.Stop</label>
								<div class="col-sm-8">
									<select class="form-control"  name="nstop" id="nstop" onchange="getFlights()" >
										<option value=""> - flight stops - </option>
									</select>
								</div>
							</div>
							<div class="clearfix"></div>
							<div id="divFlights"></div>
						</div>
				  </div>
				  
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<!--<button type="button" class="btn btn-primary">Save changes</button>-->
				  </div>
				</div>
			  </div>
			</div>
			<!--
			<div class="form-group">
				<label class="col-sm-4 control-label">Time</label>
				<div class="col-sm-8">
					<select class="form-control"  name="time" id="time" >
						<option selected="selected">Select time</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Airline Name</label>
				<div class="col-sm-8">
					<select class="form-control"  name="airline_name" id="airline_name" >
						<option selected="selected">Select Flight Name</option>
						<option>Airline One</option>
						<option>Airline Two</option>
						<option>Airline Three</option>
						<option>Airline Four</option>
						<option>Airline Five</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Flight No</label>
				<div class="col-sm-8">
					<select class="form-control"  name="flight_number" id="flight_number" >
						<option selected="selected">Select Flight No</option>
						<option>NZ1</option>
						<option>NZ2</option>
						<option>NZ5</option>
						<option>NZ6</option>
						<option>NZ7</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Cabin</label>
				<div class="col-sm-8">
					<select class="form-control"  name="cabin" id="cabin" >
						<option selected="selected">Business Class</option>
						<option>Economy</option>
						<option>First</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Booking Status</label>
				<div class="col-sm-9">
					<select class="form-control" id="booking_status" name="booking_status">
						<option value="Confirmed" selected="selected">Confirmed</option>
						<option value="Cancelled">Cancelled</option>
						<option value="Waiting">Waiting</option>
					</select>
				</div>
			</div>-->			
			<div class="form-group">
				<label class="col-sm-4 control-label">Ticket</label>
				<div class="col-sm-8">
					<input type="file" name="ticket" id="ticket">
					<p class="help-block">Upload your Ticket</p>
				</div>
			</div>
		</div>
		
		<div id="choose_type_two" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
			<div class="form-group">
				<label class="col-sm-4 control-label">Origin Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="unplanned_origin_location" id="unplanned_origin_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Destination Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="unplanned_destination_location" id="unplanned_destination_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Departure</label>
				<div class="col-sm-4">
					<label>Date</label>
					<div class="input-group">
						<input class="date-pick form-control" name="unplanned_departure_date" id="unplanned_departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
					</div>
				</div>
				<div class="col-sm-4">
					<label>Date Flexibility</label>
                                        <select class="form-control" id="date_flexibility" name="date_flexibility">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Dates range</label>				
				<div class="col-sm-8">
					<div class="input-daterange" id="datepicker">
						<div class="input-group">
							<input type="text" name="project_start_date" id="" class="input-small form-control" name="start" />
							<span class="input-group-addon">to</span>
							<input type="text" name="project_end_date" id="" class="input-small form-control" name="end" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</form>
<div id="flightDisplayContents" style="display: none;">
	<div class="col-sm-3"></div>
	<div class="col-sm-3"></div>
	<div class="col-sm-3"></div>
</div>