<?php
$this->headScript()->appendFile($this->themeUrl(THEMENAME).'/js/dataTables.min.js','text/javascript');
$this->headScript()->appendScript("getflightpopup();");
?>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/css/jquery.dataTables.min.css">
<form class="form-horizontal" id="form_travel_details" name="form_travel_details">
	<div class="panel-body">				
		<div id="divNewplan">
			<div class="form-group">
				<label class="col-sm-4 control-label">Origin Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Destination Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" />
				</div>
			</div>
			<div class="form-group">
                            <label class="col-sm-4 control-label pt0">Shipping</label>
                            <div class="col-sm-4">
                                <label>Date</label>
                                <div class="input-group">
                                    <input class="date-pick form-control" name="departure_date" id="departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>Date Flexibility</label>
                                <select class="form-control" id="date_flexibility" name="date_flexibility">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
			</div>
			<div class="form-group">
                            <label class="col-sm-4 control-label">Dates range</label>				
                            <div class="col-sm-8">
                                <div class="input-daterange" id="datepicker">
                                    <div class="input-group">
                                        <input type="text" name="project_start_date" id="" class="input-small form-control" name="start" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" name="project_end_date" id="" class="input-small form-control" name="end" />
                                    </div>
                                </div>
                            </div>
			</div>
		</div>
	</div>
</form>