<?php
	$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.geocomplete.min.js','text/javascript');
	$this->headScript()->appendScript('
	$(function(){
        $("#street_address_1").geocomplete({
			map: ".map_canvas",
			location: [52.4078567, 16.92718339999999], // is it centring the map, no pin thought
			details: "form",
			types: ["geocode", "establishment"]
		});
	});
      

		//var cnt=  $("street_address_1").geocomplete("find", "country");
		//alert(cnt);
		$("input[name=country]").change(function() { 
			alert(this.value);
			$("#country").val(this.value);
		});
	');
?>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<div class="col-md-7">
<form class="form_addtrippeople_origindetail form-horizontal" id="form_origin_location_address" name="form_origin_location_address" >
    <input type="hidden" name="editid" id="editidj" value=""/>
        <input type="hidden" name="lat" id="latitude" value="" >   
        <input type="hidden" name="lng" id="longitude" value="" >   
        <div class="panel-body">
            <?php if(count($this->user_locations)>0){ ?>
            <div class="form-group form-group-select-plus">
                <div class="col-sm-9">
                    <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="existing_address" checked="checked"> Select Contact Address`
                    <select class="form-control" name="existing_user_location" id="existing_user_location">
                        <option value="" selected="selected"> - select contact address - </option>
                        <?php if(count($this->user_locations)>0){
                            foreach($this->user_locations as $location){ ?>
                                <option value="<?=$location['ID'];?>"><?=$location['name'];?> - <?=$location['street_address_1'];?><?php if($location['street_address_2']!=''){ echo ', '.$location['street_address_2']; } ;?>, <?=$location['city'];?> - <?=$location['zip_code'];?>, <?=$location['state'];?>, <?=$location['country_name'];?> </option>
                            <?php }
                        } ?>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-select-plus">
                <div class="col-sm-9">
                    <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address"> Add New Address
                </div>
            </div>
            <?php } ?>

            <div id="divNewAddress" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="contact_name" id="contact_name" placeholder="Contact Name" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Street Address 1</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="route" id="street_address_1" placeholder="Street Address 1" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Street Address 2</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="sublocality" id="street_address_2" placeholder="Street Address 2" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <input class="city form-control" name="locality" id="city" placeholder="City" type="text" />
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="col-sm-3 control-label">State</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="administrative_area_level_1" id="state" placeholder="Stat" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Zip Code</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="postal_code" id="postal_code" data-geo="postal_code" placeholder="Zip Code" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="country_name" id="country">
                            <option value="" selected="selected"> - select country - </option>
                            <?php if(count($this->countries)>0){
                                foreach($this->countries as $country){ ?>
                                    <option value="<?=$country['ID'];?>"><?=$country['name'];?></option>
                                <?php } 
                            } ?>
                        </select>                                            
                        <input type="text" name="country" id="countryasn" onchange="javascript:alert('hai');" >
                    </div>
                </div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Address Proof</label>
					<div class="col-sm-8">
						<input type="file" name="ticket" id="ticket">
						<p class="help-block">Upload Current Location Address Proof</p>
					</div>
				</div>
				<?php /* ?>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="phone" id="phone" placeholder="Phone" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Fax</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="fax" id="fax" placeholder="Fax" type="text" />
                    </div>
                </div>
				<?php */ ?>
            </div>
        </div>
    </form>
</div>
<div class="col-md-5">
    <aside class="sidebar-right">
        <div class="row center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center mb15 mt15">Your location is private</h3>
                    
                </div>
                <div class="panel-body">
                    <div class="map_canvas" style="min-height: 400px;"></div>
                </div>
            </div>
        </div>
    </aside>
</div>