<?php
	$this->headScript()->appendFile($this->themeUrl(THEMENAME).'/js/dataTables.min.js','text/javascript');
	$this->headScript()->appendScript("getflightpopup();");
?>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/css/jquery.dataTables.min.css">
<form class="form-horizontal" id="form_travel_details" name="form_travel_details">
	<div class="panel-body">
                <? if($this->trip_type!='round_trip'){ ?>
		<?php if(count($this->user_locations)>0){ ?>
			<div class="row row-wrap">
				<div class="col-sm-6 mb10">
					<input type="radio" name="travel_plan_type" id="travel_plan_type" class="contact_plan_type" value="existing_plan" checked="checked"> Select Travel Plan
				</div>
				<div class="col-sm-6 mb10">
					<input type="radio" name="travel_plan_type" id="travel_plan_type" class="contact_plan_type" value="new_plan"> Add Travel Plan
				</div>
			</div>
			<select class="form-control" name="travel_plan" id="travel_plan">
				<option selected="selected">select plan</option>
				<?php if(count($this->travel_plans)>0){ foreach($this->travel_plans as $travel_plan){ ?>
					<option value="<?=$travel_plan['ID'];?>"><?=$travel_plan['origin_location_code'];?> - <?=$travel_plan['destination_location_code'];?> ( <?=date('m/d/Y',  strtotime($travel_plan['departure_date']));?> to  <?=date('m/d/Y',  strtotime($travel_plan['arrival_date']));?>)</option>
				<?php }  } ?>
			</select>
		<?php } ?>
		<div id="chooseplan" style="display: none;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control"  name="trip_type" id="trip_type">
                                <option value="">Choose your Travel plan</option>
                                <option value="1">Oneway Trip</option>
                                <option value="2">Round trip</option>
                            </select>
                        </div>
                    </div>
		</div>
                <?php } ?>
                <div id="choose_type_one" <? if($this->trip_type!='round_trip'){ ?> style="display: none;" <?php } ?> >
                    <? if($this->trip_type!='round_trip'){ ?>
			<h5>Enter one way trip details</h5>
                    <?php } else{ ?>
                        <h5>Enter Return trip details</h5>
                    <?php } ?>
			<div class="form-group">
                            <label class="col-sm-4 control-label">Origin Location</label>
                            <div class="col-sm-8">
                                <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" />
                            </div>
			</div>
			<div class="form-group">
                            <label class="col-sm-4 control-label">Destination Location</label>
                            <div class="col-sm-8">
                                <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" />
                            </div>
			</div>
			<div class="form-group">
                            <label class="col-sm-4 control-label">Departure Date</label>
                            <div class="col-sm-8">
                                <div class="row row-no-gutter">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input class="date-pick form-control" name="departure_date" id="departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row row-no-gutter">
                                            <div class="col-sm-9 pull-right">
                                                <div class="input-group">
                                                    <input class="time-pick form-control"  name="departure_time" id="departure_time"  type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
			</div>
			<div class="form-group">
                            <label class="col-sm-4 control-label">Arrival Date</label>
                            <div class="col-sm-8">
                                <div class="row row-no-gutter">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input class="date-pick form-control" type="text"  name="arrival_date" id="arrival_date"  /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row row-no-gutter">
                                            <div class="col-sm-9 pull-right">
                                                <div class="input-group">
                                                    <input class="time-pick form-control" type="text"  name="arrival_dat" id="arrival_time" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#getFlightStops" onclick="getFlightStops()">Get Available Flights</button>
				</div>
				<input type="hidden" name="flight_key" id="flight_key" value="">
				<input type="hidden" name="proposal_key" id="proposal_key" value="">
				<input type="hidden" name="service_fee" id="service_fee" value="">
				<input type="hidden" name="distance" id="distance" value="">
				<div id="divSelectedFlight"></div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel" data-backdrop="static">
			  <div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5 class="modal-title text-center" id="getFlightStopsLabel">Please enter or select details of airlines per flight booking you have made for this journey</h5>
				  </div>
				  
				  <div class="modal-body">
						<div id="flights" style="display: none;">
							<div class="form-group">
								<label class="col-sm-4 control-label">No.Stop</label>
								<div class="col-sm-8">
									<select class="form-control"  name="nstop" id="nstop" onchange="getFlights()" >
										<option value=""> - flight stops - </option>
									</select>
								</div>
							</div>
							<div class="clearfix"></div>
							<div id="divFlights"></div>
						</div>
				  </div>				  
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>			
			<div class="form-group">
				<label class="col-sm-4 control-label">Ticket</label>
				<div class="col-sm-8">
					<input type="file" name="ticket" id="ticket">
					<p class="help-block">Upload your Ticket</p>
				</div>
			</div>
		</div>
		
		<div id="choose_type_two" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>
			<h5>Enter onward trip Details</h5>
			<div class="form-group">
				<label class="col-sm-4 control-label">Origin Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Destination Location</label>
				<div class="col-sm-8">
					<input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Departure Date</label>
				<div class="col-sm-8">
					<div class="row row-no-gutter">
						<div class="col-sm-6">
							<div class="input-group">
								<input class="date-pick form-control" name="departure_date" id="departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row row-no-gutter">
								<div class="col-sm-9 pull-right">
									<div class="input-group">
										<input class="time-pick form-control"  name="departure_time" id="departure_time"  type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Arrival Date</label>
				<div class="col-sm-8">
					<div class="row row-no-gutter">
						<div class="col-sm-6">
							<div class="input-group">
								<input class="date-pick form-control" type="text"  name="arrival_date" id="arrival_date"  /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row row-no-gutter">
								<div class="col-sm-9 pull-right">
									<div class="input-group">
										<input class="time-pick form-control" type="text"  name="arrival_dat" id="arrival_time" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#getFlightStops" onclick="getFlightStops()">Get Available Flights</button>
				</div>
				<input type="hidden" name="flight_key" id="flight_key" value="">
				<input type="hidden" name="proposal_key" id="proposal_key" value="">
				<input type="hidden" name="service_fee" id="service_fee" value="">
				<input type="hidden" name="distance" id="distance" value="">
				<div id="divSelectedFlight"></div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel" data-backdrop="static">
			  <div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5 class="modal-title text-center" id="getFlightStopsLabel">Please enter or select details of airlines per flight booking you have made for this journey</h5>
				  </div>
				  
				  <div class="modal-body">
						<div id="flights" style="display: none;">
							<div class="form-group">
								<label class="col-sm-4 control-label">No.Stop</label>
								<div class="col-sm-8">
									<select class="form-control"  name="nstop" id="nstop" onchange="getFlights()" >
										<option value=""> - flight stops - </option>
									</select>
								</div>
							</div>
							<div class="clearfix"></div>
							<div id="divFlights"></div>
						</div>
				  </div>				  
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>			
			<div class="form-group">
				<label class="col-sm-4 control-label">Ticket</label>
				<div class="col-sm-8">
					<input type="file" name="ticket" id="ticket">
					<p class="help-block">Upload your Ticket</p>
				</div>
			</div>
		</div>
	</div>
</form>
<div id="flightDisplayContents" style="display: none;">
	<div class="col-sm-3"></div>
	<div class="col-sm-3"></div>
	<div class="col-sm-3"></div>
</div>