<?php
//echo '<pre>';print_r($trip_seeker_project);exit;
//echo '<pre>';print_r($trip_seeker);exit;
//$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.bootstrap.wizard.js','text/javascript');
//$this->headScript()->appendScript("initAddTripSeekerProject();");
echo $this->render('layout/flash_message');
$showBtn = true;
/*if (isset($action) && $action == 'add') {
    $showBtn = true;
} else if (isset($action) && $action == 'edit') {
    $showBtn = false;
}*/
$userDetails = $this->comSessObj->user;
?>
<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<script src="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.js"></script>
<input type="hidden" name="service_type" id="service_type" value="project" >
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo $this->comSessObj->userrole;?>" >
<input type="hidden" name="" id="project_service_fee_estimate" value="" >
<div class='container'>
    <div class="row">
        <section id="wizard">
            <div id="rootwizard" class="tabbable tabbable-new tabs-left wow fadeIn">
                <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1"><span class="text">Product</span></a></li>
                    <li class="next"><a href="#tab2" role="tab" data-tab-name="travel_details" data-toggle="tab" aria-controls="tab2"><span class="text">Travel details</span></a></li>
                    <li class="next"><a href="#tab3" role="tab" data-tab-name="origin_location_address" data-toggle="tab" aria-controls="tab3"><span class="text">Destination location address</span></a></li>
                </ul>
                <form id="formSeekerProjectRequest" name="formSeekerProjectRequest">
                    <input type="hidden" name="action" id="action" value="<?php echo $action ?>" />
                    <input type="hidden" name="gotourl" id="gotourl" value="<?php echo $this->gotourl ?>" >
                    <input type="hidden" name="project_service_fee" id="project_service_fee" value="" />
                    <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="" >
            		<input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="" >
            		<input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="" >
                    <?php if($action == 'edit'){ ?>
                        <input type="hidden" name="trip_edit_id" id="action" value="<?php echo isset($this->trip['ID'])?$this->trip['ID']:0; ?>" />
                    <?php } ?>
                    <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="table-wrapper-row full-width">
                            <div class="col-md-8 col-xs-12 table-cell travel-form bg-white">
                                <div class="form-block">
                                    <div class="row" id="project_service_type_menu" style="display:none;">
                                        <div class="form-group col-sm-12">
                                            <h5 class="sub-heading text-left">Select the project type</h5>
                                            <hr class="title-border">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="row">
                                                <div class="form-group col-sm-6 project_service_type" id="product_category_select">
                                                    <div id="project_type_product" class="box-tab <?php echo (isset($trip_seeker['work_category']) && $trip_seeker['work_category'] == 1)?'active':'' ?>">
                                                        <p>Choose products and ship worldwide</p>
                                                    </div>
                                                </div>
                                                <!--div class="form-group col-sm-6 project_service_type" id="task_category_select">
                                                    <div id="project_type_task" class="box-tab <?php echo (isset($trip_seeker['work_category']) && $trip_seeker['work_category'] == 0)?'active':'' ?>">
                                                        <p>Personal concierge for your tasks</p>
                                                    </div>
                                                </div-->
                                            </div>
                                        </div>
                                        <input type="hidden" id="work_category" name="work_category" value="<?php echo isset($trip_seeker['work_category'])?$trip_seeker['work_category']:'' ?>" />
                                    </div>
                                    <!--<div class="row">
                                        <div class="form-group col-sm-12">
                                            <input type="button" class="btn btn-primary" id="project_service_type_back" value="Back">
                                        </div>
                                    </div>-->
                                    <div id="obtainTravelDeliveryCategory" <?php echo (isset($trip_seeker['work_category']) && $trip_seeker['work_category'] != '1')?'style="display:none;"':'' ?> >
                                        <h5 class="sub-heading text-left">Provide details about products</h5>
                                        <hr class="title-border">
                                        <div class="row">
                                            <div class="form-group col-sm-12 form-group-select-plus">
                                                <label class="control-label">Number of individual products<a class="icon-info" href="#" data-toggle="tooltip" title="Please provide total number of product you need to purchase, carry and deliver"></a>
                                                    <small>need to be performed</small>
                                                </label>
                                                <input type="hidden" name="selected_project_products" id="selected_project_products" value="<?php echo isset($trip_seeker['tasks']) ? $trip_seeker['tasks'] : 1 ?>">
                                                <?php //if ($showBtn) { ?>
                                                <?php
													$productsCountArr = range(1, 10);
													$selectedProductsCount = isset($trip_seeker['tasks']) ? $trip_seeker['tasks'] : 1;
												?>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons" id="sel_ratio_btn">
                                                	<?php
                                                        foreach ($productsCountArr as $productsCountVal) {
                                                         $checked1 = (isset($selectedProductsCount) &&  $productsCountVal == $selectedProductsCount)?'checked="checked"':'';
                                                    	 $active1 = (isset($selectedProductsCount) &&  $productsCountVal == $selectedProductsCount)?'active':'';?>
                                                        <label class="btn btn-primary  <?php echo $active1;?>" id="trip_m_project_<?php echo $productsCountVal?>"><input <?php echo $checked1;?> type="radio" name="products_count" id="products_count"  value="<?php echo $productsCountVal?>"  onchange="addRemoveProjectsObtainCategory(this.value);" /><?php echo ($productsCountVal == 10)?'10+':$productsCountVal;?></label>
                                                    <?php
                                                        }
                                                    ?>
                                                </div>
                                                <?php //} ?>
                                                <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>"  id="products_count_more" name="products_count_more" onchange="addRemoveProjectsObtainCategory(this.value);">
                                                    <?php
                                                        $selectedCount = isset($trip_seeker['tasks']) ? $trip_seeker['tasks'] : 10;
                                                        $tasksCountArr = range(1, 10);
                                                        foreach ($tasksCountArr as $taskCount) {
                                                            $selectedTaskCount = ($selectedCount == $taskCount) ? 'selected="selected"' : '';
                                                            echo '<option ' . $selectedTaskCount . ' value="' . $taskCount . '">' . $taskCount . '</option>';
                                                        }
                                                    ?>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row productTasks" id="projects_box">
                                            <?php
                                                $productCounter = isset($trip_seeker['tasks'])?$trip_seeker['tasks']:1;
                                                $productCountArray = range(1, $productCounter);
                                                foreach($productCountArray as $key => $productCount){
                                                    $productDetail = isset($trip_seeker_project[$key])?$trip_seeker_project[$key]:false;
                                                    $key = $key+1;
                                            ?>
                                            <div class="col-sm-12" id="projects_box_<?php echo $key;?>">
                                               <div class="panel panel-default">
                                                    <div class="panel-body">
                                                    	<?php if($key != 1){ ?>
                                                    	<a href="javascript:;" class="remove_item" onclick="return removeProject(<?php echo $key; ?>)">X</a>
                                                        <?php } ?>
                                                        <h5 class="sub-heading text-left">Details of product <?php echo $key ?></h5>
                                                        <hr class="title-border">
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                            	<div class="form-group col-sm-12 purchase_type purchase_type_<?php echo $key ?> <?php echo (isset($productDetail['purchase_type']) && $productDetail['purchase_type'] == 2)?'':'active';?>" id="purchase_type_<?php echo $key ?>_1" onclick="changePurchaseType(1,<?php echo $key ?>)">
                                                                	Online Purchase
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                            	<div class="form-group col-sm-12 purchase_type purchase_type_<?php echo $key ?> <?php echo (isset($productDetail['purchase_type']) && $productDetail['purchase_type'] == 2)?'active':'';?>" id="purchase_type_<?php echo $key ?>_2" onclick="changePurchaseType(2,<?php echo $key ?>)">
                                                                	In Store Purchase
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="purchase_type_<?php echo $key ?>" id="purchase_type_<?php echo $key ?>" value="<?php echo (isset($productDetail['purchase_type']) && !empty($productDetail['purchase_type']))?$productDetail['purchase_type']:''; ?>" />
                                                        </div>
                                                        <div class="row" style="display:none" id="in_store_purchase_info_<?php echo $key ?>">
                                                            <div class="form-group col-sm-6">
                                                            	<label class="control-label">Store Name<span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please enter exact name of the store"></a></label>
                                                                <input type="text" class="form-control product_store_name" aria-label="Store Name" id="store_name_<?php echo $key ?>" name="store_name_<?php echo $key ?>" value="<?php echo (isset($productDetail['store_name']) && !empty($productDetail['store_name']))?$productDetail['store_name']:''; ?>" />
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                            	<label class="control-label">Store Full Address<span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please enter full address of the store"></a></label>
                                                                <input type="text" class="form-control product_store_address" aria-label="Store Address" id="store_address_<?php echo $key ?>" name="store_address_<?php echo $key ?>" value="<?php echo (isset($productDetail['store_address']) && !empty($productDetail['store_address']))?$productDetail['store_address']:''; ?>" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Product category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                                <select class="form-control product_category"  id="product_category_<?php echo $key ?>" name="product_category_<?php echo $key ?>">
                                                                    <option value=""> - select - </option>
                                                                    <?php if(count($this->project_tasks_categories_type)>0){
                                                                        foreach($this->project_tasks_categories_type as $tasks_category){
                                                                            $proCatSelected = (isset($productDetail['category']) && $productDetail['category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                            echo '<option '.$proCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                            }
                                                                        } ?>
                                                                </select>
                                                                <p style="margin-bottom: 0px;" id="err_product_category_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group tasklists col-sm-6" id="product_lists_<?php echo $key ?>">
                                                                <label class="control-label">Product type <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                                <select class="form-control product_additional_requirements_category" id="product_additional_requirements_category_<?php echo $key ?>" name="product_additional_requirements_category_<?php echo $key ?>">
                                                                    <option value="">Select</option>
                                                                    <?php if(isset($productDetail['subCategory']) && !empty($productDetail['subCategory']) && isset($productDetail['additional_requirements_category'])){
                                                                        foreach($productDetail['subCategory'] as $subCategory){
                                                                            $subCatSelected = (isset($productDetail['additional_requirements_category']) && $subCategory['ID'] == $productDetail['additional_requirements_category'])?'selected="selected"':' ';
                                                                            echo '<option '.$subCatSelected.'value="'.$subCategory['ID'].'">'.$subCategory['subcatname'].'</option>';
                                                                        }
                                                                    } ?>
                                                                </select>
                                                                <p style="margin-bottom: 0px;" id="err_product_additional_requirements_category_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-8">
                                                            	<label class="control-label">Website link <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide URL is the link to the specific item that you intend to purchase. Ensure that you copy the correct link with all the required details."></a></label>
                                                                <input type="text" class="form-control product_web_site_link" aria-label="http://example.com" id="product_web_site_link_<?php echo $key ?>" name="product_web_site_link_<?php echo $key ?>" value="<?php echo (isset($productDetail['web_site_link']) && !empty($productDetail['web_site_link']))?$productDetail['web_site_link']:''; ?>" />
                                                                <p style="margin-bottom: 0px;" id="err_product_web_site_link_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label class="control-label">Product Number <a class="icon-info" href="#" data-toggle="tooltip" title="A productnumber is a number used by the seller to identify a specific product or item. Some sellers may use other names. Look for other names such as
1.	Item Number
2.	SKU
3.	Part Number
4.	ASIN – Located in “Product details section”
5.	ISBN – Used to identify books
6.	Stock Number
7.	Inventory Number
8.	Product ID
9.	UPC
10.	Catalog Number
Some stores may not have any of the above listed on their site. If you can’t locate the item number, please provide as much details as you can about the product.
"></a></label>
                                                                <input type="text" class="form-control product_product_sku" aria-label="Product SKU" id="product_product_sku_<?php echo $key ?>" name="product_product_sku_<?php echo $key ?>" value="<?php echo (isset($productDetail['product_sku']) && !empty($productDetail['product_sku']))?$productDetail['product_sku']:''; ?>" />
                                                                <p style="margin-bottom: 0px;" id="err_product_product_sku_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <label class="control-label">Product description <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please provide name of the product as specified on the merchant's website and let us know any information that will help us know the specific option that you want. Increase the quantity for this description for multiple items or add a new description if you want a different option of the same item. NOTE:  Incase of insurance claim these details will be analyzed"></a></label>
                                                                <textarea class="form-control vresize product_description" id="product_description_<?php echo $key ?>" name="product_description_<?php echo $key ?>" placeholder="Ex. iPhone X,  an All new 5.8 inch Super Retina screen with all-scren OLED Multi-Touch display. 12MP wide angle camera. Wireless charging,  Splash, water, and dust resistant." rows="3"><?php echo (isset($productDetail['description']) && !empty($productDetail['description']))?$productDetail['description']:''; ?></textarea>
                                                                <p style="margin-bottom: 0px;" id="err_product_description_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-8">
                                                                <label class="control-label" for="approxweight">Approximate weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select weight of the item so that traveller will decide capacity of baggage in which item can be carried."></a></label>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <input type="text" id="item_weight_<?php echo $key ?>" name="item_weight_<?php echo $key ?>" class="item_weight" style="display:none;"  data-value='<?php echo (isset($productDetail['item_weight']) && !empty($productDetail['item_weight']))?$productDetail['item_weight']:'0.5'; ?>'>
                                                                        <p style="margin-bottom: 0px;position: absolute;display: block;" id="lbs_item_weight_<?php echo $key ?>"></p>
                                                                        <p style="margin-bottom: 0px;" id="err_item_weight_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label class="control-label" for="itemsize">Negligible Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="If weight of the item is less than 1 lbs. or 0.5 kg, Please check this option."></a></label>
                                                                <div class="yesNo" style="margin-top: 1em;">
                                                                    <label class="sliderCheck <?php echo (isset($productDetail['negligible_weight']) && $productDetail['negligible_weight'])?'checked':''; ?>">
                                                                        <input type="checkbox" class="negligible_weight" value="1" name="negligible_weight_<?php echo $key ?>" <?php echo (isset($productDetail['negligible_weight']) && $productDetail['negligible_weight'])?'checked="checked"':''; ?> id="negligible_weight_<?php echo $key ?>">
                                                                        <div class="slider round"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <div class="available-volume">
                                                                    <div class="volume-box volume-box-<?php echo $key ?> active" id="icon-doc_<?php echo $key ?>">
                                                                        <div class="volume-box-inner">
                                                                            <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                                                                            <p>Document</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="volume-box volume-box-<?php echo $key ?>" id="icon-backbag_<?php echo $key ?>">
                                                                        <div class="volume-box-inner">
                                                                            <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                                                                            <p>Backbag</p>
                                                                        </div>
                                                                    </div>
                                                                    <!--div class="volume-box volume-box-<?php echo $key ?>" id="icon-suitcase_<?php echo $key ?>">
                                                                        <div class="volume-box-inner">
                                                                            <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                            <p>Suitcase</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="volume-box volume-box-<?php echo $key ?> " id="icon-package_<?php echo $key ?>">
                                                                        <div class="volume-box-inner">
                                                                            <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-normal.svg" alt="Trepr" title="Trepr" /></span>
                                                                            <p>Big parcel case</p>
                                                                        </div>
                                                                    </div-->
                                                                    <div class="volume-box volume-box-<?php echo $key; ?> " id="icon-suitcase_<?php echo $key; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $key; ?> " id="icon-package_<?php echo $key; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-bicycle.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Bicycle case</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $key; ?> " id="icon-biggest-package_<?php echo $key; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-biggest.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Oversize bag</p>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label class="control-label" for="itemsize">Approx. size of item (in inches) <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide size of size so that traveller will decide dimension of the baggage in which item can be carried."></a></label>
                                                                <div class="row">
                                                                    <div class="col-xs-4 form-group">
                                                                        <input type="number" class="form-control item_sizesL" placeholder="L" id="item_length_<?php echo $key ?>" name="item_length_<?php echo $key ?>"  value="<?php echo (isset($productDetail['item_length']) && $productDetail['item_length'])?$productDetail['item_length']:''; ?>" />
                                                                    </div>
                                                                    <div class="col-xs-4 form-group">
                                                                        <input type="number" class="form-control item_sizesW" placeholder="W" id="item_width_<?php echo $key ?>" name="item_width_<?php echo $key ?>" value="<?php echo (isset($productDetail['item_width']) && $productDetail['item_width'])?$productDetail['item_width']:''; ?>" />
                                                                    </div>
                                                                    <div class="col-xs-4 form-group">
                                                                        <input type="number" class="form-control item_sizesH" placeholder="H" id="item_height_<?php echo $key ?>" name="item_height_<?php echo $key ?>" value="<?php echo (isset($productDetail['item_height']) && $productDetail['item_height'])?$productDetail['item_height']:''; ?>" />
                                                                    </div>
                                                                </div>
                                                                <p style="margin-bottom: 0px;" id="err_item_sizes_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-3">
                                                                <label class="control-label" for="itemsize">Unit of size<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide size of size so that traveller will decide dimension of the baggage in which item can be carried."></a></label>
                                                                <select class="form-control item_unit" name="item_unit_<?php echo $key ?>"  id="item_unit_<?php echo $key ?>"style="width:75%; margin-right: 10px;display:inline;">
                                                                    <option <?php echo (isset($productDetail['item_unit']) && $productDetail['item_unit'] == 'inch')?'selected="selected"':''; ?> value="inch">Inch</option>
                                                                    <option <?php echo (isset($productDetail['item_unit']) && $productDetail['item_unit'] == 'mm')?'selected="selected"':''; ?> value="mm">mm</option>
                                                                    <option <?php echo (isset($productDetail['item_unit']) && $productDetail['item_unit'] == 'cm')?'selected="selected"':''; ?> value="cm">cm</option>
                                                                </select>
                                                                <span style="line-height: 38px;float: right;">Or</span>
                                                            </div>
                                                            <div class="form-group col-sm-3">
                                                                <label class="control-label" for="itemsize">Negligible size <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="If items such as paper, documents, miniature objects or size that is around a small wall poster (12&quot; x 24&quot;). Please check this option."></a></label>
                                                                <div class="yesNo">
                                                                    <label class="sliderCheck <?php echo (isset($productDetail['negligible_size']) && $productDetail['negligible_size'])?'checked':''; ?>">
                                                                        <input type="checkbox" class="negligible_size" value="1" name="negligible_size_<?php echo $key ?>" <?php echo (isset($productDetail['negligible_size']) && $productDetail['negligible_size'])?'checked="checked"':''; ?> id="negligible_size_<?php echo $key ?>">
                                                                        <div class="slider round"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <div class="color-picker-group form-group col-sm-2">
                                                                <label class="control-label">Color <a class="icon-info" href="#" data-toggle="tooltip" title="Please select a color that best match color of the item to make sure right same item is carried and delivered"></a></label>
                                                                <input type="text" class="form-control color" aria-label="Color" id="product_color_<?php echo $key ?>" name="product_color_<?php echo $key ?>" value="<?php echo (isset($productDetail['color']) && !empty($productDetail['color']))?$productDetail['color']:''; ?>"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  />
                                                                <div class="dropdown-menu">
                                                                <div id="preloader-wrapper">
                                                                  <div id="preloader">
                                                                    <span></span>
                                                                    <span></span>
                                                                  </div>
                                                                </div>
                                                                 <ul class="list-inline">

                                                                 </ul>
                                                                </div>
                                                                <p style="margin-bottom: 0px;" id="err_color_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-3">
                                                                <label class="control-label">Condition <a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact condition of the item to make sure right item is carried and delivered in same condition"></a></label>
                                                                <select class="form-control product_condition" id="product_condition_<?php echo $key ?>" name="product_condition_<?php echo $key ?>">
                                                                    <?php
                                                                        $pro_conditionArr = array(''=>'-- Select', 'New'=>'New', 'Old'=> 'Old', 'Moderate'=>'Moderate', 'Refurbished'=>'Refurbished');
                                                                        foreach($pro_conditionArr as $proKey => $condition){
                                                                            $conditionSelected = (isset($productDetail['task_condition']) && $proKey == $productDetail['task_condition'])?'selected="selected"':'';
                                                                            echo '<option '.$conditionSelected.' value="'.$proKey.'">'.$condition.'</option>';
                                                                        }
                                                                    ?>
                                                                </select>
                                                                <p style="margin-bottom: 0px;" id="err_product_condition_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-3">
                                                                <label class="control-label">Quantity <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                                <input type="number" class="form-control item_quantity" aria-label="Quantity" id="item_quantity_<?php echo $key ?>" name="item_quantity_<?php echo $key ?>"value="<?php echo (isset($productDetail['quantity']) && !empty($productDetail['quantity']))?$productDetail['quantity']:''; ?>" />
                                                                <p style="margin-bottom: 0px;" id="err_item_quantity_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                            	<label class="control-label">Price <a class="icon-info" href="#" data-toggle="tooltip" title="Please enter exact price of the product as on merchant's website including all taxes applicable."></a></label>
                                                             	<input type="number" class="form-control product_price" aria-label="Cost (in dollar)" id="product_price_<?php echo $key ?>" name="product_price_<?php echo $key ?>" value="<?php echo (isset($productDetail['price']) && !empty($productDetail['price']))?$productDetail['price']:''; ?>" ><div style="position: absolute;top:33px;right: 25px;z-index: 9999999;padding-left: 10px;border-left: 1px solid #737373;font-size: 25px;" class="current_currency_code_small"><?php echo $comSessObj->currencycode;?></div>
                                                                <select class="form-control product_price_currency"  id="product_price_currency_<?php echo $key ?>" name="product_price_currency_<?php echo $key ?>" style="display:none">
                                                                   <?php foreach($currency as $currencyRow){ ?> <option <?php echo (isset($productDetail['price_currency']) && $productDetail['price_currency'] == $currencyRow['currency_code'])?'selected="selected"':($comSessObj->currency == $currencyRow['currency_code'])?'selected="selected"':'';?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                                                                </select>
                                                                <p style="margin-bottom: 0px;" id="err_product_price_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                          <div class="form-group col-sm-6">
                                                                 <div class="form-group">
                                                                    <ul style="width:100%;clear:both;" id="product_attachment_<?php echo $key ?>" class="imgblock-new product_attachment"></ul>
                                                                    <?php
                                                                        $toalAttCount = 5;
                                                                        if (isset($productDetail['attachments']) && !empty($productDetail['attachments'])) { ?>
                                                                            <div class="content horizontal-images">
                                                                                <ul class="qq-upload-list">
                                                                                    <?php foreach ($productDetail['attachments'] as $attRow) {
                                                                                        $toalAttCount --; ?>
                                                                                        <li class="qq-upload-success" id="file-img-0">
                                                                                            <span class="qq-upload-file spFileName_<?php echo $key ?>-0-1" style="">
                                                                                                <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['task_photo_name'] ?>" alt="<?php echo $attRow['task_photo_name'] ?>">
                                                                                                <input type="hidden" name="seekerPeopleDocImages_<?php echo $key ?>[]" value="<?php echo $attRow['task_photo_name'] ?>">
                                                                                            </span>
                                                                                            <div class="delete-btn manuallyDeleteImages" data-u>
                                                                                                <a class="qq-upload-delete" href="#" style="background: url(&quot;images/close-x.png&quot;) left top no-repeat; width: 12px; display: inline-block;">Delete</a>
                                                                                            </div>
                                                                                        </li>
                                                                                    <?php } ?>
                                                                                </ul>
                                                                            </div>
                                                                        <?php } ?>
                                                                    <input type="hidden" id="uploadCount_<?php echo $key ?>" name="uploadCount_<?php echo $key ?>" value="<?php echo (isset($productDetail['attachments'])) ? count($productDetail['attachments']) : 0; ?>">
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <?php } ?>
                                        </div>
                                         <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Total Weight<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                <input type="text" class="form-control total_weight" id="total_weight"  name="total_weight" value="<?php echo (isset($trip_seeker['total_weight']) && !empty($trip_seeker['total_weight']))?$trip_seeker['total_weight']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_total_weight" class="text-danger err_msg"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Total Worth<a class="icon-info" href="#" data-toggle="tooltip" title=""></a> </label>
                                                <div class="row">
                                                    <div class="col-xs-12 form-group">
                                                        <input type="text" class="form-control total_worth"  id="total_worth"  name="total_worth" value="<?php echo (isset($trip_seeker['total_worth']) && !empty($trip_seeker['total_worth']))?$trip_seeker['total_worth']:''; ?>">
                                                        <div style="position: absolute;top:9px;right: 25px;z-index: 9999999;padding-left: 10px;border-left: 1px solid #737373;font-size: 25px;" class="current_currency_code_small"><?php echo $comSessObj->currencycode;?></div>
                                                        <p style="margin-bottom: 0px;" id="err_total_worth" class="text-danger err_msg"></p>
                                                    </div>
                                                    <div class="col-xs-4 form-group" style="display:none;">
                                                        <select class="form-control current_currency_code" id="total_worth_currency"  name="total_worth_currency">
                                                             <?php foreach($currency as $currencyRow){ ?> <option <?php echo (isset($trip_seeker['total_worth_currency']) && $trip_seeker['total_worth_currency'] == $currencyRow['currency_code'])?'selected="selected"':($comSessObj->currency == $currencyRow['currency_code'])?'selected="selected"':'';?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="otherWorkCategory" <?php echo (isset($trip_seeker['work_category']) && $trip_seeker['work_category'] == '1')?'style="display:none;"':'' ?>>
                                        <h5 class="sub-heading text-left">Provide details about tasks</h5>
                                        <hr class="title-border">
                                        <div class="row">
                                            <div class="form-group col-sm-12 form-group-select-plus">
                                               <label class="control-label">Number of individual tasks<a class="icon-info" href="#" data-toggle="tooltip" title="Please provide total number of product you need to purchase, carry and deliver"></a>
                                                <small>need to be performed</small></label>
                                                <input type="hidden" name="selected_project_tasks" id="selected_project_tasks" value="<?php echo isset($trip_seeker['tasks']) ? $trip_seeker['tasks'] : 1 ?>">
                                                <?php //if ($showBtn) { ?>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active"><input type="radio" name="projects_count" id="projects_count" value="1"  onchange="addRemoveProjects(this.value);" />1</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="2" onchange="addRemoveProjects(this.value);" />2</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="3" onchange="addRemoveProjects(this.value);" />3</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="4" onchange="addRemoveProjects(this.value);" />4</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="5" onchange="addRemoveProjects(this.value);" />5</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="6" onchange="addRemoveProjects(this.value);" />6</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="7" onchange="addRemoveProjects(this.value);" />7</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="8" onchange="addRemoveProjects(this.value);" />8</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="9" onchange="addRemoveProjects(this.value);" />9</label>
                                                    <label class="btn btn-primary"><input type="radio" name="projects_count" id="projects_count" value="10" onchange="addRemoveProjects(this.value);" />10+</label>
                                                </div>
                                                <?php //} ?>
                                                <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>"  id="projects_count_more" name="projects_count_more" onchange="addRemoveProjects(this.value);">
                                                    <?php
                                                        $selectedCount = isset($trip_seeker['tasks']) ? $trip_seeker['tasks'] : 10;
                                                        $tasksCountArr = range(1, 10);
                                                        foreach ($tasksCountArr as $taskCount) {
                                                            $selectedTaskCount = ($selectedCount == $taskCount) ? 'selected="selected"' : '';
                                                            echo '<option ' . $selectedTaskCount . ' value="' . $taskCount . '">' . $taskCount . '</option>';
                                                        }
                                                    ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row projectTasks" id="projects_box_other_category">
                                            <?php
                                                $taskCounter = isset($trip_seeker['tasks'])?$trip_seeker['tasks']:1;
                                                $taskCountArray = range(1, $taskCounter);
                                                foreach($taskCountArray as $key => $taskCount){
                                                    $taskDetail = isset($trip_seeker_project[$key])?$trip_seeker_project[$key]:false;
                                                    $key = $key+1;
                                            ?>
                                            <div class="col-sm-12">
                                               <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <h5 class="sub-heading text-left">Details of Task <?php echo $key ?></h5>
                                                        <hr class="title-border">
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                                <select class="form-control task_category"  id="task_category_<?php echo $key ?>" name="task_category_<?php echo $key ?>">
                                                                    <option value=""> - select - </option>
                                                                    <?php if(count($this->project_tasks_categories_type)>0){
                                                                            foreach($this->project_tasks_categories_type as $tasks_category){
                                                                                $catSelected = (isset($taskDetail['category']) && $tasks_category['ID'] == $taskDetail['category'])?'selected="selected"':'';
                                                                                echo '<option '.$catSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category["catname"].'</option>';
                                                                            }
                                                                        } ?>
                                                                </select>
                                                                <p style="margin-bottom: 0px;" id="err_task_category_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group tasklists col-sm-6" id="tasklists_<?php echo $key ?>">
                                                                <label class="control-label">Task Lists <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                                <select class="form-control additional_requirements_category" id="additional_requirements_category_<?php echo $key ?>" name="additional_requirements_category_<?php echo $key ?>">
                                                                    <option value="">Select</option>
                                                                    <?php if($taskDetail['subCategory']){
                                                                        foreach($taskDetail['subCategory'] as $subCategory){
                                                                            $subCatSelected = ($subCategory['ID'] == $taskDetail['additional_requirements_category'])?'selected="selected"':' ';
                                                                            echo '<option '.$subCatSelected.'value="'.$subCategory['ID'].'">'.$subCategory['subcatname'].'</option>';
                                                                        }
                                                                    } ?>
                                                                </select>
                                                                <p style="margin-bottom: 0px;" id="err_additional_requirements_category_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <label class="control-label">Task Description <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please provide name of the product as specified on the merchant's website and let us know any information that will help us know the specific option that you want. Increase the quantity for this description for multiple items or add a new description if you want a different option of the same item. NOTE:  Incase of insurance claim these details will be analyzed"></a></label>
                                                                <textarea class="form-control vresize task_description" id="task_description_<?php echo $key ?>" name="task_description_<?php echo $key ?>" placeholder="Ex. I need train tickets booked from Mumbai to Chennai on 5th January 2017 in 2nd AC class." rows="3"><?php echo (isset($taskDetail['description']) && $taskDetail['description'])?$taskDetail['description']:''; ?></textarea>
                                                                <p style="margin-bottom: 0px;" id="err_task_description_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 form-group">
                                                                <label class="control-label">Date of service <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide date of service required."></a></label>
                                                                <div class="input-group">
                                                                    <input class="date-pick form-control service_date" name="service_date_<?php echo $key ?>" id="service_date_<?php echo $key ?>" type="text" value="<?php echo isset($taskDetail['service_date'])?date('m/d/Y',$taskDetail['service_date']):date('m/d/Y'); ?>"/><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                                                </div>
                                                                <p style="margin-bottom: 0px;" id="err_service_date_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="col-sm-6 form-group">
                                                                <label class="control-label">Date Flexibility  <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a flexible + or - date range from shipping date provided"></a></label>
                                                                <div class="input-group">
                                                                    <select class="selectpicker form-control languages-select picker-select date_flexibility" id="date_flexibility_<?php echo $key ?>" name="date_flexibility_<?php echo $key ?>" onchange="updateDateRange('service_date_<?php echo $key ?>','service_start_date_<?php echo $key ?>','service_end_date_<?php echo $key ?>', 'date_flexibility_<?php echo $key ?>' );" style="display:none;">
                                                                        <?php $itemSelected = isset($taskDetail['date_flexibility'])?$taskDetail['date_flexibility']:''; ?>
                                                                        <option <?php echo ($itemSelected == '1-d')?'selected="selected"':''; ?> value="1-d">1 Day</option>
                                                                        <option <?php echo ($itemSelected == '2-d')?'selected="selected"':''; ?> value="2-d">2 Days</option>
                                                                        <option <?php echo ($itemSelected == '3-d')?'selected="selected"':''; ?> value="3-d">3 Days</option>
                                                                        <option <?php echo ($itemSelected == '1-w')?'selected="selected"':''; ?> value="1-w">1 Week</option>
                                                                        <option <?php echo ($itemSelected == '2-w')?'selected="selected"':''; ?> value="2-w">2 Weeks</option>
                                                                        <option <?php echo ($itemSelected == '3-w')?'selected="selected"':''; ?> value="3-w">3 Weeks</option>
                                                                        <option <?php echo ($itemSelected == '1-m')?'selected="selected"':''; ?> value="1-m">1 Month</option>
                                                                        <option <?php echo ($itemSelected == '2-m')?'selected="selected"':''; ?> value="2-m">2 Months</option>
                                                                        <option <?php echo ($itemSelected == '3-m')?'selected="selected"':''; ?> value="3-m">3 Months</option>
                                                                    </select>
                                                                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                                                </div>
                                                                <p style="margin-bottom: 0px;" id="err_date_flexibility_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Dates range</label>
                                                                <div class="input-daterange" id="datepicker">
                                                                    <div class="input-group">
                                                                        <input type="text" name="service_start_date_<?php echo $key ?>" id="service_start_date_<?php echo $key ?>" class="input-small form-control" value="<?php echo (isset($taskDetail['start_date']) && $taskDetail['start_date'] != '')?date('d-m-Y',strtotime($taskDetail['start_date'])):''; ?>" readonly="readonly"/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" name="service_end_date_<?php echo $key ?>" id="service_end_date_<?php echo $key ?>" class="input-small form-control" value="<?php echo (isset($taskDetail['end_date']) && $taskDetail['end_date'] != '')?date('d-m-Y',strtotime($taskDetail['end_date'])):''; ?>" readonly="readonly"/>
                                                                        <p style="margin-bottom: 0px;" id="err_service_end_date_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Task duration (days) <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please mention duration if task requires more than a day effort."></a></label>
                                                                <input type="number" class="form-control numonly task_duration" aria-label="" id="task_duration_<?php echo $key ?>" name="task_duration_<?php echo $key ?>" value="<?php echo (($taskDetail['project_duration']) && $taskDetail['project_duration'])?$taskDetail['project_duration']:''; ?>" />
                                                                <p style="margin-bottom: 0px;" id="err_task_duration_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Requires local travel <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please check this option if local travel is required to complete the task."></a></label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><input type="checkbox" value="1" aria-label="Requires local travel" id="requires_local_travel_<?php echo $key ?>" name="requires_local_travel_<?php echo $key ?>" <?php echo (isset($taskDetail['requires_local_travel']) && $taskDetail['requires_local_travel'] == '1')?'checked="checked"':''; ?>></span>
                                                                    <input type="text" class="form-control"  placeholder="Requires local travel" aria-label="Requires local travel" readonly />
                                                                </div>
                                                                <p style="margin-bottom: 0px;" id="err_requires_local_travel_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Type you wish to pay for the task <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select cost type you wish to pay for the task."></a></label>
                                                                <label for="pay_method_fixed_<?php echo $key ?>"><input type="radio" <?php echo ($taskDetail['payout_type'] && $taskDetail['payout_type'] == 'Fixed cost')?'checked="checked"':''; ?> class="pay_method" name="payout_type_<?php echo $key ?>" value="Fixed cost"> Fixed cost</label>
                                                                <label for="pay_method_hourly_<?php echo $key ?>"><input type="radio" <?php echo ($taskDetail['payout_type'] && $taskDetail['payout_type'] == 'Hourly cost')?'checked="checked"':''; ?> class="pay_method" aria-label="" id="pay_method_hourly_<?php echo $key ?>" name="payout_type_<?php echo $key ?>" value="Hourly cost"> Hourly cost</label>
                                                                <p style="margin-bottom: 0px;" id="err_pay_method_hourly_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label class="control-label">Cost willing to pay <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please mention cost you would like to pay for task completion."></a></label>
                                                                <div class="row">
                                                                    <div class="col-sm-6 form-group">
                                                                        <input type="number" class="form-control cost_willing_to_pay" aria-label="Cost" id="cost_willing_to_pay_<?php echo $key ?>" name="cost_willing_to_pay_<?php echo $key ?>" value="<?php echo isset($taskDetail['cost_willing_to_pay'])?$taskDetail['cost_willing_to_pay']:''; ?>" />
                                                                        <p style="margin-bottom: 0px;" id="err_cost_willing_to_pay_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="col-sm-6 form-group">
                                                                        <?php $currency_array = array('USD $'=>'USD $','EUR &euro;'=>'EUR &euro;','GBP &pound;'=>'GBP &pound;'); ?>
                                                                        <select class="form-control currency_of_payment"  id="currency_of_payment_<?php echo $key ?>" name="currency_of_payment_<?php echo $key ?>">
                                                                           <?php // foreach($currency_array as $keyCurrency=>$currency){
//                                                                                $selectedCurrency = (isset($productDetail['currency_of_payment']) && $productDetail['currency_of_payment'] == $keyCurrency)?'selected="selected"':'';
//                                                                                echo '<option '.$selectedCurrency.' value="'.$keyCurrency.'">'.$currency.'</option>';
//                                                                            } ?>
                                                                             <?php foreach($currency as $currencyRow){ ?> <option <?php echo (isset($productDetail['currency_of_payment']) && $productDetail['currency_of_payment'] == $currencyRow['currency_code'])?'selected="selected"':'';?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_currency_of_payment_<?php echo $key ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           </div>
                                            <?php } ?>
                                        </div>

                                    </div>

                                 <div class="form-block" id="contact-details" style="display:none;">
                                            <h5 class="sub-heading text-left">Contact details of person at task location</h5>
                                            <hr class="title-border">
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Contact Name  <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                    <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Enter your Full Name" value="<?php echo isset($trip_seeker['contact_name'])?$trip_seeker['contact_name']:''; ?>" />
                                                    <p style="margin-bottom: 0px;" id="err_contact_name" class="text-danger err_msg"></p>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Contact Number  <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                    <input type="text" class="form-control" id="contact_number" name="contact_number"  placeholder="Country code + Number" value="<?php echo isset($trip_seeker['contact_number'])?$trip_seeker['contact_number']:''; ?>">
                                                    <p style="margin-bottom: 0px;" id="err_contact_number" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Email Address <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                    <input type="text" class="form-control" id="email_address" name="email_address"  placeholder="Enter your Email" value="<?php echo isset($trip_seeker['email_address'])?$trip_seeker['email_address']:''; ?>">
                                                    <p style="margin-bottom: 0px;" id="err_email_address" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label">Comment's to the Travelers <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                    <textarea class="form-control vresize" id="comments" name="comments"  placeholder="Provide your commnts to Travelers regarding your project requirments." rows="3"><?php echo isset($trip_seeker['comment'])?$trip_seeker['comment']:''; ?></textarea>
                                                    <p style="margin-bottom: 0px;" id="err_comments" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="col-md-4 rightSection bg-white" style="width:100%;">
                                <aside class="sidebar-right">
                                    <div class="sidebar-block verify-traveler">
                                        <div class="sidebar-header">
                                            <h5 class="mb0">Travel Service Benefits Highlights</h5>
                                        </div>
                                        <div class="verify-traveler-inner">
                                            <div class="block-inner-title">Product Service</div>
                                            <ul class="verify-traveler-details">
                                                <li><strong>SHOPPING</strong><br>Get cheap products purchased, carried and delivered anywhere for you</li>
                                                <li><strong>SHIPPING</strong><br>Cross border legal shipping has never been easier, convenient and affordable</li>
                                                <li><strong>COMPUTATION</strong><br>Search travellers by address to check your product availability and tax</li>
                                                <li><strong>SPECIFICATION</strong><br>Supply precise product details and description to ensure full delivery</li>
                                                <li><strong>WIDE RANGE</strong><br>Select varied remote task options and benefit more from travellers anywhere</li>
                                                <li><strong>PRICE</strong><br>Fixed or hourly, fix cost for your tasks at your feasibility and convenience</li>
                                                <li><strong>COMMUNICATE</strong><br>Use secured messaging to pass accurate task details for prompt completions</li>
                                                <li><strong>ADDRESS</strong><br>Provide exact task location and get request from travellers across the world</li>
                                                <li><strong>RELIABLE</strong><br>Trust scores on travellers indicate reliable service to complete your work</li>
                                                <li><strong>PAYMENT</strong><br>Credit, Debit or Paypal all transactions are escrow and highly secured</li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <!-- End #tab1 -->

                    <div class="tab-pane tripAddressTab" id="tab2">
                        <div class="table-wrapper-row full-width">
                            <div class="col-md-8 table-cell travel-form bg-white">
                            <?php echo $this->render(
                                'layout/includes/seeker-project-travel-plan',
                                array(
                                    'project_service_type' => $project_service_type,
                                    'action'    => $action,
                                    'comSessObj' => $comSessObj,
                                    'trip'  =>  $trip,
                                    'origin_location'   => isset($origin_location)?$origin_location:'',
                                    'destination_location'   => isset($destination_location)?$destination_location:'',
                                    'origin_location_code' => isset($origin_location_code)?$origin_location_code:'',
                                    'destination_location_code' => isset($destination_location_code)?$destination_location_code:''
                                    )
                                );
                            ?>
                            </div>
                            <div class="col-md-4 col-xs-12 table-cell flightStatus bg-white">
                               <aside class="sidebar-right">
                                    <div class="sidebar-block">
                                        <div class="sidebar-header">
                                            <h5 class="mb0">Estimated Fee</h5>
                                        </div>
                                        <div class="sidebar-block-inner text-center">
                                            <div class="panel panel-default">
                                                <div class="block-inner-title">Product Service</div>
                                                <div class="text-center est-price">
                                                    <span class="price_tag_span">
                                                        <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                                        <i class="price_tag_price" id="span_project_service_fee">0.00</i>
                                                        <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <!-- End #tab2 -->

                    <div class="tab-pane tripAddressTab" id="tab3">
                        <?php echo $this->render(
                            'layout/includes/origin-location-address.phtml'
                            );
                        ?>
                    </div>
                    <!-- End #tab3 -->

                    <div class="gap gap-small"></div>
                    <ul class="pager pager-new wizard">
                        <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                        <li class="previous"><a href="javascript:;">Previous</a></li>
                        <li class="next"><a href="javascript:;">Next</a></li>
                        <li class="next finish"><a href="javascript:;">Finish and Search</a></li>
                    </ul>
                </div>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="gap gap-small"></div>
<script type="text/javascript">
    $('.project_service_type').click(function(){
        if(this.id == 'task_category_select'){
            $('#work_category').val('0');
        } else {
            $('#work_category').val('1');
        }
        var dataString = 'id=' + $('#work_category').val();
        $('#project_service_type_back').show();
        $('#project_service_type_menu').hide();
        showHideWorkCategory();
    });

    $('#project_service_type_back').click(function(){
        $('#project_service_type_menu').show();
        if($('#work_category').val() == '1'){
            $("#project_type_product").addClass('active');
            $("#project_type_task").removeClass('active');
        } else {
            $("#project_type_task").addClass('active');
            $("#project_type_product").removeClass('active');
        }
        $('#contact-details').hide();
        $('#project_service_type_back').hide();
        $('#obtainTravelDeliveryCategory').hide();
        $('#otherWorkCategory').hide();
    });

    $(function(){
        <?php if($action == 'edit'){ ?>
            $('#project_service_type_back').show();
            $('#project_service_type_menu').hide();
			$('#contact-details').show();
			$('[name="projects_count"][value="'+$('#projects_count_more').val()+'"]').addClass('active');
        <?php } else{ ?>
            $('#project_service_type_menu').show();
            $('#project_service_type_back').hide();
            $('#otherWorkCategory').hide();
            $('#contact-details').hide();
            $('#obtainTravelDeliveryCategory').hide();
        <?php } ?>
        $('#work_category').change(function(){
            showHideWorkCategory(this.value);
        });
		showHideWorkCategory($('#work_category').val());
    });

    function showHideWorkCategory(workCategoryValue){
        workCategoryValue = workCategoryValue || $('#work_category').val();
        if(workCategoryValue == '1'){
            $('#obtainTravelDeliveryCategory').show();
            $('#otherWorkCategory').hide(); $('#contact-details').show();
        } else if(workCategoryValue != '1' && workCategoryValue != '') {
            $('#otherWorkCategory').show();
            $('#obtainTravelDeliveryCategory').hide(); $('#contact-details').show();
        }

    }
    function createImageUploader(divid, reId, imgLimit, btnName, index) {
        imaLimit = index = index || 1;
        var uploader = new qq.FineUploader({
            element: document.getElementById(divid),
            request: {
                endpoint: '<?php echo $this->basePath() ?>/ajax/uploadPassengerAttachment',
                inputName: 'uploadfile',
                params: {
                    reId: reId
                },
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                itemLimit: imgLimit,
                sizeLimit: (50 * 1048576) /* 50 mb = 50 * 1024 bytes*/
            },
            text: {
                uploadButton: '<div id="uploadImgBtn_' + index + '">' + btnName + '</div>',
                cancelButton: '&nbsp;',
                deleteButton: 'Delete',
            },
            deleteFile: {
                enabled: true,
                method: "POST",
                endpoint: "<?php echo $this->basePath() ?>/ajax/deletePassengerAttachment"
            },
            callbacks: {
                onUpload: function (id, name) {
                    /* this._netUploadedOrQueued = 3;
                     // this._netUploaded = 3;
                     //alert(this._netUploadedOrQueued);*/
                },
                onProgress: function (id, name, loaded, total) {
                    var item, progressBar, percent, cancelLink, filenameDisplay;
                    item = this.getItemByFileId(id);
                    cancelLink =  this._find(item, 'cancel');
                    filenameDisplay = this._find(item, 'file');
                    qq(filenameDisplay).addClass('spFileName_' + index + '-' + id);
                    qq(cancelLink).addClass('spcancel-'+id);
                    $('.qq-upload-button').each(function(index){
                        $(this).find('[name="qqfile"]').attr('id','filestyle-'+index);
                    });
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        var idName = 'file-img-' + id;
                        jQuery('.spFileName_' + index + '-' + id).show();
                        jQuery('#adsImgEsists').hide();
                        jQuery('.spFileName_' + index + '-' + id).html('<img src="<?php echo $this->basePath() ?>/public/uploads/seeker_people_attachment/thumb/' + responseJSON.uploadName + '" alt="' + responseJSON.uploadName + '"><input type="hidden" name="seekerPeopleDocImages_' + index + '[]"  value="' + responseJSON.uploadName + '" />');
                        jQuery('.spFileName_' + index + '-' + id).closest("li").attr('id', idName);
                        jQuery('.qq-upload-size').hide();
                        var uploadCount = parseInt($('#uploadCount_' + index).val());
                        uploadCount++;
                        $('#uploadCount_' + index).val(uploadCount);
                    }
                },
                onDeleteComplete: function (id, fileName, status) {
                    jQuery('#adsImgEsists').show();
                    var uploadCount = parseInt($('#uploadCount_' + index).val());
                    uploadCount--;
                    $('#uploadCount_' + index).val(uploadCount);
                },
            },
            uploadIndex: index,
            uploadLable: 'Add picture of item'
        });
    }

    $(document).ready(function(){
       if($('.product_attachment').length != 0){
            $('.product_attachment').each(function(){
                var pro_att_id = $(this).attr('id'),
                    attr = $(this).attr('data-value'),
                    index = pro_att_id.lastIndexOf("_"),
                    pos = pro_att_id.substr(index+1),
                    uploadCount = 5 - parseInt($('#uploadCount_' + pos).val());
                createImageUploader("product_attachment_"+pos, 0, uploadCount, "", pos);
                var htmlContent = $('#hiddenImages_'+pos).html();
                $('#dynamicImages_'+pos).html(htmlContent);
                $('#hiddenImages_'+pos).remove();
            });
        }

        if($('.jscolor').length != 0){
            $('.jscolor').each(function(){
                $(this).css('backgroundColor', this.value);
            });
        }

        if($('.item_weight').length != 0){
            $('.item_weight').each(function(){
                var item_weight_id = $(this).attr('id'),
                    attr = $(this).attr('data-value'),
                    index = item_weight_id.lastIndexOf("_"),
                    pos = item_weight_id.substr(index+1);
                    loadPackageSlider(pos);
                if (typeof attr !== typeof undefined && attr !== false){
                    updatePackageSlider(pos,attr);
                }
            });
        }

        if($('.service_date').length != 0){
            $('.service_date').each(function(){
                var service_date_id = $(this).attr('id'),
                    index = service_date_id.lastIndexOf("_"),
                    pos = service_date_id.substr(index+1);
                if($(this).val() !== ''){
                    updateDateRange(service_date_id,'service_start_date_'+pos,'service_end_date_'+pos, 'date_flexibility_'+pos );
                }
            });
        }
        negligibleChanges();
    });

    $('.manuallyDeleteImages').click(function(e){
        e.preventDefault();
        var imageFilename = $(this).attr('data-filename');
        var upIndex = $(this).attr('data-uploadid');
        $(this).closest('li.qq-upload-success').remove();
        var uploadCount = parseInt($('#uploadCount_' + upIndex).val());
        uploadCount--;
        $('#uploadCount_' + upIndex).val(uploadCount);
    });

    /*$('.service_date').datepicker({
        format: "dd/mm/yyyy",
        startView: 2,
        autoclose: true,
        endDate: '-0d',
    }).on('changeDate', function(e) {
        var service_date_id = $(this).attr('id'),
            index = service_date_id.lastIndexOf("_"),
            pos = service_date_id.substr(index+1);
        if($(this).val() !== ''){
            updateDateRange(service_date_id,'service_start_date_'+pos,'service_end_date_'+pos, 'date_flexibility_'+pos );
        }
    });*/
    function updateSelfData(){
        $('#contact_name').val('<?php echo isset($userDetails['first_name']) ? $userDetails['first_name'] : ''; ?>');
        $('#contact_number').val('<?php echo isset($userDetails['phone']) ? $userDetails['phone'] : ''; ?>');
        $('#email_address').val('<?php echo isset($userDetails['email_address']) ? $userDetails['email_address'] : ''; ?>');

    }
    $(document).ready(function(){
    updateSelfData();
    $('#product_category_select').click();
    });
</script>
<style type="text/css">
.purchase_type {
	text-align: center;
	border: 1px solid #ccc;
	padding: 3px 0;
	text-transform:uppercase;
	font-weight:bold;
	cursor:pointer;
}
.purchase_type.active {
	border: 1px solid #4493cb;
	background:#4493cb;
	color:#fff;
}
</style>
<script type="text/javascript">
function changePurchaseType(type,k){
	$('.purchase_type_'+k).removeClass('active');
	$('#purchase_type_'+k+'_'+type).addClass('active');
	$('#purchase_type_'+k).val(type);
	if(type == 2){
		$('#in_store_purchase_info_'+k).show();
	} else {
		$('#in_store_purchase_info_'+k).hide();
	}
}
$(document).ready(function(e) {
    $('.purchase_type.active').each(function(index, element) {
        $(this).trigger('click');
    });
});
function removeProject(idx){

	var pkgFiles = [];

	var selected_projects = $('#selected_project_products').val();
	if(selected_projects == 1){
		$('#project-error-dialog-btn').trigger('click');
		return false;
	}
	$('#projects_box_'+idx).remove();
	var currProject = parseInt(selected_projects) - 1;
	$('#sel_ratio_btn .btn-primary').removeClass('active');
	$('#sel_ratio_btn #trip_m_project_'+currProject).addClass('active');
	/*if(selected_packages > idx){
		for(var i = idx; i <= selected_packages; i++){
		}
	}*/
	$('#selected_project_products').val(currProject);
}
</script>
<style type="text/css">
.remove_item{
	color:white;
    background: red;
    padding: 3px 10px;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    top: -10px;
}
</style>
<a href="#project-error-dialog" id="project-error-dialog-btn" style="display:none;" data-effect="mfp-zoom-out" class="popup-map">Message</a>
<div id="project-error-dialog" style="width:400px;max-width:400px;" class="mfp-with-anim mfp-hide mfp-dialog modal-lg">
    <div class="panel-body">
        <div class="head-wrap">
            <h4 class="tab-heading">Alert</h4> <button title="%title%" type="button" class="mfp-close">&#215;</button>
        </div>
        <div class="form-group" style="margin-top:20px;margin-bottom:0;">You can't remove this product.</div>
    </div>
</div>
