<?php
//$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.bootstrap.wizard.js','text/javascript');
//$this->headScript()->appendScript("initAddTripSeekerProject();");
?>
<input type="hidden" name="service_type" id="service_type" value="project" >
<div class="gap gap-small"></div>
<div class='container'>
    <div class="row">
        <section id="wizard">
            <div id="rootwizard" class="tabbable tabbable-new tabs-left wow fadeIn">
                <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1"><span class="text">Product</span></a></li>
                    <li class="next"><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2"><span class="text">Desired service Location</span></a></li>
                </ul>
                <form id="formSeekerProjectRequest" name="formSeekerProjectRequest">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div class="table-wrapper-row full-width">
                                <div class="col-md-8 col-xs-12 table-cell travel-form bg-white">
                                    <div class="form-block">   
                                    <h5 class="sub-heading text-left">Provide details about projects</h5>
                                    <hr class="title-border">

                                    
<div class="row">
    <div class="form-group col-xs-12 form-group-select-plus">
        <label class="control-label">Number of individual tasks<a class="icon-info" href="#" data-toggle="tooltip" title=""></a>
            <small>need to be performed</small>
        </label>
        <input type="hidden" name="selected_projects" id="selected_projects" value="1">
         <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active"><input type="radio" name="projects_count" id="projects_count" value="1"  onchange="addRemoveProjects(this.value);" />1</label>
                                                    <label class="btn btn-primary"><input type="radio"   name="projects_count" id="projects_count" value="2"  onchange="addRemoveProjects(this.value);" />2</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="3" onchange="addRemoveProjects(this.value);" />3</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="4" onchange="addRemoveProjects(this.value);" />4</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="5" onchange="addRemoveProjects(this.value);" />5</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="6" onchange="addRemoveProjects(this.value);" />6</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="7" onchange="addRemoveProjects(this.value);" />7</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="8" onchange="addRemoveProjects(this.value);" />8</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="9" onchange="addRemoveProjects(this.value);" />9</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="projects_count" id="projects_count" value="10" onchange="addRemoveProjects(this.value);" />10+</label>
                                                    
                                                </div>
                                    <select class="form-control hidden"  id="projects_count_more" name="projects_count" onchange="addRemoveProjects(this.value);">
                                            <option selected="selected" value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>                                                                              
                                        </select>                                        
    </div>
</div> 

                                    <?php
                                    /* // if(count($this->project_tasks_categories_listtype)>0){
                                    // foreach($this->project_tasks_categories_listtype as $tasks_category){ 
                                    // echo "<pre>";
                                    // print_r($tasks_category);
                                    // echo "</pre>";
                                    // }
                                    // }*/
                                    ?> 
                                    <div class="form-group row projectTasks" id="projects_box">
                                        <div class="col-xs-12">
                                           
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    
                                                    <h5 class="sub-heading text-left">Details of Task 1</h5>
                                                    <hr class="title-border">
                                                    <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                       
                                                            <select class="form-control task_category"  id="task_category_1" name="task_category_1">
                                                                <option value=""> - select - </option>
                                                                <?php if (count($this->project_tasks_categories_type) > 0) {
                                                                    foreach ($this->project_tasks_categories_type as $tasks_category) {
                                                                        ?>
                                                                        <option value="<?php echo $tasks_category['ID']; ?>"><?php echo $tasks_category['catname']; ?></option>
                                                                    <?php }
                                                                }
                                                                ?>
                                                            </select>
                                                            <p style="margin-bottom: 0px;" id="err_task_category_1" class="text-danger err_msg"></p>
                                                 
                                                    </div>                                                    
                                                     <div class="form-group tasklists col-sm-6" id="tasklists_1">
                                                    <label class="control-label">Task Lists <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                   
                                                        <select class="form-control additional_requirements_category" id="additional_requirements_category_1" name="additional_requirements_category_1">
                                                            <option value="">Select</option>
                                                        </select>
                                                        <p style="margin-bottom: 0px;" id="err_additional_requirements_category_1" class="text-danger err_msg"></p>
                                                   
                                                </div>
                                                    </div>
                                                     <div class="row">
                                                    <div class="form-group col-xs-12">
                                                        <label class="control-label">Task Description <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                       <textarea class="form-control vresize task_description" id="task_description_1" name="task_description_1" placeholder="Ex. I need train tickets booked from Mumbai to Chennai on 5th January 2016 in 2nd AC class." rows="3"></textarea>
                                                            <p style="margin-bottom: 0px;" id="err_task_description_1" class="text-danger err_msg"></p>
                                                        
                                                    </div>
                                                         </div>
                                                     <div class="row">
                                                        <div class="form-group col-sm-6">
                                                        <label class="control-label">Website link<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                        <input type="text" class="form-control web_site_link" aria-label="http://example.com" id="web_site_link_1" name="web_site_link_1" >
                                                            <p style="margin-bottom: 0px;" id="err_web_site_link_1" class="text-danger err_msg"></p>
                                                        
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Quantity<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                   <input type="number" class="form-control quantity" aria-label="Quantity" id="quantity_1" name="quantity_1" >
                                                            <p style="margin-bottom: 0px;" id="err_quantity_1" class="text-danger err_msg"></p>
                                                    </div>
                                                  
                                                          </div>
                                                    <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Condition<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                      <select class="form-control condition" id="condition_1" name="condition_1">
                                                                <option value="">Select</option>
                                                                <option value="New">New</option>
                                                                <option value="Old">Old</option>
                                                                <option value="Moderate">Moderate</option>
                                                                <option value="Refurbished">Refurbished</option>
                                                            </select>
                                                            <p style="margin-bottom: 0px;" id="err_condition_1" class="text-danger err_msg"></p>
                                                        
                                                    </div>
                                                       <div class="form-group col-sm-6">
                                                        <label class="control-label">Color<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                         <input type="text" class="form-control color jscolor" aria-label="Color" id="color_1" name="color_1" >
                                                            <p style="margin-bottom: 0px;" id="err_color_1" class="text-danger err_msg"></p>
                                                    </div>
                                                  
                                                </div>
                                                    <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Photos<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                            <input type="file" class="form-control task_photo" aria-label="" id="task_photo_1" name="task_photo_1[]" >
                                                            <p style="margin-bottom: 0px;" id="err_task_photo_1" class="text-danger err_msg"></p>
                                                        
                                                    </div>
                                                   <!-- <div class="form-group col-sm-6">
                                                        <label class="control-label">Requires local travel <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                      
                                                        <input class="iCheck" type="radio" class="requires_local_travel_yes" name="requires_local_travel_1" id="requires_local_travel_1_yes" value="yes">Yes
                                                            &nbsp;
                                                            <input class="iCheck" type="radio" name="requires_local_travel_1" id="requires_local_travel_1_no" value="no">No
                                                            <p style="margin-bottom: 0px;" id="err_requires_local_travel_1" class="text-danger err_msg"></p>
                                                       
                                                    </div> -->
                                                     </div>
                                                     <!--  <div class="row">
                                                  <div class="form-group col-sm-6">
                                                        <label class="control-label">Date service required <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                        
                                                            <div class="input-group">
                                                                <input class="date-pick form-control service_date" name="service_date_1" id="service_date_1" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                                            </div>
                                                            <p style="margin-bottom: 0px;" id="err_service_date_1" class="text-danger err_msg"></p>
                                                      
                                                    </div> 
                                                   
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Product Duration <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                       
                                                            <div class="input-group">
                                                                <input type="number" class="form-control project_duration" aria-label="Product Duration" id="project_duration_1" name="project_duration_1" >
                                                                <span class="input-group-addon">in day(s)</span>
                                                            </div>
                                                            <p style="margin-bottom: 0px;" id="err_project_duration_1" class="text-danger err_msg"></p>
                                                       
                                                    </div>
                                                          </div>
                                                    <div class="row">
                                                    <div class="form-group col-sm-12">
                                                        <label class="control-label">Additional cost involved <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                        <div class="row">
                                                        <div class="col-sm-6">
                                                            <input type="number" class="form-control additional_fee" aria-label="Cost (in dollar)" id="additional_fee_1" name="additional_fee_1" >
                                                            <p style="margin-bottom: 0px;" id="err_additional_fee_1" class="text-danger err_msg"></p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="form-control additional_fee_currency"  id="additional_fee_currency_1" name="additional_fee_currency_1">
                                                                <option value="USD $">USD $</option>
                                                                <option value="EUR &euro;">EUR &euro;</option>
                                                                <option value="GBP &pound;">GBP &pound;</option>
                                                            </select>
                                                            <p style="margin-bottom: 0px;" id="err_additional_fee_currency_1" class="text-danger err_msg"></p>
                                                        </div>
                                                    </div></div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

</div>
<div class="form-block">                                  
<h5 class="sub-heading text-left">Contact details of person at task location</h5>
<hr class="title-border">
<div class="row">
    <div class="form-group col-sm-6">
        <label class="control-label">Service Rate <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

        <input type="text" class="form-control" id="service_rate" name="service_rate" placeholder="Service Rate">
        <p style="margin-bottom: 0px;" id="err_service_rate" class="text-danger err_msg"></p>

    </div>
    <div class="form-group col-sm-6">
        <label class="control-label">Contact Name <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

        <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Enter your Full Name">
        <p style="margin-bottom: 0px;" id="err_contact_name" class="text-danger err_msg"></p>

    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label class="control-label">Contact Number <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

        <input type="text" class="form-control" id="contact_number" name="contact_number"  placeholder="Country code + Number">
        <p style="margin-bottom: 0px;" id="err_contact_number" class="text-danger err_msg"></p>

    </div>
    <div class="form-group col-sm-6">
        <label class="control-label">Email Address <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

        <input type="text" class="form-control" id="email_address" name="email_address"  placeholder="Enter your Email">
        <p style="margin-bottom: 0px;" id="err_email_address" class="text-danger err_msg"></p>

    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        <label class="control-label">Comment's to the Travelers <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

        <textarea class="form-control vresize" id="comments" name="comments"  placeholder="Provide your commnts to Travelers regarding your project requirments." rows="3"></textarea>
        <p style="margin-bottom: 0px;" id="err_comments" class="text-danger err_msg"></p>

    </div>
</div>
</div>
                                    <!--<div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-4 text-right">
                                                    <input type="button" class="btn btn-primary" value="Save" onclick="addSeekerProjectRequest();getProjectsFee();" >
                                                    <input type="button" class="btn" value="Cancel">
                                            </div>
                                    </div>-->
                                </div>
                                <div class="col-md-4  col-xs-12 table-cell flightStatus bg-white">
                                    <aside class="sidebar-right">
                                        <div class="sidebar-block">
                                            <div class="sidebar-header">
                                                <h5 class="mb0">Estimated Fee</h5>
                                            </div>
                                            <div class="sidebar-block-inner text-center">
                                                <div class="panel panel-default">
                                                    <div class="block-inner-title">People Service</div>
                                                    <div class="text-center est-price">
                                                        <span>$50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <!-- End #tab1 -->

                        <div class="tab-pane" id="tab2">
                            <div class="table-wrapper-row full-width">
<?php echo $this->render('layout/includes/origin-location-address.phtml') ?>
                            </div>
                        </div>
                        <!-- End #tab2 -->

                        <div class="gap gap-small"></div>
                        <ul class="pager pager-new wizard">
                            <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                            <li class="previous"><a href="javascript:;">Previous</a></li>
                            <li class="next"><a href="javascript:;">Next</a></li>
                            <li class="next finish"><a href="javascript:;">Finish and Search</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="gap gap-small"></div>