<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<script src="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.js"></script>
<input type="hidden" name="service_type" id="service_type" value="people" >
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo $this->comSessObj->userrole;?>" >
<?php
echo $this->render('layout/flash_message');
if (isset($action) && $action == 'add') {
    $showBtn = true;
} else if (isset($action) && $action == 'edit') {
    $showBtn = false;
}
$datap['action'] = $action;
$userDetails = $this->comSessObj->user;
?>

<div class="content-wrapper">
  <h2 class="text-center title">People Service</h2>
    <div class="content-box people-service no-space">
      <section id="wizard">
        <div id="rootwizard">
          <form name="formSeekerPeopleRequest" id="formSeekerPeopleRequest" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="people_service_fee" id="people_service_fee" value="<?php echo isset($trip_seeker['people_service_fee']) ? $trip_seeker['people_service_fee'] :0?>" >
            <input type="hidden" name="gotourl" id="gotourl" value="<?php echo $this->gotourl ?>" >
            <?php if($action == 'edit'){ ?>
                <input type="hidden" name="trip_edit_id" id="action" value="<?php echo isset($this->trip['ID'])?$this->trip['ID']:0; ?>" />
                <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="<?php echo isset($this->trip['total_cost'])?$this->trip['total_cost']:0; ?>" >
                <input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="<?php echo isset($this->trip['total_cost_currency'])?$this->trip['total_cost_currency']:'GBP'; ?>" >
                <input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="<?php echo isset($this->trip['conversion_rate'])?$this->trip['conversion_rate']:0; ?>" >
            <?php } else{ ?>
                <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="" >
                <input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="" >
                <input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="" >
            <?php } ?>
            <input type="hidden" name="distance_unplan" id="distance_unplan" value="" >

          <div class="tabs-container people-container">

            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1">People</a></li>
              <li><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2">Travel Details</a></li>
              <li><a href="#tab3" role="tab" data-tab-name="origin_location_address" data-toggle="tab" aria-controls="tab3">Origin Location Address</a></li>
            </ul>

            <div class="tab-content">



                <div id="tab1" class="tab-pane fade in active">

                  <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12">

                          <div class="row">
                              <div class="form-group col-sm-12">
                                  <label class="control-label">Number of passenger(s)<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total number of passengers who require travel companion."></a>
                                      <small>need to be accompanied</small></label>
                                  <div>
                                      <input type="hidden" name="selected_passengers" id="selected_passengers" value="<?php echo (!$showBtn)?$trip_seeker['passengers']:'1';?>">
                                      <?php if($action == 'edit'){ ?>
                                          <input type="hidden" name="trip_edit_id" id="action" value="<?php echo isset($this->trip['ID'])?$this->trip['ID']:0; ?>" />
                                      <?php } ?>
                                      <input type="hidden" id="action" value="<?php echo $action ?>" >
                                      <div class="row">

                                      <div class="col-sm-12">

                                        <div class="btn-group add-passengers" data-toggle="buttons">
                                          <label class="btn passenger-btn active">
                                            <input type="checkbox" id="one_of_the_passenger" checked name="one_of_the_passenger" value="1" />
                                            Self
                                          </label>
                                          <i class="fa fa-plus add-icon" aria-hidden="true"></i>
                                        </div>

                                        <div class="btn-group add-passengers trip_m_people" data-toggle="buttons" id="sel_ratio_btn">
                                        <?php for($y=1;$y<=10;$y++){ ?>
                                            <label class="btn passenger-btn <?php echo ($trip_seeker['passengers']-1==$y) ? ' active' : ''; ?>" id="trip_m_people_<?= $y ?>"><input type="radio" name="passengers_count" id="passengers_count_<?= $y ?>" value="<?= $y+1 ?>" onchange="addRemovePassengers(this.value);" /><?= ($y+1  ==11)?$y.'+':$y ?></label>
                                            <?php } ?>
                                        </div>

                                        <select name="passengers_count_more"  id="passengers_count_more" class="form-control <?php echo ($trip_seeker['passengers'] <= 11) ? 'hidden' : ''; ?>" onchange="addRemovePassengers(this.value);">
                                            <?php
                                            $selectedCount = isset($trip_seeker['passengers']) ? $trip_seeker['passengers'] : 10;

                                            $passengerCountArr = range(1, 25);
                                            foreach ($passengerCountArr as $passCount) {
                                                $selectedPassCount = '';
                                                if($passCount >11){
                                                $selectedPassCount = ($selectedCount == $passCount) ? 'selected="selected"' : '';
                                                }
                                                echo '<option ' . $selectedPassCount . ' value="' . ($passCount+1) . '">' . $passCount . '</option>';
                                            }
                                            ?>
                                        </select>

                                      </div>




                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div id="passenger_box">
                              <?php
                              $peopleCounter = isset($trip_seeker['passengers'])?$trip_seeker['passengers']:1;
                              $peopleCountArray = range(1, $peopleCounter);
                              foreach($peopleCountArray as $key => $passCount){
                                  $passengersDetail = isset($trip_seeker_passenger[$key])?$trip_seeker_passenger[$key]:false;?>
                                  <div id="passenger_box_<?php echo $passCount ?>">
                                      <div class="panel panel-default">
                                          <div class="panel-body">
                                              <?php if($passCount != 1){ ?>
                                              <div class="mfp-close-btn" onclick="return removePeople(<?php echo $passCount; ?>)"><i class="fa fa-times" aria-hidden="true"></i></div>
                                              <?php } ?>
                                              <h5 class="sub-heading text-left">Details of passenger <?php echo $passCount ?></h5>
                                              <hr class="title-border">
                                              <div class="row">
                                                  <div class="form-group col-sm-6">
                                                      <label class="control-label">First Name <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide first name of passenger per ID document."></a></label>
                                                      <div class="input-group">
                                                        <input type="text" name="passenger_first_name_<?php echo $passCount ?>" id="passenger_first_name_<?php echo $passCount ?>" class="form-control passenger_first_name" value="<?php echo (isset($passengersDetail['first_name'])) ? $passengersDetail['first_name'] : ''; ?>" onkeydown="return alphaOnly(event);" required />
                                                      </div>
                                                      <p id="err_passenger_first_name_<?php echo $passCount ?>" class="text-danger err_msg"></p>
                                                  </div>
                                                  <div class="form-group col-sm-6">
                                                      <ul id="passenger_attachment_<?php echo $passCount ?>" class="imgblock-new passenger_attachment"></ul>
                                                      <?php
                                                          $toalAttCount = 5;
                                                          if (isset($passengersDetail['attachments']) && !empty($passengersDetail['attachments'])) { ?>
                                                          <div class="qq-uploader">
                                                              <div class="content horizontal-images">
                                                                  <ul class="qq-upload-list">
                                                                      <?php
                                                                      $uploadedAttCount = count($passengersDetail['attachments']);
                                                                      foreach ($passengersDetail['attachments'] as $key => $attRow) {
                                                                          $toalAttCount --;
                                                                          ?>
                                                                          <li class=" qq-upload-success" id="file-img-<?php echo $key; ?> ">
                                                                              <span class="qq-upload-file spFileName_<?php echo $passCount ?>-0-1">
                                                                                  <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['seeker_attachment_name'] ?>" alt="<?php echo $attRow['seeker_attachment_name'] ?>">
                                                                                  <input type="hidden" name="seekerPeopleDocImages_<?php echo $passCount ?>[]" value="<?php echo $attRow['seeker_attachment_name'] ?>">
                                                                              </span>
                                                                              <div class="delete-btn manuallyDeleteImages" data-uploadid="<?php echo $passCount ?>" data-filename="<?php echo $attRow['seeker_attachment_name'] ?>">
                                                                                  <a class="qq-upload-delete" href="#" style="background: url(&quot;images/close-x.png&quot;) left top no-repeat; width: 12px; display: inline-block;">
                                                                                  Delete</a>
                                                                              </div>
                                                                          </li>
                                                                          <?php
                                                                      }
                                                                      ?>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                      <?php } ?>
                                                      <input type="hidden" id="uploadCount_<?php echo $passCount ?>" name="uploadCount_<?php echo $passCount ?>" value="<?php echo (isset($passengersDetail['attachments'])) ? count($passengersDetail['attachments']) : 0; ?>">
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="form-group col-sm-6">
                                                      <label class="control-label">Last Name <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide last name of passenger per ID document"></a></label>
                                                      <div class="input-group">
                                                        <input type="text" name="passenger_last_name_<?php echo $passCount ?>" id="passenger_last_name_<?php echo $passCount ?>" class="form-control passenger_last_name" value="<?php echo (isset($passengersDetail['last_name'])) ? $passengersDetail['last_name'] : ''; ?>" onkeydown="return alphaOnly(event);" required />
                                                      </div>
                                                      <p id="err_passenger_last_name_<?php echo $passCount ?>" class="text-danger err_msg"></p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="form-group col-sm-6">

                                                    <div class="input-group radio-group">
                                                        <div>
                                                          Gender <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select gender of passenger per ID document."></a>
                                                        </div>
                                                        <input class="passenger_gender" type="radio" id="passenger_gender_<?php echo $passCount ?>_male" name="passenger_gender_<?php echo $passCount ?>" value="m" <?php echo (isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'm') ? 'checked' : ''; ?> required />
                                                        <label class="radio-inline" for="passenger_gender_<?php echo $passCount ?>_male">Male</label>

                                                        <input class="passenger_gender" type="radio" id="passenger_gender_<?php echo $passCount ?>_female" name="passenger_gender_<?php echo $passCount ?>" value="f" <?php echo (isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'f') ? 'checked' : ''; ?> required />
                                                        <label class="radio-inline" for="passenger_gender_<?php echo $passCount ?>_female">Female</label>
                                                    </div>

                                                      <!-- <div class="btn-group" data-toggle="buttons">
                                                          <label class="btn btn-default <?php echo (isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'm') ? 'active' : ((isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'm' && $passCount == 1)?'disabled':''); ?>">
                                                              <input class="form-control passenger_gender" type="radio" id="passenger_gender_<?php echo $passCount ?>_male" name="passenger_gender_<?php echo $passCount ?>" value="m" <?php echo (isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'm') ? 'checked' : ''; ?> /> Male
                                                          </label>
                                                          <label class="btn btn-default <?php echo (isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'f') ? 'active' : ((isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'f' && $passCount == 1)?'disabled':''); ?>">
                                                              <input class="form-control passenger_gender" type="radio" id="passenger_gender_<?php echo $passCount ?>_female" name="passenger_gender_<?php echo $passCount ?>" value="f" <?php echo (isset($passengersDetail['gender']) && $passengersDetail['gender'] == 'f') ? 'checked' : ''; ?> /> Female
                                                          </label>
                                                      </div> -->

                                                      <p id="err_passenger_gender_<?php echo $passCount ?>" class="text-danger err_msg"></p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="form-group col-sm-6">
                                                      <label class="control-label">Age <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select age of passenger per ID document."></a></label>
                                                      <div class="input-group">
                                                        <input type="number" name="passenger_age_<?php echo $passCount ?>" id="passenger_age_<?php echo $passCount ?>" class="form-control numonly passenger_age" min="1" max="200" value="<?php echo (isset($passengersDetail['age'])) ? $passengersDetail['age'] : ''; ?>" onkeydown="return ageOnly(this,event);">
                                                      </div>
                                                      <p id="err_passenger_age_<?php echo $passCount ?>" class="text-danger err_msg"></p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              <?php }?>
                          </div>
                          <div class="row">
                              <div class="form-group col-sm-6">
                                  <label class="control-label">Contact Name  <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide name of contact person who needs to be contacted at destination."></a></label>
                                  <div class="input-group">
                                    <input type="text" name="contact_name" id="contact_name" class="form-control" value="<?php echo (isset($trip_seeker['contact_name'])) ? $trip_seeker['contact_name'] : ''; ?>" onkeydown="return alphaOnly(event);">
                                  </div>
                              </div>
                              <div class="form-group col-sm-6">
                                  <label class="control-label">Contact Number  <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact number of person at destination incase traveller needs to contact him/her after arrival."></a></label>
                                  <div class="input-group">
                                    <input type="text" name="contact_number" maxlength="10" id="contact_number" class="form-control phoneonly" value="<?php echo (isset($trip_seeker['contact_number'])) ? $trip_seeker['contact_number'] : ''; ?>">
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="form-group col-sm-6">
                                  <label class="control-label">Contact email ID <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide email ID of contact person so that we will send notification of flights arrival or status change."></a></label>
                                  <div class="input-group">
                                    <input type="text" name="email_address" id="email_address" class="form-control" value="<?php echo (isset($trip_seeker['email_address'])) ? $trip_seeker['email_address'] : ''; ?>">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="form-group col-md-12">
                                  <label class="control-label">Comments to travellers<span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please add any special requirements or needs of passengers in detail which will help travellers to contact you to get any additional information."></a></label>
                                  <div class="input-group">
                                    <textarea class="form-control vresize" name="comments" id="comments" required><?php echo (isset($trip_seeker['comment'])) ? $trip_seeker['comment'] : ''; ?></textarea>
                                    <p id="err_comments" class="text-danger err_msg">Please enter comments.</p>
                                  </div>
                              </div>
                          </div>
                          <input type="hidden" name="userRole" id="userRole" value="seeker" />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <aside class="sidebar-right hidden-xs hidden-sm">
                              <div class="sidebar-block verify-traveler">
                                  <div class="sidebar-header">
                                      <h5>Travel Service Benefits Highlights</h5>
                                  </div>
                                  <div class="verify-traveler-inner">
                                      <div class="block-inner-title hidden">People Service</div>
                                      <ul class="verify-traveler-details">
                                          <li><strong>EVERYONE</strong><br>Find companion for all including children, elders and differently abled</li>
                                          <li><strong>INNUMERABLE</strong><br>Send as many passengers as you wish anywhere in a single trip</li>
                                          <li><strong>ACQUAINT</strong><br>Search travellers by promimity to ease & acquaint before travel</li>
                                          <li><strong>SUITABLE</strong><br>Find apt travellers per your itinerary & book matching flights</li>
                                          <li><strong>PREFERENCE</strong><br>Search travellers in specific flights or booked flights/itinerary</li>
                                          <li><strong>TRACK</strong><br>Get notified on multi transit flight statuses of passengers trip</li>
                                          <li><strong>PRICE</strong><br>Unbeatable flight fare for passengers & cheap reward for services</li>
                                          <li><strong>ESCORT</strong><br>Source to destination end to end fellowship for anyone anywhere</li>
                                          <li><strong>RELIABLE</strong><br>Trust scores on travellers indicate reliable service to accompany people</li>
                                          <li><strong>PAYMENT</strong><br>Credit, Debit or Paypal all transactions are escrow and highly secured</li>
                                      </ul>
                                  </div>
                              </div>
                          </aside>
                      </div>
                  </div>


                </div>

                <div id="tab2" class="tab-pane fade">

                  <div class="row">
                      <div class="col-md-8 table-cell travel-form bg-white">
                          <?php
                          echo $this->render('layout/includes/people-reservation-details.phtml');
                          ?>
                      </div>
                      <div class="col-md-4 flightStatus bg-white">
                          <aside class="sidebar-right">
                              <div class="sidebar-block">
                                  <div class="sidebar-header">
                                   <h5 class="mb0">Estimated Fee <span id="min_text"></span></h5>
                                  </div>
                                  <div class="sidebar-block-inner text-center">
                                      <div class="panel panel-default">
                                          <div class="block-inner-title">People Service</div>


                                          <div class="text-center est-price jtextfill">
                                           <span class="price_tag_span">
                                              <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                              <i class="price_tag_price" id="span_people_service_fee">0.00</i>
                                              <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                          </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </aside>
                      </div>
                  </div>

                </div>

                <div id="tab3" class="tab-pane fade">

                  <div class="row">
                    <div class="col-sm-12">
                      <?php
                      echo $this->render('layout/includes/origin-location-address.phtml');
                      ?>
                    </div>
                  </div>

                </div>




            </div>

            <ul class="pager people-pager pager-new wizard">
                <li class="previous pull-left"><a class="btn" href="javascript:void(0)">Previous</a></li>
                <li class="next pull-right m-0"><a class="btn" href="javascript:void(0)">Next</a></li>
                <li class="next finish pull-right"><a class="btn" href="javascript:void(0)">Finish and Search</a></li>
            </ul>

          </div>
        </form>
        </div>
      </section>
    </div>
</div>



<script type="text/javascript">

$(document).ready(function(){

  $('.verify-traveler-inner').mCustomScrollbar({

      callbacks:{
        whileScrolling:function(){
            $('body').addClass('stop-pagescroll');
        },
        onScroll: function(){
          setTimeout(function(){
            $('body').removeClass('stop-pagescroll');
          },200);
        },
        onScrollStart:function(){
            $('body').addClass('stop-pagescroll');
        },
      },
      advanced:{
        updateOnContentResize:true
      }
  });

});

  /*var tabIndex = 1;
  var tabLength = 3;
  $('.people-pager .finish .btn').hide();

  function checkPreviousButtons() {
    if(tabIndex==1){
      $('.people-pager .previous .btn').addClass('disabled');
    }
    else {
      $('.people-pager .previous .btn').removeClass('disabled');
    }
  }

  function checkNextButtons() {
    if(tabIndex==tabLength){
      $('.people-pager .next .btn').hide();
      $('.people-pager .finish .btn').show();
    }
    else {
      $('.people-pager .next .btn').show();
      $('.people-pager .finish .btn').hide();
    }
  }

  checkPreviousButtons();
  checkNextButtons();

  $('.people-pager .next .btn').on('click', function() {

    tabIndex++;
    $('.people-container .nav-tabs li:eq('+(tabIndex-1)+') a').tab('show');
    checkPreviousButtons();
    checkNextButtons();

  });

  $('.people-pager .previous .btn').on('click', function() {
    tabIndex--;
    $('.people-container .nav-tabs li:eq('+(tabIndex-1)+') a').tab('show');
    checkPreviousButtons();
    checkNextButtons();
  });

*/

    function createImageUploader(divid, reId, imgLimit, btnName, index) {
        imaLimit =
                index = index || 1;
        var uploader = new qq.FineUploader({
            element: document.getElementById(divid),
            request: {
                endpoint: '<?php echo $this->basePath() ?>/ajax/uploadPassengerAttachment',
                inputName: 'uploadfile',
                params: {
                    reId: reId
                },
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                itemLimit: imgLimit,
                sizeLimit: (50 * 1048576) /* 50 mb = 50 * 1024 bytes*/
            },
            text: {
                uploadButton: '<div id="uploadImgBtn_' + index + '">' + btnName + '</div>',
                cancelButton: 'Cancel',
                deleteButton: 'Delete',
            },
            deleteFile: {
                enabled: true,
                method: "POST",
                endpoint: "<?php echo $this->basePath() ?>/ajax/deletePassengerAttachment"
            },
            callbacks: {
                onUpload: function (id, name) {
                    /* this._netUploadedOrQueued = 3;
                    // this._netUploaded = 3;
                    //alert(this._netUploadedOrQueued); */
                },
                onProgress: function (id, name, loaded, total) {
                    var item, progressBar, percent, cancelLink, filenameDisplay;
                    item = this.getItemByFileId(id);
                    filenameDisplay = this._find(item, 'file');
                    cancelLink =  this._find(item, 'cancel');
                    qq(filenameDisplay).addClass('spFileName_' + index + '-' + id);
                    qq(cancelLink).addClass('spcancel-'+id);
                    $('.qq-upload-button').each(function(index){
                        $(this).find('[name="qqfile"]').attr('id','filestyle-'+index);
                    });
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        var uploadCount = parseInt($('#uploadCount_' + index).val());
                        var idName = 'file-img-' + id;
                        jQuery('.spFileName_' + index + '-' + id).show();
                        jQuery('#adsImgEsists').hide();
                        jQuery('.spFileName_' + index + '-' + id).html('<img src="<?php echo $this->basePath() ?>/public/uploads/seeker_people_attachment/thumb/' + responseJSON.uploadName + '" alt="' + responseJSON.uploadName + '"><input type="hidden" name="seekerPeopleDocImages_' + index + '[]"  value="' + responseJSON.uploadName + '" />');
                        jQuery('.spFileName_' + index + '-' + id).closest("li").attr('id', idName);
                        jQuery('.qq-upload-size').hide();
                        var uploadCount = parseInt($('#uploadCount_' + index).val());
                        uploadCount++;
                        $('#uploadCount_' + index).val(uploadCount);
                    }
					bindFileStyle();
                },
                onDeleteComplete: function (id, fileName, status) {
                    jQuery('#adsImgEsists').show();
                    var uploadCount = parseInt($('#uploadCount_' + index).val());
                    uploadCount--;
                    $('#uploadCount_' + index).val(uploadCount);
                },
            },
            uploadIndex: index
        });
    }

$('.passenger_attachment').each(function(index){
    var newIndex = index+1;
    var uploadCount = (5-parseInt($('#uploadCount_' + newIndex).val()));
    createImageUploader("passenger_attachment_"+newIndex, 0, uploadCount, "", newIndex);
    var htmlContent = $('#hiddenImages_'+newIndex).html();
    $('#dynamicImages_'+newIndex).html(htmlContent);
    $('#hiddenImages_'+newIndex).remove();
});

$('.yesNo input:checkbox').click(function() {
    $('.yesNo input:checkbox[name='+$(this).attr('name')+']').parent().removeClass('checked');
    $(this).parent().toggleClass('checked');
});

function updateSelfData(updateStatus){
    if(updateStatus == 1){
        <?php if(isset($userDetails['first_name']) && !empty($userDetails['first_name'])){ ?>
        $('#passenger_first_name_1').val('<?php echo isset($userDetails['first_name']) ? $userDetails['first_name'] : ''; ?>').attr('readonly', true);
        <?php }
        if(isset($userDetails['last_name']) && !empty($userDetails['last_name'])){ ?>
        $('#passenger_last_name_1').val('<?php echo isset($userDetails['last_name']) ? $userDetails['last_name'] : ''; ?>').attr('readonly', true);
        <?php }
        if(isset($userDetails['gender']) && !empty($userDetails['gender'])){ ?>
            $('input[name="passenger_gender_1"').attr('readonly', true).closest('label').addClass('disabled');
            $('#passenger_gender_1_<?php echo strtolower($userDetails['gender']) ?>').attr('checked', true).closest('label').removeClass('disabled').addClass('active');
        <?php }
        if(isset($userDetails['age']) && !empty($userDetails['age'])){ ?>
            $('#passenger_age_1').val('<?php echo isset($userDetails['age']) ? $userDetails['age'] : ''; ?>').attr('readonly', true);
        <?php } ?>
        $('#contact_name').val('<?php echo isset($userDetails['first_name']) ? $userDetails['first_name'] : ''; ?>');
        $('#contact_number').val('<?php echo isset($userDetails['phone']) ? $userDetails['phone'] : ''; ?>');
        $('#email_address').val('<?php echo isset($userDetails['email_address']) ? $userDetails['email_address'] : ''; ?>');
        $('<input type="hidden" name="passenger_gender_1" id="passenger_gender_new" value="<?php echo isset($userDetails['gender']) ? $userDetails['gender'] : ''; ?>" >').insertAfter('#passenger_gender_1');
    }else{
        $('#passenger_first_name_1').val('').attr('readonly', false);
        $('#passenger_last_name_1').val('').attr('readonly', false);
        $('input[name="passenger_gender_1"').attr('readonly', false).closest('label').removeClass('disabled');
        $('#passenger_age_1').val('').attr('readonly', false);
        $('#passenger_gender_new').remove();

    }
}

function hastRoute(){
    var hash = window.location.hash.substr(1);
    if(hash != ''){
        if(hash == 'trip'){
            $('#rootwizard a[href="#tab1"]').tab('show');
        }
        if(hash == 'service'){
            $('#rootwizard a[href="#tab3"]').tab('show');
        }
        if(hash == 'location'){
            $('#rootwizard a[href="#tab2"]').tab('show');
        }
    }
}
$('input[name="one_of_the_passenger"]').change(function(){
    var pCount = parseInt($('#selected_passengers').val());
    var pCount2 = $('[name="passengers_count"]:checked').val();

    if(isNaN(pCount)) {
       pCount = 0;
    } if(isNaN(pCount2)) {
       pCount2 = 0;
    }
    if($(this).is(':checked')==true){
        updateSelfData(1);

        if(pCount2> pCount){pCount=pCount+1;}else{
            pCount = (pCount>1)?pCount+1:0;
        }

    }else{ updateSelfData(0);
          pCount = (pCount>1)?pCount-1:0;
    }
    if(pCount >0){

        addRemovePassengers(pCount);

    }
});
$(document).ready(function(){
     //console.log('pCount');
    updateSelfData(1);
    hastRoute();
 	createPeopleImgDelete();
});
 $('.btn-group').on('click', '.btn', function(e) {
        if ($(this).hasClass('active') && ! $(this).hasClass('slfpls')) {
            setTimeout(function() {
              $(this).removeClass('active').find('input').prop('checked', false);

               addRemovePassengers(1);
            }.bind(this), 10);
        }
    });
function createPeopleImgDelete(){
	$('.manuallyDeleteImages').click(function(e){
		e.preventDefault();
		var imageFilename = $(this).attr('data-filename');
		var upIndex = $(this).attr('data-uploadid');
		$(this).closest('li.qq-upload-success').remove();
		var uploadCount = parseInt($('#uploadCount_' + upIndex).val());
		uploadCount--;
		$('#uploadCount_' + upIndex).val(uploadCount);
	});
}
$(document).on('change', '#passengers_count_more', function(e) {

        if($('#selected_passengers').val() < 11){
    			$(this).addClass('hidden');
    			$('.trip_m_people').removeClass('hidden');
    			$('.trip_m_people .btn').removeClass('active');
    			$('#trip_m_people_'+parseInt($('#selected_passengers').val()-1)).addClass('active');
        }
    });
$('#trip_m_people_10').on('click',function(){
  $('#passengers_count_more').removeClass('hidden');
	//$('#passengers_count_more > option:selected').val(10);
	//$('select>option:eq(9)').prop('selected', true);
});
function removePeople(idx){

	var pkgFiles = [];

	var selected_passengers = $('#selected_passengers').val();
	if(selected_passengers == 1){
		return false;
	}
	$('#passenger_box_'+idx).remove();
	var currPass = parseInt(selected_passengers) - 1;
	$('#sel_ratio_btn .passenger-btn').removeClass('active');
	$('#sel_ratio_btn #trip_m_people_'+(currPass-1)).addClass('active');
	if(selected_passengers > idx){
		var defaulVals = {};
		var dec = currPass;
		for(var i = idx+1; i <= selected_passengers; i++){
			defaulVals[i-1] = {pass_f_name:$('#passenger_first_name_'+i).val(),pass_l_name:$('#passenger_last_name_'+i).val(),pass_age:$('#passenger_age_'+i).val(),pass_gender:$('[name="passenger_gender_'+i+'"]:checked').val(),pass_img_path:$('[name="seekerPeopleDocImages_'+i+'[]"]').val(),pass_upload_cnt:$('#uploadCount_'+i).val()}
			$('#passenger_box_'+i).remove();
			dec = dec - 1;
			$('#selected_passengers').val(dec);
		}
		addRemovePassengers(currPass,defaulVals);
	} else {
		$('#selected_passengers').val(currPass);
	}
}
</script>
<style type="text/css">
.remove_item{
	color:white;
    background: red;
    padding: 3px 10px;
    border-radius: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
}
#passenger_box .panel-body{position:relative;}
</style>
