<input type="hidden" name="service_type" id="service_type" value="package" >
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo $this->comSessObj->userrole;?>" >
<input type="hidden" name="" id="package_service_fee_estimate" value="" >
<?php
echo $this->render('layout/flash_message');
if (isset($action) && $action == 'add') {
    $showBtn = true;
} else if (isset($action) && $action == 'edit') {
    $showBtn = true;
}
$userDetails = $this->comSessObj->user;
?>
<div class='container'>
    <div class="row">
        <section id="wizard">
            <div id="rootwizard" class="tabbable tabbable-new tabs-left wow fadeIn">
                <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
                    <li class="active"><a href="#package_tab1" role="tab" data-toggle="tab" aria-controls="tab1">Package</a></li>
                    <li class="next"><a href="#package_tab2" role="tab" data-toggle="tab" aria-controls="tab2">Transportation Details</a></li>
                    <li><a href="#package_tab3" role="tab" data-toggle="tab" aria-controls="tab3">Origin Location Address</a></li>
                </ul>
                <form id="fromSeekerPackageRequest" name="fromSeekerPackageRequest" method="post" enctype="multipart/form-data">
                 <input type="hidden" name="package_service_fee" id="package_service_fee" value="" >
                 <input type="hidden" name="gotourl" id="gotourl" value="<?php echo $this->gotourl?>" >

                    <?php if($action == 'edit'){
                        //echo '<pre>'; print_r($this->trip);
                        ?>
                        <input type="hidden" name="trip_edit_id" id="action" value="<?php echo isset($this->trip['ID'])?$this->trip['ID']:0; ?>" />
                        <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="<?php echo isset($this->trip['total_cost'])?$this->trip['total_cost']:0; ?>" >
                        <input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="<?php echo isset($this->trip['total_cost_currency'])?$this->trip['total_cost_currency']:'GBP'; ?>" >
                        <input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="<?php echo isset($this->trip['conversion_rate'])?$this->trip['conversion_rate']:0; ?>" >
                    <?php } else{ ?>
                        <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="" >
                        <input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="" >
                        <input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="" >
                    <?php } ?>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="package_tab1">
                            <div class="table-wrapper-row full-width">
                                <div class="col-md-8 table-cell travel-form bg-white">
                                    <div class="form-block mg-bot30">
                                        <h5 class="sub-heading text-left">Provide details about packages</h5>
                                        <hr class="title-border">
                                        <div class="row">
                                            <div class="col-sm-12 form-group form-group-select-plus">
                                                <label class="control-label">No of individual items<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total number of items you need to transport."></a>
                                                    <small>need to be carried</small>
                                                </label>
                                                <input type="hidden" name="selected_packages" id="selected_packages" value="<?php echo isset($trip_seeker['packages']) ? $trip_seeker['packages'] : 1;?>">
                                                <input type="hidden" id="action" value="<?php echo $action ?>" >
                                                 <?php
                                                $packagesCountArr = range(1, 10);
                                                $selectedPackageCount = isset($trip_seeker['packages']) ? $trip_seeker['packages'] : 1;

                                                if($selectedPackageCount>9)$showBtn = false;

                                                 if ($showBtn) { ?>
                                                <div class="btn-group btn-group-select-num trip_m_package" data-toggle="buttons" id="sel_ratio_btn">

                                                  <?php
                                                        foreach ($packagesCountArr as $packagesCountVal) {


                                                         $checked1 = (isset($selectedPackageCount) &&  $packagesCountVal == $selectedPackageCount)?'checked="checked"':'';
                                                    $active1 = (isset($selectedPackageCount) &&  $packagesCountVal == $selectedPackageCount)?'active':'';?>

                                             <label class="btn btn-primary  <?php echo $active1;?>" id="trip_m_package_<?php echo $packagesCountVal?>"><input <?php echo $checked1;?> type="radio" name="packages_count" id="packages_count"  value="<?php echo $packagesCountVal?>"  onchange="addRemovePackages(this.value);" /><?php echo ($packagesCountVal == 10)?'10+':$packagesCountVal;?></label>

                                                 <?php
                                                        }
                                                    ?>

                                                </div>
                                                 <?php } ?>
                                                <select class="form-control mt10 <?php echo ($showBtn) ? 'hidden' : ''; ?>"  id="packages_count_more" name="packages_count_more"   onchange="addRemovePackages(this.value);">
                                                    <?php
                                                        $packagesCountArr = range(1, 25);
                                                        $selectedPackageCount = isset($trip_seeker['packages']) ? $trip_seeker['packages'] : 10;
                                                        foreach ($packagesCountArr as $packagesCountVal) {
                                                            $selectedTaskCountVal = ($selectedPackageCount == $packagesCountVal) ? 'selected="selected"' : '';
                                                            echo '<option ' . $selectedTaskCountVal . ' value="' . $packagesCountVal . '">' . $packagesCountVal . '</option>';
                                                        }
                                                    ?>
                                                </select>
                                                <p style="margin-bottom: 0px;" id="err_packages_count" class="text-danger err_msg"></p>
                                            </div>
                                        </div>

                                        <div class="row packages_box" id="packages_box">
                                            <?php
                                                $packageCounter = isset($trip_seeker['packages'])?$trip_seeker['packages']:1;
                                                $packCountArray = range(1, $packageCounter);
                                                foreach($packCountArray as $key => $pacCount){
                                                    $packageDetail = isset($trip_seeker_packages[$key])?$trip_seeker_packages[$key]:false; ?>
                                                    <div class="col-xs-12" id="packages_box_<?php echo $pacCount; ?>">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                            	<?php if($pacCount != 1){ ?>
                                                            	<a href="javascript:;" class="remove_item" onclick="return removePackage(<?php echo $pacCount; ?>)">X</a>
                                                                <?php } ?>
                                                                <h5 class="sub-heading text-left">Details of Item <?php echo $pacCount; ?></h5>
                                                                <hr class="title-border">
                                                                <div class="row">
                                                                    <div class="col-sm-6 form-group">
                                                                        <label class="control-label">Item category<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select category of item which needs to be transported."></a></label>
                                                                        <select class="form-control category" name="category_<?php echo $pacCount; ?>" id="category_<?php echo $pacCount; ?>">
                                                                            <option value=""> - Select - </option>
                                                                                <?php if(count($this->project_cats)>0){
                                                                                    foreach($this->project_cats as $tasks_category){
                                                                                        $packCatSelected = (isset($packageDetail['item_category']) && $packageDetail['item_category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                                        echo '<option '.$packCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                                   }
                                                                                } ?>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_category_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-6 ">
                                                                        <label class="control-label">Item Type<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select exact item that needs to be transported."></a></label>
                                                                        <select class="form-control item_category" name="item_category_<?php echo $pacCount; ?>" id="item_category_<?php echo $pacCount; ?>" >
                                                                            <option value=""> - Select - </option>
                                                                            <?php if(isset($packageDetail['subCategory']) && !empty($packageDetail['subCategory']) && isset($packageDetail['item_sub_category'])){
                                                                                foreach($packageDetail['subCategory'] as $subCategory){
                                                                                    $subCatSelected = (isset($packageDetail['item_sub_category']) && $subCategory['ID'] == $packageDetail['item_sub_category'])?'selected="selected"':' ';
                                                                                    echo '<option '.$subCatSelected.'value="'.$subCategory['ID'].'">'.$subCategory['subcatname'].'</option>';
                                                                                }
                                                                            } ?>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_item_category_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <label class="control-label">Item Description<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide detailed description of the item such as quantity and add the total weight and size etc. so that incase of insurance claim these details will be analyzed."></a></label>
                                                                        <textarea id="item_description_<?php echo $pacCount; ?>" name="item_description_<?php echo $pacCount; ?>" class="form-control vresize item_description" placeholder="Ex. Titan Watch with covered box." rows="3"><?php echo (isset($packageDetail['item_description']) && !empty($packageDetail['item_description']))?$packageDetail['item_description']:''; ?></textarea>
                                                                        <p style="margin-bottom: 0px;" id="err_item_description_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-8">
                                                                        <label class="control-label" for="approxweight">Approximate weight <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select weight of the item so that traveller will decide capacity of baggage in which item can be carried."></a></label>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <input type="text" id="item_weight_<?php echo $pacCount; ?>" name="item_weight_<?php echo $pacCount; ?>" class="item_weight" style="display:none;" data-value='<?php echo (isset($packageDetail['weight']) && !empty($packageDetail['weight']))?$packageDetail['weight']:'0.5'; ?>' >
                                                                                <span style="margin-bottom: 0px;position: absolute;display: block;" id="lbs_item_weight_<?php echo $pacCount; ?>"></span>
                                                                                <p style="margin-bottom: 0px;" id="err_item_weight_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label" for="itemsize">Negligible Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="If weight of the item is less than 1 lbs. or 0.5 kg, Please check this option."></a></label>
                                                                        <div class="yesNo" style="margin-top: 1em;">
                                                                            <label class="sliderCheck">
                                                                                <input type="checkbox" class="negligible_weight" value="1" name="negligible_weight_<?php echo $pacCount; ?>" id="negligible_weight_<?php echo $pacCount; ?>" <?php echo (isset($packageDetail['negligible_weight']) && !empty($packageDetail['negligible_weight']))?'checked':''; ?>>
                                                                                <div class="slider round"></div>
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <div class="available-volume">
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> active" id="icon-doc_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Document</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-backbag_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Backbag</p>
                                                                                </div>
                                                                            </div>
                                                                            <!--div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-suitcase_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-package_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-normal.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Big parcel case</p>
                                                                                </div>
                                                                            </div-->
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-suitcase_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-package_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-bicycle.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Bicycle case</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-biggest-package_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-biggest.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Oversize bag</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <label class="control-label" for="itemsize">Approx. size of item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide size of size so that traveller will decide dimension of the baggage in which item can be carried."></a></label>
                                                                        <div class="row">
                                                                            <div class="col-sm-4 col-xs-3 form-group">
                                                                                <input type="number" class="form-control item_sizes" placeholder="L" id="item_length_<?php echo $pacCount; ?>" name="item_length_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['length']) && !empty($packageDetail['length']))?$packageDetail['length']:''; ?>" />
                                                                            </div>
                                                                            <div class="col-xs-4 form-group">
                                                                                <input type="number" class="form-control item_sizes" placeholder="W" id="item_width_<?php echo $pacCount; ?>" name="item_width_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['width']) && !empty($packageDetail['width']))?$packageDetail['width']:''; ?>" />
                                                                            </div>
                                                                            <div class="col-xs-4 form-group">
                                                                                <input type="number" class="form-control item_sizes" placeholder="H" id="item_height_<?php echo $pacCount; ?>" name="item_height_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['height']) && !empty($packageDetail['height']))?$packageDetail['height']:''; ?>" />
                                                                            </div>
                                                                        </div>
                                                                        <p style="margin-bottom: 0px;" id="err_item_sizes_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label" for="itemsize">Unit of size<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide size of size so that traveller will decide dimension of the baggage in which item can be carried."></a></label>
                                                                        <select class="form-control item_unit" name="item_unit_<?php echo $pacCount; ?>"  id="item_unit_<?php echo $pacCount; ?>" style="width:75%; margin-right: 10px;display:inline;">
                                                                            <option value="inch">Inch</option>
                                                                            <option value="mm">mm</option>
                                                                            <option value="cm">cm</option>
                                                                        </select>
                                                                        <span style="line-height: 38px;float: right;">Or</span>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label" for="itemsize">Negligible size<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="If items such as paper, documents, miniature objects or size that is around a small wall poster (12&quot; x 24&quot;). Please check this option."></a></label>
                                                                        <div class="yesNo">
                                                                            <label class="sliderCheck" id="size_reset">
                                                                                <input type="checkbox" class="negligible_size" value="1" name="negligible_size_<?php echo $pacCount; ?>" id="negligible_size_<?php echo $pacCount; ?>" <?php echo (isset($packageDetail['negligible_size']) && !empty($packageDetail['negligible_size']))?'checked':''; ?>>
                                                                                <div class="slider round"></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="row">
                                                                    <div class="color-picker-group form-group col-sm-2">
                                                                        <label class="control-label">Color<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a color that best match color of the item to make sure right same item is carried and delivered."></a></label>
                                                                        <input type="text" class="form-control color" aria-label="Color" id="color_<?php echo $pacCount; ?>" name="color_<?php echo $pacCount; ?>" value="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                                                        <div class="dropdown-menu">
                                                                          <div id="preloader-wrapper">
                                                                            <div id="preloader">
                                                                              <span></span>
                                                                              <span></span>
                                                                            </div>
                                                                          </div>
                                                                           <ul class="list-inline">

                                                                           </ul>
                                                                        </div>
                                                                        <p style="margin-bottom: 0px;" id="err_color_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Condition<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select exact condition of the item to make sure right item is carried and delivered in same condition."></a></label>
                                                                        <select class="form-control condition" id="condition_<?php echo $pacCount; ?>" name="condition_<?php echo $pacCount; ?>">
                                                                            <option value="">Select</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'New')?'selected="selected"':'';?> value="New">New</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'Old')?'selected="selected"':'';?> value="Old">Old</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'Moderate')?'selected="selected"':'';?> value="Moderate">Moderate</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'Refurbished')?'selected="selected"':'';?> value="Refurbished">Refurbished</option>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_condition_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label" for="item_quantity">Quantity<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                                                        <input type="number" class="form-control" aria-label="item_quantity" name="item_quantity_<?php echo $pacCount; ?>" min="1" id="item_quantity_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['item_quantity']) && !empty($packageDetail['item_quantity']))?$packageDetail['item_quantity']:''; ?>" />
                                                                        <p style="margin-bottom: 0px;" id="err_item_quantity_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                 <div class="form-group col-sm-4">
                                                                        <label class="control-label">Approx. worth of Item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select weight of the item so that traveller will decide capacity of baggage in which item can be carried."></a></label>
                                                                        <div class="row">
                                                                            <div class="col-xs-11">
                                                                                <input type="text" name="item_worth_<?php echo $pacCount; ?>" id="item_worth_<?php echo $pacCount; ?>" min="1" class="form-control item_worth" aria-label="Amount (to the nearest dollar)" value="<?php echo (isset($packageDetail['item_worth']) && !empty($packageDetail['item_worth']))?$packageDetail['item_worth']:''; ?>" /><div style="position: absolute;top: 7px;right: 25px;z-index: 9999999;padding-left: 10px;border-left: 1px solid #737373;font-size: 25px;" class="current_currency_code_small"><?php echo $comSessObj->currencycode;?></div>
                                                                                <p style="margin-bottom: 0px;" id="err_item_worth_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">

                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Add picture of item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please upload picture of item only for identification purpose. NOTE: Photos will be analyzed incase a insurance claim is made."></a></label>
                                                                        <input type="file" class="form-control package_photo" data-idx="<?php echo $pacCount; ?>" aria-label="" id="package_photo_<?php echo $pacCount; ?>" name="package_photo_<?php echo $pacCount; ?>" accept="image/*">
                                                                        <?php if(isset($packageDetail['photo']) && !empty($packageDetail['photo'])){ ?>
                                                                            <input type="hidden" name="package_photo_edited_<?php echo $pacCount; ?>" value="<?php echo $packageDetail['photo'] ?>" />
                                                                            <p id="package_photo_preview_<?php echo $pacCount; ?>"><img width="100" class="img-responsive" src="<?php echo $this->basePath() ?>/public/uploads/seeker_people_attachment/<?php echo $packageDetail['photo'] ?>"></p>
                                                                        <?php } ?>
                                                                        <p style="margin-bottom: 0px;" id="err_package_photo_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <?php } ?>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Total Weight<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                <input type="text" class="form-control total_weight" id="total_weight"  name="total_weight" value="<?php echo (isset($trip_seeker['total_weight']) && !empty($trip_seeker['total_weight']))?$trip_seeker['total_weight']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_total_weight" class="text-danger err_msg"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Total Worth<a class="icon-info" href="#" data-toggle="tooltip" title=""></a> </label>
                                                <div class="row">
                                                    <div class="col-xs-8 form-group">
                                                        <input type="text" class="form-control total_worth"  id="total_worth"  name="total_worth" value="<?php echo (isset($trip_seeker['total_worth']) && !empty($trip_seeker['total_worth']))?$trip_seeker['total_worth']:''; ?>">
                                                        <p style="margin-bottom: 0px;" id="err_total_worth" class="text-danger err_msg"></p>
                                                    </div>
                                                    <!--<div class="col-xs-4 form-group">
                                                        <select  class="form-control"  id="total_worth_currency"  name="total_worth_currency">
                                                            <?php /*foreach($currency as $currencyRow){ */?>
                                                                <option <?php /*echo (isset($packageDetail['item_worth_currency']) && $packageDetail['item_worth_currency'] == $currencyRow['currency_code'])?'selected="selected"':'';*/?> value="<?php /*echo $currencyRow['currency_code'] */?>"><?php /*echo $currencyRow['currency_code'] */?></option>
                                                            <?php /* }*/?>
                                                        </select>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <h5 class="sub-heading text-left">Contact details of person who collects packages at the destination</h5>
                                        <hr class="title-border">

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Contact Name<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide name of contact person who needs to be contacted at destination and delivered."></a></label>
                                                <input type="text" class="form-control contact_name" placeholder="Enter your Full Name" id="contact_name"  name="contact_name" value="<?php echo (isset($trip_seeker['contact_name']) && !empty($trip_seeker['contact_name']))?$trip_seeker['contact_name']:''; ?>" />                                                <p style="margin-bottom: 0px;" id="err_contact_name" class="text-danger err_msg"></p>

                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Contact Number<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact number of person at destination incase traveller needs to contact him/her after arrival and deliver."></a></label>
                                                <input type="text" class="form-control " placeholder="Country code + Number"  id="contact_number"  name="contact_number" value="<?php echo (isset($trip_seeker['contact_number']) && !empty($trip_seeker['contact_number']))?$trip_seeker['contact_number']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_contact_number" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Contact email ID<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide email ID of contact person so that we will send notification of flights arrival or status change."></a></label>
                                                <input type="text" class="form-control" placeholder="Enter your Email"   id="contact_email_address"  name="contact_email_address" value="<?php echo (isset($trip_seeker['email_address']) && !empty($trip_seeker['email_address']))?$trip_seeker['email_address']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_contact_email_address" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Comment's to the Travelers<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please add any special requirements or needs of package in detail which will help travellers to contact you to get any additional information."></a></label>
                                                <textarea id="comments" name="comments" class="form-control vresize" placeholder="Provide your commnts to Travelers regarding your package requirments." rows="3"><?php echo (isset($trip_seeker['comment']) && !empty($trip_seeker['comment']))?$trip_seeker['comment']:''; ?></textarea>
                                                <p style="margin-bottom: 0px;" id="err_comments" class="text-danger err_msg"></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 rightSection bg-white" style="width:100%">
                                    <aside class="sidebar-right">
                                        <div class="sidebar-block verify-traveler">
                                            <div class="sidebar-header">
                                                <h5 class="mb0">Travel Service Benefits Highlights</h5>
                                            </div>
                                            <div class="verify-traveler-inner">
                                                <div class="block-inner-title">Package Service</div>
                                                <ul class="verify-traveler-details">
                                                    <li><strong>SPEED</strong><br>Fast international & national delivery, often within 24 - 72 hours</li>
                                                    <li><strong>INSURANCE</strong><br>Each package is insured against no delivery or damage up to £1000</li>
                                                    <li><strong>ECONOMIC</strong><br>Affordable rates starting at £15/kg, compare with popular parcel agencies</li>
                                                    <li><strong>DOCUMENTATION</strong><br>Upload photos and description to ensure items are fully delivered</li>
                                                    <li><strong>TRACKING</strong><br>Seeker and recipient can track package using airlines' timetables globally</li>
                                                    <li><strong>ACQUAINT</strong><br>Search travellers by source address to acquaint and handover the package</li>
                                                    <li><strong>MESSAGING</strong><br>Secured chat among seeker, traveller and recipient to make delivery easy</li>
                                                    <li><strong>FLEXIBLE</strong><br>No contracts and no hassle. From ship to pay, all is controlled via the app</li>
                                                    <li><strong>RELIABLE</strong><br>Save delivery cost by trusted travelers on long & short distance shipments</li>
                                                    <li><strong>PAYMENT</strong><br>Credit, Debit or Paypal all transactions are escrow and highly secured</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <!-- End #tab1 -->
                        <div class="tab-pane fade" id="package_tab2">
                            <div class="table-wrapper-row full-width">
                                <div class="col-md-8 table-cell travel-form bg-white">
                                    <?php echo $this->render('layout/includes/transportation-details.phtml') ?>
                                </div>
                                <div class="col-md-4 col-xs-12 table-cell flightStatus bg-white">
                                    <aside class="sidebar-right">
                                        <div class="sidebar-block">
                                            <div class="sidebar-header">
                                                <h5 class="mb0">Estimated Fee</h5>
                                            </div>
                                            <div class="sidebar-block-inner text-center">
                                                <div class="panel panel-default">
                                                    <div class="block-inner-title">Package Service</div>
                                                    <div class="text-center est-price">
                                                     <span class="price_tag_span">

                                                         <?php if($action == 'edit'){  ?>
                                                             <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                                             <i class="price_tag_price" id="span_package_service_fee"><?php echo isset($this->trip['total_cost'])?$this->trip['total_cost']:'0.00'; ?></i>
                                                             <p class="price_tag_price_code"><?php echo isset($this->trip['total_cost_currency'])?$this->trip['total_cost_currency']:'GBP'; ?></p>
                                                         <?php } else{ ?>
                                                             <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                                             <i class="price_tag_price" id="span_package_service_fee">0.00</i>
                                                             <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                                         <?php } ?>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <!-- End #tab2 -->
                        <div class="tab-pane fade tripAddressTab" id="package_tab3">
                            <div class="table-wrapper-row full-width">
                                <?php echo $this->render('layout/includes/origin-location-address.phtml') ?>
                            </div>
                        </div>
                        <!-- End #tab3 -->
                        <div class="gap gap-small"></div>
                        <ul class="pager pager-new wizard">
                            <input type="hidden" id="package_tab_step" value="1">
                            <li class="previous first" ><a href="javascript:;">First</a></li>
                            <li class="previous " ><a href="javascript:;">Previous</a></li>
                            <li class="next "><a href="javascript:;">Next</a></li>
                            <li class="next finish "><a href="javascript:;">Finish and Search</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="gap gap-small"></div>
<script>
    function hastRoute(){
        var hash = window.location.hash.substr(1);
        if(hash != ''){
            if(hash == 'trip'){
                $('#rootwizard a[href="#package_tab2"]').tab('show');
            }
            if(hash == 'service'){
                $('#rootwizard a[href="#package_tab1"]').tab('show');
            }
            if(hash == 'location'){
                $('#rootwizard a[href="#package_tab3"]').tab('show');
            }
        }
    }
    $(document).ready(function () {
        hastRoute();
        calculateTotalWorth();

        if($('.item_weight').length != 0){
            $('.item_weight').each(function(){
                var item_weight_id = $(this).attr('id'),
                    attr = $(this).attr('data-value'),
                    index = item_weight_id.lastIndexOf("_"),
                    pos = item_weight_id.substr(index+1);
                    loadPackageSlider(pos);
                if (typeof attr !== typeof undefined && attr !== false){
                    updatePackageSlider(pos,attr);
                }
            });
        }

        if($('#departure_date').val() !== ''){
            updateDateRange('departure_date');
        }
        $('#departure_date').datepicker().on('changeDate', function(e) {
            updateDateRange('departure_date');
        });
		$('.package_photo').each(function(index, element) {
			$(this).change(function() {
				readPackageImgURL(this);
			});
        });
    });
    function updateSelfData(){
        $('#contact_name').val('<?php echo isset($userDetails['first_name']) ? $userDetails['first_name'] : ''; ?>');
        $('#contact_number').val('<?php echo isset($userDetails['phone']) ? $userDetails['phone'] : ''; ?>');
        $('#contact_email_address').val('<?php echo isset($userDetails['email_address']) ? $userDetails['email_address'] : ''; ?>');

    }
    $(document).ready(function(){
    updateSelfData();
    });

	$(document).on('change', '#packages_count_more', function(e) {
        if($('#selected_packages').val() < 11){
			$(this).addClass('hidden');
			$('.trip_m_package').removeClass('hidden');
			$('.trip_m_package > label.btn').removeClass('active');
			$('#trip_m_package_'+$('#selected_packages').val()).addClass('active');

		}
    });
$('#trip_m_package_10').on('click',function(){
	//$('select>option:eq(9)').prop('selected', true);
});

$('#size_reset').on('click',function(){


        $("#item_length_<?php echo $pacCount; ?>").val("");
		 $("#item_width_<?php echo $pacCount; ?>").val("");
		  $("#item_height_<?php echo $pacCount; ?>").val("");
	//$('select>option:eq(9)').prop('selected', true);
});
function removePackage(idx){

	var pkgFiles = [];

	var selected_packages = $('#selected_packages').val();
	if(selected_packages == 1){
		$('#package-error-dialog-btn').trigger('click');
		return false;
	}
	$('#packages_box_'+idx).remove();
	var currPackage = parseInt(selected_packages) - 1;
	$('#sel_ratio_btn .btn-primary').removeClass('active');
	$('#sel_ratio_btn #trip_m_package_'+currPackage).addClass('active');

	if(selected_packages > idx){
		var defaultVals = {};
		var dec = currPackage;
		for(var i = idx+1; i <= selected_packages; i++){
			defaultVals[i-1] = {
								category:$('#category_'+i).html(),item_category:$('#item_category_'+i).html(),
								category_val:$('#category_'+i).val(),
								item_category_val:$('#item_category_'+i).val(),
								item_description:$('#item_description_'+i).val(),item_weight:$('#item_weight_'+i).val(),
								neg_weight:($('#negligible_weight_'+i+':checked').val() || ''),
								item_length:$('#item_length_'+i).val(),item_width:$('#item_width_'+i).val(),
								item_unit:$('#item_unit_'+i).val(),item_height:$('#item_height_'+i).val(),
								neg_size:($('#negligible_size_'+i+':checked').val() || ''),
								color:$('#color_'+i).val(),condition:$('#condition_'+i).val(),
								item_quantity:$('#item_quantity_'+i).val(),item_worth:$('#item_worth_'+i).val(),
								package_photo_src:$('#package_photo_preview_'+i+' img').attr('src'),
								package_photo_edited:$('#package_photo_edited_'+i).val(),
								}
			$('#packages_box_'+i).remove();

			dec = dec - 1;
			$('#selected_packages').val(dec);
		}
		$('#sel_ratio_btn #trip_m_package_'+currPackage+' [name="packages_count"]').prop('checked','checked');
		addRemovePackages(currPackage,defaultVals);
	} else {
		$('#selected_packages').val(currPackage);
	}
}
</script>
<style type="text/css">
.remove_item{
	color:white;
    background: red;
    padding: 3px 10px;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    top: -10px;
}
</style>
<a href="#package-error-dialog" id="package-error-dialog-btn" style="display:none;" data-effect="mfp-zoom-out" class="popup-map">Message</a>
<div id="package-error-dialog" style="width:400px;max-width:400px;" class="mfp-with-anim mfp-hide mfp-dialog modal-lg">
    <div class="panel-body">
        <div class="head-wrap">
            <h4 class="tab-heading">Alert</h4> <button title="%title%" type="button" class="mfp-close">&#215;</button>
        </div>
        <div class="form-group" style="margin-top:20px;margin-bottom:0;">You can't remove this package.</div>
    </div>
</div>
