<?php if(!$this->approvedDocs){?>                           
      
                                  <div class="mfp-with-anim  mfp-dialog modal-lg mfp-dialog-tab" id="select-type">
                                    <div class="head-wrap">
                    <h4 class="tab-heading">Document Verification </h4>
                      <button class="mfp-close" type="button" title="%title%">×</button>
                </div>
                                    <div class="gap gap-mini"></div>
                                    <?php  if(!$this->documentThere){
     ?>
 <div class="alert alert-danger">
 <p class="text-small"><strong>Note:</strong> 
  Please upload verification ID either passport or DL or government ID before requesting.</p>
 </div>
 <?php
 }else if (!$this->approvedDocs){
     ?>
 <div class="alert alert-danger">
 
   <p class="text-small"><strong>Note:</strong> Your verification ID awaiting for admin approval.
      <?php if($comSessObj->userrole == 'traveller'){?>
     Only can request after approved your verification.
     <?php }?>
    </p>
   
   
   </div>
 <?php
 }
?>   
                                 <div class="panel-body">    
                                    <div class="row">
                                     <h4 class="tab-heading text-center">ID TYPEs</h4>  
                                      <?php
                            $inId = 0;
                           
                            if ($this->idTypes) {  
                                foreach ($this->idTypes as $idType) {     
                                    $mandatoryInputClassName = '';
                                    $mandatoryfileClassName = '';
                                      $inId = (isset($idType['ID']) && !empty($idType['ID'])) ? $idType['ID'] : 0;
                                    
                                  
                                     echo '<input type="hidden" class="identity_type_id" id="identity_type_id_' . $idType['identity_type_id'] . '" name="ID[' . $idType['identity_type_id'] . ']" value="' . $inId . '" >';
                                    ?>
                                    <input type="hidden" id="identity_type_<?php echo $idType['identity_type_id'] ?>" value="<?php echo $idType['identity_type_id'] ?>" >
                                        <div class="col-sm-4">
                                            <div class="verfyid-list">
                                                <?php if(($idType['verfiyid'] && $idType['rejected']) || empty($idType['verfiyid'])) { ?> 
                                             <a class="popup-text first-popup-link" href="#uplad-popup" data-effect="mfp-zoom-out" onclick="placeIdentifyValues('<?php echo ucfirst( $idType['identity_name']);?>','<?php echo ucfirst( $idType['identity_type_id']);?>','<?php echo  $inId?>')">
                                                    <div class="verfyid-list-img">
                                                      <?php
                                                      if (isset($idType['image']) && !empty($idType['image']) && $idType['rejected'] == 0) {
                                                    ?>
                                                <img src="<?php echo $this->basePath(); ?>/public/uploads/user_verification/small/<?php echo $idType['image'] ?>" alt="" title="" /> 

                                                <?php }else{ ?>
                                                     <img src="<?php echo $this->basePath(); ?>/public/img/upload-info.jpg">
                                                <?php }?>
                                                    </div>
                                                   <?php echo ucfirst( $idType['identity_name']);?>
                                                </a>
                                                <?php } else  {  echo '<strong>'.$idType['identity_name'].'</strong>: '.$idType['verfiyid']; } ?>
                                            </div>
                                        </div>
                                       <?php
                                }
                            }
                            ?>
                                    <?php //if($comSessObj->userrole == 'seeker'){?>
                                     <div class="mfp-tab-footer text-center">
                                                    
                                                    <div class="row">
                                                    <div class="col-xs-12 mfp-tab-btn">
                                                 
                                                     <a class="btn btn-black" href="javascript:void(0);" onclick="skipdocumentVerify()" >Skip</a>
                                                </div>    </div> </div>
                                    <?php //}?>
                            </div>
          </div>
                                  </div>
                             <div class="mfp-with-anim mfp-hide mfp-dialog modal-lg mfp-dialog-tab" id="uplad-popup">
                            <div class="content-load-normal" id="uploading_status" style="display: none;">
                                <div class="dis-tab">  
                                    <div class="dis-tab-cel"> 
                                        <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">
                                        <p id="uploading_status_text"></p></div>
                                </div>
                            </div>
                                     <form action="<?php echo $this->basePath(); ?>/myprofile/uploadverfication" method="post" enctype="multipart/form-data" name="verificationForm" id="verificationForm">
                                       <input type="hidden" class="identity_type_id identity_type_id1" id="identity_type_id" name="ID[]" value="" >
                                        <input type="hidden" class="identity_type" id="identity_type" name="identity_type[]" value="" >
                                        <div class="head-wrap">
                                            <h4 class="tab-heading identity_name">Passport</h4> 
                                            <button class="mfp-close" type="button" title="%title%">×</button>
                                        </div>
                                        
                                        <div class="popup-tab">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#uploadDocument">Upload Document</a></li>
                                            <li><a data-toggle="tab" href="#takePhoto">Take Photo</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="uploadDocument" class="tab-pane fade in active">
                                                <div class="mfp-tab-content">
                                                    <div class="preview" id="imagePreview">
                                                        
                                                    </div>
                                                </div>
                                                
                                                <div class="mfp-tab-footer text-center">
                                                    <div class="row"><div id="div_verifyid" class="form-group col-xs-12">
                                                    <label style="display: inline-block" for="verifyid" class="control-label">Verify Id <span style="color:red;">&nbsp;*</span></label>
                                                    <input style="display: inline-block; width: auto" type="text" class="form-control required"  id="verifyid"   name="verifyid"> 
                                                    <p style="margin-bottom: 0" id="err_verifyid" class="text-danger err_msg"></p>
                                                </div></div>
                                                    <div class="row">
                                                    <div class="col-xs-12 mfp-tab-btn">
                                                     <p class="text-danger err_msg" id="err_uploadFile"></p>
                                                    <input style="display:none;"  class="img" type="file" id="uploadFile" name="verify_file[]" class="required-file" />
                                                    <span id="OpenImgUpload" class="btn btn-primary mg-right5">Browse</span>
                                                    
                                                    <button class="btn btn-black" onclick="return validateVerifyForm(0)">Send Document</button>
                                                     <a class="btn btn-black first-popup-link" href="#select-type" >Back</a>
                                                </div>    </div> </div> 
                                                
                                                 

                                            </div>

                                            <div id="takePhoto" class="tab-pane fade">

                                                <div class="mfp-tab-content">
                                                    <div class="preview" id="photoPreview">
                                                       <video id="video"></video>
                                                        <canvas id="canvas" style="display:none;"></canvas>
                                                      <img id="previewPhoto" src="" title="Profile Photo" style="display:none;"/>    
                                                    </div>
                                                    
                                                </div>

                                                <div class="mfp-tab-footer text-center">
                                                 <div class="row"><div id="div_verifyid" class="form-group col-xs-12">
                                                    <label style="display: inline-block" for="verifyid" class="control-label">Verify Id <span style="color:red;">&nbsp;*</span></label>
                                                    <input style="display: inline-block; width: auto" type="text" class="form-control required"  id="verifyid1"   name="verifyid"> 
                                                    <p style="margin-bottom: 0" id="err_verifyid1" class="text-danger err_msg"></p>
                                                </div></div>
                                                     <div class="row">
                                                         <div class="col-xs-12 mfp-tab-btn">
                                                   
 <button type="button" class="btn btn-black mg-right5" id="startRender" onclick="loadVerifyWebCam();">Open Camera</button>
                                                    <button type="button" class="btn btn-primary" id="startbutton">Take Photo</button>
                                                    <button type="button" class="btn btn-black" id="saveverifyid" style="display:none;">Send Document</button>
                                                    <a class="btn btn-black first-popup-link" href="#select-type" >Back</a>
                                                         </div>     
</div></div>


                                            </div>
                                        </div>
                                          <div id="div_verify_ids">


                                    </div>
</div>

                        </form>               
                                       
                                    </div>
  

                       
                 
<script>
    function skipdocumentVerify(){
        $('#skip_document_verify').val(1);
        var magnificPopup = $.magnificPopup.instance; 
        magnificPopup.close();
		setTimeout(function(){
			if($('.payment_popup_btn').length){
				$('.payment_popup_btn button').trigger('click');
			} else if(typeof placevalues === 'function'){
				placevalues($('#requestid').val(),$('#status').val(),$('#requestService').val());
			}
		},500);
    }
    
    function placeIdentifyValues(iName,iId,updateId){
        $('.identity_name').html(iName);
        $('#identity_type').val(iId);
        $('#identity_type_id').val(updateId);
    
    }
                               $('.first-popup-link, .second-popup-link').magnificPopup({
  closeBtnInside:true
});
$('#OpenImgUpload').click(function(){ 
    $('#uploadFile').trigger('click'); 
});
 $("#uploadFile").on("change", function()
    {
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; 

        if (/^image/.test( files[0].type)){ 
            var reader = new FileReader(); 
            reader.readAsDataURL(files[0]);
            reader.onloadend = function(){
                $("#imagePreview").css("background-image", "url("+this.result+")");
            }
        }
    });
     </script>
 <?php } ?>