<input type="hidden" name="type_of_service" id="type_of_service" value="<?php echo $_GET['service']; ?>" >
<input type="hidden" name="seeker_trip_id" id="seeker_trip_id" value="<?php echo $trip_id;?>" >
<input type="hidden" name="traveller_trip_id" id="traveller_trip_id" value="" >
<input type="hidden" name="traveller_people_request_id" id="traveller_people_request_id"  >
<input type="hidden" name="traveller_package_request_id" id="traveller_package_request_id"  >
<input type="hidden" name="traveller_project_request_id" id="traveller_project_request_id" >
<input type="hidden" name="skip_ticket_verify" id="skip_ticket_verify" value="0" >
<input type="hidden" name="skip_document_verify" id="skip_document_verify" value="0" >
<input type="hidden" name="traveller_package_amount" id="traveller_package_amount" value="<?php echo isset($this->trip_seeker_packages['total_worth'])?$this->trip_seeker_packages['total_worth']:''; ?>" >
<input type="hidden" name="traveller_people_service_id" id="traveller_people_service_id" value="<?php echo isset($this->trip['trip_people']['ID'])?$this->trip['trip_people']['ID']:''; ?>" >
<input type="hidden" name="traveller_package_service_id" id="traveller_package_service_id" value="<?php echo isset($this->trip_seeker_packages['ID'])?$this->trip_seeker_packages['ID']:''; ?>" >
<input type="hidden" name="traveller_project_service_id" id="traveller_project_service_id" value="<?php echo isset($this->trip_seeker_projects['ID'])?$this->trip_seeker_projects['ID']:''?>" >
<input type="hidden" name="" id="listingandconfirm_page" value="yes" >
<div class="content-page">
 
 <div class="row row-wrap"> 
            <?php echo $this->render('application/seeker/helpers_detail_page/left_panel.phtml')?>
            <div class="col-md-6">
                <div class="middle-section bg-white">
                    <div class="middle-section-inner">
                            <div class="panel-group" id="accordion">
                                <?php echo $this->render('application/seeker/helpers_detail_page/personal_info.phtml')?>
                                <?php echo $this->render('application/seeker/helpers_detail_page/travel_info.phtml')?>
                                <?php echo $this->render('application/seeker/helpers_detail_page/people_service_info.phtml')?>
                                <?php echo $this->render('application/seeker/helpers_detail_page/package_service_info.phtml')?>
                                <?php echo $this->render('application/seeker/helpers_detail_page/project_service_info.phtml')?>
                                <?php echo $this->render('application/traveller/helpers_detail_page/review_info.phtml')?> 
                                 <div class="row">
                                     <div class="infoPopup clearfix">
                                <?php /*echo $this->render('application/seeker/helpers_detail_page/guidelines_info.phtml')*/ ?> 
                                <?php /*echo $this->render('application/seeker/helpers_detail_page/terms_cond_inof.phtml')*/ ?> 
                                         </div>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php echo $this->render('application/seeker/helpers_detail_page/right_panel.phtml')?>
	</div>
</div>
<form action=""   name="searchForm" id="searchForm">
 <input type="hidden" name="origin_id" id="origin_id" value="<?php echo isset($this->trip['origin_location'])?$this->trip['origin_location']:''?>">
 <input type="hidden" name="destination_id" id="destination_id" value="<?php echo isset($this->trip['destination_location'])?$this->trip['destination_location']:''?>">
 <input type="hidden" name="date" id="date" value="<?php echo isset($this->trip['departure_date'])?date('m/d/Y',strtotime($this->trip['departure_date'])):''?>">
 <input type="hidden" name="service" id="service" value="<?php echo isset($_GET['service'])?$_GET['service']:'people'?>">
 <input type="hidden" name="looking_for" id="looking_for" value="<?php echo isset($this->looking_for)?$this->looking_for:''?>">
 <input type="hidden" name="search_type" id="search_type" value="ajax">
 <input type="hidden" name="noofstops" id="noofstops" value="all">
  <input type="hidden" name="trip_id" id="trip_id" value="<?=$trip_id;?>">
  <input type="hidden" name="trip" id="trip" value="<?=$this->trip['ID'];?>">
</form>
<script>
$(document).ready(function (){
        searchRelatedTrips();
    <?php if(isset($traveller_people_request_id) && !empty($traveller_people_request_id)){ ?>
        getTravellerPeopleServiceNeed('<?php echo $traveller_people_request_id ?>');
    <?php } 
    if(isset($traveller_package_request_id) && !empty($traveller_package_request_id)){ ?>
        getTravellerPackageServiceNeed('<?php echo $traveller_package_request_id?>');
    <?php } 
    if(isset($traveller_project_request_id) && !empty($traveller_project_request_id)){ ?>
     getTravellerProjectServiceNeed('<?php echo $traveller_project_request_id?>');
    <?php } ?>
}); 
</script>