<?php if($this->trip_seeker['passengers']!=''){ ?>
@SPLIT@<?=$this->trip_seeker['ID'];?>@SPLIT@<?=number_format($this->trip_seeker['people_service_fee']);?>@SPLIT@<?php echo round($this->common()->convertCurrency($this->trip_seeker['people_service_fee'],$this->common()->getSiteCurrency(),$this->common()->getUserCurrency($comSessObj->currency)));?>@SPLIT@
<!-- people-info -->

<div class="panel-body">
                <div class="row">
                   <div class="form-group col-sm-6">
                       <label class="control-label">Contact Name </label>
                       <p>
                           <?php echo (isset($this->trip_seeker['contact_name']) && $this->trip_seeker['contact_name'] != '') ? $this->trip_seeker['contact_name'] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-6">
                       <label class="control-label">Contact Number </label>
                       <p>
                           <?php echo (isset($this->trip_seeker['contact_number']) && $this->trip_seeker['contact_number'] != '') ? $this->trip_seeker['contact_number'] : '--'; ?>
                       </p>
                   </div>
                    </div>
                    <div class="row">
                   <div class="form-group col-sm-6">
                       <label class="control-label">Email Address </label>
                       <p>
                           <?php echo (isset($this->trip_seeker['email_address']) && $this->trip_seeker['email_address'] != '') ? $this->trip_seeker['email_address'] : '--'; ?>
                       </p>
                   </div>
                    </div> <div class="row">
                   <div class="form-group col-sm-12">
                       <label class="control-label">Member's Comments </label>
                       <p>
                           <?php echo (isset($this->trip_seeker['comment']) && $this->trip_seeker['comment'] != '') ? $this->trip_seeker['comment'] : '--'; ?>
                       </p>
                   </div>
                </div>
                <div class="row">
                   <div class="form-group col-sm-6">
                       <label class="control-label">Number of passenger(s)</label>
                       <p>
                           <?php echo (isset($this->trip_seeker['passengers']) && $this->trip_seeker['passengers'] != '') ? $this->trip_seeker['passengers'] : '--'; ?>
                       </p>
                   </div>
                     </div>
                   <?php
                       if (isset($this->trip['trip_people_passangers']) && !empty($this->trip['trip_people_passangers'])) {
                           $pNo = 1;
                           foreach ($this->trip['trip_people_passangers'] as $passaRow) {
                   ?>
                <div class="row">
                   <div class="form-group col-sm-12">
                       <label class="control-label"><u>Details of passenger <?php echo $pNo; ?></u></label>
                   </div>
                     </div>
                   
               
                <div class="row">
                    <div class="form-group col-sm-6">
                       <label class="control-label">First Name </label>
                       <p>
                           <?php echo (isset($passaRow['first_name']) && $passaRow['first_name'] != '') ? $passaRow['first_name'] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-6">
                       <label class="control-label">Last Name </label>
                       <p>
                           <?php echo (isset($passaRow['last_name']) && $passaRow['last_name'] != '') ? $passaRow['last_name'] : '--'; ?>
                       </p>
                   </div>                    
                   
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                       <label class="control-label">Gender </label>
                       <p>
                           <?php echo (isset($passaRow['gender']) && $passaRow['gender'] != '') ? $GENDER_TYPE[$passaRow['gender']] : '--'; ?>
                       </p>
                   </div>
                   <div class="form-group col-sm-6">
                       <label class="control-label">Age </label>
                       <p>
                           <?php echo (isset($passaRow['age']) && $passaRow['age'] != '') ? $passaRow['age'] : '--'; ?>
                       </p>
                   </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-12"> 
                      <label class="control-label">Picture of the passenger <?php echo $pNo; ?>  </label>
                        <ul style="width:100%;clear:both;"class="imgblock-new"></ul>
                        <?php

                        if (isset($passaRow['attachments']) && !empty($passaRow['attachments'])) { ?>
                            <div class="content horizontal-images">
                                <ul class="qq-upload-list">
                                    <?php
                                    foreach ($passaRow['attachments'] as $attRow) {

                                        ?>
                                        <li class=" qq-upload-success" id="file-img-0">
                                            <span class="qq-upload-file spFileName_<?php echo $keyNum ?>-0-1" style="">
                                                <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['seeker_attachment_name'] ?>" alt="<?php echo $attRow['seeker_attachment_name'] ?>">
                                              </span>

                                        </li>
                                        <?php
                                    }
                                    ?>
                                </ul>
                            </div>
                        <?php } ?>
                        <input type="hidden" id="uploadCount_<?php echo $keyNum ?>" name="uploadCount_<?php echo $keyNum ?>" value="<?php echo (isset($pass['attachments'])) ? count($pass['attachments']) : 0; ?>">
                    </div>
                </div>
                   <?php
                               $pNo++;
                           }
                       }
                   ?>
<!--               <div class="row">
                    <div class="form-group col-sm-12">
                       
                              <button class="btn btn-primary" type="button" onclick="getPassengersFee();">Save</button> <button class="btn btn-primary" type="button">Cancel</button>

                   </div>
                  
                    </div>-->
             </div>
 
<?php } ?>