@@SPLIT@@<?php echo $this->trip['distance']?>@@SPLIT@@<?php echo $this->trip['noofstops']?>@@SPLIT@@<?php echo $this->trip['destination_location_country_code']?>@@SPLIT@@<?php echo $this->trip['origin_location_country_code'];?>@@SPLIT@@
<div class="row">
  <div class="col-xs-12">
    <div class="form-block-wrap-view">
      <div class="form-block-outer">
        <div class="form-block form-block-view"> 
          <!-- travel-info -->
          <div class="row">
            <div class="col-xs-12">
              <div class="form-view-section mg-bot30">
                <h5 class="sub-heading text-left">Travel Info</h5>
                <hr class="title-border">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="control-label">Origin Location</label>
                    <p><?php echo $this->trip['origin_location_city'] . ' - ' . $this->trip['origin_location_country']; ?></p>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">Destination Location</label>
                    <p><?php echo $this->trip['destination_location_city'] . ' - ' . $this->trip['destination_location_country']; ?></p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="control-label">Departure Date</label>
                    <p><?php echo date('m/d/Y', strtotime($this->trip['departure_date'])); ?></p>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">Booking Status</label>
                    <p><?php echo ($this->trip['booking_status'] != '') ? $this->trip['booking_status'] : '--'; ?></p>
                  </div>
                </div>
                <div class="row"> </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="control-label">Classes </label>
                    <p><?php echo ($this->trip['cabin'] != '') ? $this->trip['cabin'] : '--'; ?></p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <label class="control-label">Ticket</label>
                    <p>
                    <div class="ticket-img">
                      <?php if ((isset($this->trip['ticket_image']) && $this->trip['ticket_image'] != '')) { ?>
                      <a href="<?php echo $this->basePath().'/download/ticket/'.$this->trip['ticket_image'] ?>" ><?php echo 'Click here to downloand'; ?></a>
                      <?php } else {
                                            echo '--';
                                        }
                                    ?>
                    </div>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <?php if (isset($this->trip['airport_details']) && !empty($this->trip['airport_details'])) { ?>
                  <div class="form-group col-sm-12">
                    <h5 class="sub-heading text-left">Airline Details</h5>
                    <hr class="title-border">
                    <div class="">
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Flight</th>
                            <th>Airline</th>
                            <th>Dept</th>
                            <th>Arr</th>
                            <th>Dept Dt</th>
                            <th>Arr Dt</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
<?php if (isset($this->trip['airport_details']) && !empty($this->trip['airport_details'])) {
                              $fNo = 1;
                              foreach ($this->trip['airport_details'] as $flightRow) {
                                                          $fligtData = $flightRow['carrier'].'@@'.$flightRow['number'].'@@'.$flightRow['departure'].'@@'.$flightRow['arrival'].'@@'.$flightRow['departure_date'].'@@'.$flightRow['arrival_date'].'@@'. $flightRow['airline_name'].'@@'. $flightRow['airline_number'];

                                  ?>
<tr>
  <td><?php echo $fNo; ?></td>
  <td><?php echo isset($flightRow['airline_name']) ? $flightRow['airline_name'] : '' ?> - <?php echo isset($flightRow['airline_number']) ? $flightRow['airline_number'] : '' ?></td>
  <td><?php echo isset($flightRow['departure']) ? $flightRow['departure'] : '' ?></td>
  <td><?php echo isset($flightRow['arrival']) ? $flightRow['arrival'] : '' ?></td>
  <td><?php echo isset($flightRow['departure_date']) ? $flightRow['departure_date'] : '' ?></td>
  <td><?php echo isset($flightRow['arrival_date']) ? $flightRow['arrival_date'] : '' ?></td>
  <td><a id="mapPopUp" href="#check-flight-status" class="popup-map btn-sm btn-primary" data-effect="mfp-zoom-out" onclick="checkFightStatus('<?php echo $fligtData ?>');">Check Status</a></td>
</tr>
<?php
                                  $fNo++;
                              }
                          }
                          ?>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <?php
                                    }
                                ?>
                </div>
                <div class="form-block">
                <h5 class="sub-heading text-left">Reservation Details</h5>
                <hr class="title-border">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#reservationDetail-01-ajax">Who is your travel agent?</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="reservationDetail-01-ajax">
                      <div class="panel-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Travel agency&nbsp;/&nbsp;supplier name<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide name of travel agency who is a private retailer or public service that provides travel and tourism related services on behalf of airlines."></a></label>
                            <input type="text" name="travel_agency_name_ajax" id="travel_agency_name_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['travel_agency_name']) && !empty($this->trip['tripDetails']['travel_agency_name']))?$this->trip['tripDetails']['travel_agency_name']:''?>"/>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Travel agency&nbsp;/&nbsp;supplier URL<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide URL of the travel agency URL."></a></label>
                            <input type="text" name="travel_agency_url_ajax" id="travel_agency_url_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['travel_agency_url']) && !empty($this->trip['tripDetails']['travel_agency_url']))?$this->trip['tripDetails']['travel_agency_url']:''?>" onblur="checkValidURL(this.value,'err_travel_agency_url_ajax');"/>
                            <p style="margin-bottom: 0px;" id="err_travel_agency_url_ajax" class="text-danger err_msg"></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Travel agency&nbsp;/&nbsp;supplier confirmation<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide agency ticket confirmation number."></a></label>
                            <input type="text" name="travel_agency_confirmation_ajax" id="travel_agency_confirmation" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['travel_agency_confirmation']) && !empty($this->trip['tripDetails']['travel_agency_confirmation']))?$this->trip['tripDetails']['travel_agency_confirmation']:''?>"/>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Travel agency&nbsp;/&nbsp;supplier contact name<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact name of the travel agency."></a></label>
                            <input type="text" name="travel_agency_contact_name_ajax" id="travel_agency_contact_name_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['travel_agency_contact_name']) && !empty($this->trip['tripDetails']['travel_agency_contact_name']))?$this->trip['tripDetails']['travel_agency_contact_name']:''?>"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class=" control-label">Travel agency&nbsp;/&nbsp;supplier phone number<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact phone name of the travel agency."></a></label>
                            <input type="text" name="travel_agency_phone_ajax" id="travel_agency_phone_ajax" class="form-control numonly" value="<?php echo (isset($this->trip['tripDetails']['travel_agency_phone']) && !empty($this->trip['tripDetails']['travel_agency_phone']))?$this->trip['tripDetails']['travel_agency_phone']:''?>"/>
                            <p style="margin-bottom: 0px;" id="err_travel_agency_phone_ajax" class="text-danger err_msg"></p>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Travel agency&nbsp;/&nbsp;supplier email<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact email ID of the travel agency."></a></label>
                            <input type="text" name="agency_email_ajax" id="agency_email_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['agency_email']) && !empty($this->trip['tripDetails']['agency_email']))?$this->trip['tripDetails']['agency_email']:''?>" onblur="checkValidEmail(this.value,'err_agency_email_ajax')"/>
                            <p style="margin-bottom: 0px;" id="err_agency_email_ajax" class="text-danger err_msg"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-03-ajax">Where did you reserve it?</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="reservationDetail-03-ajax">
                      <div class="panel-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Booking site name<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide site name in which you booked the ticket."></a></label>
                            <input type="text" name="booking_site_name_ajax" id="booking_site_name_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['booking_site_name']) && !empty($this->trip['tripDetails']['booking_site_name']))?$this->trip['tripDetails']['booking_site_name']:''?>"/>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Booking site URL<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide site URL in which you booked the ticket."></a></label>
                            <input type="text" name="booking_site_url" id="booking_site_url" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['booking_site_url']) && !empty($this->trip['tripDetails']['booking_site_url']))?$this->trip['tripDetails']['booking_site_url']:''?>" onblur="checkValidURL(this.value,'err_booking_site_url_ajax');"/>
                            <p style="margin-bottom: 0px;" id="err_booking_site_url_ajax" class="text-danger err_msg"></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Booking Site Phone<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact number of the website booked."></a></label>
                            <input type="text" name="booking_site_phone_ajax" id="booking_site_phone_ajax" class="form-control numonly" value="<?php echo (isset($this->trip['tripDetails']['booking_site_phone']) && !empty($this->trip['tripDetails']['booking_site_phone']))?$this->trip['tripDetails']['booking_site_phone']:''?>"/>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Booking Site Email<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide email ID of the website booked."></a></label>
                            <input type="text" name="booking_site_email_ajax" id="booking_site_email_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['booking_site_email']) && !empty($this->trip['tripDetails']['booking_site_email']))?$this->trip['tripDetails']['booking_site_email']:''?>" onblur="checkValidEmail(this.value,'err_booking_site_email_ajax')"/>
                            <p style="margin-bottom: 0px;" id="err_booking_site_email_ajax" class="text-danger err_msg"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-04-ajax">What are the booking details?</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="reservationDetail-04-ajax">
                      <div class="panel-body">
                        <div class="row">
                          <div class="form-group col-sm-6"> <!-- Date picker -->
                            <label class="control-label">Booking Date<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide the date when travel ticket was booked."></a></label>
                            <div class="input-group">
                              <input class="date-pick form-control" name="booking_date_ajax" id="booking_date_ajax" type="text" value="<?php echo (isset($this->trip['tripDetails']['booking_date']) && !empty($this->trip['tripDetails']['booking_date'])) ? date('m/d/Y', $this->trip['tripDetails']['booking_date']) : '' ?>" />
                              <span class="input-group-addon" onclick="clickDoc('booking_date_ajax');"><i class="fa fa-calendar fa-fw"></i></span> </div>
                            <p style="margin-bottom: 0px;" id="err_booking_date_ajax" class="text-danger err_msg"></p>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Booking Reference #<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide online ticket confirmation reference number."></a></label>
                            <input type="text" name="booking_reference_ajax" id="booking_reference_ajax" class="form-control" value="<?php echo (isset($this->trip['tripDetails']['booking_reference']) && !empty($this->trip['tripDetails']['booking_reference']))?$this->trip['tripDetails']['booking_reference']:''?>"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Reservation is Purchased<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please check if ticket is purchased and not rewarded/gifted."></a></label>
                            <div class="yesNo">
                              <label class="sliderCheck">
                                 <?php $reservationSelected = (isset($this->trip['tripDetails']['reservation_is_purchased']) && !empty($this->trip['tripDetails']['reservation_is_purchased']))?$this->trip['tripDetails']['reservation_is_purchased']:''; ?>
                              <input type="checkbox" id="reservation_is_purchased" <?php echo ($reservationSelected == 1)?'checked="checked':''; ?> name="reservation_is_purchased">
                              <div class="slider round"></div>
                              </label>
                            </div>
                        
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-05-ajax">What did you pay?</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="reservationDetail-05-ajax">
                      <div class="panel-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Total Cost<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a></label>
                            <input type="text" name="total_cost_ajax" id="total_cost_ajax" class="form-control numonly" value="<?php echo (isset($this->trip['tripDetails']['total_cost']) && !empty($this->trip['tripDetails']['total_cost']))?$this->trip['tripDetails']['total_cost']:''?>"/>
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label">Total Cost Currency<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide currency of the ticket purchased."></a></label>
                            <select class="form-control" id="total_cost_currency_ajax" name="total_cost_currency_ajax">
                              <?php $reservationSelected = (isset($this->trip['tripDetails']['total_cost_currency']) && !empty($this->trip['tripDetails']['total_cost_currency']))?$this->trip['tripDetails']['total_cost_currency']:''; ?>
                              <option <?php echo ($reservationSelected == '')?'selected="selected"':''; ?> value="">-- select --</option>
                             <?php foreach($currency as $currencyRow){ ?> <option <?php echo ($reservationSelected == $currencyRow['currency_code'])?'selected="selected"':''; ?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                            </select>
                          </div>
                        </div>

                          <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Discount code<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide discount code used to purchase ticket."></a></label>
                            <input type="text" name="discount_code_ajax" id="discount_code_ajax" class="form-control numonly" value="<?php echo (isset($this->trip['tripDetails']['discount_code']) && !empty($this->trip['tripDetails']['discount_code']))?$this->trip['tripDetails']['discount_code']:''?>"/>
                          </div>
                            <div class="form-group col-sm-6">
                            <label class="control-label">Discount cost<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a></label>
                            <input type="text" name="total_discount_cost_ajax" id="total_discount_cost_ajax" class="form-control numonly" value="<?php echo (isset($this->trip['tripDetails']['total_discount_cost']) && !empty($this->trip['tripDetails']['total_discount_cost']))?$this->trip['tripDetails']['total_discount_cost']:''?>"/>
                          </div> 
                          </div>
                           <div class="row">
                          <div class="form-group col-sm-6">
                            <label class="control-label">Discount cost currency<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide currency of the ticket purchased."></a></label>
                            <select class="form-control" id="total_discount_currency_ajax" name="total_discount_currency_ajax">
                              <?php $reservationSelected = (isset($this->trip['total_discount_currency']['total_discount_currency']) && !empty($this->trip['tripDetails']['total_discount_currency']))?$this->trip['tripDetails']['total_discount_currency']:''; ?>
                              <option <?php echo ($reservationSelected == '')?'selected="selected"':''; ?> value="">-- select --</option>
                              <?php foreach($currency as $currencyRow){ ?> <option <?php echo ($reservationSelected == $currencyRow['currency_code'])?'selected="selected"':''; ?> value="<?php echo $currencyRow['currency_code'] ?>"><?php echo $currencyRow['currency_code'] ?></option> <?php  }?>
                            </select>
                          </div>
                        </div>
                             
            
                          
                        <div class="row">
                          <div class="form-group col-sm-12">
                              <label class="control-label">Comments&nbsp;/&nbsp;Restrictions<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Any added facilities/restrictions in ticket purchased."></a></label>
                            <textarea name="comments_restrictions" id="comments_restrictions" class="form-control"><?php echo (isset($this->trip['tripDetails']['comments_restrictions']) && !empty($this->trip['tripDetails']['comments_restrictions']))?$this->trip['tripDetails']['comments_restrictions']:''?></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Left Coloumn --> 
  
</div>
