<div class="row">
    <div class="col-md-4 col-md-push-8">
        <!--         <div class="page-header calendar-header clearfix">
                    <div class="calendar-title">
                                <div class="btn-group">
                                    <button class="btn btn-cal btn-prev" data-calendar-nav="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                                <h3></h3>
                                <button class="btn btn-cal btn-next" data-calendar-nav="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                       </div>
                    </div>-->
        <div class="date-pick-wrap">
            <div id="calendar"></div>
            <!--<div class="date-pick-inline"></div>-->
        </div>
    </div>
    <div class="col-md-8 col-md-pull-4">

      <div class="tabs-container">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1"><span class="text">Current & Upcoming</span></a></li>
         <!--li><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1"><span class="text">Upcoming</span></a></li-->
          <li class="next"><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2"><span class="text">Completed</span></a></li>
          <li><a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3"><span class="text">Canceled</span></a></li>
        </ul>

        <div class="tab-content">

         <div id="tab1" class="tab-pane fade in active">
           <?php
           if ($this->current_upcoming_trips) {
//echo '<pre>'; print_r($this->current_upcoming_trips); echo '</pre>';
               foreach ($this->current_upcoming_trips as $trip) {
                   $orginLocation = $this->common()->getAirPort($trip['origin_location']);
                   $destinationLocation = $this->common()->getAirPort($trip['destination_location']);
                   ?>
                   <!--a class="booking-item mb15" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>"-->

                       <div class="row trips">
                            <div class="col-sm-4">
                                 <?php if ($trip['travel_plan_reservation_type'] != '2' && $trip['service'] == 'People') { ?>
                                 <ul class="list-group">
                                   <li class="list-group-item no-border">
                                     <p class="font-medium text-blue mb-0">Departure date</p>
                                     <p class="font-normal">
                                       <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>
                                     </p>
                                   </li>
                                   <?php if (isset($trip['arrival_date']) && !empty($trip['arrival_date']) && $trip['travel_plan_reservation_type'] != 2) { ?>
                                   <li class="list-group-item no-border">
                                     <p class="font-medium text-blue mb-0">Arrival date</p>
                                     <p class="font-normal">
                                       <?php echo ($trip['arrival_date'])?$this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']):'--'; ?>
                                     </p>
                                   </li>
                                 </ul>
                                 <?php
                               }
                           }
                             ?>
                             <?php if ($trip['travel_plan_reservation_type'] == '2' || $trip['service'] != 'People') { ?>
                                 <ul class="list-group">
                                   <li class="list-group-item no-border">
                                     <p class="font-medium text-blue mb-0">Date range from</p>
                                     <p class="font-normal">
                                       <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['project_start_date']); ?>
                                     </p>
                                   </li>
                                   <li class="list-group-item no-border">
                                     <p class="font-medium text-blue mb-0">Date range to</p>
                                     <p class="font-normal">
                                       <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['project_end_date']); ?>
                                     </p>
                                   </li>
                                 </ul>
                             <?php } ?>
                           </div>
                           <div class="col-sm-4 column-border-right">
                             <ul class="list-group col-pad-left">
                               <li class="list-group-item no-border">
                                 <a class="text-grey" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                   <div class="media">
                                     <span class="media-left pull-left mr-10 mt-5">
                                         <img class="media-object" src="<?php echo $this->basePath() ?>/public/images/flight-departure-icon.png" width="32" alt="" />
                                     </span>
                                     <div class="media-body">
                                       <p class="font-medium mb-0 text-blue"><?php echo $trip['origin_location_city']; ?>,</p>
                                       <p class="font-normal text-grey"><?php echo $trip['origin_location_country'].' ('.$trip['origin_location_code'].')'; ?></p>
                                     </div>
                                   </div>
                                 </a>
                               </li>
                               <li class="list-group-item no-border">
                                 <a class="" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                   <div class="media">
                                     <span class="media-left pull-left mr-10 mt-5">
                                         <img class="media-object" src="<?php echo $this->basePath() ?>/public/images/flight-arrival-icon.png" width="34" alt="" />
                                     </span>
                                     <div class="media-body">
                                       <p class="font-medium mb-0 text-blue"><?php echo $trip['destination_location_city']; ?>,</p>
                                       <p class="font-normal text-grey"><?php echo $trip['destination_location_country'].' ('.$trip['destination_location_code'].')'; ?></p>
                                     </div>
                                   </div>
                                 </a>
                               </li>
                             </ul>
                           </div>
                           <div class="col-sm-4 column-border-right">
                             <ul class="list-group col-pad-left">
                               <li class="list-group-item no-border">
                                 <div class="row">
                                   <div class="col-sm-6">
                                     <p class="font-medium text-blue mb-0">Services</p>
                                     <p class="font-normal"><?php echo $trip['service']; ?></p>
                                   </div>
                                   <div class="col-sm-6">
                                     <p class="font-medium text-blue mb-0">Created</p>
                                     <p class="font-normal"><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                   </div>
                                 </div>
                               </li>
                               <li class="list-group-item no-border">
                                 <div class="row">
                                   <div class="col-sm-12">
                                     <p class="font-medium text-blue mb-0">Status</p>
                                     <div class="media mt-5">
                                       <span class="media-left pull-left status-dot bg-green mr-10"></span>
                                       <div class="media-body">
                                         <a target="_blank" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                           <p class="font-normal"><?php echo $trip['trip_status_txt'];?></p>
                                         </a>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </li>
                             </ul>
                         </div>
                       </div>
                   <?php
               }
           } else {

             ?>
               <p>No travel service need is added. Please add your people/pacakge/product service needs</p>
           <?php

           }
           ?>
         </div>

         <div id="tab2" class="tab-pane fade">

           <?php
           if (count($this->completed_trips) > 0) {
 foreach ($this->completed_trips as $trip) {
                   ?>
                   <!--a class="booking-item mb15" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>"-->
                       <div class="row trips">
                            <div class="col-sm-4">
                              <ul class="list-group">
                                <li class="list-group-item no-border">
                                  <p class="font-medium text-blue mb-0">Departure date</p>
                                  <p class="font-normal">
                                    <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>
                                  </p>
                                </li>
                                <li class="list-group-item no-border">
                                  <p class="font-medium text-blue mb-0">Arrival date</p>
                                  <p class="font-normal">
                                    <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']); ?>
                                  </p>
                                </li>
                              </ul>
                           </div>
                           <div class="col-sm-4 column-border-right">
                             <ul class="list-group col-pad-left">
                               <li class="list-group-item no-border">
                                 <a class="" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                   <div class="media">
                                     <span class="media-left pull-left mr-10 mt-5">
                                         <img class="media-object" src="<?php echo $this->basePath() ?>/public/images/flight-departure-icon.png" width="32" alt="" />
                                     </span>
                                     <div class="media-body">
                                       <p class="font-medium mb-0 text-blue"><?php echo $trip['origin_location_city']; ?>,</p>
                                       <p class="font-normal text-grey"><?php echo $trip['origin_location_country'].' ('.$trip['origin_location_code'].')'; ?></p>
                                     </div>
                                   </div>
                                 </a>
                               </li>
                               <li class="list-group-item no-border">
                                 <a class="" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                   <div class="media">
                                     <span class="media-left pull-left mr-10 mt-5">
                                         <img class="media-object" src="<?php echo $this->basePath() ?>/public/images/flight-arrival-icon.png" width="34" alt="" />
                                     </span>
                                     <div class="media-body">
                                       <p class="font-medium mb-0 text-blue"><?php echo $trip['destination_location_city']; ?>,</p>
                                       <p class="font-normal text-grey"><?php echo $trip['destination_location_country'].' ('.$trip['destination_location_code'].')'; ?></p>
                                     </div>
                                   </div>
                                 </a>
                               </li>
                             </ul>
                           </div>

                           <div class="col-sm-4 column-border-right">

                             <ul class="list-group col-pad-left">
                               <li class="list-group-item no-border">
                                 <div class="row">
                                   <div class="col-sm-6">
                                     <p class="font-medium text-blue mb-0">Services</p>
                                     <p class="font-normal"><?php echo $trip['service']; ?></p>
                                   </div>
                                   <div class="col-sm-6">
                                     <p class="font-medium text-blue mb-0">Created</p>
                                     <p class="font-normal"><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                   </div>
                                 </div>
                               </li>
                               <li class="list-group-item no-border">
                                 <div class="row">
                                   <div class="col-sm-12">
                                     <p class="font-medium text-blue mb-0">Status</p>
                                     <div class="media mt-5">
                                       <span class="media-left pull-left status-dot bg-green mr-10"></span>
                                       <div class="media-body">
                                         <a target="_blank" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                           <p class="font-normal"><?php echo $trip['trip_status_txt'];?></p>
                                         </a>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </li>
                             </ul>

                           </div>
                       </div>
                   <?php
               }
           } else {

           ?>
             <p>No travel service request is completed so far</p>
         <?php
           }
           ?>

         </div>

         <div id="tab3" class="tab-pane fade">

           <?php
           if (count($this->cancelled_trips) > 0) {
               foreach ($this->cancelled_trips as $trip) {
                   ?>
                   <!--a class="booking-item mb15" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>"-->
                       <div class="row trips">

                         <div class="col-sm-4">
                           <ul class="list-group">
                             <li class="list-group-item no-border">
                               <p class="font-medium text-blue mb-0">Departure date</p>
                               <p class="font-normal">
                                 <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>
                               </p>
                             </li>
                             <li class="list-group-item no-border">
                               <p class="font-medium text-blue mb-0">Arrival date</p>
                               <p class="font-normal">
                                 <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']); ?>
                               </p>
                             </li>
                           </ul>
                         </div>

                         <div class="col-sm-4 column-border-right">
                           <ul class="list-group col-pad-left">
                             <li class="list-group-item no-border">
                               <a class="" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                 <div class="media">
                                   <span class="media-left pull-left mr-10 mt-5">
                                       <img class="media-object" src="<?php echo $this->basePath() ?>/public/images/flight-departure-icon.png" width="32" alt="" />
                                   </span>
                                   <div class="media-body">
                                     <p class="font-medium mb-0 text-blue"><?php echo $trip['origin_location_city']; ?>,</p>
                                     <p class="font-normal text-grey"><?php echo $trip['origin_location_country'].' ('.$trip['origin_location_code'].')'; ?></p>
                                   </div>
                                 </div>
                               </a>
                             </li>
                             <li class="list-group-item no-border">
                               <a class="" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                 <div class="media">
                                   <span class="media-left pull-left mr-10 mt-5">
                                       <img class="media-object" src="<?php echo $this->basePath() ?>/public/images/flight-arrival-icon.png" width="34" alt="" />
                                   </span>
                                   <div class="media-body">
                                     <p class="font-medium mb-0 text-blue"><?php echo $trip['destination_location_city']; ?>,</p>
                                     <p class="font-normal text-grey"><?php echo $trip['destination_location_country'].' ('.$trip['destination_location_code'].')'; ?></p>
                                   </div>
                                 </div>
                               </a>
                             </li>
                           </ul>
                         </div>

                         <div class="col-sm-4 column-border-right">

                           <ul class="list-group col-pad-left">
                             <li class="list-group-item no-border">
                               <div class="row">
                                 <div class="col-sm-6">
                                   <p class="font-medium text-blue mb-0">Services</p>
                                   <p class="font-normal"><?php echo $trip['service']; ?></p>
                                 </div>
                                 <div class="col-sm-6">
                                   <p class="font-medium text-blue mb-0">Created</p>
                                   <p class="font-normal"><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                 </div>
                               </div>
                             </li>
                             <li class="list-group-item no-border">
                               <div class="row">
                                 <div class="col-sm-12">
                                   <p class="font-medium text-blue mb-0">Status</p>
                                   <div class="media mt-5">
                                     <span class="media-left pull-left status-dot bg-green mr-10"></span>
                                     <div class="media-body">
                                       <a target="_blank" href="<?php echo $this->basePath() . '/seeker/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                         <p>Cancelled</p>
                                       </a>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </li>
                           </ul>

                         </div>


                       </div>
                   <?php
               }
           } else {

             ?>
               <p>No travel service request is cancelled so far</p>
           <?php

           }
           ?>

         </div>
       </div>

      </div>

</div>
</div>

<script type="text/javascript">
var calData = <?php echo json_encode($this->cal_events);?>;
</script>
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/calender-new.css">
<script src="<?php echo $this->basePath(); ?>/public/js/cal-moment.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/calendar-new.js"></script>
<style type="text/css">
.day .day-events span{
	width: 100%;
    height: 100%;
    margin: 0px 1px;
}
.day .day-events{
	position: absolute;
    top: -5px;
    z-index: -1;
    /* height: 95%; */
    /* width: 95%; */
    margin: 6px;
    left: -2px;
    width: 35px;
    height: 30px;
}
.event-date{ color:white;}
</style>
