<div class="content-page">
    <div class="search-page-block">
         <h2 class="text-center title">Service Payment Receipt</h2>
         <div class="row row-wrap">
            <div class="col-md-8">
                <div class="middle-section bg-white">
                    <div class="middle-section-inner">
                        <div class="panel-group" id="accordion">
                            <?php echo $this->render('application/seeker/recipt_detail_page/personal_info.phtml')?>
                            <?php echo $this->render('application/seeker/recipt_detail_page/travel_info.phtml')?>
                        <!--     <?php echo $this->render('application/seeker/recipt_detail_page/people_service_info.phtml')?>
                            <?php echo $this->render('application/seeker/recipt_detail_page/package_service_info.phtml')?>
                            <?php echo $this->render('application/seeker/recipt_detail_page/project_service_info.phtml')?> -->
						</div>
					</div>
				</div>
			</div>
			<?php echo $this->render('application/seeker/recipt_detail_page/right_panel.phtml')?>
		</div>
	</div>
</div>