<div class="gap gap-small"></div>
<div class="travel-container">  
    
    <?php
      $upcoming_trips=$this->upcoming_trips;
    if( $upcoming_trips){
    if (count($upcoming_trips) > 0) {
       
        foreach ($upcoming_trips as $trip) {
            
            if(strtolower($trip['trip_status_txt']) != 'cancelled' && strtolower($trip['trip_status_txt']) != 'trip listing expired' && ($trip['total_request_count'] > 0 || $trip['total_request_sent_count'] > 0)){
                    
            ?>

            <div class="taveler-content">

                <div class="booking-item traveler-sec">

                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 date">
                                            <div class="graybox graybox-01">
        <?php if ($trip['travel_plan_reservation_type'] != '2' && $trip['service'] == 'People') { ?>
                                                    <div class="calendar-daily">
                                                        <p class="title">
                                                            DEPARTURE DATE
                                                            <span class="subtitle">
            <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>
                                                            </span>
                                                        </p>
                                                    </div>
            <?php if (isset($trip['arrival_date']) && !empty($trip['arrival_date']) && $trip['travel_plan_reservation_type'] != 2) { ?>
                                                        <div class="graybox-footer graybox-footer-calendar">
                                                            <p class="title-01">
                                                                ARRIVAL DATE
                                                                <span class="subtitle">
                <?php echo ($trip['arrival_date'])?$this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']):'--'; ?>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    <?php
                                                    }
                                                }
                                                ?>
        <?php if ($trip['travel_plan_reservation_type'] == '2' || $trip['service'] != 'People') { ?>
                                                    <div class="calendar-daily">
                                                        <p class="title">
                                                            DATE RANGE FROM 
                                                            <span class="subtitle">
            <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['project_start_date']); ?>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="graybox-footer graybox-footer-calendar">
                                                        <p class="title-01">
                                                            DATE RANGE TO


                                                            <span class="subtitle">
            <?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['project_end_date']); ?>
                                                            </span>
                                                        </p>
                                                    </div>
        <?php } ?>
                                            </div>
                                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12 dep-travel">
                            <div class="graybox graybox-rt">
                                <div class="row">
                                    <div class="graybox-heading-full travelInfo col-sm-8 col-xs-12">
                                        <div class="row">
                                            <div class="areo col-sm-3">
                                                <span class="from">FROM</span>
                                                <i class="fa fa-plane"></i>
                                            </div>
                                            <div class="from-to-locate dep-locate col-sm-9">
                                                <h5><?php echo $trip['origin_location_city']; ?>, <?php echo $trip['origin_location_country'].' ('.$trip['origin_location_code'].')'; ?></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="areo col-sm-3">
                                                <span>TO</span>
                                                <i class="fa fa-plane fa-flip-vertical"></i>
                                            </div>
                                            <div class="from-to-locate dep-locate col-sm-9">
                                                <h5><?php echo $trip['destination_location_city']; ?>, <?php echo $trip['destination_location_country'].' ('.$trip['destination_location_code'].')'; ?></h5>
                                            </div>
                                        </div>
                                        <div class="graybox-footer">
                                            <div class="graybox-row">
                                                <div class="graybox-foot service col-xs-7">
                                                    <div class="head-box">
                                                        <i class="fa fa-briefcase"></i> <span class="i-head">SERVICES</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><?php echo $trip['service']; ?></p>
                                                    </div>
                                                </div>
                                                <div class="graybox-foot service col-xs-5">
                                                    <div class="head-box">
                                                        <i class="fa fa-calendar"></i> <span class="i-head">CREATED</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                                    </div>
                                                </div>                                
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="graybox-foot status">
                                            <div class="head-box">
                                                <span class="i-head">STATUS</span>
                                            </div>
                                            <div class="head-box-bot">
                                            	<a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                                    <p><?php echo $trip['trip_status_txt'];?></p>
                                                </a>
                                                <?php if($trip['trip_status'] =='0'){?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/myprofile/trustVerification'; ?>">
                                                                <p class="label label-danger"><i class="fa fa-times"></i></p>
                                                                <p>Awaiting ID Document</p>
                                                                </a>
                                                             <?php }elseif($trip['trip_status'] =='3'){?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                                                <p class="label label-danger"><i class="fa fa-times"></i></p>
                                                                <p>Awaiting Ticket Approval</p>
                                                                </a>
                                                             <?php }elseif($trip['trip_status'] =='4'){?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                                             <p class="label label-danger"><i class="fa fa-times"></i></p>
                                                                <p>Awaiting Ticket Document</p>
                                                                </a>
                                                             <?php }elseif($trip['trip_status'] =='2'){?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/myprofile/trustVerification'; ?>">
                                                             <p class="label label-danger"><i class="fa fa-times"></i></p>
                                                                <p>Awaiting ID Approval</p>
                                                                </a>
                                                             <?php }elseif($trip['trip_status'] =='6'){?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/myprofile/trustVerification'; ?>">
                                                             <p class="label label-danger"><i class="fa fa-check"></i></p>
                                                                <p>Completed</p>
                                                                </a>
                                                             <?php }elseif($trip['trip_status'] =='7'){?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/myprofile/trustVerification'; ?>">
                                                             <p class="label label-danger"><i class="fa fa-times"></i></p>
                                                                <p>Cancelled</p>
                                                                </a>
                                                             <?php }else{?>
                                                             <a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                                             <p class="label label-success"><i class="fa fa-check"></i></p>
                                                                <p>Approved</p>
                                                                </a>
                                                                <?php }?>
                                            </div>
                                        </div></div></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 dep-detail">
                            <div class="req-common"><a href="<?php echo $this->basePath(); ?>/seeker/tripcontenders/<?= $trip['ID']; ?>?action=byyou&service=<?php echo $trip['service']?>"><h5>Request Sent by You</h5></a></div>
                            <div class="req-common"><a href="<?php echo $this->basePath(); ?>/seeker/tripcontenders/<?= $trip['ID']; ?>?action=toyou&service=<?php echo $trip['service']?>"><h5>Request Sent to You</h5></a></div>
                        </div>
                    </div>
                </div>  
            </div>
            <?php
        }
    }
    }

}
    ?>
</div>
<div class="gap gap-small"></div>