<div id="wrapper">
    <?php echo $this->render('layout/admin-header.phtml');
        $accessModules = $_SESSION['comSessObj']->ADMIN_MODULES;
		print_r($latestUsers);
        $arrMyAccessModules = explode('|', $accessModules); ?>
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div  id="messageRow"></div>
            <div class="top-section">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Dashboard <small>Statistics Overview</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
      <?php  if (!empty($flashMessages)) { ?>
       <div class="row">
           <?php foreach ($flashMessages as $msg) {
               foreach ($msg as $type => $message) {
                   ?>
                <div class="col-xs-12 msg_div">
                 <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                   <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                </div>
            <?php }
        }
        ?>
       </div>
<?php } ?>
  </div>
            <div class="row">
                <?php if($_SESSION['comSessObj']->ADMIN_ACCESS == 1 || (is_array($arrMyAccessModules) && in_array('user_accounts',$arrMyAccessModules))) { ?>   
                <div class="col-lg-3 col-md-6 panel-height">
                    <a href="<?php echo $this->basePath() ?>/admin/useraccounts">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5"> <i class="fa fa-comments fa-5x"></i> </div>
                                    <div class="col-xs-7 text-right">
                      					<!--<p class="announcement-heading">2</p>                
                                        <p class="announcement-text">32</p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">User Accounts!</div>
                                    <div class="col-xs-6 text-right"> <i class="fa fa-arrow-circle-right"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <?php } ?>
              <?php if($_SESSION['comSessObj']->ADMIN_ACCESS == 1 || (is_array($arrMyAccessModules) && in_array('seeker_service',$arrMyAccessModules))) { ?>   
                <div class="col-lg-3 col-md-6 panel-height">
                    <a href="<?php echo $this->basePath() ?>/admin/seekers">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5"> <i class="fa fa-comments fa-5x"></i> </div>
                                    <div class="col-xs-7 text-right">
                      					<!--<p class="announcement-heading">2</p>                
                                        <p class="announcement-text">32</p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">Seeker Trips!</div>
                                    <div class="col-xs-6 text-right"> <i class="fa fa-arrow-circle-right"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <?php } ?>
              <?php if($_SESSION['comSessObj']->ADMIN_ACCESS == 1 || (is_array($arrMyAccessModules) && in_array('traveller_service',$arrMyAccessModules))) { ?>   
                <div class="col-lg-3 col-md-6 panel-height">
                    <a href="<?php echo $this->basePath() ?>/admin/travellers">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5"> <i class="fa fa-comments fa-5x"></i> </div>
                                    <div class="col-xs-7 text-right">
                      					<!--<p class="announcement-heading">2</p>                
                                        <p class="announcement-text">32</p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">Traveller Trips!</div>
                                    <div class="col-xs-6 text-right"> <i class="fa fa-arrow-circle-right"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <?php } ?>
				</div>
<!-- HTML -->
<div class = "row">
<?php
$total_users = $registeredUsers['register_users'];
$latest_users = $latestUsers['latest_users'];
$latest_users_percent = ($latest_users / $total_users) * 100;
?>
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<div class = "col-lg-3">
		<div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion-ios-cog"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Website Viewer</span>
              <span class="info-box-number">1,000</span>

              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
              <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
		</div>
	</div>
	<div class = "col-lg-3">
			<div class="info-box bg-aqua">
				<span class="info-box-icon"><i class="ion-android-contacts"></i></span>

				<div class="info-box-content">
				  <span class="info-box-text">Registered Users</span>
				  <span class="info-box-number"><?php echo $registeredUsers['register_users']?></span>

				  <div class="progress">
					<div class="progress-bar" style="width: <?php echo $registeredUsers['register_users']?>%"></div>
				  </div>
				  <span class="progress-description">
						Total number of Users.
					  </span>
				</div>
				<!-- /.info-box-content -->
			</div>
		</div>
	<div class = "col-lg-3">
			<div class="info-box bg-aqua">
				<span class="info-box-icon"><i class="ion-android-contact"></i></span>

				<div class="info-box-content">
				  <span class="info-box-text">Latest Users</span>
				  <span class="info-box-number"><?php echo $latestUsers['latest_users']?></span>

				  <div class="progress">
					<div class="progress-bar" style="width: <?php echo $latestUsers['latest_users']?>%"></div>
				  </div>
				  <span class="progress-description">
						<?php echo round($latest_users_percent, 2);?> Increase in 30 Days
					  </span>
				</div>
				<!-- /.info-box-content -->
			</div>
		</div>
		<div class = "col-lg-3">
				<div class="info-box bg-aqua">
					<span class="info-box-icon"><i class="ion-android-chat"></i></span>

					<div class="info-box-content">
					  <span class="info-box-text">User Reviews</span>
					  <span class="info-box-number"><?php echo $usersReviews['total_reviews']?></span>

					  <div class="progress">
						<div class="progress-bar" style="width: 20%"></div>
					  </div>
					  <span class="progress-description">
							Total number of reviews
						  </span>
					</div>
					<!-- /.info-box-content -->
				</div>
			</div>
</div>
<div class="row">
<!-- Styles -->


<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart( "chartdiv", {
  "type": "pie",
  "theme": "light",
  "dataProvider": [  {
    "country": "Pending Travel Service Requests",
    "litres": <?php echo $travelRequestpending['total_pending']; ?>
  }, {
    "country": "cancelled Travel Service Requests",
    "litres": <?php echo $travelReqcancelled['total_cancelled']; ?>
  }, {
    "country": "Completed Travel Service Requests",
    "litres": <?php echo $travelRequestapproved['total_approve']; ?>
  }],
  "valueField": "litres",
  "titleField": "country",
   "balloon":{
   "fixedPosition":true
  },
  "export": {
    "enabled": true
  }
} );
</script>

<div class="col-md-12">
<div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Travel Service Requests</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <!--canvas id="pieChart" height="170" width="205" style="width: 205px; height: 170px;"></canvas-->
					<div id="chartdiv"  style="width: 680px; height: 300px;"></div>
                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <ul class="chart-legend clearfix">
				  
				  <li><i class="fa fa-circle-o text-green"></i> Total Travel Service Requests <span class="info-box-number"><?php echo $arrAdminAccounts['total_count'];?></span></li>
				  
					<li><i class="fa fa-circle-o text-green"></i> Completed Travel Service Requests</li>
					<li><i class="fa fa-circle-o text-aqua"></i> Pending Travel Service Requests</li>
					<li><i class="fa fa-circle-o text-yellow"></i> Cancelled Travel Service Requests</li>
                  </ul>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <!-- /.footer -->
          </div>
		  <div class="box box-default">
		  <!-- Chart code -->
<script>
var chart = AmCharts.makeChart( "chartdiv2", {
  "type": "pie",
  "theme": "none",
  "dataProvider": [ {
    "title": "Cancelled",
    "value": 15
  }, {
    "title": "Total",
    "value": 50
  },{
    "title": "Completed",
    "value": 30
  },{
    "title": "Pending",
    "value": 5
	} ],
  "titleField": "title",
  "valueField": "value",
  "labelRadius": 5,

  "radius": "42%",
  "innerRadius": "60%",
  "labelText": "[[title]]",
  "export": {
    "enabled": true
  }
} );
</script>
            <div class="box-header with-border">
              <h3 class="box-title">Revenue</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <!--canvas id="pieChart" height="170" width="205" style="width: 205px; height: 170px;"></canvas-->
					<div id="chartdiv2"  style="width: 680px; height: 300px;"></div>
                  </div>
                  <!-- ./chart-responsive -->
                </div>

              </div>

            </div>

          </div>
</div>
<div class = "col-md-4">


<!-- Chart code -->


</div>
<div class = "row">
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- Chart code -->
<script>
// generate data
var chartData = [];

function generateChartData() {
    var firstDate = new Date();
    firstDate.setTime(firstDate.getTime() - 10 * 24 * 60 * 60 * 1000);

    for (var i = firstDate.getTime(); i < (firstDate.getTime() + 10 * 24 * 60 * 60 * 1000); i += 60 * 60 * 1000) {
        var newDate = new Date(i);

        if (i == firstDate.getTime()) {
            var value1 = Math.round(Math.random() * 10) + 1;
        } else {
            var value1 = Math.round(chartData[chartData.length - 1].value1 / 100 * (90 + Math.round(Math.random() * 20)) * 100) / 100;
        }

        if (newDate.getHours() == 12) {
            // we set daily data on 12th hour only
            var value2 = Math.round(Math.random() * 12) + 1;
            chartData.push({
                date: newDate,
                value1: value1,
                value2: value2
            });
        } else {
            chartData.push({
                date: newDate,
                value1: value1
            });
        }
    }
}

generateChartData();

var chart = AmCharts.makeChart("chartdiv1", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "dataProvider": chartData,
    "valueAxes": [{
        "axisAlpha": 0.1
    }],

    "graphs": [{
        "balloonText": "[[title]]: [[value]]",
        "columnWidth": 20,
        "fillAlphas": 1,
        "title": "daily",
        "type": "column",
        "valueField": "value2"
    }, {
        "balloonText": "[[title]]: [[value]]",
        "lineThickness": 2,
        "title": "intra-day",
        "valueField": "value1"
    }],
    "zoomOutButtonRollOverAlpha": 0.15,
    "chartCursor": {
        "categoryBalloonDateFormat": "MMM DD JJ:NN",
        "cursorPosition": "mouse",
        "showNextAvailable": true
    },
    "autoMarginOffset": 5,
    "columnWidth": 1,
    "categoryField": "date",
    "categoryAxis": {
        "minPeriod": "hh",
        "parseDates": true
    },
    "export": {
        "enabled": true
    }
});
</script>
<div class="col-md-9">
<div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Travel Service Requests</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
					<div id="chartdiv1"  style="width: 800px; height: 400px;"></div>
                  </div>

                </div>

              </div>

            </div>

          </div>
</div>
</div>





        </div>
    </div>


