<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if(isset($_POST) && !empty($_POST)){
    extract($_POST);
}
if(isset($adminRow) && !empty($adminRow)){
    extract($adminRow);
}

 $ARRADMIN_TYPE = array('0'=>'Select UserType','2'=>'Admin','3'=>'Supervisor','4'=>'Impersonator','5'=>'Customer Support');
?>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
       clrErr();
       $errStaus = false;
       var action = '<?php echo $action  ?>';
       var passValidation = true;
       if (action == 'edit') {
          passValidation = false;
          if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
             passValidation = true;
          }
       }
       if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
       if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
       if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

       if (passValidation) {
          if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
          if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
       }
       if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
            $errStaus = true;
       }
if(validateFormFields('type','Please select the account type.',''))$errStaus=true;
       if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
            $errStaus = true;
       if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;


       if ($errStaus) {
          return false;
       } else {
          return true;
       }

    }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
 <!-- Sidebar -->
 <div id="page-wrapper">
     <div class="wrapper-inner">
         <div class="top-section">
  <div class="row">
   <div class="col-xs-12">
    <h2>Admin <small><?php echo isset($action)?ucfirst($action):'Add'?></small> </h2>
    <ol class="breadcrumb">
     <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
     <li>Administrators</li>
     <li><a href="<?php echo $this->basePath(); ?>/admin/subadmins"> Admin Account List </a></li>
     <li class="active"><?php echo isset($action)?ucfirst($action):'Add'?> Admin</li>
    </ol>
   </div>
  </div>
             </div>
  <!-- /.row -->
  <div id="messageRow">
   <?php
if (!empty($flashMessages)){
    ?>
   <div class="row">
    <?php 
        foreach ($flashMessages as $msg) {
            foreach ($msg as $type => $message) {
    ?>
      <div class="col-xs-12 msg_div">
       <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
         <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
      </div>
        <?php } ?>
<?php } ?>
</div>
<?php }?>
  </div>
  <div class="box-white">
   <div class="row">
    <div class="col-xs-12"> 
	
	<form enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
      <div class="page-header text-left">
       <h3>Account Details</h3>
      </div>
      <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
       <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
      <div class="row">
       <div id="div_name" class="form-group col-md-6">
        <label for="name" class="control-label">Name<span style="color:red;">&nbsp;*</span></label>
        <input type="text" class="form-control required" placeholder="Name" id="name" value="<?php echo isset($first_name)?$first_name:''?>" name="first_name"> 
        <p id="err_name" class="text-danger err_msg"></p>
       </div>
       <div id="div_username" class="form-group col-md-6">
        <label for="username" class="control-label">Username<span style="color:red;">&nbsp;*</span></label>
        <input type="text" class="form-control charNumOnly" placeholder="Username" id="username" value="<?php echo isset($username)?$username:''?>" name="username">
        <p id="err_username" class="text-danger err_msg"></p>
       </div>
      </div>
      <div class="row">
       <div id="div_email" class="form-group col-md-6">
        <label for="email" class="control-label">E-Mail<span style="color:red;">&nbsp;*</span></label>
        <input type="text" class="form-control required" placeholder="E-Mail" id="email" value="<?php echo isset($email_address)?$email_address:''?>" name="email_address">     
      <!--  <label for="sendEmail" class="control-label">
         <input type="checkbox" id="sendEmail" checked="checked" value="1" name="sendEmail" 
               class="checkator_source">
                      Send account details to this E-mail ID?</label> -->
        <p id="err_email" class="text-danger err_msg"></p>
       </div>
      </div>
       <?php
			$showPass = 'display';
        	if($action == 'edit'){
				$showPass = 'none';
		?>
          <div class="row">
             <div class="form-group col-md-6">
              <label class="control-label" for="changeUserPassword">
               
                <input type="checkbox" id="changeUserPassword"  value="1" name="changeUserPassword" 
               class="checkator_source">
                Change Password?</label>
              <p class="text-danger err_msg" id="err_changeUserPassword"></p>
            </div>
          </div>
           <?php } ?>
      <div class="row">
       <div id="div_password" style="display:<?php echo $showPass?>" class="form-group col-md-6 changePass">
        <label for="password" class="control-label">Password<span style="color:red;">&nbsp;*</span></label>
        <input type="password" maxlength="20" class="form-control required" placeholder="Password" id="password" value="" name="password">                           <p id="err_password" class="text-danger err_msg"></p>

       </div>
       <div id="div_password2" style="display:<?php echo $showPass?>" class="form-group col-md-6 changePass">
        <label for="password2" class="control-label">Confirm password<span style="color:red;">&nbsp;*</span></label>
        <input type="password" maxlength="20" class="form-control required" placeholder="Confirm password" id="password2" value="" name="password2">              <p id="err_password2" class="text-danger err_msg"></p>
       </div>
      </div>

<div class="row">
            <div id="div_type" class="form-group col-md-6">
                <label for="type" class="control-label">Account Type<span style="color:red;">&nbsp;*</span></label>
                <select id="type" class="form-control required" name="type">
 <?php if(is_array($ARRADMIN_TYPE)){
					foreach($ARRADMIN_TYPE as $key => $val){
                                           $searchBy =  isset($type)?$type:'';
						$selected = ($key == $searchBy)?'selected="selected"':'';
						?>
                <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                <?php
					}
				}?>
</select>                <p id="err_type" class="text-danger err_msg"></p>
              </div>
          </div>
      <div class="row">
       <div class="form-group col-md-8">
        <label class="control-label" for="accessPrivilege">Privileges<span style="color:red;">&nbsp;*</span></label>
        <label class="checkbox-inline">
         <?php
        
         if(isset($accessPrivilege))
             
					$accessPrivilege = $accessPrivilege;
					else $accessPrivilege = isset($_POST['accessPrivilege']) ? implode('|', $_POST['accessPrivilege']) : '';
					if(isset($accessPrivilege) && !empty($accessPrivilege) && strpos(',',strtolower($accessPrivilege)) === false)   
						 $accessPrivilege = explode('|',$accessPrivilege);
						
					 else if(isset($accessPrivilege) &&  is_array($accessPrivilege))
					 $accessPrivilege[] = $accessPrivilege[0]; 
                                           
                                        
         ?>
          <input type="checkbox" class="accessPrivilege checkator_source" id="accessPrivilege1" value="VIEW" 
                 name="accessPrivilege[]" <?php echo (isset($accessPrivilege) && is_array($accessPrivilege) && !empty($accessPrivilege) && in_array('VIEW', $accessPrivilege))?'checked':''?> >
           VIEW</label> 
          <label class="checkbox-inline">
        <input type="checkbox" class="accessPrivilege checkator_source" id="accessPrivilege2" value="INSERT" name="accessPrivilege[]"
               <?php echo (isset($accessPrivilege) && is_array($accessPrivilege) && !empty($accessPrivilege) && in_array('INSERT', $accessPrivilege))?'checked':''?>> INSERT</label> 
        <label class="checkbox-inline">
         
          <input type="checkbox" class="accessPrivilege checkator_source" id="accessPrivilege3" value="UPDATE" name="accessPrivilege[]"
                 <?php echo (isset($accessPrivilege) && is_array($accessPrivilege) && !empty($accessPrivilege) && in_array('UPDATE', $accessPrivilege))?'checked':''?>>
           UPDATE </label> 
        <label class="checkbox-inline">
          <input type="checkbox" class="accessPrivilege checkator_source" id="accessPrivilege4" value="DELETE" name="accessPrivilege[]" 
                 <?php echo (isset($accessPrivilege) && is_array($accessPrivilege) && !empty($accessPrivilege) && in_array('DELETE', $accessPrivilege))?'checked':''?>>
            DELETE</label>       
        <p id="err_accessPrivilege" class="text-danger err_msg"></p>
       </div>
      </div>
      <div class="row">
       <div class="form-group col-md-12">
        <label class="control-label" for="accessModule">Access modules<span style="color:red;">&nbsp;*</span></label>
        <p><a onclick="checkUncheckAll(true); return false;" href="#">Check All</a> | <a onclick="checkUncheckAll(false); return false;" href="#">Uncheck All</a></p>
        <div class="checkbox-scroll">
            <?php
            $accessModule = '';
            if (isset($accessModules))
                $accessModule = $accessModules;
            else
                $accessModule = isset($_POST['accessModule']) ? implode('|', $_POST['accessModule']) : '';
            if (isset($accessModule) && !empty($accessModule) && strpos(',', strtolower($accessModule)) === false)
                $accessModule = explode('|', $accessModule);

            else if (isset($accessModule) && is_array($accessModule))
                $accessModule[] = $accessModule[0];
            else
                $accessModule[] = '';
            
            $ADMIN_ACCESS_MODULES = $adminModules; //$pageTitleForAdmin
            if (!empty($ADMIN_ACCESS_MODULES)) {
                foreach ($ADMIN_ACCESS_MODULES as $accessKeys => $accessModules) {
                    $showAccessModule = true;
                    $accessModuleName = $accessModules;

                    if (isset($accessModule) && is_array($accessModule) && !empty($accessModule) && in_array($accessKeys, $accessModule)) {
                        $checkedProp = 'checked';
                    } else {
                        $checkedProp = '';
                    }
                    if ($showAccessModule) {
                        echo '<label class="checkbox-inline col-lg-3 col-md-4 col-sm-6 col-xs-12">';

                        echo '<input type="checkbox" name="accessModule[]" value="' . $accessKeys . '" class = "accessModule" ' . $checkedProp . ' >'
                        . '&nbsp;' . $accessModuleName . '</label>';
                    }
                }
            }
            ?>
        </div>
           <p class="text-danger err_msg" id="err_accessModule"></p>
       </div> </div>
       <div class="row">
        <div class="col-xs-12">
         <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>            </div>
       </div>
     </form> </div>
   </div>
  </div>
  </div>
 </div>
</div>

