body {color: #222;font-family: "Open Sans", Arial, sans-serif;text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;font-size:14px;overflow-x:hidden;/*background:#eef3f6*/}

h1,h2,h4,h5,h6{clear:both;font-weight:600;text-shadow: 0 1px 2px rgba(0,0,0,.3);}

h5{color: #2382c5}

.footer a:hover{text-decoration:none; color:#fff !important;}

.carosel{ position: relative; margin-top: -20px }

.carosel .carousel-inner > .item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.carousel-indicators {
	bottom: -5px
}
.text-carousel-bg .carousel-control {
	display: none;
}

.text-carousel-bg .carousel-indicators {
	bottom: -32px
}

.panel-body {
	background-color: #e4e5ea;
	padding: 25px 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.select-filters {
	-webkit-appearance: none;
	height: 60px;
	border-radius: 6px;
	width: 220px;
	margin-right: 5px;
	display: inline-block;
	border: 1px solid #d3d3d3;
}
.icon-addon {
	position: relative;
}

.close {
	color: black;
	background-color: 'black';
	position: absolute;
	top: 10px;
	font-weight: bold;
	right: 25px;
	font-size: 50px;
	font-weight: bold;
	z-index: 1;
}

.hvr-shrink {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.thm-btn {
	padding: 12px 30px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	border: 0;
	text-align: center;
	border-radius: 0px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	background-color: #9acb4d;
}
.thm-btn:before {
	content: '';
	position: absolute;
	border: white solid 2px;
	border-radius: 0;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.thm-btn:hover:before,
.thm-btn:focus:before,
.thm-btn:active:before {
	opacity: 1;
}
.thm-btn.btn-sm {
	padding: 10px 20px;
}

.thm-btn1 {
	padding: 12px 30px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	border: 0;
	text-align: center;
	border-radius: 0px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	background-color: #2382c5;
}
.thm-btn1:before {
	content: '';
	position: absolute;
	border: white solid 2px;
	border-radius: 0;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.thm-btn1:hover:before,
.thm-btn1:focus:before,
.thm-btn1:active:before {
	opacity: 1;
}
.thm-btn1.btn-sm {
	padding: 10px 20px;
}

.outer-circle {
	width: 131px;
	height: 131px;
	border: 2px solid #9acb4d;
	border-radius: 100%;
  margin-bottom: 10px
}

.icon {
	position: relative;
	font-size: 78px;
	top: 20px;
	color: #fff;
}
.inner-circle {
	position: relative;
	top: 3px;
	width: 121px;
	height: 121px;
	background-color: #9acb4d;
	border-radius: 100%;
}

.outer-circle:hover {
	border: 2px solid #0e3370;
}

.inner-circle:hover {
	background-color: #0e3370;
}

.text-carousel-bg {
	background: url(../images/customer_say_bg.jpg) center fixed;
  padding-bottom: 40px
}
.a {
	background: url(../images/icon/hatemailing.png) center no-repeat;
}
.b {
	background: url(../images/icon/wish.png) center no-repeat;
}

.c {
	background: url(../images/icon/track.png) center no-repeat;
}
.d {
	background: url(../images/icon/pay.png) center no-repeat;
}
.e {
	background: url(../images/icon/concern.png) center no-repeat;
}
.f {
	background: url(../images/icon/benefit.png) center no-repeat;
}
.g {
	background: url(../images/icon/concierge.png) center no-repeat;
}
.h {
	background: url(../images/icon/social.png) center no-repeat;
}
.i {
	background: url(../images/icon/customers.png) center no-repeat;
}
.j {
	background: url(../images/icon/thinking.png) center no-repeat;
}
.k {
	background: url(../images/icon/feedback.png) center no-repeat;
}
.l {
	background: url(../images/icon/make.png) center no-repeat;
}

.circle-our-services {
	width: 150px;
	height: 150px;
	border: 2px solid #9acb4d;
	border-radius: 100%;
}

.person {
	text-align: center;
}
.person img {
	width: 98px;
	height: 98px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
}
.pos {
	font-size: 12px;
	color: #fff;
}
.name {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
	margin: 10px 0 0;
}
.text {
	margin: 20px 20px;
}
.text blockquote {
	color: #fff;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	line-height: 26px;
	padding: 20px 4px;
	margin: 0;
	border: 2px solid #fff;
}
.text blockquote:after {
	content: '';
	position: absolute;
	left: -18px;
	top: 25%;
	margin-top: -8px;
	border-width: 0 18px 18px 0;
	border-color: transparent #fff transparent transparent;
	border-style: solid;
}

@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 0.52s;
	animation-duration: 0.52s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.dropdown-toggle::after {
	display: none;
}
select {
	-webkit-appearance: none;
}
.nav-tabs > li {
	float: none;
	display: inline-block;
	padding: 0 2px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #fff !important;
	background-color: #9acb4d !important;
}

.form-div .nav-tabs{
	border-bottom:none;
}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	background: #fff;
	color: black;

}
.form-div {
	position: absolute;
}

.btn-pry{
  background-color: #2382c5;
}

.form-tab{
  font-weight: 600;
  text-transform: uppercase;
}

.drop-menu{z-index: 1;}

.form-1-ico{
  position:absolute ;
  right: 25px ;
  top: 25px ;
}
.form-2-ico{
  position: absolute ;
  right: 25px ;
  top: 25px ;}
.form-3-ico{
  position: absolute ;
  right: 25px ;
  top: 25px ;}

 .btn-pry{
  background: rgba(35, 130, 197, 0.8);
  transition: all 0.3s ease-out;}

  .img_container {
    position:relative;
    display:inline-block;
    text-align:center;
	width:100%;

}
.img_container img{
	/*height:529px;*/
}

.ban {
    position:absolute;
    bottom:0px;
    top:396px;
    left:40px;
    width:20%;
    height:12%;
    background: #34435A;
    border:1px solid #34435A;
    color:#fff;
    font-size:120%;
    font-weight:600;
}
  .line{margin-top:220px;margin-left:-600px;}
  #register{

margin-top:20px;}

/*<========================================================================================================================================= */

@media (max-width:1366px){
.ban { top:408px;
    left:42px;
    width:20%;
    height:12%;
    font-weight:600;
		}
		.form-div {
		/*top: 66%;*/
		top:425px;
		width:90%;
	}

		}
@media (max-width:1280px){
   .ban { top:382px;
    left:42px;
    width:20%;
    height:12%;
    font-weight:600;}
    }

    @media (max-width:1024px){

    .ban { top:410px;
    left:42px;
    width:20%;
    height:12%;
    font-weight:600;
		}
	 .form-div {
		top: 57%;
		width:110%;
	}
	.foot{width:28%}

.social{
display:inline;
margin-left:-10px;
}
.line{margin-top:10px;margin-left:0px;}
.tools{margin-left:4px;}
    }

@media (min-width: 993px){
	.carousel-inner > .item > a > img,
	.carousel-inner > .item > img,
	.img-responsive,
	.thumbnail a > img,
	.thumbnail > img {
		width: 100%;
		height: 525px;

	}

  .tools{
   margin-left: -40px; width: 230px
  }

   .tab-div{
	   margin-left:10%;
   }

.form-1{
margin-left: 32px;
width:290px;
}
.form-2{
margin-left: 80px;
width:290px;
}
.form-3{
margin-left: 128px;
width:160px;
}
.btn-1{
margin-left: 47px;
width:150px;
}
.form-1-ico{
  right: -60px !important;
  top: 17px !important;
}
.form-2-ico{
  right: -110px !important;
  top: 17px !important;}

.form-3-ico{
  right: -30px !important;
  top: 17px !important;}


  .carousel-caption{top:27%;left:15%;}

  .form-div {
		top:425px;
	}

	.services-div {
		margin-top: 17px;
	}
	.forms{
		width:84%;
		padding-left:3%;
	}

	.forms .panel-body{
		padding: 15px 0px;
	}
}
@media (max-width: 960px) {
.ban {
        top:286px;
    left:30px;
    width:22%;
    height:12%;
    font-size:100%;
    font-weight:500;
}
.form-div{top:50%;width:80%;}
.line{margin-top:20px;margin-left:0px;} .foot{width:37%}
.social{display:inline;}
#register{margin-left:130px;margin-top:-55px;}
}
@media (min-width: 768px) and (max-width: 993px) {

  .carousel-caption{top: 5px;}
  .carousel-caption h1{font-size:25px;line-height:50px;margin-bottom:20px}
  .carousel-caption > p{font-size:18px}

  .form-tab{display: none;}

	.form-div {
    position: absolute;
		top: 49%;
	}
	.services-div {
		margin-top: 75px;
	}
}
@media (max-width: 768px) {.ban {
        top:228px;
    left:25px;
    width:24%;
    height:12%;
    font-size:80%;
    font-weight:400;
}}
@media (min-width: 671px) and (max-width: 768px) {

  .carousel-caption{top: 5px;}
  .carousel-caption h1{font-size:20px;line-height:40px;margin-bottom:10px}
  .carousel-caption > p{font-size:14px;line-height:20px;margin-bottom:20px}


	.form-div {
    position: absolute;
		top: 48%;
	}
	.services-div {
		margin-top: 200px;
	}

}

@media (min-width: 555px) and (max-width: 670px) {

  .carousel-caption{top: 5px;}
  .carousel-caption h1{font-size:15px;line-height:25px;margin-bottom:5px}
  .carousel-caption > p{font-size:12px;line-height:18px;margin-bottom:10px}
  .btn-pry{font-size:10px;line-height:10px;margin-right:10px;text-align:center;padding:10px 15px}

  .form-tab{display: none;}

	.form-div {
		position: absolute;
		top: 47%;
	}
	.services-div {
		margin-top: 500px;
	}

}

@media (max-width: 554px) {

  .carousel-caption h1{font-size:15px;line-height:25px;margin-bottom:5px}
  .carousel-caption > p{font-size:12px;line-height:18px;margin-bottom:10px}
  .btn-pry{font-size:10px;line-height:10px;margin-right:10px;text-align:center;padding:10px 15px}

  .form-tab{display: none;}

	.form-div {
		top: 44%;
	}
	.services-div {
		margin-top: 400px;
	}

}

@media (max-width: 460px) {

  .carousel-caption h1{font-size:15px;line-height:25px;margin-bottom:5px}
  .carousel-caption > p{font-size:12px;line-height:18px;margin-bottom:10px}
  .btn-pry{font-size:10px;line-height:10px;margin-right:10px;text-align:center;padding:10px 15px}

  .form-tab{display: none;}

  .form-div {
		top: 40%;
		width:90%;
	}

}

@media (max-width: 412px) {.ban {
        top:125px;
    left:8px;
    width:24%;
    height:12%;
    font-size:50%;
    }
.form-div {
		top: 42%;
		width:90%;
	}
	.social{
margin-left:-8px;}
.foot{width:70%}
}
@media (max-width: 414px) {.ban {
        top:123px;
    left:8px;
    width:24%;
    height:12%;
    font-size:50%;
   }
     .foot{width:70%}
     }
@media (max-width: 384px) {.ban {
    top:107px;
    left:8px;
    width:24%;
    height:12%;
    font-size:46%;
    }
    .foot{width:78%}
   }}
@media (max-width: 360px) {.ban {

    top:109px;
    left:8px;
    width:24%;
    height:12%;
    font-size:40%;
    }
    .foot{width:84%}
}
@media (max-width: 320px) {.ban {

    top:97px;
    left:8px;
    width:26%;
    height:12%;
    font-size:40%;
    }
.form-div {
		position: absolute;
		top: 47%;
	}
	 .foot{width:95%}
}

}
@media (max-width: 767px){}
@media only screen and (min-width: 1000px){}
@media only screen and (min-width: 1440px){}
@media (min-width: 768px){}
@media(min-width:768px) and (max-width:1199px){}
@media (max-width: 769px){}
@media (max-width: 991px){}
@media (max-width: 768px){}
@media (max-width: 480px){}
@media only screen and (max-width : 768px){}
@media (max-width : 1280px){}
@media only screen and (max-width : 768px){}
@media only screen and (max-width : 608px){}
@media only screen and (max-width : 608px){}
@media only screen and (max-width : 320px){}
@media only screen and (max-width : 412px){}
@media only screen and (max-width : 700px){}
@media only screen and (max-width : 960px){}
@media only screen and (max-width : 768px){}
@media only screen and (max-width : 548px){}
@media only screen and (max-width : 418px){}

.currency-menu ul{ height:300px; overflow-y:scroll;}

.datepicker {
    padding: 4px;
    direction: ltr;
}

.datepicker-inline {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

.datepicker.datepicker-rtl {
    direction: rtl;
}

.datepicker.datepicker-rtl table tr td span {
    float: right;
}

.datepicker-dropdown {
    top: 0;
    left: 0;
}

.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
    position: absolute;
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: 6px;
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: 7px;
}

.datepicker-dropdown.datepicker-orient-right:before {
    right: 6px;
}

.datepicker-dropdown.datepicker-orient-right:after {
    right: 7px;
}

.datepicker-dropdown.datepicker-orient-top:before {
    top: -7px;
}

.datepicker-dropdown.datepicker-orient-top:after {
    top: -6px;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999;
}

.datepicker-dropdown.datepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff;
}

.datepicker > div {
    display: none;
}

.datepicker.days div.datepicker-days {
    display: block;
}

.datepicker.months div.datepicker-months {
    display: block;
}

.datepicker.years div.datepicker-years {
    display: block;
}

.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #eee;
    cursor: pointer;
}

.datepicker table tr td.day {
    border: 1px solid #e6e6e6;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    color: #000;
    position: relative;
}

.datepicker table tr td.today:before,
.datepicker table tr td.today:hover:before,
.datepicker table tr td.today.disabled:before,
.datepicker table tr td.today.disabled:hover:before {
    content: '';
    bottom: 2px;
    right: 2px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #99CB51 transparent;
    position: absolute;
}

.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.today,
.open .dropdown-toggle.datepicker table tr td.today:hover,
.open .dropdown-toggle.datepicker table tr td.today.disabled,
.open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
    background-image: none;
}

.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td.today,
fieldset[disabled] .datepicker table tr td.today:hover,
fieldset[disabled] .datepicker table tr td.today.disabled,
fieldset[disabled] .datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover.disabled:hover,
.datepicker table tr td.today.disabled.disabled:hover,
.datepicker table tr td.today.disabled:hover.disabled:hover,
.datepicker table tr td.today[disabled]:hover,
.datepicker table tr td.today:hover[disabled]:hover,
.datepicker table tr td.today.disabled[disabled]:hover,
.datepicker table tr td.today.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td.today:hover,
fieldset[disabled] .datepicker table tr td.today:hover:hover,
fieldset[disabled] .datepicker table tr td.today.disabled:hover,
fieldset[disabled] .datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today:hover.disabled:focus,
.datepicker table tr td.today.disabled.disabled:focus,
.datepicker table tr td.today.disabled:hover.disabled:focus,
.datepicker table tr td.today[disabled]:focus,
.datepicker table tr td.today:hover[disabled]:focus,
.datepicker table tr td.today.disabled[disabled]:focus,
.datepicker table tr td.today.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td.today:focus,
fieldset[disabled] .datepicker table tr td.today:hover:focus,
fieldset[disabled] .datepicker table tr td.today.disabled:focus,
fieldset[disabled] .datepicker table tr td.today.disabled:hover:focus,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today:hover.disabled:active,
.datepicker table tr td.today.disabled.disabled:active,
.datepicker table tr td.today.disabled:hover.disabled:active,
.datepicker table tr td.today[disabled]:active,
.datepicker table tr td.today:hover[disabled]:active,
.datepicker table tr td.today.disabled[disabled]:active,
.datepicker table tr td.today.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td.today:active,
fieldset[disabled] .datepicker table tr td.today:hover:active,
fieldset[disabled] .datepicker table tr td.today.disabled:active,
fieldset[disabled] .datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today:hover.disabled.active,
.datepicker table tr td.today.disabled.disabled.active,
.datepicker table tr td.today.disabled:hover.disabled.active,
.datepicker table tr td.today[disabled].active,
.datepicker table tr td.today:hover[disabled].active,
.datepicker table tr td.today.disabled[disabled].active,
.datepicker table tr td.today.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.today.active,
fieldset[disabled] .datepicker table tr td.today:hover.active,
fieldset[disabled] .datepicker table tr td.today.disabled.active,
fieldset[disabled] .datepicker table tr td.today.disabled:hover.active {
    background-color: #ffdb99;
    border-color: #ffb733;
}

.datepicker table tr td.today:hover:hover {
    color: #000;
}

.datepicker table tr td.today.active:hover {
    color: #fff;
}

.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
    background: #eee;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
    color: #000;
    background-color: #f7ca77;
    border-color: #f1a417;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:focus,
.datepicker table tr td.range.today:hover:focus,
.datepicker table tr td.range.today.disabled:focus,
.datepicker table tr td.range.today.disabled:hover:focus,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.range.today,
.open .dropdown-toggle.datepicker table tr td.range.today:hover,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled:hover {
    color: #000;
    background-color: #f4bb51;
    border-color: #bf800c;
}

.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.range.today,
.open .dropdown-toggle.datepicker table tr td.range.today:hover,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled,
.open .dropdown-toggle.datepicker table tr td.range.today.disabled:hover {
    background-image: none;
}

.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td.range.today,
fieldset[disabled] .datepicker table tr td.range.today:hover,
fieldset[disabled] .datepicker table tr td.range.today.disabled,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today:hover.disabled:hover,
.datepicker table tr td.range.today.disabled.disabled:hover,
.datepicker table tr td.range.today.disabled:hover.disabled:hover,
.datepicker table tr td.range.today[disabled]:hover,
.datepicker table tr td.range.today:hover[disabled]:hover,
.datepicker table tr td.range.today.disabled[disabled]:hover,
.datepicker table tr td.range.today.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td.range.today:hover,
fieldset[disabled] .datepicker table tr td.range.today:hover:hover,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today.disabled:focus,
.datepicker table tr td.range.today:hover.disabled:focus,
.datepicker table tr td.range.today.disabled.disabled:focus,
.datepicker table tr td.range.today.disabled:hover.disabled:focus,
.datepicker table tr td.range.today[disabled]:focus,
.datepicker table tr td.range.today:hover[disabled]:focus,
.datepicker table tr td.range.today.disabled[disabled]:focus,
.datepicker table tr td.range.today.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td.range.today:focus,
fieldset[disabled] .datepicker table tr td.range.today:hover:focus,
fieldset[disabled] .datepicker table tr td.range.today.disabled:focus,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:focus,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today:hover.disabled:active,
.datepicker table tr td.range.today.disabled.disabled:active,
.datepicker table tr td.range.today.disabled:hover.disabled:active,
.datepicker table tr td.range.today[disabled]:active,
.datepicker table tr td.range.today:hover[disabled]:active,
.datepicker table tr td.range.today.disabled[disabled]:active,
.datepicker table tr td.range.today.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td.range.today:active,
fieldset[disabled] .datepicker table tr td.range.today:hover:active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today:hover.disabled.active,
.datepicker table tr td.range.today.disabled.disabled.active,
.datepicker table tr td.range.today.disabled:hover.disabled.active,
.datepicker table tr td.range.today[disabled].active,
.datepicker table tr td.range.today:hover[disabled].active,
.datepicker table tr td.range.today.disabled[disabled].active,
.datepicker table tr td.range.today.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.range.today.active,
fieldset[disabled] .datepicker table tr td.range.today:hover.active,
fieldset[disabled] .datepicker table tr td.range.today.disabled.active,
fieldset[disabled] .datepicker table tr td.range.today.disabled:hover.active {
    background-color: #f7ca77;
    border-color: #f1a417;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    color: #fff;
    background-color: #999;
    border-color: #555;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:focus,
.datepicker table tr td.selected:hover:focus,
.datepicker table tr td.selected.disabled:focus,
.datepicker table tr td.selected.disabled:hover:focus,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.selected,
.open .dropdown-toggle.datepicker table tr td.selected:hover,
.open .dropdown-toggle.datepicker table tr td.selected.disabled,
.open .dropdown-toggle.datepicker table tr td.selected.disabled:hover {
    border-color: #373737;
}

.datepicker table tr td.selected:hover color: #ffffff,
.datepicker table tr td.selected:hover:hover color: #ffffff,
.datepicker table tr td.selected.disabled:hover color: #ffffff,
.datepicker table tr td.selected.disabled:hover:hover color: #ffffff,
.datepicker table tr td.selected:focus color: #ffffff,
.datepicker table tr td.selected:hover:focus color: #ffffff,
.datepicker table tr td.selected.disabled:focus color: #ffffff,
.datepicker table tr td.selected.disabled:hover:focus color: #ffffff,
.datepicker table tr td.selected:active color: #ffffff,
.datepicker table tr td.selected:hover:active color: #ffffff,
.datepicker table tr td.selected.disabled:active color: #ffffff,
.datepicker table tr td.selected.disabled:hover:active color: #ffffff,
.datepicker table tr td.selected.active color: #ffffff,
.datepicker table tr td.selected:hover.active color: #ffffff,
.datepicker table tr td.selected.disabled.active color: #ffffff,
.datepicker table tr td.selected.disabled:hover.active color: #ffffff,
.open .dropdown-toggle.datepicker table tr td.selected color: #ffffff,
.open .dropdown-toggle.datepicker table tr td.selected:hover color: #ffffff,
.open .dropdown-toggle.datepicker table tr td.selected.disabled color: #ffffff,
.open .dropdown-toggle.datepicker table tr td.selected.disabled:hover color: #ffffff {
    background-color: #858585;
}

.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.selected,
.open .dropdown-toggle.datepicker table tr td.selected:hover,
.open .dropdown-toggle.datepicker table tr td.selected.disabled,
.open .dropdown-toggle.datepicker table tr td.selected.disabled:hover {
    background-image: none;
}

.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td.selected,
fieldset[disabled] .datepicker table tr td.selected:hover,
fieldset[disabled] .datepicker table tr td.selected.disabled,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover.disabled:hover,
.datepicker table tr td.selected.disabled.disabled:hover,
.datepicker table tr td.selected.disabled:hover.disabled:hover,
.datepicker table tr td.selected[disabled]:hover,
.datepicker table tr td.selected:hover[disabled]:hover,
.datepicker table tr td.selected.disabled[disabled]:hover,
.datepicker table tr td.selected.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td.selected:hover,
fieldset[disabled] .datepicker table tr td.selected:hover:hover,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected.disabled:focus,
.datepicker table tr td.selected:hover.disabled:focus,
.datepicker table tr td.selected.disabled.disabled:focus,
.datepicker table tr td.selected.disabled:hover.disabled:focus,
.datepicker table tr td.selected[disabled]:focus,
.datepicker table tr td.selected:hover[disabled]:focus,
.datepicker table tr td.selected.disabled[disabled]:focus,
.datepicker table tr td.selected.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td.selected:focus,
fieldset[disabled] .datepicker table tr td.selected:hover:focus,
fieldset[disabled] .datepicker table tr td.selected.disabled:focus,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover:focus,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected:hover.disabled:active,
.datepicker table tr td.selected.disabled.disabled:active,
.datepicker table tr td.selected.disabled:hover.disabled:active,
.datepicker table tr td.selected[disabled]:active,
.datepicker table tr td.selected:hover[disabled]:active,
.datepicker table tr td.selected.disabled[disabled]:active,
.datepicker table tr td.selected.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td.selected:active,
fieldset[disabled] .datepicker table tr td.selected:hover:active,
fieldset[disabled] .datepicker table tr td.selected.disabled:active,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected:hover.disabled.active,
.datepicker table tr td.selected.disabled.disabled.active,
.datepicker table tr td.selected.disabled:hover.disabled.active,
.datepicker table tr td.selected[disabled].active,
.datepicker table tr td.selected:hover[disabled].active,
.datepicker table tr td.selected.disabled[disabled].active,
.datepicker table tr td.selected.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.selected.active,
fieldset[disabled] .datepicker table tr td.selected:hover.active,
fieldset[disabled] .datepicker table tr td.selected.disabled.active,
fieldset[disabled] .datepicker table tr td.selected.disabled:hover.active {
    background-color: #999;
    border-color: #555;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #fff;
    background-color: #99CB51;
    border-color: #70A228;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    background-image: none;
}

.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td.active,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active.disabled,
fieldset[disabled] .datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover.disabled:hover,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active.disabled:hover.disabled:hover,
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active:hover[disabled]:hover,
.datepicker table tr td.active.disabled[disabled]:hover,
.datepicker table tr td.active.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active:hover:hover,
fieldset[disabled] .datepicker table tr td.active.disabled:hover,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active:hover.disabled:focus,
.datepicker table tr td.active.disabled.disabled:focus,
.datepicker table tr td.active.disabled:hover.disabled:focus,
.datepicker table tr td.active[disabled]:focus,
.datepicker table tr td.active:hover[disabled]:focus,
.datepicker table tr td.active.disabled[disabled]:focus,
.datepicker table tr td.active.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td.active:focus,
fieldset[disabled] .datepicker table tr td.active:hover:focus,
fieldset[disabled] .datepicker table tr td.active.disabled:focus,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active:hover.disabled:active,
.datepicker table tr td.active.disabled.disabled:active,
.datepicker table tr td.active.disabled:hover.disabled:active,
.datepicker table tr td.active[disabled]:active,
.datepicker table tr td.active:hover[disabled]:active,
.datepicker table tr td.active.disabled[disabled]:active,
.datepicker table tr td.active.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td.active:active,
fieldset[disabled] .datepicker table tr td.active:hover:active,
fieldset[disabled] .datepicker table tr td.active.disabled:active,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active:hover.disabled.active,
.datepicker table tr td.active.disabled.disabled.active,
.datepicker table tr td.active.disabled:hover.disabled.active,
.datepicker table tr td.active[disabled].active,
.datepicker table tr td.active:hover[disabled].active,
.datepicker table tr td.active.disabled[disabled].active,
.datepicker table tr td.active.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.active.active,
fieldset[disabled] .datepicker table tr td.active:hover.active,
fieldset[disabled] .datepicker table tr td.active.disabled.active,
fieldset[disabled] .datepicker table tr td.active.disabled:hover.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
}

.datepicker table tr td span:hover {
    background: #eee;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    color: #fff;
    background-color: #99CB51;
    border-color: #99CB51;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    background-image: none;
}

.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td span.active,
fieldset[disabled] .datepicker table tr td span.active:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover.disabled:hover,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active.disabled:hover.disabled:hover,
.datepicker table tr td span.active[disabled]:hover,
.datepicker table tr td span.active:hover[disabled]:hover,
.datepicker table tr td span.active.disabled[disabled]:hover,
.datepicker table tr td span.active.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td span.active:hover,
fieldset[disabled] .datepicker table tr td span.active:hover:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active:hover.disabled:focus,
.datepicker table tr td span.active.disabled.disabled:focus,
.datepicker table tr td span.active.disabled:hover.disabled:focus,
.datepicker table tr td span.active[disabled]:focus,
.datepicker table tr td span.active:hover[disabled]:focus,
.datepicker table tr td span.active.disabled[disabled]:focus,
.datepicker table tr td span.active.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td span.active:focus,
fieldset[disabled] .datepicker table tr td span.active:hover:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active:hover.disabled:active,
.datepicker table tr td span.active.disabled.disabled:active,
.datepicker table tr td span.active.disabled:hover.disabled:active,
.datepicker table tr td span.active[disabled]:active,
.datepicker table tr td span.active:hover[disabled]:active,
.datepicker table tr td span.active.disabled[disabled]:active,
.datepicker table tr td span.active.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td span.active:active,
fieldset[disabled] .datepicker table tr td span.active:hover:active,
fieldset[disabled] .datepicker table tr td span.active.disabled:active,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active:hover.disabled.active,
.datepicker table tr td span.active.disabled.disabled.active,
.datepicker table tr td span.active.disabled:hover.disabled.active,
.datepicker table tr td span.active[disabled].active,
.datepicker table tr td span.active:hover[disabled].active,
.datepicker table tr td span.active.disabled[disabled].active,
.datepicker table tr td span.active.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td span.active.active,
fieldset[disabled] .datepicker table tr td span.active:hover.active,
fieldset[disabled] .datepicker table tr td span.active.disabled.active,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.datepicker table tr td span.old,
.datepicker table tr td span.new {
    color: #999;
}

.datepicker th.datepicker-switch {
    width: 145px;
}

.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
    cursor: pointer;
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background: #eee;
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent;
}

.input-group.date .input-group-addon i {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.input-daterange .input-group-addon {
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border: solid #ccc;
    border-width: 1px 0;
    margin-left: -5px;
    margin-right: -5px;
}

.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    padding: 7px 10px;
}

.datepicker.dropdown-menu th,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.datepicker-inline td {
    padding: 0px 5px;
}

.datepicker thead tr:first-child th.prev:before,
.datepicker thead tr:first-child th.next:before {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 18px;
}

.datepicker thead tr:first-child th.prev:before {
    content: '\f104';
}