
body {
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #737373;
  font-size: 14px;
  line-height: 1.6em;
}
a {
  color: #ed8323;
  text-decoration: none;
  outline: none !important;
}
a:hover {
  color: #c96810;
  text-decoration: none;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul li {
  list-style: none;
}

/* buttons */

.btn {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  font-size: 13px;
}

.btn-green {
  background: #99CB51;
  color: #fff;
}

.btn-green:hover, .btn-green:focus{
  background: #84b63c;
}

.btn-primary {
  background: #ed8323;
  border-color: #e27513;
}

.btn-primary:hover {
  background: #e27513;
  border-color: #c96810;
}

.btn-primary-invert {
  background: #127cdc;
  border-color: #1070c6;
  color: #fff;
}

.btn-primary-invert:hover {
  color: #fff;
  background: #1070c6;
  border-color: #0e63b0;
}

.btn-paypal {
  background: #0079c1;
  color: #fff;
  border-color: #006dae;
}

.btn-paypal:hover {
  color: #fff;
  background: #006dae;
  border-color: #00619a;
}

.btn-ghost {
  background: none;
  border-width: 2px;
  padding: 7px 18px;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
 -o-border-radius: 0px;
  border-radius: 0px;
}

.btn-ghost.btn-primary {
  color: #ed8323;
}

.btn-ghost.btn-primary:hover {
  background: #ed8323;
}

.btn-ghost.btn-success {
  color: #5cb85c;
}

.btn-ghost.btn-success:hover {
  background: #5cb85c;
}

.btn-ghost.btn-info {
  color: #5bc0de;
}

.btn-ghost.btn-info:hover {
  background: #5bc0de;
}

.btn-ghost.btn-warning {
  color: #f0ad4e;
}

.btn-ghost.btn-warning:hover {
  background: #f0ad4e;
}

.btn-ghost.btn-danger {
  color: #d9534f;
}

.btn-ghost.btn-danger:hover {
  background: #d9534f;
}

.btn-ghost.btn-primary-invert {
  color: #127cdc;
}

.btn-ghost.btn-primary-invert:hover {
  background: #127cdc;
}

.btn-ghost:hover {
  color: #fff;
}

.btn-ghost.btn-default:hover {
  color: #454545;
}

.btn-ghost.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-ghost.btn-white:hover {
  background: #fff;
  color: #737373;
}

/* font weights */

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* alerts */

.alert-class {
    padding: 10px;
    float: left;
    width: 100%;
}

.alert-class-right {
    float: right;
    line-height: 25px;
}

.alert-class-left {
    float: left;
    width: 10%;
}

.alert-class-center {
  float: left;
  line-height: 25px;
  text-align: left;
}

.stop-pagescroll {
  height: 100%;
  overflow-y: hidden;
}
