/*YOUR CUSTOM STYLES*/
.top-user-area .top-user-area-list > li > a {
    text-decoration: none;
     font-family: "Roboto",​sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.top-user-area .top-user-area-list > li.becomeatraveler {
    padding-right: 3px;
    padding-left: 3px;
    border: 1px solid #F2F2F2 !important;
    line-height: 36px;
}

.top-user-area .top-user-area-list > li.becomeatraveler > a {
    background-color: #f2f2f2;
    padding: 8px;
    color: #2f2f2f;
}

/* POPUP */
#small-signup.mfp-dialog {
    max-width: 500px;
}

.jumbotron {
    background-color: transparent !important;
}

.mfp-dialog {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


.signup-or-separator {
    background: transparent none repeat scroll 0 0;
    height: 34px;
    position: relative;
    text-align: center;
}

.signup-or-separator-text {
    background-color: #FFF;
    display: inline-block;
    line-height: 34px;
    padding: 0 8px;
    margin: 0 auto;
}

.signup-or-separator hr {
    margin: -17px auto 10px;
    width: 90%;
}

#small-login .form-group .input-icon,#small-fp .form-group .input-icon, #small-signup .form-group .input-icon{
    top: 0;
}

#small-login .form-group.form-group-lg {
    margin-bottom: 8px;
}

/* Header */
.top-area {
    height: 600px;
}
.no-bg-color {
    background: transparent;
    width: 100%;
    min-height: 60px;
    padding: 10px;
}
.no-border {
    border-bottom: none !important;
}
.trep-toggler {
    display: none;
    background: #F4F4F4;
    overflow: hidden;
}
.trep-toggler .bg-video.hidden-sm.hidden-xs {
    width: 100%;
}

button.promo-close {
    overflow: visible;
    cursor: pointer;
    background: #262626;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    padding: 0;
    z-index: 10000;
}

.promo-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: fixed;
    right: 5px;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=65);
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
}

.promo-close:hover,.promo-close:focus {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.promo-close:active {
    top: 1px;
}

.promo-close-btn-in .promo-close {
    color: #333;
}

.mfp-image-holder .promo-close,.mfp-iframe-holder .promo-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

/*Additional Styles on 08 Aug 2016*/

/*.service-one{
    background: url(../img/svg/service-first-green.svg) no-repeat center #99cb51;
    display: inline-block;
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    fill: #fff;
}*/

body.inner-page-topSpace{
    padding-top:100px;
    
}
.services-icon{
    display: inline-block;    
    width: 200px;
    height: 200px;
    background: #99cb51;
    border-radius: 100%;
    margin-bottom: 20px;
      /* Firefox */
    -moz-transition: all 500ms ease-in;
    /* WebKit */
    -webkit-transition: all 500ms ease-in;
    /* Opera */
    -o-transition: all 500ms ease-in;
    /* Standard */
    transition: all 500ms ease-in;
    }
.services-icon svg{
    width: 200px;
    height: 200px;
    
}
.services-icon svg path{
      fill:#392b3a;
       /* Firefox */
    -moz-transition: all 500ms ease-in;
    /* WebKit */
    -webkit-transition: all 500ms ease-in;
    /* Opera */
    -o-transition: all 500ms ease-in;
    /* Standard */
    transition: all 500ms ease-in;
}
.services-icon:hover, .thumb:hover .services-icon{
     background: #392b3a;
}
.services-icon:hover > svg path, .services-icon:hover > svg:hover path, .thumb:hover .services-icon svg path{
    fill:#fff;
}
h5{
    font-size: 36px;
    font-weight: 800;
    color:#000;
    text-transform: uppercase;
  letter-spacing: 0.01em;
  -moz-transition: all 500ms ease-in;
    /* WebKit */
    -webkit-transition: all 500ms ease-in;
    /* Opera */
    -o-transition: all 500ms ease-in;
    /* Standard */
    transition: all 500ms ease-in;
    
}
.thumb:hover h5{
    color:#99cb51;
    
    
}

.thumb-caption{
    padding: 0 10%;    
}
.thumb a{
    color:#fff;
    display:inline-block;
    background: #878787;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
    text-transform: uppercase;
}
.thumb a:hover, .thumb:hover a{
    background: #99cb51;
}
.separate-line{
    width: 400px;
    margin: 40px auto 80px;
/*    border-bottom: 1px solid #000;*/
    text-align: center;
    position:relative;
}
.separate-line span{
    background: #fff;
    display: inline-block;
    padding: 0 20px;
    line-height: 20px;
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #878787;
    font-weight: 600;
/*    left: 115px;
    bottom: -10px;*/
}
.separate-line hr{
    position: absolute;
    z-index: 0;
    bottom:10px;
    margin: 0;
    padding: 0;
    width: 100%;
    border-color:#000;
    
}
footer#main-footer .social{
    float:left;
    width:90px;
    height:90px;    
}
footer#main-footer .social.fb{
     background: url(../img/social/fb-icon.png) no-repeat left top;    
}
footer#main-footer .social.gplus{
     background: url(../img/social/gplus-icon.png) no-repeat left top;    
}
footer#main-footer .social.twit{
     background: url(../img/social/twitter-icon.png) no-repeat left top;    
}
footer#main-footer .social.linked{
     background: url(../img/social/linkedin-icon.png) no-repeat left top;    
}
footer#main-footer .social.pinterest{
     background: url(../img/social/pinterest-icon.png) no-repeat left top;    
}
footer#main-footer .social.youtube{
     background: url(../img/social/youtube-icon.png) no-repeat left top;    
}

.features-caption{
    position: absolute;
    left:0;
    bottom:-60px;
    background: rgba(0, 0, 0, 0.8);
    color:#fff; 
    padding:10px;
    width:100%;
    text-align: center;
    
    transition-property: bottom;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}


.features-caption h3{
    font-size: 14px;
    letter-spacing: 0.05em;
     color:#fff;
     font-weight: normal;
     text-align: center;
     margin: 0;
}
.features-caption h3 span{
 color:#99cb51;
}

.feature-img{
    position: relative;
    overflow: hidden;
    border:1px solid #d7d7d7;    
}


.feature-img:hover .features-caption{
    bottom:0;
}


/* Main Footer*/
@media (max-width: 767px) {
    .no-bg-color {
    min-height: 120px;
    }
	#main-footer .list-social {
		text-align: center;
	}
	#main-footer .list-social > li {
		float: none !important;
		display: inline-block !important;
	}
}
/* Owl Carousel */
/* .top-area .owl-carousel-area .owl-item {  height: 600px;} */

.owl-cap{
    width:880px;
    display:inline-block;
    background: rgba(0,0,0,0.5);
    padding: 50px 20px;
    border-bottom: 12px solid #2381c4;
    
}
.owl-cap-title {
    line-height: 22px;
}

.owl-buttons {
    display: none;
}

.owl-controls .owl-pagination {
    margin-top:150px;
}

.owl-controls .owl-page {
    display: inline-block;
}

.owl-controls .owl-page span {
/*    opacity: .2;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
    filter: alpha(opacity=20);*/
    border: 2px solid #FFF;
    background: transparent;
}

.owl-controls .owl-page.active span {
    background: #99cb51;
    border-color: #99cb51;
}

.owl-controls.clickable .owl-page:hover span {
    background: #99cb51;
    border-color: #99cb51;
}

/* Home - Search */
.search-container-home {
    height: auto;
}

.search-bar-home {
    background:#99cb51;
	margin-top: 0px;
	padding: 25px;
	position: relative;
	z-index: 5;
       box-shadow: -1px -6px 5px rgba(0, 0, 0, 0.2); 
-webkit-box-shadow: -1px -6px 5px rgba(0, 0, 0, 0.2); 
-moz-box-shadow: -1px -6px 5px rgba(0, 0, 0, 0.2);
}

.search-bar-home  .input-lg, .search-bar-home  .btn-lg {
	font-size: 16px;
	height: 50px;
}
.search-bar-home  .btn-lg {
	padding: 10px 30px;
}
.search-bar-home #homesearch .form-group .input-icon{ top: 3px; }
.search-bar-home #homesearch input { border: transparent; margin: 0 6px 0 0; font-size: 14px; letter-spacing: 0.2px; font-weight: bold; }
.search-bar-home #homesearch input[type="text"] { border: transparent; border: 3px solid #8ebd4b;}
.search-bar-home #homesearch .bootstrap-select.btn-group { height: 44px; }
.search-bar-home #homesearch label.error {
    background: #fff;
    background: rgba(255,255,255,0.8);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
	white-space: nowrap;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 100%;
	width: 100%;
}
.search-bar-home #homesearch .bootstrap-select > .dropdown-toggle { background: #FFF; }

.search-bar-home #homesearch div.form-group{ float: left; }
.search-bar-home #homesearch input.btn { margin-left: 6px; background: #2181c5; color:#fff; text-transform:uppercase; height: 50px; -webkit-transition: all 2s; /* Safari 3.1 to 6.0 */ transition: all 1s;  }
.search-bar-home #homesearch input.btn:hover { background: #000;  }
.search-bar-home #homesearch input#origin { width: 250px; }
.search-bar-home #homesearch input#destination { width: 250px; }
/* .search-bar-home #homesearch select#trepservice { width: 185px; } */
.search-bar-home #homesearch input#date { width: 170px !important;}

.servicespackage, .servicesproject { display: none; }

#small-signup label.error {
    background: #D8D8D8;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
	white-space: nowrap;
    position: relative;
	width: 100%;
	height: 22px;
	padding-left: 7px;
	animation: fadeinDown 1s;
}
@keyframes fadeinDown {
  from { opacity: 0}
  to   { opacity: 1}
}


/* Vertical Tabs */

#rootwizard .tab-content {
    overflow: hidden;
}

/* Footer */
footer#main-footer {
    padding: 40px 0 0px 0;
}

footer .col-md-5,footer .copyright {
    text-align: center;
}

footer .copyright {
    font-size: 12px;
    color: #fff;
    padding: 20px 0;
}

.footer-links {
    font-size: 24px;
    position: relative;
    bottom: 0;
    display: inline-block;
    width: auto;
    border-top: 0px solid #E6E6E6;
    padding-top: 0px;
}

.footer-links > li:first-child {
    margin-left: 0;
}

.footer-links > li > a:hover {
    text-decoration: none;
}

footer .applogo img {
    width: 100px;
}

.user-profile-sidebar .user-profile-avatar i.fa {
    font-size: 80px;
}

@media (max-width: 992px) {
    .header-top {
        max-height: none;
    /* min-height: 225px; */
    }
    .thumb {
        margin-bottom: 100px;        
    }
    .bg-holder > .bg-img, .bg-holder > .bg-mask{
        top:60px;        
    }
  
}
@media (max-width: 1200px) {
    .search-bar-home #homesearch input#origin{
        width: 170px;
    }
    .search-bar-home #homesearch input#destination{
        width: 210px;
    }
}

/* CUSTOM */
#demo {
    position: absolute;
    top: 75%;
    left: 0;
    color: #FFF !important;
    font-size: 16px !important;
    font-family: roboto;
}

#bgimg {
    background-image: url(../img/backgrounds/header_lodyas.png);
}

/*----------------------------------------*/
/*       Tabs below,Left and right        */
/*----------------------------------------*/
.tabs-below>.nav-tabs,.tabs-right>.nav-tabs,.tabs-left>.nav-tabs {
    border-bottom: 0;
}

.tabs-below>.nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below>.nav-tabs>li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below>.nav-tabs>li>a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below>.nav-tabs>li>a:hover,.tabs-below>.nav-tabs>li>a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:hover,.tabs-below>.nav-tabs>.active>a:focus {
    border-color: transparent #ddd #ddd;
}

.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li {
    float: none;
}

.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs li:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #FFF;
    border-top: 20px inset transparent;
    content: "";
}

.tabs-left>.nav-tabs li.active:after {
    position: absolute;
    right: -1px;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-right: 20px solid #FFF;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2;
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 0 0 0 0;
    background: #EFEFEF;
    color: #333;
    padding: 10px 30px 10px 15px;
}

.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eee #ddd #eee #eee;
}

.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #fff;
}

.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus {
    color: #fff;
    background: #007ACC;
}

tabs-left>.nav-tabs .active>a:after,.tabs-left>.nav-tabs .active>a:after:hover,.tabs-left>.nav-tabs .active>a:after:focus {
    border-left-color: #007ACC;
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right>.nav-tabs>li>a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right>.nav-tabs>li>a:hover,.tabs-right>.nav-tabs>li>a:focus {
    border-color: #eee #eee #eee #ddd;
}

.tabs-right>.nav-tabs .active>a,.tabs-right>.nav-tabs .active>a:hover,.tabs-right>.nav-tabs .active>a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #fff;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper .nav .open > a,#wrapper .nav .open > a:hover,#wrapper .nav .open > a:focus {
    background-color: transparent;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    top: 60px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    /* padding-top: 70px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    position: absolute;
    top: 43px;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #62870E;
}

.sidebar-nav li:nth-child(10):before {
    background-color: #35acdf;
}

.sidebar-nav li:hover:before,.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 35px 10px 30px;
    text-align: right;
    font-weight: 300;
}

.sidebar-nav li a:hover,.sidebar-nav li a:active,.sidebar-nav li a:focus,.sidebar-nav li.open a:hover,.sidebar-nav li.open a:active,.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
    font: 0/0 a;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.sidebar-nav .user-profile-avatar {
    padding: 0 50px;
    margin: 10px 0;
}

.sidebar-nav .user-profile-avatar img {
    max-width: 120px;
    margin-bottom: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-nav .user-profile-avatar h5 {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    position: fixed;
    top: 70px;
	left: 55px;
    z-index: 9999;
    display: block;
    width: 22px;
    height: 20px;
    margin-left: 15px;
    background: transparent;
    border: 1px solid transparent;
}

.hamburger:hover,.hamburger:focus,.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,.hamburger.is-closed .hamb-middle,.hamburger.is-closed .hamb-bottom,.hamburger.is-closed .hamb-title,.hamburger.is-open .hamb-top,.hamburger.is-open .hamb-middle,.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-title {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,.hamburger.is-closed .hamb-middle,.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-title {
    top: 0;
	left: -50px;
	margin-top: -2px;
	text-transform: uppercase;
	color: #1a1a1a;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,.hamburger.is-open .hamb-middle,.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-title {
    background-color: #E8E8E8;
}

.hamburger.is-open .hamb-top,.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
	width: 15px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
	
	-webkit-transition-delay: .35s; /* Safari */
    transition-delay: .35s;
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
	
	-webkit-transition-delay: .35s; /* Safari */
    transition-delay: .35s;
}

.hamburger.is-open .hamb-title {
    top: 0;
	left: -50px;
	text-transform: uppercase;
	background: transparent;
	color: #E8E8E8;
	margin-top: -2px;
	-webkit-transform: rotate(360deg);
    -webkit-transition: all .35s ease-in-out;
	
	-webkit-transition-delay: .35s; /* Safari */
    transition-delay: .35s;
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}
button.hamburger.is-open{
	left: 180px;
	-webkit-transition-delay: .35s; /* Safari */
    transition-delay: .35s;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.20);
    z-index:1000;
}

/*-------------------------------*/
/*        wizard Form        */
/*-------------------------------*/
.bwizard-steps {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #fff;
}

.bwizard-steps .active {
    color: #fff;
    background: #007ACC;
}

.bwizard-steps .active:after {
    border-left-color: #007ACC;
}

.bwizard-steps .active a {
    color: #fff;
    cursor: default;
    text-decoration: none;
}

.bwizard-steps .label {
    position: relative;
    top: -1px;
    margin: 0 5px 0 0;
    padding: 1px 5px 2px;
}

.bwizard-steps .active .label {
    background-color: #333;
}

.bwizard-steps li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    padding: 12px 17px 10px 30px;
    *display: inline;
    *padding-left: 17px;
    background: #efefef;
    line-height: 18px;
    list-style: none;
    zoom: 1;
}

.bwizard-steps li:first-child {
    padding-left: 12px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.bwizard-steps li:first-child:before {
    border: none;
}

.bwizard-steps li:last-child {
    margin-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.bwizard-steps li:last-child:after {
    border: none;
}

.bwizard-steps li:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    border-top: 20px inset transparent;
    content: "";
}

.bwizard-steps li:after {
    position: absolute;
    right: -20px;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2;
}

.bwizard-steps a {
    color: #333;
}

.bwizard-steps a:hover {
    text-decoration: none;
}

.bwizard-steps.clickable li:not(.active) {
    cursor: pointer;
}

.bwizard-steps.clickable li:hover:not(.active) {
    background: #ccc;
}

.bwizard-steps.clickable li:hover:not(.active):after {
    border-left-color: #ccc;
}

.bwizard-steps.clickable li:hover:not(.active) a {
    color: #08c;
}

@media (max-width: 480px) {
    h2{
        font-size: 250% !important;
        
    }
    .separate-line{
        width: 90% !important;
        
    }
   
      .search-bar-home #homesearch input#origin, .search-bar-home #homesearch input#destination, .search-bar-home #homesearch input#date{
        width:100% !important;        
    }
  
    .search-bar-home #homesearch div.form-group{ float: left;width:100% !important;      }
    
    .search-bar-home #homesearch div.form-group-two{
        width:auto !important;
    }
    /* badges only on small screens */
    .bwizard-steps li:after,.bwizard-steps li:before {
        border: none;
    }

    .bwizard-steps li,.bwizard-steps li.active,.bwizard-steps li:first-child,.bwizard-steps li:last-child {
        margin-right: 0;
        padding: 0;
        background-color: transparent;
    }
}

/*-------------------------------*/
/*        verify-traveler        */
/*-------------------------------*/
.verify-traveler {
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15);
}

.verify-traveler > header {
    padding: 10px 15px;
    background: #f7f7f7;
}

.verify-traveler > header .verify-traveler-img {
    float: left;
    display: block;
    width: 30%;
    margin-right: 5%;
}

.verify-traveler > header .verify-traveler-title {
    font-size: 14px;
    margin-bottom: 0;
}

.verify-traveler > header .booking-item-rating-stars {
    font-size: 11px;
}

.verify-traveler .verify-traveler-details,.verify-traveler .list {
    list-style: none;
    margin: 0;
    padding: 15px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.verify-traveler .verify-traveler-details > li {
    margin-bottom: 7px;
    overflow: hidden;
}

.verify-traveler .verify-traveler-details > li:last-child {
    margin-bottom: 0;
}

.verify-traveler .verify-traveler-details > li .box-icon,.verify-traveler .verify-traveler-details > li [class^="box-icon-"],.verify-traveler .verify-traveler-details > li [class*=" box-icon-"] {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.list.verify-traveler-details > li .box-icon,.list.verify-traveler-details > li [class^="box-icon-"],.list.verify-traveler-details > li [class*=" box-icon-"] {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

p.verify-traveler-detail-item,p.verify-traveler-detail-item-value,p.verify-traveler-detail-verify {
    margin-bottom: 5px;
    line-height: 1em;
}

p.verify-traveler-detail-item,p.verify-traveler-detail-item-value,p.verify-traveler-detail-verify {
    font-size: 14px;
}

p.verify-traveler-detail-item-value {
    font-size: 13px;
}

p.verify-traveler-detail-verify {
    text-align: center;
}

/*-------------------------------*/
/*  horizontal definition list   */
/*-------------------------------*/
.service-description > dt,.service-description > dd {
    padding-left: 5px;
    padding-right: 5px;
}

.service-description > dt {
    width: 40%;
}

.service-description > dd {
    margin-left: 40%;
    padding-left: 20px;
}

/*-------------------------------*/
/*  HoverCard   */
/*-------------------------------*/
.g-hover-card {
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    padding-top: 0;
    overflow: hidden;
    margin-bottom: 40px;
}

.g-hover-card img {
    width: 280px;
    height: 135px;
}

.g-hover-card .user-avatar {
    position: relative;
    top: 0;
    margin-bottom: 0;
}

.g-hover-card .user-avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 15px;
}

.g-hover-card .info {
    padding: 4px 8px;
}

.g-hover-card .info .title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.g-hover-card .info .description {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.g-hover-card .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.g-hover-card .bottom span.fa {
    font-size: 8px;
}

/*Colored Content Boxes-------------------------*/
.cus-shadow {
    -moz-box-shadow: 0 0 3px #CCC;
    -webkit-box-shadow: 0 0 3px #CCC;
    box-shadow: 0 0 3px #CCC;
    display: inline-block;
}

.cus-shadow span.tra-date {
    font-size: 18px;
    font-weight: 600;
    font-family: roboto;
    padding: 18px;
    float: left;
}

.servive-block {
    padding: 20px 30px;
    margin-bottom: 0;
    display: inline-block;
    width: 215px;
}

.servive-block-dark-blue {
    background: #127CDC;
}

.servive-block h5 {
    color: #fff;
    margin: 0 0 0 10px;
    float: left;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
}

.servive-block h5 a:hover {
    text-decoration: none;
}

/*  Boxes-------------------------*/
.graybox {
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-family: Roboto,sans-serif;
}

.graybox .calendar-daily {
    height: 130px;
    text-align: center;
    padding: 35px 15px 0;
}

.graybox .calendar-daily .title {
    font-size: 52px;
    font-weight: 500;
    color: #40474D;
    line-height: 33px;
    font-family: "Roboto",​sans-serif;
    margin: 0;
    display: inline-block;
}

.graybox .calendar-daily .subtitle {
    font-size: 18px;
    font-weight: 300;
    display: block;
}

.graybox .graybox-heading {
    height: 130px;
    text-align: center;
    padding: 30px 15px;
    float: left;
}

.graybox-footer {
    height: 30px;
    padding: 0;
    background-color: #EEE;
    color: #565656;
    clear: both;
    float: none;
}

.graybox-footer-calendar {
    background-color: #127cdc;
    color: #FFF;
    text-align: center;
}

.graybox-footer .sixty-present {
    float: left;
    width: 60%;
}

.graybox-footer .forty-present {
    float: left;
    width: 40%;
}

.graybox-footer .sixty-present span,.graybox-footer .forty-present span {
    font-size: 14px !important;
}

.graybox .graybox-footer span {
    line-height: 30px;
    font-size: 18px;
    padding: 0 15px;
}

.fromto {
    display: block;
    float: left;
    text-align: left;
}

.head-tag {
    line-height: 30px;
    font-size: 14px;
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 0;
    padding: 0 10px 0 7px;
    background-color: #127cdc;
    text-transform: uppercase;
    color: #FFF;
    zoom: 1;
}

.head-tag .fa {
    margin-right: 3px;
}

.head-tag:after {
    position: absolute;
    right: -5px;
    top: 25%;
    height: 0;
    width: 0;
    border-bottom: 5px inset transparent;
    border-left: 5px solid #127cdc;
    border-top: 5px inset transparent;
    content: "";
    z-index: 2;
}

.graybox .graybox-right-col {
    height: 130px;
    text-align: center;
    padding: 0 15px;
    float: right;
}

.graybox .graybox-right-col .amount {
    font-size: 77px;
    font-weight: 500;
    color: #40474D;
    line-height: normal;
    font-family: "Roboto",​sans-serif;
    margin: 0;
    display: inline-block;
    letter-spacing: -5px;
}

.graybox .graybox-right-col .currency {
    font-size: 20px;
    font-weight: 400;
    display: block;
}

.graybox .graybox-wrap {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(18,124,220,0.5);
    padding: 5px 7px;
    font-size: 13px;
    line-height: 1em;
}

.graybox .graybox-wrap-success {
    background: #5CB85C;
}

.graybox .graybox-wrap-warning {
    background: #F0AD4E;
}

.graybox .graybox-wrap-danger {
    background: #D9534F;
}

/*  Notifications-------------------------*/
.nav-drop a.notification {
    background-color: #333;
    display: block;
    height: 40px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.nav-drop a.notification:hover {
    color: #FFF !important;
}

.nav-drop a.notification .fa {
    font-size: 15pt;
}

.notification-drop {
    padding-left: 10px;
    margin-left: 10px;
}

.notification-drop.active-drop > .nav-drop-menu {
    -webkit-transform: translate3d(0,10px,0);
    -moz-transform: translate3d(0,10px,0);
    -o-transform: translate3d(0,10px,0);
    -ms-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

.notification-drop.active-drop > #notificationContainer {
    height: auto;
    overflow: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100,100,100,.4);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
    width: 400px;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    right: -5px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0,10px,0);
    -moz-transform: translate3d(0,10px,0);
    -o-transform: translate3d(0,10px,0);
    -ms-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s,-webkit-transform .3s;
    -moz-transition: opacity 0.3s,-moz-transform .3s;
    -o-transition: opacity 0.3s,-o-transform .3s;
    -ms-transition: opacity 0.3s,-ms-transform .3s;
    transition: opacity 0.3s,transform .3s;
}

/*  Popup Arrow -------------------------*/
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #000;
    border-color: transparent transparent #fff;
    margin-top: -20px;
/* margin-left: 188px; */
    right: 37px;
}

#notificationTitle {
    font-weight: 700;
    padding: 8px;
    font-size: 13px;
    background-color: #fff;
    z-index: 1000;
/* width: 398px;
	position: fixed; */
    border-bottom: 1px solid #ddd;
}

#notificationsBody {
    padding: 33px 0 0 !important;
    min-height: 300px;
}

#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: 700;
    padding: 8px;
    font-size: 13px;
    border-top: 1px solid #ddd;
}

#notificationFooter a {
    color: #3b5998;
}

#notification_count {
    background-color: #c00;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: -5px;
    width: 20px;
	cursor: pointer;
}

.nav-tabs > li.active > a::before {
    height: 4px !important;
}

.nav-tabs > li.active > a {
    border: none !important;
}

.nav-tabs > li.active > a::before {
    background-color: #aaa;
    bottom: -1px;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transition: .2s ease height;
    -moz-transition: .2s ease height;
    -o-transition: .2s ease height;
    transition: .2s ease height;
    z-index: 1;
}

.circle-media {
    margin-top: 15px !important;
    margin-right: 20px !important;
}

.circle-media .media-heading a {
    color: #aaa;
}

#mytrip-table > tbody > tr > td {
    vertical-align: middle;
	height: 45px;
}
#mytrip-table > tbody > tr > td.fromdest, #mytrip-table > tbody > tr > td.toorigin {
    font-weight: bold;
}
/*============ Icon Lists ============ */

.iconlist {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.iconlist li {
	padding: 0px;
	margin: 0 0 15px 0;
	display: block;
	line-height: 23px;
}
.iconlist li i {
	color: #fd602c;
	padding: 0 15px 0 0;
}
.iconlist.orange li i, .iconlist.orange li a {
	color: #fd602c;
}
.iconlist.red li i, .iconlist.red li a {
	color: #ed3325;
}
.iconlist.pink li i, .iconlist.pink li a {
	color: #f51f6f;
}
.iconlist.yellow li i, .iconlist.yellow li a {
	color: #ffc000;
}
.iconlist.blue li i, .iconlist.blue li a {
	color: #1fbef0;
}
.iconlist.green li i, .iconlist.green li a {
	color: #8ac700;
}
.iconlist.dark li i, .iconlist.dark li a {
	color: #161616;
}
.iconlist.medium li i, .iconlist.medium li a {
	color: #727272;
}

.iconlist.green li i, .iconlist.green li a {
	color: #8ac700;
}

/* ======  ====== tooltip ======  ====== */
.tooltip-large + .tooltip > .tooltip-inner {
    background-color: #fff; 
    color: #000; 
    border: 1px solid #dddddd; 
	max-width: 650px !important;
	padding: 10px;
}
.tooltip-large + .tooltip > .tooltip-inner a { 
	font-size: 14px;
	color: #333;
	font-weight: bold;
	padding: 5px;
}
.tooltip-large + .tooltip.top > .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #CCC
}
.tooltip-large + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #CCC;
}
.tooltip-large + .tooltip.bottom > .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #CCC;
}
.tooltip-large + .tooltip.right > .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #CCC;
}
@media (max-width: 767px) {
	.modal-dialog {
		  width: 100%;
		  height: 100%;
		  padding: 0;
		  margin:0;
	}
	.modal-content {    
		  height: 100%;
		  border-radius: 0;
		  overflow:auto;
	}
        
         .bg-holder > .bg-img, .bg-holder > .bg-mask{
        top:120px !important;        
    }
    footer .col-md-5,footer .copyright {
    text-align: left;
}
}

@media (max-width: 346px) {
    .bg-holder > .bg-img, .bg-holder > .bg-mask{
        top:168px !important;        
    }
    
    footer#main-footer .social{
        width:85px;
        height: 85px;
    }
}


hr.title-border{
	border-top: 1px solid #999;
	margin: 10px auto 20px;
	width: 75px;
}

/* ================= */

.noresize { resize: none; }
.vresize { resize: vertical; }
.hresize { resize: horizontal; }

/* ================= */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlayeffect {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 170px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#rolebtn .btn{ 
	text-transform: uppercase;
}
.rolebtn-addon{
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #66CC33;
	text-align: center;
	background-color: #FFF;
	border: 1px solid #FFF;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	z-index: 5;
	width: 24px;
	height: 24px;
	left: 187px;
	top: 9px;
}
#rolebtn .btn-group:hover .rolebtn-addon{
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear; 
}
#seekerbutton, #travellerbutton{
	color: #FFF;
    font-size: 16px;
    width: 200px;
	margin: 0;
	outline: 0;
    font-family: roboto;
    font-weight: 400;
	box-shadow: 0 5px 0 #DDD;
	transition: all .1s linear;
}
#seekerbutton:hover, #travellerbutton:hover {
	/* box-shadow: 0 5px 0 #DDD;
	transform: translateY(3px); */
	border-bottom: 5px solid #000;
	border-top:5px solid transparent;
    border-bottom:5px solid transparent;
}
#seekerbutton{
	background-color: #66CC33;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
}
#travellerbutton{
	background-color: #00548b;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

output div.proimg{
	position: relative;
    min-height: 100%;
    display: inline-block;
}
output div.proimg button.close{
    background: #0C0C0C;
    border: 0;
    color: #FFF;
    opacity: 1;
    top: -2px;
    right: 5px;
    position: absolute;
    width: 13px;
    border-radius: 100%;
    font-weight: normal;
    font-size: 13px;
    z-index: 4;
}
.btn-camera{
	min-width: 100%;
	border: 1px solid #CCC;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

