@charset "utf-8";
/* CSS Document */
body
{
	font-family: 'Montserrat', sans-serif !important;
}
img
{
	max-width: 100%;
	height: auto;
}
.trepr-nav
{
	background-color: #2382c5 !important;
	border-color: transparent !important;
	width: 100%;
	float: left;
	display: inline-block;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	z-index: +999;
}
.trepr-nav-grp
{
	display: inline-block;
	float: left;
	width: 65%;
}
.trepr-nav-grp > .logo-img
{
	display: inline-block;
	float: left;
	width: auto;
	padding: 10px 0px;
	height: auto;
}
.bg-header
{
/*background-color: #2382c5;
	border: none;
	padding: 17px 0px;
	margin-bottom: 0px;*/
}
.bg-footer
{
	margin-bottom: 0px !important;
}
.nav-padd li
{
	margin-left: 10px;
}
.button-img-header
{
	background-color: #68e87f !important;
	border: none;
	border-radius: 5px;
	float: right;
	/*margin-right: 0px;*/
	margin-top: 20px;
	/*margin-right: -60px;*/
	margin-right: -130px;
}
.button-img-header img
{
	border-right: 1px solid #FFF;
	float: left;
	width: 40px;
	height: 40px;
}
.button-img-header p
{
	display: inline-block;
	float: left;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	padding: 10px;
}
.nav-padd li a
{
	color: #FFF !important;
	font-size: 15px;
	font-weight: 600px;
}
.trepr-nav-collapse ul li a
{
	color: #FFF !important;
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	background-color: transparent !important;
	padding-right: 0px;
}
.trepr-nav-collapse ul li select
{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: transparent !important;
	border-color: transparent !important;
	color: white !important;
	font-size: 16px;
	font-weight: 600;
	margin-top: 2px;
	cursor: pointer;
}
.trepr-nav-collapse ul li .caret
{
	display: inline-block;
/*	position: absolute;
	right: 10px;
	bottom: 20px;*/
	color: white;
}
.content-booking-trepr
{
	display: inline-block;
	float: left;
	margin-top: 40px;
}
/*.nav-style li a
{
	color: #FFF !important;
	font-size: 15px;
	font-weight: 600px;
}*/
.trepr-nav-toggle
{
}
.trepr-nav-collapse
{
	float: right;
	width: auto !important;
	padding-top: 20px;
	padding-right: 0px !important
}
.trepr-nav-collapse ul
{
	display: inline-block;
	float: left;
}
.trepr-nav-collapse ul li
{
	float: left;
	display: inline-block;
}
.bg-img-full
{
	/*background: url(images/bg_02.png) no-repeat;*/
	display: inline-block;
	float: left;
	width: 100%;
	height: 79vh; /*
	background-size: cover;*/
	padding: 0px !important;
	position: relative;
}
.bg-img-full trepr-bg-banner-img
{
}
.trepr-bg-banner-img
{
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}
.trepr-bg-banner-img img
{
	width: 100%;
	height: 100%;
	max-width: 100%;
}

.button-bg-one
{
	text-align: center;
	display: inline-block;
	float: left;
	width: auto;
	background-color: transparent !important;
	border-color: transparent !important;
}
.button-bg-img button
{
	background: #3a3a3a;
	border: 3px solid white;
	color: #FFF;
	border-radius: 10px 10px 0px 0px;
	font-size: 16px;
	font-weight: 400;
	border-bottom: none !important;
}
.button-bg-img button:hover
{
	background: #40bb56;
}
.b-treprnbtn >.b-treprn
{
	background: #3a3a3a;
	border: 3px solid white;
	color: #FFF;
	border-radius: 10px 10px 0px 0px;
	font-size: 16px;
	font-weight: 400;
	border-bottom: none !important;
}
.b-treprnbtn >.b-treprn:hover
{
	background:#99c84d;
	border-color: #fff !important;
}
.b-treprn img
{
	float: left;
	max-width: 100%;
	height: auto;
	display: inline-block;
}
.b-treprn p
{
	display: inline-block;
	float: right;
	width: auto;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	color: white;
	padding-top: 18px;
	margin-left: 20px;
	margin-bottom: 0px;
}
.button-bg-img
{
/*padding-top: 317px;*/
}
.button-bg-two
{
	text-align: center;
	display: inline-block;
	float: left;
	width: auto;
	background-color: transparent !important;
	border-color: transparent !important;
}
.button-bg-three
{
	text-align: center;
	display: inline-block;
	float: left;
	width: auto;
	background-color: transparent !important;
	border-color: transparent !important;
}
.trepr-heading-booking
{
	/*padding-top: 150px !important;*/
	padding-top: 340px !important;
}
.trepr-heading-booking h1
{
	color: white !important;
	font-size: 50px;
	font-weight: 600;
	text-transform: capitalize;
	margin: 20px 0px;
	/*padding-bottom: 20px;*/
}
.trepr-heading-booking a
{
	background-color: transparent !important;
	border-radius: 0px;
	font-size: 20px;
	font-weight: 400;
	/*color: white !important;*/
	/*border: 2px solid white !important;*/

	color: #3a3a3a !important;
	border: 2px solid #3a3a3a !important;

	padding: 10px 20px !important;
	text-decoration: none !important;
	/*margin-top: 20px;
	margin-bottom: 20px;*/
	margin-top: 10px;
margin-bottom: 10px;
}
.button-bg-img button p
{
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	float: left;
	display: inline-block;
	padding-left: 10px;
	padding-top: 15px;
}
.button-bg-img button img
{
	float: left;
	max-width: 100%;
	height: auto;
}
.booking-list-content
{
	display: inline-block;
	width: auto;
	background-color: transparent !important;
	border-color: transparent !important;
}
.button-bg-img
{
	height: 65px;
}
.airport
{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #ccc !important;
}
.airport-Destination
{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #ccc !important;
}
.feater12-full {

    background: rgba(235, 244, 219,0.6);
    display: inline-block;
    float: left;
    width: 100%;

}
.trap-whit
{
	background-color: rgba(255,255,255,.5);
	font-size: 14px;
	margin-bottom: 30px;
}
.text-white
{
	padding: 28px 0px;
}
.date
{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #ccc !important;
	-moz-appearance: none !important;
	appearance: none !important;
	-webkit-appearance: none !important;
}
.text-white button
{
	background-color: #fa0303 !important;
	color: white !important;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	border: none;
	padding: 10px !important;
	display: inline-block;
	float: right;
	width: 150px;
}
.text-white button img
{
	padding: 0px 10px;
	float: left;
	display: inline-block;
}
.text-white button p
{
	display: inline-block;
	float: left;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
}
.trepr-flightbooking
{
	padding: 0px !important;
	/*margin: 30px 0px;*/
	margin: 0px 0px;
}
.center-text
{
	text-align: center !important;
	background-size: cover;
}
.mid-bg-img
{
	background: url(images/bg-mid_02.png) center top no-repeat !important;
	background-size: cover;
	display: inline-block;
	float: left;
	width: 100%;
	padding-left: 0px !important;
padding-right: 0px !important;
}
.center-text span
{
	display: inline-block;
	float: left;
}
.center-text h4
{
	display: inline-block;
	float: left;
	margin: 1px 10px 10px 10px;
	font-size: 14px;
	font-weight: 600;
	color: #9da7b0;
	text-transform: uppercase;
}
.center-text h1
{
	font-size: 46px;
	font-weight: 300;
	margin-bottom: 5px;
	margin-top: 10px;
}
.center-par
{
	width: 900px;
	display: inline-block;
	margin: 10px 0px;
}
.center-par p
{
	font-size: 14px;
	font-weight: 400;
	color: #cacaca;
	line-height: 27px;
}
.best
{
	text-align: center;
	min-height: 570px !important;
	transition: 0.5s all;
}
.best span
{
	width: 100%;
	display: inline-block;
	float: left;
	margin: 20px 0px;
	text-align: center;
	transition:0.5s all;
	padding: 10px;
}
.best span:hover {

    transform: scale(1.08);

}
.best span img
{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.centerbest
{
	display: inline-block;
}
.best h3
{
	color: #2382c5;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
}
.best img
{
	max-width: 100%;
	height: auto;
}
.best p
{
	font-weight: 400;
	color: #cacaca;
	line-height: 27px;
	font-size: 13px;
}
.best1 h3
{
	color: #2382c5;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
}
.best1 p
{
	font-weight: 400;
	color: #cacaca;
	line-height: 27px;
	font-size: 13px;
}
.best1 button
{
	border: none;
	background-color: #99c84d;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	padding: 9px 21px;
	margin-top: 15px;
}
.best button
{
	border: none;
	background-color: #99c84d;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	padding: 9px 21px;
	margin-top: 15px;
}
.featers
{
	text-align: center;
	border: 1px solid #9b9b9b;
	min-height: 230px !important;
	padding: 20px 0px !important;
	margin: 10px;
	width: 310px !important;
	float: none !important;
	display: inline-block;
}
.featers h3
{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
}
.featers p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
.feater12
{
	text-align: center;
}
.centerbest1
{
	display: inline-block;
	padding-bottom: 20px;
}
.featers1 h3
{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
}
.featers1 p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
.featers1 img
{
	padding-bottom: 12px;
}
.featers1
{
	border: 1px solid #9b9b9b;
	padding: 35px 0px 0px 0px;
	width: 31%;
	margin: 1%;
}
.morefeatures {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.last-button-center
{
	background-color: #8cbb40;
	color: #000;
	border-radius: 5px;
	text-transform: uppercase;
	border: none;
	font-size: 20px;
	font-weight: 400;
	padding: 10px 25px;
}
.bgcolor
{
	background-color: #022962;
	display: inline-block;
	float: left;
	width: 100%;
}
.bgcolor h3
{
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.quick li a
{
	text-decoration: none;
	color: rgba(238,238,238,0.6);
}
.user p
{
	color: rgba(238,238,238,0.6);
	font-size: 14px;
	font-weight: 400;
}
.quick li
{
	list-style: none;
	padding: 8px 0px;
	font-size: 13px;
	width: 100%;
	display: inline-block;
}
.tool li
{
	list-style: none;
	padding: 8px 0px;
	font-size: 13px;
	width: 100%;
	display: inline-block;
}
.tool li a
{
	text-decoration: none;
	color: rgba(238,238,238,0.6);
}
.quick
{
	padding-left: 0px;
}
.tool
{
	padding-left: 0px;
}
.banner-flightcontent
{
	background: url(images/freeairtictket-banner_02.png) top center no-repeat;
	background-size: contain;
	width: 100%;
	display: inline-block;
	float: left;
	position: relative;
	padding: 40px 15px;
	height: 630px;
}

.slide-flight-content span
{
	display: inline-block;
}
.slide-flight-content span img
{
	max-width: 100%;
	height: auto;
}
.slide-flight-content h3
{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #0097ee;
}
.slide-flight-content p
{
	font-size: 16px;
	font-weight: 300;
	color: #6c6c6c;
	display: inline-block;
	width: 800px;
}
.slide-flight-content
{
	display: inline-block;
	float: left;
	width: 100%;
	text-align: center;
/*	margin: 20px 0px;*/
margin: 0px 0px;
	position: relative;
}
.slide-arrow
{
	display: inline-block;
	float: left;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 150px;
}
.slide-arrow > a
{
	display: inline-block;
}
.slide-arrow > a img
{
	max-width: 100%;
	height: auto;
}
.slide-flight-content span
{
	display: inline-block;
	text-align: center;
}
.slide-flight-content h4
{
	color: #0097ee;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slide-flight-content h5
{
	color: #848484;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.btn.btn-default.sign-trepr
{
	color: #0097ee !important;
	font-size: 15px;
	font-weight: 600;
	padding: 7px 20px;
	border-radius: 4px;
	background-color: white !important;
	text-transform: uppercase;
	margin-top: 10px;
	border-color: transparent !important;
	width: 120px;
}
.btn.btn-default.sign-trepr1
{
	color: #1c1c1c !important;
	font-size: 15px;
	font-weight: 600;
	padding: 7px 20px;
	border-radius: 4px;
	background-color: #99c84d !important;
	text-transform: uppercase;
	margin-top: 10px;
	border-color: transparent !important;
	width: 120px;
}
.country select
{
	display: inline-block;
	float: left;
	background-color: #4e6a91;
	border-color: transparent !important;
	color: white !important;
	font-size: 13px;
	font-weight: 300;
	text-transform: capitalize;
}
.country h3
{
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	float: left;
	width: 100%;
}
.group-trepr
{
	display: inline-block;
	float: left;
	width: 100%;
	margin: 15px 0px;
	position: relative;
}
#mail-img
{
	display: inline-block;
	float: left;
/*	background-color:#eeeeee;
	color:#2382c5;
	padding:11px;*/
}
.group-trepr input
{
	float: left;
	display: inline-block;
	width: 85px;
	height: 36px;
	border-radius: 0px;
	font-size: 7px;
}
#share-img
{
	display: inline-block;
	float: left;
	/*background-color: #40bb56 !important;
	padding:11px;
	color:#555555;*/
}
.subscribe {

}
.subscribe ul
{
	display: inline-block;
	float: left;
	list-style: none;
	width: 100%;
	padding-left: 0px;
}
.subscribe ul li
{
	float: left;
	display: inline-block;
	margin: 5px 2px;
}

.subscribe ul li a {

    display: inline-block;
    float: left;

}
.bg-brd-top
{
	border-top: 1px solid #4e6a91;
	padding-top: 20px;
	padding-bottom: 20px;
}
.subscribe1
{
}
.subscribe1 p
{
	display: inline-block;
	float: left;
	margin-bottom: 0px;
	padding: 10px 0px;
}
.subscribe1 p a
{
	color: rgba(255,255,255,0.6);
	font-size: 12px;
	font-weight: 400;
}
.subscribe1 ul
{
	list-style: none;
	float: right;
	display: inline-block;
	padding-left: 0px;
}
.subscribe1 ul li
{
	display: inline-block;
	padding: 0px 3px;
	width: 50px;
}
.subscribe1 ul li a
{
	display: inline-block;
}


.trepr-content-help
{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 87px;
	background-color: rgba(20, 78, 100,0.63);
	padding: 20px;
	width: 360px;
}
.trepr-help
{
	display: inline-block;
	float: left;
	text-align: center;
	width: 100%;
	position: relative;
}
#close-rule
{
	position: absolute;
	right: -20px;
	top: -29px;
	font-size: 20px;
	font-weight: lighter;
	background-color: rgba(165, 213, 87,0.9);
	color: white;
	padding: 10px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	z-index: +9;
}
.trepr-help h3
{
	display: inline-block;
	text-align: left;
	width: 100%;
	border-bottom: 2px solid #4ebabb;
	padding-bottom: 20px;
}
.trepr-help h3 a
{
	color: white;
	font-size: 20px;
	font-weight: 400;
}
.list-trepr-help
{
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
	border: 1px solid #f8f0e2;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}
.list-trepr-help span
{
	display: inline-block;
	float: left;
	width: 20px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
}
.list-trepr-help input
{
	display: inline-block;
	float: left;
	width: 90%;
	border-radius: 0px;
	border-color: transparent !important;
	box-shadow: none !important;
	background-color: transparent !important;
	color: white !important;
}
.list-content-ofhelp
{
	display: inline-block;
	float: left;
	width: 100%;
	text-align: left;
	min-height: 60vh;
}
.list-content-ofhelp h5
{
	color: white;
	display: inline-block;
	float: left;
	font-size: 15px;
	font-weight: 600;
	width: 100%;
}
.list-content-ofhelp ul
{
	display: inline-block;
	float: left;
	padding-left: 0px;
	list-style: none;
	width: 100%;
}
.list-content-ofhelp ul li
{
	display: inline-block;
	float: left;
	width: 100%;
	padding: 5px 5px;
	background-color: rgba(35, 130, 197,0.7);
	box-shadow: 0px 0px 10px #3a3a3a;
	margin: 5px 0px;
	transition: 0.3s all;
}
.list-content-ofhelp ul li a
{
	display: inline-block;
	float: left;
	width: 100%;
	color: white;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none !important;
}
.list-content-ofhelp ul li a span
{
	float: right;
}
.list-content-ofhelp ul li:hover
{
	transform: scale(1.08);
}

.best-center-grp.center-text {

    display: inline-block;
    width: 100%;
    margin: 5px 0px;

}
.best-grrp-conent
{
	/*margin: 30px 0px;*/
	margin: 5px 0px;
}
.b-treprnbtn {

    margin: 0px 10px;

}
.trepr-nav-collapse ul li ul {

    width: 100%;

}

.trepr-nav-collapse ul li ul {

    background-color: rgba(35, 130, 197,0.5);
    margin-top: 17px !important;
	display: none;

}
.trepr-nav-collapse ul li ul li {

    width: 100%;
    border-bottom: 1px solid white;

}
.trepr-nav-collapse ul li ul li:last-child {

    border-bottom: 0px solid white;

}
.trepr-nav-collapse ul li ul li a {

    background-color: transparent !important;
    display: inline-block;
    float: left;
    width: 100%;

}
.trepr-nav-collapse ul li ul li a:hover {

    color: #76bb05 !important;

}
