@charset "utf-8";
/* CSS Document */





@media only screen and (max-width: 1680px) {


    .trepr-heading-booking {
        padding-top: 300px !important;
    }



    .banner-flightcontent {
        background-size: cover !important;
    }

}

@media only screen and (max-width: 1600px) {
    .trepr-heading-booking {
        padding-top: 200px !important;
    }

    .bg-img-full {
        height: 76vh;
    }
}

@media only screen and (max-width: 1590px) {
}

@media only screen and (max-width: 1520px) {


    .list-content-ofhelp {
        min-height: 35vh;
    }



    .center-text h1 {

    }

    .best-center-grp.center-text {

        display: inline-block;
        width: 100%;
        margin: 0px 0px;

    }

    .banner-flightcontent {
        height: 449px;

    }


}

@media only screen and (max-width: 1366px) {
    .trepr-heading-booking {
        padding-top: 50px !important;
    }

    .bg-img-full {
        height: 67vh;
    }
}

@media only screen and (max-width: 1300px) {
    .trepr-heading-booking {

        padding-top: 20px !important;

    }

    .banner-flightcontent {

        height: 407px;

    }

    .banner-flightcontent {

        height: 394px;

    }

}



@media only screen and (max-width: 1199px) {
    .button-img-header {
        margin-right: -110px;
    }

    .bg-img-full {
        width: 100%;
        height: 602px;
    }

    .group-trepr input {
        width: 155px;
    }

    .trepr-nav-grp {

        display: inline-block;
        float: left;
        width: 60%;

    }



    .button-bg-two {
        margin-right: 10px;

    }

    .center-par {

        width: 100%;
        display: inline-block;
        margin: 10px 0px;

    }


    .date {
        font-size: 12px;
        padding-right: 5px;
    }

    .airport-Destination {
        font-size: 12px;
    }

    .airport {
        font-size: 12px;
    }

    .text-white button {
        width: auto;

    }

    .text-white button img {
        width: 40px;

    }

    .text-white button p {
        font-size: 12px;
    }

}

@media only screen and (max-width: 1120px) {


    .banner-flightcontent {

        height: 357px;

    }
}

@media only screen and (max-width: 1065px) {


    .banner-flightcontent {

        height: 350px;

    }
}

@media only screen and (max-width: 1025px) {
    .br-line {
        display: none;
    }

    .btn.btn-default.sign-trepr {
        width: 106px;

    }

    .banner-flightcontent {

        height: 336px;

    }

}

@media only screen and (max-width: 992px) {
    .slide-flight-content p {
        font-size: 14px;
        width: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .banner-flightcontent {

        height: 329px;

    }
}

@media only screen and (max-width: 991px) {
    .feater12 {

        text-align: center;
        padding: 0px !important;

    }

    .best {

        text-align: center;
        min-height: auto !important;
        transition: 0.5s all;

    }

    .best span img {

        max-width: 100%;
        height: auto;
        display: inline-block;
        width: auto;

    }

    .featers {
        width: 100% !important;

    }

    .trepr-heading-booking {

        padding-top: 60px !important;

    }

    .trepr-heading-booking h1 {

        font-size: 40px;
        margin: 0px 0px;

    }

    .trepr-heading-booking a {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 0px;
    }


    .trepr-content-help {

        top: 140px;
    }

    .trepr-nav-collapse {

        float: left;
        width: 100% !important;
        padding-top: 0px;
        text-align: center;

    }

    .trepr-nav-collapse ul {

        display: inline-block;
        float: none;

    }

    .trepr-nav-grp {

        display: inline-block;
        float: left;
        width: 100%;

    }

    .button-img-header {
        margin-right: 0px;
    }
}


@media only screen and (max-width: 855px) {


    .banner-flightcontent {

        height: 300px;

    }

    .banner-flightcontent {

        height: 279px;

    }

}

@media only screen and (max-width: 830px) {


    .banner-flightcontent {
        background: url(images/freeairtictket-banner_mobile.png) top center no-repeat !important;
        height: 569px;
        background-color: #c9eaf9 !important;
        text-align: center;
        padding: 0px;
    }



    .mid-bg-img {

        padding-top: 0px;

    }

    .best-center-grp.center-text {
        /* margin: 20px 0px;*/

        margin: 10px 0px;

    }
}

@media only screen and (max-width: 767px) {

    .bg-img-full {

        background-size: cover !important;
        width: 100%;
        height: auto;

    }

    .b-treprn p {
        display: none;

    }

    .b-treprn p {

        font-size: 10px;
        margin-left: 0px;
        padding-top: 10px;

    }



    .trepr-heading-booking h1 {

        font-size: 30px;
        margin: 0px 0px;

    }

    .button-img-header {

        border: none;
        border-radius: 5px;
        float: right;
        margin: 20px 20px !important;

    }

    .trepr-nav-toggle {

        background-color: transparent !important;
        border-color: transparent !important;
        margin-top: 20px !important;

    }

    .trepr-nav-grp {

        display: inline-block;
        float: left;
        width: 100%;
        margin: 0px !important;

    }

    .trepr-nav-collapse {

        float: left;
        width: 100% !important;
        padding-top: 20px;
        border-top: none !important;
        box-shadow: none !important;

    }

    .trepr-nav-collapse ul {

        display: inline-block;
        float: left;
        width: 100%;
        margin: 0px !important;

    }

    .trepr-nav-collapse ul li {

        float: left;
        display: inline-block;
        width: 100%;
        text-align: center;

    }

    .trepr-nav-collapse ul li select {
        display: inline-block;
        float: none;
    }

    .trepr-nav-collapse ul li .caret {

        display: inline-block;
        position: relative;
        right: 0px;
        bottom: 0px;
        color: white;

    }


    .slide-arrow > a {
        display: inline-block;
        width: 20px;
    }

    .slide-arrow {
        top: 20px;
    }

}

@media only screen and (max-width: 600px) {
    .button-bg-img {
    }

    .trepr-heading-booking a {

        font-size: 14px;

    }

    .trepr-heading-booking h1 {

        font-size: 20px;
        margin: 0px 0px;

    }

    .last-button-center {

        font-size: 16px;
    }

    .trepr-nav-grp > .logo-img {

        width: 170px;
    }
}

@media only screen and (max-width: 570px) {
    .button-img-header {
        margin: 5px 20px !important;
    }

}

@media only screen and (max-width: 480px) {
    .button-img-header p {
        font-size: 12px;
    }

    .center-text span {

        display: inline-block;
        float: left;
        width: 47px;

    }

    .best span {
        width: 100% !important;
    }
}

@media only screen and (max-width: 420px) {
    .trepr-content-help {
        width: 100%;
    }


}

@media only screen and (max-width: 315px) {
    .group-trepr input {
        width: 115px;
    }

}
