<?php $comSessObj = $this->common()->comSessObj;
   $currentRole = $comSessObj->switch_userrole;
   $labelText = ($comSessObj->userrole == 'seeker')?'traveller':'seeker';
   ?>
<?php // $this->headScript()->appendFile($this->basePath() . '/public/js/metro.js', 'text/javascript'); ?>
<!DOCTYPE HTML>
<html>
   <head>
      <title>Trepr - Simply Substitute</title>
      <?= $this->render('layout/top.phtml') ?>
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/dashboard.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/session.css">
      <script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE "></script>
      <script src="<?php echo $this->basePath(); ?>/public/js/jquery.geocomplete.min.js"></script>
   </head>
   <body class="inner-page-topSpace">
      <div class="global-wrap dashboard-wrapper">
         <div class="show-onload">
            <div class="bg-holder full">
                 <?= $this->render('layout/header.phtml', array('comSessObj' => $comSessObj, 'notification' => $this->notification, 'idCounts' => $this->idCounts, 'traveller_approve' => $this->traveller_approve,'dfcountry' => $countries, 'ldcurrency' => $countries)) ?>

            </div>
         </div>
         <div class="user-wrapper">
              <?php if($comSessObj->user['approved_id']==1){ ?>
                <div class="traveller-switch-block">
                   <div class="select-option-box">
                    <div class="btn-box blue-box"><button onClick="parent.location='<?php echo $this->basePath().'/switchuser/seeker?goto=dashboard'; ?>'" class="btn-sliver <?php  echo ($currentRole == 'seeker')?'active':'' ?>"> Seeker</button></div>
                    <div class="sep"><span>Or</span></div>
                    </span>
                    <div class="btn-box green-box">
                    <button onClick="parent.location='<?php echo $this->basePath().'/switchuser/traveller?goto=dashboard'; ?>'"  class="btn-sliver <?php echo ($currentRole == 'traveller')?'active':'' ?>">Traveller</button>
                    </div>
                  </div>
                </div>
              <?php } ?>
            <div class="user-block">
               <div class="container-fluid">

                 <div class="row less-wide dashboard-content">

                    <!-- left content starts -->
                    <div class="col-lg-3 col-md-3 col-sm-12">
                      <div class="user-settings-wrapper">

                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <div class="color-box grey mb-0">
                              <div class="row no-gutter">
                                <div class="col-sm-4 col-xs-4">
                                  <div class="icon">
                                    <div class="chart-box">
                                      <canvas id="profileCompleteChart" data-score="<?php echo $profiledetails['score']; ?>"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                  <div class="desp">
                                    <h6><?php echo $profiledetails['score']; ?>% PROFILE COMPLETED</h6>
                                    <p>Complete missing info to increase trust scale.</p>
                                    <a href="<?php echo $this->basePath().'/'.$profiledetails['completeurl']; ?>">COMPLETE PROFILE<i class="fa fa-long-arrow-right"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-xs-6">
                            <div class="profile">
                             <a href="<?php echo $this->basePath(); ?>/myprofile">
                               <div class="icon text-center">
                                 <img src="public/images/user-profile-icon.png" width="50" alt="user profile">
                               </div>
                               <h5>Profile Settings</h5>
                               <p>Check your personal info, address, ID doucments, social networks, reviews, references and referrals.</p>
                               <div class="arrow"><i class='fa fa-angle-right' aria-hidden='true'></i></div>
                             </a>
                            </div>
                          </div>
                          <div class="col-sm-6 col-xs-6">
                            <div class="account">
                              <a href="<?php echo $this->basePath(); ?>/myaccount">
                                <div class="icon text-center">
                                  <img src="public/images/user-account-icon.png" width="50" alt="user account">
                                </div>
                                <h5>Account Settings</h5>
                                <p>Check notifications, payment and payout methods, transaction history, privacy and security settings.</p>
                                <div class="arrow"><i class='fa fa-angle-right' aria-hidden='true'></i></div>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <div class="seeker-wishlist">
                              <div class="row no-gutter">
                                <div class="col-sm-3 col-xs-3">
                                  <div class="status">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                </div>
                                <div class="col-sm-9 col-xs-9">
                                  <a href="<?php echo $this->basePath(); ?>/wishlist">
                									  <div class="desp pull-left">
                										<h6>MY <?php  echo ($currentRole == 'traveller') ? 'Seeker':'Traveller' ?> WISHLIST</h6>
                										<p>Check list of <?php  echo ($currentRole == 'traveller') ? 'Seekers':'Travellers' ?> you saved in the recent times</p>
                									  </div>
                                  </a>
                                  <div class="score pull-left">
                                    <div class="box"><span>0</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row hidden-sm hidden-md hidden-xs">
                          <div class="col-sm-12 col-xs-12">
                            <div class="logout">
                							<a href="<?php echo $this->basePath(); ?>/logout">
                                <div class="box">
                                  <div class="icon pull-left">
                                    <img src="public/images/user-logout-icon.png" alt="user profile">
                                  </div>
                                  <div class="desp pull-left">
                                    <h5>Logout</h5>
                                  </div>
                                </div>
                							</a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- left content ends -->
                    <!-- middle content starts -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="middle-section-wrapper">

                        <div class="card dashboard-card">
                          <div class="card-header">
                            <div class="icon pull-left">
                              <img src="public/images/dashboard-globe-icon.png" alt="notification">
                            </div>
                            <h5 class="pull-left">notifications</h5>
                          </div>
                          <div class="card-body">
                            <div class="top-section">
                              <div class="row no-gutter">
                                <div class="col-sm-12 column">
                                  <div class="left pull-left">
                                    <a href="<?php echo $this->basePath(); ?>/dashboard/notifications"><h5>Total Notification</h5></a>
                                  </div>
                                  <div class="right pull-left">
                                    <span class="count"><?php echo count($notification); ?></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="bottom-section">
                              <div class="row no-gutter">

                            <?php if($comSessObj->user['approved_id']==1){ ?>

                                <div class="col-sm-4 col-xs-12 column">
                                  <a href="<?php echo $this->basePath(); ?>/dashboard/notifications#traveller_inquiries">
                                    <div class="count-desp">
                                      <span class="count big">0</span>
                                      <span class="label">Traveller Inquires</span>
                                    </div>
                                  </a>
                                </div>
                                <div class="col-sm-4 col-xs-12 column">
                                  <a href="<?php echo $this->basePath(); ?>/dashboard/notifications#send_items">
                                    <div class="count-desp">
                                      <span class="count big">0</span>
                                      <span class="label">Seeker Inquires</span>
                                    </div>
                                  </a>
                                </div>
                                <div class="col-sm-4 col-xs-12 column">
                                 <a href="<?php echo $this->basePath(); ?>/dashboard/notifications#disputes">
                                   <div class="count-desp">
                                     <span class="count big">0</span>
                                     <span class="label">Sent Items</span>
                                   </div>
                                 </a>
                                </div>
                            <?php } else { ?>
                                <div class="col-sm-6 col-xs-12 column">
                                  <a href="<?php echo $this->basePath(); ?>/dashboard/notifications#traveller_inquiries">
                                    <div class="count-desp">
                                      <span class="count big">0</span>
                                      <span class="label">Traveller Inquires</span>
                                    </div>
                                  </a>
                                </div>
                                <div class="col-sm-6 col-xs-12 column">
                                 <a href="<?php echo $this->basePath(); ?>/dashboard/notifications#disputes">
                                   <div class="count-desp">
                                     <span class="count big">0</span>
                                     <span class="label">Sent Items</span>
                                   </div>
                                 </a>
                                </div>
                            <?php } ?>

                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card dashboard-card">
                          <div class="card-header">
                            <div class="icon pull-left">
                              <img src="public/images/dashboard-travelbag-icon.png" alt="My Travel <?php  echo ($currentRole == 'traveller') ? 'Plans':'Needs' ?>">
                            </div>
                            <h5 class="pull-left">My Travel <?php  echo ($currentRole == 'traveller') ? 'Plans':'Needs' ?></h5>
                          </div>
                          <div class="card-body">
                            <div class="top-section no-border">
                              <div class="row no-gutter">
                                <div class="col-sm-4 col-xs-12 column">
                                  <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller':'seeker'; ?>">
                                    <div class="count-desp">
                                      <span class="count bigger">0</span>
                                      <span class="label">Current & Upcoming</span>
                                    </div>
                                  </a>
                                </div>
                                <div class="col-sm-4 col-xs-12 column">
                                  <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller#tab2':'seeker#tab2'; ?>">
                                    <div class="count-desp">
                                      <span class="count bigger">0</span>
                                      <span class="label">Completed</span>
                                    </div>
                                  </a>
                                </div>
                                <div class="col-sm-4 col-xs-12 column">
                                  <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller#tab3':'seeker#tab3'; ?>">
                                    <div class="count-desp">
                                      <span class="count bigger">0</span>
                                      <span class="label">Cancelled</span>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="card dashboard-card">
                          <div class="card-header">
                            <div class="icon pull-left">
                              <img src="public/images/dashboard-seeker-icon.png" alt="My <?php  echo ($currentRole == 'traveller') ? 'Seeker':'Traveller' ?> Request">
                            </div>
                            <h5 class="pull-left">My <?php  echo ($currentRole == 'traveller') ? 'Seeker':'Traveller'; ?> Requests</h5>
                          </div>
                          <div class="card-body">
                            <div class="top-section">
                              <div class="row no-gutter">
                                <div class="col-sm-9 col-xs-6 column">
                                  <div class="left pull-left">
                                    <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller/seekerrequests':'seeker/travelerrequest'; ?>"><h5>TOTAL <?php  echo ($currentRole == 'traveller') ? 'Seeker':'Traveller'; ?> REQUEST</h5></a>
                                  </div>
                                  <div class="right pull-left">
                                    <span class="count">0</span>
                                  </div>
                                </div>
                                <div class="col-sm-3 col-xs-6 column no-border">
                                  <div class="more pull-left">
                                    <a href="#">
                                      <div class="count-desp">
                                        <span class="count medium">0</span>
                                        <span class="label">MARCH MONTH</span>
                                      </div>
                                    </a>
                                 </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                            <div class="card dashboard-card">
                              <div class="card-header">
                                <div class="icon pull-left">
                                  <img src="public/images/dashboard-seeker-icon.png" alt="My Service <?php  echo ($currentRole == 'traveller') ? 'Earnings':'Expenses'; ?>">
                                </div>
                                <h5 class="pull-left">My Service <?php  echo ($currentRole == 'traveller') ? 'Earnings':'Expenses'; ?></h5>
                              </div>
                              <div class="card-body">
                                <div class="top-section">
                                  <div class="row no-gutter">
                                    <div class="col-sm-12 column">
                                      <div class="left pull-left">
                                        <a href="<?php echo $this->basePath(); ?>/<?php  echo ($currentRole == 'traveller') ? 'myearnings':'myexpenses'; ?>"><h5>TOTAL <?php  echo ($currentRole == 'traveller') ? 'Earnings':'Expenses'; ?></h5></a>
                                      </div>
                                      <div class="right pull-left">
                                        <span class="count">0</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                            <div class="card dashboard-card">
                              <div class="card-header">
                                <div class="icon pull-left">
                                  <img src="public/images/dashboard-seeker-icon.png" alt="My Travel History">
                                </div>
                                <h5 class="pull-left">TRAVEL <?php  echo ($currentRole == 'traveller') ? 'Plans':'Needs'; ?> HISTORY</h5>
                              </div>
                              <div class="card-body">
                                <div class="top-section">
                                  <div class="row no-gutter">
                                    <div class="col-sm-12 column">
                                      <div class="left pull-left">
                                        <a href="<?php echo $this->basePath(); ?>/mytriphistory"><h5>TOTAL <br/>TRAVELS</h5></a>
                                      </div>
                                      <div class="right pull-left">
                                        <span class="count">0</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- middle content ends -->
                    <!-- right content starts -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <div class="other-navs">

                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <a href="<?php echo $this->basePath(); ?>/search">
                              <div class="color-box green">
                                <div class="row no-gutter">
                                  <div class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                      <img src="public/images/user-search-traveller-icon.png" alt="Search <?php  echo ($currentRole == 'traveller') ? 'Seeker':'Traveller'; ?>">
                                    </div>
                                  </div>
                                  <div class="col-sm-8 col-xs-8">
                                    <div class="desp">
                                      <h5>SEARCH <?php  echo ($currentRole == 'traveller') ? 'Seekers':'Travellers'; ?></h5>
                                      <p>Search traveler from origin to destination airports for your transportation needs</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller':'seeker'; ?>/add-people-service">
                              <div class="color-box teal">
                                <div class="row no-gutter">
                                  <div class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                      <img src="public/images/add-peo-icon-new.png" alt="Add People Service">
                                    </div>
                                  </div>
                                  <div class="col-sm-8 col-xs-8">
                                    <div class="desp">
                                      <h5>Add People Service</h5>
                                      <p class="rw"> <?php  echo ($currentRole == 'traveller') ? 'Add your itinerary with travelers info':'Add your travel companionship needs' ?></p>
                                      <div class="plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller':'seeker'; ?>/add-package-service">
                              <div class="color-box s-blue">
                                <div class="row no-gutter">
                                  <div class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                      <img src="public/images/add-pas-icon-new.png" alt="Add Package Service">
                                    </div>
                                  </div>
                                  <div class="col-sm-8 col-xs-8">
                                    <div class="desp">
                                      <h5>Add Package Service</h5>
                                      <p class="rw"> <?php  echo ($currentRole == 'traveller') ? 'Add your itinerary with baggage info':'Add your pacakge delivery needs' ?> </p>
                                      <div class="plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <a href="<?php echo $this->basePath(); ?>/<?php echo ($currentRole == 'traveller') ? 'traveller':'seeker'; ?>/add-project-service">
                              <div class="color-box m-blue mb-0">
                                <div class="row no-gutter">
                                  <div class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                      <img src="public/images/add-ps-icon-new.png" alt="Add Project Service">
                                    </div>
                                  </div>
                                  <div class="col-sm-8 col-xs-8">
                                    <div class="desp">
                                      <h5>Add Project Service</h5>
                                      <p class="rw"> <?php  echo ($currentRole == 'traveller') ? 'Add your itinerary with purchase capabilities':'Add your product purchase needs from remote location' ?> </p>
                                      <div class="plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>

                        <div class="row hidden-lg">
                          <div class="col-sm-12 col-xs-12">
                            <div class="logout">
                							<a href="<?php echo $this->basePath(); ?>/logout">
                                <div class="box">
                                  <div class="icon pull-left">
                                    <img src="public/images/user-logout-icon.png" alt="user profile">
                                  </div>
                                  <div class="desp pull-left">
                                    <h5>Logout</h5>
                                  </div>
                                </div>
                							</a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- right content ends -->
                 </div>

               </div>
            </div>
         </div>
         <?= $this->render('layout/footer.phtml',array('comSessObj'=>$comSessObj,'dfcountry'=>$this->countries, 'ldcurrency'=>$this->countries)) ?>
         <?= $this->render('layout/pop_box.phtml') ?>
         <?= $this->render('layout/common-scripts.phtml') ?>

         <!-- for charts -->
         <script type="text/javascript" src="<?php echo $this->basePath();?>/public/js/chart.bundle.min.js"></script>
         <script type="text/javascript" src="<?php echo $this->basePath();?>/public/js/chartjs-plugin-labels.js"></script>
         <script type="text/javascript" src="<?php echo $this->basePath();?>/public/js/rounded-doughnut.js"></script>

      </div>
      <script>
         $(function() {
             $(".blue-box .btn-sliver").click(function () {
                 $(".green-box .btn-sliver").removeClass("active");
                 $(this).addClass("active");
             });
             $(".green-box .btn-sliver").click(function () {
                 $(".blue-box .btn-sliver").removeClass("active");
                 $(this).addClass("active");
             });

             var profileCompleteChart;

             if(profileCompleteChart) {
               profileCompleteChart.destroy();
             }

             var activeData = $("#profileCompleteChart").data('score');
             var otherData = (100-parseInt(activeData));

             var chartElem = document.getElementById("profileCompleteChart").getContext("2d");
           profileCompleteChart = new Chart(chartElem, {
              type: 'doughnut',
              data: {
                datasets: [{
                  backgroundColor: ["#00b22d", "#336591"],
                     hoverBackgroundColor: ["#00b22d", "#336591"],
                     borderWidth: [0, 0],
                  data: [parseInt(activeData), otherData]
                }]
              },
              options: {
                cutoutPercentage:90,
                responsive: true,
                maintainAspectRatio: false,
                rotation:30,
                   plugins: {
                     labels: {
                       position: '',
                       render: 'value',
                       fontSize: 0
                     }
                   },
           legend: {
                  display: false
              	},
                   tooltips: {
                     enabled: false
                   },
                   elements: {
               arc: {
             roundedCornersFor: 1
               },
                     center: {
             // the longest text that could appear in the center
             textValue: activeData+ '%',
                       textLabel: '',
             fontColor: '#ffffff',
             }
               }
              }
           });

         });
      </script>
   </body>
</html>
