<div class="container">
	<div class="row">
		<div class="col-xs-3 col-sm-3">
			<aside class="user-profile-sidebar">
				<div class="hidden-xs user-profile-avatar text-center">
					<i class="fa fa-dashboard"></i>
					<h5>Dashboard</h5>
				</div>
				<ul class="hidden-xs list tabs user-profile-nav">
					<li class="active"><a href="#alerts" data-toggle="tab"><i class="fa fa-bell"></i>Alerts</a></li>
					<li><a href="#notification" data-toggle="tab"><i class="fa fa-bullhorn"></i>Notification</a></li>
		 <?php /* ?><li><a href="#messages" data-toggle="tab"><i class="fa fa-envelope"></i>Messages</a></li><?php */ ?>
					<li><a href="#traveller_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Traveller Inquiries</a></li>
					<li><a href="#seeker_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Seeker Inquiries</a></li>
					<li><a href="#disputes" data-toggle="tab"><i class="fa fa-microphone"></i>Disputes</a></li>
				</ul>
				<ul class="visible-xs  list tabs user-profile-nav">
					<li class="active"><a href="#alerts" data-toggle="tab"><i rel="tooltip" title="Alerts" data-placement="right" class="fa fa-2x fa-bell"></i></a></li>
					<li><a href="#notification" data-toggle="tab"><i rel="tooltip" title="Notification" data-placement="right" class="fa fa-2x fa-bullhorn"></i></a></li>
					<li><a href="#traveller_inquiries" data-toggle="tab"><i rel="tooltip" title="Traveller Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
					<li><a href="#seeker_inquiries" data-toggle="tab"><i rel="tooltip" title="Seeker Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
					<li><a href="#messages" data-toggle="tab"><i rel="tooltip" title="Messages" data-placement="right" class="fa fa-2x fa-envelope"></i></a></li>
					<li><a href="#disputes" data-toggle="tab"><i rel="tooltip" title="Disputes" data-placement="right" class="fa fa-2x fa-microphone"></i></a></li>
				</ul>
			</aside>
		</div>
		<div class="col-xs-9 col-sm-9">
		<div class="tab-content">
			<div class="tab-pane active" id="alerts">
			<h4>Alerts</h4>
				<div class="col-xs-12">



											<div class="row">
						<ul class="notify-list list mb30">
															<?php if(count($this->alrt)>0){
																							foreach($this->alrt as $trip){ ?>
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
																</li><?php
																 }}else{ ?>
																						<tr><td colspan="6" align="center">There is no Alerts Message.</td></tr>
																						<?php } ?>


														</ul></div>








					<!--<div class="row">
						<ul class="notify-list list mb30">
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
							</li>
						</ul>
					</div>-->
				</div>
			</div><!-- alerts -->
			<div class="tab-pane" id="notification">
			<h4>Notification</h4>
				<div class="col-xs-12">


											 <div class="row">
						<ul class="notify-list list mb30">
															<?php if(count($this->noft)>0){
																							foreach($this->noft as $trip){ ?>
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
																</li><?php
																 }}else{ ?>
																						<tr><td colspan="6" align="center">There is no Notification  Message.</td></tr>
																						<?php } ?>


														</ul></div>



					<!--<div class="row">
						<ul class="notify-list list mb30">
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-1"><i class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
									<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
									<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
								</div>
							</li>
						</ul>
					</div>-->
				</div>
			</div><!-- notification -->

			<?php /* ?>

			<div class="tab-pane text-style" id="messages">
			<h4>Messages</h4>
				<div class="row">
					<ul class="notify-list list mb30">
						<?php if(count($this->dashmsg)>0){
							foreach($this->dashmsg as $trip){ ?>
						<li>
							<div class="row">
								<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
								<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
								<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
							</div>
						</li><?php  }}else{ ?>
							<tr><td colspan="6" align="center">There is no   Message.</td></tr><?php } ?>
					</ul>
				</div>
			</div><!-- messages -->

			<?php */ ?>

			<div class="tab-pane text-style" id="traveller_inquiries">
			<h4>Traveller Inquiries</h4>

								<div class="row">
								<table  class="table table-bordered table-striped table-booking-history table-hover">
									<thead>
										<tr>
											<th> Date</th>

											<th>Sender</th>

											<th>Action</th>
										</tr>
									</thead>
									<tbody>
																						<?php if(count($this->trval)>0){
																							foreach($this->trval as $trip){ ?>
																								<tr>
																										<!--<td><?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?> <span class="label label-primary"><?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>-->
																										<td><?=$this->common()->timeZoneAdjust('D M',$trip['create_date']);?> <span class="label label-primary"><?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>

																										<td><?=$trip['sender_id'];?></td>


																										<td><a href="<?php echo $this->basePath();?>/dashboard/viewtravelenquiry/<?=$trip['ID'];?>">View</a> <!--| <a href="<?php echo $this->basePath();?>/trips/deletetrip/<?=$trip['ID'];?>">Delete</a>--></td>
																								</tr>
																							<?php }
																						}else{ ?>
																						<tr><td colspan="6" align="center">There is no Traveller Inquiries</td></tr>
																						<?php } ?>
									</tbody>
								</table>
							</div>




			</div><!-- traveller_inquiries -->
			<div class="tab-pane text-style" id="seeker_inquiries">
			<h4>Seeker Inquiries</h4>
				<div class="row">
								<table  class="table table-bordered table-striped table-booking-history table-hover">
									<thead>
										<tr>
											<th> Date</th>

											<th>Sender</th>

											<th>Action</th>
										</tr>
									</thead>
									<tbody>
																						<?php if(count($this->seeker)>0){
																							foreach($this->seeker as $trip){ ?>
																								<tr>
																										<!--<td><?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?> <span class="label label-primary"><?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>-->
																										<td><?=$this->common()->timeZoneAdjust('D M',$trip['create_date']);?> <span class="label label-primary"><?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>

																										<td><?=$trip['sender_id'];?></td>


																										<td><a href="<?php echo $this->basePath();?>/dashboard/viewseekerenquiry/<?=$trip['ID'];?>">View</a> <!--| <a href="<?php echo $this->basePath();?>/trips/deletetrip/<?=$trip['ID'];?>">Delete</a>--></td>
																								</tr>
																							<?php }
																						}else{ ?>
																						<tr><td colspan="6" align="center">There is no Seeker Inquiries</td></tr>
																						<?php } ?>
									</tbody>
								</table>
							</div>

			</div><!-- seeker_inquiries -->
			<div class="tab-pane text-style" id="disputes">
									<a href="<?php echo $this->basePath();?>/dashboard/adddisputes">Add Disputes</a>
			<h4>Disputes</h4>
								 <div class="row">
								<table  class="table table-bordered table-striped table-booking-history table-hover">
									<thead>
										<tr>
											<th> Date</th>

											<th>Subject</th>

											<th>Action</th>
										</tr>
									</thead>
									<tbody>
																						<?php if(count($this->disputes)>0){
																							foreach($this->disputes as $trip){ ?>
																								<tr>

																										<td><?=date("d-M-Y",strtotime($trip['datetime']));?> </td>

																										<td><?=$trip['subject'];?></td>


																										<td><a href="<?php echo $this->basePath();?>/dashboard/viewdisputes/<?=$trip['ID'];?>">View</a> <!--| <a href="<?php echo $this->basePath();?>/trips/deletetrip/<?=$trip['ID'];?>">Delete</a>--></td>
																								</tr>
																							<?php }
																						}else{ ?>
																						<tr><td colspan="6" align="center">There is no Disputes</td></tr>
																						<?php } ?>
									</tbody>
								</table>
							</div>
			</div><!-- disputes -->
		</div><!-- tab-content -->
		</div>
	</div>
</div>
