<?php //echo "<pre>"; print_r($this->getTravellerEnquiries); echo "</pre>"; ?>
<div class="row">
    <div class="col-md-3">
        <aside class="user-profile-sidebar">
            <div class="user-profile-avatar text-center">

                <?php
                if (isset($prof['image']) && !empty($prof['image'])) {
                    if (strpos($prof['image'], "http") !== false) {
                        $img = $prof['image'];
                    } else {
                        $img = $this->basePath() . '/public/uploads/profile_picture/medium/' . $prof['image'];
                    }
                } else {
                    $img = $this->basePath() . '/public/default_user.png';
                }
                if (!empty($reviews)) {
                    $rev = array();
                    foreach ($reviews as $review) {
                        $rev[] = $review['rating'];
                    }
                    $total_ratings = array_sum($rev) / count($rev);
                } else {
                    $total_ratings = 0;
                }
                //print_r($this->notification);
                ?>
                <div class="user-pro-img"><img src="<?= $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>"
                                               title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>"
                                               height="100" width="110"/>

                    <div class="profile-details">
                        <!--h5><?= $comSessObj->user['first_name']; ?></h5-->
                        <p class="mb0">Member Since
                            <?php echo date(' M Y', strtotime($comSessObj->user['created'])) ?>
                        </p>
                        <!-- <p class="mb0">Member Since May 2012</p> -->
                        <p><img src="/public/img/star_<?= round($total_ratings); ?>.png"></p>
                    </div>
                </div>
            </div>

            <ul class="tabs list user-profile-nav">
                <!--li class="active"><a href="#alerts" data-toggle="tab"><i class="fa fa-bell"></i>Alerts</a></li-->
                <li class="active"><a href="#notification" data-toggle="tab"><i class="fa fa-bullhorn"></i>Notification</a>
                </li>
                <!--li><a href="#messages" data-toggle="tab"><i class="fa fa-envelope"></i>Messages</a></li-->
                
                <li><a href="#traveller_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Traveller
                        Inquiries</a></li>
                        
                     <?php   if($comSessObj->user['approved_id'] == 1) { ?>
                <li><a href="#seeker_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Seeker Inquiries</a></li>
                     <?php } ?>
                
                
                <li><a href="#send_items" data-toggle="tab"><i class="fa fa-cube"></i>Sent Items</a></li>
                <li><a href="#disputes" data-toggle="tab"><i class="fa fa-microphone"></i>Disputes</a></li>
                 <?php   if($comSessObj->user['approved_id'] == 1) { ?>
                <li><a href="#super_traveller" data-toggle="tab"><i class="fa fa-user"></i>Super Traveller</a></li>
                  <?php } ?>
            </ul>
            <!--<ul class="visible-xs  list tabs user-profile-nav">
                <li class="active"><a href="#alerts" data-toggle="tab"><i rel="tooltip" title="Alerts" data-placement="right" class="fa fa-2x fa-bell"></i></a></li>
                <li><a href="#notification" data-toggle="tab"><i rel="tooltip" title="Notification" data-placement="right" class="fa fa-2x fa-bullhorn"></i></a></li>
                <li><a href="#traveller_inquiries" data-toggle="tab"><i rel="tooltip" title="Traveller Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
                <li><a href="#seeker_inquiries" data-toggle="tab"><i rel="tooltip" title="Seeker Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
                <li><a href="#messages" data-toggle="tab"><i rel="tooltip" title="Messages" data-placement="right" class="fa fa-2x fa-envelope"></i></a></li>
                <li><a href="#disputes" data-toggle="tab"><i rel="tooltip" title="Disputes" data-placement="right" class="fa fa-2x fa-microphone"></i></a></li>
            </ul>-->
        </aside>
    </div>
    <div class="col-md-9">
        <div class="tab-content tab-content-new clearfix">
            <div class="tab-pane" id="alerts">
                <h4 class="tab-heading">Alerts</h4>

                <div class="col-xs-12">
                    <div class="row">
                        <ul class="infoList list-unstyled mb30">
                            <?php
                            if (count($this->alrt) > 0) {

                                foreach ($this->alrt as $trip) {
                                    ?>
                                    <li>
                                        <div class="infoBox">
                                            <span class="infoIcon"><i
                                                    class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></span>
                                            <span class="infoText"><?= $trip['message']; ?></span>
                                            <span
                                                class="infoDate"><?= date('F d, Y', strtotime($trip['create_date'])); ?></span>
                                        </div>
                                    </li>
                                    <?php
                                }
                            } else {
                                ?>
                                <li class="text-center" style="background: #f5f5f5;">There is no Alerts Message.</li>
                            <?php } ?>


                        </ul>
                    </div>


                    <!--<div class="row">
                            <ul class="notify-list list mb30">
                                    <li>
                                            <div class="row">
                                                    <div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
                                                    <div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
                                                    <div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
                                            </div>
                                    </li>
                                    <li>
                                            <div class="row">
                                                    <div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
                                                    <div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
                                                    <div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
                                            </div>
                                    </li>
                                    <li>
                                            <div class="row">
                                                    <div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
                                                    <div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
                                                    <div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
                                            </div>
                                    </li>
                            </ul>
                    </div>-->
                </div>
            </div>
            <!-- alerts -->
            <div class="tab-pane active" id="notification">
                <h4 class="tab-heading">Notification</h4>

                <div class="col-xs-12">


                    <div class="row">
                        <ul class="infoList list mb30">
                            <?php
                            if (!empty($this->notification)) {
                                foreach ($this->notification as $trip) {
                                    ?>
                                    <li>
                                        <div class="infoBox">
                                            <span class="infoIcon">
                                                <i class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i>
                                            </span>
                                            <span class="infoText">
                                                <?php
                                                if(!empty($trip['app_redirect']))
                                                {
                                                ?>
                                                    <a href="<?= $trip['app_redirect']; ?>" ><?= $trip['notification_message']; ?></a>
                                                <?php
                                                } else { ?>
                                                    <?= $trip['notification_message']; ?>
                                                <?php }
                                                ?>
                                            </span>

                                            <span
                                                class="infoDate"><?= date('F d, Y', strtotime($trip['notification_added'])); ?></span>
                                        </div>
                                    </li>
                                    <?php
                                }
                            }
                            else {
                                ?>
                                <!--<li class="text-center" style="background: #f5f5f5;">There is no Notification  Message.</li>-->
                                <li>
                                    <div class="infoBox">
                                        <span class="infoIcon"><i
                                                class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></span>
                                        <span class="infoText">Hi <?= $comSessObj->user['first_name']; ?>, Welcome to Trepr an Online Deputation Platform for all your transportation needs.</span>
                                        <span class="infoDate">Sep 10 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="infoBox">
                                        <span class="infoIcon"><i
                                                class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></span>
                                        <span class="infoText">Refer your Friends & family and earn 20 times worth gift coupon</span>
                                        <span class="infoDate">Sep 10 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="infoBox">
                                        <span class="infoIcon"><i
                                                class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></span>
                                        <span class="infoText">Your people travel service listing status is changed. Please add package and project travel services to your trip and make more money in your travel.</span>
                                        <span class="infoDate">Sep 10 2017</span>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                    <!--<div class="row">
                            <ul class="notify-list list mb30">
                                    <li>
                                            <div class="row">
                                                    <div class="col-md-1"><i class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
                                                    <div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
                                                    <div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
                                            </div>
                                    </li>
                                    <li>
                                            <div class="row">
                                                    <div class="col-md-1"><i class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>
                                                    <div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>
                                                    <div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>
                                            </div>
                                    </li>
                            </ul>
                    </div>-->
                </div>
            </div>
            <!-- notification -->
            <div class="tab-pane text-style" id="send_items">
                <h4 class="tab-heading">Sent Items</h4>

                <div class="row">
                    <div class="col-xs-12">


                        <ul class="infoList infoListMessage list mb30">
                            <?php
                            if (!empty($this->dashmsg)) {
                                foreach ($this->dashmsg as $trip) {
                                    ?>
                                    <li>
                                        <div class="infoBox">
                                            <span class="infoIcon"><i
                                                    class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></span>
                                            <span class="infoText"><?= $trip['message']; ?></span>
                                            <span
                                                class="infoDate"><?= $this->common()->timeZoneAdjust('d M Y', $trip['create_date']); ?></span>
                                        </div>
                                    </li>
                                <?php }
                            } else {
                                ?>
                                <ul class="list-unstyled">
                         <li class="text-center" style="background: #f5f5f5;">NO SENT ITEMS.</li>
                         </ul>

                                


                            <?php } ?>
                        </ul>

                        <!--div class="pageNav"><div class="pull-right">
                            1-12 of 18
                            <div class="btn-group" role="group">

                                            <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                                        </div>

                            </div></div-->
                    </div>
                </div>

            </div>
            <!-- messages -->


            <div class="tab-pane text-style" id="messages">
                <h4 class="tab-heading">Messages</h4>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="infoListMessageTop clearfix">
                            <div class="messageTopmenu left">
                                <div class="btn-group topmenuActive">
                                    <a class="btn btn-default active" href="#">Inbox <span
                                            class="badge badge-important">2</span></a>
                                    <a class="btn btn-default" href="#">Sent <span
                                            class="badge badge-important">2</span></a>
                                    <a class="btn btn-default" href="#">Trash <span
                                            class="badge badge-important">2</span></a>

                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"
                                            aria-expanded="false">
                                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Mark as read</a></li>
                                        <li><a href="#">Mark as unread</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="messageTopmenu right">
                                <div class="btn-group">
                                    <a class="btn btn-success" href="#">Ccmpose</a>
                                    <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"
                                                                             aria-hidden="true"></span></a>


                                </div>

                            </div>
                        </div>

                        <ul class="infoList infoListMessage list mb30">
                            <?php
                            if (count($this->dashmsg) > 0) {
                                foreach ($this->dashmsg as $trip) {
                                    ?>
                                    <li>
                                        <div class="infoBox">
                                            <span class="infoIcon"><i
                                                    class="fa fa-bullhorn box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></span>
                                            <span class="infoText">Invite a friend and get $25 when they serve user's "P" service requests.</span>
                                            <span class="infoDate">Sep 12, 2016</span>
                                        </div>
                                    </li>
                                <?php }
                            } else {
                                ?>
                                <li>
                                    <div class="infoBox">
                                        <span class="infoIcon"><input class="i-check" type="checkbox"> <span
                                                class="user">David Nester</span> </span>
                                        <span class="infoText">Invite a friend and get $25 when they serve user's "P" service requests.</span>
                                        <span class="infoDate">Sep 12, 2016</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="infoBox">
                                        <span class="infoIcon"><input class="i-check" type="checkbox"> <span
                                                class="user">David Nester</span> </span>
                                        <span class="infoText">Invite a friend and get $25 when they serve user's "P" service requests.</span>
                                        <span class="infoDate">Sep 12, 2016</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="infoBox">
                                        <span class="infoIcon"><input class="i-check" type="checkbox"> <span
                                                class="user">David Nester</span> </span>
                                        <span class="infoText">Invite a friend and get $25 when they serve user's "P" service requests.</span>
                                        <span class="infoDate">Sep 12, 2016</span>
                                    </div>
                                </li>
                                <li class="text-center" style="background: #f5f5f5;">There is no Message.</li>


                            <?php } ?>
                        </ul>

                        <div class="pageNav">
                            <div class="pull-right">
                                1-12 of 18
                                <div class="btn-group" role="group">

                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="tab-heading">New Message</h4>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="infoList infoListMessage list mb30">
                            <div class="form-group ">
                                <label class="control-label">Name</label>
                                <input class="form-control" type="text" placeholder="Name">
                            </div>
                            <div class="form-group ">
                                <label class="control-label">Subject</label>
                                <input class="form-control" type="text" placeholder="Subject">
                            </div>

                            <div class="form-group ">
                                <label class="control-label">Subject</label>
                                <textarea class="form-control" placeholder="Subject"></textarea>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="infoList infoListMessage list mb30">
                            <div class="mesComHead">
                                <h2 class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

                                <div>
                                    <h4 class="media-heading">David Nester</h4>
                                    <em>davidnester@email.com</em>
                                    to You, Diellza Gojani
                                    <br>
                                    <span>Nov 25 - 12:57 PM</span>

                                </div>
                            </div>
                            <div class="mesComBody">


                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat viverra
                                    ex eget accumsan. Pellentesque ornare purus purus, vel placerat eros ullamcorper et.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur
                                    facilisis lectus et vehicula. Mauris eu condimentum arcu. Nunc placerat sem eget
                                    sapien molestie, nec varius tortor vehicula. Mauris non gravida ante. Curabitur
                                    iaculis laoreet leo quis dapibus. Pellentesque porttitor, nibh quis hendrerit
                                    semper, ligula nulla eleifend nunc, eget tincidunt mauris neque nec ex.</p>

                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Suspendisse pretium vitae risus ut placerat. Fusce tempus lectus eget risus
                                    ullamcorper, non auctor diam tempus. Donec id ligula dictum, tristique quam ac,
                                    euismod quam. In auctor lacinia ex, vitae luctus augue auctor a. Curabitur et est
                                    est. Sed imperdiet in quam vitae dapibus. Nam tempus sit amet leo vitae aliquet.
                                    Curabitur pulvinar accumsan ligula nec cursus. Nam suscipit lacus nec ligula
                                    feugiat, sed tincidunt magna tincidunt. Aenean at venenatis velit. Nullam sodales
                                    ligula vitae arcu pharetra congue.</p>

                                <p>Vivamus eu nisi metus. Sed pellentesque eros nisi, ut fringilla purus egestas vitae.
                                    Pellentesque id commodo lectus. Fusce libero mi, imperdiet tempus rhoncus sit amet,
                                    fringilla quis neque. Aliquam molestie, diam nec lacinia ornare, ante leo ornare
                                    est, in feugiat justo lacus nec lorem. Etiam a tortor eu lorem interdum pulvinar et
                                    nec massa. Proin gravida urna urna, sed lacinia velit mollis et.</p>

                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Suspendisse pretium vitae risus ut placerat. Fusce tempus lectus eget risus
                                    ullamcorper, non auctor diam tempus. Donec id ligula dictum, tristique quam ac,
                                    euismod quam. In auctor lacinia ex, vitae luctus augue auctor a. Curabitur et est
                                    est. Sed imperdiet in quam vitae dapibus. Nam tempus sit amet leo vitae aliquet.
                                    Curabitur pulvinar accumsan ligula nec cursus. Nam suscipit lacus nec ligula
                                    feugiat, sed tincidunt magna tincidunt. Aenean at venenatis velit. Nullam sodales
                                    ligula vitae arcu pharetra congue.</p>

                                <p>Vivamus eu nisi metus. Sed pellentesque eros nisi, ut fringilla purus egestas vitae.
                                    Pellentesque id commodo lectus. Fusce libero mi, imperdiet tempus rhoncus sit amet,
                                    fringilla quis neque. Aliquam molestie, diam nec lacinia ornare, ante leo ornare
                                    est, in feugiat justo lacus nec lorem. Etiam a tortor eu lorem interdum pulvinar et
                                    nec massa. Proin gravida urna urna, sed lacinia velit mollis et.</p>
                                <br>

                                <p><strong>Thanks.</strong><br>David Nester</p>


                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <!-- messages -->


            <div class="tab-pane text-style" id="traveller_inquiries">
                <h4 class="tab-heading">Traveller Inquiries</h4>

                <div class="infoList infoListMessage list">
                    <?php
                    if (!empty($this->trval)) {
                        $x = 1;
                        foreach ($this->trval as $trip) {
                            ?>

                            <div id="travel_<?= $x ?>" class="panel-group" style="margin-bottom: 5px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#travel_verify_<?= $x ?>"
                                                                   data-parent="#travel_<?= $x ?>"
                                                                   data-toggle="collapse"
                                                                   class="collapsed"><?= $trip['first_name'] . ' ' . $trip['last_name']; ?>
                                                <span
                                                    class="travellerDate"><?= $this->common()->timeZoneAdjust('d M Y', $trip['create_date']); ?></span></a>
                                        </h4>
                                    </div>
                                    <div id="travel_verify_<?= $x ?>" class="panel-collapse collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            <h6 class="panel-title">Traveller Inquiries Details</h6>

                                            <div class="panel-body">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Date</label>

                                                    <div class="col-sm-9">
                                                        <?= $this->common()->timeZoneAdjust('d M Y', $trip['create_date']); ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Sender</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['first_name'] . ' ' . $trip['last_name']; ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Message</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['message']; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php $x++;
                        } ?>
                        <!--div class="pageNav" style="margin-top: 4%;">
                            <div class="pull-right">
                                1-12 of 18
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                                </div>

                            </div>
                        </div-->
                    <?php } else { ?>
                        <ul class="list-unstyled">
                         <li class="text-center" style="background: #f5f5f5;">There is no Traveller Inquiry.</li>
                         </ul>
                      
                        
                        
                    <?php } ?>
                </div>

            </div>
            <!-- traveller_inquiries -->
            <div class="tab-pane text-style" id="seeker_inquiries">
                <h4 class="tab-heading">Seeker Inquiries</h4>

                <div class="infoList infoListMessage list">
                    <?php
                    if (!empty($this->seeker)) {
                        $y = 1;
                        foreach ($this->seeker as $trip) {
                            ?>

                            <div id="seeker_<?= $y ?>" class="panel-group" style="margin-bottom: 5px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#seeker_verify_<?= $y ?>"
                                                                   data-parent="#seeker_<?= $y ?>"
                                                                   data-toggle="collapse"
                                                                   class="collapsed"><?= $trip['first_name'] . ' ' . $trip['last_name']; ?>
                                                <span
                                                    class="travellerDate"><?= $this->common()->timeZoneAdjust('d M Y', $trip['create_date']); ?></span></a>
                                        </h4>
                                    </div>
                                    <div id="seeker_verify_<?= $y ?>" class="panel-collapse collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            <h6 class="panel-title">Seeker Inquiries Details</h6>

                                            <div class="panel-body">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Date</label>

                                                    <div class="col-sm-9">
                                                        <?= $this->common()->timeZoneAdjust('d M Y', $trip['create_date']); ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Sender</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['first_name'] . ' ' . $trip['last_name']; ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Message</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['message']; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php $y++;
                        } ?>
                        <!--div class="pageNav" style="margin-top: 4%;">
                            <div class="pull-right">
                                1-12 of 18
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                                </div>

                            </div>
                        </div-->
                    <?php } else { ?>
                        <ul class="list-unstyled">
                         <li class="text-center" style="background: #f5f5f5;">There is no Seeker Inquiry.</li>
                        </ul>
                        
                       
                        
                    <?php } ?>
                </div>

            </div>
            <!-- seeker_inquiries -->
            <div class="tab-pane text-style" id="disputes">
                 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Disputes</button>
                <!--<a href="<?php echo $this->basePath(); ?>/dashboard/adddisputes">Add Disputes</a>-->
                <h4 class="tab-heading">Disputes</h4>

                <div class="infoList infoListMessage list">
                    <?php
                    if (!empty($this->disputes)) {
                        $y = 1;
                        foreach ($this->disputes as $trip) {
                          
                            
                            ?>

                            <div id="dispute_<?= $y ?>" class="panel-group" style="margin-bottom: 5px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#dispute_verify_<?= $y ?>"
                                                                   data-parent="#dispute_<?= $y ?>"
                                                                   data-toggle="collapse"
                                                                   class="collapsed"><?= $trip['subject']; ?> <span
                                                    class="travellerDate"><?= $this->common()->timeZoneAdjust('d M Y', $trip['created_date']); ?></span></a>
                                        </h4>
                                    </div>
                                    <div id="dispute_verify_<?= $y ?>" class="panel-collapse collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            <h6 class="panel-title">Disputes Details</h6>

                                            <div class="panel-body">
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Date</label>

                                                    <div class="col-sm-9">
                                                        <?= $this->common()->timeZoneAdjust('d M Y', $trip['created_date']); ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Sender</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['first_name'] . ' ' . $trip['last_name']; ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Subject</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['subject']; ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-3 control-label">Description</label>

                                                    <div class="col-sm-9">
                                                        <?= $trip['descp']; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php $y++;
                        } ?>
                      <!-- <div class="pageNav" style="margin-top: 4%;">
                            <div class="pull-right">
                                1-12 of 18
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                                </div>

                            </div>
                       </div>
                      -->
                    <?php } else { ?>
                     <ul class="list-unstyled">
                         <li class="text-center" style="background: #f5f5f5;">There is no Dispute.</li></ul>
                      
                       
                     

                    <?php } ?>
                </div>
            </div>
            
            
            <!-- dispute form start-->
            
            
            
            <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Dispute</h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-12">
                                                    
                                                    
                                                    
                                                   <div class="panel panel-default">
                           <form action="<?php echo $this->basePath(); ?>/dashboard/adddisputes" method="post"   > <div class="panel-body">
                                         
                                <div class="row">
                                        <label class="col-sm-3 control-label">Select Trip</label>
                                        <div class="col-sm-9">      
                                   
                                   <select class="form-control" name="travel_plan" id="travel_plan"">
	<option selected="selected" value="">Select plan</option>
	<?php if (count($this->travel_plans) > 0) {                foreach ($this->travel_plans as $travel_plan) {                    ?>
	<option value="<?php echo $travel_plan['ID'].'-'.$user_role.$travel_plan['service']; ?>">
	<?php echo $travel_plan['origin_location_city'] . ',' . $travel_plan['origin_location_country'] . ' (' . $travel_plan['origin_location_code'] . ')'; ?> -
	<?php echo $travel_plan['destination_location_city'] . ',' . $travel_plan['destination_location_country'] . ' (' . $travel_plan['destination_location_code'] . ')';        ; ?> (
	<?php echo date('m/d/Y', strtotime($travel_plan['departure_date'])); ?>) -
	<?php echo ($travel_plan['service']); ?>
	</option>
	<?php }        }        ?>
	</select></div>
                                </div>
                                   
                                   
                                   
                                   
                                     <div class="row" id="seeker_people_issue">
                                        <label class="col-sm-3 control-label">Select Issue</label>
                                        <div class="col-sm-9">      
                                   
                                   <select class="form-control" name="seeker_people_issue" >
	<option selected="selected" value="">Select Issue</option>
	
	<option  value="I have issues with the trip lsiting created"> I have issues with the trip lsiting created</option>
        <option  value="I have problems with the traveller who served my travel service"> I have problems with the traveller who served my travel service</option>
        <option  value="My travel service requested is not initated/incomplete"> My travel service requested is not initated/incomplete</option>
        <option  value="I have problems with sending or receiving request to/from travellers"> I have problems with sending or receiving request to/from travellers</option>
        <option  value="I have questions on cancellations/refund"> I have questions on cancellations/refund</option>
        <option  value="General/Other clarifications"> General/Other clarifications</option>
	
	</select></div>
                                </div>
                                   
                                   
                                    <div class="row"  id="seeker_package_issue">
                                        <label class="col-sm-3 control-label">Select Issue</label>
                                        <div class="col-sm-9">      
                                   
<select class="form-control" name="seeker_package_issue">
	<option selected="selected"  value="">Select Issue</option>
        <option  value="I have issues with the trip lsiting created"> I have issues with the trip lsiting created</option>
        <option  value="I have problems with the traveller who served my travel service"> I have problems with the traveller who served my travel service</option>
        <option  value=" My travel service requested is not initated/incomplete"> My travel service requested is not initated/incomplete</option>
        <option  value="I need to report missing/damaged items in my package"> I need to report missing/damaged items in my package</option>
        <option  value="I have problems with sending or receiving request to/from travellers"> I have problems with sending or receiving request to/from travellers</option>
        <option  value="I have questions on cancellations/refund"> I have questions on cancellations/refund</option>
        <option  value="General/Other clarifications"> General/Other clarifications</option>
        
</select>
                                        
                                        </div>
                                </div>
                                   
                                  
                                     <div class="row" id="seeker_project_issue">
                                        <label class="col-sm-3 control-label">Select Issue</label>
                                        <div class="col-sm-9">      
                                   
<select class="form-control" name="seeker_project_issue" >
	<option  selected="selected" value="">Select Issue</option>
        <option  value="I have issues with the trip listing created"> I have issues with the trip listing created</option>
        <option  value="I have problems with the traveller who served my travel service"> I have problems with the traveller who served my travel service</option>
        <option  value="My travel service requested is not initated/incomplete"> My travel service requested is not initated/incomplete</option>
        <option  value="I need to report missing/damaged prodcuts in my delivery"> I need to report missing/damaged prodcuts in my delivery</option>
        <option  value="I have problems with sending or receiving request to/from travellers"> I have problems with sending or receiving request to/from travellers</option>
        <option  value="I have questions on cancellations/refund"> I have questions on cancellations/refund</option>
        <option  value="General/Other clarifications"> General/Other clarifications</option>
        
</select>
                                        
                                        </div>
                                </div>
                                   
                                   
                                   
                                   
                                     <div class="row" id="traveller_people_issue">
                                        <label class="col-sm-3 control-label">Select Issue</label>
                                        <div class="col-sm-9">      
                                   
<select class="form-control" name="traveller_people_issue" >
	<option  selected="selected" value="">Select Issue</option>
        <option  value="I have issues with the trip lsiting created"> I have issues with the trip lsiting created</option>
        <option  value="I have problems with the seeker/passenger who assigned travel service"> I have problems with the seeker/passenger who assigned travel service</option>
        <option  value="I couldn't initiate/complete travel service assigned to me"> I couldn't initiate/complete travel service assigned to me</option>
        <option  value="I have problems with sending or receiving request to/from seekers"> I have problems with sending or receiving request to/from seekers</option>
        <option  value="I have questions on cancellations/money credit"> I have questions on cancellations/money credit</option>
        <option  value="General/Other clarifications"> General/Other clarifications</option>
        
</select>
                                        
                                        </div>
                                </div>
                                   
                                   
                                    <div class="row" id="traveller_package_issue">
                                        <label class="col-sm-3 control-label">Select Issue</label>
                                        <div class="col-sm-9">      
                                   
<select class="form-control" name="traveller_package_issue" >
	<option  selected="selected" value="">Select Issue</option>
        <option  value="I have issues with the trip lsiting created"> I have issues with the trip lsiting created</option>
        <option  value="I have problems with the seeker/passenger who assigned travel service"> I have problems with the seeker/passenger who assigned travel service</option>
        <option  value="I couldn't initiate/complete travel service assigned to me"> I couldn't initiate/complete travel service assigned to me</option>
        <option  value="I need to report missing/damaged seeker items after transit"> I need to report missing/damaged seeker items after transit</option>
        <option  value="Report custom/excise department confistcation and duty taxes levied"> Report custom/excise department confistcation and duty taxes levied</option>
        <option  value="I have problems with sending or receiving request to/from seekers"> I have problems with sending or receiving request to/from seekers</option>
        <option  value="I have questions on cancellations/money credit"> I have questions on cancellations/money credit</option>
        <option  value="General/Other clarifications"> General/Other clarifications</option>
</select>
                                        
                                        </div>
                                </div>
                                   
                                   
                                    <div class="row" id="traveller_project_issue">
                                        <label class="col-sm-3 control-label">Select Issue</label>
                                        <div class="col-sm-9">      
                                   
<select class="form-control" name="traveller_project_issue" >
	<option selected="selected"  value="">Select Issue</option>
        <option  value="I have issues with the trip lsiting created"> I have issues with the trip lsiting created</option>
        <option  value="I have problems with the seeker/passenger who assigned travel service"> I have problems with the seeker/passenger who assigned travel service</option>
        <option  value="I couldn't initiate/complete travel service assigned to me"> I couldn't initiate/complete travel service assigned to me</option>
        <option  value="I need to report missing/damaged seeker items after transit"> I need to report missing/damaged seeker items after transit</option>
        <option  value="Report custom/excise department confistcation and duty taxes levied"> Report custom/excise department confistcation and duty taxes levied</option>
        <option  value="I have problems with sending or receiving request to/from seekers"> I have problems with sending or receiving request to/from seekers</option>
        <option  value="I have questions on cancellations/money credit"> I have questions on cancellations/money credit</option>
        <option  value="General/Other clarifications"> General/Other clarifications</option>
</select>
                                        
                                        </div>
                                </div>
                                   
                                   
                                   
                                   
                                   
                                   
                               
                                <div class="row">
                                        <label class="col-sm-3 control-label">Comments</label>
                                        <div class="col-sm-9">
                                                  <textarea class="form-control" name="msg" id ="dispute_comment"  ></textarea>
                                        </div>
                                </div>							
                               <div class="row">
                                        <div class="form-group">
                                                <label>&nbsp;</label>
                                                <!--<input type="submit" class="btn pull-right" value="Cancel">-->
                                                <input type="button" id="submit_dispute" class="btn mr20 btn-primary pull-right" value="Save">
                                        </div>
				</div>
                                                         
                               </div></form>
                    </div>
                                                    
                                                    
                                                    
                                                      
                                                    
                                                
					</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
               </div>
                                     
            <!-- dispute form end-->
            
            
            
            
            <!-- disputes -->
            <div class="tab-pane text-style" id="super_traveller">
                <h4 class="tab-heading">Super Traveller</h4>

                <div class="infoList infoListMessage list">
                    <?php
                    if (empty($this->supertrav)) {
                        $z = 1;
                        foreach ($this->supertrav as $trip) {
                            ?>

                            <div id="super_<?= $z ?>" class="panel-group" style="margin-bottom: 5px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#super_verify_<?= $z ?>"
                                                                   data-parent="#super_<?= $z ?>" data-toggle="collapse"
                                                                   class="collapsed"><?= $trip['first_name'] . ' ' . $trip['last_name'] . ' (' . $trip['location'] . ')'; ?></a>
                                        </h4>
                                    </div>
                                    <div id="super_verify_<?= $z ?>" class="panel-collapse collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            <h6 class="panel-title">Traveller Details</h6>

                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <div class="form-group">
                                                            <div class="text-center"><img
                                                                    src="/public/uploads/profile_picture/medium/<?= $trip['image']; ?>"
                                                                    alt="<?= $trip['first_name']; ?>"
                                                                    title="<?= $trip['first_name']; ?>" height="120"
                                                                    width="120">

                                                                <p style="color: #2181c5;">Member
                                                                    Since <?= date('M Y', strtotime($trip['created'])); ?></p>

                                                                <p>
                                                                    <img
                                                                        src="/public/img/star_<?= round($trip['rates']); ?>.png">
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group"><label>First Name</label>

                                                            <p><?= $trip['first_name']; ?></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group"><label>Last Name</label>

                                                            <p><?= $trip['last_name']; ?></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group"><label>Gender</label>

                                                            <p><?= $trip['gender']; ?></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group"><label>Age</label>

                                                            <p><?= $trip['age']; ?></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group"><label>Location</label>

                                                            <p><?= $trip['location']; ?></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group"><label>About</label>

                                                            <p><?= $trip['aboutus']; ?></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--div class="row">
                                                    <div class="col-xs-4 text-center">
                                                        <a href="javascript:;" class="button btn-primary">View Profile</a></p>
                                                    </div>
                                                </div-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php $z++;
                        } ?>

                    <?php } else { ?>
                        <ul class="list-unstyled">
                         <li class="text-center" style="background: #f5f5f5;">There is no Super Traveller.</li></ul>
                       
                    <?php } ?>
                </div>
                <!--div class="pageNav">
                    <div class="pull-right">
                        1-12 of 18
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                        </div>

                    </div>
                </div-->
            </div>
            <!-- messages -->
        </div>
        <!-- tab-content -->
    </div>
</div>
<div class="gap"></div>
<script type="text/javascript">
      
       $( "#travel_plan").change(function() { 
           
           var travel_plan=$( "#travel_plan").val().split('-');
           if( travel_plan[1] == "seekerPeople"){ alert("ad");
                   $("#seeker_people_issue").show();
                   
           }else if( travel_plan[1] == 'seekerPackage') {
                   $("#seeker_package_issue").show();
           }else if( travel_plan[1] == 'seekerProduct') {
                      $("#seeker_project_issue").show();
           }     
           
           else if( travel_plan[1] == 'travellerPeople'){
                   $("#traveller_people_issue").show();
                   
           }else if( travel_plan[1] == 'travellerPackage') {
                   $("#traveller_package_issue").show();
           }else if( travel_plan[1] == 'travellerPrduct') {
                 $("#traveller_project_issue").show();
           }
  

  
  
});
   
      
      
    
    
    $( "#submit_dispute" ).click(function() {
        var travel_plan=$( "#travel_plan").val().split('-');
    var dataobj = {trip_id: travel_plan[0],issue_type: travel_plan[1],issue:$( "#travel_plan").val(),comment:$( "#dispute_comment").val()};

        $.ajax({
            url: "<?php echo $this->basePath(); ?>/dashboard/adddisputes",
            type: "POST",
            data: dataobj,
            success: function (data) { 
              if(data =='1'){ 
                        window.location.href = "<?php echo $this->basePath(),'/dashboard/notifications'; ?>";

             }
              
            }, error: function (jqXHR, textStatus, errorThrown) {

            }
        });
       
  
  
});


    
    
    $(document).ready(function() {
             
    $("#seeker_people_issue").hide();
    $("#seeker_package_issue").hide();
    $("#seeker_project_issue").hide();
    $("#traveller_people_issue").hide();
    $("#traveller_package_issue").hide();
    $("#traveller_project_issue").hide();
   
            var url = window.location.href;
            var activeTab = url.substring(url.indexOf("#") + 1);
           // alert(activeTab);
           // $("#" + activeTab).addClass("active");
           $('a[href="#'+ activeTab +'"]').tab('show');
           
           
           



   });
    
    
    
    
    $(".topmenuActive.btn-group > .btn").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
    
    
    
</script>
<style>
    .travellerDate {
        position: relative;
        right: 5%;
        top: 0;
        font-size: 15px;
        background: #99cb51;
        border-radius: 10px;
        color: #ffffff;
        padding: 0 10px;
        font-weight: 500;
        float: right;
    }

    label {
        font-weight: bold !important;
    }
</style>