	   <div class="container">


            <div class="row">


                <div class="col-xs-3 col-sm-3">


                    <aside class="user-profile-sidebar">


						<div class="hidden-xs user-profile-avatar text-center">


                            <i class="fa fa-dashboard"></i>


                            <h5>Dashboard</h5>


                        </div>


                        <ul class="hidden-xs list tabs user-profile-nav">


                            <li class="active"><a href="#alerts" data-toggle="tab"><i class="fa fa-bell"></i>Alerts</a></li>


                            <li><a href="#notification" data-toggle="tab"><i class="fa fa-bullhorn"></i>Notification</a></li>


							<li><a href="#messages" data-toggle="tab"><i class="fa fa-envelope"></i>Messages</a></li>


                            <li><a href="#traveller_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Traveller Inquiries</a></li>


                            <li><a href="#seeker_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Seeker Inquiries</a></li>


							<li><a href="#disputes" data-toggle="tab"><i class="fa fa-microphone"></i>Disputes</a></li>


                        </ul>


						<ul class="visible-xs  list tabs user-profile-nav">


                            <li class="active"><a href="<?php echo $this->basePath();?>/dashboard" data-toggle="tab"><i rel="tooltip" title="Alerts" data-placement="right" class="fa fa-2x fa-bell"></i></a></li>


                            <li><a href="#tab2" data-toggle="tab"><i rel="tooltip" title="Notification" data-placement="right" class="fa fa-2x fa-bullhorn"></i></a></li>


                            <li><a href="#tab3" data-toggle="tab"><i rel="tooltip" title="Traveller Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>


                            <li><a href="#tab4" data-toggle="tab"><i rel="tooltip" title="Seeker Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>


                            <li><a href="#tab5" data-toggle="tab"><i rel="tooltip" title="Messages" data-placement="right" class="fa fa-2x fa-envelope"></i></a></li>


							<li><a href="#tab6" data-toggle="tab"><i rel="tooltip" title="Disputes" data-placement="right" class="fa fa-2x fa-microphone"></i></a></li>


                        </ul>


                    </aside>


                </div>


                <div class="col-xs-9 col-sm-9">


				<div class="tab-content">


                    <div class="tab-pane active" id="alerts">


					<!--<h4>Alerts</h4>-->


						<div class="col-xs-12">











                                                   <div class="panel panel-default">


                            <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10">Seeker Inquiries Details</h5></div>


                            <div class="panel-body">


                                <div class="row">


                                        <label class="col-sm-3 control-label">Date</label>


                                        <div class="col-sm-9">


                                            <?=$this->common()->timeZoneAdjust('d M Y',$this->seekerlst['create_date']);?>


                                        </div>


                                </div>


                                <div class="row">


                                        <label class="col-sm-3 control-label">Sender</label>


                                        <div class="col-sm-9">


                                           <?=$this->seekerlst['sender_id'];?>


                                        </div>


                                </div>


                                <div class="row">


                                        <label class="col-sm-3 control-label">Message</label>


                                        <div class="col-sm-9">


                                                <?=$this->seekerlst['message'];?>


                                        </div>


                                </div>














                            </div>


                    </div>























							<!--<div class="row">


								<ul class="notify-list list mb30">


									<li>


										<div class="row">


											<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>


											<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>


											<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>


										</div>


									</li>


									<li>


										<div class="row">


											<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>


											<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>


											<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>


										</div>


									</li>


									<li>


										<div class="row">


											<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>


											<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>


											<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>


										</div>


									</li>


								</ul>


							</div>-->


						</div>


					</div><!-- alerts -->





				</div><!-- tab-content -->


                </div>


            </div>


        </div>
