       <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <aside class="user-profile-sidebar">
						<div class="hidden-xs user-profile-avatar text-center">
                            <i class="fa fa-dashboard"></i>
                            <h5>Dashboard</h5>
                        </div>
                        <ul class="hidden-xs list tabs user-profile-nav">
                            <li class="active"><a href="#alerts" data-toggle="tab"><i class="fa fa-bell"></i>Alerts</a></li>
                            <li><a href="#notification" data-toggle="tab"><i class="fa fa-bullhorn"></i>Notification</a></li>
							<li><a href="#messages" data-toggle="tab"><i class="fa fa-envelope"></i>Messages</a></li>
                            <li><a href="#traveller_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Traveller Inquiries</a></li>
                            <li><a href="#seeker_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Seeker Inquiries</a></li>
							<li><a href="#disputes" data-toggle="tab"><i class="fa fa-microphone"></i>Disputes</a></li>
                        </ul>
						<ul class="visible-xs  list tabs user-profile-nav">
                            <li class="active"><a href="<?php echo $this->basePath();?>/dashboard" data-toggle="tab"><i rel="tooltip" title="Alerts" data-placement="right" class="fa fa-2x fa-bell"></i></a></li>
                            <li><a href="#tab2" data-toggle="tab"><i rel="tooltip" title="Notification" data-placement="right" class="fa fa-2x fa-bullhorn"></i></a></li>
                            <li><a href="#tab3" data-toggle="tab"><i rel="tooltip" title="Traveller Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
                            <li><a href="#tab4" data-toggle="tab"><i rel="tooltip" title="Seeker Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
                            <li><a href="#tab5" data-toggle="tab"><i rel="tooltip" title="Messages" data-placement="right" class="fa fa-2x fa-envelope"></i></a></li>
							<li><a href="#dashboard"><i rel="tooltip" title="Disputes" data-placement="right" class="fa fa-2x fa-microphone"></i></a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-xs-9 col-sm-9">
				<div class="tab-content">
                    <div class="tab-pane active" id="alerts">
					<!--<h4>Alerts</h4>-->
						<div class="col-xs-12">

                                                    <a href="<?php echo $this->basePath();?>/dashboard">Back</a>

                                                   <div class="panel panel-default">
                            <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10">Disputes Details</h5></div>
                            <div class="panel-body">
                                <div class="row">
                                        <label class="col-sm-3 control-label">Date</label>
                                        <div class="col-sm-9">
                                            <?=date("d-M-Y",strtotime($this->disputeslst['datetime']));?>
                                        </div>
                                </div>
                                <div class="row">
                                        <label class="col-sm-3 control-label">Subject</label>
                                        <div class="col-sm-9">
                                           <?=$this->disputeslst['subject'];?>
                                        </div>
                                </div>
                                <div class="row">
                                        <label class="col-sm-3 control-label">Message</label>
                                        <div class="col-sm-9">
                                                <?=$this->disputeslst['descp'];?>
                                        </div>
                                </div>




                            </div>


                    </div>

						</div>


                                        <div class="row">
										<table  class="table table-bordered ">


                                                                                                <?php

                                                                                               // print_r($this->disputeslstdt);
                                                                                                if(count($this->disputeslstdt)>0){
                                                                                                    foreach($this->disputeslstdt as $trip){ ?>
                                                                                                        <tr  <?php if($trip['admin_id'] >0){ echo 'bgcolor="#CCCCCC"';} ?>>



                                                                                                            <td <?php if($trip['admin_id'] >0){ echo "align='right'";}else{echo "align='left'";} ?>><table><tr><td><?php if($trip['admin_id'] >0){ echo "&nbsp;&nbsp;&nbsp;&nbsp;";}else{echo "&nbsp;";} ?></td><td><?=$trip['msg']."<br>-".date("d-M-Y",strtotime($trip['datetime']));?></td></tr></table></td>



                                                                                                        </tr>
                                                                                                    <?php }
                                                                                                }else{ ?>
                                                                                                <tr><td colspan="6" align="center">There is no Reply</td></tr>
                                                                                                <?php } ?>

										</table>
									</div>

                                         <form action="" method="post"  enctype="multipart/form-data" >
                                        <div class="row">
                                        <label class="col-sm-3 control-label">Message</label>
                                        <div class="col-sm-9">
                                                  <textarea class="form-control" name="msg"  placeholder="Add Message"></textarea>
                                        </div>
                                </div>
                                        <div class="row">
									<div class="form-group">
										<label>&nbsp;</label>
										<!--<input type="submit" class="btn pull-right" value="Cancel">-->
										<input type="submit" class="btn mr20 btn-primary pull-right" value="Save">
									</div>
								</div>
                                        </form>
					</div><!-- alerts -->

				</div><!-- tab-content -->
                </div>
            </div>
        </div>
