       <div class="container">


            <div class="row">
				<div class="col-md-3">
            <aside class="user-profile-sidebar">
                 <div class="user-profile-avatar text-center">

                                <?php
                                if(isset($prof['image']) && !empty($prof['image'])){
                if(strpos($prof['image'], "http") !== false){
                    $img = $prof['image'];
                }else{
                    $img = $this->basePath().'/public/uploads/profile_picture/medium/'.$prof['image'];
                }
            }else{
                $img = $this->basePath().'/public/default_user.png';
            }
								if(!empty($reviews)){
										$rev = array();
										foreach($reviews as $review){
											$rev[] = $review['rating'];
										}
										$total_ratings = array_sum($rev)/count($rev);
									}else{
										$total_ratings = 0;
									}
									//print_r($this->notification);
                                ?>
			<div class="user-pro-img"><img src="<?= $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>" title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>" height="100" width="110"/>
			<div class="profile-details">
			<!--h5><?= $comSessObj->user['first_name']; ?></h5-->
            <p class="mb0">Member Since
                <?php echo date(' M Y', strtotime($comSessObj->user['created'])) ?>
            </p>
            <!-- <p class="mb0">Member Since May 2012</p> -->
            <p><img src="/public/img/star_<?= round($total_ratings);?>.png"></p>
			</div>
			</div>
                            </div>

                <ul class="tabs list user-profile-nav">
                    <!--li class="active"><a href="#alerts" data-toggle="tab"><i class="fa fa-bell"></i>Alerts</a></li-->
                    <li class="active"><a href="#notification" data-toggle="tab"><i class="fa fa-bullhorn"></i>Notification</a></li>
					<!--li><a href="#messages" data-toggle="tab"><i class="fa fa-envelope"></i>Messages</a></li-->
                    <li><a href="#traveller_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Traveller Inquiries</a></li>
                    <li><a href="#seeker_inquiries" data-toggle="tab"><i class="fa fa-comment"></i>Seeker Inquiries</a></li>
					<li><a href="#send_items" data-toggle="tab"><i class="fa fa-cube"></i>Sent Items</a></li>
                    <li><a href="#disputes" data-toggle="tab"><i class="fa fa-microphone"></i>Disputes</a></li>
					<li><a href="#super_traveller" data-toggle="tab"><i class="fa fa-user"></i>Super Traveller</a></li>
                </ul>
<!--                <ul class="visible-xs  list tabs user-profile-nav">
                    <li class="active"><a href="#alerts" data-toggle="tab"><i rel="tooltip" title="Alerts" data-placement="right" class="fa fa-2x fa-bell"></i></a></li>
                    <li><a href="#notification" data-toggle="tab"><i rel="tooltip" title="Notification" data-placement="right" class="fa fa-2x fa-bullhorn"></i></a></li>
                    <li><a href="#traveller_inquiries" data-toggle="tab"><i rel="tooltip" title="Traveller Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
                    <li><a href="#seeker_inquiries" data-toggle="tab"><i rel="tooltip" title="Seeker Inquiries" data-placement="right" class="fa fa-2x fa-comment"></i></a></li>
                    <li><a href="#messages" data-toggle="tab"><i rel="tooltip" title="Messages" data-placement="right" class="fa fa-2x fa-envelope"></i></a></li>
                    <li><a href="#disputes" data-toggle="tab"><i rel="tooltip" title="Disputes" data-placement="right" class="fa fa-2x fa-microphone"></i></a></li>
                </ul>-->
            </aside>
        </div>
			<div class="col-xs-9 col-sm-9">


				<div class="tab-content">


                    <div class="tab-pane active" id="alerts">


					<!--<h4>Alerts</h4>-->


						<div class="col-xs-12">











                                                   <div class="panel panel-default">


                            <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10">Traveller Inquiries Details</h5></div>


                            <div class="panel-body">


                                <div class="row">


                                        <label class="col-sm-3 control-label">Date</label>


                                        <div class="col-sm-9">


                                            <?=$this->common()->timeZoneAdjust('d M Y',$this->trvallst['create_date']);?>


                                        </div>


                                </div>


                                <div class="row">


                                        <label class="col-sm-3 control-label">Sender</label>


                                        <div class="col-sm-9">


                                           <?=$this->trvallst['sender_id'];?>


                                        </div>


                                </div>


                                <div class="row">


                                        <label class="col-sm-3 control-label">Message</label>


                                        <div class="col-sm-9">


                                                <?=$this->trvallst['message'];?>


                                        </div>


                                </div>














                            </div>


                    </div>























							<!--<div class="row">


								<ul class="notify-list list mb30">


									<li>


										<div class="row">


											<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>


											<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>


											<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>


										</div>


									</li>


									<li>


										<div class="row">


											<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>


											<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>


											<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>


										</div>


									</li>


									<li>


										<div class="row">


											<div class="col-md-1"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake round"></i></div>


											<div class="col-md-8"><p class="text-lg">Invite a friend and get $25 when they serve user's "P" service requests.</p></div>


											<div class="col-md-3"><p><small>September</small><span class="text-lg">12</span>, 2015</p></div>


										</div>


									</li>


								</ul>


							</div>-->


						</div>


					</div><!-- alerts -->





				</div><!-- tab-content -->


                </div>


            </div>


        </div>
