<?php
$comSessObj = $this->common()->comSessObj;
//echo $comSessObj->ADMIN_NAME ;;exit;
?> 
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', "#goto_forgot", function () {
            clrErr();
            $('#login_panel').hide();

            $('#forgot_panel').fadeIn();
            return false;
        });
        $(document).on('click', "#goto_login", function () {
            clrErr();
            $('#forgot_panel').hide();

            $('#login_panel').fadeIn();
            return false;
        });
        $(document).on('click', ".changeCaptcha", function () {
            reloadCaptcha($(this).attr('id').replace('id_', ''));
            return false;
        });

    });

    function validateForm() {
        clrErr();
        $errStaus = false;
        if (validateFormFields('adminLoginName', 'Please enter your user name.', ''))
            $errStaus = true;
        if (validateFormFields('adminLoginPass', 'Please enter your password.', ''))
            $errStaus = true;

        if ($errStaus) {
            return false;
        } else {
            return true;
        }

    }
    function validateForgotForm() {
        clrErr();
        $errStaus = false;
        if (validateFormFields('adminForgotEmail', 'Please enter your user name.', ''))
            $errStaus = true;

        if ($errStaus) {
            return false;
        } else {
            return true;
        }
    }
</script>

<?php
?>

<div id="wrapper wrap_login_page" class="login-main"> 
    <!-- Sidebar -->
    <div class="col-md-4  col-md-6 col-sm-8 col-xs-12 login_user_div">
        <div class="" id="messageRow">
            <?php
            if (!empty($flashMessages)) {
                ?>
                <div class="row">
                    <?php
                    foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) {
                            ?>
                            <div class="col-xs-12 msg_div">
                                <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                            </div>
                        <?php } ?>
                    <?php } ?>
                </div>
            <?php } ?>


        </div>
        <div class="bg-white">
            <div class="col-md-12 text-center login-logo"> <a href="<?php echo $this->basePath(); ?>" target="_blank"><img src="<?php echo $this->basePath(); ?>/public/img/logo-white.png"  alt="Trepr" title="Trepr"></a> </div>
            <div class="panel panel-primary" id="login_panel" >
                <div class="panel-heading">
                    <h3 class="panel-title panel_title_login text-left"><i class="fa fa-lock"></i> Login</h3>
                </div>
                <div class="panel-body">
                    <form action="<?php echo $_SERVER['REQUEST_URI'] ?>" method="post" accept-charset="utf-8" name="loginFrm" id="loginFrm" onsubmit="return validateForm();">
                        <div class="user-login-info clearfix">
                        <div class="form-group">
                        <div class="input-group" id="div_adminLoginName">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="adminLoginName" value="" id="adminLoginName" placeholder="Username" class="form-control"  />           
                        </div>
                        <p class="text-danger err_msg" id="err_adminLoginName"></p>
                        </div>
                        <div class="form-group">
                        <div class="input-group" id="div_adminLoginPass"> <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" name="adminLoginPass" value="" id="adminLoginPass" placeholder="Password" class="form-control"  />            
                        </div>
                        <p class="text-danger err_msg" id="err_adminLoginPass"></p>
</div>
                        </div>
                        
                        <p><a href="#" id="goto_forgot">Forgot Password</a></p>
                        <div class="form-group text-left">
                            <button name="loginBtn" type="submit" value="true" id="loginBtn" class="btn btn-login btn-padding" >Login</button> </div>
                    </form> </div>
            </div>
            <div class="panel panel-primary" id="forgot_panel" style="display:none;">
                <div class="panel-heading">
                    <h3 class="panel-title panel_title_login text-left"><i class="fa fa-key"></i> Forgot Password</h3>
                </div>
                <div class="panel-body">
                    <form action="<?php echo $_SERVER['REQUEST_URI'] ?>" method="post" accept-charset="utf-8" name="forgotFrm" id="forgotFrm" onsubmit="return validateForgotForm();"> 
                        <div class="user-login-info clearfix">
                        <div class="form-group">
                        <div class="input-group" id="div_adminForgotEmail"> 
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="adminForgotEmail" value="" id="adminForgotEmail" placeholder="Username" class="form-control"  /></div>
                            <p class="text-danger err_msg" id="err_adminForgotEmail"></p> 
</div>
                        </div><p><a href="#" id="goto_login">Click Here to Login</a> </p>
                        <div class="form-group text-left">
                            <button name="loginBtn" type="submit" value="true" id="loginBtn" class="btn btn-login btn-padding" >Submit</button></div>
                    </form> </div>
            </div>
        </div>
    </div>
</div>

