<?php    $comSessObj = $this->common()->comSessObj;    $base_url = $this->serverUrl().$this->basePath();    $fbLoginUrl =  $this->basePath().'/requestfacebook';     ?>
<!-- Start signup Lightbox  -->
<div id="small-signup" class="mfp-with-anim mfp-hide mfp-dialog modal-md">

    <div class="row" id="all_pop">
	<div id="signup-loader" class="content-load" style="display: none;"></div>
	<div id="signupErrMsg" style="color:#FF0000;display:none;">This email id is already been used!</div>
	<div id="sign_up_buttons">
        <div class="social-buttons">
            <a class="btn btn-social btn-facebook" href="<?php echo $fbLoginUrl; ?>"> <span class="fa fa-facebook"></span> Sign up with Facebook </a>
            <a class="btn btn-social btn-google" href="<?php echo $base_url;?>/requestgoogleplus"> <span class="fa fa-google-plus"> </span> Sign up with Google </a>
        </div>
        <div class="signup-or-separator"> <span class="h6 signup-or-separator-text">or </span>
            <hr> </div>
			<a class="btn btn-social btn-google with-email" id="sign_up_with_email" href="javascript:void(0);"> <span class="fa fa-envelope"> </span> Sign up with Email </a>
			<div class="form-group">
                <p class="small" style="font-size:14px;padding-top:11px;">By clicking Sign up or Continue with, I agree to Trepr's <a href="<?php echo $this->basePath(); ?>/legal" data-popup="true">Terms and conditions</a>, <a href="<?php echo $this->basePath(); ?>/legal#user-terms" data-popup="true">User Terms</a> , <a href="<?php echo $this->basePath(); ?>/legal#privacy" data-popup="true">Privacy Policy</a> and <a href="<?php echo $this->basePath(); ?>/legal#privacy" data-popup="true">Nondiscrimination Policy</a>. </p>
            </div>
			<hr>
			<p class="small" style="line-height:27px;font-size:14px;">Already have an TREPR account?
			<a href="#small-login" class="popup-text btn btn-primary" data-modal-href="/login_modal" data-modal-type="login" style="float:right;background: transparent;color: #2181c5;border: 2px solid;">Login</a>
			</p>

        </div>
		<div id="sign_up_with_email_window" style="display:none;">
		<!-- <div id="ss_login">
		<p class="text-center">Sign up with <a href="<?php echo $fbLoginUrl; ?>"> Facebook </a> or <a href="<?php echo $base_url;?>/requestgoogleplus" > Google </a>
		<div class="signup-or-separator"> <span class="h6 signup-or-separator-text">or </span>
            <hr> </div>
			</div> -->
		<form id="formsignup" name="formsignup" onsubmit="event.preventDefault(); validateSignUpForm();"> <input type="hidden" name="userReferrer" id="userReferrer" value="<?php echo (isset($_GET['referrer']) && $_GET['referrer'] != '')?$_GET['referrer']:''; ?>"> <input type="hidden" name="userReferrer" id="userReferrer" value="<?php echo (isset($_GET['referrer']) && $_GET['referrer'] != '')?$_GET['referrer']:''; ?>">
            <div id="signup_step_init">

            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-user input-icon-swing"></i></span>
				<input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name" onkeyup="keyupTask(this.id);" onblur="outField(this.id);"/>
				</div>
                <label for="first_name" id="first_nameLabel" style="display: none;color: #d93900 !important;">First name is required.</label>
                <p class="text-danger err_msg" id="err_first_name"></p>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-user input-icon-swing"></i></span>
				<input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name" onkeyup="keyupTask(this.id);" onblur="outField(this.id);"/>
				</div>
                <label for="last_name" id="last_nameLabel" style="display: none;color: #d93900 !important;">Last name is required.</label>
                <p class="text-danger err_msg" id="err_last_name"></p>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-envelope-o input-icon-swing"></i></span>
				<input class="form-control" type="email" id="email_address" name="email_address" placeholder="Email Address" onkeyup="keyupTask(this.id);"  value="<?php echo (isset($_GET['refTo']) && $_GET['refTo'] != '')?base64_decode($_GET['refTo']):''; ?>" required/>
				</div>
                <?php if(isset($_GET['refTo']) && $_GET['refTo'] != ''){
				echo '<small>Note: Please don\'t change email id registered to enjoy the referral benefit</small>';
				} ?>
				<?php if(isset($_GET['senderID']) && $_GET['senderID'] != ''){
				echo '<input type="hidden" id="senderID" name="senderID" value="'.$_GET['senderID'].'">';
				}else{
				echo '<input type="hidden" id="senderID" name="senderID" value="0">';
				}				?>
                	<label for="email_address" id="email_addressLabel" style="display: none;color: #d93900 !important;">Email ID is required.</label>
                	<label for="email_address" id="email_addressLabelInvalid" style="display: none;color: #d93900 !important;">Email ID is invalid. Please include '@' and domain after '@' in email address.</label>
					<label for="email_address" id="email_addressLabelExits" style="display: none;color: #d93900 !important;"></label>
                <p class="text-danger err_msg" id="err_email_address"></p>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-lock input-icon-swing"></i></span>
				<input class="form-control" type="password" id="password" name="password" placeholder="Password" onkeyup="keyupTask(this.id);" onblur="outField(this.id);"/>
				</div>
                <label for="password" id="passwordLabel" style="display: none;color: #d93900 !important;">Password is required.</label>
                <label for="password" id="passwordLabelInvalid" style="display: none;color: #d93900 !important;">Password is required.</label>
                <p class="" id="error_password"></p>
            </div>
            <div class="form-group" style="margin-bottom:23px;">
			<!--b>Birthday</b>
			<p>To sign up, you must be 18 or older. Others won’t see your birth date.</p-->
                <div class="input-group" style="width:55%;float:left;"> <span class="input-group-addon group-addon-white">  <i class="fa fa-calendar"></i></span> <input type="text" placeholder="Birth Date" class="form-control datepicker dob" id="dob" name="dob" value="" autocomplete="off" onkeyup="keyupTask(this.id);" onblur="outField(this.id);"> </div>
                <label for="dobLabel" id="dobLabel" style="display: none;color: #d93900 !important;">Select your birth date to continue.</label>

                <p class="text-danger err_msg" id="err_dob"></p>
				<div class="input-group" style="width:44%;text-align:center;padding-top:6px;">
				<label class="radio-inline">
				<input name="gender" id="" value="male" type="radio" checked="checked">Male</label>
				<label class="radio-inline">
				<input name="gender" id="" value="female" type="radio">Female</label>
				</div>
				<label for="dobLabel" id="dobUnderLabel" style="display: none;color: #d93900 !important;"></label>
            </div>
            <!---div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-users"></i></span>
                <select id="gender" name="gender" class="form-control" onchange="keyupTask(this.id);" onblur="outField(this.id);">
				<option value="">Gender</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
				</select>
				</div>
                <label for="pass" id="genderLabel" style="display: none;color: #d93900 !important;">Gender is required.</label>
                <p class="text-danger err_msg" id="err_dob"></p>
            </div--->
			<div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-map-marker"></i></span>
                <input class="form-control" type="text" id="location" name="location" placeholder="Where do you live?" onkeyup="keyupTask(this.id);" onblur="outField(this.id);"/>
				</div>
                <label for="location" id="locationLabel" style="display: none;color: #d93900 !important;">Location is required.</label>
                <p class="text-danger err_msg" id="err_dob"></p>
            </div>
            <div class="checkbox small"> <label> <input class="i-check" type="checkbox" id="subscribe" value="1" name="subscribe" />I'd like to recive future communication from Trepr </label> </div>
            <div class="form-group">
                <p class="small" style="font-size:14px;padding-top:11px;">By clicking Sign up or Continue with, I agree to Trepr's <a href="<?php echo $this->basePath(); ?>/legal" data-popup="true">Terms and conditions</a>, <a href="<?php echo $this->basePath(); ?>/legal#user-terms" data-popup="true">User Terms</a> , <a href="<?php echo $this->basePath(); ?>/legal#privacy" data-popup="true">Privacy Policy</a> and <a href="<?php echo $this->basePath(); ?>/legal#privacy" data-popup="true">Nondiscrimination Policy</a>. </p>
            </div>
			<input class="btn btn-primary btn-block" type="button" value="Proceed" id="go_signup_profile_pic_step"/>
			</div>

			<div id="signup_profile_pic_step" style="display:none;">
			<!---1-->
			<div class="formpopupbox">
				<div class="topbar">
        		<div class="backarrow" id="back_to_main">
				<a href="javascript:;"><img src="<?php echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div>
                <div class="dottedround"><img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /></div>
                </div>
                <h1>Add your profile photo</h1>
                <p>Put a face to your name! We’ll add this to
					your profile, and share it with future seekers
					and travellers.</p>
					<div class="imgroundall">
						<div class="imground">
						<img src="<?php echo $this->basePath(); ?>public/img/signup_img.png" alt="" id="pp_image"/>
						</div>
						</div>
    		<div class="uploadbut">
			<input type="file" id="profile_pic" name="profile_pic" onchange="readURL(this);">
			</div>
			<p id="profile_pic_error" style="color:red;"></p>
			<br/><input class="btn btn-primary btn-block" type="button" value="Confirm Pic" id="go_signup_phone_verify_step"/>
    		</div>
			<!---2-->
			 </div>


			<div id="signup_phone_verify_step" style="display:none;">
			<!---1-->
			<div class="formpopupbox">
				<div class="topbar">
        		<div class="backarrow" id="back_to_ppic">
				<a href="javascript:;"><img src="<?php echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div>
                <div class="dottedround"> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /></div>
                </div>
                <h1>Confirm your phone number</h1>
                <p>This is so your seekers or travellers can reach
				you during a trip.</p>
				<div class="imgroundallnew">
					<img src="<?php echo $this->basePath(); ?>public/img/signup_mobile.png" alt="" />
					</div>
    		<div class="uploadbutnewform"><div class="numbertext" id="changed_code">+91</div>
			<input type="number" class="form-control" placeholder="Enter phone number" id="user_phone_number">
			</div>
            <p class="changetext">Not in <span id="changed_id"> India</span>?<a href="javascript:;">Change phone number</a></p>
    		<select class="form-control" id="change_Country">
			<?php foreach($countries as $cn){ ?>
			<option value="<?php echo $cn['ID'];?>" data-id="<?php echo $cn['phone_code'];?>" data-name="<?php echo $cn['name'];?>"><?php echo $cn['name'];?></option>
			<?php } ?>
			</select>
			<div class="resendbut">
			<a href="javascript:;" class="btn btn-primary btn-block"  id="go_signup_email_verify_step"> Confirm Phone Number</a>
			</div>
        	</div>
			<!---2-->

			<div id="signup_otp_verify_step" style="display:none;">
			<div class="form-group">
                <input class="form-control" type="number" value="" id="signup_otp" placeholder="Enter OTP."/>
				<p style="color:red;" id="signup_otp_confirm_error"></p>
				 <br/><input class="btn btn-primary btn-block" type="button" value="Confirm OTP" id="signup_otp_confirm"/>
			</div>
			</div>
			</div>


			<div id="signup_email_verify_step" style="display:none;">
			<!---3-->
			<div class="formpopupbox">
		<div class="topbar">
        		<div class="backarrow" id="back_to_phone">
				<a href="javascript:;"><img src="<?php echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div>
                <div class="dottedround"> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /></div>
                </div>
                <!--h1>Check your email</h1>
                <p>Tap the link in the email we have sent you.
			Please confirm your email ID and
			share your trip itinerary.</p>
			<div class="imgroundallnew">
				<img src="<?php //echo $this->basePath(); ?>public/img/signup_mail.png" alt="" />
				</div>
    		<div class="uploadbutnew"><input type="password" class="form-control" placeholder="loreum@loreum.com"></div>
    		<div class="resendbut">
			<a href="javascript:;" class="btn btn-primary btn-block"  id="go_signup_email_resend"> Resend Email</a>
			</div>
            <p class="changetext"><a href="javascript:;">Change email address</a></p>
        	</div-->
			<!---2-->
			<div id="final_submit" style="display:none;">
			<input class="btn btn-primary btn-block" type="submit" value="Ready to Go"/>
			</div>
			</div>

			</form>

			</div>
        <hr class="mt15 mb15">
        <!--div class="text-left small" id="already_exists"> Already a member? <a href="#small-login" class="popup-text" data-modal-href="/login_modal" data-modal-type="login">Log In</a> </div--->
		<p class="small" style="line-height:27px;font-size:14px;">Already have an TREPR account?
			<a href="#small-login" class="popup-text btn btn-primary" data-modal-href="/login_modal" data-modal-type="login" style="float:right;background: transparent;color: #2181c5;border: 2px solid;">Login</a>
			</p>
    </div>
</div>
<?php  if(isset($comSessObj->login_try_email_exist) && $comSessObj->login_try_email_exist == "1"){   $user_detail = $comSessObj->profile;   $askPassword = false;   if(empty($user_detail['facebook_id']) && $comSessObj->social_login_with == 'facebook')$askPassword = true;   if(empty($user_detail['google_id']) && $comSessObj->social_login_with == 'google')$askPassword = true;     if($askPassword){ ?>
<script>
$('#small-signup').removeClass('mfp-hide');
$('#all_pop').hide();
</script>
<div id="social-login" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md modal-md-new modal-login">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="head-wrap"> <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="tab-heading">Enter your password to login </h4>
            </div>
            <div class="modal-body">
                <div id="social-login-loader" class="content-load" style="display: none;"></div>
                <form role="form" id="social-formlogin">
                    <div class="form-group">
                        <div class="socialPro">
                            <?php                                      if(isset($user_detail['image']) && !empty($user_detail['image'])){                                        if(strpos($user_detail['image'], "http") !== false){                                            $img = $user_detail['image'];                                        }else{                                            $img = $this->basePath().'/public/uploads/profile_picture/small/'.$user_detail['image'];                                        }                                    }else{                                        $img = $this->basePath().'/public/default_user.png';                                    }                                ?> <span>                                    <img src="<?php echo $img?>" class="img-circle">                                                                    </span>
                            <?php echo $user_detail['first_name']?>
                            <?php echo $user_detail['last_name']?> </div>
                        <?php if($askPassword){ ?>
                        <div class="socialProDec"> <label>The email <?php echo $user_detail['email_address']; ?> is already associated with a <?php echo ($user_detail['social_type'])?ucfirst($user_detail['social_type']):'Trepr'; ?> account. Please enter your password to link your accounts:</label> </div>
                        <?php } ?> </div>
                    <div class="form-group"> <input type="hidden" class="form-control" name="semail" id="semail" value="<?php echo $user_detail['email_address']?>" disabled> </div>
                    <div class="form-group"> <label for="password">Password</label>
                        <div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-lock input-icon-swing"></i></span> <input type="password" class="form-control" name="password" value="" required id="spass"> </div>
                    </div>
                    <?php if($askPassword){ ?> <input type="hidden" class="form-control" name="link_social_type" id="link_social_type" value="<?php echo $comSessObj->social_login_with; ?>"> <input type="hidden" class="form-control" name="link_social_id" id="link_social_id" value="<?php echo $comSessObj->user_frnd_identifier; ?>"> <input type="hidden" class="form-control" name="social_dp" id="social_dp" value="<?php echo $comSessObj->photo_url; ?>">
                    <div class="form-group btn-full"> <button type="submit" name="login_and_associate" class="btn btn-primary">Link & Login  Account</button> </div>
                    <?php }else{ ?>
                    <div class="form-group"> <button type="submit" name="login_with_existing" class="btn btn-default btn-block">Login</button> </div>
                    <?php } ?>
                    <div class="form-group text-center"><a href="javascript:" id="not-me">This is not my account</a></div>
                </form>
                <div class="modal-footer">
                    <!--div id="social-login-loader" style="display:none;">Loading..</div-->
                    <!--div id="social-login-error" style="color:red;"></div> Information from
                    <?php //echo $this->comSessObj->social_login_with; ?>--> </div>
            </div>
        </div>
    </div>
</div>
<?php } }if(isset($comSessObj->social_login_signup) && $comSessObj->social_login_signup == "1"){    $user_detail = $comSessObj->profile;  ?>
<script>
$('#small-signup').removeClass('mfp-hide');
$('#all_pop').hide();
</script>
<div id="social-signup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-md-new modal-login">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="head-wrap"> <button type="button" class="close mfp-close" data-dismiss="modal">&times;</button>
                <h4 class="tab-heading">Confirm your details</h4>
            </div>
            <div class="modal-body">
                <div id="social-signup-loader" class="content-load" style="display: none;"></div>
                <form role="form" id="social-signup-user-detail" class="social-signup-user-detail"> <input type="hidden" name="social_type" value="<?php echo $user_detail['social_type']?>"> <input type="hidden" name="social_id" value="<?php echo $user_detail['social_id']?>"> <input type="hidden" name="action" value="profilesdetails"> <input type="hidden" id="userReferrer" name="userReferrer" value="<?php echo (isset($comSessObj->user_referrer)?$comSessObj->user_referrer:''); ?>">
                    <div class="form-group"> <label for="firstName" class="control-label">First Name</label>
                        <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-user input-icon-swing"></i></span> <input type="text" class="form-control" id="first_name_social" name="first_name" value="<?php echo $user_detail['first_name']?>"> <input type="hidden" class="form-control" name="gender" value="<?php echo $user_detail['gender']?>"> </div>
                        <p class="text-danger err_msg" id="err_first_name_social"></p>
                    </div>
                    <div class="form-group"> <label for="lastName" class="control-label">Last Name</label>
                        <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-user input-icon-swing"></i></span> <input type="text" class="form-control" id="last_name_social" name="last_name" value="<?php echo $user_detail['last_name']?>"> </div>
                        <p class="text-danger err_msg" id="err_last_name_social"></p>
                    </div>
                    <div class="form-group"> <label for="email" class="control-label">Email address</label>
                        <div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-envelope-o input-icon-swing"></i></span> <input type="email" class="form-control" id="email_social" name="email" value="<?php echo $user_detail['email_address']?>"> </div>
                        <p class="text-danger err_msg" id="err_email_social"></p>
                    </div>
                    <!---div class="form-group"> <label for="dob" class="control-label">Date of Birth</label>
                        <div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-calendar"></i></span> <input type="text" class="form-control dob" name="dob" value="<?php //echo isset($user_detail['dob'])?date('d-m-Y', strtotime($user_detail['dob'])):'';?>" id="dob_social" autocomplete="off" > </div>
                        <p class="text-danger err_msg" id="err_dob_social"></p>
						<label for="dobLabel" id="dobgLabel" style="display: none;color: #d93900 !important;">Select your birth date to continue.</label>
                    </div--->
					<div class="form-group" style="margin-bottom:23px;">
					<div style="float:left;width:55%">
					<label for="dob" class="control-label">Date of Birth</label>
			<div class="input-group" style="width:100%;float:left;"> <span class="input-group-addon group-addon-white">  <i class="fa fa-calendar"></i></span> <input type="text" class="form-control dob" name="dob" value="<?php echo isset($user_detail['dob'])?date('d-m-Y', strtotime($user_detail['dob'])):'';?>" id="dob_social" autocomplete="off" > </div>
			</div>
                        <p class="text-danger err_msg" id="err_dob_social"></p>
						<label for="dobLabel" id="dobgLabel" style="display: none;color: #d93900 !important;">Select your birth date to continue.</label>
                <div class="input-group" style="width:44%;text-align:center;padding-top:6px;">
				<label for="gender" class="control-label">Gender</label>
				<label class="radio-inline">
				<input name="gender" id="" value="male" type="radio" <?php if($user_detail['gender'] =="male"){ echo ' checked="checked"'; } ?>>Male</label>
				<label class="radio-inline">
				<input name="gender" id="" value="female" type="radio" <?php if($user_detail['gender'] =="female"){ echo ' checked="checked"'; } ?>>Female</label>
				</div>
            </div>
                    <!--div class="form-group"> <label for="password" class="control-label">Password</label>
                        <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-lock input-icon-swing"></i></span> <input type="password" class="form-control" id="password_social" name="password" value="" onkeyup="keyupTask(this.id);" onblur="outField(this.id);" required> </div>
                        <p class="text-danger " id="error_password_social"></p>
						<p class="text-danger err_msg" id="err_password_social"></p>
                    </div-->
					<!---div class="form-group"><label for="gender" class="control-label">Gender</label>
                <div class="input-group">
				<span class="input-group-addon group-addon-white">  <i class="fa fa-users"></i></span>
                <select id="gender" name="gender" class="form-control" >

				<option value="" <?php //if($user_detail['gender'] ==""){ echo ' selected="selected"'; } ?> >Gender</option>
				<option value="male" <?php //if($user_detail['gender'] =="male"){ echo ' selected="selected"'; } ?>>Male</option>
				<option value="female" <?php //if($user_detail['gender'] =="female"){ echo ' selected="selected"'; } ?>>Female</option>
				</select>
				</div>
                <label for="genderLabel" id="genderLabel" style="display: none;color: #d93900 !important;">Gender is required.</label>
                </div--->
				<div class="form-group"><label for="location" class="control-label">Where do you live?</label>
                <div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-map-marker"></i></span>
                <input class="form-control" type="text" id="locationg" name="location" placeholder="Where do you live?" onkeyup="keyupTask(this.id);" onblur="outField(this.id);" required/>
				</div>
                <label for="location" id="locationLabel" style="display: none;color: #d93900 !important;">Location is required.</label>
                <p class="text-danger err_msg" id="err_locationg"></p>
            </div>
                    <div class="form-group btn-full"> <button type="submit" class="btn btn-primary">Proceed</button> </div>
                </form>
				<form role="form" id="social-signup-user-photo" class="social-signup-user-detail" style="display:none;">
				<div class="formpopupbox">
				<div class="topbar">
        		<!--div class="dottedround"><img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /></div--->
                </div>
                <h1>Add your profile photo</h1>
                <p>Put a face to your name! We’ll add this to
					your profile, and share it with future hosts
					and guests.</p>
					<div class="imgroundall">
						<div class="imground">
						<img src="<?php echo $user_detail['image']?>" alt="" id="profile_photo_changed"/>
						</div>
						</div>
			</div>






                    <!--form role="form" id="social-signup-user-photo" class="social-signup-user-detail" -->
                    <div class="form-group"> <label for="email">Is this is your photo? Upload different one from your computer.                        </label> </div>
                    <div class="form-group"> <input type="hidden" name="action" value="profile_photo">
                        <!--div class="profile-photo"> <img src="<?php //echo $user_detail['image']?>" id="profile_photo_changed"> </div--> <input type="hidden" name="profile_photo" value="<?php echo $user_detail['image']?>"> </div>
                    <div class="form-group"> <!--label for="email">Upload new photo</label--> <input type="file" class="form-control" name="new_profile_photo" id="uploadfile" value="change photo" onchange="readURL(this,'profile_photo_changed');"> </div>
					<p style="color:red;" id="err_ss_pic"></p>
                    <!--div class="form-group btn-full"> <button type="button" id="uploadfilechange" class="btn btn-primary">Upload new photo</button> </div--->
					<div class="text-center skip-option" id="cprop" style="display:none;"> <a id="uploadfilechange" href="javascript:void(0);" class="btn btn-green">Confirm</a> </div>
                    <div class="text-center skip-option"> <a id="photo-okay" href="javascipt:void(0);" class="btn btn-green">Yes, That's me.</a> <!--<a id="skipinfo_social-signup-user-phone" class="skipinfo btn btn-black-new" href="javascript:void(0);">Skip for now</a>--> </div>
                </form>
                <form role="form" id="social-signup-user-phone" class="social-signup-user-detail" style="display:none;">
				<div id="myphone-main">
				<div class="formpopupbox">
				<div class="topbar">
        		<!---div class="backarrow" id="back-to-profile-pic">
				<a href="javascript:;"><img src="<?php //echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div>
                <div class="dottedround"> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /></div--->
                </div>
                <h1>Confirm your phone number</h1>
                <p>This is so your hosts or guests can reach
				you during a trip.</p>
				<div class="imgroundallnew">
					<img src="<?php echo $this->basePath(); ?>public/img/signup_mobile.png" alt="" />
					</div>
        	</div>

				<div class="form-group">
				<input type="hidden" name="action" id="" value="phone">
				<input type="hidden" name="my_con_code" id="my_con_code" value=""/>
											<div class="unverified_phone" style="display:flex;">
											<div class="btn-group oppo" role="group" style=" margin:0px; padding:0px;float:left;width:100%;">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;" id="m_country_button">
											  <span id="selected_codess"><a href="javascript:;">Select Country</a></span>
											  <!--span class="caret"></span-->
											</button>
											<input type="text" class="form-control" style="display:none;padding:5px 3px 7.1px 3px;margin-top:10px; border-radius:0px;width:100%;line-height:23.5px;" id="search_my_country" onkeyup="filter_country(this,'conList')"/>
											<ul class="dropdown-menu" id="conList">
											<li data-id="" id="IDIDs" class="select_codess"><a href="javascript:;">Select Country</a></li>
											  <?php foreach($countries as $cnte){ ?>
											   <li data-id="<?php echo $cnte['phone_code'];?>" id="IDs_<?php echo $cnte['code'];?>" data-code="<?php echo $cnte['code'];?>" class="select_codess">
											   <a href="javascript:;"><img src="/public/img/flags/32/<?php echo $cnte['code'];?>.png" width="24"> <?php echo $cnte['name'];?> </a></li>
											  <?php } ?>
											</ul>
										  </div>

											</div>
											<div class="uploadbutnewform">
											<div class="numbertext" id="con_code">+</div>
											<div  style="display:flex;">
											<input type="number" class="form-control" placeholder="Enter phone number" id="myphone" name="phone" style="width:59%;margin-right:2%">

												<input type="submit" class="btn btn-primary" value="Get OTP" style="border-color:#2181c5;background:#2181c5;  padding: 0;"/>
												</div>
												<p style="color:red" id="myphone-number-error-social"></p>
											</div>

												</div>
												</div>
				<div id="complete-registeration-otp-step-social" style="display:none;">
						<div class="form-group">
							<input class="form-control" type="input" value="" id="complete-registeration-signup-otp-social" placeholder="Enter OTP."/>
							<p style="color:red;" id="gotp_error"></p>
							 <br/><input class="btn btn-primary" type="button" value="Confirm OTP" id="complete-registeration-confrim-otp-social" style="width:41%;margin-right:10px;float:left;"/>
							 <input class="btn btn-primary" type="button" value="Change Phone Number" id="back-to-myphone-div" style="width:56%;"/>

						</div>
					</div>
                    <!---div class="text-center skip-option"> <a id="skipinfo_social-signup-user-email-cofirm" class="skipinfo btn btn-black-new" href="javascript:void(0);">Skip for now</a> </div--->
                </form>
				<form role="form" id="social-final-cofirm" class="social-final-cofirm" style="display:none;">
						<input type="hidden" name="action" id="" value="final_submit">
				</form>

                <form role="form" id="social-signup-user-email-cofirm" class="social-signup-user-detail" style="display:none;">
                    <!--form role="form" id="social-signup-user-email-cofirm" class="social-signup-user-detail"-->
                    <div class="form-group"> <label for="email">Confirm your email, We’ll send an email to the address below.                         Tap the link in the email to confirm it’s you.                        </label> </div>
                    <div class="form-group"> <label for="email">Email address:</label> <input type="hidden" name="action" value="sendVerfication"> <input type="hidden" class="form-control" name="first_name" value="<?php echo $user_detail['first_name']?>"> <input type="hidden" class="form-control" name="last_name" value="<?php echo $user_detail['last_name']?>"> <input type="text" class="form-control" name="email_address" value="<?php echo $user_detail['email_address']?>"> </div>
                    <div class="form-group btn-full"> <button type="submit" class="btn btn-primary" class="email_address" id="sendVerfication">Send Verification</button> </div>
                    <div class="text-center skip-option"> <a id="skipinfo_social-signup-user-email" class="skipinfo btn btn-black-new" href="javascript:void(0);">Skip for now</a> </div>
                </form>
                <form role="form" id="social-signup-user-email-recofirm" class="social-signup-user-detail" style="display:none;">
                    <!--form role="form" id="social-signup-user-email-recofirm" class="social-signup-user-detail"-->
                    <div class="form-group"> <label for="email">Tap the link in the email we have sent you. Please confirm your email ID and share your trip itinerary.                        </label> </div>
                    <div class="form-group"> <label for="email">Email address:</label> <input type="hidden" name="action" value="resendVerfication"> <input type="hidden" class="form-control" name="first_name" value="<?php echo $user_detail['first_name']?>"> <input type="hidden" class="form-control" name="last_name" value="<?php echo $user_detail['last_name']?>"> <input type="text" class="form-control" class="email_address" name="email_address" readonly="readonly" value="<?php echo $user_detail['email_address']?>"> </div>
                    <div class="form-group btn-full"> <button type="submit" class="btn btn-primary" id="resendVerfication">Resend Email</button> </div>
                    <div class="text-center skip-option"><a id="changeEmailAddress" class="btn btn-green" href="javascript:void(0);">Change Email Address</a> <a id="skipinfo_social-signup-user-email" class="skipinfo btn btn-black-new" href="javascript:void(0);">Skip for now</a> </div>
                </form>
                <form role="form" id="social-signup-user-email" style="display:none;">
                    <!--form role="form" id="social-signup-user-email"-->
                    <div class="form-group text-center">
                        <!--h5>You are Done!</h5>--><h5>Wait Redirecting to Dashboard.</h5>
                    </div>
                    <!--div class="form-group text-center"> <a class="btn btn-green text-normal" href="javascript:void(0);" id="clear-social-login">Let's Go!</a></div>
                --></form>
            </div>
            <div class="modal-footer">
			<div id="social-signup-error" style="color:red;"></div>
                <!--div id="social-signup-loader" style="display:none;">Loading...</div-->
                <!--div id="social-signup-error" style="color:red;"></div> Information from
                <?php //echo $this->comSessObj->social_login_with; ?>--> </div>
        </div>
    </div>
</div>
<?php } ?>
<div id="confirm-email-address" class="modal fade " role="dialog">
    <div class="modal-dialog modal-login">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title social-signup-title">Email Confirmation.</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group"> <label for="email">Thanks for confirming your email ID.</label> <a href="javascript:void(0);" id="clear-social-login">Let's Go! </a> </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End signup Lightbox  -->
<!-- Start Login Lightbox  -->
<div id="small-login" class="mfp-with-anim mfp-hide mfp-dialog modal-md">
    <div id="login-loader" class="content-load" style="display: none;"></div>
    <div class="row">
        <div class="social-buttons btn-full">
            <a class="btn btn-social btn-facebook" href="<?php echo $fbLoginUrl; ?>"> <span class="fa fa-facebook"> </span> Log In with Facebook </a>
            <a class="btn btn-social btn-google" href="<?php echo $this->basePath();?>/requestgoogleplus"> <span class="fa fa-google-plus"> </span> Log In with Google </a>
        </div>
        <div class="signup-or-separator"> <span class="h6 signup-or-separator-text">or</span>
            <hr> </div>
        <form id="formlogin" name="formlogin">
            <div id="logginErrMsg" style="color: #FF0000; display: none;">Invalid email.</div>
            <div class="form-group">

            	<div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-envelope-o input-icon-swing"></i> </span>
				<input class="form-control" type="email" id="email" placeholder="Email Address" onclick="removeBack(this.id);" onfocus="checkValue(this.id);"/> </div>
            	<label for="email" id="emailLabel" style="display: none;color: #d93900 !important;">Email ID is required.</label>
            <label for="email" id="emailLabelInvalid" style="display: none;color: #d93900 !important;">Email ID is incorrect.</label>
            </div>
            <div class="form-group">
            	<div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-lock input-icon-swing"></i> </span>
				<input class="form-control" type="password" id="pass" placeholder="Password" onclick="removeBack(this.id);" onfocus="checkValue(this.id);"/> </div>
            	<label for="pass" id="passLabel" style="display: none;color: #d93900 !important;">Password is required.</label>
				<!---label for="pass" id="passLabelInvalid" style="display: none;color: #d93900 !important;">Password is incorrect.</label--->
            </div>
            <div class="checkbox small" style="font-size:14px;"> <label><input class="i-check" type="checkbox" />Remember me</label> <a href="#small-fp" class="popup-text forgot-password pull-right" onclick="getEmailForPass();">Forgot password?</a> </div> <input class="btn btn-primary btn-block" type="submit" value="Log In" /> </form>
        <hr class="mt15 mb15">
        <div class="text-left small" style="font-size:14px;text-align-center;"> Don't have a Trepr Account? <a href="#small-signup" class="popup-text" data-modal-href="/signup_modal" data-modal-type="signup" style="font-size:16px;">Sign up</a> </div>
    </div>
</div>
<!-- End Login Lightbox  -->
<!-- End Forgot Password Lightbox  -->
<div id="small-fp" class="mfp-with-anim mfp-hide mfp-dialog modal-sm">
    <h5 class="panel-heading bg-gray" style="margin: -20px -30px 0px ! important; border-bottom: 1px solid #E2E2E2;">Reset Password</h5>
    <div class="row">
        <p class="small mt10">Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
        <form id="forgotPasswordBox" name="forgotPasswordBox">

            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-envelope-o input-icon-swing"></i></span> <input class="form-control" id="reset_email" type="email" placeholder="Registered Email ID" /> </div>
				<div id="forgoteErrMsg" class="err_messge" style="color: #FF0000; display: none;">Invalid email ID, please provide valid email ID</div>
            <div id="forgoteSuccMsg" class="err_messge" style="color: #78D841; display: none;">Please check your email to reset password!</div>
            </div> <input class="btn btn-primary btn-lg btn-block" type="submit" value="Send Reset Link" /> </form>
    </div>
</div>
<!-- End Forgot Password Lightbox  -->

<!-- Start Registration Lightbox -->
<div id="complete-registeration" class="modal fade " data-toggle="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width:383px;">
<div class="modal-content">
      <div class="modal-header head-wrap" style="background:none;">
        <button type="button" class="close mfp-close" data-dismiss="modal">×</button>
        <h4 class="tab-heading">Complete your registration</h4>
      </div>
      <div class="modal-body">
	  <form enctype="multipart/form-data" name='imageform' id="imageform" method="post" action="/myprofile/completesignup">
        <div id="complete-registeration-pic-step" style="display:block;">
			<!---1-->
			<div class="formpopupbox">

				<div class="topbar">
        		<!--div class="backarrow" id="back_to_main">
				<a href="javascript:;"><img src="<?php //echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div-->
                <!---div class="dottedround"><img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /></div--->
                </div>
                <h1>Add your profile photo</h1>
                <p>Put a face to your name! We’ll add this to
					your profile, and share it with future seekers
					and travellers.</p>
					<div class="imgroundall">
						<div class="imground">
						<img src="<?php echo $this->basePath(); ?>public/img/signup_img.png" alt="" id="cr_pp_image"/>
						</div>
						</div>
    		<div class="uploadbut">
			<input type="file" id="propic" name="propic" onchange="readURL(this,'cr_pp_image');rmErr();">
			</div>
			<p id="complete-registeration-pic-error" style="color:red;"></p>
			<br/><input class="btn btn-primary btn-block" type="button" value="Confirm Pic" id="go-complete-registeration-phone-step"/>

    		</div>
			</div>
			 <div id="complete-registeration-phone-step" style="display:none;">
			 <div id="for-phone-number">
			<div class="formpopupbox">
				<div class="topbar">
        		<!---div class="backarrow" id="back-to-profile-pic">
				<a href="javascript:;"><img src="<?php //echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div>
                <div class="dottedround"> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /></div--->
                </div>
                <h1>Confirm your phone number</h1>
                <p>This is so your hosts or guests can reach
				you during a trip.</p>
				<div class="imgroundallnew">
					<img src="<?php echo $this->basePath(); ?>public/img/signup_mobile.png" alt="" />
					</div>

					<div class="form-group">
											<input id="phone_code_for_otp" type="hidden" value=""/>
											<input type="hidden" name="myy_con_code" id="myy_con_code" value=""/>
											<div class="unverified_phone" style="margin: 12px 0 0px 0;display:flex;">
											<div class="btn-group" role="group" style=" margin:0px; padding:0px;float:left;width:100%;">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;" id="mc_country_button">
											  <span id="selected_codes"><a href="javascript:;">Select Country</a></span>
											  <!--span class="caret"></span-->
											</button>
											<input type="text" class="form-control" style="display:none;padding:5px 3px 7.1px 3px;margin-top:10px; border-radius:0px;width:100%;line-height:23.5px;" id="searchc_my_country" onkeyup="filter_country(this,'concList')"/>
											<ul class="dropdown-menu" id="concList">
											<li data-id="" id="IDID" class="select_codes"><a href="javascript:;">Select Country</a></li>
											  <?php foreach($countries as $cnte){ ?>
											   <li data-id="<?php echo $cnte['phone_code'];?>" id="ID_<?php echo $cnte['code'];?>" data-code="<?php echo $cnte['code'];?>" class="select_codes">
											   <a href="javascript:;"><img src="/public/img/flags/32/<?php echo $cnte['code'];?>.png" width="24"> <?php echo $cnte['name'];?> </a></li>
											  <?php } ?>
											</ul>
										  </div>

											</div>
											<div class="uploadbutnewform"><div class="numbertext" id="changed-code">+</div>
											<input type="number" class="form-control" placeholder="Phone number" id="user-phone-number" style="margin-right:2%">
											<div class="input-group" style="display:flex; ">
												<a id="go-signup-email-verify-step" href="javascript:void(0);" class="btn btn-primary" style="width:99%;padding:10px;">Get OTP</a>
												</div>
											</div>

												<p style="color:red" id="myphone-number-error"></p>
												</div>
        	</div>
			</div>
			<div id="complete-registeration-otp-step" style="display:none;">
			<div class="form-group">
                <input class="form-control" type="input" value="" id="complete-registeration-signup-otp" placeholder="Enter OTP."/>
				<p style="color:red" id="myphone-otp-error"></p>
				 <br/>
				 <div>
				 <input class="btn btn-primary btn-block" type="button" value="Confirm OTP" id="complete-registeration-confrim-otp" style="width: 42%;float:left;margin-right:10px;"/>
				 <input class="btn btn-primary btn-block" type="button" value="Change phone Number" id="back-to-change-phone" style="width: 55%;"/>
				 </div>
			</div>
			</div>
			</div>
			<div id="complete-registeration-final-step" style="display:none;">
			<!---3-->
			<div class="formpopupbox">
		<div class="topbar">
        		<!---div class="backarrow" id="back-to-phone">
				<a href="javascript:;"><img src="<?php //echo $this->basePath(); ?>public/img/signup_back_arrow.png"  /></a>
				</div>
                <div class="dottedround"> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dottedborder.png" alt="" /> <img src="<?php //echo $this->basePath(); ?>public/img/signup_gray_dark.png" alt="" /></div--->
                </div>
            <div id="complete-registeration-final-submit" style="display:block;">
			<input class="btn btn-primary btn-block" type="submit" value="Ready to Go" id="complete-registeration-ready-to-go"/>
			</div>
			</div>
			</div>
			</form>
      </div>
    </div>
  </div>
</div>
<!-- End Registration  Lightbox -->

<!-- Start Guidence Lightbox -->
<div id="complete-registeration-message" class="modal fade " data-toggle="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
<div class="modal-content">
      <!--div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Complete your registration</h4>
      </div-->
      <div class="modal-body">
        <p>Thanks for registering with us. Please check your email and confirm details to complete your registration.
		<button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true" style="float:right;">OK</button>
</p>
      </div>
    </div>
  </div>
</div>
<!-- End Guidence  Lightbox -->
