<input type="hidden" name="service_type" id="service_type" value="package" >
<input type="hidden" name="userroleType" id="userroleType" value="<?php echo $this->comSessObj->userrole;?>" >
<input type="hidden" name="" id="package_service_fee_estimate" value="" >
<section id="wizard">

    <div id="rootwizard" class="tabbable tabbable-new tabs-left wow fadeIn">
        <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
            <li  class="active"><a  href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1"><span class="text">Trip Details</span></a></li>
            <li  class="next"><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2"><span class="text">Origin Location Address</span></a></li>
            <li><a href="#tab3" role="tab3" data-toggle="tab" aria-controls="tab1"><span class="text">Package</span></a></li>
        </ul>

        <div class="tab-content">
            <?php
            $showBtn = true;
            $action = 'add';
            if ($this->trip_traveller) {
                $showBtn = true;
                $action = 'edit';
            }
            $showTripId = true;
            if (isset($TYPE) && !empty($TYPE)) {
                $showTripId = false;
                 $action = 'edit';
            }
			//echo "<pre>";print_r($this->sessionObj->carryOn);echo "</pre>";
            ?> 

            <input type="hidden" id="action" value="<?php echo $action ?>" >
            <div class="tab-pane fade in active" id="tab1">
                <div class="table-wrapper-row full-width">
                    <div class="col-md-8 table-cell travel-form bg-white">

                        <?php echo $this->render('layout/includes/traveller-people-travel-plan.phtml') ?>			

                    </div>
                     <div class="col-md-4 rightSection bg-white" style="width:100%;">
                        <aside class="sidebar-right">
                            <div class="sidebar-block verify-traveler">
                                <div class="sidebar-header">
                                    <h5 class="mb0">Travel Service Benefits Highlights</h5>
                                </div>
                                <div class="verify-traveler-inner">  
                                    <div class="block-inner-title">Packages Service</div>
                                    <ul class="verify-traveler-details">
                                        <li><strong>SPACE</strong><br>Share your baggage space for shipping and monetize your trip leisurely</li>
                                        <li><strong>BAGGAGE</strong><br>Invoke comprehensive airline based bag limits to avoid over weight trips</li>
                                        <li><strong>GUIDE</strong><br>Use our cross border baggage customs direction for litigation free service</li>
                                        <li><strong>TAXATION</strong><br>Evident customs, currency & airport tax regulations before service consent</li>
                                        <li><strong>MONETIZE</strong><br>Earn starting at £10/kg upto any value when multiple packages carried</li>
                                        <li><strong>ACQUAINT</strong><br>Search travellers by source address to acquaint and pickup the package</li>
                                        <li><strong>FILES</strong><br>Use tools to examine items that match photos and description to help delivery</li>
                                        <li><strong>MESSAGING</strong><br>Secured chat among seeker, traveller and recipient to make delivery easy</li>
                                        <li><strong>FLEXIBLE</strong><br>No contracts and no hassle. From delivery to deposit, all is done via app</li>
                                        <li><strong>REVIEWS</strong><br>Earn great reviews and become super traveller for bonus revenue</li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>

            <!-- End #tab1 -->

            <div class="tab-pane" id="tab2">

                <?php echo $this->render('layout/includes/origin-location-address.phtml') ?>
            </div>

            <!-- End #tab2 -->

            <div class="tab-pane " id="tab3">
                <div class="table-wrapper-row full-width">
                    <div class="col-md-8 table-cell travel-form bg-white">

                        <form id="form_addtrippeople_package" name="form_addtrippeople_package">
                         <input type="hidden" name="package_service_fee" id="package_service_fee" value="0" >
                          <input type="hidden" name="gotourl" id="gotourl" value="<?php echo $this->gotourl?>" >
                           <input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="" >
                         <input type="hidden" name="total_cost_currency_ajax" id="total_cost_currency_ajax" value="" >
                    <input type="hidden" name="currency_conversion_rate_ajax" id="currency_conversion_rate_ajax" value="" >
                                    
                            <?php if ($showTripId) { ?>
                                <input type="hidden" name="trip_edit_id" value="<?php echo isset($this->trip['ID']) ? $this->trip['ID'] : 0; ?>" >
                            <?php } ?>
                            
                            
                            <h5 id="trip_title" class="sub-heading text-left">Provide details about bags you carry in this travel</h5>
<hr class="title-border">
<div class="row">
                            <div class="form-group form-group-select-plus col-sm-12">

                                <label class="control-label">No of baggages carried <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

                                <?php
                                  $peopleCount = (isset($this->trip_traveller['packages_count']) && $this->trip_traveller['packages_count']) ? $this->trip_traveller['packages_count'] : 1;
                                    if($peopleCount>10)$showBtn = false;
                                  if ($showBtn) {
                                        ?>
                                        <div class="btn-group btn-group-select-num trip_mm_package" data-toggle="buttons">
  <?php
                                        for ($pCount = 1; $pCount <= 10; $pCount++) {
                                              $checked1 = (isset($peopleCount) &&  $peopleCount == $pCount)?'checked="checked"':'';
                                              $active1 = (isset($peopleCount) &&  $peopleCount == $pCount)?'active':'';
                                            ?>
                                             <label class="btn btn-primary  <?php echo $active1;?>" id="trip_mm_package_<?php echo $pCount?>"><input <?php echo $checked1;?> type="radio" name="packages_count" id="packages_count"  value="<?php echo $pCount?>" /><?php echo ($pCount == 10)?'10+':$pCount;?></label>
                                            <?php
                                        }
                                        ?> 
                                            
                                             
                                             												

                                        </div>
                                    <?php } ?>

                                    <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>" id="packages_count" name="packages_count_more">


                                        <?php
                                        for ($pCount = 1; $pCount <= 25; $pCount++) {
                                            $peopleCount = (isset($this->trip_traveller['packages_count']) && $this->trip_traveller['packages_count']) ? $this->trip_traveller['packages_count'] : 11;

                                            $selected = (isset($peopleCount) && $peopleCount == $pCount) ? 'selected="selected"' : '';
                                            ?>
                                            <option <?php echo $selected; ?> value="<?php echo $pCount ?>"><?php echo $pCount ?></option>
                                            <?php
                                        }
                                        ?>


                                    </select>

                                

                            </div>
    </div>
    <div class="row">
                            <div class="form-group col-sm-12">

                                <label class="control-label">Overall weight allowed in airline for all baggages <a class="icon-info" onclick="getbagagge();" href="#" data-toggle="tooltip" title="<?php echo $comSessObj->carryOn;?>" data-placement="bottom"></a></label>

                                <input type="text" value="<?php echo (isset($this->trip_traveller['airline_allowed_weight']) && !empty($this->trip_traveller['airline_allowed_weight']))?$this->trip_traveller['airline_allowed_weight']:''; ?>" id="airline_allowed_weight" name="airline_allowed_weight" style="display:none;" >
                <p style="margin-bottom: 0px;" id="err_airline_allowed_weight" class="text-danger err_msg"></p> 

                                   

                            </div>
</div>
<div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <div class="available-volume">
                                                                            <div class="volume-box volume-box-1 active" id="icon-doc_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Document</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="volume-box volume-box-1 " id="icon-backbag_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Backbag</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-1 " id="icon-suitcase_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-1 " id="icon-package_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-bicycle.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Bicycle case</p>
                                                                                </div>
																			</div>
																			<div class="volume-box volume-box-1 " id="icon-biggest-package_1">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-biggest.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Oversize bag</p>
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

<div class="row">
    <div class="form-group col-sm-5">
        <label class="control-label">Approx.weight carried by you over all<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <div class="form-group col-sm-9" style="padding:0">
			<input type="number" id="weight_carried" value="<?php echo (isset($this->trip_traveller['weight_carried']) && !empty($this->trip_traveller['weight_carried']))?$this->trip_traveller['weight_carried']:''; ?>" class="form-control" name="weight_carried" />
        </div>
        <div class="form-group col-sm-3" style="padding:0">
		<input type="text" id="weight_carrieds" name="weight_carrieds" style="display:none;" value="">
        <select name="weight_carried_unit" class="form-control" id="weight_carried_unit">
        	<option <?php echo (isset($this->trip_traveller['weight_carried_unit']) && $this->trip_traveller['weight_carried_unit'] == 'kg')?'selected="selected"':''; ?> value="kg">KG</option>
            <option <?php echo (isset($this->trip_traveller['weight_carried_unit']) && $this->trip_traveller['weight_carried_unit'] == 'lbs')?'selected="selected"':''; ?> value="lbf">LBS</option>
        </select>
        </div>
		<p style="margin-bottom: 0px;" id="err_weight_carried" class="text-danger err_msg"></p>
    </div>
    <div class="form-group col-sm-7">
    	<label class="control-label">Approx.weight of package you can accommodate <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <div class="form-group col-sm-9" style="padding:0">
        	<input type="number" id="weight_accommodate" value="<?php echo (isset($this->trip_traveller['weight_accommodate']) && !empty($this->trip_traveller['weight_accommodate']))?$this->trip_traveller['weight_accommodate']:''; ?>" class="form-control" name="weight_accommodate" />
        </div>
        <div class="form-group col-sm-3" style="padding:0">
        <select name="weight_accommodate_unit" class="form-control" id="weight_accommodate_unit">
        	<option <?php echo (isset($this->trip_traveller['weight_accommodate_unit']) && $this->trip_traveller['weight_accommodate_unit'] == 'kg')?'selected="selected"':''; ?> value="kg">KG</option>
            <option <?php echo (isset($this->trip_traveller['weight_accommodate_unit']) && $this->trip_traveller['weight_accommodate_unit'] == 'lbs')?'selected="selected"':''; ?> value="lbf">LBS</option>
        </select>
        </div>
		<p style="margin-bottom: 0px;" id="err_weight_accommodate" class="text-danger err_msg"></p>  
    </div>
</div>

<!--<div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <div class="available-volume">
                                                                            <div class="volume-box volume-box-2 active" id="icon-doc_2">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Document</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="volume-box volume-box-2 " id="icon-backbag_2">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Backbag</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-2 " id="icon-suitcase_2">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-2 " id="icon-package_2">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-bicycle.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Bicycle case</p>
                                                                                </div>
                                                                            </div>
																			<div class="volume-box volume-box-2 " id="icon-biggest-package_2">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-biggest.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Oversize bag</p>
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->


 
<div class="row">
 	<div class="form-group col-sm-5">
        <label class="control-label">Items that you don't wish to carry <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <textarea class="form-control" placeholder="" rows="3" id="not_wish_to_carry" name="not_wish_to_carry" ><?php echo (isset($this->trip_traveller['not_wish_to_carry'])) ? $this->trip_traveller['not_wish_to_carry'] : '' ?> </textarea>
        <p style="margin-bottom: 0px;" id="err_not_wish_to_carry" class="text-danger"></p>
	</div>
	<div class="form-group col-sm-7">
    	<label class="control-label">Approx worth of package you can carry<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    	<input type="number" name="item_worth" id="item_worth"  class="form-control" value="<?php echo (isset($this->trip_traveller['item_worth'])) ?$this->trip_traveller['item_worth']: '' ?>" aria-label="Amount (to the nearest dollar)"><div style="position: absolute;top: 34px;right: 25px;z-index: 9999999;padding-left: 10px;border-left: 1px solid #737373;font-size: 25px;" class="current_currency_code_small"><?php echo $comSessObj->currencycode;?></div>
		<p style="margin-bottom: 0px;" id="err_item_worth" class="text-danger "></p> 
        <input type="text"  class="form-control current_currency_code" name="item_worth_currency" id="item_worth_currency" value="<?php echo $comSessObj->currency;?>" readonly="true" style="display:none"/>
		<p style="margin-bottom: 0px;" id="err_item_worth_currency" class="text-danger err_msg"></p>
    </div>
</div>

<div class="row">
<div class="form-group col-sm-12">

    <label class="control-label">Comments to the seeker <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <textarea class="form-control" placeholder="Provide your commnts to seeker regarding this service." rows="3" id="comment" name="comment" ><?php echo (isset($this->trip_traveller['comment'])) ? $this->trip_traveller['comment'] : '' ?> </textarea>
    <p style="margin-bottom: 0px;" id="err_comment" class="text-danger"></p>


</div>
    </div>

                        </form>

                    </div>

                    <div class="col-md-4 rightSection bg-white" style="width:100%;">

                        <aside class="sidebar-right">

                            <div class="sidebar-block">
                                <div class="sidebar-header">
                                    <h5 class="mb0">Estimated earnings</h5>
                                </div>
                                <div class="sidebar-block-inner text-center">
                                    <div class="block-inner-title">Package Service</div>
                                    <div class="text-center est-price">
                                    <span class="price_tag_span">
                                        <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p> 
                                        <i class="price_tag_price" id="span_package_service_fee">0.00</i> 
                                        <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </aside>

                    </div>
                </div>
            </div>

            <!-- End #tab3 -->

            <div class="gap gap-small"></div>

            <ul class="pager pager-new wizard">
                <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                <li class="previous"><a href="javascript:;">Previous</a></li>
                <li class="next"><a href="javascript:;">Next</a></li>
                <li class="next finish"><a href="javascript:;" id="finish">Finish & Search</a></li>
            </ul>

        </div>

    </div>

</section>
<div class="gap gap-small"></div>
<script>
    $(document).ready(function () {
        var hash = window.location.hash.substr(1);
        console.log('hash' + hash);
        if (hash != '') {
            if (hash == 'trip') {
                $('#rootwizard a[href="#tab1"]').trigger('click');
            }
            if (hash == 'service') {
                $('#rootwizard a[href="#tab3"]').trigger('click');
            }
			if(hash == 'location'){
                 $('#rootwizard a[href="#tab2"]').trigger('click');
            }
        }
        $(document).on('change', '#trip_type', function () {
            $('#finish').html('Finish & Key return trip');
            if ($(this).val() == 1) {
                $('#finish').html('Finish & Search');
            }
        });

    });
    
    $('input:radio').click(function() {
    $('input:radio[name='+$(this).attr('name')+']').parent().removeClass('active');
        $(this).parent().addClass('active');
});

function getbagagge(){
	alert(baseurl + "/airlinedetail");
	// $.ajax({
        // type: "POST",
        // url: baseurl + "/airlinedetail",
        // async: false,
        // success: function(msg) {
        // }
    // });
}
$(document).on('change', '#packages_count', function(e) {
	var ths = $(this).val();
	if($(this).val() < 11){
			$(this).addClass('hidden');
			$('.trip_mm_package').removeClass('hidden');
			for(i=1;i<=11;i++){
				if($('#trip_mm_package_'+i).hasClass('active')){
				$('#trip_mm_package_'+i).removeClass('active');
				}
			}
			$('.trip_mm_package > label#trip_mm_package_'+ths).addClass('active');
		}
});/**/
$('.trip_mm_package > label.btn').on('click',function(){
	var ths = $(this).attr('id');
	$('.trip_mm_package > label.btn').removeClass('active');
	$('#'+ths).addClass('active');
	if(ths =='trip_mm_package_11'){
		$('#packages_count > select>option:eq(11)').prop('selected', true);
	} else {
		$('#'+ths+' [name="packages_count"]').prop('checked','checked');
	}
	return false;
});/**/
</script>