<?php if($this->tripStatus == 4){?>
<div class="mfp-with-anim  mfp-dialog modal-lg mfp-dialog-tab" id="select-type" style="width:400px;">
    <div class="head-wrap">
        <h4 class="tab-heading">Upload Trip Ticket</h4>
        <button class="mfp-close" type="button" title="%title%">x</button>
    </div>
    <form id="ticket_upload" class="ticket_upload">
    	<div id="ticket_photo_preview" style="min-height:100px; text-align:center;"></div>
        <input type="hidden" name="tripIdNumber" id="tripIdNumber" value="<?php echo $this->trip_id_number;?>" />
    </form>
    <div class="mfp-tab-footer text-center">
        <div class="row">
            <div class="col-xs-12 mfp-tab-btn">
            	<input type="file" id="ticket" style="display:none;" />
            	<input class="btn btn-black" onclick="$('#ticket').trigger('click')" id="acceptBtn" type="button" value="Browse" />
            	<input class="btn btn-primary" id="acceptBtn" type="button" value="Upload" onclick="uploadTravelerTicket();">
                <a class="btn btn-black" href="javascript:void(0);" onclick="skipticketVerify()" >Skip</a>
            </div>
        </div> 
    </div>
</div>
<script type="text/javascript">
$(function(){
	$('#ticket').change(function() {
		readImageImgURL(this);
	});
});
function readImageImgURL(input) {
  if (input.files && input.files[0]) {
	var reader = new FileReader();
	reader.onload = function(e) {
		$('#ticket_photo_preview').html('<img width="200" src="'+e.target.result+'">');
	}
	reader.readAsDataURL(input.files[0]);
  }
}
function skipticketVerify(){
	$('#skip_ticket_verify').val(1);
	var magnificPopup = $.magnificPopup.instance; 
	magnificPopup.close();
	setTimeout(function(){
		if($('.payment_popup_btn').length){
			$('.payment_popup_btn button').trigger('click');
		} else if(typeof placevalues === 'function'){
			placevalues($('#requestid').val(),$('#status').val(),$('#requestService').val());
		}
	},500);
}
function uploadTravelerTicket(){
	$.blockUI({
		message: '<div class="alert alert-success"><p class="text-small">Uploading....</p></div>',
		baseZ: 99999
	});
	travelFormData = new FormData();
	travelFormData.append('file', $('#ticket')[0].files[0]);
	travelFormData.append('tripIdNumber', $('#tripIdNumber').val());
	travelFormData.append('sepUpload', '1');
	$.ajax({
		type: 'POST',
		url: base_url + '/traveller/uploadticket',
		data: travelFormData,
		cache: false,
		contentType: false,
		processData: false,
		success: function (mydata) {
			var resDataObj = jQuery.parseJSON(mydata);
			if (resDataObj.result == 'success') {
				$.blockUI({
					message: '<div class="alert alert-success"><p class="text-small">Successfully uploaded!</p></div>',
					baseZ: 99999
				});
				var magnificPopup = $.magnificPopup.instance; 
				magnificPopup.close();
				setTimeout(function(){
					$.unblockUI();
					if($('.payment_popup_btn').length){
						$('.payment_popup_btn button').trigger('click');
					} else if(typeof placevalues === 'function'){
						placevalues($('#requestid').val(),$('#status').val(),$('#requestService').val());
					}
				},500);
			}
		}
	});	
}
</script>
<?php } ?>