<input type="hidden" name="type_of_service" id="type_of_service" value="<?php echo $_GET['service']; ?>" >
<input type="hidden" name="seeker_trip_id" id="seeker_trip_id" value="" >
<input type="hidden" name="traveller_trip_id" id="traveller_trip_id" value="<?=$trip_id;?>" >
<input type="hidden" name="seeker_people_request_id" id="seeker_people_request_id" value="" >
<input type="hidden" name="seeker_package_request_id" id="seeker_package_request_id" value="" >
<input type="hidden" name="seeker_project_request_id" id="seeker_project_request_id" value="" >
<input type="hidden" name="skip_document_verify" id="skip_document_verify" value="0" >
<input type="hidden" name="trip_orgin_location" id="trip_orgin_location" value="" >
<input type="hidden" name="traveller_package_amount" id="traveller_package_amount" value="" >
<input type="hidden" name="seeker_people_service_id" id="seeker_people_service_id" value="<?php echo isset($this->trip['trip_people']['ID'])?$this->trip['trip_people']['ID']:''; ?>" >
<input type="hidden" name="seeker_package_service_id" id="seeker_package_service_id" value="<?php echo isset($this->trip['trip_package']['ID'])?$this->trip['trip_package']['ID']:''; ?>" >
<input type="hidden" name="seeker_project_service_id" id="seeker_project_service_id" value="<?php echo isset($this->trip['trip_project']['ID'])?$this->trip['trip_project']['ID']:''?>" >
<input type="hidden" name="" id="listingandconfirm_page" value="yes" >
<div class="content-page">
    <div class="row row-wrap">
        <?=$this->render('application/traveller/helpers_detail_page/left_panel.phtml')?>
        <div class="col-md-6">
             <div class="middle-section bg-white">
                 <div class="middle-section-inner">
            <div class="panel-group" id="accordion">
                <?=$this->render('application/traveller/helpers_detail_page/personal_info.phtml')?>
                <?=$this->render('application/traveller/helpers_detail_page/travel_info.phtml')?>
                <?=$this->render('application/traveller/helpers_detail_page/people_service_info.phtml')?>
                <?=$this->render('application/traveller/helpers_detail_page/package_service_info.phtml')?>
                <?=$this->render('application/traveller/helpers_detail_page/project_service_info.phtml')?>
                <?=$this->render('application/traveller/helpers_detail_page/review_info.phtml')?>
            </div>
             </div>
           </div>
        </div> 
        <?=$this->render('application/traveller/helpers_detail_page/right_panel.phtml')?>        
    </div>
</div>

<form action=""   name="searchForm" id="searchForm">
 <input type="hidden" name="origin_id" id="origin_id" value="<?php echo isset($this->trip['origin_location'])?$this->trip['origin_location']:''?>">
 <input type="hidden" name="destination_id" id="destination_id" value="<?php echo isset($this->trip['destination_location'])?$this->trip['destination_location']:''?>">
 <input type="hidden" name="date" id="date" value="<?php echo isset($this->trip['departure_date'])?date('m/d/Y',strtotime($this->trip['departure_date'])):''?>">
 <input type="hidden" name="service" id="service" value="<?php echo isset($_GET['service'])?$_GET['service']:'people'?>">
 <input type="hidden" name="looking_for" id="looking_for" value="<?php echo isset($this->looking_for)?$this->looking_for:''?>">
 <input type="hidden" name="search_type" id="search_type" value="ajax">
 <input type="hidden" name="noofstops" id="noofstops" value="all">
  <input type="hidden" name="trip_id" id="trip_id" value="<?=$trip_id;?>">
</form>

 
   <script>
$(document).ready(function (){
    searchRelatedTrips();
    <?php if(isset($this->seeker_people_request_id) && !empty($this->seeker_people_request_id)){ ?>
        getSeekerPeopleServiceNeed('<?php echo $this->seeker_people_request_id ?>');
    <?php } 
    if(isset($seeker_package_request_id) && !empty($seeker_package_request_id)){ ?>
        getSeekerPackageServiceNeed('<?php echo $seeker_package_request_id?>');
    <?php } 
    if(isset($seeker_project_request_id) && !empty($seeker_project_request_id)){ ?>
       getSeekerProjectServiceNeed('<?php echo $seeker_project_request_id?>');
    <?php } ?>
}); 
</script>