<?php if($this->trip_traveller_package['ID']!=''){ ?>
@SPLIT@<?=$this->trip_traveller_package['ID'];?>@SPLIT@
<!-- people-info -->

 

<div class="panel-body">
 
 <div class="form-group">
            <label class="control-label">No of individual items need to be carried</label>
            <p><?php echo $this->trip_traveller_package['packages_count']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Weight allowed in airline per baggage</label>
            <p><?php echo $this->trip_traveller_package['airline_allowed_weight']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Approx.weight carried by you over all</label>
            <p><?php echo $this->trip_traveller_package['weight_carried']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Approx.weight of baggage you can accommodate</label>
            <p><?php echo $this->trip_traveller_package['weight_accommodate']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Items that you don't wish to carry</label>
            <p><?php echo $this->trip_traveller_package['not_wish_to_carry']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Comment's to this Seeker</label>
            <p><?php echo $this->trip_traveller_package['comment']; ?></p>
            </div>
 
 
    

    <!--button class="btn btn-primary" type="button" onclick="getPacakgesFee();">Save</button> <button class="btn btn-primary" type="button">Cancel</button-->
    <div class="gap gap-mini"></div>
</div>
<?php } ?>