<?php if($this->trip_traveller_project['ID']!=''){ ?>
@SPLIT@<?=$this->trip_traveller_project['ID'];?>@SPLIT@
<!-- people-info -->
<div class="panel-body" style="padding-left:0">
  <div class="row">
                        <div class="form-group col-sm-12">
                        	<div class="form-group col-sm-6" style="padding:0">
                                <label class="control-label">Product Category</label>  
                                <p><?php echo $this->trip_traveller_project['product_catname']; ?></p>
                            </div>
                            <div class="form-group col-sm-6" style="padding:0">
                            	<label class="control-label">Product Type</label>  
                            	<p><?php echo $this->trip_traveller_project['product_subcatname']; ?></p>
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-12">
                        	<div class="form-group col-sm-6" style="padding:0">
                                <label class="control-label">Item worth</label>  
                                <p><?php echo $this->trip_traveller_project['item_worth'].' '.$this->trip_traveller_project['item_worth_currency']; ?></p>
                            </div>
                            <div class="form-group col-sm-6" style="padding:0">
                            	<label class="control-label">Item weight</label>  
                            	<p><?php echo $this->trip_traveller_project['item_weight'].' '.$this->trip_traveller_project['item_weight_unit']; ?></p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label">Comments to the seeker</label>  
                            <p><?php echo $this->trip_traveller_project['comment']; ?></p>
                        </div>
                    </div>   
 
       
        <!--button class="btn btn-primary" type="button" onclick="getProjectsFee();">Save</button> <button class="btn btn-primary" type="button">Cancel</button-->
       <div class="gap gap-mini"></div>
</div>
<?php } ?>