<?php

//$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.bootstrap.wizard.js','text/javascript');

$this->headScript()->appendScript("setTimeout(function(){ seekerTripHistoryClinkload(); }, 3000);");

?>

<div class='container-fuild'>

	<div class="well well-sm mb0">

		<div class='container'>

			<div class="row">

				<div class='col-md-4 col-xs-4'>

					<ul class="breadcrumb mt0">

						<li><a href="<?php echo $this->basePath(); ?>/"><i class="fa fa-home"></i></a></li>

						<li><a href="<?php echo $this->basePath(); ?>/traveller">Traveller</a></li>

						<li class="active">My Trip History</li>

					</ul>

				</div>

				<div class="col-md-8 col-xs-8">

					<?=$this->render('helpers/switch-user.phtml')?>

				</div>

			</div>

		</div>

	</div>

</div>

<div class="gap gap-small"></div>

<!--<div class="container">

<div class="tab-content">

	<div id="seeker" class="tab-pane fade in active">

		<div class="col-xs-4 col-sm-3 col-md-3">

			<aside class="sidebar-left">

				<h4 class="text-center mb15">Total Expenses</h4>

				<div class="graybox"></div>

			</aside>

		</div>

		<div class="col-xs-8 col-sm-9 col-md-9">

			<div class="row">

				<div class="col-md-6">

				<h4 class="mb15 pull-left">My Trip History</h4>

				</div>

				<div class="col-md-6">

				<div class="btn-group pull-right">

				  <button class="btn btn-default">All</button>

				  <button class="btn btn-default">Active</button>

				  <button class="btn btn-default">Expired</button>

				  <button class="btn btn-default">Deleted</button>

				</div>

				</div>
			</div>
<div id='loading' >Loading..</div>

<div id="demoajax" >
</div>

<input type="hidden" name="pgv" id="pagv" value="0"/>
		</div>

	</div>
	<div id="provider" class="tab-pane fade">

		<div class="col-xs-4 col-sm-3 col-md-3">

			<aside class="sidebar-left">

				<h4 class="text-center mb15">Total Expenses</h4>

			</aside>

		</div>

		<div class="col-xs-8 col-sm-9 col-md-9">

			<h4 class="mb15">My Trip Expenses</h4>

		</div>

	</div>
</div>


</div>-->

<div class="gap"></div>

<div class="gap"></div>

<div class="gap"></div>

