 <?php
                           // print_r($this->mytrip);
                            foreach($this->retval as $val)
                            {
                               
                                ?>
                    <div class="row">
                           
				<div class="col-md-3">
					<div class="graybox">
						<div class="calendar-daily">
							<p class="title"><?=$val['title'];?></p>
							<span class="subtitle"><?=$val['subtitle'];?></span>
						</div>
						<div class="graybox-footer graybox-footer-calendar"><span><?=$val['calender'];?></span></div>
						<div class="graybox-wrap graybox-wrap-<?=$val['classty'];?>"><?=$val['classmsg'];?></div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="graybox">
						<div class="graybox-heading">
							<div class="fromto">
								<h5 class=""><?=$val['name'];?></h5>
								<h5 class=""><?=$val['origin_location'];?></h5>
							</div>
						</div>
						<div class="graybox-right-col">
							<span class="amount">90</span>
							<span class="currency">USD</span>
						</div>
						<div class="graybox-footer">
							<div class="sixty-present">
								<div class="head-tag"><i class="fa fa-briefcase"></i>Services</div><span><?=$val['service'];?></span>
							</div>
							<div class="forty-present">
								<div class="head-tag"><i class="fa fa-clock-o"></i>Booking ID</div><span>HTLWR45694W</span>
							</div>
						</div>
					</div>
				</div>
			</div>
                                 <?php
                            }
                            
                            $pagcnt=($_REQUEST['page']*5);
                            if($this->mytripcnt>$pagcnt){
                            ?>
<a href="javascript:void(0);" onclick="javascript:seekerTripHistoryClinkload();" class="ladtg" sty>Load More</a>
                            <?php } ?>