
<input type="hidden" name="service_type" id="service_type" value="project" >
<div class='container'>
    <div class="row">
     <form action="<?php echo $this->basePath() ?>/traveller/project-service-on-location" class="form_addtrippeople_origindetail form-horizontal" method="post" id="form_origin_location_address" name="form_origin_location_address" >
        <section id="wizard">
            <div id="rootwizard" class="tabbable tabbable-new tabs-left wow fadeIn">
                        <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1"><span class="text">Current Service Address</span></a></li>
                            <li class="next"><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2"><span class="text">Product</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <?php echo $this->render('layout/includes/traveller-project-travel-plan.phtml') ?>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <div class="table-wrapper-row full-width">
                        <div class="col-md-8 table-cell travel-form bg-white">
                            <form class="form-horizontal"  id="form_addtrippeople_project" name="form_addtrippeople_project">
                                <div class="headline"><p><strong>Provide details about products / Tasks you can perform</strong></p></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category of tasks you wish to perform</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="task" name="task" onchange="Loadprojectsubcat(this.value)">
                                            <option value="">Select</option>
                                            <?php
                                            foreach ($this->projectcat as $val) {
                                                echo '<option value="' . $val['ID'] . '">' . $val['catname'] . '</option>';
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="projsubcat" name="task" >
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Dates available</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox checkbox-stroke">
                                            <input id="anydate" class="i-check" type="checkbox"  name="anydate" />Any Date
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">From &amp; To Date</label>
                                    <div class="col-sm-8">
                                        <div class="input-daterange" id="datepicker">
                                            <div class="input-group">
                                                <input type="date"   name="project_start_date" id="switchDisabledRadio" class="input-small form-control" name="start" />
                                                <span class="input-group-addon">to</span>
                                                <input type="date"   name="project_end_date" id="switchDisabledRadio" class="input-small form-control" name="end" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Comment's to this Seeker</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control"  id="comment" name="comment" placeholder="Provide your commnts to seeker regarding this service." rows="3"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 table-cell flightStatus bg-white">
                            <aside class="sidebar-right">

                                            <div class="sidebar-block">
                                                <div class="sidebar-header">
                                                    <h5 class="mb0">Estimated Fee</h5>
                                                </div>
                                                <div class="sidebar-block-inner text-center">
                                                    <div class="block-inner-title">Package Service</div>
                                                    <div class="text-center est-price"><span>$0</span></div>
                                                </div>
                                            </div>
                                        </aside>
                            
                            
                            
                        </div>
                        </div>
                    </div><!-- End #tab3 -->
                   <div class="gap gap-small"></div>
                    <ul class="pager pager-new wizard">
                        <li class="previous first" style="display:none;"><a href="#">First</a></li>
                        <li class="previous"><a href="#">Previous</a></li>
                        <li class="next"><a href="#">Next</a></li>
                        <li class="next finish"><a href="#">Finish</a></li>
                    </ul>
                </div>
            </div>
        </section>
       </form>
    </div>
</div>
<div class="gap gap-small"></div>