<?php

$this->headScript()->appendScript("setTimeout(function(){ TravellerrequestClinkload(); }, 3000);");

?>

<div class='container-fuild'>

	<div class="well well-sm mb0">

		<div class='container'>

			<div class="row">

				<div class='col-md-4 col-xs-4'>

					<ul class="breadcrumb mt0">

						<li><a href="<?php echo $this->basePath(); ?>/"><i class="fa fa-home"></i></a></li>

						<li><a href="<?php echo $this->basePath(); ?>/traveller">Traveller</a></li>

						<li class="active">Traveller Request</li>

					</ul>

				</div>

				<div class="col-md-8 col-xs-8">

					<?=$this->render('helpers/switch-user.phtml')?>

				</div>

			</div>

		</div>

	</div>

</div>

<div class="gap gap-small"></div>

<div class='container'>

    <!--

	<div class="row">

		<ul class="booking-list booking-list-wishlist">

			<li>

				<div class="booking-item">

					<div class="row">

						<div class="col-md-3">

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">Fri DEC 12</span>

							</div>

							

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">People Service</span>

							</div>

						</div>

						<div class="col-md-6">

							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>

							<br />

							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>

						</div>

						<div class="col-md-3">

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>

						</div>

					</div>

				</div>

			</li>

			<li>

				<div class="booking-item">

					<div class="row">

						<div class="col-md-3">

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">Fri DEC 12</span>

							</div>

							

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">People Service</span>

							</div>

						</div>

						<div class="col-md-6">

							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>

							<br />

							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>

						</div>

						<div class="col-md-3">

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>

						</div>

					</div>

				</div>

			</li>

			<li>

				<div class="booking-item">

					<div class="row">

						<div class="col-md-3">

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">Fri DEC 12</span>

							</div>

							

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">People Service</span>

							</div>

						</div>

						<div class="col-md-6">

							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>

							<br />

							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>

						</div>

						<div class="col-md-3">

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>

						</div>

					</div>

				</div>

			</li>

			<li>

				<div class="booking-item">

					<div class="row">

						<div class="col-md-3">

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">Fri DEC 12</span>

							</div>

							

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>

							<span class="tra-date">People Service</span>

							</div>

						</div>

						<div class="col-md-6">

							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>

							<br />

							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>

						</div>

						<div class="col-md-3">

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>

						</div>

					</div>

				</div>

			</li>

			<li>

				<div class="booking-item">

					<div class="row">

						<div class="col-md-3">

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>

								<span class="tra-date">Fri DEC 12</span>

							</div>

							

							<div class="cus-shadow">

							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>

								<span class="tra-date">People Service</span>

							</div>

						</div>

						<div class="col-md-6">

							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>

							<br />

							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>

							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>

						</div>

						<div class="col-md-3">

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>

							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>

						</div>

					</div>

				</div>

			</li>

		</ul>

	</div>-->

    <div id='loading' >Loading..</div>

<div id="demoajax" >

    



</div>

<input type="hidden" name="pgv" id="pagv" value="0"/>

	<div class="gap gap-small"></div>

</div>