<div class="row">
		<ul class="booking-list booking-list-wishlist">
			
                        
                        
			<!--<li>
				<div class="booking-item">
					<div class="row">
						<div class="col-md-3">
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>
							<span class="tra-date">Fri DEC 12</span>
							</div>
							
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>
							<span class="tra-date">People Service</span>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>
							<br />
							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>
						</div>
						<div class="col-md-3">
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="booking-item">
					<div class="row">
						<div class="col-md-3">
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>
							<span class="tra-date">Fri DEC 12</span>
							</div>
							
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>
							<span class="tra-date">People Service</span>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>
							<br />
							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>
						</div>
						<div class="col-md-3">
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="booking-item">
					<div class="row">
						<div class="col-md-3">
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>
							<span class="tra-date">Fri DEC 12</span>
							</div>
							
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>
							<span class="tra-date">People Service</span>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>
							<br />
							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>
						</div>
						<div class="col-md-3">
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="booking-item">
					<div class="row">
						<div class="col-md-3">
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-calendar box-icon-big box-icon-inverse"></i></div>
								<span class="tra-date">Fri DEC 12</span>
							</div>
							
							<div class="cus-shadow">
							<div class="pull-left"><i class="fa fa-briefcase box-icon-big box-icon-inverse"></i></div>
								<span class="tra-date">People Service</span>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="booking-item-title">Chennai International Airport (MAA)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> Chennai, TN, India.</p>
							<br />
							<h5 class="booking-item-title">John F. Kennedy Airport (JFK)</h5>
							<p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY, USA.</p>
						</div>
						<div class="col-md-3">
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent by You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Request Sent to You</h5></a></div>
							<div class="servive-block servive-block-dark-blue"><a href="<?php echo $this->baseUrl(); ?>/travelertripcontenders"><h5>Profiles you shortlisted</h5></a></div>
						</div>
					</div>
				</div>
			</li>-->
		</ul>
	</div>