<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($paymentHistoryRow) && !empty($paymentHistoryRow)) {
    extract($paymentHistoryRow);
}
$arrPayStatus = array(
    0 => 'On Hold',
    1 => 'Money With Trepr',
    2 => 'Partilly Returned',
    3 => 'Fully Returned',
);
 $ARR_ORDER_STATUS_COLOR = array(
  '0' => 'label label-success',
'1' => 'label label-info',
 '2' => 'label label-warning',
 '3' => 'label label-primary',
 '4' => 'label label-success',
 '5' => 'label label-danger',
 '6' => 'label label-success',
'7' => 'label label-info'
 );
?>
<style type="text/css">
 .map_canvas { 
     width: 380px; 
     height: 700px; 
     margin: 10px 20px 10px 0;
 }

 #multiple li { 
     cursor: pointer; 
     text-decoration: underline; 
 }
</style>
<script type="text/javascript">
    $(document).ready(function () {

       $(document).on('change', "#changeUserPassword", function () {

       });
    });

    function doActionFn(action, id) {
       var refundType = '';
       if (action == 'approve' || action == 'reject') {
          var actionMsg = (action == 'approve') ? 'Accept payment' : 'reject payment';
          if (confirm("Are you sure you want to " + actionMsg + "?")) {
              if(action == 'reject'){id = $('#pay_id').val();
              refundType = $('#refundType').val();
                }
             acceptPayment(action, id,refundType);
          }
       }
    }

    function acceptPayment(action, id,refundType) {
       loadblockUI('Loading.. Please wait.');
       $.magnificPopup.close();
       jQuery.ajax({
          type: "POST",
          url: '<?php echo $this->basePath() ?>/admin/payments/accept-payments',
          data: 'action=' + action + '&id=' + id+'&refundType='+refundType,
          dataType: 'json',
          success: function (result) {
              
             $.unblockUI();
             if (result['msg_status'] == 'success') {
                loadblockUI(result['msg']);
              setTimeout('$.unblockUI(); location.reload();', 3000);
             } else {
                loadblockUI(result['msg']);
                 setTimeout('$.unblockUI(); ', 3000);
             }
          }
       });
    }

</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
 <!-- Sidebar -->
 <div id="page-wrapper">
  <div class="wrapper-inner">
   <div class="top-section">
    <div class="row">
     <div class="col-xs-12">
      <h2>Payment Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
      <ol class="breadcrumb">
       <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
       <li>Payments</li>
       <li><a href="<?php echo $this->basePath(); ?>/admin/payments/histrory"> Payment List </a></li>
       <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Payment Details</li>
      </ol>
     </div>
    </div>
   </div>

   <!-- /.row -->
   <div id="messageRow">
       <?php if (!empty($flashMessages)) { ?>
        <div class="row">
            <?php foreach ($flashMessages as $msg) {
                foreach ($msg as $type => $message) {
                    ?>
                 <div class="col-xs-12 msg_div">
                  <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span aria-hidden="true">×</span></button>
            <?php echo $message; ?>
                  </div>
                 </div>
             <?php }
         }
         ?>
        </div>
       <?php } ?>
   </div>
   <div class="box-white">
<?php if ($action == 'add') { ?>
        <div class="row">

        </div>
<?php } else { ?>
        <div class="row">
         <div class="col-xs-12">
          <div class="page-header text-left">
           <h3>Service Info</h3>
          </div>
          <?php
          if ($paymentHistoryRow['pay_trip_table'] == 'trips') {
              $tripUrl = $this->basePath() . '/admin/travellermanager?action=view&id=' . $paymentHistoryRow['pay_trip_id'];
              $serviceUrl = $this->basePath() . '/admin/travelleservicermanager?action=view&id=' . $paymentHistoryRow['pay_trip_id'];
          } else {
              $tripUrl = $this->basePath() . '/admin/seekermanager?action=view&id=' . $paymentHistoryRow['pay_trip_id'];
              $serviceUrl = $this->basePath() . '/admin/seekerservicermanager?action=view&id=' . $paymentHistoryRow['pay_trip_id'];
          }
          ?> 
          <div class="inner-tab">
           <ul class="nav nav-tabs nav-tabs-new">
            <li id="tripDetails_tab"><a  href="<?php echo $tripUrl; ?>">Trip Details</a></li>
            <li id="locations_tab" ><a href="<?php echo $tripUrl; ?>#locations">Origin Location Address</a></li>
            <li id="service_tab "><a data-toggle="tab" href="<?php echo $serviceUrl; ?>#service">Services</a></li>
            <li id="payment_tab " class="active"><a data-toggle="tab" href="#payment">Payments</a></li>
           </ul>
          </div>
          <div class="tab-content">


           <div id="payment" class="tab-pane fade active in ">
            <div class="col-xs-12">

             <div class="page-header text-left">
              <h3>Payment Info</h3>
             </div>
             <div class="row">
              <div class="form-group col-md-4">
               <label class="control-label">Pay User (Type) </label>
               <p>
    <?php echo (isset($paymentHistoryRow['email_address']) && $paymentHistoryRow['email_address'] != '') ? $paymentHistoryRow['email_address'] : '--'; ?>
                <br/>(<?php echo $paymentHistoryRow['pay_user_type'] ?>)
               </p>
              </div>
              <div class="form-group col-md-4">
               <label class="control-label">Pay To User </label>
               <p>
    <?php echo (isset($paymentHistoryRow['paytouser']) && $paymentHistoryRow['paytouser'] != '') ? $paymentHistoryRow['paytouser'] : '--'; ?>
               </p>
              </div>
              <div class="form-group col-md-4">
               <label class="control-label">Txn.Id </label>
               <p>
    <?php echo (isset($paymentHistoryRow['pay_trans_id']) && $paymentHistoryRow['pay_trans_id'] != '') ? $paymentHistoryRow['pay_trans_id'] : '--'; ?>
               </p>
              </div>

             </div>
             <div class="row">
              <div class="form-group col-md-4">
               <label class="control-label">Pay Amount </label>
               <p>
    <?php echo (isset($paymentHistoryRow['pay_amount']) && $paymentHistoryRow['pay_amount'] != '') ? number_format($paymentHistoryRow['pay_amount'], 2) . ' ' . $paymentHistoryRow['pay_currency'] : '--'; ?>
               </p>
              </div>
              <div class="form-group col-md-4">
               <label class="control-label">Date </label>
               <p>
    <?php echo (isset($paymentHistoryRow['pay_added']) && $paymentHistoryRow['pay_added'] != '') ? date('d-m-Y', $paymentHistoryRow['pay_added']) : '--'; ?>
               </p>
              </div>
              <div class="form-group col-md-4">
               <label class="control-label">Status </label>
               <p>
    <?php echo (isset($paymentHistoryRow['pay_status']) && $paymentHistoryRow['pay_status'] != '') ? '<span class="label '.$ARR_ORDER_STATUS_COLOR[$paymentHistoryRow['pay_status']] .'" >'.$arrPayStatus[$paymentHistoryRow['pay_status']].'</span>' : '--'; ?>
               </p>
              </div>
             </div>

             <?php
             if ($paymentHistoryRow['pay_user_type'] == 'seeker') {

                 $adminProfit = round((20 / 100) * $paymentHistoryRow['pay_amount']);
                 $travellerEarnings = $paymentHistoryRow['pay_amount'] - $adminProfit;
                 ?>
                 <div class="row">
                  <div class="form-group col-md-4">
                   <label class="control-label">Admin Profit Amount </label>
                   <p>
        <?php echo (isset($adminProfit) && $adminProfit) ? number_format($adminProfit, 2) . ' ' . $paymentHistoryRow['pay_currency'] : '--'; ?>
                   </p>
                  </div>
                  <div class="form-group col-md-4">
                   <label class="control-label">Traveller Earnings </label>
                   <p>
        <?php echo (isset($travellerEarnings) && $travellerEarnings) ? number_format($travellerEarnings, 2) . ' ' . $paymentHistoryRow['pay_currency'] : '--'; ?>
                   </p>
                  </div>

                 </div>
                 <?php
             }
             if (isset($paymentHistoryRow['pay_status'] ) && ($paymentHistoryRow['pay_status'] == 0 || $paymentHistoryRow['pay_status'] == 1) ) {
                 ?>
                 <div class="row">
                  <div class="form-group col-md-6">
                   <label class="control-label">Actions</label>
                   <p>
                   <div class="new-act-buttons disp_inline_fl"> 
                       <?php
                       if($paymentHistoryRow['pay_status'] == 0){
                            echo '&nbsp;<button type="button" class="btn btn-warning btn-xs btn-approve" title="Approve" onClick="doActionFn(\'approve\',' . $paymentHistoryRow['pay_id'] . ');">Accept Payment</button>';
                       }
                       if($paymentHistoryRow['pay_status'] == 0 || $paymentHistoryRow['pay_status'] == 1){
                            echo '&nbsp;<a href="#reject-popup" onclick="setPopValues(' . $paymentHistoryRow['pay_id'] . ')" class="content-popup-link"><button type="button" class="btn btn-danger btn-xs  btn-delete  btn-reject" data-toggle="tooltip" title="Return" >Return</button></a>';
                       }
                       ?>
                   </div>
                   </p>
                  </div>  </div>
             <?php } ?>
            </div>
           </div>
          </div>
         </div>
        </div>
    <?php } ?>
   </div>
  </div>
 </div>
</div>
<script>
    function setPopValues(id) {
       $('#pay_id').val(id);
       $.magnificPopup.open({items: {src: '#reject-popup'}, type: 'inline'}, 0);
    }
</script>
<div id="reject-popup" class="white-popup mfp-hide">
 <div class="row">
  <div class="col-lg-12">
   <div class="page-header text-left">
    <h3 id="popupHead">Reject Reason</h3>
   </div>
   <form enctype="multipart/form-data"   id="rejectForm" name="rejectForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
    <input type="hidden" name="pay_id" id="pay_id" > 
    <div class="row">

     <div id="div_gender" class="form-group col-md-6">
      <label for="gender" class="control-label">Return Type <span style="color:red;">&nbsp;*</span></label>
      <select id="refundType" class="form-control required" name="refundType">
       
       <option value="Full">Return Full Amount</option>
       <option value="Partial">Return Except Admin Profit</option>
      </select>
      <p id="err_gender" class="text-danger err_msg"></p>
     </div></div>
    <div class="row">
     <div class="form-group col-lg-6">
      <label class="control-label" for="orderTrackInfo">Note</label>
      <br>
      <textarea name="pay_reason" id="pay_reason" class = "form-control"></textarea> 
     </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="row">
     <div class="col-lg-12">
      <p><button class="btn btn-primary" id="rejectBtn" value="true" type="button"  onClick="doActionFn('reject','');" name="rejectBtn">Submit</button>
      </p>
     </div>
    </div>
   </form>
  </div>
 </div>
</div> 