<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/payments/pending';
$searchArray = array(
    'trip_id_number' => 'Trip Number'
);
$filterByStatus = array(
    'Awaiting' => 'Awaiting Approval',
    'Approved' => 'Approved',
    'Rejected' => 'Rejected'
);
$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
?>
<script type="text/javascript">
    function doActionFn(id) {
        if (confirm("Are you sure you send the payment?")) {
			$('#ids').val(id);
			$('#listFrm').submit();
		}
    }

</script>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Payout Pendings<small>List</small> </h2>
                    <ol class="breadcrumb">
                        <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                        <li class="active">Payments</li>
                        <li class="active">Payout Pendings</li>
                     
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
<?php
if (!empty($flashMessages)) {
    ?>
                    <div class="row">
                    <?php
                    foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) {
                            ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                                </div>
        <?php } ?>
                        <?php } ?>
                    </div>
                    <?php } ?>
            </div>
            <div class="box-white">
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="searchbox-wrap">
                            <div class="page-header text-left">
                                <h3>Search</h3>
                            </div>
                            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl ?>"> 
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="searchKey" class="control-label">Search Key</label>
                                        <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey']) ? $filterData['searchKey'] : '' ?>" name="searchKey">              </div>
                                    <div class="form-group col-md-4">
                                        <label for="searchBy" class="control-label">Search By</label>
                                        <select id="searchBy" class="form-control" name="searchBy">
                                            <option selected="selected" value="">Select</option>
<?php
if (is_array($searchArray)) {
    foreach ($searchArray as $key => $val) {
        $searchBy = isset($filterData['searchBy']) ? $filterData['searchBy'] : '';
        $selected = ($key == $searchBy) ? 'selected="selected"' : '';
        ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>              </div>
                                     <!--<div class="form-group col-md-4">
                                        <label for="searchStatus" class="control-label">Status</label>
                                        <select id="searchStatus" class="form-control" name="searchStatus">
                                            <option value="all">All</option>
                                            <?php
                                            if (is_array($filterByStatus)) {
                                                foreach ($filterByStatus as $key => $val) {
                                                    $searchStatus = isset($filterData['searchStatus']) ? $filterData['searchStatus'] : '';
                                                    $selected2 = ($key == $searchStatus) ? 'selected="selected"' : '';
                                                    ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected2 ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>              </div>-->
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;<button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>              </div>
                                </div>
                            </form></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3>Pending Payment List</h3>
                                        </div>
                                        <div class="disp_dropdown">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <?php
                            $sortBy = 'username';
                            $sortOrder = 'desc';
                            $arrGet = $_GET;
                            if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                $sortBy = $_GET['sortBy'];
                                $sortOrder = $_GET['sortOrder'];
                            }
                            if (isset($arrGet)) {
                                unset($arrGet['sortBy']);
                                unset($arrGet['sortOrder']);
                                $listUrl = $this->basePath() . '/admin/payments/pending?' . http_build_query($arrGet);
                                $listUrl1 = $this->basePath() . '/admin/payments/pending?' . http_build_query($arrGet);
                            }
                            ?>
                            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>"><input type="hidden" id="doAction" value="paid" name="doAction"><input type="hidden" id="ids" value="" name="ids">            <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <input type="hidden" value="<?php echo $listUrl ?>" name="listUrl">
                                        <tr>
                                            <th style="width:20px;">#</th>
                                            <th onclick="doSort('trip_id_number', '<?php echo $listUrl; ?>');" class="doSort-cursor">Trip ID No <i id="sort_trip_id_number" class="fa <?php if ($sortBy != 'trip_id_number') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc'; ?> "></i></th>
                                            <th onclick="doSort('email_address', '<?php echo $listUrl; ?>');" class="doSort-cursor">Email ID <i id="sort_email_address" class="fa <?php if ($sortBy != 'email_address') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';
											else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('origin_location_code', '<?php echo $listUrl; ?>');" class="doSort-cursor">Origin Airport <i id="sort_origin_location_code" class="fa <?php if ($sortBy != 'origin_location_code') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';	else echo 'fa-sort-desc'; ?> "></i></th>
											<th onclick="doSort('departure_date', '<?php echo $listUrl; ?>');" class="doSort-cursor">Departure Date <i id="sort_departure_date" class="fa <?php if ($sortBy != 'departure_date') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';	else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('destination_location_code', '<?php echo $listUrl; ?>');" class="doSort-cursor">Destination Airport <i id="sort_destination_location_code" class="fa <?php if ($sortBy != 'destination_location_code') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';	else echo 'fa-sort-desc'; ?> "></i></th>
											<th onclick="doSort('arrival_date', '<?php echo $listUrl; ?>');" class="doSort-cursor">Arrival Date <i id="sort_arrival_date" class="fa <?php if ($sortBy != 'arrival_date') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';	else echo 'fa-sort-desc'; ?> "></i></th>
											<!--<th onclick="doSort('travel_plan_reservation_type', '<?php echo $listUrl; ?>');" class="doSort-cursor">Service <i id="sort_travel_plan_reservation_type" class="fa <?php if ($sortBy != 'travel_plan_reservation_type') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';	else echo 'fa-sort-desc'; ?> "></i></th>-->
											<!--<th onclick="doSort('created', '<?php echo $listUrl; ?>');" class="doSort-cursor">Modified Date <i id="sort_created" class="fa <?php if ($sortBy != 'created') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>-->
                                            <!--<th style="width:100px">Status</th>-->
                                            <th style="width:180px;">Payout Amount</th>
                                            <th style="width:180px;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
<?php
if (!empty($paginator)) { // currentPageNumber
    $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
    foreach ($paginator as $adminRow) {
        ?>
                                                    <tr>
                                                    <td><?php echo $sno ?></td>
                                                    <td>
														<?php echo $adminRow['trip_id_number'] ?>
                                                        (<?php echo $adminRow['travel_plan_reservation_type'] ?>
                                                        <?php
                                                        if($adminRow['travel_plan_reservation_type'] == 1){
                                                            echo 'Traveler '.$adminRow['service_type'].' Booked';
                                                        }
                                                        elseif($adminRow['travel_plan_reservation_type'] == 2){
                                                            echo 'Traveler '.$adminRow['service_type'].' Unplanned';
                                                        }
                                                        else{
                                                            echo 'Traveler '.$adminRow['service_type'];
                                                        }
                                                        ?>)
                                                    </td>
                                                    <td><?php echo $adminRow['email_address'] ?></td>
                                                    <td><?php echo '['.$adminRow['origin_location_code'].'] '.$adminRow['origin_location_name'].' '.$adminRow['origin_location_city'].' '.$adminRow['origin_location_country'] ?></td>
                                                    <td><?php echo $adminRow['departure_date']; ?></td>
                                                    <td><?php echo '['.$adminRow['destination_location_code'].'] '.$adminRow['destination_location_name'].' '.$adminRow['destination_location_city'].' '.$adminRow['destination_location_country'] ?></td>
                                                    <td><?php echo $adminRow['arrival_date'];?></td>
                                                    <!--<td><?php echo $adminRow['modified']; ?></td>-->
                                                    <!--<td><?php if ($adminRow['trip_status'] == 1) echo '<span class="label label-success">Approved</span>';
                                                    else if ($adminRow['trip_status'] == 2) echo '<span class="label label-danger">Rejected</span>'; else echo '<span class="label label-primary">Awaiting Approval</span>'; ?></td>-->
                                                    <td><?php echo $adminRow['pending_payment'].' '.$adminRow['pending_payment_currency']; ?></th>
                                                    <td>
														<button type="button" class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Mark as Paid"  onClick="doActionFn('<?php echo $adminRow['ID'];?>');"></button></td>
                                                    </tr>
        <?php
        $sno++;
    }
}else {
    ?>

                                                <tr>
                                                    <td colspan="7">No records found.</td>
                                                </tr>
    <?php
}
?>
                                        </tbody>
                                    </table>
                                </div>
                            </form> </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="form-group col-md-12">
                       <div class="new-act-buttons disp_inline_fl">
                            <p><span class="w-select">With Selected</span>
                                <button onclick="doActionFn('enable', 'all');"  title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Enable</button>
                                <button onclick="doActionFn('disable', 'all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Disable</button>
                                <button onclick="doActionFn('delete', 'all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                            </p>
                        </div>
                        <div class="disp_dropdown">

                            <p></p>
                        </div>
                    </div>-->

                    <div class="form-group col-md-12 text-right">
                        <div class="new-pagnav">
                            <?php
                            echo $this->paginationControl(
                                    $this->paginator, 'sliding', 'layout/paginator.phtml'
                            );
                            ?>
                        </div>
                    </div>
                </div>
                <div id="showActionErr"></div>
            </div>
        </div>
    </div>
</div>

