<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        if (validateFormFields('payout_country', 'Please select country.', '')) $errStatus = true;
        if (validateFormFields('payout_address1', 'Please enter address.', '')) $errStatus = true;
        if (validateFormFields('payout_address2', 'Please enter address 2 / zone.', '')) $errStatus = true;
        if (validateFormFields('payout_city', 'Please enter city.', '')) $errStatus = true;
        if (validateFormFields('payout_state', 'Please enter state.', '')) $errStatus = true;
        if (validateFormFields('payout_zip', 'Please enter postal code.', '')) $errStatus = true;
        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Payout Method <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Payment</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/payments/payout-methods"> Payout Method List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Payout Method</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="cc-form" enctype="multipart/form-data" onsubmit="return validateAccountForm()" id="payoutMethodForm" name="payoutMethodForm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3>Payout Method Details</h3>
                            </div>
                            <input type="hidden" name="id" id="edit_id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" id="action" value="<?php echo isset($action) ? $action : ''; ?>">
                                
                            <div id="payoutAddress">
                                <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="user_id" class="control-label">User <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" autocomplete="off" data-provide="typeahead" id="user_id" name="user_id"> 
                                    <p id="err_user_id" class="text-danger err_msg"></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="payout_country">Country  <span style="color:red;">&nbsp;*</span></label>
                                    <select class="form-control" id="payout_country" name="payout_country">
                                        <option value="">-- Select --</option>
                                        <?php if(!empty($this->countries)){
                                            foreach ($this->countries as $country){ ?>
                                                <option value="<?php echo $country['code'] ?>"><?php echo $country['name'] ?></option>
                                        <?php }
                                        } ?>
                                    </select>
                                    <p class="text-danger err_msg" id="err_payout_country"></p>
                                </div>
                                </div>
                                   <div class="row">  
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="payout_address1">Address <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="payout_address1" name="payout_address1">
                                    <p class="text-danger err_msg" id="err_payout_address1"></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="payout_address2">Address 2 / Zone <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="payout_address2" name="payout_address2">
                                    <p class="text-danger err_msg" id="err_payout_address2"></p>
                                </div>
                                </div>
                                
                                 <div class="row"> 
                                <div class="form-group col-md-6"> 
                                    <label class="control-label" for="payout_city">City <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="payout_city" name="payout_city">
                                    <p class="text-danger err_msg" id="err_payout_city"></p>
                                </div>
                                <div class="form-group col-md-6"> 
                                    <label class="control-label" for="payout_state">State / Province <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="payout_state" name="payout_state">
                                    <p class="text-danger err_msg" id="err_payout_state"></p>
                                </div>
                                 </div>
                                <div class="row"> 
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="payout_zip">Postal Code <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="payout_zip" name="payout_zip">
                                    <p class="text-danger err_msg" id="err_payout_zip"></p>
                                </div>
                                 </div>
                            </div>
                            <div id="payoutMethodTypeSelection">
                                <p>Payouts for reservations are released to you the day after your guest checks in, and it takes some additional time for the money to arrive depending on your payout method.</p>
                                <p>We can send money to people in <b><span id="selectedCountry">India</span></b> with these payout methods. Which do you prefer?</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" id="payout_method_descriptions">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Payout method</th>
                                                <th>Processing time</th>
                                                <th>Additional fees</th>
                                                <th>Currency</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody id="payout_method_types">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Payout Method Info</h3>
                        </div>
                        <div class="col-xs-12">
                            <div id="payoutAddress">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_user_email">User Email </label>
                                        <p id="view_user_email"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_address1">Address </label>
                                        <p id="view_payout_address1"></p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_country">Country </label>
                                        <p id="view_payout_country"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_address1">Address </label>
                                        <p id="view_payout_address1"></p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_address2">Address 2 / Zone </label>
                                        <p id="view_payout_address2"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_city">City </label>
                                        <p id="view_payout_city"></p>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_state">State / Province </label>
                                        <p id="view_payout_state"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="view_payout_zip">Postal Code </label>
                                        <p id="view_payout_zip"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="payout_method_descriptions">
                                    <thead>
                                        <tr>
                                            <th>Payout method</th>
                                            <th>Processing time</th>
                                            <th>Additional fees</th>
                                            <th>Currency</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody id="view_payout_method_types">
                                        <tr>
                                            <td id="view_payout_method"></td>
                                            <td id="view_processing_time"></td>
                                            <td id="view_additional_fees"></td>
                                            <td id="view_currency"></td>
                                            <td id="view_details"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="view_form_fields">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>

<script type="text/javascript">
    $('.multi-select').multiselect();
    $(document).ready(function(){
        $("#user_id").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
            theme: "facebook",
            tokenLimit: 1,
            <?php if(isset($userPrePop)){ ?>
            prePopulate: <?php echo $userPrePop; ?>
            <?php } ?>
        });
    });
    function getPayoutMethodsByCountry(){
        $.ajax({
            type:'POST',
            url: '<?php echo $this->basePath() ?>/admin/ajax/get-payout-method-settings',
            data: "country_code="+$('#payout_country').val(),
            async: false,
            success:function(resData){
                var resDataObj = jQuery.parseJSON( resData );
                if( resDataObj.result == 'success' ){
                    var tableHtml = '';
                    resDataObj.payoutSettingsData.forEach(function(element) {
                        tableHtml += '<tr>';
                            tableHtml += '<td><input id="payout_method_type_'+element.payout_method_setting_id+'" class="payout_method_types" name="payout_method_type" value="'+element.payout_method_setting_id+'" type="radio" /></td>';
                            tableHtml += '<td>'+element.payout_method+'</td>';
                            tableHtml += '<td>'+element.processing_time+'</td>';
                            tableHtml += '<td>'+element.additional_fees+'</td>';
                            tableHtml += '<td>'+element.currencies+'</td>';
                            tableHtml += '<td>'+element.details+'</td>';
                        tableHtml += '</tr>';
                        if(element.fields){
                            tableHtml += '<tr class="payout_form_field payout_method_type_'+element.payout_method_setting_id+'" style="display:none;">';
                                tableHtml += '<td colspan="6">';
                                tableHtml += '<div class="tableFormWrap">';
                                    var loopCounter = 1, fieldsCount = element.fields.length;
                                    element.fields.forEach(function(formEls) {
                                        if(Math.abs(loopCounter % 2) == 1){
                                            tableHtml += '<div class="row">';
                                        }
                                        tableHtml += '<div class="col-md-6 form-group">';
                                            tableHtml += '<label class="control-label" for="'+formEls.field_name+'">'+formEls.field_label+'</label>';
                                            tableHtml += '<input data-id="'+formEls.payout_method_field_id+'"class="form-control '+((formEls.field_mandatory == 1)?'mandatory':'')+' payout_method_field_'+formEls.payout_method_setting_id+'" type="text" name="payout_fields['+formEls.payout_method_setting_id+']['+formEls.payout_method_field_id+']" id="payout_field_'+formEls.payout_method_field_id+'" />';
                                            tableHtml += '<p class="text-danger err_msg" id="err_payout_field_'+formEls.payout_method_field_id+'"></p>';
                                        tableHtml += '</div>';
                                        if(loopCounter % 2 == 0 || fieldsCount == loopCounter){
                                            tableHtml += '</div>'; 
                                        }
                                        loopCounter++;
                                    });
                                    tableHtml += '<div class="row">';
                                        tableHtml += '<div class="col-md-12 form-group">';
                                            tableHtml += '<input type="submit" class="btn btn-primary payoutMethodUserAdd" data-form_value="'+element.payout_method_setting_id+'" value="Submit" />';
                                        tableHtml += '</div>';
                                    tableHtml += '</div>';
                                    tableHtml += '</div>';
                                tableHtml += '</td>';
                            tableHtml += '</tr>';
                        }
                    });
                    $('#payout_method_types').html(tableHtml);
                    $('#selectedCountry').text($("#payout_country option:selected").text());
                }
            }
        });
    }
    $(document).ready(function(){
        $('.deletePayoutMethodBtn').click(function(e){
            confirmDialog('Are you sure you want to delete this payout method?', 'Delete', function(){
                $.ajax({
                    type:'POST',
                    url: '<?php echo $this->basePath() ?>/admin/ajax/delete-user-payout-method',
                    data: "user_payout_address_id="+$(this).attr('data-id'),
                    success:function(resData){
                        window.location.reload();
                    }
                });
            });
        });

        <?php if($action == 'edit'){ ?>
            var addr_id = '<?php echo $id ?>';
            $.ajax({
                type:'POST',
                url: '<?php echo $this->basePath() ?>/ajax/get-user-payout-method',
                data: "user_payout_address_id="+addr_id,
                success:function(resData){
                    var resDataObj = jQuery.parseJSON( resData );
                    if(resDataObj.result == 'success'){
                        var payoutData = resDataObj.payoutMethodData;
                        /* payout method address details */
                        $('#payout_country').val(payoutData.country_code);
                        $('#payout_address1').val(payoutData.user_payout_address_1);
                        $('#payout_address2').val(payoutData.user_payout_address_2);
                        $('#payout_city').val(payoutData.user_payout_city);
                        $('#payout_state').val(payoutData.user_payout_state);
                        $('#payout_zip').val(payoutData.user_payout_zip_code);
                        /* payout method address details */
                        getPayoutMethodsByCountry();
                        $('.payout_form_field').hide();
                        $('#payout_method_type_'+payoutData.payout_method_setting_id).trigger('click');
                        if(payoutData.fields.length > 0){
                            payoutData.fields.forEach(function(element) {
                                $('#payout_field_'+element.payout_method_field_id).val(element.payout_method_field_value);
                            });
                        }
                    }
                }
            });
        <?php }
        else if($action == 'view'){ ?>
            var addr_id = '<?php echo $id ?>';
             $.ajax({
                type:'POST',
                url: '<?php echo $this->basePath() ?>/admin/ajax/get-user-payout-method',
                data: "user_payout_address_id="+addr_id,
                success:function(resData){
                    var resDataObj = jQuery.parseJSON( resData );
                    if(resDataObj.result == 'success'){
                        var payoutData = resDataObj.payoutMethodData;
                        /* payout method address details */
                        $('#view_user_email').text(payoutData.user_email);
                        $('#view_payout_country').text(payoutData.country_name);
                        $('#view_payout_address1').text(payoutData.user_payout_address_1);
                        $('#view_payout_address2').text(payoutData.user_payout_address_2);
                        $('#view_payout_city').text(payoutData.user_payout_city);
                        $('#view_payout_state').text(payoutData.user_payout_state);
                        $('#view_payout_zip').text(payoutData.user_payout_zip_code);
                        /* payout method address details */

                        /* payout method details */
                        $('#view_payout_method').text(payoutData.payout_method);
                        $('#view_processing_time').text(payoutData.processing_time);
                        $('#view_additional_fees').text(payoutData.additional_fees);
                        $('#view_currency').text(payoutData.currencies);
                        $('#view_details').text(payoutData.details);
                        /* payout method details */

                        /* payout method fields */
                        var payoutFieldsHtml = '', fieldsCount = payoutData.fields.length, loopIndex = 1;
                        payoutData.fields.forEach(function(element) {
                            if(Math.abs(loopIndex % 2) == 1){
                                payoutFieldsHtml += '<div class="row">';    
                            }
                            payoutFieldsHtml += '<div class="col-md-6">';
                                payoutFieldsHtml += '<label>'+element.field_label+'</label>';
                                payoutFieldsHtml += '<p>'+element.payout_method_field_value+'</p>';
                            payoutFieldsHtml += '</div>';
                            if(loopIndex % 2 == 0 || fieldsCount == loopIndex){
                                payoutFieldsHtml += '</div>';    
                            }
                            loopIndex++;
                        });
                        $('#view_form_fields').html(payoutFieldsHtml);
                        /* payout method fields */
                    }
                }
            });
        <?php } ?>
    });
    
    $('#payout_country').change(function(){
        getPayoutMethodsByCountry();
    });
    
    $('#payoutMethodTypeSelection').on('click','.payout_method_types',function(){
        $('.payout_form_field').hide();
        $('.'+this.id).show();
    });
        
    $('#payoutMethodTypeSelection').on('click','.payoutMethodUserAdd',function(e){
        var settingsId = $(this).attr('data-form_value');
        clrErr();$errStatus=false;
        $('.payout_method_field_'+settingsId).each(function(){
            if($(this).hasClass('mandatory')){
                if (validateFormFields(this.id, 'Please fill this field.', '')) $errStatus = true;
            }
        });
        if($errStatus == true){
            return false;
        }
        else{
            $('#payoutMethodForm').submit();
        }
    });
</script>