<?php
$comSessObj = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });

    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        console.log('hash'+hash);
        if(hash != ''){
            if(hash == 'locations'){
                $(' a[href="#locations"]').trigger('click');
            }
        }
        
    });
  
    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        
        if (validateFormFields('name', 'Please enter the country name.', ''))
            $errStaus = true;
        if (validateFormFields('code', 'Please enter the country short code.', ''))
            $errStaus = true;
        if (validateFormFields('currency_code', 'Please enter the currency code.', ''))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Privacy Settings <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <!--<ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Payment</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/masterdata/country_list"> Payment Method List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Payment Method</li>
                        </ol>
						-->
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">×</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add' || $action == 'edit') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="cc-form" enctype="multipart/form-data" onsubmit="return validatePaymentCardDetails()" id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                            <div class="page-header text-left">
                                <h3>Payment Method Details</h3>
                            </div>
                            <input type="hidden" name="id" value="<?php echo isset($id) ? $id : ''; ?>">
                            <input type="hidden" name="action" value="<?php echo isset($action) ? $action : ''; ?>">
                            <div class="clearfix row">
                                <div id="div_user_id" class="form-group col-md-6">
                                    <label for="user_id" class="control-label">User <span style="color:red;">&nbsp;*</span></label>
                                    <input type="text" class="form-control required" autocomplete="off" data-provide="typeahead" id="user_id" name="user_id"> 
                                    <p id="err_user_id" class="text-danger err_msg"></p>
                                </div>
                                <div class="form-group col-md-6 form-group-cc-number">
                                    <label>Card Number <span style="color:red;">&nbsp;*</span></label>
                                    <input class="form-control cc-number <?php echo (isset($paymentRow['card_type']) && $paymentRow['card_type'] != '')?$paymentRow['card_type'].' identified':''; ?>" placeholder="xxxx xxxx xxxx xxxx" type="text" name="card_no" id="card_no" value="<?php echo (isset($paymentRow['card_no']) && $paymentRow['card_no'] != '')?$this->AdminCommon()->decrypt($paymentRow['card_no']):''; ?>"/><span class="cc-card-icon"></span>
                                    <p class="text-danger err_msg" id="err_card_no"></p>
                                    <input type="hidden" name="card_type" id="card_type" value="<?php echo (isset($paymentRow['card_type']) && $paymentRow['card_type'] != '')?$paymentRow['card_type']:''; ?>" />
                                </div>
                            </div>
                            <div class="clearfix row">
                                <div class="form-group col-md-6 form-group-cc-cvc">
                                    <label>CVV <span style="color:red;">&nbsp;*</span></label>
                                    <input class="form-control" placeholder="xxxx" type="text" name="card_cvv" id="card_cvv" value="<?php echo (isset($paymentRow['card_cvv']) && $paymentRow['card_cvv'] != '')?$paymentRow['card_cvv']:''; ?>" />
                                    <p class="text-danger err_msg" id="err_card_cvv"></p>
                                </div>
                                <div class="form-group col-md-6 form-group-cc-name">
                                    <label>Card Holder Name <span style="color:red;">&nbsp;*</span></label>
                                    <input class="form-control" placeholder="Name" type="text" name="holder_name" id="holder_name" value="<?php echo (isset($paymentRow['holder_name']) && $paymentRow['holder_name'] != '')?$paymentRow['holder_name']:''; ?>" />
                                    <p class="text-danger err_msg" id="err_holder_name"></p>
                                </div>
                            </div>
                            <div class="clearfix row">
                                 <div class="form-group col-md-6 form-group-cc-date">
                                    <label>Valid Thru <span style="color:red;">&nbsp;*</span></label>
                                    <input class="form-control" placeholder="mm/yy" type="text" name="card_valid" id="card_valid" value="<?php echo (isset($paymentRow['card_valid']) && $paymentRow['card_valid'] != '')?$paymentRow['card_valid']:''; ?>" />
                                    <p class="text-danger err_msg" id="err_card_valid"></p>
                                </div>
                                <div class="form-group col-md-6 form-group-cc-type">
                                    <label>Card Type <span style="color:red;">&nbsp;*</span></label>
                                    <select class="form-control" name="payment_card_type" id="payment_card_type">
                                        <option value="" <?php echo (isset($paymentRow['payment_card_type']) && $paymentRow['payment_card_type'] == '')?'selected="selected"':''; ?>>-- Select --</option>
                                        <option <?php echo (isset($paymentRow['payment_card_type']) && $paymentRow['payment_card_type'] == 'Credit Card')?'selected="selected"':''; ?> value="Credit Card">Credit Card</option>
                                        <option <?php echo (isset($paymentRow['payment_card_type']) && $paymentRow['payment_card_type'] == 'Debit Card')?'selected="selected"':''; ?> value="Debit Card">Debit Card</option>
                                    </select>
                                    <p class="text-danger err_msg" id="err_payment_card_type"></p>
                                </div>
                            </div>
                            <div class="clearfix row">
                               <div class="form-group col-md-6 form-group-cc-date issue_details" style="<?php echo (isset($paymentRow['card_type']) && $paymentRow['card_type'] != 'maestro')?'display:none;':''; ?>">
                                    <label>Issue Date <span style="color:red;">&nbsp;*</span></label>
                                    <input class="form-control" placeholder="mm/yy" type="text" name="issue_date" id="issue_date" value="<?php echo (isset($paymentRow['issue_date']) && $paymentRow['issue_date'] != '')?$paymentRow['issue_date']:''; ?>" />
                                    <p class="text-danger err_msg" id="err_issue_date"></p>
                                </div>
                                <div class="form-group col-md-6 form-group-cc-number issue_details" style="<?php echo (isset($paymentRow['card_type']) && $paymentRow['card_type'] != 'maestro')?'display:none;':''; ?>">
                                    <label>Issue Number <span style="color:red;">&nbsp;*</span></label>
                                    <input class="form-control" placeholder="Issue Number" type="text" name="issue_number" id="issue_number" data-numeric value="<?php echo (isset($paymentRow['issue_number']) && $paymentRow['issue_number'] != '')?$paymentRow['issue_number']:''; ?>" />
                                    <p class="text-danger err_msg" id="err_issue_number"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            <?php } else if($action == 'view') { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Privacy settings Info</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
							<div class="form-group col-md-4">
                                    <label class="control-label">User</label>
                                    <p><?php echo (isset($paymentRow['email_address']) && $paymentRow['email_address'] != '') ? $paymentRow['email_address'] : '--'; ?></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">SOCIAL CONNECTION</label>
									   <p>Share my activity with my Facebook friends that are also on Trepr (recommended):</P>

									<p><?php if($paymentRow['social_cont'] == 1) { echo "Yes"; } else { echo "  No "; } ?></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">YOUR LISTINGS & PROFILE IN SEARCH ENGINES</label>
                                    <p>Include my profile and listing in search engines like Google and Bing (recommended)
:
									<?php if($paymentRow['search_engine'] == 1) { echo "Yes"; } else { echo "No"; } ?>
									</p>
									

									
									
									
                                </div>
								<div class="form-group col-md-4">
                                    <label class="control-label">YOUR PESONAL DETAILS</label>
                                    <p>Phone Number
:
									<?php if($paymentRow['personal_phone_number'] == 1) { echo "Yes"; } else { echo "No"; } ?>
									</p>
									
									 <p>Email Address
:
									<?php if($paymentRow['personal_email_address'] == 1) { echo "Yes"; } else { echo "No"; } ?>
									</p>
									
									 <p>Physical Address
:
									<?php if($paymentRow['personal_physical_address'] == 1) { echo "Yes"; } else { echo "No"; } ?>
									</p>
									
					
									
									
                                </div>


                            </div>
                           </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>
<script type="text/javascript">
$('.multi-select').multiselect();
$(document).ready(function(){
    $("#user_id").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
        theme: "facebook",
        tokenLimit: 1,
        <?php if(isset($userPrePop)){ ?>
        prePopulate: <?php echo $userPrePop; ?>
        <?php } ?>
    });
});
$('#card_no').change(function(){
    var cardType = $.payment.cardType($('#'+this.id).val());
    if(cardType == 'maestro'){
        $('.issue_details').show();
    }
    else{
        $('.issue_details').hide();
    }
});    
</script>