<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/payments/transaction-history';

$filterByStatus = array(
    'Disabled' => 'Disabled',
    'Enabled' => 'Enabled'
);
$listName = 'Transaction History';
$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
$searchArray = array(
    'email_address'  =>  'User Email',
    'pay_card_type'  =>  'Card Type',
    'txn_type'  =>  'Pay Out'
);
?>
<script type="text/javascript">
    function doActionFn(action, id) {
        if (action == 'edit' || action == 'view') {
            window.location = '<?php echo $this->basePath() . '/admin/payments/methods-manager'; ?>?action=' + action + '&id=' + id;
        } else {
            $('#doAction').val(action);
            if (id != 'all' && $('#checked_' + id).length) {
                $('.checkedAll').prop('checked', false);
                $('#checked_' + id).prop('checked', true);
            }
            var checkBox = false;
            $.each($("input[name='ids[]']:checked"), function () {
                checkBox = true;
            });
            if (checkBox == false) {
                $('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');
                return false;
            }
            if (action == 'delete') {
                if (confirm("Are you sure you want to delete?")) {
                    $('#listFrm').submit();
                }
            } else {
                $('#listFrm').submit();
            }
        }
    }

</script>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
            <div class="row">
                <div class="col-xs-12">
                    <h2><?php echo $listName ?> <small>List</small> </h2>
                    <ol class="breadcrumb">
                        <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                        <li class="active">Payments</li>
                        <li class="active"><?php echo $listName ?></li>
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
            <?php
            if (!empty($flashMessages)) {
                ?>
                    <div class="row">
                    <?php
                    foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                            <div class="col-xs-12 msg_div">
                                <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    <span aria-hidden="true">×</span></button><?php echo $message; ?>
                                </div>
                            </div>
                    <?php } ?>
                <?php } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="searchbox-wrap">
                            <div class="page-header text-left">
                                <h3>Search</h3>
                            </div>
                            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl ?>"> 
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="searchKey" class="control-label">Search Key</label>
                                        <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey']) ? $filterData['searchKey'] : '' ?>" name="searchKey">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="searchBy" class="control-label">Search By</label>
                                        <select id="searchBy" class="form-control" name="searchBy">
                                            <option selected="selected" value="">Select</option>
                                            <?php
                                            if (is_array($searchArray)) {
                                                foreach ($searchArray as $key => $val) {
                                                    $searchBy = isset($filterData['searchBy']) ? $filterData['searchBy'] : '';
                                                    $selected = ($key == $searchBy) ? 'selected="selected"' : '';
                                                    ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;<button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3><?php echo $listName ?> List </h3>
                                        </div>
                                        <div class="disp_dropdown">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <?php
                            $sortBy = 'name';
                            $sortOrder = 'asc';
                            $arrGet = $_GET;
                            if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                $sortBy = $_GET['sortBy'];
                                $sortOrder = $_GET['sortOrder'];
                            }
                            if (isset($arrGet)) {
                                unset($arrGet['sortBy']);
                                unset($arrGet['sortOrder']);
                                $listUrl = $this->basePath() . '/admin/payments/transaction-history?' . http_build_query($arrGet);
                                $listUrl1 = $this->basePath() . '/admin/payments/transaction-history?' . http_build_query($arrGet);
                            }
                            ?>
                            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                                <input type="hidden" id="doAction" value="" name="doAction">
                                <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <input type="hidden" value="<?php echo $listUrl ?>" name="listUrl">
                                        <tr>
                                            <th style="width:20px;">#</th>
                                            <th onclick="doSort('email_address', '<?php echo $listUrl; ?>');" class="doSort-cursor">User Email <i id="sort_email_address" class="fa <?php if ($sortBy != 'email_address') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('txn_added', '<?php echo $listUrl; ?>');" class="doSort-cursor">Date <i id="sort_txn_added" class="fa <?php if ($sortBy != 'txn_added') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('pay_card_type', '<?php echo $listUrl; ?>');" class="doSort-cursor">Card Type <i id="sort_pay_card_type" class="fa <?php if ($sortBy != 'pay_card_type') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('txn_amount', '<?php echo $listUrl; ?>');" class="doSort-cursor">Amount <i id="sort_txn_amount" class="fa <?php if ($sortBy != 'txn_amount') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                            <th onclick="doSort('txn_type', '<?php echo $listUrl; ?>');" class="doSort-cursor">Pay Out <i id="sort_txn_type" class="fa <?php if ($sortBy != 'txn_type') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <?php
                                            if (!empty($paginator->getTotalItemCount())) { // currentPageNumber
                                                $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
                                                foreach ($paginator as $transactionRow) {
                                            ?>  
                                                <tr>
                                                    <td><?php echo $sno ?></td>
                                                    <td><?php echo $transactionRow['email_address']; ?></td>
                                                    <td><?php echo date('d M Y',$transactionRow['txn_added']); ?></td>
                                                    <td><?php echo $transactionRow['pay_card_type']; ?></td>
                                                    <td><?php echo $transactionRow['txn_amount'].' '.$transactionRow['txn_curreny']; ?></td>
                                                    <td><?php echo $transactionRow['txn_type']; ?></td>
                                                </tr>
                                                <?php
                                                    $sno++;
                                                }
                                            } else {
                                                ?>
                                                <tr>
                                                    <td colspan="7" class="text-center">No records found.</td>
                                                </tr>
                                                <?php
                                            }
                                            ?>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 text-right">
                        <div class="new-pagnav">
                            <?php
                            echo $this->paginationControl(
                                $this->paginator, 'sliding', 'layout/paginator.phtml'
                            );
                            ?>
                        </div>
                    </div>
                </div>
                <div id="showActionErr"></div>
            </div>
        </div>
    </div>
</div>

