    <div class="panel-body">        <div class="row">            <div class="col-sm-5">                <div class="map_canvas" id="map_canvas" style="height: 445px;"></div>            </div>        </div>		    </div>