<footer class="footer-container" id="main-footer">
  <div class="top-block">
    <div class="container-fluid">
      <div class="row less-wide">
        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
          <h5>Quick Link</h5>
          <ul class="footer-links">
              <li><a href="<?php echo $this->basePath(); ?>/about">About Us </a></li>
              <!--               <li>                  <a href="<?php echo $this->basePath(); ?>/legal">Legal                  </a>               </li>               <li>                  <a href="<?php echo $this->basePath(); ?>/support">Help                  </a>               </li>-->
              <li><a href="<?php echo $this->basePath(); ?>/userterms">User terms </a></li>
              <li><a href="<?php echo $this->basePath(); ?>/privacy">Privacy </a></li>
              <li><a href="<?php echo $this->basePath(); ?>/copyright">Copyright </a></li>
              <li><a href="<?php echo $this->basePath(); ?>/securitypolicy">Security policy </a></li>
              <li><a href="<?php echo $this->basePath(); ?>/news-rooms">News Room </a></li>
          </ul>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
          <h5>Tools</h5>
          <ul class="footer-links">
              <li><a href="<?php echo $this->basePath(); ?>/prohibited">Prohibited or Restricted Items</a></li>
              <li><a href="<?php echo $this->basePath(); ?>/service-rate-calculations">Service Rate Calculations</a></li>
              <li><a href="<?php echo $this->basePath(); ?>/customs">Customs Excise Duty</a></li>
              <li><a href="<?php echo $this->basePath(); ?>/merchants">Overseas Online &AMP; Merchants </a></li>
              <li><a href="<?php echo $this->basePath(); ?>/weight-and-dimensions">Weight &AMP; Dimensions</a> </li>
              <li><a href="<?php echo $this->basePath(); ?>/contact-us">Contact Us </a></li>
              <!--<li><a href="<?php /*echo $this->basePath(); */?>/support">Help </a></li>-->
          </ul>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
          <div class="row subscribe">
            <div class="col-sm-12">
              <h5>Subscribe Now</h5>
              <div class="input-box">
                <input class="pull-left form-control" type="search" placeholder="Email address" value="" />
                <div class="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
          <div class="row social-list">
            <div class="col-sm-12 col-xs-12">
              <h5>Follow us on</h5>
              <ul class="list-inline footer-links social-links">
                <li class="list-inline-item"><a href="https://www.facebook.com/trepr.ltduk" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://trepr-ltd.business.site/?m=true" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/treprltd" target="_blank"><i class="fa fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/trepr-ltd-34680b125/" target="_blank"><i class="fa fa fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="https://www.pinterest.com/treprltd/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC46eYRybAJT1uzs3jJK_SNQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="row c-cards">
            <div class="col-sm-12 col-xs-12">
              <h5>We Accept</h5>
              <ul class="list-inline footer-links">
                  <li class="list-inline-item"><a href="#"><img src="<?php echo $this->basePath(); ?>/public/images/cardd_03.png" alt=""></a></li>
                  <li class="list-inline-item"><a href="#"><img src="<?php echo $this->basePath(); ?>/public/images/cardd_05.png" alt=""></a></li>
                  <li class="list-inline-item"><a href="#"><img src="<?php echo $this->basePath(); ?>/public/images/cardd_07.png" alt=""></a></li>
                  <li class="list-inline-item"><a href="#"><img src="<?php echo $this->basePath(); ?>/public/images/cardd_09.png" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="middle-block">
    <div class="container">
      <div class="row content-box">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h5 class="font-normal">If you don't have an account, Signup for free</h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <ul class="list">
            <li class="list-item"><a class="btn sign-in font-medium" href="#">Sign In</a></li>
            <li class="list-item"><a class="btn register font-medium" href="#">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <div class="bottom-block">
    <div class="container">
      <div class="row content-box">
        <div class="col-sm-12 text-center">
          <h6 class="font-normal">Copyright &copy; <?php echo date('Y'); ?> trepr.com. All Rights Reserved.</h6>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Start OTP verification Lightbox -->
<div id="verify-otp-popup" class="modal fade " data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Verify your Phone Number</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="verifyOTPCodeForm">
                    <div class="form-group">
                        <label for="email" id="otpErrorMessage"></label>
                        <input type="text" class="form-control" name="otp" id="otp" placeholder="Enter OTP">

                        <p style="color:red;" id="votp_error"></p>
                    </div>
                    <input type="button" class="btn btn-primary" value="Verify" id="votp">
                    <input type="button" class="btn btn-primary" value="Get OTP Again" id="rotp">

                </form>
            </div>
            <!--div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div-->
        </div>

    </div>
</div>
<!-- End OTP verification Lightbox -->

<script>
updateNotifications();
    var userId;
    var country_code;
    <?php if($comSessObj->country ==""){ ?>
    $.getJSON("http://freegeoip.net/json/", function (data) {
        country_code = data.country_code;
        var country = data.country_name;
        var ip = data.ip;
        var time_zone = data.time_zone;
        var latitude = data.latitude;
        var longitude = data.longitude;
    });
    $(document).ready(function () {
        function triggerGoogleMap() {
            var map = $("#street_address_1").geocomplete("map");
            google.maps.event.trigger(map, 'resize');
        }

        currencycountry(country_code, 'countryCode');
        updateNotifications();
    });
    <?php } ?>
    userId = "<?php echo $comSessObj->userid;?>";

    function updateNotifications() {
		    userId = "<?php echo $comSessObj->userid;?>";



        $.ajax({
            type: "post",
            url: "<?php echo $this->basePath();?>/myprofile/getlatestnotifications",
            data: {userId:userId},
            success: function (res) {
                //console.log(res);
                var result = JSON.parse(res);
                //console.log(result);
                $("#notificationsBody").html('');
                $.each(result, function(key, item) {
                    if(typeof item.notification_message != "undefined") {
                        var notificationMessage = '<div class="alert-class">' +
                            '<span class="alert-class-center noto" id="notificationMessage" onclick='+"closeNotification('"+item.notification_id+"');"+'><a   href="<?php echo $this->basePath();?>/dashboard/notifications"' + item.app_redirect +'>' + item.notification_message + '</a></span>' +
                            '</div>';

                   /*var notificationMessage = '<div class="alert-class">' +
                            '<span class="alert-class-left"><i class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake"></i></span>' +
                            '<span class="alert-class-center noto" id="notificationMessage" onclick='+"closeNotification('"+item.notification_id+"');"+'><a   href="/dashboard/notifications"' + item.app_redirect +'>' + item.notification_message + '</a></span>' +
                            '<span class="alert-class-right" onclick='+"closeNotification('"+item.notification_id+"');"+'><i class="fa fa-times"></i></span>' +
                            '</div>';*/




                        $(notificationMessage).appendTo('#notificationsBody');
                        //console.log(item.notification_message);
                    }
                });
                $("#notification_count").html('');
                $("#notification_count").html(result.count);
                $("#notify_count").html('');
                $("#notify_count").html(result.count);
                if(result == false){
                    $("#notification_count").css("display", "none");
                    $("#notify_count").css("display", "none");
                }
                else
                {
                    $("#notification_count").css("display", "block");
                    $("#notify_count").css("display", "block");
                }
            }
        });
    }

    //setInterval(function(){ updateNotifications() }, 60 * 100);

    /*setInterval(function () {
        $.ajax({
            type: "get",
            url: "/myprofile/completetrip",
            //data:{userId:userId},
            success: function (res) {

            }
        });
    }, 1000);*/

    function closeNotification(value) {
        $.ajax({
            type: "post",
            url: "<?php echo $this->basePath();?>/myprofile/closenotification",
            data:{userId:userId, notification_id:value},
            success: function (res) {
                //http://trepr-dev.com/myprofile/closenotification?userId=131&notification_id=15
                //console.log(res);
                updateNotifications();
            }
        });
    }

    $(document).on('click', '.staring', function () {
        alert($(this).attr('id'));
    });

    function createRating(valu, id) {
        $('#rating_question_' + id).val(valu);
    }
    $(document).on('click', '.submit_review', function () {
        var total = 0;
        for (i = 1; i <= 5; i++) {
            total = total + parseInt($('#rating_question_' + i).val());
        }
        //var user = '<?php echo $comSessObj->userid;?>';
        //if(user !==""){
        $.ajax({
            type: 'post',
            url: '/myprofile/adduserreviews',
            data: {
                reciver_id: $('#receiver_id').val(),
                trip_id: $('#trip_id').val(),
                review_text: $('#review_text').val(),
                rating_val: (total / 5)
            },
            success: function (result) {
                $('#put_trip_review').modal('hide');
            }
        });
        //}
    });
    $(document).on('click', '.put_review', function () {
        $('#put_trip_review').modal('show');
        var receiver_id = $(this).attr('data-uid');
        var trip_id = $(this).attr('data-trip-id');
        $('#receiver_id').val(receiver_id);
        $('#trip_id').val(trip_id);
    });

    //commented because it disturbs the Help Menu code

    /*function helpExpand(id) {
        var x = document.getElementById("expand_"+id);
        $("#expand_"+id).prev().find('a span').toggleClass('switch');
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }*/

</script>

<!-- Trigger the modal with a button -->
<!--button type="button" class="btn btn-info btn-lg put_review" data-uid="3" data-trip-id="220" >Add Review</button--->

<!-- Modal -->
<div id="put_trip_review" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" style="margin-right:2%; margin-top:1%;color: #ffffff;
    cursor: pointer;font-size: 35px;opacity: 1;">&times;</button>
            <h4 style="background-color:#0F75BD; color: #ffffff; margin-top: 0px; padding-top: 10px;padding-bottom: 10px;">
                <center>Add your Reviews</center>
            </h4>
            <div class="modal-body">
                <div class="stars">
                    <center><p style="font-size:15px;">Has your people/package/project service completed</p></center>
                    <table align="center" style="padding-left:23%;">
                        <tbody>
                        <tr>
                            <td>
                                <button type="button" style="background-color: #009E0F; margin-left:55%;">Yes</button>
                            </td>
                            <td>
                                <button type="button" style="background-color: #990000;">No</button>
                            </td>
                            <td><img src="/public/uploads/profile_picture/small/USER_DP_1491801429.jpg"
                                     style="margin-left:100%;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="receiver_id" value=""/>
                    <input type="hidden" id="trip_id" value=""/>
                    <?php for ($i = 1; $i <= 5; $i++) { ?>
                        <input type="hidden" id="rating_question_<?php echo $i; ?>" value=""/>
                        <form action="#">

                            <div style="float:left;width:100%;">
                                <div style="float:left;width:50%;line-height:40px;">Question: <?php echo $i; ?></div>
                                <div style="float:right;line-height:40px;"><input
                                        class="star staring star-5 rating_<?php echo $i; ?>"
                                        id="star-5_<?php echo $i; ?>" type="radio" name="star"
                                        onclick="createRating('5','<?php echo $i; ?>');"/>
                                    <label class="star star-5 rating_<?php echo $i; ?>"
                                           for="star-5_<?php echo $i; ?>"></label>
                                    <input class="star staring star-4 rating_<?php echo $i; ?>"
                                           id="star-4_<?php echo $i; ?>" type="radio" name="star"
                                           onclick="createRating('4','<?php echo $i; ?>');"/>
                                    <label class="star star-4 rating_<?php echo $i; ?>"
                                           for="star-4_<?php echo $i; ?>"></label>
                                    <input class="star staring star-3 rating_<?php echo $i; ?>"
                                           id="star-3_<?php echo $i; ?>" type="radio" name="star"
                                           onclick="createRating('3','<?php echo $i; ?>');"/>
                                    <label class="star star-3 rating_<?php echo $i; ?>"
                                           for="star-3_<?php echo $i; ?>"></label>
                                    <input class="star staring star-2 rating_<?php echo $i; ?>"
                                           id="star-2_<?php echo $i; ?>" type="radio" name="star"
                                           onclick="createRating('2','<?php echo $i; ?>');"/>
                                    <label class="star star-2 rating_<?php echo $i; ?>"
                                           for="star-2_<?php echo $i; ?>"></label>
                                    <input class="star staring star-1 rating_<?php echo $i; ?>"
                                           id="star-1_<?php echo $i; ?>" type="radio" name="star"
                                           onclick="createRating('1','<?php echo $i; ?>');"/>
                                    <label class="star star-1 rating_<?php echo $i; ?>"
                                           for="star-1_<?php echo $i; ?>"></label></div>
                            </div>
                        </form><br/>
                    <?php } ?>
                    <div class="containerreview text-center" style="margin-top:-50px;">
                        <p>
                            <textarea rows="4" cols="50" name="comment" style="margin: 0px; height: 60px; width: 390px; resize: none;" id="review_text">
                                Not Mandatory
                            </textarea>
                        </p>
                        <p>
                            <button type="button" class="submit_review">Submit Review</button>
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<style>
    div.stars {
        width: 100%;
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 30px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }

    /*******************************/
    .submit_review {
        background-color: #2181c5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;

    }

</style>

<!-- Zoho - Visitor Tracking -->
<script type="text/javascript">
    var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq ||
        {widgetcode:"d490d5fbd6819f9edadd16db3086df850772cddcc271ac472585ab6ebe5a2112", values:{},ready:function(){}};
    var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
    s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>
