<div class="header navbar navbar-expand-lg navbar-default">
    <div class="logo-wrapper">
      <a class="logo pull-left" href="<?php echo $this->basePath(); ?>/">
        <img src="<?php echo $this->basePath(); ?>/public/img/logo-white.png" alt="Trepr" title="Trepr"/>
      </a>
      <div class="navbar-toggle  pull-right">
         <div class="navbar-toggler-icon">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
         </div>
      </div>
    </div>
    <div class="header-right navbar-collapse collapse">

          <ul id="divTopLoginLinks" class="nav navbar-nav top-user-area-list">
              <li class="home-link hidden-md hidden-lg"><a href="<?php echo $this->basePath(); ?>/">Home</a></li>
              <?php
              $url = (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";

              if ($comSessObj->userid == '' && strpos($url, 'becometraveler') === false) { ?>
                  <li class="trepr-nav-traveller">
                    <a href="<?php echo $this->basePath(); ?>/becometraveler">
                      <img src="<?php echo $this->basePath(); ?>/public/images/trav_03.png" alt="trav" />
                      <span>Become a Traveller</span>
                    </a>
                  </li>
              <?php }
              else if ($comSessObj->user['approved_id'] == 0) {
                  if (strpos($url, 'becometraveler') === false) {
                      ?>
                      <li class="trepr-nav-traveller">
                        <a href="<?php echo $this->basePath(); ?>/becometraveler/travelinfo"><?php //print_r($this->traveller_approve['approved_id']); ?>
                          <img src="<?php echo $this->basePath(); ?>/public/images/trav_03.png" alt="trav" />
                          <span>Become a Traveller</span>
                        </a>
                      </li>
                  <?php }
              } ?>

              <li class="currency-box">
                <form class="form-horizontal" role="form">
                  <div class="select-wrapper">
                    <div class="select">
                      <span class="code"></span>
                    </div>
                    <ul class="dropdown-list">
                      <li class="preload" style="display:none">
                        <div id="preloader-wrapper">
                          <div id="preloader">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </li>
                      <?php
                                   if ($comSessObj->country) {
                                       $def_cnty = $comSessObj->country;
                                   } else {
                                       $def_cnty = "United Kingdom";
                                   }
                                   if (isset($this->dfcountry)) {
                                       foreach ($this->dfcountry as $valn) {

            							?>



                     <li class="list " data-value="<?php echo $valn['code']; ?>">
                       <?php echo $valn['name'].'-'.$valn['currency_symbol'];?>
                        <?php if($valn['name'] == $def_cnty) { ?>
                            <span class="default"> <?php echo $valn['currency_code'].' - '.$valn['currency_symbol'];?></span>
                        <?php } ?>

                     </li>
            			<?php
                                       }
                                   }
                                ?>

                      <?php
                       if ($comSessObj->currency) {
                           $def_cury = $comSessObj->currency;
                       } else {
                           $comSessObj->currency = 'GBP';
                           $comSessObj->currencycode = '&#163';
                           $def_cury = "GBP";
                       }
                       if (isset($this->ldcurrency)) {
                           foreach ($this->ldcurrency as $valn) {
                               $selv = '';
                               if ($def_cury == $valn['currency_code']) {
                                   $selv = 'selected="selected"';
                               }
                               echo '<option value="' . $valn['currency_code'] . '" ' . $selv . '>' . $valn['currency_code'] . ' ' . $valn['currency_symbol'] . '</option>';
                           }
                       }
                      ?>
                    </ul>
                  </div>
                  <div class="selected-currency">

                  </div>
                </form>
            </li>



              <li><a href="#" class="help-link">HELP</a></li>
              <?php
              if ($comSessObj->userid == '') {
                  if (strpos($url, 'becometraveler') === false) {
                      ?>
                      <li id='topLinkSingup'><a id="signUpLink" class="popup-text" href="#small-signup" data-effect="mfp-zoom-out">Sign Up </a></li>
                      <li id='topLinkLogin'><a class="popup-text" href="#small-login" data-effect="mfp-zoom-out">Log In </a></li>
                  <?php }
              } ?>

              <?php if ($comSessObj->userid != '') { ?>
                  <li class="nav-drop notification-drop">
                      <a href="#" class="hidden-md hidden-lg">Notification</a>
                      <span id="notification_count" style="display: none;"> </span>
                      <a class="notification" href="#"> <i class="fa fa-bell"> </i> </a>

                      <div id="notificationContainer">
                          <div id="notificationTitle">Notifications &nbsp;
                              <span class="pull-right">
                    <a href="<?php echo $this->basePath(); ?>/dashboard"> View Dashboard </a>
                              </span>
                          </div>

                          <div id="notificationsBody" class="notifications">
                              <?php if (!empty($this->notification)) {

                                  foreach ($this->notification as $notes) {

                                      ?>

                                      <div class="alert-class">

                                          <span class="alert-class-left"><i

                                                  class="fa fa-bell box-icon-inverse box-icon-left box-icon-border animate-icon-shake"></i></span>

                                          <span class="alert-class-center" id="notificationMessage">

                                              <?php

                                              if (!empty($notes['app_redirect'])) {

                                                  ?>

                                                  <a href="<?= $notes['app_redirect']; ?>"><?= $notes['notification_message']; ?></a>

                                                  <?php

                                              } else { ?>

                                                  <?= $notes['notification_message']; ?>

                                              <?php }

                                              ?>

                                          </span>

                                          <span class="alert-class-right" onclick="alert('clicked!!!');"><i

                                                  class="fa fa-times"></i></span>

                                      </div>

                                  <?php }

                              } ?>
                          </div>

                          <div id="notificationFooter">
                              <a href="<?php echo $this->basePath(); ?>/dashboard/notifications">See All </a>
                          </div>

                      </div>

                  </li>

                  <li id="loggedin_container" class="top-user-area-avatar">

                      <?php if (isset($comSessObj->user['image']) && !empty($comSessObj->user['image'])) {

                          if (strpos($comSessObj->user['image'], "http") !== false) {

                              $img = $comSessObj->user['image'];

                          } else {

                              $img = $this->basePath() . '/public/uploads/profile_picture/small/' . $comSessObj->user['image'];

                          }

                      } else {

                          $img = $this->basePath() . '/public/default_user.png';

                      } ?>

                      <div class="dropdown">

                          <!--a id="loggedin_img_name" class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"> <span class="hidden-xs"><img class=" origin round" width="40" height="40" src="<?php //echo $img ?>" alt="<?php //echo $comSessObj->user['first_name']; ?>" /></span>Hi,

                          <?php //echo $comSessObj->user['first_name']; ?> </a-->

                          <a id="loggedin_img_name" class="dropdown-toggle"

                             href="<?php echo $this->basePath(); ?>/dashboard">
                             <span class="icon"><img class="origin round" width="40" height="40" src="<?php echo $img ?>" /></span>
                             <span class="hidden-md hidden-lg sm-title">dashboard </span>
                             <span class="hidden-xs hidden-sm name">Hi, <?php echo $comSessObj->user['first_name']; ?> </span>
                           </a>

                          <!--ul class="list nav-drop-menu dropdown-menu" role="menu" aria-labelledby="loggedin_img_name">

                          <li> <a href="<?php // echo $this->basePath(); ?>/dashboard"><span class="m-icon mif-database"></span>Dashboard</a> </li>

                          <li> <a href="<?php // echo $this->basePath(); ?>/myprofile"><span style="font-size: 18px;" class="m-icon mif-profile"></span>Profile Settings</a> </li>

                          <li> <a href="<?php ///echo $this->basePath(); ?>/myaccount"><span class="m-icon mif-dollars"></span>Account Settings</a> </li>

                          <li> <a href="<?php //echo $this->basePath(); ?>/logout"><span style="font-size: 18px;" class="m-icon mif-settings-power"></span>Logout</a> </li>

                      </ul-->

                      </div>

                  </li>

              <?php } elseif ($comSessObj->facebook_user['id'] || $comSessObj->googleplus_user['id']) { ?>

                  <li id="loggedin_container" class="top-user-area-avatar">
                    <a id="loggedin_img_name" href="<?php echo $this->basePath(); ?>/dashboard">
                      <span class="hidden-xs icon">
                        <img class="origin" width="40" height="40" src="<?php $comSessObj->facebook_user['picture']['data']['url']; ?>"
                          />
                      </span>
                      <span class="name">Hi,
					  <?php if($comSessObj->facebook_user['id']){ echo $comSessObj->facebook_user['first_name']; ?><?php echo $comSessObj->facebook_user['last_name'];}  ?></span>
                   <?php  if($comSessObj->googleplus_user['id']) { echo $comSessObj->googleplus_user['name']['givenName']; ?><?php echo $comSessObj->googleplus_user['name']['familyName'];} ?>
				   </a>

                      <ul class="list nav-drop-menu">

                          <li><a href="<?php echo $this->basePath(); ?>/dashboard"><span

                                      class="m-icon mif-database"></span>Dashboard</a></li>

                          <li><a href="<?php echo $this->basePath(); ?>/myprofile"><span style="font-size: 18px;"

                                                                                         class="m-icon mif-profile"></span>Profile

                                  Settings</a></li>

                          <li><a href="<?php echo $this->basePath(); ?>/myaccount"><span

                                      class="m-icon mif-dollars"></span>Account Settings</a></li>

                          <li><a href="<?php echo $this->basePath(); ?>/logout"><span style="font-size: 18px;"

                                                                                      class="m-icon mif-settings-power"></span>Logout</a>

                          </li>

                      </ul>

                  </li>

              <?php } ?> </ul>
      </div>

      <!-- Start Trepr Help Content -->
      <div class="trepr-help">
        <div class="content-box">
          <div class="head">
            <div class="back-btn"><span>Back</span></div>
            <h3><a href="#">Help</a></h3>
            <i class="fa fa-times close" aria-hidden="true"></i>
          </div>
          <div class="body">
            <div id="preloader-wrapper">
              <div id="preloader">
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="search-form">
                <span class="fa fa-search"></span>
                <input class="form-control" type="search" placeholder="Ask a question" value="" onkeyup="helpSearch(this.value)">
              </div>
              <div class="results">
                <h5 class="title-head">Suggested Article</h5>
                <ul id="searchDetails">
                    <!--<li><a href="#">Help ?<span>></span></a></li>-->
                </ul>
              </div>
            </div>
          </div>
          <div class="bottom">
            <a href="#" class="btn btn-default vhc-btn">Visit the help center</a>
            <a href="#" class="feedback-btn">Give a feedback</a>
          </div>
        </div>
      </div>
      <!-- End Trepr Help Content -->
</div>

<script>

    var helpQuestionIndex = 0;

    $(document).ready(function (e) {

      //Help slider
      $('.help-link').click(function (e) {
          $('.trepr-help').addClass('show');
      });

      $('.trepr-help .close').click(function (e) {
          $('.trepr-help').removeClass('show');
      });

      $('.trepr-help').bind( "clickoutside", function(event){

        var $elem = $(event.target);
        if($elem.attr('class') != 'help-link') {
          if($(this).hasClass('show')) {
            $(this).removeClass('show');
          }
        }

      });


      $('.trepr-help .body .content-wrapper').mCustomScrollbar({
          callbacks:{
            whileScrolling:function(){
                $('body').addClass('stop-pagescroll');
            },
            onScroll: function(){
              setTimeout(function(){
                $('body').removeClass('stop-pagescroll');
              },200);
            },
            onScrollStart:function(){
                $('body').addClass('stop-pagescroll');
            },
          },
          advanced:{
            updateOnContentResize:true
          }
      });

      $('.trepr-help .back-btn').on('click', function(){
        helpBack(helpQuestionIndex);
      });



      //loads currencycodes
      $('.header .currency-box .code, .header .currency-box .selected-currency').text($('.currency-box li span.default').text());

      $('.header .currency-box .code').on('click', function(){

        $('.header .currency-box').toggleClass('expand');
        $('.header .currency-box .dropdown-list').toggleClass('show');

        $('.header .currency-box .dropdown-list').mCustomScrollbar({

            callbacks:{
              whileScrolling:function(){
                  $('body').addClass('stop-pagescroll');
              },
              onScroll: function(){
                setTimeout(function(){
                  $('body').removeClass('stop-pagescroll');
                },200);
              },
              onScrollStart:function(){
                  $('body').addClass('stop-pagescroll');
              },
            },
            advanced:{
              updateOnContentResize:true
            }
        });
      });

      $('.header .currency-box .dropdown-list').bind( "clickoutside", function(event){

       var $elem = $(event.target);
        if($elem.attr('class') != 'code') {
          if($(this).hasClass('show')) {
            $(this).removeClass('show');
            $('.header .currency-box').removeClass('expand');
          }
        }

      });

      $('.header .currency-box .list').on('click', function(){

        currencycountry($(this).attr('data-value'), 'countryCode');
        $('.header .currency-box .dropdown-list').toggleClass('show');

      });


      $('.header .navbar-toggle').on('click', function(){
        $('.header-right.navbar-collapse').toggleClass('expanded');
        $('.navbar-toggle ').toggleClass('expanded');
        $('.user-wrapper').toggleClass('expanded');
      });

        //Disable right click
        /*$("body").on("contextmenu", function (e) {
            return false;
        });*/

        //Disable cut copy paste
        /*$('body').bind('cut copy', function (e) {
            e.preventDefault();
        });*/
    });

    $(window).bind("load", function () {
        //$('.trep-toggler').load('<?php echo $this->basePath(); ?>/module/Application/view/layout/video.phtml');
        $(".banner-loader").css("display", "none");
    });

    $(window).resize(function() {
      if ( $(window).width() > 991 ) {
        $(".header-right.navbar-collapse").removeClass("expanded");
        $(".header .navbar-toggle").removeClass("expanded");
      }
    });

    function helpBack(id)
    {
      $('#expand_'+id).hide();
      $('.help-Question').show();
      $('.help-arrow-hide').toggleClass('switch');
      $('.trepr-help .back-btn').hide();
      $('.trepr-help .results .title-head').show();
      $('.trepr-help .search-form').show();
    }

    function helpExpand(id)
    {
      helpQuestionIndex = id;
      $('.help-Question').hide();
      $('.help-arrow-hide').toggleClass('switch');
      $('#expand_'+id).show();
      $('.trepr-help .back-btn').show();
      $('.trepr-help .results .title-head').hide();
      $('.trepr-help .search-form').hide();
    }

    function helpSearch(term)
    {
        $('.trepr-help #preloader-wrapper').show();
        $('.trepr-help #searchDetails').html('');
        $('.trepr-help .results .title-head').hide();

        if (term == '')
        {
            $('.trepr-help .results .title-head, .trepr-help #preloader-wrapper').hide();

            return false;
        }

        $.ajax({
            url: base_url + '/help-search',
            type: 'POST',
            data: 'term=' + term,
            cache: false,
            success: function (response) {
              $('.trepr-help .results .title-head').show();
              $('.trepr-help #preloader-wrapper').hide();
              $('.trepr-help .back-btn').hide();
              $('.trepr-help #searchDetails').html(response);
              helpQuestionIndex = 0;
            }
        });
    }

</script>
