<?php    $comSessObj = $this->common()->comSessObj;?>
<script>
  var baseurl = "<?php echo $this->basePath();?>";
  var fileurl = "<?php echo $this->common()->FileUrl();?>";
  var themeurl = "<?php echo $this->common()->ThemeUrl();?>";
  var sslurl = "<?php echo $this->sslurl; ?>";
  var nosslurl = "<?php echo $this->nosslurl; ?>";
  var current_url = "<?php echo $this->common()->getCurrentURL(); ?>";
</script>
<!--<script src="https://developers.traity.com/api.js"></script>-->


<!-- jquery.js and jquery-ui.min.js was loaded in top.phtml (line number : 11 and 12) -->
<!-- <script src="<?php echo $this->basePath();?>/public/js/jscolor.js"></script>-->
<script src="<?php echo $this->basePath();?>/public/js/jquery.validate.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/bootstrap.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/nicescroll.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/typeahead.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/slimmenu.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/bootstrap-datepicker.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/bootstrap-timepicker.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/bootstrap-select.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/dropit.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/ionrangeslider.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/icheck.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/fotorama.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/card-payment.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/magnific.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/owl-carousel.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/fitvids.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/tweet.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/gridrotator.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/common.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/custom.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/webcam.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/jquery.carousel-1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js"></script>
<!--<script src="<!?php echo $this->basePath();?>/public/js/custom-css3-animation-loadScroll.js"></script>-->
<script src="<?php echo $this->basePath();?>/public/js/wow.min.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/blockUI-2.7.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/dataTables.min.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/jquery.ajaxfileupload.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/bootstrap-filestyle.min.js"></script>
<script src="<?php echo $this->basePath();?>/public/colorpicker/js/colorpicker.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/jquery.creditCardValidator.js"></script>
<script src="<?php echo $this->basePath();?>/public/js/jquery-textfill.js"></script>

<script>
  $(document).ready(function() {
    bindFileStyle();
    $('#existing_user_location').trigger('change');
  });

  function bindFileStyle() {
    $(":file").each(function() {
      var duplicateFileStyle = $(this).first().prev();
      if (duplicateFileStyle.hasClass('bootstrap-filestyle input-group')) {
        $(duplicateFileStyle).remove();
      }
      $(":file").filestyle({
        buttonText: "Browse",
        iconName: "glyphicon glyphicon-folder-open",
        buttonName: "btn-primary",
        size: "nr",
        input: true,
        badge: false,
        icon: false,
        buttonBefore: false,
        disabled: false,
        placeholder: ""
      });
    });
  }

  function bindColourPicker() {
    var $pickerInput;
    $('.jscolor').ColorPicker({
      olor: '#0000ff',
      onSubmit: function(hsb, hex, rgb, el) {
        $(el).val('#' + hex);
        $(el).css('backgroundColor', '#' + hex);
        $(el).ColorPickerHide();
      },
      onBeforeShow: function() {
        $(this).ColorPickerSetColor(this.value);
        $(this).css('backgroundColor', this.value);
        $pickerInput = $(this);
      },
      onShow: function(colpkr) {
        $(colpkr).fadeIn(500);
        return false;
      },
      onHide: function(colpkr) {
        $pickerInput.val('#' + $(colpkr).find('.colorpicker_hex input').val());
        $pickerInput.css('backgroundColor', '#' + $(colpkr).find('.colorpicker_hex input').val());
        $(colpkr).fadeOut(500);
        return false;
      },
      onChange: function(hsb, hex, rgb) {
        $('#colorSelector div').css('backgroundColor', '#' + hex);
      }
    });
  }
  bindColourPicker();

</script>
<script>
  var currentLocationAddr;
  var ck_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_username = /^[A-Za-z0-9_]{1,20}$/;
  var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
  var ck_url = /^(ftp|http|https):\/\/[^ "]+$/;
  $(function() {
    jQuery('img.svg').each(function() {
      var $img = jQuery(this);
      var imgID = $img.attr('id');
      var imgClass = $img.attr('class');
      var imgURL = $img.attr('src');
      jQuery.get(imgURL, function(data) { /* Get the SVG tag, ignore the rest*/
        var $svg = jQuery(data).find('svg'); /* Add replaced image's ID to the new SVG*/
        if (typeof imgID !== 'undefined') {
          $svg = $svg.attr('id', imgID);
        } /*Add replaced image's classes to the new SVG*/
        if (typeof imgClass !== 'undefined') {
          $svg = $svg.attr('class', imgClass + ' replaced-svg');
        } /* Remove any invalid XML tags as per http://validator.w3.org*/
        $svg = $svg.removeAttr('xmlns:a'); /* Check if the viewport is set, else we gonna set it if we can.*/
        if (!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
          $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
        } /* Replace image with new SVG*/
        $img.replaceWith($svg);
      }, 'xml');
    });
  });
  $(function() {
    var validator = $("#social-formlogin").validate({
      errorContainer: 'label',
      meta: "validate",
      rules: {
        email: {
          required: true,
          email: true
        },
        pass: {
          required: true
        }
      },
      submitHandler: function(form) {
        $("#social-login-loader").show();
        var forwardto = $("#forwardto").val();
        $("#social-login-error").html("");
        var email = $("#semail").val();
        var password = $("#spass").val();
        var param = "email=" + email + "&password=" + password;
        if ($('#link_social_id').length) {
          param += '&link_social_id=' + $("#link_social_id").val() + '&link_social_type=' + $("#link_social_type").val() + '&social_dp=' + $('#social_dp').val();
        }
        jQuery.ajax({
          type: "POST",
          url: baseurl + '/signin?social=1',
          data: param,
          success: function(msg) {

            var datamsg = msg.split('@@@@');
            console.log(datamsg);
            if (datamsg[1] == 'loginfailed') { /*$(".invalidlogin").show();*/
              $("#social-login-loader").hide();
              $("#semail").addClass("error");
              $("#spass").addClass("error");
              $("#social-login-error").html("Email or Password wrong"); /*setTimeout('$.unblockUI();',3000);*/
            } else if (datamsg[1] == 'loginsuccess') {
              $("#social-login-loader").hide();
              window.location.href = baseurl + "/dashboard";
              if (after_login_forward == 'refresh') {
                location.reload();
              }
              $("#loggedin_img_name").html(datamsg[2]);
              console.log(datamsg);
              $("#topLinkLogin").hide();
              $("#topLinkSingup").hide();
              $("#loggedin_container").show();
              $("#wrapper, #switchusersearch").css('display', 'block');
              $.magnificPopup.close();
              $.unblockUI();
              location.reload();
            }
          }
        });
      }
    });
    <?php if($comSessObj->social_login_signup == "1" && $comSessObj->userid == "" ){ ?>
    $("#social-signup").modal("show"); /*$("#social-signup-trigger").trigger("click");*/
    <?php } ?>
    <?php if($comSessObj->login_try_email_exist == "1"){ ?> /*$comSessObj->login_try_email_exist == "0";*/
    $("#social-login").modal("show");
    <?php } ?>
    $("#not-me").click(function() {
      var clear_session = $.get(baseurl + "/clearsession");
      clear_session.done(function(data) {
        $("#social-login").modal("hide");
      });
    });
    $("#social-signup-user-detail").submit(function() {
      clrErr();
      $errStaus = false;
      if (validateFormFields('first_name_social', 'Please enter first name.', '')) $errStaus = true;
      if (validateFormFields('last_name_social', 'Please enter last name.', '')) $errStaus = true;
      if (validateFormFields('email_social', 'Please enter email address.', '')) $errStaus = true;
      if (validateFormFields('email_social', 'Please enter valid address.', 'validEmail')) $errStaus = true;
      if (validateFormFields('dob_social', 'Please enter date of birth.', '')) $errStaus = true;
      /* if (validateFormFields('password_social', 'Please enter password.', '')) $errStaus = true;*/
      if (validateFormFields('locationg', 'Please enter location.', '')) $errStaus = true;		/*console.log($errStaus);*/
      if ($errStaus) {
        return false;
      }
      $("#social-signup-error").html("");
      $("#social-signup-loader").show();
      $("#social-signup-btn1").prop("disabled", true);
      var savebasicdetails = $.post(baseurl + "/socialsignup", $(this).serialize());
      savebasicdetails.done(function(data) {
        var data = JSON.parse(data);
        if (data.code == "200") {
          var datamsg = data.message.split("@SPLIT@");
          $("#social-signup-loader").hide();
          $("#social-signup-user-detail").hide();
          $(".social-signup-title").html("Confirm your photo");
          $("#loggedin_img_name").html(datamsg[1]);
          //$("#topLinkLogin").hide();
          //$("#topLinkSingup").hide();
          $("#loggedin_container").show();
          $("#wrapper, #switchusersearch").css('display', 'block');
          $("#social-signup-user-photo").show();
          $(".email_address").html(data.email_address);
        } else {
          $("#social-signup-loader").hide();
          //$("#social-signup-error").html(data.message);
          $("#dobgLabel").html(data.message);
          $("#dobgLabel").show();
        }
      });
      return false;
    });
    $("#social-signup-user-email-cofirm").submit(function() {
      $("#social-signup-error").html("");
      $("#social-signup-loader").show();
      $("#social-signup-btn1").prop("disabled", true);
      var savebasicdetails = $.post(baseurl + "/socialsignup", $(this).serialize());
      savebasicdetails.done(function(data) {
        var data = JSON.parse(data);
        if (data.code == "200") {
          $("#social-signup-loader").hide();
          $(".social-signup-user-detail").hide();
          $(".social-signup-title").html("Check Your Email!");
          $("#social-signup-user-email-recofirm").show();

        } else {
          $("#social-signup-loader").hide();
          $("#social-signup-error").html(data.message);
        }
      });
      return false;
    });
    $("#social-signup-user-email-recofirm").submit(function() {
      $("#social-signup-error").html("");
      $("#social-signup-loader").show();
      $("#social-signup-btn1").prop("disabled", true);
      var savebasicdetails = $.post(baseurl + "/socialsignup", $(this).serialize());
      savebasicdetails.done(function(data) {
        var data = JSON.parse(data);
        if (data.code == "200") {
          $("#social-signup-loader").hide();
          $(".social-signup-user-detail").hide();
          $(".social-signup-title").html("Check Your Email!");
          $("#social-signup-user-email-recofirm").show();
        } else {
          $("#social-signup-loader").hide();
          $("#social-signup-error").html(data.message);
        }
      });
      return false;
    });
    $("#photo-okay").click(function() {
      $("#social-signup-loader").show();
      $("#social-signup-btn1").prop("disabled", true);
      var savebasicdetails = $.post(baseurl + "/socialsignup", $("#social-signup-user-photo").serialize());
      savebasicdetails.done(function(data) {
        var data = JSON.parse(data);
        if (data.code == "200") {
          $("#social-signup-loader").hide();
          $("#social-signup-user-photo").hide();
          $(".social-signup-title").html("Confirm your phone");
          $("#social-signup-user-phone").show();
        } else {
          $("#social-signup-error").html(data.message);
        }
      });
      return false;
    });
    $('.skipinfo').click(function() {
      $("#social-signup-error").html("");
      $("#social-signup-loader").hide();
      $('.social-signup-user-detail').hide();
      var nextInfoId = $(this).attr('id');
      var replacedId = nextInfoId.replace('skipinfo_', '');
      var titleText = ((replacedId == 'social-signup-user-phone') ? 'Confirm your phone' : ((replacedId == 'social-signup-user-email-cofirm') ? 'Confirm your email' : 'Thank You!'));
      $(".social-signup-title").html(titleText);
      $('#' + replacedId).show();
    });
    $('#changeEmailAddress').click(function() {
      $("#social-signup-error").html("");
      $("#social-signup-loader").hide();
      $('.social-signup-user-detail').hide();
      $(".social-signup-title").html("Confirm your email!");
      $('#social-signup-user-email-cofirm').show();
    });
    $('#uploadfilechange').click(function() { /* select the form and submit*/

      $("#social-signup-loader").show();
      var data = new FormData($('#social-signup-user-photo')['0']);
      jQuery.ajax({
        url: baseurl + "/socialsignup",
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
        success: function(data) {
          var data = JSON.parse(data);
          if (data.code == "200") {
            $("#social-signup-loader").hide();
            $("#social-signup-user-photo").hide();
            $(".social-signup-title").html("Confirm your phone");
            $("#social-signup-user-phone").show();
          } else {
            //$("#social-signup-error").html(data.message);
            $("#err_ss_pic").html(data.message);
            $("#social-signup-loader").hide();
          }
        }
      });
    });
    $("#clear-social-login,#skipinfo_social-signup-user-email").click(function() {
      $("#social-signup").modal('hide');
      window.location.href = baseurl + "/dashboard";
    });
    $("#social-signup-user-phone").submit(function(e) {
      if($('#myphone').val() =="" || $('#con_code').text() =="+"){
        e.preventDefault();
        if($('#con_code').text() =="+"){
          $('#myphone-number-error-social').html('Select Country.');
        } else if($('#myphone').val() ==""){
          $('#myphone-number-error-social').html('Enter phone number.');
        }

      }else{
        $("#social-signup-loader").show();
        $("#social-signup-btn-phone").prop("disabled", true);
        var savebasicdetails = $.post(baseurl + "/socialsignup", $("#social-signup-user-phone").serialize());
        savebasicdetails.done(function(data) {
          var data = JSON.parse(data);
          if (data.code == "200") {
            var code = $("#con_code").text();
            var numb = $("#myphone").val();
            var number = code+''+numb;
            if(numb ===""){
              alert('Enter phone number.');
            }else{
              $.ajax({
                type:"POST",
                url:"<?php echo $this->basePath();?>myprofile/addotpcode",
                data:{phone:number},
                success:function(res){
                  if(res=='1'){
                    $("#social-signup-loader").hide();
                    $("#complete-registeration-otp-step-social").show();
                    $("#myphone-main").hide();
                  }else{
                    $("#social-signup-loader").hide();
                    alert('Retry.');
                  }
                }
              });
            }

            //$("#social-signup-loader").hide();
            //$("#social-signup-user-phone").hide();
            $(".social-signup-title").html("Thank You!");
            //$("#social-signup-user-email").show();

            //$("#social-signup-user-email-cofirm").show();
          } else {
            $("#social-signup-error").html(data.message);
          }
        });
        return false;
      }
    });
    $("#social-signup-user-email").submit(function() {
      $("#social-signup-loader").show();
      $("#social-signup-btn1").prop("disabled", true);
      var savebasicdetails = $.post(baseurl + "/socialsignup", $(this).serialize());
      savebasicdetails.done(function(data) {
        var data = JSON.parse(data);
        if (data.code == "200") {
          $("#social-signup-loader").hide();
          $("#social-signup-success").html(data.message);
        } else {
          $("#social-signup-error").html(data.message);
        }
      });
    });
  });
  var watchId = null;

  function geoloc() { /*if (navigator.geolocation) {        var optn = {            enableHighAccuracy : true,            timeout : Infinity,            maximumAge : 0        };        watchId = navigator.geolocation.watchPosition(showPosition, showError, optn);    }*/
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        $.getJSON('http://api.geonames.org/countryCode', {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
          type: 'JSON',
          username: 'demo'
        }, function(result) {
          currencycountry(result.countryName, 'country'); /*curcyval("locasg",result.countryName);                localStorage.setItem("county", result.countryName);                var cur_country = localStorage.getItem("county");                jQuery.ajax({                    type: "POST",                    url:baseurl+'/getcountry',                    data: "cur_country="+cur_country,                    success: function(msg){                        var obj = jQuery.parseJSON( msg );                        $("#footer_country").val(obj.ID);                        $("#footer_currency").val(obj.currency_code);                    }                });*/
        });
      });
    } else {
      alert('Geolocation is not supported in your browser');
    }
  }

  function showPosition(position) {
    var googlePos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    var mapOptions = {
      zoom: 12,
      center: googlePos,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var mapObj = document.getElementById('mapdiv');
    var googleMap = new google.maps.Map(mapObj, mapOptions);
    var markerOpt = {
      map: googleMap,
      position: googlePos,
      title: 'Hi , I am here',
      animation: google.maps.Animation.DROP
    };
    var googleMarker = new google.maps.Marker(markerOpt);
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({
      'latLng': googlePos
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          var popOpts = {
            content: results[1].formatted_address,
            position: googlePos
          };
          var popup = new google.maps.InfoWindow(popOpts);
          google.maps.event.addListener(googleMarker, 'click', function() {
            popup.open(googleMap);
          });
        } else {
          alert('No results found');
        }
      } else {
        alert('Geocoder failed due to: ' + status);
      }
    });
  }
  String.prototype.formatErrorMsg = function() {
    var errString = this.toLowerCase();
    var errString = errString.charAt(0).toUpperCase() + errString.slice(1);
    return errString;
  };

  function setMsg(id, msg) {
    $('#div_' + id + ', .token-input-list-facebook').removeClass('has-success').addClass('has-error');
    $('#err_' + id).html(msg.formatErrorMsg());
  }

  function stopWatch() {
    if (watchId) {
      alert(watchId);
      navigator.geolocation.clearWatch(watchId);
      watchId = null;
    }
  }

  function isOneChecked(name) {
    var checkboxes = document.getElementsByName(name),
        i = checkboxes.length - 1;
    for (; i > -1; i--) {
      if (checkboxes[i].checked) {
        return true;
      }
    }
    return false;
  }

  function showError(error) {
    var err = document.getElementById('mapdiv');
    switch (error.code) {
      case error.PERMISSION_DENIED:
        err.innerHTML = "User denied the request for Geolocation.";
        break;
      case error.POSITION_UNAVAILABLE:
        err.innerHTML = "Location information is unavailable.";
        break;
      case error.TIMEOUT:
        err.innerHTML = "The request to get user location timed out.";
        break;
      case error.UNKNOWN_ERROR:
        err.innerHTML = "An unknown error occurred.";
        break;
    }
  }

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function validatePassword(password) {
    /*var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;*/
    var re = /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]).{8,}$/;
    return re.test(password);
  }

  function validateMultipleEmails(string) {
    var regex = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    var result = string.replace(/\s/g, "").split(/,|;/);
    for (var i = 0; i < result.length; i++) {
      if (!regex.test(result[i])) {
        return false;
      }
    }
    return true;
  }
  $('#p1service').magnificPopup({
    items: [{
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/1w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/2w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/3w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/4w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/5w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/6w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/7w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/people/seeker/8w.jpg'
    }],
    gallery: {
      enabled: true
    },
    type: 'image' /* this is default type*/
  });
  $('#p2service').magnificPopup({
    items: [{
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/1w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/2w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/3w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/4w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/5w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/6w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/7w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/8w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/9w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/package/seeker/10w.jpg'
    }],
    gallery: {
      enabled: true
    },
    type: 'image' /* this is default type */
  });
  $('#p3service').magnificPopup({
    items: [{
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/1w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/2w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/3w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/4w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/5w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/6w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/7w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/8w.jpg'
    }, {
      src: '<?php echo $this->basePath();?>/public/img/services/project/seeker/10w.jpg'
    }],
    gallery: {
      enabled: true
    },
    type: 'image' /* this is default type */
  });
  $(function() {
    $("#uploadFile").on("change", function() {
      var files = !!this.files ? this.files : [];
      if (!files.length || !window.FileReader) return;
      if (/^image/.test(files[0].type)) {
        var reader = new FileReader();
        reader.readAsDataURL(files[0]);
        reader.onloadend = function() {
          $("#imagePreview").css("background-image", "url(" + this.result + ")");
        }
      }
    });
    $("#imageupload").on("change", function() {
      var files = !!this.files ? this.files : [];
      if (!files.length || !window.FileReader) return;
      if (/^image/.test(files[0].type)) {
        var reader = new FileReader();
        reader.readAsDataURL(files[0]);
        reader.onloadend = function() {
          $("#imagePreview").css("background-image", "url(" + this.result + ")");
        }
      }
    });
  });
  $('#OpenImgUpload').click(function() {
    $('#uploadFile').trigger('click');
  });
  $("#imageupload").on('change', function() {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#imagePreview");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof(FileReader) != "undefined") {
        for (var i = 0; i < countFiles; i++) {
          var reader = new FileReader();
          reader.onload = function(e) { /*$('<img class="img-thumbnail mr10 mb10" style="height: 77px; width: 77px;" src=" />', {                        "src": e.target.result,                            "class": "thumbimage"                    }).appendTo(image_holder);*/ /* Render thumbnail. */
            var newNode = document.createElement('div');
            newNode.className = 'proimg';
            newNode.innerHTML = ['<img  style="max-height:78px; max-width: 78px;" src="', e.target.result, '" title="', escape(e.name), '"/><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'].join('');
            document.getElementById('imagePreview').appendChild(newNode, null); /*document.getElementById('imagePreview').innerHTML = newNode;*/
          }; /*image_holder.show();*/ /*reader.readAsDataURL($(this)[0].files[i]);*/
        }
      } else {
        alert("It doesn't supports");
      }
    } else {
      alert("Select Only images");
    }
  });
  $('#OpenImgUpload1').click(function() {
    $('#imageupload').trigger('click');
    return false;
  });
  jQuery(function($) {
    
  });
  <?php if($comSessObj->triggerlogin == 'yes') { $comSessObj->triggerlogin = 'no'; ?>
  $(document).ready(function() {
    $.magnificPopup.open({
      items: {
        src: '#small-login'
      },
      type: 'inline'
    }, 5000);
    $("body").ready(geoloc);
  });
  <?php } ?>
  var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 0,
    mobile: true,
    live: true,
    callback: function(box) {},
    scrollContainer: null
  });
  wow.init();

  function getAge(DOB) {
    var today = new Date();
    var dateArr = DOB.split('/');
    var birthDate = new Date(dateArr[2], dateArr[1] - 1, dateArr[0]);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      age--;
    }
    return age;
  }
  $(document).ready(function() {
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,
      fixedContentPos: false
    });
    $('input.dobdd').datepicker({
      format: "dd/mm/yyyy",
      startView: 2,
      autoclose: true,
      endDate: '-0d',
    });
  });

  function clrErr() {
    $(".form-group, .checkbox").removeClass("has-error");
    $(".err_msg, .ni-error").hide();
  }

  function setErr(fieldId, errMsg) {
    $('#err_' + fieldId).fadeIn();
    $('#err_' + fieldId).html(errMsg);
    $('#' + fieldId).focus();
  }

  function validateFormFields(fieldName, errMsg, fieldType) {
    if (fieldType == 'tinyMce') { /* var fieldText =  tinyMCE.get(fieldName).getContent();        //console.log(fieldText);        if(fieldText == ''){               setErr(fieldName,errMsg);return true;         }*/ } else if (fieldType == 'radioClass') {
      if ($('.' + fieldName).is(':checked').length == 0) { /*console.log('New '+fieldType);*/
        setErr(fieldName, errMsg);
        return true;
      } else {
        return false;
      }
    } else if (fieldType == 'radio' || fieldType == 'checkbox') {
      if ($("input[name=" + fieldName + "]:checked").length == 0) {
        setErr(fieldName, errMsg);
        return true;
      } else {
        return false;
      }
    } else if (fieldType == 'select') {
      if ($.trim($('#' + fieldName).val()) == '') {
        setErr(fieldName, errMsg);
        return true;
      } else {
        return false;
      }
    } else {
      if(current_url == '/becometraveler'){
        if ($('[id="'+fieldName+'"]:visible').length && ($.trim($('[id="'+fieldName+'"]:visible').val()) == '' || $('[id="'+fieldName+'"]:visible').val() == 0)) {
          setErr(fieldName, errMsg);
          return true;
        }
      } else if (($.trim($('#' + fieldName).val()) == '' || $('#' + fieldName).val() == 0)) {
        setErr(fieldName, errMsg);
        return true;
      } else if (fieldType == 'validEmail' && !ck_email.test($.trim($('#' + fieldName).val()))) {
        setErr(fieldName, 'Please enter a valid email address.');
        return true;
      } else if (fieldType == 'validPass' && !passwordRegex.test($('#' + fieldName).val())) {
        setErr(fieldName, 'Minimum 8  characters, upper and lowercase letters and numeric digit!');
        return true;
      } else if (fieldType == 'image') {
        if ($('#' + fieldName).val() != 0 && !/(\.jpg|\.gif|\.jpeg|\.png)$/i.test($('#' + fieldName).val())) {
          setErr(fieldName, 'Please select valid image file (.jpg|.gif|.jpeg|.png).');
          return true;
        }
      } else if (fieldType == 'validUrl' && !ck_url.test($.trim($('#' + fieldName).val()))) {
        setErr(fieldName, 'Please enter a valid url.');
        return true;
      }
      return false;
    }
  }
  <?php if(isset($_GET['signup']) && $_GET['signup'] == 'true'){ ?>
  $('#signUpLink').trigger('click');
  <?php } ?>
  function handleFileSelect(evt) {
    var files = evt.target.files;
    for (var i = 0, f; f = files[i]; i++) {
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();
      reader.onload = (function(theFile) {
        return function(e) {
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);
      reader.readAsDataURL(f);
    }
  } /*document.getElementById('files').addEventListener('change', handleFileSelect, false);*/ /* Get current Geo Location Open */
  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  function success(pos) {
    var crd = pos.coords;
    getCurrentGeoLocation(crd.latitude, crd.longitude);
  };

  function error(err) {
    console.warn('ERROR(' + err.code + '): ' + err.message);
    if (typeof latLng != 'object' && typeof google != 'undefined') {
      var latVal = '54.59728500000001';
      lngVal = '-5.930119999999988';
      latLng = new google.maps.LatLng(latVal, lngVal);
      if (typeof addTripPageGeoComplete == 'function') {
        $('.map_canvas').ready(function() {
          addTripPageGeoComplete(false, latLng);
        });
      }
    }
  }; /* Get current Geo Location Close */ /* apply current country in footer select box open */
  function getCurrentGeoLocation(lat, lng) {
    var geocoder = new google.maps.Geocoder();
    var latLng = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
    geocoder.geocode({
      'latLng': latLng
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          currentLocationAddr = results[0];
          $(results[0].address_components).each(function(index) {
            if ($.inArray("country", this.types) !== -1) {
              $('#footer_country').val(this.short_name).trigger('change');
              console.log(this.short_name);
              $('.footerCountry.selectpicker').selectpicker('refresh');
              if (typeof addTripPageGeoComplete == 'function') {
                addTripPageGeoComplete(this, latLng);
              } /*console.log(this.short_name);*/
            }
          });
        }
      }
    });
  } /* apply current country in footer select box close */ /* calling google geo location api */
  $('#footer_country').ready(function() {
    navigator.geolocation.getCurrentPosition(success, error, options);
  });

</script>
<script>
  $('.yesNo input:checkbox').on('click', function() {
    if ($(this).is(':checked') === true) {
      $(this).parent().addClass('checked');
    } else {
      $('.yesNo input:checkbox[name=' + $(this).attr('name') + ']').parent().removeClass('checked');
    }
  });
  $(document).on('change','#change_con',function(){
    var code = $('#change_con >option:selected').attr('data-id');
    var name = $('#change_con >option:selected').attr('data-name');
    $('#con_code').html(code);
    $('#con_code_msg').html(name);
  });
  $(document).on('change','#change_Country',function(){
    var code = $('#change_Country >option:selected').attr('data-id');
    var name = $('#change_Country >option:selected').attr('data-name');
    $('#changed_code').html(code);
    $('#changed_id').html(name);
  });
  $(document).on('change','#change-Country',function(){
    var code = $('#change-Country >option:selected').attr('data-id');
    var name = $('#change-Country >option:selected').attr('data-name');
    $('#changed-code').html(code);
    $('#changed-id').html(name);
  });
  $(document).on('keyup','#password',function(){
    var len = $(this).val().length;
    $("#error_password").html(checkStrength($('#password').val(),'error_password'));
  });

  $(document).on('keyup','#password_social',function(){
    var len = $(this).val().length;
    $("#error_password_social").html(checkStrength($('#password_social').val(),'error_password_social'));
  });
  $(document).on('blur','#pass',function(){
    $('#pass').css({"background-color":"white","border-color":"#cccccc"});
  });
  $(document).on('blur','#email_address',function(){
    if(!validateEmail($('#email_address').val()) && $('#email_address').val() !==""){
      $('#email_addressLabelInvalid').show();
      $('#email_addressLabel').hide();
      $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
    }else if(validateEmail($('#email_address').val())){
      $('#email_addressLabelInvalid').hide();
      $('#email_addressLabel').hide();
      $('#email_address').css({"background-color":"white","border-color":"#cccccc"});
    }else if($('#email_address').val() ==""){
      //$('#email_addressLabelInvalid').hide();
      //$('#email_addressLabel').hide();
      //$('#email_address').css({"background-color":"white","border-color":"#cccccc"});
    }
  });
  $(document).on('blur','#email',function(){
    if(!validateEmail($('#email').val()) && $('#email').val() !==""){
      $('#emailLabelInvalid').show();
      $('#emailLabel').hide();
      $('#email').css({"background-color":"wheat","border-color":"#ffb400"});
    }else if(validateEmail($('#email').val())){
      $('#emailLabelInvalid').hide();
      $('#emailLabel').hide();
      $('#email').css({"background-color":"white","border-color":"#cccccc"});
    }else if($('#email').val() ==""){
      $('#emailLabelInvalid').hide();
      $('#emailLabel').hide();
      $('#email').css({"background-color":"white","border-color":"#cccccc"});
    }
  });
  function checkStrength(password,error_id)
  {
    var strength = 0
    if (password.length < 6) {
      $('#'+error_id).removeClass();
      $('#'+error_id).addClass('short');
      return 'Too short';
    }
    if (password.length > 7) strength += 1
    if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/))  strength += 1
    if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/))  strength += 1
    if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/))  strength += 1
    if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
    if (strength < 2 )
    {
      //$('#error_password').removeClass();
      $('#'+error_id).addClass('weak');
      return 'Weak';
    }
    else if (strength == 2 )
    {
      //$('#error_password').removeClass();
      $('#'+error_id).addClass('good');
      return 'Fair';
    }
    else
    {
      //$('#error_password').removeClass();
      $('#'+error_id).addClass('strong');
      return 'Strong';
    }
  }
  function outField(id){
    var len = $('#'+id).val().length;
    if(len >0){
      $('#'+id+'Label').hide();
      $('#'+id).css({"background-color":"white","border-color":"#cccccc"});
    }
  }
  function keyupTask(id){
    var len = $('#'+id).val().length;
    if(len >0){
      $('#'+id+'Label').hide();
      $('#'+id).css({"background-color":"white","border-color":"#3fb34f"});
    }
  }
  function checkAllFields(){
    if($('#dobDay').val() !== '' && $('#dobMonth').val() !== '' && $('#dobYear').val() !== ''){
      $('#dobYearLabel').hide();
    }
  }
</script>
<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlWJke1V2SAp-RnQd4EK7O2J_G9IzgYw&libraries=places&callback=initAutocomplete" async defer></script>
-->
<script>
  var map;
  var geocoder;
  var marker;
  var gmarker;
  var people = new Array();
  var latlng;
  var infowindow;

  function initAutocomplete() {
    var options = {
      //types: ['(cities + states + countries)'],
      //types: ['geocode'],
      types: ['(regions)'],
      componentRestrictions: {country: "us"}
    };
    var input = document.getElementById('location');
    var searchBox = new google.maps.places.SearchBox(input,options);
    var markers = [];

    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      places.forEach(function(place) {


      });
    });
    var ginput = document.getElementById('locationg');
    var gsearchBox = new google.maps.places.SearchBox(ginput,options);
    var gmarkers = [];

    gsearchBox.addListener('places_changed', function() {
      var gplaces = gsearchBox.getPlaces();

      if (gplaces.length == 0) {
        return;
      }

      gmarkers.forEach(function(gmarker) {
        gmarker.setMap(null);
      });
      gplaces.forEach(function(gplace) {


      });
    });
  }
  $(document).on('keydown', '#location,#locationg', function(e){
    /*e = e || window.event;
     var charCode = (typeof e.which == "undefined") ? e.keyCode : e.which;
     var charStr = String.fromCharCode(charCode);
     if (/\d/.test(charStr)) {
     return false;
     }*/
  });

  $(document).on("click","#sign_up_with_email",function(){
    $("#sign_up_buttons").hide();
    $("#sign_up_with_email_window").show();
  });
  $(document).on("click","#go_signup_profile_pic_step",function(){ //alert(baseurl);
    var Err = false;
    if ($('#first_name').val() == '') {
      $('#first_nameLabel').show();
      $('#first_name').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    }else{
      $('#first_name').css({"background-color":"white","border-color":"#3fb34f"});

    }
    if ($('#last_name').val() == '') {
      $('#last_nameLabel').show();
      $('#last_name').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    }else{
      $('#last_name').css({"background-color":"white","border-color":"#3fb34f"});
    }
    if ($('#email_address').val() == '') {
      $('#email_addressLabel').show();
      $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    } else if ($('#email_address').val() != '' && !validateEmail($('#email_address').val())) {
      $('#email_address1Label').show();
      $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    }else{
      $('#email_address').css({"background-color":"white","border-color":"#3fb34f"});
    }
    if ($('#password').val() == '' || !validatePassword($('#password').val())) {
      $('#passwordLabelInvalid').show();
      $('#password').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    }

    else{
      $('#password').css({"background-color":"white","border-color":"#3fb34f"});
      $('#passwordLabelInvalid').css({"background-color":"white","border-color":"#3fb34f"});
      $('#passwordLabelInvalid').hide();
    }
    if ($('#dob').val() == '') {
      $('#dobLabel').show();
      $('#dob').css({"background-color":"wheat","border-color":"#ffb400"});
    }
    else {

      $('#dob').css({"background-color":"white","border-color":"#3fb34f"});
    }


    if ($('#gender').val() == '') {
      $('#genderLabel').show();
      $('#gender').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    }else{
      $('#gender').css({"background-color":"white","border-color":"#3fb34f"});
    }
    if ($('#location').val() == '') {
      $('#locationLabel').show();
      $('#location').css({"background-color":"wheat","border-color":"#ffb400"});
      Err = true;
    }else{
      $('#location').css({"background-color":"white","border-color":"#3fb34f"});
    }
    if ($('#dobDay').val() == '' || $('#dobMonth').val() == '' || $('#dobYear').val() == '') {
      $('#dobYearLabel').show();
      if($('#dobDay').val() == ''){$('#dobDay').css({"background-color":"wheat","border-color":"#ffb400"});}
      if($('#dobMonth').val() == ''){$('#dobMonth').css({"background-color":"wheat","border-color":"#ffb400"});}
      if($('#dobYear').val() == ''){$('#dobYear').css({"background-color":"wheat","border-color":"#ffb400"});}
      Err = true;
    }else{
      //$('#first_name').css({"background-color":"wheat","border-color":"#ffb400"});
    }
    if(Err==true){

    }else{
      //$("#signup_profile_pic_step").show();
      //$("#signup_step_init,#ss_login,#already_exists").hide();
      var first_name = $("#first_name").val();
      var last_name = $("#last_name").val();
      var email = $("#email_address").val();
      var password = $("#password").val();
      var dob = $("#dob").val();
      var gender = $("input[name='gender']:checked").val();//$("#gender > option:selected").val();
      var location = $("#location").val();
      var subscribe = $("input[name='subscribe']:checked").val();
      var userReferrer = $("#userReferrer").val();
      var senderID = $("#senderID").val();
      //var param = "first_name=" + first_name + "&last_name=" + last_name + "&email=" + email + "&password=" + password + "&dob=" + dob + "&subscribe=" + subscribe;
      var param = "first_name=" + first_name + "&last_name=" + last_name + "&email=" + email + "&password=" + password + "&dob=" + dob + "&subscribe=" + subscribe + "&gender=" + gender+"&senderID="+senderID+"&location="+location;
      if (userReferrer != '') {
        param += "&referrer=" + userReferrer;
      }
      if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/) && password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)){
        var strength = 1;
      }else{
        $('#password12Label').show();
        $('#password').css({"background-color":"wheat","border-color":"#ffb400"});
      }
      if (first_name !=="" && last_name !=="" && email !=="" && password !=="" && dob !=="" && gender !=="" && location !==""){
        $("#signup-loader").show();
        $.ajax({
          type: "POST",
          url: base_ur
          l + '/signup',
          data: param,
          success: function(msg) {

            var datamsg = msg.split("@SPLIT@");
            if (datamsg[1] !== 'EmailExist') {
              if(datamsg[1] !== 'UnderAge'){
                $("#loggedin_img_name").html(datamsg[1]);
                //$("#topLinkLogin").hide();
                //$("#topLinkSingup").hide();
                $("#loggedin_container").show();
                $.magnificPopup.close();
                //window.location = baseurl + '/dashboard';

                $("#complete-registeration-message").modal('show');
                $("#signup-loader").hide();
                $('#small-signup').attr('style','display:inline-block;');
                $('#all_pop').hide();
              }else{
                $('#dobUnderLabel').html(datamsg[0]);
                $('#dob').css("border-color","rgba(255, 176, 0, 1)");
                $('#email_addressLabelExits').html('');
                $('#dobUnderLabel').show();
                $("#signup-loader").hide();
              }
            } else {
              if(datamsg[1] == 'EmailExist'){
                $('#dobUnderLabel').html('');
                $('#email_addressLabelExits').html(datamsg[0]);
                $('#email_address').css("border-color","rgba(255, 176, 0, 1)");
                $('#email_addressLabelExits').show();
              }
              $("#signup-loader").hide();
              //$("#signupErrMsg").html(datamsg[0]);
              //$("#signupErrMsg").slideDown();
            }
          }
        });
      }else{
        alert(123);
      }
    }
    //$("#signup_profile_pic_step").show();
    //$("#signup_step_init,#ss_login,#already_exists").hide();
  });
  $(document).on("click","#go_signup_phone_verify_step",function(){
    if($("#profile_pic").val()===""){
      $("#profile_pic_error").html('Profile Picture is required.');
    }else{
      $("#signup_phone_verify_step").show();
      $("#signup_profile_pic_step").hide();
    }
  });

  $(document).on("click","#back_to_main",function(){
    $("#signup_step_init,#ss_login,#already_exists").show();
    $("#signup_profile_pic_step").hide();
  });
  $(document).on("click","#back_to_ppic",function(){
    $("#signup_profile_pic_step").show();
    $("#signup_phone_verify_step").hide();
  });
  $(document).on("click","#back_to_phone",function(){
    $("#signup_phone_verify_step").show();
    $("#signup_email_verify_step").hide();
  });
  $(document).on("click","#go_signup_email_verify_step",function(){
    var code = $("#changed_code").text();
    var numb = $("#user_phone_number").val();
    var number = code+''+numb;
    if(numb ===""){
      alert('Enter phone number.');
    }else{
      $.ajax({
        type:"POST",
        url:"<?php echo $this->basePath();?>myprofile/addotpcode",
        data:{phone:number},
        success:function(res){
          if(res=='1'){
            $("#signup_otp_verify_step").show();
          }else{
            alert('Retry.');
          }
        }
      });
    }
  });
  $(document).on("click","#signup_otp_confirm",function(){
    var code = $("#changed_code").text();
    var numb = $("#user_phone_number").val();
    var otp = $("#signup_otp").val();
    if(otp ==""){
      $('#signup_otp_confirm_error').html('Please enter OTP.');
    }else{
      $.ajax({
        type:"POST",
        url:"<?php echo $this->basePath();?>myprofile/verifyotpcode",
        data:{otp:otp,phone:code+''+numb},
        success:function(res){
          if(res=='1'){
            $("#signup_phone_verify_step,#signup_otp_verify_step").hide();
            $("#signup_email_verify_step,#final_submit").show();
            $("#signup_otp").val('');
          }else{
            $('#signup_otp_confirm_error').html('Please enter valid OTP');
          }
        }
      });
    }
  });
  function readURL(input,id) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#'+id).attr('src', '');
        $('#'+id).attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);

    }

  }
  function rmErr(){
    $("#complete-registeration-pic-error").html('');
  }
  function updateregisterprofilepic(){
    //event.preventDefault();
    $.ajax({
      type:"",
      url:"/myprofile/verifyprofilepicture",
      data:$('#imageform').serialize(),
      success:function(res){
        alert(res);
      }
    });
  }
  $(document).on("click","#go-complete-registeration-phone-step",function(){
    //e.preventDefault();
    if($("#propic").val()===""){
      $("#complete-registeration-pic-error").html('Profile Picture is required.');
    }else{

      // var datastring = new FormData($('#imageform')[0]);
      // $.ajax({
      // type:"POST",
      // url:"/myprofile/verifyprofilepicture",
      // data:datastring,
      // dataType:'json',
      // success:function(res){
      // alert(res);
      // }
      // });

      $("#complete-registeration-phone-step").show();
      $("#complete-registeration-pic-step").hide();
    }
  });

  $(document).on("click","#back-to-profile-pic",function(){
    $("#complete-registeration-pic-step").show();
    $("#complete-registeration-phone-step").hide();
  });
  $(document).on("click","#back-to-phone",function(){
    $("#complete-registeration-phone-step,#for-phone-number").show();
    $("#complete-registeration-final-step").hide();
  });
  $(document).on("click","#go-signup-email-verify-step",function(){
    var code = $("#changed-code").text();
    var numb = $("#user-phone-number").val();
    var number = code+''+numb;
    if(numb ==="" || code =="+"){
      if(code =="+"){
        $('#myphone-number-error').html('Select your country.');
      }else if(numb ==""){
        $('#myphone-number-error').html('Enter phone number.');
      }
    }else{
      $.ajax({
        type:"POST",
        url:"<?php echo $this->basePath();?>myprofile/addotpcode",
        data:{phone:number},
        success:function(res){
          if(res=='1'){
            $("#for-phone-number").hide();
            $("#complete-registeration-otp-step").show();
          }else{
            alert('Retry.');
          }
        }
      });
    }
  });

  $(document).on("click","#complete-registeration-confrim-otp",function(){
    var code = $("#changed-code").text();
    var ccode = $("#myy_con_code").val();
    var numb = $("#user-phone-number").val();
    var otp = $("#complete-registeration-signup-otp").val();
    if(otp ==""){
      $('#myphone-otp-error').html('Please enter OTP.');
    }else{
      $.ajax({
        type:"POST",
        url:"<?php echo $this->basePath();?>myprofile/verifyotpcode",
        data:{otp:otp,phone:code+''+numb,number:numb,co_code:ccode},
        success:function(res){
          if(res=='1'){
            $('#imageform').submit();
            $("#complete-registeration-signup-otp").val('');
            $("#complete-registeration-phone-step,#complete-registeration-otp-step,#small-signup").hide();

            //$("#complete-registeration-final-step").show();

          }else{
            $('#myphone-otp-error').html('Please enter valid OTP');
          }
        }
      });
    }
  });
  $(document).on("click","#complete-registeration-confrim-otp-social",function(){
    var code = $("#con_code").text();
    var numb = $("#myphone").val();
    var otp = $("#complete-registeration-signup-otp-social").val();
    if(otp ==""){
      $('#gotp_error').html('Please enter OTP.');
    }else{
      $("#social-signup-loader").show();
      $.ajax({
        type:"POST",
        url:"<?php echo $this->basePath();?>myprofile/verifyotpcode",
        data:{otp:otp,phone:code+''+numb,number:numb},
        success:function(res){
          if(res=='1'){
            $("#complete-registeration-signup-otp-social").val('');
            $("#social-signup-loader").hide();
            $("#social-signup-user-phone").hide();
            //$("#social-signup-user-email-cofirm").show();
            $("#social-final-cofirm").submit();
          }else{
            $("#social-signup-loader").hide();
            $('#gotp_error').html('Please enter valid OTP');

          }
        }
      });
    }
  });
  $('#signUpLink').click(function(){
    $('#all_pop').show();
    $('#small-signup').removeAttr('style');
  });

  $(document).on('click','.select_codes',function(){
    var dataid = $(this).attr('data-id');
    var code = $(this).attr('data-code');
    var id = $(this).attr('id');
    if(id=='IDID'){
      $("#changed-code").text('+');
      $("#myy_con_code").val('');
      $("#selected_codes").html($("#IDID").html());
    }else{
      $("#phone_code_for_otp").val(dataid);
      $("#selected_codes").html($("#ID_"+code).html());
      $("#changed-code").text(dataid);
      $("#myy_con_code").val(code);
    }
  });
  $(document).on('click','.select_codess',function(){
    var dataid = $(this).attr('data-id');
    var code = $(this).attr('data-code');
    var id = $(this).attr('id');
    if(id=='IDIDs'){
      $("#con_code").text('+');
      $("#my_con_code").val('');
      $("#selected_codess").html($("#IDIDs").html());
    }else{
      //$("#phone_code_for_otp").val(dataid);
      $("#selected_codess").html($("#IDs_"+code).html());
      $("#con_code").text(dataid);
      $("#my_con_code").val(code);
    }
  });
  $(document).on('click','#back-to-change-phone',function(){
    $('#complete-registeration-otp-step').hide();
    $('#for-phone-number').show();
  });
  $(document).on('click','#back-to-myphone-div',function(){
    $('#complete-registeration-otp-step-social').hide();
    $('#myphone-main').show();
  });
  $(document).on('click','#uploadfile',function(){
    $('#cprop').show();
    $('#photo-okay').hide();
  });
  function getEmailForPass(){
    $('#reset_email').val($('#email').val());
  }
  $(document).on('blur','#dob_social',function(){
    var dob = $('#dob_social').val();
    if(dob !=="" || dob !==undefined){
      var dates = dob.split("-");
      var d = new Date();
      var userday = dates[0];
      var usermonth = dates[1];
      var useryear = dates[2];
      var curday = d.getDate();
      var curmonth = d.getMonth()+1;
      var curyear = d.getFullYear();
      var age = curyear - useryear;
      if((curmonth < usermonth) || ( (curmonth == usermonth) && curday < userday   )){
        age--;
      }
      if(age < 18){
        $("#dobgLabel").html('Your age should have above 18 to complete signup process!');
        $("#dobgLabel").show();
      }else{
        $("#dobgLabel").html('');
        $("#dobgLabel").hide();
      }
    }
    var dob1 = $('#dob').val();
    if(dob1 !=="" || dob1 !==undefined){
      var dates1 = dob1.split("-");
      var d1 = new Date();
      var userday1 = dates1[0];
      var usermonth1 = dates1[1];
      var useryear1 = dates1[2];
      var curday1 = d1.getDate();
      var curmonth1 = d1.getMonth()+1;
      var curyear1 = d1.getFullYear();
      var age1 = curyear1 - useryear1;
      if((curmonth1 < usermonth1) || ( (curmonth1 == usermonth1) && curday1 < userday1   )){
        age1--;
      }
      if(age1 < 18){
        $("#dobLabel").html('Your age should have above 18 to complete signup process!');
        $("#dobLabel").show();
      }else{
        $("#dobLabel").html('');
        $("#dobLabel").hide();
      }
    }

  });

  $(document).on('blur','#dob',function(){

    var dob = $('#dob').val();
    if(dob !=="" || dob !==undefined){
      var dates = dob.split("-");
      var d = new Date();
      var userday = dates[0];
      var usermonth = dates[1];
      var useryear = dates[2];
      var curday = d.getDate();
      var curmonth = d.getMonth()+1;
      var curyear = d.getFullYear();
      var age = curyear - useryear;
      if((curmonth < usermonth) || ( (curmonth == usermonth) && curday < userday   )){
        age--;
      }
      if(age < 18){
        $("#dobLabelage").html('Your age should have above 18 to complete signup process!');
        $("#dobLabelage").show();
      }else{
        $("#dobLabelage").html('');
        $("#dobLabelage").hide();
      }
    }


  });

  $("#social-final-cofirm").submit(function() {
    $("#social-signup-loader").show();
    $("#social-signup").hide();
    $.ajax({
      type:'post',
      url:'/socialsignup',
      data:{action:'final_submit'},
      success:function(res){
        $("#social-signup-loader").hide();
        if('<?php  isset($this->sessionObj->btform)?$this->sessionObj->btform:"0";?>' =='1'){
          window.location.href='/becometraveler/travelinfo';
        }else{
          window.location.href='/dashboard';
        }
      }

    });
    return false;
  });
  function filter_country(element,what) {
    var value = $(element).val();
    value = value.toLowerCase().replace(/\b[a-z]/g, function(letter) {
      return letter.toUpperCase();
    });
    if (value == '') {
      $('#'+what+' > li > a').show();
    }
    else {
      $('#'+what + ' > li > a:not(:contains(' + value + '))').hide();
      $('#'+what + ' > li > a:contains(' + value + ')').show();
    }
  }
  $(document).on('click','#m_country_button',function(){
    $(this).hide();
    $('#search_my_country').show();
    $('#search_my_country').focus();
  });
  $(document).on('focusout','#search_my_country',function(){
    $('#m_country_button').show();
    $('#search_my_country').val('');
    $('#search_my_country').hide();
  });
  $(document).on('focusin','#search_my_country',function(){
    $('#conList > li > a').show();
  });
  $(document).on('click','#mc_country_button',function(){
    $(this).hide();
    $('#searchc_my_country').show();
    $('#searchc_my_country').focus();
  });
  $(document).on('focusout','#searchc_my_country',function(){
    $('#mc_country_button').show();
    $('#searchc_my_country').val('');
    $('#searchc_my_country').hide();
  });
  $(document).on('focusin','#searchc_my_country',function(){
    $('#concList > li > a').show();
  });

</script>
<style>
  .short{
    color:red;
  }
  .weak{
    color:#b23f42;
  }
  .good{
    color:#ffb400;
  }
  .strong{
    color:#3fb34f;
  }

  /* for signup popups */
  .head-wrap {
    border-bottom: 1px solid #eef1f5;
    margin-bottom: 0px;
  }
  .formpopupbox {
    width: 100%;
    margin: auto;
    background: #fff;
    overflow: inherit;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 7px;
  }
  .topbar {
    float: left;
    width: 95%;
    padding-top: 0px;
    padding-left: 5%;
    padding-bottom: 11px;
  }
  .backarrow {
    float: left;
  }
  .dottedround {
    text-align: center;
    line-height: 30px;
  }
  .formpopupbox h1 {
    text-align: center;
    clear: both;
    color: #4d4d4d;
    font-size: 25px;
    margin-bottom:3px;
  }
  .formpopupbox p {
    font-size: 17px;
    color: #4d4d4d;
    text-align: center;
    width: 69%;
    margin: auto;
  }
  .imgroundall {
    padding-top: 20px;
    text-align: center;
  }
  .imground {
    background: #686868;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin: auto;
    overflow: hidden;
  }
  .imground img{
    width: 100%;
    height: 100%;
  }
  .uploadbut {
    text-align: center;
    padding-top: 35px;
    position: relative;
  }
  .uploadbut input {
    width: 71.2%;
    padding: 0;
    height: 38px;
    position: absolute;
    left: 0px;
    margin: auto;
    right: 0px;
    border: 0px;
    background-color: transparent;
    opacity: .0;
  }
  .uploadbutnew {
    text-align: center;
    padding-top: 35px;
    position: relative;
  }
  .imgroundallnew {
    padding-top: 18px;
    text-align: center;
  }
  .resendbut {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 13px;
  }
  .uploadbutnew input {
    #width: 68%;
    #height: 24px;
    background: #f5f5f5;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    #padding: 7px;
    #font-size: 15px;
  }
  .changetext {
    font-size: 13px !important;
    color: #4493cb !important;
    padding-top: 7px !important;
    clear: both;
  }
  .changetext a{color: #4493cb !important; text-decoration:none;}
  .uploadbutnewform {
    text-align: center;
    padding-top: 35px;
    position: relative;
    width: 310px;
    margin: auto;
  }
  .numbertext {
    background: #edefed;
    border: 1px solid #aaaaaa;
    width: 70px;
    padding: 3px;
    font-size: 16px;
    color: #4d4d4d;
    margin-left: 0;
    z-index: 999;
    line-height: 32px;
    margin-right: 0;
    float: left;
  }
  .uploadbutnewform input {
    width: 46%;
    height: 40px;
    background: #fff;
    border-top: 1px solid #aaaaaa;
    border-left: 0px;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0;
    padding: 7px;
    font-size: 15px;
    position: relative;
    padding-left: 17px;
    float: left;
  }
  .changetext span {
    color: #4d4d4d;
    padding-right: 7px;
  }
  .open > .dropdown-menu{

    display: block;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
  }
  .open > .dropdown-menu-drop {
    height: auto !important;
    overflow-y: initial !important;
  }
  #input-group-select-search > .open > .dropdown-menu {
    height: auto !important;
    overflow-y: initial !important;
  }
  #input-group-select-search > .bootstrap-select .dropdown-menu.inner {
    max-height: 98px !important;
    max-width: 250px;
    overflow: auto;
  }
  .uploadbutnewform {
    text-align: center;
    padding-top: 11px;
    position: relative;
    width: 100%;
    clear: both;
  }
  .well{height: 46px;}
  .profile-details {
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
  }
  .user-profile-sidebar .user-profile-avatar {
    padding: 7px;
    background: #ffffff;
  }
  .user-profile-sidebar .user-profile-avatar .user-pro-img {
    width: 100%;
    height: 170px;
    #border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  .profile-details p img {
    width: auto;
    height: auto;
  }
  .user-pro-img img {
    width: 100%;
    height: 170px;
  }
  #small-signup.mfp-dialog,#small-login.mfp-dialog {
    max-width: 383px !important;
  }

  .btn-facebook {
    color: #fff;
    background-color: #4568b2 !important;
    border-color: rgba(0,0,0,0.2);
    padding-top: 9px;
    padding-bottom: 9px;
    border: 2px solid transparent !important;
    font-size: 16px;
    font-weight: 700 !important;
    text-align: center;
    border-radius: 4px;
  }
  .btn-google {
    color: #484848;
    background-color: #fff;
    border-color: rgba(0,0,0,0.2);
    padding-top: 9px;
    padding-bottom: 9px;
    border: 2px solid #767676;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    font-weight: 700 !important;
  }
  .btn-social > :first-child {
    position: absolute;
    left: 73px;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 43px;
    font-size: 1.2em;
    text-align: center;
    border-right:0px;
  }
  .signup-or-separator-text {
    background-color: #FFF;
    display: inline-block;
    line-height: 37px;
    padding: 0 8px;
    margin: 0 auto;
    font-size: 15px;
  }
  .btn-google .fa-google-plus {
    padding-left: 18px;
  }
  .with-email{
    background-color: #FF5A5F !important;
    border: 1px solid transparent;
    color: #fff;
    margin-top: 9px;
  }
  .with-email > :first-child {
    position: absolute;
    left: 73px;
    top: -4px;
    bottom: 0;
    width: 32px;
    line-height: 43px;
    font-size: 16px;
    text-align: center;
    border-right: 0px;
  }
  .my-form-control{
    padding:21px 12px !important;
  }
  .otpcodeclass {
    background: #edefed;
    border-left: 1px solid #ccc;
    width: 70px;
    padding: 2px;
    font-size: 16px;
    color: #4d4d4d;
    margin-left: 0;
    z-index: 999;
    line-height: 32px;
    margin-right: 0;
    float: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align:center;
  }
</style>
<script>
  <?php if($comSessObj->verifymail ==1){ ?>
  $('#small-signup').attr('style','display:inline-block;');
  $('#all_pop').hide();
  $("#complete-registeration").modal('show');
  <?php $this->sessionObj->offsetSet('verifymail',0); } ?>
  <?php if($comSessObj->social_login_signup_first_form == '1'){
  //$this->sessionObj->offsetSet('social_login_signup_first_form','0'); ?>
  console.log('first');
  $('#social-signup-user-detail').show();
  $('#social-signup-user-photo').hide();
  $('#social-signup-user-phone').hide();
  <?php } if($comSessObj->social_login_signup_photo_form == '1' && $comSessObj->social_login_signup =='1'){
  //$comSessObj->social_login_signup_photo_form = '0'; ?>
  console.log('photo');
  $('#social-signup-user-detail').hide();
  $('#social-signup-user-photo').show();
  $('#social-signup-user-phone').hide();
  <?php } if($comSessObj->social_login_signup_phone_form == '1' && $comSessObj->social_login_signup =='1'){
  //$comSessObj->social_login_signup_phone_form = '0';	?>
  console.log('phone');
  $('#social-signup-user-detail').hide();
  $('#social-signup-user-photo').hide();
  $('#social-signup-user-phone').show();
  <?php } ?>
</script>
