<?php $comSessObj = $this->common()->comSessObj;
if ($this->prof['language']) {
    $language = $this->prof['language'];
} else {
    $language = 16;
}
$base_url = $this->serverUrl() . $this->basePath();//$this->common_model->getCountries();?>
<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics --><!--We have added this code.-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134464259-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-134464259-1');
	</script>
	<!--End of our code-->
    <title>Trepr - Simply Substitute</title>
    <?php echo $this->render('layout/top.phtml') ?>
    <?php $img = $this->basePath() . '/img/300x300.png';
    if ($comSessObj->user['image']) {
        $img = $this->basePath() . '/uploads/profile_picture/medium/' . $comSessObj->user['image'];
    } ?>
    <style type="text/css">
        #map img {
            max-width: none;
            max-height: none;
        }

        .traity-widget iframe {
            width: 200px !important;
        }
    </style>

</head>
<body class="inner-page-topSpace">
<!--<script src='//api.traity.com/1.0/api.js'></script>-->
<?php echo $this->render('layout/side_menu.phtml', array('comSessObj' => $comSessObj, 'prof' => $this->prof, 'reviews' => $this->reviews)); ?>
<!-- /#wrapper -->
<div class="global-wrap">
    <div class="show-onload">
        <div class="bg-holder full">
            <?php echo $this->render('layout/header.phtml', array('comSessObj' => $comSessObj, 'notification' => $this->notification)); ?> </div>
    </div>
    <div class='breadcrumb-block'>
      <div class="container">
        <div class="row breadcrumb-content">
          <div class='col-xs-12'>
            <?php echo $this->render('layout/includes/breadcrumb.phtml', array('comSessObj' => $comSessObj, 'breadCrumbArr' => $this->layout()->breadCrumbArr)); ?>
          </div>
        </div>
        <?php //if($this->layout()->hideSwitchUser == true){ ?>
        <div class="row less-wide">
          <div class='col-md-12 col-xs-12'>
              <?php echo $this->render('layout/includes/switch_user.phtml'); ?>
          </div>
          <?php //} ?>
        </div>
      </div>
    </div>
    <div class="container">
        <?php echo $this->layout()->content;
        $countriesDropDown = $this->CommonMethodsModel->getCountries();
        $currenciesDropDown = $this->CommonMethodsModel->getCurrencies(); ?> </div>
    <?php echo $this->render('layout/common-scripts.phtml');
    echo $this->render('layout/footer.phtml', array('comSessObj' => $comSessObj, 'dfcountry' => $countriesDropDown, 'ldcurrency' => $countriesDropDown));
    echo $this->render('layout/pop_box.phtml'); ?>
    <script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/jquery.bootstrap.wizard.js"></script>
    <?php if ($comSessObj->userrole == '') $comSessObj->userrole = 'seeker'; ?>
    <?php $showGmapScritpCallback = (isset($this->layout()->pageFunction) && $this->layout()->pageFunction === 'search') ? false : true;
    if ($showGmapScritpCallback) { ?>
    <?php } ?>
    <script src="<?php echo $this->basePath(); ?>/public/js/jquery.geocomplete.min.js"></script>
    <?php if ($comSessObj->userrole == 'seeker' && $this->layout()->pageController && $this->layout()->pageFunction) {
        if (isset($this->layout()->pageFunction)) {
            if ($this->layout()->pageFunction == 'addPeopleService') echo $this->headScript()->appendScript("initAddTripSeekerPeople();");
            if ($this->layout()->pageFunction == 'addPackageService') echo $this->headScript()->appendScript("initAddTripSeekerPackage();");
            if ($this->layout()->pageFunction == 'addProjectService') echo $this->headScript()->appendScript("initAddTripSeekerProject();");
        }
    } else if ($comSessObj->userrole == 'traveller') {
        if (isset($this->layout()->pageFunction)) {
            if ($this->layout()->pageFunction == 'addPeopleService') echo $this->headScript()->appendScript("initAddTripPeople();");
            if ($this->layout()->pageFunction == 'addPackageService') echo $this->headScript()->appendScript("initAddTripPackage();");
            if ($this->layout()->pageFunction == 'addProjectService') echo $this->headScript()->appendScript("initAddTripProject();");
            if ($this->layout()->pageFunction == 'projectserviceonlocation') echo $this->headScript()->appendScript("initAddTripProjectServiceonLocations();");
        }
    } ?>
    <script>
        (function ($) {
            'use strict';
            $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function (e) {
                var $target = $(e.target);
                var $tabs = $target.closest('.nav-tabs-responsive');
                var $current = $target.closest('li');
                var $parent = $current.closest('li.dropdown');
                $current = $parent.length > 0 ? $parent : $current;
                var $next = $current.next();
                var $prev = $current.prev();
                var updateDropdownMenu = function ($el, position) {
                    $el.find('.dropdown-menu').removeClass('pull-xs-left pull-xs-center pull-xs-right').addClass('pull-xs-' + position);
                };
                $tabs.find('>li').removeClass('next prev');
                $prev.addClass('prev');
                $next.addClass('next');
                updateDropdownMenu($prev, 'left');
                updateDropdownMenu($current, 'center');
                updateDropdownMenu($next, 'right');
            });
        })(jQuery);
    </script>
    <!--script src="https://connect.facebook.net/en_US/all.js"></script-->
    <?php $showAddressForm = (isset($this->layout()->pageFunction) && ($this->layout()->pageFunction == 'myAddresses')) ? true : false;
    if ($showAddressForm) { ?>
    <?php } ?>
    <div id="flight-position" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg">
        <div class="content-load-normal" id="flight_loading" style="display: none;">
            <div class="dis-tab">
                <div class="dis-tab-cel"><img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">

                    <p id="uploading_status_text"></p>
                </div>
            </div>
        </div>
        <div class="head-wrap">
            <h4 class="tab-heading">Flight Position </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div id="flight_map_canvas" style="height: 345px; "></div>
                </div>
            </div>
        </div>
    </div>
    <div id="check-flight-status" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg">
        <div class="content-load-normal" id="flight_status_loading" style="display: none;">
            <div class="dis-tab">
                <div class="dis-tab-cel"><img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif"></div>
            </div>
        </div>
        <div class="head-wrap">
            <h4 class="tab-heading">Flight Status </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div id="flight_status_content"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="document-upload-confimation" class="mfp-hide">
        <div id="document-upload-confimation-content"></div>
    </div>
    <div id="ticket-upload-confimation" class="mfp-hide">
        <div id="ticket-upload-confimation-content"></div>
    </div>
</div>
<?php echo $this->render('layout/userprofile_script_include.phtml', array('language' => $language, 'comSessObj' => $comSessObj)); ?>
<!--script src='//api.traity.com/1.0/sdk.js'></script-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.writeSection').hide();
        $('.completedWriteSection').hide();
    });

    function showRef(el) {
        var parentEl = $(el).closest('.requestZone');
        parentEl.find('.writeSection').show();
        parentEl.find('.writeRefShowSec').hide();
    }

    function hideRef(el) {
        var parentEl = $(el).closest('.requestZone');
        parentEl.find('.writeSection').hide();
        parentEl.find('.writeRefShowSec').show();
    }

    function showRefEdit(el) {
        var parentEl = $(el).closest('.completedRequestZone');
        parentEl.find('.completedWriteSection').show();
        parentEl.find('.completedWriteRefShowSec').hide();
    }

    function hideRefEdit(el) {
        var parentEl = $(el).closest('.completedRequestZone');
        parentEl.find('.completedWriteSection').hide();
        parentEl.find('.completedWriteRefShowSec').show();
    }
</script>
</body>

</html>
