<div class="search-container-home mini" style="text-align:center">
    <div class="search-bar-home">
        <div class="container-fluid">

            <div class="row less-wide content-booking-trepr">
                <div class="col-xs-12 button-bg-img">
                    <div class="booking-list-content">
                        <div class="button-bg-tab b-treprnbtn">
                            <div class="btn btn-default b-treprn active" id="pcom" data-tab="#peopleOpen"><img src="public/images/people_03.png" alt="pc">
                                <p>In-Flight Companion</p>
                            </div>
                        </div>
                        <div class="button-bg-tab b-treprnbtn">
                            <div class="btn btn-default b-treprn" id="pdeli" data-tab="#packageOpen"><img src="public/images/pd_03.png" alt="pc">
                                <p>Package Shipment</p>
                            </div>
                        </div>
                        <div class="button-bg-tab b-treprnbtn">
                            <div class="btn btn-default b-treprn" id="pprocure" data-tab="#productOpen"><img src="public/images/ps_03.png" alt="pc">
                                <p>Shopping Concierge</p>
                            </div>
                        </div>
                    </div>
                    <!--booking-list-content-->
                </div>


                    <div class="search-inputs">
                      <form class="form-inline" id="homesearchPeople"  action="<?php echo $this->basePath(); ?>/search" method="post">
                        <input name="service" id="trepservice" type="hidden" value="people">
                        <div class="row fields" id="peopleOpen">
                          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 column">
                              <input type="text" placeholder="Select Origin Airport or City" class="orgin input typeahead" id="origin" name="origin">
                          </div>
                          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 column">
                              <input type="text" placeholder="Select Destination Airport or City" class="destination input typeahead" id="destination" name="destination">
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 column">
                              <input class="input date" type="text" id="date" name="date" placeholder="Select Date"/>
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 column">
                            <button class="btn btn-default search-btn">
                              <i class="fa fa-search" aria-hidden="true"></i>
                              <span>Search</span>
                            </button>
                          </div>
                        </div>
                        <div class="show-error"></div>
                      </form>

                      <form class="form-inline" id="homesearchPackage"  action="<?php echo $this->basePath(); ?>/search" method="post">
                        <input name="service" id="trepservice" type="hidden" value="package">
                        <div class="row fields" id="packageOpen">
                          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 column">
                              <input type="text" placeholder="Select Pickup Location or City" class="orgin input typeahead" id="origin" name="origin">
                          </div>
                          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 column">
                              <input type="text" placeholder="Select Delivery Location or City" class="destination input typeahead" id="destination" name="destination">
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 column">
                              <input class="input date" type="text" id="date" name="date" placeholder="Select Date"/>
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 column">
                            <button class="btn btn-default search-btn">
                              <i class="fa fa-search" aria-hidden="true"></i>
                              <span>Search</span>
                            </button>
                          </div>
                        </div>
                      </form>

                      <form class="form-inline" id="homesearchProduct"  action="<?php echo $this->basePath(); ?>/search" method="post">
                        <input name="service" id="trepservice" type="hidden" value="project">
                        <div class="row fields" id="productOpen">
                          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 column">
                              <input type="text" placeholder="Select Product Location or City" class="orgin input typeahead" id="origin" name="origin">
                          </div>
                          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 column">
                              <input type="text" placeholder="Select Delivery Location or City" class="destination input typeahead" id="destination" name="destination">
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 column">
                              <input class="input date" type="text" id="date" name="date" placeholder="Select Date"/>
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 column">
                            <button class="btn btn-default search-btn">
                              <i class="fa fa-search" aria-hidden="true"></i>
                              <span>Search</span>
                            </button>
                          </div>
                        </div>
                      </form>

                    </div>


            </div>
            <!--content-booking-trepr-->
        </div>
    </div>
</div>
