<?php     $comSessObj = $this->common()->comSessObj;         if(isset($comSessObj->user['image']) && !empty($comSessObj->user['image'])){        if(strpos($comSessObj->user['image'], "http") !== false){            $img = $comSessObj->user['image'];        }else{            $img = $this->basePath().'/public/uploads/profile_picture/small/'.$comSessObj->user['image'];        }    }else{        $img = $this->basePath().'/public/default_user.png';    }
if(!empty($comSessObj->user_rating)){
	$revs = array();
	foreach($comSessObj->user_rating as $revie){
		$revs[] = $revie['rating'];
	}
	$total_rating = array_sum($revs)/count($revs);
}else{
	$total_rating = 0;
}
$total_rating = isset($comSessObj['avg_rating'])?$comSessObj['avg_rating']:$total_rating;
?>
    <div id="wrapper" class="sidebar-container">
        <?php if ($comSessObj->userid != "") {     if ($comSessObj->userrole == 'seeker') { ?>
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top sidebar-wrapper" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="user-profile-avatar text-center hidden-xs">
								<div class="user-pro-img"><img src="<?= $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>" title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>" style="height:120px;"/>
								<div class="profile-details">
								<!--h5><?= $comSessObj->user['first_name']; ?></h5-->
								<p class="mb0">Member Since
									<?php echo date(' M Y', strtotime($comSessObj->user['created'])) ?>
								</p>
								<!-- <p class="mb0">Member Since May 2012</p> -->
								<p><img src="/public/img/star_<?= round($total_rating);?>.png"></p>
								</div>
								</div>
                    </li>
                    <li><a href="<?php echo $this->basePath(); ?>/seeker">My Travel Needs</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/search">Search Travelers</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Travel Needs <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-drop" role="menu">
                            <li class="dropdown-header" style="display:none"></li>
                            <li><a href="<?php echo $this->basePath(); ?>/seeker/add-people-service">People Service</a></li>
                            <li><a href="<?php echo $this->basePath(); ?>/seeker/add-package-service">Package Service</a></li>
                            <li><a href="<?php echo $this->basePath(); ?>/seeker/add-project-service">Product Service</a></li>
                        </ul>
                    </li>
                    <li><a href="<?php echo $this->basePath(); ?>/seeker/travelerrequest">Traveler Requests </a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/wishlist">My Traveler Wish List</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/myexpenses">My Service Expenses</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/mytriphistory">Travel Need History</a></li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->
            <?php } else { ?>
                <!-- Sidebar -->
                <nav class="navbar navbar-inverse navbar-fixed-top sidebar-wrapper" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="user-profile-avatar text-center hidden-xs"> <span class="sidebarUser"><img src="<?php echo $img ?>" alt="<?php echo $comSessObj->user['first_name']; ?>" /></span>
                            <!--h5><?php //echo $comSessObj->user['first_name']; ?></h5-->
                            <!--             <img class="img-responsive" src="<?php echo $img ?>" alt="User Name" title="User Name" />-->
                            <?php if(isset($comSessObj->user['created']) && !empty($comSessObj->user['created'])){?>
                                <p>Member Since
                                    <?php echo date('M, Y',strtotime($comSessObj->user['created']))?>
                                </p>
                                <?php }?>
                                    <p><img src="<?php echo $this->basePath(); ?>/public/img/star_3.png" alt="" /></p>
                                    <!--p class="text-success">Logged in as Traveller</p-->
                        </li>
                       <?php  if ($comSessObj->user['approved_id'] == 1)  {?>
                        <li><a href="<?php echo $this->basePath(); ?>/traveller">My Travel Plans</a></li>
                        <li><a href="<?php echo $this->basePath(); ?>/search">Search Seekers</a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Travel plans <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-drop" role="menu">
                                <li class="dropdown-header" style="display:none"></li>
                                <li><a href="<?php echo $this->basePath(); ?>/traveller/add-people-service">People Service</a></li>
                                <li><a href="<?php echo $this->basePath(); ?>/traveller/add-package-service">Package Service</a></li>
                                <li><a href="<?php echo $this->basePath(); ?>/traveller/add-project-service">Product Service</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $this->basePath(); ?>/traveller/seekerrequests">Seeker Requests </a></li>
                        <li><a href="<?php echo $this->basePath(); ?>/wishlist">My Seeker Wish List</a></li>
                        <li><a href="<?php echo $this->basePath(); ?>/myearnings">My Service Earnings</a></li>
                        <li><a href="<?php echo $this->basePath(); ?>/mytriphistory">Travel Plan History</a></li>
            <?php } ?>
                    </ul>
                </nav>
                <!-- /#sidebar-wrapper -->
                <?php } ?>

                 <?php
                     $url_menu = (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
                      if (strpos($url_menu, 'becometraveler') === false) { ?>

                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas"> <span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span> <span class="hamb-title">Menu</span> </button>

                      <?php } } ?>
</div>
