<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="keywords" content="Tour, Earn, Money"/>
<!--<meta name="description" content="Traveller - travel companies">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="<?php echo $this->basePath() . '/img/email-logo.jpg'; ?>"/>
<meta property="og:title" content="Travel Companion & Parcel Delivery Services Around The World |Trepr"/>
<meta property="og:description" content="Trepr is the best place to find a travel companion, parcel carrier & international shopping concierge services from origin to destination airports around the world."/>
<meta property="og:url" content="http://trepr.com/demo/public/"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">



<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/bootstrap.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/icomoon.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/carousel.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/bootstrap-select.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/bootstrap-datepicker.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/jquery-ui.min.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/animate.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/jquery.dataTables.min.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/colorpicker/css/colorpicker.css">


<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/styles.css">
<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/mystyles.css">


<!-- Loading JQuery -->
<script src="<?php echo $this->basePath(); ?>/public/js/jquery.js"></script>
<script src="<?php echo $this->basePath(); ?>/public/js/jquery-ui.min.js"></script>

<script>
    var base_url = '<?php echo $this->basePath();?>';
</script>
