<script src="<?php echo $this->basePath();?>/public/js/jquery.form.js"></script>
<script type="text/javascript">
    var addAddrGeo, editAddrGeo;
    $('.bfh-languages').selectpicker('val', ['<?php echo implode("', '", explode(', ', $language)); ?>']);

    function validateRequestForm() {
        var isError = false;
        $(".form-group").removeClass("has-success has-warning has-error");
        $(".err_msg").html("");
        if ($('#firstname').val() == '' || $('#firstname').val() == undefined) {
            setMsg('firstname', 'Please enter first name!');
            isError = true;
        }
        if ($('#lastname').val() == '' || $('#lastname').val() == undefined) {
            setMsg('lastname', 'Please enter last name!');
            isError = true;
        }
        if (!isOneChecked('gender')) {
            setMsg('gender', 'Please select gender!');
            isError = true;
        }
        if ($('#brithday').val() == '' || $('#brithday').val() == undefined) {
            setMsg('brithday', 'Please select birthday!');
            isError = true;
        }
        if ($('#phone').val() == '' || $('#phone').val() == undefined) {
            setMsg('phone', 'Please enter phone number!');
            isError = true;
        }
        if ($('#emergency_email').val() != '' && !validateEmail($('#emergency_email').val())) {
            setMsg('emergency_email', 'Please enter valid email address!');
            isError = true;
        }
        console.log('isError' + isError);
        if (isError == false) {
            return true;
        } else {
            return false;
        }
    }

    function trackFlightPosition(id) {
        $('#flight_loading').show();
        $.ajax({
            url: baseurl + '/seeker/trackflightpoistion',
            type: 'POST',
            data: 'viewid=' + id,
            cache: false,
            success: function(response) {
                $('#flight_loading').hide();
                var json = $.parseJSON(response); /* edit pop up*/
				var myLatlng = new google.maps.LatLng(json.latitude, json.longitude);
                var myOptions = {
                    zoom: 8,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("flight_map_canvas"), myOptions);
				var marker = new google.maps.Marker({
				  position: myLatlng,
				  map: map,
				  title: 'Hello World!'
				});
				google.maps.event.addListenerOnce(map, 'idle', function () {
					google.maps.event.trigger(map, 'resize');
					map.setCenter(marker.getPosition());
				});
                if (json.triggerpopup == 1) {
                    $.magnificPopup.open({
                        items: {
                            src: '#flight-position'
                        },
                        type: 'inline'
                    }, 0);
                }
            }
        });
    }
    $('#address_book').on('click', '.address_pop_up_add', function() {
        navigator.geolocation.getCurrentPosition(successAddr, errorAddr, optionsAddr);
    }); /* $("#street_address_1").bind("geocode:dragged", function(event, latLng){        $('#street_address_1,#street_address_2,#city,#state,#postal_code,#country_short').val('');        /*console.log(latLng);         $('#latitude').val(latLng.lat());        $('#longitude').val(latLng.lng());        var map = $("#street_address_1").geocomplete("map");        map.panTo(latLng);        var geocoder = new google.maps.Geocoder();        geocoder.geocode({'latLng': latLng }, function(results, status) {            if (status == google.maps.GeocoderStatus.OK) {                if (results[0]) {                    $(results[0].address_components).each(function(index){                        if($.inArray("route", this.types) !== -1){                            $('#street_address_1').val(this.long_name);                        }                        else if($.inArray("sublocality", this.types) !== -1){                            $('#street_address_2').val(this.long_name);                        }                        else if($.inArray("locality", this.types) !== -1){                            $('#city').val(this.long_name);                        }                        else if($.inArray("administrative_area_level_1", this.types) !== -1){                            $('#state').val(this.long_name);                        }                        else if($.inArray("postal_code", this.types) !== -1){                            $('#postal_code').val(this.long_name);                        }                        else if($.inArray("country", this.types) !== -1){                            $('#country_short').val(this.short_name);                        }                    });                }            }        });    });*/
    function asignurladdr(a) {
        if (a == 'add') {
            alert('123');
            $('#addurladdr').load();
        } else {
            $('#editurladdr').html();
            $('#addurladdr').html();
        }
    } /* window.setTimeout(function(){        $('.alert').fadeTo(500, 0).slideUp(500, function(){            $(this).remove();        });    }, 4000);*/
    $('#photoUploadForm').on('click', '.removePhotoBtn', function() {
        var delPhotoId = $(this).attr('data-photo_id');
        confirmDialog('Are you sure you want to delete this Photo?', 'Delete Photo', function() {
            $('#photoUploadForm').append('<input type="hidden" name="deletePhtoId" value="' + delPhotoId + '"/>');
            $('#photoUploadForm').submit();
        });
    });
    $('#videoLinksAction').on('click', '.removeVideoBtn', function() {
        var delVideoId = $(this).attr('data-video_id');
        confirmDialog('Are you sure you want to delete this video?', 'Delete Video', function() {
            $('#videoLinksAction').append('<input type="hidden" name="deleteVideoId" value="' + delVideoId + '"/>');
            $('#videoLinksAction').submit();
        });
    });
    $('.markAsDP').click(function() {
        $('#photoUploadForm').append('<input type="hidden" name="markAsDP" value="' + $(this).attr('data-photo_id') + '"/>');
        $('#photoUploadForm').append('<input type="hidden" name="photoName" value="' + $(this).attr('data-photo_name') + '"/>');
        $('#photoUploadForm').submit();
    });
    $(function() {
        $('#videoAjax').html('<img src="<?php echo $this->basePath() ?>/images/loading.gif" />       Please wait...');
        var videoGet = baseurl + '/myprofile/getUserVideos?userid=<?php echo $comSessObj->userid; ?>';
        $("#videoAjax").load(videoGet + "#videoAjax", function() {});
    });

    function capture(canvasEl, videoUrl) {
        var canvas = document.getElementById(canvasEl);
        var video = document.getElementById(videoEl);
        canvas.getContext('2d').drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
    }

    function loadcm() {
        document.getElementById('camshw').style.display = "block";
        var streaming = false,
            video = document.querySelector('#video'),
            canvas = document.querySelector('#canvas'),
            photo = document.querySelector('#photo'),
            startbutton = document.querySelector('#startbutton'),
            width = 640,
            height = 0;
        navigator.getMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        navigator.getMedia({
            video: true,
            audio: false
        }, function(stream) {
            if (navigator.mozGetUserMedia) {
                video.mozSrcObject = stream;
            } else {
                var vendorURL = window.URL || window.webkitURL;
                video.src = vendorURL.createObjectURL(stream);
            }
            video.play();
        }, function(err) {
            console.log("An error occured! " + err);
        });
        video.addEventListener('canplay', function(ev) {
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth / width);
                video.setAttribute('width', width);
                video.setAttribute('height', height);
                canvas.setAttribute('width', width);
                canvas.setAttribute('height', height);
                streaming = true;
            }
        }, false);

        function takepicture() {
            canvas.width = width;
            canvas.height = height;
            canvas.getContext('2d').drawImage(video, 0, 0, width, height);
            var data = canvas.toDataURL('image/png');
            photo.setAttribute('src', data);
        }
        startbutton.addEventListener('click', function(ev) {
            document.getElementById('savecnt').style.display = "inline-block";
			// $('#savecnt').click();
            takepicture();
            ev.preventDefault();
        }, false);
    }

    function loadWebCam() { /*document.getElementById('camshw').style.display = "block";*/
        var streaming = false,
            video = document.querySelector('#video'),
            canvas = document.querySelector('#canvas'),
            startbutton = document.querySelector('#startbutton'),
            previewPhoto = document.querySelector('#previewPhoto'),
            width = 640,
            height = 0; /*video.style.display = 'block';*/ /*previewPhoto.style.display = 'none';        canvas.style.display = 'none';*/
        navigator.getMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        navigator.getMedia({
            video: true,
            audio: false
        }, function(stream) {
            if (navigator.mozGetUserMedia) {
                video.mozSrcObject = stream;
            } else {
                var vendorURL = window.URL || window.webkitURL;
                video.src = vendorURL.createObjectURL(stream);
            }
            video.play();
        }, function(err) {
            console.log("An error occured! " + err);
        });
        video.addEventListener('canplay', function(ev) {
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth / width);
                video.setAttribute('width', width);
                video.setAttribute('height', height);
                canvas.setAttribute('width', width);
                canvas.setAttribute('height', height);
                streaming = true;
            }
        }, false);

        function takepicture() {
            video.style.display = 'none';
            canvas.style.display = 'block';
            canvas.width = width;
            canvas.height = height;
            canvas.getContext('2d').drawImage(video, 0, 0, width, height);
            var data = canvas.toDataURL('image/png');
            previewPhoto.setAttribute('src', data);
            previewPhoto.style.display = 'block';
            canvas.style.display = 'none';
        }
        startbutton.addEventListener('click', function(ev) {
            document.getElementById('savecnt').style.display = "inline-block";
			// $('#savecnt').click();
            takepicture();
            ev.preventDefault();
        }, false);
    }

    function loadVerifyWebCam() { /*document.getElementById('camshw').style.display = "block";*/
        var streaming = false,
            video = document.querySelector('#video'),
            canvas = document.querySelector('#canvas'),
            startbutton = document.querySelector('#startbutton'),
            previewPhoto = document.querySelector('#previewPhoto'),
            width = 640,
            height = 0; /*video.style.display = 'block';*/ /*previewPhoto.style.display = 'none';        canvas.style.display = 'none';*/
        navigator.getMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        navigator.getMedia({
            video: true,
            audio: false
        }, function(stream) {
            if (navigator.mozGetUserMedia) {
                video.mozSrcObject = stream;
            } else {
                var vendorURL = window.URL || window.webkitURL;
                video.src = vendorURL.createObjectURL(stream);
            }
            video.play();
        }, function(err) {
            console.log("An error occured! " + err);
        });
        video.addEventListener('canplay', function(ev) {
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth / width);
                video.setAttribute('width', width);
                video.setAttribute('height', height);
                canvas.setAttribute('width', width);
                canvas.setAttribute('height', height);
                streaming = true;
            }
        }, false);

        function takepicture() {
            video.style.display = 'none';
            canvas.style.display = 'block';
            canvas.width = width;
            canvas.height = height;
            canvas.getContext('2d').drawImage(video, 0, 0, width, height);
            var data = canvas.toDataURL('image/png');
            previewPhoto.setAttribute('src', data);
            previewPhoto.style.display = 'block';
            canvas.style.display = 'none';
        }
        startbutton.addEventListener('click', function(ev) {
            document.getElementById('saveverifyid').style.display = "inline-block";
            takepicture();
            ev.preventDefault();
        }, false);
    }

    function handleFileSelect(evt) {
        var files = evt.target.files; /* Loop through the FileList and render image files as thumbnails. */
        for (var i = 0, f; f = files[i]; i++) { /* Only process image files. */
            if (!f.type.match('image.*')) {
                continue;
            }
            var reader = new FileReader(); /* Closure to capture the file information. */
            reader.onload = (function(theFile) {
                return function(e) { /* Render thumbnail. */
                    var newNode = document.createElement('div');
                    newNode.className = 'proimg';
                    newNode.innerHTML = ['<img class="img-thumbnail mr10 mb10" style="height: 77px; width: 77px;" src="', e.target.result, '" title="', escape(theFile.name), '"/><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'].join('');
                    document.getElementById('list').insertBefore(newNode, null);
                };
            })(f); /* Read in the image file as a data URL. */
            reader.readAsDataURL(f);
        }
    }
    var upFileEl = document.getElementById('upfile');
    if (upFileEl) {
        upFileEl.addEventListener('change', handleFileSelect, false);
    }
    $('#savecnt').on('click', function() {
        var canvas = document.getElementById("canvas");
        var dataURL = canvas.toDataURL("image/png");
        $.post(baseurl + "/myprofile/caming", {
            type: "post",
            camimage: dataURL
        }, function(data, status) {
            window.location.href = baseurl + "/myprofile";
        });
    });
    $('#saveverifyid').on('click', function()
    {
        var $errStaus = true;
        //if (validateFormFields('verifyid1', 'Please enter your verify id.', '')) $errStaus = false;
        if ($errStaus)
        {
            $('#uploading_status').show();
            var identity_type = [];
            $(".identity_type").each(function() {
                identity_type.push($(this).val());
            });
            var identity_type_id = [];
            $(".identity_type_id1").each(function() {
                identity_type_id.push($(this).val());
            });
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL("image/png");
            $('#uploading_status_text').show().html('<p>Uploading please wait...</p>');
            $.post(baseurl + "/myprofile/uploadverfication", {
                type: "post",
                uploadFile: dataURL,
                verifyid: $('#verifyid1').val(),
                ID: identity_type_id,
                identity_type: identity_type,
                action: 'cam'
            }, function(data, status) {
                var resObj = $.parseJSON(data);
                if (resObj.results == 'sucess') {
                    $('#div_verify_ids').html(resObj.html);
                    var verfyStatus = 1;
                    $('#uploading_status_text').show().html('<p>Verifing please wait...</p>');
                    if (resObj.verifyDocument == 1) {
                        verfyStatus = ajaxverifyDetails(resObj.imageVerify);
                    }
                    if (verfyStatus) {
                        $('#uploading_status_text').show().html('<p>Your verification details updated successfully!</p>');
                        $('#uploading_status').hide();
                        location.reload();
                    }
                }
            });
        }
    });

    function validateVideoForm() { /*/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;*/
        var re = /^(http[s]?:\/\/)(?:www\.)?(vimeo|youtube)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/;
        var isError = false;
        $(".form-group").removeClass("has-success has-warning has-error");
        $(".err_msg").html("");
        if ($('#videoUrl').val() == '' || $('#videoUrl').val() == undefined) {
            setMsg('videoUrl', 'Please enter video url!');
            isError = true;
        } else if (!re.test($('#videoUrl').val())) {
            setMsg('videoUrl', 'Please enter valid Youtube or Vimeo video url!');
            isError = true;
        } else {
            var vUrl = $('#videoUrl').val(),
                youtube_regex = /^(http[s]?:\/\/)(?:www\.)?(youtube)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/,
                vimeo_regex = /^(http[s]?:\/\/)(?:www\.)?(vimeo)\.com\/(?:watch\?v=)?(.*?)(?:\z|$|&)/;
            if (youtube_regex.test($('#videoUrl').val())) {
                $('#parserType').val('youtube');
                var uTubeRegex = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/,
                    res = vUrl.match(uTubeRegex);
                $('#videoUrlId').val(res[1]);
            } else if (vimeo_regex.test($('#videoUrl').val())) {
                $('#parserType').val('vimeo');
                var vimeoRegex = /https?:\/\/(?:www\.|player\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|video\/|)(\d+)(?:$|\/|\?)/,
                    res = vUrl.match(vimeoRegex);
                $('#videoUrlId').val(res[3]);
            }
        }
        if (isError == false) {
            return true;
        } else {
            return false;
        }
    }

    function validateReferralForm() {
        var isError = false;
        $(".form-group").removeClass("has-success has-warning has-error");
        $(".err_msg").html("");
        if (!validateMultipleEmails($('#referralEmails').val())) {
            setMsg('referralEmails', 'Please enter valid email address(es)!');
            isError = true;
        }
        if (isError == false) {
            return true;
        } else {
            return false;
        }
    }

    function validateReferanceEmailForm() {
        var isError = false;
        $(".form-group").removeClass("has-success has-warning has-error");
        $(".err_msg").html("");
        if (!validateMultipleEmails($('#refReqEmails').val())) {
            //setMsg('refReqEmails', 'Please enter valid email address(es)!');
			$('#err_refReqEmails').show();
			$('#err_refReqEmails').html('Please enter valid email address(es)!');
            isError = true;
        }
        if (isError == false) {
            return true;
        } else {
            return false;
        }
    }

    function validateVerifyForm_bk(value) {
        clrErr();
        $errStaus = false;
        $('.required-input').each(function() {
            var attId = $(this).attr('id');
            if (validateFormFields(attId, 'Please enter the verify id.', '')) $errStaus = true;
        });
        $('.required-file').each(function() {
            var attId = $(this).attr('id');
            if (value == 0)
                if (validateFormFields(attId, 'Please select upload your verification file.', '')) $errStaus = true;
            if ($('#' + attId).val() != '') {
                console.log('attId' + attId);
                var ext = $('#' + attId).val().split('.').pop().toLowerCase();
                console.log('ext' + ext);
                var allow = new Array('gif', 'png', 'jpg', 'jpeg');
                if ($.inArray(ext, allow) == -1) {
                    console.log('attId' + attId);
                    setErr(attId, 'Please select valid image!');
                    $errStaus = true;
                }
            }
        });
        if ($errStaus) {
            return false;
        } else {
            submitVerificationForm();
            return false;
        }
    }

    function validateVerifyForm(value) {
        clrErr();
        $errStaus = false;
        var attId = 'uploadFile';
        // if (value == 0) {
            // if (validateFormFields('verifyid', 'Please enter your verify id.', '')) $errStaus = true;
            // if (validateFormFields(attId, 'Please select upload your verification file.', '')) $errStaus = true;
        // }
        if ($('#' + attId).val() != '') {
            var ext = $('#' + attId).val().split('.').pop().toLowerCase();
            var allow = new Array('gif', 'png', 'jpg', 'jpeg');
            if ($.inArray(ext, allow) == -1) {
                setErr(attId, 'Please select valid image!');
                $errStaus = true;
            }
        }
        if ($errStaus) {
            return false;
        } else {
            submitVerificationForm();
            return false;
        }
    }

    function submitVerificationForm() {
        $('#verificationForm').ajaxForm({
            beforeSubmit: function(e) {
                $('#uploading_status').show();
                $('#uploading_status_text').show().html('<p>Uploading please wait...</p>');
            },
            success: function(e) {
                var resObj = $.parseJSON(e);
                if (resObj.results == 'sucess') {
                    $('#div_verify_ids').html(resObj.html);
                    $('#uploading_status_text').show().html('<p>Verifing please wait...</p>');
                    var verfyStatus = 1;
                    if (resObj.verifyDocument == 1) {
                        verfyStatus = ajaxverifyDetails(resObj.imageVerify);
                    }
                    if (verfyStatus) {
                        $('#uploading_status_text').show().html('<p>Your verification details updated successfully!</p>');
                        $('#uploading_status').hide();
                        location.reload();
                    }
                }
            }
        }).submit();
    }

    function ajaxverifyDetails(imageVerify) {
        var identity_type_id = [];
        $(".identity_type_id").each(function() {
            identity_type_id.push($(this).val());
        });
        var verifyid = $('#verifyid').val();
        var insDetails = $.ajax({
            url: baseurl + "/myprofile/uploadverfication",
            async: false,
            type: 'POST',
            data: {
                action: 'verify',
                identity_type_id: identity_type_id,
                imageVerify: imageVerify,
                verifyid: verifyid
            }
        }).responseText;
        return insDetails;
    }
    $('#editAboutBtn').click(function() {
        $('#aboutUpdateForm').slideToggle();
    });
    $('.responseAcceptBtn').click(function() {
        var referenceId = $(this).attr('data-responseId');
        $('#approve_reference_id').val(referenceId);
        $('#referencePendingSubmitForm').submit();
    });
	$('.responseIgnoreBtn').click(function() {
        var referenceId = $(this).attr('data-responseId');
        $('#approve_reference_id').val(referenceId);
        $('#referencePendingSubmitForm').submit();
    });
    $('#editToggle').click(function() {
        $('.referenceWriteSection').slideToggle();
    });
    $('#photoFormSubmit').click(function() {
        $('#photoUploadForm').submit();
    }); /* Get current Geo Location Open */
    var optionsAddr = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function successAddr(pos) {
        var crd = pos.coords;
        getCurrentAddressLoc(crd.latitude, crd.longitude);
    };

    function errorAddr(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }; /* Get current Geo Location Close */ /* apply current country in footer select box open */
    function getCurrentAddressLoc(lat, lng) {
        var geocoder = new google.maps.Geocoder();
        var latLng = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
        geocoder.geocode({
            'latLng': latLng
        }, function(results, status) {
            if ($('#editid').val() == '') {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $(results[0].address_components).each(function(index) {
                            if ($.inArray("country", this.types) !== -1) {
                                $('#country_short').val(this.short_name);
                            }
                            if ($.inArray("country", this.types) !== -1) {
                                $('#country_short').val(this.short_name);
                            }
                            $('#latitude').val(results[0].geometry.location.lat());
                            $('#longitude').val(results[0].geometry.location.lng());
                            var mylatLngLocation = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                            $('#street_address_1').geocomplete('options').location = mylatLngLocation;
                        });
                    }
                }
            }
        });
        if (typeof latLng != 'object') {
            var latVal = '54.59728500000001';
            lngVal = '-5.930119999999988';
            latLng = new google.maps.LatLng(latVal, lngVal);
        }
        console.log(latLng);
        $("#street_address_1").geocomplete({
            map: ".map_canvas",
            details: "form",
            location: latLng,
            /*  componentRestrictions: {country: "uk"},*/ types: ["geocode", "establishment"],
            markerOptions: {
                draggable: true
            }
        });
        var countrySelected = '<?php echo $comSessObj->countrycode; ?>';
        $('#country_short').val(countrySelected).trigger('change');
    }
	function sendReferencesMails(){
		if(validateReferanceEmailForm()){
			$('#refReqByMail').submit();
		}
	}
</script>