<video width="100%" controls id="videoPlayer" class="bg-video" poster="../../../../public/img/trepr-ltd.jpg">
    <source type="video/mp4" src="../../../../public/media/treprpromo.mp4" />
    <source type="video/webm" src="../../../../public/media/treprpromo.webm" />
</video>
<button title="Close (Esc)" type="button" class="promo-close" aria-hidden="true">&times;
</button>