<?php if (isset($this->trip['trip_package']) && $this->trip['trip_package'] != '') { ?>
<!-- package-info -->
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info">Package Info</a></h4>
        </div>
        <div class="panel-collapse collapse" id="package-info">
                <div class="panel-body">
                    
                     <div class="form-group">
            <label class="control-label">No of individual items need to be carried</label>
            <p><?php echo $this->trip['trip_package']['packages_count']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Weight allowed in airline per baggage</label>
            <p><?php echo $this->trip['trip_package']['airline_allowed_weight']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Approx.weight carried by you over all</label>
            <p><?php echo $this->trip['trip_package']['weight_carried']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Approx.weight of baggage you can accommodate</label>
            <p><?php echo $this->trip['trip_package']['weight_accommodate']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Items that you don't wish to carry</label>
            <p><?php echo $this->trip['trip_package']['not_wish_to_carry']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Comment's to this Seeker</label>
            <p><?php echo $this->trip['trip_package']['comment']; ?></p>
            </div>
                   <?php 
                           
                           if($this->user['ID']!=$this->trip['user']){ ?>  
                    <div class="form-group"><button class="btn btn-primary" type="button" onclick="$('#package-info-request').slideToggle();">Select this Service</button> </div>
                           <?php } ?>    
                                    
                                    <div class="gap gap-mini"></div>
                                
            <?php if($this->user['ID']!=$this->trip['user']){ ?>
                <div  id="package-info-request" style="display: none;">
                    <form id="fromSeekerPackageRequest" name="fromSeekerPackageRequest">
                    <?php if($this->seeker_exiting_package_trip=='yes'){ ?>
                    <div class="form-group form-group-select-plus">
                        <div class="col-sm-9">
                            <input type="radio" name="seekerPackageRequest" id="seekerPackageRequest" class="seekerPackageRequest" value="existing_trip" checked="checked"> Select Trip Need
                            <select class="form-control" name="existing_package_trip" id="existing_package_trip" onchange="getSeekerPackageServiceNeed(this.value)">
                                <option value="" selected="selected"> - select trip request - </option>
                                <?php    if (count($this->seeker_upcoming_trips) > 0) {
                foreach ($this->seeker_upcoming_trips as $seeker_trip) {
                    if ($seeker_trip['trip_package']['ID']) {
                        if (($seeker_trip['origin_location_country'] == $this->trip['origin_location_country']) && ($seeker_trip['destination_location_country'] == $this->trip['destination_location_country'])) {
                        $selected = (isset($this->seeker_package_request_id) && ($this->seeker_package_request_id) == $seeker_trip['ID'])?'selected="selected"':'';

                            ?>
                                                            <option <?php echo $selected?> value="<?= $seeker_trip['ID']; ?>"><?= $seeker_trip['origin_location_code']; ?> - <?= $seeker_trip['destination_location_code']; ?> ( <?= date('m/d/Y', strtotime($seeker_trip['departure_date'])); ?> )</option>
                                                        <?php
                                                        }
                                                    }
                                                }
                                            }
                                            ?>
                            </select>
                        </div>
                        <div class="gap gap-mini"></div>
                        <div id="divPackagesDetail"></div>
                        <div class="gap gap-mini"></div>
                    </div>

                    <div class="form-group form-group-select-plus">
                        <div class="col-sm-9">
                            <input type="radio" name="seekerPackageRequest" id="seekerPackageRequest" class="seekerPackageRequest" value="new_trip"> Add New Trip Request
                        </div>
                        <div class="gap gap-mini"></div>
                    </div>
                    <?php } ?>    
                     
                      <div id="divSeekerPackageRequestNew"  <?php if($this->seeker_exiting_package_trip=='yes'){ ?> style="display: none;" <?php } ?>>
                  <div class="form-group text-left"><a href="<?php echo $this->basePath(); ?>/seeker/add-package-service?g=<?php echo urlencode($trip_id)?>" class="btn btn-primary" >Add Package Service</a> </div>
                       </div> 
                    </form>
                </div>
            <?php } ?></div>
        </div>
</div>
<!-- package-info -->
<?php } ?>