
<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<script src="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.js"></script>
    <!-- people-info -->
    <?php if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') { ?>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info">People Info</a></h4>
        </div>
        <div class="panel-collapse collapse" id="people-info">
            <div class="panel-body">
                <div class="row">
                 <div class="col-md-12">
                    <label class="control-label">Number of person travelling with the member in this travel</label>
                    <p><?php echo $this->trip['trip_people']['persons_travelling']; ?></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Number of Male</label>
                        <p><?php echo $this->trip['trip_people']['male_count']; ?></p>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Number of Female</label>
                        <p><?php echo $this->trip['trip_people']['female_count']; ?></p>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Any Person of age above 60</label>
                        <p><?php echo empty($this->trip['trip_people']['age_above_60_years'])?'No':'Yes'; ?></p>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Any Child below 5 Years Old</label>
                        <p><?php echo empty($this->trip['trip_people']['age_below_3_years'])?'No':'Yes'; ?></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Comments to this Seeker</label>
                        <p><?php echo $this->trip['trip_people']['comment']; ?></p>
                    </div>
                </div>
                <?php if($this->user['ID']!=$this->trip['user']){ ?>
                <div class="form-group"> <button class="btn btn-primary" type="button" onclick="$('#people-info-request').slideToggle();">Select this Service</button></div>
                
                
                <?php } ?><div class="gap gap-mini"></div>
            <?php if ($this->user['ID'] != $this->trip['user']){ ?>
            <div  id="people-info-request"  style="display: none;">
                    <form name="fromSeekerPeopleRequest" id="fromSeekerPeopleRequest">
                       <div class="form-group"> 
                <?php if ($this->seeker_exiting_people_trip == 'yes') { ?>
                        <div class="form-group form-group-select-plus">
                            <div class="col-sm-9">
                                <input type="radio" name="seekerPeopleRequest" id="seekerPeopleRequest" class="seekerPeopleRequest" value="existing_trip" checked="checked"> Select Trip Request
                                <div id="existing_trip"> 
                                
                                <select class="form-control" name="existing_trip" id="existing_trip1" onchange="getSeekerPeopleServiceNeed(this.value)">
                                    <option value="" selected="selected"> - select trip request - </option>
                <?php
            if (count($this->seeker_upcoming_trips) > 0) {
                foreach ($this->seeker_upcoming_trips as $seeker_trip) {
                    if ($seeker_trip['trip_people']['ID']) {
                        if (($seeker_trip['origin_location_country'] == $this->trip['origin_location_country']) && ($seeker_trip['destination_location_country'] == $this->trip['destination_location_country'])) {
                        $selected = (isset($this->seeker_people_request_id) && ($this->seeker_people_request_id) == $seeker_trip['ID'])?'selected="selected"':'';

                            ?>
                                                            <option <?php echo $selected?> value="<?= $seeker_trip['ID']; ?>"><?= $seeker_trip['origin_location_code']; ?> - <?= $seeker_trip['destination_location_code']; ?> ( <?= date('m/d/Y', strtotime($seeker_trip['departure_date'])); ?> )</option>
                                                        <?php
                                                        }
                                                    }
                                                }
                                            }
                                            ?>
                                        </select>
                                
                                 
                                    <div id="divPassengersDetail"></div>
                                   </div>
                                    </div>
                                   
                         
                         
                                </div>
 <div class="gap gap-mini"></div>
                                <div class="form-group form-group-select-plus">
                                    <div class="col-sm-9">
                                        <input type="radio" name="seekerPeopleRequest" id="seekerPeopleRequest" class="seekerPeopleRequest" value="new_trip"> Add New Trip Request
                                    </div>
                                    <div class="gap gap-mini"></div>
                                </div>
                            <?php } ?>
                         <div id="divSeekerPeopleRequestNew"  <?php if ($this->seeker_exiting_people_trip == 'yes') { ?> style="display: none;" <?php } ?>>
                   
                       <div class="form-group text-left"><a href="<?php echo $this->basePath(); ?>/seeker/add-people-service?g=<?php echo urlencode('traveller/detail/'.$trip_id.'?service=People')?>" class="btn btn-primary" >Add People Service</a> </div>

                         
                            
                    
                       
                         
                  
                </div>
                             
</div>
                       
                    </form>
                </div>	
         
          
            <?php } ?>
                </div>
        </div>
    </div>
    <!-- people-info -->
<?php } ?>

    