<!-- personal-info -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#personal-info">Personal Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="personal-info">
        <div class="panel-body">
            <div class="row">
			<?php if(!empty($this->trip_user['aboutus'])){ ?>
            <div class="col-md-6">
            <label class="control-label">About</label>
            <p><?= $this->trip_user['aboutus']; ?></p>
            </div> 
			<?php } ?>
            <div class="col-md-6">
            <label class="control-label">First Name</label>
            <p><?= $this->trip_user['first_name']; ?></p>
            </div>
           </div>
            
            <div class="row">
             <div class="col-md-6">
            <label class="control-label">Last Name</label>
            <p>xxxxxxxx</p>
            </div>
            
             <div class="col-md-6">
            <label class="control-label">Age</label>
            <p>xxx</p>
            </div>
           </div> 
            
            <div class="row">
                <?php if(!empty($this->trip_user['language'])){ ?>
             <div class="col-md-6">
            <label class="control-label">Languages Known</label>
            <p><?= $this->trip_user['language']; ?></p>
            </div>
            <?php } ?>
            </div>
            <div class="row">
             <div class="col-md-12">
            <label class="control-label">Home Address</label>
            <p><?= 
            
            $this->user_location['name']; ?><br>
                   xxxxxxx ,<br />
                   xxxxxxx 
                   xxxxxxxx  ,<br />
                   
                    <?= $this->user_location['city']; ?> - xxxxxx,<br />
                    xxxxxxx,<br />
                    <?= $this->user_location['country_name']; ?>.</p>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- personal-info -->