<?php if (isset($this->trip['trip_project']) && $this->trip['trip_project'] != '') { 

?>
<!-- project-info -->
<div class="panel panel-default">
        <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#project-info">Product Info</a></h4>
        </div>
        <div class="panel-collapse collapse" id="project-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                        	<div class="form-group col-sm-6" style="padding:0">
                                <label class="control-label">Product category</label>  
                                <p><?php echo $this->trip['trip_project']['product_catname']; ?></p>
                            </div>
                            <div class="form-group col-sm-6" style="padding:0">
                            	<label class="control-label">Product Type</label>  
                            	<p><?php echo $this->trip['trip_project']['product_subcatname']; ?></p>
                            </div>
                        </div>
                        
                        <div class="form-group col-sm-12">
                        	<div class="form-group col-sm-6" style="padding:0">
                            	<label class="control-label">Item worth</label>  
                            	<p><?php echo $this->trip['trip_project']['item_worth'].' '.$this->trip['trip_project']['item_worth_currency']; ?></p>
                            </div>
                            <div class="form-group col-sm-6" style="padding:0">
                            	<label class="control-label">Item weight</label>  
                            	<p><?php echo $this->trip['trip_project']['item_weight'].' '.$this->trip['trip_project']['item_weight_unit']; ?></p>
                            </div>
                        </div>
                              
                        <div class="form-group col-sm-12">
                            <label class="control-label">Comments to the seeker</label>  
                            <p><?php echo $this->trip['trip_project']['comment']; ?></p>
                        </div>
                    </div>     
                     <?php if($this->user['ID']!=$this->trip['user']){ ?>
                        <button class="btn btn-primary" type="button" onclick="SelectService('project-info-request');">Select this Service</button>
                        <?php } ?>
                        <div class="gap gap-mini"></div>
                        <?php if($this->user['ID']!=$this->trip['user']){
						?>
                        <div class="collapse" id="project-info-request">
                                <form  id="formSeekerProjectRequest" name="formSeekerProjectRequest" >
                                <?php if($this->seeker_exiting_project_trip=='yes')
								
								{ ?>
                                        <div class="form-group form-group-select-plus">
                                            <div class="col-sm-12" style="padding:0;">
                                                <input type="radio" name="seekerProjectRequest" id="seekerProjectRequest" class="seekerProjectRequest" value="existing_trip" checked="checked"> Select Trip Need
                                                <div id="existing_project_trip">
                                                <select class="form-control" name="existing_project_trip" id="existing_project_trip1" onchange="getSeekerProjectServiceNeed(this.value)">
                                                    <option value="" selected="selected">Select trip request</option>
                                                    <?php if(count($this->seeker_upcoming_trips)>0){
                                                        foreach($this->seeker_upcoming_trips as $seeker_trip){
                                                            if($seeker_trip['trip_project']['ID']){
                                                                  if (($seeker_trip['origin_location_country'] == $this->trip['origin_location_country']) && ($seeker_trip['destination_location_country'] == $this->trip['destination_location_country'])) {
                                                           
                                                                $selected = (isset($seeker_project_request_id) && ($seeker_project_request_id) == $seeker_trip['ID'])?'selected="selected"':'';
          
                                                                    ?>
                                                            <option <?php echo $selected;?> value="<?=$seeker_trip['ID'];?>"><?=$seeker_trip['origin_location_code'];?> - <?=$seeker_trip['destination_location_code'];?> ( <?=date('m/d/Y',  strtotime($seeker_trip['departure_date']));?> )</option>
                                                        <?php   }
                                                            }
                                                        }
                                                    } ?>
                                                </select>
                                                  <div class="gap gap-mini"></div>
                                            <div id="divProjectsDetail"></div>
                                             </div>
                                            </div>
                                           
                                            <div class="gap gap-mini"></div>
                                        </div>

                                        <div class="form-group form-group-select-plus">
                                            <div class="col-sm-12" style="padding:0;">
                                                <input type="radio" name="seekerProjectRequest" id="seekerProjectRequest" class="seekerProjectRequest" value="new_trip"> Add New Trip Request
                                            </div>
                                            <div class="gap gap-mini"></div>
                                        </div>
                                        <?php } ?>   
                                    <div id="divSeekerProjectRequestNew"  <?php if($this->seeker_exiting_project_trip=='yes'){ ?> style="display: none;" <?php } ?>>
                                       
                                        <div class="form-group text-left"><a href="<?php echo $this->basePath(); ?>/seeker/add-project-service?g=<?php echo urlencode('traveller/detail/'.$trip_id.'?service=Product')?>" class="btn btn-primary" >Add Product Service</a> </div>
                                    </div>
                                </form>
                        </div>
                        <?php } ?>
                                </div>
        </div>
    
    
    
    <script>
$(function(){
    $('#otherWorkCategory').hide();
    $('#obtainTravelDeliveryCategory').hide();
    showHideWorkCategory($('#work_category').val());
    $('#work_category').change(function(){
        showHideWorkCategory(this.value);
    });
});

function showHideWorkCategory(workCategoryValue){
    workCategoryValue = workCategoryValue || $('#work_category').val();
    if(workCategoryValue == '1'){
        $('#obtainTravelDeliveryCategory').show();
        $('#otherWorkCategory').hide();
    } else if(workCategoryValue != '1' && workCategoryValue != '') {
        $('#otherWorkCategory').show();
        $('#obtainTravelDeliveryCategory').hide();
    }
}
function createImageUploader(divid, reId, imgLimit, btnName, index) {
    imaLimit = index = index || 1;
    var uploader = new qq.FineUploader({
        element: document.getElementById(divid),
        request: {
            endpoint: '<?php echo $this->basePath() ?>/ajax/uploadPassengerAttachment',
            inputName: 'uploadfile',
            params: {
                reId: reId
            },
        },
        validation: {
            allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
            itemLimit: imgLimit,
            sizeLimit: (50 * 1048576) /* 50 mb = 50 * 1024 bytes*/
        },
        text: {
            uploadButton: '<div id="uploadImgBtn_' + index + '">' + btnName + '</div>',
            cancelButton: '&nbsp;',
            deleteButton: 'Delete',
        },
        deleteFile: {
            enabled: true,
            method: "POST",
            endpoint: "<?php echo $this->basePath() ?>/ajax/deletePassengerAttachment"
        },
        callbacks: {
            onUpload: function (id, name) {
                /* this._netUploadedOrQueued = 3;
                 // this._netUploaded = 3;
                 //alert(this._netUploadedOrQueued);*/
            },
            onProgress: function (id, name, loaded, total) {
                var item, progressBar, percent, cancelLink, filenameDisplay;
                item = this.getItemByFileId(id);
                filenameDisplay = this._find(item, 'file');
                qq(filenameDisplay).addClass('spFileName_' + index + '-' + id);
            },
            onComplete: function (id, fileName, responseJSON) {
                if (responseJSON.success) {
                    var idName = 'file-img-' + id;
                    jQuery('.spFileName_' + index + '-' + id).show();
                    jQuery('#adsImgEsists').hide();
                    jQuery('.spFileName_' + index + '-' + id).html('<img src="<?php echo $this->basePath() ?>/public/uploads/seeker_people_attachment/thumb/' + responseJSON.uploadName + '" alt="' + responseJSON.uploadName + '"><input type="hidden" name="seekerPeopleDocImages_' + index + '[]"  value="' + responseJSON.uploadName + '" />');
                    jQuery('.spFileName_' + index + '-' + id).closest("li").attr('id', idName);
                    jQuery('.qq-upload-size').hide();
                    var uploadCount = parseInt($('#uploadCount_' + index).val());
                    uploadCount++;
                    $('#uploadCount_' + index).val(uploadCount);

                }
            },
            onDeleteComplete: function (id, fileName, status) {
                jQuery('#adsImgEsists').show();
                var uploadCount = parseInt($('#uploadCount_' + index).val());
                uploadCount--;
                $('#uploadCount_' + index).val(uploadCount);
            },
        },
        uploadIndex: index,
        uploadLable: 'Add picture of item'
    });
}

createImageUploader("product_attachment_1", 0, 5, "", 1);
var htmlContent = $('#hiddenImages_1').html();
$('#dynamicImages_1').html(htmlContent);
$('#hiddenImages_1').remove();
$(document).ready(function(){
    loadPackageSlider(1,'info_');
    if($('.item_weight').length != 0){
        $('.item_weight').each(function(){
            var item_weight_id = $(this).attr('id'),
                attr = $(this).attr('data-value');
                index = item_weight_id.lastIndexOf("_"),
                pos = item_weight_id.substr(index+1);
            if (typeof attr !== typeof undefined && attr !== false){
                updatePackageSlider(pos,attr,'info_');
            }
        });
    }
    
    if($('.service_date').length != 0){
        $('.service_date').each(function(){
            var service_date_id = $(this).attr('id'),
                index = service_date_id.lastIndexOf("_"),
                pos = service_date_id.substr(index+1);
            if($(this).val() !== ''){
                updateDateRange(service_date_id,'service_start_date_'+pos,'service_end_date_'+pos, 'date_flexibility_'+pos );
            }
        });
    }
});
</script>
    
</div>
<!-- project-info -->
<?php } ?>

