<?php 
$ratingTypes = array('rating'=>'Overall Rating','behavior'=>'Behavior','promptness'=>'Promptness','communication'=>'Communication','friendliness'=>'Friendliness','flexibility'=>'Flexibility','cooperation'=>'Cooperation','support'=>'Support');
?>
<!-- Review Info --><div class="panel panel-default">        <div class="panel-heading">            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#review-info">Review</a></h4>        </div>        <div class="panel-collapse collapse" id="review-info">                <div class="panel-body">                        <div class="row row-wrap">                                <div class="col-md-12">
<?php
                                if ($this->reviews) {
                                    foreach ($this->reviews as $trip) {?>
						<ul class="booking-item-reviews list">
							<li>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="booking-item-review-person"> <a class="booking-item-review-person-avatar round" href="#"><img src="<?php echo $this->basePath(); ?>/public/uploads/profile_picture/medium/<?php echo $trip['image'];?>" alt="Image Alternative text" title="Good job" /></a>
                                            <p class="booking-item-review-person-name"><a href="#"><?= $trip['first_name'].' '.$trip['last_name']; ?></a></p>
                                            <!--<p class="booking-item-review-person-loc"><?php echo $trip['location'];?></p><small><a href="#">146 Reviews</a></small>--> </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="booking-item-review-content">
                                            <!--<h5>"Faucibus in litora"</h5>-->
                                            <ul class="icon-group booking-item-rating-stars">
												<?php for($ri=1;$ri<=$trip['rating'];$ri++){ ?>
                                                	<li><i class="fa fa-star"></i></li>
												<?php } ?>
                                            </ul>
                                            <p><?= $trip['message']; ?></p>
											<div class="booking-item-review-more-content">
														<?php foreach($ratingTypes as $ratKey=>$ratType){ 
																if($trip[$ratKey] != '' && $trip[$ratKey] > 0){
														?>  <p><?php echo $ratType;?>:
															<?php for($ri=1;$ri<=$trip[$ratKey];$ri++){ ?>
																<i class="fa fa-star"></i>
															<?php } ?>
															</p>
														<?php }
														} ?>
													</div>
													<div class="booking-item-review-expand"><span class="booking-item-review-expand-more">More <i class="fa fa-angle-down"></i></span><span class="booking-item-review-expand-less">Less <i class="fa fa-angle-up"></i></span> </div>
                                            <div class="row">
                                                <div class="col-md-6">
													<p class="text-small text-left">From <?= $trip['airport_details']['orgin_city'].' to '.$trip['airport_details']['destination_city']; ?></p>
                                                    <!--<p class="booking-item-review-rate">Was this review helpful?
                                                        <a class="fa fa-thumbs-o-up box-icon-inline round" href="#"></a><b class="text-color"> 11</b></p>-->
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="text-small text-right">Sent on <?= $this->common()->timeZoneAdjust('d M, Y (D)', $trip['create_date']); ?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
						<?php 
							}
						} else {
							echo '<p>No reviews found</p>';
						}
						?>
<ul class="booking-item-reviews list">
<?php
if(isset($this->reviewall) && !empty($this->reviewall)){
	foreach($this->reviewall as $rkey => $rval){
		if (isset($trip_people_request['image']) && !empty($trip_people_request['image'])) {
			if (strpos($trip_people_request['image'], "http") !== false) {
				$img = $trip_people_request['image'];
			} else {
				$img = $this->basePath() . '/public/uploads/profile_picture/small/' . $trip_people_request['image'];
			}
		} else {
			$img = $this->basePath() . '/public/default_user.png';
		}
?>
	<li>
		<div class="row">
			<div class="col-md-2">
				<div class="booking-item-review-person">
					<a class="booking-item-review-person-avatar round" href="#"><img src="<?=$img;?>" alt="<?=$val['first_name'].' '.$val['last_name'];?>" title="<?=$val['first_name'].' '.$val['last_name'];?>" /></a>
					<p class="booking-item-review-person-name"><a href="#"><?=$val['first_name'].' '.$val['last_name'];?></a></p>
					<p class="booking-item-review-person-loc">Palm Beach, FL</p><!--<small><a href="#">143 Reviews</a></small>-->
				</div>
		</div>
		<div class="col-md-10">
			<div class="booking-item-review-content">
			<h5><?=$val['name'];?></h5>
			<?php $ratary=array("1","2","3","4","5");?>
			<ul class="icon-group booking-item-rating-stars">                                                                                    <?php                                                                                    $hnm=$val['rating'];                                                                                   $jkl=0;                                                                                    foreach($ratary as $key => $vall)                                                                                    {                                                                                        if($key==4 && $jkl==1){break;}                                                                                        if(($vall<$hnm) && (($vall+1)>$hnm))                                                                                        {                                                                                             echo '<li><i class="fa fa-star"></i></li>';                                                                                            echo '<li><i class="fa fa-star-half-o"></i></li>';                                                                                            $jkl=1;                                                                                        }elseif($vall<=$hnm)                                                                                        {                                                                                             echo '<li><i class="fa fa-star"></i></li>';                                                                                        }else{                                                                                             echo '<li><i class="fa fa-star-o"></i></li>';                                                                                        }                                                                                    }                                                                                    ?>                                                                                        <!--<li><i class="fa fa-star"></i></li>                                                                                        <li><i class="fa fa-star"></i></li>                                                                                        <li><i class="fa fa-star-half-o"></i></li>                                                                                        <li><i class="fa fa-star-o"></i></li>                                                                                        <li><i class="fa fa-star-o"></i></li>-->                                                                                </ul>                                                                                <p>                                                                                    <?=$val['message'];?>                                                                                        <!--<span class="booking-item-review-more"> Eu nisl volutpat nam per primis dictum hendrerit gravida facilisis porta pretium erat turpis erat vivamus torquent ornare bibendum vitae dui congue torquent aptent placerat in tortor arcu eu blandit sit fusce lorem eu tortor proin egestas neque senectus netus ac augue senectus pulvinar rutrum habitasse nostra montes aenean mauris lacinia sociosqu posuere curabitur vestibulum venenatis euismod habitasse litora rhoncus purus pretium nullam nibh montes gravida pharetra eu parturient semper</span>-->                                                                                </p>                                                                                <!--<div class="booking-item-review-expand"><span class="booking-item-review-expand-more">More <i class="fa fa-angle-down"></i></span><span class="booking-item-review-expand-less">Less <i class="fa fa-angle-up"></i></span>                                                                                </div>-->                                                                                <div class="row">                                                                                        <div class="col-md-6">                                                                                                <p class="booking-item-review-rate">Start Date :<?=date("d-M-Y",strtotime($val['departure_date']));?> </p>                                                                                        </div>                                                                                        <div class="col-md-6">                                                                                                <p class="text-small text-right">End Date : <?=date("d-M-Y",strtotime($val['arrival_date']));?> </p>                                                                                        </div>                                                                                </div>                                                                        </div>                                                                </div>                                                        </div>                                                </li>                                                <?php }                                                }?>
</ul><div class="gap gap-small"></div>                                </div>                        </div>                </div>        </div></div><!-- Review Info -->