<!-- travel-info -->
<div class="panel panel-default">
    <?php //print_r($this->trip);?>
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#travel-info">Travel Info</a></h4>
    </div>
    <div class="panel-collapse collapse" id="travel-info">
        <div class="panel-body">
        <div class="form-view-section">
            <h5 class="sub-heading text-left">Travel Info</h5>
            <hr class="title-border">

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Origin Location</label>
                    <p><?php echo '('.$this->trip['origin_location_airname']['code'].') '.$this->trip['origin_location_city'] . ' - ' . $this->trip['origin_location_country'].'<br/>'.$this->trip['origin_location_airname']['name']; ?></p>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label">Destination Location</label>
                    <p><?php echo '('.$this->trip['destination_location_airname']['code'].') '.$this->trip['destination_location_city'] . ' - ' . $this->trip['destination_location_country'].'<br/>'.$this->trip['destination_location_airname']['name']; ?></p>
                </div>

            </div>


            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Departure Date</label>
                    <p><?php echo date('m/d/Y', strtotime($this->trip['departure_date'])); ?></p>
                </div>

                
                <div class="form-group col-sm-6">
                    <label class="control-label">Booking Status</label>
                    <p><?php echo ($this->trip['booking_status'] != '') ? $this->trip['booking_status'] : '--'; ?></p>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Cabin</label>
                    <p><?php echo ($this->trip['cabin'] != '') ? $this->trip['cabin'] : '--'; ?></p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label">Ticket</label>
                    <p><div class="ticket-img"> <?php if ((isset($this->trip['ticket_image']) && $this->trip['ticket_image'] != '')) { ?>
                        <img width="100"  class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/tickets/<?php echo $this->trip['ticket_image'] ?>" />
                        <?php } else {
                            ?>
                            <!--img class="img-responsive" src="<?php echo $this->basePath(); ?>/public/img/1024x487.png" /--> Email  
                            <?php
                        }
                        ?></div></p>
                </div>



            </div>

        </div>
        <div class="form-view-section">
            <div class="row">

                <?php
                if (isset($this->trip['airport_details']) && !empty($this->trip['airport_details'])) {
                    ?>

                    <div class="col-xs-12">

                        <h5 class="sub-heading text-left">Airline Details</h5>
                        <hr class="title-border">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">

                                <thead>
                                    <tr>
                                        <th>Flight</th>
                                        <th>Airline</th>
                                        <th>Dept</th>
                                        <th>Arr</th>
                                        <th>Dept Dt</th>
                                        <th>Arr Dt</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    if (isset($this->trip['airport_details']) && !empty($this->trip['airport_details'])) {
                                        $fNo = 1;
                                        foreach ($this->trip['airport_details'] as $flightRow) {
                                                        $fligtData = $flightRow['carrier'] . '@@' . $flightRow['number'] . '@@' . $flightRow['departure'] . '@@' . $flightRow['arrival'] . '@@' . $flightRow['departure_date'] . '@@' . $flightRow['arrival_date'] . '@@' . $flightRow['airline_name'] . '@@' . $flightRow['airline_number'];

                                            ?>
                                            <tr>
                                                <td><?php echo $fNo; ?></td>
                                                <td><?php echo isset($flightRow['airline_name']) ? $flightRow['airline_name'] : '' ?> - <?php echo isset($flightRow['airline_number']) ? $flightRow['airline_number'] : '' ?></td>
                                                <td><?php echo isset($flightRow['departure']) ? $flightRow['departure'] : '' ?></td>
                                                <td><?php echo isset($flightRow['arrival']) ? $flightRow['arrival'] : '' ?></td>
                                                <td><?php echo isset($flightRow['departure_date']) ? $flightRow['departure_date'] : '' ?></td>
                                                <td><?php echo isset($flightRow['arrival_date']) ? $flightRow['arrival_date'] : '' ?></td>
                                                <td><a href="javascript:void(0);" class="popup-map btn-sm btn-primary" onclick="checkFightStatus('<?php echo $fligtData ?>');">Check Status</a></td>
                                            </tr>
                                            <?php
                                            $fNo++;
                                        }
                                    }
                                    ?>


                                </tbody>


                            </table>
                        </div>
                    </div>

                    <?php
                }
                ?>
            </div>
        </div>
         
          
            </div>
    </div>
</div>
<!-- travel-info -->