<?php

$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.bootstrap.wizard.js','text/javascript');

$this->headScript()->appendScript("initAddTripProject();");

?>

<div class='container-fuild'>

	<div class="well well-sm">

		<div class='container'>

			<div class="row">

				<div class='col-md-4 col-xs-4'>				

					<i class="fa fa-plus box-icon-border box-icon-gray round pull-left mr10"></i><h4>Add Trip <span class="hidden-xs">/ <small>For Seeker</small></span></h4>

				</div>

				<div class="col-md-4 col-xs-8">

					<?=$this->render('helpers/switch-user.phtml')?>

				</div>

				<div class="col-md-4 hidden-xs hidden-sm">

				</div>

			</div>

		</div>

	</div>

</div>

<div class="gap gap-small"></div>

<div class='container'>

	<div class="row">

		<section id="wizard">

			<div id="rootwizard" class="tabbable tabs-left">

				<ul>

					<li><a href="#tab1" data-toggle="tab">Product</a></li>

					<li><a href="#tab2" data-toggle="tab">Travel Details</a></li>

					<li><a href="#tab3" data-toggle="tab">Origin Location Address</a></li>

				</ul>

				<div class="tab-content">

					<div class="tab-pane" id="tab1">

						<div class="col-md-8">

						 <form class="form-horizontal" id="formSeekerProjectRequest" name="formSeekerProjectRequest" >

                                                                    <div class="headline"><p><strong>Provide details about projects</strong></p></div>

                                                                    <div class="form-group form-group-select-plus">

                                                                        <label class="col-sm-4 control-label">Number of individual tasks need to be performed</label>

                                                                         <div class="col-sm-8">

                                                                        <input type="hidden" name="selected_projects" id="selected_projects" value="1">

                                                                        <select class="form-control"  id="projects_count" name="projects_count"     onchange="addRemoveProjects(this.value);">s

                                                                            <option selected="selected" value="1">1</option>

                                                                            <option value="2">2</option>

                                                                            <option value="3">3</option>

                                                                            <option value="4">4</option>

                                                                            <option value="5">5</option>

                                                                            <option value="6">6</option>

                                                                            <option value="7">7</option>

                                                                            <option value="8">8</option>

                                                                            <option value="9">9</option>

                                                                            <option value="10">10</option>                                                                                    

                                                                        </select>

                                                                        </div>

                                                                    </div>

                                                                    <div class="form-group row" id="projects_box">

                                                                                    <div class="col-md-12">

                                                                                            <div class="headline"><p><strong>details of Task 1</strong></p></div>

                                                                                            <div class="panel panel-default">

                                                                                                    <div class="panel-body">

                                                                                                            <div class="form-group">

                                                                                                                    <label class="col-sm-4 control-label">Task Category</label>

                                                                                                                    <div class="col-sm-8">

                                                                                                                        <select class="form-control"  id="task_category_1" name="task_category_1">

                                                                                                                            <option value=""> - select - </option>

                                                                                                                                <?php 

                                                                                                                                if(count($this->project_tasks_categories)>0){

                                                                                                                                    foreach($this->project_tasks_categories as $tasks_category){ ?>

                                                                                                                                        <option value="<?=$tasks_category['ID'];?>"><?=$tasks_category['name'];?></option>      

                                                                                                                                <?    }

                                                                                                                                }

                                                                                                                                ?>

                                                                                                                            </select>                                         

                                                                                                                    </div>

                                                                                                            </div>

                                                                                                            <div class="form-group">

                                                                                                                    <label class="col-sm-4 control-label">Task Description</label>

                                                                                                                    <div class="col-sm-8">

                                                                                                                        <textarea class="form-control" id="task_description_1" name="task_description_1" placeholder="Ex. I need train tickets booked from Mumbai to Chennai on 5th January 2016 in 2nd AC class." rows="3"></textarea>

                                                                                                                    </div>

                                                                                                            </div>

                                                                                                            <div class="form-group">

                                                                                                                    <label class="col-sm-4 control-label">Type of Additional Task Requirements</label>

                                                                                                                    <div class="col-sm-8">

                                                                                                                        <select class="form-control" id="additional_requirements_category_1" name="additional_requirements_category_1">

                                                                                                                                <option value=""> - select - </option>

                                                                                                                                <?php 

                                                                                                                                if(count($this->project_tasks_categories)>0){

                                                                                                                                    foreach($this->project_tasks_categories as $tasks_category){ ?>

                                                                                                                                        <option value="<?=$tasks_category['ID'];?>"><?=$tasks_category['name'];?></option>      

                                                                                                                                <?    }

                                                                                                                                }

                                                                                                                                ?>

                                                                                                                            </select>                                         

                                                                                                                    </div>

                                                                                                            </div>

                                                                                                            <div class="form-group">

                                                                                                                <label class="col-sm-4 control-label">Additional cost Involved</label>

                                                                                                                <div class="col-sm-5">

                                                                                                                    <input type="number" class="form-control" aria-label="Cost (in dollar)" id="additional_fee_1" name="additional_fee_1" >

                                                                                                                </div>

                                                                                                                <div class="col-sm-3">

                                                                                                                    <select class="form-control"  id="additional_fee_currency_1" name="additional_fee_currency_1">

                                                                                                                        <option value="USD $">USD $</option>

                                                                                                                        <option value="EUR &euro;">EUR &euro;</option>

                                                                                                                        <option value="GBP &pound;">GBP &pound;</option>

                                                                                                                    </select>

                                                                                                                </div>

                                                                                                            </div>

                                                                                                    </div>

                                                                                            </div>

                                                                                    </div>

                                                                            </div>

                                                                    <div class="headline"><p><strong>Contact details of peson at task location</strong></p></div>

                                                                    <div class="form-group row">

                                                                            <label class="col-sm-4 control-label">Contact Name</label>

                                                                            <div class="col-sm-8">

                                                                                <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Enter your Full Name">

                                                                            </div>

                                                                    </div>

                                                                    <div class="form-group row">

                                                                            <label class="col-sm-4 control-label">Contact Number</label>

                                                                            <div class="col-sm-8">

                                                                              <input type="text" class="form-control" id="contact_number" name="contact_number"  placeholder="Country code + Number">

                                                                            </div>

                                                                    </div>

                                                                    <div class="form-group row">

                                                                            <label class="col-sm-4 control-label">Email Address</label>

                                                                            <div class="col-sm-8">

                                                                              <input type="text" class="form-control" id="email_address" name="email_address"  placeholder="Enter your Email">

                                                                            </div>

                                                                    </div>

                                                                    <div class="form-group">

                                                                        <label class="col-sm-4 control-label">Comment's to this Travelers</label>

                                                                        <div class="col-sm-8">

                                                                            <textarea class="form-control" id="comments" name="comments"  placeholder="Provide your commnts to Travelers regarding your project requirments." rows="3"></textarea>

                                                                        </div>

                                                                    </div>

                                                                    <!--

                                                                    <div class="form-group">

                                                                        <div class="col-sm-8 col-sm-offset-4 text-right">

                                                                            <input type="button" class="btn btn-primary" value="Save" onclick="addSeekerProjectRequest();getProjectsFee();" >

                                                                            <input type="button" class="btn" value="Cancel">

                                                                        </div>

                                                                    </div>

                                                                    -->

                                                            </form>

						</div>

						<div class="col-md-4">

							<aside class="sidebar-right">

								<h4 class=" text-center mb15">Estimated Fee</h4>

								<div class="row center-block">

									<div class="panel panel-default">

									  <div class="panel-heading">

										<h3 class="panel-title text-center mb15 mt15">Product Service</h3>

									  </div>

									  <div class="panel-body">

										<h2 class="text-center">$50</h2>

									  </div>

									</div>

								</div>

							</aside>

						</div>

					</div>

					<!-- End #tab1 -->

					<div class="tab-pane" id="tab2">

						<div class="col-md-8">

						    <form name="form_addtrip_tripdetail" id="form_addtrip_tripdetail" class="form-horizontal">

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Select Travel Plan</label>

                                                        <div class="col-sm-8">

                                                            <select class="form-control" name="travel_plan" id="travel_plan">

                                                                <option selected="selected">select plan</option>

                                                                <option>MAA - JFK</option>

                                                                <option>JFK - MAA</option>

                                                                <option>MAA - JFK</option>

                                                            </select>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Origin Location</label>

                                                        <div class="col-sm-8">

                                                            <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" />

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Destination Location</label>

                                                        <div class="col-sm-8">

                                                            <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" />

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Departure Date</label>

                                                        <div class="col-sm-8">

                                                            <div class="row row-no-gutter">

                                                                <div class="col-sm-6">

                                                                    <div class="input-group">

                                                                        <input class="date-pick form-control" name="departure_date" id="departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>

                                                                    </div>

                                                                </div>

                                                                <div class="col-sm-6">

                                                                    <div class="row row-no-gutter">

                                                                        <div class="col-sm-9 pull-right">

                                                                            <div class="input-group">

                                                                                <input class="time-pick form-control"  name="departure_time" id="departure_time"  type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Arrival Date</label>

                                                        <div class="col-sm-8">

                                                            <div class="row row-no-gutter">

                                                                <div class="col-sm-6">

                                                                    <div class="input-group">

                                                                        <input class="date-pick form-control" type="text"  name="arrival_date" id="arrival_date"  /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>

                                                                    </div>

                                                                </div>

                                                                <div class="col-sm-6">

                                                                    <div class="row row-no-gutter">

                                                                        <div class="col-sm-9 pull-right">

                                                                            <div class="input-group">

                                                                                <input class="time-pick form-control" type="text"  name="arrival_dat" id="arrival_time" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Airline Name</label>

                                                        <div class="col-sm-8">

                                                            <select class="form-control"  name="airline_name" id="airline_name" >

                                                                <option selected="selected">Select Flight Name</option>

                                                                <option>Airline One</option>

                                                                <option>Airline Two</option>

                                                                <option>Airline Three</option>

                                                                <option>Airline Four</option>

                                                                <option>Airline Five</option>

                                                            </select>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Flight No</label>

                                                        <div class="col-sm-8">

                                                            <select class="form-control"  name="flight_number" id="flight_number" >

                                                                <option selected="selected">Select Flight No</option>

                                                                <option>NZ1</option>

                                                                <option>NZ2</option>

                                                                <option>NZ5</option>

                                                                <option>NZ6</option>

                                                                <option>NZ7</option>

                                                            </select>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Cabin</label>

                                                        <div class="col-sm-8">

                                                            <select class="form-control"  name="cabin" id="cabin" >

                                                                <option selected="selected">Business Class</option>

                                                                <option>Economy</option>

                                                                <option>First</option>

                                                            </select>

                                                        </div>

                                                    </div>



                                                    <div class="form-group">

                                                        <label class="col-sm-3 control-label">Booking Status</label>

                                                        <div class="col-sm-9">

                                                            <select class="form-control" id="booking_status" name="booking_status">

                                                                <option value="Confirmed" selected="selected">Confirmed</option>

                                                                <option value="Cancelled">Cancelled</option>

                                                                <option value="Waiting">Waiting</option>

                                                            </select>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-sm-4 control-label">Ticket</label>

                                                        <div class="col-sm-8">

                                                            <input type="file" name="ticket" id="ticket">

                                                            <p class="help-block">Upload your Ticket</p>

                                                        </div>

                                                    </div>

                                                </form>

						</div>

						<div class="col-md-4">

							<aside class="sidebar-right">

								<h4 class=" text-center mb15">Estimated Fee</h4>

								<div class="row center-block">

									<div class="panel panel-default">

									  <div class="panel-heading">

										<h3 class="panel-title text-center mb15 mt15">Product Service</h3>

									  </div>

									  <div class="panel-body">

										<h2 class="text-center">$50</h2>

									  </div>

									</div>

								</div>

							</aside>

						</div>

					</div>  

					<!-- End #tab2 -->

                                        <div class="tab-pane" id="tab3">

                                             <div class="col-md-7">

                                                 <form class="form-horizontal" id="form_addtrip_origindetail" name="form_addtrip_origindetail">

                                                     <input type="hidden" name="latitude" id="latitude" value="" >   

                                                     <input type="hidden" name="longitude" id="longitude" value="" >   

                                                     <div class="panel-body">

                                                         <?php if(count($this->user_locations)>0){ ?>

                                                         <div class="form-group form-group-select-plus">

                                                             <div class="col-sm-9">

                                                                 <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="existing_address" checked="checked"> Select Contact Address`

                                                                 <select class="form-control" name="user_location" id="user_location">

                                                                     <option value="" selected="selected"> - select contact address - </option>

                                                                     <?php if(count($this->user_locations)>0){

                                                                         foreach($this->user_locations as $location){ ?>

                                                                             <option value="<?=$location['ID'];?>"><?=$location['name'];?> - <?=$location['street_address_1'];?><?php if($location['street_address_2']!=''){ echo ', '.$location['street_address_2']; } ;?>, <?=$location['city'];?> - <?=$location['zip_code'];?>, <?=$location['state'];?>, <?=$location['country_name'];?> </option>

                                                                         <?php }

                                                                     } ?>

                                                                 </select>

                                                             </div>

                                                         </div>



                                                         <div class="form-group form-group-select-plus">

                                                             <div class="col-sm-9">

                                                                 <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address"> Add New Address

                                                             </div>

                                                         </div>

                                                         <?php } ?>



                                                         <div id="divNewAddress" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>

                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Name</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="contact_name" id="contact_name" placeholder="Contact Name" type="text" />

                                                                 </div>

                                                             </div>

                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Street Address 1</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="street_address_1" id="street_address_1" placeholder="Street Address 1" type="text" />

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Street Address 2</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="street_address_2" id="street_address_2" placeholder="Street Address 2" type="text" />

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">City</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="city" id="city" placeholder="City" type="text" />

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Zip Code</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="zip_code" id="zip_code" placeholder="Zip Code" type="text" />

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">State</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="state" id="state" placeholder="Stat" type="text" />

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Country</label>

                                                                 <div class="col-sm-9">

                                                                     <select class="form-control" name="country" id="country">

                                                                         <option value="" selected="selected"> - select country - </option>

                                                                         <?php if(count($this->countries)>0){

                                                                             foreach($this->countries as $country){ ?>

                                                                                 <option value="<?=$country['ID'];?>"><?=$country['name'];?></option>

                                                                             <?php } 

                                                                         } ?>

                                                                     </select>                                            

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Phone</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="phone" id="phone" placeholder="Phone" type="text" />

                                                                 </div>

                                                             </div>



                                                             <div class="form-group">

                                                                 <label class="col-sm-3 control-label">Fax</label>

                                                                 <div class="col-sm-9">

                                                                     <input class="form-control" name="fax" id="fax" placeholder="Fax" type="text" />

                                                                 </div>

                                                             </div>

                                                         </div>

                                                     </div>

                                                 </form>

                                             </div>

                                             <div class="col-md-5">

                                                 <aside class="sidebar-right">

                                                     <div class="row center-block">

                                                         <div class="panel panel-default">

                                                             <div class="panel-heading">

                                                                 <h3 class="panel-title text-center mb15 mt15">Your location is private</h3>

                                                             </div>

                                                             <div class="panel-body">

                                                                 <img class="img-responsive" style="width: 303px; height: 180px;" src="img/approximate-location.jpg" />

                                                             </div>

                                                         </div>

                                                     </div>

                                                 </aside>

                                             </div>

                                         </div>					

					<!-- End #tab3 -->

				<div class="gap gap-small"></div>

				<ul class="pager wizard">

					<li class="previous first" style="display:none;"><a href="#">First</a></li>

					<li class="previous"><a href="#">Previous</a></li>

					<li class="next"><a href="#">Next</a></li>

					<li class="next finish"><a href="#">Finish</a></li>

				</ul>

				</div>

			</div>

		</section>

	</div>

</div>

<div class="gap gap-small"></div>