<?php

$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.bootstrap.wizard.js','text/javascript');

$this->headScript()->appendScript("initAddTripPackage();");

?>

<div class='container-fuild'>

	<div class="well well-sm">

		<div class='container'>

			<div class="row">

				<div class='col-md-4 col-xs-4'>				

					<i class="fa fa-plus box-icon-border box-icon-gray round pull-left mr10"></i><h4>Add Trip <span class="hidden-xs">/ <small>For Traveler</small></span></h4>

				</div>

				<div class="col-md-4 col-xs-8">

					<?=$this->render('helpers/switch-user.phtml')?>

				</div>

				<div class="col-md-4 hidden-xs hidden-sm">

				</div>

			</div>

		</div>

	</div>

</div>

<div class="gap gap-small"></div>

<div class='container'>

	<div class="row">

		<section id="wizard">

			<div id="rootwizard" class="tabbable tabs-left">

				<ul>

					<li><a href="#tab1" data-toggle="tab">Trip Details</a></li>

					<li><a href="#tab2" data-toggle="tab">Origin Location Address</a></li>

					<li><a href="#tab3" data-toggle="tab">Package</a></li>

				</ul>

				<div class="tab-content">

					<div class="tab-pane" id="tab1">

						<div class="col-md-8">

                                                    <form name="form_addtrippeople_tripdetail" id="form_addtrippeople_tripdetail" class="form-horizontal">

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Select Travel Plan</label>

                                                            <div class="col-sm-8">

                                                                <select class="form-control" name="travel_plan" id="travel_plan">

                                                                    <option selected="selected">select plan</option>

                                                                    <option>MAA - JFK</option>

                                                                    <option>JFK - MAA</option>

                                                                    <option>MAA - JFK</option>

                                                                </select>

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Origin Location</label>

                                                            <div class="col-sm-8">

                                                                <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" />

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Destination Location</label>

                                                            <div class="col-sm-8">

                                                                <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" />

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Departure Date</label>

                                                            <div class="col-sm-8">

                                                                <div class="row row-no-gutter">

                                                                    <div class="col-sm-6">

                                                                        <div class="input-group">

                                                                            <input class="date-pick form-control" name="departure_date" id="departure_date" type="text" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>

                                                                        </div>

                                                                    </div>

                                                                    <div class="col-sm-6">

                                                                        <div class="row row-no-gutter">

                                                                            <div class="col-sm-9 pull-right">

                                                                                <div class="input-group">

                                                                                    <input class="time-pick form-control"  name="departure_time" id="departure_time"  type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Arrival Date</label>

                                                            <div class="col-sm-8">

                                                                <div class="row row-no-gutter">

                                                                    <div class="col-sm-6">

                                                                        <div class="input-group">

                                                                            <input class="date-pick form-control" type="text"  name="arrival_date" id="arrival_date"  /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>

                                                                        </div>

                                                                    </div>

                                                                    <div class="col-sm-6">

                                                                        <div class="row row-no-gutter">

                                                                            <div class="col-sm-9 pull-right">

                                                                                <div class="input-group">

                                                                                    <input class="time-pick form-control" type="text"  name="arrival_dat" id="arrival_time" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Airline Name</label>

                                                            <div class="col-sm-8">

                                                                <select class="form-control"  name="airline_name" id="airline_name" >

                                                                    <option selected="selected">Select Flight Name</option>

                                                                    <option>Airline One</option>

                                                                    <option>Airline Two</option>

                                                                    <option>Airline Three</option>

                                                                    <option>Airline Four</option>

                                                                    <option>Airline Five</option>

                                                                </select>

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Flight No</label>

                                                            <div class="col-sm-8">

                                                                <select class="form-control"  name="flight_number" id="flight_number" >

                                                                    <option selected="selected">Select Flight No</option>

                                                                    <option>NZ1</option>

                                                                    <option>NZ2</option>

                                                                    <option>NZ5</option>

                                                                    <option>NZ6</option>

                                                                    <option>NZ7</option>

                                                                </select>

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Cabin</label>

                                                            <div class="col-sm-8">

                                                                <select class="form-control"  name="cabin" id="cabin" >

                                                                    <option selected="selected">Business Class</option>

                                                                    <option>Economy</option>

                                                                    <option>First</option>

                                                                </select>

                                                            </div>

                                                        </div>



                                                        <div class="form-group">

                                                            <label class="col-sm-3 control-label">Booking Status</label>

                                                            <div class="col-sm-9">

                                                                <select class="form-control" id="booking_status" name="booking_status">

                                                                    <option value="Confirmed" selected="selected">Confirmed</option>

                                                                    <option value="Cancelled">Cancelled</option>

                                                                    <option value="Waiting">Waiting</option>

                                                                </select>

                                                            </div>

                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-sm-4 control-label">Ticket</label>

                                                            <div class="col-sm-8">

                                                                <input type="file" name="ticket" id="ticket">

                                                                <p class="help-block">Upload your Ticket</p>

                                                            </div>

                                                        </div>

                                                    </form>						

						</div>

						<div class="col-md-4">

							<aside class="sidebar-right">

								<h4 class=" text-center mb15">Estimated Fee</h4>

								<div class="row center-block">

									<div class="panel panel-default">

									  <div class="panel-heading">

										<h3 class="panel-title text-center mb15 mt15">Package Service</h3>

									  </div>

									  <div class="panel-body">

										<h2 class="text-center">$0</h2>

									  </div>

									</div>

								</div>

							</aside>

						</div>

					</div>

					<!-- End #tab1 -->

					<div class="tab-pane" id="tab2">

						<div class="col-md-7">

                                                    <form class="form-horizontal" id="form_addtrippeople_origindetail" name="form_addtrippeople_origindetail">

                                                       <input type="hidden" name="latitude" id="latitude" value="" >   

                                                       <input type="hidden" name="longitude" id="longitude" value="" >   

                                                       <div class="panel-body">

                                                           <?php if(count($this->user_locations)>0){ ?>

                                                           <div class="form-group form-group-select-plus">

                                                               <div class="col-sm-9">

                                                                   <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="existing_address" checked="checked"> Select Contact Address`

                                                                   <select class="form-control" name="user_location" id="user_location">

                                                                       <option value="" selected="selected"> - select contact address - </option>

                                                                       <?php if(count($this->user_locations)>0){

                                                                           foreach($this->user_locations as $location){ ?>

                                                                               <option value="<?=$location['ID'];?>"><?=$location['name'];?> - <?=$location['street_address_1'];?><?php if($location['street_address_2']!=''){ echo ', '.$location['street_address_2']; } ;?>, <?=$location['city'];?> - <?=$location['zip_code'];?>, <?=$location['state'];?>, <?=$location['country_name'];?> </option>

                                                                           <?php }

                                                                       } ?>

                                                                   </select>

                                                               </div>

                                                           </div>



                                                           <div class="form-group form-group-select-plus">

                                                               <div class="col-sm-9">

                                                                   <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address"> Add New Address

                                                               </div>

                                                           </div>

                                                           <?php } ?>



                                                           <div id="divNewAddress" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>

                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Name</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="contact_name" id="contact_name" placeholder="Contact Name" type="text" />

                                                                   </div>

                                                               </div>

                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Street Address 1</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="street_address_1" id="street_address_1" placeholder="Street Address 1" type="text" />

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Street Address 2</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="street_address_2" id="street_address_2" placeholder="Street Address 2" type="text" />

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">City</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="city" id="city" placeholder="City" type="text" />

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Zip Code</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="zip_code" id="zip_code" placeholder="Zip Code" type="text" />

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">State</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="state" id="state" placeholder="Stat" type="text" />

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Country</label>

                                                                   <div class="col-sm-9">

                                                                       <select class="form-control" name="country" id="country">

                                                                           <option value="" selected="selected"> - select country - </option>

                                                                           <?php if(count($this->countries)>0){

                                                                               foreach($this->countries as $country){ ?>

                                                                                   <option value="<?=$country['ID'];?>"><?=$country['name'];?></option>

                                                                               <?php } 

                                                                           } ?>

                                                                       </select>                                            

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Phone</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="phone" id="phone" placeholder="Phone" type="text" />

                                                                   </div>

                                                               </div>



                                                               <div class="form-group">

                                                                   <label class="col-sm-3 control-label">Fax</label>

                                                                   <div class="col-sm-9">

                                                                       <input class="form-control" name="fax" id="fax" placeholder="Fax" type="text" />

                                                                   </div>

                                                               </div>

                                                           </div>

                                                       </div>

                                                   </form>							

						</div>

						<div class="col-md-5">

							<aside class="sidebar-right">

								<div class="row center-block">

									<div class="panel panel-default">

									  <div class="panel-heading">

										<h3 class="panel-title text-center mb15 mt15">Your location is private</h3>

									  </div>

									  <div class="panel-body">

										<img class="img-responsive" style="width: 303px; height: 180px;" src="<?php echo $this->basePath(); ?>/public/img/approximate-location.jpg" />

									  </div>

									</div>

								</div>

							</aside>

						</div>

					</div>

					<!-- End #tab2 -->

					<div class="tab-pane" id="tab3">

					<div class="col-md-8">

						<form class="form-horizontal" id="form_addtrippeople_package" name="form_addtrippeople_package">

							<div class="headline"><p><strong>Provide details about packages</strong></p></div>

							<div class="form-group form-group-select-plus">

								<label class="col-sm-4 control-label">No of baggages carried</label>

								<div class="col-sm-8">

									<div class="btn-group btn-group-select-num" data-toggle="buttons">

									<label class="btn btn-primary active">

                                                                            <input type="radio" name="options" id="packages_count" name="packages_count" />1</label>

									<label class="btn btn-primary">

										<input type="radio" name="options"  id="packages_count" name="packages_count" />2</label>

									<label class="btn btn-primary">

										<input type="radio" name="options"  id="packages_count" name="packages_count" />3</label>

									<label class="btn btn-primary">

										<input type="radio" name="options" id="packages_count" name="packages_count" />4</label>

									<label class="btn btn-primary">

										<input type="radio" name="options" id="packages_count" name="packages_count" />5</label>

									<label class="btn btn-primary">

										<input type="radio" name="options" id="packages_count" name="packages_count" />5+</label>													

								</div>

								<select class="form-control hidden" id="packages_count" name="packages_count">

									<option>1</option>

									<option>2</option>

									<option>3</option>

									<option>4</option>

									<option>5</option>

									<option selected="selected">6</option>

									<option>7</option>

									<option>8</option>

									<option>9</option>

									<option>10</option>

									<option>11</option>

									<option>12</option>

									<option>13</option>

									<option>14</option>

								</select>

								</div>

							</div>

							<div class="form-group">

								<label class="col-sm-4 control-label">Weight allowed in airline per baggage</label>

								<div class="col-sm-8">

									<select class="form-control" id="airline_allowed_weight" name="airline_allowed_weight" >

										<option selected="selected">0-100</option>

										<option>101-200</option>

										<option>201-300</option>

										<option>301-400</option>

										<option>401-500</option>

										<option>500+</option>

									</select>                                         

								</div>

							</div>

							<div class="form-group">

								<label class="col-sm-4 control-label">Approx.weight carried by you over all</label>

								<div class="col-sm-8">

									<select class="form-control" id="weight_carried" name="weight_carried" >

										<option selected="selected">0-100</option>

										<option>101-200</option>

										<option>201-300</option>

										<option>301-400</option>

										<option>401-500</option>

										<option>500+</option>

									</select>                                         

								</div>

							</div>

							<div class="form-group">

								<label class="col-sm-4 control-label">Approx.weight of baggage you can accommodate</label>

								<div class="col-sm-8">

									<select class="form-control" id="weight_accommodate" name="weight_accommodate" >

										<option selected="selected">0-100</option>

										<option>101-200</option>

										<option>201-300</option>

										<option>301-400</option>

										<option>401-500</option>

										<option>500+</option>

									</select>                                         

								</div>

							</div>

							<div class="form-group">

								<label class="col-sm-4 control-label">Items that you don't wish to carry</label>

								<div class="col-sm-8">

									<input class="typeahead form-control" placeholder="Ex. Glass, Bottles" type="text" id="not_wish_to_carry" name="not_wish_to_carry"  />

								</div>

							</div>

							<div class="form-group">

								<label class="col-sm-4 control-label">Comment's to this Seeker</label>

								<div class="col-sm-8">

									<textarea class="form-control" placeholder="Provide your commnts to seeker regarding this service." rows="3" id="comment" name="comment" ></textarea>

								</div>

							</div>

						</form>

					</div>

					<div class="col-md-4">

						<aside class="sidebar-right">

							<h4 class=" text-center mb15">Estimated Fee</h4>

							<div class="row center-block">

								<div class="panel panel-default">

								  <div class="panel-heading">

									<h3 class="panel-title text-center mb15 mt15">Package Service</h3>

								  </div>

								  <div class="panel-body">

									<h2 class="text-center">$30</h2>

								  </div>

								</div>

							</div>

						</aside>

					</div>

					</div>

					<!-- End #tab3 -->

				<div class="gap gap-small"></div>

				<ul class="pager wizard">

					<li class="previous first" style="display:none;"><a href="#">First</a></li>

					<li class="previous"><a href="#">Previous</a></li>

					<li class="next"><a href="#">Next</a></li>

					<li class="next finish"><a href="#">Finish</a></li>

				</ul>

				</div>

			</div>

		</section>

	</div>

</div>

<div class="gap gap-small"></div>