<div class='container-fuild'>
	<div class="well well-sm">
		<div class='container'>
			<div class="row">
				<div class='col-sm-4'>
					<h4>Add Trip Review</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gap gap-small"></div>

<form action="" method="post">
	<div class='container'>    
		<?php if(count($this->triprew)==0){ ?>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label>Review</label>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="form-group">
					<textarea name="tripreview" class="form-control" required></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<script>
			  /*  $(document).ready(function () {
					$("#demo2").click(function () {
						alert($(this).val());
						$(this).attr("checked");
					});
				});*/
			</script>
			<style>

				/****** Rating Starts *****/

			  .rating { 

					border: none;

					float: left;

				}



				.rating > input { display: none; } 

				.rating > label:before { 

					margin: 5px;

					font-size: 1.25em;

					font-family: FontAwesome;

					display: inline-block;

					content: "\f005";

				}



				.rating > .half:before { 

					content: "\f089";

					position: absolute;

				}



				.rating > label { 

					color: #ddd; 

					float: right; 
					width:auto;

				}



				.rating > input:checked ~ label, 

				.rating:not(:checked) > label:hover,  

				.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }



				.rating > input:checked + label:hover, 

				.rating > input:checked ~ label:hover,

				.rating > label:hover ~ input:checked ~ label, 

				.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

			</style>

			<div class="col-xs-3">

				<div class="form-group">

					<label>Rating</label>

				</div>

			</div>

			<div class="col-xs-9">

				<div class="form-group">

					<fieldset id='demo2' class="rating">

						<input class="stars" type="radio" id="star5" name="rating" value="5" />

						<label class = "full" for="star5" title="Awesome - 5 stars"></label>

						<input class="stars" type="radio" id="star4half" name="rating" value="4.5" />

						<label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

						<input class="stars" type="radio" id="star4" name="rating" value="4" />

						<label class = "full" for="star4" title="Pretty good - 4 stars"></label>

						<input class="stars" type="radio" id="star3half" name="rating" value="3.5" />

						<label class="half" for="star3half" title="Meh - 3.5 stars"></label>

						<input class="stars" type="radio" id="star3" name="rating" value="3" />

						<label class = "full" for="star3" title="Meh - 3 stars"></label>

						<input class="stars" type="radio" id="star2half" name="rating" value="2.5" />

						<label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

						<input class="stars" type="radio" id="star2" name="rating" value="2" />

						<label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

						<input class="stars" type="radio" id="star1half" name="rating" value="1.5" />

						<label class="half" for="star1half" title="Meh - 1.5 stars"></label>

						<input class="stars" type="radio" id="star1" name="rating" value="1" />

						<label class = "full" for="star1" title="Sucks big time - 1 star"></label>

						<input class="stars" type="radio" id="starhalf" name="rating" value="0.5" />

						<label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

					</fieldset>

				</div>

			</div>

		</div>

		

		<div class="row">

			<div class="form-group form-group-filled">

				<input type="submit" value="Save" class="btn mr20 btn-primary pull-right">

			</div>

		</div>

		<?php }elseif($this->triprewadd!=''){

			?>

		<div class="row">

			<div class="col-xs-3">

				<div class="form-group">

					<label><?=$this->triprewadd;?></label>

				</div>

			</div>

		</div>

		<?php

		}else{

			?>

		<div class="row">

			<div class="col-xs-3">

				<div class="form-group">

					<label>Review Already Done.</label>

				</div>

			</div>

		</div>

		<?php

		} ?>

		<div class="gap gap-small"></div>

	</div>
</form>