<div class="gap gap-small"></div>
<form name="frmDeleteTrip" id="frmDeleteTrip" method="post" class="form-horizontal" enctype="multipart/form-data" >
<div class="container">
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row row-wrap" data-gutter="60">
            <div class="col-md-10 col-md-offset-1">
                <h4>DELETE TRIP</h4>
		<!-- Start Trip Details -->
                    <div class="panel panel-default">
                            <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10">Trip Details</h5></div>
                            <div style="text-align: center;"><br>
                                Are you sure, want to delete following Trip ?
                                <br><br>
                                <strong><?=$this->trip['name'];?></strong><br>
                                <?=$this->trip['origin_location'];?> - <?=$this->trip['destination_location'];?><br>
                                <?=date('m/d/Y',strtotime($this->trip['departure_date']));?> - <?=date('m/d/Y',strtotime($this->trip['arrival_date']));?><br><br>
                            </div>
                    </div>
                    <!-- End Trip Details -->
                    <input class="btn btn-primary mt10 pull-right" type="submit" value="Sumit" />
                    <input type="hidden" name="ID" id="ID" value="<?=$this->ID;?>" >   
                </div>
            
                </div>
        
        </div>
    
</div>
     
<div class="gap gap-small"></div>
</div>
</form>