


<form name="frmAddTrip" id="frmAddTrip" method="post" class="form-horizontal" enctype="multipart/form-data" >



<div class="container">



<div class="row">



    <div class="col-xs-12 col-md-10 col-md-offset-1">



        <div class="row row-wrap" data-gutter="60">



            <div class="col-md-10 col-md-offset-1">



                <h4>EDIT TRIP</h4>



		<!-- Start Trip Details -->



                    <div class="panel panel-default">



                            <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10">Trip Details</h5></div>



                            <div class="panel-body">



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">Trip Title</label>



                                        <div class="col-sm-9">



                                            <input class="typeahead form-control" name="trip_title" id="trip_title" placeholder="Trip Title" type="text" value="<?=$this->trip['name'];?>" />



                                        </div>



                                </div>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">Origin Location</label>



                                        <div class="col-sm-9">



                                            <input class="typeahead form-control" name="origin_location" id="origin_location" placeholder="City or Airport" type="text"  value="<?=$this->trip['origin_location'];?>" />



                                        </div>



                                </div>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">Destination Location</label>



                                        <div class="col-sm-9">



                                                <input class="typeahead form-control" name="destination_location" id="destination_location" placeholder="City or Airport" type="text"  value="<?=$this->trip['destination_location'];?>" />



                                        </div>



                                </div>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">Departure Date</label>



                                        <div class="col-sm-9">



                                                <input class="date-pick form-control" name="departure_date" id="departure_date"  type="text"  value="<?=date('m/d/Y',strtotime($this->trip['departure_date']));?>" />



                                        </div>



                                </div>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">Arrival Date</label>



                                        <div class="col-sm-9">



                                                <input class="date-pick form-control" name="arrival_date" id="arrival_date" type="text"  value="<?=date('m/d/Y',strtotime($this->trip['arrival_date']));?>" />



                                        </div>



                                </div>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">Departure Time</label>



                                        <div class="col-sm-9">



                                                <input class="time-pick form-control" name="departure_time" id="departure_time"  value="12:00 AM" type="text"  value="<?=date('h:i A',strtotime($this->trip['departure_date']));?>" />



                                        </div>



                                </div>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">ArrivalTime</label>



                                        <div class="col-sm-9">



                                                <input class="time-pick form-control" name="arrival_time" id="arrival_time"  value="12:00 AM" type="text"  value="<?=date('h:i A',strtotime($this->trip['arrival_date']));?>" />



                                        </div>



                                </div>







                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Airline Name</label>



                                    <div class="col-sm-9">



                                        <select class="form-control" id="airline_name" name="airline_name">



                                            <option selected="selected">Select Flight Name</option>



                                            <option value="Airline One">Airline One</option>



                                            <option value="Airline Two">Airline Two</option>



                                            <option value="Airline Three">Airline Three</option>



                                            <option value="Airline Four">Airline Four</option>



                                            <option value="Airline Five">Airline Five</option>



                                        </select>



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Flight No</label>



                                    <div class="col-sm-9">



                                        <select class="form-control" id="flight_number" name="flight_number">



                                                <option selected="selected">Select Flight No</option>



                                                <option value="NZ1">NZ1</option>



                                                <option value="NZ2">NZ2</option>



                                                <option value="NZ5">NZ5</option>



                                                <option value="NZ6">NZ6</option>



                                                <option value="NZ7">NZ7</option>



                                        </select>



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Booking Status</label>



                                    <div class="col-sm-9">



                                        <select class="form-control" id="booking_status" name="booking_status">



                                            <option value="Confirmed" <? if($this->trip['booking_status']=='Confirmed'){ ?> selected="selected" <?php } ?>>Confirmed</option>



                                            <option value="Cancelled" <? if($this->trip['booking_status']=='Cancelled'){ ?> selected="selected" <?php } ?>>Cancelled</option>



                                            <option value="Waiting" <? if($this->trip['booking_status']=='Waiting'){ ?> selected="selected" <?php } ?>>Waiting</option>



                                        </select>



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Cabin</label>



                                    <div class="col-sm-9">



                                        <select class="form-control" name="cabin" id="cabin">



                                            <option value="Business Class" <? if($this->trip['cabin']=='Business Class'){ ?> selected="selected" <?php } ?>>Business Class</option>



                                            <option value="Economy" <? if($this->trip['cabin']=='Economy'){ ?> selected="selected" <?php } ?>>Economy</option>



                                            <option value="First" <? if($this->trip['cabin']=='First'){ ?> selected="selected" <?php } ?>>First</option>



                                        </select>



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Ticket</label>



                                    <div class="col-sm-9">



                                        <input type="file" id="ticket_image" name="ticket_image">



                                        <p class="help-block">Upload your Ticket</p>



                                        <img src="<?php echo $this->basePath();?>/<?=$this->generalvar['trips']['trips']['tickets'];?>/<?=$this->trip['ticket_image'];?>" width="300" >



                                    </div>



                                </div>



                            </div>



                    </div>



                    <!-- End Trip Details -->







                    <!-- Start Trip Contact Details -->



                    <div class="panel panel-default">



                        <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10">Trip Contact Details</h5></div>



                            <div class="panel-body">



                                <?php if(count($this->user_locations)>0){ ?>



                                <div class="form-group form-group-select-plus">



                                    <div class="col-sm-9">



                                        <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="existing_address" checked="checked"> Select Contact Address`



                                        <select class="form-control" name="user_location" id="user_location">



                                            <option value="" selected="selected"> - select contact address - </option>



                                            <?php if(count($this->user_locations)>0){



                                                    foreach($this->user_locations as $location){ ?>



                                                        <option value="<?=$location['ID'];?>" <?php if($this->trip['user_location']==$location['ID']){ ?> selected="selected" <?php } ?> ><?=$location['name'];?> - <?=$location['street_address_1'];?><?php if($location['street_address_2']!=''){ echo ', '.$location['street_address_2']; } ;?>, <?=$location['city'];?> - <?=$location['zip_code'];?>, <?=$location['state'];?>, <?=$location['country_name'];?> </option>



                                                    <?php }



                                            } ?>



                                        </select>



                                    </div>



                                </div>



                                <div class="form-group form-group-select-plus">



                                    <div class="col-sm-9">



                                        <input type="radio" name="contact_address_type" id="contact_address_type" class="contact_address_type" value="new_address"> Add New Address



                                    </div>



                                </div>



                                <?php } ?>



                                <div id="divNewAddress" <?php if(count($this->user_locations)>0){ ?>style="display: none;"<?php } ?>>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Name</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="contact_name" id="contact_name" placeholder="Contact Name" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Street Address 1</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="street_address_1" id="street_address_1" placeholder="Street Address 1" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Street Address 2</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="street_address_2" id="street_address_2" placeholder="Street Address 2" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">City</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="city" id="city" placeholder="City" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Zip Code</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="zip_code" id="zip_code" placeholder="Zip Code" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">State</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="state" id="state" placeholder="Stat" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Country</label>



                                        <div class="col-sm-9">



                                            <select class="form-control" name="country" id="country">



                                                <option value="" selected="selected"> - select country - </option>



                                                <?php if(count($this->countries)>0){



                                                        foreach($this->countries as $country){ ?>



                                                            <option value="<?=$country['ID'];?>"><?=$country['name'];?></option>



                                                        <?php }



                                                } ?>



                                            </select>



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Phone</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="phone" id="phone" placeholder="Phone" type="text" />



                                        </div>



                                    </div>



                                    <div class="form-group">



                                        <label class="col-sm-3 control-label">Fax</label>



                                        <div class="col-sm-9">



                                            <input class="form-control" name="fax" id="fax" placeholder="Fax" type="text" />



                                        </div>



                                    </div>







                                </div>







                            </div>



                    </div>



                    <!-- End Trip Contact Details -->







                    <!-- Start People Details -->



                    <div class="panel panel-default">



                        <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10"><input type="checkbox" name="people_detail" id="people_detail" value="1" <?php if($this->people_detail['ID']!=''){ ?>checked="checked" <?php } ?>> People Details</h5></div>



                            <div id="divPeopleDetail"  class="panel-body" <?php if($this->people_detail['ID']==''){ ?> style="display: none;" <?php } ?>>



                                <div class="form-group form-group-select-plus">



                                        <label class="col-sm-3 control-label">Number of person travelling with the member in this travel</label>



                                            <div class="col-sm-9">



                                                <select class="form-control" name="persons_travelling" id="persons_travelling">



                                                    <?php for($i=1;$i<=14;$i++){ ?>



                                                    <option value="<?=$i;?>" <?php if($this->people_detail['persons_travelling']==$i){ ?> selected="selected" <?php } ?> ><?=$i;?></option>



                                                    <?php } ?>



                                                </select>



                                            </div>



                                            </div>



                                            <div class="form-group form-group-select-plus">



                                                    <label class="col-sm-3 control-label">Number of Male</label>



                                                    <div class="col-sm-9">



                                                        <select class="form-control" name="male_count" id="male_count" >



                                                           <?php for($i=1;$i<=5;$i++){ ?>



                                                           <option value="<?=$i;?>" <?php if($this->people_detail['male_count']==$i){ ?> selected="selected" <?php } ?> ><?=$i;?></option>



                                                           <?php } ?>



                                                        </select>



                                                    </div>



                                            </div>



                                            <div class="form-group form-group-select-plus">



                                                <label class="col-sm-3 control-label">Number of Female</label>



                                                <div class="col-sm-9">



                                                    <select class="form-control hidden" name="female_count" id="female_count">



                                                        <?php for($i=1;$i<=5;$i++){ ?>



                                                        <option value="<?=$i;?>" <?php if($this->people_detail['female_count']==$i){ ?> selected="selected" <?php } ?> ><?=$i;?></option>



                                                        <?php } ?>



                                                    </select>



                                                </div>



                                            </div>



                                            <div class="form-group">



                                                    <label class="col-sm-3 control-label">Any Person of age above 60</label>



                                                    <div class="col-sm-9">



                                                        <select class="form-control" name="age_above_60_years" id="any_above_60_years">



                                                            <option <?php if($this->people_detail['age_above_60_years']==1){ ?> selected="selected" <?php } ?> value="1">Yes</option>



                                                            <option <?php if($this->people_detail['age_above_60_years']==0){ ?> selected="selected" <?php } ?> value="0">No</option>



                                                        </select>



                                                    </div>



                                            </div>



                                            <div class="form-group">



                                                    <label class="col-sm-3 control-label">Any Child below 5 Years Old</label>



                                                    <div class="col-sm-9">



                                                            <select class="form-control" name="age_below_3_years" id="any_below_3_years">



                                                                    <option  value="1" <?php if($this->people_detail['age_below_3_years']==1){ ?> selected="selected" <?php } ?>>Yes</option>



                                                                    <option  value="0" <?php if($this->people_detail['age_below_3_years']==0){ ?> selected="selected" <?php } ?>>No</option>



                                                            </select>



                                                    </div>



                                            </div>



                                            <div class="form-group">



                                                    <label class="col-sm-3 control-label">Member's Comments</label>



                                                    <div class="col-sm-9">



                                                        <textarea class="form-control" rows="3" name="people_detail_comment"  id="people_comment"><?=$this->people_detail['comment'];?></textarea>



                                                    </div>



                                            </div>



                            </div>



                    </div>



                    <!-- End People Details -->



                    <!-- Start Package Details -->



                    <div class="panel panel-default">



                        <div class="panel-heading"><h5 class="panel-title ml10 mt10 mb10"><input type="checkbox" name="package_detail" value="1" id="package_detail" <?php if($this->package_detail['ID']!=''){ ?>checked="checked" <?php } ?>> Package Details</h5></div>



                            <div id="divPackageDetail" class="panel-body" <?php if($this->package_detail['ID']==''){ ?> style="display: none;" <?php } ?>>



                                <div class="form-group">



                                        <label class="col-sm-3 control-label">No of Packages Carried</label>



                                        <div class="col-sm-9">



                                            <select class="form-control" name="packages_count" id="packages_count">



                                                <?php for($i=1;$i<=14;$i++){ ?>



                                                <option value="<?=$i;?>" <?php if($this->package_detail['packages_count']==$i){ ?> selected="selected" <?php } ?> ><?=$i;?></option>



                                                <?php } ?>



                                            </select>



                                        </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Weight of allowed in airline per package</label>



                                    <div class="col-sm-9">



                                        <input class="form-control" name="airline_allowed_weight" id="airline_allowed_weight" type="text" value="<?=$this->package_detail['airline_allowed_weight'];?>" />



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Approx. weight carried by member over all</label>



                                    <div class="col-sm-9">



                                        <input class="form-control" name="weight_carried" id="weight_carried" type="text" value="<?=$this->package_detail['weight_carried'];?>" />



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Approx. weight baggage member can accommodate</label>



                                    <div class="col-sm-9">



                                        <input class="form-control" name="weight_accommodate" id="weight_accommodate" type="text" value="<?=$this->package_detail['weight_accommodate'];?>" />



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Items that member dont wish to carry</label>



                                    <div class="col-sm-9">



                                        <input class="form-control" name="not_wish_to_carry" id="not_wish_to_carry" type="text"  value="<?=$this->package_detail['not_wish_to_carry'];?>" />



                                    </div>



                                </div>



                                <div class="form-group">



                                    <label class="col-sm-3 control-label">Member's Comments</label>



                                    <div class="col-sm-9">



                                        <textarea class="form-control" rows="3" id="package_comment"><?=$this->package_detail['comment'];?></textarea>



                                    </div>



                                </div>



                            </div>



                    </div>







                    <!-- End Package Details -->



                    <input class="btn btn-primary mt10 pull-right" type="submit" value="Sumit" />



                    <input type="hidden" name="latitude" id="latitude" value="" >



                    <input type="hidden" name="longitude" id="longitude" value="" >



                </div>







                </div>







        </div>







</div>







<div class="gap gap-small"></div>



</div>



</form>
