<div class="row">
	<div class="col-sm-12">
		<ul class="breadcrumb mb15">
			<!-- <li><a href="#">Home</a></li><li class="active">You are viewing your profile as a</li> -->
		</ul>
		<!-- Start tab-menu -->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="well well-sm">
					<ul class="nav nav-pills nav-justified">
						<li class="active">
							<a href="#seeker" data-toggle="tab">User (Travel Service Seeker)</a>
						</li>
						<li>
							<a href="#provider" data-toggle="tab">Treper (Travel Service Provider)</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix mb10"></div>
		<!-- End tab-menu -->
		<!-- Start tab-content -->
		<div class="tab-content">
			<div class="tab-pane fade in active" id="seeker">
				<div class="row">
					<div class="col-md-1">
						<div class="social-buttons">
							<a href="#" class="btn btn-lg btn-social-icon btn-facebook">
								<span class="fa fa-facebook"></span>
							</a>
							<a href="#" class="btn btn-lg btn-social-icon btn-google">
								<span class="fa fa-google"></span>
							</a>
							<a href="#" class="btn btn-lg btn-social-icon btn-linkedin">
								<span class="fa fa-linkedin"></span>
							</a>
							<a href="#" class="btn btn-lg btn-social-icon btn-yahoo">
								<span class="fa fa-yahoo"></span>
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<ul class="nav nav-tabs nav-pills">
								<li role="presentation" class="active">
									<a href="#tab1" data-toggle="tab">Upcoming</a>
								</li>
								<li role="presentation">
									<a href="#tab2" data-toggle="tab">Completed</a>
								</li>
								<li role="presentation">
									<a href="#tab3" data-toggle="tab">Cancelled</a>
								</li>
							</ul>
						</div>
						<!-- Start tab-content -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1">
								<div class="row">
									<table  class="table table-bordered table-striped table-booking-history table-hover">
										<thead>
											<tr>
												<th>Travel Date</th>
												<th>From-To</th>
												<th>Service</th>
												<th>Request</th>
												<th>Request Date</th>
												<th>Booking ID</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>People</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Product</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Package</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>People</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Product</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Package</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- tab1 -->
							<div class="tab-pane fade in" id="tab2">
								<div class="row">
									<table  class="table table-bordered table-striped table-booking-history table-hover">
										<thead>
											<tr>
												<th>Travel Date</th>
												<th>From-To</th>
												<th>Service</th>
												<th>Request</th>
												<th>Request Date</th>
												<th>Booking ID</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>People</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Product</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Package</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>People</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Product</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Package</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- tab2 -->
							<div class="tab-pane fade in" id="tab3">
								<div class="row">
									<table  class="table table-bordered table-striped table-booking-history table-hover">
										<thead>
											<tr>
												<th>Travel Date</th>
												<th>From-To</th>
												<th>Service</th>
												<th>Request</th>
												<th>Request Date</th>
												<th>Booking ID</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>People</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Product</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Package</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>People</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Product</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
											<tr>
												<td>Fri Dec
													<span class="label label-primary">12</span>
												</td>
												<td>Chennai, IND - New York, USA</td>
												<td>Package</td>
												<td align="center">
													<span class="label label-primary">3</span>
												</td>
												<td>10/12/2014</td>
												<td>HTLWR45694W</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- tab3 -->
						</div>
						<!-- End tab-content -->
					</div>
					<div class="col-md-3">
						<div class="booking-item-deails-date-location">
							<ul>
								<li>
									<h4>Trepr Benefits</h4>
									<p>
										<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Send your loved ones safely (People)
									</p>
									<p>
										<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Transport your package cheaply (Package)
									</p>
									<p>
										<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Get your tasks done in another location (Product)
									</p>
									<p>
										<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Simply earn in your travel you travel, We Pay You
									</p>
									<p>
										<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Find right companion for travel plan trip with our Trepers
									</p>
								</li>
							</ul>
						</div>
						<div class="gap gap-small"></div>
						<ul class="list-inline pull-right">
							<li>
								<a class="btn btn-primary btn-normal">+Add Trip</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- seeker -->
			<div class="tab-pane fade in" id="provider">
				<div class="row">
					<div class="col-md-1">
						<div class="social-buttons">
							<a href="#" class="btn btn-lg btn-social-icon btn-facebook">
								<span class="fa fa-facebook"></span>
							</a>
							<a href="#" class="btn btn-lg btn-social-icon btn-google">
								<span class="fa fa-google"></span>
							</a>
							<a href="#" class="btn btn-lg btn-social-icon btn-linkedin">
								<span class="fa fa-linkedin"></span>
							</a>
							<a href="#" class="btn btn-lg btn-social-icon btn-yahoo">
								<span class="fa fa-yahoo"></span>
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<ul class="nav nav-tabs nav-pills">
								<li role="presentation" class="active">
									<a href="#tab4" data-toggle="tab">Upcoming</a>
								</li>
								<li role="presentation">
									<a href="#tab5" data-toggle="tab">Completed</a>
								</li>
								<li role="presentation">
									<a href="#tab6" data-toggle="tab">Cancelled</a>
								</li>
							</ul>
						</div>
						<!-- Start tab-content -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab4">
								<div class="row">
									<table  class="table table-bordered table-striped table-booking-history table-hover">
										<thead>
											<tr>
												<th>Travel Date</th>
												<th>From-To</th>
												<th>Service</th>
												<th>Request</th>
												<th>Modified</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<?php if(count($this->upcoming_trips)>0){



	                                                                                                    foreach($this->upcoming_trips as $trip){ ?>
											<tr>
												<!--<td>
												<?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?><span class="label label-primary">
												<?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>-->
												<td>
													<?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?>
													<span class="label label-primary">
														<?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?>
													</span>
												</td>
												<td>
													<?=$trip['origin_location'];?> -
													<?=$trip['destination_location'];?>
												</td>
												<td>
													<?=$trip['service'];?>
												</td>
												<td align="center"><? if($trip['people_request_count']>0){  ?>



	                                                                                                                   People:
													<span class="label label-primary">
														<?=$trip['people_request_count'];?>
													</span>
													<br>
														<br>
															<?php } ?><? if($trip['package_request_count']>0){  ?>



	                                                                                                                    Package:
															<span class="label label-primary">
																<?=$trip['package_request_count'];?>
															</span>
															<?php } ?>
														</td>
														<td>
															<?=$this->common()->timeZoneAdjust('m/d/Y',$trip['modified']);?>
														</td>
														<td>
															<a href="
																<?php echo $this->basePath();?>/trips/edittrip/
																<?=$trip['ID'];?>">Edit
															</a> |
															<a href="
																<?php echo $this->basePath();?>/trips/deletetrip/
																<?=$trip['ID'];?>">Delete
															</a>
														</td>
													</tr>
													<?php }



	                                                                                                }else{ ?>
													<tr>
														<td colspan="6" align="center">There is no upcoming trips</td>
													</tr>
													<?php } ?>
												</tbody>
											</table>
										</div>
									</div>
									<!-- tab1 -->
									<div class="tab-pane fade in" id="tab5">
										<div class="row">
											<table  class="table table-bordered table-striped table-booking-history table-hover">
												<thead>
													<tr>
														<th>Travel Date</th>
														<th>From-To</th>
														<th>Service</th>
														<th>Request</th>
														<th>Modified</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<?php if(count($this->completed_trips)>0){



	                                                                                                    foreach($this->completed_trips as $trip){ ?>
													<tr>
														<!--<td>
														<?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?><span class="label label-primary">
														<?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>-->
														<td>
															<?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?>
															<span class="label label-primary">
																<?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?>
															</span>
														</td>
														<td>
															<?=$trip['origin_location'];?> -
															<?=$trip['destination_location'];?>
														</td>
														<td>
															<?=$trip['service'];?>
														</td>
														<td align="center"><? if($trip['people_request_count']>0){  ?>



	                                                                                                                   People:
															<span class="label label-primary">
																<?=$trip['people_request_count'];?>
															</span>
															<br>
																<br>
																	<?php } ?><? if($trip['package_request_count']>0){  ?>



	                                                                                                                    Package:
																	<span class="label label-primary">
																		<?=$trip['package_request_count'];?>
																	</span>
																	<?php } ?>
																</td>
																<td>
																	<?=$this->common()->timeZoneAdjust('m/d/Y',$trip['modified']);?>
																</td>
																<td>
																	<a href="
																		<?php echo $this->basePath();?>/trips/edittrip/
																		<?=$trip['ID'];?>">Edit
																	</a> |
																	<a href="
																		<?php echo $this->basePath();?>/trips/deletetrip/
																		<?=$trip['ID'];?>">Delete
																	</a>
																</td>
															</tr>
															<?php }



	                                                                                                }else{ ?>
															<tr>
																<td colspan="6" align="center">There is no completed trips</td>
															</tr>
															<?php } ?>
														</tbody>
													</table>
												</div>
											</div>
											<!-- tab2 -->
											<div class="tab-pane fade in" id="tab6">
												<div class="row">
													<table  class="table table-bordered table-striped table-booking-history table-hover">
														<thead>
															<tr>
																<th>Travel Date</th>
																<th>From-To</th>
																<th>Service</th>
																<th>Request</th>
																<th>Modified</th>
																<th>Action</th>
															</tr>
														</thead>
														<tbody>
															<?php if(count($this->cancelled_trips)>0){



	                                                                                                    foreach($this->cancelled_trips as $trip){ ?>
															<tr>
																<!--<td>
																<?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?><span class="label label-primary">
																<?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?></span></td>-->
																<td>
																	<?=$this->common()->timeZoneAdjust('D M',$trip['departure_date']);?>
																	<span class="label label-primary">
																		<?=$this->common()->timeZoneAdjust('d',$trip['departure_date']);?>
																	</span>
																</td>
																<td>
																	<?=$trip['origin_location'];?> -
																	<?=$trip['destination_location'];?>
																</td>
																<td>
																	<?=$trip['service'];?>
																</td>
																<td align="center"><? if($trip['people_request_count']>0){  ?>



	                                                                                                                   People:
																	<span class="label label-primary">
																		<?=$trip['people_request_count'];?>
																	</span>
																	<br>
																		<br>
																			<?php } ?><? if($trip['package_request_count']>0){  ?>



	                                                                                                                    Package:
																			<span class="label label-primary">
																				<?=$trip['package_request_count'];?>
																			</span>
																			<?php } ?>
																		</td>
																		<td>
																			<?=$this->common()->timeZoneAdjust('m/d/Y',$trip['modified']);?>
																		</td>
																		<td>
																			<a href="
																				<?php echo $this->basePath();?>/trips/edittrip/
																				<?=$trip['ID'];?>">Edit
																			</a> |
																			<a href="
																				<?php echo $this->basePath();?>/trips/deletetrip/
																				<?=$trip['ID'];?>">Delete
																			</a>
																		</td>
																	</tr>
																	<?php }



	                                                                                               }else{ ?>
																	<tr>
																		<td colspan="6" align="center">There is no cancelled trips</td>
																	</tr>
																	<?php } ?>
																</tbody>
															</table>
														</div>
													</div>
													<!-- tab3 -->
												</div>
												<!-- End tab-content -->
											</div>
											<div class="col-md-3">
												<div class="booking-item-deails-date-location">
													<ul>
														<li>
															<h4>Trepr Benefits</h4>
															<p>
																<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Send your loved ones safely (People)
															</p>
															<p>
																<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Transport your package cheaply (Package)
															</p>
															<p>
																<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Get your tasks done in another location (Product)
															</p>
															<p>
																<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Simply earn in your travel you travel, We Pay You
															</p>
															<p>
																<i class="fa fa-info box-icon-inline box-icon-gray rounded"></i>Find right companion for travel plan trip with our Trepers
															</p>
														</li>
													</ul>
												</div>
												<div class="gap gap-small"></div>
												<ul class="list-inline pull-right">
													<li>
														<a href="
															<?php echo $this->basePath();?>/trips/addtrip" >+Add Trip
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- provider -->
								</div>
								<!-- End tab-content -->
	</div>
</div>
