<?php
//$url="http://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/UK/GBP/en-GB/EDI/LHR/2016-04-15/2016-04-16?apiKey=ra846927894945552494219565854033";
$url="http://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/".$_REQUEST['country']."/".$_REQUEST['currency']."/".$_REQUEST['locale']."/".$_REQUEST['originplace']."/".$_REQUEST['destinationplace']."/".$_REQUEST['outbound']."/".$_REQUEST['inbound']."?apiKey=".$_REQUEST['apikey'];
$ch = curl_init();
    $timeout = 0;
    curl_setopt ($ch, CURLOPT_URL, $url);
    curl_setopt ($ch, CURLOPT_RETURNTRANSFER, 1);

    curl_setopt ($ch, CURLOPT_USERAGENT,
                 "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1)");
    curl_setopt ($ch, CURLOPT_CONNECTTIMEOUT, $timeout);
    $rawdata = curl_exec($ch) or die("Error : ".curl_error());
    curl_close($ch);
    //var_dump($rawdata);
    $vard=  json_decode($rawdata);
   // print_r($vard);
    //echo json_decode($rawdata);
    $j=0;
foreach($vard as $val => $vbn){
    $j++;
    
    if($val=='Quotes'){
       
        foreach($vbn as $val2 =>$vbn2)
        {
           // var_dump($vbn2);
  // echo $vbn2->QuoteId;
  // print_r($vbn2);
             echo '<table style="border-bottom:1px solid #CCC;">';
   echo '<tr><td>QuoteId</td><td>'.$vbn2->QuoteId.'</td></tr>';
   echo '<tr><td>Direct</td><td>'.$vbn2->Direct.'</td></tr>';
   echo '<tr><td>OutboundLeg</td><td>'.$vbn2->OutboundLeg->CarrierIds[0].'</td></tr>';
   echo '<tr><td>DestinationId</td><td>'.$vbn2->OutboundLeg->DestinationId.'</td></tr>';
   echo '<tr><td>DepartureDate</td><td>'.$vbn2->OutboundLeg->DepartureDate.'</td></tr>';
    echo '<tr><td>InboundLeg</td><td>'.$vbn2->InboundLeg->CarrierIds[0].'</td></tr>';
   echo '<tr><td>DestinationId</td><td>'.$vbn2->InboundLeg->DestinationId.'</td></tr>';
   echo '<tr><td>DepartureDate</td><td>'.$vbn2->InboundLeg->DepartureDate.'</td></tr>';
    echo '</table>';
    //exit;
        } 
       
   }
}

/*
$xml = simplexml_load_file($url);
print "<ul>\n";
foreach ($xml->channel->item as $item){
  print "<li>$item->title</li>\n";
}
print "</ul>";*/



/*$ch = curl_init("http://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/UK/GBP/en-GB/EDI/LHR/2016-04-15/2016-04-22?apiKey=ra846927894945552494219565854033");

curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
curl_setopt($ch, CURLOPT_HEADER, 0);

$xml = simplexml_load_string(curl_exec($ch));
curl_close($ch);

print "<ul>\n";
foreach ($xml->BrowseRoutesResponseApiDto->PlaceDto as $item){
  print "<li>$item->Name</li>\n";
}
print "</ul>";*/
/*
$ch = curl_init();
// Disable SSL verification
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
// Will return the response, if false it print the response
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
// Set the url
curl_setopt($ch, CURLOPT_URL,$url);
// Execute
$result=curl_exec($ch);
// Closing
curl_close($ch);

// Will dump a beauty json :3
var_dump(json_decode($result, true));
*/
/*

$outbounddate = date('Y-m-d');
	
	$params = http_build_query(array
	(
		"currency" => 'GBP',
		"country" => 'UK',
		"locale" => 'en-IN',
		"originPlace" => 'EDI',
		"destinationPlace" =>'LHR',
		"outbounddate" => $outbounddate,
		"cabinclass" => 'Economy',
		"adults" => 1
	));
$apikey="prtl6749387986743898559646983194";
$cSession = curl_init(); 
	//step2
	curl_setopt($cSession,CURLOPT_URL,"http://partners.api.skyscanner.net/apiservices/pricing/v1.0?apikey=".$apikey);
	curl_setopt($cSession,CURLOPT_RETURNTRANSFER,true);
	curl_setopt($cSession, CURLOPT_POST, true);
	curl_setopt($cSession,CURLOPT_HEADER, true);
	curl_setopt($cSession, CURLOPT_VERBOSE, 1);
	curl_setopt($cSession, CURLOPT_POSTFIELDS, $params); 
        curl_setopt($cSession,CURLOPT_CONNECTTIMEOUT, 5);
	curl_setopt($cSession,CURLOPT_TIMEOUT , 300);
	curl_setopt($cSession,CURLOPT_HTTPHEADER, array('Content-Type: application/x-www-form-urlencoded', 'Accept: application/json'));
	//step3
	$result = curl_exec($cSession) or die(curl_error($cSession));
        if(!$result)
	{
		die('Error: "' . curl_error($cSession) . '" - Code: ' . curl_errno($cSession));
	}
	else
	{
		echo $result;
            
            
        
        }
        */

/*
$url2='<BrowseRoutesResponseApiDto><Currencies><CurrencyDto><Code>GBP</Code><Symbol>£</Symbol><ThousandsSeparator>,</ThousandsSeparator><DecimalSeparator>.</DecimalSeparator><SymbolOnLeft>true</SymbolOnLeft><SpaceBetweenAmountAndSymbol>false</SpaceBetweenAmountAndSymbol><RoundingCoefficient>0</RoundingCoefficient><DecimalDigits>2</DecimalDigits></CurrencyDto></Currencies><Routes/><Quotes><QuoteDto><QuoteId>1</QuoteId><MinPrice>128</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-11T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-13T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-05T15:31:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>2</QuoteId><MinPrice>125</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-11T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T07:29:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>3</QuoteId><MinPrice>146</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-12T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-13T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T16:11:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>4</QuoteId><MinPrice>147</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-12T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-05T09:10:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>5</QuoteId><MinPrice>135</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-12T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-16T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-06T18:12:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>6</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-12T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T07:30:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>7</QuoteId><MinPrice>125</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-12T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-19T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-06T09:35:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>8</QuoteId><MinPrice>150</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-13T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T14:24:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>9</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-13T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T07:30:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>10</QuoteId><MinPrice>125</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-13T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-19T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-06T08:38:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>11</QuoteId><MinPrice>125</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-13T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-20T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-06T14:46:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>12</QuoteId><MinPrice>125</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T07:31:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>13</QuoteId><MinPrice>128</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-20T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-05T04:40:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>14</QuoteId><MinPrice>137</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-21T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T09:08:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>15</QuoteId><MinPrice>136</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T14:15:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>16</QuoteId><MinPrice>137</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-14T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-29T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T09:25:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>17</QuoteId><MinPrice>126</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-15T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-15T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-05T00:05:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>18</QuoteId><MinPrice>125</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-15T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-17T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-06T11:20:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>19</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-15T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T07:32:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>20</QuoteId><MinPrice>124</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-15T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-08T08:26:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>21</QuoteId><MinPrice>128</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-16T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T07:19:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>22</QuoteId><MinPrice>136</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-16T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-09T08:25:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>23</QuoteId><MinPrice>90</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-17T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-17T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T16:37:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>24</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-17T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-02T14:15:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>25</QuoteId><MinPrice>117</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-20T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-03-28T14:21:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>26</QuoteId><MinPrice>116</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-02T06:57:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>27</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-18T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-02T22:25:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>28</QuoteId><MinPrice>127</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-19T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-19T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T04:00:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>29</QuoteId><MinPrice>117</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-19T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-21T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T09:36:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>30</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-19T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-02T22:26:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>31</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-20T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-21T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-03T09:33:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>32</QuoteId><MinPrice>117</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-20T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-25T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-03-27T18:59:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>33</QuoteId><MinPrice>117</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-21T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-08T11:36:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>34</QuoteId><MinPrice>114</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-21T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-28T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T14:26:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>35</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-09T08:02:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>36</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-03-29T09:11:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>37</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-06T17:10:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>38</QuoteId><MinPrice>114</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-22T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-25T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T15:15:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>39</QuoteId><MinPrice>90</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-03-30T18:11:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>40</QuoteId><MinPrice>117</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-03-30T18:12:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>41</QuoteId><MinPrice>115</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-23T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-30T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T04:25:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>42</QuoteId><MinPrice>90</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-03-30T15:48:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>43</QuoteId><MinPrice>114</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-26T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-05T19:04:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>44</QuoteId><MinPrice>116</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-24T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-29T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-08T22:29:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>45</QuoteId><MinPrice>114</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-25T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-28T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-07T09:52:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>46</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-28T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-28T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T20:38:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>47</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-28T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-29T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-01T16:40:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>48</QuoteId><MinPrice>118</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-28T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-30T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-04T04:03:00</QuoteDateTime></QuoteDto><QuoteDto><QuoteId>49</QuoteId><MinPrice>88</MinPrice><Direct>true</Direct><OutboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>49369</OriginId><DestinationId>65698</DestinationId><DepartureDate>2016-04-30T00:00:00</DepartureDate></OutboundLeg><InboundLeg><CarrierIds><int>881</int></CarrierIds><OriginId>65698</OriginId><DestinationId>49369</DestinationId><DepartureDate>2016-04-30T00:00:00</DepartureDate></InboundLeg><QuoteDateTime>2016-04-08T03:59:00</QuoteDateTime></QuoteDto></Quotes><Places><PlaceDto><PlaceId>49369</PlaceId><IataCode>EDI</IataCode><Name>Edinburgh</Name><Type>Station</Type><CityName>Edinburgh</CityName><CityId>EDIN</CityId><CountryName>United Kingdom</CountryName></PlaceDto><PlaceDto><PlaceId>65698</PlaceId><IataCode>LHR</IataCode><Name>London Heathrow</Name><Type>Station</Type><CityName>London</CityName><CityId>LOND</CityId><CountryName>United Kingdom</CountryName></PlaceDto></Places><Carriers><CarriersDto><CarrierId>881</CarrierId><Name>British Airways</Name></CarriersDto></Carriers></BrowseRoutesResponseApiDto>';

//$xmlfile = file_get_contents($url2);
		$ob= simplexml_load_string($url);
		$json  = json_encode($ob);
		echo $configData = json_decode($json, true);
                print_r($configData);
                
                */
                
                
           //  echo   $xml = simplexml_load_file($url);



//$languages = simplexml_load_file($url);
//print_r($this->rest);
/*
$url="http://www.w3schools.com/xml/note.php";
$ch = curl_init();
    $timeout = 0;
    curl_setopt ($ch, CURLOPT_URL, $url);
    curl_setopt ($ch, CURLOPT_RETURNTRANSFER, 1);

    curl_setopt ($ch, CURLOPT_USERAGENT,
                 "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1)");
    curl_setopt ($ch, CURLOPT_CONNECTTIMEOUT, $timeout);
    $rawdata = curl_exec($ch) or die("Error : ".curl_error());
    curl_close($ch);
    print_r($rawdata);
 
 */
?>