<?php
//$this->headScript()->appendFile($this->common()->Themeurl().'/js/jquery.bootstrap.wizard.js','text/javascript');
$this->headScript()->appendScript(" $('#searchAPI').on('submit', function (event) { 
          $.ajax({
      url: baseurl + '/trips/searchflightview',
          type:'POST',
          data:$('#searchAPI').serialize(),
    cache: false,
    success: function(response){
          // alert(response);
                    $('#showresultvl').html(response);
        }
   });  

});");
?>
<div class='container-fuild'>
	<div class="well well-sm">
		<div class='container'>
			<div class="row">
				<div class='col-sm-4'>				
					<h4>Add Trip Review  </h4>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="gap gap-small"></div>
<form action="" method="post" id="searchAPI" onsubmit="return false;">
	<div class='container'>    
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label>API Key</label> <input type="text" name="apikey" id="apikey" value="prtl6749387986743898559646983194" class="form-control" />
				</div>
			</div>
			
                    <div class="col-xs-3">
				<div class="form-group">
                                    <label>From</label> 
					   <input class="form-control" type="text" name="originplace" id="originplace" value="EDI"/>
                    
				</div>
			</div>
                           <div class="col-xs-3">
				<div class="form-group">
                                    <label>To</label> 
					   <input class="form-control" type="text"name="destinationplace" id="destinationplace" value="LHR"/>
                    
				</div>
			</div>
		</div>
            
            <div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label>Country</label> <input type="text" name="country" id="country" value="UK" class="form-control" />
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
                                    <label>Locale</label> 
					 <input type="text" name="locale" id="locale" value="en-GB" class="form-control" />
                    
				</div>
			</div>
                    <div class="col-xs-3">
				<div class="form-group">
                                    <label>Currency</label> 
					   <input type="text" name="currency" id="currency" value="GBP" class="form-control" />
                    
				</div>
			</div>
                          
		</div>
             <div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label>Outbound</label> <input type="text" name="outbound" id="outbound" value="2016-04-15" class="form-control" />
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
                                    <label>Inbound</label> 
					 <input type="text" name="inbound" id="inbound" value="2016-04-16" class="form-control" />
                    
				</div>
			</div>
                    
                          
		</div>
            
            
            <div class="row">
                <div class="col-xs-12"><input type="submit" name="submit" value="Submit"/></div></div>
		<div class="gap gap-small"></div>
                
                <div id="showresultvl"></div>
	</div>
</form>