<input type="hidden" name="seeker_trip_id" id="seeker_trip_id" value="<?=$this->trip['ID'];?>" >
<input type="hidden" name="traveller_trip_id" id="traveller_trip_id" value="" >
<input type="hidden" name="traveller_people_request_id" id="traveller_people_request_id" value="" >
<input type="hidden" name="traveller_package_request_id" id="traveller_package_request_id" value="" >
<input type="hidden" name="traveller_project_request_id" id="traveller_project_request_id" value="" >
<div class='container-fuild'>
    <div class="well well-sm">
        <div class='container'>
            <div class="row">
                <div class='col-sm-4'>
                    <h4>Travel Details / <small>Small content Goes here</small></h4>
                </div>
				<div class="col-sm-8">
					<?=$this->render('helpers/switch-user.phtml')?>
				</div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
	<div class="row row-wrap">
		<div class="col-sm-3">
			<div class="verify-traveler">
				<header class="clearfix">
					<h5 class="mb0">Verification</h5>
				</header>
				<ul class="verify-traveler-details">
					<li>
						<div class="row">
							<div class="col-xs-9">
								<p class="verify-traveler-detail-item">Email Address:</p>
								<p class="verify-traveler-detail-item-value">xxxxx@xxxx.com</p>
							</div>
							<div class="col-xs-3 row">
								<i class="fa fa-check box-icon-success round center-block"></i>
								<p class="verify-traveler-detail-verify"><small>verified</small></p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-xs-9">
								<p class="verify-traveler-detail-item">Phone Number:</p>
								<p class="verify-traveler-detail-item-value">xxxxxxx972</p>
							</div>
							<div class="col-xs-3 row">
								<i class="fa fa-check box-icon-success round center-block"></i>
								<p class="verify-traveler-detail-verify"><small>verified</small></p>
							</div>
						</div>
					</li>
				</ul>
				<header class="clearfix">
					<h5 class="mb0">Online Account</h5>
				</header>
					<ul class="list list-horizontal">
						<li><i class="fa fa-facebook box-icon-border round animate-icon-bottom-to-top"></i></li>
						<li><i class="fa fa-google-plus box-icon-border round animate-icon-bottom-to-top"></i></li>
						<li><i class="fa fa-twitter box-icon-border round animate-icon-bottom-to-top"></i></li>
						<li><i class="fa fa-linkedin box-icon-border round animate-icon-bottom-to-top"></i></li>
						<li><i class="fa fa-yahoo box-icon-border round animate-icon-bottom-to-top"></i></li>
					</ul>
				<header class="clearfix">
					<h5 class="mb0">Connect with me</h5>
				</header>
				<ul class="verify-traveler-details">
					<li><p class="verify-traveler-detail-total">Social Connect<span></span></p></li>
				</ul>
			</div>
		</div><!-- Left Coloumn -->
		<div class="col-sm-6">
			<div class="panel-group" id="accordion">
				<!-- personal-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#personal-info">Personal Info</a></h4>
					</div>
					<div class="panel-collapse collapse in" id="personal-info">
						<div class="panel-body">
							<dl class="dl-horizontal mb10">
							  <dt>About</dt>
							  <dd><?=$this->user['aboutus'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>First Name</dt>
							  <dd><?=$this->user['first_name'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Last Name</dt>
							  <dd><?=$this->user['last_name'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Age</dt>
							  <dd><?=$this->age;?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Languages Known</dt>
							  <dd><?=$this->user['language'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Home Address</dt>
								<dd>
									<?=$this->user_location['name'];?><br>
									<?=$this->user_location['street_address_1'];?>,<br />
									<? if($this->user_location['street_address_2']){ ?>
									<?=$this->user_location['street_address_2'];?>,<br />
									<?php } ?>
									<?=$this->user_location['city'];?> - <?=$this->user_location['zip_code'];?>,<br />
									<?=$this->user_location['state'];?>,<br />
									<?=$this->user_location['country_name'];?>.
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- personal-info -->
				<!-- travel-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#travel-info">Travel Info</a></h4>
					</div>
					<div class="panel-collapse collapse" id="travel-info">
						<div class="panel-body">
							<dl class="dl-horizontal mb10">
							  <dt>Origin Location</dt>
							  <dd><?=$this->trip['origin_location'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Destination Location</dt>
							  <dd><?=$this->trip['destination_location'];?></dd>
							</dl>
							<div class="row">
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Departure Date</dt>
									  <dd><?=date('m/d/Y',  strtotime($this->trip['departure_date']));?></dd>
									</dl>
									<dl class="dl-horizontal mb10">
									  <dt>Airline Name</dt>
									  <dd><?=$this->trip['airline_name'];?></dd>
									</dl>
								</div>
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Arrival Date</dt>
									  <dd><?=date('m/d/Y',  strtotime($this->trip['arrival_date']));?></dd>
									</dl>
									<dl class="dl-horizontal mb10">
									  <dt>Flight Number</dt>
									  <dd><?=$this->trip['flight_number'];?></dd>
									</dl>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Booking Status</dt>
									  <dd><?=$this->trip['booking_status'];?></dd>
									</dl>
								</div>
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Cabin</dt>
									  <dd><?=$this->trip['cabin'];?></dd>
									</dl>
								</div>
							</div>
							<dl class="dl-horizontal mb10">
							  <dt>Ticket</dt>
							  <dd><img class="img-responsive" src="<?php echo $this->basePath(); ?>/public/img/1024x487.png" /></dd>
							</dl>
							<hr>
							<div class="row">
								<div class="col-xs-6">
								<button type="button" class="btn btn-primary center-block">Check Flight Status</button>
								</div>
								<div class="col-xs-6">
								<button type="button" class="btn btn-primary center-block">Check Availability & Book</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- travel-info -->

                                <? if($this->trip_seeker['passengers']!=''){ ?>
				<!-- people-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info">People Info</a></h4>
					</div>

					<div class="panel-collapse collapse" id="people-info">
						 <div class="panel-body">
							<dl class="dl-horizontal service-description clearfix mb10">
							  <dt>Number of passenger(s) need to be accompanied</dt>
							  <dd class="mt20"><?=$this->trip_seeker['passengers'];?></dd>
                                                          <input type="hidden" name="passengers_count" id="passengers_count" value="<?=$this->trip_seeker['passengers'];?>" >
							</dl>
                                                        <button class="btn btn-primary center-block" type="button" onclick="$('#people-info-request').slideToggle();">Select this Service</button>
							<div class="gap gap-mini"></div>
						</div>

                                                    <div  id="people-info-request" style="display: none;">
                                                        <form class="form-horizontal" id="fromTravellerPeopleRequest" name="fromTravellerPeopleRequest">
                                                            <div class="headline"><p><strong>Provide details about passengers who travel with you</strong></p></div>
                                                            <div class="form-group form-group-select-plus">
                                                                <label class="col-sm-4 control-label">Number of person travelling with the member in this travel</label>
                                                                <div class="col-sm-8">
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options"  name="trip_people_count" id="trip_people_count"  />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_count" id="trip_people_count"  />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_count" id="trip_people_count"  />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_count" id="trip_people_count"  />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden"  name="trip_people_count" id="trip_people_count"  >
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-group-select-plus">
                                                                <label class="col-sm-4 control-label">Number of Male</label>
                                                                <div class="col-sm-8">
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options"  name="trip_people_male_count" id="trip_people_male_count"  />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_male_count" id="trip_people_male_count"  />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_male_count" id="trip_people_male_count"  />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_male_count" id="trip_people_male_count"  />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden"  name="trip_people_male_count" id="trip_people_male_count"  >
                                                                        <option selected="selected">1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-group-select-plus">
                                                                <label class="col-sm-4 control-label">Number of Female</label>
                                                                <div class="col-sm-8">
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options"  name="trip_people_female_count" id="trip_people_female_count"  />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_female_count" id="trip_people_female_count" />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_female_count" id="trip_people_female_count" />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options"  name="trip_people_female_count" id="trip_people_female_count" />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden" name="trip_people_female_count" id="trip_people_female_count" >
                                                                        <option selected="selected">1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">Any Person of age above 60</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control"  name="trip_people_age_bove_60" id="trip_people_age_bove_60" >
                                                                        <option selected="selected">Yes</option>
                                                                        <option>No</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">Any Child below 5 Years Old</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control"   name="trip_people_age_below_5" id="trip_people_age_below_5"  >
                                                                        <option>Yes</option>
                                                                        <option selected="selected">No</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">Comments to this Seeker</label>
                                                                <div class="col-sm-8">
                                                                    <textarea class="form-control"  name="trip_comments" id="trip_comments"  placeholder="Provide your commnts to seeker regarding this service." rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                                <button class="btn btn-primary" type="button" onclick="getPassengersFee();addTravellerPeopleRequest();">Save</button> <button class="btn btn-primary" type="button">Cancel</button>
                                                                <div class="gap gap-mini"></div>
                                                        </form>
                                            </div>

					</div>



				</div>
				<!-- people-info -->
                                <?php } ?>

                                <? if($this->trip_seeker_packages['packages']!=''){ ?>
				<!-- package-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info">Package Info</a></h4>
					</div>
					<div class="panel-collapse collapse" id="package-info">
						<div class="panel-body">
                                                    <form id="fromSeekerPackageRequest" name="fromSeekerPackageRequest">
                                                        <div class="headline"><p><strong>Provide details about packages</strong></p></div>
                                                                <div class="form-group form-group-select-plus">
                                                                    <label class="col-sm-4 control-label">No of individual items need to be carried</label>
                                                                    <div class="col-sm-8">
                                                                    <?=$this->trip_seeker_packages['packages'];?>
                                                                    <input type="hidden" name="packages_count" id="packages_count" value="<?=$this->trip_seeker_packages['packages'];?>" >
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="row" id="packages_box">
                                                                        <div class="col-md-12" id="packages_box_1">
                                                                        <div class="headline"><p><strong>details of Item 1</strong></p></div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-body">
                                                                                <div class="form-group">
                                                                                        <label class="col-sm-4 control-label">Item Name</label>
                                                                                        <div class="col-sm-8">

                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                        <label class="col-sm-4 control-label">Item Description</label>
                                                                                        <div class="col-sm-8">

                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                        <label class="col-sm-4 control-label">Approx. worth of Item</label>
                                                                                        <div class="col-sm-5">

                                                                                        </div>
                                                                                        <div class="col-sm-3">

                                                                                        </div>
                                                                                </div><br>
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label" for="approxweight">Approximate weight</label>
                                                                                    <div class="col-md-4">
                                                                                        <div class="input-group">
                                                                                          <span class="input-group-addon">kg | or</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-4">
                                                                                        <div class="checkbox checkbox-small checkbox-stroke">
                                                                                            <label>Negligible Weight</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group mb0">
                                                                                    <label class="col-md-4 control-label" for="itemsize">Item Size</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-addon">&times;</span>
                                                                                            <span class="input-group-addon">&times;</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-8 col-sm-offset-4">
                                                                                      <p class="text-center mb0">or</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label" for="itemsize">Negligible Size</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="input-group">
                                                                                          <span class="input-group-addon">

                                                                                          </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">Total Weight</label>
                                                                    <div class="col-sm-8">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">Total Worth</label>
                                                                    <div class="col-sm-5">
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Comments to Travelers</label>
                                                                                <div class="col-sm-8">
                                                                                </div>
                                                                </div>
                                                </form>
							<button class="btn btn-primary center-block" type="button" onclick="$('#package-info-request').slideToggle();">Select this Service</button>
							<div class="gap gap-mini"></div>
						</div>

                                                <div  id="package-info-request" style="display: none;">
                                                    <form class="form-horizontal" id="fromTravellerPackageRequest" name="fromTravellerPackageRequest">
							<div class="headline"><p><strong>Provide details about packages</strong></p></div>
							<div class="form-group form-group-select-plus">
								<label class="col-sm-4 control-label">No of baggages carried</label>
								<div class="col-sm-8">
									<div class="btn-group btn-group-select-num" data-toggle="buttons">
									<label class="btn btn-primary active">
                                                                            <input type="radio" name="options" id="packages_count" name="packages_count" />1</label>
									<label class="btn btn-primary">
										<input type="radio" name="options"  id="packages_count" name="packages_count" />2</label>
									<label class="btn btn-primary">
										<input type="radio" name="options"  id="packages_count" name="packages_count" />3</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="packages_count" name="packages_count" />4</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="packages_count" name="packages_count" />5</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="packages_count" name="packages_count" />5+</label>
								</div>
								<select class="form-control hidden" id="packages_count" name="packages_count">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option selected="selected">6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
								</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Weight allowed in airline per baggage</label>
								<div class="col-sm-8">
									<select class="form-control" id="airline_allowed_weight" name="airline_allowed_weight" >
										<option selected="selected">0-100</option>
										<option>101-200</option>
										<option>201-300</option>
										<option>301-400</option>
										<option>401-500</option>
										<option>500+</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Approx.weight carried by you over all</label>
								<div class="col-sm-8">
									<select class="form-control" id="weight_carried" name="weight_carried" >
										<option selected="selected">0-100</option>
										<option>101-200</option>
										<option>201-300</option>
										<option>301-400</option>
										<option>401-500</option>
										<option>500+</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Approx.weight of baggage you can accommodate</label>
								<div class="col-sm-8">
									<select class="form-control" id="weight_accommodate" name="weight_accommodate" >
										<option selected="selected">0-100</option>
										<option>101-200</option>
										<option>201-300</option>
										<option>301-400</option>
										<option>401-500</option>
										<option>500+</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Items that you don't wish to carry</label>
								<div class="col-sm-8">
									<input class="typeahead form-control" placeholder="Ex. Glass, Bottles" type="text" id="not_wish_to_carry" name="not_wish_to_carry"  />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Comment's to this Seeker</label>
								<div class="col-sm-8">
									<textarea class="form-control" placeholder="Provide your commnts to seeker regarding this service." rows="3" id="comment" name="comment" ></textarea>
								</div>
							</div>
                                                        <button class="btn btn-primary" type="button" onclick="getPacakgesFee();addTravellerPackageRequest();">Save</button> <button class="btn btn-primary" type="button">Cancel</button>
                                                        <div class="gap gap-mini"></div>

						</form>
                                                </div>
					</div>
				</div>
				<!-- package-info -->
                                <?php } ?>
                                <? if($this->trip_seeker_projects['tasks']!=''){ ?>
				<!-- project-info -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#project-info">Product Info</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="project-info">
                                            <div class="panel-body">
                                                    <dl class="dl-horizontal service-description clearfix mb10">
                                                            <dt>details about projects
                                                            <br>
                                                            Number of individual tasks need to be performed
                                                            </dt>
                                                            <dd><?=$this->trip_seeker_projects['tasks'];?></dd>
                                                            <input type="hidden" name="projects_count" id="projects_count" value="<?=$this->trip_seeker_projects['tasks'];?>" >
                                                    </dl>
                                                    <button class="btn btn-primary center-block" type="button" data-toggle="collapse" data-target="#p3-project" aria-expanded="false" aria-controls="p3-project">Select this Service</button>
                                                    <div class="gap gap-mini"></div>

                                                    <div class="collapse" id="p3-project">
                                                            <form class="form-horizontal"  id="formTravellerProjectRequest" name="formTravellerProjectRequest">
								<div class="headline"><p><strong>Provide details about products / Tasks you can perform</strong></p></div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Task(s) wish to perform</label>
									<div class="col-sm-8">
                                                                            <select class="form-control" id="task" name="task">
											<option selected="selected">Ex. Reservation</option>
											<option>Ex. Reservation</option>
											<option>Ex. Reservation</option>
											<option>Ex. Reservation</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Dates available</label>
									<div class="col-sm-8">
										<div class="checkbox checkbox-stroke">
											<input id="anydate" class="i-check" type="checkbox"  name="anydate" />Any Date
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">From &amp; To Date</label>
									<div class="col-sm-8">
										<div class="input-daterange" id="datepicker">
											<div class="input-group">
											  <input type="date"   name="project_start_date" id="switchDisabledRadio" class="input-small form-control" name="start" />
											  <span class="input-group-addon">to</span>
											  <input type="date"   name="project_end_date" id="switchDisabledRadio" class="input-small form-control" name="end" />
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Comment's to this Seeker</label>
									<div class="col-sm-8">
										<textarea class="form-control"  id="comment" name="comment" placeholder="Provide your commnts to seeker regarding this service." rows="3"></textarea>
									</div>
								</div>
                                                            <button class="btn btn-primary" type="button" onclick="getProjectsFee();addTravellerProjectRequest();">Save</button> <button class="btn btn-primary" type="button">Cancel</button>
                                                            <div class="gap gap-mini"></div>
							</form>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
				<!-- project-info -->
                                <?php } ?>
			</div>
                    <div class="col-sm-3">
			<div class="verify-traveler">
				<header class="clearfix">
					<h5 class="mb0">Estimated Fee</h5>
				</header>
			</div>
			<div class="row center-block">
				<div class="panel panel-default">
				<div class="panel-body">
                                    <input type="hidden" name="people_service_fee" id="people_service_fee" value="">
                                    <input type="hidden" name="package_service_fee" id="package_service_fee" value="">
                                    <input type="hidden" name="project_service_fee" id="project_service_fee" value="">
                                    <? if($this->trip_seeker['passengers']!=''){ ?>
                                    <p class="text-bigger">People Service:<strong class="pull-right">$ <span id="span_people_service_fee">0.00</span></strong></p>
                                    <?php } ?>
                                    <? if($this->trip_seeker_packages['packages']!=''){ ?>
                                    <p class="text-bigger">Package Service:<strong class="pull-right">$ <span id="span_package_service_fee">0.00</span></strong></p>
                                    <?php } ?>
                                    <? if($this->trip_seeker_projects['tasks']!=''){ ?>
                                    <p class="text-bigger">Product Service:<strong class="pull-right">$ <span id="span_project_service_fee">0.00</span></strong></p>
                                    <?php } ?>
                                    <p class="text-bigger">Total:<strong class="pull-right">$ <span id="span_total_service_fee">0</span>.00</strong></p>
                                    <button onclick="addTravellerTripRequest();" type="button" class="btn btn-primary center-block">Pre Approve</button>
                                    <p class="small">By Clicking you agree to pay total fee and will be charged only when member accepts.</p>
				</div>
				</div>
			</div>

				<div class="sidebar-widget">
					<div class="verify-traveler">
						<header class="clearfix">
							<h5 class="mb0">Potential Users</h5>
						</header>
					</div>
					<div class="panel panel-default">
					<div class="panel-body">
					<ul class="thumb-list thumb-list-right">
						<li>
							<a href="travelers-details.html">
								<img class="rounded" src="<?php echo $this->basePath(); ?>/public/img/70x70.png" alt="username" title="AMaze" />
							</a>
							<div class="thumb-list-item-caption">
								<p class="thumb-list-item-meta">&nbsp;</p>
								<h4 class="thumb-list-item-title"><a href="travelers-details.html"><strong>John smith</strong></a></h4>
								<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>
							</div>
						</li>
						<li>
							<a href="travelers-details.html">
								<img class="rounded" src="<?php echo $this->basePath(); ?>/public/img/70x70.png" alt="username" title="Gamer Chick" />
							</a>
							<div class="thumb-list-item-caption">
								<p class="thumb-list-item-meta">&nbsp;</p>
								<h4 class="thumb-list-item-title"><a href="travelers-details.html"><strong>John smith</strong></a></h4>
								<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>
							</div>
						</li>
						<li>
							<a href="travelers-details.html">
								<img class="rounded" src="<?php echo $this->basePath(); ?>/public/img/70x70.png" alt="username" title="Afro" />
							</a>
							<div class="thumb-list-item-caption">
								<p class="thumb-list-item-meta">&nbsp;</p>
								<h4 class="thumb-list-item-title"><a href="travelers-details.html"><strong>John smith</strong></a></h4>
								<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>
							</div>
						</li>
					</ul>
					<div class="gap gap-small"></div>
					<hr />
					<p class="small">No result or not satisfied with result? Add your trip details, our registered travellers may contact to serve you.</p>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-primary">Add Trip</button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Add Trip</span>
						</button>
						<ul class="dropdown-menu pull-right">
							<li><a href="addtrip-traveler-people.html">People</a></li>
							<li><a href="addtrip-traveler-package.html">Package</a></li>
							<li><a href="addtrip-traveler-project.html">Product</a></li>
						</ul>
					</div>
					</div>
					</div>
				</div>

		</div><!-- Right Coloumn -->
		</div><!-- Center Coloumn -->

	</div>
</div>
