<input type="hidden" name="seeker_trip_id" id="seeker_trip_id" value="" >
<input type="hidden" name="traveller_trip_id" id="traveller_trip_id" value="<?=$this->trip['ID'];?>" >
<input type="hidden" name="seeker_people_request_id" id="seeker_people_request_id" value="" >
<input type="hidden" name="seeker_package_request_id" id="seeker_package_request_id" value="" >
<input type="hidden" name="seeker_project_request_id" id="seeker_project_request_id" value="" >
<div class='container-fuild'>
    <div class="well well-sm">
        <div class='container'>
            <div class="row">
                <div class='col-sm-4'>
                    <h4>Travel Details / <small>Small content Goes here</small></h4>
                </div>
                <div class="col-sm-8">
                    <?=$this->render('helpers/switch-user.phtml')?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
	<div class="row row-wrap">
		<div class="col-sm-3">
			<div class="verify-traveler">
				<header class="clearfix">
					<h5 class="mb0">Verification</h5>
				</header>
				<ul class="verify-traveler-details">

                                    <?php
                                    //print_r($this->userdetails);
                                    foreach($this->userdetails as $key =>$val)
                                    {
                                        ?>
                                    <li>
						<div class="row">
							<div class="col-xs-9">
								<p class="verify-traveler-detail-item"><?=ucfirst(str_replace("_"," ",$key));?>:</p>
								<p class="verify-traveler-detail-item-value"><?=$val[0];?></p>
							</div>
							<div class="col-xs-3 row">
                                                            <?php
                                                            if($val[1]==1){
                                                                ?>

								<i class="fa fa-check box-icon-success round center-block"></i>
								<p class="verify-traveler-detail-verify"><small>verified</small></p>
                                                            <?php }else{
                                                                ?>
                                                                <i class="fa fa-check box-icon-error round center-block"></i>
								<p class="verify-traveler-detail-verify"><small>Not verified</small></p>
                                                                <?php
                                                            }?>
							</div>
						</div>
					</li>
                                    <?php
                                    }
                                    ?>
                                        <!--

					<li>
						<div class="row">
							<div class="col-xs-9">
								<p class="verify-traveler-detail-item">Email Address:</p>
								<p class="verify-traveler-detail-item-value">xxxxx@xxxx.com</p>
							</div>
							<div class="col-xs-3 row">
								<i class="fa fa-check box-icon-success round center-block"></i>
								<p class="verify-traveler-detail-verify"><small>verified</small></p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-xs-9">
								<p class="verify-traveler-detail-item">Phone Number:</p>
								<p class="verify-traveler-detail-item-value">xxxxxxx972</p>
							</div>
							<div class="col-xs-3 row">
								<i class="fa fa-check box-icon-success round center-block"></i>
								<p class="verify-traveler-detail-verify"><small>verified</small></p>
							</div>
						</div>
					</li>
                                        -->
				</ul>
				<header class="clearfix">
					<h5 class="mb0">Online Account</h5>
				</header>
				<ul class="list list-horizontal">
					<li><i class="fa fa-facebook box-icon-border round animate-icon-bottom-to-top"></i></li>
					<li><i class="fa fa-google-plus box-icon-border round animate-icon-bottom-to-top"></i></li>
					<li><i class="fa fa-twitter box-icon-border round animate-icon-bottom-to-top"></i></li>
					<li><i class="fa fa-linkedin box-icon-border round animate-icon-bottom-to-top"></i></li>
					<li><i class="fa fa-yahoo box-icon-border round animate-icon-bottom-to-top"></i></li>
				</ul>
				<header class="clearfix">
					<h5 class="mb0">Reference</h5>
				</header>
				<ul class="verify-traveler-details">
					<li><p class="verify-traveler-detail-total">Reference Goes Here<span></span></p></li>
				</ul>
			</div>
		</div><!-- Left Coloumn -->
		<div class="col-sm-6">
			<div class="panel-group" id="accordion">
				<!-- personal-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#personal-info">Personal Info</a></h4>
					</div>
					<div class="panel-collapse collapse in" id="personal-info">
						<div class="panel-body">
							<dl class="dl-horizontal mb10">
							  <dt>About Name</dt>
							  <dd><?=$this->user['aboutus'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>First Name</dt>
							  <dd><?=$this->user['first_name'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Last Name</dt>
							  <dd><?=$this->user['last_name'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Age</dt>
							  <dd><?=$this->age;?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Languages Known</dt>
							  <dd><?=$this->user['language'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Home Address</dt>
								<dd>
									<?=$this->user_location['name'];?><br>
									<?=$this->user_location['street_address_1'];?>,<br />
									<? if($this->user_location['street_address_2']){ ?>
									<?=$this->user_location['street_address_2'];?>,<br />
									<?php } ?>
									<?=$this->user_location['city'];?> - <?=$this->user_location['zip_code'];?>,<br />
									<?=$this->user_location['state'];?>,<br />
									<?=$this->user_location['country_name'];?>.
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- personal-info -->

				<!-- travel-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#travel-info">Travel Info</a></h4>
					</div>
					<div class="panel-collapse collapse" id="travel-info">
						<div class="panel-body">
							<dl class="dl-horizontal mb10">
							  <dt>Origin Location</dt>
							  <dd><?=$this->trip['origin_location'];?></dd>
							</dl>
							<dl class="dl-horizontal mb10">
							  <dt>Destination Location</dt>
							  <dd><?=$this->trip['destination_location'];?></dd>
							</dl>
							<div class="row">
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Departure Date</dt>
									  <dd><?=date('m/d/Y',  strtotime($this->trip['departure_date']));?></dd>
									</dl>
									<dl class="dl-horizontal mb10">
									  <dt>Airline Name</dt>
									  <dd><?=$this->trip['airline_name'];?></dd>
									</dl>
								</div>
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Arrival Date</dt>
									  <dd><?=date('m/d/Y',  strtotime($this->trip['arrival_date']));?></dd>
									</dl>
									<dl class="dl-horizontal mb10">
									  <dt>Flight Number</dt>
									  <dd><?=$this->trip['flight_number'];?></dd>
									</dl>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Booking Status</dt>
									  <dd><?=$this->trip['booking_status'];?></dd>
									</dl>
								</div>
								<div class="col-xs-6">
									<dl class="dl-horizontal mb10">
									  <dt>Cabin</dt>
									  <dd><?=$this->trip['cabin'];?></dd>
									</dl>
								</div>
							</div>
							<dl class="dl-horizontal mb10">
							  <dt>Ticket</dt>
							  <dd><img class="img-responsive" src="<?php echo $this->basePath(); ?>/public/img/1024x487.png" /></dd>
							</dl>
							<hr>
							<div class="row">
								<div class="col-xs-6">
								<button type="button" class="btn btn-primary center-block">Check Flight Status</button>
								</div>
								<div class="col-xs-6">
								<button type="button" class="btn btn-primary center-block">Check Availability & Book</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- travel-info -->

				<? if($this->trip_traveller['persons_travelling']!=''){ ?>
				<!-- people-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info">People Info</a></h4>
					</div>
					<div class="panel-collapse collapse" id="people-info">
						<div class="panel-body">
							<dl class="dl-horizontal service-description clearfix mb10">
							  <dt>Number of person travelling with the member in this travel</dt>
							  <dd class="mt20"><?=$this->trip_traveller['persons_travelling'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
							  <dt>Number of Male</dt>
							  <dd><?=$this->trip_traveller['male_count'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
							  <dt>Number of Female</dt>
							  <dd><?=$this->trip_traveller['female_count'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
							  <dt>Any Person of age above 60</dt>
							  <dd><?=$this->trip_traveller['age_above_60_years'];?></dd>
							</dl>
																<dl class="dl-horizontal service-description mb10">
							  <dt>Any Child below 5 Years Old</dt>
							  <dd><?=$this->trip_traveller['age_below_3_years'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
							  <dt>Comments to this Seeker</dt>
							  <dd><?=$this->trip_traveller['comment'];?></dd>
							</dl>
							<button class="btn btn-primary center-block" type="button" onclick="$('#people-info-request').slideToggle();">Select this Service</button>
							<div class="gap gap-mini"></div>
						</div>
						<div  id="people-info-request" style="display: none;">
							<form name="fromSeekerPeopleRequest" id="fromSeekerPeopleRequest">
								<div class="panel-body">
									<dl class="dl-horizontal service-description clearfix mb10">
										<dt>Number of passenger(s) need to be accompanied</dt>
										<dd class="mt20">
											<input type="hidden" name="selected_passengers" id="selected_passengers" value="1">
											<select name="passengers_count"  id="passengers_count" class="form-control" onchange="addRemovePassengers(this.value);">
												<option value="1" selected="selected">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</dd>
									</dl>
									<div class="row" id="passenger_box">
										<div class="col-md-12" id="passenger_box_1">
											<div class="headline"><p><strong>details of passenger 1</strong></p></div>
											<div class="panel panel-default">
												<div class="panel-body">
													<dl class="dl-horizontal service-description mb10">
														<dt>First Name</dt>
														<dd><input type="text" name="passenger_first_name_1" id="passenger_first_name_1" class="form-control"></dd>
													</dl>
													<dl class="dl-horizontal service-description mb10">
														<dt>Last Name</dt>
														<dd><input type="text" name="passenger_last_name_1" id="passenger_last_name_1" class="form-control"></dd>
													</dl>
													<dl class="dl-horizontal service-description mb10">
														<dt>Gender</dt>
														<dd>
															<select name="passenger_gender_1" id="passenger_gender_1">
																<option value="male"> male </option>
																<option value="female"> female </option>
															</select>
														</dd>
													</dl>
													<dl class="dl-horizontal service-description mb10">
														<dt>Age</dt>
														<dd><input type="text" name="passenger_age_1" id="passenger_age_1" class="form-control"></dd>
													</dl>
												</div>
											</div>
										</div>
									</div>
									<dl class="dl-horizontal service-description mb10">
										<dt>Contact Name</dt>
										<dd><input type="text" name="contact_name" id="contact_name" class="form-control"></dd>
									</dl>
									<dl class="dl-horizontal service-description mb10">
										<dt>Contact Number</dt>
										<dd><input type="text" name="contact_number" id="contact_number" class="form-control"></dd>
									</dl>
									<dl class="dl-horizontal service-description mb10">
										<dt>Email Address</dt>
										<dd><input type="text" name="email_address" id="email_address" class="form-control"></dd>
									</dl>
									<dl class="dl-horizontal service-description mb10">
										<dt>Member's Comments</dt>
										<dd><textarea  class="form-control" name="comments"  id="comments"></textarea></dd>
									</dl>
									<button class="btn btn-primary" type="button" onclick="getPassengersFee();addSeekerPeopleRequest();">Save</button>
									<button class="btn btn-primary" type="button">Cancel</button>
									<div class="gap gap-mini"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- people-info -->
				<?php } ?>

				<? if($this->trip_travaller_packages['packages_count']!=''){ ?>
				<!-- package-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info">Package Info</a></h4>
					</div>
					<div class="panel-collapse collapse" id="package-info">
						<div class="panel-body">
							<dl class="dl-horizontal service-description clearfix mb10">
								<dt>No of individual items need to be carried</dt>
								<dd class="mt20"><?=$this->trip_travaller_packages['packages_count'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description clearfix mb10">
								<dt>Weight allowed in airline per baggage</dt>
								<dd><?=$this->trip_travaller_packages['airline_allowed_weight'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description clearfix mb10">
								<dt>Approx.weight carried by you over all</dt>
								<dd><?=$this->trip_travaller_packages['weight_carried'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
								<dt>Approx.weight of baggage you can accommodate</dt>
								<dd><?=$this->trip_travaller_packages['weight_accommodate'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
								<dt>Items that you don't wish to carry</dt>
								<dd><?=$this->trip_travaller_packages['not_wish_to_carry'];?></dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
								<dt>Comment's to this Seeker</dt>
								<dd><?=$this->trip_travaller_packages['comment'];?></dd>
							</dl>
							<button class="btn btn-primary center-block" type="button" onclick="$('#package-info-request').slideToggle();">Select this Service</button>
							<div class="gap gap-mini"></div>
						</div>
						<div  id="package-info-request" style="display: none;">
							<form id="fromSeekerPackageRequest" name="fromSeekerPackageRequest">
									<div class="headline"><p><strong>Provide details about packages</strong></p></div>
											<div class="form-group form-group-select-plus">
												<label class="col-sm-4 control-label">No of individual items need to be carried</label>
												<div class="col-sm-8">
												<input type="hidden" name="selected_packages" id="selected_packages" value="1">
												<select class="form-control"  id="packages_count" name="packages_count"   onchange="addRemovePackages(this.value);">
													<option selected="selected" value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-12">
													<div class="row" id="packages_box">
													<div class="col-md-12" id="packages_box_1">
													<div class="headline"><p><strong>details of Item 1</strong></p></div>
													<div class="panel panel-default">
														<div class="panel-body">
															<div class="form-group">
																	<label class="col-sm-4 control-label">Item Name</label>
																	<div class="col-sm-8">
																		<input type="text" name="item_name_1" id="item_name_1" class="form-control" placeholder="Ex. Gift Box" aria-describedby="Item Name" />
																	</div>
															</div>
															<div class="form-group">
																	<label class="col-sm-4 control-label">Item Description</label>
																	<div class="col-sm-8">
																	  <input type="text" class="form-control" name="item_description_1" id="item_description_1"  placeholder="Ex. Titan Watch with covered box" aria-describedby="Item Description" />
																	</div>
															</div>
															<div class="form-group">
																	<label class="col-sm-4 control-label">Approx. worth of Item</label>
																	<div class="col-sm-5">
																					<input type="number" name="item_worth_1" id="item_worth_1"  class="form-control" aria-label="Amount (to the nearest dollar)">
																	</div>
																	<div class="col-sm-3">
																			<select class="form-control" name="item_worth_currency_1" id="item_worth_currency_1" >
																					<option value="USD $">USD $</option>
																					<option value="EUR &euro;">EUR &euro;</option>
																					<option value="GBP &pound;">GBP &pound;</option>
																			</select>
																	</div>
															</div><br>
															<div class="form-group">
																<label class="col-md-4 control-label" for="approxweight">Approximate weight</label>
																<div class="col-md-4">
																	<div class="input-group">
																	  <input type="number" id="item_weight_1" name="item_weight_1" class="form-control" placeholder="Weight" />
																	  <span class="input-group-addon">kg | or</span>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="checkbox checkbox-small checkbox-stroke">
																		<label><input class="i-check" type="checkbox" id="negligible_weight_1" name="neglible_weight_1" />Negligible Weight</label>
																	</div>
																</div>
															</div>
															<div class="form-group mb0">
																<label class="col-md-4 control-label" for="itemsize">Item Size</label>
																<div class="col-md-8">
																	<div class="input-group">
																		<input type="number" class="form-control" placeholder="L" id="item_length_1" name="item_length_1"  />
																		<span class="input-group-addon">&times;</span>
																		<input type="number" class="form-control" placeholder="W" id="item_width_1" name="item_width_1" />
																		<span class="input-group-addon">&times;</span>
																		<input type="number" class="form-control" placeholder="H" id="item_height_1" name="item_height_1" />
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-8 col-sm-offset-4">
																  <p class="text-center mb0">or</p>
																</div>
															</div>
															<div class="form-group">
																<label class="col-md-4 control-label" for="itemsize">Negligible Size</label>
																<div class="col-md-8">
																	<div class="input-group">
																	  <span class="input-group-addon">
																			<input type="checkbox" aria-label="Negligible Size">
																	  </span>
																		<input type="text" id="negligible_size_1"  name="negligible_size_1" class="form-control"  placeholder="Negligible Size" aria-label="Negligible Size" readonly />
																	</div>
																</div>
															</div>
														</div>
													</div>
													</div>
													</div>
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-4 control-label">Total Weight</label>
												<div class="col-sm-8">
												  <input type="text" class="form-control"  id="total_weight"  name="total_weight" >
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label">Total Worth</label>
												<div class="col-sm-5">
													<input type="text" class="form-control"  id="total_wortht"  name="total_worth">
												</div>
												<div class="col-sm-3">
													<select class="form-control"  id="total_worth_currency"  name="total_worth_currency">
														<option value="USD $">USD $</option>
														<option value="EUR &euro;">EUR &euro;</option>
														<option value="GBP &pound;">GBP &pound;</option>
													</select>
												</div>
											</div>
											<div class="headline"><p><strong>Contact details of person who collects packages at the destination</strong></p></div>
											<div class="form-group">
												<label class="col-sm-4 control-label">Contact Name</label>
												<div class="col-sm-8">
												  <input type="text" class="form-control" placeholder="Enter your Full Name"  id="contact_name"  name="contact_name">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label">Contact Number</label>
												<div class="col-sm-8">
												  <input type="text" class="form-control" placeholder="Country code + Number"  id="contact_number"  name="contact_number">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label">Email Address</label>
												<div class="col-sm-8">
												  <input type="text" class="form-control" placeholder="Enter your Email"   id="contact_email_address"  name="contact_email_address">
												</div>
											</div>
											<div class="form-group">
															<label class="col-sm-4 control-label">Comments to Travelers</label>
															<div class="col-sm-8">
																			<textarea   id="comments"  name="comments" class="form-control" placeholder="Provide your commnts to Travelers regarding your package requirments." rows="3"></textarea>
															</div>
											</div>
											<div class="form-group">
															<div class="col-sm-8 col-sm-offset-4 text-right">
																<input type="button" class="btn btn-primary" value="Save" onclick="addSeekerPackageRequest();getPacakgesFee();">
																<input type="button" class="btn" value="Cancel">
															</div>
											</div>
							</form>
						</div>
					</div>
				</div>
				<!-- package-info -->
				<?php } ?>

				<? if($this->trip_travaller_projects['task']!=''){ ?>
				<!-- project-info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#project-info">Product Info</a></h4>
					</div>
					<div class="panel-collapse collapse" id="project-info">
						<div class="panel-body">
							<dl class="dl-horizontal service-description clearfix mb10">
								<dt>Task(s) wish to perform</dt>
								<dd>
									<?php
									if(count($this->trip_travaller_projects_tasks)>0){
										foreach($this->trip_travaller_projects_tasks as $task){ ?>
										<abbr title="<?=$task;?>"><?=$task;?></abbr>,
										<?php }
									}
									?>
								</dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
								<dt>Dates available Available</dt>
								<dd>
									<?php if($this->trip_travaller_projects['dates_available']=='1'){
										echo 'Any Date';
									}else{
										echo '---';
									} ?>
								</dd>
							</dl>
							<dl class="dl-horizontal service-description mb10">
								<dt>From & To Date</dt>
								<dd><?=date('d M Y',  strtotime($this->trip_travaller_projects['start_date']));?> <kbd>TO</kbd> <?=date('d M Y',  strtotime($this->trip_travaller_projects['end_date']));?></dd>
							</dl>
							<button class="btn btn-primary center-block" type="button" data-toggle="collapse" data-target="#p3-project" aria-expanded="false" aria-controls="p3-project">Select this Service</button>
							<div class="gap gap-mini"></div>

							<div class="collapse" id="p3-project">
								<form class="form-horizontal" id="formSeekerProjectRequest" name="formSeekerProjectRequest" >
									<div class="headline"><p><strong>Provide details about projects</strong></p></div>
									<div class="form-group form-group-select-plus">
										<label class="col-sm-4 control-label">Number of individual tasks need to be performed</label>
										 <div class="col-sm-8">
										<input type="hidden" name="selected_projects" id="selected_projects" value="1">
										<select class="form-control"  id="projects_count" name="projects_count"     onchange="addRemoveProjects(this.value);">s
											<option selected="selected" value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										</div>
									</div>
									<div class="form-group row" id="projects_box">
										<div class="col-md-12">
											<div class="headline"><p><strong>details of Task 1</strong></p></div>
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="form-group">
														<label class="col-sm-4 control-label">Task Category</label>
														<div class="col-sm-8">
															<select class="form-control"  id="task_category_1" name="task_category_1">
																<option value=""> - select - </option>
																	<?php
																	if(count($this->project_tasks_categories)>0){
																		foreach($this->project_tasks_categories as $tasks_category){ ?>
																			<option value="<?=$tasks_category['ID'];?>"><?=$tasks_category['name'];?></option>
																	<?    }
																	}
																	?>
																</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">Task Description</label>
														<div class="col-sm-8">
															<textarea class="form-control" id="task_description_1" name="task_description_1" placeholder="Ex. I need train tickets booked from Mumbai to Chennai on 5th January 2016 in 2nd AC class." rows="3"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">Type of Additional Task Requirements</label>
														<div class="col-sm-8">
															<select class="form-control" id="additional_requirements_category_1" name="additional_requirements_category_1">
																	<option value=""> - select - </option>
																	<?php
																	if(count($this->project_tasks_categories)>0){
																		foreach($this->project_tasks_categories as $tasks_category){ ?>
																			<option value="<?=$tasks_category['ID'];?>"><?=$tasks_category['name'];?></option>
																	<?    }
																	}
																	?>
																</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">Additional cost Involved</label>
														<div class="col-sm-5">
															<input type="number" class="form-control" aria-label="Cost (in dollar)" id="additional_fee_1" name="additional_fee_1" >
														</div>
														<div class="col-sm-3">
															<select class="form-control"  id="additional_fee_currency_1" name="additional_fee_currency_1">
																<option value="USD $">USD $</option>
																<option value="EUR &euro;">EUR &euro;</option>
																<option value="GBP &pound;">GBP &pound;</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="headline"><p><strong>Contact details of peson at task location</strong></p></div>
									<div class="form-group row">
										<label class="col-sm-4 control-label">Contact Name</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Enter your Full Name">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 control-label">Contact Number</label>
										<div class="col-sm-8">
										  <input type="text" class="form-control" id="contact_number" name="contact_number"  placeholder="Country code + Number">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 control-label">Email Address</label>
										<div class="col-sm-8">
										  <input type="text" class="form-control" id="email_address" name="email_address"  placeholder="Enter your Email">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Comment's to this Travelers</label>
										<div class="col-sm-8">
											<textarea class="form-control" id="comments" name="comments"  placeholder="Provide your commnts to Travelers regarding your project requirments." rows="3"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-4 text-right">
											<input type="button" class="btn btn-primary" value="Save" onclick="addSeekerProjectRequest();getProjectsFee();" >
											<input type="button" class="btn" value="Cancel">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- project-info -->
				<?php } ?>

				<!-- Review Info -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#review-info">Review</a></h4>
					</div>
					<div class="panel-collapse collapse" id="review-info">
						<div class="panel-body">
							<div class="row row-wrap">
								<div class="col-md-12">
                                                                    <?php
                                                                    //print_r($this->reviewall);
                                                                    ?>
									<ul class="booking-item-reviews list">
                                                                            <?php

                                                                            foreach($this->reviewall as $key =>$val)
                                                                            {?>
										<li>
											<div class="row">
												<div class="col-md-2">
													<div class="booking-item-review-person">
														<a class="booking-item-review-person-avatar round" href="#">
                                                                                                                    <?php
                                                                                                                    $phtoto_pathv=$this->clienturl."/temp/".$val['image'];
                                                                                                                    if($val['image']!='' && file_exists($phtoto_pathv)){$phtoto_path=$phtoto_pathv;}else{$phtoto_path=$this->themeUrl(THEMENAME)."/img/70x70.png";} ?>
                                                                                                                    <img src="<?=$phtoto_path;?>" alt="<?=$val['first_name'].' '.$val['last_name'];?>" title="<?=$val['first_name'].' '.$val['last_name'];?>" />
                                                                                                                </a>
														<p class="booking-item-review-person-name"><a href="#"><?=$val['first_name'].' '.$val['last_name'];?></a></p>
														<!--<p class="booking-item-review-person-loc">Palm Beach, FL</p><small><a href="#">143 Reviews</a></small>-->
													</div>
												</div>
												<div class="col-md-10">
													<div class="booking-item-review-content">
														<h5><?=$val['name'];?></h5>
                                                                                                                <?php
                                                                                                                $ratary=array("1","2","3","4","5");
                                                                                                                ?>
														<ul class="icon-group booking-item-rating-stars">
                                                                                                                    <?php
                                                                                                                    $hnm=$val['rating'];

                                                                                                                   $jkl=0;
                                                                                                                    foreach($ratary as $key => $vall)
                                                                                                                    {
                                                                                                                        if($key==4 && $jkl==1){break;}
                                                                                                                        if(($vall<$hnm) && (($vall+1)>$hnm))
                                                                                                                        {
                                                                                                                             echo '<li><i class="fa fa-star"></i></li>';
                                                                                                                            echo '<li><i class="fa fa-star-half-o"></i></li>';
                                                                                                                            $jkl=1;
                                                                                                                        }elseif($vall<=$hnm)
                                                                                                                        {
                                                                                                                             echo '<li><i class="fa fa-star"></i></li>';
                                                                                                                        }else{
                                                                                                                             echo '<li><i class="fa fa-star-o"></i></li>';
                                                                                                                        }
                                                                                                                    }
                                                                                                                    ?>
															<!--<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-half-o"></i></li>
															<li><i class="fa fa-star-o"></i></li>
															<li><i class="fa fa-star-o"></i></li>-->
														</ul>
														<p>
                                                                                                                    <?=$val['message'];?>
															<!--<span class="booking-item-review-more"> Eu nisl volutpat nam per primis dictum hendrerit gravida facilisis porta pretium erat turpis erat vivamus torquent ornare bibendum vitae dui congue torquent aptent placerat in tortor arcu eu blandit sit fusce lorem eu tortor proin egestas neque senectus netus ac augue senectus pulvinar rutrum habitasse nostra montes aenean mauris lacinia sociosqu posuere curabitur vestibulum venenatis euismod habitasse litora rhoncus purus pretium nullam nibh montes gravida pharetra eu parturient semper</span>-->
														</p>

														<!--<div class="booking-item-review-expand"><span class="booking-item-review-expand-more">More <i class="fa fa-angle-down"></i></span><span class="booking-item-review-expand-less">Less <i class="fa fa-angle-up"></i></span>
														</div>-->
														<div class="row">
															<div class="col-md-6">
																<p class="booking-item-review-rate">Start Date :<?=date("d-M-Y",strtotime($val['departure_date']));?> </p>
															</div>
															<div class="col-md-6">
																<p class="text-small text-right">End Date : <?=date("d-M-Y",strtotime($val['arrival_date']));?> </p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>


                                                                                <?php }?>





									</ul>
									<!--<div class="row wrap">
										<div class="col-md-3 col-md-offset-2">
											<p><small>30 reviews on this page.</small></p>
										</div>
										<div class="col-md-7">
											<ul class="pagination pull-right">
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
												<li><a href="#">6</a></li>
												<li><a href="#">7</a></li>
												<li class="dots">...</li>
												<li><a href="#">10</a></li>
												<li class="next"><a href="#">Next Page</a></li>
											</ul>
										</div>
									</div>-->
									<div class="gap gap-small"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Review Info -->
			</div>
		</div><!-- Center Coloumn -->
		<div class="col-sm-3">
			<div class="verify-traveler">
				<header class="clearfix">
					<h5 class="mb0">Estimated Fee</h5>
				</header>
			</div>
			<div class="row center-block">
				<div class="panel panel-default">
					<div class="panel-body">
						<input type="hidden" name="people_service_fee" id="people_service_fee" value="">
						<input type="hidden" name="package_service_fee" id="package_service_fee" value="">
						<input type="hidden" name="project_service_fee" id="project_service_fee" value="">
						<? if($this->trip_traveller['persons_travelling']!=''){ ?>
						<p class="text-bigger">People Service:<strong class="pull-right">$ <span id="span_people_service_fee">0.00</span></strong></p>
						<?php } ?>
						<? if($this->trip_travaller_packages['packages_count']!=''){ ?>
						<p class="text-bigger">Package Service:<strong class="pull-right">$ <span id="span_package_service_fee">0.00</span></strong></p>
						<?php } ?>
						<? if($this->trip_travaller_projects['task']!=''){ ?>
						<p class="text-bigger">Product Service:<strong class="pull-right">$ <span id="span_project_service_fee">0.00</span></strong></p>
						<?php } ?>
						<p class="text-bigger">Total:<strong class="pull-right">$ <span id="span_total_service_fee">0</span>.00</strong></p>
						<button onclick="addSeekerTripRequest();" type="button" class="btn btn-primary center-block">Send Request</button>
						<p class="small">By Clicking you agree to pay total fee and will be charged only when member accepts.</p>
					</div>
				</div>
			</div>
			<div class="sidebar-widget">
				<div class="verify-traveler">
					<header class="clearfix">
						<h5 class="mb0">Potential Users</h5>
					</header>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="thumb-list thumb-list-right">
							<li>
								<a href="travelers-details.html">
									<img class="rounded" src="<?php echo $this->basePath(); ?>/public/img/70x70.png" alt="username" title="AMaze" />
								</a>
								<div class="thumb-list-item-caption">
									<p class="thumb-list-item-meta">&nbsp;</p>
									<h4 class="thumb-list-item-title"><a href="travelers-details.html"><strong>John smith</strong></a></h4>
									<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>
								</div>
							</li>
							<li>
								<a href="travelers-details.html">
									<img class="rounded" src="<?php echo $this->basePath(); ?>/public/img/70x70.png" alt="username" title="Gamer Chick" />
								</a>
								<div class="thumb-list-item-caption">
									<p class="thumb-list-item-meta">&nbsp;</p>
									<h4 class="thumb-list-item-title"><a href="travelers-details.html"><strong>John smith</strong></a></h4>
									<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>
								</div>
							</li>
							<li>
								<a href="travelers-details.html">
									<img class="rounded" src="<?php echo $this->basePath(); ?>/public/img/70x70.png" alt="username" title="Afro" />
								</a>
								<div class="thumb-list-item-caption">
									<p class="thumb-list-item-meta">&nbsp;</p>
									<h4 class="thumb-list-item-title"><a href="travelers-details.html"><strong>John smith</strong></a></h4>
									<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>
								</div>
							</li>
						</ul>
						<div class="gap gap-small"></div>
						<hr />
						<p class="small">No result or not satisfied with result? Add your trip details, our registered travellers may contact to serve you.</p>
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-primary">Add Trip</button>
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Add Trip</span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="addtrip-traveler-people.html">People</a></li>
								<li><a href="addtrip-traveler-package.html">Package</a></li>
								<li><a href="addtrip-traveler-project.html">Product</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Right Coloumn -->
	</div>
</div>
