<div class="sidebar-wrap">
    <aside class="user-profile-sidebar">
        <div class="user-profile-avatar text-center">
            <?php
			if(!empty($reviews)){
	$rev = array();
	foreach($reviews as $review){
		$rev[] = $review['rating'];
	}
	$total_ratings = array_sum($rev)/count($rev);
}else{
	$total_ratings = 0;
}
            if(isset($comSessObj->user['image']) && !empty($comSessObj->user['image'])){
                if(strpos($comSessObj->user['image'], "http") !== false){
                    $img = $comSessObj->user['image'];
                }else{
                    $img = $this->basePath().'/public/uploads/profile_picture/small/'.$comSessObj->user['image'];
                }
            }else{
                $img = $this->basePath().'/public/default_user.png';
            }
            ?> 
			<div class="user-pro-img"><img src="<?= $img; ?>" alt="<?= $comSessObj->user['first_name']; ?>" title="<?= $comSessObj->user['first_name']; ?>&nbsp;<?= $comSessObj->user['last_name']; ?>" height="100" width="110"/>
			<div class="profile-details">
			<!--h5><?= $comSessObj->user['first_name']; ?></h5-->
            <p class="mb0">Member Since
                <?php echo date(' M Y', strtotime($comSessObj->user['created'])) ?>
            </p>
            <!-- <p class="mb0">Member Since May 2012</p> -->
            <p><img src="<?php echo $this->basePath();?>/public/img/star_<?= round($total_ratings);?>.png"></p>
			</div>
			</div>
        </div>
        <ul class="tabs list user-profile-nav">
            <li <?php echo ($active_tab == 'notification')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount"><i class="fa fa-flag"></i>Notification</a></li>
            <li <?php echo ($active_tab == 'payment_method')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount/payment-method"><i class="fa fa-credit-card"></i>Payment method</a></li>
            <li <?php echo ($active_tab == 'payout_method')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount/payout-method"><i class="fa fa-credit-card"></i>Payout method</a></li>
            <li <?php echo ($active_tab == 'transaction_history')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount/transaction-history"><i class="fa fa-credit-card"></i>Transaction History</a></li>
            <li <?php echo ($active_tab == 'privacy')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount/privacy"><i class="fa fa-legal"></i>Privacy</a></li>
            <li <?php echo ($active_tab == 'security')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount/security"><i class="fa fa-lock"></i>Security</a></li>
            <li <?php echo ($active_tab == 'setting')?'class="active"':""; ?>><a href="<?php echo $this->basePath(); ?>/myaccount/setting"><i class="fa fa-cog"></i>Setting</a></li>
        </ul>
    </aside>
</div>