<!-- Start add-payout-method Lightbox  -->
<div id="add-payout-method" class="mfp-with-anim mfp-hide mfp-dialog">
    <form role="form" name="payoutMethodForm" id="payoutMethodForm" method="POST" action="">
        <input type="hidden" name="action" id="action" value="add" />
        <input type="hidden" name="edit_id" id="edit_id" value="" />
        <div class="head-wrap">
            <h4 class="tab-heading">Add Payout Method</h4>
            <button class="mfp-close" type="button" title="%title%">×</button>
        </div>
        <div id="payoutAddress">
            <div class="form-group">
                <label for="payout_country">Country  <span style="color:red;">&nbsp;*</span></label>
                <select class="form-control" id="payout_country" name="payout_country">
                    <option value="">-- Select --</option>
                    <?php if(!empty($this->countries)){
                        foreach ($this->countries as $country){ ?>
                            <option value="<?php echo $country['code'] ?>"><?php echo $country['name'] ?></option>
                    <?php }
                    } ?>
                </select>
                <p class="text-danger err_msg" id="err_payout_country"></p>
            </div>
            <div class="form-group">
                <label for="payout_address1">Address <span style="color:red;">&nbsp;*</span></label>
                <input type="text" class="form-control" id="payout_address1" name="payout_address1">
                <p class="text-danger err_msg" id="err_payout_address1"></p>
            </div>
            <div class="form-group">
                <label for="payout_address2">Address 2 / Zone <span style="color:red;">&nbsp;*</span></label>
                <input type="text" class="form-control" id="payout_address2" name="payout_address2">
                <p class="text-danger err_msg" id="err_payout_address2"></p>
            </div>
            <div class="form-group"> 
                <label for="payout_city">City <span style="color:red;">&nbsp;*</span></label>
                <input type="text" class="form-control" id="payout_city" name="payout_city">
                <p class="text-danger err_msg" id="err_payout_city"></p>
            </div>
            <div class="form-group"> 
                <label for="payout_state">State / Province <span style="color:red;">&nbsp;*</span></label>
                <input type="text" class="form-control" id="payout_state" name="payout_state">
                <p class="text-danger err_msg" id="err_payout_state"></p>
            </div>
            <div class="form-group">
                <label for="payout_zip">Postal Code <span style="color:red;">&nbsp;*</span></label>
                <input type="text" class="form-control" id="payout_zip" name="payout_zip">
                <p class="text-danger err_msg" id="err_payout_zip"></p>
            </div>
            <div class="form-group text-right">
                <input type="button" id="payoutNextBtn" value="Next" class="btn btn-primary"/>
            </div>
        </div>
        <div id="payoutMethodTypeSelection">
            <p>Payouts for reservations are released to you the day after your guest checks in, and it takes some additional time for the money to arrive depending on your payout method.</p>
            <p>We can send money to people in <b><span id="selectedCountry">India</span></b> with these payout methods. Which do you prefer?</p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="payout_method_descriptions">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Payout method</th>
                            <th>Processing time</th>
                            <th>Additional fees</th>
                            <th>Currency</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody id="payout_method_types">
                    </tbody>
                </table>
            </div>
            <div class="form-group text-right">
                <input type="button" id="payoutPrevBtn" value="Back" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<!-- End add-payout-method Lightbox  -->

<!-- Start view payout-method Lightbox -->
<div id="view-payout-method" class="mfp-with-anim mfp-hide mfp-dialog big-box">
    <div class="head-wrap">
        <h4 class="tab-heading">View Payout Method</h4>
        <button class="mfp-close" type="button" title="%title%">×</button>
    </div>
    <div id="payoutAddress">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="view_payout_country">Country </label>
                <p id="view_payout_country"></p>
            </div>
            <div class="col-md-6">
                <label for="view_payout_address1">Address </label>
                <p id="view_payout_address1"></p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label for="view_payout_address2">Address 2 / Zone </label>
                <p id="view_payout_address2"></p>
            </div>
            <div class="col-md-6">
                <label for="view_payout_city">City </label>
                <p id="view_payout_city"></p>
            </div>
        </div>
        
        <div class="row form-group">
            <div class="col-md-6">
                <label for="view_payout_state">State / Province </label>
                <p id="view_payout_state"></p>
            </div>
            <div class="col-md-6">
                <label for="view_payout_zip">Postal Code </label>
                <p id="view_payout_zip"></p>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="payout_method_descriptions">
            <thead>
                <tr>
                    <th>Payout method</th>
                    <th>Processing time</th>
                    <th>Additional fees</th>
                    <th>Currency</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody id="view_payout_method_types">
                <tr>
                    <td id="view_payout_method"></td>
                    <td id="view_processing_time"></td>
                    <td id="view_additional_fees"></td>
                    <td id="view_currency"></td>
                    <td id="view_details"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12" id="view_form_fields">
            
        </div>
    </div>
</div>
<!-- End view payout-method Lightbox -->
 

<script type="text/javascript">
    function getPayoutMethodsByCountry(){
        $.ajax({
            type:'POST',
            url: '<?php echo $this->basePath() ?>/ajax/get-payout-method-settings',
            data: "country_code="+$('#payout_country').val(),
            async: false,
            success:function(resData){
                var resDataObj = jQuery.parseJSON( resData );
                if( resDataObj.result == 'success' ){
                    var tableHtml = '';
                    resDataObj.payoutSettingsData.forEach(function(element) {
                        tableHtml += '<tr>';
                            tableHtml += '<td><input id="payout_method_type_'+element.payout_method_setting_id+'" class="payout_method_types" name="payout_method_type" value="'+element.payout_method_setting_id+'" type="radio" /></td>';
                            tableHtml += '<td>'+element.payout_method+'</td>';
                            tableHtml += '<td>'+element.processing_time+'</td>';
                            tableHtml += '<td>'+element.additional_fees+'</td>';
                            tableHtml += '<td>'+element.currencies+'</td>';
                            tableHtml += '<td>'+element.details+'</td>';
                        tableHtml += '</tr>';
                        if(element.fields){
                            tableHtml += '<tr class="payout_form_field payout_method_type_'+element.payout_method_setting_id+'" style="display:none;">';
                                tableHtml += '<td colspan="6">';
                                tableHtml += '<div class="tableFormWrap">';
                                    var loopCounter = 1, fieldsCount = element.fields.length;
                                    element.fields.forEach(function(formEls) {
                                        if(Math.abs(loopCounter % 2) == 1){
                                            tableHtml += '<div class="row">';
                                        }
                                        tableHtml += '<div class="col-md-6 form-group">';
                                            tableHtml += '<label for="'+formEls.field_name+'">'+formEls.field_label+'</label>';
                                            tableHtml += '<input data-id="'+formEls.payout_method_field_id+'"class="form-control '+((formEls.field_mandatory == 1)?'mandatory':'')+' payout_method_field_'+formEls.payout_method_setting_id+'" type="text" name="payout_fields['+formEls.payout_method_setting_id+']['+formEls.payout_method_field_id+']" id="payout_field_'+formEls.payout_method_field_id+'" />';
                                            tableHtml += '<p class="text-danger err_msg" id="err_payout_field_'+formEls.payout_method_field_id+'"></p>';
                                        tableHtml += '</div>';
                                        if(loopCounter % 2 == 0 || fieldsCount == loopCounter){
                                            tableHtml += '</div>'; 
                                        }
                                        loopCounter++;
                                    });
                                    tableHtml += '<div class="row">';
                                        tableHtml += '<div class="col-md-12 form-group">';
                                            tableHtml += '<input type="submit" class="btn btn-primary payoutMethodUserAdd" data-form_value="'+element.payout_method_setting_id+'" value="Submit" />';
                                        tableHtml += '</div>';
                                    tableHtml += '</div>';
                                    tableHtml += '</div>';
                                tableHtml += '</td>';
                            tableHtml += '</tr>';
                        }
                    });
                    $('#payout_method_types').html(tableHtml);
                    $('#selectedCountry').text($("#payout_country option:selected").text());
                }
            }
        });
    }
    $(document).ready(function(){
        $('.deletePayoutMethodBtn').click(function(e){
            confirmDialog('Are you sure you want to delete this payout method?', 'Delete', function(){
                $.ajax({
                    type:'POST',
                    url: '<?php echo $this->basePath() ?>/ajax/delete-user-payout-method',
                    data: "user_payout_address_id="+$(this).attr('data-id'),
                    success:function(resData){
                        window.location.reload();
                    }
                });
            });
        });

        $('#addPayoutMethodBtn, .editPayoutMethodBtn').magnificPopup({
            type: 'inline',
            items: {src: '#add-payout-method'},
            preloader: false,
            modal: true,
            callbacks: {
                beforeOpen: function() {
                    $('#payoutAddress').show();
                    $('#payoutMethodTypeSelection').hide();
                    $('#add-payout-method').removeClass('big-box');
                    var magnificPopup = $.magnificPopup.instance,
                        cur = magnificPopup.st.el,
                        addr_id = cur.attr('data-id');
                    if(addr_id && addr_id != 'undefined'){
                        $('#action').val('edit');
                        $('#edit_id').val(addr_id);
                        $.ajax({
                            type:'POST',
                            url: '<?php echo $this->basePath() ?>/ajax/get-user-payout-method',
                            data: "user_payout_address_id="+addr_id,
                            success:function(resData){
                                var resDataObj = jQuery.parseJSON( resData );
                                if(resDataObj.result == 'success'){
                                    var payoutData = resDataObj.payoutMethodData;
                                    console.log(payoutData);
                                    /* payout method address details */
                                    $('#payout_country').val(payoutData.country_code);
                                    $('#payout_address1').val(payoutData.user_payout_address_1);
                                    $('#payout_address2').val(payoutData.user_payout_address_2);
                                    $('#payout_city').val(payoutData.user_payout_city);
                                    $('#payout_state').val(payoutData.user_payout_state);
                                    $('#payout_zip').val(payoutData.user_payout_zip_code);
                                    /* payout method address details */
                                    getPayoutMethodsByCountry();
                                    $('.payout_form_field').hide();
                                    $('#payout_method_type_'+payoutData.payout_method_setting_id).trigger('click');
                                    payoutData.fields.forEach(function(element) {
                                        $('#payout_field_'+element.payout_method_field_id).val(element.payout_method_field_value);
                                    });
                                }
                            }
                        });
                    }
                    else{
                        $('#payout_country, #payout_address1, #payout_address2, #payout_city, #payout_state, #payout_zip').val('');
                        $('#action').val('add');
                        $('#edit_id').val('');
                        $('#payout_method_types').html('');
                    }
                }
            }
        });
        $('.viewPayoutMethodBtn').magnificPopup({
            type: 'inline',
            items: {src: '#view-payout-method'},
            preloader: false,
            modal: true,
            callbacks: {
                beforeOpen: function() {
                    var magnificPopup = $.magnificPopup.instance,
                        cur = magnificPopup.st.el,
                        addr_id = cur.attr('data-id');
                     $.ajax({
                        type:'POST',
                        url: '<?php echo $this->basePath() ?>/ajax/get-user-payout-method',
                        data: "user_payout_address_id="+addr_id,
                        success:function(resData){
                            var resDataObj = jQuery.parseJSON( resData );
                            if(resDataObj.result == 'success'){
                                var payoutData = resDataObj.payoutMethodData;
                                
                                /* payout method address details */
                                $('#view_payout_country').text(payoutData.country_name);
                                $('#view_payout_address1').text(payoutData.user_payout_address_1);
                                $('#view_payout_address2').text(payoutData.user_payout_address_2);
                                $('#view_payout_city').text(payoutData.user_payout_city);
                                $('#view_payout_state').text(payoutData.user_payout_state);
                                $('#view_payout_zip').text(payoutData.user_payout_zip_code);
                                /* payout method address details */
                                
                                /* payout method details */
                                $('#view_payout_method').text(payoutData.payout_method);
                                $('#view_processing_time').text(payoutData.processing_time);
                                $('#view_additional_fees').text(payoutData.additional_fees);
                                $('#view_currency').text(payoutData.currencies);
                                $('#view_details').text(payoutData.details);
                                /* payout method details */
                                
                                /* payout method fields */
                                var payoutFieldsHtml = '', fieldsCount = payoutData.fields.length, loopIndex = 1;
                                payoutData.fields.forEach(function(element) {
                                    if(Math.abs(loopIndex % 2) == 1){
                                        payoutFieldsHtml += '<div class="row">';    
                                    }
                                    payoutFieldsHtml += '<div class="col-md-6">';
                                        payoutFieldsHtml += '<label>'+element.field_label+'</label>';
                                        payoutFieldsHtml += '<p>'+element.payout_method_field_value+'</p>';
                                    payoutFieldsHtml += '</div>';
                                    if(loopIndex % 2 == 0 || fieldsCount == loopIndex){
                                        payoutFieldsHtml += '</div>';    
                                    }
                                    loopIndex++;
                                });
                                $('#view_form_fields').html(payoutFieldsHtml);
                                /* payout method fields */
                            }
                        }
                    });
                }
            }
        });
    });
    $('#payoutNextBtn').click(function(e){
        e.preventDefault();
        clrErr();$errStatus=false;
        if (validateFormFields('payout_country', 'Please select country.', '')) $errStatus = true;
        if (validateFormFields('payout_address1', 'Please enter address.', '')) $errStatus = true;
        if (validateFormFields('payout_address2', 'Please enter address 2 / zone.', '')) $errStatus = true;
        if (validateFormFields('payout_city', 'Please enter city.', '')) $errStatus = true;
        if (validateFormFields('payout_state', 'Please enter state.', '')) $errStatus = true;
        if (validateFormFields('payout_zip', 'Please enter postal code.', '')) $errStatus = true;
         
        if($errStatus == true){
            return false;
        }
        else{
            var magnificPopup = $.magnificPopup.instance;
            magnificPopup.updateItemHTML();
            $('#payoutAddress').hide();
            $('#payoutMethodTypeSelection').show();
            $('#add-payout-method').addClass('big-box');
        }
    });
    
    $('#payoutPrevBtn').click(function(e){
        e.preventDefault();
        $('#payoutAddress').show();
        $('#payoutMethodTypeSelection').hide();
        $('#add-payout-method').removeClass('big-box');
    });
    
    $('#payout_country').change(function(){
        getPayoutMethodsByCountry();
    });
    
    $('#add-payout-method').on('click','.payout_method_types',function(){
        $('.payout_form_field').hide();
        $('.'+this.id).show();
    });
        
    $('#add-payout-method').on('click','.payoutMethodUserAdd',function(e){
        var settingsId = $(this).attr('data-form_value');
        clrErr();$errStatus=false;
        $('.payout_method_field_'+settingsId).each(function(){
            if($(this).hasClass('mandatory')){
                console.log(this.id);
                if (validateFormFields(this.id, 'Please fill this field.', '')) $errStatus = true;
            }
        });
        if($errStatus == true){
            return false;
        }
        else{
            $('#payoutMethodForm').submit();
        }
    });
	
</script>