<input type="hidden" name="service_type" id="service_type" value="project">
    <div class="table-wrapper-row full-width">
                            <div class="col-md-12 col-xs-12 table-cell travel-form bg-white">
                             
                                    <h5 class="sub-heading text-left">Provide details about products / Tasks you can perform</h5>
                                    <hr class="title-border">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Work Category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select the work category that you need to perform"></a></label>
                                            <select class="form-control work_category selectpicker show-tick form-control bfh-categories languages-select"  id="work_category" name="work_category[]" multiple="multiple">
                                                <!--option value=""> - select - </option-->
                                                <?php if(isset($this->workCategory) && !empty($this->workCategory)){
                                                        foreach($this->workCategory as $key => $workCategory){
                                                            $worcCategorySelected = '';
                                                            if($this->trip_traveller['work_category']){
                                                                $workCategorySelectedItems = explode(',',$this->trip_traveller['work_category']);
                                                                $worcCategorySelected = (in_array($key, $workCategorySelectedItems))?'selected = "selected"':'';
                                                            }
                                                            echo '<option '.$worcCategorySelected.' value="'.$key.'">'.$workCategory.'</option>';
                                                        }
                                                } ?>
                                            </select>
                                            <p style="margin-bottom: 0px;" id="err_work_category" class="text-danger err_msg"></p>
                                        </div>
                                    </div>
                                    <div id="obtainTravelDeliveryCategory" class="productTasks">
                                        <h5 class="sub-heading text-left">Details about product</h5>
                                        <hr class="title-border">
                                        
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Product category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                <select class="form-control product_category__1"  id="product_category" name="product_category" onchange="Loadproductsubcat(this.value,0,1)">
                                                    <option value=""> - select - </option>
                                                    <?php if(count($this->project_tasks_categories_type)>0){
                                                        foreach($this->project_tasks_categories_type as $tasks_category){ 
                                                            $proCatSelected = (isset($this->trip_traveller['product_catId']) && $this->trip_traveller['product_catId'] == $tasks_category['ID']) ? 'selected="selected"' : '';
                                                            //echo $proCatSelected;
                                                            echo '<option '.$proCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                            }
                                                        } ?>
                                                </select>
                                                <p style="margin-bottom: 0px;" id="err_product_category" class="text-danger err_msg"></p>
                                            </div>
                                            <div class="form-group tasklists col-sm-6" id="product_lists">
                                                <label class="control-label">Product type <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                <select class="form-control product_additional_requirements_category" id="product_type" name="product_type">
                                                    <option value="">Select</option>
                                                </select>
                                                <p style="margin-bottom: 0px;" id="err_product_additional_requirements_category_1" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Approx. worth of Item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select weight of the item so that traveller will decide capacity of baggage in which item can be carried."></a></label>
                                                <div class="row">
                                                    <div class="col-xs-7">
                                                        <input type="number" name="item_worth" id="item_worth" class="form-control item_worth" aria-label="Amount (to the nearest dollar)" value="<?php echo (isset($this->trip_traveller['item_worth']) && !empty($this->trip_traveller['item_worth']))?$this->trip_traveller['item_worth']:''; ?>" />
                                                        <p style="margin-bottom: 0px;" id="err_item_worth" class="text-danger err_msg"></p> 
                                                    </div>  
                                                    <div class="col-xs-5">
                                                        <select class="form-control item_worth_currency" name="item_worth_currency" id="item_worth_currency" >
                                                            <option <?php echo (isset($this->trip_traveller['item_worth_currency']) && $this->trip_traveller['item_worth_currency'] == 'USD $')?'selected="selected"':'';?> value="USD $">USD $</option>
                                                            <option <?php echo (isset($this->trip_traveller['item_worth_currency']) && $this->trip_traveller['item_worth_currency'] == 'EUR &euro;')?'selected="selected"':'';?> value="EUR &euro;">EUR &euro;</option>
                                                            <option <?php echo (isset($this->trip_traveller['item_worth_currency']) && $this->trip_traveller['item_worth_currency'] == 'GBP &pound;')?'selected="selected"':'';?> value="GBP &pound;">GBP &pound;</option>
                                                        </select>
                                                        <p style="margin-bottom: 0px;" id="err_item_worth_currency" class="text-danger err_msg"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="otherWorkCategory">
                                        <h5 class="sub-heading text-left">Details about task</h5>
                                        <hr class="title-border">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Task Category <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select category of tasks that you wish to perform in your trip."></a></label>
                                               
                                                <select class="form-control" id="task" name="task_category" onchange="Loadprojectsubcat(this.value,0)">
                                                    <option value="">Select</option>
                                                    <?php
                                                    foreach ($this->projectcat as $val) {
                                                        $selected = (isset($this->trip_traveller['catId']) && $this->trip_traveller['catId'] == $val['ID']) ? 'selected="selected"' : '';
                                                        echo '<option ' . $selected . ' value="' . $val['ID'] . '">' . $val['catname'] . '</option>';
                                                    }
                                                    ?>
                                                </select>
                                                <p style="margin-bottom: 0px;" id="err_task" class="text-danger err_msg"></p>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Task Type <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select tasks that you wish to perform in your trip."></a></label>                                   
                                                <select class="form-control" id="projsubcat" name="task" >
                                                    <option>-- Select --</option>
                                                </select>                                   
                                            </div>
                                            <p style="margin-bottom: 0px;" id="err_projsubcat" class="text-danger err_msg"></p>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Available date for work <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a date when you are available to work on tasks."></a></label>                                    
                                                <div class="checkbox checkbox-stroke">
                                                    <input id="anydate" class="i-check anyDate" <?php echo (isset($this->trip_traveller['dates_available']) && $this->trip_traveller['dates_available'] == 1) ? 'checked="checked"' : '' ?>  type="checkbox" value="1"  name="anydate" />Any Date
                                                    <p style="margin-bottom: 0px;" id="err_anydate" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <?php
                                            $disabled = '';
                                            if (isset($this->trip_traveller['dates_available']) && $this->trip_traveller['dates_available'] == 1) {
                                                $disabled = 'disabled="disabled"';
                                            }
                                            ?>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Available date range <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a date range when you are available to work on tasks."></a></label>
                                                <div>
                                                    <div class="input-group">
                                                        <input type="text" value="<?php echo (isset($this->trip_traveller['start_date']) && strtotime($this->trip_traveller['start_date'])) ? date('m/d/Y', strtotime($this->trip_traveller['start_date'])) : ''; ?>"   name="project_start_date" id="project_start_date" class="input-small form-control date-pick" name="start" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" value="<?php echo (isset($this->trip_traveller['end_date']) && strtotime($this->trip_traveller['end_date'])) ? date('m/d/Y', strtotime($this->trip_traveller['end_date'])) : ''; ?>"   name="project_end_date" id="project_end_date" class="input-small form-control date-pick" name="end" />
                                                    </div>
                                                    <p style="margin-bottom: 0px;" id="err_project_start_date" class="text-danger err_msg"></p>
                                                    <p style="margin-bottom: 0px;" id="err_project_end_date" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <div class="checkbox checkbox-stroke">
                                                    <input id="flexible_for_local" class="i-check " <?php echo (isset($this->trip_traveller['flexible_for_local']) && $this->trip_traveller['flexible_for_local'] == 1) ? 'checked="checked"' : '' ?>  type="checkbox" value="1"  name="flexible_for_local" />Flexible for local travel <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please check this option if you are open for tasks that require local travel."></a>
                                                    <p style="margin-bottom: 0px;" id="err_flexible_for_local" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Comments to the seeker <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please add any special requirements or restrictions/limitations in detail which will help seekers to contact you to get any additional information."></a></label>
                                                <textarea class="form-control"  id="comment" name="comment" placeholder="I will be available in destination location for 2 weeks in which I can perform any travel related tasks" rows="3"><?php echo (isset($this->trip_traveller['comment'])) ? $this->trip_traveller['comment'] : '' ?></textarea>
                                                <p style="margin-bottom: 0px;" id="err_comment" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                    </div>
                            
                            </div>
                         
                        </div>
<script>
    $(function(){
        $('#otherWorkCategory').hide();
        $('#obtainTravelDeliveryCategory').hide();
        showHideWorkCategory( );
        $('#work_category').change(function(){
            showHideWorkCategory( );
        });
        enableDisableAvailableWorkDates();
        $(".i-check input").on('ifChanged', function (e) {
            $(this).trigger("change", e);
        });
        $('#anydate').change(function(){
            console.log('change event');
            enableDisableAvailableWorkDates();
        });
    });
    
    function enableDisableAvailableWorkDates(){
        if($('#anydate').is(':checked')){
            $('#project_start_date, #project_end_date').attr('readonly','readonly');
        }
        else{
            $('#project_start_date, #project_end_date').removeAttr('readonly');
        }
    }
    function showHideWorkCategory( ){
        workCategoryValue = $('#work_category').val();
        if(jQuery.isEmptyObject(workCategoryValue)){
            $('#otherWorkCategory').hide();
            $('#obtainTravelDeliveryCategory').hide();
        } else {
            if ($.inArray('1', workCategoryValue) != -1)
                $('#obtainTravelDeliveryCategory').show();
            else
                $('#obtainTravelDeliveryCategory').hide();
            
            if((workCategoryValue.length == '1' && $.inArray('1', workCategoryValue) != -1))
                $('#otherWorkCategory').hide();
            else
                $('#otherWorkCategory').show();
        }
    }
    
    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        if(hash != ''){
            if(hash == 'trip'){
                $('#rootwizard a[href="#projecttab1"]').trigger('click');
            }else if(hash == 'service'){
                $('#rootwizard a[href="#projecttab3"]').trigger('click');
            }
        }
        <?php if((isset($this->trip_traveller['product_subCatId'])) && isset($this->trip_traveller['product_catId'])){ ?>
            Loadproductsubcat('<?php echo $this->trip_traveller['product_catId']?>','<?php echo $this->trip_traveller['product_subCatId']?>',1);
        <?php }
        if((isset($this->trip_traveller['subCatId'])) && isset($this->trip_traveller['catId'])){ ?>
            Loadprojectsubcat('<?php echo $this->trip_traveller['catId']?>','<?php echo $this->trip_traveller['subCatId']?>');
        <?php } ?>
        $(document).on('change','#trip_type',function(){
            $('#finish').html('Finish & Key return trip');
            if($(this).val() == 1){
                $('#finish').html('Finish & Search');
            }
        });
    });
    
    function Loadprojectsubcat(a,b){ $.ajax({
	url: baseurl + '/traveller/getprojectsubcat',
	type: 'POST',
	data: 'catid='+a+'&subcatid='+b,
	cache: false,
	success: function(response) {
            $('#projsubcat').html(response);
            
	}
});}
function Loadproductsubcat(a,b,c){ $.ajax({
    url: baseurl + '/traveller/getproductsubcat',
    type: 'POST',
    data: 'product_catid='+a+'&product_subcatid='+b+'&work_category='+c,
    cache: false,
    success: function(response) {
        $('#product_type').html(response);
    }
});}
    </script>