
<input type="hidden" name="service_type" id="service_type" value="people" >

 <div class="table-wrapper-row full-width">
                        <div class="col-md-12 table-cell travel-form bg-white">
                          
                                <h5 class="sub-heading text-left">Provide details about passengers who travel with you</h5>
                                <hr class="title-border">

                                 <div class="row">
                                <div class="form-group col-xs-12 form-group-select-plus">
                                    <label class="control-label">Number of person travelling with the member in this travel <span style="color: red">*</span> <a class="icon-info" href="#" data-toggle="tooltip" title="Please select total number of person who is travelling with you per ticket reserved"></a></label>
                                    
                                     <?php
                                     $showBtn = true;
                                     $action = 'add';
                                     if($this->trip_traveller){
                                        $showBtn = false;
                                        $action = 'edit';
                                     }
                                     $showTripId = true;
                                      if(isset($TYPE) && !empty($TYPE)){
                                          $showTripId = false;
                                      }
                                     if($showBtn){
                                     ?>
                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                            <label class="btn btn-primary slfpls active"><input type="radio"   name="trip_people_count" id="trip_people_count" value="1" />Self<br>+</label>
                                           <label class="btn btn-primary slfpls active"><input type="radio"   name="trip_people_count" id="trip_people_count" value="1" />1</label>
                                            <label class="btn btn-primary"><input type="radio"   name="trip_people_count" id="trip_people_count" value="2" />2</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="3" />3</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="4" />4</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="5" />5</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="6" />6</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="7" />7</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="8" />8</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="9" />9</label>
                                            <label class="btn btn-primary "><input type="radio"  name="trip_people_count" id="trip_people_count" value="10" />10</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_count" id="trip_people_count" value="11"  />10+</label>
                                        </div>
                                     <?php }
                                     ?>
                                    <?php if($showTripId){ ?>
                                     <input type="hidden" name="trip_edit_id" value="<?php echo isset($this->trip['ID'])?$this->trip['ID']:0;?>" >
                                    <?php }?>
                                     <input type="hidden" id="action" value="<?php echo $action?>" >
                                        <select class="form-control <?php echo ($showBtn)?'hidden':'';?> " name="trip_people_count_more" id="trip_people_count">
                                         <?php 
                                         for($pCount = 1; $pCount <=14;$pCount++){
                                             $peopleCount = (isset($this->trip_traveller['persons_travelling']) && $this->trip_traveller['persons_travelling'])?$this->trip_traveller['persons_travelling']:11;
                                            
                                             $selected = (isset($peopleCount) &&  $peopleCount == $pCount)?'selected="selected"':'';
                                             ?>
                                                 <option <?php echo $selected;?> value="<?php echo $pCount ?>"><?php echo ($pCount == 1)?'Self':$pCount; ?></option>
                                         <?php
                                         }
                                         ?>
                                           
                                        </select>
                                   
                                </div>
                                      </div>
                                 <div class="row">
                                <div class="form-group  col-sm-12 form-group-select-plus">
                                    <label class="control-label">Number of Male <span style="color: red">*</span> <a class="icon-info" href="#" data-toggle="tooltip" title="Please specify number of male travellers travelling with you"></a></label>
                                  
                                     <?php  if($showBtn){?>
                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                            
                                         <label class="btn btn-primary slfpls active"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="1" />1</label>
                                            <label class="btn btn-primary"><input type="radio" name="trip_people_male_count" id="trip_people_male_count" value="2"  />2</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="3" />3</label>
                                                                                        <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="4" />4</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="5" />5</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="6" />6</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="7" />7</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="8" />8</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="9" />9</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_male_count" id="trip_people_male_count" value="10" />10</label>
                                            <label class="btn btn-primary"><input type="radio" name="trip_people_male_count" id="trip_people_male_count" value="11" />10+</label>
                                        </div>
                                     <?php }?>
                                        <select class="form-control  <?php echo ($showBtn)?'hidden':'';?>" name="trip_people_male_count_more" id="trip_people_male_count">
                                          <?php 
                                         for($pMCount = 1; $pMCount <=14;$pMCount++){
                                             $peopleMCount = (isset($this->trip_traveller['male_count']) && $this->trip_traveller['male_count'])?$this->trip_traveller['male_count']:11;
                                             
                                             $selected = (isset($peopleMCount) &&  $peopleMCount == $pMCount)?'selected="selected"':'';
                                             ?>
                                                 <option <?php echo $selected;?> value="<?php echo $pMCount ?>"><?php echo ($pMCount == 1)?'Self':$pMCount; ?></option>
                                         <?php
                                         }
                                         ?>
                                        </select>
                                   
                                </div></div>
                                  <div class="row">
                                     <div class="form-group  col-sm-12 form-group-select-plus">
                                    <label class="control-label">Number of Female <span style="color: red">*</span> <a class="icon-info" href="#" data-toggle="tooltip" title="Please specify number of female travellers travelling with you"></a></label>
                                      <?php  if($showBtn){?>
                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                         
                                            <label class="btn btn-primary slfpls active"><input type="radio"   name="trip_people_female_count" id="trip_people_female_count" value="1" />1</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="2" />2</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="3" />3</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="4" />4</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="5" />5</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="6" />6</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="7" />7</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="8" />8</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="9" />9</label>
                                            <label class="btn btn-primary"><input type="radio"  name="trip_people_female_count" id="trip_people_female_count" value="10" />10</label>
                                            <label class="btn btn-primary"><input type="radio" name="trip_people_female_count" id="trip_people_female_count" value="11" />10+</label>
                                        </div>
                                     <?php }?>
                                        <select class="form-control <?php echo ($showBtn)?'hidden':'';?>" name="trip_people_female_count_more" id="trip_people_female_count">
                                            <?php 
                                         for($pFMCount = 1; $pFMCount <=14;$pFMCount++){
                                             $peopleFMCount = (isset($this->trip_traveller['female_count']) && $this->trip_traveller['female_count'])?$this->trip_traveller['female_count']:11;
                                             
                                             $selected = (isset($peopleFMCount) &&  $peopleFMCount == $pFMCount)?'selected="selected"':'';
                                             ?>
                                                 <option <?php echo $selected;?> value="<?php echo $pFMCount ?>"><?php echo ($pFMCount == 1)?'Self':$pFMCount; ?></option>
                                         <?php
                                         }
                                         ?>
                                        </select>
                                 
                                </div>
                                      </div>
                               
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Any Person of age above 60 <span style="color: red">*</span> 
                                         <a class="icon-info" href="#" data-toggle="tooltip" title="Please specify any elders above 60 years travelling with you"></a></label>
                                        <div class="yesNo">
                                            <label class="sliderCheck">
                                                <input type="checkbox" value="Yes"  name="trip_people_age_bove_60" id="trip_people_age_bove_60" <?php echo (isset($this->trip_traveller['age_above_60_years']) && $this->trip_traveller['age_above_60_years'] == "Yes") ? 'checked="checked"' : '' ?>>
                                                <div class="slider round"></div>
                                            </label>
                                        </div>

                                    </div>                                
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Any Child below 5 Years Old <span style="color: red">*</span> <a class="icon-info" href="#" data-toggle="tooltip" title="Please specify any children below 6 years travelling with you"></a></label>
                                        <div class="yesNo">
                                            <label class="sliderCheck">
                                             <input type="checkbox" value="Yes" name="trip_people_age_below_5" id="trip_people_age_below_5" <?php echo (isset($this->trip_traveller['age_below_3_years']) && $this->trip_traveller['age_below_3_years'] == "Yes") ? 'checked="checked"' : '' ?>>
                                                <div class="slider round"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label class="control-label">Comments to the seeker <span style="color: red">*</span> <a class="icon-info" href="#" data-toggle="tooltip" title="Please add any special requirements or restrictions in your journey in detail which will help seekers to contact you to get any additional information."></a></label>
                                        <textarea class="form-control"  name="trip_comments" id="trip_comments"  placeholder="Provide your commnts to seeker regarding this service." rows="3"><?php echo (isset($this->trip_traveller['comment'])) ? $this->trip_traveller['comment'] : '' ?> </textarea>
                                        <p style="margin-bottom: 0px;" id="err_trip_comments" class="text-danger err_msg"></p>
                                    </div>
                                </div>
                                
                         
                        </div>
                        
                    </div>