<input type="hidden" name="service_type" id="service_type" value="package" >
  <div class="table-wrapper-row full-width">
                    <div class="col-md-12 table-cell travel-form bg-white">

                     
                        
                          
                            
                            <h5 id="trip_title" class="sub-heading text-left">Provide details about packages</h5>
<hr class="title-border">
<div class="row">
                            <div class="form-group form-group-select-plus col-sm-12">

                                <label class="control-label">No of baggages carried <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

                                <?php
                                $showBtn = false;
                                    if ($showBtn) {
                                        ?>
                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                           
                                            
                                            <label class="btn btn-primary">

                                                <input type="radio"  id="packages_count" name="packages_count" value="1" />1</label>

                                            <label class="btn btn-primary">

                                                <input type="radio"   id="packages_count" name="packages_count" value="2" />2</label>

                                            <label class="btn btn-primary">

                                                <input type="radio"   id="packages_count" name="packages_count" value="3" />3</label>

                                            <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="4" />4</label>

                                            <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="5" />5</label>
                                                
                                                <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="6" />6</label>
                                                <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="7" />7</label>
                                                <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="8" />8</label>
                                                <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="9" />9</label>
                                                <label class="btn btn-primary">

                                                <input type="radio" id="packages_count" name="packages_count" value="10" />10</label>

                                            <label class="btn btn-primary">

                                                <input type="radio"  id="packages_count" name="packages_count" value="11" />10+</label>													

                                        </div>
                                    <?php } ?>

                                    <select class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>" id="packages_count" name="packages_count_more">


                                        <?php
                                        for ($pCount = 1; $pCount <= 14; $pCount++) {
                                            $peopleCount = (isset($this->trip_traveller['packages_count']) && $this->trip_traveller['packages_count']) ? $this->trip_traveller['packages_count'] : 11;

                                            $selected = (isset($peopleCount) && $peopleCount == $pCount) ? 'selected="selected"' : '';
                                            ?>
                                            <option <?php echo $selected; ?> value="<?php echo $pCount ?>"><?php echo $pCount ?></option>
                                            <?php
                                        }
                                        ?>


                                    </select>

                                

                            </div>
    </div>
    <div class="row">
                            <div class="form-group col-sm-12">

                                <label class="control-label">Weight allowed in airline per baggage <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>

                               

                                    <select class="form-control" id="airline_allowed_weight" name="airline_allowed_weight" >

                                        <option   <?php echo (isset($this->trip_traveller['airline_allowed_weight']) && $this->trip_traveller['airline_allowed_weight'] == '0-100') ? 'selected="selected"' : '' ?> value="0-100" >0-100</option>

                                        <option <?php echo (isset($this->trip_traveller['airline_allowed_weight']) && $this->trip_traveller['airline_allowed_weight'] == '101-200') ? 'selected="selected"' : '' ?> value="101-200" >101-200</option>

                                        <option <?php echo (isset($this->trip_traveller['airline_allowed_weight']) && $this->trip_traveller['airline_allowed_weight'] == '201-300') ? 'selected="selected"' : '' ?> value="201-300" >201-300</option>

                                        <option <?php echo (isset($this->trip_traveller['airline_allowed_weight']) && $this->trip_traveller['airline_allowed_weight'] == '301-400') ? 'selected="selected"' : '' ?> value="301-400" >301-400</option>

                                        <option <?php echo (isset($this->trip_traveller['airline_allowed_weight']) && $this->trip_traveller['airline_allowed_weight'] == '401-500') ? 'selected="selected"' : '' ?> value="401-500" >401-500</option>

                                        <option <?php echo (isset($this->trip_traveller['airline_allowed_weight']) && $this->trip_traveller['airline_allowed_weight'] == '500+') ? 'selected="selected"' : '' ?> value="500+" >500+</option>

                                    </select>  
                                    <p style="margin-bottom: 0px;" id="err_airline_allowed_weight" class="text-danger err_msg"></p>

                              

                            </div>
</div>



<div class="row">
    <div class="form-group col-sm-12">
        <label class="control-label">Approx.weight carried by you over all<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <div class="row">
            <div class="col-sm-12">
             <input type="text" id="weight_carried" name="weight_carried" style="display:none;" >
                <p style="margin-bottom: 0px;" id="err_weight_carried" class="text-danger err_msg"></p>  
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="form-group col-sm-12">

    <label class="control-label">Approx.weight of baggage you can accommodate <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
<div class="available-volume">
 
            <label class="volume-box volume-box-1 <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Document') ? 'active' : '' ?>" for="icon-doc_1">
                <input type="radio" value="Document" <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Document') ? 'checked="checked"' : '' ?> id="icon-doc_1" name="weight_accommodate" style="display: none">
                <div class="volume-box-inner">
                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                    <p>Document</p>
                    <p class="val-range">upto 1 kg</p>
                </div>
            </label>

            <label class="volume-box volume-box-1 <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Backbag') ? 'active' : '' ?> " for="icon-backbag_1">
                 <input type="radio" value="Backbag" <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Backbag') ? 'checked="checked"' : '' ?> id="icon-backbag_1" name="weight_accommodate" style="display: none">
                <div class="volume-box-inner">
                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                    <p>Backbag</p>
                    <p class="val-range">1 kg to 6 kg</p>
                </div>
            </label>
     
            <label class="volume-box volume-box-1 <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Suitcase') ? 'active' : '' ?> " for="icon-suitcase_1">
                <input type="radio" value="Suitcase" <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Suitcase') ? 'checked="checked"' : '' ?> id="icon-suitcase_1" name="weight_accommodate" style="display: none">
                <div class="volume-box-inner">
                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                    <p>Suitcase</p>
                    <p class="val-range">6 kg to 23 kg</p>
                </div>
            </label>
            <label class="volume-box volume-box-1 <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Big parcel case') ? 'active' : '' ?><?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Suitcase') ? 'checked="checked"' : '' ?> " for="icon-package_1">
                <input type="radio" value="Big parcel case" id="icon-package_1" <?php echo (isset($this->trip_traveller['weight_accommodate']) && $this->trip_traveller['weight_accommodate'] == 'Big parcel case') ? 'checked="checked"' : '' ?> name="weight_accommodate" style="display: none">
                <div class="volume-box-inner">
                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-normal.svg" alt="Trepr" title="Trepr" /></span>
                    <p>Big parcel case</p>
                    <p class="val-range">23 kg to 50 kg</p>
                </div>
            </label>
 
  <p style="margin-bottom: 0px;" id="err_weight_accommodate" class="text-danger err_msg"></p> 
        </div>
    </div>
</div>
<div class="row">
 <div class="form-group col-sm-12">

    <label class="control-label">Items that you don't wish to carry <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <textarea class="form-control" placeholder="" rows="3" id="not_wish_to_carry" name="not_wish_to_carry" ><?php echo (isset($this->trip_traveller['not_wish_to_carry'])) ? $this->trip_traveller['not_wish_to_carry'] : '' ?> </textarea>
    <p style="margin-bottom: 0px;" id="err_comment" class="text-danger err_msg"></p>


</div>

</div>

<div class="row">
<div class="form-group col-sm-12">
    <label class="control-label">Approx worth of package you can carry<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <div class="row">
        <div class="col-xs-8">
         <input type="number" name="item_worth" id="item_worth"  class="form-control" value="<?php echo (isset($this->trip_traveller['item_worth'])) ?$this->trip_traveller['item_worth']: '' ?>" aria-label="Amount (to the nearest dollar)">
            <p style="margin-bottom: 0px;" id="err_item_worth" class="text-danger err_msg"></p> 
        </div>  
        <div class="col-xs-4">
            <select class="form-control item_worth_currency" name="item_worth_currency" id="item_worth_currency" >
                <option value="USD $">USD $</option>
                <option value="EUR &euro;">EUR &euro;</option>
                <option value="GBP &pound;">GBP &pound;</option>
            </select>
            <p style="margin-bottom: 0px;" id="err_item_worth_currency" class="text-danger err_msg"></p>
        </div>
    </div>
</div>
</div>













<div class="row">
<div class="form-group col-sm-12">

    <label class="control-label">Comments to the seeker <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
    <textarea class="form-control" placeholder="Provide your commnts to seeker regarding this service." rows="3" id="comment" name="comment" ><?php echo (isset($this->trip_traveller['comment'])) ? $this->trip_traveller['comment'] : '' ?> </textarea>
    <p style="margin-bottom: 0px;" id="err_comment" class="text-danger err_msg"></p>


</div>
    </div>

                      

                    </div>

                  
                </div>
<script>
    $(document).ready(function () {
        var hash = window.location.hash.substr(1);
        console.log('hash' + hash);
        if (hash != '') {
            if (hash == 'trip') {
                $('#rootwizard a[href="#tab1"]').trigger('click');
            }
            if (hash == 'service') {
                $('#rootwizard a[href="#tab3"]').trigger('click');
            }
        }
        $(document).on('change', '#trip_type', function () {
            $('#finish').html('Finish & Key return trip');
            if ($(this).val() == 1) {
                $('#finish').html('Finish & Search');
            }
        });

    });
    
    $('input:radio').click(function() {
    $('input:radio[name='+$(this).attr('name')+']').parent().removeClass('active');
        $(this).parent().addClass('active');
});
</script>