<style>
.ui-autocomplete {
	z-index:2147483647;
}
</style>

  <div class="chooseTypes" id="choose_type_one">
    <h5 class="sub-heading text-left" id="trip_title">
      <?php 
         if(isset($this->TYPE) && !empty($this->TYPE)){
             ?>
      Enter Return trip details
      <?php
         }else if ($this->trip_type != 'round_trip') { ?>
      Enter one way trip details
      <?php } else if (count($this->user_locations) > 0) {
                ?>
      Enter onward trip Details
      <?php } else {
                ?>
      Enter Return trip details
      <?php } ?>
    </h5>
    <hr class="title-border">
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Origin Location <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide origin city or airport details from where you begin journey per ticket reserved"></a></label>
        <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location" value="<?php echo (isset($this->origin_location) && !empty($this->origin_location)) ? $this->origin_location : '' ?>" />
        <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label">Destination Location <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide destination city or airport details to where you end journey per ticket reserved"></a></label>
        <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location" value="<?php echo (isset($this->destination_location) && !empty($this->destination_location)) ? $this->destination_location : '' ?>"  />
        <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
      </div>
    </div>
        <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="control-label">Departure Date <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please provide date of journey from origin airport per ticket reserved"></a></label>               
                            <div class="input-group">
                                <input class="date-pick form-control" name="departure_date" id="departure_date" type="text" value="<?php echo (isset($this->trip['departure_date']) && strtotime($this->trip['departure_date']))?date('m/d/Y', strtotime($this->trip['departure_date'])):date('m/d/Y'); ?>" /><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>
                            <p style="margin-bottom: 0px;" id="err_departure_date" class="text-danger err_msg"></p>
                        </div>
                        <div class="form-group col-sm-6">   
                          <label class="control-label">Departure Time <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please provide time of journey from origin airport per ticket reserved"></a></label>               
                            <div class="input-group">
                                <input class="time-pick form-control" name="departure_time" id="departure_time"  value="<?php echo isset($this->trip['departure_date'])?date('h:i A', strtotime($this->trip['departure_date'])):''; ?>" type="text" /><span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                            </div>
                            <p style="margin-bottom: 0px;" id="err_departure_time" class="text-danger err_msg"></p>                                                           
                        </div>
                    </div>
               
              <div class="row">  
                 <div class="form-group col-xs-12 mg-bot30">
                     <button type="button" class="btn btn-green" data-toggle="modal" data-target="#getFlightStops" onclick="getFlightStops(event)">Get Available Flights</button>
                  <p class="text-small" id="loading_flights_msg" style="color:red; display: none">Loading. Please wait...</p>
                 </div>
             </div>
    <div class="row">
       
      <div class="form col-xs-12 mg-bot30">
        <label class="control-label"></label>
         <input type="hidden" name="flight_key" id="flight_key" value="">
        <input type="hidden" name="proposal_key" id="proposal_key" value="">
        <input type="hidden" name="service_fee" id="service_fee" value="<?php echo (isset($this->trip['service_fee']) && !empty($this->trip['service_fee'])) ? $this->trip['service_fee'] : '' ?>">
        <input type="hidden" name="distance" id="distance" value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
        <input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>" >
        <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>" >
        <input type="hidden" name="origin_location_code" id="origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>" >
        <input type="hidden" name="destination_location_code" id="destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>" >
        <input type="hidden" name="operating_carrier_name" id="operating_carrier_name" value="">
        <input type="hidden" name="flight_number" id="flight_number" value="">
        <input type="hidden" name="selectedFlightData" id="selectedFlightData" value="<?php echo (isset($this->selectedFlightData) && !empty($this->selectedFlightData)) ? $this->selectedFlightData : '' ?>" />
        <input type="hidden" name="flight_name" id="flight_name" value="">
        <input type="hidden" name="typeOfFlightSelect" id="typeOfFlightSelect" value="auto" />
        <div class="table-responsive">
        <div id="divSelectedFlight">
          <?php
                    if (isset($this->airport_details) && !empty($this->airport_details)) {
                        ?>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Flight</th>
                <th>Airline</th>
                <th>Dept</th>
                <th>Arr</th>
                <th>Dept Dt</th>
                <th>Arr Dt</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <?php
    if (isset($this->airport_details) && !empty($this->airport_details)) {
        $fNo = 1;
        foreach ($this->airport_details as $flightRow) {
            $fligtData = $flightRow['carrier'] . '@@' . $flightRow['number'] . '@@' . $flightRow['departure'] . '@@' . $flightRow['arrival'] . '@@' . $flightRow['departure_date'] . '@@' . $flightRow['arrival_date'] . '@@' . $flightRow['airline_name'] . '@@' . $flightRow['airline_number'];
            ?>
              <tr>
                <td><?php echo $fNo; ?></td>
                <td><?php echo isset($flightRow['airline_name']) ? $flightRow['airline_name'] : '' ?> - <?php echo isset($flightRow['airline_number']) ? $flightRow['airline_number'] : '' ?></td>
                <td><?php echo isset($flightRow['departure']) ? $flightRow['departure'] : '' ?></td>
                <td><?php echo isset($flightRow['arrival']) ? $flightRow['arrival'] : '' ?></td>
                <td><?php echo isset($flightRow['departure_date']) ? $flightRow['departure_date'] : '' ?></td>
                <td><?php echo isset($flightRow['arrival_date']) ? $flightRow['arrival_date'] : '' ?></td>
                <td><a href="javascript:void(0);" class="popup-map btn-sm btn-primary" onclick="checkFightStatus('<?php echo $fligtData ?>');">Check Status</a></td>
              </tr>
              <?php
            $fNo++;
        }
    }
    ?>
            </tbody>
          </table>
          <?php
}
?>
        </div>
        </div> 
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="getFlightStops" tabindex="-1" role="dialog" aria-labelledby="getFlightStopsLabel" data-backdrop="static">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title text-center" id="getFlightStopsLabel">Please enter or select details of airlines per flight booking you have made for this journey</h5>
          </div>
          <div class="modal-body">
            <div id="flights" style="display: none;">
              <div class="form-group">
                <label class="control-label">No.Stop</label>
                <select class="form-control"  name="nstop" id="nstop" onchange="getFlights()" >
                  <option value=""> - flight stops - </option>
                </select>
              </div>
              <div class="clearfix"></div>
              <div id="divFlights"></div>
            </div>
            <div id="add_flight_manually"> <span class="text-primary text-center">There is no flight details available with your searched items. Please add flight details manually.</span>
              <div class="form-group">
                <label class="control-label">No.Stop<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                <input type="hidden" name="selected_flights" id="selected_flights" value="0">
                <select class="form-control"  name="nstop_manual" id="nstop_manual" onchange="addRemoveFlightDetails(this.value);">
                  <option value="">Select stops</option>
                  <option value="0"> Direct </option>
                  <option value="1"> 1 </option>
                  <option value="2"> 2 </option>
                </select>
              </div>
              <div id="flightSectionBox">
                <div id="repeatable_1" class="manual_flight_section">
                  <h5 class="sub-heading text-left">Details of flight 1</h5>
                  <hr class="title-border">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <label class="control-label">Departure Date <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <div class="row">
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="date-pick form-control" name="manual_departure_date[]" id="manual_departure_date_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_departure_date_1" class="text-danger err_msg"></p>
                            </div>
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="time-pick form-control" name="manual_departure_time[]" id="manual_departure_time_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_departure_time_1" class="text-danger err_msg"></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label class="control-label">Arrival date <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <div class="row">
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="date-pick form-control" name="manual_arrival_date[]" id="manual_arrival_date_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_arrival_date_1" class="text-danger err_msg"></p>
                            </div>
                            <div class="col-sm-6 form-group ">
                              <div class="input-group">
                                <input class="time-pick form-control" name="manual_arrival_time[]" id="manual_arrival_time_1" type="text" />
                                <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span> </div>
                              <p style="margin-bottom: 0px;" id="err_manual_arrival_time_1" class="text-danger err_msg"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="control-label">Airline name <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input type="text" name="manual_airline_name[]" id="airline_name_1" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="control-label">Airline number <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input type="text" name="manual_airline_number[]" id="airline_number_1" class="form-control" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="manual_origin_location[]" id="manual_origin_location_1" />
                          <p style="margin-bottom: 0px;" id="err_manual_origin_location_1" class="text-danger err_msg"></p>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                          <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="manual_destination_location" id="manual_destination_location_1" />
                          <p style="margin-bottom: 0px;" id="err_manual_destination_location_1" class="text-danger err_msg"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div id="divFlights"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="showManuallyAddedFlights('form_travel_details');">Add Flights</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Classes <a class="icon-info" href="#" data-toggle="tooltip" title="Please select class of flight journey per ticket reserved"></a></label>
         <select class="form-control" id="cabin" name="cabin">
                    <?php $cabinSelected = isset($this->trip['cabin'])?$this->trip['cabin']:'Economy Class'; ?>
                           <option <?php echo ($cabinSelected=='Economy Class')?'selected="selected"':''; ?>value="Economy Class" >Economy Class</option>
                    <option <?php echo ($cabinSelected=='Premium Economy')?'selected="selected"':''; ?>value="Premium Economy">Premium Economy</option>
                    <option <?php echo ($cabinSelected=='Business Class')?'selected="selected"':''; ?>value="Business Class">Business Class</option>
                      <option <?php echo ($cabinSelected=='First Class')?'selected="selected"':''; ?>value="First Class">First Class</option>
                </select>  
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label">Seat <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide allocated seat number for the flight journey per ticket reserved"></a></label>
        <input type="text" name="seat" id="seat" class="form-control" value="<?php echo (isset($this->trip['seat']) && !empty($this->trip['seat'])) ? $this->trip['seat'] : '' ?>" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Booking Status <a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
        <select class="form-control" id="booking_status" name="booking_status">
          <?php $bookingSelected = isset($this->trip['booking_status'])?$this->trip['booking_status']:'Confirmed'; ?>
          <option <?php echo ($bookingSelected=='Confirmed')?'selected="selected"':''; ?> value="Confirmed" >Confirmed</option>
                    <option <?php echo ($bookingSelected=='Awaiting confirmation')?'selected="selected"':''; ?> value="Awaiting confirmation">Awaiting confirmation</option>
               
        </select>
      </div>
        </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label">Ticket <a class="icon-info" href="#" data-toggle="tooltip" title="Please upload the ticket you have booked per origin and destination location details provided above either by uploading or email forwarding directly to tickets@trepr.com. Listing will be complete only when a valid ticket is uploaded and approved. Usually our approval process takes 30 mins to 1 hour time meanwhile you may continue searching for potentials members."></a></label>
        <div class="row">
         <?php
         $showTicket = true;
         if(isset($this->TYPE) && !empty($this->TYPE)){
              $showTicket = false;
         }
         if($showTicket){
             ?>
          <div class="col-sm-6">
            <input type="radio" name="ticketOption" id="uploadTicket" class="ticketSendOption" value="uploadTicket" checked="checked">
            Upload Ticket </div>
         <?php }?>
          <div class="col-sm-6">
            <input type="radio" name="ticketOption" id="emailTicket" <?php echo ($showTicket)?'':'checked="checked" ';?> class="ticketSendOption" value="emailTicket">
            Email Ticket </div>
        </div>
      </div>
      <div class="col-sm-6 form-group uploadTicketDiv" style="display:<?php echo ($showTicket)?'display':'none';?>;">
        <input class="form-control" type="file" name="ticket_image" id="ticket">
        <?php if ((isset($this->trip['ticket_image']) && $this->trip['ticket_image'] != '' && $showTicket)) { ?>
        <img width="100" height="100" class="img-responsive" src="<?php echo $this->basePath(); ?>/public/uploads/tickets/<?php echo $this->trip['ticket_image'] ?>" alt="" title="">
        <?php } ?>
        <p style="margin-bottom: 0px;" id="err_ticket" class="text-danger err_msg"></p>
        <p class="help-block">Upload your Ticket</p>
      </div>
      <div class="col-sm-12 form-group emailTicketDiv" style="display:<?php echo ($showTicket)?'none':'display';?>;">
          <p style="margin-bottom: 0" class="emailTicketUniqueId">Please copy your trip identification number and use it in your ticket mail </p>
        <?php
 
$tripIdNumber  = '';

?>
        <input type="hidden" id="tripIdNumber" name="tripIdNumber" value="<?php echo (isset($this->trip['trip_id_number']) && !empty($this->trip['trip_id_number'])) ? ($this->trip['trip_id_number']) : $tripIdNumber; ?>" />
        <p style="margin-bottom: 0" class="emailTicketUniqueId"><?php echo (isset($this->trip['trip_id_number']) && !empty($this->trip['trip_id_number'])) ? ($this->trip['trip_id_number']) : $tripIdNumber; ?></p>
      </div>
    </div>
    <h5 class="sub-heading text-left">Reservation Details</h5>
    <hr class="title-border">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#reservationDetail-01">Who is your travel agent?</a> </h4>
        </div>
        <div id="reservationDetail-01" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Name <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide name of travel agency who is a private retailer or public service that provides travel and tourism related services on behalf of airlines."></a></label>
                <input type="text" name="travel_agency_name" id="travel_agency_name" class="form-control" value="<?php echo (isset($this->trip['travel_agency_name']) && !empty($this->trip['travel_agency_name'])) ? $this->trip['travel_agency_name'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency URL <a class="icon-info" href="#" data-toggle="tooltip" title="http://www.travelstore.com"></a></label>
                <input type="text" name="travel_agency_url" id="travel_agency_url" class="form-control" value="<?php echo (isset($this->trip['travel_agency_url']) && !empty($this->trip['travel_agency_url'])) ? $this->trip['travel_agency_url'] : '' ?>"/>
                <p style="margin-bottom: 0px;" id="err_travel_agency_url" class="text-danger err_msg"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Confirmation # <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide agency ticket confirmation number"></a></label>
                <input type="text" name="travel_agency_confirmation" id="travel_agency_confirmation" class="form-control" value="<?php echo (isset($this->trip['travel_agency_confirmation']) && !empty($this->trip['travel_agency_confirmation'])) ? $this->trip['travel_agency_confirmation'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Contact Name <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact name of the travel agency"></a></label>
                <input type="text" name="travel_agency_contact_name" id="travel_agency_contact_name" class="form-control" value="<?php echo (isset($this->trip['travel_agency_contact_name']) && !empty($this->trip['travel_agency_contact_name'])) ? $this->trip['travel_agency_contact_name'] : '' ?>"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Travel Agency Phone <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact phone name of the travel agency"></a></label>
                <input type="text" name="travel_agency_phone" id="travel_agency_phone" class="form-control numonly" value="<?php echo (isset($this->trip['travel_agency_phone']) && !empty($this->trip['travel_agency_phone'])) ? $this->trip['travel_agency_phone'] : '' ?>"/>
                <p style="margin-bottom: 0px;" id="err_travel_agency_phone" class="text-danger err_msg"></p>
              </div>
              <div class="form-group  col-sm-6">
                <label class="control-label">Agency Email <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact email ID of the travel agency"></a></label>
                <input type="text" name="agency_email" id="agency_email" class="form-control" value="<?php echo (isset($this->trip['agency_email']) && !empty($this->trip['agency_email'])) ? $this->trip['agency_email'] : '' ?>"/>
                <p style="margin-bottom: 0px;" id="err_agency_email" class="text-danger err_msg"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-03">Where did you reserve it?</a> </h4>
        </div>
        <div id="reservationDetail-03" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site Name <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide site name in which you booked the ticket"></a></label>
                <input type="text" name="booking_site_name" id="booking_site_name" class="form-control" value="<?php echo (isset($this->trip['booking_site_name']) && !empty($this->trip['booking_site_name'])) ? $this->trip['booking_site_name'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site URL <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide site URL in which you booked the ticket"></a></label>
                <input type="text" name="booking_site_url" id="booking_site_url" class="form-control" value="<?php echo (isset($this->trip['booking_site_url']) && !empty($this->trip['booking_site_url'])) ? $this->trip['booking_site_url'] : '' ?>"/>
                <p style="margin-bottom: 0px;" id="err_booking_site_url" class="text-danger err_msg"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site Phone <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide contact number of the website booked"></a></label>
                <input type="text" name="booking_site_phone" id="booking_site_phone" class="form-control numonly" value="<?php echo (isset($this->trip['booking_site_phone']) && !empty($this->trip['booking_site_phone'])) ? $this->trip['booking_site_phone'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Site Email <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide email ID of the website booked"></a></label>
                <input type="text" name="booking_site_email" id="booking_site_email" class="form-control" value="<?php echo (isset($this->trip['booking_site_email']) && !empty($this->trip['booking_site_email'])) ? $this->trip['booking_site_email'] : '' ?>"/>
                <p style="margin-bottom: 0px;" id="err_booking_site_email" class="text-danger err_msg"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-04">What are the booking details?</a> </h4>
        </div>
        <div id="reservationDetail-04" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6"> <!-- Date picker -->
                <label class="control-label">Booking Date <a class="icon-info" href="#" data-toggle="tooltip" title="Please provide the date when travel ticket was booked"></a></label>
                <input type="text" name="booking_date" id="booking_date" class="form-control booking_date" value="<?php echo (isset($this->trip['booking_date']) && !empty($this->trip['booking_date'])) ? $this->trip['booking_date'] : '' ?>"/>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Booking Reference #<a class="icon-info" href="#" data-toggle="tooltip" title="Please provide online ticket confirmation reference number"></a></label>
                <input type="text" name="booking_reference" id="booking_reference" class="form-control" value="<?php echo (isset($this->trip['booking_reference']) && !empty($this->trip['booking_reference'])) ? $this->trip['booking_reference'] : '' ?>"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Reservation is Purchased <a class="icon-info" href="#" data-toggle="tooltip" title="Please check if ticket is purchased and not rewarded/gifted"></a></label>
                <div class="yesNo">
                    <label class="sliderCheck">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
<!--                <select class="form-control" id="reservation_is_purchased" name="reservation_is_purchased" >
                  <?php $reservationSelected = (isset($this->trip['reservation_is_purchased']) && !empty($this->trip['reservation_is_purchased'])) ? $this->trip['reservation_is_purchased'] : ''; ?>
                  <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?> value="">-- select --/option>
                  <option <?php echo ($reservationSelected == 1) ? 'selected="selected"' : ''; ?> value="1">Yes</option>
                  <option <?php echo ($reservationSelected == 0) ? 'selected="selected"' : ''; ?> value="0">No</option>
                </select>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#reservationDetail-05">What did you pay?</a> </h4>
        </div>
        <div id="reservationDetail-05" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label">Total Cost<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a></label>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" name="total_cost" id="total_cost" class="form-control numonly" value="<?php echo (isset($this->trip['total_cost']) && !empty($this->trip['total_cost'])) ? $this->trip['total_cost'] : '' ?>"/>                        
                            </div>
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="total_cost_currency" name="total_cost_currency">
                                    <?php $reservationSelected = (isset($this->trip['tripDetails']['total_cost_currency']) && !empty($this->trip['tripDetails']['total_cost_currency'])) ? $this->trip['tripDetails']['total_cost_currency'] : ''; ?>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?> value="">-- select --</option>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'USD $'; ?> value="USD $">USD $</option>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'EUR €'; ?> value="EUR €">EUR €</option>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'GBP £'; ?> value="GBP £">GBP £</option>
                                </select> 
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">Discount code<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide discount code used to purchase ticket."></a></label>                        
                        <input type="text" name="total_cost" id="total_cost" class="form-control" value="<?php echo (isset($this->trip['discount_code']) && !empty($this->trip['discount_code'])) ? $this->trip['discount_code'] : '' ?>"/>                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label">Discount cost<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total cost of the ticket purchased."></a></label>                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" name="total_cost" id="total_cost" class="form-control numonly" value="<?php echo (isset($this->trip['total_discount_cost']) && !empty($this->trip['total_discount_cost'])) ? $this->trip['total_discount_cost'] : '' ?>"/>                        
                            </div>
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="total_cost_currency" name="total_cost_currency">
                                    <?php $reservationSelected = (isset($this->trip['tripDetails']['total_discount_currency']) && !empty($this->trip['tripDetails']['total_discount_currency'])) ? $this->trip['tripDetails']['total_discount_currency'] : ''; ?>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : ''; ?> value="">-- select --</option>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'USD $'; ?> value="USD $">USD $</option>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'EUR €'; ?> value="EUR €">EUR €</option>
                                    <option <?php echo ($reservationSelected == '') ? 'selected="selected"' : 'GBP £'; ?> value="GBP £">GBP £</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label">Comments/Restrictions <a class="icon-info" href="#" data-toggle="tooltip" title="Any added facilities/restrictions in ticket purchased"></a></label>
                        <textarea name="comments_restrictions" id="comments_restrictions" class="form-control"><?php echo (isset($this->trip['comments_restrictions']) && !empty($this->trip['comments_restrictions'])) ? $this->trip['comments_restrictions'] : '' ?></textarea>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<div id="flightDisplayContents" style="display: none;">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>

