// out: ../css/common.css, compress: false

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

@import "variables";
@import "mixins";

html {
  font-size: 10px;
}

body {
  font-family: @default-font;
  color: @grey-700;
  font-size: @font-base-size;
  line-height: @line-base;
}
a {
  text-decoration: none;
  outline: none !important;
}
a:hover {
  color: @strong-blue;
  text-decoration: none;
}

ul {
  .no-mp();
}

ul li {
  list-style: none;
}

label {
  font-weight: @ft-n;
}

/* buttons */

.btn {
  .border-radius(0);
  font-size: @font-base-size;
  .border(none);
  font-size: @font-base-size;
  font-weight: @ft-m;
  padding: 8px 20px;
  min-width: 100px;
  min-height: 40px;
  &.btn-facebook {
    background: @fb-social-color;
    color: @white;
    &:hover {
      background: fade(@fb-social-color, 85%);
    }
  }
  &.btn-google {
    background: @google-social-color;
    color: @white;
    &:hover {
      background: fade(@google-social-color, 85%);
    }
  }
  &.btn-email, &.signup-btn {
    background: @medium-red;
    &:hover {
      background: fade(@medium-red, 85%);
    }
  }
  &.login-btn {
    .border(2px solid @strong-blue);
    background: @white;
    color: @strong-blue !important;
    &:hover {
      background: @strong-blue !important;
      color: @white !important;
    }
  }
}

.btn-green, .btn-primary {
  .btn-bg(@moderate-green, @white);
}

.btn-secondary {
  .btn-bg(@medium-red, @white);
}

.btn-black {
  color: @grey-700;
  background: @grey-600;
  &:hover, &:focus {
    color: @white;
    background: @grey-900;
  }
}

.btn-primary-invert, .btn-paypal  {
  .btn-bg(@strong-blue, @white);
}


.btn-ghost {
  background: none;
  .border(2px solid @white);
  padding: 7px 18px;
 .border-radius(0);
 color: @white;
   &:hover {
     color: @grey-800;
   }
   &.btn-primary, &.btn-warning {
     .btn-bg(@light-orange, @white);
   }
  &.btn-success {
     .btn-bg(@light-green, @white);
   }
   &.btn-info {
    .btn-bg(@dark-blue-700, @white);
   }
   &.btn-danger {
     .btn-bg(@medium-red, @white);
   }
   &.btn-primary-invert {
     .btn-bg(@strong-blue, @white);
   }
   &.btn-black {
     border-color: @grey-900;
     color: @grey-900;
     &:hover {
       background: @grey-900;
       color: @white;
     }
   }
   &.btn-white {
     border-color: @white;
     color: @white;
     &:hover {
       background: @white;
       color: @grey-700;
     }
   }
}

.btn-box{
  float: left;
  padding: 5px;
}
.blue-box{
  background: @dark-blue-700;
  padding-right: 25px;
  &.active {
    padding: 8px 25px 8px 20px;
  }
}
.green-box{
  background: @moderate-green;
  padding-left: 25px;
}
.btn-sliver{
  .transition(all 0.5s ease);
  background: none;
  .border(0);
  padding: 8px;
  outline: 0;
  text-transform: uppercase;
  color: @white;
  font-size: @font-small;
  font-weight: @ft-b;
  line-height: 13px;
  .border-radius(2px);
  letter-spacing: 1px;
  &.active {
    color: @grey-800;
    background: @grey-200;
    .gradient(linear; rgba(233,233,233,1) 0%, rgba(247,247,247,1) 100%; 120deg);
    background-repeat: no-repeat;
    .text-shadow(0px 1px 0px fade(@white, 75%));
  }
}

.mfp-close-btn {
  position: @abs;
  top: -18px;
  right: -18px;
  width: 35px;
  height: 35px;
  background: @heavy-desaturated-blue;
  .border-radius(50%);
  .border(2px solid @white);
  cursor: pointer;
  i {
    color: @white;
    font-size: @font-custom-size-01;
    position: @rel;
    top: 5px;
    left: 8px;
  }
}

.overlay {
  position: @fd;
  display: none;
  width: @full;
  height: @full;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: fade(@black, 20%);
  z-index: 1001;
}

//enable currency dropdown
.home-top, .service-rate-calculations-wrapper, .dashboard-wrapper {
  .header {
    .currency-box {
      .select-wrapper {
        display: block !important;
      }
      .selected-currency {
        display: none !important;
      }
    }
  }
}

.breadcrumb-block {
  position: @fd;
  background-color: @white;
  .border-bottom(1px solid @grey-200);
  width: @full;
  z-index: 998;
  .box-shadow(0 0 2px fade(@black, 20%));
  height: 45px;
  .breadcrumb-content {
    padding: 10px 0;
    font-size: @font-base-size;
    text-transform: uppercase;
    ul {
      li {
        list-style: none;
        float: left;
        color: @strong-blue;
        &.active {
          color: @grey-700;
        }
        + li {
          &:before {
            content: '\f105';
            font-family: @fa;
            padding: 0 7px;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .breadcrumb-content {
      ul {
        float: right;
        li {
          font-size: @font-small;
        }
      }
    }
  }
}




//tabs
.tab-content {
  background: @white;
  &.p-space {
    padding: 20px;
  }
  .tab-pane {
    .tab-heading {
      font-size: @font-medium;
      font-weight: @ft-m;
      color: @grey-700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    .tabbable-new {
      .nav-tabs-new {
        .border-bottom(1px solid @grey-300);
        li {
          float: left;
          padding-right: 4px;
          a {
            .border(1px solid @grey-300);
            .border-bottom(none);
            color: @dark-blue-700;
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: @ft-m;
            line-height: 40px;
            background: @white;
            font-size: @font-base-size;
            &:after {
              content: "";
              height: 2px;
              position: @abs;
              bottom: 0;
              left: 50%;
              .transition(all .15s ease);
              border-left: 7px solid @trans;
              border-right: 7px solid @trans;
              border-top: 5px solid @light-orange;
              .transform(scale(0) translateX(-50%));
            }
            @media (max-width: 767px) {
              padding: 0 8px;
            }
          }
          &.active, &:hover {
            > a {
              background: @light-orange;
              .transition(all .15s ease);
              color: @white;
              &:after {
                bottom: -4px;
                .transform(scale(1) translateX(-50%));
                .transition(all .15s ease);
              }
            }
          }
        }
      }
      .tab-content {
        padding: 30px 0;
        background: @white;

        .form-block {
          .form-group {
            position: @rel;
            h6 {
              font-size: @font-base-size;
              display: inline-block;
              margin: 0;
            }
            .control-label {
              font-weight: @ft-m;
              color: @grey-700;
              line-height: 28px;
            }
            input {
              .placeholder({color: fade(@grey-700, 50%)});
            }
          }
        }
        .tab-block {
          overflow: hidden;
          padding: 40px 0 0 0;
        }
      }
    }
  }
  .booking-item {
    cursor: pointer;
    display: block;
    position: @rel;
    padding: 15px;
    .border(1px solid @grey-300);
    border-top: none;
    color: @grey-700;
    .transition(all .15s ease);
    &:hover, &.active {
      color: @grey-700;
      .box-shadow(0 0px 8px fade(@black, 10%));
    }
    .sidebar-right {
      .border(1px solid @grey-300);
    }
    .status {
      text-align: center;
      .head-box{
        padding: 10px;
        background: @moderate-green;
        .i-head {
          font-weight: @ft-b !important;
        }
      }
      .head-box-bot {
        padding: 20px;
        text-transform: uppercase;
        .border(1px solid @grey-300);
        .label {
          .border-radius(100%);
          display: inline-block;
          font-size: @font-small;
          height: 24px;
          line-height: 18px;
          margin-bottom: 8px;
          width: 24px;
        }
      }
    }
    .aero {
      .fa {
        color: @strong-blue;
        float: left;
        display: inline-block;
        margin: 5px 0 0 5px;
      }
    }
    .from-to-locate h5 {
      font-size: @font-base-size;
      font-weight: @ft-m;
      margin: 5px 0 0 0;
    }
    .head-box {
      background: #127cdc none repeat scroll 0 0;
      padding: 7px 0 7px 15px;
      color: #fff;
    }
    .head-box-bot {
      background: #f7fafa none repeat scroll 0 0;
      padding: 7px 0 7px 15px;
    }
    .head-box-bot p {
      font-size: 13px;
      font-weight: 500;
      margin: 0;
    }
    .trips {

      margin-bottom: 20px;
      position: @rel;
      .column-border-right {
        position: @st;
        padding-left: 0;
        &:before {
          content: '';
          position: @abs;
          top: 0;
          bottom: 20px;
          border-left: 1px solid @grey-300;
        }
      }
      &:after {
        content: '';
        position: @abs;
        top: 0;
        height: 1px;
        background: @grey-300;
        width: @full;
      }
    }
    .list-group {
      &.col-pad-left {
        padding-left: 20px !important;
      }
      .list-group-item {
        padding: 10px 0 !important;
      }
    }
  }
}


/* tabs sample */

.tabs-container {
  .nav {
    &.nav-tabs {
      .border-bottom(1px solid @grey-300);
      li {
        float: left;
        padding-right: 4px;
        a {
          .border(1px solid @grey-300);
          .border-bottom(none);
          color: @dark-blue-700;
          padding: 0 20px;
          text-transform: uppercase;
          font-weight: @ft-m;
          line-height: 40px;
          background: @white;
          font-size: @font-base-size;
          &:after {
            content: "";
            height: 2px;
            position: @abs;
            bottom: 0;
            left: 50%;
            .transition(all .15s ease);
            border-left: 7px solid @trans;
            border-right: 7px solid @trans;
            border-top: 5px solid @light-orange;
            .transform(scale(0) translateX(-50%));
          }
          @media (max-width: 767px) {
            padding: 0 8px;
          }
        }
        &.active, &:hover {
          > a {
            background: @light-orange;
            .transition(all .15s ease);
            color: @white;
            &:after {
              bottom: -4px;
              .transform(scale(1) translateX(-50%));
              .transition(all .15s ease);
            }
          }
        }
      }
    }
  }
  .tab-content {
    padding: 30px;
    background: @white;
    border: 1px solid @grey-300;
    border-top: none;
    .form-block {
      .form-group {
        position: @rel;
        h6 {
          font-size: @font-base-size;
          display: inline-block;
          margin: 0;
        }
        .control-label {
          font-weight: @ft-m;
          color: @grey-700;
          line-height: 28px;
        }
        input {
          .placeholder({color: fade(@grey-700, 50%)});
        }
      }
    }
    .tab-block {
      overflow: hidden;
      padding: 40px 0 0 0;
    }
    .trips {
      position: @rel;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
      .column-border-right {
        position: @st;
        padding-left: 0;
        &:before {
          content: '';
          position: @abs;
          top: 0;
          bottom: 20px;
          border-left: 1px solid @grey-300;
        }
      }
      &:before {
        content: '';
        position: @abs;
        bottom: -20px;
        height: 2px;
        background: @grey-600;
        width: ~"calc(100% + 30px)";
        left: -15px;
      }
    }
    .list-group {
      &.col-pad-left {
        padding-left: 20px !important;
      }
      .list-group-item {
        padding: 10px 0 !important;
      }
    }
  }
}



//panel
.panel {
  .border-radius(0);
  &.panel-default {
    border: 1px solid @grey-300;
  }
  .panel-heading {
    .panel-title {
      font-size: @font-medium;
      font-weight: @ft-m;
      color: @grey-700;
    }
  }
  .panel-body {
    padding: 15px;
  }
}


//auto-complete
ul.ui-autocomplete {
    font-family: inherit;
    position: @abs;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: @white;
    .border(1px solid @grey-600);
    .box-shadow( fade(@black, 20%) 0 0 2px);
    .background-clip(padding-box);
    border-right-width: 2px;
    border-bottom-width: 2px;

    li.ui-menu-item{
        color: @grey-700;
        cursor: pointer;
        padding: 4px;
        font-size: @font-base-size;
        &.ui-state-focus{
          background: @grey-300;
        }
    }
    .ui-helper-hidden-accessible {
      display: none;
    }
}

/* form control */
.form-control {
  .border(1px solid @grey-300);
  color: @grey-700;
  .placeholder({color: fade(@grey-700, 50%)});
}

.input-group {
  width: @full;
  height: 40px;
  &.radio-group {
    height: auto;
  }
  .input-group-addon {
    padding: 0 !important;
    width: 50px;
    .border-radius(0);
    .border(1px solid @grey-300);
    background: @white;
    i {
      font-size: @h4-size;
    }
  }
  input {
    width: @full;
    height: @full;
    background: @white !important;
    border-color: @grey-300 !important;
    &[type="radio"] {
    position: @abs;
    .opacity(0);
    + label {
      padding: 0 20px 0 0;
      &:before {
        content: '';
        background: @grey-200;
        .border-radius(100%);
        border: 1px solid @grey-500;
        display: inline-block;
        width: 18px;
        height: 18px;
        position: @rel;
        top: 3px;
        margin-right: 8px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all .15 ease;
      }
    }
    &:checked {
      + label {
        &:before {
          background-color: @moderate-green;
          .box-shadow(inset 0 0 0 4px @grey-200);
        }
      }
    }
    &:focus {
      + label {
        &:before {
          outline: none;
          border-color: @moderate-green;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          .box-shadow(inset 0 0 0 4px @grey-200);
          border-color: @grey-500;
          background: @grey-500;
        }
      }
    }
    + label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
  }
  input, textarea {
    &.error {
      border: 1px solid @strong-red !important;
    }
  }
}

/* datatables */
.dataTables_wrapper {
  table {
    &.dataTable {
      position: @rel;
      top: 10px;
    }
  }
  .dataTables_paginate {
    padding: 20px 0 0 0;
    .paginate_button {
      padding: 8px 15px !important;
      background: @white;
      .border(1px solid @grey-300);
      color: @dark-blue-700;
      position: @rel;
      margin-left: -1px !important;
      &.current, &:hover, &:focus {
        background: @dark-blue-700 !important;
        color: @white !important;
        .box-shadow(none);
        .border(1px solid @dark-blue-700) !important;
      }
      &.disabled {
        background: @grey-300 !important;
        color: @grey-600 !important;
        cursor: not-allowed !important;
        pointer-events: none !important;
      }
    }
  }
  .dataTables_info {
    padding: 20px 0 0 0;
  }
}

/* radio and checkboxes */
.radio label, .checkbox label {
  padding-left: 0 !important;
}

.i-check,
.i-radio {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    .border(1px solid @grey-300);
    cursor: pointer;
    top: 1px;
    float: left;
    text-align: center;
    line-height: 20px;
    .transition(all 0.3s ease);
    position: @rel;
    overflow: hidden;
    margin-right: 10px;
    &:before {
      content: '\f00c';
      font-family: 'FontAwesome';
      .transition(all 0.3s ease);
      .transform(translate3d(0, -25px, 0));
      display: block;
      .opacity(0);
      color: @white;
      font-size: @font-base-size;
    }
    &.hover, &.checked {
      .border(1px solid @moderate-green);
    }
    &.checked {
      background: @moderate-green;
      &:before {
        .transform(translate3d(0, 0, 0););
        .opacity(1);
      }
    }
    .disabled {
      border-color: @grey-300 !important;
      &.checked {
      border-color: @grey-600 !important;
      }
    }
}


.i-check.i-check-stroke.checked {
    background: #fff;
}

.i-check.i-check-stroke.checked:before {
    color: #ed8323;
}

.i-radio {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.i-radio:before {
    content: '\f111';
    font-size: 12px;
}

.checkbox-switch .i-check,
.radio-switch .i-check,
.checkbox-switch .i-radio,
.radio-switch .i-radio {
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 44px;
    broder-color: #999;
    border-width: 2px;
}

.checkbox-switch .i-check:before,
.radio-switch .i-check:before,
.checkbox-switch .i-radio:before,
.radio-switch .i-radio:before {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #b3b3b3;
    content: '';
    width: 16px;
    height: 14px;
    top: 2px;
    left: 2px;
    position: absolute;
}

.checkbox-switch .i-check.checked,
.radio-switch .i-check.checked,
.checkbox-switch .i-radio.checked,
.radio-switch .i-radio.checked {
    background: #fff;
}

.checkbox-switch .i-check.checked:before,
.radio-switch .i-check.checked:before,
.checkbox-switch .i-radio.checked:before,
.radio-switch .i-radio.checked:before {
    background: #ed8323;
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    -o-transform: translate3d(20px, 0, 0);
    -ms-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
}

.checkbox-switch .i-check.disabled:before,
.radio-switch .i-check.disabled:before,
.checkbox-switch .i-radio.disabled:before,
.radio-switch .i-radio.disabled:before {
    background: #ccc !important;
}

.checkbox-small,
.radio-small {
    margin-bottom: 10px;
}

.checkbox-small.checkbox-inline,
.radio-small.checkbox-inline,
.checkbox-small.radio-inline,
.radio-small.radio-inline {
    margin: 0;
}

.checkbox-small label,
.radio-small label {
    font-size: 12px;
}

.checkbox-small label .i-check,
.radio-small label .i-check,
.checkbox-small label .i-radio,
.radio-small label .i-radio {
    width: 18px;
    height: 18px;
    line-height: 15px;
    top: 3px;
}

.checkbox-small label .i-check:before,
.radio-small label .i-check:before,
.checkbox-small label .i-radio:before,
.radio-small label .i-radio:before {
    font-size: 12px;
}

.checkbox-small label .i-radio:before,
.radio-small label .i-radio:before {
    font-size: 9px;
}

.checkbox-lg,
.radio-lg {
    margin-bottom: 20px;
}

.checkbox-lg.checkbox-inline,
.radio-lg.checkbox-inline,
.checkbox-lg.radio-inline,
.radio-lg.radio-inline {
    margin: 0;
}

.checkbox-lg label,
.radio-lg label {
    font-size: 16px;
}

.checkbox-lg label .i-check,
.radio-lg label .i-check,
.checkbox-lg label .i-radio,
.radio-lg label .i-radio {
    width: 26px;
    height: 26px;
    line-height: 24px;
    top: -1px;
}

.checkbox-lg label .i-check:before,
.radio-lg label .i-check:before,
.checkbox-lg label .i-radio:before,
.radio-lg label .i-radio:before {
    font-size: 16px;
}

.checkbox-lg label .i-radio:before,
.radio-lg label .i-radio:before {
    font-size: 14px;
}

.checkbox-stroke .i-check.checked,
.radio-stroke .i-check.checked,
.checkbox-stroke .i-radio.checked,
.radio-stroke .i-radio.checked {
    background: #fff;
}

.checkbox-stroke .i-check.checked:before,
.radio-stroke .i-check.checked:before,
.checkbox-stroke .i-radio.checked:before,
.radio-stroke .i-radio.checked:before {
    color: #99CB51;
}

.checkbox-stroke .i-check.checked.disabled,
.radio-stroke .i-check.checked.disabled,
.checkbox-stroke .i-radio.checked.disabled,
.radio-stroke .i-radio.checked.disabled {
    background: #fff;
}

.checkbox-stroke .i-check.checked.disabled:before,
.radio-stroke .i-check.checked.disabled:before,
.checkbox-stroke .i-radio.checked.disabled:before,
.radio-stroke .i-radio.checked.disabled:before {
    color: #ccc;
}

.checkbox-small.checkbox-inline + .checkbox-small.checkbox-inline,
.radio-small.radio-inline + .radio-small.radio-inline {
    margin-left: 10px;
}

.checkbox-lg.checkbox-inline + .checkbox-lg.checkbox-inline,
.radio-lg.radio-inline + .radio-lg.radio-inline {
    margin-left: 20px;
}


/* pagination */
.pager {
  margin: 20px 0 0 0 !important;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
    .btn {
      border: 1px solid @grey-300;
      color: @strong-blue;
      font-weight: @ft-n;
      font-size: @font-base-size;
      padding: 8px 20px;
      &.disabled {
        color: @grey-600;
      }
      &:focus {
        background: @white;
      }
      &:hover {
        color: @white;
        background: @dark-blue-700;
      }
    }
  }
}
/*
.pager.pager-new li > a,
.pager.pager-new li > span {
    margin: 5px 5px;
    color: #98CA51;
    border-color: #98CA51;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
}

.pager.pager-new li.disabled > a,
.pager.pager-new li.disabled > span {
    color: #999999;
    border-color: #999999;
}

.pager.pager-new li.disabled > a:hover,
.pager.pager-new li.disabled > a:focus {
    color: #999999;
    border-color: #999999;
}

.pager.pager-new li > a:hover,
.pager.pager-new li > a:focus {
    background-color: inherit;
    color: #000;
    border-color: #000;
}
*/

/* others */

.form-block {
    float: left;
    width: @full;
}


.sub-block{
  padding-bottom: 15px;
}

.sub-head{
  margin: 0 0 10px 0;
  font-size: @font-medium;
  font-weight: @ft-m;
}

.full-width {
  width: @full;
}

.less-wide {
  max-width: 120rem;
  margin: 0 auto;
}

.block {
  display: block;
}

.no-border  {
  .border(none);
}

.panel-borderless {
  .border(none);
  .box-shadow(none);
}

.no-space {
  padding: 0 !important;
  background: transparent !important;
}

.p-20 {padding: 20px 0;}
.pb-10 {padding-bottom: 10px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-30 {padding-bottom: 30px !important;}
.mb-0 {margin-bottom: 0 !important;}
.mb-20 {margin-bottom: 20px !important;}
.mr-10 {margin-right: 10px !important;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}
.pt-0 {padding-top: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}
.m-0 {margin: 0 !important;}
.p-0 {padding: 0 !important;}

/* status dots */
.status-dot {
  display: inline-block;
  .border-radius(30px);
  width: 25px;
  height: 25px;
}

/* bg colors */
.bg-green {
  background: @moderate-green !important;
}

.bg-blue-custom {
  background: @m-blue-01 !important;
}

/* text colors */
.text-white {
  color: @white !important;
}

.text-grey {
  color: @grey-700 !important;
}

.text-black {
  color: @black !important;
}

.text-green {
  color: @moderate-green !important;
}

.text-blue {
  color: @strong-blue !important;
}

/* font weights */

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* alerts */

.alert-class {
  padding: 10px;
  float: left;
  width: @full;
}

.alert-class-right {
  float: right;
  line-height: @line-base;
}

.alert-class-left {
  float: left;
  width: 10%;
}

.alert-class-center {
  float: left;
  line-height: @line-base;
  text-align: left;
}

.stop-pagescroll {
  height: @full;
  overflow-y: hidden;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.global-wrap{
  background: @grey-50;
  overflow: auto;
}

.border {
  .border(1px solid @grey-300);
}

.border-right {
  border-right: 1px solid @grey-300;
}

/* preloader less */
.trepr-help, .header .currency-box, .color-picker-group {
  #preloader {
    position: @rel;
    width: 60px;
    height: 60px;
    top: 45%;
    margin: 0 auto;
    span {
      position: @abs;
    	.border(4px solid @medium--desaturated-blue);
    	.border-top(4px solid @trans);
    	.border-radius(999px);
      &:nth-child(1) {
        width:60px;
      	height:60px;
        left: 0;
      	animation: spin-1 2s infinite linear;
      }
      &:nth-child(2) {
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
      	animation: spin-2 1s infinite linear;
      }
    }
  }
}

@keyframes spin-1 {
	0% {transform: rotate(360deg); opacity: 1;}
	50% {transform: rotate(180deg); opacity: 0.5;}
	100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
	0% {transform: rotate(0deg); opacity: 0.5;}
	50% {transform: rotate(180deg); opacity: 1;}
	100% {transform: rotate(360deg); opacity: 0.5;}
}

[touch-action="none"] {
    -ms-touch-action: none;
    touch-action: none;
}

[touch-action="pan-x"] {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

[touch-action="pan-y"] {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

[touch-action="scroll"],
[touch-action="pan-x pan-y"],
[touch-action="pan-y pan-x"] {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}

@media (max-width: 991px) {
  .column-sm-mb {
    margin-bottom: 20px;
  }
  .column-border-right {
    &:before {
      content: none !important;
    }
  }
}

@media (max-width: 768px) {
  .column-sm-mb {
    margin-bottom: 20px;
  }

}
