// out: ../css/dashboard.css, compress: false

@import "variables";
@import "mixins";


@dashboard-color-box-height: 125px !important;

.dashboard-wrapper {
  .dashboard-content {
    .user-settings-wrapper {
      .user-name {
        position: @rel;
        width: @full;
        height: 120px;
        padding: 25px 0 25px 20px;
        .gradient(linear; @blue-cyan-01, @blue-cyan-02 100%; 90deg);
        .border-radius(8px);
        overflow: hidden;
        @media (min-width: 992px) and (max-width: 1199px) {
          height: 130px;
          padding: 20px 0;
        }
        a {
          display: block;
          .profile-pic {
            .border(2px solid fade(@white, 20%));
            .border-radius(50%);
            overflow: hidden;
            width: 50px;
            height: 50px;
            img {
              width: inherit;
              height: @full;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
              text-align: center;
              width: 50px;
              margin: 0 auto 5px auto;
              float: none !important;
            }
          }
            .profile-details {
              margin: 0 0 0 8px;
              background: @trans;
              @media (min-width: 992px) and (max-width: 1199px) {
                text-align: center;
                width: @full;
                padding: 5px 0;
                margin: 0;
              }
              h5, h6 {
                color: @white;
                text-transform: capitalize;
              }
              h5 {
                font-size: @font-base-size;
                margin: 0 0 5px 0 !important;
                @media (min-width: 768px) and (max-width: 991px) {
                  font-size: @font-medium;
                }
              }
              h6 {
                font-size: @font-small;
                @media (min-width: 768px) and (max-width: 991px) {
                  font-size: @font-base-size;
                }
                @media (min-width: 992px) and (max-width: 1199px) {
                  margin: 0 !important;
                }
              }
            }
        }
      }
      .profile, .account {
        margin: 20px 0 0 0;
        .gradient(linear; @blue-cyan-01, @blue-cyan-02 100%; 120deg);
        padding: 20px 0 0 0;
        .border-radius(8px);
        overflow: hidden;
        a {
          display: block;
          .icon {
            padding: 0 0 10px 0;
            .border-bottom(1px solid @white);
            border-color: fade(@white, 20%);
          }
          p {
            padding: 10px 20px 15px 20px;
            font-size: @font-small;
            line-height: @font-medium;
            color: @white;
            text-align: center;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @font-base-size;
            }
          }
          h5 {
            text-transform: uppercase;
            color: @white;
            font-size: @font-base-size;
            font-weight: @ft-b;
            margin: 10px 0 0 0;
            text-align: center;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @font-medium;
            }
            @media (max-width: 480px) {
              margin: 10px 10px 0 10px;
            }
          }
          .arrow {
            position: @st;
            margin: 0 auto;
          }
        }
      }
      .seeker-wishlist {
        margin: 20px 0 0 0;
        background: @dark-blue-850;
        padding: 0 10px;
        .border-radius(8px);
        overflow: hidden;
        height: 120px;
        .status {
          padding: 25px 0;
          .border-right(1px solid @white);
          border-color: fade(@white, 20%);
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0 0 5px;
          i {
            color: @white;
            font-size: 34px;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @font-custom-size-03;
            }
          }
        }
        .desp {
          width: 60%;
          margin: 10px 10px 0 15px;
          h6 {
            text-transform: uppercase;
            padding: 0 0 5px 0;
            color: @white;
            font-size: @font-small;
            font-weight: @ft-b;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @h4-size;
            }
            @media (max-width: 480px) {
              font-size: @font-base-size;
            }
          }
          p {
            color: @white;
            font-size: @font-small;
            line-height: @font-medium;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @font-base-size;
            }
          }
          @media (max-width: 480px) {
            width: 70%;
          }
        }
        .score {
          height: 120px;
          margin: 0 0 0 5px;
          position: relative;
          top: 45px;
          right: 20px;
          float: right !important;
          @media (min-width: 768px) and (max-width: 991px) {
            top: 20px;
            margin: 0;
          }
          @media (min-width: 992px) and (max-width: 1199px) {

          }

          .box {
            width: 40px;
            height: 40px;
            .border(1px solid @white);
            border-color: fade(@white, 50%);
            .border-radius(50%);
            color: @white;
            font-weight: @ft-b;
            position: @rel;
            @media (min-width: 768px) and (max-width: 991px) {
              width: 80px;
              height: 80px;
              font-size: @font-custom-size-01;
            }
            span {
              position: @abs;
              top: 50%;
              left: 50%;
              .transform(translate(-50%,-50%));
            }
          }
        }
      }
      .arrow {
        position: @abs;
        top: 50%;
        .transform(translateY(-50%));
        font-family: @fa;
        width: 22px;
        height: 22px;
        .border(1px solid @white);
        .border-radius(50%);
        right: 20px;
        i {
          color: @white;
          font-size: @font-base-size;
          position: @rel;
          top: 2px;
          display: flex;
        justify-content: center;
        }
      }
    }
    .middle-section-wrapper {
      .dashboard-card {
        .border-radius(8px);
        background: @white;
        overflow: hidden;
        .box-shadow(0 1px 5px fade(@black, 20%));
        margin: 0 0 25px 0;
        .card-header {
          background: @heavy-desaturated-blue;
          height: 40px;
          .icon {
            padding: 0 10px 0 0;
            .border-right(1px solid @white);
            border-color: fade(@white, 20%);
            height: 100%;
            padding: 8px 10px;
          }
          h5 {
            text-transform: uppercase;
            font-size: @font-medium;
            color: @white;
            padding: 12px 0 0 10px;
            margin: 0;
          }
        }
        .card-body {
          background: @white;
          .top-section, .bottom-section {
            .row {
              display: flex;
              flex-direction: row;
              width: -moz-available;
              @media (max-width: 480px) {
                display: block;
              }
              .column {
                .border-right(1px solid @grey-600);
                a {
                  &:hover {
                    .count-desp {
                      .count, .label {
                        color: @strong-blue;
                      }
                    }
                  }
                }
              }
            }
          }
          .top-section {
            .border-bottom(1px solid @grey-600);
            padding: 0 12px;
            .left {
              margin: 10px 0;
              .border-right(1px solid @grey-600);
              width: 170px;
              @media (max-width: 480px) {
                .border-right(none);
                margin-bottom: 0;
              }
              h5 {
                font-size: @font-medium;
                padding: 10px 0 10px 15px;
                font-weight: @ft-n;
                margin: 0;
                width: 90%;
                text-transform: uppercase;
                &:after {
                  content: '\f105';
                  font-family: @fa;
                  margin: 0 0 0 6px;
                }
              }
            }
            .right {
              margin: 10px 0;
              .count {
                color: @lime-green;
                font-size: @font-custom-size-02;
                line-height: normal;
                padding: 10px 10px 10px 15px;
                display: inline-block;
              }
              @media (max-width: 480px) {
                margin-bottom: 0;
              }
            }
            .more {
              @media (max-width: 480px) {
                margin: 10px 0;
              }
            }
          }
          .bottom-section {
            background: @grey-200;
            padding: 0 12px;
          }
          .count-desp {
            padding: 10px 15px;
            margin: 10px 0;
            float: left;
            width: @full;
            height: inherit;
            .count {
              color: @grey-800;
              line-height: normal;
              padding: 0 0 2px 0;
              float: left;
              &.medium {
                font-size: @font-medium;
              }
              &.small {
                font-size: @font-small;
              }
              &.big {
                font-size: @h3-size;
              }
              &.bigger {
                font-size: @font-big;
              }
            }
            .label {
              color: @grey-650;
              font-size: @font-small;
              text-transform: uppercase;
              font-weight: @ft-b;
              padding: 0;
              line-height: normal;
              float: left;
              clear: both;
              white-space: normal;
              text-align: left;
              &:after {
                content: '\f105';
                font-family: @fa;
                margin: 0 0 0 6px;
              }
              @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
              }
            }
            @media (max-width: 480px) {
              padding: 5px 15px;
              margin: 8px 0;
            }
          }
        }
      }
      @media (max-width: 991px) {
        margin: 20px 0 0 0;
      }
    }
    .color-box {
      margin: 0 0 20px 0;
      height: @dashboard-color-box-height;
      padding: 0 20px;
      .border-radius(8px);
      @media (min-width: 992px) and (max-width: 1199px) {
        height: 130px;
      }
      &.grey {
        .gradient(linear; @dark-grey-01, @blue-grey-02 100%; 90deg);
        .icon, .desp {
          padding: 10px 0;
        }
        .chart-box {
          width: 80%;
          margin: 0 auto;
          height: @full;
        }
        .desp {
          h6 {
            text-transform: uppercase;
            padding: 0 0 8px 0;
            color: @white;
            font-size: @font-small;
            font-weight: @ft-b;
            margin: 10px 0 0 0;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @h4-size;
            }
          }
          p {
            color: @white;
            font-size: @font-small;
            line-height: @font-medium;
            margin: 0 0 5px 0;
          }
          a {
            color: @medium-orange;
            text-transform: uppercase;
            font-size: @font-tiny;
            font-weight: @ft-m;
            letter-spacing: 0.5px;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @font-small;
              display: inline-block;
              margin: 10px 0 0 0;
            }
            i {
            color: @medium-orange;
            position: @rel;
            top: 1px;
            left: 7px;
            font-size: @font-base-size;
            }
          }
        }
      }
      &.green {
        .gradient(linear; @lime-green-01, @lime-green-02 100%; 90deg);
      }
      &.teal {
        .gradient(linear; @teal-green-01, @teal-green-02 100%; 90deg);
      }
      &.s-blue {
        .gradient(linear; @s-blue-01, @s-blue-02 100%; 90deg);
      }
      &.m-blue {
        .gradient(linear; @m-blue-01, @m-blue-02 100%; 90deg);
      }
      .icon, .desp {
        padding: 20px 0;
        height: @dashboard-color-box-height;
        @media (min-width: 992px) and (max-width: 1199px) {
          height: 130px;
        }
      }
      .icon {
        text-align: center;
        .border-right(1px solid @white);
        border-color: fade(@white, 20%);
        position: @rel;
        img {
          position: @abs;
          top: 50%;
          left: 50%;
          .transform(translate(-50%,-50%));
        }
      }
      .desp {
        position: @rel;
        margin: 0 8px 0 15px;
        h5 {
          text-transform: uppercase;
          padding: 0 0 8px 0;
          color: @white;
          font-size: @font-base-size;
          font-weight: @ft-b;
          margin: 0;
          width: 95%;
          float: left;
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: @h4-size;
            margin: 0;
          }
        }
        p {
          clear: both;
          color: @white;
          font-size: @font-small;
          line-height: @font-medium;
          &.rw {
            width: 90%;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: @font-base-size !important;
          }
        }
        .plus {
          position: @abs;
          top: 50%;
          .transform(translateY(-50%));
          font-family: @fa;
          width: 28px;
          height: 28px;
          .border(1.5px solid @white);
          .border-radius(50%);
          right: 0;
          i {
            position: @abs;
            top: 51%;
            left: 51%;
            .transform(translate(-50%,-50%));
            color: @white;
            font-size: @font-base-size;
          }
        }
      }
    }
    .logout {
      margin: 20px 0 0 0;
      background: @dark-blue-850;
      padding: 0 20px;
      .border-radius(8px);
      overflow: hidden;
      .box {
        overflow: hidden;
        display: flex;
        justify-content: center;
        .desp {
          margin: 0 0 0 10px;
          h5 {
            font-size: @font-base-size;
            color: @white;
            margin: 7px 0 0 0;
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: @font-medium;
            }
          }
        }
      }
    }
  }
}
