// out: ../css/footer.css, compress: false

@import "variables";
@import "mixins";


.footer-container {
  background: @medium-dark-blue;
  color: @white;
  font-size: @font-base-size;
  line-height: 1.4em;
  float: left;
  width: @full;
  min-height: 400px;
  .top-block, .bottom-block {
    h5 {
      font-size: @font-base-size;
      font-weight: @ft-m;
      letter-spacing: 1px;
    }
  }
  .top-block {
    padding: 30px 0;
    .border-bottom(1px solid fade(@white, 10%));
    ul {
      &.footer-links {
        margin: 5px 0 0 0 !important;
        float: left;
        @media (max-width: 767px) {
          margin: 5px 0 15px 0 !important;
        }
        li {
          margin: 0 0 20px 0;
          a {
            font-weight: @ft-n;
            font-size: 14px;
            color: @light-desaturated-blue;
            &:hover {
              text-decoration: none;
              color: @white;
            }
          }
        }
      }
    }
    .c-cards {
      ul {
        li {
          a {
            .box-shadow(0 0 5px @dark-blue-950);
            display: inline-block;
          }
          &:first-child {
            padding-left: 0;
          }
          @media (max-width: 991px) {
            margin-bottom: 0 !important;
          }
        }
        @media (max-width: 991px) {
          margin-bottom: 0 !important;
        }
      }
    }
    .social-list {
      padding-bottom: 15px;
      .social-links {
        li {
          padding-right: 3px;
          &:first-child {
            padding-left: 0;
          }
          a {
            width: 38px;
            height: 38px;
            .border-radius(30px);
            background: @dark-blue-900;
            display: flex;
            color: @white;
            justify-content: center;
            align-items: center;
            font-size: @font-custom-size-01;
            &:hover {
              background: @dark-blue-700;
            }
          }
          @media (max-width: 767px) {
            margin: 0 0 5px 0 !important;
          }
        }
      }
    }
    .subscribe {
      padding-bottom: 35px;
      @media (min-width: 768px) and (max-width: 991px) {
        padding: 15px 0 35px 0;
      }
      .input-box {
        margin: 5px 0 0 0;
        float: left;
        input {
          .border(1px solid fade(@white, 15%));
          .border-radius-tr(0);
          .border-radius-br(0);
          color: @white;
          font-size: @font-base-size;
          height: 40px;
          background: @trans;
          width: 240px;
          .placeholder({color: @light-desaturated-blue});
        }
      }
      .btn {
        height: 40px;
        display: flex;
        align-items: center;
        background: @dark-blue-700;
        min-width: auto;
        i {
          color: @white;
          font-size: @font-medium;
        }
      }
    }
  }
  .bottom-block {
    padding: 25px 0;
    background: @heavy-dark-blue;
    .content-box {
      display: flex;
      justify-content: center;
      align-items: center;
      h6 {
        color: @white;
        font-size: @font-base-size;
        letter-spacing: 0.4px;
      }
    }
  }
  .applogo {
    img {
      width: 100px;
    }
  }
}
