// out: ../css/header.css, compress: false

@import "variables";
@import "mixins";

body {
  &.inner-page-topSpace {
    .header {
      background: @strong-blue;
      .notification-drop {
        a {
          &.notification {
          background-color: @dark-blue-700 !important;
          .transition(background-color 0.3s);
            &:hover, &:focus {
              background-color: @dark-blue-700 !important;
            }
          }
        }
      }
    }
  }
}

.header {
  background: @trans;
  width: @full;
  padding: 12px 15px;
  position: @fd;
  z-index: 1000;
  height: 67px;
  .border-radius(0);
  .transition(all .3s ease;);
  margin: 0;
  &.blue-bg {
    background: @strong-blue;
    .transition(all .3s ease;);
    .currency-box {
      border-color:(fade(@white, 50%)) !important;
    }
    .notification-drop {
      a {
        &.notification {
        background-color: @dark-blue-700 !important;
        .transition(background-color 0.3s);
          &:hover, &:focus {
            background-color: @dark-blue-700 !important;
          }
        }
      }
    }
  }
  &.navbar {
    .navbar-toggle {
      display: none;
      margin: 0;
      padding: 0;
      .border(none);
      .border-radius(0);
      @media (max-width: 991px) {
        display: block;
      }
      .navbar-toggler-icon {
        width: 28px;
        height: 28px;
        position: relative;
        top: 6px;
        cursor: pointer;
      }
      span {
        position: @abs;
        right: 0;
        background: @white;
        width: 20px;
        .transform(translateX(0));
        height: 1.5px;
        &:nth-child(1) {
          top: 7px;
          .transition(all .3s ease);
        }
        &:nth-child(2) {
          .opacity(1);
          top: 13px;
          .transition(all .3s ease);
        }
        &:nth-child(3) {
          top: 19px;
          .transition(all .3s ease);
        }
      }
      &:hover {
        background-color: @trans;
      }
      &.expanded {
        span {
          &:nth-child(1) {
            top: 12px;
            left: 10px;
            .transform(rotate(45deg));
            .transition(all .3s ease);
          }
          &:nth-child(2) {
            .opacity(0);
            .transition(all .3s ease);
          }
          &:nth-child(3) {
            top: 12px;
            left: 10px;
            .transform(rotate(-45deg));
            .transition(all .3s ease);
          }
        }
      }
    }
  }
  &.navbar-default {
    .border(none);
  }
  .header-right {
    padding-right: 0;
    float: right;
    .top-user-area-list {
      > li {
        position: @rel;
        margin: 0 0 0 5px;
        float: left;
        height: 42px;
        &:not(.currency-box):not(.trepr-nav-traveller):not(:last-child) {
          &:after {
            content: '';
            position: @abs;
            top: 30%;
            right: -2px;
            height: 40%;
            background: fade(@white, 30%);
            width: 1px;
          }
        }
        &:not(.trepr-nav-traveller):not(:last-child){
          padding-right: 12px;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: @font-base-size;
          font-weight: @ft-m;
          display: inline-block;
          padding: 0 12px;
          color: @white;
          letter-spacing: 0.8px;
          line-height: 42px;
          &:last-child {
            padding-right: 0 !important;
          }
        }
      }
      .trepr-nav-traveller {
        margin: 0 20px 0 0;
        .border(none);
        a {
          background-color: @light-green !important;
          .border-radius(4px);
          padding: 6px 12px;
          line-height: inherit;
          &:hover {
            color: @white;
          }
        }
        img {
          float: left;
          width: 30px;
          height: auto;
        }
        span {
          position: @rel;
          top: 3px;
          padding: 0 10px;
          color: @lime-green-dark;
        }
      }
      .currency-box {
        margin: 0;
        border-right: none;
        position: @rel;
        background: @trans;
        color: @white;
        font-size: @font-small;
        padding: 0 !important;
        height: 41px;
        .border(1px solid @white);
        .border-radius(4px);
        line-height: 41px;
        width: 110px !important;
        &:after {
          content: none;
        }
        .select-wrapper {
          display: none;
          .select {
            cursor: pointer;
            display: block;
            span {
              display: inline-block;
              width: @full;
              text-align: left;
              float: left;
              padding: 0 15px;
              font-weight: @ft-m;
              font-size: @font-small;
              &:after {
                cursor: pointer;
                content: '\f107';
                font-family: @fa;
                float: right;
                font-size: @h4-size;
                margin-top: 1px;
              }
            }
          }
        }
        .selected-currency {
          width: @full;
          float: left;
          text-align: center;
          display: block;
          font-size: @font-small;
          font-weight: @ft-m;
        }
        .dropdown-list {
          position: @abs;
          width: 250px;
          background: @white;
          .border-radius(4px);
          .border(1px solid @grey-200);
          z-index: 1;
          box-sizing: initial;
          left: -1px;
          .box-shadow(fade(@black, 20%) 0px 1px 10px 0px);
          top: 41px;
          float: left;
          height: 300px;
          display: none;
          &.show {
            display: block;
          }
          li {
            padding: 0 0 0 15px;
            margin: 0 !important;
            .border-right(none);
            line-height: 35px;
            color: @grey-650;
            cursor: pointer;
            text-align: left;
            font-weight: @ft-m;
            font-size: @font-small;
            text-transform: capitalize;
            &:hover {
              background: fade(@black, 7%);
            }
            span {
              &.default {
                display: none;
              }
            }
            a {
              text-align: left;
              display: block;
              font-size: @font-base-size;
              padding-left: 15px;
              color: @grey-700;
              text-decoration: none !important;
              &:hover {
                background: @grey-200;
              }
              &:active {
                color: @grey-700;
              }
              &.disabled {
                color: @grey-600;
                &:hover {
                  background: @white;
                  color: @grey-700;
                }
              }
            }
          }
        }
        option, .default-cr {
          display: none;
        }
        .preload {
          position: @abs;
          width: @full;
          padding: 0 !important;
        }
        #preloader-wrapper {
          margin-top: 70px;
          #preloader {
            width: 50px !important;
            height: 50px !important;
            span {
              .border(2px solid fade(@black, 20%));
              .border-top(2px solid transparent);
              &:nth-child(1) {
                left: 0;
                width: 50px !important;
                height: 50px !important;
              }
              &:nth-child(2) {
                top: 10px !important;
                left: 10px !important;
              }
            }
          }
        }
        .mCSB_inside {
          > .mCSB_container {
            margin-right: 0 !important;
          }
        }
        .mCSB_scrollTools {
          right: 0 !important;
          margin: 5px 0;
          .mCSB_dragger {
            .mCSB_dragger_bar {
              background: fade(@black, 50%);
              width: 3px;
              .border-radius(0);
            }
          }
          .mCSB_draggerRail {
            width: 3px;
            .border-radius(0);
            background: fade(@black, 20%);
          }
        }
        .form-control .dropdown-toggle,
        .btn-group.open .dropdown-toggle {
          background: transparent;
          color: @white !important;
          font-size: @font-base-size;
          padding: 0px 20px;
          height: 43px;
          .border(1px solid @white);
          .border-radius(4px);
        }
        .form-control {
          &:focus {
            .border(none);
          }
        }
        .form-group {
          margin-bottom: 50px;
        }
        .form-horizontal {
          font-size: @font-custom-size-01;
          font-weight: @ft-b;
          text-transform: uppercase;
          color: @white;
          margin-bottom: 20px;
          margin-top: 0;
          text-align: left;
        }
        .dropdown-menu {
          background: @white;
          width: 250px !important;
          .border-radius(0);
          height: 250px !important;
          .border(none);
          margin: -5px 0 0 0px !important;
          .box-shadow(fade(@black, 20%) 0px 1px 10px 0px);
          top: 49px;
          > li {
            > a {
              color: @grey-700;
              padding: 6px 5px 6px 20px;
              font-size: @font-base-size;
              font-weight: @ft-n;
            }
            &.disabled  {
              > a, >a:hover {
                color: @grey-200;
              }
            }
          }
        }
        &.expand { //when the country and currency lists populates
          .select {
            span {
              &:after {
                content: '\f106';
              }
            }
          }
        }
      }
      .notification-drop {
        #notification_count {
          background-color: @strong-red;
          .border-radius(50%);
          color: @white;
          height: 20px;
          line-height: 20px;
          position: @abs;
          right:14px;
          text-align: center;
          top: -1px;
          width: 20px;
          cursor: pointer;
          z-index: 1;
        }
        a {
          &.notification {
            background-color: fade(@white, 20%);
            display: block;
            height: 42px;
            line-height: 45px;
            padding: 0;
            text-align: center;
            width: 42px;
            .transition(background-color 0.3s);
            .border-radius(50%);
            &:hover, &:focus {
              color: @white;
            }
            .fa {
              font-size: @h4-size;
              position: relative;
              left: 1px;
            }
          }
        }
        padding-left: 10px;
        margin-left: 10px;
        &.active-drop {
          > #notificationContainer {
            height: auto;
            overflow: visible;
            .opacity(1);
          }
          > .nav-drop-menu {
            .transform(translate3d(0, 10px, 0));
          }
        }
        #notificationContainer {
          background-color: @white;
          .box-shadow(0 0 2px fade(@black, 20%));
          width: 400px;
          height: 0;
          overflow: hidden;
          position: @abs;
          z-index: 999;
          right: -17px;
          top: 45px;
          list-style: none;
          margin: 0;
          padding: 0;
          .transform(translate3d(0, 10px, 0));
          .opacity(0);
          .transition(opacity 0.3s);
          .transition(transform .3s);
          &:before {
            content: '';
            display: block;
            position: @abs;
            width: 0;
            height: 0;
            color: transparent;
            .border(10px solid @white);
            border-color: transparent transparent @white;
            margin-top: -20px;
            right: 37px;
          }
          #notificationTitle {
            font-weight: @ft-b;
            padding: 8px;
            font-size: @font-base-size;
            background-color: @white;
            z-index: 1000;
            .border-bottom(1px solid @grey-600);
            a {
              color: @blue-cyan-01;
              text-transform: capitalize;
              line-height: normal;
              font-size: @font-base-size;
              letter-spacing: inherit;
              font-weight: @ft-n;
            }
          }
          #notificationsBody {
            max-height: 300px;
            overflow-y: scroll;
            .alert-class {
              background-color: @white;
              .transition(all .2s ease);
              &:not(:last-child){
                .border-bottom(1px solid (fade(@black, 10%)));
              }
              a {
                color: inherit;
                text-transform: capitalize;
                line-height: normal;
                font-size: @font-base-size;
                letter-spacing: inherit;
                font-weight: @ft-l;
                letter-spacing: inherit;
              }
              &:hover {
                background: @grey-200;
                .transition(all .2s ease);
              }
            }
          }
          #notificationFooter {
            background-color: @grey-200;
            text-align: center;
            font-weight: @ft-b;
            padding: 8px;
            font-size: @font-small;
            .border-top(1px solid (fade(@black, 10%)));
            a {
              color: @m-blue-01;
            }
          }
        }
      }
      .top-user-area-avatar {
        .dropdown-toggle {
          .icon, .name {
            color: @white;
            float: left;
            height: 42px;
          }
          .icon {
            .border(2px solid fade(@white, 20%));
            .border-radius(100%);
            margin-right: 8px;
            width: 42px;
            line-height: normal;
            overflow: hidden;
            img {
              width: 42px;
              height: @full;
            }
          }
        }
      }
    }
    &.navbar-collapse {
      .box-shadow(none);
      .border(none);
      @media (max-width: 991px) {
        display: none !important;
      }
    }
    &.expanded {
      width: 100vw;
      margin: 0 -15px;
      padding: 0;
      position: fixed;
      background: @strong-blue;
      top: 0;
      z-index: -1;
      height: 100vh !important;
      display: block !important;
      .top-user-area-list {
        margin: 97px 0 0 20px !important;
        width: @full;
        > li {
          display: block;
          float: none;
          padding: 16px 0;
          margin: 0;
          height: auto;
          width: 91%;
          display: inline-block;
          height: 56px;
          &.home-link {
            .border-bottom(1px solid (fade(@white, 30%)));
            margin-bottom: 40px;
          }
          &.trepr-nav-traveller {
            position: @fd;
            bottom: 90px;
            height: 84px;
            width: 100vw;
            .border(1px solid (fade(@white, 30%)));
            border-left: none;
            border-right: none;
            margin: 0 -20px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              padding: 6px 12px;
              font-size: @font-base-size;
            }
          }
          &.currency-box {
            position: @abs;
            top: 10px;
            right: 65px;
            border-color:(fade(@white, 30%)) !important;
            margin: 0;
            height: auto;
            .dropdown-list {
              width: 100vw;
              position: @fd;
              top: 67px;
              height: 100vh;
              z-index: 1000;
              left: 0;
              .border-radius(0);
              li {
                font-size: @font-medium;
                line-height: 40px;
                font-weight: @ft-n;
              }
            }
          }
          &.top-user-area-avatar {
            .dropdown-toggle {
              .icon {
                position: @abs;
                right: 12px;
                margin-right: 0;
                width: 38px;
                height: 38px;
                top: -8px;
                .origin {
                  height: 38px;
                }
              }
              .sm-title {
                line-height: 0;
              }
            }
          }
          &.notification-drop {
            #notification_count {
              display: block;
              right: 12px;
              top: 3px;
            }
            a {
              &.notification {
                position: @rel;
                top: -9px;
                width: 38px;
                height: 38px;
                float: right;
                right: 0;
                background-color: @dark-blue-700;
                &:hover, &:focus {
                  background-color: @dark-blue-700;
                }
                i {
                  top: -3px;
                }
              }
            }
            #notificationContainer {
              width: 100vw;
              left: -20px;
            }
          }
          a {
            padding: 4px 0;
            display: inline-block;
            font-size: @font-medium;
            line-height: inherit;
          }
          &:after {
            content: none;
            height: 0 !important;
          }
        }
      }
      @media (min-width: 992px) {
        display: none !important;
      }
    }
  }
  .trepr-help {
    position: @fd;
    right: -460px;
    top: 0;
    background: @medium-dark-green;
    width: 360px;
    z-index: 1000;
    height: 100vh;
    .box-shadow(rgba(0, 0, 0, 0.1) -3px 0px 3px 0px);
    .transition(right .3s ease);
    &.show {
      right: 0;
      .transition(right .3s ease);
    }
    .nicescroll-rails {
      div {
        width: 4px !important;
      }
    }
    .content-box {
      display: inline-block;
      float: left;
      text-align: center;
      width: 100%;
      position: @rel;
      height: 100%;
      .head {
        height: 67px;
        padding: 10px 0;
        float: left;
        width: @full;
        .border-bottom(1px solid @moderate-cyan);
        h3 {
          text-align: center;
          margin: 10px 0 0 0;
          a {
            color: @white;
            font-size: @font-custom-size-01;
            font-weight: @ft-n;
          }
        }
        .back-btn, .close {
          position: @abs;
          color: @grey-blue;
        }
        .back-btn {
          font-size: @font-base-size;
          top: 20px;
          left: 5%;
          cursor: pointer;
          display: none;
          &:before {
            content: "\f104";
            font-family: @fa;
            font-size: @font-custom-size-04;
            color: #fdfdfd;
            margin-right: 10px;
            font-weight: 500;
          }
          span {
            position: relative;
            top: -4px;
            letter-spacing: 0.4px;
            color: @grey-100;
          }
        }
        .close {
          font-size: @font-custom-size-05;
          top: 20px;
          right: 5%;
          .opacity(1);
          text-shadow: none;
        }
      }
      .body {
        float: left;
        width: @full;
        height: ~"calc(100vh - 240px)";
        .content-wrapper {
          height: @full;
        }
        .mCSB_inside > .mCSB_container {
            margin-right: 0 !important;
        }
        .mCSB_scrollTools {
          right: -5px !important;
          .mCSB_dragger {
            .mCSB_dragger_bar {
              background: @desaturated-dark-cyan !important;
              width: 5px;
              .border-radius(0);
            }
          }
          .mCSB_draggerRail {
            width: 5px;
            .border-radius(0);
          }
        }
        &.scroll {
          height: ~"calc(100vh - 240px)";
        }
        .search-form {
          position: @rel;
          width: 90%;
          border: 1px solid @medium--desaturated-blue;
          margin: 40px auto 20px auto;
          color: @white;
          span {
            width: 20px;
            color: @white;
            font-size: @font-base-size;
            font-weight: @ft-m;
            position: @abs;
            left: 8px;
            top: 12px;
          }
          input {
            border-color: @trans !important;
            .box-shadow(none);
            background-color: @trans !important;
            color: @white !important;
            padding: 0 0 0 40px;
            .placeholder({color: @medium--desaturated-blue});
          }
        }
        .results {
          width: 90%;
          padding: 20px 0;
          text-align: left;
          margin: 0 auto;
          h5 {
            color: @white;
            display: inline-block;
            float: left;
            font-size: @font-base-size;
            font-weight: @ft-m;
            width: @full;
            display: none;
          }
          ul {
            &#searchDetails {
              float: left;
              padding-left: 0px;
              list-style: none;
              width: @full;
              margin: 10px 0 0 0 !important;
            }
            li {
              float: left;
              width: 95%;
              margin: 0 0 20px 0;
              transition: 0.3s all;
              background: transparent !important;
              line-height: @line-base !important;
              font-size: @font-base-size !important;
              font-weight: @ft-l !important;
              color: @grey-100 !important;
              p {
                line-height: @line-base !important;
              }
              a {
                color: @grey-cyan;
                font-weight: @ft-l;
                text-decoration: none !important;
                padding-right: 20px;
                width: 98%;
              }
              &.help-Question {
                a {
                  font-size: @font-medium;
                  line-height: @line-base !important;
                  position: @rel;
                  display: inline-block;
                  &:hover {
                    text-decoration: underline !important;
                  }
                  span {
                    float: right;
                    color: @trans;
                    font-size: 0;
                    position: @abs;
                    right: 20px;
                    top: 0px;
                  }
                }
              }
              ul {
                li {
                  margin-bottom: 20px !important;
                  &:before {
                    content: "\f111";
                    font-family: @fa;
                    font-weight: @ft-l;
                    font-size: 8px;
                    color: @white;
                    margin-right: 10px;
                    text-align: right;
                  }
                }
              }
              .help-back {
                float: left;
                background-color: @lime-green;
                color: @white;
                padding: 5px 20px !important;
                margin: 0 0 20px 0;
                text-align: center;
                width: 100px !important;
                .border-radius(0);
              }
            }
          }
        }
      }
      .bottom {
        position: @abs;
        bottom: 0;
        width: @full;
        height: 173px;
        background: @heavy-dark-green;
        .box-shadow(0 -5px 5px -5px rgba(0, 0, 0, 0.5));
        .vhc-btn {
          width: @full;
          background-color: @lime-green !important;
          color: @strong-grey !important;
          padding: 10px;
          .border-radius(0);
          border-color: @trans !important;
          font-size: @font-medium;
          font-weight: @ft-m;
        }
        .feedback-btn {
          color: @grey-100 !important;
          text-decoration: none;
          padding: 10px;
          display: inline-block;
          width: @full;
          font-size: @font-medium;
          font-weight: @ft-n;
        }
      }
    }
    #preloader-wrapper {
      position: @abs;
      display: none;
      .transform(translateX(-50%));
      left: 50%;
      top: 250px;
    }
    @media (max-width: 767px) {
      width: @full;
      right: -100vw;
    }
  }
  @media (max-width: 991px) {
    background: #2382c5;
  }
}
