// out: ../css/home.css, compress: false

@import "variables";
@import "mixins";
@import "common";
@import "modal";
@import "header";
@import "footer";

@homeslide-sm-img-height: 210px;

.home-top {
  .main-banner-wrapper {
    .home-slider-block {
      position: @rel;
      background-size: cover !important;
      overflow: hidden;
      height: ~"calc(100vh - 135px)";
      .owl-carousel {
        position: @rel;
        &.off {
          .opacity(0);
        }
        .owl-inner {
          position: @abs;
          left: 0;
          top: 0;
          background: fade(@black, 50%);
          width: @full;
          height: @full;
          z-index: 1;
          .owl-cap {
            position: @abs;
            top: 25%;
            left: 50%;
            .transform(translateX(-50%));
            width: @full;
            .opacity(0);
            .transition(all .3s ease);
            &.slide-in {
              top: 28%;
              .opacity(1);
              .transition(all .3s ease);
            }
            .owl-cap-title {
              line-height: 22px;
              margin-bottom: 30px;
              font-size: 36px;
              display: table;
              margin: 0 auto;
              text-transform: capitalize;
              font-weight: @ft-n;
              letter-spacing: 1px;
              color: @white;
              padding-bottom: 30px;
            }
          }
        }
        .owl-img {
          height: ~"calc(100vh - 135px)";
          object-fit: cover;
          @media (max-width: 991px) {
            height: @homeslide-sm-img-height;
          }
        }
        .owl-item {
          @media (max-width: 991px) {
            .owl-box {
              height: @full;
              .owl-cap {
                position: @st;
                .transform(none);
                .owl-cap-title {
                  font-size: @h3-size;
                  line-height: 30px;
                  margin: 40px 0 30px 0;
                  padding: 0;
                  text-align: center;
                  width: @full;
                }
                .how-it-works {
                  font-size: @font-base-size;
                }
              }
            }
          }
        }
        .owl-nav {
          position: @abs;
          top: 38%;
          width: @full;
          .transform(translateY(-50%));
          display: flex;
          align-items: center;
          .owl-next, .owl-prev {
            color: @white !important;
            .opacity(0.3);
            margin: 0;
            position: @abs;
            &:hover, &:focus {
              outline: none;
              background: none;
              .opacity(0.5);
            }
            &:focus {
              .box-shadow(none);
            }
            i {
              font-size: 90px;
              &:focus {
                .box-shadow(none);
              }
            }
          }
          .owl-prev {
            left: 30px;
          }
          .owl-next {
            right: 30px;
          }
          @media (max-width: 991px) {
            display: none;
          }
        }
        @media (max-width: 991px) {
          height: @full;
        }
      }
      @media (max-width: 991px) {
        height: @homeslide-sm-img-height;
        margin-top: 66px;
        float: left;
        width: @full;
      }
    }
    .search-container-home {
      height: auto;
      position: @abs;
      bottom: 50px;
      z-index: 100;
      top: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      &.search-sticky {
        position: @abs;
      }
      .search-bar-home {
        width: 90%;
        position: @rel;
        .content-booking-trepr {
          .button-bg-img {
            height: 53px;
          }
          .booking-list-content {
            display: inline-block;
            width: auto;
            background-color: @trans !important;
            border-color: @trans !important;
            .button-bg-tab {
              text-align: center;
              display: inline-block;
              float: left;
              width: auto;
              background-color: @trans !important;
              border-color: @trans !important;
              &.b-treprnbtn {
                margin: 0px 10px;
                > .b-treprn {

                }
                .b-treprn {
                  background: @grey-800;
                  .border(3px solid @white);
                  color: @white;
                  .border-radius(10px 10px 0px 0px);
                  .border-bottom(none);
                  padding: 0 6px;
                  &.active {
                    background: @moderate-green;
                  }
                  img {
                    float: left;
                    max-width: @full;
                    height: auto;
                    display: inline-block;
                  }
                  p {
                    display: inline-block;
                    float: right;
                    width: auto;
                    font-size: @font-medium;
                    font-weight: @ft-n;
                    text-transform: capitalize;
                    color: @white;
                    padding-top: 14px;
                    margin-left: 5px;
                    margin-bottom: 0px;
                  }
                }
              }
            }
          }
          .search-inputs {
            width: 100%;
            float: left;
            background: fade(@white, 80%);
            .fields {
              padding: 30px;
              .column {
                .input, .search-btn {
                  height: 40px;
                  width: @full;
                }
                .input {
                  padding: 10px;
                  font-size: @font-base-size;
                  font-weight: @ft-n;
                  .border(1px solid @grey-600);
                  .placeholder({color: fade(@grey-700, 70%)});
                  &.error {
                    .border(1px solid @red);
                  }
                }
                label {
                  position: @abs;
                  font-size: @font-small;
                  display: block;
                  font-weight: @ft-n;
                  &.error {
                    color: @red;
                  }
                }
                .search-btn {
                  background: @medium-red;
                  padding: 5px 20px;
                  .border(none);
                  display: flex;
                  justify-content: center;
                  i, span {
                    float: left;
                    color: @white;
                    font-weight: @ft-m;
                    font-size: @font-medium;
                  }
                  i {
                    position: @rel;
                    top: 2px;
                    margin-right: 8px;
                  }
                  span {
                    text-transform: uppercase;
                  }
                }
              }
            }
            .show-error {
              position: @abs;
              font-size: @font-small;
              bottom: 4px;
              left: 30px;
              color: @red;
            }
            .form-inline {
              margin-bottom: 0 !important;
            }
            #peopleOpen {
              display: block;
            }
            #packageOpen, #productOpen {
              display: none;
            }
          }
        }
      }
      @media (max-width: 991px) {
        bottom: 0;
        top: 150px;
        &.mini {
          position: @st;
          .transform(none);
          margin: 0 auto;
          overflow: hidden;
          padding: 20px 0 20px 0;
          .content-booking-trepr {
            .button-bg-img {
              height: 38px;
            }
            .booking-list-content {
              .button-bg-tab {
                margin: 0 3px !important;
                .b-treprn {
                  height: 53px;
                  img {
                    width: 35px;
                    margin: 8px 0 0 0;
                  }
                  p {
                    font-size: @font-base-size !important;
                  }
                }
              }
            }
            .search-inputs {
              margin-top: 15px;
              .border(1px solid @grey-600);
              .column {
                margin: 0 0 20px 0;
                &:last-child {
                  margin: 10px 0 0 0;
                }
                label {
                  position: @st !important;
                  float: left;
                }
              }
              .search-btn {
                height: auto;
                width: auto;
                padding: 12px 20px;
              }
            }
          }
        }
      }
      @media (max-width: 767px) {
        &.mini {
          .content-booking-trepr {
            .search-inputs {
              margin-top: 0;
            }
            .booking-list-content {
              .button-bg-tab {
                &.b-treprnbtn {
                  > .b-treprn {
                    height: auto;
                    padding: 0 20px;
                    text-align: center;
                    min-width: auto;
                    img {
                      float: none;
                      width: auto;
                      height: 35px;
                      margin: 0;
                    }
                    p {
                      display: none;
                    }
                  }
                }
                p {
                  font-size: @font-small;
                }
              }
            }
          }
        }
      }
    }
  }
  .travel-services-container {
    .travel-services-block {
      .read-more {
        text-transform: uppercase;
        margin: 5px 0 0 0;
      }
    }
  }
  .features-container {
    background: fade(@moderate-green, 10%);
    display: inline-block;
    float: left;
    width: @full;
    .features-block {
      .lists {
        &.collapsed {
          max-height: 0;
          overflow: hidden;
          .transition(all .5s ease);
        }
        &.expanded {
          max-height: 1000px;
          .transition(all .5s ease);
        }
        .list {
          padding: 20px 0;
          text-align: center;
          .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 140px;
            img {
              margin-bottom: 15px;
            }
          }
          h3 {
            font-size: @h4-size;
            text-transform: uppercase;
          }
          p {
            font-size: @font-medium;
          }
        }
      }
    }
  }
  .promotional-container {
    background: url("../images/promotional-free-air-tictket-trepr.jpg") top left no-repeat;
    background-size: cover;
    width: @full;
    float: left;
    position: @rel;
    padding: 0 15px;
    height: 447px;
    .promotional-block {
      .offer-desp {
        width: 310px;
        position: @rel;
        padding: 0 10px;
        text-align: center;
        top: 0;
        left: 60px;
        a {
          background-color: @dark-desaturated-blue;
          padding: 15px 30px;
          border-color: transparent !important;
          font-size: @font-medium;
          font-weight: @ft-m;
          text-transform: uppercase;
          color: @white;
          margin-top: 20px;
          .border-radius(0);
        }
        h2, h3 {
          color: @dark-desaturated-blue;
          font-weight: @ft-m;
        }
        h2 {
          font-size: @font-custom-size-01;
          text-transform: uppercase;
        }
      }
    }
    @media (max-width: 767px) {
      &:before {
        content: '';
        background: fade(@white, 40%);
        position: @abs;
        width: @full;
        height: @full;
        left: 0;
      }
      .promotional-block {
        .head {
          display: none;
        }
        .offer-desp {
          position: static;
          text-align: center;
          width: 100%;
          padding: 10px 0 0 0;
          h2 {
            font-size: @h3-size;
          }
        }
      }
    }
  }
  .testimonial-container {
    float: left;
    width: @full;
    background: url(../images/testominial-banner_02.png) center top no-repeat;
    background-size: cover;
    .testimonial-block {
      .owl-testimonial {
        padding: 30px 20px 0 20px;
        text-align: center;
        @media (max-width: 991px) {
          padding: 30px 0;
        }
        .owl-item {
          .testimonial {
            width: 80% !important;
            margin: 0 auto;
            .photo-box {
              width: 100px;
              height: 100px;
              position: @rel;
              .border-radius(50%);
              .border(4px solid @grey-600);
              margin: 0 auto 20px auto;
              background-size: cover !important;
              .transition(all 0.3s ease-in-out 0s);
              .opacity(0.6);
            }
            .description, p {
              font-family: @default-font !important;
              font-size: @font-base-size;
              line-height: 24px;
              background: transparent !important;
              color: @grey-700 !important;              
              span {
                font-family: @default-font !important;
                background: transparent !important;
                color: @grey-700 !important;
              }
            }
            .title {
              color: @strong-blue;
              font-size: @font-medium;
              font-weight: @ft-m;
              text-transform: uppercase;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            .post {
              border-bottom: none;
              display: block;
              color: @grey-650;
              font-size: @font-base-size;
              text-transform: uppercase;
              margin-bottom: 0 !important;
              font-weight: @ft-m;
            }
          }
          &.active {
            &.center {
              .testimonial {
                .photo-box {
                  width: 140px !important;
                  height: 140px !important;
                  .opacity(1);
                  .transition(all 0.3s ease-in-out 0s);
                }
              }
            }
          }
        }
        .owl-nav {
          .owl-prev, .owl-next {
            position: @abs;
            top: 50%;
            .transition(all 0.3s ease-in-out 0s);
            &:before {
              content: "\f104";
              font-family: @fa;
              font-weight: @ft-l;
              font-size: 100px;
              color: @grey-600;
              line-height: 10px;
              .opacity(0.8);
            }
            &:hover {
              &:before {
                .opacity(1);
              }
            }
            span {
              display: none;
            }
          }
          .owl-prev {
            left: 0;
          }
          .owl-next {
            right: 0;
            &:before {
              content: "\f105";
            }
          }
        }
      }
    }
  }
  .content-block {
    padding: 25px 0 38px 0;
    h2 {
      font-size: @font-big;
      text-transform: capitalize;
      color: @dark-desaturated-blue;
      font-weight: @ft-n;
    }
    h4 {
      display: inline-block;
      float: left;
      margin: -8px 10px 10px 10px;
      font-size: @font-base-size;
      font-weight: @ft-m;
      color: @grey-650;
      text-transform: uppercase;
    }
    .caption-box {
      display: inline-block;
    }
    .desp {
      margin: 10px 0;
    }
  }
  .youtube-modal {
    .modal-dialog {
      width: @full;
      height: @full;
      margin: 0;
      padding: 0;
      .modal-content {
        height: auto;
        min-height: @full;
        .border-radius(0);
        .modal-body {
          padding: 0;
          .fluid-width-video-wrapper {
            padding-top: 0 !important;
            width: @full;
            position: relative;
          }
          iframe {
            width: @full;
            height: ~"calc(100vh - 57px)" !important;
            position: static;
          }
        }
        .modal-footer {
          margin-top: 0;
          padding: 10px 15px;
          .btn {
            .border(1px solid @grey-600);
            font-size: @font-base-size;
            background: @white;
            float: left;
          }
        }
      }
    }
  }
}
