// out: ../css/inner.css, compress: false

@import "variables";
@import "mixins";

.user-wrapper {
  .user-block {
    .content-box {

      //people service page
      &.people-service {
        .add-passengers {
          margin: 20px 0;
          .passenger-btn {
            .border-radius(50%);
            min-width: auto;
            box-shadow: none;
            padding: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              border: 1px solid @grey-600;
            }
            &.active {
              background: @moderate-green;
              color: @white;
            }
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          .add-icon {
            position: @rel;
            left: 0;
            top: 8px;
          }
          &#sel_ratio_btn {
            @media (min-width: 991px){
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
