// out: ../css/mixins.css, compress: false


@import "variables";


.border-radius (@radius) {
	-webkit-border-radius: @radius !important;
	-moz-border-radius: @radius !important;
	-o-border-radius: @radius !important;
	border-radius: @radius !important;
}

.opacity (@value) {
  opacity: @value;
  -moz-opacity: @value;
  -webkit-opacity: @value;
	-o-opacity: @value;
}

.transform (@value) {
	-webkit-transform: @value;
	-moz-transform: @value;
	transform: @value;
}

.visibility (@value) {
  visibility: @value;
}

.box-shadow (@value) {
  box-shadow: @value;
  -moz-box-shadow: @value;
  -webkit-box-shadow: @value;
}

.border-bottom (@value) {
  border-bottom: @value;
}

.border-top (@value) {
  border-top: @value;
}

.border-right (@value) {
  border-right: @value;
}

.no-mp (@value: @zero) {
	margin: @value !important;
	padding: @value !important;
}

.transition(@arguments) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.backface-visibility(@value) {
	-webkit-backface-visibility: @value;
	-moz-backface-visibility: @value;
	-ms-backface-visibility: @value;
	backface-visibility: @value;
}

.box-sizing(@value) {
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}

.user-select(@value) {
	-webkit-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

.appearance(@value) {
	-webkit-appearance: @value;
	-moz-appearance: @value;
	appearance: @value;
}

.perspective(@value) {
	-webkit-perspective: @value;
	-moz-perspective: @value;
	-ms-perspective: @value;
	perspective: @value;
}

.background-clip(@value) {
	-webkit-background-clip: @value;
  -moz-background-clip: @value;
  background-clip: @value;
}

.transform-style(@value) {
	-webkit-transform-style: @value;
	-moz-transform-style: @value;
	-o-transform-style: @value;
	-ms-transform-style: @value;
	transform-style: @value;
}

.border-radius-tn (@radius: none) {
	-webkit-border-top-left-radius: @radius !important;
	-moz-border-top-left-radius: @radius !important;
	border-top-left-radius: @radius !important;
	-webkit-border-top-right-radius: @radius !important;
	-moz-border-top-right-radius: @radius !important;
	border-top-right-radius: @radius !important;
}

.border-radius-bn (@radius: none) {
	-webkit-border-bottom-left-radius: @radius !important;
	-moz-border-bottom-left-radius: @radius !important;
	border-bottom-left-radius: @radius !important;
	-webkit-border-bottom-right-radius: @radius !important;
	-moz-border-bottom-right-radius: @radius !important;
	border-bottom-right-radius: @radius !important;
}

.border-radius-tr (@radius: none) {
	-webkit-border-top-right-radius: @radius !important;
	-moz-border-top-right-radius: @radius !important;
	border-top-right-radius: @radius !important;
}

.border-radius-br (@radius: none) {
	-webkit-border-bottom-right-radius: @radius !important;
	-moz-border-bottom-right-radius: @radius !important;
	border-bottom-right-radius: @radius !important;
}

.border (@value) {
  border: @value;
}

.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
    .gradient(@type; @colors; @dir; @prefixes; (@index - 1));

    @prefix  : extract(@prefixes, @index);
    @dir-old : 90 - (@dir);

    background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
        background-image: ~"@{type}-gradient(@{dir}, @{colors})";
    }
}

.placeholder(@rules) {
	&::-webkit-input-placeholder {
	    @rules();
	}
	&:-moz-placeholder {
	    @rules();
	}
	&::-moz-placeholder {
	    @rules();
	}
	&:-ms-input-placeholder {
	    @rules();
	}
}

.text-shadow (@rules) {
	text-shadow: @rules;
  -moz-text-shadow: @rules;
  -webkit-text-shadow: @rules;
}

.btn-bg (@bgcolor, @textcolor) {
	background: @bgcolor;
	color: @textcolor;
	&:hover, &:focus {
		background: fade(@bgcolor, 85%) !important;
		color: @textcolor;
	}
}
