// out: ../css/modal.css, compress: false

@import "variables";
@import "mixins";

/* magnify css */
.mfp-bg {
	top: 0;
	left: 0;
	width: @full;
	height: @full;
	z-index: 1042;
	overflow: hidden;
	position: @fd;
	background: @black;
	.opacity(0.8);
}
.mfp-wrap {
	top: 0;
	left: 0;
	width: @full;
	height: @full;
	z-index: 1043;
	position: @fd;
	outline: none !important;
	.backface-visibility(hidden);
}
.mfp-container {
	text-align: center;
	position: @abs;
	width: @full;
	height: @full;
	left: 0;
	top: 0;
	padding: 0 8px;
	.box-sizing(border-box);
	&:before {
		content: '';
		display: inline-block;
		height: @full;
		vertical-align: middle;
	}
}
.mfp-align-top {
	.mfp-container {
		&:before {
			display: none;
		}
	}
}
.mfp-content {
	position: @rel;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045;
}
.mfp-inline-holder {
	.mfp-content {
		width: @full;
		cursor: auto;
	}
}
.mfp-ajax-holder {
	.mfp-content {
		width: @full;
		cursor: auto;
	}
}
.mfp-ajax-cur {
	cursor: progress;
}
.mfp-zoom-out-cur {
	cursor: zoom-out;
	.mfp-image-holder {
		.mfp-close {
			cursor: zoom-out;
		}
	}
}
.mfp-zoom {
	cursor: zoom-in;
}
.mfp-auto-cursor {
	.mfp-content {
		cursor: auto;
	}
}
.mfp-counter {
	.user-select(none);
	color: @grey-200;
	font-size: @font-base-size;
	line-height: @line-base;
}
.mfp-loading.mfp-figure {
	display: none;
}
.mfp-hide {
	display: none;
}
#small-signupf {
	display: inline;
}
.mfp-preloader {
	color: @grey-600;
	position: @abs;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044;
	a {
		color: @grey-600;
		&:hover {
			color: @white;
		}
	}
}
.mfp-s-ready {
	.mfp-preloader {
		display: none;
	}
}
.mfp-s-error {
	.mfp-content {
		display: none;
	}
}
button.mfp-close {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	.appearance(none);
	display: block;
	padding: 0;
	z-index: 1046;
}
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: @trans;
	border: 0;
	.appearance(none);
	display: block;
	padding: 0;
	z-index: 1046;
}
button {
	&::-moz-focus-inner {
		padding: 0;
		margin: 0;
	}
}
.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: @abs;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	.opacity(0.65);
	padding: 0 0 18px 10px;
	color: @white;
	font-style: normal;
	font-size: 0px;
	&:hover {
		.opacity(1);
	}
	&:focus {
		.opacity(1);
	}
	&:active {
		top: 1px;
	}
}
.mfp-close-btn-in {
	.mfp-close {
		color: @strong-grey;
	}
}
.mfp-image-holder {
	.mfp-close {
		color: @white;
		right: -6px;
		text-align: right;
		padding-right: 6px;
		width: @full;
	}
	.mfp-content {
		max-width: @full;
	}
}
.mfp-iframe-holder {
	.mfp-close {
		color: @white;
		right: -6px;
		text-align: right;
		padding-right: 6px;
		width: @full;
		top: -40px;
	}
	padding-top: 40px;
	padding-bottom: 40px;
	.mfp-content {
		line-height: 0;
		width: @full;
		max-width: 900px;
	}
}
.mfp-arrow {
	position: @abs;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: fade(@black, 0);
	&:active {
		margin-top: -54px;
	}
	&:hover {
		.opacity(1);
	}
	&:focus {
		.opacity(1);
	}
	&:before {
		border-top-width: 21px;
		border-bottom-width: 21px;
	}
	.mfp-a {
		border-top-width: 21px;
		border-bottom-width: 21px;
	}
}
.mfp-arrow-left {
	left: 0;
	&:after {
		content: '\f104';
		font-family: @fa;
		font-size: 120px;
		color: @moderate-green;
	}
	.mfp-a {
		content: '\f104';
		font-family: @fa;
		font-size: 120px;
		color: @moderate-green;
	}
	&:before {
		margin-left: 25px;
	}
	.mfp-b {
		margin-left: 25px;
	}
}
.mfp-arrow-right {
	right: 0;
	&:after {
		content: '\f105';
		font-family: @fa;
		font-size: 120px;
		color: @moderate-green;
	}
	.mfp-a {
		content: '\f105';
		font-family: @fa;
		font-size: 120px;
		color: @moderate-green;
	}
}
.mfp-iframe-scaler {
	width: @full;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	iframe {
		position: @abs;
		display: block;
		top: 0;
		left: 0;
		width: @full;
		height: @full;
		.box-shadow(0 0 8px fade(@black, 40%));
		background: @black;
	}
}
img.mfp-img {
	height:  ~"calc(100vh - 100px)";
}
.mfp-figure {
	line-height: 0;
	&:after {
		content: '';
		position: @abs;
		left: 0;
		top: 40px;
		bottom: 40px;
		display: block;
		right: 0;
		width: auto;
		height: auto;
		z-index: -1;
		.box-shadow(0 0 8px fade(@black, 40%));
		background: @grey-800;
	}
	small {
		color: @grey-600;
		display: block;
		font-size: @font-small;
		line-height: 14px;
	}
}
.mfp-bottom-bar {
	position: @abs;
	top: @full;
	left: 0;
	width: @full;
	cursor: auto;
}
.mfp-title {
	text-align: left;
	line-height: @h4-size;
	color: @grey-100;
	word-break: break-word;
	padding-right: 36px;
}
.mfp-gallery {
	.mfp-image-holder {
		.mfp-figure {
			cursor: pointer;
		}
	}
}
.mfp-fade.mfp-bg {
	.opacity(0);
	.transition(all 0.15s ease-out);
}
.mfp-fade.mfp-bg.mfp-ready {
	.opacity(0.8);
}
.mfp-fade.mfp-bg.mfp-removing {
	.opacity(0);
}
.mfp-fade.mfp-wrap {
	.mfp-content {
		.opacity(0);
		.transition(all 0.15s ease-out);
	}
}
.mfp-fade.mfp-wrap.mfp-ready {
	.mfp-content {
		.opacity(1);
	}
}
.mfp-fade.mfp-wrap.mfp-removing {
	.mfp-content {
		.opacity(1);
	}
}
.mfp-zoom-in {
	.mfp-with-anim {
		.opacity(0);
		.transition(all 0.2s ease-out);
		.transform(scale(0.8));
	}
}
.mfp-zoom-in.mfp-bg {
	.opacity(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	.transition(all 0.3s ease-out);
}
.mfp-zoom-in.mfp-ready {
	.mfp-with-anim {
		.opacity(1);
		.transform(scale(1));
	}
}
.mfp-zoom-in.mfp-ready.mfp-bg {
	.opacity(0.8);
}
.mfp-zoom-in.mfp-removing {
	.mfp-with-anim {
		.transform(scale(0.8));
		.opacity(0);
	}
}
.mfp-zoom-in.mfp-removing.mfp-bg {
	.opacity(0);
}
.mfp-newspaper {
	.mfp-with-anim {
		.opacity(0);
		.transition(all 0.2s ease-out);
		.transform(scale(0));
		.transform(rotate(500deg));
	}
}
.mfp-newspaper.mfp-bg {
	.opacity(0);
	.transition(0.5s);
}
.mfp-newspaper.mfp-ready {
	.mfp-with-anim {
		.opacity(1);
		.transform(scale(1));
		.transform(rotate(0deg));
	}
}
.mfp-newspaper.mfp-ready.mfp-bg {
	.opacity(0.8);
}
.mfp-newspaper.mfp-removing {
	.mfp-with-anim {
		.transform(scale(0));
		.transform(rotate(500deg));
		.opacity(0);
	}
}
.mfp-newspaper.mfp-removing.mfp-bg {
	.opacity(0);
}
.mfp-move-horizontal {
	.mfp-with-anim {
		.opacity(0);
		.transition(0.3s);
		.transform(translateX(-50px));
	}
}
.mfp-move-horizontal.mfp-bg {
	.opacity(0);
	.transition(0.3s);
}
.mfp-move-horizontal.mfp-ready {
	.mfp-with-anim {
		.opacity(1);
		.transform(translateX(0));
	}
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
	.opacity(0.8);
}
.mfp-move-horizontal.mfp-removing {
	.mfp-with-anim {
		.transform(translateX(50px));
		.opacity(0);
	}
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
	.opacity(0);
}
.mfp-move-from-top {
	.mfp-content {
		vertical-align: top;
	}
	.mfp-with-anim {
		.opacity(0);
		.transition(0.2s);
		.transform(translateY(-100px));
	}
}
.mfp-move-from-top.mfp-bg {
	.opacity(0);
	.transition(0.2s);
}
.mfp-move-from-top.mfp-ready {
	.mfp-with-anim {
		.opacity(1);
		.transform(translateY(0));
	}
}
.mfp-move-from-top.mfp-ready.mfp-bg {
	.opacity(0.8);
}
.mfp-move-from-top.mfp-removing {
	.mfp-with-anim {
		.transform(translateY(-50px));
		.opacity(0);
	}
}
.mfp-move-from-top.mfp-removing.mfp-bg {
	.opacity(0);
}
.mfp-3d-unfold {
	.mfp-content {
		.perspective(2000px);
	}
	.mfp-with-anim {
		.opacity(0);
		.transition(all 0.3s ease-in-out);
		.transform-style(preserve-3d);
		.transform(rotateY(-60deg));
	}
}
.mfp-3d-unfold.mfp-bg {
	.opacity(0);
	.transition(0.5s);
}
.mfp-3d-unfold.mfp-ready {
	.mfp-with-anim {
		.opacity(1);
		.transform(rotateY(0deg));
	}
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
	.opacity(0.8);
}
.mfp-3d-unfold.mfp-removing {
	.mfp-with-anim {
		.transform(rotateY(60deg));
		.opacity(0);
	}
}
.mfp-zoom-out {
	.mfp-with-anim {
		.opacity(0);
		.transition(0.3s ease-in-out);
		.transform(scale(1.3));
	}
}
.mfp-zoom-out.mfp-bg {
	.opacity(0);
	.transition(0.3s ease-out);
}
.mfp-zoom-out.mfp-ready {
	.mfp-with-anim {
		.opacity(1);
		.transform(scale(1));
	}
}
.mfp-zoom-out.mfp-ready.mfp-bg {
	.opacity(0.8);
}
.mfp-zoom-out.mfp-removing {
	.mfp-with-anim {
		.transform(scale(1.3));
		.opacity(0);
	}
}
.mfp-zoom-out.mfp-removing.mfp-bg {
	.opacity(0);
}
.mfp-dialog {
	background: @white;
	padding: 20px 30px;
	text-align: left;
	max-width: 300px;
	margin: 40px auto;
	position: @rel;
}
.mfp-search-dialog {
	max-width: 800px;
}
.mfp-address-dialog {
	max-width: 820px;
}


/* signup modal and login modal */
.signup-modal, .login-modal {
  position: @rel;
  max-width: 400px !important;
  .border-radius(4px);
  padding: 20px;
  .content-load {
    position: @fd;
    left: 0px;
    top: 0px;
    width: @full;
    height: 100%;
    z-index: 9999;
    background: url(../img/preloader.gif) center no-repeat fade(@white, 75%);
  }
  .btn-wrapper {
    .btn {
      width: @full;
      color: @white;
      padding: 10px 0;
      margin: 0 0 15px 0;
      span {
        margin: 0 5px 0 0;
      }
    }
    .separator {
      margin: 0 0 15px 0;
    }
    .desp {
      font-size: @font-base-size;
    }
    .checkbox-wrapper {
      font-size: @font-base-size;
      margin: 0 0 20px 0;
      overflow: hidden;
			.i-check {
				margin: 0 0 0 -13px !important;
			}
      label {
        margin: 0 0 0 20px;
      }
    }
  }
  .error {
    color: @red;
    padding: 8px 0;
    display: none;
    margin: 0;
		font-weight: @ft-l;
  }
}
