// out: ../css/public.css, compress: false

@import "variables";
@import "mixins";

.user-wrapper {
  .user-block {
    .content-box {
      ol {
        margin: 0 !important;
        padding: 0 0 0 10px;
      }

      //Service rate calculation
      &.service-rate {
        .tab-content {
          .form-control {
            &.currency-rate {
              + span {
                color: @grey-700;
                position: @abs;
                top: 42px;
                right: 22px;
                font-size: @h4-size;
              }
            }
          }
        }
      }

      //News Rooms
      &.news-room {
        .ressources {
          padding: 30px 0;
          .row {
            display: flex;
            .resList {
              .imgBlock, .imgLogo {
                width: 200px;
                height: 200px;
                margin: 0 auto;
                overflow: hidden;
              }
              .imgBlock {
                .border(2px solid @grey-600);
                .border-radius(50%);
                img {
                  max-width: @full;
                }
              }
              .imgLogo {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              &:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                .btn-primary {
                  margin: -40px 0 0 0;
                }
              }
            }
            @media (max-width: 991px){
              display: block;
            }
          }
        }
        .newsBlock {
          .row {
            display: flex;
            .news-list {
              .border(1px solid @grey-300);
              .box-shadow(0 .125rem .25rem rgba(0,0,0,.075));
              padding: 30px 20px;
              .border-radius(4px);
              background: @grey-100;
              &:not(:last-child) {
                margin: 0 30px 0 0;
              }
              .newsHead {
                h3 {
                  color: @dark-blue-700;
                }
              }
              .newsBody {
                p {
                  color: @dark-blue-700;
                }
              }
            }
            @media (max-width: 991px){
              display: block;
              .news-list {
                &:not(:last-child) {
                  margin: 0 0 30px 0 !important;
                }
              }
            }
          }
        }
      }


      // prohibited items
      &.prohibited {
        .desp {
          .select-list {
            width: 250px;
            margin: 20px 0 30px 0;
          }
          .inner-content {
            .pro-block {
              margin: 0 0 30px 0;
              .pro-block-image {
                width: @full;
                margin: 0 0 15px 0;
              }
            }
            @media (max-width: 991px){
              .pro-block {
                max-width: @full;
                .pro-block-image {
                  img {
                    width: @full;
                  }
                }
              }
            }
          }
        }
      }


      //merchants
      &.merchants {
        .merchants-details {
          .heading {
            h3 {
              margin-top: 0 !important;
            }
          }
          .shopCountry {
            a {
              display: inline-block;
              font-size: @font-base-size;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
          }
          .brandCat {
            margin-bottom: 30px;
            a {
              .border-radius(4px);
              padding: 4px 10px;
              font-size: @font-base-size;
              display: inline-block;
              text-decoration: none;
              .border(1px solid @grey-300);
              &:hover, &:focus {
                background: @grey-300;
              }
            }
          }
          .waterfallDiv {
            .brandsBox {
              background: @grey-200 none repeat scroll 0 0;
              margin-bottom: 15px;
              padding: 15px;
              text-align: center;
              border-radius: 3px;
              width: 100%;
              .brandsBoxHead {
                margin-bottom: 10px;
                span {
                  background: @white;
                  .border-radius(100%);
                  display: inline-block;
                  font-size: @h4-size;
                  font-weight: @ft-m;
                  height: 50px;
                  line-height: 50px;
                  text-align: center;
                  width: 50px;
                  color: @white;
                }
              }
              .brandsBody {
                a {
                  display: block;
                  font-size: @font-base-size;
                }
              }
              &.color-1 .baOr{background-color: @medium-red}
              &.color-2 .baOr{background-color: @strong-red}
              &.color-3 .baOr{background-color: @blue-cyan-02}
              &.color-4 .baOr{background-color: @dark-blue-700}
              &.color-5 .baOr{background-color: @moderate-green}
              &.color-6 .baOr{background-color: @light-orange}
              &.color-7 .baOr{background-color: @medium-orange}
            }
          }
          .moreinfoLink {
            a {
              display: block;
              padding: 5px 0;
              i {
                margin: 0 10px 0 0;
              }
            }
          }
        }
      }
    }
  }
}
