// out: ../css/sidebar.css, compress: false

@import "variables";
@import "mixins";

@sidemenu-top: 112px !important;
@sidemenu-width: 250px !important;

.sidebar-container {
  .sidebar-wrapper {
    z-index: 1004;
    left: -@sidemenu-width;
    top: @sidemenu-top;
    width: @sidemenu-width;
    overflow-y: auto;
    overflow-x: hidden;
    background: @grey-900;
    .transition(all .3s ease);
    height: 100vh;
    .sidebar-nav {
      position: @abs;
      top: 43px;
      width: @full;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: @rel;
        line-height: 40px;
        display: inline-block;
        width: @full;
        a {
          display: block;
          color: @white;
          text-decoration: none;
          padding: 0 15px 0 30px;
          font-weight: 300;
          text-transform: capitalize;
          font-size: @font-base-size;
        }
        &:before {
          content: '';
          position: @abs;
          top: 0;
          left: 0;
          z-index: -1;
          height: @full;
          width: 3px;
          background-color: @grey-900;
          .transition(width .2s ease-in);
        }
        &:first-child {
          a {
            color: @white;
            background-color: @grey-900;
          }
        }
        &:nth-child(2):before {
          background-color: @medium-red;
        }

        &:nth-child(3):before {
          background-color: @blue-cyan-01;
        }

        &:nth-child(4):before {
          background-color: @m-blue-02;
        }

        &:nth-child(5):before {
          background-color: @lime-green;
        }

        &:nth-child(6):before {
          background-color: @m-blue-01;
        }

        &:nth-child(7):before {
          background-color: @medium-orange;
        }

        &:nth-child(8):before {
          background-color: @teal-green-02;
        }
        &:nth-child(9):before {
          background-color: @lime-green-01;
        }
        &:nth-child(10):before {
            background-color: @s-blue-01;
        }
        &:hover:before, &.open:hover:before {
          width: @full;
          .transition(width .2s ease-in);
        }
        &.dropdown {
          li {
            &:before {
              content: none !important;
            }
            a {
              line-height: 40px;
              &:hover {
                color: fade(@white, 60%);
              }
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      width: @full;
      left: -@full;
    }
  }
  &.toggled {
    .sidebar-wrapper {
      width: @sidemenu-width;
      left: 0 !important;
      &:after {
        content: '';
        width: 100vw;
        height: @full;
        position: fixed;
        top: @sidemenu-top;
        left: @sidemenu-width;
        pointer-events: fill;
        cursor: auto;
        background: fade(@black, 40%);
        .transition(all 0.3s 0.1s ease);
      }
    }
    @media (max-width: 767px) {
      .sidebar-wrapper {
        width: @full;
        &:after {
          left: @full;
        }
      }
    }
  }
}



.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}


.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
    font: 0/0 a;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.sidebar-nav .user-profile-avatar {
    padding:15px 15px;

}

.sidebar-nav .user-profile-avatar .sidebarUser img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar-nav .user-profile-avatar h5 {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
}

.hamburger {
  position: @rel;
  top: 6px !important;
  left: 0;
  display: block;
  background: @trans !important;
  .border(none);
  width: 75px;
  height:30px;
  background: @white;
  padding: 0;
  float: left;
  margin-right: 20px;
  cursor: pointer;
  .hamb-top, .hamb-middle, .hamb-bottom {
    position: @abs;
    right: 0;
    height: 1.5px;
    width: 20px;
    background: @grey-900;
    .transition(all .3s ease);
  }
  .hamb-top  {
    top: 0px;
  }
  .hamb-middle {
    top: 6px;
  }
  .hamb-bottom {
    top: 12px;
  }
  .hamb-title {
    position: @abs;
    left: 0;
    top: -5px;
    text-transform: uppercase;
    color: @grey-900;
  }
  &.is-open {
    .hamb-top, .hamb-bottom {
      top: 6px;
      background: @grey-900;
      .transition(all .3s ease);
    }
    .hamb-top {
      .transform(rotate(45deg));
    }
    .hamb-bottom {
      .transform(rotate(-45deg));
    }
    .hamb-middle {
      display: none;
    }
    &:before {
      content: '';
      display: block;
      width: 30px;
      font-size: @font-base-size;
      color: @white;
      line-height: 32px;
      text-align: center;
      .opacity(0);
      .transform(translate3d(0, 0, 0));
      .transition(all .35s ease-in-out);
    }
    &:hover {
      &:before {
        .opacity(1);
        display: block;
        .transform(translate3d(-100px, 0, 0));
        .transition(all .35s ease-in-out);
      }
    }
  }
  @media (min-width: 1440px) {
    position: @fd;
    top: 82px !important;
    left: 20px;
  }
  @media (max-width: 767px) {
    width: 20px;
    margin-right: 0;
    top: 6px !important;
    .hamb-top, .hamb-middle, .hamb-bottom {
      left: 0;
    }
    .hamb-title {
      display: none;
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
  }
}
