// out: ../css/sidewrap.css, compress: false

@import "variables";
@import "mixins";


.sidebar-wrap {
  background: @white;
  .border(1px solid @grey-300);
  .user-profile-sidebar {
    .user-profile-nav {
      background: @white;
      padding: 15px 0 0 0  !important;
      > li{
        line-height: 40px;
        .border-bottom(1px solid @grey-300);
        a {
          display: block;
          padding: 0 0 0 20px;
          &:hover {
            background: @grey-250;
          }
          i {
            margin-right: 10px;
          }
        }
        &.main-menu {
          &:not(:last-child) {
            .border-bottom(1px solid @grey-300);
          }
          > a {
              color: @grey-900;
              display: block;
              font-size: @font-base-size;
              text-transform: uppercase;
              font-weight: @ft-m;
              padding: 10px 20px;
            i {
              text-align: center;
              .transition(all .15s linear);
              font-size: @font-custom-size-01;
              margin: 0px 10px 0 0;
              position: @rel;
              top: 2px;
            }
          }
          .sub-menu {
            display: none;
            li {
              line-height: 40px;
              a {
                display: block;
                padding: 0 0 0 20px;
                color: @grey-700;
                &:hover {
                  color: @light-orange;
                  background: none;               }
                i {
                  margin: 0px 10px 0 0;
                }
              }
            }
          }
          &.active,&:hover {
            > a {
              background: @light-orange;
              color: @white;
              cursor: default;
              text-decoration: none;
              padding: 0 20px;
              i {
                color: @white;
              }
            }
          }
          &:focus {
            text-decoration: none;
          }
          &.current {
            .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
  .invite-block {
    margin: 30px 0 0 0;
    padding: 10px 20px 20px 20px;
    .invite-heading {
      margin-bottom: 15px;
      h5 {
        color: @grey-700;
        font-size: @font-base-size;
        text-transform: uppercase;
        font-weight: @ft-b;
      }
      .title-border {
        margin: 10px 0 0;
        border-color: @grey-600;
      }
    }
    .info {
      font-size: @font-small;
      color: @grey-700;
      line-height: 18px;
      a {
        &:hover {
          color: @strong-blue;
          text-decoration: underline
        }
      }
    }
    .form-control {
      background-color: @white;
      border-color: @grey-300;
      color: @grey-700;
      font-size: @font-small;
      max-width: 320px;
    }
  }
  @media (max-width: 991px){
    margin: 0 0 30px 0;
  }
}
