// out: ../css/user.css, compress: false

@import "variables";
@import "mixins";


.user-wrapper {
  margin-top: 67px;
  float: left;
  width: 100%;
  //when seeker or traveller tab present push breadcrumb down
  &.id-1 {
    .user-block {
      @media (max-width: 991px){
        margin-top: 80px;
      }
    }
    .breadcrumb-block {
      @media (max-width: 991px) {
        top: 115px;
        .sidebar-wrapper {
          top: 160px !important;
          &:after {
            top: 160px !important;
          }
        }
      }
    }
    .traveller-switch-block {
      .border(none);
    }
  }
  .traveller-switch-block {
    position: @fd;
    .transform(translateX(-50%));
    left: 50%;
    top: 40px;
    z-index: 1001;
    .select-option-box {
      .border-radius(3px);
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      z-index: 9999;
      .border(5px solid @white);
      .box-shadow(0 1px 5px fade(@black, 20%));
      .btn-box {
        width: 140px;
        text-align: center;
        padding: 5px !important;
        .btn-sliver{
          &.active {
            width: 80%;
          }
        }
      }
      .sep {
        color: @black;
        font-size: @font-tiny;
        font-weight: @ft-b;
        text-transform: uppercase;
        width: 0;
        height: 0;
        position: @rel;
        float: left;
        left: -10px;
        top: 7px;
        span {
          background: @white;
          .border-radius(100%);
          display: inline-block;
          font-size: 9px;
          font-weight: @ft-b;
          height: 22px;
          line-height: 12px;
          padding: 4px;
          width: 22px;
        }
      }
    }
    @media (max-width: 991px){
      transform: none;
      width: @full;
      left: 0;
      top: 67px;
      .select-option-box {
        width: @full;
        .btn-box {
          width: 45%;
          .btn-sliver {
            width: @full;
          }
        }
        .sep {
          position: @st;
          width: 10% !important;
          display: block;
          padding: 7px 0px;
          text-align: center;
          font-size: @font-small;
          background: @strong-blue;
          height: auto;
        }
      }
    }
  }
  .user-block {
    padding: 40px 0;
    margin-top: 40px;
    .search-page-block {
      h2 {
        font-size: @h3-size !important;
        margin: 0 0 20px 0;
      }
    }
    .content-wrapper {
      .title {
        font-size: @h3-size;
        margin: 0 0 30px 0;
        text-transform: uppercase;
        color: @grey-700;
      }
      .content-box {
        background: @white;
        padding: 30px;
        margin: 0 0 30px 0;
        overflow: hidden;
        .heading {
          margin: 0 0 20px 0;
          h3 {
            font-size: @font-custom-size-01;
            text-transform: uppercase;
            color: @moderate-green;
          }
          span {
            display: block;
            margin: 5px 0 0 0;
            font-size: @font-small;
            font-weight: @ft-m;
          }
        }
        h5 {
          color: @grey-800;
          font-size: @font-medium;
          font-weight: @ft-m;
          margin: 10px 0 30px 0;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          position: @rel;
          &:after {
            content: '';
            background: @grey-800;
            width: 75px;
            height: 1px;
            position: @abs;
            bottom: -10px;
            left: 0;
          }
        }
        .desp {
          h5 {
            margin: 20px 0 30px 0;
          }
          span {
            &.indent {
              margin: 0 0 20px 60px;
              display: block;
              &.nested {
                margin: 0 0 20px 120px;
              }
            }
          }
          .img-wrapper {
            img {
              display: inline-block;
            }
          }
          .title-border {
            display: none;
          }
          address {
            font-weight: @ft-m;
          }
          .more-info-box {
            padding: 15px 0;
            a {
              color: @dark-blue-700;
              font-weight: @ft-m;
              padding: 8px 10px 8px 15px;
              .border(1px solid @dark-blue-700);
              display: block;
              .border-radius(4px);
              margin-bottom:10px;
              .transition(all .15s linear);
              &:hover, &:focus {
                background: @dark-blue-700;
                color: @white;
                .transition(all .15s linear);
              }
              i {
                margin: 0 5px 0 0;
              }
            }
          }
        }
        .sidebar-right {
          border: 1px solid @grey-300;
          @media (max-width: 991px) {
            margin: 20px 0 0 0;
          }
          .sidebar-block {
            overflow: hidden;
            .sidebar-header {
              background: @white;
              padding: 20px 15px 30px 15px;
              border-bottom: 1px solid @grey-300;
              h5 {
                  font-size: @font-medium;
                  color: @grey-800;
                  margin: 0;
                  padding: 5px 0;
                  line-height: 24px;
              }
            }
            .sidebar-block-inner {
              padding: 20px 25px;
              .panel-default {
                .border(0);
                .box-shadow(none);
                margin-bottom: 0;
                .block-inner-title {
                  font-size: @font-medium;
                  font-weight: @ft-m;
                  margin-bottom: 15px;
                }
                .est-price {
                  padding: 15px 0;
                  span {
                    background: @light-orange !important;
                    .border-radius(100%);
                    color: @white;
                    display: inline-block;
                    font-size: 38px;
                    width: 220px;
                    height: 220px;
                    line-height: 50px;
                    .box-shadow(none);
                    .price_tag_symbol{
                      font-size: 70px;
                      padding: 30px 0 0 0;
                    }
                  }
                }
              }
            }
            .mCSB_inside {
              > .mCSB_container {
                margin-right: 0 !important;
              }
            }
            .mCSB_scrollTools {
              right: -6px !important;
              margin: 0;
              .mCSB_dragger {
                .mCSB_dragger_bar {
                  background: fade(@black, 50%);
                  width: 3px;
                  .border-radius(0);
                }
              }
              .mCSB_draggerRail {
                width: 3px;
                .border-radius(0);
                background: fade(@black, 20%);
              }
            }
          }
        }
      }
    }
  }
  &.expanded {
    @media (max-width: 991px){
      .traveller-switch-block {
        width: @full;
        bottom: 90px;
        top: auto;
        .border(1px solid fade(@white, 30%));
        border-left: none;
        border-right: none;
        padding: 16px 0;
        .box-shadow(none);
        .select-option-box {
          width: 90% !important;
          .transform(translateX(5%));
        }
      }
      .breadcrumb-block {
        z-index: -1;
      }
    }
  }
}
