// out: ../css/variables.css, compress: false


@default-font: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
@placeholder-font: "Helvetica Neue", Helvetica,Arial,sans-serif;
@fa: FontAwesome;

@fd:fixed;
@abs:absolute;
@rel:relative;
@st:static;


//colors
@white: #fff;
@black: #000;
@trans: transparent;
@strong-blue:#2382c5;
@dark-blue-950:#0a1f3c;
@dark-blue-900:#093777;
@dark-blue-850:#13456a;
@dark-blue-800:#123e79;
@dark-blue-700:#0f4896;
@medium-dark-blue:#022962;
@heavy-dark-blue:#03224e;
@heavy-desaturated-blue:#272642;
@dark-desaturated-blue:#37465d;
@medium--desaturated-blue:#557b88;
@light-desaturated-blue:#849ec1;
@grey-blue:#82a2ad;
@moderate-cyan:#386877;
@desaturated-dark-cyan:#568594;
@grey-cyan:#bdd6de;
@light-green:#68e87f;
@lime-green:#40bb56;
@moderate-green:#99CB51;
@lime-green-dark:#285830;
@medium-dark-green:#284C58;
@heavy-dark-green:#14272d;
@red:#fa0303;
@strong-red: #cc0000;
@medium-red:#ff5a5f;
@light-orange:#f0ad4e;
@medium-orange:#ed8323;
@strong-grey: #333333;
@grey-900:#152137;
@grey-800:#454545;
@grey-700:#737373;
@grey-650:#848b9b;
@grey-600:#d6d6d6;
@grey-500:#abb4be;
@grey-300:#e6e6e6; //border color most cases
@grey-250:#ececec;
@grey-200:#f6f7f7;
@grey-100:#fdfdfd;
@grey-50:#f5f5f5;

//gradients
@blue-cyan-01:#0049bb;
@blue-cyan-02:#009a9a;

@dark-grey-01:#44485b;
@blue-grey-02:#292844;

@lime-green-01:#99cb51;
@lime-green-02:#90c346;

@teal-green-01:#63b8ca;
@teal-green-02:#3997ab;

@s-blue-01:#3293d9;
@s-blue-02:#3997ab;

@m-blue-01:#4b5cbc;
@m-blue-02:#33408a;

/* social media buttons colors */
@fb-social-color:#4568b2;
@google-social-color:#dd4b39;

//calc variables
@help-calc:240px;

//font-sizes
@font-big: 46px;
@h3-size: 24px;
@h4-size: 17px;
@font-medium: 16px;
@font-base-size: 14px;
@font-small: 12px;
@font-tiny: 10px;
@font-custom-size-01: 20px;
@font-custom-size-02: 32px;
@font-custom-size-03: 54px;
@font-custom-size-04: 27px;
@font-custom-size-05: 25px;

//line heights
@line-base: 24px;

/* font weight */
@ft-l: 300;
@ft-n: 400;
@ft-m: 500;
@ft-b: 700;
@ft-i: italic;

/* others */
@full:100% !important;
@viewport-height:100vh;
@viewport-width:100vw;
@zero:0;

/* images */
@images: "../images";
