<input type="hidden" name="service_type" id="service_type" value="package" >
<?php
echo $this->render('layout/flash_message');
if (isset($action) && $action == 'add') {
    $showBtn = true;
} else if (isset($action) && $action == 'edit') {
    $showBtn = false;
}
?>
<div class="table-wrapper-row full-width">
                                <div class="col-md-12 table-cell travel-form bg-white">
                                    <div class="form-block mg-bot30">  
                                        <h5 class="sub-heading text-left">Provide details about packages</h5>
                                        <hr class="title-border">
                                        <div class="row">
                                            <div class="col-sm-12 form-group form-group-select-plus">
                                                <label class="control-label">No of individual items<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total number of items you need to transport."></a>
                                                    <small>need to be carried</small>
                                                </label>
                                                <input type="hidden" name="selected_packages" id="selected_packages" value="1">
                                                <input type="hidden" id="action" value="<?php echo $action ?>" >
                                                 <?php if ($showBtn) { ?>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active"><input type="radio" name="packages_count" id="packages_count" value="1"  onchange="addRemovePackages(this.value);" />1</label>
                                                    <label class="btn btn-primary"><input type="radio"   name="packages_count" id="packages_count" value="2"  onchange="addRemovePackages(this.value);" />2</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="3" onchange="addRemovePackages(this.value);" />3</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="4" onchange="addRemovePackages(this.value);" />4</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="5" onchange="addRemovePackages(this.value);" />5</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="6" onchange="addRemovePackages(this.value);" />6</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="7" onchange="addRemovePackages(this.value);" />7</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="8" onchange="addRemovePackages(this.value);" />8</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="9" onchange="addRemovePackages(this.value);" />9</label>
                                                    <label class="btn btn-primary"><input type="radio"  name="packages_count" id="packages_count" value="10" onchange="addRemovePackages(this.value);" />10+</label>
                                                </div>
                                                 <?php } ?>
                                                <select class="form-control mt10 <?php echo ($showBtn) ? 'hidden' : ''; ?>"  id="packages_count" name="packages_count_more"   onchange="addRemovePackages(this.value);">
                                                    <?php
                                                        $packagesCountArr = range(1, 10);
                                                        $selectedPackageCount = isset($trip_seeker['packages']) ? $trip_seeker['packages'] : 10;
                                                        foreach ($packagesCountArr as $packagesCountVal) {
                                                            $selectedTaskCountVal = ($selectedPackageCount == $packagesCountVal) ? 'selected="selected"' : '';
                                                            echo '<option ' . $selectedTaskCountVal . ' value="' . $packagesCountVal . '">' . $packagesCountVal . '</option>';
                                                        }
                                                    ?>
                                                </select>
                                                <p style="margin-bottom: 0px;" id="err_packages_count" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        
                                        <div class="row packages_box" id="packages_box">
                                            <?php 
                                                $packageCounter = isset($trip_seeker['packages'])?$trip_seeker['packages']:1;
                                                $packCountArray = range(1, $packageCounter);
                                                foreach($packCountArray as $key => $pacCount){
                                                    $packageDetail = isset($trip_seeker_packages[$key])?$trip_seeker_packages[$key]:false; ?>
                                                    <div class="col-xs-12 " id="packages_box_<?php echo $pacCount; ?>">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <h5 class="sub-heading text-left">Details of Item <?php echo $pacCount; ?></h5>
                                                                <hr class="title-border">
                                                                <div class="row">
                                                                    <div class="col-sm-6 form-group">
                                                                        <label class="control-label">Item category<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select category of item which needs to be transported."></a></label>
                                                                        <select class="form-control category" name="category_<?php echo $pacCount; ?>" id="category_<?php echo $pacCount; ?>">
                                                                            <option value=""> - Select - </option>
                                                                                <?php if(count($this->project_cats)>0){
                                                                                    foreach($this->project_cats as $tasks_category){ 
                                                                                        $packCatSelected = (isset($packageDetail['item_category']) && $packageDetail['item_category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                                        echo '<option '.$packCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                                   }
                                                                                } ?>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_category_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-6 ">
                                                                        <label class="control-label">Item Type<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select exact item that needs to be transported."></a></label>
                                                                        <select class="form-control item_category" name="item_category_<?php echo $pacCount; ?>" id="item_category_<?php echo $pacCount; ?>" >
                                                                            <option value=""> - Select - </option>
                                                                            <?php if(isset($packageDetail['subCategory']) && !empty($packageDetail['subCategory']) && isset($packageDetail['item_sub_category'])){
                                                                                foreach($packageDetail['subCategory'] as $subCategory){
                                                                                    $subCatSelected = (isset($packageDetail['item_sub_category']) && $subCategory['ID'] == $packageDetail['item_sub_category'])?'selected="selected"':' ';
                                                                                    echo '<option '.$subCatSelected.'value="'.$subCategory['ID'].'">'.$subCategory['subcatname'].'</option>';
                                                                                }
                                                                            } ?>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_item_category_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <label class="control-label">Item Description<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide detailed description of the item such as quantity and add the total weight and size etc. so that incase of insurance claim these details will be analyzed."></a></label>
                                                                        <textarea id="item_description_<?php echo $pacCount; ?>" name="item_description_<?php echo $pacCount; ?>" class="form-control vresize item_description" placeholder="Ex. Titan Watch with covered box." rows="3"><?php echo (isset($packageDetail['item_description']) && !empty($packageDetail['item_description']))?$packageDetail['item_description']:''; ?></textarea>
                                                                        <p style="margin-bottom: 0px;" id="err_item_description_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div> 

                                                                <div class="row">
                                                                    <div class="form-group col-sm-8">
                                                                        <label class="control-label" for="approxweight">Approximate weight <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select weight of the item so that traveller will decide capacity of baggage in which item can be carried."></a></label>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <input type="text" id="item_weight_<?php echo $pacCount; ?>" name="item_weight_<?php echo $pacCount; ?>" class="item_weight" style="display:none;" data-value='<?php echo (isset($packageDetail['weight']) && !empty($packageDetail['weight']))?$packageDetail['weight']:'0.5'; ?>' >
                                                                                <span style="margin-bottom: 0px;position: absolute;display: block;" id="lbs_item_weight_<?php echo $pacCount; ?>"></span> 
                                                                                <p style="margin-bottom: 0px;" id="err_item_weight_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>  
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label" for="itemsize">Negligible Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="If weight of the item is less than 1 lbs. or 0.5 kg, Please check this option."></a></label>
                                                                        <div class="yesNo" style="margin-top: 1em;">
                                                                            <label class="sliderCheck">
                                                                                <input type="checkbox" class="negligible_weight" value="1" name="negligible_weight_<?php echo $pacCount; ?>" id="negligible_weight_<?php echo $pacCount; ?>" <?php echo (isset($packageDetail['negligible_weight']) && !empty($packageDetail['negligible_weight']))?'checked':''; ?>>
                                                                                <div class="slider round"></div>
                                                                            </label>
                                                                        </div>
                                                                        <!--div class="input-group">
                                                                            <div class="input-group-addon">
                                                                                <input aria-label="Negligible Weight" class="negligible_weight" <?php echo (isset($packageDetail['negligible_weight']) && !empty($packageDetail['negligible_weight']))?'checked':''; ?> type="checkbox" value="1" name="negligible_weight_<?php echo $pacCount; ?>" id="negligible_weight_<?php echo $pacCount; ?>">
                                                                            </div>
                                                                            <input class="form-control" placeholder="Negligible Weight" aria-label="Negligible Weight" readonly="" type="text" />
                                                                        </div-->
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <div class="available-volume">
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> active" id="icon-doc_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-doc.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Document</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-backbag_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-backbag-hand.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Backbag</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-suitcase_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-suitcase.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Suitcase</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="volume-box volume-box-<?php echo $pacCount; ?> " id="icon-package_<?php echo $pacCount; ?>">
                                                                                <div class="volume-box-inner">
                                                                                    <span><img class="svg" src="<?php echo $this->basePath(); ?>/public/img/svg/icon-package-normal.svg" alt="Trepr" title="Trepr" /></span>
                                                                                    <p>Big parcel case</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <label class="control-label" for="itemsize">Approx. size of item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide size of size so that traveller will decide dimension of the baggage in which item can be carried."></a></label>
                                                                        <div class="row">
                                                                            <div class="col-sm-4 col-xs-3 form-group">                                                       
                                                                                <input type="number" class="form-control item_sizes" placeholder="L" id="item_length_<?php echo $pacCount; ?>" name="item_length_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['length']) && !empty($packageDetail['length']))?$packageDetail['length']:''; ?>" />
                                                                            </div>
                                                                            <div class="col-xs-4 form-group">   
                                                                                <input type="number" class="form-control item_sizes" placeholder="W" id="item_width_<?php echo $pacCount; ?>" name="item_width_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['width']) && !empty($packageDetail['width']))?$packageDetail['width']:''; ?>" />
                                                                            </div>
                                                                            <div class="col-xs-4 form-group">  
                                                                                <input type="number" class="form-control item_sizes" placeholder="H" id="item_height_<?php echo $pacCount; ?>" name="item_height_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['height']) && !empty($packageDetail['height']))?$packageDetail['height']:''; ?>" />
                                                                            </div>
                                                                        </div>
                                                                        <p style="margin-bottom: 0px;" id="err_item_sizes_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label" for="itemsize">Unit of size<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide size of size so that traveller will decide dimension of the baggage in which item can be carried."></a></label>
                                                                        <select class="form-control item_unit" name="item_unit_<?php echo $pacCount; ?>"  id="item_unit_<?php echo $pacCount; ?>"style="width:75%; margin-right: 10px;display:inline;">
                                                                            <option value="inch">Inch</option>
                                                                            <option value="mm">mm</option>
                                                                            <option value="cm">cm</option>
                                                                        </select>
                                                                        <span style="line-height: 38px;float: right;">Or</span>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label" for="itemsize">Negligible size<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="If items such as paper, documents, miniature objects or size that is around a small wall poster (12&quot; x 24&quot;). Please check this option."></a></label>
                                                                        <div class="yesNo">
                                                                            <label class="sliderCheck">
                                                                                <input type="checkbox" class="negligible_size" value="1" name="negligible_size_<?php echo $pacCount; ?>" id="negligible_size_<?php echo $pacCount; ?>" <?php echo (isset($packageDetail['negligible_size']) && !empty($packageDetail['negligible_size']))?'checked':''; ?>>
                                                                                <div class="slider round"></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Approx. worth of Item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select weight of the item so that traveller will decide capacity of baggage in which item can be carried."></a></label>
                                                                        <div class="row">
                                                                            <div class="col-xs-7">
                                                                                <input type="number" name="item_worth_<?php echo $pacCount; ?>" id="item_worth_<?php echo $pacCount; ?>" class="form-control item_worth" aria-label="Amount (to the nearest dollar)" value="<?php echo (isset($packageDetail['item_worth']) && !empty($packageDetail['item_worth']))?$packageDetail['item_worth']:''; ?>" />
                                                                                <p style="margin-bottom: 0px;" id="err_item_worth_<?php echo $pacCount; ?>" class="text-danger err_msg"></p> 
                                                                            </div>  
                                                                            <div class="col-xs-5">
                                                                                <select class="form-control item_worth_currency" name="item_worth_currency_<?php echo $pacCount; ?>" id="item_worth_currency_<?php echo $pacCount; ?>" >
                                                                                    <option <?php echo (isset($packageDetail['item_worth_currency']) && $packageDetail['item_worth_currency'] == 'USD $')?'selected="selected"':'';?> value="USD $">USD $</option>
                                                                                    <option <?php echo (isset($packageDetail['item_worth_currency']) && $packageDetail['item_worth_currency'] == 'EUR &euro;')?'selected="selected"':'';?> value="EUR &euro;">EUR &euro;</option>
                                                                                    <option <?php echo (isset($packageDetail['item_worth_currency']) && $packageDetail['item_worth_currency'] == 'GBP &pound;')?'selected="selected"':'';?> value="GBP &pound;">GBP &pound;</option>
                                                                                </select>
                                                                                <p style="margin-bottom: 0px;" id="err_item_worth_currency_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Add picture of item<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please upload picture of item only for identification purpose. NOTE: Photos will be analyzed incase a insurance claim is made."></a></label>
                                                                        <input type="file" class="form-control package_photo" aria-label="" id="package_photo_<?php echo $pacCount; ?>" name="package_photo_<?php echo $pacCount; ?>" accept="image/*">
                                                                        <?php if(isset($packageDetail['photo']) && !empty($packageDetail['photo'])){ ?>
                                                                            <input type="hidden" name="package_photo_edited_<?php echo $pacCount; ?>" value="<?php echo $packageDetail['photo'] ?>" />
                                                                        <p><img width="100" class="img-responsive" src="<?php echo $this->basePath() ?>/public/uploads/seeker_people_attachment/<?php echo $packageDetail['photo'] ?>"></p>
                                                                        <?php } ?>
                                                                        <p style="margin-bottom: 0px;" id="err_package_photo_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Color<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select a color that best match color of the item to make sure right same item is carried and delivered."></a></label>
                                                                        <input type="text" class="form-control color jscolor" aria-label="Color" id="color_<?php echo $pacCount; ?>" name="color_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['color']) && !empty($packageDetail['color']))?$packageDetail['color']:''; ?>" />
                                                                        <p style="margin-bottom: 0px;" id="err_color_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Condition<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select exact condition of the item to make sure right item is carried and delivered in same condition."></a></label>
                                                                        <select class="form-control condition" id="condition_<?php echo $pacCount; ?>" name="condition_<?php echo $pacCount; ?>">
                                                                            <option value="">Select</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'New')?'selected="selected"':'';?> value="New">New</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'Old')?'selected="selected"':'';?> value="Old">Old</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'Moderate')?'selected="selected"':'';?> value="Moderate">Moderate</option>
                                                                            <option <?php echo (isset($packageDetail['condition']) && $packageDetail['condition'] == 'Refurbished')?'selected="selected"':'';?> value="Refurbished">Refurbished</option>
                                                                        </select>
                                                                        <p style="margin-bottom: 0px;" id="err_condition_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label" for="item_quantity">Quantity<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>  
                                                                        <input type="text" class="form-control" aria-label="item_quantity" name="item_quantity_<?php echo $pacCount; ?>" id="item_quantity_<?php echo $pacCount; ?>" value="<?php echo (isset($packageDetail['item_quantity']) && !empty($packageDetail['item_quantity']))?$packageDetail['item_quantity']:''; ?>" />
                                                                        <p style="margin-bottom: 0px;" id="err_item_quantity_<?php echo $pacCount; ?>" class="text-danger err_msg"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <?php } ?>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Total Weight<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                                <input type="text" class="form-control total_weight" id="total_weight"  name="total_weight" value="<?php echo (isset($trip_seeker['total_weight']) && !empty($trip_seeker['total_weight']))?$trip_seeker['total_weight']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_total_weight" class="text-danger err_msg"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Total Worth<a class="icon-info" href="#" data-toggle="tooltip" title=""></a> </label>
                                                <div class="row">
                                                    <div class="col-xs-8 form-group">
                                                        <input type="text" class="form-control total_worth"  id="total_worth"  name="total_worth" value="<?php echo (isset($trip_seeker['total_worth']) && !empty($trip_seeker['total_worth']))?$trip_seeker['total_worth']:''; ?>">
                                                        <p style="margin-bottom: 0px;" id="err_total_worth" class="text-danger err_msg"></p>
                                                    </div>
                                                    <div class="col-xs-4 form-group">
                                                        <select class="form-control"  id="total_worth_currency"  name="total_worth_currency">
                                                            <option <?php echo (isset($trip_seeker['total_worth_currency']) && $trip_seeker['total_worth_currency'] == 'USD $')?'selected="selected"':'';?> value="USD $">USD $</option>
                                                            <option <?php echo (isset($trip_seeker['total_worth_currency']) && $trip_seeker['total_worth_currency'] == 'EUR &euro;')?'selected="selected"':'';?> value="EUR &euro;">EUR &euro;</option>
                                                            <option <?php echo (isset($trip_seeker['total_worth_currency']) && $trip_seeker['total_worth_currency'] == 'GBP &pound;')?'selected="selected"':'';?> value="GBP &pound;">GBP &pound;</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                              
                                    <div class="form-block">                               
                                        <h5 class="sub-heading text-left">Contact details of person who collects packages at the destination</h5>
                                        <hr class="title-border">

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Contact Name<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide name of contact person who needs to be contacted at destination and delivered."></a></label>
                                                <input type="text" class="form-control contact_name" placeholder="Enter your Full Name" id="contact_name"  name="contact_name" value="<?php echo (isset($trip_seeker['contact_name']) && !empty($trip_seeker['contact_name']))?$trip_seeker['contact_name']:''; ?>" />                                                <p style="margin-bottom: 0px;" id="err_contact_name" class="text-danger err_msg"></p>

                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Contact Number<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact number of person at destination incase traveller needs to contact him/her after arrival and deliver."></a></label>
                                                <input type="text" class="form-control " placeholder="Country code + Number"  id="contact_number"  name="contact_number" value="<?php echo (isset($trip_seeker['contact_number']) && !empty($trip_seeker['contact_number']))?$trip_seeker['contact_number']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_contact_number" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Contact email ID<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide email ID of contact person so that we will send notification of flights arrival or status change."></a></label>
                                                <input type="text" class="form-control" placeholder="Enter your Email"   id="contact_email_address"  name="contact_email_address" value="<?php echo (isset($trip_seeker['email_address']) && !empty($trip_seeker['email_address']))?$trip_seeker['email_address']:''; ?>" />
                                                <p style="margin-bottom: 0px;" id="err_contact_email_address" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Comment's to the Travelers<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please add any special requirements or needs of package in detail which will help travellers to contact you to get any additional information."></a></label>
                                                <textarea id="comments" name="comments" class="form-control vresize" placeholder="Provide your commnts to Travelers regarding your package requirments." rows="3"><?php echo (isset($trip_seeker['comment']) && !empty($trip_seeker['comment']))?$trip_seeker['comment']:''; ?></textarea>
                                                <p style="margin-bottom: 0px;" id="err_comments" class="text-danger err_msg"></p>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-4 text-right">
                                                <input type="button" class="btn btn-primary" value="Save" onclick="addSeekerPackageRequest();getPacakgesFee();">
                                                <input type="button" class="btn" value="Cancel">
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                 
                            </div> 
<script>
    function hastRoute(){
        var hash = window.location.hash.substr(1);
        if(hash != ''){
            if(hash == 'trip'){
                $('#rootwizard a[href="#package_tab2"]').tab('show');
            }
            if(hash == 'service'){
                $('#rootwizard a[href="#package_tab1"]').tab('show');
            }
            if(hash == 'location'){
                $('#rootwizard a[href="#package_tab3"]').tab('show');
            }
        }
    }
    $(document).ready(function () {
        hastRoute();
        calculateTotalWorth();
       
        if($('.item_weight').length != 0){
            $('.item_weight').each(function(){
                var item_weight_id = $(this).attr('id'),
                    attr = $(this).attr('data-value'),
                    index = item_weight_id.lastIndexOf("_"),
                    pos = item_weight_id.substr(index+1);
                    loadPackageSlider(pos);
                if (typeof attr !== typeof undefined && attr !== false){
                    updatePackageSlider(pos,attr);
                }
            });
        }
        
        if($('#departure_date').val() !== ''){
            updateDateRange('departure_date');
        }
        $('#departure_date').datepicker().on('changeDate', function(e) {
            updateDateRange('departure_date');
        });
    });
</script>