<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<script src="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.js"></script>
<?php
if (isset($action) && $action == 'add') {
    $showBtn = true;
} else if (isset($action) && $action == 'edit') {
    $showBtn = false;
}
?><div class="table-wrapper-row full-width">
    <div class="col-md-12 table-cell travel-form bg-white">
                            <div class="row">
                                <div class="form-group col-sm-12 form-group-select-plus">
                                    <label class="control-label">Number of passenger(s)<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide total number of passengers who require travel companion."></a>
                                        <small>need to be accompanied</small></label>
                                    <div>
                                     <?php     $selected_passengers = isset($trip_seeker['passengers']) ? $trip_seeker['passengers'] : 1;?>
                                        <input type="hidden" name="selected_passengers" id="selected_passengers" value="<?php echo $selected_passengers?>">
                                        <?php if($action == 'edit'){ ?>
                                            <input type="hidden" name="trip_edit_id" id="action" value="<?php echo isset($this->trip['ID'])?$this->trip['ID']:0; ?>" />
                                        <?php } ?>
                                        <input type="hidden" id="action" value="<?php echo $action ?>" >
                                        <?php if ($showBtn) { ?>
                                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                <label class="btn btn-primary slfpls active">
                                                    <input type="radio" id="passengers_count" checked name="passengers_count" value="1" onchange="addRemovePassengers(this.value);" />Self<br>+
                                                </label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="2" onchange="addRemovePassengers(this.value);" />1</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="3" onchange="addRemovePassengers(this.value);" />2</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="4" onchange="addRemovePassengers(this.value);" />3</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="5" onchange="addRemovePassengers(this.value);" />4</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="6" onchange="addRemovePassengers(this.value);" />5</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="7" onchange="addRemovePassengers(this.value);" />6</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="8" onchange="addRemovePassengers(this.value);" />7</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="9" onchange="addRemovePassengers(this.value);" />8</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="10" onchange="addRemovePassengers(this.value);" />9</label>
                                                <label class="btn btn-primary"><input type="radio" name="passengers_count" id="passengers_count" value="11" onchange="addRemovePassengers(this.value);" />10+</label>
                                            </div>
                                        <?php } ?>
                                        <select name="passengers_count_more"  id="passengers_count" class="form-control <?php echo ($showBtn) ? 'hidden' : ''; ?>" onchange="addRemovePassengers(this.value);">
                                            <?php
                                            $selectedCount = isset($trip_seeker['passengers']) ? $trip_seeker['passengers'] : 11;
                                            $passengerCountArr = range(1, 11);
                                            foreach ($passengerCountArr as $passCount) {
                                                $selectedPassCount = ($selectedCount == $passCount) ? 'selected="selected"' : '';
                                                echo '<option ' . $selectedPassCount . ' value="' . $passCount . '">' . $passCount . '</option>';
                                            }
                                            ?>
                                        </select>                                                                           
                                    </div>
                                </div>
                            </div>
                 
                            <div id="passenger_box">
                                
                                           <?php if (isset($action) && $action == 'add') { ?>
                             <div id="passenger_box_1">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                          <h5 class="sub-heading text-left">Details of passenger 1</h5>
                                            <hr class="title-border">
                                            <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">First Name <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide first name of passenger per ID document."></a></label>
                                                        <input type="text" name="passenger_first_name_1" id="passenger_first_name_1" class="form-control passenger_first_name">
                                                        <p style="margin-bottom: 0px;" id="err_passenger_first_name_1" class="text-danger err_msg"></p>

                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Last Name <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide last name of passenger per ID document."></a></label>

                                                        <input type="text" name="passenger_last_name_1" id="passenger_last_name_1" class="form-control passenger_last_name">
                                                        <p style="margin-bottom: 0px;" id="err_passenger_last_name_1" class="text-danger err_msg"></p>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Gender <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select gender of passenger per ID document."></a></label>
                                                        <div class="btn-group" data-toggle="buttons">
                                                            <label class="btn btn-default">
                                                                <input class="form-control passenger_gender" id="passenger_gender_1_male" type="radio" name="passenger_gender_1" value="m" /> Male
                                                            </label>
                                                            <label class="btn btn-default">
                                                                <input class="form-control passenger_gender" id="passenger_gender_1_female" type="radio" name="passenger_gender_1" value="f" /> Female
                                                            </label>
                                                            <label class="btn btn-default">
                                                                <input class="form-control passenger_gender" id="passenger_gender_1_other" type="radio" name="passenger_gender_1" value="o" /> Other
                                                            </label>
                                                        </div>
                                                        <p style="margin-bottom: 0px;" id="err_passenger_gender_1" class="text-danger err_msg"></p>

                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">Age <span class="text-danger">*</span><a class="icon-info" data-toggle="tooltip" title="Please select age of passenger per ID document."></a></label>
                                                        <input type="text" name="passenger_age_1" id="passenger_age_1" class="form-control numonly passenger_age" >
                                                        <p style="margin-bottom: 0px;" id="err_passenger_age_1" class="text-danger err_msg"></p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <ul style="width:100%;clear:both;" id="passenger_attachment_1" class="imgblock-new"></ul>
                                                    <input type="hidden" id="uploadCount_1" name="uploadCount_1" value="0">
                                                </div>
                                          </div>
                                      </div>
                               </div>
                                            <?php
                                            } 
                                            
                                            else if (isset($action) && $action == 'edit') {
                                                if ($this->trip_seeker_passenger) {
                                                    foreach ($this->trip_seeker_passenger as $key => $pass) {
                                                        $keyNum = $key + 1; ?>
                              <div id="passenger_box_<?php echo $keyNum?>">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                         <h5 class="sub-heading text-left">Details of passenger <?php echo $keyNum?></h5>
                                            <hr class="title-border">
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">First Name <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide first name of passenger per ID document."></a></label>
                                                                <input type="text" name="passenger_first_name_<?php echo $keyNum ?>" id="passenger_first_name_<?php echo $keyNum ?>" class="form-control passenger_first_name" value="<?php echo (isset($pass['first_name'])) ? $pass['first_name'] : ''; ?>">
                                                                <p style="margin-bottom: 0px;" id="err_passenger_first_name_<?php echo $keyNum ?>" class="text-danger err_msg"></p>

                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Last Name <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide last name of passenger per ID document"></a></label>

                                                                <input type="text" name="passenger_last_name_<?php echo $keyNum ?>" id="passenger_last_name_<?php echo $keyNum ?>" class="form-control passenger_last_name" value="<?php echo (isset($pass['last_name'])) ? $pass['last_name'] : ''; ?>">
                                                                <p style="margin-bottom: 0px;" id="err_passenger_last_name_<?php echo $keyNum ?>" class="text-danger err_msg"></p>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Gender <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select gender of passenger per ID document."></a></label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default <?php echo (isset($pass['gender']) && $pass['gender'] == 'm') ? 'active' : ((isset($pass['gender']) && $pass['gender'] == 'm' && $keyNum == 1)?'disabled':''); ?>">
                                                                        <input class="form-control passenger_gender" type="radio" id="passenger_gender_<?php echo $keyNum ?>_male" name="passenger_gender_<?php echo $keyNum ?>" value="m" <?php echo (isset($pass['gender']) && $pass['gender'] == 'm') ? 'checked' : ''; ?> /> Male
                                                                    </label>
                                                                    <label class="btn btn-default <?php echo (isset($pass['gender']) && $pass['gender'] == 'f') ? 'active' : ((isset($pass['gender']) && $pass['gender'] == 'f' && $keyNum == 1)?'disabled':''); ?>">
                                                                        <input class="form-control passenger_gender" type="radio" id="passenger_gender_<?php echo $keyNum ?>_female" name="passenger_gender_<?php echo $keyNum ?>" value="f" <?php echo (isset($pass['gender']) && $pass['gender'] == 'f') ? 'checked' : ''; ?> /> Female
                                                                    </label>
                                                                    <label class="btn btn-default <?php echo (isset($pass['gender']) && $pass['gender'] == 'o') ? 'active' : ((isset($pass['gender']) && $pass['gender'] == 'o' && $keyNum == 1)?'disabled':''); ?>">
                                                                        <input class="form-control passenger_gender" type="radio" id="passenger_gender_<?php echo $keyNum ?>_other" name="passenger_gender_<?php echo $keyNum ?>" value="o" <?php echo (isset($pass['gender']) && $pass['gender'] == 'o') ? 'checked' : ''; ?> /> Other
                                                                    </label>
                                                                </div>
                                                                <!--select name="passenger_gender_<!?php echo $keyNum ?>" id="passenger_gender_<!?php echo $keyNum ?>" class="form-control passenger_gender">
                                                                    <option value=""> -- Select Gender -- </option>
                                                                    <option value="male"> Male </option>
                                                                    <option value="female"> Female </option>
                                                                </select-->
                                                                <p style="margin-bottom: 0px;" id="err_passenger_gender_<?php echo $keyNum ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Age <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select age of passenger per ID document."></a></label>

                                                                <input type="text" name="passenger_age_<?php echo $keyNum ?>" id="passenger_age_<?php echo $keyNum ?>" class="form-control numonly passenger_age" value="<?php echo (isset($pass['age'])) ? $pass['age'] : ''; ?>">
                                                                <p style="margin-bottom: 0px;" id="err_passenger_age_<?php echo $keyNum ?>" class="text-danger err_msg"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <ul style="width:100%;clear:both;" id="passenger_attachment_<?php echo $keyNum ?>"  class="imgblock-new passenger_attachment"></ul>
                                                                <?php
                                                                $toalAttCount = 5;
                                                                if (isset($pass['attachments']) && !empty($pass['attachments'])) { ?>
                                                                    <div class="content horizontal-images">
                                                                        <ul class="qq-upload-list">
                                                                            <?php
                                                                            foreach ($pass['attachments'] as $attRow) {
                                                                                $toalAttCount --;
                                                                                ?>
                                                                                <li class=" qq-upload-success" id="file-img-0">
                                                                                    <span class="qq-upload-file spFileName_<?php echo $keyNum ?>-0-1" style="">
                                                                                        <img src="<?php echo $this->basePath(); ?>/public/uploads/seeker_people_attachment/thumb/<?php echo $attRow['seeker_attachment_name'] ?>" alt="<?php echo $attRow['seeker_attachment_name'] ?>">
                                                                                        <input type="hidden" name="seekerPeopleDocImages_<?php echo $keyNum ?>[]" value="<?php echo $attRow['seeker_attachment_name'] ?>"></span>
                                                                                    <div class="delete-btn manuallyDeleteImages" data-uploadid = "<?php echo $keyNum ?>">
                                                                                        <a class="qq-upload-delete " href="#" style="background: url(&quot;images/close-x.png&quot;) left top no-repeat; width: 12px; display: inline-block;">
                                                                                        Delete</a>
                                                                                    </div>
                                                                                </li>
                                                                                <?php
                                                                            }
                                                                            ?>
                                                                        </ul>
                                                                    </div>
                                                                <?php } ?>
                                                                <input type="hidden" id="uploadCount_<?php echo $keyNum ?>" name="uploadCount_<?php echo $keyNum ?>" value="<?php echo (isset($pass['attachments'])) ? count($pass['attachments']) : 0; ?>">
                                                              
                                                            </div>
                                                        </div>
                                               </div>
                                    </div>
                                </div>
                                                    <?php
                                                    }
                                                }
                                            }
                                            ?>
                                            
                                     
                            </div>
                        
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Contact Name  <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide name of contact person who needs to be contacted at destination."></a></label>
                                    <input type="text" name="contact_name" id="contact_name" class="form-control" value="<?php echo (isset($trip_seeker['contact_name'])) ? $trip_seeker['contact_name'] : ''; ?>">
                                    <p style="margin-bottom: 0px;" id="err_contact_name" class="text-danger err_msg"></p>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Contact Number  <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide contact number of person at destination incase traveller needs to contact him/her after arrival."></a></label>
                                    <input type="text" name="contact_number" id="contact_number" class="form-control phoneonly" value="<?php echo (isset($trip_seeker['contact_number'])) ? $trip_seeker['contact_number'] : ''; ?>">
                                    <p style="margin-bottom: 0px;" id="err_contact_number" class="text-danger err_msg"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Contact email ID <a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide email ID of contact person so that we will send notification of flights arrival or status change."></a></label>
                                    <input type="text" name="email_address" id="email_address" class="form-control" value="<?php echo (isset($trip_seeker['email_address'])) ? $trip_seeker['email_address'] : ''; ?>">
                                    <p style="margin-bottom: 0px;" id="err_email_address" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Comments to travellers<span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please add any special requirements or needs of passengers in detail which will help travellers to contact you to get any additional information."></a></label>
                                    <textarea class="form-control vresize" name="comments" id="comments"><?php echo (isset($trip_seeker['comment'])) ? $trip_seeker['comment'] : ''; ?></textarea>
                                    <p style="margin-bottom: 0px;" id="err_comments" class="text-danger err_msg"></p>
                                </div>
                            </div>
                            <input type="hidden" name="userRole" id="userRole" value="seeker" />				
                        </div>
                         
                    </div>
 
<script type="text/javascript">
   $(document).ready(function(){
    updateSelfData();
    hastRoute();
    <?php if (isset($action) && $action == 'edit') {?>
    if($('.passenger_attachment').length != 0){
           $('.passenger_attachment').each(function(){
               var pro_att_id = $(this).attr('id'),
                   attr = $(this).attr('data-value'),
                   index = pro_att_id.lastIndexOf("_"),
                   pos = pro_att_id.substr(index+1);
                  
                   var uploadCount = $('#uploadCount_'+pos).val();
                   var totalUpCount = 5-uploadCount;
                   createImageUploader("passenger_attachment_"+pos, 0, totalUpCount, "", pos);
                   var htmlContent = $('#hiddenImages_'+pos).html();
                   $('#dynamicImages_'+pos).html(htmlContent);
                   $('#hiddenImages_'+pos).remove();
           });
       }
    <?php }?>
        $('.manuallyDeleteImages').click(function(e){
   e.preventDefault();
   var imageFilename = $(this).attr('data-filename');
   var upIndex = $(this).attr('data-uploadid');
   $(this).closest('li.qq-upload-success').remove();
   var uploadCount = parseInt($('#uploadCount_' + upIndex).val());
   uploadCount--;
   
   $('#uploadCount_' + upIndex).val(uploadCount);
   var totalUpCount = 5-uploadCount;
    console.log('totalUpCount'+totalUpCount);
   createImageUploader("passenger_attachment_"+upIndex, 0, totalUpCount, "", upIndex);
});
}); 
    function createImageUploader(divid, reId, imgLimit, btnName, index) {
        imaLimit =
                index = index || 1;
        var uploader = new qq.FineUploader({
            element: document.getElementById(divid),
            request: {
                endpoint: '<?php echo $this->basePath() ?>/ajax/uploadPassengerAttachment',
                inputName: 'uploadfile',
                params: {
                    reId: reId
                },
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                itemLimit: imgLimit,
                sizeLimit: (50 * 1048576) /* 50 mb = 50 * 1024 bytes*/
            },
            text: {
                uploadButton: '<div id="uploadImgBtn_' + index + '">' + btnName + '</div>',
                cancelButton: 'Cancel',
                deleteButton: 'Delete',
            },
            deleteFile: {
                enabled: true,
                method: "POST",
                endpoint: "<?php echo $this->basePath() ?>/ajax/deletePassengerAttachment"
            },
            callbacks: {
                onUpload: function (id, name) {
                    /* this._netUploadedOrQueued = 3;
                    // this._netUploaded = 3;
                    //alert(this._netUploadedOrQueued); */
                },
                onProgress: function (id, name, loaded, total) {
                    var item, progressBar, percent, cancelLink, filenameDisplay;
                    item = this.getItemByFileId(id);
                    filenameDisplay = this._find(item, 'file');
                    cancelLink =  this._find(item, 'cancel');
                    qq(filenameDisplay).addClass('spFileName_' + index + '-' + id);
                    qq(cancelLink).addClass('spcancel-'+id);
                    $('.qq-upload-button').each(function(index){
                        $(this).find('[name="qqfile"]').attr('id','filestyle-'+index);
                    });
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        var idName = 'file-img-' + id;
                        jQuery('.spFileName_' + index + '-' + id).show();
                        jQuery('#adsImgEsists').hide();
                        jQuery('.spFileName_' + index + '-' + id).html('<img src="<?php echo $this->basePath() ?>/public/uploads/seeker_people_attachment/thumb/' + responseJSON.uploadName + '" alt="' + responseJSON.uploadName + '"><input type="hidden" name="seekerPeopleDocImages_' + index + '[]"  value="' + responseJSON.uploadName + '" />');
                        jQuery('.spFileName_' + index + '-' + id).closest("li").attr('id', idName);
                        jQuery('.qq-upload-size').hide();
                        var uploadCount = parseInt($('#uploadCount_' + index).val());
                        uploadCount++;
                        $('#uploadCount_' + index).val(uploadCount);
                    }
                },
                onDeleteComplete: function (id, fileName, status) {
                    jQuery('#adsImgEsists').show();
                    var uploadCount = parseInt($('#uploadCount_' + index).val());
                    uploadCount--;
                    $('#uploadCount_' + index).val(uploadCount);
                },
            },
            uploadIndex: index
        });
    }

  

    $('.yesNo input:checkbox').click(function() {
        $('.yesNo input:checkbox[name='+$(this).attr('name')+']').parent().removeClass('checked');
        $(this).parent().toggleClass('checked');
    });

function updateSelfData(){
    if($('input[name="passengers_count"]:checked').val() == 1 || $('#passengers_count').val() > 0){
        <?php if(isset($userDetails['first_name']) && !empty($userDetails['first_name'])){ ?>
        $('#passenger_first_name_1').val('<?php echo isset($userDetails['first_name']) ? $userDetails['first_name'] : ''; ?>').attr('readonly', true);
        <?php } 
        if(isset($userDetails['last_name']) && !empty($userDetails['last_name'])){ ?>
        $('#passenger_last_name_1').val('<?php echo isset($userDetails['last_name']) ? $userDetails['last_name'] : ''; ?>').attr('readonly', true);
        <?php } 
        if(isset($userDetails['gender']) && !empty($userDetails['gender'])){ ?>
            $('input[name="passenger_gender_1"').attr('readonly', true).closest('label').addClass('disabled');
            $('#passenger_gender_1_<?php echo $userDetails['gender'] ?>').attr('checked', true).closest('label').removeClass('disabled').addClass('active');
        <?php } 
        if(isset($userDetails['age']) && !empty($userDetails['age'])){ ?>
            $('#passenger_age_1').val('<?php echo isset($userDetails['age']) ? $userDetails['age'] : ''; ?>').attr('readonly', true);
        <?php } ?>
        $('#contact_name').val('<?php echo isset($userDetails['first_name']) ? $userDetails['first_name'] : ''; ?>');
        $('#contact_number').val('<?php echo isset($userDetails['phone']) ? $userDetails['phone'] : ''; ?>');
        $('#email_address').val('<?php echo isset($userDetails['email_address']) ? $userDetails['email_address'] : ''; ?>');
        $('<input type="hidden" name="passenger_gender_1" id="passenger_gender_new" value="<?php echo isset($userDetails['gender']) ? $userDetails['gender'] : ''; ?>" >').insertAfter('#passenger_gender_1');
    }
}
function hastRoute(){
    var hash = window.location.hash.substr(1);
    if(hash != ''){
        if(hash == 'trip'){
            $('#rootwizard a[href="#tab1"]').tab('show');
        }
        if(hash == 'service'){
            $('#rootwizard a[href="#tab3"]').tab('show');
        }
        if(hash == 'location'){
            $('#rootwizard a[href="#tab2"]').tab('show');
        }
    }
}
$('input[name="passengers_count"]').change(function(){
    updateSelfData();
});

</script>