<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/dispute';
$searchArray = array(
    'trip_id_number' => 'Trip Number'
 
);
$filterByStatus = array(
    'Disabled' => 'Disabled',
    'Enabled' => 'Enabled'
);
$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
?>
<script type="text/javascript">
    function doActionFn(action, id) { 
        if (action == 'edit' || action == 'view' ||  action == 'disable' ||  action == 'enable' ) {
            window.location = '<?php echo $this->basePath() . '/admin/dispute'; ?>?action=' + action + '&id=' + id;
        } else {
            $('#doAction').val(action);
            if (id != 'all' && $('#checked_' + id).length) {
                $('.checkedAll').prop('checked', false);
                $('#checked_' + id).prop('checked', true);
            }
            var checkBox = false;
            $.each($("input[name='ids[]']:checked"), function () {
                checkBox = true;
            });
            if (checkBox == false) {
                $('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');
                return false;
            }
            if (action == 'delete') {
                if (confirm("Are you sure you want to delete?")) {
                    $('#listFrm').submit();
                }
            } else {
                $('#listFrm').submit();
            }
        }
    }

</script>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Dispute   <small>List</small> </h2>
                    <ol class="breadcrumb">
                        <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                        <li class="active">Trips</li>
                        <li class="active">Dispute List</li>
                     
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
<?php
if (!empty($flashMessages)) {
    ?>
                    <div class="row">
                    <?php
                    foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) {
                            ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">Ã—</span></button><?php echo $message; ?></div>
                                </div>
        <?php } ?>
                        <?php } ?>
                    </div>
                    <?php } ?>
            </div>
            <div class="box-white">
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="searchbox-wrap">
                            <div class="page-header text-left">
                                <h3>Search</h3>
                            </div>
                            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl ?>"> 
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="searchKey" class="control-label">Search Key</label>
                                        <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey']) ? $filterData['searchKey'] : '' ?>" name="searchKey">              </div>
                                    <div class="form-group col-md-4">
                                        <label for="searchBy" class="control-label">Search By</label>
                                        <select id="searchBy" class="form-control" name="searchBy">
                                            <option selected="selected" value="">Select</option>
<?php
if (is_array($searchArray)) {
    foreach ($searchArray as $key => $val) {
        $searchBy = isset($filterData['searchBy']) ? $filterData['searchBy'] : '';
        $selected = ($key == $searchBy) ? 'selected="selected"' : '';
        ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>              </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;<button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>              </div>
                                </div>
                            </form></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3>Dispute List </h3>
                                        </div>
                                        <div class="disp_dropdown">


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <?php
                            $sortBy = 'username';
                            $sortOrder = 'desc';
                            $arrGet = $_GET;
                            if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                $sortBy = $_GET['sortBy'];
                                $sortOrder = $_GET['sortOrder'];
                            }
                            if (isset($arrGet)) {
                                unset($arrGet['sortBy']);
                                unset($arrGet['sortOrder']);
                                $listUrl = $this->basePath() . '/admin/seekers?' . http_build_query($arrGet);
                                $listUrl1 = $this->basePath() . '/admin/seekers?' . http_build_query($arrGet);
                            }
                            ?>

                <?php if($action =='edit') {
                        //print_r($disputerow);
                        //echo $disput_raised = $disputerow['traveller_trip_details ']['email_address'];die;
                        
                        //die;
                             if( $disputerow['user_id'] == $disputerow['seeker_trip_details']['user'])
                            {
                                    $disput_raised = $disputerow['seeker_trip_details']['email_address'];
                                    $disput_against = $disputerow['traveller_trip_details']['email_address'];
                            }
                            else
                            {
                                 $disput_raised = $disputerow['traveller_trip_details']['email_address'];
                                echo $disput_against = $disputerow['seeker_trip_details']['email_address'];
                            }
                        
                ?>


       <form  id="accAdminFrm" name="accAdminFrm" accept-charset="utf-8" method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>">    
                        
                        <input type="hidden" name="id" value="<?php echo isset($id)?$id:'';?>">
                        <input type="hidden" name="action" value="<?php echo isset($action)?$action:'';?>">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    
                                     <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute service type	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disputerow['issue_type']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="issue_type" name="issue_type" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute type	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disputerow['issue']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="issue" name="issue" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute Raised By	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disput_raised; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="disput_raised" name="disput_raised" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute Raised Against	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disput_against; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="disput_against" name="disput_against" disabled> 
                                       
                                    </div>

                                      <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Trip Number	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo$disputerow['seeker_trip_details']['trip_id_number']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="trip_id_number" name="trip_id_number" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Comments	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disputerow['comment']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="comment" name="comment" > 
                                       
                                    </div>


                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute Status  <span style="color:red;"></span></label>
                                       
                                       <?php   if ($disputerow['status'] == 1) { ?>
                                            <span class="label label-success"> Resolved</span> 
                                        <?php } else { ?>
                                            <span class="label label-warning"> Pending</span>
                                            <?php } ?>
                                    </div>
                                
                                        
                                   
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12">


<?php 				 
                            if($disputerow['status'] == 0){
                                    $enabled = 'disabled';
                            } else $enabled = ''; 
                            if($disputerow['status'] == 1){
                                    $disabled = 'disabled';
                            } else $disabled = '';
                        
          
                            echo '<button type="button" '.$disabled.' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Resolve"  onClick="doActionFn(\'enable\','.$disputerow['id'].');"></button>';
                            echo '<button type="button" '.$enabled.' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Pending"  onClick="doActionFn(\'disable\','.$disputerow['id'].');"></button>';
?>
                                <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                            </div>
                        </div>
                    </form> 
                    <?php }  else if($action == 'view') { 
                        //print_r($disputerow);
                        //echo $disput_raised = $disputerow['traveller_trip_details ']['email_address'];die;
                        
                        //die;
                             if( $disputerow['user_id'] == $disputerow['seeker_trip_details']['user'])
                            {
                                    $disput_raised = $disputerow['seeker_trip_details']['email_address'];
                                    $disput_against = $disputerow['traveller_trip_details']['email_address'];
                            }
                            else
                            {
                                 $disput_raised = $disputerow['traveller_trip_details']['email_address'];
                                echo $disput_against = $disputerow['seeker_trip_details']['email_address'];
                            }
                        
                ?>


    
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    
                                     <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute service type	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disputerow['issue_type']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="issue_type" name="issue_type" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute type	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disputerow['issue']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="issue" name="issue" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute Raised By	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disput_raised; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="disput_raised" name="disput_raised" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute Raised Against	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disput_against; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="disput_against" name="disput_against" disabled> 
                                       
                                    </div>

                                      <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Trip Number	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo$disputerow['seeker_trip_details']['trip_id_number']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="trip_id_number" name="trip_id_number" disabled> 
                                       
                                    </div>

                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Comments	 <span style="color:red;"></span></label>
                                        <input type="text"  value="<?php echo $disputerow['comment']; ?>" class="form-control required"  autocomplete="off" data-provide="typeahead" id="comment" name="comment" disabled> 
                                       
                                    </div>


                                    <div id="div_user_id" class="form-group col-md-12">
                                        <label for="user_id" class="control-label">Dispute Status  <span style="color:red;"></span></label>
                                       
                                       <?php   if ($disputerow['status'] == 1) { ?>
                                            <span class="label label-success"> Resolved</span> 
                                        <?php } else { ?>
                                            <span class="label label-warning"> Pending</span>
                                            <?php } ?>
                                    </div>
                                
                                        
                                   
                                    
                                </div>
                            </div>
                            
                        </div>
                      
                     
    
                        <?php }  else { ?>
                            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>"><input type="hidden" id="doAction" value="" name="doAction">            <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <input type="hidden" value="<?php echo $listUrl ?>" name="listUrl">
                                       <tr><th style="width:20px;"></th>
                                            <th style="width:20px;">#</th>
                                            <th> Dispute service type </th>
                                            <th> Dispute type </th>
                                            <th> Dispute raised by  </th>
                                            <th> Dispute raised against</th>
                                            <th> Trip Number</th>
                                            <th> Comments</th>
                                            <th> Date</th>
                                            <th> Service Status</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
<?php
if (!empty($paginator)) { // currentPageNumber
    $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
    foreach ($paginator as $adminRow) { //print_r($adminRow);die;
        
                if( $adminRow['user_id'] == $adminRow['seeker_trip_details']['user'])
        {
                $disput_raised=$adminRow['seeker_trip_details']['email_address'];
                $disput_against=$adminRow['traveller_trip_details']['email_address'];
        }
        else
        {
            $disput_raised=$adminRow['traveller_trip_details ']['email_address'];
            $disput_against=$adminRow['seeker_trip_details']['email_address'];
        }
        //echo $adminRow['seeker_trip_details']['user'];
        
        //die;
        ?>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $adminRow['id'] ?>" value="<?php echo $adminRow['id'] ?>" name="ids[]">              </td>
                                                            <td><?php echo $sno ?></td>
                                                            <td><?php echo $adminRow['issue_type'] ?></td> 
                                                            <td><?php echo $adminRow['issue'] ?></td>
                                                            <td><?php echo $disput_raised; ?></td>
                                                            <td><?php echo $disput_against; ?></td>
                                                            <td><?php echo $adminRow['seeker_trip_details']['trip_id_number']; ?></td>
                                                             <td><?php echo $adminRow['comment']; ?></td>
                                                            <td><?php echo $adminRow['datetime']; ?></td>
                                                            <td><?php if ($adminRow['status'] == 1) echo '<span class="label label-success">Resolved</span>';
                                                    else echo '<span class="label label-warning">Pending</span>'; ?></td>
                                                        <td><?php
                                                            if ($adminRow['status'] == 0) {
                                                                $enabled = 'disabled';
                                                            } else
                                                                $enabled = '';
                                                            if ($adminRow['status'] == 1) {
                                                                $disabled = 'disabled';
                                                            } else
                                                                $disabled = '';
                                                          /*  echo '<button type="button" '.$disabled.' class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable"  onClick="doActionFn(\'enable\','.$adminRow['id'].');"></button>';
                                                            echo '<button type="button" '.$enabled.' class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"  onClick="doActionFn(\'disable\','.$adminRow['id'].');"></button>';*/
                                                            echo '&nbsp;<button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="Edit" onClick="doActionFn(\'edit\','.$adminRow['id'].');"></button>';  
                                                            echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"  onClick="doActionFn(\'view\','.$adminRow['id'].');"></button>';
                                                            echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\',' . $adminRow['id'] . ');"></button>';
                                                            ?></td>
                                                    </tr>
        <?php
        $sno++;
    }
}else {
    ?>

                                                <tr>
                                                    <td colspan="7">No records found.</td>
                                                </tr>
    <?php
}
?>



                                        </tbody>
                                    </table>
                                </div>
                            </form> </div>
                    </div>
                </div>




                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="new-act-buttons disp_inline_fl">
                            <p><span class="w-select">With Selected</span>
                                <button  onclick="doActionFn('enable', 'all');" title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Resolve</button>
                                <button onclick="doActionFn('disable', 'all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Pending</button>
                                <button onclick="doActionFn('delete', 'all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                            </p>
                        </div>
                        <div class="disp_dropdown">

                            <p></p>
                        </div>
                    </div>

                    <div class="form-group col-md-12 text-right">
                        <div class="new-pagnav">
                            <?php
                            echo $this->paginationControl(
                                    $this->paginator, 'sliding', 'layout/paginator.phtml'
                            );
                            ?>
                        </div>
                    </div>
                <div id="showActionErr"></div>
            </div>
                        <?php } ?>


        </div>
    </div>
</div>

