<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Service Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/travellers"> Traveller Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Request Details</li>
                        </ol>
                   </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
                <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                            <div class="col-xs-12 msg_div">
                                <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <?php echo $message; ?>
                                </div>
                            </div>
                      <?php }  
                      } ?>
                 </div>
             <?php } ?>
            </div>
            <div class="box-white">
            	<div class="row">
                    <div class="col-xs-12">
                        <div class="tab-new">
                            <div class="page-header text-left">
                                <h3>Request Info</h3>
                            </div>
                            <div class="inner-tab">
                                <ul class="nav nav-tabs nav-tabs-new">
									<li id="price_tab " class="active"><a data-toggle="tab" href="#price">Prices</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                            	<div id="price" class="tab-pane fade active">
                            	<?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                        <div class="page-header text-left">
                                            <h3>People Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-8">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> <br>
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                No of Stops: <?php echo $adminRow['noofstops']; ?> = <?php echo $adminRow['stopsPrice']; ?> GBP <br>
                                                Distance (with no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                Sub Total (Country from - to + No of Stops + Distance): (<?php echo $adminRow['countryPrice'].' + '.$adminRow['stopsPrice'].' + '.$adminRow['distancePrice']; ?>) = <?php echo $adminRow['sub_total']; ?> GBP <br>
                                                No of Passengers: <?php echo $adminRow['passengerCount']; ?> <br>
                                                Total (Sub Total * No of Passengers - 20%): <?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['passengerCount'];?> - <?php echo (($adminRow['sub_total']/10)*2);?> = <?php echo $adminRow['service_fees']-(($adminRow['sub_total']/10)*2); ?> GBP <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['service_fees']-(($adminRow['sub_total']/10)*2); ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo ($adminRow['service_fees']-(($adminRow['sub_total']/10)*2))*$adminRow['conversion_rate']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br />

                                        <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo number_format(ceil(str_replace(',','',$adminRow['total_cost']))); ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        </span>

                                            </div>

                                        </div>
                                    <?php } ?>

								<?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) {  ?>
                                    <div class="page-header text-left">
                                        <h3>Package Service Fee</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-11">
                                            <label class="control-label">Estimated Service Earnings</label> <br>
                                            <?php //echo '<pre>'; print_r($adminRow); ?>
                                            Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                            Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                            No of Items: <?php echo $adminRow['trip_package']['packages_count']; ?> <br><br>
                                            <?php
                                            $i = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){ 
											?>
                                                <b>Item : <?php echo $i; ?></b><br>
                                                Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['item_category_price']['tot_item_price']; ?> GBP<br>
                                                Weight: <?php echo $items['weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                Worth of Item: <?php echo $items['item_worth']; ?> <?php echo $items['item_worth_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']?$items['item_price_price']['price_item_price']:0; ?> GBP<br>
                                                Sub Total of Item <?php echo $i; ?> :
                                                (Country from - to + Distance + Item Category * Item Weight + Item Price):
                                                (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                <?php
                                                $i++;
                                            }
                                            ?>

                                            Total (
                                            <?php
                                            $j = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($j > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                Sub Total of Item <?php echo $j; ?>
                                                <?php
                                                $j++;
                                            }
                                            ?>
                                            - 20%): (
                                            <?php
                                            $k = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($k > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                <?php echo $items['item_sub_total']; ?>
                                                <?php
                                                $k++;
                                            }
                                            ?>
                                             - 20%) = <?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> GBP

                                            <br>
                                            Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo ($adminRow['sub_total']-(($adminRow['sub_total']/10)*2))*$adminRow['conversion_rate']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                    <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                        <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                        <i class="price_tag_price" id="span_people_service_fee"><?php echo number_format(ceil(str_replace(',','',$adminRow['total_cost']))); ?></i>
                                        <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                    </span>

                                        </div>

                                        <!--<div class="form-group col-md-6">
                                        <label class="control-label">Estimated Service Fee For Seeker</label>
                                        <p style="font-size:36px;font-weight:bold;">&#xa3; <?php /*echo (isset($adminRow['trip_package']['package_service_fee'])) ? $adminRow['trip_package']['package_service_fee'] : '--'; */?></p>
                                    </div>-->

                                    </div>
                                <?php } ?>

                                <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) {  ?>
                                    <div class="page-header text-left">
                                        <h3>Project Service Fee</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-11">
                                            <label class="control-label">Estimated Service Earnings</label> <br>
                                            <?php //echo '<pre>'; print_r($adminRow); ?>
                                            Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                            Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                            No of Items: <?php echo $adminRow['trip_project']['packages_count']; ?> <br><br>
                                            <?php
                                            $i = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){ 
											?>
                                                <b>Item : <?php echo $i; ?></b><br>
                                                Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['item_category_price']['tot_item_price']; ?> GBP<br>
                                                Weight: <?php echo $items['weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                Worth of Item: <?php echo $items['item_worth']; ?> <?php echo $items['item_worth_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']?$items['item_price_price']['price_item_price']:0; ?> GBP<br>
                                                Sub Total of Item <?php echo $i; ?> :
                                                (Country from - to + Distance + Item Category * Item Weight + Item Price):
                                                (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                <?php
                                                $i++;
                                            }
                                            ?>

                                            Total (
                                            <?php
                                            $j = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($j > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                Sub Total of Item <?php echo $j; ?>
                                                <?php
                                                $j++;
                                            }
                                            ?>
                                            - 20%): (
                                            <?php
                                            $k = 1;
                                            foreach($adminRow['trip_package_packages'] as $items){
                                                if($k > 1){
                                                    echo '+';
                                                }
                                                ?>
                                                <?php echo $items['item_sub_total']; ?>
                                                <?php
                                                $k++;
                                            }
                                            ?>
                                             - 20%) = <?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> GBP

                                            <br>
                                            Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total'] - (($adminRow['sub_total']/10)*2); ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo ($adminRow['sub_total']-(($adminRow['sub_total']/10)*2))*$adminRow['conversion_rate']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                    <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                        <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                        <i class="price_tag_price" id="span_people_service_fee"><?php echo number_format(ceil(str_replace(',','',$adminRow['total_cost']))); ?></i>
                                        <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                    </span>

                                        </div>

                                        <!--<div class="form-group col-md-6">
                                        <label class="control-label">Estimated Service Fee For Seeker</label>
                                        <p style="font-size:36px;font-weight:bold;">&#xa3; <?php /*echo (isset($adminRow['trip_package']['package_service_fee'])) ? $adminRow['trip_package']['package_service_fee'] : '--'; */?></p>
                                    </div>-->

                                    </div>
                                <?php } ?>
                            </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>