<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/seekers';
$searchArray = array(
    'trip_id_number' => 'Trip Number'
 
);
$filterByStatus = array(
    'Disabled' => 'Disabled',
    'Enabled' => 'Enabled'
);
$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
?>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Seekers Requests List<small>List</small> </h2>
                    <ol class="breadcrumb">
                        <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                        <li class="active">Trips</li>
                        <li class="active">Seekers Requests List</li>
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
<?php
if (!empty($flashMessages)) {
    ?>
                    <div class="row">
                    <?php
                    foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) {
                            ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                                </div>
        <?php } ?>
                        <?php } ?>
                    </div>
                    <?php } ?>
            </div>
            <div class="box-white">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3>Seekers Requests List</h3>
                                        </div>
                                        <div class="disp_dropdown">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                            $sortBy = 'username';
                            $sortOrder = 'desc';
                            $arrGet = $_GET;
                            if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                $sortBy = $_GET['sortBy'];
                                $sortOrder = $_GET['sortOrder'];
                            }
                            if (isset($arrGet)) {
                                unset($arrGet['sortBy']);
                                unset($arrGet['sortOrder']);
                                $listUrl = $this->basePath() . '/admin/seekersrequests?' . http_build_query($arrGet);
                                $listUrl1 = $this->basePath() . '/admin/seekersrequests?' . http_build_query($arrGet);
                            }
                            ?>
                            <form id="listFrm" name="listFrm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                            	<input type="hidden" id="doAction" value="" name="doAction">
                                <div class="table-responsive table-responsive2">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                        <input type="hidden" value="<?php echo $listUrl ?>" name="listUrl">
                                        <tr>
                                            <th style="width:20px;">#</th>
                                            <th> Sender Name </th>
                                            <th> Sender email ID </th>
                                            <th> Seeker Trip ID </th>
                                            <th> Traveler Name </th>
                                            <th> Traveler Email ID</th>
                                            <th> Traveler Trip ID</th>
                                            <th> Origin location </th>
                                            <th> Destination location</th>
                                            <th> Service Type</th>
                                            <th> Actual Fee</th>
                                            <th> Timer</th>
                                            <th> Service Status</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
<?php
if(!empty($paginator)) { // currentPageNumber
    $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
    foreach ($paginator as $request) {
        ?>
                <tr>
                	<td><?php echo $sno ?></td>
                    <td><?php echo $request['seeker_trip_details']['first_name'].' '.$request['seeker_trip_details']['last_name']; ?></td>
                    <td><?php echo $request['seeker_trip_details']['email_address']; ?></td>
                    <td><?php echo $request['seeker_trip_details']['trip_id_number'] ?></td>
                    <td><?php echo $request['trip_details']['first_name'].' '.$request['trip_details']['last_name'] ?></td>
                    <td><?php echo $request['trip_details']['email_address']; ?></td>
                    <td><?php echo $request['trip_details']['trip_id_number']; ?></td>
                    <td><?php echo @current(explode('-',$request['trip_details']['trip_route'])); ?></td>
                    <td><?php echo @end(explode('-',$request['trip_details']['trip_route'])); ?></td>
                    <td><?php echo ucfirst($request['service_type']); ?></td>
                    <td><?php echo $request['trip_details']['total_cost'].' GBP'; ?></td>
                    <td class="re_timer" id="<?php echo $request['trip_details']['trip_id_number']; ?>_trimer" data-enddate="<?= date('m-d-Y H:i:s', strtotime( "+1 day",strtotime($request['modified'])));?>"></td>
                    <td><?php echo $request['status']; ?></td>
                    <td>
                    	<button type="button" disabled="disabled" class="btn btn-primary btn-xs btn-edit" data-toggle="tooltip" title="" data-original-title="Edit"></button>
                        <button type="button" class="btn btn-info btn-xs btn-view" data-toggle="tooltip" title="" onclick="doActionFn('view',<?php echo $request['ID'];?>,'<?php echo strtolower($request['service_type']);?>')" data-original-title="View"></button>
                        <button type="button" disabled="disabled" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="" data-original-title="Delete"></button></td>
                </tr>
        <?php
        $sno++;
   }
} else {
    ?>
        <tr>
            <td colspan="7">No records found.</td>
        </tr>
    <?php
}
?>


                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="new-act-buttons disp_inline_fl">
                            <p><span class="w-select">With Selected</span>
                                <button  onclick="doActionFn('enable', 'all');" title="Enable" class="btn btn-warning btn-xs btn-enable" type="button">Enable</button>
                                <button onclick="doActionFn('disable', 'all');" title="Disable" class="btn btn-warning btn-xs btn-disable" type="button">Disable</button>
                                <button onclick="doActionFn('delete', 'all');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                            </p>
                        </div>
                        <div class="disp_dropdown">

                            <p></p>
                        </div>
                    </div>

                    <div class="form-group col-md-12 text-right">
                        <div class="new-pagnav">
                            <?php
                            echo $this->paginationControl(
                                    $this->paginator, 'sliding', 'layout/paginator.phtml'
                            );
                            ?>
                        </div>
                    </div>
                </div>
                <div id="showActionErr"></div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
$(document).ready(function(e) {
        $('.re_timer').each(function(index, element) {
            changeRemainingTime($(this).attr('id'),$(this).attr('data-enddate'));
        });
    });
	function changeRemainingTime(id, endtime) {
        
		var clock 	= document.getElementById(id);
		var nows 	= '<?php echo date('m/d/Y H:i:s');?>';
		var entime	= endtime.replace(/-/g, "/");

        if((Date.parse(entime) - Date.parse(nows) <= 86400000) && (Date.parse(entime) - Date.parse(nows) > 0)) {
			var currTime = 0;
            var timeinterval = setInterval(function () {
                currTime 	= currTime-1000;
		  		var starttime 	= Date.parse(nows)-currTime;
                var t = getTimeRemaining(entime,starttime);

                if (t.days > 0) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.days + ' day(s) ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.days == 0 && t.hours > 0 && t.hours == 1) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.hours + ' hour ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.days == 0 && t.hours > 0 && t.hours !== 1) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i>  ' + t.hours + ' hours ' +
                        ' ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.hours == 0 && t.minutes > 0) {
                    clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.minutes + ' minute(s) ' +
                        ' ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                else if (t.minutes == 0 && t.seconds > 0) {
                    clock.innerHTML = '<a href="javascript:;"><b> <i class="fa fa-clock-o" style="font-size:20px;"></i> ' + t.seconds + ' second(s) remaining. </b></a>';
                }
                /*clock.innerHTML = ' <a href="javascript:;"><b> <i class="fa fa-clock-o"></i> ' + t.days + ' days ' +
                 ' '+ t.hours + ' hours ' +
                 ' ' + t.minutes + ' minutes ' +
                 ' ' + t.seconds+' seconds remaining. </b></a>';*/
                if (t.days == 0 && t.hours == 0 && t.minutes == 0 && t.seconds == 1) {
                    clearInterval(timeinterval);
                }
            }, 1000);
        } else {
			clock.innerHTML = '-';
		}
    }
    function getTimeRemaining(endtime,starttime) {
        var t = Date.parse(endtime) - starttime;
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }
</script>
<script type="text/javascript">
    function doActionFn(action, id, type) {
        if (action == 'view') {
            window.location = '/admin/seekersrequests-info?action=' + action + '&id=' + id + '&type='+ type;
        }
	}
</script>