<?php
$comSessObj   = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus   = $this->common()->adminMenus;
if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($adminRow) && !empty($adminRow)) {
    extract($adminRow);
}

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="<?php echo $this->basePath() . '/public/ad_assests/js/jquery.geocomplete.min.js'; ?>"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $(document).on('change', "#changeUserPassword", function () {
          if ($(this).is(':checked') == true) {
             $('.changePass').show();
          } else {
             $('.changePass').hide();
          }
       });
    });


    $(document).ready(function(){
        var hash = window.location.hash.substr(1);
        console.log('hash'+hash);
        if(hash != ''){
            if(hash == 'locations'){
                $(' a[href="#locations"]').trigger('click');
            }
        }
        
    });
  
    function checkUncheckAll(booVal) {
       $('.accessModule').each(function () {
          $(this).prop('checked', booVal);
       });
    }
    function validateAccountForm() {
        clrErr();
        $errStaus = false;
        var action = '<?php echo $action ?>';
        var passValidation = true;
        if (action == 'edit') {
            passValidation = false;
            if ($('#changeUserPassword').length && $('#changeUserPassword').is(':checked')) {
                passValidation = true;
            }
        }
        if (validateFormFields('name', 'Please enter the name.', ''))
            $errStaus = true;
        if (validateFormFields('username', 'Please enter the username.', 'validUsername'))
            $errStaus = true;
        if (validateFormFields('email', 'Please enter the E-mail.', 'validEmail'))
            $errStaus = true;

        if (passValidation) {
            if (validateFormFields('password', 'Please enter the password.', ''))
                $errStaus = true;
            if (validateFormFields('password2', 'Please enter confirm  password.', ''))
                $errStaus = true;
        }
        if (($('#password').val() != "" && $('#password2').val() != "") && ($('#password').val() != $('#password2').val())) {
          setMsg('password2', 'Password mismatching! Please try again.');
            $errStaus = true;
        }
        if (validateFormFields('type', 'Please select the account type.', ''))
             $errStaus = true;
        if (validateFormFields('accessPrivilege', 'Please select atleast one privilege.', 'checkbox'))
             $errStaus = true;
        if (validateFormFields('accessModule', 'Please select atleast one module.', 'checkbox'))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
</script>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Trip Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/seekers"> Seekers Service List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Trip Details</li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">Ã—</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
            <?php if ($action == 'add') { ?>
                <div class="row">

                </div>
            <?php } else { ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Service Info</h3>
                        </div>
                        <div class="inner-tab">
                            <ul class="nav nav-tabs nav-tabs-new">
                                <li id="tripDetails_tab" class="active"><a data-toggle="tab" href="#tripDetails">Trip Details</a></li>
                                <li id="locations_tab"><a data-toggle="tab" href="#locations">Origin Location Address</a></li>
                                <li id="service_tab"><a  href="<?php echo $this->basePath(); ?>/admin/seekerservicermanager?action=view&id=<?php echo $adminRow['ID']?>">Services</a></li>
								<li id="price_tab"><a href="<?php echo $this->basePath(); ?>/admin/seekerservicermanager?action=view&id=<?php echo $adminRow['ID']?>#price">Prices</a></li>
								<li id="received_request_tab"><a href="<?php echo $this->basePath(); ?>/admin/seekerservicermanager?action=view&id=<?php echo $adminRow['ID']?>#received_request">Received Request</a></li>
								<li id="sent_request_tab"><a href="<?php echo $this->basePath(); ?>/admin/seekerservicermanager?action=view&id=<?php echo $adminRow['ID']?>#sent_request">Sent Request</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="tripDetails" class="tab-pane fade active in ">
                                <div class="col-xs-12">
                                    <div class="page-header text-left">
                                        <h3>Trip Info</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">First Name</label>
                                            <p><?php echo $email_address = (isset($adminRow['first_name']) && $adminRow['first_name'] != '') ? $adminRow['first_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Last Name</label>
                                            <p><?php echo (isset($adminRow['last_name']) && $adminRow['last_name'] != '') ? $adminRow['last_name'] : '--'; ?></p>
                                        </div>
                                  	
										<div class="form-group col-md-4">
                                            <label class="control-label">User</label>
                                            <p><?php echo $email_address = (isset($adminRow['email_address']) && $adminRow['email_address'] != '') ? $adminRow['email_address'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Trip ID Number</label>
                                            <p><?php echo (isset($adminRow['trip_id_number']) && $adminRow['trip_id_number'] != '') ? $adminRow['trip_id_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Origin Location</label>
                                            <p><?php echo $adminRow['origin_location_code'] . ' - '.$adminRow['origin_location_city'].' - ' . $adminRow['origin_location_country'].' - '. $adminRow['origin_location_name']; ?></p>
                                        </div>
										
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Destination Location</label>
                                            <p><?php echo $adminRow['destination_location_code'] . ' - ' .$adminRow['destination_location_city'] . ' - ' . $adminRow['destination_location_country'].' - ' . $adminRow['destination_location_name']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Departure Date</label>
                                            <p><?php echo (isset($adminRow['departure_date']) && $adminRow['departure_date'] != '') ? $adminRow['departure_date'] : '--'; ?></p>
                                        </div>
                                        <!--<div class="form-group col-md-4">
                                            <label class="control-label">No Of Stops</label>
                                            <p><?php echo (isset($adminRow['noofstops']) && $adminRow['noofstops'] != '') ? $adminRow['noofstops'] : '--'; ?></p>
                                        </div>-->
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket Type</label>
                                            <p><?php echo (isset($adminRow['ticket_number']) && $adminRow['ticket_number'] != '') ? $adminRow['ticket_number'] : '--'; ?></p>
                                        </div>
										<p>
                                         <!--airlines details  start -->                                           
                                <?php                                               
                                   if($adminRow['travel_plan_reservation_type'] =='1'){ 
                                       
                                       
                                   ?>                                           
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Airline Details</label>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
													    <th>Sno</th>
                                                        <th>Flight</th>
                                                        <th>Airline</th>
                                                        <th>Dept</th>
                                                        <th>Arr</th>
                                                        <th>Dept Dt</th>
                                                        <th>Arr Dt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <?php if(isset($adminRow['airport_details']) && !empty($adminRow['airport_details'])){
                                                    $fNo = 1;
                                                    foreach($adminRow['airport_details'] as $flightRow){
													$fligtData = $flightRow['carrier'] . '@@' . $flightRow['number'] . '@@' . $flightRow['departure'] . '@@' . $flightRow['arrival'] . '@@' . $flightRow['departure_date'] . '@@' . $flightRow['arrival_date'] . '@@' . $flightRow['airline_name'] . '@@' . $flightRow['airline_number']; 	
                                                ?>
												
												<!-- New Code    -------------->

											<table>
											   <tr>
												  <td>
													 <div style="border: 0px solid blue;width:850px;background-color:#f9f5f4">
														<a id="myHeader1-2" href="javascript:showonlyonev2('newboxes1-2');" >
														<?php echo  $fNo;?>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
														<?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:''?> - <?php echo isset($flightRow['airline_number'])?$flightRow['airline_number']:''?>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
														<?php echo isset($flightRow['departure'])?$flightRow['departure']:''?>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
														<?php echo isset($flightRow['arrival'])?$flightRow['arrival']:''?>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
														<?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:''?>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
														<?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
														<?php if($adminRow['service'] == 'Package' || $adminRow['service'] == 'Product'){ ?>
														    <strong> - </strong>
														<?php } else { ?>
														    <a class="btn" data-popup-open="popup-1" href="#"><strong>Check Status</strong></a>
														<?php } ?>


												<div class="popup" data-popup="popup-1">
												<div class="popup-inner">
												<div class="head-wrap">
												<h4  class="tab-heading">Flight Status </h4>
												</div><br>
												<p>

												<div class="form-group col-sm-4">
												<label class="control-label">Status</label> <br>  <?php echo isset($adminRow['booking_status'])?$adminRow['booking_status']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Origin Airport</label> <br>  <?php echo isset($flightRow['departure'])?$flightRow['departure']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Destination Airport</label> <br>  <?php echo isset($flightRow['arrival'])?$flightRow['arrival']:'N/A'?>
												</div><br>
												<div class="form-group col-sm-4">
												<label class="control-label">Flight Name & Number</label> <br>  <?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Scheduled Departure Date & Time</label> <br>  <?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Scheduled Arrival Date & Time</label> -  <?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:'N/A'?>
												</div><br>
												<div class="form-group col-sm-4">
												<label class="control-label">Actual Departure Date & Time</label> <br>  <?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Actual Arrival Date & Time</label> <br>  <?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Estmated Departure Date</label> <br>  <?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:'N/A'?>
												</div><br>
												<div class="form-group col-sm-4">
												<label class="control-label">Estmated Arrival Date</label> <br>  <?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Departure Terminal</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Arrival Terminal</label> -  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
												</div><br>
												<div class="form-group col-sm-4">
												<label class="control-label">Route</label> <br>  From : <?php echo isset($adminRow['origin_location_city'])?$adminRow['origin_location_city']:''?> To :<?php echo isset($adminRow['destination_location_city'])?$adminRow['destination_location_city']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Speed</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<label class="control-label">Altitude</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
												</div><br>
												<div class="form-group col-sm-4">
												<label class="control-label">Distance</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
												</div>
												<div class="form-group col-sm-4">
												<p><a id="mapPopUp" href="#flight-position" class="address_pop_up_add popup-map btn btn-green" data-effect="mfp-zoom-out" onclick="@846@@CGK@@SIN@@2017-11-19 19:30:00@@2017-11-19 21:05:00@@Garuda Indonesia@@GA846');"> <i class="fa fa-plus-circle"></i>Track Sky Map</a>
												</p>
												</div>
												</p>
												<a class="popup-close" data-popup-close="popup-1" href="#">x</a>
												</div>
												</div>
												</div>
														</a>
													 </div>

<?php if($adminRow['service'] != 'Package' && $adminRow['service'] != 'Product'){ ?>
    <div class="newboxes-2" id="newboxes1-2" style="border: 1px solid black; background-color: #f9f5f4;width:850px;height:400px;">

        <div class="form-group col-sm-4">
            <label class="control-label">Status </label> <br>
            <?php echo isset($adminRow['booking_status'])?$adminRow['booking_status']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Origin Airport</label> <br>  <?php echo isset($flightRow['departure'])?$flightRow['departure']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Destination Airport</label> <br>  <?php echo isset($flightRow['arrival'])?$flightRow['arrival']:'N/A'?>
        </div><br>
        <div class="form-group col-sm-4">
        <label class="control-label">Flight Name & Number</label> <br>  <?php echo isset($flightRow['airline_name'])?$flightRow['airline_name']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Scheduled Departure Date & Time</label> <br>  <?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Scheduled Arrival Date & Time</label> -  <?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:'N/A'?>
        </div><br>
        <div class="form-group col-sm-4">
        <label class="control-label">Actual Departure Date & Time</label> <br>  <?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Actual Arrival Date & Time</label> <br>  <?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Estmated Departure Date</label> <br>  <?php echo isset($flightRow['departure_date'])?$flightRow['departure_date']:'N/A'?>
        </div><br>
        <div class="form-group col-sm-4">
        <label class="control-label">Estmated Arrival Date</label> <br>  <?php echo isset($flightRow['arrival_date'])?$flightRow['arrival_date']:''?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Departure Terminal</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Arrival Terminal</label> -  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
        </div><br>
        <div class="form-group col-sm-4">
        <label class="control-label">Route</label> <br>  From : <?php echo isset($adminRow['origin_location_city'])?$adminRow['origin_location_city']:''?> To :<?php echo isset($adminRow['destination_location_city'])?$adminRow['destination_location_city']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Speed</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Altitude</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
        </div><br>
        <div class="form-group col-sm-4">
        <label class="control-label">Distance</label> <br>  <?php echo isset($flightRow[''])?$flightRow['']:'N/A'?>
        </div>
        <div class="form-group col-sm-4">
            <p>
                <a id="mapPopUp"  class="address_pop_up_add popup-map btn btn-green" data-effect="mfp-zoom-out" onclick="trackFlightPosition('<?php echo $adminRow['ID']; ?>');">
                    <i class="fa fa-plus-circle"></i>Track Sky Map
                </a>
            </p>
        </div>

    </div>

<?php } ?>

												  </td>
												  </tr>
											</table>	  
													
													
												
                                                
											   
                                                <?php
                                                        $fNo++;
                                                    }
                                                }
                                                ?>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                   <?php } ?>
                                   <!-- airlined details end -->
                                    
                                    
                                    
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Cabin</label>
                                        <p><?php echo (isset($adminRow['cabin']) && $adminRow['cabin'] != '') ? $adminRow['cabin'] : '--'; ?></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Booking Status</label>
                                        <p><?php echo (isset($adminRow['booking_status']) && $adminRow['booking_status'] != '') ? $adminRow['booking_status'] : '--'; ?></p>
                                    </div>
									
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Ticket Type</label>
                                        <p><?php echo (isset($adminRow['ticket_type']) && $adminRow['ticket_type'] != '') ? $adminRow['ticket_type'] : 'Email'; ?></p>
                                    </div>
                                    
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Ticket Image</label>
                                        <p>
                                      <?php echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/tickets/'.$adminRow['ticket_image'].'" alt="" title="" width="55" height="50">'; ?>
                                        </p>
                                    
                                    
                                    </div>
									
                                </div>
                                <?php if(isset($adminRow['travel_plan_reservation_type']) && $adminRow['travel_plan_reservation_type'] == '1'){ ?>
                                    <div class="page-header text-left">
                                        <h3>Reservation Details</h3>
                                    </div>
                                    <div class="page-header text-left">
                                        <h4>Who is your travel agent?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Name</label>
                                            <p><?php echo (isset($adminRow['travel_agency_name']) && $adminRow['travel_agency_name'] != '') ? $adminRow['travel_agency_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency URL</label>
                                            <p><?php echo (isset($adminRow['travel_agency_url']) && $adminRow['travel_agency_url'] != '') ? $adminRow['travel_agency_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Confirmation #</label>
                                            <p><?php echo (isset($adminRow['travel_agency_confirmation']) && $adminRow['travel_agency_confirmation'] != '') ? $adminRow['travel_agency_confirmation'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Contact Name</label>
                                            <p><?php echo (isset($adminRow['travel_agency_contact_name']) && $adminRow['travel_agency_contact_name'] != '') ? $adminRow['travel_agency_contact_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Travel Agency Phone</label>
                                            <p><?php echo (isset($adminRow['travel_agency_phone']) && $adminRow['travel_agency_phone'] != '') ? $adminRow['travel_agency_phone'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Agency Email</label>
                                            <p><?php echo (isset($adminRow['agency_email']) && $adminRow['agency_email'] != '') ? $adminRow['agency_email'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>How can you contact the supplier?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Name</label>
                                            <p><?php echo (isset($adminRow['supplier_name']) && $adminRow['supplier_name'] != '') ? $adminRow['supplier_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier URL</label>
                                            <p><?php echo (isset($adminRow['supplier_url']) && $adminRow['supplier_url'] != '') ? $adminRow['supplier_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Contact</label>
                                            <p><?php echo (isset($adminRow['supplier_contact']) && $adminRow['supplier_contact'] != '') ? $adminRow['supplier_contact'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Phone</label>
                                            <p><?php echo (isset($adminRow['supplier_phone']) && $adminRow['supplier_phone'] != '') ? $adminRow['supplier_phone'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Supplier Email</label>
                                            <p><?php echo (isset($adminRow['supplier_email']) && $adminRow['supplier_email'] != '') ? $adminRow['supplier_email'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>Where did you reserve it?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site Name</label>
                                            <p><?php echo (isset($adminRow['booking_site_name']) && $adminRow['booking_site_name'] != '') ? $adminRow['booking_site_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site URL</label>
                                            <p><?php echo (isset($adminRow['booking_site_url']) && $adminRow['booking_site_url'] != '') ? $adminRow['booking_site_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site Phone</label>
                                            <p><?php echo (isset($adminRow['booking_site_phone']) && $adminRow['booking_site_phone'] != '') ? $adminRow['booking_site_phone'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Site Email</label>
                                            <p><?php echo (isset($adminRow['booking_site_email']) && $adminRow['booking_site_email'] != '') ? $adminRow['booking_site_email'] : '--'; ?></p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>What are the booking details?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Date</label>
                                            <p><?php echo (isset($adminRow['booking_date']) && $adminRow['booking_date'] != '') ? $adminRow['booking_date'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Reference #</label>
                                            <p><?php echo (isset($adminRow['booking_site_url']) && $adminRow['booking_site_url'] != '') ? $adminRow['booking_site_url'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Reservation is Purchased</label>
                                            <p>
                                                <?php if(isset($adminRow['reservation_is_purchased']) && $adminRow['reservation_is_purchased'] != ''){
                                                    echo ($adminRow['reservation_is_purchased'] != '1')?'Yes':'No';
                                                }
                                                else{
                                                    echo '--';
                                                } ?>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="page-header text-left">
                                        <h4>What did you pay?</h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Total Cost</label>
                                            <p><?php echo (isset($adminRow['total_cost']) && $adminRow['total_cost'] != '') ? $adminRow['total_cost'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Total Cost Currency</label>
                                            <p><?php echo (isset($adminRow['total_cost_currency']) && $adminRow['total_cost_currency'] != '') ? $adminRow['total_cost_currency'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Comments/Restrictions</label>
                                            <p><?php echo (isset($adminRow['comments_restrictions']) && $adminRow['comments_restrictions'] != '') ? $adminRow['comments_restrictions'] : '--'; ?></p>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                        <div id="locations" class="tab-pane fade row ">
                            <div class="col-xs-12">
                                <div class="page-header text-left">
                                    <h3>Location Address Info</h3>
                                </div>
                                <?php
                                    $latitude = isset($adminRow['trip_location']['latitude']) && $adminRow['trip_location']['latitude'] ? $adminRow['trip_location']['latitude'] : '';
                                    $longitude = isset($adminRow['trip_location']['longitude']) && $adminRow['trip_location']['longitude'] ? $adminRow['trip_location']['longitude'] : '';
                                ?>
                         <form enctype="multipart/form-data" id="edit_trip" name="edit_address" accept-charset="utf-8" 
                          method="post" action="<?php echo $_SERVER['REQUEST_URI'] ?>" >        
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="row">
                                           <!-- <div class="form-group col-md-6">
                                                <label class="control-label">Address Type</label>
                                                <p><?php echo $name = (isset($adminRow['trip_location']['name']) && $adminRow['trip_location']['name'] != '') ? $adminRow['trip_location']['name'] : '--'; ?></p>
                                            </div>
                                           -->
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 1</label>
                                                
                                                
                                                   <input type="text" class="form-control required" placeholder="street_address_1"
                                                       id="street_address_1"
                                                       value="<?php echo $adminRow['trip_location']['street_address_1'];?>"
                                                       name="street_address_1">
                                               <!-- <p><?php echo $street_address_1 = (isset($adminRow['trip_location']['street_address_1']) && $adminRow['trip_location']['street_address_1'] != '') ? $adminRow['trip_location']['street_address_1'] : '--'; ?></p>-->
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Street Address 2</label>
                                                
                                                 <input type="text" class="form-control required" placeholder="street_address_2"
                                                       id="street_address_2"
                                                       value="<?php echo $adminRow['trip_location']['street_address_2'];?>"
                                                       name="street_address_2">
                                               <!-- <p><?php echo $street_address_2 = (isset($adminRow['trip_location']['street_address_2']) && $adminRow['trip_location']['street_address_2'] != '') ? $adminRow['trip_location']['street_address_2'] : '--'; ?></p>-->
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">City</label>
                                                 <input type="text" class="form-control required" placeholder="city"
                                                       id="street_address_1"
                                                       value="<?php echo $adminRow['trip_location']['city'];?>"
                                                       name="city">
                                                <!--<p><?php echo $city = (isset($adminRow['trip_location']['city']) && $adminRow['trip_location']['city'] != '') ? $adminRow['trip_location']['city'] : '--'; ?></p> -->
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">State</label>
                                                 <input type="text" class="form-control required" placeholder="state"
                                                       id="state"
                                                       value="<?php echo $adminRow['trip_location']['state'];?>"
                                                       name="state">
                                                <!--<p><?php echo $state = (isset($adminRow['trip_location']['state']) && $adminRow['trip_location']['state'] != '') ? $adminRow['trip_location']['state'] : '--'; ?></p> -->
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Zip Code</label>
                                                 <input type="text" class="form-control required" placeholder="zip_code"
                                                       id="zip_code"
                                                       value="<?php echo $adminRow['trip_location']['zip_code'];?>"
                                                       name="zip_code">
                                               <!-- <p><?php echo $zip_code = (isset($adminRow['trip_location']['zip_code']) && $adminRow['trip_location']['zip_code'] != '') ? $adminRow['trip_location']['zip_code'] : '--'; ?></p> -->
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Country</label>
                                                <input type="text" class="form-control required" placeholder="country"
                                                       id="country"
                                                       value="<?php echo $adminRow['trip_location']['country'];?>"
                                                       name="country">
                                                <!--<p><?php echo $country = (isset($adminRow['trip_location']['country']) && $adminRow['trip_location']['country'] != '') ? $adminRow['trip_location']['country'] : '--'; ?></p> -->
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                           
                                            <div class="form-group col-md-6">
                                                <label class="control-label">&nbsp;</label>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" id="edit_addres" value="true"
                                                        type="submit" name="edit_addres">Submit
                                                </button>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="map1" style="width:300px; height:200px">
                                            <div id="map_canvas" style="width:100%; height:150%"></div>

                                        </div>
                                    </div>
                                </div>
                         </form>				
								
                            </div>
                        </div>
                            
                        <div id="service" class="tab-pane fade row ">
                            <div class="col-xs-12">
                            <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                <div class="page-header text-left">
                                    <h3>People Services</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Contact Name </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['contact_name']) && $adminRow['trip_people']['contact_name'] != '') ? $adminRow['trip_people']['contact_name'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Contact Number </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['contact_number']) && $adminRow['trip_people']['contact_number'] != '') ? $adminRow['trip_people']['contact_number'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Email Address </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['email_address']) && $adminRow['trip_people']['email_address'] != '') ? $adminRow['trip_people']['email_address'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="control-label">Member's Comments </label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['comment']) && $adminRow['trip_people']['comment'] != '') ? $adminRow['trip_people']['comment'] : '--'; ?>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Number of passenger(s)</label>
                                        <p>
                                            <?php echo (isset($adminRow['trip_people']['passengers']) && $adminRow['trip_people']['passengers'] != '') ? $adminRow['trip_people']['passengers'] : '--'; ?>
                                        </p>
                                    </div>
                                    <?php
                                        if (isset($adminRow['trip_people_passangers']) && !empty($adminRow['trip_people_passangers'])) {
                                            $pNo = 1;
                                            foreach ($adminRow['trip_people_passangers'] as $passaRow) {
                                    ?>
                                    <div class="form-group col-md-12">
                                        <label class="control-label"><u>Details of passenger <?php echo $pNo; ?></u></label>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">First Name </label>
                                        <p>
                                            <?php echo (isset($passaRow['first_name']) && $passaRow['first_name'] != '') ? $passaRow['first_name'] : '--'; ?>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label class="control-label">Last Name </label>
                                        <p>
                                            <?php echo (isset($passaRow['last_name']) && $passaRow['last_name'] != '') ? $passaRow['last_name'] : '--'; ?>
                                        </p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Gender </label>
                                        <p>
                                            <?php echo (isset($passaRow['gender']) && $passaRow['gender'] != '') ? $GENDER_TYPE[$passaRow['gender']] : '--'; ?>
                                        </p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Age </label>
                                        <p>
                                            <?php echo (isset($passaRow['age']) && $passaRow['age'] != '') ? $passaRow['age'] : '--'; ?>
                                        </p>
                                    </div>
									
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Attachments </label>
                                        <p>
                                            <?php echo ($passaRow['attachmentDetails'] != false && count($passaRow['attachmentDetails']) > 0)?count($passaRow['attachmentDetails']):0; ?>
                                        </p>
                                        <?php if($passaRow['attachmentDetails']){ ?>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No.</th>
                                                    <th>File name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($passaRow['attachmentDetails'] as $key => $attachment){ 
												?>
                                                
												
												<tr>
                                                    <td><?php echo ($key+1); ?></td>
                                                    <td><?php echo $attachment['seeker_attachment_name']; ?></td>
                                                    <td><a href="<?php echo $this->basePath().'/admin/download/seeker_people_attachment/'.$attachment['seeker_attachment_name'] ?>" ><?php echo 'Click here to downloand'; ?></a></td>
                                                </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                        <?php } else {
                                           echo '<p>No attachments found</p>';
                                        } ?>
                                    </div>
                                    <?php
                                                $pNo++;
                                            }
                                        }
                                    ?>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
 </div>
</div>


            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div id="flight_map_canvas" style="height: 345px; ">
						
						
									hjmhkhk	<span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span>

						</div>
                    </div>
                </div>
            </div>


<script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
<script type="text/javascript">


function trackFlightPosition(id) {

        $('#flight_loading').show();
        $.ajax({
            url: baseurl + '/seeker/trackflightpoistion',
            type: 'POST',
            data: 'viewid=' + id,
            cache: false,
            success: function(response) { 	
                $('#flight_loading').hide();
                var json = $.parseJSON(response); /* edit pop up*/
                var myLatlng = new google.maps.LatLng(json.latitude, json.longitude);
                var myOptions = {
                    zoom: 8,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("flight_map_canvas"), myOptions);
                var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: ''
                });
                google.maps.event.addListenerOnce(map, 'idle', function () {
                    google.maps.event.trigger(map, 'resize');
                    map.setCenter(marker.getPosition());
                });
                if (json.triggerpopup == 1) {
                    $.magnificPopup.open({
                        items: {
                            src: '#flight-position'
                        },
                        type: 'inline'
                    }, 0);
                }
            }
        });
    }


$('.multi-select').multiselect();
    $(document).ready(function(){
        $("#userSelect").tokenInput("<?php echo $this->basePath().'/admin/ajax/getUsers'; ?>", {
            theme: "facebook",
            tokenLimit: 1,
            <?php if(isset($userPrePop)){ ?>
            prePopulate: <?php echo $userPrePop; ?>
            <?php } ?>
        });
    });
    $(function(){
        <?php if($action != 'view'){ ?>
        $("#street_address_1").geocomplete({
            map: ".map_canvas",
            details: "#geoAddrForm",
            detailsAttribute: "data-geo",       
            types: ["geocode", "establishment"],
            markerOptions: {
                draggable: true
            },
            <?php if($action == 'edit'){ 
                echo 'location: ['.$latitude.','.$longitude.']';
				
            } ?> 
        });
        $("#street_address_1").bind("geocode:dragged", function(event, latLng){
            $('#latitude').val(latLng.lat());
            $('#longitude').val(latLng.lng());
            var map = $("#street_address_1").geocomplete("map");
            map.panTo(latLng);
            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({'latLng': latLng }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#street_address_1').val(results[0].address_components[1].long_name); 
                        $('#street_address_2').val(results[0].address_components[2].long_name); 
                        $('#city').val(results[0].address_components[4].long_name);
                        $('#state').val(results[0].address_components[6].long_name); 
                        $('#zip_code').val(results[0].address_components[8].long_name); 
                        $('#country').val(results[0].address_components[7].long_name);
                        $('#country').val(results[0].address_components[7].sho_name);
                    }
                }
            });
        });
        <?php } ?>
    });
    <?php if($action == 'view' || $action == 'edit'){ ?>
    function viewMapInit() {
        var map1;
        var geocoder;
        var centerChangedLast;
        var reverseGeocodedLast;
        var currentReverseGeocodeResponse;
        var latlng_in;
         
        <?php if ($latitude && $longitude) { ?>
            latlng_in = new google.maps.LatLng(<?php echo $latitude . ',' . $longitude; ?>);
        <?php } ?>
        
        var myOptions1 = {
           zoom: 16,
           center: latlng_in,
           mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map1 = new google.maps.Map(document.getElementById("map_canvas"), myOptions1);
        var marker1 = new google.maps.Marker({
           position: latlng_in,
           map: map1,
           title: "<?php echo $name . ',' . $street_address_1 . ',' . $street_address_2 . ',' . $city . ',' . $state . ',' . $zip_code . ',' . $country; ?>"
        });
        geocoder = new google.maps.Geocoder();
    }
    google.maps.event.addDomListener(window, "load", viewMapInit);
	<?php } ?>
	
	
	
	
	
$(function() {
    //----- OPEN
    $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
 
        e.preventDefault();
    });
 
    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
 
        e.preventDefault();
    });
});	
	
	
</script>



<script type="text/javascript">

function showonlyonev2(thechosenone) {
      var newboxes = document.getElementsByTagName("div");
      for(var x=0; x<newboxes.length; x++) {
            name = newboxes[x].getAttribute("class");
            if (name == 'newboxes-2') {
                  if (newboxes[x].id == thechosenone) {
                        if (newboxes[x].style.display == 'block') {
                              newboxes[x].style.display = 'none';
                        }
                        else {
                              newboxes[x].style.display = 'block';
                        }
                  }else {
                        newboxes[x].style.display = 'none';
                  }
            }
			
      }
}

/*  New Code ---------------- */

	function readURLs(input,velu,id) {
	var val = velu.toLowerCase();
	var regex = new RegExp("(.*?)\.(pdf)$");
	if(!(regex.test(val))) {	
	if (input.files && input.files[0]) {
	var reader = new FileReader();
	reader.onload = function (e) {
	$('#'+id).css({'display':'block'});
	$('#the-canvas').css({'display':'none'});
	$('#delete_upload').css({'display':'block'});
	$('#'+id).attr('src',e.target.result);
	}
	reader.readAsDataURL(input.files[0]);
	}
	}else{
	$('#'+id).css({'display':'none'});
	$('#the-canvas').css({'display':'block'});
	$('#delete_upload').css({'display':'block'});
	PDFJS.disableWorker = true;
	var pdf = document.getElementById('ticket_image');
	fileReader = new FileReader();
	fileReader.onload = function(ev) {
	console.log(ev);
	PDFJS.getDocument(fileReader.result).then(function getPdfHelloWorld(pdf) {
	console.log(pdf)
	pdf.getPage(1).then(function getPageHelloWorld(page) {
	var scale = 1.5;
	var viewport = page.getViewport(scale);
	var canvas = document.getElementById('the-canvas');
	var context = canvas.getContext('2d');
	canvas.height = viewport.height;
	canvas.width = viewport.width;
	var task = page.render({canvasContext: context, viewport: viewport})
	task.promise.then(function(){
	console.log(canvas.toDataURL('image/jpeg'));
	});
	});
	}, function(error){
	console.log(error);
	});
	};
	fileReader.readAsArrayBuffer(input.files[0]);
	}
	}




</script>




<style>
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:850px;
    width:90%;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

			.accordion
			{
				max-width: 300px;
				margin: 5px auto;
			}
			

</style>
