<?php
$comSessObj   = $this->common()->comSessObj;
$adminModules = $this->common()->adminModules;
$adminMenus   = $this->common()->adminMenus;

$seekerTripDetails = $data['seeker_trip_details'];
$tripDetails = $data['trip_details'];

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
?>
<style type="text/css">
.map_canvas { 
    width: 380px; 
    height: 700px; 
    margin: 10px 20px 10px 0;
}

#multiple li { 
    cursor: pointer; 
    text-decoration: underline; 
}
</style>
<div id="wrapper">
    <?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Request Details <small><?php echo isset($action) ? ucfirst($action) : 'Add' ?></small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li>Trips</li>
                            <li><a href="<?php echo $this->basePath(); ?>/admin/seekersrequests"> Seekers Request List </a></li>
                            <li class="active"><?php echo isset($action) ? ucfirst($action) : 'Add' ?> Request Details</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                <?php foreach ($flashMessages as $msg) {
                    foreach ($msg as $type => $message) { ?>
                    <div class="col-xs-12 msg_div">
                        <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                <span aria-hidden="true">x</span></button>
                            <?php echo $message; ?>
                        </div>
                    </div>
                <?php }
                } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header text-left">
                            <h3>Service Info</h3>
                        </div>
                        <div class="inner-tab">
                            <ul class="nav nav-tabs nav-tabs-new">
                                <li id="tripDetails_tab" class="active"><a data-toggle="tab" href="#tripDetails">Trip Details</a></li>
                                <li id="priceDetails_tab"><a data-toggle="tab" href="#priceDetails">Service Fee</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                        	<div id="priceDetails" class="tab-pane">
                            	<div class="col-xs-12">
                                    <div class="page-header text-left">
                                        <h3>Fee details</h3>
                                    </div>
                                    <?php if (isset($adminRow['trip_people']) && !empty($adminRow['trip_people'])) { ?>
                                        <div class="row">
                                            <div class="form-group col-md-8">
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                No of Stops: <?php echo $adminRow['noofstops']; ?> = <?php echo $adminRow['stopsPrice']; ?> GBP <br>
                                                Distance (with no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                Sub Total (Country from - to + No of Stops + Distance): (<?php echo $adminRow['countryPrice'].' + '.$adminRow['stopsPrice'].' + '.$adminRow['distancePrice']; ?>) = <?php echo $adminRow['sub_total']; ?> GBP <br>
                                                No of Passengers: <?php echo $adminRow['passengerCount']; ?> <br>
                                                Total (Sub Total * No of Passengers): <?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['passengerCount']; ?> = <?php echo $adminRow['service_fees']; ?> GBP <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['service_fees']; ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo $adminRow['total_cost']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                        <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo $adminRow['total_cost']; ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        </span>

                                            </div>

                                        </div>
                                    <?php } ?>

                                    <?php if (isset($adminRow['trip_package']) && !empty($adminRow['trip_package'])) {  ?>
                                        <div class="row">
                                            <div class="form-group col-md-11">
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                No of Items: <?php echo $adminRow['trip_package']['packages']; ?> <br><br>

                                                <?php
                                                $i = 1;
                                                foreach($adminRow['trip_package_packages'] as $items){ ?>
                                                    <b>Item : <?php echo $i; ?></b><br>
                                                    Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['item_category_price']['tot_item_price']; ?> GBP<br>
                                                    Weight: <?php echo $items['weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                    Worth of Item: <?php echo $items['item_worth']; ?> <?php echo $items['item_worth_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']; ?> GBP<br>
                                                    Sub Total of Item <?php echo $i; ?> :
                                                    (Country from - to + Distance + Item Category * Item Weight + Item Price):
                                                    (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                    <?php
                                                    $i++;
                                                }
                                                ?>

                                                Total (
                                                <?php
                                                $j = 1;
                                                foreach($adminRow['trip_package_packages'] as $items){
                                                    if($j > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    Sub Total of Item <?php echo $j; ?>
                                                    <?php
                                                    $j++;
                                                }
                                                ?>
                                                ): (
                                                <?php
                                                $k = 1;
                                                foreach($adminRow['trip_package_packages'] as $items){
                                                    if($k > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    <?php echo $items['item_sub_total']; ?>
                                                    <?php
                                                    $k++;
                                                }
                                                ?>
                                                ) = <?php echo $adminRow['sub_total']; ?> GBP

                                                <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo $adminRow['total_cost']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>

                                        <span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo $adminRow['total_cost']; ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        </span>

                                            </div>

                                            <!--<div class="form-group col-md-6">
                                            <label class="control-label">Estimated Service Fee For Seeker</label>
                                            <p style="font-size:36px;font-weight:bold;">&#xa3; <?php /*echo (isset($adminRow['trip_package']['package_service_fee'])) ? $adminRow['trip_package']['package_service_fee'] : '--'; */?></p>
                                        </div>-->

                                        </div>
                                    <?php } ?>

                                    <?php if (isset($adminRow['trip_project']) && !empty($adminRow['trip_project'])) {  ?>
                                        <div class="row">
                                            <div class="form-group col-md-11">
                                                Country from - to: <?php echo '('.$adminRow['origin_location_code'].') '.$adminRow['origin_location_city'].', '.$adminRow['origin_location_country'].' to'.'('.$adminRow['destination_location_code'].') '.$adminRow['destination_location_city'].', '.$adminRow['destination_location_country'].' = '.$adminRow['countryPrice']; ?> GBP <br>
                                                Distance (without no of stops from Flightstats API): <?php echo $adminRow['distance']; ?> = <?php echo $adminRow['distancePrice']; ?> GBP <br>
                                                No of Items: <?php echo $adminRow['trip_package']['packages']; ?> <br><br>

                                                <?php
                                                $i = 1;
                                                foreach($adminRow['trip_project_tasks'] as $items){ ?>
                                                    <b>Item : <?php echo $i; ?></b><br>
                                                    Item category: <?php echo $items['catname']; ?> -> <?php echo $items['subcatname']; ?> = <?php echo $items['price'].' '.$items['price_currency']; ?><br>
                                                    Weight: <?php echo $items['item_weight']; ?>kg = <?php echo $items['item_weight_price']['weight_carried_price']; ?> GBP<br>
                                                    Worth of Item: <?php echo $items['price']; ?> <?php echo $items['price_currency']; ?> = <?php echo $items['item_price_price']['price_item_price']; ?> GBP<br>
                                                    Sub Total of Item <?php echo $i; ?> :
                                                    (Country from - to + Distance + Item Category * Item Weight + Item Price + Item original price + 5% of original product price):
                                                    (<?php echo $adminRow['countryPrice']; ?> + <?php echo $adminRow['distancePrice']; ?> + <?php echo $items['item_category_price']['tot_item_price']; ?> * <?php echo $items['item_weight_price']['weight_carried_price']; ?> + <?php echo $items['item_price_price']['price_item_price']; ?> + <?php echo $items['price'];?> + <?php echo (($items['price']/10)*5);?>) = <?php echo $items['item_sub_total']; ?> GBP <br><br>
                                                    <?php
                                                    $i++;
                                                }
                                                ?>

                                                Total (
                                                <?php
                                                $j = 1;
                                                foreach($adminRow['trip_project_tasks'] as $items){
                                                    if($j > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    Sub Total of Item <?php echo $j; ?>
                                                    <?php
                                                    $j++;
                                                }
                                                ?>
                                                ): (
                                                <?php
                                                $k = 1;
                                                foreach($adminRow['trip_project_tasks'] as $items){
                                                    if($k > 1){
                                                        echo '+';
                                                    }
                                                    ?>
                                                    <?php echo $items['item_sub_total']; ?>
                                                    <?php
                                                    $k++;
                                                }
                                                ?>
                                                ) = <?php echo $adminRow['sub_total']; ?> GBP

                                                <br>
                                                Currency Conversion: GBP to <?php echo $adminRow['total_cost_currency']; ?> (<?php echo $adminRow['sub_total']; ?> * <?php echo $adminRow['conversion_rate']; ?>) = <?php echo $adminRow['total_cost']; ?> <?php echo $adminRow['total_cost_currency']; ?> <br>
                                        		<span class="price_tag_span" style="font-size:36px;font-weight:bold;">
                                                    <p class="price_tag_symbol" style=""><strong>Total</strong></p>
                                                    <i class="price_tag_price" id="span_people_service_fee"><?php echo $adminRow['total_cost']; ?></i>
                                                    <p class="price_tag_price_code"><?php echo $adminRow['total_cost_currency']; ?></p>
                                        		</span>
                                            </div>
                                        </div>
                                        <!--<div class="page-header text-left">
                                            <h3>Product Service Fee</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Estimated Service Fee For Seeker</label> $comSessObj->currencycode
                                                <p style="font-size:36px;font-weight:bold;">&#xa3; <?php echo (isset($adminRow['trip_project']['project_service_fee'])) ? $adminRow['trip_project']['project_service_fee'] : '--'; ?></p>
                                            </div>

                                        </div>-->
                                    <?php } ?>
                                </div>
                            </div>
                            <div id="tripDetails" class="tab-pane fade active in ">
                                <div class="col-xs-12">
                                    <div class="page-header text-left">
                                        <h3>Traveler Trip Info</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">First Name</label>
                                            <p><?php echo $email_address = (isset($tripDetails['first_name']) && $tripDetails['first_name'] != '') ? $tripDetails['first_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Last Name</label>
                                            <p><?php echo (isset($tripDetails['last_name']) && $tripDetails['last_name'] != '') ? $tripDetails['last_name'] : '--'; ?></p>
                                        </div>
                                  	
										<div class="form-group col-md-4">
                                            <label class="control-label">User</label>
                                            <p><?php echo $email_address = (isset($tripDetails['email_address']) && $tripDetails['email_address'] != '') ? $tripDetails['email_address'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Trip ID Number</label>
                                            <p><?php echo (isset($tripDetails['trip_id_number']) && $tripDetails['trip_id_number'] != '') ? $tripDetails['trip_id_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Origin Location</label>
                                            <p><?php echo $tripDetails['origin_location']['code'] . ' - '.$tripDetails['origin_location']['city'].' - ' . $tripDetails['origin_location']['country'].' - '. $tripDetails['origin_location']['name']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Destination Location</label>
                                            <p><?php echo $tripDetails['destination_location']['code'] . ' - ' .$tripDetails['destination_location']['city'] . ' - ' . $tripDetails['destination_location']['country'].' - ' . $tripDetails['destination_location']['name']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Departure Date</label>
                                            <p><?php echo (isset($tripDetails['departure_date']) && $tripDetails['departure_date'] != '') ? $tripDetails['departure_date'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket Type</label>
                                            <p><?php echo (isset($tripDetails['ticket_number']) && $tripDetails['ticket_number'] != '') ? $tripDetails['ticket_number'] : '--'; ?></p>
                                        </div>
										<p>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Cabin</label>
                                            <p><?php echo (isset($tripDetails['cabin']) && $tripDetails['cabin'] != '') ? $tripDetails['cabin'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Booking Status</label>
                                            <p><?php echo (isset($tripDetails['booking_status']) && $tripDetails['booking_status'] != '') ? $tripDetails['booking_status'] : '--'; ?></p>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Ticket Type</label>
                                            <p><?php echo (isset($tripDetails['ticket_type']) && $tripDetails['ticket_type'] != '') ? $tripDetails['ticket_type'] : 'Email'; ?></p>
                                        </div>
                                    
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Ticket Image</label>
                                        <p>
                                      <?php echo '<img class="img-responsive" src="'.$this->basePath().'/public/uploads/tickets/'.$tripDetails['ticket_image'].'" alt="" title="" width="55" height="50">'; ?>
                                        </p>
                                    </div>
                                    <div class="form-group col-md-4" style="clear:both">
                                    	<a href="/admin/travellermanager?action=view&id=<?php echo $tripDetails['ID'];?>" target="_blank" class="btn btn-primary">Show more details -></a>
                                    </div>
                                </div>
                            </div>
                            	<div class="col-xs-12">
                                    <div class="page-header text-left">
                                        <h3>Seeker Trip Info</h3>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">First Name</label>
                                            <p><?php echo $email_address = (isset($seekerTripDetails['first_name']) && $seekerTripDetails['first_name'] != '') ? $seekerTripDetails['first_name'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Last Name</label>
                                            <p><?php echo (isset($seekerTripDetails['last_name']) && $seekerTripDetails['last_name'] != '') ? $seekerTripDetails['last_name'] : '--'; ?></p>
                                        </div>
                                  	
										<div class="form-group col-md-4">
                                            <label class="control-label">User</label>
                                            <p><?php echo $email_address = (isset($seekerTripDetails['email_address']) && $seekerTripDetails['email_address'] != '') ? $seekerTripDetails['email_address'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Trip ID Number</label>
                                            <p><?php echo (isset($seekerTripDetails['trip_id_number']) && $seekerTripDetails['trip_id_number'] != '') ? $seekerTripDetails['trip_id_number'] : '--'; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Origin Location</label>
                                            <p><?php echo $seekerTripDetails['origin_location']['code'] . ' - '.$seekerTripDetails['origin_location']['city'].' - ' . $seekerTripDetails['origin_location']['country'].' - '. $seekerTripDetails['origin_location']['name']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Destination Location</label>
                                            <p><?php echo $seekerTripDetails['destination_location']['code'] . ' - ' .$seekerTripDetails['destination_location']['city'] . ' - ' . $seekerTripDetails['destination_location']['country'].' - ' . $seekerTripDetails['destination_location']['name']; ?></p>
                                        </div>
                                        <div class="form-group col-md-4" style="clear:both">
                                        	<a href="/admin/seekermanager?action=view&id=<?php echo $seekerTripDetails['ID'];?>" target="_blank" class="btn btn-primary">Show more details -></a>
                                        </div>
                                	</div>
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        	</div>
    	</div>
 	</div>
</div>
<style>
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:850px;
    width:90%;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

			.accordion
			{
				max-width: 300px;
				margin: 5px auto;
			}
			

</style>
