<!-- Misc module dashboard page -->
<div id="wrapper">
    <?php echo $this->render('layout/admin-header.phtml');
        $accessModules = $_SESSION['comSessObj']->ADMIN_MODULES;
        $arrMyAccessModules = explode('|', $accessModules); 
    ?>
    <div id="page-wrapper">
        <div class="wrapper-inner">
            <div  id="messageRow"></div>
            <div class="top-section">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Dashboard <small>Statistics Overview</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                    </ol>
                </div>
            </div>
                </div>
            <!-- /.row -->
            <div id="messageRow">
            <?php  if (!empty($flashMessages)) { ?>   
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) {
                            ?>
                         <div class="col-xs-12 msg_div">
                          <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                         </div>
                     <?php }
                 }
                 ?>
                </div>
            <?php } ?>
            </div>
            <div class="row">
              <?php if($_SESSION['comSessObj']->ADMIN_ACCESS == 1 || (is_array($arrMyAccessModules) && in_array('price_settings',$arrMyAccessModules))) { ?>   
                <div class="col-lg-3 col-md-6 panel-height">
                    <a href="<?php echo $this->basePath() ?>/admin/price_settings/seeker_people_service">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5"> <i class="fa fa-comments fa-5x"></i> </div>
                                    <div class="col-xs-7 text-right">
                                        <!--<p class="announcement-heading">2</p>                
                                        <p class="announcement-text">32</p>-->                
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">Price Settings!</div>
                                    <div class="col-xs-6 text-right"> <i class="fa fa-arrow-circle-right"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <?php } ?>
                <?php if($_SESSION['comSessObj']->ADMIN_ACCESS == 1 || (is_array($arrMyAccessModules) && in_array('masterdata',$arrMyAccessModules))) { ?>   
                <div class="col-lg-3 col-md-6 panel-height">
                        <a href="<?php echo $this->basePath() ?>/admin/masterdata/mailtemplate">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5"> <i class="fa fa-comments fa-5x"></i> </div>
                                    <div class="col-xs-7 text-right">
                                        <!--<p class="announcement-heading">2</p>                
                                        <p class="announcement-text">32</p>-->                
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">Price Settings!</div>
                                    <div class="col-xs-6 text-right"> <i class="fa fa-arrow-circle-right"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>


