<?php
$comSessObj = $this->common()->comSessObj;
$actionUrl = $this->basePath() . '/admin/price_settings/people_service/'.$pageType;
if($pageType == 'country'){
    /*$searchArray = array('CCF.name'=>'From','CCT.name'=>'To','country_price'=>'Price','country_currency'=>'Currency');*/
    $searchArray = array('country_price'=>'Price','country_currency'=>'Currency');
    $searchFromTo = $countriesList;
}else if($pageType == 'distance'){
    $searchArray = array('distance_from'=>'From (Kms)','distance_to'=>'To (Kms)','distance_price'=>'Price','distance_currency'=>'Currency');
    $searchFromTo = range(0,20000,500);
}

$buttonAction = '';
$buttonName = 'Reset';
if (!empty($_GET)) {
    $buttonName = 'Back To List';
    $backUrl = $actionUrl;
    $buttonAction = "window.location.href='" . $backUrl . "'";
}
?>
<script type="text/javascript">
    function doActionFn(action, id, formId) {
        if (action == 'edit' || action == 'view') {
            /*window.location = '<!?php echo $this->basePath() . '/admin/seekermanager'; ?>?action=' + action + '&id=' + id;*/
        } else {
            $('#doAction').val(action);
            if (id != 'all' && $('#checked_' + id).length) {
                $('.checkedAll').prop('checked', false);
                $('#checked_' + id).prop('checked', true);
            }
            /*else if(id == 'all'){
                $('.checkedAll').prop('checked', true);
            }*/
            var checkBox = false;
            $.each($("input[name='ids[]']:checked"), function () {
                checkBox = true;
            });
            if (checkBox == false) {
                $('#showActionErr').html(' <div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Please select at least one item </div>');
                return false;
            }
            if (action == 'delete') {
                if (confirm("Are you sure you want to delete?")) {
                    $('#'+formId).submit();
                }
            } else {
                $('#'+formId).submit();
            }
        }
    }

</script>
<div id="wrapper">
<?= $this->render('layout/admin-header.phtml') ?>
    <!-- Sidebar -->
    <div id="page-wrapper">
        
        <div class="wrapper-inner">
            <div class="top-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>People service <small>Price Settings</small> </h2>
                        <ol class="breadcrumb">
                            <li><a href="<?php echo $this->basePath(); ?>/admin/dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li class="active">Price Settings</li>
                            <li class="active">People service</li>
                            <li class="active"><?php echo ucfirst($pageType); ?></li> 
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="messageRow">
            <?php if (!empty($flashMessages)) { ?>
                <div class="row">
                    <?php foreach ($flashMessages as $msg) {
                        foreach ($msg as $type => $message) { ?>
                        <div class="col-xs-12 msg_div">
                            <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    <span aria-hidden="true">×</span>
                                </button><?php echo $message; ?>
                            </div>
                        </div>
                    <?php } 
                    } ?>
                </div>
            <?php } ?>
            </div>
            <div class="box-white">
                <?php if($pageType == 'country' || $pageType == 'distance'){ ?>
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="searchbox-wrap">
                            <div class="page-header text-left">
                                <h3>Search</h3>
                            </div>
                            <form enctype="multipart/form-data" method="get" id="searchFrm" name="searchFrm" accept-charset="utf-8" action="<?php echo $actionUrl ?>"> 
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="searchFrom" class="control-label">From</label>
                                        <select id="searchFrom" class="form-control" name="searchFrom">
                                            <option selected="selected" value="">Select</option>
                                            <?php
                                            if (is_array($searchFromTo)) {
                                                foreach ($searchFromTo as $subArr) {
                                                    $searchFrom = (isset($filterData['searchFrom']) && $filterData['searchFrom'] !='')? $filterData['searchFrom'] : '';
                                                    if($pageType == 'country'){ 
                                                        $selected = ($subArr['code'] == $searchFrom) ? 'selected="selected"' : '';
                                                        echo '<option value="'.$subArr['code'].'"'.$selected.'>'.$subArr['name'].'</option>';
                                                    }
                                                    else if($pageType == 'distance'){
                                                        echo (int)$searchFrom;
                                                        $selected = ((int)$subArr === (int)$searchFrom && !empty($searchFrom)) ? 'selected="selected"' : '';
                                                        echo '<option value="'.$subArr.'"'.$selected.'>'.$subArr.'</option>';
                                                    } 
                                                }
                                            }
                                            ?>
                                        </select>              
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="searchTo" class="control-label">To</label>
                                        <select id="searchTo" class="form-control" name="searchTo">
                                            <option selected="selected" value="">Select</option>
                                            <?php
                                            if (is_array($searchFromTo)) {
                                                foreach ($searchFromTo as $subArr) {
                                                    $searchTo = isset($filterData['searchTo']) ? $filterData['searchTo'] : '';
                                                    if($pageType == 'country'){ 
                                                        $selected = ($subArr['code'] == $searchTo) ? 'selected="selected"' : '';
                                                        echo '<option value="'.$subArr['code'].'"'.$selected.'>'.$subArr['name'].'</option>';
                                                    }
                                                    else if($pageType == 'distance'){
                                                        $selected = ((int)$subArr === (int)$searchTo && !empty($searchTo)) ? 'selected="selected"' : '';
                                                        echo '<option value="'.$subArr.'"'.$selected.'>'.$subArr.'</option>';
                                                    } 
                                                }
                                            }
                                            ?>
                                        </select>              
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="searchKey" class="control-label">Search Key</label>
                                        <input type="text" class="form-control required" placeholder="" id="searchKey" value="<?php echo isset($filterData['searchKey']) ? $filterData['searchKey'] : '' ?>" name="searchKey">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="searchBy" class="control-label">Search By</label>
                                        <select id="searchBy" class="form-control" name="searchBy">
                                            <option selected="selected" value="">Select</option>
                                            <?php
                                            if (is_array($searchArray)) {
                                                foreach ($searchArray as $key => $val) {
                                                    $searchBy = isset($filterData['searchBy']) ? $filterData['searchBy'] : '';
                                                    $selected = ($key == $searchBy) ? 'selected="selected"' : '';
                                                    ?>
                                                    <option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </select>              
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" id="myAccountBtn" value="true" type="submit" name="myAccountBtn">Search</button>&nbsp;
                                        <button  class="btn btn-warning" id="resetAgrmtBtn" value="true" type="reset" name="resetAgrmtBtn" onclick="<?php echo $buttonAction ?>"><?php echo $buttonName ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <?php } ?>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="admin-list">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="page-header text-left">
                                        <div class="disp_inline_fl">
                                            <h3>Price settings </h3>
                                        </div>
                                        <div class="disp_dropdown">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-tab">
                                <ul class="nav nav-tabs nav-tabs-new">
                                    <li id="country_tab" class="<?php echo ($pageType == 'country')?'active':'' ?>"><a href="<?php echo $this->basePath(); ?>/admin/price_settings/people_service/country">Country</a></li>
                                    <li id="noofstops_tab" class="<?php echo ($pageType == 'noofstops')?'active':'' ?>"><a href="<?php echo $this->basePath(); ?>/admin/price_settings/people_service/noofstops">No. of Stops</a></li>
                                    <li id="distance_tab" class="<?php echo ($pageType == 'distance')?'active':'' ?>"><a href="<?php echo $this->basePath(); ?>/admin/price_settings/people_service/distance">Distance</a></li>
                                </ul>
                            </div>
                            <?php if($pageType == 'country'){ 
                                $sortBy = 'price_setting_country_id';
                                $sortOrder = 'asc';
                                $arrGet = $_GET;
                                if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                    $sortBy = $_GET['sortBy'];
                                    $sortOrder = $_GET['sortOrder'];
                                }
                                if (isset($arrGet)) {
                                    unset($arrGet['sortBy']);
                                    unset($arrGet['sortOrder']);
                                    $listUrl = $this->basePath() . '/admin/price_settings/people_service/country?' . http_build_query($arrGet);
                                    $listUrl1 = $this->basePath() . '/admin/price_settings/people_service/country?' . http_build_query($arrGet);
                                }
                                ?>
                                <form id="countryForm" name="countryForm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                                    <input type="hidden" name="doAction" id="doAction" value="" />
                                    <input type="hidden" name="pageType" value="country" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
                                                    <a href="<?php echo $this->basePath().'/admin/ajax/downloadCountryPriceSettings?service_type=people'; ?>" class="btn btn-warning"/>Export </a>
                                                    <a href="#uploadCountryPricing" class="add_distance btn btn-success"/>Import </a>
                                                    <a href="#addEditCountry" class="add_country_settings btn btn-primary"/>Add </a>
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-hover tablesorter">
                                                <thead>
                                                <input type="hidden" value="<?php echo isset($listUrl)?$listUrl:''; ?>" name="listUrl">
                                                <tr>
                                                    <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" > </th>
                                                    <th style="width:20px;">#</th>
                                                    <th onclick="doSort('from_country', '<?php echo $listUrl; ?>');" class="doSort-cursor">From <i id="sort_from_country" class="fa <?php if ($sortBy != 'from_country') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('to_country', '<?php echo $listUrl; ?>');" class="doSort-cursor">To <i id="sort_to_country" class="fa <?php if ($sortBy != 'to_country') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('country_price', '<?php echo $listUrl; ?>');" class="doSort-cursor">Price <i id="sort_country_price" class="fa <?php if ($sortBy != 'country_price') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('country_currency', '<?php echo $listUrl; ?>');" class="doSort-cursor">Currency <i id="sort_country_currency" class="fa <?php if ($sortBy != 'country_currency') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th>Action </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    if (!empty($paginator->getTotalItemCount())) { // currentPageNumber
                                                        $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
                                                        foreach ($paginator as $country) {
                                                    ?>
                                                        <tr class="countryRow">
                                                            <td><input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $country['price_settings_country_id'] ?>" value="<?php echo $country['price_settings_country_id'] ?>" name="ids[]"></td>
                                                            <td><?php echo $sno ?></td>
                                                            <td class="country_from" data-code="<?php echo $country['country_from'] ?>"><?php echo ($country['from_country'] != '')?$country['from_country']:'--'; ?></td>
                                                            <td class="country_to" data-code="<?php echo $country['country_to'] ?>"><?php echo ($country['to_country'] != '')?$country['to_country']:'--'; ?></td>
                                                            <td class="country_price"><?php echo $country['country_price'] ?></td>
                                                            <td class="country_currency"><?php echo $country['country_currency'] ?></td>
                                                            <td>
                                                                <?php 
																echo '<button type="button"  class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable" ></button>';
																	 echo '<button type="button"  class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"></button>';
																	echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"></button>';
                                                                    echo '&nbsp;<a href="#addEditCountry" type="button" class="btn btn-primary btn-xs btn-edit add_country_settings" data-toggle="tooltip" data-edit_id="'.$country['price_settings_country_id'].'" title="Edit"></a>';
                                                                    echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\',' . $country['price_settings_country_id'] . ',\'countryForm\');"></button>';
                                                                ?>
                                                            </td>
                                                        </tr>
                                                    <?php
                                                            $sno++;
                                                        }
                                                    } else {
                                                    ?>
                                                        <tr>
                                                            <td colspan="7" class="text-center">No records found.</td>
                                                        </tr>
                                                    <?php
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="new-act-buttons disp_inline_fl">
                                                <p><span class="w-select">With Selected</span>
                                                    <button onclick="doActionFn('delete', 'all','countryForm');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                                                </p>
                                            </div>
                                            <div class="disp_dropdown">

                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 text-right">
                                            <div class="new-pagnav">
                                                <?php
                                                echo $this->paginationControl(
                                                    $this->paginator, 'sliding', 'layout/paginator.phtml',
                                                    array('route' => 'admin_price_settings','additioanlParams'=>'people_service/'.$pageType)
                                                );
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="addEditCountry" class="white-popup mfp-hide">
                                    <div class="head-wrap panel-header">
                                        <h4 class="tab-heading">Add / Edit Country Details </h4>
                                    </div>
                                    <hr>
                                    <form id="addEditCountryForm" name="addEditCountryForm" action="" method="post" role="form" onsubmit="return validateSettingsCountryForm();">
                                        <input type="hidden" name="pageType" value="country" />
                                        <div class="panel-body">
                                            <p id="err_alreadyExistCountrySelected" class="text-danger err_msg"></p>
                                            <input type="hidden" name="editCountrySettingId" id="editCountrySettingId" value="" />
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label for="country_from" class="control-label">Country From</label>
                                                    <select class="form-control" name="country_from" id="country_from" onchange="checkCountrySettingsAlreadyAdded();">
                                                        <option value="">-- Select --</option>
                                                        <?php
                                                        foreach($countriesList as $country){
                                                            echo '<option value="'.$country['code'].'">'.$country['name'].'</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                    <p id="err_country_from" class="text-danger err_msg"></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="country_to" class="control-label">Country To</label>
                                                    <select class="form-control" name="country_to" id="country_to" onchange="checkCountrySettingsAlreadyAdded();">
                                                        <option value="">-- Select --</option>
                                                        <?php
                                                        foreach($countriesList as $country){
                                                            echo '<option value="'.$country['code'].'">'.$country['name'].'</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                    <p id="err_country_to" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-6">
                                                    <label for="country_price" class="control-label">Price</label>
                                                    <input class="form-control amountonly" type="text" id="country_price" name="country_price" />
                                                    <p id="err_country_price" class="text-danger err_msg"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="country_currency" class="control-label">Currency</label>
                                                    <select id="country_currency" name="country_currency" class="form-control">
                                                        <option value="">-- select --</option>
                                                        <?php 
                                                        if($currencyArr){
                                                            foreach($currencyArr as $currency){
                                                                echo '<option value="'.$currency.'">'.$currency.'</option>';
                                                            }
                                                        }
                                                        ?>
                                                    </select>
                                                    <p id="err_country_currency" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
                                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>
                                                    <button class="btn btn-warning" id="addEditDistanceCancel" value="true" type="button" name="cancelBtn">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="uploadCountryPricing" class="white-popup mfp-hide">
                                    <div class="head-wrap panel-header">
                                        <h4 class="tab-heading">Upload country price settings </h4>
                                    </div>
                                    <hr>
                                    <form enctype="multipart/form-data" id="addEditCountryUploadForm" name="addEditCountryUploadForm" action="" method="post" role="form" onsubmit="return validateSettingsUpForm();">
                                        <input type="hidden" name="pageType" value="country" />
                                        <input type="hidden" name="userType" value="seeker" />
                                        <div class="panel-body">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label for="uploadPricingSettings" class="control-label">Upload csv file <span style="color:red;">&nbsp;*</span></label>
                                                    <input type="file" name="uploadPricingSettings" id="uploadPricingSettings" />
                                                    <p id="err_uploadPricingSettings" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
                                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>
                                                    <button class="btn btn-warning" id="addEditCountryUploadCancel" value="true" type="button" name="cancelBtn">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <?php } 
                            else if($pageType == 'noofstops'){ ?>
                                <form id="noofstopsForm" name="noofstopsForm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                                    <input type="hidden" name="doAction" id="doAction" value="" />
                                    <input type="hidden" name="pageType" value="noofstops" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-bordered table-hover tablesorter">
                                                <thead>
                                                <input type="hidden" value="<?php echo isset($listUrl)?$listUrl:''; ?>" name="listUrl">
                                                <tr>
                                                    <th style="width:20px;">#</th>
                                                    <th>Stop Number </th>
                                                    <th>Price </th>
                                                    <th>Currency </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    if (!empty($noOfStopsArr)) { // currentPageNumber
                                                        $sno = 1;
                                                        foreach ($noOfStopsArr as $stop) {
                                                    ?>
                                                        <tr class="stopRow" data-id="<?php echo $stop['price_settings_stops_id'] ?>">
                                                            <td class="text-center"><?php echo $sno ?></td>
                                                            <td class="text-center"><?php echo ucfirst($stop['no_of_stops']) ?></td>
                                                            <td>
                                                                <input class="form-control stopPrices" type="text" name="stopPrices[<?php echo $stop['price_settings_stops_id'] ?>]" id="stopPrice_<?php echo $stop['price_settings_stops_id'] ?>" value="<?php echo $stop['stop_price'] ?>" />
                                                                <p id="err_country_currency" class="text-danger err_msg"></p>
                                                            </td>
                                                            <td>
                                                                <select id="stopPrices_currency_<?php echo $stop['price_settings_stops_id'] ?>" name="stopPrices_currency[<?php echo $stop['price_settings_stops_id'] ?>]" class="form-control">
                                                                    <option value="">-- select --</option>
                                                                    <?php 
                                                                    if($currencyArr){
                                                                        foreach($currencyArr as $currency){
                                                                            $currencySelected = ($stop['stop_price_currency'] == $currency)?'selected="selected"':$currency;
                                                                            echo '<option '.$currencySelected.' value="'.$currency.'">'.$currency.'</option>';
                                                                        }
                                                                    }
                                                                    ?>
                                                                </select>
                                                                <p id="err_stopPrice_currency_<?php echo $stop['price_settings_stops_id'] ?>" class="text-danger err_msg"></p>
                                                            </td>
                                                        </tr>
                                                        <?php
                                                            $sno++;
                                                        }
                                                    }else {
                                                        ?>
                                                        <tr>
                                                            <td colspan="3" class="text-center">No records found.</td>
                                                        </tr>
                                                        <?php
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>&nbsp;<button onclick="window.location.href = document.referrer" class="btn btn-warning" id="resetBtn" value="true" type="reset" name="resetBtn">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            <?php }
                            else if($pageType == 'distance'){ 
                                $sortBy = 'price_setting_distance_id';
                                $sortOrder = 'asc';
                                $arrGet = $_GET;
                                if (isset($_GET['sortBy']) && isset($_GET['sortOrder']) && $_GET['sortBy'] && $_GET['sortOrder']) {
                                    $sortBy = $_GET['sortBy'];
                                    $sortOrder = $_GET['sortOrder'];
                                }
                                if (isset($arrGet)) {
                                    unset($arrGet['sortBy']);
                                    unset($arrGet['sortOrder']);
                                    $listUrl = $this->basePath() . '/admin/price_settings/people_service/distance?' . http_build_query($arrGet);
                                    $listUrl1 = $this->basePath() . '/admin/price_settings/people_service/distance?' . http_build_query($arrGet);
                                }
                                ?>
                                <form id="distanceListForm" name="distanceListForm" accept-charset="utf-8" method="post" action="<?php echo $actionUrl ?>">
                                    <input type="hidden" name="doAction" id="doAction" value="" />
                                    <input type="hidden" name="pageType" value="distance" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
                                                    <a href="<?php echo $this->basePath().'/admin/ajax/downloadDistancePriceSettings?service_type=people'; ?>" class="btn btn-warning"/>Export </a>
                                                    <a href="#uploadDistancePricing" class="add_distance btn btn-success"/>Import </a>
                                                    <a href="#addEditDistance" class="add_distance btn btn-primary"/>Add </a>
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-hover tablesorter">
                                                <thead>
                                                <input type="hidden" value="<?php echo isset($listUrl)?$listUrl:''; ?>" name="listUrl">
                                                <tr>
                                                    <th style="width:10px;"> <input type="checkbox" id="checkedAll" value="" name="checkedAll" > </th>
                                                    <th style="width:20px;">#</th>
                                                    <th onclick="doSort('distance_from', '<?php echo $listUrl; ?>');" class="doSort-cursor">From (Kms) <i id="sort_distance_from" class="fa <?php if ($sortBy != 'distance_from') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('distance_to', '<?php echo $listUrl; ?>');" class="doSort-cursor">To (Kms) <i id="sort_distance_to" class="fa <?php if ($sortBy != 'distance_to') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('distance_price', '<?php echo $listUrl; ?>');" class="doSort-cursor">Price <i id="sort_distance_price" class="fa <?php if ($sortBy != 'distance_price') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th onclick="doSort('distance_currency', '<?php echo $listUrl; ?>');" class="doSort-cursor">Currency <i id="sort_distance_currency" class="fa <?php if ($sortBy != 'distance_currency') echo 'fa-sort';else if ($sortOrder == 'desc') echo 'fa-sort-asc';else echo 'fa-sort-desc'; ?> "></i></th>
                                                    <th>Action </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    if (!empty($paginator->getTotalItemCount())) { // currentPageNumber
                                                        $sno = (($paginator->getCurrentPageNumber() - 1) * $paginator->getItemCountPerPage()) + 1;
                                                        foreach ($paginator as $distance) {
                                                    ?>
                                                        <tr class="distanceRow">
                                                            <td><input type="checkbox" class="checkedAll checkator_source" id="checked_<?php echo $distance['price_settings_distance_id'] ?>" value="<?php echo $distance['price_settings_distance_id'] ?>" name="ids[]"></td>
                                                            <td><?php echo $sno ?></td>
                                                            <td class="distance_from"><?php echo $distance['distance_from'] ?></td>
                                                            <td class="distance_to"><?php echo $distance['distance_to'] ?></td>
                                                            <td class="distance_price"><?php echo $distance['distance_price'] ?></td>
                                                            <td class="distance_currency"><?php echo $distance['distance_currency'] ?></td>
                                                            <td>
                                                                <?php 
																	echo '<button type="button"  class="btn btn-success btn-xs btn-enable" data-toggle="tooltip" title="Enable" ></button>';
																	 echo '<button type="button"  class="btn btn-warning btn-xs btn-disable" data-toggle="tooltip" title="Disable"></button>';
																	echo '&nbsp;<button type="button" class="btn btn-info btn-xs btn-view"  title="View"></button>';
                                                                    echo '&nbsp;<a href="#addEditDistance" type="button" class="btn btn-primary btn-xs btn-edit add_distance" data-toggle="tooltip" data-edit_id="'.$distance['price_settings_distance_id'].'" title="Edit"></a>';
                                                                    echo '&nbsp;<button type="button" class="btn btn-danger btn-xs  btn-delete" data-toggle="tooltip" title="Delete" onClick="doActionFn(\'delete\',' . $distance['price_settings_distance_id'] . ',\'distanceListForm\');"></button>';
                                                                ?>
                                                            </td>
                                                        </tr>
                                                    <?php
                                                            $sno++;
                                                        }
                                                    } else {
                                                    ?>
                                                        <tr>
                                                            <td colspan="7" class="text-center">No records found.</td>
                                                        </tr>
                                                    <?php
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="new-act-buttons disp_inline_fl">
                                                <p><span class="w-select">With Selected</span>
                                                    <button onclick="doActionFn('delete', 'all','distanceListForm');" title="Delete" class="btn btn-danger btn-xs  btn-delete " type="button">Delete</button>
                                                </p>
                                            </div>
                                            <div class="disp_dropdown">

                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 text-right">
                                            <div class="new-pagnav">
                                                <?php
                                                echo $this->paginationControl(
                                                    $this->paginator, 'sliding', 'layout/paginator.phtml',
                                                    array('route' => 'admin_price_settings','additioanlParams'=>'people_service/'.$pageType)
                                                );
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="addEditDistance" class="white-popup mfp-hide">
                                    <div class="head-wrap panel-header">
                                        <h4 class="tab-heading">Add / Edit Distance Details </h4>
                                    </div>
                                    <hr>
                                    <form class="addEditDistanceForm" id="addEditDistanceForm" name="addEditDistanceForm" action="" method="post" role="form" onsubmit="return validateSettingsDistanceForm();">
                                        <input type="hidden" name="pageType" value="distance" />
                                        
                                        <div class="panel-body">
                                            <p id="err_alreadyExistDistanceSelected" class="text-danger err_msg"></p>
                                            <input type="hidden" name="editDistanceId" id="editDistanceId" value="" />
                                            <div class="row form-group">
                                                <?php $numbers = range(0,20000,500); ?>
                                                <div class="col-sm-6">
                                                    <label for="distance_from" class="control-label">Distance From (Kms)</label>
                                                    <select class="form-control" name="distance_from" id="distance_from" onchange="checkDistanceSettingsAlreadyAdded();">
                                                        <option value="">-- Select --</option>
                                                        <?php
                                                        foreach($numbers as $number){
                                                            echo '<option value="'.$number.'">'.$number.'</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                     <p id="err_distance_from" class="text-danger err_msg"></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="distance_to" class="control-label">Distance To (Kms)</label>
                                                    <?php $numbers = range(0,20000,500); ?>
                                                    <select class="form-control" name="distance_to" id="distance_to" onchange="checkDistanceSettingsAlreadyAdded();">
                                                        <option value="">-- Select --</option>
                                                        <?php
                                                        foreach($numbers as $number){
                                                            echo '<option value="'.$number.'">'.$number.'</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                    <p id="err_distance_to" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-6">
                                                    <label for="" class="control-label">Price</label>
                                                    <input class="form-control amountonly" type="text" id="distance_price" name="distance_price" />
                                                    <p id="err_distance_price" class="text-danger err_msg"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="distance_currency" class="control-label">Currency</label>
                                                    <select id="distance_currency" name="distance_currency" class="form-control">
                                                        <option value="">-- select --</option>
                                                        <?php 
                                                        if($currencyArr){
                                                            foreach($currencyArr as $currency){
                                                                echo '<option value="'.$currency.'">'.$currency.'</option>';
                                                            }
                                                        }
                                                        ?>
                                                    </select>
                                                    <p id="err_distance_currency" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
                                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>
                                                    <button class="btn btn-warning" id="addEditDistanceCancel" value="true" type="button" name="cancelBtn">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="uploadDistancePricing" class="white-popup mfp-hide">
                                    <div class="head-wrap panel-header">
                                        <h4 class="tab-heading">Upload distance price settings </h4>
                                    </div>
                                    <hr>
                                    <form enctype="multipart/form-data" id="addEditDistanceUploadForm" name="addEditDistanceUploadForm" action="" method="post" role="form" onsubmit="return validateSettingsUpForm();">
                                        <input type="hidden" name="pageType" value="distance" />
                                        
                                        <div class="panel-body">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label for="uploadPricingSettings" class="control-label">Upload csv file <span style="color:red;">&nbsp;*</span></label>
                                                    <input type="file" name="uploadPricingSettings" id="uploadPricingSettings" />
                                                    <p id="err_uploadPricingSettings" class="text-danger err_msg"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row form-group">
                                                <div class="col-md-12 text-right">
                                                    <button class="btn btn-primary" id="subAdminBtn" value="true" type="submit" name="subAdminBtn">Submit</button>
                                                    <button class="btn btn-warning" id="addEditCountryUploadCancel" value="true" type="button" name="cancelBtn">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <div id="showActionErr"></div>
            </div>
        </div>
    </div>
</div>
<!--link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script-->
<script type="text/javascript">
    $('.add_distance').magnificPopup({
        type:'inline',
        preloader: false,
        modal: true,
        callbacks: {
            beforeOpen: function() {
                clrErr();
                if($(window).width() < 700) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
                var currEl = this.st.el[0];
                $('#editDistanceId').val($(currEl).attr('data-edit_id'));
                var currRow = $(currEl).closest('.distanceRow');
                $('#distance_from').val(currRow.find('.distance_from').text());
                $('#distance_to').val(currRow.find('.distance_to').text());
                $('#distance_price').val(currRow.find('.distance_price').text());
                $('#distance_currency').val(currRow.find('.distance_currency').text());
            }
        }
    });
    $(document).on('click', '#addEditDistanceCancel', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
        $('#editDistanceId').val('');
    });
    
    $('.add_country_settings').magnificPopup({
        type:'inline',
        preloader: false,
        modal: true,
        callbacks: {
            beforeOpen: function() {
                clrErr();
                var currEl = this.st.el[0];
                $('#editCountrySettingId').val($(currEl).attr('data-edit_id'));
                var currRow = $(currEl).closest('.countryRow');
                $('#country_from').val(currRow.find('.country_from').attr('data-code'));
                $('#country_to').val(currRow.find('.country_to').attr('data-code'));
                $('#country_price').val(currRow.find('.country_price').text());
                $('#country_currency').val(currRow.find('.country_currency').text());
            }
        }
    });
    $(document).on('click', '#addEditCountryCancel, #addEditCountryUploadCancel', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
        $('#editCountrySettingId').val('');
    });
    
    function validateSettingsUpForm(){
        clrErr();
        $errStaus = false;
         
        if (validateFormFields('uploadPricingSettings', 'Please upload a file.', ''))
            $errStaus = true;
        if (!file_validate('uploadPricingSettings',['csv'])){
            $('#err_uploadPricingSettings').html('please upload a valid csv file').show();
            $errStaus = true;
        }

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
    
    function validateSettingsCountryForm(){
        clrErr();
        $errStaus = false;
        
        if($('#country_from').val() != '' && $('#country_to').val() != ''){
            $.ajax({
                method: "POST",
                url: "<?php echo $this->basePath().'/admin/ajax/checkCountryPriceAdded'; ?>",
                data: { 
                    country_from: $('#country_from').val(), 
                    country_to: $('#country_to').val(), 
                    user_type:'seeker', 
                    service_type:'people',
                    edit_id: $('#editCountrySettingId').val()
                },
                success:function(data){
                    var resObj = JSON.parse(data);
                    if(resObj.result == 'exist'){
                        $('#err_alreadyExistCountrySelected').text('Already added price for selected countries. Please go for edit.').show();
                        $errStaus = true;
                    }
                }
            });
        }
        
        if (validateFormFields('country_from', 'Please select country from.', ''))
            $errStaus = true;
        if (validateFormFields('country_to', 'Please select country to.', ''))
            $errStaus = true;
        if (validateFormFields('country_price', 'Please enter price.', ''))
            $errStaus = true;
        if (validateFormFields('country_currency', 'Please select currency.', ''))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
    
    function checkCountrySettingsAlreadyAdded(){
        clrErr();
        $('#subAdminBtn').attr('disabled',false);
        if($('#country_from').val() != '' && $('#country_to').val() != ''){
            $.ajax({
                method: "POST",
                url: "<?php echo $this->basePath().'/admin/ajax/checkCountryPriceAdded'; ?>",
                data: { 
                    country_from: $('#country_from').val(), 
                    country_to: $('#country_to').val(), 
                    user_type:'seeker', 
                    service_type:'people',
                    edit_id: $('#editCountrySettingId').val()
                },
                success:function(data){
                    var resObj = JSON.parse(data);
                    if(resObj.result == 'exist'){
                        $('#err_alreadyExistCountrySelected').text('Already added price for selected countries. Please go for edit.').show();
                        $('#subAdminBtn').attr('disabled',true);
                    }
                    else{
                        $('#subAdminBtn').attr('disabled',false);
                    }
                }
            });
        }
    }
    
    function validateSettingsDistanceForm(){
        clrErr();
        $errStaus = false;
        
        if($('#distance_from').val() != '' && $('#distance_to').val() != ''){
            $.ajax({
                method: "POST",
                url: "<?php echo $this->basePath().'/admin/ajax/checkDistancePriceAdded'; ?>",
                data: { 
                    country_from: $('#distance_from').val(), 
                    country_to: $('#distance_to').val(), 
                    user_type:'seeker', 
                    edit_id: $('#editDistanceId').val()
                },
                success:function(data){
                    var resObj = JSON.parse(data);
                    if(resObj.result == 'exist'){
                        $('#err_alreadyExistDistanceSelected').text('Already added price for selected distance. Please go for edit.').show();
                        $errStaus = true;
                    }
                }
            });
        }
        
        if (validateFormFields('distance_from', 'Please select distance from.', 'number'))
            $errStaus = true;
        if (validateFormFields('distance_to', 'Please select distance to.', 'number'))
            $errStaus = true;
        if (validateFormFields('distance_price', 'Please enter price.', ''))
            $errStaus = true;
        if (validateFormFields('distance_currency', 'Please select currency.', ''))
            $errStaus = true;

        if ($errStaus) {
           return false;
        } else {
           return true;
        }
    }
    
    function checkDistanceSettingsAlreadyAdded(){
        clrErr();$('#subAdminBtn').attr('disabled',false);
        if($('#distance_from').val() != '' && $('#distance_to').val() != ''){
            $.ajax({
                method: "POST",
                url: "<?php echo $this->basePath().'/admin/ajax/checkDistancePriceAdded'; ?>",
                data: { 
                    country_from: $('#distance_from').val(), 
                    country_to: $('#distance_to').val(), 
                    user_type:'seeker',
                    edit_id: $('#editDistanceId').val()
                },
                success:function(data){
                    var resObj = JSON.parse(data);
                    if(resObj.result == 'exist'){
                        $('#err_alreadyExistDistanceSelected').text('Already added price for selected distance. Please go for edit.').show();
                        $('#subAdminBtn').attr('disabled',true);
                    }else{
                        $('#subAdminBtn').attr('disabled',false);
                    }
                }
            });
        }
    }
</script>

