
<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- notification -->
            <div class="tab-pane fade in active" id="notification">
                <div class="head-wrap"><h4 class="tab-heading">Notification</h4></div>
                <form class="" method="post" action="">
                    <div class="tab-block-row">
                        <div class="form-group">
                            <h5 class="sub-heading">Mobile Phone</h5>
                            <hr class="title-border">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <p>Receive mobile updates by regular SMS text message.</p>
                                <div class="alert alert-info">
                                    <p class="text-small"><strong>Note:</strong> For more information, text HELP to 247262. To cancel mobile notifications, reply STOP to 247262. Message and Data rates may apply.</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
								<div class="checkbox-stroke checkbox-small ml20">
                                    <label><input class="i-check" name="enbsms" value="1" type="checkbox" <?php
                                        if ($this->actnotif['enable_sms'] == 1) {
                                            echo 'checked="checked"';
                                        }
                                        ?>/>Enable Text Message Notifications</label>
                                </div>


								<div class="form-group"><label>Receive SMS notifications to:</label>
                                                    <input id="phone_code_for_otp" type="hidden"
                                                           value="<?php echo $this->country_detail['phone_code']; ?>"/>

                                                    <div class="unverified_phone" style="display:flex;">
                                                        <div class="btn-group" role="group"
                                                             style="width:135px; margin:0px; padding:0px;float:left;width:100%;">
                                                            <button type="button"
                                                                    class="btn btn-default dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"
                                                                    style="padding:5px 3px 7.1px 3px;margin-top:10px; border-radius:0px;width:100%;line-height:23.5px;"
                                                                    id="country_button">
                                                                <span id="selected_code"><a href="javascript:;"><img
                                                                            src="public/img/flags/32/<?php echo $this->country_detail['code']; ?>.png"
                                                                            width="24"> <?php echo $this->country_detail['name']; ?>
                                                                    </a></span>
                                                                <!--span class="caret" style="float:right;margin-top: 11px;"></span-->
                                                            </button>
                                                            <input type="hidden" name="co_code"
                                                                   value="<?php echo $this->country_detail['code']; ?>"
                                                                   id="my_co_code"/>
                                                            <input type="text" class="form-control"
                                                                   style="display:none;padding:5px 3px 7.1px 3px;margin-top:10px; border-radius:0px;width:100%;line-height:23.5px;"
                                                                   id="search_country"
                                                                   onkeyup="filter(this,'theList')"/>
                                                            <ul class="dropdown-menu" style="top:96%;width:100%;"
                                                                id="theList">

                                                                <li data-id="" id="IDID" class="select_code"><a
                                                                        href="javascript:;">Select Country</a></li>
                                                                <?php foreach ($countries as $cnte) { ?>
                                                                    <li data-id="<?php echo $cnte['phone_code']; ?>"
                                                                        id="ID_<?php echo $cnte['code']; ?>"
                                                                        data-code="<?php echo $cnte['code']; ?>"
                                                                        class="select_code">
                                                                        <a href="javascript:;"><img
                                                                                src="public/img/flags/32/<?php echo $cnte['code']; ?>.png"
                                                                                width="24"> <?php echo $cnte['name']; ?>
                                                                        </a></li>
                                                                <?php } ?>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    											<div class="input-group" style="display:flex;margin-top:9px;">
												<span class="otpcodeclass" id="ep_con_code"><?php echo $this->country_detail['phone_code'];?></span>
												<input type="text" name="mobileno" class="form-control numonly" value="<?= ($this->actnotif['mobile'] != '')?$this->actnotif['mobile']:$this->user_profile['phone']; ?>" />
												</div>
                                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-block-row">
                        <div class="form-group">
                            <h5 class="sub-heading">Notify me when</h5>
                            <hr class="title-border">
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <!--p>Applies to both text messages & Email notifications.</p-->
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="checkbox-stroke checkbox-small ml20 pull-left">
                                    <label><input class="i-check" type="checkbox" value="1" name="rece_another_person"  <?php
                                        if ($this->actnotif['rece_another_person'] == 1) {
                                            echo 'checked="checked"';
                                        }
                                        ?> />I receive a message from another person on Trepr.</label>
                                    <label><input class="i-check" type="checkbox" value="1" name="outstand_p_service"  <?php
                                                  if ($this->actnotif['outstand_p_service'] == 1) {
                                                      echo 'checked="checked"';
                                                  }
                                                  ?> />My outstanding Travel service request is accepted or declined.</label>
                                    <label><input class="i-check" type="checkbox" value="1" name="i_rec_p_serv"  <?php
                                        if ($this->actnotif['i_rec_p_serv'] == 1) {
                                            echo 'checked="checked"';
                                        }
                                                  ?> />I receive a Travel service request.</label>
                                    <label><input class="i-check" type="checkbox" value="1" name="chg_trep_act_listing"  <?php
                                        if ($this->actnotif['chg_trep_act_listing'] == 1) {
                                            echo 'checked="checked"';
                                        }
                                        ?>/>Changes are made to my Trepr account or listing.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-block-row">
                        <div class="form-group">
                            <h5 class="sub-heading">Email Settings</h5>
                            <hr class="title-border">
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <h5>I want to receive:</h5>
                                <p>You can disable these at any time.</p>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="checkbox-stroke checkbox-small ml20 pull-left">
                                    <label><input class="i-check" type="checkbox"  <?php
                                        if ($this->actnotif['ger_prom'] == 1) {
                                            echo 'checked="checked"';
                                        }
                                                  ?> value="1" name="ger_prom" />General promotions, updates, news about Trepr or general promotions for partner campaigns and services, user surveys, inspiration and love from Trepr.</label>
                                    <label><input class="i-check" type="checkbox" value="1" name="reser_rem"  <?php
                                        if ($this->actnotif['reser_rem'] == 1) {
                                            echo 'checked="checked"';
                                        }
                                                  ?> />Reservation and review reminders.</label>
                                </div>
                            </div>
                        </div></div>

                    <div class="row">
                        <div class="col-xs-12 form-group mg-top15">
                            <input type="submit" class="btn btn-primary mg-right5" value="Save">
                            <input type="submit" class="btn btn-black" value="Cancel">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<?php echo $this->render('application/myaccount/include/pop_up'); ?>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlWJke1V2SAp-RnQd4EK7O2J_G9IzgYw&libraries=places&callback=initAutocomplete"
    async defer></script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                //$('#user_'+id).attr('src',e.target.result);
                $('#imagePreview').html('<img src="' + e.target.result + '"></img>');
                $.ajax({
                    type: "POST",
                    url: "https://api.ocr.space/parse/image",
                    dataType: 'json',
                    data: {
                        apikey: "49a24830fd88957",
                        base64Image: e.target.result,
                        language: "eng",
                        isOverlayRequired: true
                    },
                    success: function (res) {
                        console.log(res);
                    }
                });
                // alert(e.target.result);

            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function () {
        $('#photoUploadFormPopUp .mfp-close').click(function () {
            $('#photoUploadFormPopUp #imagePreview img').remove();
        });
        $('#imageupload').change(function () {
            readURL(this);
        });

    });
    $(document).on('click', '#rotp', function () {
        var code = $("#phone_code_for_otp").val();
        var phone = $("#phone").val();
        var phone_number = code + '' + phone;
        $.ajax({
            type: "POST",
            url: "/myprofile/addotpcode",
            data: {phone: phone_number},
            success: function (result) {
                if (result == '1') {
                    //$("#verify-otp-popup").modal('show');
                    //$("#get_otp_for_notification").hide();
                } else {
                    //alert('Try again.');
                }
                //$("#open-verify-otp-popup").click();
            }
        });
    });
    $("#get_otp_for_notification").click(function () {
        var code = $("#phone_code_for_otp").val();
        var phone = $("#phone").val();
        var phone_number = code + '' + phone;
        if (code !== "" && phone === "") {
            $("#phone_verification_error").html('');
            $("#phone_verification_error").html('<div class="alert alert-danger">Enter phone number.</div>');
        } else if (code === "" && phone !== "") {
            $("#phone_verification_error").html('');
            $("#phone_verification_error").html('<div class="alert alert-danger">Select Country Code.</div>');
        } else if (code === "" && phone === "") {
            $("#phone_verification_error").html('');
            $("#phone_verification_error").html('<div class="alert alert-danger">Enter phone number and Select country code.</div>');
        } else {
            $("#phone_verification_error").html('');
            //$("#verify_otp_for_notification").html('Wait Processing...');
            //$("#update_profile_button").attr('disabled','disabled');
            $.ajax({
                type: "POST",
                url: "/myprofile/addotpcode",
                data: {phone: phone_number},
                success: function (result) {
                    if (result == '1') {
                        $("#verify-otp-popup").modal('show');
                        //$("#get_otp_for_notification").hide();
                    } else {
                        alert('Try again.');
                    }
                    //$("#open-verify-otp-popup").click();
                }
            });
        }
    });
    $(document).on('click', "#votp", function (e) {
        e.preventDefault();
        var code = $("#phone_code_for_otp").val();
        var otp = $("#otp").val();
        var phone = $("#phone").val();
        if (otp == "") {
            $('#votp_error').html('Please enter OTP.');
        } else {
            $.ajax({
                type: "POST",
                url: "/myprofile/verifyotpcode",
                data: {otp: otp, phone: code + '' + phone, number: phone},
                success: function (result) {
                    //alert(result);
                    if (result == 1) {
                        $("#verify-otp-popup").modal('hide');
                        $("#phone_verification_error").html('');
                        $("#phone_verification_error").html('<div class="alert alert-success">Phone number verified successfully.</div>');
                    } else {
                        //$("#otpErrorMessage").html('');
                        //$("#otpErrorMessage").html('<div class="alert alert-danger">Invalid OTP. Try again.</div>');
                        $('#votp_error').html('Please enter valid OTP.');
                    }
                }
            });
        }
    });
    $(document).on("click", "#rotp", function () {
        //$("#verify-otp-popup").modal('hide');

    });
    $(document).on("submit", "#updateUserProfile", function (e) {


        e.preventDefault();
        Err = false;
        if ($('#firstname').val() == '') {
            $('#first_nameLabel').show();
            $('#firstname').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#firstname').css({"background-color": "white", "border-color": "#3fb34f"});

        }
        if ($('#lastname').val() == '') {
            $('#last_nameLabel').show();
            $('#lastname').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#lastname').css({"background-color": "white", "border-color": "#3fb34f"});
        }
        /*if ($('#email_address').val() == '') {
         $('#email_addressLabel').show();
         $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
         Err = true;
         } else if ($('#email_address').val() != '' && !validateEmail($('#email_address').val())) {
         $('#email_address1Label').show();
         $('#email_address').css({"background-color":"wheat","border-color":"#ffb400"});
         Err = true;
         }else{
         $('#email_address').css({"background-color":"white","border-color":"#3fb34f"});
         }
         if ($('#password').val() == '' || !validatePassword($('#password').val())) {
         $('#passwordLabelInvalid').show();
         $('#password').css({"background-color":"wheat","border-color":"#ffb400"});
         Err = true;
         }

         else{
         $('#password').css({"background-color":"white","border-color":"#3fb34f"});
         $('#passwordLabelInvalid').css({"background-color":"white","border-color":"#3fb34f"});
         $('#passwordLabelInvalid').hide();
         }*/
        if ($('#brithday').val() == '') {
            $('#dobLabel').show();
            $('#brithday').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        }
        else {

            $('#brithday').css({"background-color": "white", "border-color": "#3fb34f"});
        }


        if ($('#gender').val() == '') {
            $('#genderLabel').show();
            $('#gender').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#gender').css({"background-color": "white", "border-color": "#3fb34f"});
        }
        if ($('#location').val() == '') {
            $('#locationLabel').show();
            $('#location').css({"background-color": "wheat", "border-color": "#ffb400"});
            Err = true;
        } else {
            $('#location').css({"background-color": "white", "border-color": "#3fb34f"});
        }

        if (Err == false) {
            $.ajax({
                type: "POST",
                url: "/myprofile/updateuserprofile",
                data: $("#updateUserProfile").serialize(),
                success: function (res) {
                    if (res == '1') {
                        window.location.href = <?php echo $this->basePath() ?>'/myprofile';
                    } else {
                        $("body").scrollTop(300);
                        $("#phone_verification_error").html('');
                        $("#phone_verification_error").html('<div class="alert alert-danger">Get OTP Code and verify to change number.</div>');
                    }
                }
            });
        }
    });


    $(document).on('blur', '#brithday', function () {

        var dob = $('#brithday').val();
        if (dob !== "" || dob !== undefined) {
            var dates = dob.split("-");
            var d = new Date();
            var userday = dates[0];
            var usermonth = dates[1];
            var useryear = dates[2];
            var curday = d.getDate();
            var curmonth = d.getMonth() + 1;
            var curyear = d.getFullYear();
            var age = curyear - useryear;
            if ((curmonth < usermonth) || ( (curmonth == usermonth) && curday < userday   )) {
                age--;
            }
            if (age < 18) {
                $("#err_brithday").html('Your age should have above 18 to complete signup process!');
                $("#err_brithday").show();
                $("#brithday").val("");
                brithday
            } else {
                $("#err_brithday").html('');
                $("#err_brithday").hide();
            }
        }


    });


    $(".select_code").click(function () {
        $('#country_button').show();
        $('#search_country').hide();
        var dataid = $(this).attr('data-id');
        var code = $(this).attr('data-code');
        var id = $(this).attr('id');
        if (id == 'IDID') {
            $("#phone_code_for_otp,#my_co_code").val('');
            $("#ep_con_code").text('+');
            $("#selected_code").html($("#IDID").html());
        } else {
            $("#phone_code_for_otp").val(dataid);
            $("#ep_con_code").text(dataid);
            $("#my_co_code").val(code);
            $("#selected_code").html($("#ID_" + code).html());
        }
    });


    $(document).on('click', '#add_interest_btn', function () {
        var inter = $('#add_interest').val();
        $("#edit_interests").append(' <a href="javascript:;" class="interest_tag">' + inter + ' &nbsp;<i class="fa fa-times delete_tag" aria-hidden="true"></i></a>');
        $("#interest").val($("#edit_interests").html());
        $('#add_interest').val('');
        $('#add_interest').focus();
    });
    $(document).on('click', '.delete_tag', function () {
        if (confirm('Are you sure to remove Interest?'))
            $(this).parent().remove();
        $("#interest").val($("#edit_interests").html());
    });
    $(document).on('click', '#country_button', function () {
        $(this).hide();
        $('#search_country').show();
        $('#search_country').focus();
    });
    $(document).on('focusout', '#search_country', function () {
        $('#country_button').show();
        $('#search_country').val('');
        $('#search_country').hide();
    });
    $(document).on('focusin', '#search_country', function () {
        $('#theList > li > a').show();
    });
    function initAutocomplete() {
        var options = {
            types: ['(regions)'],
            componentRestrictions: {country: "us"}
        };
        var input = document.getElementById('location');
        var searchBox = new google.maps.places.SearchBox(input, options);
        var markers = [];
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            places.forEach(function (place) {

            });
        });

    }
    function filter(element, what) {
        var value = $(element).val();
        value = value.toLowerCase().replace(/\b[a-z]/g, function (letter) {
            return letter.toUpperCase();
        });
//alert(value);
        if (value == '') {
            $('#' + what + ' > li > a').show();
        }
        else {
            $('#' + what + ' > li > a:not(:contains(' + value + '))').hide();
            $('#' + what + ' > li > a:contains(' + value + ')').show();
        }
    }

</script>
<style>


    .dropdown-menu {
        top: 82%;
    }

    #view_interests .interest_tag i.fa.fa-times.delete_tag {
        display: none;
    }

    a.interest_tag {
        background-color: #4493cb;
        color: #fff;
        padding: 6px;
        border-radius: 5px;
        line-height: 35px;
    }

    .preview #video {
        width: 100% !important;
        height: 240px !important;
    }

    label {
        font-weight: bold !important;
    }
</style>
