<?php echo $this->render('application/myaccount/include/pop_up'); ?>
<style type="text/css">
    .mastercard.cc-card-icon-big {
        background-image: url("../img/payment/mastercard-curved-32px.png");
    }

    .amex.cc-card-icon-big {
        background-image: url("../img/payment/american-express-curved-32px.png");
    }

    .discover.cc-card-icon-big {
        background-image: url("../img/payment/discover-curved-32px.png");
    }

    .maestro.cc-card-icon-big {
        background-image: url("../img/payment/maestro-curved-32px.png");
    }
</style>
<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- payment_method -->
            <div class="tab-pane fade in active" id="payment_method">
    <div class="head-wrap">
        <div class="row">
            <div class="col-sm-3"><h4 class="tab-heading">Payment Method</h4> </div>
            <div class="col-sm-4" style="margin-top:-10px;"><a class="popup-text btn btn-primary" href="#new-card-dialog" data-effect="mfp-zoom-out" onclick="changeCard('Credit Card');"><i class="fa fa-plus-circle card-thumb-new"></i> Add Credit or Debit Card</a>
            </div>
			<div class="col-sm-3" style="margin-top:-10px;"><a class="popup-text btn btn-primary" href="#new-card-dialog" data-effect="mfp-zoom-out"><i class="fa fa-plus-circle card-thumb-new"></i> Add PayPal Account</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
		<!-- Start Delete Confirm POPBOX -->
			<div id="confirm" class="mfp-with-anim mfp-hide mfp-dialog">
				<button class="mfp-close" type="button" title="%title%" id="close_delete_card">×</button>
				<p>Are you sure to delete? </p>
				<button type="button" class="btn btn-success delete_delete_card" id="" onclick="javascript:deletecard(this.id);">YES</button>
				<button type="button" class="btn btn-danger" onclick="closeDeletePopup();">NO</button>
			</div> 
			<!-- End Delete Confirm POPBOX -->
            <div class="mfp-with-anim mfp-hide mfp-dialog big-box" id="edit-card-dialog">
                <div class="head-wrap">
                    <h4 class="tab-heading">Edit Card</h4>
                    <button class="mfp-close" type="button" title="%title%">×</button>
                </div>
                <!--<p>Visa XXXX XXXX XXXX 1234</p>-->
                <form id="form_update_card">
                    <input type="hidden" name="editid" id="editid" value=""/>
                    <div class="clearfix">
                        <div class="form-group form-group-cc-name col-md-6">
                            <label>Card Holder Name</label>
                            <input class="form-control cc-name" value="" name="holder_name" type="text" id="eholder_name" />
                            <p class="text-danger err_msg" id="err_eholder_name"></p>
                        </div>
                        <div class="form-group form-group-cc-number col-md-6">
                            <label>Card Number</label>
                            <input class="form-control cc-number edit-card" placeholder="xxxx xxxx xxxx xxxx" type="text" name="card_number" id="ecard_no" /><span class="cc-card-icon"></span>
                            <p class="text-danger err_msg" id="err_ecard_no"></p>
                            <input type="hidden" name="card_type" id="ecard_type" value="" />
                        </div>
                    </div>
                    <div class="clearfix">
					<div class="form-group form-group-cc-cvc col-md-6">
                            <label>CVV</label>
                            <input class="form-control cc-cvc" placeholder="xxxx" type="text" name="card_cvv" id="ecard_cvv" />
                            <p class="text-danger err_msg" id="err_ecard_cvv"></p>
                        </div>
                        <div class="form-group form-group-cc-date col-md-6">
                            <label>Valid Thru</label>
                            <input class="form-control cc-date" placeholder="mm/yy" type="text" name="card_valid" id="ecard_valid" />
                            <p class="text-danger err_msg" id="err_ecard_valid"></p>
                        </div>
                        <input type="hidden" name="payment_card_type" id="epayment_card_type"/>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-4">
                            <label>Billing Address</label>
                            <input class="form-control" placeholder="Billing Address" value="" type="text" name="card_billing_address" id="ecard_billing_address" />
                            <p class="text-danger err_msg" id="err_ecard_billing_address"></p>
                        </div>
                        <div class="form-group form-group-cc-date col-md-4">
                            <label>Billing Country</label>
                            <select class="form-control" name="card_billing_country" id="ecard_billing_country">
                                <option value="" selected="">-- Select --</option>
                               <?php if (count($this->common()->countries) > 0) {
                                        foreach ($this->common()->countries as $countryArr) {
                                ?>
                                    <option value="<?php echo $countryArr['code']; ?>"><?php echo $countryArr['name']; ?></option>
                                <?php }
                                    }
                                ?>
                            </select>
                            <p class="text-danger err_msg" id="err_ecard_billing_country"></p>
                        </div>
						<div class="form-group col-md-4">
                            <label>Billing Zipcode</label>
                            <input class="form-control" placeholder="Billing Zipcode" value="" type="text" name="card_billing_zipcode" id="ecard_billing_zipcode" />
                            <p class="text-danger err_msg" id="err_ecard_billing_zipcode"></p>
                        </div>
                    </div>
                    
                    <!--div class="checkbox">
                        <label>
                        <input class="i-check" type="checkbox" name="carddef" id="ecarddef" value="1" />Set as primary</label>
                    </div-->
                    <div class="mg-top15">
                        <input class="btn btn-primary mg-right5" type="button" value="Save Card" onclick="javascript:updatecard();" />
                        <!--<li>
                            <button class="btn btn-primary"><i class="fa fa-times"></i> Remove Card</button>
                        </li>-->
                    </div>
                </form>
            </div>
            <div class="mfp-with-anim mfp-hide mfp-dialog big-box" id="new-card-dialog">
                <div class="head-wrap">
                    <h4 class="tab-heading">New Card</h4>
                    <button class="mfp-close" type="button" title="%title%">×</button>
                </div>
                <form id="form_add_card">
                    <div class="clearfix">
                        <div class="form-group form-group-cc-name col-md-6">
                            <label>Card Holder Name</label>
                            <input class="form-control cc-name" value="" name="holder_name" type="text" id="holder_name" />
                            <input class="form-control cc-name" value="" name="holder_last_name" type="hidden" id="holder_last_name" />
                            <p class="text-danger err_msg" id="err_holder_name"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Billing Address</label>
                            <input class="form-control" placeholder="Billing Address" value="" type="text" name="card_billing_address" id="card_billing_address" />
                            <p class="text-danger err_msg" id="err_card_billing_address"></p>
                        </div>
                    </div>
                    <div class="clearfix">
                    	<div class="form-group col-md-12">
                            <div id="card-element"></div>
                            <div id="card-errors" role="alert"></div>
                            <input type="hidden" name="payment_card_type" id="new_payment_card_type" value="">
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group form-group-cc-date col-md-6">
                            <label>Billing Country</label>
                            <select class="form-control" name="card_billing_country" id="card_billing_country">
                                <option value="" selected="selected">-- Select --</option>
                               <?php if (count($this->common()->countries) > 0) {
                                        foreach ($this->common()->countries as $countryArr) {
                                ?>
                                    <option value="<?php echo $countryArr['code']; ?>"><?php echo $countryArr['name']; ?></option>
                                <?php }
                                    }
                                ?>
                            </select>
                            <p class="text-danger err_msg" id="err_card_billing_country"></p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Billing Zipcode</label>
                            <input class="form-control" placeholder="Billing Zipcode" value="" type="text" name="card_billing_zipcode" id="card_billing_zipcode" />
                            <p class="text-danger err_msg" id="err_card_billing_zipcode"></p>
                        </div>
                    </div>
                    <div id="pay_card_info" style="display:none;">
                    </div>
                    <input class="btn btn-primary" type="button" value="Add Card" onclick="javascript:insertcard();" />
                </form>
            </div>
            <div class="row row-wrap">
            <?php
            foreach ($this->listcard as $val) {
                ?>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card-thumb-new card-thumb<?php if ($val['default_card'] == 1) { ?> card-thumb-primary<?php } ?>"><?php if ($val['default_card'] == 1) { ?><span class="card-thumb-primary-label"><a href="javascript:;" rel="tooltip" data-placement="top" title="Remove default card" data-effect="mfp-zoom-out" onclick="addremovedefault('<?php echo $val['ID']; ?>','remove');">Primary Card</a></span><?php }else{ ?>
						<span class="card-thumb-primary-label">
						<a href="javascript:;" rel="tooltip" data-placement="top" title="Add card as default" data-effect="mfp-zoom-out" onclick="addremovedefault('<?php echo $val['ID']; ?>','add');">Add card as default</a>
						</span>
						<?php } ?>
                            <ul class="card-thumb-actions">
								<li><a class="fa fa-times popup-text" href="#confirm" data-effect="mfp-zoom-out" rel="tooltip" data-placement="top" title="remove" onclick="javascript:wantToDelete('<?= $val['ID']; ?>');"></a></li>
                            </ul>
                            <div class="row">
                                <div class="col-md-12">
                                    <small>Card holder name</small>
                                    <p class="uc"><?= $val['holder_name'].' '.$val['holder_last_name']; ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="card-thumb-number"><?= $val['card_no']; ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <small>valid thru</small>
                                    <p class="uc"><?= $val['card_valid']; ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small>card type</small>
                                    <p class="uc"><?= $val['payment_card_type']; ?></p>
                                </div>
                                <?php if($val['card_type'] != ''){ ?>
                                <div class="col-xs-6 text-right">
                                    <img class="" src="<?php echo $this->basePath(); ?>/public/img/payment/<?php echo $val['card_type']; ?>.png" alt="" title="<?php echo $val['card_type']; ?>" />
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>  
                <?php } ?>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<div class="gap"></div>
<?php
/*
function addremovedefault(id,type){
		if(id !==""){
			$.ajax({
				type:'POST',
				url:baseurl + '/myaccount/addremovecardasdefault',
				data:{id:id,type:type},
				success:function(res){
					alert(res);
				}
			});
		}
	}*/
    echo $this->headScript()->appendFile($this->basePath() . '/public/js/dataTables.min.js', 'text/javascript');
    echo $this->headScript()->appendScript("
    $(document).ready(function(){
        $('#issue_details_edit').hide();
        $('#issue_details_new').hide();
    });
	function closeDeletePopup(){
		$('#close_delete_card').click();
	}
	function wantToDelete(id){
		$('.delete_delete_card').attr('id',id);
	}
	function validatePaymentCardDetailsNew(type) {
    type = type || 'new';
    clrErr();
    var noError = true;
    var prefixStr = '';
    if (type == 'new') {
        prefixStr = 'new_';
    } else if (type == 'edit') {
        prefixStr = 'e';
    }
    /*var cardType = $.payment.cardType($('#' + prefixStr + 'card_no').val());
    if (!$.payment.validateCardNumber($('#' + prefixStr + 'card_no').val())) {
        $('#err_' + prefixStr + 'card_no').text('Incorrect card number').show();
        noError = false;
    }
    if (!$.payment.validateCardExpiry($('#' + prefixStr + 'card_valid').payment('cardExpiryVal'))) {
        $('#err_' + prefixStr + 'card_valid').text('Incorrect valid thru').show();
        noError = false;
    }
    if (!$.payment.validateCardCVC($('#' + prefixStr + 'card_cvv').val(), cardType)) {
        $('#err_' + prefixStr + 'card_cvv').text('Incorrect CVC').show();
        noError = false;
    }
    if (cardType == 'maestro') {
        if (!$.payment.validateCardExpiry($('#' + prefixStr + 'issue_date').payment('cardExpiryVal'))) {
            $('#err_' + prefixStr + 'issue_date').text('Incorrect issue date').show();
            noError = false;
        }
    }*/
    if ($('#holder_name').val()==''){
		$('#err_holder_name').show();
		$('#err_holder_name').html('Please enter card holder name.'); 
		noError = false;
		} 
                
    if ($('#card_billing_address').val()==''){
		$('#err_card_billing_address').show();
		$('#err_card_billing_address').html('Please enter billing address.'); 
		noError = false;
		}  
                
    if ($('#card_billing_country').val()==''){
		$('#err_card_billing_country').show();
		$('#err_card_billing_country').html('Please select billing country.'); 
		noError = false;
		}   
                
    if ($('#card_billing_zipcode').val()==''){
		$('#err_card_billing_zipcode').show();
		$('#err_card_billing_zipcode').html('Please enter billing zipcode.'); 
		noError = false;
		}   
                
    if ($('#card_billing_zipcode').val()==''){
		$('#err_card_billing_zipcode').show();
		$('#err_card_billing_zipcode').html('Please enter billing zipcode.'); 
		noError = false;
		} 
    /*if (validateFormFields(prefixStr + 'payment_card_type', 'Please select payment card type.', '')) noError = false;
    if (validateFormFields(prefixStr + 'card_billing_address', 'Please enter billing address.', '')) noError = false;
    if (validateFormFields(prefixStr + 'card_billing_country', 'Please select billing country.', '')) noError = false;
    if (validateFormFields(prefixStr + 'card_billing_zipcode', 'Please enter billing zipcode.', '')) noError = false;
    if (noError == true) {
        $('#' + prefixStr + 'card_type').val(cardType)
    }*/
    return noError;
}
	function changeCard(type){
		$('#new_payment_card_type').val(type);
	}
	function addremovedefault(id,type){
		if(id !==''){
			$.ajax({
				type:'POST',
				url:baseurl + '/myaccount/addremovecardasdefault',
				data:{id:id,type:type},
				success:function(res){
					if(res=='1'){
						window.location.reload();
					}
				}
			});
		}
	}
    function insertcard(){
   // var baseurl = 'http://".$_SERVER['HTTP_HOST']."';
    var baseurl = '". $this->basePath() ."';
   // alert('".$_SERVER['HTTP_HOST']."' + '/myaccount/addcard');
		//alert(validatePaymentCardDetailsNew('new'));
		if(validatePaymentCardDetailsNew('new')){
            $.ajax({
                url: baseurl + '/myaccount/addcard',
                type:'POST',
                data:'dtype=addcard&'+$('#form_add_card').serialize(),
                cache: false,
                success: function(response){
                //alert(response)
                    window.location.reload();
                }
            });
       }
    }
    
    function deletecard(a){
       
            $.ajax({
                url: baseurl + '/myaccount/addcard',
                type:'POST',
                data:'dtype=delete&delid='+a,
                cache: false,
                success: function(response){
                    window.location.reload();
                }
            });
        
         return false;
    }
    
    function editcarddetails(a){
        $.ajax({
            url: baseurl + '/myaccount/addcard',
            type:'POST',
            data:'dtype=view&viewid='+a,
            cache: false,
            success: function(response){
                console.log(response);
                var json = $.parseJSON(response);//alert(json.card_type)
                $('#editid').val(json.ID);
                $('#eholder_name').val(json.holder_name+' '+json.holder_last_name);
                $('#eholder_last_name').val(json.holder_last_name);
                $('#ecard_no').val(json.card_no).addClass('identified').addClass(json.card_type);
                $('#ecard_valid').val(json.card_valid);
                $('#ecard_cvv').val(json.card_cvv);
                $('#ecard_type').val(json.card_type);
                $('#eissue_date').val(json.issue_date);
                $('#eissue_number').val(json.issue_number);
                $('#ecard_billing_address').val(json.card_billing_address);
                $('#ecard_billing_country').val(json.card_billing_country);
                $('#ecard_billing_zipcode').val(json.card_billing_zipcode);
				$('#epayment_card_type').val(json.payment_card_type);
                if(json.card_type == 'maestro'){
                    $('#issue_details_edit').show();
                }
                else{
                    $('#issue_details_edit').hide();
                }
                $('#epayment_card_type').val(json.payment_card_type);
                //window.location.reload();
            }
        }); 
   }
   
    function updatecard(){
        if(validatePaymentCardDetails('edit')){
            $.ajax({
                url: baseurl + '/myaccount/addcard',
                type:'POST',
                data:'dtype=update&'+$('#form_update_card').serialize(),
                cache: false,
                success: function(response){
                    window.location.reload();
                }
            });
        }
    }
	
    $('#ecard_no, #new_card_no').change(function(){
        var cardType = $.payment.cardType($('#'+this.id).val());
        var formType = ($('#'+this.id).hasClass('new-card'))?'new':'edit';
        if(cardType == 'maestro'){
            $('#issue_details_'+formType).show();
        }
        else{
            $('#issue_details_'+formType).hide();
        }
    });
");
?>
<script type="text/javascript">
var userEmailId = '<?php echo $comSessObj->user['email_address'] ?>';
var stripe_public_key = '<?php echo $this->stripeConfig['public_key'];?>';
</script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/public/css/stripe-payment.css" />
<script src="//js.stripe.com/v3/"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/stripe-payment.js"></script>