<?php echo $this->render('application/myaccount/include/pop_up'); ?>
<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- payout_method -->
            <div class="tab-pane fade in active" id="payout_method">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="head-wrap">
                            <h5 class="tab-heading">Payout Method</h5>
                        </div>

                    <div>
                        <p>When you receive a payment for a reservation, we call that payment to you a &ldquo;payout&rdquo;. Our secure payment system supports several payout methods, which can be setup and edited here. Your available payout options and currencies differ by country. <a href="">Visit the Payouts FAQ &raquo;</a></p>											
                        <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="payout_methods">
                            <thead>
                                <tr class="text-truncate">
                                    <th>Method</th>
                                    <th>Country</th>
                                    <th>Currencies</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if($userPayouts){
                                    foreach($userPayouts as $payoutMethod){ ?>
                                    <tr>
                                        <td><?php echo $payoutMethod['payout_method']; ?></td>
                                        <td><?php echo $payoutMethod['country_name']; ?></td>
                                        <td><?php echo $payoutMethod['currencies']; ?></td>
                                        <td>
                                            <button type="button" class="viewPayoutMethodBtn btn btn-primary btn-xs btn-view" data-toggle="tooltip" title="View" data-id="<?php echo $payoutMethod['user_payout_address_id'] ?>">View</button>
                                            <button type="button" class="editPayoutMethodBtn btn btn-success btn-xs btn-edit" data-toggle="tooltip" title="Edit" data-id="<?php echo $payoutMethod['user_payout_address_id'] ?>">Edit</button>
                                            <button type="button" class="deletePayoutMethodBtn btn btn-danger btn-xs btn-delete" data-toggle="tooltip" title="Delete" data-id="<?php echo $payoutMethod['user_payout_address_id'] ?>">Delete</button>
                                        </td>
                                    </tr>
                                <?php }
                                } ?>
                            </tbody>
                            <tfoot>
                                <tr id="add_payout_method_section">
                                    <td colspan="5">
                                        <a id="addPayoutMethodBtn" class="popup-text btn btn-primary">Add Payout Method</a><span class="text-muted">&nbsp;Direct Deposit, PayPal, etc...</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel bg-gray mb0">
                        <div class="panel-heading">
                            <h5 class="mb0">Payout Routing Rules</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Routing rules let you split payouts between methods, or direct payouts for certain properties to different methods.</p>							
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script type="text/javascript">
    function doActionFn(action, id){
        if(action == 'view'){
            
        }
    }
</script>