<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- privacy -->
            <div class="tab-pane fade in active" id="privacy">
                <div class="head-wrap">
                    <h4 class="tab-heading">Privacy</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" >Social Connections</a></h4>
                                </div>
                                <div class="panel-collapse collapse in" id="collapse-1">
                                    <form action="" method="post">
                                        <div class="panel-body">
                                            <p>Social Connecions highlights your Trepe activity, which may include your username, Facebook or Google profile photo, and recent locations you visited to your Facebook or Google friends who are also on Trepr.</p>
                                            <p>If you turn off this feature, you will still be connected to Facebook and Google, but your Trepr activity will not be shared to other Facebook friends on Trepr. Your public Trepr activity (such as short list and public reviews) on the platform will still be shown to other Trepr members.</p>
                                            <p>If you want to disconnect your Facebook or Google account from Trepr, you may uncheck option below.</p>
                                            <div class="checkbox-stroke checkbox-small ml20">
                                                <label><input class="i-check" type="checkbox"  name="social_cont"  value="1"  <?php
                                                    if ($this->actnotif['social_cont'] == 1) {
                                                        echo 'checked="checked"';
                                                    }
                                                ?>/>Share my activity with my Facebook friends that are also on Trepr (recommended)</label>
                                            </div>
                                            <div class="form-group mg-top15">
                                                <input class="btn btn-primary mg-right5" type="submit" value="Save" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse-2" >Your Listings & Profile in Search Engines</a></h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapse-2">
                                    <form action="" method="post">
                                        <div class="panel-body">
                                            <p>Search engines attract lots of traffic to your listing and generate interest and requests for our members.</p>
                                            <p>Perhaps you want to be listed on Trepr but have concerns about your listings and profile being advertised more widely. You can turn off search indexing, preventing search engines such as Google and Bing from displaying your pages in their search results.</p>
                                            <div class="alert alert-info">
                                                <p class="text-small"><strong>Note:</strong> This may reduce your service requests and will take a few days to take effect.</p>
                                            </div>
                                            <div class="checkbox-stroke checkbox-small ml20">
                                                <label><input class="i-check" type="checkbox" name="search_engine" value="1"  <?php
            if ($this->actnotif['search_engine'] == 1) {
            echo 'checked="checked"';
            }
            ?>/>Include my profile and listing in search engines like Google and Bing (recommended)</label>
                                            </div>
                                            <div class="form-group mg-top15">
                                                <input class="btn btn-primary mg-right5" type="submit" value="Save" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
							<!--your personal details start here -->
							<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse-3" >Your Personal Details</a></h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapse-3">
                                    <form action="" method="post">
									
									<input type="hidden" name="personal_details" value="personal_details"/>
							
                                        <div class="panel-body">
                                            <p>Once my travel service request or pre approval request is approved by the other user, then following my personal details can be shown to the user.</p>
                                            <p> </p>
                                            <div class="alert alert-info">
                                                <p class="text-small"><strong>Note:</strong> This may reduce your service requests and will take a few days to take effect.</p>
                                            </div>
                                            <div class="checkbox-stroke checkbox-small ml20">
                                                <label><input class="i-checkz" type="checkbox"  name="personal_phone_number" value="<?php echo $this->actnotif['personal_phone_number'];?>"   <?php
            if ($this->actnotif['personal_phone_number'] == 1) {
            echo 'checked="checked"';
            }
            ?> onclick="$(this).val(this.checked ? 1 : 0)"/> My Phone Number</label>
                                            </div>
											<div class="checkbox-stroke checkbox-small ml20">
                                                <label><input class="i-checkz" type="checkbox" name="personal_email_address" value="<?php echo $this->actnotif['personal_email_address'];?>"  <?php
            if ($this->actnotif['personal_email_address'] == 1) {
            echo 'checked="checked"';
            }
            ?> onclick="$(this).val(this.checked ? 1 : 0)"/> My Email Address</label>
                                            </div>
											<div class="checkbox-stroke checkbox-small ml20">
                                                <label><input class="i-checkz" type="checkbox"  name="personal_physical_address" value="<?php echo $this->actnotif['personal_physical_address'];?>"   <?php
            if ($this->actnotif['personal_physical_address'] == 1) {
            echo 'checked="checked"';
            }
            ?> onclick="$(this).val(this.checked ? 1 : 0)"/> My Physical Address</label>
                                            </div>
                                            <div class="form-group mg-top15">
                                                <input class="btn btn-primary mg-right5" type="submit" value="Save" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
							<!--your personal details end here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>

<script>
$("#give_access_to_see").click(function(){ alert("asd");die;
		var show_phone = $("#show_phone").val();
		var show_email = $("#show_email").val();
		var show_address = $("#show_address").val();
		$.ajax({
			type:"POST",
			url:"<?php echo $this->basePath() ?>/myaccount/extrainn",
			data:{show_phone:show_phone,show_email:show_email,show_address:show_address},
			success:function(res){
				//alert(res);
			}
		});
	});

</script>