<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- security -->
            <div class="tab-pane fade in active" id="security">
                <div class="head-wrap">
                    <h4 class="tab-heading">Security</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel bg-gray">
                        <div class="panel-heading">
                            <h5 class="mb0 mt0">Change Password</h5>
                        </div>
                    </div>
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <?= isset($ermsg)?$ermsg:''; ?>
                            <form  method="post" action="">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="inputEmail" class="control-label">Old Password</label>
                                        <input type="password" class="form-control" name="opass" id="inputEmail" placeholder="Enter old Password">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="inputPassword" class="control-label">New Password</label>
                                        <input type="password"  name="npass" class="form-control" id="inputPassword" placeholder="Enter new Password" onkeyup=""/>
										<p id="err_newpass"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="inputPassword" class="control-label">Confirm Password</label>
                                        <input type="password" name="cpass" class="form-control" id="inputPasswordc" placeholder="Confirm Password">
										<p id="err_matchpass"></p>
                                    </div>

                                    <div class="form-group col-sm-6">

                                        <button type="submit" class="btn btn-primary btn-password">Update Password</button>

                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel bg-gray">
                        <div class="panel-heading">
                            <h5 class="mb0 mt0">Login Notifications</h5>
                        </div>
                    </div>
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <form action="" method="post">
                                <div class="checkbox-stroke checkbox-small ml20">
                                    <label><input class="i-check" type="checkbox" name="login_notif" value="1" <?php
                                    if ($this->actnotif['login_notif'] == 1) {
                                    echo 'checked="checked"';
                                    }
                                    ?>/>Turn on login notifications</label>
                                </div>
                                <p>Login notifications are an extra security feature. When you turn them on, we'll let you know when anyone logs into your Trepr account from a new browser. This helps keep your account safe.</p>
                                <div class="form-group mg-top15">
                                    <input type="submit" class="btn btn-primary" value="Save"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script>
$(document).on('keyup','#inputPassword',function(){
	var len = $(this).val().length;
	$("#err_newpass").html(checkStrength($('#inputPassword').val(),'err_newpass'));
});
$(document).on('keyup','#inputPasswordc',function(){
	var old = $('#inputPassword').val();
	var newe = $(this).val();
	if(old==newe){
		$('#err_matchpass').html('<span style="color:green;">Matched</span>');
	}else{
		$('#err_matchpass').html('<span style="color:red;">Not matched</span>');
	}
});
</script>