<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- setting -->
            <div class="tab-pane fade in active" id="setting">
                <div class="head-wrap">
                    <h4 class="tab-heading">Settings</h4>
                </div>

                <!--div class="panel panel-default">
                    <div class="panel bg-gray">
                        <div class="panel-heading">
                            <h5 class="mb0">Country of Residence</h5>
                        </div>
                    </div>
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Save Country</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div-->

                <div class="panel panel-default">
                    <div class="panel bg-gray mb0">
                        <div class="panel-heading">
                            <h5 class="mb0">Cancel Account</h5>
                        </div>
                    </div>
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <form  action="" method="post" id="cancelAccountForm">                                                                                    
                                <div class="tab-block-row">
                                    
                                    <div class="form-group">
                                        <h6 class="sub-heading">Tell us why you're leaving</h6> 
                                        <hr class="title-border">
                                        <p class="text-danger err_msg" id="err_tell_us"></p>
                                    </div>
                                    <div class="radio radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" name="tell_us" value="1"  <?php
                                            if ($this->cancelacount['tell_us'] == 1 || $this->cancelacount['tell_us'] == 0 || $this->cancelacount['tell_us'] == '') {
                                            echo 'checked="checked"';
                                            }
                                            ?> />I have safety concerns.
                                        </label>
                                    </div>
                                    <div class="radio radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" name="tell_us" value="2"   <?php
                                            if ($this->cancelacount['tell_us'] == 2) {
                                            echo 'checked="checked"';
                                            }
                                            ?>  />I have privacy concerns.
                                        </label>
                                    </div>
                                    <div class="radio radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" name="tell_us" value="3"   <?php
                                            if ($this->cancelacount['tell_us'] == 3) {
                                                echo 'checked="checked"';
                                            }
                                            ?> />I don't find it useful.
                                        </label>
                                    </div>
                                    <div class="radio radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" name="tell_us" value="4"   <?php
                                            if ($this->cancelacount['tell_us'] == 4) {
                                                echo 'checked="checked"';
                                            }
                                            ?> />I don't understand how to use it.
                                        </label>
                                    </div>
                                    <div class="radio radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" name="tell_us" value="5"   <?php
                                            if ($this->cancelacount['tell_us'] == 5) {
                                                echo 'checked="checked"';
                                            }
                                            ?> />It's temporary, I'II be back.
                                        </label>
                                    </div>
                                    <div class="radio radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" name="tell_us" value="6"   <?php
                                            if ($this->cancelacount['tell_us'] == 6) {
                                                echo 'checked="checked"';
                                            }
                                            ?> />Other
                                        </label>
                                    </div>
                                    <div class="gap gap-mini"></div>

                                    <label>Care to tell us more?</label>
                                    <textarea class="form-control" name="tell_us_more" id="tell_us_more"><?php echo $this->cancelacount['tell_us_more']; ?></textarea>
                                    <p class="text-danger err_msg" id="err_tell_us_more"></p>
                                    <div class="gap gap-mini"></div>
                                    <label>Can we contact you for more details?</label>
                                    <div class="radio-inline radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" value="1" name="contact_more"  <?php
                                            if ($this->cancelacount['contact_more'] == 1) {
                                                echo 'checked="checked"';
                                            }
                                            ?> />Yes
                                        </label>
                                    </div>
                                    <div class="radio-inline radio-stroke radio-small">
                                        <label>
                                            <input class="i-radio" type="radio" value="0" name="contact_more"  <?php
                                            if ($this->cancelacount['contact_more'] != 1) {
                                                echo 'checked="checked"';
                                            }
                                            ?> />No
                                        </label>
                                    </div>												
                                </div>
                                <div class="tab-block-row">
                                    <div class="form-group"><h6 class="sub-heading">Alternatives to canceling</h6> <hr class="title-border"></div>
                                    <h6>Adjust my privacy setting</h6>
                                    <p>Turn off search indexing on your listing, preventing search engines such as Google and Bing from displaying your listing in their search results.</p>
                                    <div class="gap gap-mini"></div>
                                    <h6>Change notification preferences</h6>
                                    <p>Are we sending you too much email? Change your notification preferences.</p>
                                    <div class="gap gap-mini"></div>
                                    <h6>Hide my listings</h6>
                                    <p>Remove your listings from being viewed or found in search to stop hosting on Trepr.</p>
                                    <div class="gap gap-mini"></div>
                                </div>
                                <div class="tab-block-row">
                                    <div class="form-group"><h6 class="sub-heading">What's going to happen</h6> <hr class="title-border"></div>
                                    <ul class="list-unstyled" style="list-style-type: disc; padding-left: 15px;">
                                        <li>Your profile and any listings will disappear.</li>
                                        <li>We'll miss you terribly.</li>
                                    </ul>												
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mg-top15">
                                        <input type="button" class="btn btn-primary mg-right5" value="Cancel my account" onClick="confirmCancelAccount();">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script type="text/javascript">
    function confirmCancelAccount(){
        clrErr();$errStatus = false;
        if(!$('[name="tell_us"]').iCheck('update')[0].checked){
            $('#err_tell_us').text('Please tell us why you are leaving.').show();
            $errStatus=false;
        }
        if($errStatus === false){
            confirmDialog('Are you sure you want to cancel this account?', 'Cancel Account', function(){
                $('#cancelAccountForm').submit();
            });
        }
    }
</script>