<div class="row">
    <div class="col-md-3">
        <?php echo $this->render('application/myaccount/include/myaccount_sidebar'); ?>
    </div>
    <div class="col-md-9">
        <?php echo $this->render('layout/flash_message'); ?>
        <div class="tab-content tab-content-new">
            <!-- transaction_history -->
            <div class="tab-pane fade in active" id="transaction_history">
                <h4 class="tab-heading">Transaction History</h4>
                <div class="inner-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#completed-transactions">Completed Transactions</a></li>
                        <li><a data-toggle="tab" href="#future-transactions">Future Transactions</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="completed-transactions" class="tab-pane fade in active">
                        <div class="gap gap-mini"></div>
                        <!--form role="form">
                            <div class="row trans-his">
                                <div class="col-md-3 col-sm-6 form-group">
                                    <label class="form-label">Pay Out</label>
                                    <select class="form-control" id="completed_payout_filter">
                                        <option value="">All pay out</option>
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6 form-group">
                                    <select class="form-control">
                                        <option value="">All listings</option>
                                        <option value="clear and clean">clear and clean</option>
                                        <option value="claer">claer</option>											  
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4 form-group">
                                    <select class="form-control">
                                        <option selected value="1">From: January</option>
                                        <option value="2">From: February</option>
                                        <option value="3">From: March</option>
                                        <option value="4">From: April</option>
                                        <option value="5">From: May</option>
                                        <option value="6">From: June</option>
                                        <option value="7">From: July</option>
                                        <option value="8">From: August</option>
                                        <option value="9">From: September</option>
                                        <option value="10">From: October</option>
                                        <option value="11">From: November</option>
                                        <option value="12">From: December</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4 form-group">
                                    <select class="form-control">
                                        <option value="1">To: January</option>
                                        <option value="2">To: February</option>
                                        <option value="3">To: March</option>
                                        <option value="4">To: April</option>
                                        <option value="5">To: May</option>
                                        <option value="6">To: June</option>
                                        <option value="7">To: July</option>
                                        <option value="8">To: August</option>
                                        <option value="9">To: September</option>
                                        <option value="10">To: October</option>
                                        <option value="11">To: November</option>
                                        <option selected value="12">To: December</option>
                                    </select>
                                </div>
                            </div>
                        </form -->
                        <div class="table-responsive" style="border: 0">
                            <table id="transactionH" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Paid Out</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if($userCompletedTransactions && !empty($userCompletedTransactions)){
                                        foreach ($userCompletedTransactions as $transaction){ ?>
                                            <tr>
                                                <td><?php echo date('d M Y',$transaction['txn_added']); ?></td>
                                                <td><?php echo $transaction['pay_card_type']; ?></td>
                                                <td><?php echo $transaction['txn_amount'].' '.$transaction['txn_curreny']; ?></td>
                                                <td><?php echo $transaction['txn_type']; ?></td>
                                            </tr>
                                    <?php }
                                    } ?>
                                </tbody>
                            </table>
                        </div> 


                    </div>
                    <div id="future-transactions" class="tab-pane fade">
                        <div class="gap gap-mini"></div>
                        <!--form role="form">
                            <div class="row trans-his">
                                <div class="col-md-3 col-sm-6 form-group">
                                    <select class="form-control">
                                            <option value="">All payout methods</option>
                                        <option value="">All payout methods</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6 form-group">
                                    <select class="form-control">
                                        <option value="">All listings</option>
                                        <option value="clear and clean">clear and clean</option>
                                        <option value="claer">claer</option>											  
                                    </select>
                                </div>
                            </div>
                        </form-->
                        <div class="table-responsive" style="border: 0">
                            <table id="futuretransactionH" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Pay To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if($userFutureTransactions && !empty($userFutureTransactions)){
                                        foreach ($userFutureTransactions as $transaction){ ?>
                                            <tr>
                                                <td><?php echo date('d M Y',$transaction['txn_added']); ?></td>
                                                <td><?php echo $transaction['pay_card_type']; ?></td>
                                                <td><?php echo $transaction['txn_amount'].' '.$transaction['txn_curreny']; ?></td>
                                                <td><?php echo $transaction['txn_type']; ?></td>
                                            </tr>
                                    <?php }
                                    } ?>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script type="text/javascript">
    function transactionHistory() {
        $(document).ready(function() {
            var completedTxn = $('#transactionH').DataTable();
            var futureTxn = $('#futuretransactionH').DataTable();
            
            if($('#add-payout-method').length){
                /*$.magnificPopup.open({
                    items: {
                        src: '#add-payout-method'
                    },
                    type: 'inline'
                }, 5000);*/
            }
            if($('#add-payout-set-address').length){
                /*$.magnificPopup.open({
                    items: {
                        src: '#add-payout-set-address'
                    },
                    type: 'inline'
                }, 5000);*/
            }
        });
    }
    transactionHistory();
</script>