<?php $comSessObj = $this->common()->comSessObj;

$GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
$FLIGHT_STATUS = array(
    'A' => 'Active',
    'C' => 'Canceled',
    'D' => 'Diverted',
    'DN' => 'Data source needed',
    'L' => 'Landed',
    'NO' => 'Not Operational',
    'R' => 'Redirected',
    'S' => 'Scheduled',
    'U' => 'Unknown',
);
$FLIGHT_STATUS_CLASSES = array(
    'A' => 'f_active label-success',
    'C' => 'f_canceled label-danger',
    'D' => 'label f_diverted label-primary',
    'DN' => 'label F_data_source_needed label-warning',
    'L' => 'label f_active label-success',
    'NO' => 'label f_not_operational label-warning',
    'R' => 'label f_redirected label-info',
    'S' => 'label f_active label-success',
    'U' => 'label f_unknown label-danger',
);
$DATE_FLEXBILITY = array(
    '1-d' => '1 Day',
    '2-d' => '2 Days',
    '3-d' => '3 Days',
    '1-w' => '1 Week',
    '2-w' => '2 Weeks',
    '3-w' => '3 Weeks',
    '1-m' => '1 Month',
    '2-m' => '2 Months',
    '3-m' => '3 Months',
);

?>

<!DOCTYPE HTML>
<html>
    <head>
        <title>Trepr - Simply Substitute</title>
        <?= $this->render('layout/top.phtml') ?>
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/main.css">
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="<?php echo $this->basePath();?>/public/js/jquery.form.js"></script>
    </head>
    <body class="inner-page-topSpace">
        <div id="wrapper" >
            <div class="overlay"></div>

            <div>
             <?= $this->render('layout/side_menu.phtml') ?>
            </div>
        </div>
        <div class="global-wrap">
            <div class="show-onload">
                <div class="bg-holder">
                    <?= $this->render('layout/header.phtml', array('comSessObj' => $comSessObj, 'dfcountry' => $countries, 'ldcurrency' => $countries)) ?>
               </div></div>

               <div class="user-wrapper id-<?php echo $comSessObj->user['approved_id']; ?>">
                 <div class="traveller-switch-block">
                   <?php //if($this->layout()->hideSwitchUser == true){ ?>
                     <?php echo $this->render('layout/includes/switch_user.phtml'); ?>
                   <?php //} ?>
                 </div>
                 <div class='breadcrumb-block'>
                   <div class="container-fluid">
                       <div class="row less-wide breadcrumb-content">
                         <div class="col-xs-12">
                           <?php echo $this->render('layout/side_menu.phtml', array('comSessObj' => $comSessObj, 'prof' => $this->prof, 'reviews' => $this->reviews)); ?>
                           <?php echo $this->render('layout/includes/breadcrumb.phtml', array('comSessObj' => $comSessObj, 'breadCrumbArr' => $this->layout()->breadCrumbArr)); ?>
                           
                         </div>
                       </div>
                   </div>
                 </div>
                 <div class="user-block">
                   <div class="container-fluid">
                       <div class="row less-wide">
                         <div class="col-sm-12">
                           <div class="content-wrapper">
                             <h2 class="text-center title">Become a Traveller</h2>
                             <div class="content-box">
                               <div class="desp">
                           <!-- become a traveller starts -->
                           <?php if(isset($this->steps) && ($this->steps == 'personal' || empty($this->steps) && $comSessObj->userid == "")){
          					 $validatePass = 0;
                               //$signUpText = 'Save & Continue';
                               $signUpText = 'Continue';
                               if ($comSessObj->userid == ""){
                                   $validatePass = 1;
                                   $signUpText = 'Signup & Continue';
                               }
                               ?>
                                    <div class="row">
                                     <div class="col-md-6">
                           					<form action="<?php echo $_SERVER['REQUEST_URI']?>" method="post"  name="proffsave" id="proffsave"  enctype="multipart/form-data" >
                                               <input type="hidden" name="steps" value="personal">
                                               <div class="form-block">
                                                   <h5 class="sub-heading text-left">Personal Details</h5>
                                                   <hr class="title-border">
                                                       <div class="row">
                                                           <div class="form-group col-sm-12">
                                                               <label class="control-label">E-mail</label>
                                                               <div class="input-group">
                                                                   <span class="input-group-addon group-addon-white"><i class="fa fa-envelope"></i></span>
                                                                   <input class="form-control" name="email" id="email" value="<?php echo $this->prof['email_address']; ?>" type="text" />
                                                               </div>
                                                            <p class="text-danger err_msg" id="err_email" style="display: none;"></p>
                                                           </div>
                                                        <?php if ($comSessObj->userid == ""){ ?>
                                                           <div class="form-group col-sm-12">
                                                               <label class="control-label">Password</label>
                                                               <div class="input-group">
                                                                   <span class="input-group-addon group-addon-white"><i class="fa fa-lock"></i></span>
                                                                   <input class="form-control" id="password" name="password" type="password" />
                                                               </div>
                           									<p id="error_password"></p>
                                                            <p class="text-danger err_msg" id="err_password" style="display: none;"></p>
                                                           </div>
                                                        <?php }?>
                                                       </div>
                                                       <div class="row">
                                                           <div class="form-group col-sm-12">
                                                               <label class="control-label">First Name</label>
                                                               <div class="input-group">
                                                                   <span class="input-group-addon group-addon-white"><i class="fa fa-user"></i></span>

                                                                   <input class="form-control" name="first_name" id="first_name" value="<?php echo $this->prof['first_name']; ?>" type="text" />
                                                               </div>
                                                             <P style="color:red;"></p>
                                                           </div>
                                                           <div class="form-group col-sm-12">
                                                               <label class="control-label">Last Name</label>
                                                               <div class="input-group">
                                                                   <span class="input-group-addon group-addon-white"><i class="fa fa-user"></i></span>
                                                                   <input class="form-control" name="last_name" id="last_name" value="<?php echo $this->prof['last_name']; ?>" type="text" />
                                                               </div>
                                                            <p style="color:red;"></p>
                                                           </div>
                                                       </div>
                                                       <div class="row">
                                                           <!---div class="form-group col-sm-12">
                                                               <label class="control-label">Phone Number</label>
                                                               <div class="input-group">
                                                                   <span class="input-group-addon group-addon-white"> <i class="fa fa-phone"></i></span>

                                                                   <input class="form-control phoneonly" value="<?php //echo $this->prof['phone']; ?>" type="text" name="phone" id="phone" />
                                                               </div>
                                                                <p class="text-danger err_msg" id="err_phone" style="display: none;"></p>
                                                           </div--->
                                                           <div class="form-group col-sm-6">
                                                               <!-- <label class="control-label">Birthday</label>
                                                               <div class="input-group">
                                                                   <span class="input-group-addon group-addon-white">  <i class="fa fa-calendar"></i></span>
                                                                   <input class="date-pick-years form-control" name="dob" id="brithday" type="text" value="<?php echo (isset($this->prof['dob']) && !empty($this->prof['dob']))?date("m/d/Y", ($this->prof['dob'])):''; ?>" />
                                                               </div>
                                                           <p class="text-danger err_msg" id="err_brithday" style="display: none;"></p>
                                                          -->
                                                                <div class="input-group">
                                
                                                                        <span  class="input-group-addon group-addon-white">  <i class="fa fa-calendar"></i></span>
                                                                            <input type="text" placeholder="Birth Date" class="form-control dob" id="dob"
                                                                                name="dob" value="" autocomplete="off" onkeyup="keyupTask(this.id);"
                                                                                onblur="outField(this.id);"></div>
                                                                        <label id="dobLabel" style="display: none;color: #d93900 !important;">Select your
                                                                            birth date to continue.</label>

                                                                        <label id="dobLabelage" style="display: none;color: #d93900 !important;"></label>

                                                                        <p class="text-danger err_msg" id="err_dob"></p>
                                                                        <label id="dobUnderLabel" style="display: none;color: #d93900 !important;"></label>
                                                                </div>
                                                          </div>
                                                       <div class="row"--->
                                                           <!-- <div class="form-group col-sm-6">
                                                           <label class="control-label">Gender</label>
                           								<div class="input-group">
                                                                <label class="radio-inline">Male</label>
                                                                <input name="gender" id="gender_male" value="male" type="radio" <?php echo (isset($this->prof['gender']) && $this->prof['gender'] == 'male') ? 'checked' : ''; ?><?php if($this->prof['gender'] == ''){ echo ' checked';} ?>>
                                                                <label class="radio-inline">
                                                                <input name="gender" id="gender_female" value="female" type="radio" <?php echo (isset($this->prof['gender']) && $this->prof['gender'] == 'female') ? 'checked' : ''; ?>>
                           			                	</div>
                                                             <p class="text-danger err_msg" id="err_gender" style="display: none;"></p>
                                                            </div> -->

                                                            <div class="form-group col-sm-6">
                                                            <label class="control-label">Gender</label>
                                                                <div class="input-group radio-group">
                                                                    <input name="gender" id="gender_male" value="male" type="radio" checked="checked">
                                                                    <label class="radio-inline" for="gender_male">Male</label>
                                                                    <input name="gender" id="gender_female" value="female" type="radio">
                                                                    <label class="radio-inline" for="gender_female">Female</label>
                                                                 </div>
                                                           </div>
                                                           <!---div class="form-group col-sm-12" style="display:none;">
                                                               <label class="control-label">Languages Spoken</label>
                                                               <select class="selectpicker show-tick form-control bfh-languages languages-select" name="language" data-width="100%" multiple>
                                                                   <option value="">Select Language</option>
                                                                   <?php //echo $this->lang; ?>
                                                               </select>
                                                           </div--->
                                                       </div>
                                                       <div class="row">
                                                              <div class="col-sm-12">
                                                                       <div class="form-group">
                                                                           <label class="control-label">Where you Live</label>
                                                                           <!---select class="selectpicker show-tick form-control bfh-countries languages-select" id="country" name="country" data-width="100%">
                                                                               <option value="">-- Select -- </option>
                                                                               <?php
                                                                               /*foreach ($this->countries as $country) {
                                                                                   $selected = ($country['ID'] == $this->prof['country']) ? 'selected=selected' : '';
                                                                                   echo '<option ' . $selected . ' value="' . $country['ID'] . '">' . $country['name'] . '</option>';
                                                                               }*/
                                                                               ?>
                                                                           </select--->
                           												<div class="input-group"> <span class="input-group-addon group-addon-white">  <i class="fa fa-map-marker"></i></span>
                                           <input class="form-control" type="text" id="location" name="location" placeholder="Where do you live?" onkeyup="keyupTask(this.id);" onblur="outField(this.id);" autocomplete="off" value="<?php echo (isset($this->prof['location']) && !empty($this->prof['location']))? $this->prof['location']:''; ?>">
                           				</div><p class="text-danger err_msg" id="err_location" style="display: none;"></p>
                                                                       </div>

                                                                   </div>
                                                        <div class="col-sm-12">
                                                                       <!--div class="form-group"><label class="control-label">City</label>
                                                                           <div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-map-marker"></i></span> <input class="form-control" id="city" name="city" value="<?php //echo $this->prof['city']; ?>" type="text" /> </div>
                                                                       </div--->
                                                                   </div>
                                                       </div>
                                               </div>
                                            <div class="form-block">
                                                   <!--h5 class="sub-heading text-left">Photo</h5>
                                                   <hr class="title-border">
                                                       <div class="row">
                                                           <div class="col-sm-12">
                                                               <div class="form-group">
                                                                   <label class="control-label">Recent Photo</label>
                                                                   <input type="file" name="idverfy" />
                                                               </div>
                                                               <?php
                                                               /* if(isset($this->prof['image']) && !empty($this->prof['image'])){
                                                               if(strpos($this->prof['image'], "http") !== false){
                                                                   $img = $this->prof['image'];
                                                               }else{
                                                                   $img = $this->basePath().'/public/uploads/profile_picture/small/'.$this->prof['image'];
                                                               }
                                                           }else{
                                                               $img = $this->basePath().'/public/img/196x110.png';
                                                           }*/

                                                            ?>
                                                           </div>
                                                           <div class="col-sm-12">
                                                               <div class="form-group">
                                                                   <img src="<?php //echo $img; ?>" alt="" title="" />
                                                               </div>
                                                           </div>
                                                       </div--->
                                                       <div class="form-group form-footer text-left">
                              <?php if ($comSessObj->userid == ""){ ?>
                                                           <div class="checkbox">
                                                               <label>
                                                                   <input class="i-check" type="checkbox" name="subscribe" value="1" checked/>I'd like to recive future communication from Trepr
                                                               </label>
                                                           </div>
                                                        <?php }?>
                                                           <div class="btn-wrap"><input type="button" class="btn btn-primary" value="<?php echo $signUpText?>" onclick="validateBTProfileForm('<?php echo $validatePass?>')"></div>
                                                           <?php if ($comSessObj->userid == ""){ ?>
                                                           <p class="small">By signning up, I agree with all terms &amp; conditions of Trepr.</p>
                                                           <?php }?>

                                                       </div>

                                               </div>
                           					         </form>

                                            </div>
                                            <?php if($comSessObj->userid == ""){ ?>
                                 				   <div class="col-md-5 col-md-offset-1">

                                 						<h5 class="sub-heading text-left">Login or Signup</h5>
                                                         <hr class="title-border">
                                 						<div class="row">
                                               <div class="col-sm-12">
                                                 <div class="social-buttons btn-full">
                                                     <a class="btn btn-social btn-facebook mb-20" href="/requestfacebook?bt=1"> <span class="fa fa-facebook"> </span> Signup with Facebook </a>
                                                     <a class="btn btn-social btn-google" href="/requestgoogleplus?bt=1"> <span class="fa fa-google-plus"> </span> Signup with Google </a>
                                                 </div>
                                                 <div class="signup-or-separator"> <span class="h6 signup-or-separator-text">or</span>
                                                     <hr> </div>
                                                 <form id="formloginBT" name="formloginBT">
                                                     <div class="form-group">

                                                     	<div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-envelope-o input-icon-swing"></i> </span>
                                         				<input class="form-control" type="email" id="emailBT" placeholder="Email Address" onclick="removeBack(this.id);" onfocus="checkValue(this.id);"> </div>
                                                     	<label for="email" id="emailLabelBT" style="display: none;color: #d93900 !important;">Email ID is required.</label>
                                                     <label for="email" id="emailLabelInvalidBT" style="display: none;color: #d93900 !important;">Email ID is incorrect.</label>
                                                     </div>
                                                     <div class="form-group">
                                                     	<div class="input-group"> <span class="input-group-addon group-addon-white"><i class="fa fa-lock input-icon-swing"></i> </span>
                                         				<input class="form-control" type="password" id="passBT" placeholder="Password" onclick="removeBack(this.id);" onfocus="checkValue(this.id);"> </div>
                                                     	<label for="pass" id="passLabelBT" style="display: none;color: #d93900 !important;">Password is required.</label>
                                         				<!---label for="pass" id="passLabelInvalid" style="display: none;color: #d93900 !important;">Password is incorrect.</label--->
                                                     </div>
                                                     <div class="checkbox-wrapper mb-20 pull-left full-width">
                                         <label class="pull-left"><input class="i-check" type="checkbox">Remember
                                               me</label> <a href="#small-fp" class="popup-text forgot-password pull-right" onclick="getEmailForPass();">Forgot password?</a></div>
                                               <input class="btn login-btn full-width" type="submit" value="Log In"> </form>
                                               </div>

                                     </div>
                                 				   </div>

                                 				 <?php } ?>
                                         </div>
                           <?php }?>

                           <?php if(isset($this->steps) && ($this->steps == 'identify')){?>
                           <div class="row">
                             <div class="col-sm-12">
                                 <h5 class="sub-heading text-left">Trust & Verification</h5>
                                 <hr class="title-border">

                                  <div class="tab-block-row">
                                     <div class="col-xs-12">
                                         <ol class="list-unstyled" style="list-style:decimal">
                                             <li>Getting your Verified ID is the easiest way to help build trust in the Trepr community.</li>
                                             <li>We'll verify you by matching information from an online account to an official ID.</li>
                                             <li>We believe anonymity erodes trust, so we verify the IDs of our Users and Trepers to help ensure the safety of our growing community.</li>
                                             <li>We'll ask for atlest 2 forms of IDs: official ID and online profile. This gives members more information to make a decision about your 'p' service request.</li>
                                         </ol>
                                     </div>
                                 </div>
                                     <div class="row">
                                           <div class="verfyid-list-block" >
                                         <h4 class="tab-heading text-center">Select ID TYPE</h4>
                                         <div class="verfyid-block-inner">
                                             <div class="row">

                                               <?php
                                     $inId = 0;
                                     if ($this->idTypes) {
                                         $idUpload = false;
                                         foreach ($this->idTypes as $idType) {
                                             $mandatoryInputClassName = '';
                                             $mandatoryfileClassName = '';
                                               $inId = (isset($idType['ID']) && !empty($idType['ID'])) ? $idType['ID'] : 0;

                                              echo '<input type="hidden" class="identity_type_id" id="identity_type_id_' . $idType['identity_type_id'] . '" name="ID[' . $idType['identity_type_id'] . ']" value="' . $inId . '" >';
                                             ?>
                                             <input type="hidden" id="identity_type_<?php echo $idType['identity_type_id'] ?>" value="<?php echo $idType['identity_type_id'] ?>" >
                                                 <div class="col-sm-4">
                                                     <div class="verfyid-list">
                                                         <?php if(($idType['verfiyid'] && $idType['rejected']) || empty($idType['verfiyid'])) { ?>
                                                      <a class="popup-text" href="#uplad-popup" data-effect="mfp-zoom-out" onclick="placeIdentifyValues('<?php echo ucfirst( $idType['identity_name']);?>','<?php echo ucfirst( $idType['identity_type_id']);?>','<?php echo  $inId?>')">
                                                             <div class="verfyid-list-img">
                                                               <?php
                                                               if (isset($idType['image']) && !empty($idType['image']) && $idType['rejected'] == 0) {
                                                                   $idUpload = true;
                                                             ?>
                                                         <img src="<?php echo $this->basePath(); ?>/public/uploads/user_verification/small/<?php echo $idType['image'] ?>" alt="" title="" />

                                                         <?php }else{ ?>
                                                              <img src="<?php echo $this->basePath(); ?>/public/img/upload-info.jpg">
                                                         <?php }?>
                                                             </div>
                                                            <?php echo ucfirst( $idType['identity_name']);?>
                                                         </a>
                                                         <?php } else  {  echo '<strong>'.$idType['identity_name'].'</strong>: '.$idType['verfiyid']; } ?>
                                                     </div>
                                                 </div>
                                                <?php
                                         }
                                     }
                                     ?>
                                     </div>
                                      <div class="mfp-with-anim mfp-hide mfp-dialog modal-lg mfp-dialog-tab" id="uplad-popup">
                                     <div class="content-load-normal" id="uploading_status" style="display: none;">
                                         <div class="dis-tab">
                                             <div class="dis-tab-cel">
                                                 <img src="<?php echo $this->basePath(); ?>/public/img/preloader.gif">
                                                 <p id="uploading_status_text"></p></div>
                                         </div>
                                     </div>
                                              <form action="<?php echo $this->basePath(); ?>/myprofile/uploadverfication" method="post" enctype="multipart/form-data" name="verificationForm" id="verificationForm">
                                                <input type="hidden" class="identity_type_id identity_type_id1" id="identity_type_id" name="ID[]" value="" >
                                                 <input type="hidden" class="identity_type" id="identity_type" name="identity_type[]" value="" >
                                                 <div class="head-wrap">
                                                     <h4 class="tab-heading identity_name">Passport</h4>
                                                     <button class="mfp-close" type="button" title="%title%">Ã—</button>
                                                 </div>

                                                 <div class="popup-tab">
                                                 <ul class="nav nav-tabs">
                                                     <li class="active"><a data-toggle="tab" href="#uploadDocument">Upload Document</a></li>
                                                     <li><a data-toggle="tab" href="#takePhoto">Take Photo</a></li>
                                                 </ul>
                                                 <div class="tab-content">
                                                     <div id="uploadDocument" class="tab-pane fade in active">
                                                         <div class="mfp-tab-content">
                                                             <div class="preview" id="imagePreview">

                                                             </div>
                                                         </div>

                                                         <div class="mfp-tab-footer text-center">
                                                             <div class="row"><div id="div_verifyid" class="form-group col-xs-12">
                                                             <label for="verifyid" class="control-label">Verify Id <span style="color:red;">&nbsp;*</span></label>
                                                             <input type="text" class="form-control required"  id="verifyid"   name="verifyid">
                                                             <p id="err_verifyid" class="text-danger err_msg"></p>
                                                         </div></div>
                                                             <div class="row">
                                                             <div class="col-xs-12 mfp-tab-btn">
                                                              <p class="text-danger err_msg" id="err_uploadFile"></p>
                                                             <input style="display:none;"  class="img" type="file" id="uploadFile" name="verify_file[]" class="required-file" />
                                                             <span id="OpenImgUpload" class="btn btn-primary mg-right5">Browse</span>

                                                             <button class="btn btn-black" onclick="return validateVerifyForm(0)">Send Document</button>

                                                         </div>    </div> </div>



                                                     </div>

                                                     <div id="takePhoto" class="tab-pane fade">

                                                         <div class="mfp-tab-content">
                                                             <div class="preview" id="photoPreview">
                                                                <video id="video"></video>
                                                                 <canvas id="canvas" style="display:none;"></canvas>
                                                               <img id="previewPhoto" src="" title="Profile Photo" style="display:none;"/>
                                                             </div>

                                                         </div>

                                                         <div class="mfp-tab-footer text-center">
                                                          <div class="row"><div id="div_verifyid" class="form-group col-xs-12">
                                                             <label for="verifyid" class="control-label">Verify Id <span style="color:red;">&nbsp;*</span></label>
                                                             <input type="text" class="form-control required"  id="verifyid1"   name="verifyid">
                                                             <p id="err_verifyid1" class="text-danger err_msg"></p>
                                                         </div></div>
                                                              <div class="row">
                                                                  <div class="col-xs-12 mfp-tab-btn">

                                                             <button type="button" class="btn btn-black mg-right5" id="startRender" onclick="loadVerifyWebCam();">Open Camera</button>
                                                             <button type="button" class="btn btn-primary" id="startbutton">Take Photo</button>
                                                             <button type="button" class="btn btn-black" id="saveverifyid" style="display:none;">Send Document</button>
                                                         </div>
         </div></div>


                                                     </div>
                                                 </div>
                                                   <div id="div_verify_ids">


                                             </div>
         </div>

                                 </form>

                                             </div>


                                         </div>
                                     </div>
                                     </div>

                                     <div class="form-group form-footer text-left">

                                         <!--div class="checkbox">
                                             <label>
                                                 <input class="i-check" type="checkbox" name="mailaddr" value="1" checked/>I'd like to recive future communication from Trepr
                                             </label>
                                         </div -->
                                         <?php if (count($this->idCounts) >= 2){?>
                                         <div class="btn-wrap text-right"><input type="button" onclick="window.location = '<?php echo $this->basePath(); ?>/becometraveler/service?tripId=<?php echo $comSessObj->mytrip;?>'" class="btn btn-primary" value="Continue"></div>
                                         <?php }?>
                                     </div>

                             </div>
                             </div>
                           <?php }?>

                           <?php if(isset($this->steps) && ($this->steps == 'travelinfo')){?>
                        <div class="row">
                          <div class="col-sm-12">
                              <h5 class="sub-heading text-left">Travel Information</h5>
                              <hr class="title-border">
                                  <div class="form-group form-footer text-left">
                                      <?php echo $this->render('layout/includes/becometraveller-people-travel-plan.phtml'); ?>
                                      <!--div class="checkbox">
                                          <label>
                                              <input class="i-check" type="checkbox" name="mailaddr" value="1" checked/>I'd like to recive future communication from Trepr
                                          </label>
                                      </div -->

                                      <div class="btn-wrap text-right next"><input type="button"  class="btn btn-primary" onclick="validateBTTravelForm('traval')" value="Continue" id="validateBTTravelFormButton" style="display: none;"></div>

                                  </div>

                          </div>
                         </div>
                        <?php }?>

                        <?php if(isset($this->steps) && ($this->steps == 'service')){?>

                          <div class="row">
                            <div class="col-sm-12">
                              <section id="wizard">
                                  <div id="rootwizard" class="tabbable tabbable-new tabs-left wow fadeIn">
                                      <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
                                           <li class="next"><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2"><span class="text">Select Service</span></a></li>
                                          <li><a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3"><span class="text">People / Package / Product</span></a></li>
                                          <li><a href="#tab4" role="tab" data-toggle="tab" aria-controls="tab4"><span class="text">Service Location</span></a></li>
                                       </ul>
                                      <div class="tab-content">
                                <!--<input type="hidden" name="total_cost_ajax" id="total_cost_ajax" value="" >-->

                                          <input type="hidden" name="flight_key" id="flight_key" value="">
                      <input type="hidden" name="proposal_key" id="proposal_key" value="">
                                          <?php //echo '<pre>'; print_r($this->trip); echo '</pre>'; ?>
                                          <input type="hidden" name="total_cost" id="total_cost" value="<?php echo (isset($this->trip['total_cost']) && !empty($this->trip['total_cost'])) ? $this->trip['total_cost'] : '' ?>">
                      <input type="hidden" name="service_fee" id="service_fee" value="<?php echo (isset($this->trip['service_fee']) && !empty($this->trip['service_fee'])) ? $this->trip['service_fee'] : '' ?>">
                      <input type="hidden" name="distance" id="distance" value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
                      <input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>" >
                      <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>" >
                      <input type="hidden" name="origin_location_code" id="origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>" >
                      <input type="hidden" name="destination_location_code" id="destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>" >
                      <input type="hidden" name="operating_carrier_name" id="operating_carrier_name" value="">
                      <input type="hidden" name="flight_number" id="flight_number" value="">
                      <input type="hidden" name="selectedFlightData" id="selectedFlightData" value="<?php echo (isset($this->selectedFlightData) && !empty($this->selectedFlightData)) ? $this->selectedFlightData : '' ?>" />
                      <input type="hidden" name="flight_name" id="flight_name" value="">
                      <input type="hidden" name="trip_route" id="trip_route" value="<?php echo (isset($this->trip['trip_route']) && !empty($this->trip['trip_route'])) ? $this->trip['trip_route'] : '' ?>" />
                      <input type="hidden" name="typeOfFlightSelect" id="typeOfFlightSelect" value="auto" />
                       <input type="hidden" name="noofstops" id="noofstops" value="<?php echo (isset($this->trip['noofstops'])) ? $this->trip['noofstops'] : '' ?>" >
                      <input type="hidden" name="origin_location_country_code" id="origin_location_country_code" value="<?php echo (isset($this->origin_location_country_code) && !empty($this->origin_location_country_code)) ? $this->origin_location_country_code : '' ?>" >
                      <input type="hidden" name="destination_location_country_code" id="destination_location_country_code" value="<?php echo (isset($this->destination_location_country_code) && !empty($this->destination_location_country_code)) ? $this->destination_location_country_code : '' ?>" >
                       <input type="hidden" name="destination_location_country" id="destination_location_country" value="" />
                        <input type="hidden" name="origin_location_country" id="origin_location_country" value="" />
                         <input type="hidden" name="destination_location_country" id="destination_location_country" value="" />
                        <input type="hidden" name="origin_location_country" id="origin_location_country" value="" />
                                          <!-- End #tab1 -->
                                          <div class="tab-pane fade in" id="tab2">
                                           <input type="hidden" name="tripId" id="tripId" value="<?php echo isset($this->tripId)?$this->tripId:''?>">
                                           <input type="hidden" name="service_type" id="service_type" value="">


                                              <div class="row disply-flex-wrap">
                                                  <div class="col-sm-4 text-center disply-flex">
                                                      <div class="select-service">
                                                          <div class="select-service-img">
                                                              <img src="<?php echo $this->basePath(); ?>/public/img/caregiver.jpg" alt="People Service">
                                                              <a href="javascript:void(0);" onclick="placeServiceValue('people'); selectFlight('<?php echo $flight_key; ?>', '<?php echo $proposal_key; ?>');" class="btn btn-primary">Select</a>
                                                          </div>
                                                          <div class="select-service-dec">
                                                              <h4 class="select-service-title">People Service</h4>
                                                              <p class="card-text">Accompany passengers in your travel and get rewarded</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4 text-center disply-flex">
                                                      <div class="select-service">
                                                          <div class="select-service-img">
                                                              <img src="<?php echo $this->basePath(); ?>/public/img/package_delivery_girl.jpg" alt="Package Service">
                                                              <a href="javascript:void(0);" onclick="placeServiceValue('package'); selectFlight('<?php  echo $this->flight_key; ?>', '<?php echo $this->proposal_key; ?>');" class="btn btn-primary">Select</a>
                                                          </div>
                                                          <div class="select-service-dec">
                                                              <h4 class="select-service-title">Package Service</h4>
                                                              <p class="card-text">Carry others package in your travel and get paid</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4 text-center disply-flex">
                                                      <div class="select-service">
                                                          <div class="select-service-img">
                                                              <img src="<?php echo $this->basePath(); ?>/public/img/project_services.jpg" alt="Product Service">
                                                              <a href="javascript:void(0)" onclick="placeServiceValue('project'); selectFlight('<?php  echo $this->flight_key; ?>', '<?php echo $this->proposal_key; ?>');" class="btn btn-primary">Select</a>
                                                          </div>
                                                          <div class="select-service-dec">
                                                              <h4 class="select-service-title">Product Service</h4>
                                                              <p class="card-text">Perform others work in your destination location and get compensated</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                             <p class="text-danger err_msg" id="err_service_type" style="display: none;"></p>
                                          </div>
                                          <!-- End #tab2 -->
                                          <div class="tab-pane fade in" id="tab3">
                                           <div id="peopleService" class="serviceForm" style="display:none">
                                              <?php echo $this->render('layout/includes/add-people-service.phtml') ?>
                                            </div>
                                            <div id="packageService" class="serviceForm"  style="display:none">
                                              <?php echo $this->render('layout/includes/add-package-service.phtml') ?>
                                            </div>
                                            <div id="projectService" class="serviceForm"  style="display:none">
                                              <?php echo $this->render('layout/includes/add-project-service.phtml') ?>
                                            </div>
                                          </div>
                                          <!-- End #tab3 -->
                                          <div class="tab-pane fade in" id="tab4">
                                                <?php echo $this->render('layout/includes/origin-location-address.phtml') ?>
                                          </div>
                                          <!-- End #tab4 -->

                                          <!-- End #tab5 -->
                                          <div class="gap gap-small"></div>
                                          <ul class="pager pager-new wizard">
                                              <li class=" first" style="display:none;float: left;"><a href="javascript:;">Previous</a></li>
                                              <li class="previous"><a href="javascript:;">Previous</a></li>
                                              <li class="next"><a href="javascript:;">Next</a></li>
                              <?php if($travel_trip_type_value =='roundtrip') {?>
                     <li class="next finish"><a href="javascript:;">Finish & Key return trip</a></li>
                              <?php } else { ?>

                             <li class="next finish"><a href="javascript:;">Finish & Search</a></li>

                              <?php }?>

                                          </ul>
                                      </div>
                                  </div>
                              </section>
                            </div>
                          </div>

                        <?php }?>
                        <?php if(isset($this->steps) && ($this->steps == 'confirm')){?>
                     <div class="row">
                            <div class="col-sm-12">
                         <h5 class="sub-heading text-left">Confirm Details</h5>
                       <hr class="title-border">
                                        <div class="table-wrapper-row full-width">
                                            <div class="col-md-8 table-cell travel-form bg-white">
                                                <div class="panel-group" id="accordion">
                                                  <?=$this->render('application/traveller/helpers_detail_page/personal_info.phtml')?>
                                                  <?=$this->render('application/traveller/helpers_detail_page/travel_info.phtml')?>
                        <?=$this->render('application/traveller/helpers_detail_page/people_service_info.phtml')?>
                        <?=$this->render('application/traveller/helpers_detail_page/package_service_info.phtml')?>
                        <?=$this->render('application/traveller/helpers_detail_page/project_service_info.phtml'); //finshUrl?>
                                                </div>
                      <div class="btn-wrap text-right"><input type="button"  class="btn btn-primary" onclick="window.location = '<?php echo $this->basePath().$this->finshUrl; ?>'" value="Finish & Search"></div>

                                            </div><!-- Center Coloumn -->
                                            <div class="col-md-4 table-cell flightStatus">
                                                <div class="sidebar-block bg-white">
                                                    <div class="panel panel-default verify-traveler">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Estimated Earnings</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <input type="hidden" name="people_service_fee" id="people_service_fee" value="">
                                                            <input type="hidden" name="package_service_fee" id="package_service_fee" value="">
                                                            <input type="hidden" name="project_service_fee" id="project_service_fee" value="">
                                                            <div class="sidebar-block-inner text-center">
                      <?php

                      if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') { ?>
                        <div class="block-inner-title">People Service</div><div class="text-center est-price"><span class="span_people_service_fee_text" style="height: 180px; line-height: 180px; width: 180px; font-size: 36px;"><?php  echo $this->common()->getUserCurrencySymbol();?> <?php echo number_format($this->trip['trip_people']['people_service_fee'],2)?></span></div>
                        <?php } ?>
                        <?php if (isset($this->trip['trip_package']) && $this->trip['trip_package'] != '') { ?>
                       <div class="block-inner-title">Package Service</div> <div class="text-center est-price"><span class="span_package_service_fee_text" style="height: 180px; line-height: 180px; width: 180px; font-size: 36px;"><?php  echo $this->common()->getUserCurrencySymbol();?> <?php echo number_format($this->trip['trip_package']['package_service_fee'],2)?></span></div>

                        <?php } ?>
                       <?php if (isset($this->trip['trip_project']) && $this->trip['trip_project'] != '') { ?>
                       <div class="block-inner-title">Product Service</div> <div class="text-center est-price"><span class="span_project_service_fee_text" style="height: 180px; line-height: 180px; width: 180px; font-size: 36px;"><?php  echo $this->common()->getUserCurrencySymbol();?> <?php echo number_format($this->trip['trip_project']['project_service_fee'],2)?></span></div>

                        <?php } ?>
                           </div>

                                                            <!--button type="button" class="btn btn-primary mg-top15 center-block">Send Request</button>
                                                            <p class="small mg-top15 text-center">By Clicking you agree to pay total fee and will be charged only when member accepts.</p-->

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sidebar-block bg-white">
                                                    <div class="panel panel-default verify-traveler">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Flight Status</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="accordionWap" id="accordion-1">
                                                    <?php
                                                    if (isset($this->trip['airport_details']) && !empty($this->trip['airport_details'])) {
                                                        $i = 1;
                                                        foreach ($this->trip['airport_details'] as $flightStatus) {
                                                            ?>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion-1" class="collapsed" href="#collapse<?php echo $i ?>">Flight <?php echo $i ?></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse<?php echo $i ?>" class="panel-collapse collapse <?php echo ($i == 1) ? 'in' : '' ?>">
                                                                    <div class="panel-body">
                                                                        <ul class="verify-traveler-details list-unstyled">
                                                                            <li><strong>Status:</strong><br><?php echo!empty($flightStatus['flight_status']) ? '<span class="' . $FLIGHT_STATUS_CLASSES[$flightStatus['flight_status']] . '">' . ucwords($FLIGHT_STATUS[$flightStatus['flight_status']]) . '</span>' : 'N/A' ?></li>
                                                                            <li><strong>Origin Airport:</strong><br><?php echo $flightStatus['orgin_locaion'] . ' - ' . $flightStatus['orgin_city'] ?></li>
                                                                            <li><strong>Destination Airport:</strong><br><?php echo $flightStatus['destination_location'] . ' - ' . $flightStatus['destination_city'] ?></li>
                                                                            <li><strong>Flight Name &amp; Number:</strong><br><?php echo $flightStatus['airline_name'] . ' - ' . $flightStatus['airline_number'] ?></li>
                                                                            <li><strong>Scheduled Departure Date &amp; Time:</strong><br><?php echo!empty($flightStatus['departure_scheduled_date']) ? $flightStatus['departure_scheduled_date'] : 'N/A' ?></li>
                                                                            <li><strong>Scheduled Arrival Date &amp; Time:</strong><br><?php echo!empty($flightStatus['arrival_scheduled_date']) ? $flightStatus['arrival_scheduled_date'] : 'N/A' ?></li>
                                                                            <li><strong>Actual Departure Date &amp; Time:</strong><br><?php echo!empty($flightStatus['departure_acutal_date']) ? $flightStatus['departure_acutal_date'] : 'N/A' ?></li>
                                                                            <li><strong>Actual Arrival Date &amp; Time:</strong><br><?php echo!empty($flightStatus['arrival_actual_date']) ? $flightStatus['arrival_actual_date'] : 'N/A' ?></li>
                                                                            <li><strong>Estimated Departure Date  &amp; Time:</strong><br><?php echo!empty($flightStatus['departure_extimated_date']) ? $flightStatus['departure_extimated_date'] : 'N/A' ?></li>
                                                                            <li><strong>Estimated Arrival Date  &amp; Time:</strong><br><?php echo!empty($flightStatus['arrival_extimated_date']) ? $flightStatus['arrival_extimated_date'] : 'N/A' ?></li>
                                                                            <li><strong>Departure Terminal :</strong><br><?php echo!empty($flightStatus['departure_terminal']) ? $flightStatus['departure_terminal'] : 'N/A' ?> </li>
                                                                            <li><strong>Arrival Terminal :</strong><br><?php echo!empty($flightStatus['arrival_terminal']) ? $flightStatus['arrival_terminal'] : 'N/A' ?> </li>
                                                                            <li><strong>Route:</strong><br><?php echo $flightStatus['departure'] . ' - ' . $flightStatus['arrival'] ?></li>
                                                                            <!-- <li><strong>Aircraft:</strong><br>--</li> -->
                                                                            <li><strong>Speed:</strong><br><?php echo!empty($flightStatus['speed']) ? $flightStatus['speed'] . ' Mph' : 'N/A' ?> </li>
                                                                            <li><strong>Altitude:</strong><br><?php echo!empty($flightStatus['altitude']) ? $flightStatus['altitude'] : 'N/A' ?> </li>
                                                                            <li><strong>Distance:</strong><br><?php echo!empty($flightStatus['distance']) ? $flightStatus['distance'].' Km' : 'N/A' ?>
                                                                            <li> <a id="mapPopUp" href="#flight-position" class="address_pop_up_add popup-map btn btn-green" data-effect="mfp-zoom-out" onclick="trackFlightPosition('<?php echo $flightStatus['ID'] ?>');"><i class="fa fa-plus-circle"></i>Track Sky Map</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <?php
                                                            $i++;
                                                        }
                                                    }else{
                                                        echo 'No flights found.';
                                                    }
                                                    ?>
                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- Right Coloumn -->

                                        </div>

                                    </div> </div>
                     <?php }?>
                         </div>
                       </div>
                     </div>
                         </div>
                       </div>
                   </div>
                 </div>
               </div>


            <!-- <div class='breadcrumb-block'>
              <div class='container'>
                <div class="row breadcrumb-content">
                    <div class='col-xs-12'>
                        <ul class=" <?php
                        if (isset($comSessObj->userid)) {
                            echo 'afL-breadcrumb';
                        }
                        ?>">
                            <li><a href="<?php echo $this->basePath(); ?>/"><i class="fa fa-home"></i></a></li>
                            <li class="active">Become a Traveler </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div> -->

			<?= $this->render('layout/footer.phtml',array('comSessObj'=>$comSessObj,'dfcountry'=>$this->countries, 'ldcurrency'=>$this->countries)) ?>
            <?= $this->render('layout/pop_box.phtml') ?>
            <?= $this->render('layout/common-scripts.phtml') ?>
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/public/js/jquery.bootstrap.wizard.js"></script>
            <?php
            //echo $this->headScript()->appendFile($this->basePath() . '/public/js/metro.js', 'text/javascript');
            //echo $this->headScript()->appendFile($this->basePath() . '/public/js/jquery.bootstrap.wizard.js', 'text/javascript');
            echo $this->headScript()->appendScript("initBecameTravellerTrip();");
            ?>



<!-- <script src="<?php echo $this->basePath(); ?>/public/js/jquery.bootstrap-responsive-tabs.min.js"></script>

<script>
$( document ).ready(function() {
$('.responsive-tabs').responsiveTabs({
accordionOn: ['xs', 'sm']
});});
</script>-->
        </div>
<div id="complete-registeration-messageBT" class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
<div class="modal-content">
      <div class="modal-body">
        <p>Thanks for registering with us. Please check your email and confirm details to complete your registration.
		<button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true" style="float:right;">OK</button>
</p>
      </div>
    </div>
  </div>
</div>


<div id="flight-position" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg">
            <div class="content-load-normal" id="flight_loading" style="display: none;">
                <div class="dis-tab">
                    <div class="dis-tab-cel"> <img src="/public/img/preloader.gif">
                        <p id="uploading_status_text"></p>
                    </div>
                </div>
            </div>
            <div class="head-wrap">
                <h4 class="tab-heading">Flight Position </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="flight_map_canvas" style="height: 345px; "></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="check-flight-status" class="mfp-with-anim mfp-hide mfp-dialog mfp-address-dialog modal-lg">
            <div class="content-load-normal" id="flight_status_loading" style="display: none;">
                <div class="dis-tab">
                    <div class="dis-tab-cel"> <img src="/public/img/preloader.gif"> </div>
                </div>
            </div>
            <div class="head-wrap">
                <h4 class="tab-heading">Flight Status </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="flight_status_content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="document-upload-confimation" class="mfp-hide">
            <div id="document-upload-confimation-content"></div>
        </div>
        <div id="ticket-upload-confimation" class="mfp-hide">
            <div id="ticket-upload-confimation-content"></div>
        </div>
    </div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlWJke1V2SAp-RnQd4EK7O2J_G9IzgYw&libraries=places&callback=initAutocomplete" async defer></script>

<script>
(function ($) {
    'use strict';
    $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function (e) {
        var $target = $(e.target);
        var $tabs = $target.closest('.nav-tabs-responsive');
        var $current = $target.closest('li');
        var $parent = $current.closest('li.dropdown');
        $current = $parent.length > 0 ? $parent : $current;
        var $next = $current.next();
        var $prev = $current.prev();
        var updateDropdownMenu = function ($el, position) {
            $el
                    .find('.dropdown-menu')
                    .removeClass('pull-xs-left pull-xs-center pull-xs-right')
                    .addClass('pull-xs-' + position);
        };

        $tabs.find('>li').removeClass('next prev');
        $prev.addClass('prev');
        $next.addClass('next');

        updateDropdownMenu($prev, 'left');
        updateDropdownMenu($current, 'center');
        updateDropdownMenu($next, 'right');
    });

})(jQuery);
</script>
<script>
function trackFlightPosition(id) {
        $('#flight_loading').show();
        $.ajax({
            url: baseurl + '/seeker/trackflightpoistion',
            type: 'POST',
            data: 'viewid=' + id,
            cache: false,
            success: function(response) {
                $('#flight_loading').hide();
                var json = $.parseJSON(response); /* edit pop up*/
                var myLatlng = new google.maps.LatLng(json.latitude, json.longitude);
                var myOptions = {
                    zoom: 8,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("flight_map_canvas"), myOptions);
                var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: 'Hello World!'
                });
                google.maps.event.addListenerOnce(map, 'idle', function () {
                    google.maps.event.trigger(map, 'resize');
                    map.setCenter(marker.getPosition());
                });
                if (json.triggerpopup == 1) {
                    $.magnificPopup.open({
                        items: {
                            src: '#flight-position'
                        },
                        type: 'inline'
                    }, 0);
                }
            }
        });
    }
    
    function placeIdentifyValues(iName,iId,updateId){
        $('.identity_name').html(iName);
        $('#identity_type').val(iId);
        $('#identity_type_id').val(updateId);
    }
         function validateVerifyForm(value){
        clrErr();
        $errStaus = false;

        var attId = 'uploadFile';
        if(value == 0){
           if (validateFormFields('verifyid', 'Please enter your verify id.', '')) $errStaus = true;
           if (validateFormFields(attId, 'Please select upload your verification file.', '')) $errStaus = true;
        }
        if($('#'+attId).val() != '') {
            var ext = $('#'+attId).val().split('.').pop().toLowerCase();
            var allow = new Array('gif','png','jpg','jpeg');
            if($.inArray(ext, allow) == -1 ){
                 setErr(attId,'Please select valid image!');$errStaus = true;
            }
        }

        if ($errStaus) {
            return false;
        } else {
            submitVerificationForm();
            return false;
        }
    }
function submitVerificationForm(){
    $('#verificationForm').ajaxForm({
        beforeSubmit:function(e){
            $('#uploading_status').show();
            $('#uploading_status_text').show().html('<p>Uploading please wait...</p>');
        },
        success:function(e){
            var resObj = $.parseJSON( e );
            if(resObj.results == 'sucess'){
                $('#div_verify_ids').html(resObj.html);
                $('#uploading_status_text').show().html('<p>Verifing please wait...</p>');
                var verfyStatus = 1;
                if(resObj.verifyDocument == 1){
                  verfyStatus =  ajaxverifyDetails(resObj.imageVerify);
                }
               if(verfyStatus){
                   $('#uploading_status_text').show().html('<p>Your verification details updated successfully!</p>');
                   $('#uploading_status').hide();
                    location.reload();
               }
            }
        }
    }).submit();
}
function ajaxverifyDetails(imageVerify){
    var identity_type_id =   [];
    $(".identity_type_id").each(function() {
      identity_type_id.push($(this).val());
    });
    var verifyid = $('#verifyid').val();
    var insDetails = $.ajax({
            url: baseurl+"/myprofile/uploadverfication",
            async: false ,
            type:'POST',
            data:{action:'verify',identity_type_id:identity_type_id,imageVerify:imageVerify,verifyid:verifyid}
    }).responseText;
    return insDetails;
 }
 function placeServiceValue(serviceType){
     $('#service_type').val(serviceType);
     $('.serviceForm').hide();
     $('#'+serviceType+'Service').show();
      getServiceFee();
     $('#rootwizard a[href="#tab3"]').trigger('click');return false;
 }
$(document).on('keyup','#password',function(){
	var len = $(this).val().length;
	$("#error_password").html(checkStrength($('#password').val(),'error_password'));
});
$(document).on('submit','#formloginBT',function(e){
		e.preventDefault();

		$('#loginErrors').hide();
            var forwardto = $("#forwardto").val();
            var email = $("#emailBT").val();
            var password = $("#passBT").val();
			var login_location = $("#login_location").val();
            var login_browser = $("#login_browser").val();
            var param = "email=" + email + "&password=" + password+ "&login_location=" + login_location+ "&login_browser=" + login_browser+"&btform=1";
			if(email ==""){
				$("#emailLabelBT").show();
				$("#emailLabelBT").html('Email is required.');
				$("#email").css({"background-color":"wheat","border-color":"#ffb400"});
			}
			if(password ==""){
				$("#passLabelBT").show();
				$("#passLabelBT").html('Password is required.');
				$("#passBT").css({"background-color":"wheat","border-color":"#ffb400"});
			}else{
				$('#passBT').css({"background-color":"white","border-color":"#3fb34f"});
			}
			if ($('#emailBT').val() == '') {
				$("#emailLabelBT").show();
				$("#emailLabelBT").html('Email is required.');
				$('#emailBT').css({"background-color":"wheat","border-color":"#ffb400"});
			} else if ($('#emailBT').val() != '' && !validateEmail($('#emailBT').val())) {
				$('#emailLabelBT').show();
				$('#emailBT').css({"background-color":"wheat","border-color":"#ffb400"});
			}else{
				$('#emailBT').css({"background-color":"white","border-color":"#3fb34f"});
			}
			if(email !=="" && password !==""){
				$("#login-loader").show();
            $.ajax({
                type: "POST",
                url: baseurl + '/signin',
                data: param,
                success: function(msg) {
					if(msg == '@@@@mailnotfound@@@@'){
						//$('#loginErrors').show();
						$("#emailLabelBT").show();
						$("#emailLabelBT").html('Invalid email ID or password.');
						$("#emailBT").css({"background-color":"white","border-color":"#cccccc"});
					}
					if(msg =='@@@@loginfailed@@@@'){
						$("#emailLabelBT").hide();
						$('#passLabelBT').show();
						$("#passLabelBT").html('Password is incorrect.');
						$("#passBT").css({"background-color":"white","border-color":"#cccccc"});
					}
                    $("#login-loader").hide();
                    var datamsg = msg.split('@@@@');
					if (datamsg[1] == 'mailnotfound') {
						//alert(msg);
					} else
                    if (datamsg[1] == 'loginfailed') {
                        $("#emailBT").addClass("error");
                        $("#passBT").addClass("error");
                        //$("#logginErrMsg").slideDown();
                    } else if (datamsg[1] == 'loginsuccess') {
						window.location.href='/dashboard';

                        if (after_login_forward == 'refresh') {
                            location.reload();
                        }
                        $("#loggedin_img_name").html(datamsg[2]);
                        $("#topLinkLogin").hide();
                        $("#topLinkSingup").hide();
                        $("#loggedin_container").show();
                        $("#wrapper, #switchusersearch").css('display', 'block');
                        $.magnificPopup.close();
                        return false;
                    }else if (datamsg[1] == 'loginsuccessbt') {
						window.location.href='/becometraveler/travelinfo';

                        if (after_login_forward == 'refresh') {
                            location.reload();
                        }
                        $("#loggedin_img_name").html(datamsg[2]);
                        $("#topLinkLogin").hide();
                        $("#topLinkSingup").hide();
                        $("#loggedin_container").show();
                        $("#wrapper, #switchusersearch").css('display', 'block');
                        $.magnificPopup.close();
                        return false;
                    }
                }
            });
			}
	});
     </script>
<script>
        $(document).ready(function(){
            $("#first_name,#last_name").focusout(function(){

               var firstname  = $(this).val();
               console.log(firstname);
               var name_regex = /^[a-zA-Z]+$/;
               if (firstname.length == 0) {
                        $(this).parent().next().text("Your name is required. "); // This Segment Displays The Validation Rule For All Fields
                        $(this).focus();
                        return false;
                        console.log('sdsd');
                        }
                else if (!firstname.match(name_regex) || firstname.length == 0) {
                        $(this).parent().next().text(" For your name please use alphabets only "); // This Segment Displays The Validation Rule For Name
                        $(this).focus();
                        return false;
                }        
            
            });
        });
 </script>

    </body>
</html>
