<script>function validateFrm() {
        clrErr();
        $errStaus = false;
        if (validateFormFields('contactname', 'Please enter your name.', ''))$errStaus = true;
        if (validateFormFields('contactemail', 'Please enter the E-mail.', 'validEmail'))$errStaus = true;
        if (validateFormFields('contactphone', 'Please enter your phone number.', ''))$errStaus = true;
        if (validateFormFields('contactquestion', 'Please select your question type.', ''))$errStaus = true;
        if (validateFormFields('contactaddress', 'Please enter your location.', ''))$errStaus = true;
        if (validateFormFields('contactdeadline', 'Please enter your deadline.', ''))$errStaus = true;
        if (validateFormFields('contactmsg', 'Please enter your message.', ''))$errStaus = true;
        if ($errStaus == false) {
            return true;
        } else {
            return false;
        }
    }</script>
<div class="content-wrapper">
  <h2 class="text-center title">Contact Us</h2>
  <div class="content-box">
    <div class="desp">
      <div class="search-bar">
          <div class="input-group form-group">
              <input class="form-control" type="text" placeholder="Please search our help center and FAQ materials before contacting us" onchange="helpSearch(this.value)" id="search_text">
              <span class="input-group-addon group-addon-white" id="search-help">
                  <button class="btn btn-primary center-block">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
      </div>
      <div class="form-wrapper">
        <form action="<?php echo $_SERVER['REQUEST_URI'] ?>" method="post" name="accFrm" id="accFrm"
              onsubmit="return validateFrm()" enctype="multipart/form-data">
            <div class="row">
                <div id="messageRow">      <?php if (!empty($flashMessages)) { ?>
                        <div class="row">           <?php foreach ($flashMessages as $msg) {
                            foreach ($msg as $type => $message) { ?>
                                <div class="col-xs-12 msg_div">
                                    <div class="alert alert-dismissable <?php echo $type; ?> alert-hide">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            <span aria-hidden="true">×</span></button><?php echo $message; ?></div>
                                </div>            <?php }
                        } ?>       </div><?php } ?>  </div>
                <div class="form-group col-sm-6"><label class="control-label">Name</label> <input
                        class="form-control" name="contactname" id="contactname" placeholder="Name" type="text">

                    <p class="text-danger err_msg" id="err_contactname"></p></div>
                <div class="form-group col-sm-6"><label class="control-label">Email</label> <input
                        class="form-control" name="contactemail" id="contactemail" placeholder="Email" type="text">

                    <p class="text-danger err_msg" id="err_contactemail"></p></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6"><label class="control-label">Phone Number</label> <input
                        class="form-control" name="contactphone" id="contactphone"
                        placeholder="Enter with country code" type="text">

                    <p class="text-danger err_msg" id="err_contactphone"></p></div>
                <div class="form-group col-sm-6"><label class="control-label">Type of question</label> <select
                        class="selectpicker form-control languages-select" name="contactquestion"
                        id="contactquestion">
                        <option value="">Select</option>
                        <option value="Emergency">Emergency</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Investors">Investors</option>
                        <option value="Legal">Legal</option>
                        <option value="Partnerships">Partnerships</option>
                        <option value="Press & Media">Press & Media</option>
                        <option value="Safety">Safety</option>
                    </select>

                    <p class="text-danger err_msg" id="err_contactquestion"></p></div>
            </div>
            <div class="row">
                <!--            <div class="form-group col-sm-6 "> <label class="control-label">Location</label>                <input class="form-control street_address_1" name="route" id="street_address_1" value="" placeholder="Location" type="text">            </div>-->
                <div class="form-group col-sm-6"><label class="control-label">Location<a class="icon-info"
                                                                                         href="javascript:;"
                                                                                         data-toggle="tooltip"
                                                                                         title="Street/Locality Address, P.O. Box, C/O, etc."></a></label>
                    <input class="form-control contactaddress" name="contactaddress" id="contactaddress"
                           placeholder="Location" type="text"/>

                    <p class="text-danger err_msg" id="err_contactaddress"></p></div>
                <div class="form-group col-sm-6"><label class="control-label">Deadline</label> <input
                        class="form-control" name="contactdeadline" id="contactdeadline" placeholder="Deadline"
                        type="text">

                    <p class="text-danger err_msg" id="err_contactdeadline"></p></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12"><label class="control-label">Message</label> <textarea
                        class="form-control" name="contactmsg" id="contactmsg" rows="5"
                        placeholder="Message"></textarea>

                    <p class="text-danger err_msg" id="err_contactmsg"></p></div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 text-success"><p>You question will be addressed and responded
                        within 24 hours.</p></div>
                <div class="form-group col-sm-12"><input class="btn btn-primary mg-top15" value="Submit"
                                                         name="contactSubBtn" id="contactSubBtn" type="submit">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	var search_text = document.getElementById("search_text");
    search_text.addEventListener("keydown", function (e) {
     if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
     //     validate(e);
     $('.trepr-content-help').slideDown(500);
    }
});
</script>
<script>
    $(document).ready(function () {
        $('#search-help').click(function (e) {
            $('.trepr-content-help').slideDown(500);
        });

        $("#contactaddress").geocomplete();
    });
</script>
