<?php if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($pageRow) && !empty($pageRow)) {
    extract($pageRow);
} ?>
<div class="content-wrapper">
  <h2 class="text-center title">COPYRIGHT POLICY</h2>
  <div class="content-box">
    <div class="desp">
      <?php echo $page_Content; ?>
    </div>
  </div>
  <div class="content-box">
    <div class="desp">
      <h5 class="sub-heading text-left">Looking for more info?</h5>
      <div class="more-info-box">
        <div class="row">
          <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/support"><i class="fa fa-angle-right"></i> Check out our Help Center</a></div>
          <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/securitypolicy"><i class="fa fa-angle-right"></i> Visit the Safety Center</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
