<div class="content-wrapper">
  <h2 class="text-center title">Customs Excise Duty</h2>
    <div class="content-box">
      <div class="desp">
        <div class="table-responsive" style="border: 0">
          <table id="customs-excise-duty" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Country</th>
                <th>Limit in Local Currency</th>
                <th>Limit in Pounds (£)</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
               <?php foreach($custom as $customRow){?>
                <tr>
                  <td><?php echo $customRow['custom_Countryname']; ?></td>
                  <td><?php echo $customRow['custom_Localcurrencys']; ?> <?php echo $customRow['custom_currency']; ?></td>
                  <td><?php echo $customRow['custom_Localpounds']; ?> GBP</td>
                  <td><a href="<?php echo $customRow['custom_Link']; ?>" target="_blank">Go</a></td>
                </tr>
               <?php }?>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
    function transactionHistory() {
        $(document).ready(function() {
            var completedTxn = $('#customs-excise-duty').DataTable();

            if($('#add-payout-method').length){
                /*$.magnificPopup.open({
                    items: {
                        src: '#add-payout-method'
                    },
                    type: 'inline'
                }, 5000);*/
            }
            if($('#add-payout-set-address').length){
                /*$.magnificPopup.open({
                    items: {
                        src: '#add-payout-set-address'
                    },
                    type: 'inline'
                }, 5000);*/
            }
        });
    }
    transactionHistory();
</script>
