<?php if (isset($_POST) && !empty($_POST)) {    extract($_POST);}?>
<div class="contentPage">
    <h2 class="text-center title">Help Center</h2>
    <div class="searchTop">
        <div class="input-group"> <input class="form-control" type="text" placeholder="Search the help center" id="help_search"><ul id="questions_list" style="list-style-type: none; display: block;width:100%;"></ul> <span class="input-group-addon group-addon-white"><button class="btn btn-primary center-block">                    <i class="fa fa-search"></i></span></button>
        </div>
    </div>
    <div class="clearfix">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-wrap">
                    <div class="user-profile-sidebar">
                        <h5 class="helphead">Help1</h5>
						<p id="back_button" style="display: none;">&#x2190; Back</p>
						<ul id="categories" style="list-style-type: none;">
						<?php foreach($categories as $cats){?>
						<li class="select_cat" data-id="<?php echo $cats['uqa_id'];?>"  style="padding:5px;"><?php echo $cats['uqa_name'];?>
						
						</li>
						<?php } ?>
						</ul>
						<ul id="subcategories" style="list-style-type: none; display: none;"></ul>
						
						<ul class="tabs list user-profile-nav" role="tablist">
                            <li role="help" class="active"><a href="#introduction" aria-controls="introduction" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Introduction</a></li>
                            <li role="help"><a href="#how-it-works" aria-controls="how-it-works" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>How it works?</a></li>
                            <li role="help"><a href="#people" aria-controls="people" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>People</a></li>
                            <li role="help"><a href="#package" aria-controls="package" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Package</a></li>
                            <li role="help"><a href="#project" aria-controls="project" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Product</a></li>
                            <li role="help"><a href="#terms-seekers" aria-controls="terms-seekers" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Seekers</a></li>
                            <li role="help"><a href="#terms-travelers" aria-controls="terms-travelers" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Travelers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
			
			<div id="answer"></div>
                <div class="tab-content tab-content-help clearfix">
				
                    <div role="tabpanel" id="introduction" class="tab-pane fade in active">
					
                        <div class="heading">
                            <h3>Introduction</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowIntro['page_Content']; ?>
                        <!--                        <p>In this contemporary world, everything is changing; human beings have come across ages and evolve to become an intelligent species. With the advancement of technology in social networking, through widgets, human beings have found an economical way of living. Here is a product&ldquo;<a href="index.html">TREPR</a>&rdquo; that transforms human beings to next level of convenience through trusted community marketplace for their travel requirements.</p>-->
                    </div>
                    <div role="tabpanel" id="how-it-works" class="tab-pane fade">
                        <div class="heading">
                            <h3>How it works?</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowHow['page_Content']; ?>
                        <!--                        <p><a href="index.html">TREPR</a>, A trip representative, has 3 demanding services such as <mark>People, Package and Product</mark>, making your travel needs fulfill by deputizing a trusted person in the internet social networking community. Let see how each of these services work.</p>                        <p>There are millions and millions of people travel from one place to another place in several means of transport across the world either nationally or internationally for their personal or professional needs. Unfortunately, not everyone knows each other.</p>                        <p>Similarly, there are many people who want to travel different places in the world only if someone accompanies them. Some of the common reasons are theytravel for the first time, go to a new place, not aware of travel formalities/procedure, unfamiliar about journey etiquettes/culture of the place, uneasiness due to multiple transits in between the journey,find hard to handle luggage alone or simply can&rsquo;tspeaking the language at the time of travel. Unfortunately, every time they are accompanied by loved ones or beseech known people for their travel needs. This incurs people to invest more time, cost and effort or wait for a feasible time to transport accompany people.</p>                        <p>Correspondingly, there are many packages need to be transported to different places in the world only through postal, courier or taken with person, who possess them, with exorbitant cost spent. People don&rsquo;t always prefer to send much needed but low priced items through postal for a charge more than the actual item&rsquo;s worth. Unfortunately, every time the package waits for its possessor or seeks known person to carry and to reach its destination. This creates ambush in people to wait or to plan a travel to get the package, costing anticipation, money and effort.</p>                        <p>Likewise, at least once, every person needs some project done in another place where he/she can&rsquo;t go in person, every time, and get the task done. Predominant reasons are the task is very simple, doesn&rsquo;t require in person visit or needs help from someone to complete. Unfortunately, if the project is of utmost importance, then people travel especially to different places spending their time, effort and cost becomes mandatory.</p>                        <p><a href="index.html">TREPR</a> connects these two ends of rope very intelligently, services a safe trip to its customers and drastically curtails cost, time and effort of people in their travel arrangements in a trusted community. It also provides several attractive features in its application for seekers to make best and informed decision in using our services that is why we call &ldquo;Simply Substitute&rdquo;.</p>                        <p>With the help of <a href="index.html">TREPR</a>, TRAVELERs, who want to serve requests, can create an account with <a href="index.html">TREPR</a>, post their travel plan, either nationally or internationally, or both and publish it to 4 classification of <a href="index.html">TREPR</a> seekers; they are</p>                        <ol>                            <li>Immediate friends (From social networking sites such as Facebook, Twitter, Google+ and LinkedIn)</li>                            <li>Acquaintances &ndash; friends of friends (From social networking sites such as Facebook, Twitter, Google+ and LinkedIn)</li>                            <li>Unknown seekers</li>                            <li>All TREPRseekers</li>                        </ol>                        <p>Based on TRAVELER&rsquo;s comfortability level, he/she can make a choice in the application.</p>                        <p>In order to do this,TRAVELER needs simply provide his/her travel details such as</p>                        <ul>                            <li>Airline/Cruise/Train/Bus/Car Name</li>                            <li>Transporting Vehicle Number</li>                            <li>From &amp; To</li>                            <li>Departing Date&amp; Time</li>                            <li>Arriving Date&amp; Time</li>                            <li>Booking Status</li>                            <li>Details of people travelling</li>                            <li>Details of baggage carried</li>                            <li>Details of concierge services can offer</li>                        </ul>                        <p>Since <a href="index.html">TREPR</a> is a trusted social networking community, to authenticate seeker information, <a href="index.html">TREPR</a> requestsTRAVELERS to provide basic seekerinformation such as</p>                        <ul>                            <li>Mobile no</li>                            <li>Email Address</li>                            <li>Language spoken</li>                            <li>Home and work address</li>                            <li>A proof of national ID, unexpired or latest</li>                            <li>A proof of current address, recent or updated</li>                            <li>And travel information such as</li>                            <li>A proof of ticket/confirmation Email</li>                            <li>Any proof of changes to booking made</li>                        </ul>                        <p>And validates records to make sure all the information is trustworthy.</p>                        <p>Once authentication is completed, <a href="index.html">TREPR</a> takes this information and shows them to seekers who want a service based on the location TRAVELER resides.</p>                        <p><a href="index.html">TREPR</a> also transfers funds to TRAVELER&rsquo;s bank account and debits funds from credit card with the help of details supplied by TRAVELER at the time of registration.</p>                        <p>On the other hand, for SEEKERs, who make service requests, <a href="index.html">TREPR</a> provides an option to find potential TRAVELERS in and around an area using kilo meter radius search. All SEEKER needs to do is create an account with <a href="index.html">TREPR</a> and simply provide details of his/her information such as</p>                        <ul>                            <li>Mobile no</li>                            <li>Email Address</li>                            <li>Language spoken</li>                            <li>Current address</li>                            <li>A proof of national ID, unexpired or latest</li>                            <li>A proof of current address, recent or updated</li>                        </ul>                        <p>Once authentication is completed, <a href="index.html">TREPR</a> takes this information and shows them to seekers who want a service based on the location TRAVELERresides andallows seekers to make one or many of service requests to TRAVELER with travel requirements that match SEEKER expectations.</p>-->
                    </div>
                    <div role="tabpanel" id="people" class="tab-pane fade">
                        <div class="heading">
                            <h3>People</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowPeo['page_Content']; ?>
                        <!--                        <p>For example, if a seeker lives in New York, USA and he/she needs spouse to be brought from Toronto, Canada to New York, USA in a convenient date range between 1st January 2016 and 15th January 2016.</p>-->
                    </div>
                    <div role="tabpanel" id="package" class="tab-pane fade">
                        <div class="heading">
                            <h3>Package</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowPack['page_Content']; ?>
                        <!--                        <p>Integer pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget sapien vel, porttitor bibendum enim. Donec sed nibh vitae lorem porttitor blandit in nec ante. Pellentesque vitae metus ipsum. Phasellus sed nunc ac sem malesuada condimentum. Etiam in aliquam lectus. Nam vel sapien diam. Donec pharetra id arcu eget blandit. Proin imperdiet mattis augue in porttitor. Quisque tempus enim id lobortis feugiat. Suspendisse tincidunt risus quis dolor fringilla blandit. Ut sed sapien at purus lacinia porttitor. Nullam iaculis, felis a pretium ornare, dolor nisl semper tortor, vel sagittis lacus est consequat eros. Sed id pretium nisl. Curabitur dolor nisl, laoreet vitae aliquam id, tincidunt sit amet mauris.</p>						-->
                    </div>
                    <div role="tabpanel" id="project" class="tab-pane fade">
                        <div class="heading">
                            <h3>Product</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowPro['page_Content']; ?>
                        <!--                        <p>Integer pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget sapien vel, porttitor bibendum enim. Donec sed nibh vitae lorem porttitor blandit in nec ante. Pellentesque vitae metus ipsum. Phasellus sed nunc ac sem malesuada condimentum. Etiam in aliquam lectus. Nam vel sapien diam. Donec pharetra id arcu eget blandit. Proin imperdiet mattis augue in porttitor. Quisque tempus enim id lobortis feugiat. Suspendisse tincidunt risus quis dolor fringilla blandit. Ut sed sapien at purus lacinia porttitor. Nullam iaculis, felis a pretium ornare, dolor nisl semper tortor, vel sagittis lacus est consequat eros. Sed id pretium nisl. Curabitur dolor nisl, laoreet vitae aliquam id, tincidunt sit amet mauris.</p>						-->
                    </div>
                    <div role="tabpanel" id="terms-seekers" class="tab-pane fade">
                        <div class="heading">
                            <h3>Terms, Conditions and Safety Instructions to SEEKERS</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowSeek['page_Content']; ?>
                        <!--                        <p>Nam eget purus nec est consectetur vehicula. Nullam ultrices nisl risus, in viverra libero egestas sit amet. Etiam porttitor dolor non eros pulvinar malesuada. Vestibulum sit amet est mollis nulla tempus aliquet. Praesent luctus hendrerit arcu non laoreet. Morbi consequat placerat magna, ac ornare odio sagittis sed. Donec vitae ullamcorper purus. Vivamus non metus ac justo porta volutpat.</p>						-->
                    </div>
                    <div role="tabpanel" id="terms-travelers" class="tab-pane fade">
                        <div class="heading">
                            <h3>Terms, Conditions and Safety Instructions to TRAVELERS</h3>
                            <hr class="title-border"> </div>
                        <?php echo $pageRowTra['page_Content']; ?>
                        <!--                        <p>Nam eget purus nec est consectetur vehicula. Nullam ultrices nisl risus, in viverra libero egestas sit amet. Etiam porttitor dolor non eros pulvinar malesuada. Vestibulum sit amet est mollis nulla tempus aliquet. Praesent luctus hendrerit arcu non laoreet. Morbi consequat placerat magna, ac ornare odio sagittis sed. Donec vitae ullamcorper purus. Vivamus non metus ac justo porta volutpat.</p>						-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="contentPageInner mt15 clearfix">
    <h5 class="sub-heading text-left">Looking for more info?</h5>
    <hr class="title-border">
    <div class="moreinfoLink">
        <div class="row">
            <div class="col-md-6 form-group"> <a href="<?php echo $this->basePath(); ?>/securitypolicy"><i class="fa fa-angle-right"></i> Users Refund Policy</a> </div>
            <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/copyright"><i class="fa fa-angle-right"></i> Copyright Policy</a></div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/userterms"><i class="fa fa-angle-right"></i> Terms &AMP; Conditions</a></div>
            <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/privacy"><i class="fa fa-angle-right"></i> Privacy Policy</a></div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script>
$("#help_search").keyup(function(){
	$("#questions_list").html('');
	$("#questions_list").show();
	var txt = $(this).val();
	$.ajax({
		type:"POST",
		url:"/myprofile/getquestions",
		data:{text:txt},
		success:function(res){
		if(res !==false){
		var result = '';
         $.each($.parseJSON(res).data, function (i, item) {
            result += '<li data-id="'+item.qa_id+'" class="question">'+item.qa_question+'</li>';
        });
		$("#questions_list").html(result);
        }
		}
	});
});
$(document).on('click','.question',function(){
	var id = $(this).attr('data-id');
	$.ajax({
		type:"POST",
		url:"/myprofile/getanswer",
		data:{id:id},
		success:function(res){
			//alert(res);
		if(res !==false){
		var result = '';
         $.each($.parseJSON(res), function (i, item) {
            result += '<div>'+item.qa_answer+'</div>';
        });
		$("#help_search").val('');
		$("#questions_list").hide();
		$("#answer").html(result);
        }
		}
	});
});
$(document).on('click','.select_cat',function(){
	var id = $(this).attr('data-id');
	$.ajax({
		type:"POST",
		url:"/myprofile/getqacategories",
		data:{id:id},
		success:function(res){
		if(res !==false){
		var result = '';
         $.each($.parseJSON(res).data, function (i, item) {
            result += '<li class="select_subcat" data-id="'+item.uqa_id+'" data-pid="'+item.uqa_parent_id+'">'+item.uqa_name+'</li>';
        });
		$("#subcategories").html(result);
		$("#subcategories,#back_button").show();
		$("#categories").hide();
        }
		}
	});
});
$(document).on('click','.select_subcat',function(){
	var id = $(this).attr('data-id');
	var pid = $(this).attr('data-pid');
	if(pid ==='0'){
		$.ajax({
		type:"POST",
		url:"/myprofile/getqacategories",
		data:{id:pid},
		success:function(res){
		if(res !==false){
		var result = '';
         $.each($.parseJSON(res).data, function (i, item) {
            result += '<li class="select_subcat" data-id="'+item.uqa_id+'" data-pid="'+item.uqa_parent_id+'">'+item.uqa_name+'</li>';
        });
		$("#subcategories").html(result);
		$("#subcategories,#back_button").show();
		$("#categories").hide();
        }
		}
	});
	}else{
		$.ajax({
		type:"POST",
		url:"/myprofile/getquestions",
		data:{id:id},
		success:function(res){
		if(res !==false){
		var result = '<ul  style="list-style-type: none;">';
         $.each($.parseJSON(res).data, function (i, item) {
            result += '<li data-id="'+item.qa_id+'" class="question">'+item.qa_question+'</li>';
        });
		result += '</ul>';
		$("#answer").html(result);
        }
		}
	});
		
	}
	
});
$(document).on('click','#back_button',function(){
	$("#subcategories,#back_button").hide();
		$("#categories").show();
});
</script>
<style>
#questions_list{ 
	    position: absolute;
    background: white;
    width: 401px;
    z-index: 99999;
	top:50px;
}
</style>