<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="<?php echo $this->basePath();?>/public/new_design/images/favicon.png">
    <link rel="stylesheet" href="<?php echo $this->basePath();?>/public/new_design/css/icofont.css">
    <link rel="stylesheet" href="<?php echo $this->basePath();?>/public/new_design/css/styles.css">
	<link rel="stylesheet" href="<?php echo $this->basePath();?>/public/css/jquery-ui.min.css">
    <title>Trepr</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root">
    </div>
	<?php //echo $this->render('layout/pop_box.phtml', array('countries' => $countries,'comSessObj' => $sessionObj)); ?>
	<script type="text/javascript">
		var assetPath = '<?php echo $this->basePath();?>/public/new_design/';
		var siteURL   = '<?php echo $this->basePath();?>/';
		var countries = <?php echo json_encode($countries);?>;
		var defCountry= '<?php echo isset($sessionObj->countrycode) && $sessionObj->countrycode != ''?$sessionObj->countrycode:"GB";?>'
		var defCurrency= '<?php echo isset($sessionObj->currency) && $sessionObj->currency != ''?$sessionObj->currency:"GBP";?>'
	</script>
	<script type="text/javascript" src="/public/new_design/bundle.js"></script>
    <script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>
	<!--<script type="text/javascript" src="/public/js/jquery.validate.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/public/js/nicescroll.js"></script>
	<script type="text/javascript" src="/public/js/common.js"></script>
    <script type="text/javascript" src="/public/new_design/react-functions.js"></script>
	<script type="text/javascript">
		function clrErr() {
		  $(".form-group, .checkbox").removeClass("has-error");
		  $(".err_msg, .ni-error").hide();
		}
	</script>-->
  </body>
</html>

