<?php
    $this->dfcountry = $this->common()->common_model->getCountries();
    $this->ldcurrency = $this->common()->common_model->getCurrencies();
    $comSessObj = $this->common()->comSessObj;
    $this->doctype();
?>
<html>
    <head>
        <?php
            echo $this->headTitle('TREPR')->setSeparator(' - ')->setAutoEscape(false);
            echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendName('keywords', 'TREPR, Traveling substitute')
                ->appendName('description', 'Traveler - Premium template for travel companies')
                ->appendName('author', 'TREP')
                ->appendHttpEquiv('Content-Type','text/html; charset=UTF-8')
                ->appendHttpEquiv('Content-Language', 'en-US')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
        ?>

        <?php
            echo $this->headLink(['rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700'])
                ->headLink(['rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600'])
                ->prependStylesheet($this->basePath('css/bootstrap.css'))
                ->prependStylesheet($this->basePath('css/font-awesome.css'))
                ->prependStylesheet($this->basePath('css/icomoon.css'))
                ->prependStylesheet($this->basePath('css/carousel.css'))
                ->prependStylesheet($this->basePath('css/styles.css'))
                ->prependStylesheet($this->basePath('css/mystyles.css'))
                ->prependStylesheet($this->basePath('css/bootstrap-social.css'))
                ->prependStylesheet($this->basePath('css/bootstrap-select.css'))
                ->prependStylesheet($this->basePath('css/jquery-ui.min.css'))
                ->prependStylesheet($this->basePath('css/css3-aniamtion-style.css'));
        ?>

        <style>
            [touch-action="none"]{
                -ms-touch-action: none;
                touch-action: none;
            }
            [touch-action="pan-x"]{
                -ms-touch-action: pan-x;
                touch-action: pan-x;
            }
            [touch-action="pan-y"]{
                -ms-touch-action: pan-y;
                touch-action: pan-y;
            }
            [touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{
                -ms-touch-action: pan-x pan-y;
                touch-action: pan-x pan-y;
            }
        </style>

    </head>
    <body>
        <div class="global-wrap">
            <div class="trep-toggler" aria-hidden="false">
                <video width="100%" controls id="videoPlayer" class="bg-video hidden-sm hidden-xs" poster="<?php echo $this->basePath(); ?>/img/trepr-ltd.jpg">
                    <source type="video/mp4" src="<?php echo $this->basePath(); ?>/media/treprpromo.mp4" />
                    <source type="video/webm" src="<?php echo $this->basePath(); ?>/media/treprpromo.webm" />
                </video>
                <button title="Close (Esc)" type="button" class="promo-close" aria-hidden="true">&times;
                </button>
            </div>
            <!-- .trep-toggler -->
            <!-- TOP AREA -->
            <div class="top-area show-onload">
                <div class="bg-holder full">
                    <div class="bg-front bg-front-mob-rel header-bg">
                        <div class="header-top no-bg-color">
                            <div class="col-sm-3">
                                <a class="logo pull-left" href="<?php echo $this->basePath(); ?>/">
                                    <img src="<?php echo $this->basePath(); ?>/img/logo-white.png" alt="Trepr" title="Trepr" />
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <div class="top-user-area clearfix">
                                    <ul id="divTopLoginLinks" class="top-user-area-list list list-horizontal list-border">
                                        <?php if ($comSessObj->userid == '') { ?>
                                            <li id='topLinkLogin'>
                                                <a class="popup-text" href="#small-login" data-effect="mfp-zoom-out">Log In
                                                </a>
                                            </li>
                                            <li id='topLinkSingup'>
                                                <a class="popup-text" href="#small-signup" data-effect="mfp-zoom-out">Sign Up
                                                </a>
                                            </li>
                                        <?php } ?>
                                        <li class="becomeatraveler br5">
                                            <a href="<?php echo $this->basePath(); ?>/becometraveler">Become a Traveller
                                            </a>
                                        </li>
                                        <?php if ($comSessObj->userid != '') { ?>
                                            <li class="hidden-xs nav-drop notification-drop">
                                                <span id="notification_count">3
                                                </span>
                                                <a class="notification" href="#">
                                                    <i class="fa fa-bell">
                                                    </i>
                                                </a>
                                                <div id="notificationContainer">
                                                    <div id="notificationTitle">Notifications
                                                        <span class="pull-right">
                                                            <a href="<?php echo $this->basePath(); ?>/dashboard">View Dashboard
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div id="notificationsBody" class="notifications">
                                                    </div>
                                                    <div id="notificationFooter">
                                                        <a href="#">See All
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li id="loggedin_container" class="top-user-area-avatar">
                                                <?php
                                                if ($comSessObj->user['image'] != '') {
                                                    $img = $comSessObj->user['image'];
                                                } else {
                                                    $img = 'default_user.png';
                                                }
                                                if (strpos($img, "http") !== false) {
                                                    $img = $img;
                                                } else {
                                                    $img = $this->basePath() . '/temp/' . $img;
                                                }
                                                ?>
                                                <a id="loggedin_img_name" href="<?php echo $this->basePath(); ?>/dashboard">
                                                    <img class="hidden-xs origin round" width="40" height="40" src="<?php echo $img ?>" alt="<?php echo $comSessObj->user['first_name']; ?>" />Hi,
                                                <?php echo $comSessObj->user['first_name']; ?>
                                                </a>
                                                <?php /* ?>
                                                  <ul class="list nav-drop-menu">
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/dashboard">Dashboard
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/profile">Profile Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/myaccount">Account Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/logout">Logout
                                                  </a>
                                                  </li>
                                                  </ul>
                                                  <?php */ ?>
                                            </li>
                                                <?php } elseif ($comSessObj->facebook_user['id']) { ?>
                                            <li id="loggedin_container" class="top-user-area-avatar">
                                                <a id="loggedin_img_name" href="<?php echo $this->basePath(); ?>/dashboard">
                                                    <img class="hidden-xs origin round" width="40" height="40" src="<?php $comSessObj->facebook_user['picture']['data']['url']; ?>" alt="<?php $comSessObj->facebook_user['first_name']; ?>" />Hi,
                                                <?php echo $comSessObj->facebook_user['first_name']; ?>
                                                <?php echo $comSessObj->facebook_user['last_name']; ?>
                                                </a>
                                                <?php /* ?>
                                                  <ul class="list nav-drop-menu">
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/dashboard">Dashboard
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/profile">Profile Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/myaccount">Account Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/logout">Logout
                                                  </a>
                                                  </li>
                                                  </ul>
                                                  <?php */ ?>
                                            </li>
                                                <?php } elseif ($comSessObj->googleplus_user['id']) { ?>
                                            <li id="loggedin_container" class="top-user-area-avatar">
                                                <a id="loggedin_img_name" href="<?php echo $this->basePath(); ?>/dashboard">
                                                    <img class="hidden-xs origin round" width="40" height="40" src="<?php $comSessObj->googleplus_user['image']['url']; ?>" alt="<?php $comSessObj->googleplus_user['name']['givenName']; ?>" />Hi,
                                                <?php echo $comSessObj->googleplus_user['name']['givenName']; ?>
                                                <?php echo $comSessObj->googleplus_user['name']['familyName']; ?>
                                                </a>
                                                <?php /* ?>
                                                  <ul class="list nav-drop-menu">
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/dashboard">Dashboard
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/profile">Profile Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/myaccount">Account Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/logout">Logout
                                                  </a>
                                                  </li>
                                                  </ul>
                                                  <?php */ ?>
                                            </li>
                                            <?php } else { ?>
                                            <li id="loggedin_container" class="top-user-area-avatar">
                                                <a id="loggedin_img_name" href="<?php echo $this->basePath(); ?>/dashboard">
                                                </a>

                                                <?php /* ?>
                                                  <ul class="list nav-drop-menu">
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/dashboard">Dashboard
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/profile">Profile Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/myaccount">Account Settings
                                                  </a>
                                                  </li>
                                                  <li>
                                                  <a href="<?php echo $this->basePath();?>/logout">Logout
                                                  </a>
                                                  </li>
                                                  </ul>
                                                  <?php */ ?>
                                            </li>
<?php } ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider">
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/firstslide_4.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>World's first online deputation site
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-position: center bottom; background-image:url(<?php echo $this->basePath(); ?>/img/get_loved_ones_accompannied-safely_2_2.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Get loved ones accompanied safely
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/planing2.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Transport packages anywhere cheaply
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/business3a.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Get your remote tasks done promptly
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/cheap_services_for_All_travel_needs2_5.gif);"></div>
            <div class="bg-front full-center">
            <div class="owl-cap">
            <h1 class="owl-cap-title"><small>Cheap services for all travel needs</small></h1>
            <div class="gap gap-small"></div>
            <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works</a>
            </div>
            </div>
            </div>-->
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/Find-your-right-travel-substitute1.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Find your right travel substitute
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/air-ticket-to-dollar1.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Simply earn in your personal travel
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/beach.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Companionship makes trip beneficial
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/Table-Coffee_our_version.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Carrying others package earns you
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/trepr-business2a.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Help finish others tasks for a cost
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-holder full text-center text-white">
                            <div class="bg-mask">
                            </div>
                            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/inthecar.gif)">
                            </div>
                            <div class="bg-front full-center">
                                <div class="owl-cap">
                                    <h1 class="owl-cap-title">
                                        <small>Earn in your trips with less efforts
                                        </small>
                                    </h1>
                                    <div class="gap gap-small">
                                    </div>
                                    <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/Rate_traveler.gif);"></div>
            <div class="bg-front full-center">
            <div class="owl-cap">
            <h1 class="owl-cap-title"><small>Be a trusted substitute &amp; earn more</small></h1>
            <div class="gap gap-small"></div>
            <a class="btn btn-white btn-ghost trep-promo" href="javascript:void(0);">How it Works</a>
            </div>
            </div>
            </div>-->
                    </div>
          <div class="bg-img hidden-lg lazyOwl" style="background-image:url(<?php echo $this->basePath(); ?>/img/1.jpg)"></div>
                    <div class="bg-mask hidden-lg"> </div>

                    <!-- search-container-home -->
                </div>
            </div>

            <div  class="search-container-home"  align="center">
                        <div class="search-bar-home">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="row center-block">
                                        <form class="form-inline" id="homesearch" role="form" action="<?php echo $this->basePath(); ?>/search" method="post">

                                            <div class="form-group form-group-icon-left">
                                                <i class="fa fa-plane input-icon input-icon-hightlight">
                                                </i>
                                                <input type="text" class="typeahead form-control input-lg" placeholder="Origin Airport" id="origin" name="origin" />
                                            </div>
                                            <div class="form-group form-group-icon-left">
                                                <i class="fa fa-plane fa-flip-vertical input-icon input-icon-hightlight">
                                                </i>
                                                <input type="text" class="typeahead form-control input-lg" placeholder="Destination Airport" id="destination" name="destination" />
                                            </div>
                                            <div class="form-group form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-hightlight">
                                                </i>
                                                <input class="form-control input-lg" type="text" id="date" name="date" placeholder="Select Date" />
                                            </div>
                                             <div class="form-group form-group-two input-select">
                                                <i class="fa fa-cog input-icon input-icon-hightlight">
                                                </i>
                                                <select id="trepservice" name="trepservice" data-width="210px" data-container="body" data-style="btn-lg" class="selectpicker form-control">
                                                    <option data-icon="fa-users" value="people">People
                                                    </option>
                                                    <option data-icon="fa-archive" value="package">Package
                                                    </option>
                                                    <option data-icon="fa-file-text-o" value="project">Product
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-lg btn-default" type="submit" value="Search" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- END TOP AREA  -->
            <div class="gap">
            </div>
            <div class="container">
                <div class="row row-wrap">
                    <div class="animation-slideTop element-to-hide" style="visibility:visible;">
                    <h2 class="text-center mb0">Travel Services
                    </h2>
                    <div class="separate-line"><span>Our Great Services</span>
                    <hr></div>
                    </div>
                    <div class="col-md-4 animation-slideRight element-to-hide" style="visibility:visible;">
                        <div class="thumb text-center">
                            <header class="thumb-header">


                                    <span class="services-icon">
                                        <img class="svg" src="<?php echo $this->basePath(); ?>/img/svg/service-one.svg"  />
                                    </span>

                                <h5>People
                                </h5>
                            </header>
                            <div class="thumb-caption text-center">
                                <p class="thumb-desc">People is a deputizing service to safely accompany your loved ones anywhere without you travelling. Just pick our verified traveller.
                                </p>
                                  <a id="p1service" class="hover-img popup-image" href="#" data-effect="mfp-move-horizontal">Read More</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="thumb text-center">
                            <header class="thumb-header">


                                    <span class="services-icon">
                                        <img class="svg" src="<?php echo $this->basePath(); ?>/img/svg/service-two.svg"  />
                                    </span>


                                 <h5>Package
                                </h5>
                            </header>
                            <div class="thumb-caption text-center">
                                <p class="thumb-desc">Package is a substituting service to cheaply transport your packages anywhere without you carrying. Just select our trusted traveller.
                                </p>
                                  <a id="p2service" class="hover-img popup-image" href="#" data-effect="mfp-move-horizontal">Read More</a>
                            </div>
                        </div>
                    </div>
                       <div class="col-md-4 animation-slideLeft element-to-hide" style="visibility:visible;">
                        <div class="thumb text-center">
                            <header class="thumb-header">


                                    <span class="services-icon">
                                        <img class="svg" src="<?php echo $this->basePath(); ?>/img/svg/service-three.svg"  />
                                    </span>


                                <h5>Product
                                </h5>
                            </header>
                            <div class="thumb-caption text-center">
                                <p class="thumb-desc">Product is a delegating service to smartly get your personal tasks done in any remote location without you present. Just choose our authorized traveller we complete.
                                </p>
                                  <a id="p3service" class="hover-img popup-image" href="#" data-effect="mfp-move-horizontal">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap gap-small">
                </div>
            </div>

            <div class="container">
                <div class="row row-wrap">
                     <div class="animation-slideTop element-to-hide" style="visibility:visible;">
                    <h2 class="text-center mb0">Features
                    </h2>
                    <div class="separate-line">
                        <span>Our Features</span>
                        <hr>
                    </div>
                     </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Concierge is never a luxury <br> <span>Depute any task to anyone</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-1.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Hate custom mailing?
<br> <span>Experience a novel consignment</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-2.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Socially well connected?
<br> <span>Here you enjoy real benefits</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-3.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Track your service real time
<br> <span>Get updates anywhere anytime</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-4.jpg"  />

                        </div>
                    </div>
                    <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Customer's unique travel needs
<br> <span>Trepr fulfils each in specific</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-5.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Thinking about safe solutions?
<br> <span>Trepr provides secure milieu</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-6.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Wish monetizing your travel?
<br> <span>Advertise your travel plan</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-7.jpg"  />

                        </div>
                    </div>
                    <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Feedbacks make difference
<br> <span>Build a trusted community</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-8.jpg"  />

                        </div>
                    </div>
                    <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                        <h3>Pay and get paid more
                        <br> <span>Serve multiple in a single trip</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-9.jpg"  />

                        </div>
                    </div>
                    <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>National or International
<br> <span>You get our travel services</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-10.jpg"  />

                        </div>
                    </div>
                    <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Make your absence unfelt
<br> <span>Find your perfect substitute</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-11.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Wish a memorable trip?
<br> <span>Plan and travel together</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-12.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Concerned on fares?
<br> <span>Trepr makes incredibly cheap</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-13.jpg"  />

                        </div>
                    </div>
                     <div class="col-md-4 animation-slideTop element-to-hide" style="visibility:visible;">
                        <div class="feature-img">
                            <div class="features-caption">
                                <h3>Benefit travel needs by trust
<br> <span>Effective solution as legends</span></h3>
									</div>
                         <img  src="<?php echo $this->basePath(); ?>/img/features/pic-14.jpg"  />

                        </div>
                    </div>
                </div>
                <div class="gap gap-small">
                </div>
            </div>



            <footer id="main-footer" class="animation-slideTop element-to-hide" style="visibility:visible;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="country">Country
                                    </label>
                                    <div class="col-sm-12">
                                        <select name="country" id="footer_country" class="form-control" placeholder="Country" required="required" onChange="javascript:currencycountry(this.value, 'country');">
                                            <option value="" disabled="" selected="">Country
                                            </option>
                                            <?php
                                            $def_cnty = "United Kingdom";
                                            if ($comSessObj->country) {
                                                $def_cnty = $comSessObj->country;
                                            }
                                            foreach ($this->dfcountry as $valn) {
                                                $selv = '';
                                                if ($def_cnty == $valn['name']) {
                                                    $selv = 'selected="selected"';
                                                }
                                                echo '<option value="' . $valn['ID'] . '" ' . $selv . '>' . $valn['name'] . '</option>';
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="currency">Currency
                                    </label>
                                    <div class="col-sm-12">
                                        <select name="currency" id="footer_currency" class="form-control" placeholder="currency" required="required" onChange="javascript:currencycountry(this.value, 'currency');">
                                            <option value="" disabled="" selected="">Currency
                                            </option>
                                            <!--<option value="">EUR &euro;</option>
                          <option value="">GBP &pound;</option>
                          <option value="">CAD $</option>
                          <option value="">INR &#2352;</option>-->
                                            <?php
                                            $def_cury = "GBP";
                                            if ($comSessObj->currency) {
                                                $def_cury = $comSessObj->currency;
                                            }
                                            foreach ($this->ldcurrency as $valn) {
                                                $selv = '';
                                                if ($def_cury == $valn['currency']) {
                                                    $selv = 'selected="selected"';
                                                }
                                                echo '<option value="' . $valn['currency'] . '" ' . $selv . '>' . $valn['currency'] . ' ' . $valn['currency_code'] . '</option>';
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-4 col-md-5 mt15">
                            <ul class="list list-horizontal list-footer footer-links">
                                <li>
                                    <a href="<?php echo $this->basePath(); ?>/about">About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->basePath(); ?>/legal">Legal
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->basePath(); ?>/support">Help
                                    </a>
                                </li>
                                <li>
                                    <a href="#">News Room
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Contact Us
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-sm-4 col-md-4">
                            <h5>Follow Us</h5>
                            <ul class="list list-horizontal list-space">
                                <li>
                                    <a target="_blank" class="social fb" href="https://www.facebook.com/treprltd/">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="social gplus" href="https://plus.google.com/103289298565049341741/about">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="social twit" href="https://twitter.com/treprltd">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="social linked" href="https://www.linkedin.com/company/Trepr">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="social pinterest" href="https://www.pinterest.com/treprltd/">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="social youtube" href="https://www.youtube.com/user/Trepr">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row" style="background:#000;">
                         <div class="copyright">&copy; Trepr, Ltd.
                            </div></div></div>

            </footer>
            <!-- Start signup Lightbox  -->
            <div id="small-signup" class="mfp-with-anim mfp-hide mfp-dialog modal-sm">
                <div class="row">
                    <div class="social-buttons">
<?php //$loginUrl = $this->facebook->getLoginUrl(array('redirect_uri'=> $this->generalvar['facebook_home_url'],'scope'=>$this->generalvar['facebook_permissions']));  ?>
                        <?php //include"social-login/facebook/index.php";  ?>
                      <!--	<a onclick='javascript:window.open("<?php echo $loginUrl; ?>","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");' class="btn btn-block btn-social btn-facebook mt20" data-populate_uri="" data-redirect_uri="#"><span class="fa fa-facebook"></span> Sign up with Facebook</a> -->
                        <a href="<?php echo $loginUrl; ?>">
                            <span class="fa fa-facebook">
                            </span> Sign up with Facebook
                        </a>
<?php //include"social-login/gpluslogin/index.php";  ?>
                        <!--<a class="btn btn-block btn-social btn-google" onclick='javascript:window.open("<?php echo $this->basePath(); ?>/requestgoogleplus?app_request_type=googleplus_login","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");'><span class="fa fa-google-plus"></span> Sign up with Google</a> -->
                        <a class="btn btn-block btn-social btn-google" href="<?php echo $this->basePath(); ?>/requestgoogleplus?app_request_type=googleplus_login">
                            <span class="fa fa-google-plus">
                            </span> Sign up with Google
                        </a>
                    </div>
                    <div class="signup-or-separator">
                        <span class="h6 signup-or-separator-text">or
                        </span>
                        <hr>
                    </div>
                    <form id="formsignup"  name="formsignup">
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-user input-icon input-icon-swing">
                            </i>
                            <input class="form-control" type="text" id="first_name" name="first_name"  placeholder="First Name" />
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-user input-icon input-icon-swing">
                            </i>
                            <input class="form-control" type="text" id="last_name" name="last_name"   placeholder="Last Name" />
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-envelope-o input-icon input-icon-swing">
                            </i>
                            <input class="form-control" type="text" id="email_address" name="email_address"   placeholder="Email Address" />
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-lock input-icon input-icon-swing">
                            </i>
                            <input class="form-control" type="password" id="password" name="password"   placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Birth Date" class="form-control" id="dob" name="dob"  >
                        </div>
                        <div class="checkbox small">
                            <label>
                                <input type="checkbox" id="subscribe" value="1" name="subscribe" />I'd like to recive future communication from Trepr
                            </label>
                        </div>
                        <div class="form-group">
                            <p class="small">By signing up, I agree to Trepr's
                                <a href="<?php echo $this->basePath(); ?>/legal" data-popup="true">Terms and conditions
                                </a>,
                                <a href="<?php echo $this->basePath(); ?>/legal#user-terms" data-popup="true">User Terms
                                </a> and
                                <a href="<?php echo $this->basePath(); ?>/legal#privacy" data-popup="true">Privacy Policy
                                </a>.
                            </p>
                        </div>
                        <input class="btn btn-primary  btn-block" type="submit" value="Sign Up" />
                    </form>
                    <hr class="mt15 mb15">
                    </hr>
                    <div class="text-left small">
                        Already a member?
                        <a href="#small-login" class="popup-text" data-modal-href="/login_modal" data-modal-type="login">Log In
                        </a>
                    </div>
                </div>
            </div>
<?php
if ($comSessObj->login_try_email_exist == "1") {
    $user_detail = $comSessObj->profile;
    ?>
                <div id="social-login" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                                <h4 class="modal-title social-signup-title">Enter your password to login
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" id="social-formlogin">
                                    <div class="form-group">
                                        <?php
                                        if (strpos($user_detail['image'], "http") !== false) {
                                            $img = $user_detail['image'];
                                        } else {
                                            $img = $this->basePath() . '/temp/' . $user_detail['image'];
                                        }
                                        ?>
                                        <label for="email">
                                            <img src="<?php echo $img ?>" style="width:20%;" class="img-circle">
    <?php $user_detail['first_name'] ?>
    <?php $user_detail['last_name'] ?>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="semail" id="semail" value="<?php echo $user_detail['email_address'] ?>" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Password:
                                        </label>
                                        <input type="password" class="form-control" name="password" value="" required id="spass">
                                    </div>
                                    <button type="submit" class="btn btn-default">Login
                                    </button>
                                    <a href="javascript:" id="not-me">This is not my account
                                    </a>
                                </form>
                                <div class="modal-footer">
                                    <div id="social-login-loader" style="display:none;">Loading..
                                    </div>
                                    <div id="social-login-error" style="color:red;">
                                    </div>
                                    Information from
                <?php $this->comSessObj->social_login_with ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<?php } ?>
<?php
if ($comSessObj->social_login_signup == "1") {
    $user_detail = $comSessObj->profile;
    ?>
                <div id="social-signup" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                                <h4 class="modal-title social-signup-title">Confirm your details
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" id="social-signup-user-detail">
                                    <div class="form-group">
                                        <label for="email">First Name:
                                        </label>
                                        <input type="text" class="form-control" name="first_name" value="<?php echo $user_detail['first_name'] ?>">
                                        <input type="hidden" class="form-control" name="gender" value="<?php echo $user_detail['gender'] ?>">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Last Name:
                                        </label>
                                        <input type="text" class="form-control" name="last_name" value="<?php echo $user_detail['last_name'] ?>">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address:
                                        </label>
                                        <input type="email" class="form-control" name="email" value="<?php echo $user_detail['email_address'] ?>" >
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Date of Birth:
                                        </label>
                                        <input type="text" class="form-control" name="dob" value="" id="dob">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Password:
                                        </label>
                                        <input type="password" class="form-control" name="password" value="" required>
                                    </div>
                                    <button type="submit" class="btn btn-default">Confirm
                                    </button>
                                </form>
                                <form role="form" id="social-signup-user-photo" style="display:none;">
                                    <div class="form-group">
                                        <label for="email">Is this is your photo? Upload different one from your computer.
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <img src="<?php echo $user_detail['image'] ?>" style="width:20%;" class="img-circle">
                                        <input type="hidden" name="profile_photo" value="<?php echo $user_detail['image'] ?>">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Upload new photo
                                        </label>
                                        <input type="file" class="form-control" name="new_profile_photo" id="uploadfile" value="change photo">
                                    </div>
                                    <a id="photo-okay" href="javascipt:void(0);" >Yes, That's me.
                                    </a>
                                    <br>
                                    <a id="uploadfilechange" href="javascript:void(0);" >Upload new photo
                                    </a>
                                </form>
                                <form role="form" id="social-signup-user-phone" style="display:none;">
                                    <div class="form-group">
                                        <label for="email">Your traveller or host use this number on travel
                                        </label>
                                        <input type="text" class="form-control" name="phone" value="" >
                                    </div>
                                    <button type="submit" class="btn btn-default">Confirm Phone Number
                                    </button>
                                </form>
                                <form role="form" id="social-signup-user-email" style="display:none;">
                                    <div class="form-group">
                                        <label for="email">You are Done!
                                        </label>
                                    </div>
                                    <a href="javascript:void(0);" id="clear-social-login" >Let's Go!
                                        </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div id="social-signup-loader" style="display:none;">Loading..
                                </div>
                                <div id="social-signup-error" style="color:red;">
                                </div>
                                Information from
                <?php $this->comSessObj->social_login_with ?>
                            </div>
                        </div>
                    </div>
                </div>
                        <?php } ?>
            <!-- End signup Lightbox  -->
            <!-- Start Login Lightbox  -->
            <div id="small-login" class="mfp-with-anim mfp-hide mfp-dialog modal-sm">
                <div class="row">
                    <div class="social-buttons">
<?php
                    //$loginUrl = $this->facebook->getLoginUrl(array('redirect_uri' => $this->generalvar['facebook_home_url'], 'scope' => $this->generalvar['facebook_permissions']));
                    $googleloginUrl = $this->generalvar['google_return_url'];
?>
                      <!--<a href="javascript:void(0);" onclick='javascript:window.open("<?php $loginUrl; ?>","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");' class="btn btn-facebook" data-populate_uri="" data-redirect_uri="#" >-->
                      <!--<a class="btn btn-block btn-social btn-facebook" onclick='javascript:window.open("<?php $loginUrl; ?>","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=500, height=500");'><span class="fa fa-facebook"></span> Log In with Facebook</a> -->
                        <a class="btn btn-block btn-social btn-facebook" href="<?php $loginUrl; ?>">
                            <span class="fa fa-facebook">
                            </span> Log In with Facebook
                        </a>
                        <!--<a href="javascript:void(0);" onclick='javascript:window.open("<?php echo $this->basePath(); ?>/requestgoogleplus?app_request_type=googleplus_login","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");' class="btn btn-google">-->
                        <!--<a class="btn btn-block btn-social btn-google"   onclick='javascript:window.open("<?php $googleloginUrl; ?>","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=500, height=500");'><span class="fa fa-google-plus"></span> Log In with Google</a> -->
                        <a class="btn btn-block btn-social btn-google"   href="<?php $googleloginUrl; ?>">
                            <span class="fa fa-google-plus">
                            </span> Log In with Google
                        </a>
                    </div>
                    <div class="signup-or-separator">
                        <span class="h6 signup-or-separator-text">or
                        </span>
                        <hr>
                    </div>
                    <form id="formlogin"  name="formlogin">
                        <div id="logginErrMsg" style="color: #FF0000; display: none;">Login Failed, please try again !!!
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-envelope-o input-icon input-icon-swing">
                            </i>
                            <input class="form-control" type="text" id="email" placeholder="Email Address" />
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-lock input-icon input-icon-swing">
                            </i>
                            <input class="form-control" type="password" id="pass" placeholder="Password" />
                        </div>
                        <div class="checkbox small">
                            <label>
                                <input type="checkbox" />Remember me
                            </label>
                            <a href="#small-fp" class="popup-text forgot-password pull-right">Forgot password?
                            </a>
                        </div>
                        <input class="btn btn-primary btn-block" type="submit" value="Log In" />
                    </form>
                    <hr class="mt15 mb15">
                    </hr>
                    <div class="text-left small">
                        Don't have a Trepr Account?
                        <a href="#small-signup" class="popup-text" data-modal-href="/signup_modal" data-modal-type="signup">Sign up
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Login Lightbox  -->
            <!-- End Forgot Password Lightbox  -->
            <div id="small-fp" class="mfp-with-anim mfp-hide mfp-dialog modal-sm">
                <h5 class="panel-heading bg-gray" style="margin: -20px -30px 0px ! important; border-bottom: 1px solid #E2E2E2;">Reset Password
                </h5>
                <div class="row">
                    <p class="small mt10">Enter the email address associated with your account, and we'll email you a link to reset your password.
                    </p>
                    <form id="forgotPasswordBox"  name="forgotPasswordBox">
                        <div class="form-group form-group-lg form-group-icon-right">
                            <i class="fa fa-envelope-o input-icon input-icon-swing">
                            </i>
                            <input class="form-control" id="reset_email" type="email" placeholder="Prepopulate Member's Email ID" />
                        </div>
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Send Reset Link" />
                    </form>
                </div>
            </div>
            <!-- End Forgot Password Lightbox  -->
            <script type="text/javascript">
                var baseurl = "<?php echo $this->basePath(); ?>/index.php";
                var fileurl = "<?php $this->common()->FileUrl(); ?>";
                var themeurl = "<?php $this->common()->ThemeUrl(); ?>";
                var sslurl = "<?php echo $this->sslurl; ?>";
                var nosslurl = "<?php echo $this->nosslurl; ?>";
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/jquery.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/jquery-ui.min.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/jquery.validate.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/bootstrap.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/slimmenu.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/bootstrap-datepicker.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/bootstrap-timepicker.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/bootstrap-select.js">
            </script>

            <script src="<?php echo $this->basePath(); ?>/js/dropit.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/ionrangeslider.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/icheck.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/fotorama.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/card-payment.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/magnific.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/owl-carousel.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/fitvids.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/tweet.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/gridrotator.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/common.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/custom.js">
            </script>
            <script src="<?php echo $this->basePath(); ?>/js/jquery.carousel-1.1.min.js">
            </script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js">
            </script>

             <script src="<?php echo $this->basePath(); ?>/js/custom-css3-animation-loadScroll.js">
            </script>

            <script>





$('.element-to-hide').css('visibility', 'hidden');

                $(function(){
    jQuery('img.svg').each(function(){
        var $img = jQuery(this);
        var imgID = $img.attr('id');
        var imgClass = $img.attr('class');
        var imgURL = $img.attr('src');

        jQuery.get(imgURL, function(data) {
            // Get the SVG tag, ignore the rest
            var $svg = jQuery(data).find('svg');

            // Add replaced image's ID to the new SVG
            if(typeof imgID !== 'undefined') {
                $svg = $svg.attr('id', imgID);
            }
            // Add replaced image's classes to the new SVG
            if(typeof imgClass !== 'undefined') {
                $svg = $svg.attr('class', imgClass+' replaced-svg');
            }

            // Remove any invalid XML tags as per http://validator.w3.org
            $svg = $svg.removeAttr('xmlns:a');

            // Check if the viewport is set, else we gonna set it if we can.
            if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
            }

            // Replace image with new SVG
            $img.replaceWith($svg);

        }, 'xml');

    });
});

                $(function () {
                    var validator = $("#social-formlogin").validate({
                        errorContainer: logginErrMsg,
                        meta: "validate",
                        rules: {
                            email: {
                                required: true,
                                email: true
                            }
                            ,
                            pass: {
                                required: true
                            }
                        }
                        ,
                        submitHandler: function (form) {
                            $("#social-login-loader").show();
                            var forwardto = $("#forwardto").val();
                            $("#social-login-error").html("");
                            var email = $("#semail").val();
                            var password = $("#spass").val();
                            var param = "email=" + email + "&password=" + password;
                            jQuery.ajax({
                                type: "POST",
                                url: baseurl + '/index/signin?social=1',
                                data: param,
                                success: function (msg) {
                                    var datamsg = msg.split('@@@@');
                                    if (datamsg[1] == 'loginfailed') {
                                        //$(".invalidlogin").show();
                                        $("#social-login-loader").hide();
                                        $("#semail").addClass("error");
                                        $("#spass").addClass("error");
                                        $("#social-login-error").html("Email or Password wrong");
                                        //setTimeout('$.unblockUI();',3000);
                                    } else if (datamsg[1] == 'loginsuccess') {
                                        $("#social-login-loader").hide();
                                        window.location.href = baseurl + "/dashboard";
                                        if (after_login_forward == 'refresh') {
                                            location.reload();
                                        }
                                        $("#loggedin_img_name").html(datamsg[2]);
                                        $("#topLinkLogin").hide();
                                        $("#topLinkSingup").hide();
                                        $("#loggedin_container").show();
                                        $("#wrapper, #switchusersearch").css('display', 'block');
                                        $.magnificPopup.close();
                                        $.unblockUI();
                                        location.reload();
                                    }
                                }
                            }
                            );
                        }
                    }
                    );
                <?php if ($comSessObj->social_login_signup == "1") { ?>
                    $("#social-signup").modal("show");
                    //$("#social-signup-trigger").trigger("click");
                <?php } ?>
                <?php if ($comSessObj->login_try_email_exist == "1") { ?>
                    //$comSessObj->login_try_email_exist == "0";
                    $("#social-login").modal("show");
                <?php } ?>
                    $("#not-me").click(function () {
                        var clear_session = $.get(baseurl + "/index/clearsession");
                        clear_session.done(function (data) {
                            $("#social-login").modal("hide");
                        }
                        );
                    }
                    );
                    $("#social-signup-user-detail").submit(function () {
                        $("#social-signup-error").html("");
                        $("#social-signup-loader").show();
                        $("#social-signup-btn1").prop("disabled", true);
                        var savebasicdetails = $.post(baseurl + "/index/socialsignup", $(this).serialize());
                        savebasicdetails.done(function (data) {
                            var data = JSON.parse(data);
                            if (data.code == "200") {
                                $("#social-signup-loader").hide();
                                $("#social-signup-user-detail").hide();
                                $(".social-signup-title").html("Confirm your photo");
                                $("#social-signup-user-photo").show();
                            } else {
                                $("#social-signup-loader").hide();
                                $("#social-signup-error").html(data.message);
                            }
                        }
                        );
                        return false;
                    }
                    );
                    $("#photo-okay").click(function () {
                        $("#social-signup-loader").show();
                        $("#social-signup-btn1").prop("disabled", true);
                        var savebasicdetails = $.post(baseurl + "/index/socialsignup", $("#social-signup-user-photo").serialize());
                        savebasicdetails.done(function (data) {
                            var data = JSON.parse(data);
                            if (data.code == "200") {
                                $("#social-signup-loader").hide();
                                $("#social-signup-user-photo").hide();
                                $(".social-signup-title").html("Confirm your phone");
                                $("#social-signup-user-phone").show();
                            } else {
                                $("#social-signup-error").html(data.message);
                            }
                        }
                        );
                        return false;
                    }
                    );
                    $('#uploadfilechange').click(function () {
                        // select the form and submit
                        $("#social-signup-loader").show();
                        var data = new FormData($('#social-signup-user-photo')['0']);
                        jQuery.ajax({
                            url: baseurl + "/index/socialsignup",
                            data: data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            type: 'POST',
                            success: function (data) {
                                var data = JSON.parse(data);
                                if (data.code == "200") {
                                    $("#social-signup-loader").hide();
                                    $("#social-signup-user-photo").hide();
                                    $(".social-signup-title").html("Confirm your phone");
                                    $("#social-signup-user-phone").show();
                                } else {
                                    $("#social-signup-error").html(data.message);
                                }
                            }
                        }
                        );
                    }
                    );
                    $("#clear-social-login").click(function () {
                        window.location.href = baseurl + "/dashboard";
                    }
                    );
                    $("#social-signup-user-phone").submit(function () {
                        $("#social-signup-loader").show();
                        $("#social-signup-btn-phone").prop("disabled", true);
                        var savebasicdetails = $.post(baseurl + "/index/socialsignup", $("#social-signup-user-phone").serialize());
                        savebasicdetails.done(function (data) {
                            var data = JSON.parse(data);
                            if (data.code == "200") {
                                $("#social-signup-loader").hide();
                                $("#social-signup-user-phone").hide();
                                $(".social-signup-title").html("Thank You!");
                                $("#social-signup-user-email").show();
                            } else {
                                $("#social-signup-error").html(data.message);
                            }
                        }
                        );
                        return false;
                    }
                    );
                    $("#social-signup-user-email").submit(function () {
                        $("#social-signup-loader").show();
                        $("#social-signup-btn1").prop("disabled", true);
                        var savebasicdetails = $.post(baseurl + "/index/socialsignup", $(this).serialize());
                        savebasicdetails.done(function (data) {
                            var data = JSON.parse(data);
                            if (data.code == "200") {
                                $("#social-signup-loader").hide();
                                $("#social-signup-success").html(data.message);
                            } else {
                                $("#social-signup-error").html(data.message);
                            }
                        }
                        );
                    }
                    );
                }
                );
                var watchId = null;
                function geoloc() {
                    /*  if (navigator.geolocation) {
                     var optn = {
                     enableHighAccuracy : true,
                     timeout : Infinity,
                     maximumAge : 0
                     };
                     watchId = navigator.geolocation.watchPosition(showPosition, showError, optn);
                     }*/
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            $.getJSON('http://api.geonames.org/countryCode', {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                                type: 'JSON',
                                username: 'demo'
                            }
                            , function (result) {
                                currencycountry(result.countryName, 'country');
                                //alert(result.countryName);
                                /*   curcyval("locasg",result.countryName);
                                 localStorage.setItem("county", result.countryName);
                                 var cur_country = localStorage.getItem("county");
                                 jQuery.ajax({
                                 type: "POST",
                                 url:baseurl+'/index/getcountry',
                                 data: "cur_country="+cur_country,
                                 success: function(msg){
                                 var obj = jQuery.parseJSON( msg );
                                 $("#footer_country").val(obj.ID);
                                 $("#footer_currency").val(obj.currency_code);
                                 }
                                 });      */
                            }
                            );
                        }
                        );
                    } else {
                        alert('Geolocation is not supported in your browser');
                    }
                }
                $(document).ready(function(){
                   geoloc();
                });
                function showPosition(position) {
                    var googlePos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var mapOptions = {
                        zoom: 12,
                        center: googlePos,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var mapObj = document.getElementById('mapdiv');
                    var googleMap = new google.maps.Map(mapObj, mapOptions);
                    var markerOpt = {
                        map: googleMap,
                        position: googlePos,
                        title: 'Hi , I am here',
                        animation: google.maps.Animation.DROP
                    };
                    var googleMarker = new google.maps.Marker(markerOpt);
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({
                        'latLng': googlePos
                    }
                    , function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                var popOpts = {
                                    content: results[1].formatted_address,
                                    position: googlePos
                                };
                                var popup = new google.maps.InfoWindow(popOpts);
                                google.maps.event.addListener(googleMarker, 'click', function () {
                                    popup.open(googleMap);
                                }
                                );
                            } else {
                                alert('No results found');
                            }
                        } else {
                            alert('Geocoder failed due to: ' + status);
                        }
                    }
                    );
                }
                function stopWatch() {
                    if (watchId) {
                        alert(watchId);
                        navigator.geolocation.clearWatch(watchId);
                        watchId = null;
                    }
                }
                function showError(error) {
                    var err = document.getElementById('mapdiv');
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            err.innerHTML = "User denied the request for Geolocation."
                            break;
                        case error.POSITION_UNAVAILABLE:
                            err.innerHTML = "Location information is unavailable."
                            break;
                        case error.TIMEOUT:
                            err.innerHTML = "The request to get user location timed out."
                            break;
                        case error.UNKNOWN_ERROR:
                            err.innerHTML = "An unknown error occurred."
                            break;
                    }
                }
            </script>
            <script>
                $('#p1service').magnificPopup({
                    items: [
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/1w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/2w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/3w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/4w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/5w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/6w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/7w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/people/seeker/8w.jpg'}
                    ],
                    gallery: {
                        enabled: true
                    }
                    ,
                    type: 'image' // this is default type
                }
                );
                $('#p2service').magnificPopup({
                    items: [
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/1w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/2w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/3w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/4w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/5w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/6w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/7w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/8w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/9w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/package/seeker/10w.jpg'}
                    ],
                    gallery: {
                        enabled: true
                    }
                    ,
                    type: 'image' // this is default type
                }
                );
                $('#p3service').magnificPopup({
                    items: [
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/1w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/2w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/3w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/4w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/5w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/6w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/7w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/8w.jpg'}
                        ,
                        {
                            src: '<?php echo $this->basePath(); ?>/img/services/project/seeker/10w.jpg'}
                    ],
                    gallery: {
                        enabled: true}
                    ,
                    type: 'image' // this is default type
                }
                );
            </script>
            <script>
                jQuery(function ($) {
                    var validator = $('#homesearch').validate({
                        rules: {
                            origin: {
                                required: true
                            }
                            ,
                            destination: {
                                required: true
                            }
                            ,
                            date: {
                                required: true
                            }
                            ,
                            trepservice: {
                                required: true
                            }
                        }
                        ,
                        messages: {
                            origin: "Please set Location",
                            destination: "Please set Location",
                            date: "Please set Date",
                            trepservice: "Please select a Service",
                        }
                        ,
                        submitHandler: function (form) {
                            // do other things for a valid form
                            form.submit();
                        }
                    }
                    );
                }
                );
            </script>
        </div>
    </body>
</html>
