<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics --><!--We have added this code.-->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134464259-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-134464259-1');
      </script><!--End of our code-->
      <title>Travel Companion & Parcel Delivery Services Around The World | Trepr</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="keywords" content="Tour, Earn, Money"/>
      <meta name="description" content="Trepr is the best place to find a travel companion, parcel carrier & international shopping concierge services from origin to destination airports around the world.">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta property="og:image" content="<?php echo $this->basePath() . '/img/email-logo.jpg'; ?>"/>
      <meta property="og:title" content="Trepr - Simply substitute"/>
      <meta property="og:description" content="Get Loved once accompained safely"/>
      <meta property="og:url" content="http://trepr.com/demo/public/"/>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/bootstrap.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/owl-carousel.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/owl-theme.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/bootstrap-datepicker.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/jquery.mCustomScrollbar.css">
      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/vendor/animate.css">

      <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/home.css">

      <!-- Loading JQuery -->
      <script src="<?php echo $this->basePath(); ?>/public/js/jquery.js"></script>
      <script src="<?php echo $this->basePath(); ?>/public/js/jquery-ui.min.js"></script>

      <script>
         var base_url = '<?php echo $this->basePath();?>';
      </script>
   </head>
   <body class="home-top">
      <div class="main-banner-wrapper">
         <div class="trep-toggler" aria-hidden="false">
         </div>
         <!-- .trep-toggler -->
         <!-- TOP AREA -->
         <div class="show-onload">
            <?= $this->render('layout/header.phtml', array('comSessObj' => $sessionObj, 'notification' => $this->notification, 'idCounts' => $this->idCounts, 'traveller_approve' => $this->traveller_approve,'dfcountry' => $countries, 'ldcurrency' => $countries)) ?>
            <div class="home-slider-block"
               style="background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<?php echo $this->basePath(); ?>/public/img/world-first-online-deputation-site.gif) center center no-repeat; ">
               <!-- search bar ( for larger screens )--->
               <div class="hidden-xs hidden-sm lg-screen">
                  <?= $this->render('layout/search-bar.phtml') ?>
               </div>
               <div class="owl-carouselShow">
                  <div id="homeSliderCarousel" class="owl-carousel owl-theme">
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">World's first online deputation site</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="LsthCUk1gv4?autoplay=0&showinfo=0&controls=0&rel=0">How it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/world-first-online-deputation-site.gif"
                           alt="World's first online deputation site">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Get loved ones accompanied safely</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="q8bLoP8i3d0?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/get_loved_ones_accompannied-safely.gif"
                           alt="Get loved ones accompanied safely">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Transport packages anywhere cheaply</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="--jAS2vKvxo?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/transport-packages-anywhere-cheaply.gif"
                           alt="Transport packages anywhere cheaply">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Procure any retailer products promptly</h2>
                                    <a class="btn btn-white btn-ghost how-it-works"
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="0mHVKWUcZiM?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/get-your-remote-tasks-done-promptly.gif"
                           alt="Get your remote tasks done promptly">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Find your right travel substitute</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="2NhDdNhFUkw?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/find-your-right-travel-substitute.gif"
                           alt="Find your right travel substitute">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Simply earn in your personal travel</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="m_ktzytt5gA?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/simply-earn-in-your-personal-travel.gif"
                           alt="Simply earn in your personal travel">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Companionship makes your trip beneficial</h2>
                                    <a class="btn btn-white btn-ghost how-it-works"
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="sUagE8FWB7A?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/companionship-makes-trip-beneficial.gif"
                           alt="Companionship makes trip beneficial">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Carrying others package earns you</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="zbf19cupL3A?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/carrying-others-package-earns-you.gif"
                           alt="Carrying others package earns you">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Help procure others' products for a cost</h2>
                                    <a class="btn btn-white btn-ghost "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="JJ_FI2TUeDE?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/help-finish-others-tasks-for-a-cost.gif"
                           alt="Help finish others tasks for a cost">
                     </div>
                     <div class="owl-box">
                        <div class="owl-inner">
                           <div class="container text-center">
                              <div class="owl-cap-wrap">
                                 <div class="owl-cap">
                                    <h2 class="owl-cap-title">Earn in your trips with less efforts</h2>
                                    <a class="btn btn-white btn-ghost how-it-works "
                                       href="javascript:void(0);" data-toggle="modal" data-target="#youtubeModal" data-src="Mz8eddiThyo?autoplay=0&showinfo=0&controls=0&rel=0">How
                                    it Works</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <img class="owl-img"
                           src="<?php echo $this->basePath(); ?>/public/img/earn-in-your-trips-with-less-efforts.gif"
                           alt="Earn in your trips with less efforts">
                     </div>
                  </div>
               </div>
            </div>
            <!-- search bar ( for larger screens )--->
            <div class="hidden-lg hidden-md sm-screen">
               <?= $this->render('layout/search-bar.phtml') ?>
            </div>
            <!-- search-container-home -->
         </div>
         <!-- END TOP AREA  -->
      </div>
      <!-- travel container starts -->
      <div class="travel-services-container">
         <div class="container-fluid">
            <div class="row less-wide travel-services-block content-block">
               <div class="col-sm-12 text-center">
                  <div class="row">
                     <div class="col-sm-12">
                        <h2 class="font-light">Travel Services</h2>
                        <div class="caption-box">
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                           <h4>We are the best</h4>
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <p class="desp text-center">Almost everyone has his/her local or international travel plans either occasionally or frequently. Trepr connects people all over the world to exchange their travel plan and invoke travel services such as people, package, and product, safely, cheaply and promptly respectively anywhere in the world by substituting a traveler and by paying for the service securedly.
                        </p>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 trepr-flightbooking">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 best">
                           <img src="public/images/trepr-image_23.png" alt="people-image" class="img-responsive">
                           <h3>People</h3>
                           <p>This is a travel companionship service for air passengers who need companionship in their
                              travel safely from origin airport to destination airport with the help of travelers who
                              travel in same route.
                           </p>
                           <div class="btn btn-green read-more" id="peopleBtn" data-effect="mfp-move-horizontal">Read More</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 best">
                           <img src="public/images/trepr-image_25.png" alt="people-image" class="img-responsive">
                           <h3>Package</h3>
                           <p>This is a parcel delivery service for packages which need pickup from origin location to
                              delivery at destination location cheaply with the help of air travelers who travel in same
                              route.
                           </p>
                           <div class="btn btn-green read-more" id="packageBtn" data-effect="mfp-move-horizontal">Read More</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 best">
                           <img src="public/images/trepr-image_27.png" alt="people-image" class="img-responsive">
                           <h3>Product</h3>
                           <p>This is a personal concierge service for people, who want to purchase products from other
                              countries and delivery at destination promptly with the help of travelers, who travel in
                              same route.
                           </p>
                           <div class="btn btn-green read-more" id="productBtn" data-effect="mfp-move-horizontal">Read More</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- travel container ends -->
      <!-- features container starts -->
      <div class="features-container">
         <div class="container-fluid">
            <div class="row less-wide features-block content-block">
               <div class="col-sm-12 text-center">
                  <div class="row">
                     <div class="col-sm-12">
                        <h2 class="font-light">Our Features</h2>
                        <div class="caption-box">
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                           <h4>We are the best</h4>
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                        </div>
                     </div>
                  </div>
                  <div class="lists row">
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list ">
                        <div class="img-wrapper">
                           <img src="public/images/make-absence-unfelt.png" width="100" alt="Make your absence unfelt">
                        </div>
                        <h3 class="font-normal">MAKE YOUR ABSENCE UNFELT</h3>
                        <p class="font-light">Find your perfect travel substitute</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/hate-custom-email.png" width="100" alt="Hate Custom Email">
                        </div>
                        <h3 class="font-normal">HATE CUSTOM MAILING PROCESS?</h3>
                        <p class="font-light">Experience a novel consignment</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/difficult-overseas-purchase.png" width="100" alt="Difficult Overseas Purchase">
                        </div>
                        <h3 class="font-normal">DIFFICULT OVERSEAS PURCHASE?</h3>
                        <p class="font-light">Concierge travelers to buy & deliver</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list ">
                        <div class="img-wrapper">
                           <img src="public/images/concerned-hefty-fares.png" width="100" alt="Concerned Hefty Fares">
                        </div>
                        <h3 class="font-normal">CONCERNED ON HEFTY FARES?</h3>
                        <p class="font-light">Trepr makes incredibly cheaper</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/pay-and-get-paid.png" width="100" alt="Pay and get paid">
                        </div>
                        <h3 class="font-normal">PAY AND GET PAID IN MULTIPLES</h3>
                        <p class="font-light">Serve multiple service in single trip</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/fullfil-travel-needs.png" width="100" alt="Fullfil Travel Needs">
                        </div>
                        <h3 class="font-normal">FULLFIL TRAVEL NEEDS BY TRUST</h3>
                        <p class="font-light">Experience legendry solutions</p>
                     </div>
                  </div>
                  <div class="lists row collapsed">
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list ">
                        <div class="img-wrapper">
                           <img src="public/images/socially-well-connected-new.png" width="100" alt="Socially Well Connected">
                        </div>
                        <h3 class="font-normal">SOCIALLY WELL CONNECTED</h3>
                        <p class="font-light">Here you enjoy real benefits</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/track-your-real-time.png" width="100" alt="Track your real time">
                        </div>
                        <h3 class="font-normal">TRACK YOUR SERVICE REAL TIME</h3>
                        <p class="font-light">Get updates anywhere anytime</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/personalised-travel-needs.png" width="100" alt="Personalised Travel Needs">
                        </div>
                        <h3 class="font-normal">PERSONALISED TRAVEL NEEDS</h3>
                        <p class="font-light">Trepr fullfils each user in specific</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list ">
                        <div class="img-wrapper">
                           <img src="public/images/personal-safety.png" width="100" alt="Personal Safety">
                        </div>
                        <h3 class="font-normal">PERSONAL & PAYMENT SAFETY?</h3>
                        <p>Trepr provides secure environment</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/feedbacks-makes-difference.png" width="100" alt="Feedbacks makes differences">
                        </div>
                        <h3 class="font-normal">FEEDBACKS MAKE DIFFERENCE</h3>
                        <p>Trepr builds trusted community</p>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 list">
                        <div class="img-wrapper">
                           <img src="public/images/questions-travel-services.png" width="100" alt="Questions in travel services">
                        </div>
                        <h3 class="font-normal">QUESTIONS IN TRAVEL SERVICES</h3>
                        <p3 class="font-light">
                        Handholding is just chat away 24 * 7</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12  text-center">
                        <div class="btn btn-green more-features text-uppercase">More Features</div>
                     </div>
                  </div>
               </div>
               <!--best-center-grp-->
            </div>
         </div>
      </div>
      <!-- features container ends -->
      <!-- promotional container starts -->
      <div class="promotional-container">
         <div class="container-fluid">
            <div class="row less-wide promotional-block content-block">
               <div class="col-sm-12">
                  <div class="row head">
                     <div class="col-sm-12 text-center">
                        <h2 class="font-light">Promotional Offer</h2>
                        <div class="caption-box">
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                           <h4>Get rewarded</h4>
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="offer-desp">
                           <h2>Become a Traveler and<br> Get a Chance to win free air ticket<sup><span>*</span></sup></h2>
                           <h3><span>&</span></h3>
                           <h2>Unlimited perks in your<br> Registered Trips</h2>
                           <a class="btn btn-default" href="<?php echo $this->basePath(); ?>/becometraveler/travelinfo">Become a
                           Traveller</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- promotional container ends -->
      <!-- testimonial container starts -->
      <div class="testimonial-container">
         <div class="container-fluid">
            <div class="row less-wide testimonial-block content-block">
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-sm-12 text-center">
                        <h2 class="font-light">Every One Loves Trepr</h2>
                        <div class="caption-box">
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                           <h4>We are the best</h4>
                           <span class="pull-left"><img class="pull-left" src="public/images/lineimage_03.png" alt="line"></span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div id="testimonial-slider" class="owl-carousel owl-testimonial">
                           <?php
                              foreach ($testimonials as $testimonial) { ?>
                           <div class="item testimonial">
                              <div class="photo-box" style="background: url(<?php echo $this->basePath(); ?>/public/uploads/testimonials/medium/<?php echo $testimonial['testimonial_Image']; ?>) no-repeat;">
                              </div>
                              <div class="full-width text-center">
                              </div>
                              <p class="description">
                                 <?php echo $testimonial['testimonial_Description']; ?>
                              </p>
                              <h3 class="title"><?php echo $testimonial['testimonial_Name']; ?></h3>
                              <span class="post"><?php echo $testimonial['testimonial_Position']; ?></span>
                           </div>
                           <?php }
                              ?>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- testimonial container ends -->
      <?php echo $this->render('layout/footer.phtml', array('dfcountry' => $countries, 'ldcurrency' => $countries, 'comSessObj' => $sessionObj)); ?>
      <?php echo $this->render('layout/pop_box.phtml', array('countries' => $countries, 'comSessObj' => $sessionObj)); ?>

      <!-- Loading home js -->
      <script src="<?php echo $this->basePath(); ?>/public/js/home.js"></script>
      <?php echo $this->render('layout/common-scripts.phtml'); ?>
      <?php //echo $this->render('layout/home-scripts.phtml'); ?>
      <script
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUlWJke1V2SAp-RnQd4EK7O2J_G9IzgYw&libraries=places&callback=initAutocomplete"
         async defer></script>
      <!--<script src="https://maps.googleapis.com/maps/api/js?input=Paris&libraries=places&key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE "></script>
         -->
      <script src="<?php echo $this->basePath(); ?>/public/js/jquery.geocomplete.min.js"></script>
      <!--Start of Tawk.to Script-->
      <!--<script>
         var Tawk_API = Tawk_API || {},
             Tawk_LoadStart = new Date();
         (function () {
             var s1 = document.createElement("script"),
                 s0 = document.getElementsByTagName("script")[0];
             s1.async = true;
             s1.src = 'https://embed.tawk.to/59926ab3dbb01a218b4dc63c/default';
             s1.charset = 'UTF-8';
             s1.setAttribute('crossorigin', '*');
             s0.parentNode.insertBefore(s1, s0);
         })();
         $(document).ready(function () {
             var need_user_profile = '<?php /*echo $this->sessionObj->need_user_profile;*/?>';
             if (need_user_profile == '1') {
                 $('#signUpLink').click();
             }
         });
         </script>-->
      <!--End of Tawk.to Script-->
   </body>
</html>
