<div class="content-wrapper">
  <h2 class="text-center title">Overseas Online &AMP; Merchants</h2>
    <div class="content-box merchants">
      <div class="desp">
        <div class="row">
           <div class="col-md-3">
              <div class="sidebar-wrap">
                 <div class="user-profile-sidebar">
                    <ul class="tabs list user-profile-nav" role="tablist">
                       <li role="help" class="main-menu active current">
                          <a class="menuLink" href="#overseasMerchants" aria-controls="overseasMerchants" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Overseas merchants</a>
                          <ul class="sub-menu">
                             <li>                                        <a href="#brands" aria-controls="brands" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Brands</a>                                    </li>
                             <li>                                        <a href="#usMer" aria-controls="usMer" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>US Merchants</a>                                    </li>
                             <li>                                        <a href="#ukMer" aria-controls="ukMer" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>UK Merchants</a>                                    </li>
                             <li>                                        <a href="#japanMer" aria-controls="japanMer" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Japan Merchants</a>                                    </li>
                             <li>                                        <a href="#chinaMer" aria-controls="chinaMer" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>China Merchants</a>                                    </li>
                             <li>                                        <a href="#fashion" aria-controls="fashion" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Fashion</a>                                    </li>
                             <li>                                        <a href="#tech" aria-controls="tech" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Tech &amp; gadgets</a>                                    </li>
                             <li>                                        <a href="#lifestyle" aria-controls="lifestyle" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Lifestyle</a>                                    </li>
                             <li>                                        <a href="#fitness" aria-controls="fitness" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Sports &amp; fitness</a>                                    </li>
                             <li>                                        <a href="#babies" aria-controls="babies" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Toys, kids &amp; babies</a>                                    </li>
                             <li>                                        <a href="#beauty" aria-controls="beauty" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Health &amp; beauty</a>                                    </li>
                          </ul>
                       </li>
                       <li class="main-menu" role="help"><a class="menuLink" href="#specialPromotions" aria-controls="specialPromotions" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>Special promotions</a></li>
                       <li class="main-menu" role="help"><a class="menuLink" href="#shoppingTips" aria-controls="shoppingTips" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i>                                    Overseas shopping tips</a></li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="col-md-9">
              <div class="tab-content merchants-details">
                 <div role="tabpanel" id="overseasMerchants" class="tab-pane fade in active">                        <?php echo $this->render('layout/includes/overseas-merchants.phtml') ?>                    </div>
                 <div role="tabpanel" id="brands" class="tab-pane fade">                       <?php echo $this->render('layout/includes/brands.phtml') ?>                    </div>
                 <div role="tabpanel" id="usMer" class="tab-pane fade">                         <?php echo $this->render('layout/includes/us-merchants.phtml') ?>                    </div>
                 <div role="tabpanel" id="ukMer" class="tab-pane fade">                         <?php echo $this->render('layout/includes/uk-merchants.phtml') ?>                    </div>
                 <div role="tabpanel" id="japanMer" class="tab-pane fade">                         <?php echo $this->render('layout/includes/japan-merchants.phtml') ?>                    </div>
                 <div role="tabpanel" id="chinaMer" class="tab-pane fade">                         <?php echo $this->render('layout/includes/china-merchants.phtml') ?>                    </div>
                 <div role="tabpanel" id="fashion" class="tab-pane fade">                         <?php echo $this->render('layout/includes/fashion.phtml') ?>                    </div>
                 <div role="tabpanel" id="tech" class="tab-pane fade">                         <?php echo $this->render('layout/includes/tech.phtml') ?>                    </div>
                 <div role="tabpanel" id="lifestyle" class="tab-pane fade">                         <?php echo $this->render('layout/includes/lifestyle.phtml') ?>                    </div>
                 <div role="tabpanel" id="fitness" class="tab-pane fade">                         <?php echo $this->render('layout/includes/fitness.phtml') ?>                    </div>
                 <div role="tabpanel" id="babies" class="tab-pane fade">                         <?php echo $this->render('layout/includes/babies.phtml') ?>                    </div>
                 <div role="tabpanel" id="beauty" class="tab-pane fade">                         <?php echo $this->render('layout/includes/beauty.phtml') ?>                    </div>
                 <div role="tabpanel" id="specialPromotions" class="tab-pane fade">                       <?php echo $this->render('layout/includes/special-promotions.phtml') ?>                    </div>
                 <div role="tabpanel" id="shoppingTips" class="tab-pane fade">                         <?php echo $this->render('layout/includes/overseas-shopping-tips.phtml') ?>                    </div>
              </div>
           </div>
        </div>
      </div>
    </div>
</div>
<script>       $(document).ready(function()    {    $('.sub-menu li').click(function(e)    {    $('.sub-menu').parents('.main-menu').removeClass('active');  });    $('ul.user-profile-nav li.main-menu a.menuLink').click(function (e) {    $('ul.user-profile-nav li.main-menu.current').removeClass('current');    $(this).parent('li.main-menu').addClass('current');    });           $(window).scroll(function () {        if ($(this).scrollTop() > 100) {            $('.scrollup').fadeIn();        } else {            $('.scrollup').fadeOut();        }    });    $('.scrollup').click(function () {        $("html, body").animate({            scrollTop: 0        }, 600);        return false;    });            });    var topH = $(".header-top").innerHeight();    var topAd = topH + 15;    $(document).on('click', '.brandCat a', function (event) {    event.preventDefault();    $('html, body').animate({    scrollTop: $($.attr(this, 'href')).offset().top - topAd    }, 500);    });</script>
