<div class="travel-container">
    <?php

    if (count($this->completed_trips) > 0) {

        foreach ($this->completed_trips as $trip) {
            ?>

            <div class="taveler-content">

                <div class="booking-item traveler-sec">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 dep-date">
                            <div class="graybox">
                                <div class="calendar-daily cal-travel">
                                    <p class="title">
                                        DEPARTURE
                                        <span class="subtitle">
                                            <?php echo (strpos($trip['departure_date'], '1970-01-01') > -1) ? '-' : $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>
                                        </span>
                                    </p>
                                </div>
                                <div class="graybox-footer graybox-footer-calendar cal-travel">
                                    <p class="title-01">
                                        ARRIVAL
                                        <span class="subtitle">
                                         <?php echo (strpos($trip['arrival_date'], '1970-01-01') > -1) ? '-' : $this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']); ?>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12 dep-travel">
                            <div class="graybox graybox-rt">
                                <div class="row">
                                    <div class="graybox-heading-full travelInfo col-sm-8 col-xs-12">
                                        <div class="row">
                                            <div class="areo col-sm-3">
                                                <span class="from">FROM</span>
                                                <i class="fa fa-plane"></i>
                                            </div>
                                            <div class="from-to-locate dep-locate col-sm-9">
                                                <h5><?php echo $trip['origin_location_city']; ?>
                                                    , <?php echo $trip['origin_location_country'] . ' (' . $trip['origin_location_code'] . ')'; ?></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="areo col-sm-3">
                                                <span>TO</span>
                                                <i class="fa fa-plane fa-flip-vertical"></i>
                                            </div>
                                            <div class="from-to-locate dep-locate col-sm-9">
                                                <h5><?php echo $trip['destination_location_city']; ?>
                                                    , <?php echo $trip['destination_location_country'] . ' (' . $trip['destination_location_code'] . ')'; ?></h5>
                                            </div>
                                        </div>
                                        <div class="graybox-footer">
                                            <div class="graybox-row">
                                                <div class="graybox-foot service col-xs-7">
                                                    <div class="head-box">
                                                        <i class="fa fa-briefcase"></i> <span
                                                            class="i-head">SERVICES</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><?php echo $trip['service']; ?></p>
                                                    </div>
                                                </div>

                                                <div class="graybox-foot service col-xs-5">
                                                    <div class="head-box">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="i-head">CREATED</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="graybox-foot status">
                                            <div class="head-box">
                                                <span class="i-head">STATUS</span>
                                            </div>
                                            <div class="head-box-bot">
                                                <p class="label label-success"><i class="fa fa-check"></i></p>

                                                <p>Approved</p>
                                                <!--<p class="label label-danger"><i class="fa fa-times"></i></p>
                                                <p>Rejected</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 dep-detail">
                            <div class="req-common" style="position:relative;">
                                <a href="/seeker/receipt/<?php echo $trip['ID']; ?>?service=<?php echo $trip['service']; ?>">
                                    <h5>
                                        <?php  echo $comSessObj->currencycode; ?>
                                        <?php echo $trip['totalExpenses']; ?>
                                        <?php echo $comSessObj->currency;?>
                                    </h5>
                                </a>
                            </div>
                            <div class="req-common" style="position:relative;">
                                <a href="/seeker/receipt/<?php echo $trip['ID']; ?>?service=<?php echo $trip['service']; ?>">
                                    <h5>
                                        View Receipt
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php
        }
    }
    ?>
</div>
<div class="gap gap-small"></div>
<style type="text/css">
    .wishlist_cnt {
        background-color: #c00;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #fff;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: -10px;
        text-align: center;
        top: -10px;
        width: 20px;
        cursor: pointer;
    }
</style>
