<?php
$this->headScript()->appendScript("seekerTripHistoryClinkload(); setTimeout(function(){ seekerTripHistoryClinkload(); }, 3000);");
?>
   <div class="tab-content">
        <div id="seeker" class="tab-pane fade in active">
            <div class="search-page-block">
            <h2 class="text-center title">Travel Plan History</h2>
            <div class="row">
             <div class="col-md-9">
 <div class="page-block bg-white">
                <div class="row">
 <div class="col-md-12 form-group">

                        <div class="btn-group btn-group-active pull-right">

                         <a href="<?php echo $this->basePath()?>/mytriphistory" class="btn btn-default <?php echo (!isset($_GET['filterby']) || empty($_GET['filterby']))?'active':''?>">All</a>

                            <a href="<?php echo $this->basePath()?>/mytriphistory?filterby=active" class="btn btn-default <?php echo (isset($_GET['filterby']) && ($_GET['filterby'] == 'active'))?'active':''?>">Active</a>

                            <a href="<?php echo $this->basePath()?>/mytriphistory?filterby=expired" class="btn btn-default <?php echo (isset($_GET['filterby']) && ($_GET['filterby'] == 'expired'))?'active':''?>">Expired</a>

                          <!--  <button class="btn btn-default">Deleted</button>-->

                        </div>

                    </div>

                </div>



 <?php if(isset($this->serviceExpenses) && !empty($this->serviceExpenses)){
     foreach($this->serviceExpenses as $wishlistRow){



         ?>

     <div class="booking-item mb15">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 date">
<!--                                    <div class="graybox graybox-01">
                                        <div class="calendar-daily">
                                             <span class="label <?php //echo $wishlistRow['labelClass'] ?>">Trip <?php //echo $wishlistRow['tripStaus'] ?></span>
                                            <span class="subtitle">
 <?php //echo $this->common()->timeZoneAdjust('D, d M y', $wishlistRow['departure_date']); ?>
</span>
                                        </div>

                                        <div class="graybox-footer graybox-footer-calendar">
                                            <p class="title-01"></p>
                                            <span class="subtitle">
                                                <?php //if(strtotime($wishlistRow['arrival_date']) != false)echo $this->common()->timeZoneAdjust('D, d M y', $wishlistRow['arrival_date']); ?>
                                     </span></div>
                                    </div>-->

        <?php if ($wishlistRow['travel_plan_reservation_type'] != '2' && $wishlistRow['service'] == 'People') { ?>
<div class="graybox graybox-01">
                                                    <div class="calendar-daily">
                                                        <span class="label <?php echo $wishlistRow['labelClass'] ?>">Trip <?php echo $wishlistRow['tripStaus'] ?></span>
                                                        <p class="title">
                                                            DEPARTURE DATE
                                                            <span class="subtitle">
                                                                 <?php echo !empty($wishlistRow['departure_date'])?$this->common()->timeZoneAdjust('D, d M y', $wishlistRow['departure_date']):""; ?>
                                                            </span>
                                                        </p>
                                                    </div>
            <?php if (isset($wishlistRow['arrival_date']) && !empty($wishlistRow['arrival_date']) && $wishlistRow['travel_plan_reservation_type'] != 2) { ?>
                                                        <div class="graybox-footer graybox-footer-calendar">
                                                            <p class="title-01">
                                                                ARRIVAL DATE
                                                                <span class="subtitle">
                                                                    <?php echo $this->common()->timeZoneAdjust('D, d M y', $wishlistRow['arrival_date']); ?>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    <?php
                                                    }?></div><?php
                                                }
                                                ?>
        <?php if ($wishlistRow['travel_plan_reservation_type'] == '2' || $wishlistRow['service'] != 'People') {
            if (!empty($wishlistRow['project_start_date']) && !empty($wishlistRow['project_end_date'])) {
            ?><div class="graybox graybox-01">
                                                    <div class="calendar-daily">
                                                        <p class="title">
                                                            DATE RANGE FROM
                                                            <span class="subtitle">
            <?php echo !empty($wishlistRow['project_start_date'])?$this->common()->timeZoneAdjust('D, d M y', $wishlistRow['project_start_date']):""; ?>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="graybox-footer graybox-footer-calendar">
                                                        <p class="title-01">
                                                            DATE RANGE TO


                                                            <span class="subtitle">
            <?php echo !empty($wishlistRow['project_end_date'])?$this->common()->timeZoneAdjust('D, d M y', $wishlistRow['project_end_date']):""; ?>
                                                            </span>
                                                        </p>
                                                    </div>
            </div>
        <?php }} ?>

                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12 travel">
                                    <div class="graybox graybox-rt">
                                        <div class="graybox-heading-full">
                                            <div class="row">
                                                <div class="areo col-md-2 col-sm-3">
                                                    <span class="from">FROM</span>
                                                    <i class="fa fa-plane"></i>

                                                </div>
                                                <div class="from-to-locate col-md-10 col-sm-9">
                                                    <h5><?php echo $wishlistRow['origin_location_city']?>, <?php echo $wishlistRow['origin_location_country']?> (<?php echo $wishlistRow['origin_location_code']?>)</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="areo col-md-2 col-sm-3">
                                                    <span>TO</span>
                                                    <i class="fa fa-plane fa-flip-vertical"></i>
                                                </div>
                                                <div class="from-to-locate col-md-10 col-sm-9">
                                                    <h5><?php echo $wishlistRow['destination_location_city']?>, <?php echo $wishlistRow['destination_location_country']?> (<?php echo $wishlistRow['destination_location_code']?>)</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="areo col-md-12 graybox-price">
                                                <span class="amount"><?php echo number_format($wishlistRow['pay_amount'],2); ?></span><span class="currency"><?php echo !empty($wishlistRow['pay_currency'])?$wishlistRow['pay_currency']:'USD'; ?></span>
                                            </div>
                                        </div>
                                        <div class="graybox-footer">
                                            <div class="row graybox-row">
                                                <div class="graybox-foot service col-lg-4 col-md-5 col-sm-5 col-xs-7">
                                                    <div class="head-box">
                                                        <i class="fa fa-briefcase"></i>&nbsp;<span class="i-head">SERVICES</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><?php echo $wishlistRow['service']; ?></p>
                                                    </div>
                                                </div>

                                                <div class="graybox-foot service col-lg-4 col-md-3 col-sm-3 col-xs-5">
                                                    <div class="head-box">
                                                        <i class="fa fa-calendar"></i>&nbsp;<span class="i-head">CREATED</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><?php echo date('d/m/Y', $wishlistRow['pay_added'])?></p>
                                                    </div>
                                                </div>

                                                <div class="graybox-foot status col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="head-box">
                                                        <i class="fa fa-clock-o"></i>&nbsp;<span class="i-head">Booking ID</span>
                                                    </div>
                                                    <div class="head-box-bot">
                                                        <p><!--HTLWR45694W --> -- </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <?php
     }
 }else{
     ?>
 <div class="col-md-12">
            <div class="booking-listBlock"><span class="booking-item-wishlist-title">

              No records found.
            </div>
        </div>
 <?php
 }
?>








             </div>
            </div>


            <div class="col-md-3">
 <aside class="sidebar-right bg-white">
                        <div class="sidebar-block">
                            <div class="sidebar-header">
                                <h5 class="mb0">Total <?php echo ($comSessObj->userrole == 'seeker')?'Expenses':'Earnings';?></h5>
                            </div>
                            <div class="sidebar-block-inner text-center">
                                <div class="panel panel-default">
                                    <!--                                            <div class="block-inner-title">People Service</div>-->
                                    <div class="text-center est-price">
                                        <span>$<?php echo number_format($totalPayAmount,2)?></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>

            </div>

            </div>

        </div>
        </div>

        <!-- seeker -->

        <div id="provider" class="tab-pane fade">

            <div class="col-xs-4 col-sm-3 col-md-3">

                <aside class="sidebar-left">

                    <h4 class="text-center mb15">Total Expenses</h4>

                </aside>

            </div>

            <div class="col-xs-8 col-sm-9 col-md-9">

                <h4 class="mb15">My Trip Expenses</h4>

            </div>

        </div>

        <!-- provider -->
        <script>
$(".btn-group-active > .btn").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
});
</script>
    </div>
