<?php
$this->headScript()->appendScript("seekerTripHistoryClinkload(); setTimeout(function(){ seekerTripHistoryClinkload(); }, 3000);");
?>
<div class="content-wrapper" id="seeker">
	<h2 class="text-center title"><?php echo ($comSessObj->userrole == 'seeker')?'Travel Need History':'Travel Plan History';?></h2>
	<div class="content-box">
		<div class="desp">
						<div class="row">
							<div class="col-md-12 form-group">
								<div class="btn-group btn-group-active pull-right">
										<a href="<?php echo $this->basePath()?>/mytriphistory" class="btn btn-default <?php echo (!isset($_GET['filterby']) || empty($_GET['filterby']))?'active':''?>">All</a>
										<a href="<?php echo $this->basePath()?>/mytriphistory?filterby=active" class="btn btn-default <?php echo (isset($_GET['filterby']) && ($_GET['filterby'] == 'active'))?'active':''?>">Active</a>
										<a href="<?php echo $this->basePath()?>/mytriphistory?filterby=expired" class="btn btn-default <?php echo (isset($_GET['filterby']) && ($_GET['filterby'] == 'expired'))?'active':''?>">Expired</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<?php
									if ($this->all_trips) {
									foreach ($this->all_trips as $trip) {
										$orginLocation = $this->common()->getAirPort($trip['origin_location']);
										$destinationLocation = $this->common()->getAirPort($trip['destination_location']);
								?>
									<div class="booking-item mb15">
										<div class="row">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
												<div class="graybox graybox-01">
													<?php if($comSessObj->userrole != 'seeker'){ ?>
													<div class="calendar-daily">
														<p class="title">
															DEPARTURE
															<span class="subtitle">
																<?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>
															</span>
														</p>
													</div>
													<div class="graybox-footer graybox-footer-calendar">
														<p class="title-01">
															ARRIVAL
															<span class="subtitle">
																<?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']); ?>
															</span>
														</p>
													</div>
													<?php } else { ?>
													<?php if ($trip['travel_plan_reservation_type'] != '2' && $trip['service'] == 'People') { ?>

																									<div class="calendar-daily">

																											<p class="title">

																													DEPARTURE DATE

																													<span class="subtitle">

					<?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>

																													</span>

																											</p>

																									</div>

					<?php if (isset($trip['arrival_date']) && !empty($trip['arrival_date']) && $trip['travel_plan_reservation_type'] != 2) { ?>

																											<div class="graybox-footer graybox-footer-calendar">

																													<p class="title-01">

																															ARRIVAL DATE

																															<span class="subtitle">

							<?php echo ($trip['arrival_date'])?$this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']):'--'; ?>

																															</span>

																													</p>

																											</div>

																									<?php

																									}

																							} ?>
															<?php if ($trip['travel_plan_reservation_type'] == '2' || $trip['service'] != 'People') { ?>

																									<div class="calendar-daily">

																											<p class="title">

																													DATE RANGE FROM

																													<span class="subtitle">

					<?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['project_start_date']); ?>

																													</span>

																											</p>

																									</div>

																									<div class="graybox-footer graybox-footer-calendar">

																											<p class="title-01">

																													DATE RANGE TO





																													<span class="subtitle">

					<?php echo $this->common()->timeZoneAdjust('D, d M y', $trip['project_end_date']); ?>

																													</span>

																											</p>

																									</div>

			<?php } ?>
													<?php } ?>
												</div>
											</div>
											<div class="col-lg-10 col-md-9 col-sm-10 col-xs-12">
												<div class="graybox graybox-rt">
													<div class="row">
													<a class="" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
													<div class="graybox-heading-full travelInfo col-sm-8 col-xs-12">
														<div class="row">
															<div class="areo col-sm-3">
																<span class="from">FROM</span>
																<i class="fa fa-plane"></i>
															</div>
															<div class="from-to-locate from-2-travel col-sm-9">
																<h5><?php echo $orginLocation['city']; ?>, <?php echo $orginLocation['country'].' ('.$orginLocation['code'].')'; ?></h5>
															</div>
														</div>
														<div class="row">
															<div class="areo col-sm-3">
																<span>TO</span>
																<i class="fa fa-plane fa-flip-vertical"></i>
															</div>
															<div class="from-to-locate from-2-travel col-sm-9">
																<h5><?php echo $destinationLocation['city']; ?>, <?php echo $destinationLocation['country'].' ('.$destinationLocation['code'].')'; ?></h5>
															</div>
														</div>
														 <div class="graybox-footer">
														<div class="graybox-row">
															<div class="graybox-foot service col-xs-7">
																<div class="head-box">
																	<i class="fa fa-briefcase"></i> <span class="i-head">SERVICES</span>
																</div>
																<div class="head-box-bot">
																	<p><?php echo $trip['service']; ?></p>
																</div>
															</div>
															<div class="graybox-foot service col-xs-5">
																<div class="head-box">
																	<i class="fa fa-calendar"></i> <span class="i-head">CREATED</span>
																</div>
																<div class="head-box-bot">
																	<p><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
																</div>
															</div>
														</div>
													</div>
													</div></a>
													<div class="col-sm-2 col-xs-12">
														<div class="graybox-foot status">
															<div class="head-box">
																<span class="i-head">STATUS</span>
															</div>
															<div class="head-box-bot">
																 <a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
																 <p><?php echo $trip['trip_status_txt']; ?></p>
																 </a>
															</div>
														</div>
													</div>
													<div class="col-sm-2 col-xs-12">
														<?php if(isset($trip['total_cost']) && $trip['total_cost'] != '' && $trip['total_cost'] > 0){ ?>
														<div class="graybox-foot status">
															<div class="head-box">
																<span class="i-head"><?php echo ($comSessObj->userrole != 'seeker')?'SERVICE EARNINGS':'SERVICE FEE';?></span>
															</div>
															<div class="head-box-bot">
																 <a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
																 <p><?php echo $trip['total_cost_currency'].$trip['total_cost'];?></p>
																 </a>
															</div>
														</div>
														<?php } ?>
													</div>
													 </div>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}
							else
							{
							?>

								<p>No travel service need is added. Please add your people/pacakge/product service needs</p>
							<?php
								}
							?>
							</div>
						</div>
								</div>
							</div>
				<!--<div class="col-md-3">
					<aside class="sidebar-right bg-white">
						<div class="sidebar-block">
							<div class="sidebar-header">
								<h5 class="mb0">Total <?php echo ($comSessObj->userrole == 'seeker')?'Expenses':'Earnings';?></h5>
							</div>
							<div class="sidebar-block-inner text-center">
								<div class="panel panel-default">
									<div class="text-center est-price">
										<span>$<?php echo number_format($totalPayAmount,2)?></span>
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>-->
</div>
<script>
$(".btn-group-active > .btn").click(function(){
	$(this).addClass("active").siblings().removeClass("active");
});
</script>
