 <?php
                           // print_r($this->mytrip);
                            foreach($this->mytripv as $val)
                            {
                                $hk=date("d-l-F-Y",strtotime($val['departure_date']));
                                $dtsp=explode("-",$hk);
                                $from=date("Y-m-d",strtotime($val['departure_date']));
                                $to=date("Y-m-d");
                                 $dfc=$this->common()->datediffcal($from,$to);
                                 if($dfc<0)
                                 {
                                     $shcls="warning";
                                     $shmsg="Expired Trips";
                                 }else{
                                     $shcls="success";
                                     $shmsg="Active Trips";
                                 }
                                ?>
                    <div class="row">
                           
				<div class="col-md-3">
					<div class="graybox">
						<div class="calendar-daily">
							<p class="title"><?=$dtsp[0];?></p>
							<span class="subtitle"><?=$dtsp[1];?></span>
						</div>
						<div class="graybox-footer graybox-footer-calendar"><span><?=$dtsp[2].' '.$dtsp[3];?></span></div>
						<div class="graybox-wrap graybox-wrap-<?=$shcls;?>"><?=$shmsg;?></div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="graybox">
						<div class="graybox-heading">
							<div class="fromto">
								<h5 class=""><?=$val['name'];?></h5>
								<h5 class=""><?=$val['origin_location'];?></h5>
							</div>
						</div>
						<div class="graybox-right-col">
							<span class="amount">90</span>
							<span class="currency">USD</span>
						</div>
						<div class="graybox-footer">
							<div class="sixty-present">
								<div class="head-tag"><i class="fa fa-briefcase"></i>Services</div><span><?=$this->tripser->viewservicetrip($val['ID']);?></span>
							</div>
							<div class="forty-present">
								<div class="head-tag"><i class="fa fa-clock-o"></i>Booking ID</div><span>HTLWR45694W</span>
							</div>
						</div>
					</div>
				</div>
			</div>
                                 <?php
                            }
                            
                            $pagcnt=($_REQUEST['page']*5);
                            if($this->mytripcnt>$pagcnt){
                            ?>
<a href="javascript:void(0);" onclick="javascript:clinkload();" class="ladtg" sty>Load More</a>
                            <?php } ?>