<?php if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($pageRow) && !empty($pageRow)) {
    extract($pageRow);
} ?>
<div class="content-wrapper">
  <h2 class="text-center title">News Room</h2>
    <div class="content-box news-room">
      <?php echo $page_Content; ?>
    </div>
</div>
