<?php if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
}
if (isset($pageRow) && !empty($pageRow)) {
    extract($pageRow);
} ?>
<div class="content-wrapper">
  <h2 class="text-center title">Privacy Policy</h2>
  <div class="content-box">
    <div class="desp">
      <?php echo $page_Content; ?>
    </div>
  </div>
</div>
