<!--<div id="bgimg" class="container img-responsive">
    <div class="page-header no-border"><h2 class="text-center text-white">About Us</h2></div>
</div>-->
<?php if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
} ?>
<div class="content-wrapper">
  <h2 class="text-center title">Prohibited or Restricted Items</h2>
    <div class="content-box prohibited">
      <div class="desp">
        <p>
            To avoid wasted time and stress, please review the following list of prohibited items to ensure that your next
            shipment doesn't end up delayed. If you are unsure about whether an item is prohibited, please contact our
            Customer Service team PRIOR to purchasing.
        </p>
        <div class="select-list">
          <select class="form-control">
              <option>Select Country</option> <?php foreach ($countries as $countryRow) { ?>
              <option value="<?php echo $countryRow['ID'] ?>"><?php echo $countryRow['name'] ?></option><?php } ?>
          </select>
        </div>
        <div class="inner-content">
            <div class="waterfall">
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image">
                            <img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-01.jpg">
                        </div>
                        <div class="pro-blockDec">
                            <p>
                                Combustible and flammable items including paints, oils, lighters,
                                perfume, nail polishes, solvents, corrosive,lithium ion batteries (either contained in,
                                packaged with, or individually packaged) or any other Danger Good described in the DOT 49cfr
                                regulations and or the IATA Regulations, etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image">
                            <img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-02.jpg">
                        </div>
                        <div class="pro-blockDec">
                            <p>
                                Pressurized materials such as hair spray, shaving cream, or spray cans
                                of any type and hazardous materials such as fuels, chemicals, or explosives.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-03.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Firearms, weaponry, and their components and parts, including military,
                                police and tactical equipment of any kind, guns, gun replicas, gun accessories, gun
                                components (magazines, clips, and rail systems), ammunition, knives with blades over 6",
                                swords, compound bows, crossbows, discharge weapons such as shock batons or stun guns,
                                tooling for guns or gun parts, paintball guns and accessories, optical scopes, laser sights,
                                night sights, night vision goggles, handcuffs and other restraints, and surveillance
                                equipment . Basically, if it can be used as a weapon, we won't ship it.</p></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-04.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Agricultural products such as plants, seeds, fruit, and nuts.</p></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-05.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Perishable foods of any type are prohibited.</p></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-06.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Animals and products made with animal fur are prohibited in most
                                countries.</p></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-07.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Alcohol of any quantity, tobacco and nicotine products of any kind,
                                including e-cigarettes and their components.</p></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-08.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Cash, currency, money orders, credit and debit cards (including prepaid
                                cards), bullion and precious metals, cashiers' checks, bank drafts, bearer bonds,
                                collectible stamps and coins, lottery tickets, or gambling devices and paraphernalia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-09.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Jewelry and precious stones are restricted to some countries and only
                                insurable up to a maximum of $500. Any shipments of jewelry in excess of the $500 carriage
                                limit will be uninsured and the customer assumes all risk of loss above such limit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-10.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Prescription medications are prohibited.</p></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-block mb-0">
                        <div class="pro-block-image"><img src="<?php echo $this->basePath(); ?>/public/img/prohit-img-11.jpg">
                        </div>
                        <div class="pro-blockDec"><p>Pornography is prohibited in most countries.</p></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<script src="<?php echo $this->basePath(); ?>/public/js/jquery.waterfall.js"></script>
<script>
    $(document).ready(function () {
        waterfall();
    });
    function waterfall() {
        $('.waterfall').waterfall({colMinWidth: 250, defaultContainerWidth: 800, autoresize: true});
    }
</script>
