<?php $this->dfcountry = $this->common()->common_model->getCountries();
$this->ldcurrency = $this->common()->common_model->getCurrencies();
$sessionObj = $this->common()->comSessObj;

//print_r($_REQUEST);die;
?>
    <!DOCTYPE HTML>
    <html>

    <head>
        <title>Trepr - Simply Substitute</title>
        <?= $this->render('layout/top.phtml') ?>

        <style type="text/css">
                .input-group.passsize
                {

                    width:35%;
                    margin:0 auto !important;
                    float:none !important;
                }

                .form-group.form-group-filled.resetsize
                {

                    width:35%;
                    margin:0 auto !important;
                    float:none !important;
                }

                .msgwidth
                {

                    width:35%;
                    margin:0 auto !important;
                    float:none !important;
                }


        </style>
    </head>

    <body class="inner-page-topSpace">
        <div class="global-wrap">
            <div class="show-onload">
                <div class="bg-holder full">
                    <?= $this->render('layout/header.phtml', array('comSessObj' => $sessionObj)) ?>
                </div>
            </div>
            <div>
               <!-- <div id="bgimg" class="container img-responsive">
                    <div class="page-header no-border">
                        <h2 class="text-center text-white">Reset Password</h2> </div>
                </div>
            -->

            <div class="container img-responsive">
                    <div class="page-header no-border">
					<?php if (isset($_REQUEST['status'])) { ?>
					
						<h3 style="text-align:center;font-size:16px;color:green">Password Updated Successfully </h3>                       
				  <?php 	} ?>
                        <h3 class="text-center">Reset Password</h3> </div>
                </div>
                <div class="container bg-gray reset-content">
                    <?php                    
					
					$userf = $user;  

										
					/*if ($userf['active'] != 1) {                        
					echo "Your Account has been deactivated";                    
					} 
					elseif ($userf['reset_password'] != 1) {                        
					
						echo "Password Already Modified";                    
						} else {                        
						if ($ermsg == 'updsuc') {                           
						echo "Password Updated Successfully";                       
						} else {                            \
						if ($ermsg == 'passmis') {                               
						echo "Password Mismatch.Please Try Again";                            
						}  */

						?>
                        <form action="<?php echo $_SERVER['REQUEST_URI'] ?>" method="post">
                            <div class="reset-content-inner">
					
					
					
                                <div class="form-group  form-group-filled">
                                    <div class="input-group passsize"> <span class="input-group-addon group-addon-white">                                    <i class="fa fa-lock input-icon-swing"></i>                                    </span>
                                        <input type="password" placeholder="New Password" name="npassword" id="password" class="form-control" aria-required="true" aria-invalid="true"> </div>
										<!--<p id="error_password"></p>-->
                                         <label for="password" id="passwordLabelInvalid" style="display: none;color: #d93900 !important;" class="msgwidth">Enter a combination of 8 characters, at least 1 letter and 1 special character (like ! and @;)</label>
                                </div>
                                <!--<div class="form-group  form-group-filled">
                                    <div class="input-group"> <span class="input-group-addon group-addon-white">                                    <i class="fa fa-lock  input-icon-swing"></i></span>
                                        <input type="password" placeholder="Confirm Password" name="cpassword" id="npassword" class="form-control" aria-required="true" aria-invalid="true"> </div>
										<p id="error_cpassword"></p>
                                </div>-->

                                <div class="form-group form-group-filled resetsize">
                                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary btn-block" aria-required="true" aria-invalid="true"> </div>
                            </div>
                        </form>
                        <?php //}        } ?>
                </div>
            </div>
            <?= $this->render('layout/footer.phtml') ?>
                <?= $this->render('layout/pop_box.phtml') ?>
                    <?= $this->render('layout/common-scripts.phtml') ?>
        </div>
		<script>
		$(document).on('keyup','#password',function(){
			var len = $(this).val().length;
			$("#error_password").html(checkStrength($('#password').val(),'error_password'));
		});
		$(document).on('keyup','#npassword',function(){
			var old = $("#password").val();
			var len = $(this).val();
			if(old != len){
				$("#error_cpassword").html('<span style="color:red;">Not matched.</span>');
			}else{
				$("#error_cpassword").html('<span style="color:green;">Matched.</span>');
			}
		});
        $(document).on('blur','#password',function(){ 
            
            if ($('#password').val() == '' || !validatePassword($('#password').val())) {
               $('#passwordLabelInvalid').show();
        
        }
        else {

                     $('#passwordLabelInvalid').hide();
            }
        });

		</script>
    </body>

    </html>