<?php $looking_for = ($comSessObj->userrole == 'traveller') ? 'seeker' : 'traveller' ?>
<div class="content-wrapper">
  <h2 class="text-center title">Search <?php echo ($comSessObj->userrole == 'traveller') ? 'seeker' : 'traveller' ?></h2>
  <div class="content-box no-space">
    <div class="desp">

      <div class="row">
          <form action="<?php echo $_SERVER['REQUEST_URI'] ?>" method="post" id="searchForm">
              <input type="hidden" name="looking_for" id="looking_for"
                     value="<?php echo ($comSessObj->userrole == 'traveller') ? 'seeker' : 'traveller' ?>">
              <input type="hidden" name="search_type" id="search_type" value="ajax">

              <div class="col-md-3">
                  <div class="sidebar-block">
                      <div class="panel panel-default verify-traveler">
                          <div class="panel-body">
                              <form>
                                  <div class="form-group">
                                      <label class="control-label">Trepr Services </label>

                                      <div class="input-group-select" id="input-group-select-search">
                                          <select id="trepservice" name="service"
                                                  class="selectpicker select-style-new form-control">
                                              <option
                                                  data-icon="fa-users" <?php echo (isset($service) && $service == 'people') ? 'selected="selected"' : ''; ?>
                                                  value="people">People
                                              </option>
                                              <option
                                                  data-icon="fa-archive" <?php echo (isset($service) && $service == 'package') ? 'selected="selected"' : ''; ?>
                                                  value="package">Package
                                              </option>
                                              <option
                                                  data-icon="fa-file-text-o" <?php echo (isset($service) && $service == 'project') ? 'selected="selected"' : ''; ?>
                                                  value="project">Product
                                              </option>
                                          </select>

                                          <p style="margin-bottom: 0px;" id="err_weight_accommodate"
                                             class="text-danger err_msg"></p>
                                      </div>
                                  </div>
                                  <!--div class="services1<?php echo $looking_for ?>project  hidesearchoption">
                                          <label class="control-label">Product Type (Optional)</label>
                                          <div class="form-group">
                                              <select class="form-control selectpicker select-style-new calendar" id="work_category" name="work_category">
                                                  <option selected="selected" value="all">Select Product Type</option>
                                                  <option value="0">Personal concierge for your tasks</option>
                                                  <option value="1">Choose products and ship worldwide</option>
                                              </select>
                                              <p style="margin-bottom: 0px;" id="err_work_category" class="text-danger err_msg"></p>
                                          </div>
                                      </div-->
                                  <div class="form-group">
                                      <label class="control-label">Origin Location</label>

                                      <div class="input-group"><span class="input-group-addon group-addon-white">  <i
                                                  class="fa fa-plane input-icon-hightlight"></i></span>
                                          <input class="typeahead form-control" placeholder="City or Airport" type="text"
                                                 value="<?= $this->origin; ?>" id="origin" name="origin"/></div>
                                      <p style="margin-bottom: 0px;" id="err_weight_accommodate"
                                         class="text-danger err_msg"></p>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label">Destination Location</label>

                                      <div class="input-group"><span class="input-group-addon group-addon-white">  <i
                                                  class="fa fa-plane fa-flip-vertical input-icon-hightlight"></i></span>
                                          <input class="typeahead form-control" placeholder="City or Airport" type="text"
                                                 value="<?= $this->destination; ?>" id="destination" name="destination"/>
                                      </div>
                                      <p style="margin-bottom: 0px;" id="err_weight_accommodate"
                                         class="text-danger err_msg"></p>
                                  </div>

                                  <!--                    <div class="form-group input-daterange" data-date-format="MM d, D">-->
                                  <div data-date-format="MM d, D">
                                      <div class="form-group">
                                          <label class="control-label">Departure</label>

                                          <div class="input-group">
                                              <span class="input-group-addon group-addon-white">
                                                  <i class="fa fa-calendar input-icon-hightlight"></i>
                                              </span>
                                              <input class="date-pick form-control" type="text"
                                                     value="<?= isset($this->destination) ? $this->date : date('m/d/Y'); ?>"
                                                     id="date" name="date"/></div>
                                      </div>

                                      <!--  <div class="form-group">                                    <div class="checkbox">                                        <label><input type="checkbox" />-/+</label>                                    </div>                                </div> -->
                                      <div class="form-group">
                                          <label class="control-label">Date Flexibility</label>
                                          <select class="selectpicker form-control languages-select picker-select"
                                                  id="days" name="days" onchange="updateDateRangeSearch();">
                                              <?php $itemSelected = isset($_POST['date_flexibility']) ? $_POST['date_flexibility'] : ''; ?>
                                              <option <?php echo ($itemSelected == '1-d') ? 'selected="selected"' : ''; ?>
                                                  value="1-d">1 Day
                                              </option>
                                              <option <?php echo ($itemSelected == '2-d') ? 'selected="selected"' : ''; ?>
                                                  value="2-d">2 Days
                                              </option>
                                              <option <?php echo ($itemSelected == '3-d') ? 'selected="selected"' : ''; ?>
                                                  value="3-d">3 Days
                                              </option>
                                              <option <?php echo ($itemSelected == '1-w') ? 'selected="selected"' : ''; ?>
                                                  value="1-w">1 Week
                                              </option>
                                              <option <?php echo ($itemSelected == '2-w') ? 'selected="selected"' : ''; ?>
                                                  value="2-w">2 Weeks
                                              </option>
                                              <option <?php echo ($itemSelected == '3-w') ? 'selected="selected"' : ''; ?>
                                                  value="3-w">3 Weeks
                                              </option>
                                              <option <?php echo ($itemSelected == '1-m') ? 'selected="selected"' : ''; ?>
                                                  value="1-m">1 Month
                                              </option>
                                              <option <?php echo ($itemSelected == '2-m') ? 'selected="selected"' : ''; ?>
                                                  value="2-m">2 Months
                                              </option>
                                              <option <?php echo ($itemSelected == '3-m') ? 'selected="selected"' : ''; ?>
                                                  value="3-m">3 Months
                                              </option>
                                          </select>
                                      </div>

                                      <div class="row">
                                          <div class="form-group col-sm-12">
                                              <label class="control-label">Dates range
                                              </label>

                                              <div class="input-daterange" id="datepicker">
                                                  <div class="input-group">
                                                      <input type="text" name="project_start_date" id="project_start_date"
                                                             class="input-small form-control" readonly="readonly"/> <span
                                                          class="input-group-addon">to</span>
                                                      <input type="text" name="project_end_date" id="project_end_date"
                                                             class="input-small form-control" readonly="readonly"/></div>
                                                  <p style="margin-bottom: 0px;" id="err_project_start_date"
                                                     class="text-danger err_msg"></p>

                                                  <p style="margin-bottom: 0px;" id="err_project_end_date"
                                                     class="text-danger err_msg"></p>
                                              </div>
                                          </div>
                                      </div>


                                  </div>
                                  <div class="form-group">
                                      <label class="control-label">Radius</label>
                                      <input type="text" id="radius" name="radius" style="display:none;">
                                  </div>


                                  <div class="servicestravellerpeople form-group hidesearchoption">
                                      <label class="control-label">No of Stops (Optional)</label>

                                      <div class="form-group">
                                          <select class="form-control selectpicker select-style-new calendar"
                                                  id="noofstops" name="noofstops"
                                                  onchange="getSearchFlights(this.value);">
                                              <option selected="selected" value="">Select No of Stops</option>

                                          </select>
                                      </div>
                                  </div>
                                  <!--<div class="servicestravellerpeople form-group hidesearchoption">
                                      <label class="control-label">Routes (Optional)</label>

                                      <div class="form-group">
                                          <select class="form-control selectpicker select-style-new calendar"
                                                  id="origin_route" name="origin_route">
                                              <option selected="selected" value="">Select route</option>
                                          </select>
                                      </div>
                                  </div>-->


                                  <div class="servicesseekerpeople form-group hidesearchoption">
                                      <label class="control-label">No of passengers (Optional)</label>

                                      <div class="form-group">
                                          <select class="form-control selectpicker select-style-new calendar"
                                                  id="noofpassanger" name="noofpassanger">
                                              <option selected="selected" value="">Select No of passengers</option>
                                              <?php $passengerCountArr = range(1, 11);
                                              foreach ($passengerCountArr as $passCount) {
                                                  $selectedPassCount = '';
                                                  echo '<option ' . $selectedPassCount . ' value="' . $passCount . '">' . $passCount . '</option>';
                                              } ?>
                                          </select>
                                          <label class="control-label">Booking Status (Optional)</label>

                                          <div class="">
                                              <select class="form-control selectpicker select-style-new plane"
                                                      id="ticket_status" name="ticket_status">
                                                  <option selected="selected" value="">Select Booking Status</option>
                                                  <option value="1">Booked</option>
                                                  <option value="2">Unplanned</option>
                                              </select>
                                          </div>
                                      </div>
                                      <!--div class="form-group">
                                          <label class="control-label">Ticket Status (Optional)</label>
                                          <div class="">
                                              <select class="form-control selectpicker select-style-new plane" id="ticket_status" name="ticket_status">
                                                  <option selected="selected" value="">Select Ticket Status</option>
                                                  <option value="1">Booked</option>
                                                  <option value="2">Unplanned</option>
                                              </select>
                                          </div>
                                      </div-->
                                  </div>
                                  <div class="services<?php echo $looking_for ?>package  hidesearchoption">
                                      <label class="control-label">Package weight (Optional)</label>

                                      <div class="form-group">
                                          <select class="form-control selectpicker select-style-new calendar"
                                                  id="package_weight" name="package_weight">
                                              <option selected="selected" value="">Select Package weight</option>
                                              <option value="1">1 KG - 5 KG</option>
                                              <option value="5">5 KG -10 KG</option>
                                              <option value="10">10 KG - 15 KG</option>
                                              <option value="15">15 KG - 20 KG</option>
                                              <option value="20">20 KG - 30 KG</option>
                                              <option value="30">30 KG - 40 KG</option>
                                              <option value="40">40 KG - 50 KG</option>
                                              <option value="50">50 KG+</option>
                                          </select>

                                          <p style="margin-bottom: 0px;" id="err_weight_accommodate"
                                             class="text-danger err_msg"></p>
                                      </div>
                                      <label class="control-label">Package worth (Optional)</label>

                                      <div class="form-group">
                                          <select class="form-control selectpicker select-style-new calendar"
                                                  id="package_worth" name="package_worth">
                                              <option selected="selected" value="">Select Package worth</option>
                                              <option value="99">
                                                  < 100 GBP
                                              </option>
                                              <option value="100">100 GBP - 250 GBP</option>
                                              <option value="251">251 GBP - 500 GBP</option>
                                              <option value="501">501 GBP - 1000 GBP</option>
                                              <option value="1001">1001 GBP - 2000 GBP</option>
                                              <option value="2001">2001 GBP - 3500 GBP</option>
                                              <option value="3501">3501 GBP - 5000 GBP</option>
                                              <option value="5000">> 5000 GBP</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="services<?php echo $looking_for ?>project hidesearchoption">
                                      <!--div class=" form-group">
                                              <label class="control-label">Task category (Optional)</label>
                                              <div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-plane input-icon-hightlight"></i> </span>
                                                  <select class="form-control selectpicker select-style-new plane" id="task" name="task" onchange="Loadprojectsubcat(this.value,0)">
                                                      <option value="">Select</option>
                                                      <?php foreach ($this->projectcat as $val) {
                                          $selected = (isset($this->trip_traveller['catid']) && $this->trip_traveller['catid'] == $val['ID']) ? 'selected="selected"' : '';
                                          echo '<option ' . $selected . ' value="' . $val['ID'] . '">' . $val['catname'] . '</option>';
                                      } ?>
                                                  </select>
                                              </div>
                                          </div-->
                                      <div class=" form-group">
                                          <label class="control-label">Product category (Optional)</label>

                                          <div class="input-group"><span class="input-group-addon group-addon-white"> <i
                                                      class="fa fa-plane input-icon-hightlight"></i> </span>
                                              <select class="form-control selectpicker select-style-new plane" id="task"
                                                      name="task" onchange="Loadprojectsubcat(this.value,0)">
                                                  <option value="">Select</option>
                                                  <?php foreach ($this->projectcat as $val) {
                                                      $selected = (isset($this->trip_traveller['catid']) && $this->trip_traveller['catid'] == $val['ID']) ? 'selected="selected"' : '';
                                                      echo '<option ' . $selected . ' value="' . $val['ID'] . '">' . $val['catname'] . '</option>';
                                                  } ?>
                                              </select>
                                          </div>
                                      </div>
                                      <!--div class=" form-group">
                                          <label class="control-label">Sub task (Optional)</label>
                                          <div class="input-group"> <span class="input-group-addon group-addon-white"> <i class="fa fa-plane input-icon-hightlight"></i> </span>
                                              <select class="form-control selectpicker select-style-new plane" id="projsubcat" name="projsubcat">
                                                  <option value="">Select</option>
                                              </select>
                                          </div>
                                      </div-->
                                      <label class="control-label">Product worth (Optional)</label>

                                      <div class="form-group">
                                          <select class="form-control selectpicker select-style-new calendar"
                                                  id="product_worth" name="product_worth">
                                              <option selected="selected" value="">Select Product worth</option>
                                              <option value="99">
                                                  < 100 GBP
                                              </option>
                                              <option value="100">100 GBP - 250 GBP</option>
                                              <option value="251">251 GBP - 500 GBP</option>
                                              <option value="501">501 GBP - 1000 GBP</option>
                                              <option value="1001">1001 GBP - 2000 GBP</option>
                                              <option value="2001">2001 GBP - 3500 GBP</option>
                                              <option value="3501">3501 GBP - 5000 GBP</option>
                                              <option value="5000">> 5000 GBP</option>
                                          </select>
                                      </div>
                                  </div>
                                  <input class="btn btn-primary mg-top15 center-block" type="button" value="Search"
                                         onclick="search()"/>
                                  <input type="hidden" name="current_latitude" id="current_latitude"
                                         value="<?= $this->map_center_lat; ?>">
                                  <input type="hidden" name="current_longitude" id="current_longitude"
                                         value="<?= $this->map_center_long; ?>">
                                  <input type="hidden" name="origin_id" id="origin_id" value="<?= $this->origin_id; ?>">
                                  <input type="hidden" name="destination_id" id="destination_id"
                                         value="<?= $this->destination_id; ?>">
                                  <input type="hidden" name="origin_iata_code" id="origin_iata_code"
                                         value="<?= $this->origin_iata_code; ?>">
                                  <input type="hidden" name="destination_iata_code" id="destination_iata_code"
                                         value="<?= $this->destination_iata_code; ?>">
                                  <input type="hidden" name="trepservice" id="trepservice" value="<?= $this->service; ?>">
                                  <input type="hidden" name="getlatlangvalue" id="getlatlangvalue" value="">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="sidebar-block">
                      <div class="panel panel-default verify-traveler">
                          <div class="panel-body">
                              <div class="row">
                                  <div class="col-sm-6 locationOpt">
                                      <div class="checkbox small" id="or">
                                          <label>
                                              <input class="i-check" type="checkbox" name="locationType" id="locationType"
                                                     value="1"/>Origin Location</label>
                                      </div>
                                      <div class="checkbox small" id="des">
                                          <label>
                                              <input class="i-check" type="checkbox" name="locationType"
                                                     id="locationType1" value="2"/>Destination Location</label>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="input-group"><span class="input-group-addon">Sort By</span>
                                          <select class="selectpicker form-control languages-select" name="sortBy">
                                              <option value="">Select</option>
                                              <option value="Distance">Distance ASC</option>
                                              <option value="DistanceDesc">Distance DESC</option>
                                              <option value="Rating">Top Rating</option>
                                              <option value="Reviews">Top Reviews</option>
                                              <option value="Response">Response</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div id="map-canvas" class="map_canvas" style="height: 100%; min-height: 622px;"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <div class="col-md-3">
              <div class="sidebar-block bg-white">
                  <div class="sidebar-widget">
                      <div class="panel panel-default verify-traveler">
                          <div class="panel-heading">
                              <h3 class="panel-title">Search Result</h3>
                          </div>
                          <div class="panel-body">
                              <ul class="verify-traveler-details list-unstyled" id="search_results"></ul>
                              <?php if ($comSessObj->userid == '') { ?>
                                  <p class="small mg-top15 text-center">Please sign up to contact our registered
                                      travellers who are interested to serve your request.</p>
                                  <button class="btn btn-primary mg-top15 center-block popup-text" href="#small-signup"
                                          data-effect="mfp-zoom-out">Sign Up
                                  </button>
                              <?php } ?>


                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- }
  }-->
      </div>


    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        search(1);
        $('.hidesearchoption').hide();
        $('#locationType').click(function () {
            console.log('locationType');
        });
        $('#locationType').on('ifChecked', function (event) {
            $('#locationType1').iCheck('uncheck');
        });
        $('#locationType1').on('ifChecked', function (event) {
            $('#locationType').iCheck('uncheck');
        });
        showRelaventSearchBox($('#trepservice').val());
    });
</script>
<script type="text/javascript">
    function Loadprojectsubcat(a) {
        $.ajax({
            url: baseurl + '/traveller/getprojectsubcat',
            type: 'POST',
            data: 'catid=' + a + '&subcatid =0',
            cache: false,
            success: function (response) {
                $('#projsubcat').html(response);
                $('#projsubcat').selectpicker('refresh');
            }
        });
    }
    $(document).ready(function () {
        updateDateRangeSearch();
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUDPeJqpuDo0n7CT4BRkAbi8OxI380GAE"></script>
<script src="<?php echo $this->basePath(); ?>/public/js/googlemap_markerwithlabel.js"></script>
<style>
    .businessDetailPageMapMarkerLabels {
        border: 3px solid red !important;
    }

    #markerLayer img {
        border: 3px solid red !important;
        width: 85% !important;
        height: 90% !important;
        border-radius: 5px;
        background-color: green;
    }

    #search_results li {
        cursor: pointer;
    }

    #search_results li.active {
        border: 5px solid #99CB51;
    }
</style>
<div id="verifyIdentity" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="tab-block-row">
                    <div class="col-xs-12">
                        <ol class="list-unstyled" style="list-style:decimal">
                            <li>Getting your Verified ID is the easiest way to help build trust in the Trepr
                                community.
                            </li>
                            <li>We'll verify you by matching information from an online account to an official ID.</li>
                            <li>We believe anonymity erodes trust, so we verify the IDs of our Seekers and Trepers to
                                help ensure the safety of our growing community.
                            </li>
                            <li>We'll ask for atlest 2 forms of IDs: official ID and online profile. This gives members
                                more information to make a decision on Travel service requests that are sent or
                                received.
                            </li>
                        </ol>
                    </div>
                    <p style="float: right;"><a href="/myprofile/trustVerification" class="btn btn-primary ">Continue to
                            verify ID</a>
                        <a href="javascript:;" class="btn btn-primary" data-dismiss="modal">Cancel</a></p>
                </div>

            </div>
            <div class="modal-footer" style="border-top: none;">

            </div>
        </div>

    </div>
</div>
