<?php

	//$this->headScript()->appendScript("search_ajax_drop(".$this->travellers.",".$this->map_center_lat.",".$this->map_center_long.");");

	$this->headScript()->appendScript(" var profile_image_path = '".$this->generalvar['user']['user']['images']."' ");

	//$this->headScript()->appendScript("search();");

?>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script src="<?php echo $this->basePath(); ?>/js/googlemap_markerwithlabel.js"></script>


<div class="container">

	<!-- Start tab-menu -->

	<?=$this->render('helpers/switch-user.phtml')?>

	<div class="clearfix mb10"></div>

	<!-- End tab-menu -->

	<!-- Start tab-content -->

	<div class="tab-content">

		<div class="tab-pane fade in active" id="seeker">

			<div class="row">

				<div class="col-md-3">

					<aside class="sidebar-left">

						<h4 class=" text-center mb15">Search Travellers</h4>

						<form>

							<div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

								<label>Current Location</label>

								<input class="typeahead form-control" placeholder="Enter your Current Full Address" type="text" />

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

								<label>Origin Location</label>

								<input class="typeahead form-control" placeholder="City or Airport" type="text" />

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

								<label>Destination Location</label>

								<input class="typeahead form-control" placeholder="City or Airport" type="text" />

							</div>

							<div class="form-group input-daterange" data-date-format="MM d, D">

								<div class="row">

									<div class="col-xs-6">

										<div class="form-group form-group-icon-left mb0"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>

											<label>Departure</label>

											<input class="date-pick form-control" type="text" />

										</div>

									</div>

									<div class="col-xs-2">

									<div class="checkbox mt40 mb0">

										<label>

											<input type="checkbox" />-/+</label>

									</div>

									</div>

									<div class="col-xs-4">

										<div class="form-group mb0">

											<label>Days</label>

											<select class="form-control">

												<option>1</option>

												<option>2</option>

												<option>3</option>

												<option>5</option>

												<option>7</option>

												<option>10</option>

												<option>14</option>

												<option>30</option>

												<option>60</option>

											</select>

										</div>

									</div>

								</div>

							</div>

							<div class="form-group">

								<label>Radius</label>

								<input type="text" id="radius">

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-plane input-icon input-icon-hightlight"></i>

								<label>Airline Name</label>

								<select class="form-control">

									<option>Select Flight</option>

									<option>Airline One</option>

									<option>Airline Two</option>

									<option>Airline Three</option>

									<option selected="selected">Airline Four</option>

									<option>Airline Five</option>

								</select>

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-plane input-icon input-icon-hightlight"></i>

								<label>Flight No</label>

								<select class="form-control">

									<option>Select Flight No</option>

									<option>NZ1</option>

									<option>NZ2</option>

									<option>NZ5</option>

									<option selected="selected">NZ6</option>

									<option>NZ7</option>

								</select>

							</div>

							<input class="btn btn-primary mt10 pull-right" type="submit" value="Save Search" />

						</form>

					</aside>

				</div>

				<div class="col-md-6">

					<div class="row">

						<ul class="list list-horizontal">

							<li><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" title="Travellers In your Friends"><img style="width: 25px; height: 29px;" class="pull-left" src="<?php echo $this->basePath(); ?>/img/map/green-marker.png" width="36" height="49" alt="In your Friends" title="In your Friends" /></a><small> = In your friends circle</small></li>

							<li><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" title="Travellers In your Friends of Friends"><img style="width: 25px; height: 29px;" class="pull-left" src="<?php echo $this->basePath(); ?>/img/map/blue-marker.png" width="36" height="49" alt="In your Friends of Friends" title="In your Friendsof Friends" /></a><small> = In your friends of friends circle</small></li>

							<li><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" title="Travellers Not In your Friends"><img style="width: 25px; height: 29px;" class="pull-left" src="<?php echo $this->basePath(); ?>/img/map/red-marker.png" width="36" height="49" alt="Not In your Friends" title="Not In your Friends" /></a><small> = Not in your friends circle</small></li>

						</ul>

						<div id="map-canvas" style="height: 100%; min-height: 563px;"></div>

					</div>

				</div>

				<div class="col-md-3">

					<aside class="sidebar-right">

						<div class="sidebar-widget">

							<h4>Search Result</h4>

							<ul class="thumb-list thumb-list-right">

								<li>

									<a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

									</div>

								</li>

								<li>

									<a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

									</div>

								</li>

								<li>

									<a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

									</div>

								</li>

								<li>

									<a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

									</div>

								</li>

								<li>

									<a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/trips/tripdetail"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

									</div>

								</li>

							</ul>

							<div class="gap gap-small"></div>

							<hr />

							<p class="small">No result or not satisfied with result? Add your trip details, our registered travellers may contact to serve you.</p>

							<!-- <ul class="list-inline pull-right">

								<li><a class="btn btn-primary btn-normal">+Add Trip</a></li>

							</ul> -->

							<!-- Split button -->

							<div class="btn-group pull-right">

								<button type="button" class="btn btn-primary">Add Trip</button>

								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

									<span class="caret"></span>

									<span class="sr-only">Toggle Dropdown</span>

								</button>

								<ul class="dropdown-menu pull-right">

									<li><a href="addtrip-seeker-people.html">People</a></li>

									<li><a href="addtrip-seeker-package.html">Package</a></li>

									<li><a href="addtrip-seeker-project.html">Product</a></li>

								</ul>

							</div>

						</div>

					</aside>

				</div>

			</div>

		</div><!-- seeker -->

		<div class="tab-pane fade" id="provider">

			<div class="row">

				<div class="col-md-3">

					<aside class="sidebar-left">

						<h4 class=" text-center mb15">Search Travellers</h4>

						<form>

							<div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

								<label>Current Location</label>

								<input class="typeahead form-control" placeholder="Enter your Current Full Address" type="text" />

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

								<label>Origin Location</label>

								<input class="typeahead form-control" placeholder="City or Airport" type="text" />

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>

								<label>Destination Location</label>

								<input class="typeahead form-control" placeholder="City or Airport" type="text" />

							</div>

							<div class="form-group input-daterange" data-date-format="MM d, D">

								<div class="row">

									<div class="col-xs-6">

										<div class="form-group form-group-icon-left mb0"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>

											<label>Departure</label>

											<input class="date-pick form-control" type="text" />

										</div>

									</div>

									<div class="col-xs-2">

									<div class="checkbox mt40 mb0">

										<label>

											<input type="checkbox" />-/+</label>

									</div>

									</div>

									<div class="col-xs-4">

										<div class="form-group mb0">

											<label>Days</label>

											<select class="form-control">

												<option>1</option>

												<option>2</option>

												<option>3</option>

												<option>5</option>

												<option>7</option>

												<option>10</option>

												<option>14</option>

												<option>30</option>

												<option>60</option>

											</select>

										</div>

									</div>

								</div>

							</div>

							<div class="form-group">

								<label>Radius</label>

								<input type="text" id="radius">

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-plane input-icon input-icon-hightlight"></i>

								<label>Airline Name</label>

								<select class="form-control">

									<option>Select Flight</option>

									<option>Airline One</option>

									<option>Airline Two</option>

									<option>Airline Three</option>

									<option selected="selected">Airline Four</option>

									<option>Airline Five</option>

								</select>

							</div>

							<div class="form-group form-group-icon-left"><i class="fa fa-plane input-icon input-icon-hightlight"></i>

								<label>Flight No</label>

								<select class="form-control">

									<option>Select Flight No</option>

									<option>NZ1</option>

									<option>NZ2</option>

									<option>NZ5</option>

									<option selected="selected">NZ6</option>

									<option>NZ7</option>

								</select>

							</div>

							<input class="btn btn-primary mt10 pull-right" type="submit" value="Search" />

						</form>

					</aside>

				</div>

				<div class="col-md-6">

					<div class="row">

						<ul class="list list-horizontal">

							<li><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" title="Travellers In your Friends"><img style="width: 25px; height: 29px;" class="pull-left" src="<?php echo $this->basePath(); ?>/img/map/green-marker.png" width="36" height="49" alt="In your Friends" title="In your Friends" /></a><small> = In your friends circle</small></li>

							<li><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" title="Travellers In your Friends of Friends"><img style="width: 25px; height: 29px;" class="pull-left" src="<?php echo $this->basePath(); ?>/img/map/blue-marker.png" width="36" height="49" alt="In your Friends of Friends" title="In your Friendsof Friends" /></a><small> = In your friends of friends circle</small></li>

							<li><a href="javascript:void(0);" rel="tooltip" data-placement="bottom" title="Travellers Not In your Friends"><img style="width: 25px; height: 29px;" class="pull-left" src="<?php echo $this->basePath(); ?>/img/map/red-marker.png" width="36" height="49" alt="Not In your Friends" title="Not In your Friends" /></a><small> = Not in your friends circle</small></li>

						</ul>

						<div id="map-canvas" style="height: 100%; min-height: 563px;"></div>

					</div>

				</div>

				<div class="col-md-3">

					<aside class="sidebar-right">

						<div class="sidebar-widget">

							<h4>Search Result</h4>

							<ul class="thumb-list thumb-list-right">

								<li>

									<a href="traveler-travelers-details.html">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="traveler-travelers-details.html"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

									</div>

								</li>

								<li>

									<a href="traveler-travelers-details.html">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="traveler-travelers-details.html"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

									</div>

								</li>

								<li>

									<a href="traveler-travelers-details.html">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="traveler-travelers-details.html"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

									</div>

								</li>

								<li>

									<a href="traveler-travelers-details.html">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="traveler-travelers-details.html"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

									</div>

								</li>

								<li>

									<a href="traveler-travelers-details.html">

										<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

									</a>

									<div class="thumb-list-item-caption">

										<p class="thumb-list-item-meta">&nbsp;</p>

										<h4 class="thumb-list-item-title"><a href="traveler-travelers-details.html"><strong>John smith</strong></a></h4>

										<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

									</div>

								</li>

							</ul>

							<div class="gap gap-small"></div>

							<hr />

							<p class="small">No result or not satisfied with result? Add your trip details, our registered travellers may contact to serve you.</p>

							<!-- Split button -->

							<div class="btn-group pull-right">

								<button type="button" class="btn btn-primary">Add Trip</button>

								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

									<span class="caret"></span>

									<span class="sr-only">Toggle Dropdown</span>

								</button>

								<ul class="dropdown-menu pull-right">

									<li><a href="addtrip-traveler-people.html">People</a></li>

									<li><a href="addtrip-traveler-package.html">Package</a></li>

									<li><a href="addtrip-traveler-project.html">Product</a></li>

								</ul>

							</div>

						</div>

					</aside>

				</div>

			</div>

		</div><!-- provider -->

	</div>

	<!-- End tab-content -->

	<div class="gap"></div>

</div>
