<?php if (isset($_POST) && !empty($_POST)) {    extract($_POST);}if (isset($pageRow) && !empty($pageRow)) {     extract($pageRow);}  ?>
<div class="content-wrapper">
  <h2 class="text-center title">Security Policy</h2>
  <div class="content-box">
    <div class="heading">
        <h3>USERS REFUND POLICY TERMS</h3>
    </div>
    <div class="desp">
      <?php echo $page_Content; ?>
    </div>
  </div>
  <div class="content-box">
    <div class="desp">
      <h5 class="sub-heading text-left">Looking for more info?</h5>
      <div class="more-info-box">
        <div class="row">
          <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/support"><i class="fa fa-angle-right"></i> Check out our Help Center</a></div>
          <div class="col-md-6 form-group"><a href="<?php echo $this->basePath(); ?>/securitypolicy"><i class="fa fa-angle-right"></i> Visit the Safety Center</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--    <div class="row">        <div class="col-sm-12">            <div class="row">                <div class="col-sm-12">                    <h3>Looking for more info?</h3>                </div>            </div>            <div class="row">                <div class="col-sm-6">                    <div class="panel panel-default">                        <div class="panel-body">                            <i class="fa fa-paper-plane-o box-icon-normal box-icon-left box-icon-border-dashed animate-icon-border-rise-alt round"></i>                            <h5><a href="<?php echo $this->basePath(); ?>/support">Check out our Help Center</a></h5>                        </div>                    </div>                </div>                <div class="col-sm-6">                    <div class="panel panel-default">                        <div class="panel-body">                            <i class="fa fa-paper-plane-o box-icon-normal box-icon-left box-icon-border-dashed animate-icon-border-rise-alt round"></i>                            <h5><a href="<?php echo $this->basePath(); ?>/legal#security-policy">Visit the Safety Center</a></h5>                        </div>                    </div>                </div>            </div>        </div>    </div>--></div></div>
