<link rel="stylesheet" href="<?php echo $this->basePath(); ?>/public/css/jquery.dataTables.min.css">
<div class="content-wrapper">
  <h2 class="text-center title">Service Rate Calculations</h2>
    <div class="content-box service-rate no-space">
      <section id="wizard">
      <?php  if($comSessObj->user['approved_id']==1){ ?>
           <!--div class="menu-select-option text-center">

                                  <div class="select-option-box">
                                      <div class="btn-box blue-box"><button onClick="parent.location='<?php //echo $this->basePath().'/service-rate-calculations'; ?>'" class="btn-sliver active"> Seeker</button></div>
                                      <div class="sep"><span>Or</span></div></span>
                                      <div class="btn-box green-box">
                                          <button onClick="parent.location='<?php //echo $this->basePath().'/service-rate-calculation-traveller'; ?>'"  class="btn-sliver ">Traveller</button>
                                      </div>
                                  </div>
                              </div-->
      <?php }?>
      <input type="hidden" id="service-rate-calculations-form" value="yes"/>
      <input type="hidden" id="srcf_people_service_fee" value=""/>
      <input type="hidden" id="srcf_package_service_fee" value=""/>
      <input type="hidden" id="srcf_project_service_fee" value=""/>
      <input type="hidden" id="userroleType" value="<?php echo $comSessObj->userrole;?>"/>
           <input type="hidden" name="origin_location_country_code" id="origin_location_country_code" value="<?php echo (isset($this->origin_location_country_code) && !empty($this->origin_location_country_code)) ? $this->origin_location_country_code : '' ?>" >
                  <input type="hidden" name="destination_location_country_code" id="destination_location_country_code" value="<?php echo (isset($this->destination_location_country_code) && !empty($this->destination_location_country_code)) ? $this->destination_location_country_code : '' ?>" >
                         <input type="hidden" name="noofstops" id="noofstops" value="<?php echo (isset($this->trip['noofstops']) && !empty($this->trip['noofstops'])) ? $this->trip['noofstops'] : '' ?>" >
                          <input type="hidden" name="distance" id="distance" value="<?php echo (isset($this->trip['distance']) && !empty($this->trip['distance'])) ? $this->trip['distance'] : '' ?>">
                          <input type="hidden" name="origin_location_id" id="origin_location_id" value="<?php echo (isset($this->trip['origin_location']) && !empty($this->trip['origin_location'])) ? $this->trip['origin_location'] : '' ?>" >
                  <input type="hidden" name="destination_location_id" id="destination_location_id" value="<?php echo (isset($this->trip['destination_location']) && !empty($this->trip['destination_location'])) ? $this->trip['destination_location'] : '' ?>" >
                  <input type="hidden" name="origin_location_code" id="origin_location_code" value="<?php echo (isset($this->origin_location_code) && !empty($this->origin_location_code)) ? $this->origin_location_code : '' ?>" >
                  <input type="hidden" name="destination_location_code" id="destination_location_code" value="<?php echo (isset($this->destination_location_code) && !empty($this->destination_location_code)) ? $this->destination_location_code : '' ?>" >
         <input type="hidden" name="destination_location_country" id="destination_location_country" value="" />
                <input type="hidden" name="origin_location_country" id="origin_location_country" value="" />


                <!-- seeker tabs starts -->
                <?php if($comSessObj->userrole == 'seeker') { ?>

                <div class="tabs-container" id="seeker_tab1">

                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1">People</a></li>
                    <!--<li class="next"><a href="#package_tab2" role="tab" data-toggle="tab" aria-controls="tab2">Package</a></li>-->
                    <li><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2">Package</a></li>
                    <li><a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3">Product</a></li>
                  </ul>

                  <div class="tab-content">

                    <div id="tab1" class="tab-pane fade in active">
                      <div class="row">
                          <div class="col-md-8 col-sm-12 col-xs-12 table-cell travel-form bg-white">
                              <div class="form-block">
                                   <div class="row">
              <div class="form-group col-sm-6">
                  <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
                  <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location"  />
                  <p id="err_origin_location" class="text-danger err_msg"></p>
              </div>
              <div class="form-group col-sm-6">
                  <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
                  <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location"/>
                  <p id="err_destination_location" class="text-danger err_msg"></p>
              </div>
          </div>
                                  <div class="row">
                                       <div class="form-group col-sm-6">
                                  <label class="control-label">No.Stop<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                  <select class="form-control"  name="nstop_manual" id="nstop_manual" onchange="addRemoveFlightDetails(this.value);">
                                      <option value="">Select stops</option>
                                      <option value="0"> Direct </option>
                                      <option value="1"> 1 </option>
                                      <option value="2"> 2 </option>
                                      <option value="3"> 3 </option>
                                      <option value="4"> 4 </option>
                                      <option value="5"> 5 </option>
                                  </select>
                                  <p id="err_nstop_manual" class="text-danger err_msg"></p>

                              </div>
                                      <div class="form-group col-sm-6">
                                          <label class="control-label">No of Passengers<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                          <input type="text" class="form-control " placeholder="No of Passengers"  id="passengers_count"  name="passengers_count" value="" />
                                          <p id="" class="text-danger err_msg"></p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-sm-12 mg-top15">
                                          <input class="btn btn-primary mg-right5" value="Submit" name="peoplefee" id="peoplefee" onclick="getPeopleServiceFeeSRC('<?php echo $comSessObj->userrole;?>')" type="button">
                                          <input class="btn btn-black reset" value="Cancel"  type="reset">

                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-4 col-sm-12 col-xs-12">
                                  <aside class="sidebar-right">
                                      <div class="sidebar-block">
                                          <div class="sidebar-header">
                                           <h5 class="mb0">Estimated <?php echo $comSessObj->userrole =='seeker'?'Fee':'Earnings';?> <span id="min_text"></span></h5>
                                          </div>
                                          <div class="sidebar-block-inner text-center">
                                              <div class="panel panel-default">
                                                  <div class="block-inner-title">People Service</div>
                                                  <div class="text-center est-price">
                                                      <span class="price_tag_span">
                                                      <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                                      <i class="price_tag_price" id="span_people_service_fee">0.00</i>
                                                      <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                                  </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </aside>
                              </div>
                      </div>
                    </div>


                    <div id="tab2" class="tab-pane fade">
                      <div class="row">
                     <div class="col-md-8 col-sm-12 col-xs-12">
                             <div class="form-block">
                                  <div class="row">
             <div class="form-group col-sm-6">
                 <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
                 <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location"  />
                 <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
             </div>
             <div class="form-group col-sm-6">
                 <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
                 <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location"/>
                 <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
             </div>
         </div>
                               <div class="row packages_boxSRC" id="packages_boxSRC">
                                                                         <div class="col-sm-6 form-group">
                                                                             <label class="control-label">Item category<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select category of item which needs to be transported."></a></label>
                                                                             <select class="form-control category" name="category" id="category">
                                                                                 <option value=""> - Select - </option>
                                                                                     <?php if(count($this->project_cats)>0){
                                                                                         foreach($this->project_cats as $tasks_category){
                                                                                             $packCatSelected = (isset($packageDetail['item_category']) && $packageDetail['item_category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                                             echo '<option '.$packCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                                        }
                                                                                     } ?>
                                                                             </select>
                                                                             <p style="margin-bottom: 0px;" id="err_category" class="text-danger err_msg"></p>
                                                                         </div>
                                                                         <div class="form-group col-sm-6 ">
                                                                             <label class="control-label">Item Type<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select exact item that needs to be transported."></a></label>
                                                                             <select class="form-control item_category" name="item_category" id="item_category" >
                                                                                 <option value=""> - Select - </option>
                                                                                 <?php if(isset($packageDetail['subCategory']) && !empty($packageDetail['subCategory']) && isset($packageDetail['item_sub_category'])){
                                                                                     foreach($packageDetail['subCategory'] as $subCategory){
                                                                                         $subCatSelected = (isset($packageDetail['item_sub_category']) && $subCategory['ID'] == $packageDetail['item_sub_category'])?'selected="selected"':' ';
                                                                                         echo '<option '.$subCatSelected.'value="'.$subCategory['ID'].'">'.$subCategory['subcatname'].'</option>';
                                                                                     }
                                                                                 } ?>
                                                                             </select>
                                                                             <p id="err_item_category" class="text-danger err_msg"></p>
                                                                         </div>
                                                                     </div>
                                  <div class="row">
                                     <div class="form-group col-sm-6">
                                         <!--label class="control-label">Item Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                       <select name="weight_type" id="weight_type">
                       <option value="kg">Kilograms (kg)</option>
                       <option value="lb">Pounds (lb)</option>
                       </select>
                                         <input type="number" class="form-control contact_name" placeholder="Item Weight" id="total_weight"  name="total_weight" value=""  min="0" step=".5"/>

                       <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p-->
     <table><tbody><tr><td><label class="control-label">Item Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="" data-original-title=""></a></label><input type="number" class="form-control contact_name" placeholder="Item Weight" id="total_weight" name="total_weight" value="" min="0" step=".10">
                       </td>
                                       <td> <select class="form-control" name="weight_type" id="weight_type">
                       <option value="kg">Kilograms (kg)</option>
                       <option value="lb">Pounds (lb)</option>
                                           </select>
                <p class="text-danger err_msg"></p>
                                         </td></tr></tbody></table>
                                     </div>
                                       <!--div class="form-group col-sm-4">
                                         <label class="control-label">Item Worth<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                         <input type="number" class="form-control " placeholder="Item Worth"  id="total_worth"  name="total_worth" value="" />
                       <div style="position: absolute;top: 33px;right: 59px;z-index: 9999999;padding-left: 12px;"><?php //echo $comSessObj->currencycode;?></div>
                                         <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>
                                     </div-->
                     <div class="col-sm-6 form-group">
                                         <label class="control-label">Item Worth<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="" data-original-title=""></a></label>
                                         <input type="number" class="form-control currency-rate" placeholder="Item Worth" id="total_worth" name="total_worth" value=""><span><?php echo $comSessObj->currencycode;?></span>
                                         <p style="margin-bottom: 0px; display: none;" id="" class="text-danger err_msg"></p>
                                     </div>
                                     </div>


                                 <div class="row">
                                     <div class="form-group col-sm-12 mg-top15">
                                         <input class="btn btn-primary mg-right5" value="Submit" name="packagefee" id="packagefee" onclick="getPackageServiceFeeSRC('<?php echo $comSessObj->userrole;?>');" type="button">
                                         <input class="btn btn-black" value="Cancel" name="" id="" type="submit">

                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4 col-sm-12 col-xs-12 table-cell rightSection bg-white">
                                 <aside class="sidebar-right">
                                     <div class="sidebar-block">
                                         <div class="sidebar-header">
                                          <h5>Estimated <?php echo $comSessObj->userrole =='seeker'?'Fee':'Earnings';?><span id="min_text"></span></h5>
                                         </div>
                                         <div class="sidebar-block-inner text-center">
                                             <div class="panel panel-default">
                                                 <div class="block-inner-title">Package Service</div>
                                                 <div class="text-center est-price">
                                                  <span class="price_tag_span">
                                                     <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                                     <i class="price_tag_price" id="span_package_service_fee">0.00</i>
                                                     <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                                 </span>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </aside>
                             </div>

                 </div>
                    </div>


                    <div id="tab3" class="tab-pane fade">
                      <div class="row">
                     <div class="col-md-8 col-sm-12 col-xs-12 table-cell travel-form bg-white">
                             <div class="form-block">
                                  <div class="row">
             <div class="form-group col-sm-6">
                 <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
                 <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location"  />
                 <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
             </div>
             <div class="form-group col-sm-6">
                 <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
                 <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location"/>
                 <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
             </div>
         </div>
                                  <div class="row" style="display:none;" id="project_service_type_menu">
                                             <div class="form-group col-sm-12">
                                                  <label class="control-label">Select the project type<span class="text-danger">*</span></label>
                                             </div>
                                             <div class="form-group col-sm-12">

                                                      <select class="form-control project_service_type" id="project_service_type" name="product_category_select">
                                                                         <option value="">select</option>
                                                                         <option selected="selected" value="project_type_product">Choose products and ship worldwide</option>
                                                                         <option value="project_type_task">Personal concierge for your tasks</option>
                                                                     </select>

                                             </div>
                                             <input type="hidden" id="work_category" name="work_category" value="<?php echo isset($trip_seeker['work_category'])?$trip_seeker['work_category']:'' ?>" />
                                         </div>
                                 <div class="row productTasksSRC" id="productTasksSRC">
                                                                 <div class="form-group col-sm-6">
                                                                     <label class="control-label">Product category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                                     <select class="form-control product_category"  id="product_category" name="product_category">
                                                                         <option value=""> - select - </option>
                                                                         <?php if(count($this->project_tasks_categories_type)>0){
                                                                             foreach($this->project_tasks_categories_type as $tasks_category){
                                                                                 $proCatSelected = (isset($productDetail['category']) && $productDetail['category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                                 echo '<option '.$proCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                                 }
                                                                             } ?>
                                                                     </select>
                                                                     <p style="margin-bottom: 0px;" id="err_product_category" class="text-danger err_msg"></p>
                                                                 </div>
                                                                 <div class="form-group tasklists col-sm-6" id="product_lists">
                                                                     <label class="control-label">Product type <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                                     <select class="form-control product_additional_requirements_category" id="product_additional_requirements_category" name="product_additional_requirements_category">
                                                                         <option value="">Select</option>

                                                                     </select>
                                                                     <p style="margin-bottom: 0px;" id="err_product_additional_requirements_category" class="text-danger err_msg"></p>
                                                                 </div>
                                                             </div>
                                 <div class="row projectTasksSRC" id="projectTasksSRC">
                                                                 <div class="form-group col-sm-6">
                                                                     <label class="control-label">Category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                                     <select class="form-control task_category"  id="task_category" name="task_category">
                                                                         <option value=""> - select - </option>
                                                                         <?php if(count($this->project_tasks_categories_type)>0){
                                                                                 foreach($this->project_tasks_categories_type as $tasks_category){
                                                                                     $catSelected = (isset($taskDetail['category']) && $tasks_category['ID'] == $taskDetail['category'])?'selected="selected"':'';
                                                                                     echo '<option '.$catSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category["catname"].'</option>';
                                                                                 }
                                                                             } ?>
                                                                     </select>
                                                                     <p style="margin-bottom: 0px;" id="err_task_category" class="text-danger err_msg"></p>
                                                                 </div>
                                                                 <div class="form-group tasklists col-sm-6" id="tasklists">
                                                                     <label class="control-label">Task Lists <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                                     <select class="form-control additional_requirements_category" id="additional_requirements_category" name="additional_requirements_category">
                                                                         <option value="">select</option>
                                                                     </select>
                                                                     <p style="margin-bottom: 0px;" id="err_additional_requirements_category" class="text-danger err_msg"></p>
                                                                 </div>
                                                             </div>
                                 <div class="row product_Weight_and_Worth" id="product_Weight_and_Worth">
                                     <!--div class="form-group col-sm-4">
                                         <label class="control-label">Product Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                       <select name="product_weight_type" id="product_weight_type">
                       <option value="kg">Kilograms (kg)</option>
                       <option value="lb">Pounds (lb)</option>
                       </select>
                                         <input type="number" class="form-control contact_name" placeholder="Product Weight" id="project_total_weight"  name="project_total_weight"  min="0"  step=".5" />       <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>

                                     </div-->
                                  <div class="col-sm-6 form-group">
                                         <table><tbody><tr><td><label class="control-label">Product Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="" data-original-title=""></a></label><input type="number" class="form-control contact_name" placeholder="Item Weight" id="project_total_weight" name="project_total_weight" value="" min="0" step=".1">
                       </td>
                                       <td> <select class="form-control" name="product_weight_type" id="product_weight_type" style="height:38px; width:150px; margin:5px;">
                       <option value="kg">Kilograms (kg)</option>
                       <option value="lb">Pounds (lb)</option>
                                           </select>
                <p style="margin-bottom: 0px; display: none;" id="" class="text-danger err_msg"></p>
                                         </td></tr></tbody></table>

                                     </div>
                                      <!--div class="form-group col-sm-4">
                                         <label class="control-label">Product Worth<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                         <input type="number" class="form-control " placeholder="Item Worth"  id="project_total_worth"  name="project_total_worth"/>
                       <div style="position: absolute;top: 33px;right: 59px;z-index: 9999999;padding-left: 12px;"><?php //echo $comSessObj->currencycode;?></div>
                                         <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>
                                     </div-->
                     <div class="col-sm-6 form-group" style="padding-top:3px;">
                                         <label class="control-label">Product Worth<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="" data-original-title=""></a></label>
                                         <input type="number" class="form-control currency-rate" placeholder="Item Worth" id="project_total_worth" name="project_total_worth" value="">
                       <span><?php echo $comSessObj->currencycode;?></span>
                                         <p style="margin-bottom: 0px; display: none;" id="" class="text-danger err_msg"></p>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="form-group col-sm-12 mg-top15">
                                         <input class="btn btn-primary mg-right5" value="Submit" name="projectFee" id="projectFee" onclick="getProjectServiceFeeSRC('<?php echo $comSessObj->userrole;?>')" type="button">
                                         <input class="btn btn-black" value="Cancel" name="" id="" type="reset">

                                     </div>
                                 </div>
                             </div>
                         </div>
                        <div class="col-md-4 col-xs-12 table-cell flightStatus bg-white">
                                    <aside class="sidebar-right">
                                         <div class="sidebar-block">
                                             <div class="sidebar-header">
                                                 <h5 class="mb0">Estimated <?php echo $comSessObj->userrole =='seeker'?'Fee':'Earnings';?></h5>
                                             </div>
                                             <div class="sidebar-block-inner text-center">
                                                 <div class="panel panel-default">
                                                     <div class="block-inner-title">Product Service</div>
                                                     <div class="text-center est-price">
                                                      <span class="price_tag_span">
                                                     <p class="price_tag_symbol"><strong><?php  echo $comSessObj->currencycode; ?></strong></p>
                                                     <i class="price_tag_price" id="span_project_service_fee">0.00</i>
                                                     <p class="price_tag_price_code"><?php echo $comSessObj->currency;?></p>
                                                 </span>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </aside>
                                 </div>

                 </div>
                    </div>


                  </div>

                </div>

                    <!-- seeker tabs ends -->
                    <!-- traveller tabs starts -->
                    <?php
                      }
                      else {
                    ?>


                    <div class="tabs-container" id="traveller_tab1">

                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1">People</a></li>
                        <li class="next"><a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2">Package</a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3">Product</a></li>
                      </ul>

                      <div class="tab-content">

                        <div id="tab1" class="tab-pane fade in active">
                          <div class="row">
                              <div class="col-md-8 col-sm-12 col-xs-12 table-cell travel-form bg-white">
                                  <div class="form-block">
                                       <div class="row">
                  <div class="form-group col-sm-6">
                      <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
                      <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location"  />
                      <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
                  </div>
                  <div class="form-group col-sm-6">
                      <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
                      <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location"/>
                      <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
                  </div>
              </div>
                                      <div class="row">
                                           <div class="form-group col-sm-6">
                                      <label class="control-label">No.Stop<a class="icon-info" href="#" data-toggle="tooltip" title=""></a></label>
                                      <select class="form-control"  name="nstop_manual" id="nstop_manual" onchange="addRemoveFlightDetails(this.value);">
                                          <option value="">Select stops</option>
                                          <option value="0"> Direct </option>
                                          <option value="1"> 1 </option>
                                          <option value="2"> 2 </option>
                                          <option value="3"> 3 </option>
                                          <option value="4"> 4 </option>
                                          <option value="5"> 5 </option>
                                      </select>
                                      <p style="margin-bottom: 0px;" id="err_nstop_manual" class="text-danger err_msg"></p>

                                  </div>
                                          <div class="form-group col-sm-6">
                                              <label class="control-label">No of Passengers<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                              <input type="text" class="form-control " placeholder="No of Passengers"  id="passengers_count"  name="passengers_count" value="" />
                                              <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="form-group col-sm-12 mg-top15">
                                              <input class="btn btn-primary mg-right5" value="Submit" name="peoplefee" id="peoplefee" onclick="getPeopleServiceFeeSRC('traveller')" type="button">
                                              <input class="btn btn-black reset" value="Cancel"  type="reset">

                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-md-4 col-sm-12 col-xs-12 table-cell rightSection bg-white">
                                      <aside class="sidebar-right">
                                          <div class="sidebar-block">
                                              <div class="sidebar-header">
                                               <h5 class="mb0">ESTIMATED EARNINGS <span id="min_text"></span></h5>
                                              </div>
                                              <div class="sidebar-block-inner text-center">
                                                  <div class="panel panel-default">
                                                      <div class="block-inner-title">People Service</div>
                                                      <div class="text-center est-price">
                                                          <span id="span_people_service_fee" style="height:180px; line-height:180px; width:180px;"><?php echo $comSessObj->currencycode;?> 0.00</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </aside>
                                  </div>
                          </div>
                        </div>

                        <div id="tab2" class="tab-pane fade">

                          <div class="row">
                         <div class="col-md-8 col-sm-12 col-xs-12 table-cell travel-form bg-white">
                                 <div class="form-block">
                                      <div class="row">
                 <div class="form-group col-sm-6">
                     <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
                     <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location"  />
                     <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
                 </div>
                 <div class="form-group col-sm-6">
                     <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
                     <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location"/>
                     <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
                 </div>
             </div>
                                   <div class="row packages_boxSRC" id="packages_boxSRC">
                                                                             <div class="col-sm-6 form-group">
                                                                                 <label class="control-label">Item category<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select category of item which needs to be transported."></a></label>
                                                                                 <select class="form-control category" name="category" id="category">
                                                                                     <option value=""> - Select - </option>
                                                                                         <?php if(count($this->project_cats)>0){
                                                                                             foreach($this->project_cats as $tasks_category){
                                                                                                 $packCatSelected = (isset($packageDetail['item_category']) && $packageDetail['item_category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                                                 echo '<option '.$packCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                                            }
                                                                                         } ?>
                                                                                 </select>
                                                                                 <p style="margin-bottom: 0px;" id="err_category" class="text-danger err_msg"></p>
                                                                             </div>
                                                                             <div class="form-group col-sm-6 ">
                                                                                 <label class="control-label">Item Type<a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please select exact item that needs to be transported."></a></label>
                                                                                 <select class="form-control item_category" name="item_category" id="item_category" >
                                                                                     <option value=""> - Select - </option>
                                                                                     <?php if(isset($packageDetail['subCategory']) && !empty($packageDetail['subCategory']) && isset($packageDetail['item_sub_category'])){
                                                                                         foreach($packageDetail['subCategory'] as $subCategory){
                                                                                             $subCatSelected = (isset($packageDetail['item_sub_category']) && $subCategory['ID'] == $packageDetail['item_sub_category'])?'selected="selected"':' ';
                                                                                             echo '<option '.$subCatSelected.'value="'.$subCategory['ID'].'">'.$subCategory['subcatname'].'</option>';
                                                                                         }
                                                                                     } ?>
                                                                                 </select>
                                                                                 <p style="margin-bottom: 0px;" id="err_item_category" class="text-danger err_msg"></p>
                                                                             </div>
                                                                         </div>
         <!--                             <div class="row">
                                         <div class="form-group col-sm-4">
                                             <label class="control-label">Item Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                             <input type="text" class="form-control contact_name" placeholder="Item Weight" id="total_weight"  name="total_weight" value="" />                                                <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>

                                         </div>
                                           <div class="form-group col-sm-4">
                                             <label class="control-label">Item Worth<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                             <input type="text" class="form-control " placeholder="Item Worth"  id="total_worth"  name="total_worth" value="" />
                                             <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>
                                         </div>
                                         </div>-->


                                     <div class="row">
                                         <div class="form-group col-sm-12 mg-top15">
                                             <input class="btn btn-primary mg-right5" value="Submit" name="packagefee" id="packagefee" onclick="getPackageServiceFeeSRC('traveller');" type="button">
                                             <input class="btn btn-black" value="Cancel" name="" id="" type="submit">

                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-4 col-sm-12 col-xs-12 table-cell rightSection bg-white">
                                     <aside class="sidebar-right">
                                         <div class="sidebar-block">
                                             <div class="sidebar-header">
                                              <h5 class="mb0">ESTIMATED EARNINGS <span id="min_text"></span></h5>
                                             </div>
                                             <div class="sidebar-block-inner text-center">
                                                 <div class="panel panel-default">
                                                     <div class="block-inner-title">Package Service</div>
                                                     <div class="text-center est-price">
                                                      <span id="span_package_service_fee" style="height:180px; line-height:180px; width:180px;"><?php echo $comSessObj->currencycode;?> 0.00</span>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </aside>
                                 </div>

                     </div>

                        </div>

                        <div id="tab3" class="tab-pane fade">

                          <div class="row">
                         <div class="col-md-8 col-sm-12 col-xs-12 table-cell travel-form bg-white">
                                 <div class="form-block">
                                      <div class="row">
                 <div class="form-group col-sm-6">
                     <label class="control-label">Origin Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide origin city or airport details from where passengers need to begin journey or per ticket reserved."></a></label>
                     <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="origin_location" id="origin_location"  />
                     <p style="margin-bottom: 0px;" id="err_origin_location" class="text-danger err_msg"></p>
                 </div>
                 <div class="form-group col-sm-6">
                     <label class="control-label">Destination Location <span class="text-danger">*</span><a class="icon-info" href="javascript:;" data-toggle="tooltip" title="Please provide destination city or airport details to where passengers need to end journey or per ticket reserved."></a></label>
                     <input class="typeahead form-control" placeholder="City or Airport Code" type="text" name="destination_location" id="destination_location"/>
                     <p style="margin-bottom: 0px;" id="err_destination_location" class="text-danger err_msg"></p>
                 </div>
             </div>
                                      <div class="row" style="display:none;" id="project_service_type_menu">
                                                 <div class="form-group col-sm-12">
                                                      <label class="control-label">Select the project type<span class="text-danger">*</span></label>
                                                 </div>
                                                 <div class="form-group col-sm-12">

                                                          <select class="form-control project_service_type" id="project_service_type" name="product_category_select">
                                                                             <option value="">select</option>
                                                                             <option value="project_type_product">Choose products and ship worldwide</option>
                                                                             <option value="project_type_task">Personal concierge for your tasks</option>
                                                                         </select>

                                                 </div>
                                                 <input type="hidden" id="work_category" name="work_category" value="<?php echo isset($trip_seeker['work_category'])?$trip_seeker['work_category']:'' ?>" />
                                             </div>
                                     <div class="row productTasksSRC" id="productTasksSRC">
                                                                     <div class="form-group col-sm-6">
                                                                         <label class="control-label">Product category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                                         <select class="form-control product_category"  id="product_category" name="product_category">
                                                                             <option value=""> - select - </option>
                                                                             <?php if(count($this->project_tasks_categories_type)>0){
                                                                                 foreach($this->project_tasks_categories_type as $tasks_category){
                                                                                     $proCatSelected = (isset($productDetail['category']) && $productDetail['category'] == $tasks_category['ID'])?'selected="selected"':'';
                                                                                     echo '<option '.$proCatSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category['catname'].'</option>';
                                                                                     }
                                                                                 } ?>
                                                                         </select>
                                                                         <p style="margin-bottom: 0px;" id="err_product_category" class="text-danger err_msg"></p>
                                                                     </div>
                                                                     <div class="form-group tasklists col-sm-6" id="product_lists">
                                                                         <label class="control-label">Product type <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                                         <select class="form-control product_additional_requirements_category" id="product_additional_requirements_category" name="product_additional_requirements_category">
                                                                             <option value="">Select</option>

                                                                         </select>
                                                                         <p id="err_product_additional_requirements_category" class="text-danger err_msg"></p>
                                                                     </div>
                                                                 </div>
                                     <div class="row projectTasksSRC" id="projectTasksSRC">
                                                                     <div class="form-group col-sm-6">
                                                                         <label class="control-label">Category <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select category of product which needs to be purchased"></a></label>
                                                                         <select class="form-control task_category"  id="task_category" name="task_category">
                                                                             <option value=""> - select - </option>
                                                                             <?php if(count($this->project_tasks_categories_type)>0){
                                                                                     foreach($this->project_tasks_categories_type as $tasks_category){
                                                                                         $catSelected = (isset($taskDetail['category']) && $tasks_category['ID'] == $taskDetail['category'])?'selected="selected"':'';
                                                                                         echo '<option '.$catSelected.' value="'.$tasks_category['ID'].'">'.$tasks_category["catname"].'</option>';
                                                                                     }
                                                                                 } ?>
                                                                         </select>
                                                                         <p id="err_task_category" class="text-danger err_msg"></p>
                                                                     </div>
                                                                     <div class="form-group tasklists col-sm-6" id="tasklists">
                                                                         <label class="control-label">Task Lists <span class="text-danger">*</span><a class="icon-info" href="#" data-toggle="tooltip" title="Please select exact product that needs to be purchased"></a></label>
                                                                         <select class="form-control additional_requirements_category" id="additional_requirements_category" name="additional_requirements_category">
                                                                             <option value="">select</option>
                                                                         </select>
                                                                         <p id="err_additional_requirements_category" class="text-danger err_msg"></p>
                                                                     </div>
                                                                 </div>
         <!--                            <div class="row product_Weight_and_Worth" id="product_Weight_and_Worth">
                                         <div class="form-group col-sm-4">
                                             <label class="control-label">Product Weight<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                             <input type="text" class="form-control contact_name" placeholder="Product Weight" id="project_total_weight"  name="project_total_weight"  />                                                <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>

                                         </div>

                                          <div class="form-group col-sm-4">
                                             <label class="control-label">Product Worth<a class="icon-info" href="javascript:;" data-toggle="tooltip" title=""></a></label>
                                             <input type="text" class="form-control " placeholder="Item Worth"  id="project_total_worth"  name="project_total_worth"  />
                                             <p style="margin-bottom: 0px;" id="" class="text-danger err_msg"></p>
                                         </div>
                                     </div>-->
                                     <div class="row">
                                         <div class="form-group col-sm-12 mg-top15">
                                             <input class="btn btn-primary mg-right5" value="Submit" name="projectFee" id="projectFee" onclick="getProjectServiceFeeSRC('traveller')" type="button">
                                             <input class="btn btn-black" value="Cancel" name="" id="" type="reset">

                                         </div>
                                     </div>
                                 </div>
                             </div>
                            <div class="col-md-4 col-xs-12">
                                        <aside class="sidebar-right">
                                             <div class="sidebar-block">
                                                 <div class="sidebar-header">
                                                     <h5 class="mb0">ESTIMATED EARNINGS</h5>
                                                 </div>
                                                 <div class="sidebar-block-inner text-center">
                                                     <div class="panel panel-default">
                                                         <div class="block-inner-title">Product Service</div>
                                                         <div class="text-center est-price">
                                                          <span id="span_project_service_fee" style="height:180px; line-height:180px; width:180px;"><?php echo $comSessObj->currencycode;?> 0</span>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </aside>
                                     </div>

                     </div>

                        </div>

                      </div>

                    </div>

                    <?php
                      }
                    ?>
                    <!-- traveller tabs ends -->



      </section>
    </div>
</div>
<script>
  $(function(){
    $('#seekerBtn').click(function(){
      $('#seekerBtn').addClass('active');
      $('#travellerBtn').removeClass('active');
    });
  })
   $(function(){
    $('#travellerBtn').click(function(){
      $('#travellerBtn').addClass('active');
      $('#seekerBtn').removeClass('active');
    });
  })
</script>
<script>

        $("#productTasksSRC").hide();
        $("#projectTasksSRC").hide();
        $("#product_Weight_and_Worth").hide();
     $('#project_service_type').on('change', function() {
        if($(this).find(":selected").val() == 'project_type_task'){
            $("#product_Weight_and_Worth").hide();
            $('#projectTasksSRC').show();
             $("#productTasksSRC").hide();
            $('#work_category').val('0');
        } else {
            $("#product_Weight_and_Worth").show();
            $('#productTasksSRC').show();
            $("#projectTasksSRC").hide();
            $('#work_category').val('1');
        }

		$('#work_category').val(1);

        var dataString = 'id=' + $('#work_category').val();
        $.ajax({
            type: "POST",
            url: baseurl + '/trips/getprojectcategory',
            data: dataString,
            cache: false,
            success: function (html) {
                if($('#work_category').val() == '1'){
                    $('.product_category').html(html);
                } else {
                    $('.task_category').html(html);
                }
                var selectDefault = '<option value="">-- Select --</option>';
                $(".product_additional_requirements_category").html(selectDefault);
                $(".additional_requirements_category").html(selectDefault);
            }
        });
        $('#project_service_type_back').show();
        //$('#project_service_type_menu').hide();
        showHideWorkCategory();
    });

    $('#project_service_type_back').click(function(){
        $('#project_service_type_menu').show();
        if($('#work_category').val() == '1'){
            $("#project_type_product").addClass('active');
            $("#project_type_task").removeClass('active');
        } else {
            $("#project_type_task").addClass('active');
            $("#project_type_product").removeClass('active');
        }
        $('#project_service_type_back').hide();
        $('#obtainTravelDeliveryCategory').hide();
        $('#otherWorkCategory').hide();
    });
     function showHideWorkCategory(workCategoryValue){
        workCategoryValue = workCategoryValue || $('#work_category').val();
        if(workCategoryValue == '1'){
            $('#obtainTravelDeliveryCategory').show();
            $('#otherWorkCategory').hide();
        } else if(workCategoryValue != '1' && workCategoryValue != '') {
            $('#otherWorkCategory').show();
            $('#obtainTravelDeliveryCategory').hide();
        }
    }
(function ($) {
    'use strict';
    $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function (e) {
        var $target = $(e.target);
        var $tabs = $target.closest('.nav-tabs-responsive');
        var $current = $target.closest('li');
        var $parent = $current.closest('li.dropdown');
        $current = $parent.length > 0 ? $parent : $current;
        var $next = $current.next();
        var $prev = $current.prev();
        var updateDropdownMenu = function ($el, position) {
            $el
                    .find('.dropdown-menu')
                    .removeClass('pull-xs-left pull-xs-center pull-xs-right')
                    .addClass('pull-xs-' + position);
        };

        $tabs.find('>li').removeClass('next prev');
        $prev.addClass('prev');
        $next.addClass('next');

        updateDropdownMenu($prev, 'left');
        updateDropdownMenu($current, 'center');
        updateDropdownMenu($next, 'right');
    });

})(jQuery);

$('#total_weight,#project_total_weight').bind('keypress', function(e) {
    //e.preventDefault();
});
$(document).ready(function() {
    setTimeout(function(){$('#project_service_type').trigger('change');},1000);
});
</script>
