<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div class='container-fuild'>

	<div class="well well-sm">

		<div class='container'>

			<div class="row">

				<div class='col-sm-4'>

					<h4>Trip Contenders / <small>Small content</small></h4>

				</div>

				<div class="col-sm-8">

					<?=$this->render('helpers/switch-user.phtml')?>

				</div>

			</div>

		</div>

	</div>

</div>


<div class='container'>

	<div class="row row-wrap">

		<div class="col-sm-3">

			<div class="verify-traveler">

				<header class="clearfix">

					<h5 class="mb0">Travel Details</h5>

				</header>

				<ul class="verify-traveler-details">

					<li>

						<div class="row">

							<div class="col-xs-12">

								<p class="verify-traveler-detail-item">Origin Location</p>

								<p class="verify-traveler-detail-item"><span class="small">MAA (Anna Intl, Airport), Chennai, TN, India.</span></p>

							</div>

						</div>

					</li>

					<li>

						<div class="row">

							<div class="col-xs-12">

								<p class="verify-traveler-detail-item">Destination Location</p>

								<p class="verify-traveler-detail-item"><span class="small">JFK (John F.Kennedy Airport) New York, NY, USA.</span></p>

							</div>

						</div>

					</li>

				</ul>

			</div>

		</div><!-- Left Coloumn -->

		<div class="col-sm-9">

			<div class="panel-group" id="accordion">

				<!-- people-info -->

				<div class="panel panel-default">

					<div class="panel-heading">

						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info">People Info</a></h4>

					</div>

					<div class="panel-collapse collapse in" id="people-info">

						<div class="panel-body">

							<div class="col-sm-7">

								<dl class="dl-horizontal service-description clearfix mb10">

								  <dt>Number of person travelling with the member in this travel</dt>

								  <dd class="mt20">2 Person</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Number of Male</dt>

								  <dd>1</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Number of Female</dt>

								  <dd>1</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Any Person of age above 60</dt>

								  <dd>Yes</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Any Child below 5 Years Old</dt>

								  <dd>No</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Member's Comments</dt>

								  <dd>I am travelling with my family members. My wife and father. I can accompany anyone who wish to travel. Please review my ratings and contact me through Trepr.</dd>

								</dl>

							</div>

							<div class="col-sm-5">

								<div class="row">

									<div class="panel-group" id="accordion2">

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#request-others-sent">Request Others Sent</a></h4>

											</div>

											<div id="request-others-sent" class="panel-collapse collapse in">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																	<p class="thumb-list-item-meta">5 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																	<p class="thumb-list-item-meta">9 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																	<p class="thumb-list-item-meta">6 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#request-sent-you" class="collapsed">Request Sent by You</a></h4>

											</div>

											<div id="request-sent-you" class="panel-collapse collapse">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																	<p class="thumb-list-item-meta">2 days ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-success mt10" role="alert"><strong>Accepted</strong></div>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																	<p class="thumb-list-item-meta">5 days ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-danger mt10" role="alert"><strong>declined</strong></div>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																	<p class="thumb-list-item-meta">5 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-success mt10" role="alert"><strong>Accepted</strong></div>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#request-shortlists" class="collapsed">Profiles shortlisted</a></h4>

											</div>

											<div id="request-shortlists" class="panel-collapse collapse">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

									</div>

								</div><!-- /row -->

							</div><!-- Right Coloumn -->

						</div>

					</div>

				</div>

				<!-- people-info -->

				<!-- package-info -->

				<div class="panel panel-default">

					<div class="panel-heading">

						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info">Package Info</a></h4>

					</div>

					<div class="panel-collapse collapse" id="package-info">

						<div class="panel-body">

							<div class="col-sm-7">

								<dl class="dl-horizontal service-description mb10">

								  <dt>No of baggages carried</dt>

								  <dd>2</dd>

								</dl>

								<dl class="dl-horizontal service-description clearfix mb10">

								  <dt>Weight allowed in airline per baggage</dt>

								  <dd>50 kg</dd>

								</dl>

								<dl class="dl-horizontal service-description clearfix mb10">

								  <dt>Approx.weight carried by you over all</dt>

								  <dd>20 kg</dd>

								</dl>

								<dl class="dl-horizontal service-description clearfix mb10">

								  <dt>Approx.weight of baggage you can accommodate</dt>

								  <dd>25 kg</dd>

								</dl>

								<dl class="dl-horizontal service-description clearfix mb10">

								  <dt>Items that you don't wish to carry</dt>

								  <dd>Glass, Bottles</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Comment's to this Seeker</dt>

								  <dd>I am travelling with my family and i am carrying 20 kg weight of baggage with cloths and personal stuff. I can accommodate additional items as mentioned in the service. Please review ratings and contact me through Trepr.</dd>

								</dl>

							</div>

							<div class="col-sm-5">

								<div class="row">

									<div class="panel-group" id="accordion3">

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#package-request-others-sent">Request Others Sent</a></h4>

											</div>

											<div id="package-request-others-sent" class="panel-collapse collapse in">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																	<p class="thumb-list-item-meta">5 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																	<p class="thumb-list-item-meta">9 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																	<p class="thumb-list-item-meta">6 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#package-request-sent-you" class="collapsed">Request Sent by You</a></h4>

											</div>

											<div id="package-request-sent-you" class="panel-collapse collapse">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																	<p class="thumb-list-item-meta">2 days ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-success mt10" role="alert"><strong>Accepted</strong></div>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																	<p class="thumb-list-item-meta">5 days ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-danger mt10" role="alert"><strong>declined</strong></div>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																	<p class="thumb-list-item-meta">5 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-success mt10" role="alert"><strong>Accepted</strong></div>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#package-request-shortlists" class="collapsed">Profiles shortlisted</a></h4>

											</div>

											<div id="package-request-shortlists" class="panel-collapse collapse">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

									</div>

								</div><!-- /row -->

							</div><!-- Right Coloumn -->

						</div>

					</div>

				</div>

				<!-- package-info -->

				<!-- project-info -->

				<div class="panel panel-default">

					<div class="panel-heading">

						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#project-info">Product Info</a></h4>

					</div>

					<div class="panel-collapse collapse" id="project-info">

						<div class="panel-body">

							<div class="col-sm-7">

								<dl class="dl-horizontal service-description clearfix mb10">

									<dt>Task(s) wish to perform</dt>

									<dd>

										<abbr title="Obtain Tickets">Obtain Tickets</abbr>,

										<abbr title="Transport Goods &amp; Delivery">Transport Goods &amp; Delivery</abbr>,

										<abbr title="Onlocation Help">Onlocation Help</abbr>,

										<abbr title="Business Referral Service">Business Referral Service</abbr>,

										<abbr title="Reservations">Reservations</abbr>,

										<abbr title="Research and Suggest">Research and Suggest</abbr>,

										<abbr title="Personalized Needs">Personalized Needs</abbr>,

										<abbr title="Pet Service">Other - Pet Service</abbr>

									</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>Dates available Available</dt>

								  <dd>Any Date</dd>

								</dl>

								<dl class="dl-horizontal service-description mb10">

								  <dt>From & To Date</dt>

								  <dd>10th February 2014 <kbd>TO</kbd> 12th February 2016</dd>

								</dl>

							</div>

							<div class="col-sm-5">

								<div class="row">

									<div class="panel-group" id="accordion4">

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion4" href="#project-request-others-sent">Request Others Sent</a></h4>

											</div>

											<div id="project-request-others-sent" class="panel-collapse collapse in">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																	<p class="thumb-list-item-meta">5 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																	<p class="thumb-list-item-meta">9 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="AMaze" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																	<p class="thumb-list-item-meta">6 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<button type="button" class="btn btn-success btn-sm mb5">Accept</button>

																	<button type="button" class="btn btn-danger btn-sm">Dicline</button>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion4" href="#project-request-sent-you" class="collapsed">Request Sent by You</a></h4>

											</div>

											<div id="project-request-sent-you" class="panel-collapse collapse">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																	<p class="thumb-list-item-meta">2 days ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-success mt10" role="alert"><strong>Accepted</strong></div>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																	<p class="thumb-list-item-meta">5 days ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-danger mt10" role="alert"><strong>declined</strong></div>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-9 no-padding">

																<a href="requests-sent-to-you.html">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="requests-sent-to-you.html"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																	<p class="thumb-list-item-meta">5 minutes ago</p>

																</div>

															</div>

															<div class="col-xs-3 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<div class="alert-success mt10" role="alert"><strong>Accepted</strong></div>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion4" href="#project-request-shortlists" class="collapsed">Profiles shortlisted</a></h4>

											</div>

											<div id="project-request-shortlists" class="panel-collapse collapse">

												<div class="panel-body service-request">

													<ul class="thumb-list thumb-list-left">

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="AMaze" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Ligula ornare euismod etiam ultricies libero hendrerit...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Gamer Chick" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Fringilla volutpat cum rhoncus venenatis mi et...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

														<li>

															<div class="col-xs-8 no-padding">

																<a href="<?php echo $this->baseUrl(); ?>/wishlist">

																	<img class="rounded" src="<?php echo $this->basePath(); ?>/img/70x70.png" alt="username" title="Afro" />

																</a>

																<div class="thumb-list-item-caption">

																	<h4 class="thumb-list-item-title"><a href="<?php echo $this->baseUrl(); ?>/wishlist"><strong>John smith</strong></a></h4>

																	<p class="thumb-list-item-desciption">Nec donec imperdiet convallis id maecenas nam...</p>

																</div>

															</div>

															<div class="col-xs-4 no-padding">

																<div class="thumb-list-item-btn-toolbar">

																	<div class="text-center">

																		<button type="button" class="btn btn-info btn-sm mt10">Send Request</button>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

									</div>

								</div><!-- /row -->

							</div><!-- Right Coloumn -->

						</div>

					</div>

				</div>

				<!-- project-info -->

			</div>

		</div><!-- Center Coloumn -->



	</div>

</div>
