<?php if (isset($_POST) && !empty($_POST)) {
    extract($_POST);
} ?>

<div class="content-wrapper">
  <h2 class="text-center title">Weights and Dimensions</h2>
    <div class="content-box">
      <div class="heading">
          <h3>Volumetric Weight Calculation</h3>
          <p>When dimensional weight exceeds actual weight, shipments will be charged according to the IATA volumetric standard.</p>
      </div>
      <div class="desp">
        <div class="row">
          <div class="col-sm-6">
            <h5>Volumetric Weight Calculation Domestic USA</h5>
            <div class="image-wrapper text-center">
              <img src="<?php echo $this->basePath(); ?>/public/img/usa-weight-cal.jpg">
            </div>
          </div>
          <div class="col-sm-6">
            <h5>Volumetric Weight Calculation International</h5>
            <div class="image-wrapper text-center">
              <img src="<?php echo $this->basePath(); ?>/public/img/international-weight-cal.jpg">
            </div>
          </div>
        </div>
        <p class="p-20">For example, for U.S. or Canadian origin export shipments measured in inches, the divisor is 166. For EMEA, LAC and APAC origin export shipments measured in inches, the divisor is 139; if measured in centimeters, the divisor is 5,000.
        </p>
      </div>
    </div>
</div>
