
<div class="booking-list booking-list-wishlist bookingWishlist">
<div class="row">
 <?php if(isset($this->wishlists) && !empty($this->wishlists)){
     foreach($this->wishlists as $wishlistRow){
         
          
                                if(isset($wishlistRow['image']) && !empty($wishlistRow['image'])){
                                    if(strpos($wishlistRow['image'], "http") !== false){
                                        $img = $wishlistRow['image'];
                                    }else{
                                        $img = $this->basePath().'/public/uploads/profile_picture/small/'.$wishlistRow['image'];
                                    }
                                }else{
                                    $img = $this->basePath().'/public/default_user.png';
                                }
                             
         ?>
 <div class="col-md-6">    
            <div class="booking-listBlock"><span class="booking-item-wishlist-title"><i class="fa fa-plane"></i><span >added on <?php echo date('F d,Y',$wishlistRow['trip_added'])?></span></span>
             <a class="fa fa-times booking-item-wishlist-remove remove-wishlist" onclick="removeWishlist('<?php echo $wishlistRow['wishlistId']?>')"  href="javascript:void(0);" rel="tooltip" data-placement="top" title="remove from wishlist"></a>
                <a class="booking-item" href="<?php echo $this->basePath()?>/<?php echo $this->ulrgoesto?>/detail/<?php echo $wishlistRow['ID']?>">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="booking-item-img-wrap round">
                                <img src="<?php echo $img; ?>" alt="John smith" title="John smith" />
                            </div>
                            <div class="booking-item-rating">
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-o"></i>
                                    </li>
                                </ul><span class="booking-item-rating-number"><b ><?php echo $wishlistRow['ratings']?></b> of 5</span>
                                <small>(<?php echo $wishlistRow['ratingsCount']?> reviews)</small>
                            </div>
                        </div>
                        <div class="col-sm-9">

                            <div class="row">
                                <div class="areo col-md-3 col-sm-3">
                                    <span>From</span>
                                    <i class="fa fa-plane fa-flip-vertical"></i>                                                    
                                </div>
                                <div class="from-to-locate col-md-9 col-sm-9">
                                    <h5><?php echo $wishlistRow['origin_location_city']?>, <?php echo $wishlistRow['origin_location_country']?></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="areo col-md-3 col-sm-3">
                                    <span>TO</span>
                                    <i class="fa fa-plane fa-flip-vertical"></i>                                                    
                                </div>
                                <div class="from-to-locate col-md-9 col-sm-9">
                                    <h5><?php echo $wishlistRow['destination_location_city']?>, <?php echo $wishlistRow['destination_location_country']?></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 areo"> 
                                    <span class="booking-item-price-from"><?php echo $wishlistRow['service']?> service</span>
                                    <span class="booking-item-price">$40</span>
                                    <div> 
                                     <span class="btn btn-primary">View</span>
                                  </div>
                                </div>


                            </div>

                        </div>
                       
                    </div>
                </a>
            </div>
        </div>
 <?php
     }
 }else{
     ?>
 <div class="col-md-12">    
            <div class="booking-listBlock"><span class="booking-item-wishlist-title">  
              
              No wishlist found.
            </div>
        </div>
 <?php
 }
?>
    
    
    
    </div>

</div>
