<section id="wizard">
            <div id="rootwizard" class="tabbable tabbable-new tabs-left">
                <ul class="nav nav-tabs-new nav-tabs-responsive responsive-tabs">
                    <li class="active"><a href="#planned_trips" role="tab" data-toggle="tab" aria-controls="current_upcoming"><span class="text">Planned trips</span></a></li>
                    <li><a href="#unplanned_trips" role="tab" data-toggle="tab" aria-controls="tab2"><span class="text">Unplanned trips</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active" id="planned_trips">
       <?php
            if ($this->upcoming_trips) {
				
				$urlRoute = ($comSessObj->userrole == 'seeker') ? 'seeker' : 'traveler';

                foreach ($this->upcoming_trips as $trip) {
					if(strtolower($trip['trip_status_txt']) != 'cancelled' && strtolower($trip['trip_status_txt']) != 'trip listing expired' && $trip['wishlist_count'] > 0){
                    ?>
<div class="taveler-content">

        <div class="booking-item traveler-sec">
            
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 dep-date">
                    <div class="graybox">
                        <div class="calendar-daily cal-travel">
                            <p class="title">
                            	<?php if($this->comSessObj->userrole == 'traveller'){ ?>
                                DEPARTURE
                                <span class="subtitle">
                                    <?php echo (strpos($trip['departure_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>                                                 
                                </span>
                                <?php } else { ?>
                                DATE RANGE FROM
                                <span class="subtitle">
                                    <?php echo (strpos($trip['project_start_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['project_start_date']); ?>                                                 
                                </span>
                                <?php } ?>
                            </p>
                        </div>
                        <div class="graybox-footer graybox-footer-calendar cal-travel">
                            <p class="title-01">
                            	<?php if($this->comSessObj->userrole == 'traveller'){ ?>
                                ARRIVAL
                                <span class="subtitle">
                                 <?php echo (strpos($trip['arrival_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']); ?>                                                     
                                </span>
                                <?php } else { ?>
                                DATE RANGE TO
                                <span class="subtitle">
                                 <?php echo (strpos($trip['project_end_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['project_end_date']); ?>                                                     
                                </span>
                                <?php } ?>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12 dep-travel">
                    <div class="graybox graybox-rt">
                        <div class="row">
                        <div class="graybox-heading-full travelInfo col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="areo col-sm-3">
                                    <span class="from">FROM</span>
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="from-to-locate dep-locate col-sm-9">
                                    <h5><?php echo $trip['origin_location_city']; ?>, <?php echo $trip['origin_location_country'].' ('.$trip['origin_location_code'].')'; ?></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="areo col-sm-3">
                                    <span>TO</span>
                                    <i class="fa fa-plane fa-flip-vertical"></i>
                                </div>
                                <div class="from-to-locate dep-locate col-sm-9">
                                    <h5><?php echo $trip['destination_location_city']; ?>, <?php echo $trip['destination_location_country'].' ('.$trip['destination_location_code'].')'; ?></h5>
                                </div>
                            </div>
                            <div class="graybox-footer">
                            <div class="graybox-row">
                                <div class="graybox-foot service col-xs-7">
                                    <div class="head-box">
                                        <i class="fa fa-briefcase"></i> <span class="i-head">SERVICES</span>
                                    </div>
                                    <div class="head-box-bot">
                                        <p><?php echo $trip['service']; ?></p>
                                    </div>
                                </div>

                                <div class="graybox-foot service col-xs-5">
                                    <div class="head-box">
                                        <i class="fa fa-calendar"></i> <span class="i-head">CREATED</span>
                                    </div>
                                    <div class="head-box-bot">
                                        <p><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                    </div>
                                </div>

                            </div>

                        </div>
                        </div>                        
                        <div class="col-sm-4 col-xs-12">
                                        <div class="graybox-foot status">
                                            <div class="head-box">
                                                <span class="i-head">STATUS</span>
                                            </div>
                                            <div class="head-box-bot">
                                            	<a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                                	<p><?php echo $trip['trip_status_txt'];?></p>
                                                </a>
                                            </div>
                                        </div></div>
                       </div>  
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 dep-detail">
                    <div class="req-common" style="position:relative;"><a href="<?php echo $this->basePath().'/'.$urlRoute.'/tripcontenders/'.$trip['ID'].'?action=toyou&service='.$trip['service'];?>&from=wishlist"><h5>Show Wishlist</h5><span class="wishlist_cnt"><?php echo $trip['wishlist_count']; ?></span></a></div>
                 </div>
                </div>
        </div>  
       </div>
      <?php
                }
            }
			}
       ?>
	   				</div>
					<div class="tab-pane" id="unplanned_trips">
	   <?php
            if ($this->unplanned_trips)  {
                foreach ($this->unplanned_trips as $trip) {
					if(strtolower($trip['trip_status_txt']) != 'cancelled' && strtolower($trip['trip_status_txt']) != 'trip listing expired'){
                    ?>
<div class="taveler-content">
        <div class="booking-item traveler-sec">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 dep-date">
                    <div class="graybox">
                        <div class="calendar-daily cal-travel">
                            <p class="title">
                            	<?php if($this->comSessObj->userrole == 'seeker'){ ?>
                                DEPARTURE
                                <span class="subtitle">
                                    <?php echo (strpos($trip['departure_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['departure_date']); ?>                                                 
                                </span>
                                <?php } else { ?>
                                DATE RANGE FROM
                                <span class="subtitle">
                                 <?php echo (strpos($trip['project_start_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['project_start_date']); ?>                                                     
                                </span>
                                <?php } ?>
                            </p>
                        </div>
                        <div class="graybox-footer graybox-footer-calendar cal-travel">
                            <p class="title-01">
                            	<?php if($this->comSessObj->userrole == 'seeker'){ ?>
                                ARRIVAL
                                <span class="subtitle">
                                 <?php echo (strpos($trip['arrival_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['arrival_date']); ?>                                                     
                                </span>
                                <?php } else { ?>
                                DATE RANGE TO
                                <span class="subtitle">
                                 <?php echo (strpos($trip['project_end_date'],'1970-01-01') > -1)?'-':$this->common()->timeZoneAdjust('D, d M y', $trip['project_end_date']); ?>                                                     
                                </span>
                                <?php } ?>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12 dep-travel">
                    <div class="graybox graybox-rt">
                        <div class="row">
                        <div class="graybox-heading-full travelInfo col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="areo col-sm-3">
                                    <span class="from">FROM</span>
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="from-to-locate dep-locate col-sm-9">
                                    <h5><?php echo $trip['origin_location_city']; ?>, <?php echo $trip['origin_location_country'].' ('.$trip['origin_location_code'].')'; ?></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="areo col-sm-3">
                                    <span>TO</span>
                                    <i class="fa fa-plane fa-flip-vertical"></i>
                                </div>
                                <div class="from-to-locate dep-locate col-sm-9">
                                    <h5><?php echo $trip['destination_location_city']; ?>, <?php echo $trip['destination_location_country'].' ('.$trip['destination_location_code'].')'; ?></h5>
                                </div>
                            </div>
                            <div class="graybox-footer">
                            <div class="graybox-row">
                                <div class="graybox-foot service col-xs-7">
                                    <div class="head-box">
                                        <i class="fa fa-briefcase"></i> <span class="i-head">SERVICES</span>
                                    </div>
                                    <div class="head-box-bot">
                                        <p><?php echo $trip['service']; ?></p>
                                    </div>
                                </div>

                                <div class="graybox-foot service col-xs-5">
                                    <div class="head-box">
                                        <i class="fa fa-calendar"></i> <span class="i-head">CREATED</span>
                                    </div>
                                    <div class="head-box-bot">
                                        <p><?php echo $this->common()->timeZoneAdjust('m/d/Y', $trip['modified']); ?></p>
                                    </div>
                                </div>

                            </div>

                        </div>
                        </div>                        
                        <div class="col-sm-4 col-xs-12">
                                <div class="graybox-foot status">
                                    <div class="head-box">
                                        <span class="i-head">STATUS</span>
                                    </div>
                                    <div class="head-box-bot">
                                        <a target="_blank" href="<?php echo $this->basePath() . '/traveller/listingandconfirm/' . $trip['ID'].'/'.$trip['service']; ?>">
                                            <p><?php echo $trip['trip_status_txt'];?></p>
                                        </a>
                                    </div>
                                </div>
                           </div>
                       </div>  
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 dep-detail">
                    <div class="req-common" style="position:relative;"><a href="<?php echo $this->basePath(); ?>/<?php echo $this->comSessObj->userrole == 'seeker'?'traveller':'seeker' ?>/detail/<?=$trip['normal_id'];?>?service=<?php echo $trip['service']?>"><h5>Approve Trip</h5></a></div>
					<!--<div class="req-common" style="position:relative;"><a href="<?php echo $this->basePath(); ?>/search?trip=<?=$trip['ID'];?>?service=<?php echo $trip['service']?>"><h5>Show Trip</h5></a></div>-->
                 </div>
                </div>
        </div>  
       </div>
      <?php
                }
				}
            }
       ?>
	   				</div>
				</div>
			</div>
		</div>
</section>
<div class="gap gap-small"></div>
<style type="text/css">
.wishlist_cnt{
	background-color: #c00;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
    cursor: pointer;
}
</style>
<script type="text/javascript">
$(document).ready(function(e) {
   if(!$('#planned_trips .taveler-content').length){$('a[href="#unplanned_trips"]').trigger('click');} 
});
</script>