<?php if (isset($this->trip['trip_package']) && $this->trip['trip_package'] != '') { ?>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#package-info" class="">Package Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="package-info" style="height:auto">
    <!-- package-info -->
    <div class="panel-body">
                
                 <h5 class="sub-heading text-left">Package Info</h5>
            <hr class="title-border">
                
                   <div class="form-group">
            <label class="control-label">No of individual items need to be carried</label>
            <p><?php echo $this->trip['trip_package']['packages_count']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Weight allowed in airline per baggage</label>
            <p><?php echo $this->trip['trip_package']['airline_allowed_weight']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Approx.weight carried by you over all</label>
            <p><?php echo $this->trip['trip_package']['weight_carried']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Approx.weight of baggage you can accommodate</label>
            <p><?php echo $this->trip['trip_package']['weight_accommodate']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Items that you don't wish to carry</label>
            <p><?php echo $this->trip['trip_package']['not_wish_to_carry']; ?></p>
            </div>
                     <div class="form-group">
            <label class="control-label">Comment's to this Seeker</label>
            <p><?php echo $this->trip['trip_package']['comment']; ?></p>
            </div>
                
                <div class="gap gap-mini"></div>

             
            </div>
    <!-- package-info -->
    </div>
</div>
<?php } ?>