<?php if (isset($this->trip['trip_people']) && $this->trip['trip_people'] != '') {
    $GENDER_TYPE = array('m' => 'Male', 'f' => 'Female');
    ?>
<link href="<?php echo $this->basePath() ?>/public/fineuploader/adsfineuploader-3.7.0.css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#people-info" class="">People Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="people-info" style="height:auto">
    <!-- people-info -->
           <div class="panel-body">
                <div class="row">
                 <div class="col-md-12">
                    <label class="control-label">Number of person travelling with the member in this travel</label>
                    <p><?php echo $this->trip['trip_people']['persons_travelling']; ?></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Number of Male</label>
                        <p><?php echo $this->trip['trip_people']['male_count']; ?></p>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Number of Female</label>
                        <p><?php echo $this->trip['trip_people']['female_count']; ?></p>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Any Person of age above 60</label>
                        <p><?php echo empty($this->trip['trip_people']['age_above_60_years'])?'No':'Yes'; ?></p>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Any Child below 5 Years Old</label>
                        <p><?php echo empty($this->trip['trip_people']['age_below_3_years'])?'No':'Yes'; ?></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Comments to this Seeker</label>
                        <p><?php echo $this->trip['trip_people']['comment']; ?></p>
                    </div>
                </div>
                
                <div class="gap gap-mini"></div>
           
         </div>
    <!-- people-info -->
    </div>
</div>
<?php } ?>