<?php if(isset($this->trip['trip_project']) && $this->trip['trip_project']!=''){ ?>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#project-info" class="">Product Info</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="project-info" style="height:auto">
<!-- project-info -->
        <div class="panel-body">
            <h5 class="sub-heading text-left">Product Info</h5>
            <hr class="title-border">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label">Category of tasks you wish to perform</label>  
                    <p><?php echo $this->trip['trip_project_task']['catname']; ?></p>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label">Task Type</label>  
                    <p><?php echo $this->trip['trip_project_task']['subcatname']; ?></p>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label">Available date for work</label>  
                    <p><?php
                        if ($this->trip['trip_project']['dates_available'] == 1) {
                            echo 'Any Dates';
                        } else {
                            echo $this->trip['trip_project']['start_date'] . ' - ' . $this->trip['trip_project']['end_date'];
                        }
                        ?></p>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label">Comments to the seeker</label>  
                    <p><?php echo $this->trip['trip_project']['comment']; ?></p>
                </div>
            </div> 
        </div>
    </div>
</div>
<?php } ?>