<div class="col-md-4 left-pad">
    <div class="sidebar-block bg-white">
        <div class="panel panel-default verify-traveler">
            <div class="panel-heading">
                <h3 class="panel-title">Payment Info</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-striped-new ">
                         <tr><td>Service Obtained:</td><td><?php echo $this->trip['service'];?></td></tr>
                         <tr><td>Service Requested Date:</td><td><?php echo date('d/M/Y',$this->trip_pay_row['pay_added'])?></td></tr>
						 <tr><td>Payment Date:</td><td><?php echo date('d/M/Y',$this->trip_pay_row['pay_added'])?></td></tr>
                         <tr><td>Service Cost:</td><td>$<?php echo number_format($this->trip_pay_row['pay_amount'],2)?></td></tr>
                         <tr><td>Paid Source:</td><td><?php echo $this->trip_pay_row['pay_card_type'];?></td></tr>
                         <tr><td>Service Completion Date:</td><td><?php echo date('d/M/Y',strtotime($this->trip['arrival_date']));?></td></tr>
                         <tr><td>Transaction ID:</td><td><?php echo ($this->trip_pay_row['pay_trans_id'])?></td></tr>
                         <tr><td>Payment Status:</td><td><span class="btn btn-success btn-sm" >On Hold</span></td></tr>
                    </table>
                </div>
            </div>
		</div>
    </div>  
</div>